<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/access.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">Access</span> <small>behaviour</small>  </h1> <section id="moduledoc"> <p>Key-based access to data structures.</p>
<p>The <a href="access"><code class="inline">Access</code></a> module defines a behaviour for dynamically accessing keys of any type in a data structure via the <code class="inline">data[key]</code> syntax.</p>
<p><a href="access"><code class="inline">Access</code></a> supports keyword lists (<a href="keyword"><code class="inline">Keyword</code></a>) and maps (<a href="map"><code class="inline">Map</code></a>) out of the box. Keywords supports only atoms keys, keys for maps can be of any type. Both return <code class="inline">nil</code> if the key does not exist:</p>
<pre data-language="elixir">iex&gt; keywords = [a: 1, b: 2]
iex&gt; keywords[:a]
1
iex&gt; keywords[:c]
nil

iex&gt; map = %{a: 1, b: 2}
iex&gt; map[:a]
1

iex&gt; star_ratings = %{1.0 =&gt; "★", 1.5 =&gt; "★☆", 2.0 =&gt; "★★"}
iex&gt; star_ratings[1.5]
"★☆"</pre>
<p>This syntax is very convenient as it can be nested arbitrarily:</p>
<pre data-language="elixir">iex&gt; keywords = [a: 1, b: 2]
iex&gt; keywords[:c][:unknown]
nil</pre>
<p>This works because accessing anything on a <code class="inline">nil</code> value, returns <code class="inline">nil</code> itself:</p>
<pre data-language="elixir">iex&gt; nil[:a]
nil</pre>
<h2 id="module-maps-and-structs" class="section-heading">  <span class="text">Maps and structs</span> </h2> <p>While the access syntax is allowed in maps via <code class="inline">map[key]</code>, if your map is made of predefined atom keys, you should prefer to access those atom keys with <code class="inline">map.key</code> instead of <code class="inline">map[key]</code>, as <code class="inline">map.key</code> will raise if the key is missing (which is not supposed to happen if the keys are predefined) or if <code class="inline">map</code> is <code class="inline">nil</code>.</p>
<p>Similarly, since structs are maps and structs have predefined keys, they only allow the <code class="inline">struct.key</code> syntax and they do not allow the <code class="inline">struct[key]</code> access syntax.</p>
<p>In other words, the <code class="inline">map[key]</code> syntax is loose, returning <code class="inline">nil</code> for missing keys, while the <code class="inline">map.key</code> syntax is strict, raising for both nil values and missing keys.</p>
<p>To bridge this gap, Elixir provides the <a href="kernel#get_in/1"><code class="inline">get_in/1</code></a> and <a href="kernel#get_in/2"><code class="inline">get_in/2</code></a> functions, which are capable of traversing nested data structures, even in the presence of <code class="inline">nil</code>s:</p>
<pre data-language="elixir">iex&gt; users = %{"john" =&gt; %{age: 27}, "meg" =&gt; %{age: 23}}
iex&gt; get_in(users["john"].age)
27
iex&gt; get_in(users["unknown"].age)
nil</pre>
<p>Notice how, even if no user was found, <a href="kernel#get_in/1"><code class="inline">get_in/1</code></a> returned <code class="inline">nil</code>. Outside of <a href="kernel#get_in/1"><code class="inline">get_in/1</code></a>, trying to access the field <code class="inline">.age</code> on <code class="inline">nil</code> would raise.</p>
<p>The <a href="kernel#get_in/2"><code class="inline">get_in/2</code></a> function takes one step further by allowing different accessors to be mixed in. For example, given a user map with the <code class="inline">:name</code> and <code class="inline">:languages</code> keys, here is how to access the name of all programming languages:</p>
<pre data-language="elixir">  iex&gt; languages = [
  ...&gt;   %{name: "elixir", type: :functional},
  ...&gt;   %{name: "c", type: :procedural}
  ...&gt; ]
  iex&gt; user = %{name: "john", languages: languages}
  iex&gt; get_in(user, [:languages, Access.all(), :name])
  ["elixir", "c"]</pre>
<p>This module provides convenience functions for traversing other structures, like tuples and lists. As we will see next, they can even be used to update nested data structures.</p>
<p>If you want to learn more about the dual nature of maps in Elixir, as they can be either for structured data or as a key-value store, see the <a href="map"><code class="inline">Map</code></a> module.</p>
<h2 id="module-updating-nested-data-structures" class="section-heading">  <span class="text">Updating nested data structures</span> </h2> <p>The access syntax can also be used with the <a href="kernel#put_in/2"><code class="inline">Kernel.put_in/2</code></a>, <a href="kernel#update_in/2"><code class="inline">Kernel.update_in/2</code></a>, <a href="kernel#get_and_update_in/2"><code class="inline">Kernel.get_and_update_in/2</code></a>, and <a href="kernel#pop_in/1"><code class="inline">Kernel.pop_in/1</code></a> macros to further manipulate values in nested data structures:</p>
<pre data-language="elixir">iex&gt; users = %{"john" =&gt; %{age: 27}, "meg" =&gt; %{age: 23}}
iex&gt; put_in(users["john"].age, 28)
%{"john" =&gt; %{age: 28}, "meg" =&gt; %{age: 23}}</pre>
<p>As shown in the previous section, you can also use the <a href="kernel#put_in/3"><code class="inline">Kernel.put_in/3</code></a>, <a href="kernel#update_in/3"><code class="inline">Kernel.update_in/3</code></a>, <a href="kernel#pop_in/2"><code class="inline">Kernel.pop_in/2</code></a>, and <a href="kernel#get_and_update_in/3"><code class="inline">Kernel.get_and_update_in/3</code></a> functions to provide nested custom accessors. For instance, given a user map with the <code class="inline">:name</code> and <code class="inline">:languages</code> keys, here is how to deeply traverse the map and convert all language names to uppercase:</p>
<pre data-language="elixir">iex&gt; languages = [
...&gt;   %{name: "elixir", type: :functional},
...&gt;   %{name: "c", type: :procedural}
...&gt; ]
iex&gt; user = %{name: "john", languages: languages}
iex&gt; update_in(user, [:languages, Access.all(), :name], &amp;String.upcase/1)
%{
  name: "john",
  languages: [
    %{name: "ELIXIR", type: :functional},
    %{name: "C", type: :procedural}
  ]
}</pre>
<p>See the functions <a href="#key/1"><code class="inline">key/1</code></a>, <a href="#key!/1"><code class="inline">key!/1</code></a>, <a href="#elem/1"><code class="inline">elem/1</code></a>, and <a href="#all/0"><code class="inline">all/0</code></a> for some of the available accessors.</p> </section> </div> <section id="summary" class="details-list"> <h1 class="section-heading">  <span class="text">Summary</span> </h1> <h2> Types </h2>
<dl class="summary-types summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#t:access_fun/2" data-no-tooltip translate="no">access_fun(data, current_value)</a> </dt> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:container/0" data-no-tooltip translate="no">container()</a> </dt> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:get_and_update_fun/2" data-no-tooltip translate="no">get_and_update_fun(data, current_value)</a> </dt> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:get_fun/1" data-no-tooltip translate="no">get_fun(data)</a> </dt> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:key/0" data-no-tooltip translate="no">key()</a> </dt> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:nil_container/0" data-no-tooltip translate="no">nil_container()</a> </dt> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:t/0" data-no-tooltip translate="no">t()</a> </dt> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:value/0" data-no-tooltip translate="no">value()</a> </dt> </div> </dl> <h2> Callbacks </h2>
<dl class="summary-callbacks summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#c:fetch/2" data-no-tooltip translate="no">fetch(term, key)</a> </dt> <dd class="summary-synopsis"><p>Invoked in order to access the value stored under <code class="inline">key</code> in the given term <code class="inline">term</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#c:get_and_update/3" data-no-tooltip translate="no">get_and_update(data, key, function)</a> </dt> <dd class="summary-synopsis"><p>Invoked in order to access the value under <code class="inline">key</code> and update it at the same time.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#c:pop/2" data-no-tooltip translate="no">pop(data, key)</a> </dt> <dd class="summary-synopsis"><p>Invoked to "pop" the value under <code class="inline">key</code> out of the given data structure.</p></dd> </div> </dl> <h2> Functions </h2>
<dl class="summary-functions summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#all/0" data-no-tooltip translate="no">all()</a> </dt> <dd class="summary-synopsis"><p>Returns a function that accesses all the elements in a list.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#at/1" data-no-tooltip translate="no">at(index)</a> </dt> <dd class="summary-synopsis"><p>Returns a function that accesses the element at <code class="inline">index</code> (zero based) of a list.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#at!/1" data-no-tooltip translate="no">at!(index)</a> </dt> <dd class="summary-synopsis"><p>Same as <a href="#at/1"><code class="inline">at/1</code></a> except that it raises <a href="enum.outofboundserror"><code class="inline">Enum.OutOfBoundsError</code></a> if the given index is out of bounds.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#elem/1" data-no-tooltip translate="no">elem(index)</a> </dt> <dd class="summary-synopsis"><p>Returns a function that accesses the element at the given index in a tuple.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#fetch/2" data-no-tooltip translate="no">fetch(container, key)</a> </dt> <dd class="summary-synopsis"><p>Fetches the value for the given key in a container (a map, keyword list, or struct that implements the <a href="access"><code class="inline">Access</code></a> behaviour).</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#fetch!/2" data-no-tooltip translate="no">fetch!(container, key)</a> </dt> <dd class="summary-synopsis"><p>Same as <a href="#fetch/2"><code class="inline">fetch/2</code></a> but returns the value directly, or raises a <a href="keyerror"><code class="inline">KeyError</code></a> exception if <code class="inline">key</code> is not found.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#filter/1" data-no-tooltip translate="no">filter(func)</a> </dt> <dd class="summary-synopsis"><p>Returns a function that accesses all elements of a list that match the provided predicate.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#find/1" data-no-tooltip translate="no">find(predicate)</a> </dt> <dd class="summary-synopsis"><p>Returns a function that accesses the first element of a list that matches the provided predicate.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#get/3" data-no-tooltip translate="no">get(container, key, default \\ nil)</a> </dt> <dd class="summary-synopsis"><p>Gets the value for the given key in a container (a map, keyword list, or struct that implements the <a href="access"><code class="inline">Access</code></a> behaviour).</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#get_and_update/3" data-no-tooltip translate="no">get_and_update(container, key, fun)</a> </dt> <dd class="summary-synopsis"><p>Gets and updates the given key in a <code class="inline">container</code> (a map, a keyword list, a struct that implements the <a href="access"><code class="inline">Access</code></a> behaviour).</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#key/2" data-no-tooltip translate="no">key(key, default \\ nil)</a> </dt> <dd class="summary-synopsis"><p>Returns a function that accesses the given key in a map/struct.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#key!/1" data-no-tooltip translate="no">key!(key)</a> </dt> <dd class="summary-synopsis"><p>Returns a function that accesses the given key in a map/struct.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#pop/2" data-no-tooltip translate="no">pop(container, key)</a> </dt> <dd class="summary-synopsis"><p>Removes the entry with a given key from a container (a map, keyword list, or struct that implements the <a href="access"><code class="inline">Access</code></a> behaviour).</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#slice/1" data-no-tooltip translate="no">slice(range)</a> </dt> <dd class="summary-synopsis"><p>Returns a function that accesses all items of a list that are within the provided range.</p></dd> </div> </dl> </section> <section id="types" class="details-list"> <h1 class="section-heading">  <span class="text">Types</span> </h1> <div class="types-list"> <section class="detail"> <h3 class="detail-header" id="t:access_fun/2">access_fun(data, current_value)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/access.ex#L138" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type access_fun(data, current_value) ::
  get_fun(data) | get_and_update_fun(data, current_value)</pre> </div> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:container/0">container()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/access.ex#L125" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type container() :: keyword() | struct() | map()</pre> </div> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:get_and_update_fun/2">get_and_update_fun(data, current_value)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/access.ex#L134" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type get_and_update_fun(data, current_value) :: (:get_and_update,
                                            data,
                                            (term() -&gt; term()) -&gt;
                                              {current_value,
                                               new_data :: container()}
                                              | :pop)</pre> </div> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:get_fun/1">get_fun(data)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/access.ex#L131" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type get_fun(data) :: (:get, data, (term() -&gt; term()) -&gt; new_data :: container())</pre> </div> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:key/0">key()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/access.ex#L128" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type key() :: any()</pre> </div> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:nil_container/0">nil_container()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/access.ex#L126" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type nil_container() :: nil</pre> </div> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:t/0">t()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/access.ex#L127" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type t() :: container() | nil_container() | any()</pre> </div> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:value/0">value()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/access.ex#L129" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type value() :: any()</pre> </div> </section> </section> </div> </section> <section id="callbacks" class="details-list"> <h1 class="section-heading">  <span class="text">Callbacks</span> </h1> <div class="callbacks-list"> <section class="detail"> <h3 class="detail-header" id="c:fetch/2">fetch(term, key)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/access.ex#L158" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@callback fetch(term :: t(), key()) :: {:ok, value()} | :error</pre> </div> <p>Invoked in order to access the value stored under <code class="inline">key</code> in the given term <code class="inline">term</code>.</p>
<p>This function should return <code class="inline">{:ok, value}</code> where <code class="inline">value</code> is the value under <code class="inline">key</code> if the key exists in the term, or <code class="inline">:error</code> if the key does not exist in the term.</p>
<p>Many of the functions defined in the <a href="access"><code class="inline">Access</code></a> module internally call this function. This function is also used when the square-brackets access syntax (<code class="inline">structure[key]</code>) is used: the <a href="#fetch/2"><code class="inline">fetch/2</code></a> callback implemented by the module that defines the <code class="inline">structure</code> struct is invoked and if it returns <code class="inline">{:ok, value}</code> then <code class="inline">value</code> is returned, or if it returns <code class="inline">:error</code> then <code class="inline">nil</code> is returned.</p>
<p>See the <a href="map#fetch/2"><code class="inline">Map.fetch/2</code></a> and <a href="keyword#fetch/2"><code class="inline">Keyword.fetch/2</code></a> implementations for examples of how to implement this callback.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="c:get_and_update/3">get_and_update(data, key, function)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/access.ex#L183" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@callback get_and_update(data, key(), (value() | nil -&gt;
                               {current_value, new_value :: value()} | :pop)) ::
  {current_value, new_data :: data}
when current_value: value(), data: container()</pre> </div> <p>Invoked in order to access the value under <code class="inline">key</code> and update it at the same time.</p>
<p>The implementation of this callback should invoke <code class="inline">fun</code> with the value under <code class="inline">key</code> in the passed structure <code class="inline">data</code>, or with <code class="inline">nil</code> if <code class="inline">key</code> is not present in it. This function must return either <code class="inline">{current_value, new_value}</code> or <code class="inline">:pop</code>.</p>
<p>If the passed function returns <code class="inline">{current_value, new_value}</code>, the return value of this callback should be <code class="inline">{current_value, new_data}</code>, where:</p>
<ul>
<li><p><code class="inline">current_value</code> is the retrieved value (which can be operated on before being returned)</p></li>
<li><p><code class="inline">new_value</code> is the new value to be stored under <code class="inline">key</code></p></li>
<li><p><code class="inline">new_data</code> is <code class="inline">data</code> after updating the value of <code class="inline">key</code> with <code class="inline">new_value</code>.</p></li>
</ul>
<p>If the passed function returns <code class="inline">:pop</code>, the return value of this callback must be <code class="inline">{value, new_data}</code> where <code class="inline">value</code> is the value under <code class="inline">key</code> (or <code class="inline">nil</code> if not present) and <code class="inline">new_data</code> is <code class="inline">data</code> without <code class="inline">key</code>.</p>
<p>See the implementations of <a href="map#get_and_update/3"><code class="inline">Map.get_and_update/3</code></a> or <a href="keyword#get_and_update/3"><code class="inline">Keyword.get_and_update/3</code></a> for more examples.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="c:pop/2">pop(data, key)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/access.ex#L199" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@callback pop(data, key()) :: {value(), data} when data: container()</pre> </div> <p>Invoked to "pop" the value under <code class="inline">key</code> out of the given data structure.</p>
<p>When <code class="inline">key</code> exists in the given structure <code class="inline">data</code>, the implementation should return a <code class="inline">{value, new_data}</code> tuple where <code class="inline">value</code> is the value that was under <code class="inline">key</code> and <code class="inline">new_data</code> is <code class="inline">term</code> without <code class="inline">key</code>.</p>
<p>When <code class="inline">key</code> is not present in the given structure, a tuple <code class="inline">{value, data}</code> should be returned, where <code class="inline">value</code> is implementation-defined.</p>
<p>See the implementations for <a href="map#pop/3"><code class="inline">Map.pop/3</code></a> or <a href="keyword#pop/3"><code class="inline">Keyword.pop/3</code></a> for more examples.</p> </section> </section> </div> </section> <section id="functions" class="details-list"> <h1 class="section-heading">  <span class="text">Functions</span> </h1> <div class="functions-list"> <section class="detail"> <h3 class="detail-header" id="all/0">all()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/access.ex#L681" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec all() :: access_fun(data :: list(), current_value :: list())</pre> </div> <p>Returns a function that accesses all the elements in a list.</p>
<p>The returned function is typically passed as an accessor to <a href="kernel#get_in/2"><code class="inline">Kernel.get_in/2</code></a>, <a href="kernel#get_and_update_in/3"><code class="inline">Kernel.get_and_update_in/3</code></a>, and friends.</p>
<h4 id="all/0-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; list = [%{name: "john"}, %{name: "mary"}]
iex&gt; get_in(list, [Access.all(), :name])
["john", "mary"]
iex&gt; get_and_update_in(list, [Access.all(), :name], fn prev -&gt;
...&gt;   {prev, String.upcase(prev)}
...&gt; end)
{["john", "mary"], [%{name: "JOHN"}, %{name: "MARY"}]}
iex&gt; pop_in(list, [Access.all(), :name])
{["john", "mary"], [%{}, %{}]}</pre>
<p>Here is an example that traverses the list dropping even numbers and multiplying odd numbers by 2:</p>
<pre data-language="elixir">iex&gt; require Integer
iex&gt; get_and_update_in([1, 2, 3, 4, 5], [Access.all()], fn num -&gt;
...&gt;   if Integer.is_even(num), do: :pop, else: {num, num * 2}
...&gt; end)
{[1, 2, 3, 4, 5], [2, 6, 10]}</pre>
<p>An error is raised if the accessed structure is not a list:</p>
<pre data-language="elixir">iex&gt; get_in(%{}, [Access.all()])
** (RuntimeError) Access.all/0 expected a list, got: %{}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="at/1">at(index)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/access.ex#L760" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec at(integer()) :: access_fun(data :: list(), current_value :: term())</pre> </div> <p>Returns a function that accesses the element at <code class="inline">index</code> (zero based) of a list.</p>
<p>Keep in mind that index lookups in lists take linear time: the larger the list, the longer it will take to access its index. Therefore index-based operations are generally avoided in favor of other functions in the <a href="enum"><code class="inline">Enum</code></a> module.</p>
<p>The returned function is typically passed as an accessor to <a href="kernel#get_in/2"><code class="inline">Kernel.get_in/2</code></a>, <a href="kernel#get_and_update_in/3"><code class="inline">Kernel.get_and_update_in/3</code></a>, and friends.</p>
<h4 id="at/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; list = [%{name: "john"}, %{name: "mary"}]
iex&gt; get_in(list, [Access.at(1), :name])
"mary"
iex&gt; get_in(list, [Access.at(-1), :name])
"mary"
iex&gt; get_and_update_in(list, [Access.at(0), :name], fn prev -&gt;
...&gt;   {prev, String.upcase(prev)}
...&gt; end)
{"john", [%{name: "JOHN"}, %{name: "mary"}]}
iex&gt; get_and_update_in(list, [Access.at(-1), :name], fn prev -&gt;
...&gt;   {prev, String.upcase(prev)}
...&gt; end)
{"mary", [%{name: "john"}, %{name: "MARY"}]}</pre>
<p><a href="#at/1"><code class="inline">at/1</code></a> can also be used to pop elements out of a list or a key inside of a list:</p>
<pre data-language="elixir">iex&gt; list = [%{name: "john"}, %{name: "mary"}]
iex&gt; pop_in(list, [Access.at(0)])
{%{name: "john"}, [%{name: "mary"}]}
iex&gt; pop_in(list, [Access.at(0), :name])
{"john", [%{}, %{name: "mary"}]}</pre>
<p>When the index is out of bounds, <code class="inline">nil</code> is returned and the update function is never called:</p>
<pre data-language="elixir">iex&gt; list = [%{name: "john"}, %{name: "mary"}]
iex&gt; get_in(list, [Access.at(10), :name])
nil
iex&gt; get_and_update_in(list, [Access.at(10), :name], fn prev -&gt;
...&gt;   {prev, String.upcase(prev)}
...&gt; end)
{nil, [%{name: "john"}, %{name: "mary"}]}</pre>
<p>An error is raised if the accessed structure is not a list:</p>
<pre data-language="elixir">iex&gt; get_in(%{}, [Access.at(1)])
** (RuntimeError) Access.at/1 expected a list, got: %{}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="at!/1">at!(index)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/access.ex#L815" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec at!(integer()) :: access_fun(data :: list(), current_value :: term())</pre> </div> <p>Same as <a href="#at/1"><code class="inline">at/1</code></a> except that it raises <a href="enum.outofboundserror"><code class="inline">Enum.OutOfBoundsError</code></a> if the given index is out of bounds.</p>
<h4 id="at!/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; get_in([:a, :b, :c], [Access.at!(2)])
:c
iex&gt; get_in([:a, :b, :c], [Access.at!(3)])
** (Enum.OutOfBoundsError) out of bounds error</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="elem/1">elem(index)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/access.ex#L627" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec elem(non_neg_integer()) :: access_fun(data :: tuple(), current_value :: term())</pre> </div> <p>Returns a function that accesses the element at the given index in a tuple.</p>
<p>The returned function is typically passed as an accessor to <a href="kernel#get_in/2"><code class="inline">Kernel.get_in/2</code></a>, <a href="kernel#get_and_update_in/3"><code class="inline">Kernel.get_and_update_in/3</code></a>, and friends.</p>
<p>The returned function raises if <code class="inline">index</code> is out of bounds.</p>
<p>Note that popping elements out of tuples is not possible and raises an error.</p>
<h4 id="elem/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; map = %{user: {"john", 27}}
iex&gt; get_in(map, [:user, Access.elem(0)])
"john"
iex&gt; get_and_update_in(map, [:user, Access.elem(0)], fn prev -&gt;
...&gt;   {prev, String.upcase(prev)}
...&gt; end)
{"john", %{user: {"JOHN", 27}}}
iex&gt; pop_in(map, [:user, Access.elem(0)])
** (RuntimeError) cannot pop data from a tuple</pre>
<p>An error is raised if the accessed structure is not a tuple:</p>
<pre data-language="elixir">iex&gt; get_in(%{}, [Access.elem(0)])
** (RuntimeError) Access.elem/1 expected a tuple, got: %{}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="fetch/2">fetch(container, key)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/access.ex#L243" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec fetch(container(), term()) :: {:ok, term()} | :error</pre> <pre translate="no" data-language="elixir">@spec fetch(nil_container(), any()) :: :error</pre> </div> <p>Fetches the value for the given key in a container (a map, keyword list, or struct that implements the <a href="access"><code class="inline">Access</code></a> behaviour).</p>
<p>Returns <code class="inline">{:ok, value}</code> where <code class="inline">value</code> is the value under <code class="inline">key</code> if there is such a key, or <code class="inline">:error</code> if <code class="inline">key</code> is not found.</p>
<h4 id="fetch/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Access.fetch(%{name: "meg", age: 26}, :name)
{:ok, "meg"}

iex&gt; Access.fetch([ordered: true, on_timeout: :exit], :timeout)
:error</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="fetch!/2">fetch!(container, key)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/access.ex#L287" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec fetch!(container(), term()) :: term()</pre> </div> <p>Same as <a href="#fetch/2"><code class="inline">fetch/2</code></a> but returns the value directly, or raises a <a href="keyerror"><code class="inline">KeyError</code></a> exception if <code class="inline">key</code> is not found.</p>
<h4 id="fetch!/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Access.fetch!(%{name: "meg", age: 26}, :name)
"meg"</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="filter/1">filter(func)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/access.ex#L882" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec filter((term() -&gt; boolean())) ::
  access_fun(data :: list(), current_value :: list())</pre> </div> <p>Returns a function that accesses all elements of a list that match the provided predicate.</p>
<p>The returned function is typically passed as an accessor to <a href="kernel#get_in/2"><code class="inline">Kernel.get_in/2</code></a>, <a href="kernel#get_and_update_in/3"><code class="inline">Kernel.get_and_update_in/3</code></a>, and friends.</p>
<h4 id="filter/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; list = [%{name: "john", salary: 10}, %{name: "francine", salary: 30}]
iex&gt; get_in(list, [Access.filter(&amp;(&amp;1.salary &gt; 20)), :name])
["francine"]
iex&gt; get_and_update_in(list, [Access.filter(&amp;(&amp;1.salary &lt;= 20)), :name], fn prev -&gt;
...&gt;   {prev, String.upcase(prev)}
...&gt; end)
{["john"], [%{name: "JOHN", salary: 10}, %{name: "francine", salary: 30}]}</pre>
<p><a href="#filter/1"><code class="inline">filter/1</code></a> can also be used to pop elements out of a list or a key inside of a list:</p>
<pre data-language="elixir">iex&gt; list = [%{name: "john", salary: 10}, %{name: "francine", salary: 30}]
iex&gt; pop_in(list, [Access.filter(&amp;(&amp;1.salary &gt;= 20))])
{[%{name: "francine", salary: 30}], [%{name: "john", salary: 10}]}
iex&gt; pop_in(list, [Access.filter(&amp;(&amp;1.salary &gt;= 20)), :name])
{["francine"], [%{name: "john", salary: 10}, %{salary: 30}]}</pre>
<p>When no match is found, an empty list is returned and the update function is never called</p>
<pre data-language="elixir">iex&gt; list = [%{name: "john", salary: 10}, %{name: "francine", salary: 30}]
iex&gt; get_in(list, [Access.filter(&amp;(&amp;1.salary &gt;= 50)), :name])
[]
iex&gt; get_and_update_in(list, [Access.filter(&amp;(&amp;1.salary &gt;= 50)), :name], fn prev -&gt;
...&gt;   {prev, String.upcase(prev)}
...&gt; end)
{[], [%{name: "john", salary: 10}, %{name: "francine", salary: 30}]}</pre>
<p>An error is raised if the predicate is not a function or is of the incorrect arity:</p>
<pre data-language="elixir">iex&gt; get_in([], [Access.filter(5)])
** (FunctionClauseError) no function clause matching in Access.filter/1</pre>
<p>An error is raised if the accessed structure is not a list:</p>
<pre data-language="elixir">iex&gt; get_in(%{}, [Access.filter(fn a -&gt; a == 10 end)])
** (RuntimeError) Access.filter/1 expected a list, got: %{}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="find/1">find(predicate)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/access.ex#L1075" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec find((term() -&gt; as_boolean(term()))) ::
  access_fun(data :: list(), current_value :: term())</pre> </div> <p>Returns a function that accesses the first element of a list that matches the provided predicate.</p>
<p>The returned function is typically passed as an accessor to <a href="kernel#get_in/2"><code class="inline">Kernel.get_in/2</code></a>, <a href="kernel#get_and_update_in/3"><code class="inline">Kernel.get_and_update_in/3</code></a>, and friends.</p>
<h4 id="find/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; list = [%{name: "john", salary: 10}, %{name: "francine", salary: 30}]
iex&gt; get_in(list, [Access.find(&amp;(&amp;1.salary &gt; 20)), :name])
"francine"
iex&gt;  get_and_update_in(list, [Access.find(&amp;(&amp;1.salary &lt;= 40)), :name], fn prev -&gt;
...&gt; {prev, String.upcase(prev)}
...&gt;  end)
{"john", [%{name: "JOHN", salary: 10}, %{name: "francine", salary: 30}]}</pre>
<p><a href="#find/1"><code class="inline">find/1</code></a> can also be used to pop the first found element out of a list or a key inside of a list:</p>
<pre data-language="elixir">iex&gt; list = [%{name: "john", salary: 10}, %{name: "francine", salary: 30}]
iex&gt; pop_in(list, [Access.find(&amp;(&amp;1.salary &lt;= 40))])
{%{name: "john", salary: 10}, [%{name: "francine", salary: 30}]}</pre>
<p>When no match is found, nil is returned and the update function is never called</p>
<pre data-language="elixir">iex&gt; list = [%{name: "john", salary: 10}, %{name: "francine", salary: 30}]
iex&gt; get_in(list, [Access.find(&amp;(&amp;1.salary &gt;= 50)), :name])
nil
iex&gt; get_and_update_in(list, [Access.find(&amp;(&amp;1.salary &gt;= 50)), :name], fn prev -&gt;
...&gt;   {prev, String.upcase(prev)}
...&gt; end)
{nil, [%{name: "john", salary: 10}, %{name: "francine", salary: 30}]}</pre>
<p>An error is raised if the predicate is not a function or is of the incorrect arity:</p>
<pre data-language="elixir">iex&gt; get_in([], [Access.find(5)])
** (FunctionClauseError) no function clause matching in Access.find/1</pre>
<p>An error is raised if the accessed structure is not a list:</p>
<pre data-language="elixir">iex&gt;  get_in(%{}, [Access.find(fn a -&gt; a == 10 end)])
** (RuntimeError) Access.find/1 expected a list, got: %{}</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="get/3">get(container, key, default \\ nil)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/access.ex#L314" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec get(container(), term(), term()) :: term()</pre> <pre translate="no" data-language="elixir">@spec get(nil_container(), any(), default) :: default when default: var</pre> </div> <p>Gets the value for the given key in a container (a map, keyword list, or struct that implements the <a href="access"><code class="inline">Access</code></a> behaviour).</p>
<p>Returns the value under <code class="inline">key</code> if there is such a key, or <code class="inline">default</code> if <code class="inline">key</code> is not found.</p>
<h4 id="get/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Access.get(%{name: "john"}, :name, "default name")
"john"
iex&gt; Access.get(%{name: "john"}, :age, 25)
25

iex&gt; Access.get([ordered: true], :timeout)
nil</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="get_and_update/3">get_and_update(container, key, fun)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/access.ex#L394" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec get_and_update(data, key(), (value() | nil -&gt;
                               {current_value, new_value :: value()} | :pop)) ::
  {current_value, new_data :: data}
when data: container(), current_value: var</pre> </div> <p>Gets and updates the given key in a <code class="inline">container</code> (a map, a keyword list, a struct that implements the <a href="access"><code class="inline">Access</code></a> behaviour).</p>
<p>The <code class="inline">fun</code> argument receives the value of <code class="inline">key</code> (or <code class="inline">nil</code> if <code class="inline">key</code> is not present in <code class="inline">container</code>) and must return a two-element tuple <code class="inline">{current_value, new_value}</code>: the "get" value <code class="inline">current_value</code> (the retrieved value, which can be operated on before being returned) and the new value to be stored under <code class="inline">key</code> (<code class="inline">new_value</code>). <code class="inline">fun</code> may also return <code class="inline">:pop</code>, which means the current value should be removed from the container and returned.</p>
<p>The returned value is a two-element tuple with the "get" value returned by <code class="inline">fun</code> and a new container with the updated value under <code class="inline">key</code>.</p>
<h4 id="get_and_update/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Access.get_and_update([a: 1], :a, fn current_value -&gt;
...&gt;   {current_value, current_value + 1}
...&gt; end)
{1, [a: 2]}</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="key/2">key(key, default \\ nil)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/access.ex#L520" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec key(key(), term()) ::
  access_fun(data :: struct() | map(), current_value :: term())</pre> </div> <p>Returns a function that accesses the given key in a map/struct.</p>
<p>The returned function is typically passed as an accessor to <a href="kernel#get_in/2"><code class="inline">Kernel.get_in/2</code></a>, <a href="kernel#get_and_update_in/3"><code class="inline">Kernel.get_and_update_in/3</code></a>, and friends.</p>
<p>The returned function uses the default value if the key does not exist. This can be used to specify defaults and safely traverse missing keys:</p>
<pre data-language="elixir">iex&gt; get_in(%{}, [Access.key(:user, %{}), Access.key(:name, "meg")])
"meg"</pre>
<p>Such is also useful when using update functions, allowing us to introduce values as we traverse the data structure for updates:</p>
<pre data-language="elixir">iex&gt; put_in(%{}, [Access.key(:user, %{}), Access.key(:name)], "Mary")
%{user: %{name: "Mary"}}</pre>
<h4 id="key/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; map = %{user: %{name: "john"}}
iex&gt; get_in(map, [Access.key(:unknown, %{}), Access.key(:name, "john")])
"john"
iex&gt; get_and_update_in(map, [Access.key(:user), Access.key(:name)], fn prev -&gt;
...&gt;   {prev, String.upcase(prev)}
...&gt; end)
{"john", %{user: %{name: "JOHN"}}}
iex&gt; pop_in(map, [Access.key(:user), Access.key(:name)])
{"john", %{user: %{}}}</pre>
<p>An error is raised if the accessed structure is not a map or a struct:</p>
<pre data-language="elixir">iex&gt; get_in([], [Access.key(:foo)])
** (BadMapError) expected a map, got: []</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="key!/1">key!(key)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/access.ex#L579" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec key!(key()) :: access_fun(data :: struct() | map(), current_value :: term())</pre> </div> <p>Returns a function that accesses the given key in a map/struct.</p>
<p>The returned function is typically passed as an accessor to <a href="kernel#get_in/2"><code class="inline">Kernel.get_in/2</code></a>, <a href="kernel#get_and_update_in/3"><code class="inline">Kernel.get_and_update_in/3</code></a>, and friends.</p>
<p>Similar to <a href="#key/2"><code class="inline">key/2</code></a>, but the returned function raises if the key does not exist.</p>
<h4 id="key!/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; map = %{user: %{name: "john"}}
iex&gt; get_in(map, [Access.key!(:user), Access.key!(:name)])
"john"
iex&gt; get_and_update_in(map, [Access.key!(:user), Access.key!(:name)], fn prev -&gt;
...&gt;   {prev, String.upcase(prev)}
...&gt; end)
{"john", %{user: %{name: "JOHN"}}}
iex&gt; pop_in(map, [Access.key!(:user), Access.key!(:name)])
{"john", %{user: %{}}}
iex&gt; get_in(map, [Access.key!(:user), Access.key!(:unknown)])
** (KeyError) key :unknown not found in: %{name: "john"}</pre>
<p>The examples above could be partially written as:</p>
<pre data-language="elixir">iex&gt; map = %{user: %{name: "john"}}
iex&gt; map.user.name
"john"
iex&gt; get_and_update_in(map.user.name, fn prev -&gt;
...&gt;   {prev, String.upcase(prev)}
...&gt; end)
{"john", %{user: %{name: "JOHN"}}}</pre>
<p>However, it is not possible to remove fields using the dot notation, as it is implied those fields must also be present. In any case, <a href="#key!/1"><code class="inline">Access.key!/1</code></a> is useful when the key is not known in advance and must be accessed dynamically.</p>
<p>An error is raised if the accessed structure is not a map/struct:</p>
<pre data-language="elixir">iex&gt; get_in([], [Access.key!(:foo)])
** (RuntimeError) Access.key!/1 expected a map/struct, got: []</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="pop/2">pop(container, key)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/access.ex#L462" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec pop(data, key()) :: {value(), data} when data: container()</pre> </div> <p>Removes the entry with a given key from a container (a map, keyword list, or struct that implements the <a href="access"><code class="inline">Access</code></a> behaviour).</p>
<p>Returns a tuple containing the value associated with the key and the updated container. <code class="inline">nil</code> is returned for the value if the key isn't in the container.</p>
<h4 id="pop/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <p>With a map:</p>
<pre data-language="elixir">iex&gt; Access.pop(%{name: "Elixir", creator: "Valim"}, :name)
{"Elixir", %{creator: "Valim"}}</pre>
<p>A keyword list:</p>
<pre data-language="elixir">iex&gt; Access.pop([name: "Elixir", creator: "Valim"], :name)
{"Elixir", [creator: "Valim"]}</pre>
<p>An unknown key:</p>
<pre data-language="elixir">iex&gt; Access.pop(%{name: "Elixir", creator: "Valim"}, :year)
{nil, %{creator: "Valim", name: "Elixir"}}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="slice/1">slice(range)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/access.ex#L966" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec slice(Range.t()) :: access_fun(data :: list(), current_value :: list())</pre> </div> <p>Returns a function that accesses all items of a list that are within the provided range.</p>
<p>The range will be normalized following the same rules from <a href="enum#slice/2"><code class="inline">Enum.slice/2</code></a>.</p>
<p>The returned function is typically passed as an accessor to <a href="kernel#get_in/2"><code class="inline">Kernel.get_in/2</code></a>, <a href="kernel#get_and_update_in/3"><code class="inline">Kernel.get_and_update_in/3</code></a>, and friends.</p>
<h4 id="slice/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; list = [%{name: "john", salary: 10}, %{name: "francine", salary: 30}, %{name: "vitor", salary: 25}]
iex&gt; get_in(list, [Access.slice(1..2), :name])
["francine", "vitor"]
iex&gt; get_and_update_in(list, [Access.slice(1..3//2), :name], fn prev -&gt;
...&gt;   {prev, String.upcase(prev)}
...&gt; end)
{["francine"], [%{name: "john", salary: 10}, %{name: "FRANCINE", salary: 30}, %{name: "vitor", salary: 25}]}</pre>
<p><a href="#slice/1"><code class="inline">slice/1</code></a> can also be used to pop elements out of a list or a key inside of a list:</p>
<pre data-language="elixir">iex&gt; list = [%{name: "john", salary: 10}, %{name: "francine", salary: 30}, %{name: "vitor", salary: 25}]
iex&gt; pop_in(list, [Access.slice(-2..-1)])
{[%{name: "francine", salary: 30}, %{name: "vitor", salary: 25}], [%{name: "john", salary: 10}]}
iex&gt; pop_in(list, [Access.slice(-2..-1), :name])
{["francine", "vitor"], [%{name: "john", salary: 10}, %{salary: 30}, %{salary: 25}]}</pre>
<p>When no match is found, an empty list is returned and the update function is never called</p>
<pre data-language="elixir">iex&gt; list = [%{name: "john", salary: 10}, %{name: "francine", salary: 30}, %{name: "vitor", salary: 25}]
iex&gt; get_in(list, [Access.slice(5..10//2), :name])
[]
iex&gt; get_and_update_in(list, [Access.slice(5..10//2), :name], fn prev -&gt;
...&gt;   {prev, String.upcase(prev)}
...&gt; end)
{[], [%{name: "john", salary: 10}, %{name: "francine", salary: 30}, %{name: "vitor", salary: 25}]}</pre>
<p>An error is raised if the accessed structure is not a list:</p>
<pre data-language="elixir">iex&gt; get_in(%{}, [Access.slice(2..10//3)])
** (ArgumentError) Access.slice/1 expected a list, got: %{}</pre>
<p>An error is raised if the step of the range is negative:</p>
<pre data-language="elixir">iex&gt; get_in([], [Access.slice(2..10//-1)])
** (ArgumentError) Access.slice/1 does not accept ranges with negative steps, got: 2..10//-1</pre> </section> </section> </div> </section> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/Access.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/Access.html</a>
  </p>
</div>
