<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/agent.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">Agent</span>  </h1> <section id="moduledoc"> <p>Agents are a simple abstraction around state.</p>
<p>Often in Elixir there is a need to share or store state that must be accessed from different processes or by the same process at different points in time.</p>
<p>The <a href="agent"><code class="inline">Agent</code></a> module provides a basic server implementation that allows state to be retrieved and updated via a simple API.</p>
<h2 id="module-examples" class="section-heading">  <span class="text">Examples</span> </h2> <p>For example, the following agent implements a counter:</p>
<pre data-language="elixir">defmodule Counter do
  use Agent

  def start_link(initial_value) do
    Agent.start_link(fn -&gt; initial_value end, name: __MODULE__)
  end

  def value do
    Agent.get(__MODULE__, &amp; &amp;1)
  end

  def increment do
    Agent.update(__MODULE__, &amp;(&amp;1 + 1))
  end
end</pre>
<p>Usage would be:</p>
<pre data-language="elixir">Counter.start_link(0)
#=&gt; {:ok, #PID&lt;0.123.0&gt;}

Counter.value()
#=&gt; 0

Counter.increment()
#=&gt; :ok

Counter.increment()
#=&gt; :ok

Counter.value()
#=&gt; 2</pre>
<p>Thanks to the agent server process, the counter can be safely incremented concurrently.</p>
<blockquote>
<h4 class="info"><code class="inline">use Agent</code></h4>
<p>When you <code class="inline">use Agent</code>, the <a href="agent"><code class="inline">Agent</code></a> module will define a <a href="#child_spec/1"><code class="inline">child_spec/1</code></a> function, so your module can be used as a child in a supervision tree.</p>
</blockquote>
<p>Agents provide a segregation between the client and server APIs (similar to <a href="genserver"><code class="inline">GenServer</code></a>s). In particular, the functions passed as arguments to the calls to <a href="agent"><code class="inline">Agent</code></a> functions are invoked inside the agent (the server). This distinction is important because you may want to avoid expensive operations inside the agent, as they will effectively block the agent until the request is fulfilled.</p>
<p>Consider these two examples:</p>
<pre data-language="elixir"># Compute in the agent/server
def get_something(agent) do
  Agent.get(agent, fn state -&gt; do_something_expensive(state) end)
end

# Compute in the agent/client
def get_something(agent) do
  Agent.get(agent, &amp; &amp;1) |&gt; do_something_expensive()
end</pre>
<p>The first function blocks the agent. The second function copies all the state to the client and then executes the operation in the client. One aspect to consider is whether the data is large enough to require processing in the server, at least initially, or small enough to be sent to the client cheaply. Another factor is whether the data needs to be processed atomically: getting the state and calling <code class="inline">do_something_expensive(state)</code> outside of the agent means that the agent's state can be updated in the meantime. This is specially important in case of updates as computing the new state in the client rather than in the server can lead to race conditions if multiple clients are trying to update the same state to different values.</p>
<h2 id="module-how-to-supervise" class="section-heading">  <span class="text">How to supervise</span> </h2> <p>An <a href="agent"><code class="inline">Agent</code></a> is most commonly started under a supervision tree. When we invoke <code class="inline">use Agent</code>, it automatically defines a <a href="#child_spec/1"><code class="inline">child_spec/1</code></a> function that allows us to start the agent directly under a supervisor. To start an agent under a supervisor with an initial counter of 0, one may do:</p>
<pre data-language="elixir">children = [
  {Counter, 0}
]

Supervisor.start_link(children, strategy: :one_for_all)</pre>
<p>While one could also simply pass the <code class="inline">Counter</code> as a child to the supervisor, such as:</p>
<pre data-language="elixir">children = [
  Counter # Same as {Counter, []}
]

Supervisor.start_link(children, strategy: :one_for_all)</pre>
<p>The definition above wouldn't work for this particular example, as it would attempt to start the counter with an initial value of an empty list. However, this may be a viable option in your own agents. A common approach is to use a keyword list, as that would allow setting the initial value and giving a name to the counter process, for example:</p>
<pre data-language="elixir">def start_link(opts) do
  {initial_value, opts} = Keyword.pop(opts, :initial_value, 0)
  Agent.start_link(fn -&gt; initial_value end, opts)
end</pre>
<p>and then you can use <code class="inline">Counter</code>, <code class="inline">{Counter, name: :my_counter}</code> or even <code class="inline">{Counter, initial_value: 0, name: :my_counter}</code> as a child specification.</p>
<p><code class="inline">use Agent</code> also accepts a list of options which configures the child specification and therefore how it runs under a supervisor. The generated <a href="#child_spec/1"><code class="inline">child_spec/1</code></a> can be customized with the following options:</p>
<ul>
<li>
<code class="inline">:id</code> - the child specification identifier, defaults to the current module</li>
<li>
<code class="inline">:restart</code> - when the child should be restarted, defaults to <code class="inline">:permanent</code>
</li>
<li>
<code class="inline">:shutdown</code> - how to shut down the child, either immediately or by giving it time to shut down</li>
</ul>
<p>For example:</p>
<pre data-language="elixir">use Agent, restart: :transient, shutdown: 10_000</pre>
<p>See the "Child specification" section in the <a href="supervisor"><code class="inline">Supervisor</code></a> module for more detailed information. The <code class="inline">@doc</code> annotation immediately preceding <code class="inline">use Agent</code> will be attached to the generated <a href="#child_spec/1"><code class="inline">child_spec/1</code></a> function.</p>
<h2 id="module-name-registration" class="section-heading">  <span class="text">Name registration</span> </h2> <p>An agent is bound to the same name registration rules as GenServers. Read more about it in the <a href="genserver"><code class="inline">GenServer</code></a> documentation.</p>
<h2 id="module-a-word-on-distributed-agents" class="section-heading">  <span class="text">A word on distributed agents</span> </h2> <p>It is important to consider the limitations of distributed agents. Agents provide two APIs, one that works with anonymous functions and another that expects an explicit module, function, and arguments.</p>
<p>In a distributed setup with multiple nodes, the API that accepts anonymous functions only works if the caller (client) and the agent have the same version of the caller module.</p>
<p>Keep in mind this issue also shows up when performing "rolling upgrades" with agents. By rolling upgrades we mean the following situation: you wish to deploy a new version of your software by <em>shutting down</em> some of your nodes and replacing them with nodes running a new version of the software. In this setup, part of your environment will have one version of a given module and the other part another version (the newer one) of the same module.</p>
<p>The best solution is to simply use the explicit module, function, and arguments APIs when working with distributed agents.</p>
<h2 id="module-hot-code-swapping" class="section-heading">  <span class="text">Hot code swapping</span> </h2> <p>An agent can have its code hot swapped live by simply passing a module, function, and arguments tuple to the update instruction. For example, imagine you have an agent named <code class="inline">:sample</code> and you want to convert its inner state from a keyword list to a map. It can be done with the following instruction:</p>
<pre data-language="elixir">{:update, :sample, {:advanced, {Enum, :into, [%{}]}}}</pre>
<p>The agent's state will be added to the given list of arguments (<code class="inline">[%{}]</code>) as the first argument.</p> </section> </div> <section id="summary" class="details-list"> <h1 class="section-heading">  <span class="text">Summary</span> </h1> <h2> Types </h2>
<dl class="summary-types summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#t:agent/0" data-no-tooltip translate="no">agent()</a> </dt> <dd class="summary-synopsis"><p>The agent reference</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:name/0" data-no-tooltip translate="no">name()</a> </dt> <dd class="summary-synopsis"><p>The agent name</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:on_start/0" data-no-tooltip translate="no">on_start()</a> </dt> <dd class="summary-synopsis"><p>Return values of <code class="inline">start*</code> functions</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:state/0" data-no-tooltip translate="no">state()</a> </dt> <dd class="summary-synopsis"><p>The agent state</p></dd> </div> </dl> <h2> Functions </h2>
<dl class="summary-functions summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#cast/2" data-no-tooltip translate="no">cast(agent, fun)</a> </dt> <dd class="summary-synopsis"><p>Performs a cast (<em>fire and forget</em>) operation on the agent state.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#cast/4" data-no-tooltip translate="no">cast(agent, module, fun, args)</a> </dt> <dd class="summary-synopsis"><p>Performs a cast (<em>fire and forget</em>) operation on the agent state.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#child_spec/1" data-no-tooltip translate="no">child_spec(arg)</a> </dt> <dd class="summary-synopsis"><p>Returns a specification to start an agent under a supervisor.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#get/3" data-no-tooltip translate="no">get(agent, fun, timeout \\ 5000)</a> </dt> <dd class="summary-synopsis"><p>Gets an agent value via the given anonymous function.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#get/5" data-no-tooltip translate="no">get(agent, module, fun, args, timeout \\ 5000)</a> </dt> <dd class="summary-synopsis"><p>Gets an agent value via the given function.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#get_and_update/3" data-no-tooltip translate="no">get_and_update(agent, fun, timeout \\ 5000)</a> </dt> <dd class="summary-synopsis"><p>Gets and updates the agent state in one operation via the given anonymous function.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#get_and_update/5" data-no-tooltip translate="no">get_and_update(agent, module, fun, args, timeout \\ 5000)</a> </dt> <dd class="summary-synopsis"><p>Gets and updates the agent state in one operation via the given function.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#start/2" data-no-tooltip translate="no">start(fun, options \\ [])</a> </dt> <dd class="summary-synopsis"><p>Starts an agent process without links (outside of a supervision tree).</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#start/4" data-no-tooltip translate="no">start(module, fun, args, options \\ [])</a> </dt> <dd class="summary-synopsis"><p>Starts an agent without links with the given module, function, and arguments.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#start_link/2" data-no-tooltip translate="no">start_link(fun, options \\ [])</a> </dt> <dd class="summary-synopsis"><p>Starts an agent linked to the current process with the given function.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#start_link/4" data-no-tooltip translate="no">start_link(module, fun, args, options \\ [])</a> </dt> <dd class="summary-synopsis"><p>Starts an agent linked to the current process.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#stop/3" data-no-tooltip translate="no">stop(agent, reason \\ :normal, timeout \\ :infinity)</a> </dt> <dd class="summary-synopsis"><p>Synchronously stops the agent with the given <code class="inline">reason</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#update/3" data-no-tooltip translate="no">update(agent, fun, timeout \\ 5000)</a> </dt> <dd class="summary-synopsis"><p>Updates the agent state via the given anonymous function.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#update/5" data-no-tooltip translate="no">update(agent, module, fun, args, timeout \\ 5000)</a> </dt> <dd class="summary-synopsis"><p>Updates the agent state via the given function.</p></dd> </div> </dl> </section> <section id="types" class="details-list"> <h1 class="section-heading">  <span class="text">Types</span> </h1> <div class="types-list"> <section class="detail"> <h3 class="detail-header" id="t:agent/0">agent()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/agent.ex#L189" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type agent() :: pid() | {atom(), node()} | name()</pre> </div> <p>The agent reference</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:name/0">name()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/agent.ex#L186" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type name() :: atom() | {:global, term()} | {:via, module(), term()}</pre> </div> <p>The agent name</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:on_start/0">on_start()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/agent.ex#L183" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type on_start() :: {:ok, pid()} | {:error, {:already_started, pid()} | term()}</pre> </div> <p>Return values of <code class="inline">start*</code> functions</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:state/0">state()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/agent.ex#L192" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type state() :: term()</pre> </div> <p>The agent state</p> </section> </section> </div> </section> <section id="functions" class="details-list"> <h1 class="section-heading">  <span class="text">Functions</span> </h1> <div class="functions-list"> <section class="detail"> <h3 class="detail-header" id="cast/2">cast(agent, fun)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/agent.ex#L467" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec cast(agent(), (state() -&gt; state())) :: :ok</pre> </div> <p>Performs a cast (<em>fire and forget</em>) operation on the agent state.</p>
<p>The function <code class="inline">fun</code> is sent to the <code class="inline">agent</code> which invokes the function passing the agent state. The return value of <code class="inline">fun</code> becomes the new state of the agent.</p>
<p>Note that <code class="inline">cast</code> returns <code class="inline">:ok</code> immediately, regardless of whether <code class="inline">agent</code> (or the node it should live on) exists.</p>
<h4 id="cast/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; {:ok, pid} = Agent.start_link(fn -&gt; 42 end)
iex&gt; Agent.cast(pid, fn state -&gt; state + 1 end)
:ok
iex&gt; Agent.get(pid, fn state -&gt; state end)
43</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="cast/4">cast(agent, module, fun, args)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/agent.ex#L488" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec cast(agent(), module(), atom(), [term()]) :: :ok</pre> </div> <p>Performs a cast (<em>fire and forget</em>) operation on the agent state.</p>
<p>Same as <a href="#cast/2"><code class="inline">cast/2</code></a> but a module, function, and arguments are expected instead of an anonymous function. The state is added as first argument to the given list of arguments.</p>
<h4 id="cast/4-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; {:ok, pid} = Agent.start_link(fn -&gt; 42 end)
iex&gt; Agent.cast(pid, Kernel, :+, [12])
:ok
iex&gt; Agent.get(pid, fn state -&gt; state end)
54</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="child_spec/1">child_spec(arg)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/agent.ex#L200" class="source">Source</a>
</h3> <section class="docstring"> <p>Returns a specification to start an agent under a supervisor.</p>
<p>See the "Child specification" section in the <a href="supervisor"><code class="inline">Supervisor</code></a> module for more detailed information.</p> </section> </section> <section class="detail">  <h3 class="detail-header" id="get/3">get(agent, fun, timeout \\ 5000)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/agent.ex#L340" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec get(agent(), (state() -&gt; a), timeout()) :: a when a: var</pre> </div> <p>Gets an agent value via the given anonymous function.</p>
<p>The function <code class="inline">fun</code> is sent to the <code class="inline">agent</code> which invokes the function passing the agent state. The result of the function invocation is returned from this function.</p>
<p><code class="inline">timeout</code> is an integer greater than zero which specifies how many milliseconds are allowed before the agent executes the function and returns the result value, or the atom <code class="inline">:infinity</code> to wait indefinitely. If no result is received within the specified time, the function call fails and the caller exits.</p>
<h4 id="get/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; {:ok, pid} = Agent.start_link(fn -&gt; 42 end)
iex&gt; Agent.get(pid, fn state -&gt; state end)
42</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="get/5">get(agent, module, fun, args, timeout \\ 5000)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/agent.ex#L352" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec get(agent(), module(), atom(), [term()], timeout()) :: any()</pre> </div> <p>Gets an agent value via the given function.</p>
<p>Same as <a href="#get/3"><code class="inline">get/3</code></a> but a module, function, and arguments are expected instead of an anonymous function. The state is added as first argument to the given list of arguments.</p> </section> </section> <section class="detail">  <h3 class="detail-header" id="get_and_update/3">get_and_update(agent, fun, timeout \\ 5000)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/agent.ex#L381" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec get_and_update(agent(), (state() -&gt; {a, state()}), timeout()) :: a when a: var</pre> </div> <p>Gets and updates the agent state in one operation via the given anonymous function.</p>
<p>The function <code class="inline">fun</code> is sent to the <code class="inline">agent</code> which invokes the function passing the agent state. The function must return a tuple with two elements, the first being the value to return (that is, the "get" value) and the second one being the new state of the agent.</p>
<p><code class="inline">timeout</code> is an integer greater than zero which specifies how many milliseconds are allowed before the agent executes the function and returns the result value, or the atom <code class="inline">:infinity</code> to wait indefinitely. If no result is received within the specified time, the function call fails and the caller exits.</p>
<h4 id="get_and_update/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; {:ok, pid} = Agent.start_link(fn -&gt; 42 end)
iex&gt; Agent.get_and_update(pid, fn state -&gt; {state, state + 1} end)
42
iex&gt; Agent.get(pid, fn state -&gt; state end)
43</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="get_and_update/5">get_and_update(agent, module, fun, args, timeout \\ 5000)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/agent.ex#L393" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec get_and_update(agent(), module(), atom(), [term()], timeout()) :: any()</pre> </div> <p>Gets and updates the agent state in one operation via the given function.</p>
<p>Same as <a href="#get_and_update/3"><code class="inline">get_and_update/3</code></a> but a module, function, and arguments are expected instead of an anonymous function. The state is added as first argument to the given list of arguments.</p> </section> </section> <section class="detail">  <h3 class="detail-header" id="start/2">start(fun, options \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/agent.ex#L305" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec start((-&gt; term()), GenServer.options()) :: on_start()</pre> </div> <p>Starts an agent process without links (outside of a supervision tree).</p>
<p>See <a href="#start_link/2"><code class="inline">start_link/2</code></a> for more information.</p>
<h4 id="start/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; {:ok, pid} = Agent.start(fn -&gt; 42 end)
iex&gt; Agent.get(pid, fn state -&gt; state end)
42</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="start/4">start(module, fun, args, options \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/agent.ex#L315" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec start(module(), atom(), [any()], GenServer.options()) :: on_start()</pre> </div> <p>Starts an agent without links with the given module, function, and arguments.</p>
<p>See <a href="#start_link/4"><code class="inline">start_link/4</code></a> for more information.</p> </section> </section> <section class="detail">  <h3 class="detail-header" id="start_link/2">start_link(fun, options \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/agent.ex#L276" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec start_link((-&gt; term()), GenServer.options()) :: on_start()</pre> </div> <p>Starts an agent linked to the current process with the given function.</p>
<p>This is often used to start the agent as part of a supervision tree.</p>
<p>Once the agent is spawned, the given function <code class="inline">fun</code> is invoked in the server process, and should return the initial agent state. Note that <a href="#start_link/2"><code class="inline">start_link/2</code></a> does not return until the given function has returned.</p>
<h4 id="start_link/2-options" class="section-heading">  <span class="text">Options</span> </h4> <p>The <code class="inline">:name</code> option is used for registration as described in the module documentation.</p>
<p>If the <code class="inline">:timeout</code> option is present, the agent is allowed to spend at most the given number of milliseconds on initialization or it will be terminated and the start function will return <code class="inline">{:error, :timeout}</code>.</p>
<p>If the <code class="inline">:debug</code> option is present, the corresponding function in the <a href="https://www.erlang.org/doc/apps/stdlib/sys.html"><code class="inline">:sys</code> module</a> will be invoked.</p>
<p>If the <code class="inline">:spawn_opt</code> option is present, its value will be passed as options to the underlying process as in <a href="process#spawn/4"><code class="inline">Process.spawn/4</code></a>.</p>
<h4 id="start_link/2-return-values" class="section-heading">  <span class="text">Return values</span> </h4> <p>If the server is successfully created and initialized, the function returns <code class="inline">{:ok, pid}</code>, where <code class="inline">pid</code> is the PID of the server. If an agent with the specified name already exists, the function returns <code class="inline">{:error, {:already_started, pid}}</code> with the PID of that process.</p>
<p>If the given function callback fails, the function returns <code class="inline">{:error, reason}</code>.</p>
<h4 id="start_link/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; {:ok, pid} = Agent.start_link(fn -&gt; 42 end)
iex&gt; Agent.get(pid, fn state -&gt; state end)
42

iex&gt; {:error, {exception, _stacktrace}} = Agent.start(fn -&gt; raise "oops" end)
iex&gt; exception
%RuntimeError{message: "oops"}</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="start_link/4">start_link(module, fun, args, options \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/agent.ex#L288" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec start_link(module(), atom(), [any()], GenServer.options()) :: on_start()</pre> </div> <p>Starts an agent linked to the current process.</p>
<p>Same as <a href="#start_link/2"><code class="inline">start_link/2</code></a> but a module, function, and arguments are expected instead of an anonymous function; <code class="inline">fun</code> in <code class="inline">module</code> will be called with the given arguments <code class="inline">args</code> to initialize the state.</p> </section> </section> <section class="detail">   <h3 class="detail-header" id="stop/3">stop(agent, reason \\ :normal, timeout \\ :infinity)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/agent.ex#L511" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec stop(agent(), reason :: term(), timeout()) :: :ok</pre> </div> <p>Synchronously stops the agent with the given <code class="inline">reason</code>.</p>
<p>It returns <code class="inline">:ok</code> if the agent terminates with the given reason. If the agent terminates with another reason, the call will exit.</p>
<p>This function keeps OTP semantics regarding error reporting. If the reason is any other than <code class="inline">:normal</code>, <code class="inline">:shutdown</code> or <code class="inline">{:shutdown, _}</code>, an error report will be logged.</p>
<h4 id="stop/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; {:ok, pid} = Agent.start_link(fn -&gt; 42 end)
iex&gt; Agent.stop(pid)
:ok</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="update/3">update(agent, fun, timeout \\ 5000)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/agent.ex#L422" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec update(agent(), (state() -&gt; state()), timeout()) :: :ok</pre> </div> <p>Updates the agent state via the given anonymous function.</p>
<p>The function <code class="inline">fun</code> is sent to the <code class="inline">agent</code> which invokes the function passing the agent state. The return value of <code class="inline">fun</code> becomes the new state of the agent.</p>
<p>This function always returns <code class="inline">:ok</code>.</p>
<p><code class="inline">timeout</code> is an integer greater than zero which specifies how many milliseconds are allowed before the agent executes the function and returns the result value, or the atom <code class="inline">:infinity</code> to wait indefinitely. If no result is received within the specified time, the function call fails and the caller exits.</p>
<h4 id="update/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; {:ok, pid} = Agent.start_link(fn -&gt; 42 end)
iex&gt; Agent.update(pid, fn state -&gt; state + 1 end)
:ok
iex&gt; Agent.get(pid, fn state -&gt; state end)
43</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="update/5">update(agent, module, fun, args, timeout \\ 5000)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/agent.ex#L443" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec update(agent(), module(), atom(), [term()], timeout()) :: :ok</pre> </div> <p>Updates the agent state via the given function.</p>
<p>Same as <a href="#update/3"><code class="inline">update/3</code></a> but a module, function, and arguments are expected instead of an anonymous function. The state is added as first argument to the given list of arguments.</p>
<h4 id="update/5-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; {:ok, pid} = Agent.start_link(fn -&gt; 42 end)
iex&gt; Agent.update(pid, Kernel, :+, [12])
:ok
iex&gt; Agent.get(pid, fn state -&gt; state end)
54</pre> </section> </section> </div> </section> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/Agent.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/Agent.html</a>
  </p>
</div>
