<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/pages/getting-started/alias-require-and-import.md#L1" title="View Source" class="source" rel="help">Source</a> <span>alias, require, import, and use</span> </h1> <p>In order to facilitate software reuse, Elixir provides three directives (<code class="inline">alias</code>, <code class="inline">require</code>, and <code class="inline">import</code>) plus a macro called <code class="inline">use</code> summarized below:</p>
<pre data-language="elixir"># Alias the module so it can be called as Bar instead of Foo.Bar
alias Foo.Bar, as: Bar

# Require the module in order to use its macros
require Foo

# Import functions from Foo so they can be called without the `Foo.` prefix
import Foo

# Invokes the custom code defined in Foo as an extension point
use Foo</pre>
<p>We are going to explore them in detail now. Keep in mind the first three are called directives because they have <em>lexical scope</em>, while <code class="inline">use</code> is a common extension point that allows the used module to inject code.</p>
<h2 id="alias" class="section-heading">  <span class="text">alias</span> </h2> <p><code class="inline">alias</code> allows you to set up aliases for any given module name.</p>
<p>Imagine a module uses a specialized list implemented in <code class="inline">Math.List</code>. The <code class="inline">alias</code> directive allows referring to <code class="inline">Math.List</code> just as <a href="list"><code class="inline">List</code></a> within the module definition:</p>
<pre data-language="elixir">defmodule Stats do
  alias Math.List, as: List
  # In the remaining module definition List expands to Math.List.
end</pre>
<p>The original <a href="list"><code class="inline">List</code></a> can still be accessed within <code class="inline">Stats</code> by the fully-qualified name <a href="list"><code class="inline">Elixir.List</code></a>.</p>
<blockquote><p>All modules defined in Elixir are defined inside the main <code class="inline">Elixir</code> namespace, such as <a href="string"><code class="inline">Elixir.String</code></a>. However, for convenience, you can omit "Elixir." when referencing them.</p></blockquote>
<p>Aliases are frequently used to define shortcuts. In fact, calling <code class="inline">alias</code> without an <code class="inline">:as</code> option sets the alias automatically to the last part of the module name, for example:</p>
<pre data-language="elixir">alias Math.List</pre>
<p>Is the same as:</p>
<pre data-language="elixir">alias Math.List, as: List</pre>
<p>Note that <code class="inline">alias</code> is <em>lexically scoped</em>, which allows you to set aliases inside specific functions:</p>
<pre data-language="elixir">defmodule Math do
  def plus(a, b) do
    alias Math.List
    # ...
  end

  def minus(a, b) do
    # ...
  end
end</pre>
<p>In the example above, since we are invoking <code class="inline">alias</code> inside the function <code class="inline">plus/2</code>, the alias will be valid only inside the function <code class="inline">plus/2</code>. <code class="inline">minus/2</code> won't be affected at all.</p>
<h2 id="require" class="section-heading">  <span class="text">require</span> </h2> <p>Elixir provides macros as a mechanism for meta-programming (writing code that generates code). Macros are expanded at compile time.</p>
<p>Public functions in modules are globally available, but in order to use macros, you need to opt-in by requiring the module they are defined in.</p>
<pre data-language="elixir">iex&gt; Integer.is_odd(3)
** (UndefinedFunctionError) function Integer.is_odd/1 is undefined or private. However, there is a macro with the same name and arity. Be sure to require Integer if you intend to invoke this macro
    (elixir) Integer.is_odd(3)
iex&gt; require Integer
Integer
iex&gt; Integer.is_odd(3)
true</pre>
<p>In Elixir, <a href="integer#is_odd/1"><code class="inline">Integer.is_odd/1</code></a> is defined as a macro so that it can be used as a guard. This means that, in order to invoke <a href="integer#is_odd/1"><code class="inline">Integer.is_odd/1</code></a>, we need to first require the <a href="integer"><code class="inline">Integer</code></a> module.</p>
<p>Note that like the <code class="inline">alias</code> directive, <code class="inline">require</code> is also lexically scoped. We will talk more about macros in a later chapter.</p>
<h2 id="import" class="section-heading">  <span class="text">import</span> </h2> <p>We use <code class="inline">import</code> whenever we want to access functions or macros from other modules without using the fully-qualified name. Note we can only import public functions, as private functions are never accessible externally.</p>
<p>For example, if we want to use the <code class="inline">duplicate/2</code> function from the <a href="list"><code class="inline">List</code></a> module several times, we can import it:</p>
<pre data-language="elixir">iex&gt; import List, only: [duplicate: 2]
List
iex&gt; duplicate(:ok, 3)
[:ok, :ok, :ok]</pre>
<p>We imported only the function <code class="inline">duplicate</code> (with arity 2) from <a href="list"><code class="inline">List</code></a>. Although <code class="inline">:only</code> is optional, its usage is recommended in order to avoid importing all the functions of a given module inside the current scope. <code class="inline">:except</code> could also be given as an option in order to import everything in a module except a list of functions.</p>
<p>Note that <code class="inline">import</code> is <em>lexically scoped</em> too. This means that we can import specific macros or functions inside function definitions:</p>
<pre data-language="elixir">defmodule Math do
  def some_function do
    import List, only: [duplicate: 2]
    duplicate(:ok, 10)
  end
end</pre>
<p>In the example above, the imported <a href="list#duplicate/2"><code class="inline">List.duplicate/2</code></a> is only visible within that specific function. <code class="inline">duplicate/2</code> won't be available in any other function in that module (or any other module for that matter).</p>
<p>While <code class="inline">import</code>s can be a useful for frameworks and libraries to build abstractions, developers should generally prefer <code class="inline">alias</code> to <code class="inline">import</code> on their own codebases, as aliases make the origin of the function being invoked clearer.</p>
<h2 id="use" class="section-heading">  <span class="text">use</span> </h2> <p>The <code class="inline">use</code> macro is frequently used as an extension point. This means that, when you <code class="inline">use</code> a module <code class="inline">FooBar</code>, you allow that module to inject <em>any</em> code in the current module, such as importing itself or other modules, defining new functions, setting a module state, etc.</p>
<p>For example, in order to write tests using the ExUnit framework, a developer should use the <a href="https://hexdocs.pm/ex_unit/ExUnit.Case.html"><code class="inline">ExUnit.Case</code></a> module:</p>
<pre data-language="elixir">defmodule AssertionTest do
  use ExUnit.Case, async: true

  test "always pass" do
    assert true
  end
end</pre>
<p>Behind the scenes, <code class="inline">use</code> requires the given module and then calls the <code class="inline">__using__/1</code> callback on it allowing the module to inject some code into the current context. Some modules (for example, the above <a href="https://hexdocs.pm/ex_unit/ExUnit.Case.html"><code class="inline">ExUnit.Case</code></a>, but also <a href="supervisor"><code class="inline">Supervisor</code></a> and <a href="genserver"><code class="inline">GenServer</code></a>) use this mechanism to populate your module with some basic behaviour, which your module is intended to override or complete.</p>
<p>Generally speaking, the following module:</p>
<pre data-language="elixir">defmodule Example do
  use Feature, option: :value
end</pre>
<p>is compiled into</p>
<pre data-language="elixir">defmodule Example do
  require Feature
  Feature.__using__(option: :value)
end</pre>
<p>Since <code class="inline">use</code> allows any code to run, we can't really know the side-effects of using a module without reading its documentation. Therefore use this function with care and only if strictly required. Don't use <code class="inline">use</code> where an <code class="inline">import</code> or <code class="inline">alias</code> would do.</p>
<h2 id="understanding-aliases" class="section-heading">  <span class="text">Understanding Aliases</span> </h2> <p>At this point, you may be wondering: what exactly is an Elixir alias and how is it represented?</p>
<p>An alias in Elixir is a capitalized identifier (like <a href="string"><code class="inline">String</code></a>, <a href="keyword"><code class="inline">Keyword</code></a>, etc) which is converted to an atom during compilation. For instance, the <a href="string"><code class="inline">String</code></a> alias translates by default to the atom <code class="inline">:"Elixir.String"</code>:</p>
<pre data-language="elixir">iex&gt; is_atom(String)
true
iex&gt; to_string(String)
"Elixir.String"
iex&gt; :"Elixir.String" == String
true</pre>
<p>By using the <a href="kernel.specialforms#alias/2"><code class="inline">alias/2</code></a> directive, we are changing the atom the alias expands to.</p>
<p>Aliases expand to atoms because in the Erlang Virtual Machine (and consequently Elixir) modules are always represented by atoms:</p>
<pre data-language="elixir">iex&gt; List.flatten([1, [2], 3])
[1, 2, 3]
iex&gt; :"Elixir.List".flatten([1, [2], 3])
[1, 2, 3]</pre>
<p>That's the mechanism we use to call Erlang modules:</p>
<pre data-language="elixir">iex&gt; :lists.flatten([1, [2], 3])
[1, 2, 3]</pre>
<h2 id="module-nesting" class="section-heading">  <span class="text">Module nesting</span> </h2> <p>Now that we have talked about aliases, we can talk about nesting and how it works in Elixir. Consider the following example:</p>
<pre data-language="elixir">defmodule Foo do
  defmodule Bar do
  end
end</pre>
<p>The example above will define two modules: <code class="inline">Foo</code> and <code class="inline">Foo.Bar</code>. The second can be accessed as <code class="inline">Bar</code> inside <code class="inline">Foo</code> as long as they are in the same lexical scope.</p>
<p>If, later, the <code class="inline">Bar</code> module is moved outside the <code class="inline">Foo</code> module definition, it must be referenced by its full name (<code class="inline">Foo.Bar</code>) or an alias must be set using the <code class="inline">alias</code> directive discussed above.</p>
<p><strong>Note</strong>: in Elixir, you don't have to define the <code class="inline">Foo</code> module before being able to define the <code class="inline">Foo.Bar</code> module, as they are effectively independent. The above could also be written as:</p>
<pre data-language="elixir">defmodule Foo.Bar do
end

defmodule Foo do
  alias Foo.Bar
  # Can still access it as `Bar`
end</pre>
<p>Aliasing a nested module does not bring parent modules into scope. Consider the following example:</p>
<pre data-language="elixir">defmodule Foo do
  defmodule Bar do
    defmodule Baz do
    end
  end
end

alias Foo.Bar.Baz
# The module `Foo.Bar.Baz` is now available as `Baz`
# However, the module `Foo.Bar` is *not* available as `Bar`</pre>
<p>As we will see in later chapters, aliases also play a crucial role in macros, to guarantee they are hygienic.</p>
<h2 id="multi-alias-import-require-use" class="section-heading">  <span class="text">Multi alias/import/require/use</span> </h2> <p>It is possible to <code class="inline">alias</code>, <code class="inline">import</code>, <code class="inline">require</code>, or <code class="inline">use</code> multiple modules at once. This is particularly useful once we start nesting modules, which is very common when building Elixir applications. For example, imagine you have an application where all modules are nested under <code class="inline">MyApp</code>, you can alias the modules <code class="inline">MyApp.Foo</code>, <code class="inline">MyApp.Bar</code> and <code class="inline">MyApp.Baz</code> at once as follows:</p>
<pre data-language="elixir">alias MyApp.{Foo, Bar, Baz}</pre>
<p>With this, we have finished our tour of Elixir modules. The next topic to cover is module attributes.</p> </div> <div class="bottom-actions" id="bottom-actions"> <div class="bottom-actions-item"> <a href="io-and-the-file-system" class="bottom-actions-button" rel="prev"> <span class="subheader"> ← Previous Page </span> <span class="title"> IO and the file system </span> </a> </div> <div class="bottom-actions-item"> <a href="module-attributes" class="bottom-actions-button" rel="next"> <span class="subheader"> Next Page → </span> <span class="title"> Module attributes </span> </a> </div> </div> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/alias-require-and-import.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/alias-require-and-import.html</a>
  </p>
</div>
