<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/application.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">Application</span> <small>behaviour</small>  </h1> <section id="moduledoc"> <p>A module for working with applications and defining application callbacks.</p>
<p>Applications are the idiomatic way to package software in Erlang/OTP. To get the idea, they are similar to the "library" concept common in other programming languages, but with some additional characteristics.</p>
<p>An application is a component implementing some specific functionality, with a standardized directory structure, configuration, and life cycle. Applications are <em>loaded</em>, <em>started</em>, and <em>stopped</em>. Each application also has its own environment, which provides a unified API for configuring each application.</p>
<p>Developers typically interact with the application environment and its callback module. Therefore those will be the topics we will cover first before jumping into details about the application resource file and life cycle.</p>
<h2 id="module-the-application-environment" class="section-heading">  <span class="text">The application environment</span> </h2> <p>Each application has its own environment. The environment is a keyword list that maps atoms to terms. Note that this environment is unrelated to the operating system environment.</p>
<p>By default, the environment of an application is an empty list. In a Mix project's <code class="inline">mix.exs</code> file, you can set the <code class="inline">:env</code> key in <code class="inline">application/0</code>:</p>
<pre data-language="elixir">def application do
  [env: [db_host: "localhost"]]
end</pre>
<p>Now, in your application, you can read this environment by using functions such as <a href="#fetch_env!/2"><code class="inline">fetch_env!/2</code></a> and friends:</p>
<pre data-language="elixir">defmodule MyApp.DBClient do
  def start_link() do
    SomeLib.DBClient.start_link(host: db_host())
  end

  defp db_host do
    Application.fetch_env!(:my_app, :db_host)
  end
end</pre>
<p>In Mix projects, the environment of the application and its dependencies can be overridden via the <code class="inline">config/config.exs</code> and <code class="inline">config/runtime.exs</code> files. The former is loaded at build-time, before your code compiles, and the latter at runtime, just before your app starts. For example, someone using your application can override its <code class="inline">:db_host</code> environment variable as follows:</p>
<pre data-language="elixir">import Config
config :my_app, :db_host, "db.local"</pre>
<p>See the "Configuration" section in the <a href="https://hexdocs.pm/mix/Mix.html"><code class="inline">Mix</code></a> module for more information. You can also change the application environment dynamically by using functions such as <a href="#put_env/3"><code class="inline">put_env/3</code></a> and <a href="#delete_env/2"><code class="inline">delete_env/2</code></a>.</p>
<blockquote>
<h4 class="tip">Environment in libraries</h4>
<p>The config files <code class="inline">config/config.exs</code> and <code class="inline">config/runtime.exs</code> are rarely used by libraries. Libraries typically define their environment in the <code class="inline">application/0</code> function of their <code class="inline">mix.exs</code>. Configuration files are rather used by applications to configure their libraries.</p>
</blockquote>
<blockquote>
<h4 class="warning">Reading the environment of other applications</h4>
<p>Each application is responsible for its own environment. Do not use the functions in this module for directly accessing or modifying the environment of other applications. Whenever you change the application environment, Elixir's build tool will only recompile the files that belong to that application. So if you read the application environment of another application, there is a chance you will be depending on outdated configuration, as your file won't be recompiled as it changes.</p>
</blockquote>
<h2 id="module-compile-time-environment" class="section-heading">  <span class="text">Compile-time environment</span> </h2> <p>In the previous example, we read the application environment at runtime:</p>
<pre data-language="elixir">defmodule MyApp.DBClient do
  def start_link() do
    SomeLib.DBClient.start_link(host: db_host())
  end

  defp db_host do
    Application.fetch_env!(:my_app, :db_host)
  end
end</pre>
<p>In other words, the environment key <code class="inline">:db_host</code> for application <code class="inline">:my_app</code> will only be read when <code class="inline">MyApp.DBClient</code> effectively starts. While reading the application environment at runtime is the preferred approach, in some rare occasions you may want to use the application environment to configure the compilation of a certain project. However, if you try to access <a href="#fetch_env!/2"><code class="inline">Application.fetch_env!/2</code></a> outside of a function:</p>
<pre data-language="elixir">defmodule MyApp.DBClient do
  @db_host Application.fetch_env!(:my_app, :db_host)

  def start_link() do
    SomeLib.DBClient.start_link(host: @db_host)
  end
end</pre>
<p>You might see warnings and errors:</p>
<pre data-language="elixir">warning: Application.fetch_env!/2 is discouraged in the module body,
use Application.compile_env/3 instead
  iex:3: MyApp.DBClient

** (ArgumentError) could not fetch application environment :db_host
for application :my_app because the application was not loaded nor
configured</pre>
<p>This happens because, when defining modules, the application environment is not yet available. Luckily, the warning tells us how to solve this issue, by using <a href="#compile_env/3"><code class="inline">Application.compile_env/3</code></a> instead:</p>
<pre data-language="elixir">defmodule MyApp.DBClient do
  @db_host Application.compile_env(:my_app, :db_host, "db.local")

  def start_link() do
    SomeLib.DBClient.start_link(host: @db_host)
  end
end</pre>
<p>The difference here is that <code class="inline">compile_env</code> expects the default value to be given as an argument, instead of using the <code class="inline">def application</code> function of your <code class="inline">mix.exs</code>. Furthermore, by using <a href="#compile_env/3"><code class="inline">compile_env/3</code></a>, tools like Mix will store the values used during compilation and compare the compilation values with the runtime values whenever your system starts, raising an error in case they differ.</p>
<p>In any case, compile-time environments should be avoided. Whenever possible, reading the application environment at runtime should be the first choice.</p>
<h2 id="module-the-application-callback-module" class="section-heading">  <span class="text">The application callback module</span> </h2> <p>Applications can be loaded, started, and stopped. Generally, build tools like Mix take care of starting an application and all of its dependencies for you, but you can also do it manually by calling:</p>
<pre data-language="elixir">{:ok, _} = Application.ensure_all_started(:some_app)</pre>
<p>When an application starts, developers may configure a callback module that executes custom code. Developers use this callback to start the application supervision tree.</p>
<p>The first step to do so is to add a <code class="inline">:mod</code> key to the <code class="inline">application/0</code> definition in your <code class="inline">mix.exs</code> file. It expects a tuple, with the application callback module and start argument (commonly an empty list):</p>
<pre data-language="elixir">def application do
  [mod: {MyApp, []}]
end</pre>
<p>The <code class="inline">MyApp</code> module given to <code class="inline">:mod</code> needs to implement the <a href="application"><code class="inline">Application</code></a> behaviour. This can be done by putting <code class="inline">use Application</code> in that module and implementing the <a href="#c:start/2"><code class="inline">start/2</code></a> callback, for example:</p>
<pre data-language="elixir">defmodule MyApp do
  use Application

  def start(_type, _args) do
    children = []
    Supervisor.start_link(children, strategy: :one_for_one)
  end
end</pre>
<blockquote>
<h4 class="info"><code class="inline">use Application</code></h4>
<p>When you <code class="inline">use Application</code>, the <a href="application"><code class="inline">Application</code></a> module will set <code class="inline">@behaviour Application</code> and define an overridable definition for the <a href="#c:stop/1"><code class="inline">stop/1</code></a> function, which is required by Erlang/OTP.</p>
</blockquote>
<p>The <a href="#c:start/2"><code class="inline">start/2</code></a> callback has to spawn and link a supervisor and return <code class="inline">{:ok, pid}</code> or <code class="inline">{:ok, pid, state}</code>, where <code class="inline">pid</code> is the PID of the supervisor, and <code class="inline">state</code> is an optional application state. <code class="inline">args</code> is the second element of the tuple given to the <code class="inline">:mod</code> option.</p>
<p>The <code class="inline">type</code> argument passed to <a href="#c:start/2"><code class="inline">start/2</code></a> is usually <code class="inline">:normal</code> unless in a distributed setup where application takeovers and failovers are configured. Distributed applications are beyond the scope of this documentation.</p>
<p>When an application is shutting down, its <a href="#c:stop/1"><code class="inline">stop/1</code></a> callback is called after the supervision tree has been stopped by the runtime. This callback allows the application to do any final cleanup. The argument is the state returned by <a href="#c:start/2"><code class="inline">start/2</code></a>, if it did, or <code class="inline">[]</code> otherwise. The return value of <a href="#c:stop/1"><code class="inline">stop/1</code></a> is ignored.</p>
<p>By using <a href="application"><code class="inline">Application</code></a>, modules get a default implementation of <a href="#c:stop/1"><code class="inline">stop/1</code></a> that ignores its argument and returns <code class="inline">:ok</code>, but it can be overridden.</p>
<p>Application callback modules may also implement the optional callback <a href="#c:prep_stop/1"><code class="inline">prep_stop/1</code></a>. If present, <a href="#c:prep_stop/1"><code class="inline">prep_stop/1</code></a> is invoked before the supervision tree is terminated. Its argument is the state returned by <a href="#c:start/2"><code class="inline">start/2</code></a>, if it did, or <code class="inline">[]</code> otherwise, and its return value is passed to <a href="#c:stop/1"><code class="inline">stop/1</code></a>.</p>
<h2 id="module-the-application-resource-file" class="section-heading">  <span class="text">The application resource file</span> </h2> <p>In the sections above, we have configured an application in the <code class="inline">application/0</code> section of the <code class="inline">mix.exs</code> file. Ultimately, Mix will use this configuration to create an <a href="https://www.erlang.org/doc/man/app"><em>application resource file</em></a>, which is a file called <code class="inline">APP_NAME.app</code>. For example, the application resource file of the OTP application <code class="inline">ex_unit</code> is called <code class="inline">ex_unit.app</code>.</p>
<p>You can learn more about the generation of application resource files in the documentation of <a href="https://hexdocs.pm/mix/Mix.Tasks.Compile.App.html"><code class="inline">Mix.Tasks.Compile.App</code></a>, available as well by running <a href="https://hexdocs.pm/mix/Mix.Tasks.Compile.App.html"><code class="inline">mix help compile.app</code></a>.</p>
<h2 id="module-the-application-life-cycle" class="section-heading">  <span class="text">The application life cycle</span> </h2> <h3 id="module-loading-applications" class="section-heading">  <span class="text">Loading applications</span> </h3> <p>Applications are <em>loaded</em>, which means that the runtime finds and processes their resource files:</p>
<pre data-language="elixir">Application.load(:ex_unit)
#=&gt; :ok</pre>
<p>When an application is loaded, the environment specified in its resource file is merged with any overrides from config files.</p>
<p>Loading an application <em>does not</em> load its modules.</p>
<p>In practice, you rarely load applications by hand because that is part of the start process, explained next.</p>
<h3 id="module-starting-applications" class="section-heading">  <span class="text">Starting applications</span> </h3> <p>Applications are also <em>started</em>:</p>
<pre data-language="elixir">Application.start(:ex_unit)
#=&gt; :ok</pre>
<p>Once your application is compiled, running your system is a matter of starting your current application and its dependencies. Differently from other languages, Elixir does not have a <code class="inline">main</code> procedure that is responsible for starting your system. Instead, you start one or more applications, each with their own initialization and termination logic.</p>
<p>When an application is started, the <a href="#load/1"><code class="inline">Application.load/1</code></a> is automatically invoked if it hasn't been done yet. Then, it checks if the dependencies listed in the <code class="inline">applications</code> key of the resource file are already started. Having at least one dependency not started is an error condition. Functions like <a href="#ensure_all_started/1"><code class="inline">ensure_all_started/1</code></a> takes care of starting an application and all of its dependencies for you.</p>
<p>If the application does not have a callback module configured, starting is done at this point. Otherwise, its <a href="#c:start/2"><code class="inline">start/2</code></a> callback is invoked. The PID of the top-level supervisor returned by this function is stored by the runtime for later use, and the returned application state is saved too, if any.</p>
<h3 id="module-stopping-applications" class="section-heading">  <span class="text">Stopping applications</span> </h3> <p>Started applications are, finally, <em>stopped</em>:</p>
<pre data-language="elixir">Application.stop(:ex_unit)
#=&gt; :ok</pre>
<p>Stopping an application without a callback module defined, is in practice a no-op, except for some system tracing.</p>
<p>Stopping an application with a callback module has three steps:</p>
<ol>
<li>If present, invoke the optional callback <a href="#c:prep_stop/1"><code class="inline">prep_stop/1</code></a>.</li>
<li>Terminate the top-level supervisor.</li>
<li>Invoke the required callback <a href="#c:stop/1"><code class="inline">stop/1</code></a>.</li>
</ol>
<p>The arguments passed to the callbacks are related to the state optionally returned by <a href="#c:start/2"><code class="inline">start/2</code></a>, and are documented in the section about the callback module above.</p>
<p>It is important to highlight that step 2 is a blocking one. Termination of a supervisor triggers a recursive chain of children terminations, therefore orderly shutting down all descendant processes. The <a href="#c:stop/1"><code class="inline">stop/1</code></a> callback is invoked only after termination of the whole supervision tree.</p>
<p>Shutting down a live system cleanly can be done by calling <a href="system#stop/1"><code class="inline">System.stop/1</code></a>. It will shut down every application in the reverse order they were started.</p>
<p>By default, a SIGTERM from the operating system will automatically translate to <a href="system#stop/0"><code class="inline">System.stop/0</code></a>. You can also have more explicit control over operating system signals via the <a href="https://www.erlang.org/doc/apps/kernel/os.html#set_signal/2"><code class="inline">:os.set_signal/2</code></a> function.</p>
<h2 id="module-tooling" class="section-heading">  <span class="text">Tooling</span> </h2> <p>The Mix build tool automates most of the application management tasks. For example, <a href="https://hexdocs.pm/mix/Mix.Tasks.Test.html"><code class="inline">mix test</code></a> automatically starts your application dependencies and your application itself before your test runs. <code class="inline">mix run --no-halt</code> boots your current project and can be used to start a long running system. See <a href="https://hexdocs.pm/mix/Mix.Tasks.Run.html"><code class="inline">mix help run</code></a>.</p>
<p>Developers can also use <a href="https://hexdocs.pm/mix/Mix.Tasks.Release.html"><code class="inline">mix release</code></a> to build <strong>releases</strong>. Releases are able to package all of your source code as well as the Erlang VM into a single directory. Releases also give you explicit control over how each application is started and in which order. They also provide a more streamlined mechanism for starting and stopping systems, debugging, logging, as well as system monitoring.</p>
<p>Finally, Elixir provides tools such as escripts and archives, which are different mechanisms for packaging your application. Those are typically used when tools must be shared between developers and not as deployment options. See <a href="https://hexdocs.pm/mix/Mix.Tasks.Archive.Build.html"><code class="inline">mix help archive.build</code></a> and <a href="https://hexdocs.pm/mix/Mix.Tasks.Escript.Build.html"><code class="inline">mix help escript.build</code></a> for more detail.</p>
<h2 id="module-further-information" class="section-heading">  <span class="text">Further information</span> </h2> <p>For further details on applications please check the documentation of the <a href="https://www.erlang.org/doc/apps/kernel/application.html"><code class="inline">:application</code> Erlang module</a>, and the <a href="https://www.erlang.org/doc/design_principles/applications.html">Applications</a> section of the <a href="https://www.erlang.org/doc/design_principles/users_guide.html">OTP Design Principles User's Guide</a>.</p> </section> </div> <section id="summary" class="details-list"> <h1 class="section-heading">  <span class="text">Summary</span> </h1> <h2> Types </h2>
<dl class="summary-types summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#t:app/0" data-no-tooltip translate="no">app()</a> </dt> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:application_key/0" data-no-tooltip translate="no">application_key()</a> </dt> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:key/0" data-no-tooltip translate="no">key()</a> </dt> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:restart_type/0" data-no-tooltip translate="no">restart_type()</a> </dt> <dd class="summary-synopsis"><p>Specifies the type of the application</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:start_type/0" data-no-tooltip translate="no">start_type()</a> </dt> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:state/0" data-no-tooltip translate="no">state()</a> </dt> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:value/0" data-no-tooltip translate="no">value()</a> </dt> </div> </dl> <h2> Callbacks </h2>
<dl class="summary-callbacks summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#c:config_change/3" data-no-tooltip translate="no">config_change(changed, new, removed)</a> </dt> <dd class="summary-synopsis"><p>Callback invoked after code upgrade, if the application environment has changed.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#c:prep_stop/1" data-no-tooltip translate="no">prep_stop(state)</a> </dt> <dd class="summary-synopsis"><p>Called before stopping the application.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#c:start/2" data-no-tooltip translate="no">start(start_type, start_args)</a> </dt> <dd class="summary-synopsis"><p>Called when an application is started.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#c:start_phase/3" data-no-tooltip translate="no">start_phase(phase, start_type, phase_args)</a> </dt> <dd class="summary-synopsis"><p>Starts an application in synchronous phases.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#c:stop/1" data-no-tooltip translate="no">stop(state)</a> </dt> <dd class="summary-synopsis"><p>Called after an application has been stopped.</p></dd> </div> </dl> <h2> Functions </h2>
<dl class="summary-functions summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#app_dir/1" data-no-tooltip translate="no">app_dir(app)</a> </dt> <dd class="summary-synopsis"><p>Gets the directory for app.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#app_dir/2" data-no-tooltip translate="no">app_dir(app, path)</a> </dt> <dd class="summary-synopsis"><p>Returns the given path inside <a href="#app_dir/1"><code class="inline">app_dir/1</code></a>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#compile_env/3" data-no-tooltip translate="no">compile_env(app, key_or_path, default \\ nil)</a> </dt> <dd class="summary-synopsis"><p>Reads the application environment at compilation time.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#compile_env/4" data-no-tooltip translate="no">compile_env(env, app, key_or_path, default)</a> </dt> <dd class="summary-synopsis"><p>Reads the application environment at compilation time from a macro.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#compile_env!/2" data-no-tooltip translate="no">compile_env!(app, key_or_path)</a> </dt> <dd class="summary-synopsis"><p>Reads the application environment at compilation time or raises.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#compile_env!/3" data-no-tooltip translate="no">compile_env!(env, app, key_or_path)</a> </dt> <dd class="summary-synopsis"><p>Reads the application environment at compilation time from a macro or raises.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#delete_env/3" data-no-tooltip translate="no">delete_env(app, key, opts \\ [])</a> </dt> <dd class="summary-synopsis"><p>Deletes the <code class="inline">key</code> from the given <code class="inline">app</code> environment.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#ensure_all_started/2" data-no-tooltip translate="no">ensure_all_started(app_or_apps, type_or_opts \\ [])</a> </dt> <dd class="summary-synopsis"><p>Ensures the given <code class="inline">app</code> or <code class="inline">apps</code> and their child applications are started.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#ensure_loaded/1" data-no-tooltip translate="no">ensure_loaded(app)</a> </dt> <dd class="summary-synopsis"><p>Ensures the given <code class="inline">app</code> is loaded.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#ensure_started/2" data-no-tooltip translate="no">ensure_started(app, type \\ :temporary)</a> </dt> <dd class="summary-synopsis"><p>Ensures the given <code class="inline">app</code> is started with <a href="#t:restart_type/0"><code class="inline">restart_type/0</code></a>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#fetch_env/2" data-no-tooltip translate="no">fetch_env(app, key)</a> </dt> <dd class="summary-synopsis"><p>Returns the value for <code class="inline">key</code> in <code class="inline">app</code>'s environment in a tuple.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#fetch_env!/2" data-no-tooltip translate="no">fetch_env!(app, key)</a> </dt> <dd class="summary-synopsis"><p>Returns the value for <code class="inline">key</code> in <code class="inline">app</code>'s environment.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#format_error/1" data-no-tooltip translate="no">format_error(reason)</a> </dt> <dd class="summary-synopsis"><p>Formats the error reason returned by <a href="#start/2"><code class="inline">start/2</code></a>, <a href="#ensure_started/2"><code class="inline">ensure_started/2</code></a>, <a href="#stop/1"><code class="inline">stop/1</code></a>, <a href="#load/1"><code class="inline">load/1</code></a> and <a href="#unload/1"><code class="inline">unload/1</code></a>, returns a string.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#get_all_env/1" data-no-tooltip translate="no">get_all_env(app)</a> </dt> <dd class="summary-synopsis"><p>Returns all key-value pairs for <code class="inline">app</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#get_application/1" data-no-tooltip translate="no">get_application(module)</a> </dt> <dd class="summary-synopsis"><p>Gets the application for the given module.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#get_env/3" data-no-tooltip translate="no">get_env(app, key, default \\ nil)</a> </dt> <dd class="summary-synopsis"><p>Returns the value for <code class="inline">key</code> in <code class="inline">app</code>'s environment.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#load/1" data-no-tooltip translate="no">load(app)</a> </dt> <dd class="summary-synopsis"><p>Loads the given <code class="inline">app</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#loaded_applications/0" data-no-tooltip translate="no">loaded_applications()</a> </dt> <dd class="summary-synopsis"><p>Returns a list with information about the applications which have been loaded.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#put_all_env/2" data-no-tooltip translate="no">put_all_env(config, opts \\ [])</a> </dt> <dd class="summary-synopsis"><p>Puts the environment for multiple applications at the same time.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#put_env/4" data-no-tooltip translate="no">put_env(app, key, value, opts \\ [])</a> </dt> <dd class="summary-synopsis"><p>Puts the <code class="inline">value</code> in <code class="inline">key</code> for the given <code class="inline">app</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#spec/1" data-no-tooltip translate="no">spec(app)</a> </dt> <dd class="summary-synopsis"><p>Returns the spec for <code class="inline">app</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#spec/2" data-no-tooltip translate="no">spec(app, key)</a> </dt> <dd class="summary-synopsis"><p>Returns the value for <code class="inline">key</code> in <code class="inline">app</code>'s specification.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#start/2" data-no-tooltip translate="no">start(app, type \\ :temporary)</a> </dt> <dd class="summary-synopsis"><p>Starts the given <code class="inline">app</code> with <a href="#t:restart_type/0"><code class="inline">restart_type/0</code></a>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#started_applications/1" data-no-tooltip translate="no">started_applications(timeout \\ 5000)</a> </dt> <dd class="summary-synopsis"><p>Returns a list with information about the applications which are currently running.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#stop/1" data-no-tooltip translate="no">stop(app)</a> </dt> <dd class="summary-synopsis"><p>Stops the given <code class="inline">app</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#unload/1" data-no-tooltip translate="no">unload(app)</a> </dt> <dd class="summary-synopsis"><p>Unloads the given <code class="inline">app</code>.</p></dd> </div> </dl> </section> <section id="types" class="details-list"> <h1 class="section-heading">  <span class="text">Types</span> </h1> <div class="types-list"> <section class="detail"> <h3 class="detail-header" id="t:app/0">app()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/application.ex#L433" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type app() :: atom()</pre> </div> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:application_key/0">application_key()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/application.ex#L435" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type application_key() ::
  :start_phases
  | :mod
  | :applications
  | :optional_applications
  | :included_applications
  | :registered
  | :maxT
  | :maxP
  | :modules
  | :vsn
  | :id
  | :description</pre> </div> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:key/0">key()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/application.ex#L434" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type key() :: atom()</pre> </div> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:restart_type/0">restart_type()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/application.ex#L461" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type restart_type() :: :permanent | :transient | :temporary</pre> </div> <p>Specifies the type of the application:</p>
<ul>
<li><p><code class="inline">:permanent</code> - if <code class="inline">app</code> terminates, all other applications and the entire node are also terminated.</p></li>
<li><p><code class="inline">:transient</code> - if <code class="inline">app</code> terminates with <code class="inline">:normal</code> reason, it is reported but no other applications are terminated. If a transient application terminates abnormally, all other applications and the entire node are also terminated.</p></li>
<li><p><code class="inline">:temporary</code> - if <code class="inline">app</code> terminates, it is reported but no other applications are terminated (the default).</p></li>
</ul>
<p>Note that it is always possible to stop an application explicitly by calling <a href="#stop/1"><code class="inline">stop/1</code></a>. Regardless of the type of the application, no other applications will be affected.</p>
<p>Note also that the <code class="inline">:transient</code> type is of little practical use, since when a supervision tree terminates, the reason is set to <code class="inline">:shutdown</code>, not <code class="inline">:normal</code>.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:start_type/0">start_type()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/application.ex#L438" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type start_type() :: :normal | {:takeover, node()} | {:failover, node()}</pre> </div> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:state/0">state()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/application.ex#L437" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type state() :: term()</pre> </div> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:value/0">value()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/application.ex#L436" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type value() :: term()</pre> </div> </section> </section> </div> </section> <section id="callbacks" class="details-list"> <h1 class="section-heading">  <span class="text">Callbacks</span> </h1> <div class="callbacks-list"> <section class="detail"> <h3 class="detail-header" id="c:config_change/3">config_change(changed, new, removed)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/application.ex#L397" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@callback config_change(changed, new, removed) :: :ok
when changed: keyword(), new: keyword(), removed: [atom()]</pre> </div> <p>Callback invoked after code upgrade, if the application environment has changed.</p>
<p><code class="inline">changed</code> is a keyword list of keys and their changed values in the application environment. <code class="inline">new</code> is a keyword list with all new keys and their values. <code class="inline">removed</code> is a list with all removed keys.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="c:prep_stop/1">prep_stop(state)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/application.ex#L359" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@callback prep_stop(state()) :: state()</pre> </div> <p>Called before stopping the application.</p>
<p>This function is called before the top-level supervisor is terminated. It receives the state returned by <a href="#c:start/2"><code class="inline">start/2</code></a>, if it did, or <code class="inline">[]</code> otherwise. The return value is later passed to <a href="#c:stop/1"><code class="inline">stop/1</code></a>.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="c:start/2">start(start_type, start_args)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/application.ex#L347" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@callback start(start_type(), start_args :: term()) ::
  {:ok, pid()} | {:ok, pid(), state()} | {:error, reason :: term()}</pre> </div> <p>Called when an application is started.</p>
<p>This function is called when an application is started using <a href="#start/2"><code class="inline">Application.start/2</code></a> (and functions on top of that, such as <a href="#ensure_started/2"><code class="inline">Application.ensure_started/2</code></a>). This function should start the top-level process of the application (which should be the top supervisor of the application's supervision tree if the application follows the OTP design principles around supervision).</p>
<p><code class="inline">start_type</code> defines how the application is started:</p>
<ul>
<li>
<code class="inline">:normal</code> - used if the startup is a normal startup or if the application is distributed and is started on the current node because of a failover from another node and the application specification key <code class="inline">:start_phases</code> is <code class="inline">:undefined</code>.</li>
<li>
<code class="inline">{:takeover, node}</code> - used if the application is distributed and is started on the current node because of a failover on the node <code class="inline">node</code>.</li>
<li>
<code class="inline">{:failover, node}</code> - used if the application is distributed and is started on the current node because of a failover on node <code class="inline">node</code>, and the application specification key <code class="inline">:start_phases</code> is not <code class="inline">:undefined</code>.</li>
</ul>
<p><code class="inline">start_args</code> are the arguments passed to the application in the <code class="inline">:mod</code> specification key (for example, <code class="inline">mod: {MyApp, [:my_args]}</code>).</p>
<p>This function should either return <code class="inline">{:ok, pid}</code> or <code class="inline">{:ok, pid, state}</code> if startup is successful. <code class="inline">pid</code> should be the PID of the top supervisor. <code class="inline">state</code> can be an arbitrary term, and if omitted will default to <code class="inline">[]</code>; if the application is later stopped, <code class="inline">state</code> is passed to the <a href="#stop/1"><code class="inline">stop/1</code></a> callback (see the documentation for the <a href="#c:stop/1"><code class="inline">stop/1</code></a> callback for more information).</p>
<p><code class="inline">use Application</code> provides no default implementation for the <a href="#start/2"><code class="inline">start/2</code></a> callback.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="c:start_phase/3">start_phase(phase, start_type, phase_args)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/application.ex#L386" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@callback start_phase(phase :: term(), start_type(), phase_args :: term()) ::
  :ok | {:error, reason :: term()}</pre> </div> <p>Starts an application in synchronous phases.</p>
<p>This function is called after <a href="#start/2"><code class="inline">start/2</code></a> finishes but before <a href="#start/2"><code class="inline">Application.start/2</code></a> returns. It will be called once for every start phase defined in the application's (and any included applications') specification, in the order they are listed in.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="c:stop/1">stop(state)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/application.ex#L376" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@callback stop(state()) :: term()</pre> </div> <p>Called after an application has been stopped.</p>
<p>This function is called after an application has been stopped, i.e., after its supervision tree has been stopped. It should do the opposite of what the <a href="#c:start/2"><code class="inline">start/2</code></a> callback did, and should perform any necessary cleanup. The return value of this callback is ignored.</p>
<p><code class="inline">state</code> is the state returned by <a href="#c:start/2"><code class="inline">start/2</code></a>, if it did, or <code class="inline">[]</code> otherwise. If the optional callback <a href="#c:prep_stop/1"><code class="inline">prep_stop/1</code></a> is present, <code class="inline">state</code> is its return value instead.</p>
<p><code class="inline">use Application</code> defines a default implementation of this function which does nothing and just returns <code class="inline">:ok</code>.</p> </section> </section> </div> </section> <section id="functions" class="details-list"> <h1 class="section-heading">  <span class="text">Functions</span> </h1> <div class="functions-list"> <section class="detail"> <h3 class="detail-header" id="app_dir/1">app_dir(app)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/application.ex#L1027" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec app_dir(app()) :: String.t()</pre> </div> <p>Gets the directory for app.</p>
<p>This information is returned based on the code path. Here is an example:</p>
<pre data-language="elixir">File.mkdir_p!("foo/ebin")
Code.prepend_path("foo/ebin")
Application.app_dir(:foo)
#=&gt; "foo"</pre>
<p>Even though the directory is empty and there is no <code class="inline">.app</code> file it is considered the application directory based on the name "foo/ebin". The name may contain a dash <code class="inline">-</code> which is considered to be the app version and it is removed for the lookup purposes:</p>
<pre data-language="elixir">File.mkdir_p!("bar-123/ebin")
Code.prepend_path("bar-123/ebin")
Application.app_dir(:bar)
#=&gt; "bar-123"</pre>
<p>For more information on code paths, check the <a href="code"><code class="inline">Code</code></a> module in Elixir and also Erlang's <a href="https://www.erlang.org/doc/apps/kernel/code.html"><code class="inline">:code</code> module</a>.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="app_dir/2">app_dir(app, path)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/application.ex#L1054" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec app_dir(app(), String.t() | [String.t()]) :: String.t()</pre> </div> <p>Returns the given path inside <a href="#app_dir/1"><code class="inline">app_dir/1</code></a>.</p>
<p>If <code class="inline">path</code> is a string, then it will be used as the path inside <a href="#app_dir/1"><code class="inline">app_dir/1</code></a>. If <code class="inline">path</code> is a list of strings, it will be joined (see <a href="path#join/1"><code class="inline">Path.join/1</code></a>) and the result will be used as the path inside <a href="#app_dir/1"><code class="inline">app_dir/1</code></a>.</p>
<h4 id="app_dir/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">File.mkdir_p!("foo/ebin")
Code.prepend_path("foo/ebin")

Application.app_dir(:foo, "my_path")
#=&gt; "foo/my_path"

Application.app_dir(:foo, ["my", "nested", "path"])
#=&gt; "foo/my/nested/path"</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="compile_env/3">compile_env(app, key_or_path, default \\ nil)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/application.ex#L566" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec compile_env(app(), key() | list(), value()) :: value()</pre> </div> <p>Reads the application environment at compilation time.</p>
<p>Similar to <a href="#get_env/3"><code class="inline">get_env/3</code></a>, except it must be used to read values at compile time. This allows Elixir to track when configuration values change between compile time and runtime.</p>
<p>The first argument is the application name. The second argument <code class="inline">key_or_path</code> is either an atom key or a path to traverse in search of the configuration, starting with an atom key.</p>
<p>For example, imagine the following configuration:</p>
<pre data-language="elixir">config :my_app, :key, [foo: [bar: :baz]]</pre>
<p>We can access it during compile time as:</p>
<pre data-language="elixir">Application.compile_env(:my_app, :key)
#=&gt; [foo: [bar: :baz]]

Application.compile_env(:my_app, [:key, :foo])
#=&gt; [bar: :baz]

Application.compile_env(:my_app, [:key, :foo, :bar])
#=&gt; :baz</pre>
<p>A default value can also be given as third argument. If any of the keys in the path along the way is missing, the default value is used:</p>
<pre data-language="elixir">Application.compile_env(:my_app, [:unknown, :foo, :bar], :default)
#=&gt; :default

Application.compile_env(:my_app, [:key, :unknown, :bar], :default)
#=&gt; :default

Application.compile_env(:my_app, [:key, :foo, :unknown], :default)
#=&gt; :default</pre>
<p>Giving a path is useful to let Elixir know that only certain paths in a large configuration are compile time dependent.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="compile_env/4">compile_env(env, app, key_or_path, default)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/application.ex#L591" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec compile_env(Macro.Env.t(), app(), key() | list(), value()) :: value()</pre> </div> <p>Reads the application environment at compilation time from a macro.</p>
<p>Typically, developers will use <a href="#compile_env/3"><code class="inline">compile_env/3</code></a>. This function must only be invoked from macros which aim to read the compilation environment dynamically.</p>
<p>It expects a <a href="macro.env"><code class="inline">Macro.Env</code></a> as first argument, where the <a href="macro.env"><code class="inline">Macro.Env</code></a> is typically the <code class="inline">__CALLER__</code> in a macro. It raises if <a href="macro.env"><code class="inline">Macro.Env</code></a> comes from a function.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="compile_env!/2">compile_env!(app, key_or_path)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/application.ex#L606" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec compile_env!(app(), key() | list()) :: value()</pre> </div> <p>Reads the application environment at compilation time or raises.</p>
<p>This is the same as <a href="#compile_env/3"><code class="inline">compile_env/3</code></a> but it raises an <a href="argumenterror"><code class="inline">ArgumentError</code></a> if the configuration is not available.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="compile_env!/3">compile_env!(env, app, key_or_path)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/application.ex#L632" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec compile_env!(Macro.Env.t(), app(), key() | list()) :: value()</pre> </div> <p>Reads the application environment at compilation time from a macro or raises.</p>
<p>Typically, developers will use <a href="#compile_env!/2"><code class="inline">compile_env!/2</code></a>. This function must only be invoked from macros which aim to read the compilation environment dynamically.</p>
<p>It expects a <a href="macro.env"><code class="inline">Macro.Env</code></a> as first argument, where the <a href="macro.env"><code class="inline">Macro.Env</code></a> is typically the <code class="inline">__CALLER__</code> in a macro. It raises if <a href="macro.env"><code class="inline">Macro.Env</code></a> comes from a function.</p> </section> </section> <section class="detail">  <h3 class="detail-header" id="delete_env/3">delete_env(app, key, opts \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/application.ex#L856" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec delete_env(app(), key(), timeout: timeout(), persistent: boolean()) :: :ok</pre> </div> <p>Deletes the <code class="inline">key</code> from the given <code class="inline">app</code> environment.</p>
<p>It receives the same options as <a href="#put_env/4"><code class="inline">put_env/4</code></a>. Returns <code class="inline">:ok</code>.</p> </section> </section> <section class="detail">  <h3 class="detail-header" id="ensure_all_started/2">ensure_all_started(app_or_apps, type_or_opts \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/application.ex#L920" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec ensure_all_started(app() | [app()],
  type: restart_type(),
  mode: :serial | :concurrent
) ::
  {:ok, [app()]} | {:error, term()}</pre> <pre translate="no" data-language="elixir">@spec ensure_all_started(app() | [app()], restart_type()) ::
  {:ok, [app()]} | {:error, term()}</pre> </div> <p>Ensures the given <code class="inline">app</code> or <code class="inline">apps</code> and their child applications are started.</p>
<p>The second argument is either the <code class="inline">t:restart_type/1</code> (for consistency with <a href="#start/2"><code class="inline">start/2</code></a>) or a keyword list.</p>
<h4 id="ensure_all_started/2-options" class="section-heading">  <span class="text">Options</span> </h4> <ul>
<li><p><code class="inline">:type</code> - if the application should be started <code class="inline">:temporary</code> (default), <code class="inline">:permanent</code>, or <code class="inline">:transient</code>. See <code class="inline">t:restart_type/1</code> for more information.</p></li>
<li><p><code class="inline">:mode</code> - (since v1.15.0) if the applications should be started serially (<code class="inline">:serial</code>, default) or concurrently (<code class="inline">:concurrent</code>). This option requires Erlang/OTP 26+.</p></li>
</ul> </section> </section> <section class="detail"> <h3 class="detail-header" id="ensure_loaded/1">ensure_loaded(app)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/application.ex#L892" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec ensure_loaded(app()) :: :ok | {:error, term()}</pre> </div> <p>Ensures the given <code class="inline">app</code> is loaded.</p>
<p>Same as <a href="#load/1"><code class="inline">load/1</code></a> but returns <code class="inline">:ok</code> if the application was already loaded.</p> </section> </section> <section class="detail">  <h3 class="detail-header" id="ensure_started/2">ensure_started(app, type \\ :temporary)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/application.ex#L880" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec ensure_started(app(), restart_type()) :: :ok | {:error, term()}</pre> </div> <p>Ensures the given <code class="inline">app</code> is started with <a href="#t:restart_type/0"><code class="inline">restart_type/0</code></a>.</p>
<p>Same as <a href="#start/2"><code class="inline">start/2</code></a> but returns <code class="inline">:ok</code> if the application was already started.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="fetch_env/2">fetch_env(app, key)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/application.ex#L745" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec fetch_env(app(), key()) :: {:ok, value()} | :error</pre> </div> <p>Returns the value for <code class="inline">key</code> in <code class="inline">app</code>'s environment in a tuple.</p>
<p>If the configuration parameter does not exist, the function returns <code class="inline">:error</code>.</p>
<blockquote>
<h4 class="warning">Warning</h4>
<p>You must use this function to read only your own application environment. Do not read the environment of other applications.</p>
</blockquote>
<blockquote>
<h4>Application environment in info</h4>
<p>If you are writing a library to be used by other developers, it is generally recommended to avoid the application environment, as the application environment is effectively a global storage. For more information, read our <a href="library-guidelines">library guidelines</a>.</p>
</blockquote> </section> </section> <section class="detail"> <h3 class="detail-header" id="fetch_env!/2">fetch_env!(app, key)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/application.ex#L772" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec fetch_env!(app(), key()) :: value()</pre> </div> <p>Returns the value for <code class="inline">key</code> in <code class="inline">app</code>'s environment.</p>
<p>If the configuration parameter does not exist, raises <a href="argumenterror"><code class="inline">ArgumentError</code></a>.</p>
<blockquote>
<h4 class="warning">Warning</h4>
<p>You must use this function to read only your own application environment. Do not read the environment of other applications.</p>
</blockquote>
<blockquote>
<h4>Application environment in info</h4>
<p>If you are writing a library to be used by other developers, it is generally recommended to avoid the application environment, as the application environment is effectively a global storage. For more information, read our <a href="library-guidelines">library guidelines</a>.</p>
</blockquote> </section> </section> <section class="detail"> <h3 class="detail-header" id="format_error/1">format_error(reason)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/application.ex#L1086" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec format_error(any()) :: String.t()</pre> </div> <p>Formats the error reason returned by <a href="#start/2"><code class="inline">start/2</code></a>, <a href="#ensure_started/2"><code class="inline">ensure_started/2</code></a>, <a href="#stop/1"><code class="inline">stop/1</code></a>, <a href="#load/1"><code class="inline">load/1</code></a> and <a href="#unload/1"><code class="inline">unload/1</code></a>, returns a string.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="get_all_env/1">get_all_env(app)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/application.ex#L518" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec get_all_env(app()) :: [{key(), value()}]</pre> </div> <p>Returns all key-value pairs for <code class="inline">app</code>.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="get_application/1">get_application(module)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/application.ex#L507" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec get_application(atom()) :: atom() | nil</pre> </div> <p>Gets the application for the given module.</p>
<p>The application is located by analyzing the spec of all loaded applications. Returns <code class="inline">nil</code> if the module is not listed in any application spec.</p> </section> </section> <section class="detail">  <h3 class="detail-header" id="get_env/3">get_env(app, key, default \\ nil)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/application.ex#L722" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec get_env(app(), key(), value()) :: value()</pre> </div> <p>Returns the value for <code class="inline">key</code> in <code class="inline">app</code>'s environment.</p>
<p>If the configuration parameter does not exist, the function returns the <code class="inline">default</code> value.</p>
<blockquote>
<h4 class="warning">Warning</h4>
<p>You must use this function to read only your own application environment. Do not read the environment of other applications.</p>
</blockquote>
<blockquote>
<h4 class="info">Application environment in libraries</h4>
<p>If you are writing a library to be used by other developers, it is generally recommended to avoid the application environment, as the application environment is effectively a global storage. For more information, read our <a href="library-guidelines">library guidelines</a>.</p>
</blockquote>
<h4 id="get_env/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <p><a href="#get_env/3"><code class="inline">get_env/3</code></a> is commonly used to read the configuration of your OTP applications. Since Mix configurations are commonly used to configure applications, we will use this as a point of illustration.</p>
<p>Consider a new application <code class="inline">:my_app</code>. <code class="inline">:my_app</code> contains a database engine which supports a pool of databases. The database engine needs to know the configuration for each of those databases, and that configuration is supplied by key-value pairs in environment of <code class="inline">:my_app</code>.</p>
<pre data-language="elixir">config :my_app, Databases.RepoOne,
  # A database configuration
  ip: "localhost",
  port: 5433

config :my_app, Databases.RepoTwo,
  # Another database configuration (for the same OTP app)
  ip: "localhost",
  port: 20717

config :my_app, my_app_databases: [Databases.RepoOne, Databases.RepoTwo]</pre>
<p>Our database engine used by <code class="inline">:my_app</code> needs to know what databases exist, and what the database configurations are. The database engine can make a call to <code class="inline">Application.get_env(:my_app, :my_app_databases, [])</code> to retrieve the list of databases (specified by module names).</p>
<p>The engine can then traverse each repository in the list and call <code class="inline">Application.get_env(:my_app, Databases.RepoOne)</code> and so forth to retrieve the configuration of each one. In this case, each configuration will be a keyword list, so you can use the functions in the <a href="keyword"><code class="inline">Keyword</code></a> module or even the <a href="access"><code class="inline">Access</code></a> module to traverse it, for example:</p>
<pre data-language="elixir">config = Application.get_env(:my_app, Databases.RepoOne)
config[:ip]</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="load/1">load(app)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/application.ex#L987" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec load(app()) :: :ok | {:error, term()}</pre> </div> <p>Loads the given <code class="inline">app</code>.</p>
<p>In order to be loaded, an <code class="inline">.app</code> file must be in the load paths. All <code class="inline">:included_applications</code> will also be loaded.</p>
<p>Loading the application does not start it nor load its modules, but it does load its environment.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="loaded_applications/0">loaded_applications()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/application.ex#L1076" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec loaded_applications() :: [{app(), description :: charlist(), vsn :: charlist()}]</pre> </div> <p>Returns a list with information about the applications which have been loaded.</p> </section> </section> <section class="detail">  <h3 class="detail-header" id="put_all_env/2">put_all_env(config, opts \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/application.ex#L846" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec put_all_env([{app(), [{key(), value()}]}],
  timeout: timeout(),
  persistent: boolean()
) :: :ok</pre> </div> <p>Puts the environment for multiple applications at the same time.</p>
<p>The given config should not:</p>
<ul>
<li>have the same application listed more than once</li>
<li>have the same key inside the same application listed more than once</li>
</ul>
<p>If those conditions are not met, this function will raise.</p>
<p>This function receives the same options as <a href="#put_env/4"><code class="inline">put_env/4</code></a>. Returns <code class="inline">:ok</code>.</p>
<h4 id="put_all_env/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">Application.put_all_env(
  my_app: [
    key: :value,
    another_key: :another_value
  ],
  another_app: [
    key: :value
  ]
)</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="put_env/4">put_env(app, key, value, opts \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/application.ex#L814" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec put_env(app(), key(), value(), timeout: timeout(), persistent: boolean()) :: :ok</pre> </div> <p>Puts the <code class="inline">value</code> in <code class="inline">key</code> for the given <code class="inline">app</code>.</p>
<h4 id="put_env/4-options" class="section-heading">  <span class="text">Options</span> </h4> <ul>
<li>
<code class="inline">:timeout</code> - the timeout for the change (defaults to <code class="inline">5_000</code> milliseconds)</li>
<li>
<code class="inline">:persistent</code> - persists the given value on application load and reloads</li>
</ul>
<p>If <a href="#put_env/4"><code class="inline">put_env/4</code></a> is called before the application is loaded, the application environment values specified in the <code class="inline">.app</code> file will override the ones previously set.</p>
<p>The <code class="inline">:persistent</code> option can be set to <code class="inline">true</code> when there is a need to guarantee parameters set with this function will not be overridden by the ones defined in the application resource file on load. This means persistent values will stick after the application is loaded and also on application reload.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="spec/1">spec(app)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/application.ex#L477" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec spec(app()) :: [{application_key(), value()}] | nil</pre> </div> <p>Returns the spec for <code class="inline">app</code>.</p>
<p>The following keys are returned:</p>
<ul>
<li><code class="inline">:description</code></li>
<li><code class="inline">:id</code></li>
<li><code class="inline">:vsn</code></li>
<li><code class="inline">:modules</code></li>
<li><code class="inline">:maxP</code></li>
<li><code class="inline">:maxT</code></li>
<li><code class="inline">:registered</code></li>
<li><code class="inline">:included_applications</code></li>
<li><code class="inline">:optional_applications</code></li>
<li><code class="inline">:applications</code></li>
<li><code class="inline">:mod</code></li>
<li><code class="inline">:start_phases</code></li>
</ul>
<p>For a description of all fields, see <a href="https://www.erlang.org/doc/man/app">Erlang's application specification</a>.</p>
<p>Note the environment is not returned as it can be accessed via <a href="#fetch_env/2"><code class="inline">fetch_env/2</code></a>. Returns <code class="inline">nil</code> if the application is not loaded.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="spec/2">spec(app, key)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/application.ex#L492" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec spec(app(), application_key()) :: value() | nil</pre> </div> <p>Returns the value for <code class="inline">key</code> in <code class="inline">app</code>'s specification.</p>
<p>See <a href="#spec/1"><code class="inline">spec/1</code></a> for the supported keys. If the given specification parameter does not exist, this function will raise. Returns <code class="inline">nil</code> if the application is not loaded.</p> </section> </section> <section class="detail">  <h3 class="detail-header" id="start/2">start(app, type \\ :temporary)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/application.ex#L963" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec start(app(), restart_type()) :: :ok | {:error, term()}</pre> </div> <p>Starts the given <code class="inline">app</code> with <a href="#t:restart_type/0"><code class="inline">restart_type/0</code></a>.</p>
<p>If the <code class="inline">app</code> is not loaded, the application will first be loaded using <a href="#load/1"><code class="inline">load/1</code></a>. Any included application, defined in the <code class="inline">:included_applications</code> key of the <code class="inline">.app</code> file will also be loaded, but they won't be started.</p>
<p>Furthermore, all applications listed in the <code class="inline">:applications</code> key must be explicitly started before this application is. If not, <code class="inline">{:error, {:not_started, app}}</code> is returned, where <code class="inline">app</code> is the name of the missing application.</p>
<p>In case you want to automatically load <strong>and start</strong> all of <code class="inline">app</code>'s dependencies, see <a href="#ensure_all_started/2"><code class="inline">ensure_all_started/2</code></a>.</p> </section> </section> <section class="detail">  <h3 class="detail-header" id="started_applications/1">started_applications(timeout \\ 5000)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/application.ex#L1068" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec started_applications(timeout()) :: [
  {app(), description :: charlist(), vsn :: charlist()}
]</pre> </div> <p>Returns a list with information about the applications which are currently running.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="stop/1">stop(app)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/application.ex#L973" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec stop(app()) :: :ok | {:error, term()}</pre> </div> <p>Stops the given <code class="inline">app</code>.</p>
<p>When stopped, the application is still loaded.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="unload/1">unload(app)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/application.ex#L998" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec unload(app()) :: :ok | {:error, term()}</pre> </div> <p>Unloads the given <code class="inline">app</code>.</p>
<p>It will also unload all <code class="inline">:included_applications</code>. Note that the function does not purge the application modules.</p> </section> </section> </div> </section> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/Application.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/Application.html</a>
  </p>
</div>
