<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/atom.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">Atom</span>  </h1> <section id="moduledoc"> <p>Atoms are constants whose values are their own name.</p>
<p>They are often useful to enumerate over distinct values, such as:</p>
<pre data-language="elixir">iex&gt; :apple
:apple
iex&gt; :orange
:orange
iex&gt; :watermelon
:watermelon</pre>
<p>Atoms are equal if their names are equal.</p>
<pre data-language="elixir">iex&gt; :apple == :apple
true
iex&gt; :apple == :orange
false</pre>
<p>Often they are used to express the state of an operation, by using values such as <code class="inline">:ok</code> and <code class="inline">:error</code>.</p>
<p>The booleans <code class="inline">true</code> and <code class="inline">false</code> are also atoms:</p>
<pre data-language="elixir">iex&gt; true == :true
true
iex&gt; is_atom(false)
true
iex&gt; is_boolean(:false)
true</pre>
<p>Elixir allows you to skip the leading <code class="inline">:</code> for the atoms <code class="inline">false</code>, <code class="inline">true</code>, and <code class="inline">nil</code>.</p>
<p>Atoms must be composed of Unicode characters such as letters, numbers, underscore, and <code class="inline">@</code>. If the keyword has a character that does not belong to the category above, such as spaces, you can wrap it in quotes:</p>
<pre data-language="elixir">iex&gt; :"this is an atom with spaces"
:"this is an atom with spaces"</pre> </section> </div> <section id="summary" class="details-list"> <h1 class="section-heading">  <span class="text">Summary</span> </h1> <h2> Functions </h2>
<dl class="summary-functions summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#to_charlist/1" data-no-tooltip translate="no">to_charlist(atom)</a> </dt> <dd class="summary-synopsis"><p>Converts an atom to a charlist.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#to_string/1" data-no-tooltip translate="no">to_string(atom)</a> </dt> <dd class="summary-synopsis"><p>Converts an atom to a string.</p></dd> </div> </dl> </section> <section id="functions" class="details-list"> <h1 class="section-heading">  <span class="text">Functions</span> </h1> <div class="functions-list"> <section class="detail"> <h3 class="detail-header" id="to_charlist/1">to_charlist(atom)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/atom.ex#L74" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec to_charlist(atom()) :: charlist()</pre> </div> <p>Converts an atom to a charlist.</p>
<p>Inlined by the compiler.</p>
<h4 id="to_charlist/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Atom.to_charlist(:"An atom")
~c"An atom"</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="to_string/1">to_string(atom)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/atom.ex#L58" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec to_string(atom()) :: String.t()</pre> </div> <p>Converts an atom to a string.</p>
<p>Inlined by the compiler.</p>
<h4 id="to_string/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Atom.to_string(:foo)
"foo"</pre> </section> </section> </div> </section> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/Atom.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/Atom.html</a>
  </p>
</div>
