<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/base.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">Base</span>  </h1> <section id="moduledoc"> <p>This module provides data encoding and decoding functions according to <a href="https://tools.ietf.org/html/rfc4648">RFC 4648</a>.</p>
<p>This document defines the commonly used base 16, base 32, and base 64 encoding schemes.</p>
<h2 id="module-base-16-alphabet" class="section-heading">  <span class="text">Base 16 alphabet</span> </h2> <table>
<thead><tr>
<th style="text-align: right;">Value</th>
<th style="text-align: left;">Encoding</th>
<th style="text-align: right;">Value</th>
<th style="text-align: left;">Encoding</th>
<th style="text-align: right;">Value</th>
<th style="text-align: left;">Encoding</th>
<th style="text-align: right;">Value</th>
<th style="text-align: left;">Encoding</th>
</tr></thead>
<tbody>
<tr>
<td style="text-align: right;">0</td>
<td style="text-align: left;">0</td>
<td style="text-align: right;">4</td>
<td style="text-align: left;">4</td>
<td style="text-align: right;">8</td>
<td style="text-align: left;">8</td>
<td style="text-align: right;">12</td>
<td style="text-align: left;">C</td>
</tr>
<tr>
<td style="text-align: right;">1</td>
<td style="text-align: left;">1</td>
<td style="text-align: right;">5</td>
<td style="text-align: left;">5</td>
<td style="text-align: right;">9</td>
<td style="text-align: left;">9</td>
<td style="text-align: right;">13</td>
<td style="text-align: left;">D</td>
</tr>
<tr>
<td style="text-align: right;">2</td>
<td style="text-align: left;">2</td>
<td style="text-align: right;">6</td>
<td style="text-align: left;">6</td>
<td style="text-align: right;">10</td>
<td style="text-align: left;">A</td>
<td style="text-align: right;">14</td>
<td style="text-align: left;">E</td>
</tr>
<tr>
<td style="text-align: right;">3</td>
<td style="text-align: left;">3</td>
<td style="text-align: right;">7</td>
<td style="text-align: left;">7</td>
<td style="text-align: right;">11</td>
<td style="text-align: left;">B</td>
<td style="text-align: right;">15</td>
<td style="text-align: left;">F</td>
</tr>
</tbody>
</table>
<h2 id="module-base-32-alphabet" class="section-heading">  <span class="text">Base 32 alphabet</span> </h2> <table>
<thead><tr>
<th style="text-align: right;">Value</th>
<th style="text-align: left;">Encoding</th>
<th style="text-align: right;">Value</th>
<th style="text-align: left;">Encoding</th>
<th style="text-align: right;">Value</th>
<th style="text-align: left;">Encoding</th>
<th style="text-align: right;">Value</th>
<th style="text-align: left;">Encoding</th>
</tr></thead>
<tbody>
<tr>
<td style="text-align: right;">0</td>
<td style="text-align: left;">A</td>
<td style="text-align: right;">9</td>
<td style="text-align: left;">J</td>
<td style="text-align: right;">18</td>
<td style="text-align: left;">S</td>
<td style="text-align: right;">27</td>
<td style="text-align: left;">3</td>
</tr>
<tr>
<td style="text-align: right;">1</td>
<td style="text-align: left;">B</td>
<td style="text-align: right;">10</td>
<td style="text-align: left;">K</td>
<td style="text-align: right;">19</td>
<td style="text-align: left;">T</td>
<td style="text-align: right;">28</td>
<td style="text-align: left;">4</td>
</tr>
<tr>
<td style="text-align: right;">2</td>
<td style="text-align: left;">C</td>
<td style="text-align: right;">11</td>
<td style="text-align: left;">L</td>
<td style="text-align: right;">20</td>
<td style="text-align: left;">U</td>
<td style="text-align: right;">29</td>
<td style="text-align: left;">5</td>
</tr>
<tr>
<td style="text-align: right;">3</td>
<td style="text-align: left;">D</td>
<td style="text-align: right;">12</td>
<td style="text-align: left;">M</td>
<td style="text-align: right;">21</td>
<td style="text-align: left;">V</td>
<td style="text-align: right;">30</td>
<td style="text-align: left;">6</td>
</tr>
<tr>
<td style="text-align: right;">4</td>
<td style="text-align: left;">E</td>
<td style="text-align: right;">13</td>
<td style="text-align: left;">N</td>
<td style="text-align: right;">22</td>
<td style="text-align: left;">W</td>
<td style="text-align: right;">31</td>
<td style="text-align: left;">7</td>
</tr>
<tr>
<td style="text-align: right;">5</td>
<td style="text-align: left;">F</td>
<td style="text-align: right;">14</td>
<td style="text-align: left;">O</td>
<td style="text-align: right;">23</td>
<td style="text-align: left;">X</td>
<td style="text-align: right;"></td>
<td style="text-align: left;"></td>
</tr>
<tr>
<td style="text-align: right;">6</td>
<td style="text-align: left;">G</td>
<td style="text-align: right;">15</td>
<td style="text-align: left;">P</td>
<td style="text-align: right;">24</td>
<td style="text-align: left;">Y</td>
<td style="text-align: right;">(pad)</td>
<td style="text-align: left;">=</td>
</tr>
<tr>
<td style="text-align: right;">7</td>
<td style="text-align: left;">H</td>
<td style="text-align: right;">16</td>
<td style="text-align: left;">Q</td>
<td style="text-align: right;">25</td>
<td style="text-align: left;">Z</td>
<td style="text-align: right;"></td>
<td style="text-align: left;"></td>
</tr>
<tr>
<td style="text-align: right;">8</td>
<td style="text-align: left;">I</td>
<td style="text-align: right;">17</td>
<td style="text-align: left;">R</td>
<td style="text-align: right;">26</td>
<td style="text-align: left;">2</td>
<td style="text-align: right;"></td>
<td style="text-align: left;"></td>
</tr>
</tbody>
</table>
<h2 id="module-base-32-extended-hex-alphabet" class="section-heading">  <span class="text">Base 32 (extended hex) alphabet</span> </h2> <table>
<thead><tr>
<th style="text-align: right;">Value</th>
<th style="text-align: left;">Encoding</th>
<th style="text-align: right;">Value</th>
<th style="text-align: left;">Encoding</th>
<th style="text-align: right;">Value</th>
<th style="text-align: left;">Encoding</th>
<th style="text-align: right;">Value</th>
<th style="text-align: left;">Encoding</th>
</tr></thead>
<tbody>
<tr>
<td style="text-align: right;">0</td>
<td style="text-align: left;">0</td>
<td style="text-align: right;">9</td>
<td style="text-align: left;">9</td>
<td style="text-align: right;">18</td>
<td style="text-align: left;">I</td>
<td style="text-align: right;">27</td>
<td style="text-align: left;">R</td>
</tr>
<tr>
<td style="text-align: right;">1</td>
<td style="text-align: left;">1</td>
<td style="text-align: right;">10</td>
<td style="text-align: left;">A</td>
<td style="text-align: right;">19</td>
<td style="text-align: left;">J</td>
<td style="text-align: right;">28</td>
<td style="text-align: left;">S</td>
</tr>
<tr>
<td style="text-align: right;">2</td>
<td style="text-align: left;">2</td>
<td style="text-align: right;">11</td>
<td style="text-align: left;">B</td>
<td style="text-align: right;">20</td>
<td style="text-align: left;">K</td>
<td style="text-align: right;">29</td>
<td style="text-align: left;">T</td>
</tr>
<tr>
<td style="text-align: right;">3</td>
<td style="text-align: left;">3</td>
<td style="text-align: right;">12</td>
<td style="text-align: left;">C</td>
<td style="text-align: right;">21</td>
<td style="text-align: left;">L</td>
<td style="text-align: right;">30</td>
<td style="text-align: left;">U</td>
</tr>
<tr>
<td style="text-align: right;">4</td>
<td style="text-align: left;">4</td>
<td style="text-align: right;">13</td>
<td style="text-align: left;">D</td>
<td style="text-align: right;">22</td>
<td style="text-align: left;">M</td>
<td style="text-align: right;">31</td>
<td style="text-align: left;">V</td>
</tr>
<tr>
<td style="text-align: right;">5</td>
<td style="text-align: left;">5</td>
<td style="text-align: right;">14</td>
<td style="text-align: left;">E</td>
<td style="text-align: right;">23</td>
<td style="text-align: left;">N</td>
<td style="text-align: right;"></td>
<td style="text-align: left;"></td>
</tr>
<tr>
<td style="text-align: right;">6</td>
<td style="text-align: left;">6</td>
<td style="text-align: right;">15</td>
<td style="text-align: left;">F</td>
<td style="text-align: right;">24</td>
<td style="text-align: left;">O</td>
<td style="text-align: right;">(pad)</td>
<td style="text-align: left;">=</td>
</tr>
<tr>
<td style="text-align: right;">7</td>
<td style="text-align: left;">7</td>
<td style="text-align: right;">16</td>
<td style="text-align: left;">G</td>
<td style="text-align: right;">25</td>
<td style="text-align: left;">P</td>
<td style="text-align: right;"></td>
<td style="text-align: left;"></td>
</tr>
<tr>
<td style="text-align: right;">8</td>
<td style="text-align: left;">8</td>
<td style="text-align: right;">17</td>
<td style="text-align: left;">H</td>
<td style="text-align: right;">26</td>
<td style="text-align: left;">Q</td>
<td style="text-align: right;"></td>
<td style="text-align: left;"></td>
</tr>
</tbody>
</table>
<h2 id="module-base-64-alphabet" class="section-heading">  <span class="text">Base 64 alphabet</span> </h2> <table>
<thead><tr>
<th style="text-align: right;">Value</th>
<th style="text-align: left;">Encoding</th>
<th style="text-align: right;">Value</th>
<th style="text-align: left;">Encoding</th>
<th style="text-align: right;">Value</th>
<th style="text-align: left;">Encoding</th>
<th style="text-align: right;">Value</th>
<th style="text-align: left;">Encoding</th>
</tr></thead>
<tbody>
<tr>
<td style="text-align: right;">0</td>
<td style="text-align: left;">A</td>
<td style="text-align: right;">17</td>
<td style="text-align: left;">R</td>
<td style="text-align: right;">34</td>
<td style="text-align: left;">i</td>
<td style="text-align: right;">51</td>
<td style="text-align: left;">z</td>
</tr>
<tr>
<td style="text-align: right;">1</td>
<td style="text-align: left;">B</td>
<td style="text-align: right;">18</td>
<td style="text-align: left;">S</td>
<td style="text-align: right;">35</td>
<td style="text-align: left;">j</td>
<td style="text-align: right;">52</td>
<td style="text-align: left;">0</td>
</tr>
<tr>
<td style="text-align: right;">2</td>
<td style="text-align: left;">C</td>
<td style="text-align: right;">19</td>
<td style="text-align: left;">T</td>
<td style="text-align: right;">36</td>
<td style="text-align: left;">k</td>
<td style="text-align: right;">53</td>
<td style="text-align: left;">1</td>
</tr>
<tr>
<td style="text-align: right;">3</td>
<td style="text-align: left;">D</td>
<td style="text-align: right;">20</td>
<td style="text-align: left;">U</td>
<td style="text-align: right;">37</td>
<td style="text-align: left;">l</td>
<td style="text-align: right;">54</td>
<td style="text-align: left;">2</td>
</tr>
<tr>
<td style="text-align: right;">4</td>
<td style="text-align: left;">E</td>
<td style="text-align: right;">21</td>
<td style="text-align: left;">V</td>
<td style="text-align: right;">38</td>
<td style="text-align: left;">m</td>
<td style="text-align: right;">55</td>
<td style="text-align: left;">3</td>
</tr>
<tr>
<td style="text-align: right;">5</td>
<td style="text-align: left;">F</td>
<td style="text-align: right;">22</td>
<td style="text-align: left;">W</td>
<td style="text-align: right;">39</td>
<td style="text-align: left;">n</td>
<td style="text-align: right;">56</td>
<td style="text-align: left;">4</td>
</tr>
<tr>
<td style="text-align: right;">6</td>
<td style="text-align: left;">G</td>
<td style="text-align: right;">23</td>
<td style="text-align: left;">X</td>
<td style="text-align: right;">40</td>
<td style="text-align: left;">o</td>
<td style="text-align: right;">57</td>
<td style="text-align: left;">5</td>
</tr>
<tr>
<td style="text-align: right;">7</td>
<td style="text-align: left;">H</td>
<td style="text-align: right;">24</td>
<td style="text-align: left;">Y</td>
<td style="text-align: right;">41</td>
<td style="text-align: left;">p</td>
<td style="text-align: right;">58</td>
<td style="text-align: left;">6</td>
</tr>
<tr>
<td style="text-align: right;">8</td>
<td style="text-align: left;">I</td>
<td style="text-align: right;">25</td>
<td style="text-align: left;">Z</td>
<td style="text-align: right;">42</td>
<td style="text-align: left;">q</td>
<td style="text-align: right;">59</td>
<td style="text-align: left;">7</td>
</tr>
<tr>
<td style="text-align: right;">9</td>
<td style="text-align: left;">J</td>
<td style="text-align: right;">26</td>
<td style="text-align: left;">a</td>
<td style="text-align: right;">43</td>
<td style="text-align: left;">r</td>
<td style="text-align: right;">60</td>
<td style="text-align: left;">8</td>
</tr>
<tr>
<td style="text-align: right;">10</td>
<td style="text-align: left;">K</td>
<td style="text-align: right;">27</td>
<td style="text-align: left;">b</td>
<td style="text-align: right;">44</td>
<td style="text-align: left;">s</td>
<td style="text-align: right;">61</td>
<td style="text-align: left;">9</td>
</tr>
<tr>
<td style="text-align: right;">11</td>
<td style="text-align: left;">L</td>
<td style="text-align: right;">28</td>
<td style="text-align: left;">c</td>
<td style="text-align: right;">45</td>
<td style="text-align: left;">t</td>
<td style="text-align: right;">62</td>
<td style="text-align: left;">+</td>
</tr>
<tr>
<td style="text-align: right;">12</td>
<td style="text-align: left;">M</td>
<td style="text-align: right;">29</td>
<td style="text-align: left;">d</td>
<td style="text-align: right;">46</td>
<td style="text-align: left;">u</td>
<td style="text-align: right;">63</td>
<td style="text-align: left;">/</td>
</tr>
<tr>
<td style="text-align: right;">13</td>
<td style="text-align: left;">N</td>
<td style="text-align: right;">30</td>
<td style="text-align: left;">e</td>
<td style="text-align: right;">47</td>
<td style="text-align: left;">v</td>
<td style="text-align: right;"></td>
<td style="text-align: left;"></td>
</tr>
<tr>
<td style="text-align: right;">14</td>
<td style="text-align: left;">O</td>
<td style="text-align: right;">31</td>
<td style="text-align: left;">f</td>
<td style="text-align: right;">48</td>
<td style="text-align: left;">w</td>
<td style="text-align: right;">(pad)</td>
<td style="text-align: left;">=</td>
</tr>
<tr>
<td style="text-align: right;">15</td>
<td style="text-align: left;">P</td>
<td style="text-align: right;">32</td>
<td style="text-align: left;">g</td>
<td style="text-align: right;">49</td>
<td style="text-align: left;">x</td>
<td style="text-align: right;"></td>
<td style="text-align: left;"></td>
</tr>
<tr>
<td style="text-align: right;">16</td>
<td style="text-align: left;">Q</td>
<td style="text-align: right;">33</td>
<td style="text-align: left;">h</td>
<td style="text-align: right;">50</td>
<td style="text-align: left;">y</td>
<td style="text-align: right;"></td>
<td style="text-align: left;"></td>
</tr>
</tbody>
</table>
<h2 id="module-base-64-url-and-filename-safe-alphabet" class="section-heading">  <span class="text">Base 64 (URL and filename safe) alphabet</span> </h2> <table>
<thead><tr>
<th style="text-align: right;">Value</th>
<th style="text-align: left;">Encoding</th>
<th style="text-align: right;">Value</th>
<th style="text-align: left;">Encoding</th>
<th style="text-align: right;">Value</th>
<th style="text-align: left;">Encoding</th>
<th style="text-align: right;">Value</th>
<th style="text-align: left;">Encoding</th>
</tr></thead>
<tbody>
<tr>
<td style="text-align: right;">0</td>
<td style="text-align: left;">A</td>
<td style="text-align: right;">17</td>
<td style="text-align: left;">R</td>
<td style="text-align: right;">34</td>
<td style="text-align: left;">i</td>
<td style="text-align: right;">51</td>
<td style="text-align: left;">z</td>
</tr>
<tr>
<td style="text-align: right;">1</td>
<td style="text-align: left;">B</td>
<td style="text-align: right;">18</td>
<td style="text-align: left;">S</td>
<td style="text-align: right;">35</td>
<td style="text-align: left;">j</td>
<td style="text-align: right;">52</td>
<td style="text-align: left;">0</td>
</tr>
<tr>
<td style="text-align: right;">2</td>
<td style="text-align: left;">C</td>
<td style="text-align: right;">19</td>
<td style="text-align: left;">T</td>
<td style="text-align: right;">36</td>
<td style="text-align: left;">k</td>
<td style="text-align: right;">53</td>
<td style="text-align: left;">1</td>
</tr>
<tr>
<td style="text-align: right;">3</td>
<td style="text-align: left;">D</td>
<td style="text-align: right;">20</td>
<td style="text-align: left;">U</td>
<td style="text-align: right;">37</td>
<td style="text-align: left;">l</td>
<td style="text-align: right;">54</td>
<td style="text-align: left;">2</td>
</tr>
<tr>
<td style="text-align: right;">4</td>
<td style="text-align: left;">E</td>
<td style="text-align: right;">21</td>
<td style="text-align: left;">V</td>
<td style="text-align: right;">38</td>
<td style="text-align: left;">m</td>
<td style="text-align: right;">55</td>
<td style="text-align: left;">3</td>
</tr>
<tr>
<td style="text-align: right;">5</td>
<td style="text-align: left;">F</td>
<td style="text-align: right;">22</td>
<td style="text-align: left;">W</td>
<td style="text-align: right;">39</td>
<td style="text-align: left;">n</td>
<td style="text-align: right;">56</td>
<td style="text-align: left;">4</td>
</tr>
<tr>
<td style="text-align: right;">6</td>
<td style="text-align: left;">G</td>
<td style="text-align: right;">23</td>
<td style="text-align: left;">X</td>
<td style="text-align: right;">40</td>
<td style="text-align: left;">o</td>
<td style="text-align: right;">57</td>
<td style="text-align: left;">5</td>
</tr>
<tr>
<td style="text-align: right;">7</td>
<td style="text-align: left;">H</td>
<td style="text-align: right;">24</td>
<td style="text-align: left;">Y</td>
<td style="text-align: right;">41</td>
<td style="text-align: left;">p</td>
<td style="text-align: right;">58</td>
<td style="text-align: left;">6</td>
</tr>
<tr>
<td style="text-align: right;">8</td>
<td style="text-align: left;">I</td>
<td style="text-align: right;">25</td>
<td style="text-align: left;">Z</td>
<td style="text-align: right;">42</td>
<td style="text-align: left;">q</td>
<td style="text-align: right;">59</td>
<td style="text-align: left;">7</td>
</tr>
<tr>
<td style="text-align: right;">9</td>
<td style="text-align: left;">J</td>
<td style="text-align: right;">26</td>
<td style="text-align: left;">a</td>
<td style="text-align: right;">43</td>
<td style="text-align: left;">r</td>
<td style="text-align: right;">60</td>
<td style="text-align: left;">8</td>
</tr>
<tr>
<td style="text-align: right;">10</td>
<td style="text-align: left;">K</td>
<td style="text-align: right;">27</td>
<td style="text-align: left;">b</td>
<td style="text-align: right;">44</td>
<td style="text-align: left;">s</td>
<td style="text-align: right;">61</td>
<td style="text-align: left;">9</td>
</tr>
<tr>
<td style="text-align: right;">11</td>
<td style="text-align: left;">L</td>
<td style="text-align: right;">28</td>
<td style="text-align: left;">c</td>
<td style="text-align: right;">45</td>
<td style="text-align: left;">t</td>
<td style="text-align: right;">62</td>
<td style="text-align: left;">-</td>
</tr>
<tr>
<td style="text-align: right;">12</td>
<td style="text-align: left;">M</td>
<td style="text-align: right;">29</td>
<td style="text-align: left;">d</td>
<td style="text-align: right;">46</td>
<td style="text-align: left;">u</td>
<td style="text-align: right;">63</td>
<td style="text-align: left;">_</td>
</tr>
<tr>
<td style="text-align: right;">13</td>
<td style="text-align: left;">N</td>
<td style="text-align: right;">30</td>
<td style="text-align: left;">e</td>
<td style="text-align: right;">47</td>
<td style="text-align: left;">v</td>
<td style="text-align: right;"></td>
<td style="text-align: left;"></td>
</tr>
<tr>
<td style="text-align: right;">14</td>
<td style="text-align: left;">O</td>
<td style="text-align: right;">31</td>
<td style="text-align: left;">f</td>
<td style="text-align: right;">48</td>
<td style="text-align: left;">w</td>
<td style="text-align: right;">(pad)</td>
<td style="text-align: left;">=</td>
</tr>
<tr>
<td style="text-align: right;">15</td>
<td style="text-align: left;">P</td>
<td style="text-align: right;">32</td>
<td style="text-align: left;">g</td>
<td style="text-align: right;">49</td>
<td style="text-align: left;">x</td>
<td style="text-align: right;"></td>
<td style="text-align: left;"></td>
</tr>
<tr>
<td style="text-align: right;">16</td>
<td style="text-align: left;">Q</td>
<td style="text-align: right;">33</td>
<td style="text-align: left;">h</td>
<td style="text-align: right;">50</td>
<td style="text-align: left;">y</td>
<td style="text-align: right;"></td>
<td style="text-align: left;"></td>
</tr>
</tbody>
</table> </section> </div> <section id="summary" class="details-list"> <h1 class="section-heading">  <span class="text">Summary</span> </h1> <h2> Types </h2>
<dl class="summary-types summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#t:decode_case/0" data-no-tooltip translate="no">decode_case()</a> </dt> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:encode_case/0" data-no-tooltip translate="no">encode_case()</a> </dt> </div> </dl> <h2> Functions </h2>
<dl class="summary-functions summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#decode16/2" data-no-tooltip translate="no">decode16(string, opts \\ [])</a> </dt> <dd class="summary-synopsis"><p>Decodes a base 16 encoded string into a binary string.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#decode16!/2" data-no-tooltip translate="no">decode16!(string, opts \\ [])</a> </dt> <dd class="summary-synopsis"><p>Decodes a base 16 encoded string into a binary string.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#decode32/2" data-no-tooltip translate="no">decode32(string, opts \\ [])</a> </dt> <dd class="summary-synopsis"><p>Decodes a base 32 encoded string into a binary string.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#decode32!/2" data-no-tooltip translate="no">decode32!(string, opts \\ [])</a> </dt> <dd class="summary-synopsis"><p>Decodes a base 32 encoded string into a binary string.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#decode64/2" data-no-tooltip translate="no">decode64(string, opts \\ [])</a> </dt> <dd class="summary-synopsis"><p>Decodes a base 64 encoded string into a binary string.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#decode64!/2" data-no-tooltip translate="no">decode64!(string, opts \\ [])</a> </dt> <dd class="summary-synopsis"><p>Decodes a base 64 encoded string into a binary string.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#encode16/2" data-no-tooltip translate="no">encode16(data, opts \\ [])</a> </dt> <dd class="summary-synopsis"><p>Encodes a binary string into a base 16 encoded string.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#encode32/2" data-no-tooltip translate="no">encode32(data, opts \\ [])</a> </dt> <dd class="summary-synopsis"><p>Encodes a binary string into a base 32 encoded string.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#encode64/2" data-no-tooltip translate="no">encode64(data, opts \\ [])</a> </dt> <dd class="summary-synopsis"><p>Encodes a binary string into a base 64 encoded string.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#hex_decode32/2" data-no-tooltip translate="no">hex_decode32(string, opts \\ [])</a> </dt> <dd class="summary-synopsis"><p>Decodes a base 32 encoded string with extended hexadecimal alphabet into a binary string.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#hex_decode32!/2" data-no-tooltip translate="no">hex_decode32!(string, opts \\ [])</a> </dt> <dd class="summary-synopsis"><p>Decodes a base 32 encoded string with extended hexadecimal alphabet into a binary string.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#hex_encode32/2" data-no-tooltip translate="no">hex_encode32(data, opts \\ [])</a> </dt> <dd class="summary-synopsis"><p>Encodes a binary string into a base 32 encoded string with an extended hexadecimal alphabet.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#url_decode64/2" data-no-tooltip translate="no">url_decode64(string, opts \\ [])</a> </dt> <dd class="summary-synopsis"><p>Decodes a base 64 encoded string with URL and filename safe alphabet into a binary string.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#url_decode64!/2" data-no-tooltip translate="no">url_decode64!(string, opts \\ [])</a> </dt> <dd class="summary-synopsis"><p>Decodes a base 64 encoded string with URL and filename safe alphabet into a binary string.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#url_encode64/2" data-no-tooltip translate="no">url_encode64(data, opts \\ [])</a> </dt> <dd class="summary-synopsis"><p>Encodes a binary string into a base 64 encoded string with URL and filename safe alphabet.</p></dd> </div> </dl> </section> <section id="types" class="details-list"> <h1 class="section-heading">  <span class="text">Types</span> </h1> <div class="types-list"> <section class="detail"> <h3 class="detail-header" id="t:decode_case/0">decode_case()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/base.ex#L96" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type decode_case() :: :upper | :lower | :mixed</pre> </div> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:encode_case/0">encode_case()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/base.ex#L95" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type encode_case() :: :upper | :lower</pre> </div> </section> </section> </div> </section> <section id="functions" class="details-list"> <h1 class="section-heading">  <span class="text">Functions</span> </h1> <div class="functions-list"> <section class="detail">  <h3 class="detail-header" id="decode16/2">decode16(string, opts \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/base.ex#L265" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec decode16(binary(), [{:case, decode_case()}]) :: {:ok, binary()} | :error</pre> </div> <p>Decodes a base 16 encoded string into a binary string.</p>
<h4 id="decode16/2-options" class="section-heading">  <span class="text">Options</span> </h4> <p>The accepted options are:</p>
<ul><li>
<code class="inline">:case</code> - specifies the character case to accept when decoding</li></ul>
<p>The values for <code class="inline">:case</code> can be:</p>
<ul>
<li>
<code class="inline">:upper</code> - only allows upper case characters (default)</li>
<li>
<code class="inline">:lower</code> - only allows lower case characters</li>
<li>
<code class="inline">:mixed</code> - allows mixed case characters</li>
</ul>
<h4 id="decode16/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Base.decode16("666F6F626172")
{:ok, "foobar"}

iex&gt; Base.decode16("666f6f626172", case: :lower)
{:ok, "foobar"}

iex&gt; Base.decode16("666f6F626172", case: :mixed)
{:ok, "foobar"}</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="decode16!/2">decode16!(string, opts \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/base.ex#L302" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec decode16!(binary(), [{:case, decode_case()}]) :: binary()</pre> </div> <p>Decodes a base 16 encoded string into a binary string.</p>
<h4 id="decode16!/2-options" class="section-heading">  <span class="text">Options</span> </h4> <p>The accepted options are:</p>
<ul><li>
<code class="inline">:case</code> - specifies the character case to accept when decoding</li></ul>
<p>The values for <code class="inline">:case</code> can be:</p>
<ul>
<li>
<code class="inline">:upper</code> - only allows upper case characters (default)</li>
<li>
<code class="inline">:lower</code> - only allows lower case characters</li>
<li>
<code class="inline">:mixed</code> - allows mixed case characters</li>
</ul>
<p>An <a href="argumenterror"><code class="inline">ArgumentError</code></a> exception is raised if the padding is incorrect or a non-alphabet character is present in the string.</p>
<h4 id="decode16!/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Base.decode16!("666F6F626172")
"foobar"

iex&gt; Base.decode16!("666f6f626172", case: :lower)
"foobar"

iex&gt; Base.decode16!("666f6F626172", case: :mixed)
"foobar"</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="decode32/2">decode32(string, opts \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/base.ex#L930" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec decode32(binary(), case: decode_case(), padding: boolean()) ::
  {:ok, binary()} | :error</pre> </div> <p>Decodes a base 32 encoded string into a binary string.</p>
<h4 id="decode32/2-options" class="section-heading">  <span class="text">Options</span> </h4> <p>The accepted options are:</p>
<ul>
<li>
<code class="inline">:case</code> - specifies the character case to accept when decoding</li>
<li>
<code class="inline">:padding</code> - specifies whether to require padding</li>
</ul>
<p>The values for <code class="inline">:case</code> can be:</p>
<ul>
<li>
<code class="inline">:upper</code> - only allows upper case characters (default)</li>
<li>
<code class="inline">:lower</code> - only allows lower case characters</li>
<li>
<code class="inline">:mixed</code> - allows mixed case characters</li>
</ul>
<p>The values for <code class="inline">:padding</code> can be:</p>
<ul>
<li>
<code class="inline">true</code> - requires the input string to be padded to the nearest multiple of 8 (default)</li>
<li>
<code class="inline">false</code> - ignores padding from the input string</li>
</ul>
<h4 id="decode32/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Base.decode32("MZXW6YTBOI======")
{:ok, "foobar"}

iex&gt; Base.decode32("mzxw6ytboi======", case: :lower)
{:ok, "foobar"}

iex&gt; Base.decode32("mzXW6ytBOi======", case: :mixed)
{:ok, "foobar"}

iex&gt; Base.decode32("MZXW6YTBOI", padding: false)
{:ok, "foobar"}</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="decode32!/2">decode32!(string, opts \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/base.ex#L976" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec decode32!(binary(), case: decode_case(), padding: boolean()) :: binary()</pre> </div> <p>Decodes a base 32 encoded string into a binary string.</p>
<p>An <a href="argumenterror"><code class="inline">ArgumentError</code></a> exception is raised if the padding is incorrect or a non-alphabet character is present in the string.</p>
<h4 id="decode32!/2-options" class="section-heading">  <span class="text">Options</span> </h4> <p>The accepted options are:</p>
<ul>
<li>
<code class="inline">:case</code> - specifies the character case to accept when decoding</li>
<li>
<code class="inline">:padding</code> - specifies whether to require padding</li>
</ul>
<p>The values for <code class="inline">:case</code> can be:</p>
<ul>
<li>
<code class="inline">:upper</code> - only allows upper case characters (default)</li>
<li>
<code class="inline">:lower</code> - only allows lower case characters</li>
<li>
<code class="inline">:mixed</code> - allows mixed case characters</li>
</ul>
<p>The values for <code class="inline">:padding</code> can be:</p>
<ul>
<li>
<code class="inline">true</code> - requires the input string to be padded to the nearest multiple of 8 (default)</li>
<li>
<code class="inline">false</code> - ignores padding from the input string</li>
</ul>
<h4 id="decode32!/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Base.decode32!("MZXW6YTBOI======")
"foobar"

iex&gt; Base.decode32!("mzxw6ytboi======", case: :lower)
"foobar"

iex&gt; Base.decode32!("mzXW6ytBOi======", case: :mixed)
"foobar"

iex&gt; Base.decode32!("MZXW6YTBOI", padding: false)
"foobar"</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="decode64/2">decode64(string, opts \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/base.ex#L519" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec decode64(binary(), ignore: :whitespace, padding: boolean()) ::
  {:ok, binary()} | :error</pre> </div> <p>Decodes a base 64 encoded string into a binary string.</p>
<p>Accepts <code class="inline">ignore: :whitespace</code> option which will ignore all the whitespace characters in the input string.</p>
<p>Accepts <code class="inline">padding: false</code> option which will ignore padding from the input string.</p>
<h4 id="decode64/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Base.decode64("Zm9vYmFy")
{:ok, "foobar"}

iex&gt; Base.decode64("Zm9vYmFy\n", ignore: :whitespace)
{:ok, "foobar"}

iex&gt; Base.decode64("Zm9vYg==")
{:ok, "foob"}

iex&gt; Base.decode64("Zm9vYg", padding: false)
{:ok, "foob"}</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="decode64!/2">decode64!(string, opts \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/base.ex#L553" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec decode64!(binary(), ignore: :whitespace, padding: boolean()) :: binary()</pre> </div> <p>Decodes a base 64 encoded string into a binary string.</p>
<p>Accepts <code class="inline">ignore: :whitespace</code> option which will ignore all the whitespace characters in the input string.</p>
<p>Accepts <code class="inline">padding: false</code> option which will ignore padding from the input string.</p>
<p>An <a href="argumenterror"><code class="inline">ArgumentError</code></a> exception is raised if the padding is incorrect or a non-alphabet character is present in the string.</p>
<h4 id="decode64!/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Base.decode64!("Zm9vYmFy")
"foobar"

iex&gt; Base.decode64!("Zm9vYmFy\n", ignore: :whitespace)
"foobar"

iex&gt; Base.decode64!("Zm9vYg==")
"foob"

iex&gt; Base.decode64!("Zm9vYg", padding: false)
"foob"</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="encode16/2">encode16(data, opts \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/base.ex#L178" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec encode16(binary(), [{:case, encode_case()}]) :: binary()</pre> </div> <p>Encodes a binary string into a base 16 encoded string.</p>
<h4 id="encode16/2-options" class="section-heading">  <span class="text">Options</span> </h4> <p>The accepted options are:</p>
<ul><li>
<code class="inline">:case</code> - specifies the character case to use when encoding</li></ul>
<p>The values for <code class="inline">:case</code> can be:</p>
<ul>
<li>
<code class="inline">:upper</code> - uses upper case characters (default)</li>
<li>
<code class="inline">:lower</code> - uses lower case characters</li>
</ul>
<h4 id="encode16/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Base.encode16("foobar")
"666F6F626172"

iex&gt; Base.encode16("foobar", case: :lower)
"666f6f626172"</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="encode32/2">encode32(data, opts \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/base.ex#L773" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec encode32(binary(), case: encode_case(), padding: boolean()) :: binary()</pre> </div> <p>Encodes a binary string into a base 32 encoded string.</p>
<h4 id="encode32/2-options" class="section-heading">  <span class="text">Options</span> </h4> <p>The accepted options are:</p>
<ul>
<li>
<code class="inline">:case</code> - specifies the character case to use when encoding</li>
<li>
<code class="inline">:padding</code> - specifies whether to apply padding</li>
</ul>
<p>The values for <code class="inline">:case</code> can be:</p>
<ul>
<li>
<code class="inline">:upper</code> - uses upper case characters (default)</li>
<li>
<code class="inline">:lower</code> - uses lower case characters</li>
</ul>
<p>The values for <code class="inline">:padding</code> can be:</p>
<ul>
<li>
<code class="inline">true</code> - pad the output string to the nearest multiple of 8 (default)</li>
<li>
<code class="inline">false</code> - omit padding from the output string</li>
</ul>
<h4 id="encode32/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Base.encode32("foobar")
"MZXW6YTBOI======"

iex&gt; Base.encode32("foobar", case: :lower)
"mzxw6ytboi======"

iex&gt; Base.encode32("foobar", padding: false)
"MZXW6YTBOI"</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="encode64/2">encode64(data, opts \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/base.ex#L393" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec encode64(binary(), [{:padding, boolean()}]) :: binary()</pre> </div> <p>Encodes a binary string into a base 64 encoded string.</p>
<p>Accepts <code class="inline">padding: false</code> option which will omit padding from the output string.</p>
<h4 id="encode64/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Base.encode64("foobar")
"Zm9vYmFy"

iex&gt; Base.encode64("foob")
"Zm9vYg=="

iex&gt; Base.encode64("foob", padding: false)
"Zm9vYg"</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="hex_decode32/2">hex_decode32(string, opts \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/base.ex#L1024" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec hex_decode32(binary(), case: decode_case(), padding: boolean()) ::
  {:ok, binary()} | :error</pre> </div> <p>Decodes a base 32 encoded string with extended hexadecimal alphabet into a binary string.</p>
<h4 id="hex_decode32/2-options" class="section-heading">  <span class="text">Options</span> </h4> <p>The accepted options are:</p>
<ul>
<li>
<code class="inline">:case</code> - specifies the character case to accept when decoding</li>
<li>
<code class="inline">:padding</code> - specifies whether to require padding</li>
</ul>
<p>The values for <code class="inline">:case</code> can be:</p>
<ul>
<li>
<code class="inline">:upper</code> - only allows upper case characters (default)</li>
<li>
<code class="inline">:lower</code> - only allows lower case characters</li>
<li>
<code class="inline">:mixed</code> - allows mixed case characters</li>
</ul>
<p>The values for <code class="inline">:padding</code> can be:</p>
<ul>
<li>
<code class="inline">true</code> - requires the input string to be padded to the nearest multiple of 8 (default)</li>
<li>
<code class="inline">false</code> - ignores padding from the input string</li>
</ul>
<h4 id="hex_decode32/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Base.hex_decode32("CPNMUOJ1E8======")
{:ok, "foobar"}

iex&gt; Base.hex_decode32("cpnmuoj1e8======", case: :lower)
{:ok, "foobar"}

iex&gt; Base.hex_decode32("cpnMuOJ1E8======", case: :mixed)
{:ok, "foobar"}

iex&gt; Base.hex_decode32("CPNMUOJ1E8", padding: false)
{:ok, "foobar"}</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="hex_decode32!/2">hex_decode32!(string, opts \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/base.ex#L1071" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec hex_decode32!(binary(), case: decode_case(), padding: boolean()) :: binary()</pre> </div> <p>Decodes a base 32 encoded string with extended hexadecimal alphabet into a binary string.</p>
<p>An <a href="argumenterror"><code class="inline">ArgumentError</code></a> exception is raised if the padding is incorrect or a non-alphabet character is present in the string.</p>
<h4 id="hex_decode32!/2-options" class="section-heading">  <span class="text">Options</span> </h4> <p>The accepted options are:</p>
<ul>
<li>
<code class="inline">:case</code> - specifies the character case to accept when decoding</li>
<li>
<code class="inline">:padding</code> - specifies whether to require padding</li>
</ul>
<p>The values for <code class="inline">:case</code> can be:</p>
<ul>
<li>
<code class="inline">:upper</code> - only allows upper case characters (default)</li>
<li>
<code class="inline">:lower</code> - only allows lower case characters</li>
<li>
<code class="inline">:mixed</code> - allows mixed case characters</li>
</ul>
<p>The values for <code class="inline">:padding</code> can be:</p>
<ul>
<li>
<code class="inline">true</code> - requires the input string to be padded to the nearest multiple of 8 (default)</li>
<li>
<code class="inline">false</code> - ignores padding from the input string</li>
</ul>
<h4 id="hex_decode32!/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Base.hex_decode32!("CPNMUOJ1E8======")
"foobar"

iex&gt; Base.hex_decode32!("cpnmuoj1e8======", case: :lower)
"foobar"

iex&gt; Base.hex_decode32!("cpnMuOJ1E8======", case: :mixed)
"foobar"

iex&gt; Base.hex_decode32!("CPNMUOJ1E8", padding: false)
"foobar"</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="hex_encode32/2">hex_encode32(data, opts \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/base.ex#L816" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec hex_encode32(binary(), case: encode_case(), padding: boolean()) :: binary()</pre> </div> <p>Encodes a binary string into a base 32 encoded string with an extended hexadecimal alphabet.</p>
<h4 id="hex_encode32/2-options" class="section-heading">  <span class="text">Options</span> </h4> <p>The accepted options are:</p>
<ul>
<li>
<code class="inline">:case</code> - specifies the character case to use when encoding</li>
<li>
<code class="inline">:padding</code> - specifies whether to apply padding</li>
</ul>
<p>The values for <code class="inline">:case</code> can be:</p>
<ul>
<li>
<code class="inline">:upper</code> - uses upper case characters (default)</li>
<li>
<code class="inline">:lower</code> - uses lower case characters</li>
</ul>
<p>The values for <code class="inline">:padding</code> can be:</p>
<ul>
<li>
<code class="inline">true</code> - pad the output string to the nearest multiple of 8 (default)</li>
<li>
<code class="inline">false</code> - omit padding from the output string</li>
</ul>
<h4 id="hex_encode32/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Base.hex_encode32("foobar")
"CPNMUOJ1E8======"

iex&gt; Base.hex_encode32("foobar", case: :lower)
"cpnmuoj1e8======"

iex&gt; Base.hex_encode32("foobar", padding: false)
"CPNMUOJ1E8"</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="url_decode64/2">url_decode64(string, opts \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/base.ex#L581" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec url_decode64(binary(), ignore: :whitespace, padding: boolean()) ::
  {:ok, binary()} | :error</pre> </div> <p>Decodes a base 64 encoded string with URL and filename safe alphabet into a binary string.</p>
<p>Accepts <code class="inline">ignore: :whitespace</code> option which will ignore all the whitespace characters in the input string.</p>
<p>Accepts <code class="inline">padding: false</code> option which will ignore padding from the input string.</p>
<h4 id="url_decode64/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Base.url_decode64("_3_-_A==")
{:ok, &lt;&lt;255, 127, 254, 252&gt;&gt;}

iex&gt; Base.url_decode64("_3_-_A==\n", ignore: :whitespace)
{:ok, &lt;&lt;255, 127, 254, 252&gt;&gt;}

iex&gt; Base.url_decode64("_3_-_A", padding: false)
{:ok, &lt;&lt;255, 127, 254, 252&gt;&gt;}</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="url_decode64!/2">url_decode64!(string, opts \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/base.ex#L613" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec url_decode64!(binary(), ignore: :whitespace, padding: boolean()) :: binary()</pre> </div> <p>Decodes a base 64 encoded string with URL and filename safe alphabet into a binary string.</p>
<p>Accepts <code class="inline">ignore: :whitespace</code> option which will ignore all the whitespace characters in the input string.</p>
<p>Accepts <code class="inline">padding: false</code> option which will ignore padding from the input string.</p>
<p>An <a href="argumenterror"><code class="inline">ArgumentError</code></a> exception is raised if the padding is incorrect or a non-alphabet character is present in the string.</p>
<h4 id="url_decode64!/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Base.url_decode64!("_3_-_A==")
&lt;&lt;255, 127, 254, 252&gt;&gt;

iex&gt; Base.url_decode64!("_3_-_A==\n", ignore: :whitespace)
&lt;&lt;255, 127, 254, 252&gt;&gt;

iex&gt; Base.url_decode64!("_3_-_A", padding: false)
&lt;&lt;255, 127, 254, 252&gt;&gt;</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="url_encode64/2">url_encode64(data, opts \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/base.ex#L415" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec url_encode64(binary(), [{:padding, boolean()}]) :: binary()</pre> </div> <p>Encodes a binary string into a base 64 encoded string with URL and filename safe alphabet.</p>
<p>Accepts <code class="inline">padding: false</code> option which will omit padding from the output string.</p>
<h4 id="url_encode64/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Base.url_encode64(&lt;&lt;255, 127, 254, 252&gt;&gt;)
"_3_-_A=="

iex&gt; Base.url_encode64(&lt;&lt;255, 127, 254, 252&gt;&gt;, padding: false)
"_3_-_A"</pre> </section> </section> </div> </section> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/Base.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/Base.html</a>
  </p>
</div>
