<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/pages/getting-started/basic-types.md#L1" title="View Source" class="source" rel="help">Source</a> <span>Basic types</span> </h1> <p>In this chapter we will learn more about Elixir basic types: integers, floats, booleans, atoms, and strings. Other data types, such as lists and tuples, will be explored in the next chapter.</p>
<pre data-language="elixir">iex&gt; 1          # integer
iex&gt; 0x1F       # integer
iex&gt; 1.0        # float
iex&gt; true       # boolean
iex&gt; :atom      # atom / symbol
iex&gt; "elixir"   # string
iex&gt; [1, 2, 3]  # list
iex&gt; {1, 2, 3}  # tuple</pre>
<h2 id="basic-arithmetic" class="section-heading">  <span class="text">Basic arithmetic</span> </h2> <p>Open up <code class="inline">iex</code> and type the following expressions:</p>
<pre data-language="elixir">iex&gt; 1 + 2
3
iex&gt; 5 * 5
25
iex&gt; 10 / 2
5.0</pre>
<p>Notice that <code class="inline">10 / 2</code> returned a float <code class="inline">5.0</code> instead of an integer <code class="inline">5</code>. This is expected. In Elixir, the operator <code class="inline">/</code> always returns a float. If you want to do integer division or get the division remainder, you can invoke the <code class="inline">div</code> and <code class="inline">rem</code> functions:</p>
<pre data-language="elixir">iex&gt; div(10, 2)
5
iex&gt; div 10, 2
5
iex&gt; rem 10, 3
1</pre>
<p>Notice that Elixir allows you to drop the parentheses when invoking functions that expect one or more arguments. This feature gives a cleaner syntax when writing declarations and control-flow constructs. However, Elixir developers generally prefer to use parentheses.</p>
<p>Elixir also supports shortcut notations for entering binary, octal, and hexadecimal numbers:</p>
<pre data-language="elixir">iex&gt; 0b1010
10
iex&gt; 0o777
511
iex&gt; 0x1F
31</pre>
<p>Float numbers require a dot followed by at least one digit and also support <code class="inline">e</code> for scientific notation:</p>
<pre data-language="elixir">iex&gt; 1.0
1.0
iex&gt; 1.0e-10
1.0e-10</pre>
<p>Floats in Elixir are 64-bit precision.</p>
<p>You can invoke the <code class="inline">round</code> function to get the closest integer to a given float, or the <code class="inline">trunc</code> function to get the integer part of a float.</p>
<pre data-language="elixir">iex&gt; round(3.58)
4
iex&gt; trunc(3.58)
3</pre>
<p>Finally, we work with different data types, we will learn Elixir provides several predicate functions to check for the type of a value. For example, the <code class="inline">is_integer</code> can be used to check if a value is an integer or not:</p>
<pre data-language="elixir">iex&gt; is_integer(1)
true
iex&gt; is_integer(2.0)
false</pre>
<p>You can also use <code class="inline">is_float</code> or <code class="inline">is_number</code> to check, respectively, if an argument is a float, or either an integer or float.</p>
<h2 id="identifying-functions-and-documentation" class="section-heading">  <span class="text">Identifying functions and documentation</span> </h2> <p>Before we move on to the next data type, let's talk about how Elixir identifies functions.</p>
<p>Functions in Elixir are identified by both their name and their arity. The arity of a function describes the number of arguments that the function takes. From this point on we will use both the function name and its arity to describe functions throughout the documentation. <a href="kernel#trunc/1"><code class="inline">trunc/1</code></a> identifies the function which is named <code class="inline">trunc</code> and takes <code class="inline">1</code> argument, whereas <code class="inline">trunc/2</code> identifies a different (nonexistent) function with the same name but with an arity of <code class="inline">2</code>.</p>
<p>We can also use this syntax to access documentation. The Elixir shell defines the <code class="inline">h</code> function, which you can use to access documentation for any function. For example, typing <code class="inline">h trunc/1</code> is going to print the documentation for the <a href="kernel#trunc/1"><code class="inline">trunc/1</code></a> function:</p>
<pre data-language="elixir">iex&gt; h trunc/1
                             def trunc()

Returns the integer part of number.</pre>
<p><code class="inline">h trunc/1</code> works because it is defined in the <a href="kernel"><code class="inline">Kernel</code></a> module. All functions in the <a href="kernel"><code class="inline">Kernel</code></a> module are automatically imported into our namespace. Most often you will also include the module name when looking up the documentation for a given function:</p>
<pre data-language="elixir">iex&gt; h Kernel.trunc/1
                             def trunc()

Returns the integer part of number.</pre>
<p>You can use the module+function to lookup for anything, including operators (try <code class="inline">h Kernel.+/2</code>). Invoking <code class="inline">h</code> without arguments displays the documentation for <a href="https://hexdocs.pm/iex/IEx.Helpers.html"><code class="inline">IEx.Helpers</code></a>, which is where <code class="inline">h</code> and other functionality is defined.</p>
<h2 id="booleans-and-nil" class="section-heading">  <span class="text">Booleans and <code class="inline">nil</code></span> </h2> <p>Elixir supports <code class="inline">true</code> and <code class="inline">false</code> as booleans:</p>
<pre data-language="elixir">iex&gt; true
true
iex&gt; true == false
false</pre>
<p>Elixir also provides three boolean operators: <a href="kernel#or/2"><code class="inline">or/2</code></a>, <a href="kernel#and/2"><code class="inline">and/2</code></a>, and <a href="kernel#not/1"><code class="inline">not/1</code></a>. These operators are strict in the sense that they expect something that evaluates to a boolean (<code class="inline">true</code> or <code class="inline">false</code>) as their first argument:</p>
<pre data-language="elixir">iex&gt; true and true
true
iex&gt; false or is_boolean(true)
true</pre>
<p>Providing a non-boolean will raise an exception:</p>
<pre data-language="elixir">iex&gt; 1 and true
** (BadBooleanError) expected a boolean on left-side of "and", got: 1</pre>
<p><code class="inline">or</code> and <code class="inline">and</code> are short-circuit operators. They only execute the right side if the left side is not enough to determine the result:</p>
<pre data-language="elixir">iex&gt; false and raise("This error will never be raised")
false
iex&gt; true or raise("This error will never be raised")
true</pre>
<p>Elixir also provides the concept of <code class="inline">nil</code>, to indicate the absence of a value, and a set of logical operators that also manipulate <code class="inline">nil</code>: <a href="kernel#%7C%7C/2"><code class="inline">||/2</code></a>, <a href="kernel#&amp;&amp;/2"><code class="inline">&amp;&amp;/2</code></a>, and <a href="kernel#!/1"><code class="inline">!/1</code></a>. For these operators, <code class="inline">false</code> and <code class="inline">nil</code> are considered "falsy", all other values are considered "truthy":</p>
<pre data-language="elixir"># or
iex&gt; 1 || true
1
iex&gt; false || 11
11

# and
iex&gt; nil &amp;&amp; 13
nil
iex&gt; true &amp;&amp; 17
17

# not
iex&gt; !true
false
iex&gt; !1
false
iex&gt; !nil
true</pre>
<p>Similarly, values like <code class="inline">0</code> and <code class="inline">""</code>, which some other programming languages consider to be "falsy", are also "truthy" in Elixir.</p>
<h2 id="atoms" class="section-heading">  <span class="text">Atoms</span> </h2> <p>An atom is a constant whose value is its own name. Some other languages call these symbols. They are often useful to enumerate over distinct values, such as:</p>
<pre data-language="elixir">iex&gt; :apple
:apple
iex&gt; :orange
:orange
iex&gt; :watermelon
:watermelon</pre>
<p>Atoms are equal if their names are equal.</p>
<pre data-language="elixir">iex&gt; :apple == :apple
true
iex&gt; :apple == :orange
false</pre>
<p>Often they are used to express the state of an operation, by using values such as <code class="inline">:ok</code> and <code class="inline">:error</code>.</p>
<p>The booleans <code class="inline">true</code> and <code class="inline">false</code> are also atoms:</p>
<pre data-language="elixir">iex&gt; true == :true
true
iex&gt; is_atom(false)
true
iex&gt; is_boolean(:false)
true</pre>
<p>Elixir allows you to skip the leading <code class="inline">:</code> for the atoms <code class="inline">false</code>, <code class="inline">true</code> and <code class="inline">nil</code>.</p>
<h2 id="strings" class="section-heading">  <span class="text">Strings</span> </h2> <p>Strings in Elixir are delimited by double quotes, and they are encoded in UTF-8:</p>
<pre data-language="elixir">iex&gt; "hellö"
"hellö"</pre>
<blockquote><p>Note: if you are running on Windows, there is a chance your terminal does not use UTF-8 by default. You can change the encoding of your current session by running <code class="inline">chcp 65001</code> before entering IEx.</p></blockquote>
<p>You can concatenate two strings with the <a href="kernel#%3C%3E/2"><code class="inline">&lt;&gt;/2</code></a> operator:</p>
<pre data-language="elixir">iex&gt; "hello " &lt;&gt; "world!"
"hello world!"</pre>
<p>Elixir also supports string interpolation:</p>
<pre data-language="elixir">iex&gt; string = "world"
iex&gt; "hello #{string}!"
"hello world!"</pre>
<p>String concatenation requires both sides to be strings but interpolation supports any data type that may be converted to a string:</p>
<pre data-language="elixir">iex&gt; number = 42
iex&gt; "i am #{number} years old!"
"i am 42 years old!"</pre>
<p>Strings can have line breaks in them. You can introduce them using escape sequences:</p>
<pre data-language="elixir">iex&gt; "hello
...&gt; world"
"hello\nworld"
iex&gt; "hello\nworld"
"hello\nworld"</pre>
<p>You can print a string using the <a href="io#puts/1"><code class="inline">IO.puts/1</code></a> function from the <a href="io"><code class="inline">IO</code></a> module:</p>
<pre data-language="elixir">iex&gt; IO.puts("hello\nworld")
hello
world
:ok</pre>
<p>Notice that the <a href="io#puts/1"><code class="inline">IO.puts/1</code></a> function returns the atom <code class="inline">:ok</code> after printing.</p>
<p>Strings in Elixir are represented internally by contiguous sequences of bytes known as binaries:</p>
<pre data-language="elixir">iex&gt; is_binary("hellö")
true</pre>
<p>We can also get the number of bytes in a string:</p>
<pre data-language="elixir">iex&gt; byte_size("hellö")
6</pre>
<p>Notice that the number of bytes in that string is 6, even though it has 5 graphemes. That's because the grapheme "ö" takes 2 bytes to be represented in UTF-8. We can get the actual length of the string, based on the number of graphemes, by using the <a href="string#length/1"><code class="inline">String.length/1</code></a> function:</p>
<pre data-language="elixir">iex&gt; String.length("hellö")
5</pre>
<p>The <a href="string"><code class="inline">String</code></a> module contains a bunch of functions that operate on strings as defined in the Unicode standard:</p>
<pre data-language="elixir">iex&gt; String.upcase("hellö")
"HELLÖ"</pre>
<h2 id="structural-comparison" class="section-heading">  <span class="text">Structural comparison</span> </h2> <p>Elixir also provides <code class="inline">==</code>, <code class="inline">!=</code>, <code class="inline">&lt;=</code>, <code class="inline">&gt;=</code>, <code class="inline">&lt;</code> and <code class="inline">&gt;</code> as comparison operators. We can compare numbers:</p>
<pre data-language="elixir">iex&gt; 1 == 1
true
iex&gt; 1 != 2
true
iex&gt; 1 &lt; 2
true</pre>
<p>But also atoms, strings, booleans, etc:</p>
<pre data-language="elixir">iex&gt; "foo" == "foo"
true
iex&gt; "foo" == "bar"
false</pre>
<p>Integers and floats compare the same if they have the same value:</p>
<pre data-language="elixir">iex&gt; 1 == 1.0
true
iex&gt; 1 == 2.0
false</pre>
<p>However, you can use the strict comparison operator <code class="inline">===</code> and <code class="inline">!==</code> if you want to distinguish between integers and floats (that's the only difference between these operators):</p>
<pre data-language="elixir">iex&gt; 1 === 1.0
false</pre>
<p>The comparison operators in Elixir can compare across any data type. We say these operators perform <em>structural comparison</em>. For more information, you can read our documentation on <a href="kernel#module-structural-comparison">Structural vs Semantic comparisons</a>.</p>
<p>Elixir also provides data-types for expressing collections, such as lists and tuples, which we learn next. When we talk about concurrency and fault-tolerance via processes, we will also discuss ports, pids, and references, but that will come on later chapters. Let's move forward.</p> </div> <div class="bottom-actions" id="bottom-actions"> <div class="bottom-actions-item"> <a href="index" class="bottom-actions-button" rel="prev"> <span class="subheader"> ← Previous Page </span> <span class="title"> Introduction </span> </a> </div> <div class="bottom-actions-item"> <a href="lists-and-tuples" class="bottom-actions-button" rel="next"> <span class="subheader"> Next Page → </span> <span class="title"> Lists and tuples </span> </a> </div> </div> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/basic-types.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/basic-types.html</a>
  </p>
</div>
