<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/pages/getting-started/binaries-strings-and-charlists.md#L1" title="View Source" class="source" rel="help">Source</a> <span>Binaries, strings, and charlists</span> </h1> <p>In <a href="basic-types">"Basic types"</a>, we learned a bit about strings and we used the <a href="kernel#is_binary/1"><code class="inline">is_binary/1</code></a> function for checks:</p>
<pre data-language="elixir">iex&gt; string = "hello"
"hello"
iex&gt; is_binary(string)
true</pre>
<p>In this chapter, we will gain clarity on what exactly binaries are and how they relate to strings. We will also learn about charlists, <code class="inline">~c"like this"</code>, which are often used for interoperability with Erlang.</p>
<p>Although strings are one of the most common data types in computer languages, they are subtly complex and are often misunderstood. To understand strings in Elixir, let's first discuss <a href="https://en.wikipedia.org/wiki/Unicode">Unicode</a> and character encodings, specifically the <a href="https://en.wikipedia.org/wiki/UTF-8">UTF-8</a> encoding.</p>
<h2 id="unicode-and-code-points" class="section-heading">  <span class="text">Unicode and Code Points</span> </h2> <p>In order to facilitate meaningful communication between computers across multiple languages, a standard is required so that the ones and zeros on one machine mean the same thing when they are transmitted to another. The <a href="https://unicode.org/standard/standard.html">Unicode Standard</a> acts as an official registry of virtually all the characters we know: this includes characters from classical and historical texts, emoji, and formatting and control characters as well.</p>
<p>Unicode organizes all of the characters in its repertoire into code charts, and each character is given a unique numerical index. This numerical index is known as a <a href="https://en.wikipedia.org/wiki/Code_point">Code Point</a>.</p>
<p>In Elixir you can use a <code class="inline">?</code> in front of a character literal to reveal its code point:</p>
<pre data-language="elixir">iex&gt; ?a
97
iex&gt; ?ł
322</pre>
<p>Note that most Unicode code charts will refer to a code point by its hexadecimal (hex) representation, e.g. <code class="inline">97</code> translates to <code class="inline">0061</code> in hex, and we can represent any Unicode character in an Elixir string by using the <code class="inline">\uXXXX</code> notation and the hex representation of its code point number:</p>
<pre data-language="elixir">iex&gt; "\u0061" == "a"
true
iex&gt; 0x0061 = 97 = ?a
97</pre>
<p>The hex representation will also help you look up information about a code point, e.g. <a href="https://codepoints.net/U+0061">https://codepoints.net/U+0061</a> has a data sheet all about the lower case <code class="inline">a</code>, a.k.a. code point 97.</p>
<h2 id="utf-8-and-encodings" class="section-heading">  <span class="text">UTF-8 and Encodings</span> </h2> <p>Now that we understand what the Unicode standard is and what code points are, we can finally talk about encodings. Whereas the code point is <strong>what</strong> we store, an encoding deals with <strong>how</strong> we store it: encoding is an implementation. In other words, we need a mechanism to convert the code point numbers into bytes so they can be stored in memory, written to disk, etc.</p>
<p>Elixir uses UTF-8 to encode its strings, which means that code points are encoded as a series of 8-bit bytes. UTF-8 is a <strong>variable width</strong> character encoding that uses one to four bytes to store each code point. It is capable of encoding all valid Unicode code points. Let's see an example:</p>
<pre data-language="elixir">iex&gt; string = "héllo"
"héllo"
iex&gt; String.length(string)
5
iex&gt; byte_size(string)
6</pre>
<p>Although the string above has 5 characters, it uses 6 bytes, as two bytes are used to represent the character <code class="inline">é</code>.</p>
<blockquote><p>Note: if you are running on Windows, there is a chance your terminal does not use UTF-8 by default. You can change the encoding of your current session by running <code class="inline">chcp 65001</code> before entering <code class="inline">iex</code> (<code class="inline">iex.bat</code>).</p></blockquote>
<p>Besides defining characters, UTF-8 also provides a notion of graphemes. Graphemes may consist of multiple characters that are often perceived as one. For example, the <a href="https://emojipedia.org/woman-firefighter/">woman firefighter emoji</a> is represented as the combination of three characters: the woman emoji (👩), a hidden zero-width joiner, and the fire engine emoji (🚒):</p>
<pre data-language="elixir">iex&gt; String.codepoints("👩‍🚒")
["👩", "‍", "🚒"]
iex&gt; String.graphemes("👩‍🚒")
["👩‍🚒"]</pre>
<p>However, Elixir is smart enough to know they are seen as a single character, and therefore the length is still one:</p>
<pre data-language="elixir">iex&gt; String.length("👩‍🚒")
1</pre>
<blockquote><p>Note: if you can't see the emoji above in your terminal, you need to make sure your terminal supports emoji and that you are using a font that can render them.</p></blockquote>
<p>Although these rules may sound complicated, UTF-8 encoded documents are everywhere. This page itself is encoded in UTF-8. The encoding information is given to your browser which then knows how to render all of the bytes, characters, and graphemes accordingly.</p>
<p>If you want to see the exact bytes that a string would be stored in a file, a common trick is to concatenate the null byte <code class="inline">&lt;&lt;0&gt;&gt;</code> to it:</p>
<pre data-language="elixir">iex&gt; "hełło" &lt;&gt; &lt;&lt;0&gt;&gt;
&lt;&lt;104, 101, 197, 130, 197, 130, 111, 0&gt;&gt;</pre>
<p>Alternatively, you can view a string's binary representation by using <a href="io#inspect/2"><code class="inline">IO.inspect/2</code></a>:</p>
<pre data-language="elixir">iex&gt; IO.inspect("hełło", binaries: :as_binaries)
&lt;&lt;104, 101, 197, 130, 197, 130, 111&gt;&gt;</pre>
<p>We are getting a little bit ahead of ourselves. Let's talk about bitstrings to learn about what exactly the <code class="inline">&lt;&lt;&gt;&gt;</code> constructor means.</p>
<h2 id="bitstrings" class="section-heading">  <span class="text">Bitstrings</span> </h2> <p>Although we have covered code points and UTF-8 encoding, we still need to go a bit deeper into how exactly we store the encoded bytes, and this is where we introduce the <strong>bitstring</strong>. A bitstring is a fundamental data type in Elixir, denoted with the <a href="kernel.specialforms#%3C%3C%3E%3E/1"><code class="inline">&lt;&lt;&gt;&gt;</code></a> syntax. <strong>A bitstring is a contiguous sequence of bits in memory.</strong></p>
<p>By default, 8 bits (i.e. 1 byte) is used to store each number in a bitstring, but you can manually specify the number of bits via a <code class="inline">::n</code> modifier to denote the size in <code class="inline">n</code> bits, or you can use the more verbose declaration <code class="inline">::size(n)</code>:</p>
<pre data-language="elixir">iex&gt; &lt;&lt;42&gt;&gt; == &lt;&lt;42::8&gt;&gt;
true
iex&gt; &lt;&lt;3::4&gt;&gt;
&lt;&lt;3::size(4)&gt;&gt;</pre>
<p>For example, the decimal number <code class="inline">3</code> when represented with 4 bits in base 2 would be <code class="inline">0011</code>, which is equivalent to the values <code class="inline">0</code>, <code class="inline">0</code>, <code class="inline">1</code>, <code class="inline">1</code>, each stored using 1 bit:</p>
<pre data-language="elixir">iex&gt; &lt;&lt;0::1, 0::1, 1::1, 1::1&gt;&gt; == &lt;&lt;3::4&gt;&gt;
true</pre>
<p>Any value that exceeds what can be stored by the number of bits provisioned is truncated:</p>
<pre data-language="elixir">iex&gt; &lt;&lt;1&gt;&gt; == &lt;&lt;257&gt;&gt;
true</pre>
<p>Here, 257 in base 2 would be represented as <code class="inline">100000001</code>, but since we have reserved only 8 bits for its representation (by default), the left-most bit is ignored and the value becomes truncated to <code class="inline">00000001</code>, or simply <code class="inline">1</code> in decimal.</p>
<p>A complete reference for the bitstring constructor can be found in <a href="kernel.specialforms#%3C%3C%3E%3E/1"><code class="inline">&lt;&lt;&gt;&gt;</code></a>'s documentation.</p>
<h2 id="binaries" class="section-heading">  <span class="text">Binaries</span> </h2> <p><strong>A binary is a bitstring where the number of bits is divisible by 8.</strong> That means that every binary is a bitstring, but not every bitstring is a binary. We can use the <a href="kernel#is_bitstring/1"><code class="inline">is_bitstring/1</code></a> and <a href="kernel#is_binary/1"><code class="inline">is_binary/1</code></a> functions to demonstrate this.</p>
<pre data-language="elixir">iex&gt; is_bitstring(&lt;&lt;3::4&gt;&gt;)
true
iex&gt; is_binary(&lt;&lt;3::4&gt;&gt;)
false
iex&gt; is_bitstring(&lt;&lt;0, 255, 42&gt;&gt;)
true
iex&gt; is_binary(&lt;&lt;0, 255, 42&gt;&gt;)
true
iex&gt; is_binary(&lt;&lt;42::16&gt;&gt;)
true</pre>
<p>We can pattern match on binaries / bitstrings:</p>
<pre data-language="elixir">iex&gt; &lt;&lt;0, 1, x&gt;&gt; = &lt;&lt;0, 1, 2&gt;&gt;
&lt;&lt;0, 1, 2&gt;&gt;
iex&gt; x
2
iex&gt; &lt;&lt;0, 1, x&gt;&gt; = &lt;&lt;0, 1, 2, 3&gt;&gt;
** (MatchError) no match of right hand side value: &lt;&lt;0, 1, 2, 3&gt;&gt;</pre>
<p>Note that unless you explicitly use <code class="inline">::</code> modifiers, each entry in the binary pattern is expected to match a single byte (exactly 8 bits). If we want to match on a binary of unknown size, we can use the <code class="inline">binary</code> modifier at the end of the pattern:</p>
<pre data-language="elixir">iex&gt; &lt;&lt;0, 1, x::binary&gt;&gt; = &lt;&lt;0, 1, 2, 3&gt;&gt;
&lt;&lt;0, 1, 2, 3&gt;&gt;
iex&gt; x
&lt;&lt;2, 3&gt;&gt;</pre>
<p>There are a couple other modifiers that can be useful when doing pattern matches on binaries. The <code class="inline">binary-size(n)</code> modifier will match <code class="inline">n</code> bytes in a binary:</p>
<pre data-language="elixir">iex&gt; &lt;&lt;head::binary-size(2), rest::binary&gt;&gt; = &lt;&lt;0, 1, 2, 3&gt;&gt;
&lt;&lt;0, 1, 2, 3&gt;&gt;
iex&gt; head
&lt;&lt;0, 1&gt;&gt;
iex&gt; rest
&lt;&lt;2, 3&gt;&gt;</pre>
<p><strong>A string is a UTF-8 encoded binary</strong>, where the code point for each character is encoded using 1 to 4 bytes. Thus every string is a binary, but due to the UTF-8 standard encoding rules, not every binary is a valid string.</p>
<pre data-language="elixir">iex&gt; is_binary("hello")
true
iex&gt; is_binary(&lt;&lt;239, 191, 19&gt;&gt;)
true
iex&gt; String.valid?(&lt;&lt;239, 191, 19&gt;&gt;)
false</pre>
<p>The string concatenation operator <code class="inline">&lt;&gt;</code> is actually a binary concatenation operator:</p>
<pre data-language="elixir">iex&gt; "a" &lt;&gt; "ha"
"aha"
iex&gt; &lt;&lt;0, 1&gt;&gt; &lt;&gt; &lt;&lt;2, 3&gt;&gt;
&lt;&lt;0, 1, 2, 3&gt;&gt;</pre>
<p>Given that strings are binaries, we can also pattern match on strings:</p>
<pre data-language="elixir">iex&gt; &lt;&lt;head, rest::binary&gt;&gt; = "banana"
"banana"
iex&gt; head == ?b
true
iex&gt; rest
"anana"</pre>
<p>However, remember that binary pattern matching works on <em>bytes</em>, so matching on the string like "über" with multibyte characters won't match on the <em>character</em>, it will match on the <em>first byte of that character</em>:</p>
<pre data-language="elixir">iex&gt; "ü" &lt;&gt; &lt;&lt;0&gt;&gt;
&lt;&lt;195, 188, 0&gt;&gt;
iex&gt; &lt;&lt;x, rest::binary&gt;&gt; = "über"
"über"
iex&gt; x == ?ü
false
iex&gt; rest
&lt;&lt;188, 98, 101, 114&gt;&gt;</pre>
<p>Above, <code class="inline">x</code> matched on only the first byte of the multibyte <code class="inline">ü</code> character.</p>
<p>Therefore, when pattern matching on strings, it is important to use the <code class="inline">utf8</code> modifier:</p>
<pre data-language="elixir">iex&gt; &lt;&lt;x::utf8, rest::binary&gt;&gt; = "über"
"über"
iex&gt; x == ?ü
true
iex&gt; rest
"ber"</pre>
<h2 id="charlists" class="section-heading">  <span class="text">Charlists</span> </h2> <p>Our tour of our bitstrings, binaries, and strings is nearly complete, but we have one more data type to explain: the charlist.</p>
<p><strong>A charlist is a list of integers where all the integers are valid code points.</strong> In practice, you will not come across them often, only in specific scenarios such as interfacing with older Erlang libraries that do not accept binaries as arguments.</p>
<pre data-language="elixir">iex&gt; ~c"hello"
~c"hello"
iex&gt; [?h, ?e, ?l, ?l, ?o]
~c"hello"</pre>
<p>The <code class="inline">~c</code> sigil (we'll cover sigils later in the <a href="sigils">"Sigils"</a> chapter) indicates the fact that we are dealing with a charlist and not a regular string.</p>
<p>Instead of containing bytes, a charlist contains integer code points. However, the list is only printed as a sigil if all code points are within the ASCII range:</p>
<pre data-language="elixir">iex&gt; ~c"hełło"
[104, 101, 322, 322, 111]
iex&gt; is_list(~c"hełło")
true</pre>
<p>This is done to ease interoperability with Erlang, even though it may lead to some surprising behavior. For example, if you are storing a list of integers that happen to range between 0 and 127, by default IEx will interpret this as a charlist and it will display the corresponding ASCII characters.</p>
<pre data-language="elixir">iex&gt; heartbeats_per_minute = [99, 97, 116]
~c"cat"</pre>
<p>You can always force charlists to be printed in their list representation by calling the <a href="kernel#inspect/2"><code class="inline">inspect/2</code></a> function:</p>
<pre data-language="elixir">iex&gt; inspect(heartbeats_per_minute, charlists: :as_list)
"[99, 97, 116]"</pre>
<p>Furthermore, you can convert a charlist to a string and back by using the <a href="kernel#to_string/1"><code class="inline">to_string/1</code></a> and <a href="kernel#to_charlist/1"><code class="inline">to_charlist/1</code></a>:</p>
<pre data-language="elixir">iex&gt; to_charlist("hełło")
[104, 101, 322, 322, 111]
iex&gt; to_string(~c"hełło")
"hełło"
iex&gt; to_string(:hello)
"hello"
iex&gt; to_string(1)
"1"</pre>
<p>The functions above are polymorphic, in other words, they accept many shapes: not only do they convert charlists to strings (and vice-versa), they can also convert integers, atoms, and so on.</p>
<p>String (binary) concatenation uses the <code class="inline">&lt;&gt;</code> operator but charlists, being lists, use the list concatenation operator <code class="inline">++</code>:</p>
<pre data-language="elixir">iex&gt; ~c"this " &lt;&gt; ~c"fails"
** (ArgumentError) expected binary argument in &lt;&gt; operator but got: ~c"this "
    (elixir) lib/kernel.ex:1821: Kernel.wrap_concatenation/3
    (elixir) lib/kernel.ex:1808: Kernel.extract_concatenations/2
    (elixir) expanding macro: Kernel.&lt;&gt;/2
    iex:1: (file)
iex&gt; ~c"this " ++ ~c"works"
~c"this works"
iex&gt; "he" ++ "llo"
** (ArgumentError) argument error
    :erlang.++("he", "llo")
iex&gt; "he" &lt;&gt; "llo"
"hello"</pre>
<p>With binaries, strings, and charlists out of the way, it is time to talk about key-value data structures.</p> </div> <div class="bottom-actions" id="bottom-actions"> <div class="bottom-actions-item"> <a href="anonymous-functions" class="bottom-actions-button" rel="prev"> <span class="subheader"> ← Previous Page </span> <span class="title"> Anonymous functions </span> </a> </div> <div class="bottom-actions-item"> <a href="keywords-and-maps" class="bottom-actions-button" rel="next"> <span class="subheader"> Next Page → </span> <span class="title"> Keyword lists and maps </span> </a> </div> </div> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/binaries-strings-and-charlists.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/binaries-strings-and-charlists.html</a>
  </p>
</div>
