<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/bitwise.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">Bitwise</span>  </h1> <section id="moduledoc"> <p>A set of functions that perform calculations on bits.</p>
<p>All bitwise functions work only on integers, otherwise an <a href="arithmeticerror"><code class="inline">ArithmeticError</code></a> is raised. The functions <a href="#band/2"><code class="inline">band/2</code></a>, <a href="#bor/2"><code class="inline">bor/2</code></a>, <a href="#bsl/2"><code class="inline">bsl/2</code></a>, and <a href="#bsr/2"><code class="inline">bsr/2</code></a> also have operators, respectively: <a href="#&amp;&amp;&amp;/2"><code class="inline">&amp;&amp;&amp;/2</code></a>, <a href="#%7C%7C%7C/2"><code class="inline">|||/2</code></a>, <a href="#%3C%3C%3C/2"><code class="inline">&lt;&lt;&lt;/2</code></a>, and <a href="#%3E%3E%3E/2"><code class="inline">&gt;&gt;&gt;/2</code></a>.</p>
<h2 id="module-guards" class="section-heading">  <span class="text">Guards</span> </h2> <p>All bitwise functions can be used in guards:</p>
<pre data-language="elixir">iex&gt; odd? = fn
...&gt;   int when Bitwise.band(int, 1) == 1 -&gt; true
...&gt;   _ -&gt; false
...&gt; end
iex&gt; odd?.(1)
true</pre>
<p>All functions in this module are inlined by the compiler.</p> </section> </div> <section id="summary" class="details-list"> <h1 class="section-heading">  <span class="text">Summary</span> </h1> <h2> Guards </h2>
<dl class="summary-guards summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#&amp;&amp;&amp;/2" data-no-tooltip translate="no">left &amp;&amp;&amp; right</a> </dt> <dd class="summary-synopsis"><p>Bitwise AND operator.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#%3C%3C%3C/2" data-no-tooltip translate="no">left &lt;&lt;&lt; right</a> </dt> <dd class="summary-synopsis"><p>Arithmetic left bitshift operator.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#%3E%3E%3E/2" data-no-tooltip translate="no">left &gt;&gt;&gt; right</a> </dt> <dd class="summary-synopsis"><p>Arithmetic right bitshift operator.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#band/2" data-no-tooltip translate="no">band(left, right)</a> </dt> <dd class="summary-synopsis"><p>Calculates the bitwise AND of its arguments.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#bnot/1" data-no-tooltip translate="no">bnot(expr)</a> </dt> <dd class="summary-synopsis"><p>Calculates the bitwise NOT of the argument.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#bor/2" data-no-tooltip translate="no">bor(left, right)</a> </dt> <dd class="summary-synopsis"><p>Calculates the bitwise OR of its arguments.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#bsl/2" data-no-tooltip translate="no">bsl(left, right)</a> </dt> <dd class="summary-synopsis"><p>Calculates the result of an arithmetic left bitshift.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#bsr/2" data-no-tooltip translate="no">bsr(left, right)</a> </dt> <dd class="summary-synopsis"><p>Calculates the result of an arithmetic right bitshift.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#bxor/2" data-no-tooltip translate="no">bxor(left, right)</a> </dt> <dd class="summary-synopsis"><p>Calculates the bitwise XOR of its arguments.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#%7C%7C%7C/2" data-no-tooltip translate="no">left ||| right</a> </dt> <dd class="summary-synopsis"><p>Bitwise OR operator.</p></dd> </div> </dl> </section> <section id="guards" class="details-list"> <h1 class="section-heading">  <span class="text">Guards</span> </h1> <div class="guards-list"> <section class="detail"> <h3 class="detail-header" id="&amp;&amp;&amp;/2">left &amp;&amp;&amp; right<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/bitwise.ex#L101" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec integer() &amp;&amp;&amp; integer() :: integer()</pre> </div> <p>Bitwise AND operator.</p>
<p>Calculates the bitwise AND of its arguments.</p>
<p>Allowed in guard tests. Inlined by the compiler.</p>
<h4 id="&amp;&amp;&amp;/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; 9 &amp;&amp;&amp; 3
1</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="%3C%3C%3C/2">left &lt;&lt;&lt; right<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/bitwise.ex#L213" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec integer() &lt;&lt;&lt; integer() :: integer()</pre> </div> <p>Arithmetic left bitshift operator.</p>
<p>Calculates the result of an arithmetic left bitshift.</p>
<p>Allowed in guard tests. Inlined by the compiler.</p>
<h4 id="%3C%3C%3C/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; 1 &lt;&lt;&lt; 2
4

iex&gt; 1 &lt;&lt;&lt; -2
0

iex&gt; -1 &lt;&lt;&lt; 2
-4

iex&gt; -1 &lt;&lt;&lt; -2
-1</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="%3E%3E%3E/2">left &gt;&gt;&gt; right<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/bitwise.ex#L267" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec integer() &gt;&gt;&gt; integer() :: integer()</pre> </div> <p>Arithmetic right bitshift operator.</p>
<p>Calculates the result of an arithmetic right bitshift.</p>
<p>Allowed in guard tests. Inlined by the compiler.</p>
<h4 id="%3E%3E%3E/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; 1 &gt;&gt;&gt; 2
0

iex&gt; 1 &gt;&gt;&gt; -2
4

iex&gt; -1 &gt;&gt;&gt; 2
-1

iex&gt; -1 &gt;&gt;&gt; -2
-4</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="band/2">band(left, right)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/bitwise.ex#L82" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec band(integer(), integer()) :: integer()</pre> </div> <p>Calculates the bitwise AND of its arguments.</p>
<p>Allowed in guard tests. Inlined by the compiler.</p>
<h4 id="band/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; band(9, 3)
1</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="bnot/1">bnot(expr)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/bitwise.ex#L60" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec bnot(integer()) :: integer()</pre> </div> <p>Calculates the bitwise NOT of the argument.</p>
<p>Allowed in guard tests. Inlined by the compiler.</p>
<h4 id="bnot/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; bnot(2)
-3

iex&gt; bnot(2) &amp;&amp;&amp; 3
1</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="bor/2">bor(left, right)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/bitwise.ex#L118" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec bor(integer(), integer()) :: integer()</pre> </div> <p>Calculates the bitwise OR of its arguments.</p>
<p>Allowed in guard tests. Inlined by the compiler.</p>
<h4 id="bor/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; bor(9, 3)
11</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="bsl/2">bsl(left, right)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/bitwise.ex#L185" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec bsl(integer(), integer()) :: integer()</pre> </div> <p>Calculates the result of an arithmetic left bitshift.</p>
<p>Allowed in guard tests. Inlined by the compiler.</p>
<h4 id="bsl/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; bsl(1, 2)
4

iex&gt; bsl(1, -2)
0

iex&gt; bsl(-1, 2)
-4

iex&gt; bsl(-1, -2)
-1</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="bsr/2">bsr(left, right)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/bitwise.ex#L239" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec bsr(integer(), integer()) :: integer()</pre> </div> <p>Calculates the result of an arithmetic right bitshift.</p>
<p>Allowed in guard tests. Inlined by the compiler.</p>
<h4 id="bsr/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; bsr(1, 2)
0

iex&gt; bsr(1, -2)
4

iex&gt; bsr(-1, 2)
-1

iex&gt; bsr(-1, -2)
-4</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="bxor/2">bxor(left, right)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/bitwise.ex#L154" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec bxor(integer(), integer()) :: integer()</pre> </div> <p>Calculates the bitwise XOR of its arguments.</p>
<p>Allowed in guard tests. Inlined by the compiler.</p>
<h4 id="bxor/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; bxor(9, 3)
10</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="%7C%7C%7C/2">left ||| right<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/bitwise.ex#L137" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec integer() ||| integer() :: integer()</pre> </div> <p>Bitwise OR operator.</p>
<p>Calculates the bitwise OR of its arguments.</p>
<p>Allowed in guard tests. Inlined by the compiler.</p>
<h4 id="%7C%7C%7C/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; 9 ||| 3
11</pre> </section> </section> </div> </section> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/Bitwise.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/Bitwise.html</a>
  </p>
</div>
