<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/time_zone_database.ex#L76" title="View Source" class="source" rel="help">Source</a> <span translate="no">Calendar.UTCOnlyTimeZoneDatabase</span>  </h1> <section id="moduledoc"> <p>Built-in time zone database that works only in the <code class="inline">Etc/UTC</code> timezone.</p>
<p>For all other time zones, it returns <code class="inline">{:error, :utc_only_time_zone_database}</code>.</p> </section> </div> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/Calendar.UTCOnlyTimeZoneDatabase.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/Calendar.UTCOnlyTimeZoneDatabase.html</a>
  </p>
</div>
