<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/time_zone_database.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">Calendar.TimeZoneDatabase</span> <small>behaviour</small>  </h1> <section id="moduledoc"> <p>This module defines a behaviour for providing time zone data.</p>
<p>IANA provides time zone data that includes data about different UTC offsets and standard offsets for time zones.</p> </section> </div> <section id="summary" class="details-list"> <h1 class="section-heading">  <span class="text">Summary</span> </h1> <h2> Types </h2>
<dl class="summary-types summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#t:time_zone_period/0" data-no-tooltip translate="no">time_zone_period()</a> </dt> <dd class="summary-synopsis"><p>A period where a certain combination of UTC offset, standard offset, and zone abbreviation is in effect.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:time_zone_period_limit/0" data-no-tooltip translate="no">time_zone_period_limit()</a> </dt> <dd class="summary-synopsis"><p>Limit for when a certain time zone period begins or ends.</p></dd> </div> </dl> <h2> Callbacks </h2>
<dl class="summary-callbacks summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#c:time_zone_period_from_utc_iso_days/2" data-no-tooltip translate="no">time_zone_period_from_utc_iso_days(iso_days, time_zone)</a> </dt> <dd class="summary-synopsis"><p>Time zone period for a point in time in UTC for a specific time zone.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#c:time_zone_periods_from_wall_datetime/2" data-no-tooltip translate="no">time_zone_periods_from_wall_datetime(naive_datetime, time_zone)</a> </dt> <dd class="summary-synopsis"><p>Possible time zone periods for a certain time zone and wall clock date and time.</p></dd> </div> </dl> </section> <section id="types" class="details-list"> <h1 class="section-heading">  <span class="text">Types</span> </h1> <div class="types-list"> <section class="detail"> <h3 class="detail-header" id="t:time_zone_period/0">time_zone_period()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/time_zone_database.ex#L18" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type time_zone_period() :: %{
  optional(any()) =&gt; any(),
  utc_offset: Calendar.utc_offset(),
  std_offset: Calendar.std_offset(),
  zone_abbr: Calendar.zone_abbr()
}</pre> </div> <p>A period where a certain combination of UTC offset, standard offset, and zone abbreviation is in effect.</p>
<p>For example, one period could be the summer of 2018 in the <code class="inline">Europe/London</code> timezone, where summer time/daylight saving time is in effect and lasts from spring to autumn. In autumn, the <code class="inline">std_offset</code> changes along with the <code class="inline">zone_abbr</code> so a different period is needed during winter.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:time_zone_period_limit/0">time_zone_period_limit()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/time_zone_database.ex#L38" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type time_zone_period_limit() :: Calendar.naive_datetime()</pre> </div> <p>Limit for when a certain time zone period begins or ends.</p>
<p>A beginning is inclusive. An ending is exclusive. For example, if a period is from <code class="inline">2015-03-29 01:00:00</code> and until <code class="inline">2015-10-25 01:00:00</code>, the period includes and begins from the beginning of <code class="inline">2015-03-29 01:00:00</code> and lasts until just before <code class="inline">2015-10-25 01:00:00</code>.</p>
<p>A beginning or end for certain periods are infinite, such as the latest period for time zones without DST or plans to change. However, for the purpose of this behaviour, they are only used for gaps in wall time where the needed period limits are at a certain time.</p> </section> </section> </div> </section> <section id="callbacks" class="details-list"> <h1 class="section-heading">  <span class="text">Callbacks</span> </h1> <div class="callbacks-list"> <section class="detail"> <h3 class="detail-header" id="c:time_zone_period_from_utc_iso_days/2">time_zone_period_from_utc_iso_days(iso_days, time_zone)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/time_zone_database.ex#L47" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@callback time_zone_period_from_utc_iso_days(Calendar.iso_days(), Calendar.time_zone()) ::
  {:ok, time_zone_period()}
  | {:error, :time_zone_not_found | :utc_only_time_zone_database}</pre> </div> <p>Time zone period for a point in time in UTC for a specific time zone.</p>
<p>Takes a time zone name and a point in time for UTC and returns a <code class="inline">time_zone_period</code> for that point in time.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="c:time_zone_periods_from_wall_datetime/2">time_zone_periods_from_wall_datetime(naive_datetime, time_zone)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/time_zone_database.ex#L68" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@callback time_zone_periods_from_wall_datetime(
  Calendar.naive_datetime(),
  Calendar.time_zone()
) ::
  {:ok, time_zone_period()}
  | {:ambiguous, time_zone_period(), time_zone_period()}
  | {:gap, {time_zone_period(), time_zone_period_limit()},
     {time_zone_period(), time_zone_period_limit()}}
  | {:error, :time_zone_not_found | :utc_only_time_zone_database}</pre> </div> <p>Possible time zone periods for a certain time zone and wall clock date and time.</p>
<p>When the provided naive datetime is ambiguous, return a tuple with <code class="inline">:ambiguous</code> and the two possible periods. The periods in the tuple must be sorted with the first element being the one that begins first.</p>
<p>When the provided naive datetime is in a gap, such as during the "spring forward" when going from winter time to summer time, return a tuple with <code class="inline">:gap</code> and two periods with limits in a nested tuple. The first nested two-tuple is the period before the gap and a naive datetime with a limit for when the period ends (wall time). The second nested two-tuple is the period just after the gap and a datetime (wall time) for when the period begins just after the gap.</p>
<p>If there is only a single possible period for the provided <code class="inline">datetime</code>, then return a tuple with <code class="inline">:ok</code> and the <code class="inline">time_zone_period</code>.</p> </section> </section> </div> </section> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/Calendar.TimeZoneDatabase.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/Calendar.TimeZoneDatabase.html</a>
  </p>
</div>
