<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/iso.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">Calendar.ISO</span>  </h1> <section id="moduledoc"> <p>The default calendar implementation, a Gregorian calendar following ISO 8601.</p>
<p>This calendar implements a proleptic Gregorian calendar and is therefore compatible with the calendar used in most countries today. The proleptic means the Gregorian rules for leap years are applied for all time, consequently the dates give different results before the year 1583 from when the Gregorian calendar was adopted.</p>
<h2 id="module-iso-8601-compliance" class="section-heading">  <span class="text">ISO 8601 compliance</span> </h2> <p>The ISO 8601 specification is feature-rich, but allows applications to selectively implement most parts of it. The choices Elixir makes are catalogued below.</p>
<h3 id="module-features" class="section-heading">  <span class="text">Features</span> </h3> <p>The standard library supports a minimal set of possible ISO 8601 features. Specifically, the parser only supports calendar dates and does not support ordinal and week formats. Additionally, it supports parsing ISO 8601 formatted durations, including negative time units and fractional seconds.</p>
<p>By default Elixir only parses extended-formatted date/times. You can opt-in to parse basic-formatted date/times.</p>
<p><a href="naivedatetime#to_iso8601/2"><code class="inline">NaiveDateTime.to_iso8601/2</code></a> and <a href="datetime#to_iso8601/2"><code class="inline">DateTime.to_iso8601/2</code></a> allow you to produce either basic or extended formatted strings, and <a href="calendar#strftime/2"><code class="inline">Calendar.strftime/2</code></a> allows you to format datetimes however else you desire.</p>
<p>Elixir does not support reduced accuracy formats (for example, a date without the day component) nor decimal precisions in the lowest component (such as <code class="inline">10:01:25,5</code>).</p>
<h4>Examples</h4>
<p>Elixir expects the extended format by default when parsing:</p>
<pre data-language="elixir">iex&gt; Calendar.ISO.parse_naive_datetime("2015-01-23T23:50:07")
{:ok, {2015, 1, 23, 23, 50, 7, {0, 0}}}
iex&gt; Calendar.ISO.parse_naive_datetime("20150123T235007")
{:error, :invalid_format}</pre>
<p>Parsing can be restricted to basic if desired:</p>
<pre data-language="elixir">iex&gt; Calendar.ISO.parse_naive_datetime("20150123T235007Z", :basic)
{:ok, {2015, 1, 23, 23, 50, 7, {0, 0}}}
iex&gt; Calendar.ISO.parse_naive_datetime("20150123T235007Z", :extended)
{:error, :invalid_format}</pre>
<p>Only calendar dates are supported in parsing; ordinal and week dates are not.</p>
<pre data-language="elixir">iex&gt; Calendar.ISO.parse_date("2015-04-15")
{:ok, {2015, 4, 15}}
iex&gt; Calendar.ISO.parse_date("2015-105")
{:error, :invalid_format}
iex&gt; Calendar.ISO.parse_date("2015-W16")
{:error, :invalid_format}
iex&gt; Calendar.ISO.parse_date("2015-W016-3")
{:error, :invalid_format}</pre>
<p>Years, months, days, hours, minutes, and seconds must be fully specified:</p>
<pre data-language="elixir">iex&gt; Calendar.ISO.parse_date("2015-04-15")
{:ok, {2015, 4, 15}}
iex&gt; Calendar.ISO.parse_date("2015-04")
{:error, :invalid_format}
iex&gt; Calendar.ISO.parse_date("2015")
{:error, :invalid_format}

iex&gt; Calendar.ISO.parse_time("23:50:07.0123456")
{:ok, {23, 50, 7, {12345, 6}}}
iex&gt; Calendar.ISO.parse_time("23:50:07")
{:ok, {23, 50, 7, {0, 0}}}
iex&gt; Calendar.ISO.parse_time("23:50")
{:error, :invalid_format}
iex&gt; Calendar.ISO.parse_time("23")
{:error, :invalid_format}</pre>
<h3 id="module-extensions" class="section-heading">  <span class="text">Extensions</span> </h3> <p>The parser and formatter adopt one ISO 8601 extension: extended year notation.</p>
<p>This allows dates to be prefixed with a <code class="inline">+</code> or <code class="inline">-</code> sign, extending the range of expressible years from the default (<code class="inline">0000..9999</code>) to <code class="inline">-9999..9999</code>. Elixir still restricts years in this format to four digits.</p>
<h4>Examples</h4>
<pre data-language="elixir">iex&gt; Calendar.ISO.parse_date("-2015-01-23")
{:ok, {-2015, 1, 23}}
iex&gt; Calendar.ISO.parse_date("+2015-01-23")
{:ok, {2015, 1, 23}}

iex&gt; Calendar.ISO.parse_naive_datetime("-2015-01-23 23:50:07")
{:ok, {-2015, 1, 23, 23, 50, 7, {0, 0}}}
iex&gt; Calendar.ISO.parse_naive_datetime("+2015-01-23 23:50:07")
{:ok, {2015, 1, 23, 23, 50, 7, {0, 0}}}

iex&gt; Calendar.ISO.parse_utc_datetime("-2015-01-23 23:50:07Z")
{:ok, {-2015, 1, 23, 23, 50, 7, {0, 0}}, 0}
iex&gt; Calendar.ISO.parse_utc_datetime("+2015-01-23 23:50:07Z")
{:ok, {2015, 1, 23, 23, 50, 7, {0, 0}}, 0}</pre>
<h3 id="module-additions" class="section-heading">  <span class="text">Additions</span> </h3> <p>ISO 8601 does not allow a whitespace instead of <code class="inline">T</code> as a separator between date and times, both when parsing and formatting. This is a common enough representation, Elixir allows it during parsing.</p>
<p>The formatting of dates in <a href="naivedatetime#to_iso8601/1"><code class="inline">NaiveDateTime.to_iso8601/1</code></a> and <a href="datetime#to_iso8601/1"><code class="inline">DateTime.to_iso8601/1</code></a> do produce specification-compliant string representations using the <code class="inline">T</code> separator.</p>
<h4>Examples</h4>
<pre data-language="elixir">iex&gt; Calendar.ISO.parse_naive_datetime("2015-01-23 23:50:07.0123456")
{:ok, {2015, 1, 23, 23, 50, 7, {12345, 6}}}
iex&gt; Calendar.ISO.parse_naive_datetime("2015-01-23T23:50:07.0123456")
{:ok, {2015, 1, 23, 23, 50, 7, {12345, 6}}}

iex&gt; Calendar.ISO.parse_utc_datetime("2015-01-23 23:50:07.0123456Z")
{:ok, {2015, 1, 23, 23, 50, 7, {12345, 6}}, 0}
iex&gt; Calendar.ISO.parse_utc_datetime("2015-01-23T23:50:07.0123456Z")
{:ok, {2015, 1, 23, 23, 50, 7, {12345, 6}}, 0}</pre> </section> </div> <section id="summary" class="details-list"> <h1 class="section-heading">  <span class="text">Summary</span> </h1> <h2> Types </h2>
<dl class="summary-types summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#t:bce/0" data-no-tooltip translate="no">bce()</a> </dt> <dd class="summary-synopsis"><p>"Before the Current Era" or "Before the Common Era" (BCE), for those years less than <code class="inline">1</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:ce/0" data-no-tooltip translate="no">ce()</a> </dt> <dd class="summary-synopsis"><p>The "Current Era" or the "Common Era" (CE) which starts in year <code class="inline">1</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:day/0" data-no-tooltip translate="no">day()</a> </dt> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:day_of_week/0" data-no-tooltip translate="no">day_of_week()</a> </dt> <dd class="summary-synopsis"><p>Integer that represents the day of the week, where 1 is Monday and 7 is Sunday.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:day_of_year/0" data-no-tooltip translate="no">day_of_year()</a> </dt> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:era/0" data-no-tooltip translate="no">era()</a> </dt> <dd class="summary-synopsis"><p>The calendar era.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:format/0" data-no-tooltip translate="no">format()</a> </dt> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:hour/0" data-no-tooltip translate="no">hour()</a> </dt> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:microsecond/0" data-no-tooltip translate="no">microsecond()</a> </dt> <dd class="summary-synopsis"><p>Microseconds with stored precision.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:minute/0" data-no-tooltip translate="no">minute()</a> </dt> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:month/0" data-no-tooltip translate="no">month()</a> </dt> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:quarter_of_year/0" data-no-tooltip translate="no">quarter_of_year()</a> </dt> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:second/0" data-no-tooltip translate="no">second()</a> </dt> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:utc_offset/0" data-no-tooltip translate="no">utc_offset()</a> </dt> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:weekday/0" data-no-tooltip translate="no">weekday()</a> </dt> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:year/0" data-no-tooltip translate="no">year()</a> </dt> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:year_of_era/0" data-no-tooltip translate="no">year_of_era()</a> </dt> </div> </dl> <h2> Functions </h2>
<dl class="summary-functions summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#date_to_string/4" data-no-tooltip translate="no">date_to_string(year, month, day, format \\ :extended)</a> </dt> <dd class="summary-synopsis"><p>Converts the given date into a string.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#datetime_to_string/12" data-no-tooltip translate="no">datetime_to_string(year, month, day, hour, minute, second, microsecond, time_zone, zone_abbr, utc_offset, std_offset, format \\ :extended)</a> </dt> <dd class="summary-synopsis"><p>Converts the datetime (with time zone) into a string.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#day_of_era/3" data-no-tooltip translate="no">day_of_era(year, month, day)</a> </dt> <dd class="summary-synopsis"><p>Calculates the day and era from the given <code class="inline">year</code>, <code class="inline">month</code>, and <code class="inline">day</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#day_of_week/4" data-no-tooltip translate="no">day_of_week(year, month, day, starting_on)</a> </dt> <dd class="summary-synopsis"><p>Calculates the day of the week from the given <code class="inline">year</code>, <code class="inline">month</code>, and <code class="inline">day</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#day_of_year/3" data-no-tooltip translate="no">day_of_year(year, month, day)</a> </dt> <dd class="summary-synopsis"><p>Calculates the day of the year from the given <code class="inline">year</code>, <code class="inline">month</code>, and <code class="inline">day</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#day_rollover_relative_to_midnight_utc/0" data-no-tooltip translate="no">day_rollover_relative_to_midnight_utc()</a> </dt> <dd class="summary-synopsis"><p>See <a href="calendar#c:day_rollover_relative_to_midnight_utc/0"><code class="inline">Calendar.day_rollover_relative_to_midnight_utc/0</code></a> for documentation.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#days_in_month/2" data-no-tooltip translate="no">days_in_month(year, month)</a> </dt> <dd class="summary-synopsis"><p>Returns how many days there are in the given year-month.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#iso_days_to_beginning_of_day/1" data-no-tooltip translate="no">iso_days_to_beginning_of_day(arg)</a> </dt> <dd class="summary-synopsis"><p>Converts the <a href="calendar#t:iso_days/0"><code class="inline">Calendar.iso_days/0</code></a> to the first moment of the day.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#iso_days_to_end_of_day/1" data-no-tooltip translate="no">iso_days_to_end_of_day(arg)</a> </dt> <dd class="summary-synopsis"><p>Converts the <a href="calendar#t:iso_days/0"><code class="inline">Calendar.iso_days/0</code></a> to the last moment of the day.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#leap_year?/1" data-no-tooltip translate="no">leap_year?(year)</a> </dt> <dd class="summary-synopsis"><p>Returns if the given year is a leap year.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#months_in_year/1" data-no-tooltip translate="no">months_in_year(year)</a> </dt> <dd class="summary-synopsis"><p>Returns how many months there are in the given year.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#naive_datetime_from_iso_days/1" data-no-tooltip translate="no">naive_datetime_from_iso_days(arg)</a> </dt> <dd class="summary-synopsis"><p>Converts the <a href="calendar#t:iso_days/0"><code class="inline">Calendar.iso_days/0</code></a> format to the datetime format specified by this calendar.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#naive_datetime_to_iso_days/7" data-no-tooltip translate="no">naive_datetime_to_iso_days(year, month, day, hour, minute, second, microsecond)</a> </dt> <dd class="summary-synopsis"><p>Returns the <a href="calendar#t:iso_days/0"><code class="inline">Calendar.iso_days/0</code></a> format of the specified date.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#naive_datetime_to_string/8" data-no-tooltip translate="no">naive_datetime_to_string(year, month, day, hour, minute, second, microsecond, format \\ :extended)</a> </dt> <dd class="summary-synopsis"><p>Converts the datetime (without time zone) into a string.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#parse_date/1" data-no-tooltip translate="no">parse_date(string)</a> </dt> <dd class="summary-synopsis"><p>Parses a date <code class="inline">string</code> in the <code class="inline">:extended</code> format.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#parse_date/2" data-no-tooltip translate="no">parse_date(string, format)</a> </dt> <dd class="summary-synopsis"><p>Parses a date <code class="inline">string</code> according to a given <code class="inline">format</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#parse_duration/1" data-no-tooltip translate="no">parse_duration(arg1)</a> </dt> <dd class="summary-synopsis"><p>Parses an ISO 8601 formatted duration string to a list of <a href="duration"><code class="inline">Duration</code></a> compabitble unit pairs.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#parse_naive_datetime/1" data-no-tooltip translate="no">parse_naive_datetime(string)</a> </dt> <dd class="summary-synopsis"><p>Parses a naive datetime <code class="inline">string</code> in the <code class="inline">:extended</code> format.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#parse_naive_datetime/2" data-no-tooltip translate="no">parse_naive_datetime(string, format)</a> </dt> <dd class="summary-synopsis"><p>Parses a naive datetime <code class="inline">string</code> according to a given <code class="inline">format</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#parse_time/1" data-no-tooltip translate="no">parse_time(string)</a> </dt> <dd class="summary-synopsis"><p>Parses a time <code class="inline">string</code> in the <code class="inline">:extended</code> format.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#parse_time/2" data-no-tooltip translate="no">parse_time(string, format)</a> </dt> <dd class="summary-synopsis"><p>Parses a time <code class="inline">string</code> according to a given <code class="inline">format</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#parse_utc_datetime/1" data-no-tooltip translate="no">parse_utc_datetime(string)</a> </dt> <dd class="summary-synopsis"><p>Parses a UTC datetime <code class="inline">string</code> in the <code class="inline">:extended</code> format.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#parse_utc_datetime/2" data-no-tooltip translate="no">parse_utc_datetime(string, format)</a> </dt> <dd class="summary-synopsis"><p>Parses a UTC datetime <code class="inline">string</code> according to a given <code class="inline">format</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#quarter_of_year/3" data-no-tooltip translate="no">quarter_of_year(year, month, day)</a> </dt> <dd class="summary-synopsis"><p>Calculates the quarter of the year from the given <code class="inline">year</code>, <code class="inline">month</code>, and <code class="inline">day</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#shift_date/4" data-no-tooltip translate="no">shift_date(year, month, day, duration)</a> </dt> <dd class="summary-synopsis"><p>Shifts Date by Duration according to its calendar.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#shift_naive_datetime/8" data-no-tooltip translate="no">shift_naive_datetime(year, month, day, hour, minute, second, microsecond, duration)</a> </dt> <dd class="summary-synopsis"><p>Shifts NaiveDateTime by Duration according to its calendar.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#shift_time/5" data-no-tooltip translate="no">shift_time(hour, minute, second, microsecond, duration)</a> </dt> <dd class="summary-synopsis"><p>Shifts Time by Duration units according to its calendar.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#time_from_day_fraction/1" data-no-tooltip translate="no">time_from_day_fraction(arg)</a> </dt> <dd class="summary-synopsis"><p>Converts a day fraction to this Calendar's representation of time.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#time_to_day_fraction/4" data-no-tooltip translate="no">time_to_day_fraction(hour, minute, second, arg)</a> </dt> <dd class="summary-synopsis"><p>Returns the normalized day fraction of the specified time.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#time_to_string/5" data-no-tooltip translate="no">time_to_string(hour, minute, second, microsecond, format \\ :extended)</a> </dt> <dd class="summary-synopsis"><p>Converts the given time into a string.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#time_unit_to_precision/1" data-no-tooltip translate="no">time_unit_to_precision(int)</a> </dt> <dd class="summary-synopsis"><p>Converts a <a href="system#t:time_unit/0"><code class="inline">System.time_unit/0</code></a> to precision.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#valid_date?/3" data-no-tooltip translate="no">valid_date?(year, month, day)</a> </dt> <dd class="summary-synopsis"><p>Determines if the date given is valid according to the proleptic Gregorian calendar.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#valid_time?/4" data-no-tooltip translate="no">valid_time?(hour, minute, second, microsecond)</a> </dt> <dd class="summary-synopsis"><p>Determines if the date given is valid according to the proleptic Gregorian calendar.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#year_of_era/1" data-no-tooltip translate="no">year_of_era(year)</a> </dt> <dd class="summary-synopsis"><p>Calculates the year and era from the given <code class="inline">year</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#year_of_era/3" data-no-tooltip translate="no">year_of_era(year, month, day)</a> </dt> <dd class="summary-synopsis"><p>Calendar callback to compute the year and era from the given <code class="inline">year</code>, <code class="inline">month</code> and <code class="inline">day</code>.</p></dd> </div> </dl> </section> <section id="types" class="details-list"> <h1 class="section-heading">  <span class="text">Types</span> </h1> <div class="types-list"> <section class="detail"> <h3 class="detail-header" id="t:bce/0">bce()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/iso.ex#L140" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type bce() :: 0</pre> </div> <p>"Before the Current Era" or "Before the Common Era" (BCE), for those years less than <code class="inline">1</code>.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:ce/0">ce()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/iso.ex#L145" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type ce() :: 1</pre> </div> <p>The "Current Era" or the "Common Era" (CE) which starts in year <code class="inline">1</code>.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:day/0">day()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/iso.ex#L157" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type day() :: 1..31</pre> </div> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:day_of_week/0">day_of_week()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/iso.ex#L177" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type day_of_week() :: 1..7</pre> </div> <p>Integer that represents the day of the week, where 1 is Monday and 7 is Sunday.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:day_of_year/0">day_of_year()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/iso.ex#L179" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type day_of_year() :: 1..366</pre> </div> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:era/0">era()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/iso.ex#L154" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type era() :: bce() | ce()</pre> </div> <p>The calendar era.</p>
<p>The ISO calendar has two eras:</p>
<ul>
<li>
<a href="#t:ce/0">CE</a> - which starts in year <code class="inline">1</code> and is defined as era <code class="inline">1</code>.</li>
<li>
<a href="#t:bce/0">BCE</a> - for those years less than <code class="inline">1</code> and is defined as era <code class="inline">0</code>.</li>
</ul> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:format/0">format()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/iso.ex#L163" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type format() :: :basic | :extended</pre> </div> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:hour/0">hour()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/iso.ex#L158" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type hour() :: 0..23</pre> </div> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:microsecond/0">microsecond()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/iso.ex#L172" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type microsecond() :: {0..999_999, 0..6}</pre> </div> <p>Microseconds with stored precision.</p>
<p>The precision represents the number of digits that must be used when representing the microseconds to external format. If the precision is 0, it means microseconds must be skipped.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:minute/0">minute()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/iso.ex#L159" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type minute() :: 0..59</pre> </div> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:month/0">month()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/iso.ex#L156" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type month() :: 1..12</pre> </div> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:quarter_of_year/0">quarter_of_year()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/iso.ex#L180" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type quarter_of_year() :: 1..4</pre> </div> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:second/0">second()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/iso.ex#L160" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type second() :: 0..59</pre> </div> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:utc_offset/0">utc_offset()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/iso.ex#L162" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type utc_offset() :: integer()</pre> </div> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:weekday/0">weekday()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/iso.ex#L161" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type weekday() ::
  :monday | :tuesday | :wednesday | :thursday | :friday | :saturday | :sunday</pre> </div> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:year/0">year()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/iso.ex#L155" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type year() :: -9999..9999</pre> </div> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:year_of_era/0">year_of_era()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/iso.ex#L181" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type year_of_era() :: {1..10000, era()}</pre> </div> </section> </section> </div> </section> <section id="functions" class="details-list"> <h1 class="section-heading">  <span class="text">Functions</span> </h1> <div class="functions-list"> <section class="detail">  <h3 class="detail-header" id="date_to_string/4">date_to_string(year, month, day, format \\ :extended)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/iso.ex#L1268" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec date_to_string(year(), month(), day(), :basic | :extended) :: String.t()</pre> </div> <p>Converts the given date into a string.</p>
<p>By default, returns dates formatted in the "extended" format, for human readability. It also supports the "basic" format by passing the <code class="inline">:basic</code> option.</p>
<h4 id="date_to_string/4-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Calendar.ISO.date_to_string(2015, 2, 28)
"2015-02-28"
iex&gt; Calendar.ISO.date_to_string(2017, 8, 1)
"2017-08-01"
iex&gt; Calendar.ISO.date_to_string(-99, 1, 31)
"-0099-01-31"

iex&gt; Calendar.ISO.date_to_string(2015, 2, 28, :basic)
"20150228"
iex&gt; Calendar.ISO.date_to_string(-99, 1, 31, :basic)
"-00990131"</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="datetime_to_string/12">datetime_to_string(year, month, day, hour, minute, second, microsecond, time_zone, zone_abbr, utc_offset, std_offset, format \\ :extended)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/iso.ex#L1376" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec datetime_to_string(
  year(),
  month(),
  day(),
  Calendar.hour(),
  Calendar.minute(),
  Calendar.second(),
  Calendar.microsecond(),
  Calendar.time_zone(),
  Calendar.zone_abbr(),
  Calendar.utc_offset(),
  Calendar.std_offset(),
  :basic | :extended
) :: String.t()</pre> </div> <p>Converts the datetime (with time zone) into a string.</p>
<p>By default, returns datetimes formatted in the "extended" format, for human readability. It also supports the "basic" format by passing the <code class="inline">:basic</code> option.</p>
<h4 id="datetime_to_string/12-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; time_zone = "Etc/UTC"
iex&gt; Calendar.ISO.datetime_to_string(2017, 8, 1, 1, 2, 3, {4, 5}, time_zone, "UTC", 0, 0)
"2017-08-01 01:02:03.00000Z"
iex&gt; Calendar.ISO.datetime_to_string(2017, 8, 1, 1, 2, 3, {4, 5}, time_zone, "UTC", 3600, 0)
"2017-08-01 01:02:03.00000+01:00"
iex&gt; Calendar.ISO.datetime_to_string(2017, 8, 1, 1, 2, 3, {4, 5}, time_zone, "UTC", 3600, 3600)
"2017-08-01 01:02:03.00000+02:00"

iex&gt; time_zone = "Europe/Berlin"
iex&gt; Calendar.ISO.datetime_to_string(2017, 8, 1, 1, 2, 3, {4, 5}, time_zone, "CET", 3600, 0)
"2017-08-01 01:02:03.00000+01:00 CET Europe/Berlin"
iex&gt; Calendar.ISO.datetime_to_string(2017, 8, 1, 1, 2, 3, {4, 5}, time_zone, "CDT", 3600, 3600)
"2017-08-01 01:02:03.00000+02:00 CDT Europe/Berlin"

iex&gt; time_zone = "America/Los_Angeles"
iex&gt; Calendar.ISO.datetime_to_string(2015, 2, 28, 1, 2, 3, {4, 5}, time_zone, "PST", -28800, 0)
"2015-02-28 01:02:03.00000-08:00 PST America/Los_Angeles"
iex&gt; Calendar.ISO.datetime_to_string(2015, 2, 28, 1, 2, 3, {4, 5}, time_zone, "PDT", -28800, 3600)
"2015-02-28 01:02:03.00000-07:00 PDT America/Los_Angeles"

iex&gt; time_zone = "Europe/Berlin"
iex&gt; Calendar.ISO.datetime_to_string(2017, 8, 1, 1, 2, 3, {4, 5}, time_zone, "CET", 3600, 0, :basic)
"20170801 010203.00000+0100 CET Europe/Berlin"</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="day_of_era/3">day_of_era(year, month, day)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/iso.ex#L1173" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec day_of_era(year(), month(), day()) :: Calendar.day_of_era()</pre> </div> <p>Calculates the day and era from the given <code class="inline">year</code>, <code class="inline">month</code>, and <code class="inline">day</code>.</p>
<h4 id="day_of_era/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Calendar.ISO.day_of_era(0, 1, 1)
{366, 0}
iex&gt; Calendar.ISO.day_of_era(1, 1, 1)
{1, 1}
iex&gt; Calendar.ISO.day_of_era(0, 12, 31)
{1, 0}
iex&gt; Calendar.ISO.day_of_era(0, 12, 30)
{2, 0}
iex&gt; Calendar.ISO.day_of_era(-1, 12, 31)
{367, 0}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="day_of_week/4">day_of_week(year, month, day, starting_on)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/iso.ex#L1037" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec day_of_week(year(), month(), day(), :default | weekday()) ::
  {day_of_week(), 1, 7}</pre> </div> <p>Calculates the day of the week from the given <code class="inline">year</code>, <code class="inline">month</code>, and <code class="inline">day</code>.</p>
<p>It is an integer from 1 to 7, where 1 is the given <code class="inline">starting_on</code> weekday. For example, if <code class="inline">starting_on</code> is set to <code class="inline">:monday</code>, then 1 is Monday and 7 is Sunday.</p>
<p><code class="inline">starting_on</code> can also be <code class="inline">:default</code>, which is equivalent to <code class="inline">:monday</code>.</p>
<h4 id="day_of_week/4-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Calendar.ISO.day_of_week(2016, 10, 31, :monday)
{1, 1, 7}
iex&gt; Calendar.ISO.day_of_week(2016, 11, 1, :monday)
{2, 1, 7}
iex&gt; Calendar.ISO.day_of_week(2016, 11, 2, :monday)
{3, 1, 7}
iex&gt; Calendar.ISO.day_of_week(2016, 11, 3, :monday)
{4, 1, 7}
iex&gt; Calendar.ISO.day_of_week(2016, 11, 4, :monday)
{5, 1, 7}
iex&gt; Calendar.ISO.day_of_week(2016, 11, 5, :monday)
{6, 1, 7}
iex&gt; Calendar.ISO.day_of_week(2016, 11, 6, :monday)
{7, 1, 7}
iex&gt; Calendar.ISO.day_of_week(-99, 1, 31, :monday)
{4, 1, 7}

iex&gt; Calendar.ISO.day_of_week(2016, 10, 31, :sunday)
{2, 1, 7}
iex&gt; Calendar.ISO.day_of_week(2016, 11, 1, :sunday)
{3, 1, 7}
iex&gt; Calendar.ISO.day_of_week(2016, 11, 2, :sunday)
{4, 1, 7}
iex&gt; Calendar.ISO.day_of_week(2016, 11, 3, :sunday)
{5, 1, 7}
iex&gt; Calendar.ISO.day_of_week(2016, 11, 4, :sunday)
{6, 1, 7}
iex&gt; Calendar.ISO.day_of_week(2016, 11, 5, :sunday)
{7, 1, 7}
iex&gt; Calendar.ISO.day_of_week(2016, 11, 6, :sunday)
{1, 1, 7}
iex&gt; Calendar.ISO.day_of_week(-99, 1, 31, :sunday)
{5, 1, 7}

iex&gt; Calendar.ISO.day_of_week(2016, 10, 31, :saturday)
{3, 1, 7}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="day_of_year/3">day_of_year(year, month, day)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/iso.ex#L1074" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec day_of_year(year(), month(), day()) :: day_of_year()</pre> </div> <p>Calculates the day of the year from the given <code class="inline">year</code>, <code class="inline">month</code>, and <code class="inline">day</code>.</p>
<p>It is an integer from 1 to 366.</p>
<h4 id="day_of_year/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Calendar.ISO.day_of_year(2016, 1, 31)
31
iex&gt; Calendar.ISO.day_of_year(-99, 2, 1)
32
iex&gt; Calendar.ISO.day_of_year(2018, 2, 28)
59</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="day_rollover_relative_to_midnight_utc/0">day_rollover_relative_to_midnight_utc()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/iso.ex#L1476" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec day_rollover_relative_to_midnight_utc() :: {0, 1}</pre> </div> <p>See <a href="calendar#c:day_rollover_relative_to_midnight_utc/0"><code class="inline">Calendar.day_rollover_relative_to_midnight_utc/0</code></a> for documentation.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="days_in_month/2">days_in_month(year, month)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/iso.ex#L928" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec days_in_month(year(), month()) :: 28..31</pre> </div> <p>Returns how many days there are in the given year-month.</p>
<h4 id="days_in_month/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Calendar.ISO.days_in_month(1900, 1)
31
iex&gt; Calendar.ISO.days_in_month(1900, 2)
28
iex&gt; Calendar.ISO.days_in_month(2000, 2)
29
iex&gt; Calendar.ISO.days_in_month(2001, 2)
28
iex&gt; Calendar.ISO.days_in_month(2004, 2)
29
iex&gt; Calendar.ISO.days_in_month(2004, 4)
30
iex&gt; Calendar.ISO.days_in_month(-1, 5)
31</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="iso_days_to_beginning_of_day/1">iso_days_to_beginning_of_day(arg)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/iso.ex#L1508" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec iso_days_to_beginning_of_day(Calendar.iso_days()) :: Calendar.iso_days()</pre> </div> <p>Converts the <a href="calendar#t:iso_days/0"><code class="inline">Calendar.iso_days/0</code></a> to the first moment of the day.</p>
<h4 id="iso_days_to_beginning_of_day/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Calendar.ISO.iso_days_to_beginning_of_day({0, {0, 86400000000}})
{0, {0, 86400000000}}
iex&gt; Calendar.ISO.iso_days_to_beginning_of_day({730485, {43200000000, 86400000000}})
{730485, {0, 86400000000}}
iex&gt; Calendar.ISO.iso_days_to_beginning_of_day({730485, {46800000000, 86400000000}})
{730485, {0, 86400000000}}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="iso_days_to_end_of_day/1">iso_days_to_end_of_day(arg)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/iso.ex#L1528" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec iso_days_to_end_of_day(Calendar.iso_days()) :: Calendar.iso_days()</pre> </div> <p>Converts the <a href="calendar#t:iso_days/0"><code class="inline">Calendar.iso_days/0</code></a> to the last moment of the day.</p>
<h4 id="iso_days_to_end_of_day/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Calendar.ISO.iso_days_to_end_of_day({0, {0, 86400000000}})
{0, {86399999999, 86400000000}}
iex&gt; Calendar.ISO.iso_days_to_end_of_day({730485, {43200000000, 86400000000}})
{730485, {86399999999, 86400000000}}
iex&gt; Calendar.ISO.iso_days_to_end_of_day({730485, {46800000000, 86400000000}})
{730485, {86399999999, 86400000000}}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="leap_year?/1">leap_year?(year)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/iso.ex#L975" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec leap_year?(year()) :: boolean()</pre> </div> <p>Returns if the given year is a leap year.</p>
<h4 id="leap_year?/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Calendar.ISO.leap_year?(2000)
true
iex&gt; Calendar.ISO.leap_year?(2001)
false
iex&gt; Calendar.ISO.leap_year?(2004)
true
iex&gt; Calendar.ISO.leap_year?(1900)
false
iex&gt; Calendar.ISO.leap_year?(-4)
true</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="months_in_year/1">months_in_year(year)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/iso.ex#L951" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec months_in_year(year()) :: 12</pre> </div> <p>Returns how many months there are in the given year.</p>
<h4 id="months_in_year/1-example" class="section-heading">  <span class="text">Example</span> </h4> <pre data-language="elixir">iex&gt; Calendar.ISO.months_in_year(2004)
12</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="naive_datetime_from_iso_days/1">naive_datetime_from_iso_days(arg)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/iso.ex#L796" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec naive_datetime_from_iso_days(Calendar.iso_days()) ::
  {Calendar.year(), Calendar.month(), Calendar.day(), Calendar.hour(),
   Calendar.minute(), Calendar.second(), Calendar.microsecond()}</pre> </div> <p>Converts the <a href="calendar#t:iso_days/0"><code class="inline">Calendar.iso_days/0</code></a> format to the datetime format specified by this calendar.</p>
<h4 id="naive_datetime_from_iso_days/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Calendar.ISO.naive_datetime_from_iso_days({0, {0, 86400}})
{0, 1, 1, 0, 0, 0, {0, 6}}
iex&gt; Calendar.ISO.naive_datetime_from_iso_days({730_485, {0, 86400}})
{2000, 1, 1, 0, 0, 0, {0, 6}}
iex&gt; Calendar.ISO.naive_datetime_from_iso_days({730_485, {43200, 86400}})
{2000, 1, 1, 12, 0, 0, {0, 6}}
iex&gt; Calendar.ISO.naive_datetime_from_iso_days({-365, {0, 86400000000}})
{-1, 1, 1, 0, 0, 0, {0, 6}}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="naive_datetime_to_iso_days/7">naive_datetime_to_iso_days(year, month, day, hour, minute, second, microsecond)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/iso.ex#L766" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec naive_datetime_to_iso_days(
  Calendar.year(),
  Calendar.month(),
  Calendar.day(),
  Calendar.hour(),
  Calendar.minute(),
  Calendar.second(),
  Calendar.microsecond()
) :: Calendar.iso_days()</pre> </div> <p>Returns the <a href="calendar#t:iso_days/0"><code class="inline">Calendar.iso_days/0</code></a> format of the specified date.</p>
<h4 id="naive_datetime_to_iso_days/7-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Calendar.ISO.naive_datetime_to_iso_days(0, 1, 1, 0, 0, 0, {0, 6})
{0, {0, 86400000000}}
iex&gt; Calendar.ISO.naive_datetime_to_iso_days(2000, 1, 1, 12, 0, 0, {0, 6})
{730485, {43200000000, 86400000000}}
iex&gt; Calendar.ISO.naive_datetime_to_iso_days(2000, 1, 1, 13, 0, 0, {0, 6})
{730485, {46800000000, 86400000000}}
iex&gt; Calendar.ISO.naive_datetime_to_iso_days(-1, 1, 1, 0, 0, 0, {0, 6})
{-365, {0, 86400000000}}</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="naive_datetime_to_string/8">naive_datetime_to_string(year, month, day, hour, minute, second, microsecond, format \\ :extended)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/iso.ex#L1312" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec naive_datetime_to_string(
  year(),
  month(),
  day(),
  Calendar.hour(),
  Calendar.minute(),
  Calendar.second(),
  Calendar.microsecond(),
  :basic | :extended
) :: String.t()</pre> </div> <p>Converts the datetime (without time zone) into a string.</p>
<p>By default, returns datetimes formatted in the "extended" format, for human readability. It also supports the "basic" format by passing the <code class="inline">:basic</code> option.</p>
<h4 id="naive_datetime_to_string/8-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Calendar.ISO.naive_datetime_to_string(2015, 2, 28, 1, 2, 3, {4, 6})
"2015-02-28 01:02:03.000004"
iex&gt; Calendar.ISO.naive_datetime_to_string(2017, 8, 1, 1, 2, 3, {4, 5})
"2017-08-01 01:02:03.00000"

iex&gt; Calendar.ISO.naive_datetime_to_string(2015, 2, 28, 1, 2, 3, {4, 6}, :basic)
"20150228 010203.000004"</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="parse_date/1">parse_date(string)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/iso.ex#L379" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec parse_date(String.t()) :: {:ok, {year(), month(), day()}} | {:error, atom()}</pre> </div> <p>Parses a date <code class="inline">string</code> in the <code class="inline">:extended</code> format.</p>
<p>For more information on supported strings, see how this module implements <a href="#module-iso-8601-compliance">ISO 8601</a>.</p>
<h4 id="parse_date/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Calendar.ISO.parse_date("2015-01-23")
{:ok, {2015, 1, 23}}

iex&gt; Calendar.ISO.parse_date("2015:01:23")
{:error, :invalid_format}
iex&gt; Calendar.ISO.parse_date("2015-01-32")
{:error, :invalid_date}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="parse_date/2">parse_date(string, format)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/iso.ex#L402" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec parse_date(String.t(), format()) ::
  {:ok, {year(), month(), day()}} | {:error, atom()}</pre> </div> <p>Parses a date <code class="inline">string</code> according to a given <code class="inline">format</code>.</p>
<p>The <code class="inline">format</code> can either be <code class="inline">:basic</code> or <code class="inline">:extended</code>.</p>
<p>For more information on supported strings, see how this module implements <a href="#module-iso-8601-compliance">ISO 8601</a>.</p>
<h4 id="parse_date/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Calendar.ISO.parse_date("20150123", :basic)
{:ok, {2015, 1, 23}}
iex&gt; Calendar.ISO.parse_date("20150123", :extended)
{:error, :invalid_format}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="parse_duration/1">parse_duration(arg1)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/iso.ex#L674" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec parse_duration(String.t()) :: {:ok, [Duration.unit_pair()]} | {:error, atom()}</pre> </div> <p>Parses an ISO 8601 formatted duration string to a list of <a href="duration"><code class="inline">Duration</code></a> compabitble unit pairs.</p>
<p>See <a href="duration#from_iso8601/1"><code class="inline">Duration.from_iso8601/1</code></a>.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="parse_naive_datetime/1">parse_naive_datetime(string)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/iso.ex#L464" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec parse_naive_datetime(String.t()) ::
  {:ok, {year(), month(), day(), hour(), minute(), second(), microsecond()}}
  | {:error, atom()}</pre> </div> <p>Parses a naive datetime <code class="inline">string</code> in the <code class="inline">:extended</code> format.</p>
<p>For more information on supported strings, see how this module implements <a href="#module-iso-8601-compliance">ISO 8601</a>.</p>
<h4 id="parse_naive_datetime/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Calendar.ISO.parse_naive_datetime("2015-01-23 23:50:07")
{:ok, {2015, 1, 23, 23, 50, 7, {0, 0}}}
iex&gt; Calendar.ISO.parse_naive_datetime("2015-01-23 23:50:07Z")
{:ok, {2015, 1, 23, 23, 50, 7, {0, 0}}}
iex&gt; Calendar.ISO.parse_naive_datetime("2015-01-23 23:50:07-02:30")
{:ok, {2015, 1, 23, 23, 50, 7, {0, 0}}}

iex&gt; Calendar.ISO.parse_naive_datetime("2015-01-23 23:50:07.0")
{:ok, {2015, 1, 23, 23, 50, 7, {0, 1}}}
iex&gt; Calendar.ISO.parse_naive_datetime("2015-01-23 23:50:07,0123456")
{:ok, {2015, 1, 23, 23, 50, 7, {12345, 6}}}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="parse_naive_datetime/2">parse_naive_datetime(string, format)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/iso.ex#L487" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec parse_naive_datetime(String.t(), format()) ::
  {:ok, {year(), month(), day(), hour(), minute(), second(), microsecond()}}
  | {:error, atom()}</pre> </div> <p>Parses a naive datetime <code class="inline">string</code> according to a given <code class="inline">format</code>.</p>
<p>The <code class="inline">format</code> can either be <code class="inline">:basic</code> or <code class="inline">:extended</code>.</p>
<p>For more information on supported strings, see how this module implements <a href="#module-iso-8601-compliance">ISO 8601</a>.</p>
<h4 id="parse_naive_datetime/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Calendar.ISO.parse_naive_datetime("20150123 235007", :basic)
{:ok, {2015, 1, 23, 23, 50, 7, {0, 0}}}
iex&gt; Calendar.ISO.parse_naive_datetime("20150123 235007", :extended)
{:error, :invalid_format}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="parse_time/1">parse_time(string)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/iso.ex#L298" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec parse_time(String.t()) ::
  {:ok, {hour(), minute(), second(), microsecond()}} | {:error, atom()}</pre> </div> <p>Parses a time <code class="inline">string</code> in the <code class="inline">:extended</code> format.</p>
<p>For more information on supported strings, see how this module implements <a href="#module-iso-8601-compliance">ISO 8601</a>.</p>
<h4 id="parse_time/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Calendar.ISO.parse_time("23:50:07")
{:ok, {23, 50, 7, {0, 0}}}

iex&gt; Calendar.ISO.parse_time("23:50:07Z")
{:ok, {23, 50, 7, {0, 0}}}
iex&gt; Calendar.ISO.parse_time("T23:50:07Z")
{:ok, {23, 50, 7, {0, 0}}}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="parse_time/2">parse_time(string, format)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/iso.ex#L321" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec parse_time(String.t(), format()) ::
  {:ok, {hour(), minute(), second(), microsecond()}} | {:error, atom()}</pre> </div> <p>Parses a time <code class="inline">string</code> according to a given <code class="inline">format</code>.</p>
<p>The <code class="inline">format</code> can either be <code class="inline">:basic</code> or <code class="inline">:extended</code>.</p>
<p>For more information on supported strings, see how this module implements <a href="#module-iso-8601-compliance">ISO 8601</a>.</p>
<h4 id="parse_time/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Calendar.ISO.parse_time("235007", :basic)
{:ok, {23, 50, 7, {0, 0}}}
iex&gt; Calendar.ISO.parse_time("235007", :extended)
{:error, :invalid_format}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="parse_utc_datetime/1">parse_utc_datetime(string)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/iso.ex#L568" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec parse_utc_datetime(String.t()) ::
  {:ok, {year(), month(), day(), hour(), minute(), second(), microsecond()},
   utc_offset()}
  | {:error, atom()}</pre> </div> <p>Parses a UTC datetime <code class="inline">string</code> in the <code class="inline">:extended</code> format.</p>
<p>For more information on supported strings, see how this module implements <a href="#module-iso-8601-compliance">ISO 8601</a>.</p>
<h4 id="parse_utc_datetime/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Calendar.ISO.parse_utc_datetime("2015-01-23 23:50:07Z")
{:ok, {2015, 1, 23, 23, 50, 7, {0, 0}}, 0}

iex&gt; Calendar.ISO.parse_utc_datetime("2015-01-23 23:50:07+02:30")
{:ok, {2015, 1, 23, 21, 20, 7, {0, 0}}, 9000}

iex&gt; Calendar.ISO.parse_utc_datetime("2015-01-23 23:50:07")
{:error, :missing_offset}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="parse_utc_datetime/2">parse_utc_datetime(string, format)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/iso.ex#L591" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec parse_utc_datetime(String.t(), format()) ::
  {:ok, {year(), month(), day(), hour(), minute(), second(), microsecond()},
   utc_offset()}
  | {:error, atom()}</pre> </div> <p>Parses a UTC datetime <code class="inline">string</code> according to a given <code class="inline">format</code>.</p>
<p>The <code class="inline">format</code> can either be <code class="inline">:basic</code> or <code class="inline">:extended</code>.</p>
<p>For more information on supported strings, see how this module implements <a href="#module-iso-8601-compliance">ISO 8601</a>.</p>
<h4 id="parse_utc_datetime/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Calendar.ISO.parse_utc_datetime("20150123 235007Z", :basic)
{:ok, {2015, 1, 23, 23, 50, 7, {0, 0}}, 0}
iex&gt; Calendar.ISO.parse_utc_datetime("20150123 235007Z", :extended)
{:error, :invalid_format}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="quarter_of_year/3">quarter_of_year(year, month, day)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/iso.ex#L1099" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec quarter_of_year(year(), month(), day()) :: quarter_of_year()</pre> </div> <p>Calculates the quarter of the year from the given <code class="inline">year</code>, <code class="inline">month</code>, and <code class="inline">day</code>.</p>
<p>It is an integer from 1 to 4.</p>
<h4 id="quarter_of_year/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Calendar.ISO.quarter_of_year(2016, 1, 31)
1
iex&gt; Calendar.ISO.quarter_of_year(2016, 4, 3)
2
iex&gt; Calendar.ISO.quarter_of_year(-99, 9, 31)
3
iex&gt; Calendar.ISO.quarter_of_year(2018, 12, 28)
4</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="shift_date/4">shift_date(year, month, day, duration)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/iso.ex#L1548" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec shift_date(year(), month(), day(), Duration.t()) :: {year(), month(), day()}</pre> </div> <p>Shifts Date by Duration according to its calendar.</p>
<h4 id="shift_date/4-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Calendar.ISO.shift_date(2016, 1, 3, Duration.new!(month: 2))
{2016, 3, 3}
iex&gt; Calendar.ISO.shift_date(2016, 2, 29, Duration.new!(month: 1))
{2016, 3, 29}
iex&gt; Calendar.ISO.shift_date(2016, 1, 31, Duration.new!(month: 1))
{2016, 2, 29}
iex&gt; Calendar.ISO.shift_date(2016, 1, 31, Duration.new!(year: 4, day: 1))
{2020, 2, 1}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="shift_naive_datetime/8">shift_naive_datetime(year, month, day, hour, minute, second, microsecond, duration)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/iso.ex#L1586" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec shift_naive_datetime(
  year(),
  month(),
  day(),
  hour(),
  minute(),
  second(),
  microsecond(),
  Duration.t()
) :: {year(), month(), day(), hour(), minute(), second(), microsecond()}</pre> </div> <p>Shifts NaiveDateTime by Duration according to its calendar.</p>
<h4 id="shift_naive_datetime/8-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Calendar.ISO.shift_naive_datetime(2016, 1, 3, 0, 0, 0, {0, 0}, Duration.new!(hour: 1))
{2016, 1, 3, 1, 0, 0, {0, 0}}
iex&gt; Calendar.ISO.shift_naive_datetime(2016, 1, 3, 0, 0, 0, {0, 0}, Duration.new!(hour: 30))
{2016, 1, 4, 6, 0, 0, {0, 0}}
iex&gt; Calendar.ISO.shift_naive_datetime(2016, 1, 3, 0, 0, 0, {0, 0}, Duration.new!(microsecond: {100, 6}))
{2016, 1, 3, 0, 0, 0, {100, 6}}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="shift_time/5">shift_time(hour, minute, second, microsecond, duration)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/iso.ex#L1615" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec shift_time(hour(), minute(), second(), microsecond(), Duration.t()) ::
  {hour(), minute(), second(), microsecond()}</pre> </div> <p>Shifts Time by Duration units according to its calendar.</p>
<h4 id="shift_time/5-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Calendar.ISO.shift_time(13, 0, 0, {0, 0}, Duration.new!(hour: 2))
{15, 0, 0, {0, 0}}
iex&gt; Calendar.ISO.shift_time(13, 0, 0, {0, 0}, Duration.new!(microsecond: {100, 6}))
{13, 0, 0, {100, 6}}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="time_from_day_fraction/1">time_from_day_fraction(arg)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/iso.ex#L845" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec time_from_day_fraction(Calendar.day_fraction()) ::
  {hour(), minute(), second(), microsecond()}</pre> </div> <p>Converts a day fraction to this Calendar's representation of time.</p>
<h4 id="time_from_day_fraction/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Calendar.ISO.time_from_day_fraction({1, 2})
{12, 0, 0, {0, 6}}
iex&gt; Calendar.ISO.time_from_day_fraction({13, 24})
{13, 0, 0, {0, 6}}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="time_to_day_fraction/4">time_to_day_fraction(hour, minute, second, arg)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/iso.ex#L821" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec time_to_day_fraction(
  Calendar.hour(),
  Calendar.minute(),
  Calendar.second(),
  Calendar.microsecond()
) :: Calendar.day_fraction()</pre> </div> <p>Returns the normalized day fraction of the specified time.</p>
<h4 id="time_to_day_fraction/4-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Calendar.ISO.time_to_day_fraction(0, 0, 0, {0, 6})
{0, 86400000000}
iex&gt; Calendar.ISO.time_to_day_fraction(12, 34, 56, {123, 6})
{45296000123, 86400000000}</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="time_to_string/5">time_to_string(hour, minute, second, microsecond, format \\ :extended)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/iso.ex#L1214" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec time_to_string(
  Calendar.hour(),
  Calendar.minute(),
  Calendar.second(),
  Calendar.microsecond(),
  :basic | :extended
) :: String.t()</pre> </div> <p>Converts the given time into a string.</p>
<p>By default, returns times formatted in the "extended" format, for human readability. It also supports the "basic" format by passing the <code class="inline">:basic</code> option.</p>
<h4 id="time_to_string/5-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Calendar.ISO.time_to_string(2, 2, 2, {2, 6})
"02:02:02.000002"
iex&gt; Calendar.ISO.time_to_string(2, 2, 2, {2, 2})
"02:02:02.00"
iex&gt; Calendar.ISO.time_to_string(2, 2, 2, {2, 0})
"02:02:02"

iex&gt; Calendar.ISO.time_to_string(2, 2, 2, {2, 6}, :basic)
"020202.000002"
iex&gt; Calendar.ISO.time_to_string(2, 2, 2, {2, 6}, :extended)
"02:02:02.000002"</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="time_unit_to_precision/1">time_unit_to_precision(int)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/iso.ex#L270" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec time_unit_to_precision(System.time_unit()) :: 0..6</pre> </div> <p>Converts a <a href="system#t:time_unit/0"><code class="inline">System.time_unit/0</code></a> to precision.</p>
<p>Integer-based time units always get maximum precision.</p>
<h4 id="time_unit_to_precision/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Calendar.ISO.time_unit_to_precision(:nanosecond)
6

iex&gt; Calendar.ISO.time_unit_to_precision(:second)
0

iex&gt; Calendar.ISO.time_unit_to_precision(1)
6</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="valid_date?/3">valid_date?(year, month, day)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/iso.ex#L1439" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec valid_date?(year(), month(), day()) :: boolean()</pre> </div> <p>Determines if the date given is valid according to the proleptic Gregorian calendar.</p>
<h4 id="valid_date?/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Calendar.ISO.valid_date?(2015, 2, 28)
true
iex&gt; Calendar.ISO.valid_date?(2015, 2, 30)
false
iex&gt; Calendar.ISO.valid_date?(-1, 12, 31)
true
iex&gt; Calendar.ISO.valid_date?(-1, 12, 32)
false</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="valid_time?/4">valid_time?(hour, minute, second, microsecond)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/iso.ex#L1463" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec valid_time?(
  Calendar.hour(),
  Calendar.minute(),
  Calendar.second(),
  Calendar.microsecond()
) ::
  boolean()</pre> </div> <p>Determines if the date given is valid according to the proleptic Gregorian calendar.</p>
<p>Leap seconds are not supported by the built-in Calendar.ISO.</p>
<h4 id="valid_time?/4-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Calendar.ISO.valid_time?(10, 50, 25, {3006, 6})
true
iex&gt; Calendar.ISO.valid_time?(23, 59, 60, {0, 0})
false
iex&gt; Calendar.ISO.valid_time?(24, 0, 0, {0, 0})
false</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="year_of_era/1">year_of_era(year)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/iso.ex#L1125" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec year_of_era(year()) :: {1..10000, era()}</pre> </div> <p>Calculates the year and era from the given <code class="inline">year</code>.</p>
<p>The ISO calendar has two eras: the "current era" (CE) which starts in year <code class="inline">1</code> and is defined as era <code class="inline">1</code>. And "before the current era" (BCE) for those years less than <code class="inline">1</code>, defined as era <code class="inline">0</code>.</p>
<h4 id="year_of_era/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Calendar.ISO.year_of_era(1)
{1, 1}
iex&gt; Calendar.ISO.year_of_era(2018)
{2018, 1}
iex&gt; Calendar.ISO.year_of_era(0)
{1, 0}
iex&gt; Calendar.ISO.year_of_era(-1)
{2, 0}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="year_of_era/3">year_of_era(year, month, day)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/iso.ex#L1151" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec year_of_era(year(), month(), day()) :: {1..10000, era()}</pre> </div> <p>Calendar callback to compute the year and era from the given <code class="inline">year</code>, <code class="inline">month</code> and <code class="inline">day</code>.</p>
<p>In the ISO calendar, the new year coincides with the new era, so the <code class="inline">month</code> and <code class="inline">day</code> arguments are discarded. If you only have the year available, you can <a href="#year_of_era/1"><code class="inline">year_of_era/1</code></a> instead.</p>
<h4 id="year_of_era/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Calendar.ISO.year_of_era(1, 1, 1)
{1, 1}
iex&gt; Calendar.ISO.year_of_era(2018, 12, 1)
{2018, 1}
iex&gt; Calendar.ISO.year_of_era(0, 1, 1)
{1, 0}
iex&gt; Calendar.ISO.year_of_era(-1, 12, 1)
{2, 0}</pre> </section> </section> </div> </section> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/Calendar.ISO.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/Calendar.ISO.html</a>
  </p>
</div>
