<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/pages/getting-started/case-cond-and-if.md#L1" title="View Source" class="source" rel="help">Source</a> <span>case, cond, and if</span> </h1> <p>In this chapter, we will learn about the <code class="inline">case</code>, <code class="inline">cond</code>, and <code class="inline">if</code> control flow structures.</p>
<h2 id="case" class="section-heading">  <span class="text">case</span> </h2> <p><code class="inline">case</code> allows us to compare a value against many patterns until we find a matching one:</p>
<pre data-language="elixir">iex&gt; case {1, 2, 3} do
...&gt;   {4, 5, 6} -&gt;
...&gt;     "This clause won't match"
...&gt;   {1, x, 3} -&gt;
...&gt;     "This clause will match and bind x to 2 in this clause"
...&gt;   _ -&gt;
...&gt;     "This clause would match any value"
...&gt; end
"This clause will match and bind x to 2 in this clause"</pre>
<p>If you want to pattern match against an existing variable, you need to use the <code class="inline">^</code> operator:</p>
<pre data-language="elixir">iex&gt; x = 1
1
iex&gt; case 10 do
...&gt;   ^x -&gt; "Won't match"
...&gt;   _ -&gt; "Will match"
...&gt; end
"Will match"</pre>
<p>Clauses also allow extra conditions to be specified via guards:</p>
<pre data-language="elixir">iex&gt; case {1, 2, 3} do
...&gt;   {1, x, 3} when x &gt; 0 -&gt;
...&gt;     "Will match"
...&gt;   _ -&gt;
...&gt;     "Would match, if guard condition were not satisfied"
...&gt; end
"Will match"</pre>
<p>The first clause above will only match when <code class="inline">x</code> is positive.</p>
<p>Keep in mind errors in guards do not leak but simply make the guard fail:</p>
<pre data-language="elixir">iex&gt; hd(1)
** (ArgumentError) argument error
iex&gt; case 1 do
...&gt;   x when hd(x) -&gt; "Won't match"
...&gt;   x -&gt; "Got #{x}"
...&gt; end
"Got 1"</pre>
<p>If none of the clauses match, an error is raised:</p>
<pre data-language="elixir">iex&gt; case :ok do
...&gt;   :error -&gt; "Won't match"
...&gt; end
** (CaseClauseError) no case clause matching: :ok</pre>
<p>The documentation for the <a href="kernel"><code class="inline">Kernel</code></a> module lists all available guards in its sidebar. You can also consult the complete <a href="patterns-and-guards#guards">Patterns and Guards</a> reference for in-depth documentation.</p>
<h2 id="if-unless" class="section-heading">  <span class="text">if/unless</span> </h2> <p><code class="inline">case</code> builds on pattern matching and guards to destructure and match on certain conditions. However, patterns and guards are limited only to certain expressions which are optimized by the compiler. In many situations, you need to write conditions that go beyond what can be expressed with <code class="inline">case</code>. For those, <a href="kernel#if/2"><code class="inline">if/2</code></a> (and <a href="kernel#unless/2"><code class="inline">unless/2</code></a>) are useful alternatives:</p>
<pre data-language="elixir">iex&gt; if true do
...&gt;   "This works!"
...&gt; end
"This works!"
iex&gt; unless true do
...&gt;   "This will never be seen"
...&gt; end
nil</pre>
<p>If the condition given to <a href="kernel#if/2"><code class="inline">if/2</code></a> returns <code class="inline">false</code> or <code class="inline">nil</code>, the body given between <code class="inline">do</code>-<code class="inline">end</code> is not executed and instead it returns <code class="inline">nil</code>. The opposite happens with <a href="kernel#unless/2"><code class="inline">unless/2</code></a>.</p>
<p>They also support <code class="inline">else</code> blocks (although using <code class="inline">else</code> with <code class="inline">unless</code> is generally discouraged):</p>
<pre data-language="elixir">iex&gt; if nil do
...&gt;   "This won't be seen"
...&gt; else
...&gt;   "This will"
...&gt; end
"This will"</pre>
<p>This is also a good opportunity to talk about variable scoping in Elixir. If any variable is declared or changed inside <code class="inline">if</code>, <code class="inline">case</code>, and similar constructs, the declaration and change will only be visible inside the construct. For example:</p>
<pre data-language="elixir">iex&gt; x = 1
1
iex&gt; if true do
...&gt;   x = x + 1
...&gt; end
2
iex&gt; x
1</pre>
<p>In said cases, if you want to change a value, you must return the value from the <code class="inline">if</code>:</p>
<pre data-language="elixir">iex&gt; x = 1
1
iex&gt; x = if true do
...&gt;   x + 1
...&gt; else
...&gt;   x
...&gt; end
2</pre>
<blockquote>
<h4 class="info">
<code class="inline">if</code> and <code class="inline">unless</code> are macros</h4>
<p>An interesting note regarding <a href="kernel#if/2"><code class="inline">if/2</code></a> and <a href="kernel#unless/2"><code class="inline">unless/2</code></a> is that they are implemented as macros in the language: they aren't special language constructs as they would be in many languages. You can check the documentation and their source for more information.</p>
</blockquote>
<p>If you find yourself nesting several <a href="kernel#if/2"><code class="inline">if/2</code></a> blocks, you may want to consider using <a href="kernel.specialforms#cond/1"><code class="inline">cond/1</code></a> instead. Let's check it out.</p>
<h2 id="cond" class="section-heading">  <span class="text">cond</span> </h2> <p>If you need to check across several conditions and find the first one that does not evaluate to <code class="inline">nil</code> or <code class="inline">false</code>, <a href="kernel.specialforms#cond/1"><code class="inline">cond/1</code></a> is a useful construct:</p>
<pre data-language="elixir">iex&gt; cond do
...&gt;   2 + 2 == 5 -&gt;
...&gt;     "This will not be true"
...&gt;   2 * 2 == 3 -&gt;
...&gt;     "Nor this"
...&gt;   1 + 1 == 2 -&gt;
...&gt;     "But this will"
...&gt; end
"But this will"</pre>
<p>This is equivalent to <code class="inline">else if</code> clauses in many imperative languages - although used less frequently in Elixir.</p>
<p>If all of the conditions return <code class="inline">nil</code> or <code class="inline">false</code>, an error (<a href="condclauseerror"><code class="inline">CondClauseError</code></a>) is raised. For this reason, it may be necessary to add a final condition, equal to <code class="inline">true</code>, which will always match:</p>
<pre data-language="elixir">iex&gt; cond do
...&gt;   2 + 2 == 5 -&gt;
...&gt;     "This is never true"
...&gt;   2 * 2 == 3 -&gt;
...&gt;     "Nor this"
...&gt;   true -&gt;
...&gt;     "This is always true (equivalent to else)"
...&gt; end
"This is always true (equivalent to else)"</pre>
<p>Similar to <a href="kernel#if/2"><code class="inline">if/2</code></a> and <a href="kernel#unless/2"><code class="inline">unless/2</code></a>, <code class="inline">cond</code> considers any value besides <code class="inline">nil</code> and <code class="inline">false</code> to be true:</p>
<pre data-language="elixir">iex&gt; cond do
...&gt;   hd([1, 2, 3]) -&gt;
...&gt;     "1 is considered as true"
...&gt; end
"1 is considered as true"</pre>
<h2 id="summing-up" class="section-heading">  <span class="text">Summing up</span> </h2> <p>We have concluded the introduction to the most fundamental control-flow constructs in Elixir. Generally speaking, Elixir developers prefer pattern matching and guards, using <code class="inline">case</code> and function definitions (which we will explore in future chapters), as they are succinct and precise. When your logic cannot be outlined within patterns and guards, you may consider <a href="kernel#if/2"><code class="inline">if/2</code></a>, falling back to <a href="kernel.specialforms#cond/1"><code class="inline">cond/1</code></a> when there are several conditions to check.</p> </div> <div class="bottom-actions" id="bottom-actions"> <div class="bottom-actions-item"> <a href="pattern-matching" class="bottom-actions-button" rel="prev"> <span class="subheader"> ← Previous Page </span> <span class="title"> Pattern matching </span> </a> </div> <div class="bottom-actions-item"> <a href="anonymous-functions" class="bottom-actions-button" rel="next"> <span class="subheader"> Next Page → </span> <span class="title"> Anonymous functions </span> </a> </div> </div> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/case-cond-and-if.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/case-cond-and-if.html</a>
  </p>
</div>
