<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/pages/anti-patterns/code-anti-patterns.md#L1" title="View Source" class="source" rel="help">Source</a> <span>Code-related anti-patterns</span> </h1> <p>This document outlines potential anti-patterns related to your code and particular Elixir idioms and features.</p>
<h2 id="comments-overuse" class="section-heading">  <span class="text">Comments overuse</span> </h2> <h4>Problem</h4>
<p>When you overuse comments or comment self-explanatory code, it can have the effect of making code <em>less readable</em>.</p>
<h4>Example</h4>
<pre data-language="elixir"># Returns the Unix timestamp of 5 minutes from the current time
defp unix_five_min_from_now do
  # Get the current time
  now = DateTime.utc_now()

  # Convert it to a Unix timestamp
  unix_now = DateTime.to_unix(now, :second)

  # Add five minutes in seconds
  unix_now + (60 * 5)
end</pre>
<h4>Refactoring</h4>
<p>Prefer clear and self-explanatory function names, module names, and variable names when possible. In the example above, the function name explains well what the function does, so you likely won't need the comment before it. The code also explains the operations well through variable names and clear function calls.</p>
<p>You could refactor the code above like this:</p>
<pre data-language="elixir">@five_min_in_seconds 60 * 5

defp unix_five_min_from_now do
  now = DateTime.utc_now()
  unix_now = DateTime.to_unix(now, :second)
  unix_now + @five_min_in_seconds
end</pre>
<p>We removed the unnecessary comments. We also added a <code class="inline">@five_min_in_seconds</code> module attribute, which serves the additional purpose of giving a name to the "magic" number <code class="inline">60 * 5</code>, making the code clearer and more expressive.</p>
<h4>Additional remarks</h4>
<p>Elixir makes a clear distinction between <strong>documentation</strong> and code comments. The language has built-in first-class support for documentation through <code class="inline">@doc</code>, <code class="inline">@moduledoc</code>, and more. See the <a href="writing-documentation">"Writing documentation"</a> guide for more information.</p>
<h2 id="complex-else-clauses-in-with" class="section-heading">  <span class="text">Complex <code class="inline">else</code> clauses in <code class="inline">with</code></span> </h2> <h4>Problem</h4>
<p>This anti-pattern refers to <code class="inline">with</code> statements that flatten all its error clauses into a single complex <code class="inline">else</code> block. This situation is harmful to the code readability and maintainability because it's difficult to know from which clause the error value came.</p>
<h4>Example</h4>
<p>An example of this anti-pattern, as shown below, is a function <code class="inline">open_decoded_file/1</code> that reads a Base64-encoded string content from a file and returns a decoded binary string. This function uses a <code class="inline">with</code> statement that needs to handle two possible errors, all of which are concentrated in a single complex <code class="inline">else</code> block.</p>
<pre data-language="elixir">def open_decoded_file(path) do
  with {:ok, encoded} &lt;- File.read(path),
       {:ok, decoded} &lt;- Base.decode64(encoded) do
    {:ok, String.trim(decoded)}
  else
    {:error, _} -&gt; {:error, :badfile}
    :error -&gt; {:error, :badencoding}
  end
end</pre>
<p>In the code above, it is unclear how each pattern on the left side of <code class="inline">&lt;-</code> relates to their error at the end. The more patterns in a <code class="inline">with</code>, the less clear the code gets, and the more likely it is that unrelated failures will overlap each other.</p>
<h4>Refactoring</h4>
<p>In this situation, instead of concentrating all error handling within a single complex <code class="inline">else</code> block, it is better to normalize the return types in specific private functions. In this way, <code class="inline">with</code> can focus on the success case and the errors are normalized closer to where they happen, leading to better organized and maintainable code.</p>
<pre data-language="elixir">def open_decoded_file(path) do
  with {:ok, encoded} &lt;- file_read(path),
       {:ok, decoded} &lt;- base_decode64(encoded) do
    {:ok, String.trim(decoded)}
  end
end

defp file_read(path) do
  case File.read(path) do
    {:ok, contents} -&gt; {:ok, contents}
    {:error, _} -&gt; {:error, :badfile}
  end
end

defp base_decode64(contents) do
  case Base.decode64(contents) do
    {:ok, decoded} -&gt; {:ok, decoded}
    :error -&gt; {:error, :badencoding}
  end
end</pre>
<h2 id="complex-extractions-in-clauses" class="section-heading">  <span class="text">Complex extractions in clauses</span> </h2> <h4>Problem</h4>
<p>When we use multi-clause functions, it is possible to extract values in the clauses for further usage and for pattern matching/guard checking. This extraction itself does not represent an anti-pattern, but when you have <em>extractions made across several clauses and several arguments of the same function</em>, it becomes hard to know which extracted parts are used for pattern/guards and what is used only inside the function body. This anti-pattern is related to <a href="design-anti-patterns#unrelated-multi-clause-function">Unrelated multi-clause function</a>, but with implications of its own. It impairs the code readability in a different way.</p>
<h4>Example</h4>
<p>The multi-clause function <code class="inline">drive/1</code> is extracting fields of an <code class="inline">%User{}</code> struct for usage in the clause expression (<code class="inline">age</code>) and for usage in the function body (<code class="inline">name</code>):</p>
<pre data-language="elixir">def drive(%User{name: name, age: age}) when age &gt;= 18 do
  "#{name} can drive"
end

def drive(%User{name: name, age: age}) when age &lt; 18 do
  "#{name} cannot drive"
end</pre>
<p>While the example above is small and does not constitute an anti-pattern, it is an example of mixed extraction and pattern matching. A situation where <code class="inline">drive/1</code> was more complex, having many more clauses, arguments, and extractions, would make it hard to know at a glance which variables are used for pattern/guards and which ones are not.</p>
<h4>Refactoring</h4>
<p>As shown below, a possible solution to this anti-pattern is to extract only pattern/guard related variables in the signature once you have many arguments or multiple clauses:</p>
<pre data-language="elixir">def drive(%User{age: age} = user) when age &gt;= 18 do
  %User{name: name} = user
  "#{name} can drive"
end

def drive(%User{age: age} = user) when age &lt; 18 do
  %User{name: name} = user
  "#{name} cannot drive"
end</pre>
<h2 id="dynamic-atom-creation" class="section-heading">  <span class="text">Dynamic atom creation</span> </h2> <h4>Problem</h4>
<p>An <a href="atom"><code class="inline">Atom</code></a> is an Elixir basic type whose value is its own name. Atoms are often useful to identify resources or express the state, or result, of an operation. Creating atoms dynamically is not an anti-pattern by itself; however, atoms are not garbage collected by the Erlang Virtual Machine, so values of this type live in memory during a software's entire execution lifetime. The Erlang VM limits the number of atoms that can exist in an application by default to <em>1_048_576</em>, which is more than enough to cover all atoms defined in a program, but attempts to serve as an early limit for applications which are "leaking atoms" through dynamic creation.</p>
<p>For these reason, creating atoms dynamically can be considered an anti-pattern when the developer has no control over how many atoms will be created during the software execution. This unpredictable scenario can expose the software to unexpected behavior caused by excessive memory usage, or even by reaching the maximum number of <em>atoms</em> possible.</p>
<h4>Example</h4>
<p>Picture yourself implementing code that converts string values into atoms. These strings could have been received from an external system, either as part of a request into our application, or as part of a response to your application. This dynamic and unpredictable scenario poses a security risk, as these uncontrolled conversions can potentially trigger out-of-memory errors.</p>
<pre data-language="elixir">defmodule MyRequestHandler do
  def parse(%{"status" =&gt; status, "message" =&gt; message} = _payload) do
    %{status: String.to_atom(status), message: message}
  end
end</pre>
<pre data-language="elixir">iex&gt; MyRequestHandler.parse(%{"status" =&gt; "ok", "message" =&gt; "all good"})
%{status: :ok, message: "all good"}</pre>
<p>When we use the <a href="string#to_atom/1"><code class="inline">String.to_atom/1</code></a> function to dynamically create an atom, it essentially gains potential access to create arbitrary atoms in our system, causing us to lose control over adhering to the limits established by the BEAM. This issue could be exploited by someone to create enough atoms to shut down a system.</p>
<h4>Refactoring</h4>
<p>To eliminate this anti-pattern, developers must either perform explicit conversions by mapping strings to atoms or replace the use of <a href="string#to_atom/1"><code class="inline">String.to_atom/1</code></a> with <a href="string#to_existing_atom/1"><code class="inline">String.to_existing_atom/1</code></a>. An explicit conversion could be done as follows:</p>
<pre data-language="elixir">defmodule MyRequestHandler do
  def parse(%{"status" =&gt; status, "message" =&gt; message} = _payload) do
    %{status: convert_status(status), message: message}
  end

  defp convert_status("ok"), do: :ok
  defp convert_status("error"), do: :error
  defp convert_status("redirect"), do: :redirect
end</pre>
<pre data-language="elixir">iex&gt; MyRequestHandler.parse(%{"status" =&gt; "status_not_seen_anywhere", "message" =&gt; "all good"})
** (FunctionClauseError) no function clause matching in MyRequestHandler.convert_status/1</pre>
<p>By explicitly listing all supported statuses, you guarantee only a limited number of conversions may happen. Passing an invalid status will lead to a function clause error.</p>
<p>An alternative is to use <a href="string#to_existing_atom/1"><code class="inline">String.to_existing_atom/1</code></a>, which will only convert a string to atom if the atom already exists in the system:</p>
<pre data-language="elixir">defmodule MyRequestHandler do
  def parse(%{"status" =&gt; status, "message" =&gt; message} = _payload) do
    %{status: String.to_existing_atom(status), message: message}
  end
end</pre>
<pre data-language="elixir">iex&gt; MyRequestHandler.parse(%{"status" =&gt; "status_not_seen_anywhere", "message" =&gt; "all good"})
** (ArgumentError) errors were found at the given arguments:

  * 1st argument: not an already existing atom</pre>
<p>In such cases, passing an unknown status will raise as long as the status was not defined anywhere as an atom in the system. However, assuming <code class="inline">status</code> can be either <code class="inline">:ok</code>, <code class="inline">:error</code>, or <code class="inline">:redirect</code>, how can you guarantee those atoms exist? You must ensure those atoms exist somewhere <strong>in the same module</strong> where <a href="string#to_existing_atom/1"><code class="inline">String.to_existing_atom/1</code></a> is called. For example, if you had this code:</p>
<pre data-language="elixir">defmodule MyRequestHandler do
  def parse(%{"status" =&gt; status, "message" =&gt; message} = _payload) do
    %{status: String.to_existing_atom(status), message: message}
  end

  def handle(%{status: status}) do
    case status do
      :ok -&gt; ...
      :error -&gt; ...
      :redirect -&gt; ...
    end
  end
end</pre>
<p>All valid statuses are defined as atoms within the same module, and that's enough. If you want to be explicit, you could also have a function that lists them:</p>
<pre data-language="elixir">def valid_statuses do
  [:ok, :error, :redirect]
end</pre>
<p>However, keep in mind using a module attribute or defining the atoms in the module body, outside of a function, are not sufficient, as the module body is only executed during compilation and it is not necessarily part of the compiled module loaded at runtime.</p>
<h2 id="long-parameter-list" class="section-heading">  <span class="text">Long parameter list</span> </h2> <h4>Problem</h4>
<p>In a functional language like Elixir, functions tend to explicitly receive all inputs and return all relevant outputs, instead of relying on mutations or side-effects. As functions grow in complexity, the amount of arguments (parameters) they need to work with may grow, to a point where the function's interface becomes confusing and prone to errors during use.</p>
<h4>Example</h4>
<p>In the following example, the <code class="inline">loan/6</code> functions takes too many arguments, causing its interface to be confusing and potentially leading developers to introduce errors during calls to this function.</p>
<pre data-language="elixir">defmodule Library do
  # Too many parameters that can be grouped!
  def loan(user_name, email, password, user_alias, book_title, book_ed) do
    ...
  end
end</pre>
<h4>Refactoring</h4>
<p>To address this anti-pattern, related arguments can be grouped using key-value data structures, such as maps, structs, or even keyword lists in the case of optional arguments. This effectively reduces the number of arguments and the key-value data structures adds clarity to the caller.</p>
<p>For this particular example, the arguments to <code class="inline">loan/6</code> can be grouped into two different maps, thereby reducing its arity to <code class="inline">loan/2</code>:</p>
<pre data-language="elixir">defmodule Library do
  def loan(%{name: name, email: email, password: password, alias: alias} = user, %{title: title, ed: ed} = book) do
    ...
  end
end</pre>
<p>In some cases, the function with too many arguments may be a private function, which gives us more flexibility over how to separate the function arguments. One possible suggestion for such scenarios is to split the arguments in two maps (or tuples): one map keeps the data that may change, and the other keeps the data that won't change (read-only). This gives us a mechanical option to refactor the code.</p>
<p>Other times, a function may legitimately take half a dozen or more completely unrelated arguments. This may suggest the function is trying to do too much and would be better broken into multiple functions, each responsible for a smaller piece of the overall responsibility.</p>
<h2 id="namespace-trespassing" class="section-heading">  <span class="text">Namespace trespassing</span> </h2> <h4>Problem</h4>
<p>This anti-pattern manifests when a package author or a library defines modules outside of its "namespace". A library should use its name as a "prefix" for all of its modules. For example, a package named <code class="inline">:my_lib</code> should define all of its modules within the <code class="inline">MyLib</code> namespace, such as <code class="inline">MyLib.User</code>, <code class="inline">MyLib.SubModule</code>, <code class="inline">MyLib.Application</code>, and <code class="inline">MyLib</code> itself.</p>
<p>This is important because the Erlang VM can only load one instance of a module at a time. So if there are multiple libraries that define the same module, then they are incompatible with each other due to this limitation. By always using the library name as a prefix, it avoids module name clashes due to the unique prefix.</p>
<h4>Example</h4>
<p>This problem commonly manifests when writing an extension of another library. For example, imagine you are writing a package that adds authentication to <a href="https://github.com/elixir-plug/plug">Plug</a> called <code class="inline">:plug_auth</code>. You must avoid defining modules within the <code class="inline">Plug</code> namespace:</p>
<pre data-language="elixir">defmodule Plug.Auth do
  # ...
end</pre>
<p>Even if <code class="inline">Plug</code> does not currently define a <code class="inline">Plug.Auth</code> module, it may add such a module in the future, which would ultimately conflict with <code class="inline">plug_auth</code>'s definition.</p>
<h4>Refactoring</h4>
<p>Given the package is named <code class="inline">:plug_auth</code>, it must define modules inside the <code class="inline">PlugAuth</code> namespace:</p>
<pre data-language="elixir">defmodule PlugAuth do
  # ...
end</pre>
<h4>Additional remarks</h4>
<p>There are few known exceptions to this anti-pattern:</p>
<ul>
<li><p><a href="kernel#defimpl/2">Protocol implementations</a> are, by design, defined under the protocol namespace</p></li>
<li><p>In some scenarios, the namespace owner may allow exceptions to this rule. For example, in Elixir itself, you defined <a href="https://hexdocs.pm/mix/Mix.Task.html">custom Mix tasks</a> by placing them under the <code class="inline">Mix.Tasks</code> namespace, such as <code class="inline">Mix.Tasks.PlugAuth</code></p></li>
<li><p>If you are the maintainer for both <code class="inline">plug</code> and <code class="inline">plug_auth</code>, then you may allow <code class="inline">plug_auth</code> to define modules with the <code class="inline">Plug</code> namespace, such as <code class="inline">Plug.Auth</code>. However, you are responsible for avoiding or managing any conflicts that may arise in the future</p></li>
</ul>
<h2 id="non-assertive-map-access" class="section-heading">  <span class="text">Non-assertive map access</span> </h2> <h4>Problem</h4>
<p>In Elixir, it is possible to access values from <a href="map"><code class="inline">Map</code></a>s, which are key-value data structures, either statically or dynamically.</p>
<p>When a key is expected to exist in a map, it must be accessed using the <code class="inline">map.key</code> notation, making it clear to developers (and the compiler) that the key must exist. If the key does not exist, an exception is raised (and in some cases also compiler warnings). This is also known as the static notation, as the key is known at the time of writing the code.</p>
<p>When a key is optional, the <code class="inline">map[:key]</code> notation must be used instead. This way, if the informed key does not exist, <code class="inline">nil</code> is returned. This is the dynamic notation, as it also supports dynamic key access, such as <code class="inline">map[some_var]</code>.</p>
<p>When you use <code class="inline">map[:key]</code> to access a key that always exists in the map, you are making the code less clear for developers and for the compiler, as they now need to work with the assumption the key may not be there. This mismatch may also make it harder to track certain bugs. If the key is unexpectedly missing, you will have a <code class="inline">nil</code> value propagate through the system, instead of raising on map access.</p>
<h4>Example</h4>
<p>The function <code class="inline">plot/1</code> tries to draw a graphic to represent the position of a point in a Cartesian plane. This function receives a parameter of <a href="map"><code class="inline">Map</code></a> type with the point attributes, which can be a point of a 2D or 3D Cartesian coordinate system. This function uses dynamic access to retrieve values for the map keys:</p>
<pre data-language="elixir">defmodule Graphics do
  def plot(point) do
    # Some other code...
    {point[:x], point[:y], point[:z]}
  end
end</pre>
<pre data-language="elixir">iex&gt; point_2d = %{x: 2, y: 3}
%{x: 2, y: 3}
iex&gt; point_3d = %{x: 5, y: 6, z: 7}
%{x: 5, y: 6, z: 7}
iex&gt; Graphics.plot(point_2d)
{2, 3, nil}
iex&gt; Graphics.plot(point_3d)
{5, 6, 7}</pre>
<p>Given we want to plot both 2D and 3D points, the behavior above is expected. But what happens if we forget to pass a point with either <code class="inline">:x</code> or <code class="inline">:y</code>?</p>
<pre data-language="elixir">iex&gt; bad_point = %{y: 3, z: 4}
%{y: 3, z: 4}
iex&gt; Graphics.plot(bad_point)
{nil, 3, 4}</pre>
<p>The behavior above is unexpected because our function should not work with points without a <code class="inline">:x</code> key. This leads to subtle bugs, as we may now pass <code class="inline">nil</code> to another function, instead of raising early on.</p>
<h4>Refactoring</h4>
<p>To remove this anti-pattern, we must use the dynamic <code class="inline">map[:key]</code> syntax and the static <code class="inline">map.key</code> notation according to our requirements. We expect <code class="inline">:x</code> and <code class="inline">:y</code> to always exist, but not <code class="inline">:z</code>. The next code illustrates the refactoring of <code class="inline">plot/1</code>, removing this anti-pattern:</p>
<pre data-language="elixir">defmodule Graphics do
  def plot(point) do
    # Some other code...
    {point.x, point.y, point[:z]}
  end
end</pre>
<pre data-language="elixir">iex&gt; Graphics.plot(point_2d)
{2, 3, nil}
iex&gt; Graphics.plot(bad_point)
** (KeyError) key :x not found in: %{y: 3, z: 4}
  graphic.ex:4: Graphics.plot/1</pre>
<p>Overall, the usage of <code class="inline">map.key</code> and <code class="inline">map[:key]</code> encode important information about your data structure, allowing developers to be clear about their intent. See both <a href="map"><code class="inline">Map</code></a> and <a href="access"><code class="inline">Access</code></a> module documentation for more information and examples.</p>
<p>An alternative to refactor this anti-pattern is to use pattern matching, defining explicit clauses for 2d vs 3d points:</p>
<pre data-language="elixir">defmodule Graphics do
  # 3d
  def plot(%{x: x, y: y, z: z}) do
    # Some other code...
    {x, y, z}
  end

  # 2d
  def plot(%{x: x, y: y}) do
    # Some other code...
    {x, y}
  end
end</pre>
<p>Pattern-matching is specially useful when matching over multiple keys as well as on the values themselves at once.</p>
<p>Another option is to use structs. By default, structs only support static access to its fields. In such scenarios, you may consider defining structs for both 2D and 3D points:</p>
<pre data-language="elixir">defmodule Point2D do
  @enforce_keys [:x, :y]
  defstruct [x: nil, y: nil]
end</pre>
<p>Generally speaking, structs are useful when sharing data structures across modules, at the cost of adding a compile time dependency between these modules. If module <code class="inline">A</code> uses a struct defined in module <code class="inline">B</code>, <code class="inline">A</code> must be recompiled if the fields in the struct <code class="inline">B</code> change.</p>
<h4>Additional remarks</h4>
<p>This anti-pattern was formerly known as <a href="https://github.com/lucasvegi/Elixir-Code-Smells#accessing-non-existent-mapstruct-fields">Accessing non-existent map/struct fields</a>.</p>
<h2 id="non-assertive-pattern-matching" class="section-heading">  <span class="text">Non-assertive pattern matching</span> </h2> <h4>Problem</h4>
<p>Overall, Elixir systems are composed of many supervised processes, so the effects of an error are localized to a single process, and don't propagate to the entire application. A supervisor detects the failing process, reports it, and possibly restarts it. This anti-pattern arises when developers write defensive or imprecise code, capable of returning incorrect values which were not planned for, instead of programming in an assertive style through pattern matching and guards.</p>
<h4>Example</h4>
<p>The function <code class="inline">get_value/2</code> tries to extract a value from a specific key of a URL query string. As it is not implemented using pattern matching, <code class="inline">get_value/2</code> always returns a value, regardless of the format of the URL query string passed as a parameter in the call. Sometimes the returned value will be valid. However, if a URL query string with an unexpected format is used in the call, <code class="inline">get_value/2</code> will extract incorrect values from it:</p>
<pre data-language="elixir">defmodule Extract do
  def get_value(string, desired_key) do
    parts = String.split(string, "&amp;")

    Enum.find_value(parts, fn pair -&gt;
      key_value = String.split(pair, "=")
      Enum.at(key_value, 0) == desired_key &amp;&amp; Enum.at(key_value, 1)
    end)
  end
end</pre>
<pre data-language="elixir"># URL query string with the planned format - OK!
iex&gt; Extract.get_value("name=Lucas&amp;university=UFMG&amp;lab=ASERG", "lab")
"ASERG"
iex&gt; Extract.get_value("name=Lucas&amp;university=UFMG&amp;lab=ASERG", "university")
"UFMG"
# Unplanned URL query string format - Unplanned value extraction!
iex&gt; Extract.get_value("name=Lucas&amp;university=institution=UFMG&amp;lab=ASERG", "university")
"institution"   # &lt;= why not "institution=UFMG"? or only "UFMG"?</pre>
<h4>Refactoring</h4>
<p>To remove this anti-pattern, <code class="inline">get_value/2</code> can be refactored through the use of pattern matching. So, if an unexpected URL query string format is used, the function will crash instead of returning an invalid value. This behavior, shown below, allows clients to decide how to handle these errors and doesn't give a false impression that the code is working correctly when unexpected values are extracted:</p>
<pre data-language="elixir">defmodule Extract do
  def get_value(string, desired_key) do
    parts = String.split(string, "&amp;")

    Enum.find_value(parts, fn pair -&gt;
      [key, value] = String.split(pair, "=") # &lt;= pattern matching
      key == desired_key &amp;&amp; value
    end)
  end
end</pre>
<pre data-language="elixir"># URL query string with the planned format - OK!
iex&gt; Extract.get_value("name=Lucas&amp;university=UFMG&amp;lab=ASERG", "name")
"Lucas"
# Unplanned URL query string format - Crash explaining the problem to the client!
iex&gt; Extract.get_value("name=Lucas&amp;university=institution=UFMG&amp;lab=ASERG", "university")
** (MatchError) no match of right hand side value: ["university", "institution", "UFMG"]
  extract.ex:7: anonymous fn/2 in Extract.get_value/2 # &lt;= left hand: [key, value] pair
iex&gt; Extract.get_value("name=Lucas&amp;university&amp;lab=ASERG", "university")
** (MatchError) no match of right hand side value: ["university"]
  extract.ex:7: anonymous fn/2 in Extract.get_value/2 # &lt;= left hand: [key, value] pair</pre>
<p>Elixir and pattern matching promote an assertive style of programming where you handle the known cases. Once an unexpected scenario arises, you can decide to address it accordingly based on practical examples, or conclude the scenario is indeed invalid and the exception is the desired choice.</p>
<p><a href="kernel.specialforms#case/2"><code class="inline">case/2</code></a> is another important construct in Elixir that help us write assertive code, by matching on specific patterns. For example, if a function returns <code class="inline">{:ok, ...}</code> or <code class="inline">{:error, ...}</code>, prefer to explicitly match on both patterns:</p>
<pre data-language="elixir">case some_function(arg) do
  {:ok, value} -&gt; # ...
  {:error, _} -&gt; # ...
end</pre>
<p>In particular, avoid matching solely on <code class="inline">_</code>, as shown below:</p>
<pre data-language="elixir">case some_function(arg) do
  {:ok, value} -&gt; # ...
  _ -&gt; # ...
end</pre>
<p> Matching on <code class="inline">_</code> is less clear in intent and it may hide bugs if <code class="inline">some_function/1</code> adds new return values in the future.</p>
<h4>Additional remarks</h4>
<p>This anti-pattern was formerly known as <a href="https://github.com/lucasvegi/Elixir-Code-Smells#speculative-assumptions">Speculative assumptions</a>.</p>
<h2 id="non-assertive-truthiness" class="section-heading">  <span class="text">Non-assertive truthiness</span> </h2> <h4>Problem</h4>
<p>Elixir provides the concept of truthiness: <code class="inline">nil</code> and <code class="inline">false</code> are considered "falsy" and all other values are "truthy". Many constructs in the language, such as <a href="kernel#&amp;&amp;/2"><code class="inline">&amp;&amp;/2</code></a>, <a href="kernel#%7C%7C/2"><code class="inline">||/2</code></a>, and <a href="kernel#!/1"><code class="inline">!/1</code></a> handle truthy and falsy values. Using those operators is not an anti-pattern. However, using those operators when all operands are expected to be booleans, may be an anti-pattern.</p>
<h4>Example</h4>
<p>The simplest scenario where this anti-pattern manifests is in conditionals, such as:</p>
<pre data-language="elixir">if is_binary(name) &amp;&amp; is_integer(age) do
  # ...
else
  # ...
end</pre>
<p>Given both operands of <a href="kernel#&amp;&amp;/2"><code class="inline">&amp;&amp;/2</code></a> are booleans, the code is more generic than necessary, and potentially unclear.</p>
<h4>Refactoring</h4>
<p>To remove this anti-pattern, we can replace <a href="kernel#&amp;&amp;/2"><code class="inline">&amp;&amp;/2</code></a>, <a href="kernel#%7C%7C/2"><code class="inline">||/2</code></a>, and <a href="kernel#!/1"><code class="inline">!/1</code></a> by <a href="kernel#and/2"><code class="inline">and/2</code></a>, <a href="kernel#or/2"><code class="inline">or/2</code></a>, and <a href="kernel#not/1"><code class="inline">not/1</code></a> respectively. These operators assert at least their first argument is a boolean:</p>
<pre data-language="elixir">if is_binary(name) and is_integer(age) do
  # ...
else
  # ...
end</pre>
<p>This technique may be particularly important when working with Erlang code. Erlang does not have the concept of truthiness. It never returns <code class="inline">nil</code>, instead its functions may return <code class="inline">:error</code> or <code class="inline">:undefined</code> in places an Elixir developer would return <code class="inline">nil</code>. Therefore, to avoid accidentally interpreting <code class="inline">:undefined</code> or <code class="inline">:error</code> as a truthy value, you may prefer to use <a href="kernel#and/2"><code class="inline">and/2</code></a>, <a href="kernel#or/2"><code class="inline">or/2</code></a>, and <a href="kernel#not/1"><code class="inline">not/1</code></a> exclusively when interfacing with Erlang APIs.</p> </div> <div class="bottom-actions" id="bottom-actions"> <div class="bottom-actions-item"> <a href="what-anti-patterns" class="bottom-actions-button" rel="prev"> <span class="subheader"> ← Previous Page </span> <span class="title"> What are anti-patterns? </span> </a> </div> <div class="bottom-actions-item"> <a href="design-anti-patterns" class="bottom-actions-button" rel="next"> <span class="subheader"> Next Page → </span> <span class="title"> Design-related anti-patterns </span> </a> </div> </div> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/code-anti-patterns.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/code-anti-patterns.html</a>
  </p>
</div>
