<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/code/fragment.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">Code.Fragment</span>  </h1> <section id="moduledoc"> <p>This module provides conveniences for analyzing fragments of textual code and extract available information whenever possible.</p>
<p>This module should be considered experimental.</p> </section> </div> <section id="summary" class="details-list"> <h1 class="section-heading">  <span class="text">Summary</span> </h1> <h2> Types </h2>
<dl class="summary-types summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#t:position/0" data-no-tooltip translate="no">position()</a> </dt> </div> </dl> <h2> Functions </h2>
<dl class="summary-functions summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#container_cursor_to_quoted/2" data-no-tooltip translate="no">container_cursor_to_quoted(fragment, opts \\ [])</a> </dt> <dd class="summary-synopsis"><p>Receives a string and returns a quoted expression with the cursor AST position within its parent expression.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#cursor_context/2" data-no-tooltip translate="no">cursor_context(fragment, opts \\ [])</a> </dt> <dd class="summary-synopsis"><p>Receives a string and returns the cursor context.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#surround_context/3" data-no-tooltip translate="no">surround_context(fragment, position, options \\ [])</a> </dt> <dd class="summary-synopsis"><p>Receives a string and returns the surround context.</p></dd> </div> </dl> </section> <section id="types" class="details-list"> <h1 class="section-heading">  <span class="text">Types</span> </h1> <div class="types-list"> <section class="detail"> <h3 class="detail-header" id="t:position/0">position()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/code/fragment.ex#L9" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type position() :: {line :: pos_integer(), column :: pos_integer()}</pre> </div> </section> </section> </div> </section> <section id="functions" class="details-list"> <h1 class="section-heading">  <span class="text">Functions</span> </h1> <div class="functions-list"> <section class="detail">  <h3 class="detail-header" id="container_cursor_to_quoted/2">container_cursor_to_quoted(fragment, opts \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/code/fragment.ex#L1090" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec container_cursor_to_quoted(
  List.Chars.t(),
  keyword()
) ::
  {:ok, Macro.t()}
  | {:error, {location :: keyword(), binary() | {binary(), binary()}, binary()}}</pre> </div> <p>Receives a string and returns a quoted expression with the cursor AST position within its parent expression.</p>
<p>This function receives a string with an Elixir code fragment, representing a cursor position, and converts such string to AST with the inclusion of special <code class="inline">__cursor__()</code> node representing the cursor position within its container (i.e. its parent).</p>
<p>For example, take this code, which would be given as input:</p>
<pre data-language="elixir">max(some_value,</pre>
<p>This function will return the AST equivalent to:</p>
<pre data-language="elixir">max(some_value, __cursor__())</pre>
<p>In other words, this function is capable of closing any open brackets and insert the cursor position. Other content at the cursor position which is not a parent is discarded. For example, if this is given as input:</p>
<pre data-language="elixir">max(some_value, another_val</pre>
<p>It will return the same AST:</p>
<pre data-language="elixir">max(some_value, __cursor__())</pre>
<p>Similarly, if only this is given:</p>
<pre data-language="elixir">max(some_va</pre>
<p>Then it returns:</p>
<pre data-language="elixir">max(__cursor__())</pre>
<p>Calls without parenthesis are also supported, as we assume the brackets are implicit.</p>
<p>Tuples, lists, maps, and binaries all retain the cursor position:</p>
<pre data-language="elixir">max(some_value, [1, 2,</pre>
<p>Returns the following AST:</p>
<pre data-language="elixir">max(some_value, [1, 2, __cursor__()])</pre>
<p>Keyword lists (and do-end blocks) are also retained. The following:</p>
<pre data-language="elixir">if(some_value, do:
if(some_value, do: :token
if(some_value, do: 1 + val</pre>
<p>all return:</p>
<pre data-language="elixir">if(some_value, do: __cursor__())</pre>
<p>For multi-line blocks, all previous lines are preserved.</p>
<p>The AST returned by this function is not safe to evaluate but it can be analyzed and expanded.</p>
<h4 id="container_cursor_to_quoted/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <p>Function call:</p>
<pre data-language="elixir">iex&gt; Code.Fragment.container_cursor_to_quoted("max(some_value, ")
{:ok, {:max, [line: 1], [{:some_value, [line: 1], nil}, {:__cursor__, [line: 1], []}]}}</pre>
<p>Containers (for example, a list):</p>
<pre data-language="elixir">iex&gt; Code.Fragment.container_cursor_to_quoted("[some, value")
{:ok, [{:some, [line: 1], nil}, {:__cursor__, [line: 1], []}]}</pre>
<p>If an expression is complete, then the whole expression is discarded and only the parent is returned:</p>
<pre data-language="elixir">iex&gt; Code.Fragment.container_cursor_to_quoted("if(is_atom(var)")
{:ok, {:if, [line: 1], [{:__cursor__, [line: 1], []}]}}</pre>
<p>this means complete expressions themselves return only the cursor:</p>
<pre data-language="elixir">iex&gt; Code.Fragment.container_cursor_to_quoted("if(is_atom(var))")
{:ok, {:__cursor__, [line: 1], []}}</pre>
<p>Operators are also included from Elixir v1.15:</p>
<pre data-language="elixir">iex&gt; Code.Fragment.container_cursor_to_quoted("foo +")
{:ok, {:+, [line: 1], [{:foo, [line: 1], nil}, {:__cursor__, [line: 1], []}]}}</pre>
<h4 id="container_cursor_to_quoted/2-options" class="section-heading">  <span class="text">Options</span> </h4> <ul>
<li><p><code class="inline">:file</code> - the filename to be reported in case of parsing errors. Defaults to <code class="inline">"nofile"</code>.</p></li>
<li><p><code class="inline">:line</code> - the starting line of the string being parsed. Defaults to 1.</p></li>
<li><p><code class="inline">:column</code> - the starting column of the string being parsed. Defaults to 1.</p></li>
<li><p><code class="inline">:columns</code> - when <code class="inline">true</code>, attach a <code class="inline">:column</code> key to the quoted metadata. Defaults to <code class="inline">false</code>.</p></li>
<li><p><code class="inline">:token_metadata</code> - when <code class="inline">true</code>, includes token-related metadata in the expression AST, such as metadata for <code class="inline">do</code> and <code class="inline">end</code> tokens, for closing tokens, end of expressions, as well as delimiters for sigils. See <a href="macro#t:metadata/0"><code class="inline">Macro.metadata/0</code></a>. Defaults to <code class="inline">false</code>.</p></li>
<li><p><code class="inline">:literal_encoder</code> - a function to encode literals in the AST. See the documentation for <a href="code#string_to_quoted/2"><code class="inline">Code.string_to_quoted/2</code></a> for more information.</p></li>
</ul> </section> </section> <section class="detail">  <h3 class="detail-header" id="cursor_context/2">cursor_context(fragment, opts \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/code/fragment.ex#L173" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec cursor_context(
  List.Chars.t(),
  keyword()
) ::
  {:alias, charlist()}
  | {:alias, inside_alias, charlist()}
  | {:dot, inside_dot, charlist()}
  | {:dot_arity, inside_dot, charlist()}
  | {:dot_call, inside_dot, charlist()}
  | :expr
  | {:local_or_var, charlist()}
  | {:local_arity, charlist()}
  | {:local_call, charlist()}
  | {:anonymous_call, inside_caller}
  | {:module_attribute, charlist()}
  | {:operator, charlist()}
  | {:operator_arity, charlist()}
  | {:operator_call, charlist()}
  | :none
  | {:sigil, charlist()}
  | {:struct, inside_struct}
  | {:unquoted_atom, charlist()}
when inside_dot:
       {:alias, charlist()}
       | {:alias, inside_alias, charlist()}
       | {:dot, inside_dot, charlist()}
       | {:module_attribute, charlist()}
       | {:unquoted_atom, charlist()}
       | {:var, charlist()}
       | :expr,
     inside_alias: {:local_or_var, charlist()} | {:module_attribute, charlist()},
     inside_struct:
       charlist()
       | {:alias, inside_alias, charlist()}
       | {:local_or_var, charlist()}
       | {:module_attribute, charlist()}
       | {:dot, inside_dot, charlist()},
     inside_caller: {:var, charlist()} | {:module_attribute, charlist()}</pre> </div> <p>Receives a string and returns the cursor context.</p>
<p>This function receives a string with an Elixir code fragment, representing a cursor position, and based on the string, it provides contextual information about the latest token. The return of this function can then be used to provide tips, suggestions, and autocompletion functionality.</p>
<p>This function performs its analyses on tokens. This means it does not understand how constructs are nested within each other. See the "Limitations" section below.</p>
<p>Consider adding a catch-all clause when handling the return type of this function as new cursor information may be added in future releases.</p>
<h4 id="cursor_context/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Code.Fragment.cursor_context("")
:expr

iex&gt; Code.Fragment.cursor_context("hello_wor")
{:local_or_var, ~c"hello_wor"}</pre>
<h4 id="cursor_context/2-return-values" class="section-heading">  <span class="text">Return values</span> </h4> <ul>
<li><p><code class="inline">{:alias, charlist}</code> - the context is an alias, potentially a nested one, such as <code class="inline">Hello.Wor</code> or <code class="inline">HelloWor</code></p></li>
<li><p><code class="inline">{:alias, inside_alias, charlist}</code> - the context is an alias, potentially a nested one, where <code class="inline">inside_alias</code> is an expression <code class="inline">{:module_attribute, charlist}</code> or <code class="inline">{:local_or_var, charlist}</code> and <code class="inline">charlist</code> is a static part Examples are <code class="inline">__MODULE__.Submodule</code> or <code class="inline">@hello.Submodule</code></p></li>
<li><p><code class="inline">{:dot, inside_dot, charlist}</code> - the context is a dot where <code class="inline">inside_dot</code> is either a <code class="inline">{:var, charlist}</code>, <code class="inline">{:alias, charlist}</code>, <code class="inline">{:module_attribute, charlist}</code>, <code class="inline">{:unquoted_atom, charlist}</code> or a <code class="inline">dot</code> itself. If a var is given, this may either be a remote call or a map field access. Examples are <code class="inline">Hello.wor</code>, <code class="inline">:hello.wor</code>, <code class="inline">hello.wor</code>, <code class="inline">Hello.nested.wor</code>, <code class="inline">hello.nested.wor</code>, and <code class="inline">@hello.world</code>. If <code class="inline">charlist</code> is empty and <code class="inline">inside_dot</code> is an alias, then the autocompletion may either be an alias or a remote call.</p></li>
<li><p><code class="inline">{:dot_arity, inside_dot, charlist}</code> - the context is a dot arity where <code class="inline">inside_dot</code> is either a <code class="inline">{:var, charlist}</code>, <code class="inline">{:alias, charlist}</code>, <code class="inline">{:module_attribute, charlist}</code>, <code class="inline">{:unquoted_atom, charlist}</code> or a <code class="inline">dot</code> itself. If a var is given, it must be a remote arity. Examples are <code class="inline">Hello.world/</code>, <code class="inline">:hello.world/</code>, <code class="inline">hello.world/2</code>, and <code class="inline">@hello.world/2</code></p></li>
<li><p><code class="inline">{:dot_call, inside_dot, charlist}</code> - the context is a dot call. This means parentheses or space have been added after the expression. where <code class="inline">inside_dot</code> is either a <code class="inline">{:var, charlist}</code>, <code class="inline">{:alias, charlist}</code>, <code class="inline">{:module_attribute, charlist}</code>, <code class="inline">{:unquoted_atom, charlist}</code> or a <code class="inline">dot</code> itself. If a var is given, it must be a remote call. Examples are <code class="inline">Hello.world(</code>, <code class="inline">:hello.world(</code>, <code class="inline">Hello.world</code>, <code class="inline">hello.world(</code>, <code class="inline">hello.world</code>, and <code class="inline">@hello.world(</code></p></li>
<li><p><code class="inline">:expr</code> - may be any expression. Autocompletion may suggest an alias, local or var</p></li>
<li><p><code class="inline">{:local_or_var, charlist}</code> - the context is a variable or a local (import or local) call, such as <code class="inline">hello_wor</code></p></li>
<li><p><code class="inline">{:local_arity, charlist}</code> - the context is a local (import or local) arity, such as <code class="inline">hello_world/</code></p></li>
<li><p><code class="inline">{:local_call, charlist}</code> - the context is a local (import or local) call, such as <code class="inline">hello_world(</code> and <code class="inline">hello_world</code></p></li>
<li><p><code class="inline">{:anonymous_call, inside_caller}</code> - the context is an anonymous call, such as <code class="inline">fun.(</code> and <code class="inline">@fun.(</code>.</p></li>
<li><p><code class="inline">{:module_attribute, charlist}</code> - the context is a module attribute, such as <code class="inline">@hello_wor</code></p></li>
<li><p><code class="inline">{:operator, charlist}</code> - the context is an operator, such as <code class="inline">+</code> or <code class="inline">==</code>. Note textual operators, such as <code class="inline">when</code> do not appear as operators but rather as <code class="inline">:local_or_var</code>. <code class="inline">@</code> is never an <code class="inline">:operator</code> and always a <code class="inline">:module_attribute</code></p></li>
<li><p><code class="inline">{:operator_arity, charlist}</code> - the context is an operator arity, which is an operator followed by /, such as <code class="inline">+/</code>, <code class="inline">not/</code> or <code class="inline">when/</code></p></li>
<li><p><code class="inline">{:operator_call, charlist}</code> - the context is an operator call, which is an operator followed by space, such as <code class="inline">left +</code>, <code class="inline">not</code> or <code class="inline">x when</code></p></li>
<li><p><code class="inline">:none</code> - no context possible</p></li>
<li><p><code class="inline">{:sigil, charlist}</code> - the context is a sigil. It may be either the beginning of a sigil, such as <code class="inline">~</code> or <code class="inline">~s</code>, or an operator starting with <code class="inline">~</code>, such as <code class="inline">~&gt;</code> and <code class="inline">~&gt;&gt;</code></p></li>
<li><p><code class="inline">{:struct, inside_struct}</code> - the context is a struct, such as <code class="inline">%</code>, <code class="inline">%UR</code> or <code class="inline">%URI</code>. <code class="inline">inside_struct</code> can either be a <code class="inline">charlist</code> in case of a static alias or an expression <code class="inline">{:alias, inside_alias, charlist}</code>, <code class="inline">{:module_attribute, charlist}</code>, <code class="inline">{:local_or_var, charlist}</code>, <code class="inline">{:dot, inside_dot, charlist}</code></p></li>
<li><p><code class="inline">{:unquoted_atom, charlist}</code> - the context is an unquoted atom. This can be any atom or an atom representing a module</p></li>
</ul>
<p>We recommend looking at the test suite of this function for a complete list of examples and their return values.</p>
<h4 id="cursor_context/2-limitations" class="section-heading">  <span class="text">Limitations</span> </h4> <p>The analysis is based on the current token, by analysing the last line of the input. For example, this code:</p>
<pre data-language="elixir">iex&gt; Code.Fragment.cursor_context("%URI{")
:expr</pre>
<p>returns <code class="inline">:expr</code>, which suggests any variable, local function or alias could be used. However, given we are inside a struct, the best suggestion would be a struct field. In such cases, you can use <code class="inline">container_cursor_to_quoted</code>, which will return the container of the AST the cursor is currently within. You can then analyse this AST to provide completion of field names.</p>
<p>As a consequence of its token-based implementation, this function considers only the last line of the input. This means it will show suggestions inside strings, heredocs, etc, which is intentional as it helps with doctests, references, and more.</p> </section> </section> <section class="detail">  <h3 class="detail-header" id="surround_context/3">surround_context(fragment, position, options \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/code/fragment.ex#L611" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec surround_context(List.Chars.t(), position(), keyword()) ::
  %{begin: position(), end: position(), context: context} | :none
when context:
       {:alias, charlist()}
       | {:alias, inside_alias, charlist()}
       | {:dot, inside_dot, charlist()}
       | {:local_or_var, charlist()}
       | {:local_arity, charlist()}
       | {:local_call, charlist()}
       | {:module_attribute, charlist()}
       | {:operator, charlist()}
       | {:sigil, charlist()}
       | {:struct, inside_struct}
       | {:unquoted_atom, charlist()}
       | {:keyword, charlist()},
     inside_dot:
       {:alias, charlist()}
       | {:alias, inside_alias, charlist()}
       | {:dot, inside_dot, charlist()}
       | {:module_attribute, charlist()}
       | {:unquoted_atom, charlist()}
       | {:var, charlist()}
       | :expr,
     inside_alias: {:local_or_var, charlist()} | {:module_attribute, charlist()},
     inside_struct:
       charlist()
       | {:alias, inside_alias, charlist()}
       | {:local_or_var, charlist()}
       | {:module_attribute, charlist()}
       | {:dot, inside_dot, charlist()}</pre> </div> <p>Receives a string and returns the surround context.</p>
<p>This function receives a string with an Elixir code fragment and a <code class="inline">position</code>. It returns a map containing the beginning and ending of the identifier alongside its context, or <code class="inline">:none</code> if there is nothing with a known context. This is useful to provide mouse-over and highlight functionality in editors.</p>
<p>The difference between <a href="#cursor_context/2"><code class="inline">cursor_context/2</code></a> and <a href="#surround_context/3"><code class="inline">surround_context/3</code></a> is that the former assumes the expression in the code fragment is incomplete. For example, <code class="inline">do</code> in <a href="#cursor_context/2"><code class="inline">cursor_context/2</code></a> may be a keyword or a variable or a local call, while <a href="#surround_context/3"><code class="inline">surround_context/3</code></a> assumes the expression in the code fragment is complete, therefore <code class="inline">do</code> would always be a keyword.</p>
<p>The <code class="inline">position</code> contains both the <code class="inline">line</code> and <code class="inline">column</code>, both starting with the index of 1. The column must precede the surrounding expression. For example, the expression <code class="inline">foo</code>, will return something for the columns 1, 2, and 3, but not 4:</p>
<pre data-language="elixir">foo
^ column 1

foo
 ^ column 2

foo
  ^ column 3

foo
   ^ column 4</pre>
<p>The returned map contains the column the expression starts and the first column after the expression ends.</p>
<p>Similar to <a href="#cursor_context/2"><code class="inline">cursor_context/2</code></a>, this function is also token-based and may not be accurate under all circumstances. See the "Return values" and "Limitations" section under <a href="#cursor_context/2"><code class="inline">cursor_context/2</code></a> for more information.</p>
<h4 id="surround_context/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Code.Fragment.surround_context("foo", {1, 1})
%{begin: {1, 1}, context: {:local_or_var, ~c"foo"}, end: {1, 4}}</pre>
<h4 id="surround_context/3-differences-to-cursor_context-2" class="section-heading">  <span class="text">Differences to <a href="#cursor_context/2"><code class="inline">cursor_context/2</code></a></span> </h4> <p>Because <a href="#surround_context/3"><code class="inline">surround_context/3</code></a> attempts to capture complex expressions, it has some differences to <a href="#cursor_context/2"><code class="inline">cursor_context/2</code></a>:</p>
<ul>
<li><p><code class="inline">dot_call</code>/<code class="inline">dot_arity</code> and <code class="inline">operator_call</code>/<code class="inline">operator_arity</code> are collapsed into <code class="inline">dot</code> and <code class="inline">operator</code> contexts respectively as there aren't any meaningful distinctions between them</p></li>
<li><p>On the other hand, this function still makes a distinction between <code class="inline">local_call</code>/<code class="inline">local_arity</code> and <code class="inline">local_or_var</code>, since the latter can be a local or variable</p></li>
<li><p><code class="inline">@</code> when not followed by any identifier is returned as <code class="inline">{:operator, '@'}</code> (in contrast to <code class="inline">{:module_attribute, ''}</code> in <a href="#cursor_context/2"><code class="inline">cursor_context/2</code></a></p></li>
<li><p>This function never returns empty sigils <code class="inline">{:sigil, ''}</code> or empty structs <code class="inline">{:struct, ''}</code> as context</p></li>
<li><p>This function returns keywords as <code class="inline">{:keyword, 'do'}</code></p></li>
<li><p>This function never returns <code class="inline">:expr</code></p></li>
</ul>
<p>We recommend looking at the test suite of this function for a complete list of examples and their return values.</p> </section> </section> </div> </section> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/Code.Fragment.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/Code.Fragment.html</a>
  </p>
</div>
