<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/collectable.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">Collectable</span> <small>protocol</small>  </h1> <section id="moduledoc"> <p>A protocol to traverse data structures.</p>
<p>The <a href="enum#into/2"><code class="inline">Enum.into/2</code></a> function uses this protocol to insert an enumerable into a collection:</p>
<pre data-language="elixir">iex&gt; Enum.into([a: 1, b: 2], %{})
%{a: 1, b: 2}</pre>
<h2 id="module-why-collectable" class="section-heading">  <span class="text">Why Collectable?</span> </h2> <p>The <a href="enumerable"><code class="inline">Enumerable</code></a> protocol is useful to take values out of a collection. In order to support a wide range of values, the functions provided by the <a href="enumerable"><code class="inline">Enumerable</code></a> protocol do not keep shape. For example, passing a map to <a href="enum#map/2"><code class="inline">Enum.map/2</code></a> always returns a list.</p>
<p>This design is intentional. <a href="enumerable"><code class="inline">Enumerable</code></a> was designed to support infinite collections, resources and other structures with fixed shape. For example, it doesn't make sense to insert values into a <a href="range"><code class="inline">Range</code></a>, as it has a fixed shape where only the range limits and step are stored.</p>
<p>The <a href="collectable"><code class="inline">Collectable</code></a> module was designed to fill the gap left by the <a href="enumerable"><code class="inline">Enumerable</code></a> protocol. <a href="#into/1"><code class="inline">Collectable.into/1</code></a> can be seen as the opposite of <a href="enumerable#reduce/3"><code class="inline">Enumerable.reduce/3</code></a>. If the functions in <a href="enumerable"><code class="inline">Enumerable</code></a> are about taking values out, then <a href="#into/1"><code class="inline">Collectable.into/1</code></a> is about collecting those values into a structure.</p>
<h2 id="module-examples" class="section-heading">  <span class="text">Examples</span> </h2> <p>To show how to manually use the <a href="collectable"><code class="inline">Collectable</code></a> protocol, let's play with a simplified implementation for <a href="mapset"><code class="inline">MapSet</code></a>.</p>
<pre data-language="elixir">iex&gt; {initial_acc, collector_fun} = Collectable.into(MapSet.new())
iex&gt; updated_acc = Enum.reduce([1, 2, 3], initial_acc, fn elem, acc -&gt;
...&gt;   collector_fun.(acc, {:cont, elem})
...&gt; end)
iex&gt; collector_fun.(updated_acc, :done)
MapSet.new([1, 2, 3])</pre>
<p>To show how the protocol can be implemented, we can again look at the simplified implementation for <a href="mapset"><code class="inline">MapSet</code></a>. In this implementation "collecting" elements simply means inserting them in the set through <a href="mapset#put/2"><code class="inline">MapSet.put/2</code></a>.</p>
<pre data-language="elixir">defimpl Collectable, for: MapSet do
  def into(map_set) do
    collector_fun = fn
      map_set_acc, {:cont, elem} -&gt;
        MapSet.put(map_set_acc, elem)

      map_set_acc, :done -&gt;
        map_set_acc

      _map_set_acc, :halt -&gt;
        :ok
    end

    initial_acc = map_set

    {initial_acc, collector_fun}
  end
end</pre>
<p>So now we can call <a href="enum#into/2"><code class="inline">Enum.into/2</code></a>:</p>
<pre data-language="elixir">iex&gt; Enum.into([1, 2, 3], MapSet.new())
MapSet.new([1, 2, 3])</pre> </section> </div> <section id="summary" class="details-list"> <h1 class="section-heading">  <span class="text">Summary</span> </h1> <h2> Types </h2>
<dl class="summary-types summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#t:command/0" data-no-tooltip translate="no">command()</a> </dt> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:t/0" data-no-tooltip translate="no">t()</a> </dt> <dd class="summary-synopsis"><p>All the types that implement this protocol.</p></dd> </div> </dl> <h2> Functions </h2>
<dl class="summary-functions summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#into/1" data-no-tooltip translate="no">into(collectable)</a> </dt> <dd class="summary-synopsis"><p>Returns an initial accumulator and a "collector" function.</p></dd> </div> </dl> </section> <section id="types" class="details-list"> <h1 class="section-heading">  <span class="text">Types</span> </h1> <div class="types-list"> <section class="detail"> <h3 class="detail-header" id="t:command/0">command()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/collectable.ex#L70" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type command() :: {:cont, term()} | :done | :halt</pre> </div> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:t/0">t()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/collectable.ex#L1" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type t() :: term()</pre> </div> <p>All the types that implement this protocol.</p> </section> </section> </div> </section> <section id="functions" class="details-list"> <h1 class="section-heading">  <span class="text">Functions</span> </h1> <div class="functions-list"> <section class="detail"> <h3 class="detail-header" id="into/1">into(collectable)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/collectable.ex#L92" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec into(t()) ::
  {initial_acc :: term(), collector :: (term(), command() -&gt; t() | term())}</pre> </div> <p>Returns an initial accumulator and a "collector" function.</p>
<p>Receives a <code class="inline">collectable</code> which can be used as the initial accumulator that will be passed to the function.</p>
<p>The collector function receives a term and a command and injects the term into the collectable accumulator on every <code class="inline">{:cont, term}</code> command.</p>
<p><code class="inline">:done</code> is passed as a command when no further values will be injected. This is useful when there's a need to close resources or normalizing values. A collectable must be returned when the command is <code class="inline">:done</code>.</p>
<p>If injection is suddenly interrupted, <code class="inline">:halt</code> is passed and the function can return any value as it won't be used.</p>
<p>For examples on how to use the <a href="collectable"><code class="inline">Collectable</code></a> protocol and <a href="#into/1"><code class="inline">into/1</code></a> see the module documentation.</p> </section> </section> </div> </section> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/Collectable.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/Collectable.html</a>
  </p>
</div>
