<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/pages/references/compatibility-and-deprecations.md#L1" title="View Source" class="source" rel="help">Source</a> <span>Compatibility and deprecations</span> </h1> <p>Elixir is versioned according to a vMAJOR.MINOR.PATCH schema.</p>
<p>Elixir is currently at major version v1. A new backwards compatible minor release happens every 6 months. Patch releases are not scheduled and are made whenever there are bug fixes or security patches.</p>
<p>Elixir applies bug fixes only to the latest minor branch. Security patches are available for the last 5 minor branches:</p>
<table>
<thead><tr>
<th style="text-align: left;">Elixir version</th>
<th style="text-align: left;">Support</th>
</tr></thead>
<tbody>
<tr>
<td style="text-align: left;">1.17</td>
<td style="text-align: left;">Bug fixes and security patches</td>
</tr>
<tr>
<td style="text-align: left;">1.16</td>
<td style="text-align: left;">Security patches only</td>
</tr>
<tr>
<td style="text-align: left;">1.15</td>
<td style="text-align: left;">Security patches only</td>
</tr>
<tr>
<td style="text-align: left;">1.14</td>
<td style="text-align: left;">Security patches only</td>
</tr>
<tr>
<td style="text-align: left;">1.13</td>
<td style="text-align: left;">Security patches only</td>
</tr>
</tbody>
</table>
<p>New releases are announced in the read-only <a href="https://groups.google.com/group/elixir-lang-ann">announcements mailing list</a>. All security releases <a href="https://groups.google.com/forum/#!searchin/elixir-lang-ann/%5Bsecurity%5D%7Csort:date">will be tagged with <code class="inline">[security]</code></a>.</p>
<p>There are currently no plans for a major v2 release.</p>
<h2 id="between-non-major-elixir-versions" class="section-heading">  <span class="text">Between non-major Elixir versions</span> </h2> <p>Elixir minor and patch releases are backwards compatible: well-defined behaviors and documented APIs in a given version will continue working on future versions.</p>
<p>Although we expect the vast majority of programs to remain compatible over time, it is impossible to guarantee that no future change will break any program. Under some unlikely circumstances, we may introduce changes that break existing code:</p>
<ul>
<li><p>Security: a security issue in the implementation may arise whose resolution requires backwards incompatible changes. We reserve the right to address such security issues.</p></li>
<li><p>Bugs: if an API has undesired behavior, a program that depends on the buggy behavior may break if the bug is fixed. We reserve the right to fix such bugs.</p></li>
<li><p>Compiler front-end: improvements may be done to the compiler, introducing new warnings for ambiguous modes and providing more detailed error messages. Those can lead to compilation errors (when running with <code class="inline">--warning-as-errors</code>) or tooling failures when asserting on specific error messages (although one should avoid such). We reserve the right to do such improvements.</p></li>
<li><p>Imports: new functions may be added to the <a href="kernel"><code class="inline">Kernel</code></a> module, which is auto-imported. They may collide with local functions defined in your modules. Collisions can be resolved in a backwards compatible fashion using <code class="inline">import Kernel, except: [...]</code> with a list of all functions you don't want to be imported from <a href="kernel"><code class="inline">Kernel</code></a>. We reserve the right to do such additions.</p></li>
</ul>
<p>In order to continue evolving the language without introducing breaking changes, Elixir will rely on deprecations to demote certain practices and promote new ones. Our deprecation policy is outlined in the <a href="#deprecations">"Deprecations" section</a>.</p>
<p>The only exception to the compatibility guarantees above are experimental features, which will be explicitly marked as such, and do not provide any compatibility guarantee until they are stabilized.</p>
<h2 id="between-elixir-and-erlang-otp" class="section-heading">  <span class="text">Between Elixir and Erlang/OTP</span> </h2> <p>Erlang/OTP versioning is independent from the versioning of Elixir. Erlang releases a new major version yearly. Our goal is to support the last three Erlang major versions by the time Elixir is released. The compatibility table is shown below.</p>
<table>
<thead><tr>
<th style="text-align: left;">Elixir version</th>
<th style="text-align: left;">Supported Erlang/OTP versions</th>
</tr></thead>
<tbody>
<tr>
<td style="text-align: left;">1.17</td>
<td style="text-align: left;">25 - 27</td>
</tr>
<tr>
<td style="text-align: left;">1.16</td>
<td style="text-align: left;">24 - 26</td>
</tr>
<tr>
<td style="text-align: left;">1.15</td>
<td style="text-align: left;">24 - 26</td>
</tr>
<tr>
<td style="text-align: left;">1.14</td>
<td style="text-align: left;">23 - 25 (and Erlang/OTP 26 from v1.14.5)</td>
</tr>
<tr>
<td style="text-align: left;">1.13</td>
<td style="text-align: left;">22 - 24 (and Erlang/OTP 25 from v1.13.4)</td>
</tr>
<tr>
<td style="text-align: left;">1.12</td>
<td style="text-align: left;">22 - 24</td>
</tr>
<tr>
<td style="text-align: left;">1.11</td>
<td style="text-align: left;">21 - 23 (and Erlang/OTP 24 from v1.11.4)</td>
</tr>
<tr>
<td style="text-align: left;">1.10</td>
<td style="text-align: left;">21 - 22 (and Erlang/OTP 23 from v1.10.3)</td>
</tr>
<tr>
<td style="text-align: left;">1.9</td>
<td style="text-align: left;">20 - 22</td>
</tr>
<tr>
<td style="text-align: left;">1.8</td>
<td style="text-align: left;">20 - 22</td>
</tr>
<tr>
<td style="text-align: left;">1.7</td>
<td style="text-align: left;">19 - 22</td>
</tr>
<tr>
<td style="text-align: left;">1.6</td>
<td style="text-align: left;">19 - 20 (and Erlang/OTP 21 from v1.6.6)</td>
</tr>
<tr>
<td style="text-align: left;">1.5</td>
<td style="text-align: left;">18 - 20</td>
</tr>
<tr>
<td style="text-align: left;">1.4</td>
<td style="text-align: left;">18 - 19 (and Erlang/OTP 20 from v1.4.5)</td>
</tr>
<tr>
<td style="text-align: left;">1.3</td>
<td style="text-align: left;">18 - 19</td>
</tr>
<tr>
<td style="text-align: left;">1.2</td>
<td style="text-align: left;">18 - 18 (and Erlang/OTP 19 from v1.2.6)</td>
</tr>
<tr>
<td style="text-align: left;">1.1</td>
<td style="text-align: left;">17 - 18</td>
</tr>
<tr>
<td style="text-align: left;">1.0</td>
<td style="text-align: left;">17 - 17 (and Erlang/OTP 18 from v1.0.5)</td>
</tr>
</tbody>
</table>
<p>Elixir may add compatibility to new Erlang/OTP versions on patch releases, such as support for Erlang/OTP 20 in v1.4.5. Those releases are made for convenience and typically contain the minimum changes for Elixir to run without errors, if any changes are necessary. Only the next minor release, in this case v1.5.0, effectively leverages the new features provided by the latest Erlang/OTP release.</p>
<h2 id="deprecations" class="section-heading">  <span class="text">Deprecations</span> </h2> <h3 id="policy" class="section-heading">  <span class="text">Policy</span> </h3> <p>Elixir deprecations happen in 3 steps:</p>
<ol>
<li><p>The feature is soft-deprecated. It means both CHANGELOG and documentation must list the feature as deprecated but no warning is effectively emitted by running the code. There is no requirement to soft-deprecate a feature.</p></li>
<li><p>The feature is effectively deprecated by emitting warnings on usage. This is also known as hard-deprecation. In order to deprecate a feature, the proposed alternative MUST exist for AT LEAST THREE minor versions. For example, <code class="inline">Enum.uniq/2</code> was soft-deprecated in favor of <a href="enum#uniq_by/2"><code class="inline">Enum.uniq_by/2</code></a> in Elixir v1.1. This means a deprecation warning may only be emitted by Elixir v1.4 or later.</p></li>
<li><p>The feature is removed. This can only happen on major releases. This means deprecated features in Elixir v1.x shall only be removed by Elixir v2.x.</p></li>
</ol>
<h3 id="table-of-deprecations" class="section-heading">  <span class="text">Table of deprecations</span> </h3> <p>The first column is the version the feature was hard deprecated. The second column shortly describes the deprecated feature and the third column explains the replacement and from which the version the replacement is available from.</p>
<table>
<thead><tr>
<th style="text-align: left;">Version</th>
<th style="text-align: left;">Deprecated feature</th>
<th style="text-align: left;">Replaced by (available since)</th>
</tr></thead>
<tbody>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.17/CHANGELOG.md#4-hard-deprecations" title="">v1.17</a></td>
<td style="text-align: left;">Single-quoted charlists (<code class="inline">'foo'</code>)</td>
<td style="text-align: left;">
<code class="inline">~c"foo"</code> (v1.0)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.17/CHANGELOG.md#4-hard-deprecations" title="">v1.17</a></td>
<td style="text-align: left;">
<code class="inline">left..right</code> in patterns and guards</td>
<td style="text-align: left;">
<code class="inline">left..right//step</code> (v1.11)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.17/CHANGELOG.md#4-hard-deprecations" title="">v1.17</a></td>
<td style="text-align: left;"><a href="https://hexdocs.pm/ex_unit/ExUnit.Case.html#register_test/4"><code class="inline">ExUnit.Case.register_test/4</code></a></td>
<td style="text-align: left;">
<code class="inline">register_test/6</code> (v1.10)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.17/CHANGELOG.md#4-hard-deprecations" title="">v1.17</a></td>
<td style="text-align: left;">
<code class="inline">:all</code> in <a href="io#read/2"><code class="inline">IO.read/2</code></a> and <a href="io#binread/2"><code class="inline">IO.binread/2</code></a>
</td>
<td style="text-align: left;">
<code class="inline">:eof</code> (v1.13)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.16/CHANGELOG.md#4-hard-deprecations" title="">v1.16</a></td>
<td style="text-align: left;"><code class="inline">~R/.../</code></td>
<td style="text-align: left;">
<code class="inline">~r/.../</code> (v1.0)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.16/CHANGELOG.md#4-hard-deprecations" title="">v1.16</a></td>
<td style="text-align: left;">Ranges with negative steps in <a href="enum#slice/2"><code class="inline">Enum.slice/2</code></a>
</td>
<td style="text-align: left;">Explicit steps in ranges (v1.11)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.16/CHANGELOG.md#4-hard-deprecations" title="">v1.16</a></td>
<td style="text-align: left;">Ranges with negative steps in <a href="string#slice/2"><code class="inline">String.slice/2</code></a>
</td>
<td style="text-align: left;">Explicit steps in ranges (v1.11)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.15/CHANGELOG.md#4-hard-deprecations" title="">v1.15</a></td>
<td style="text-align: left;"><code class="inline">Calendar.ISO.day_of_week/3</code></td>
<td style="text-align: left;">
<a href="calendar.iso#day_of_week/4"><code class="inline">Calendar.ISO.day_of_week/4</code></a> (v1.11)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.15/CHANGELOG.md#4-hard-deprecations" title="">v1.15</a></td>
<td style="text-align: left;"><code class="inline">Exception.exception?/1</code></td>
<td style="text-align: left;">
<a href="kernel#is_exception/1"><code class="inline">Kernel.is_exception/1</code></a> (v1.11)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.15/CHANGELOG.md#4-hard-deprecations" title="">v1.15</a></td>
<td style="text-align: left;"><code class="inline">Regex.regex?/1</code></td>
<td style="text-align: left;">
<a href="kernel#is_struct/2"><code class="inline">Kernel.is_struct/2</code></a> (<code class="inline">Kernel.is_struct(term, Regex)</code>) (v1.11)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.15/CHANGELOG.md#4-hard-deprecations" title="">v1.15</a></td>
<td style="text-align: left;"><a href="https://hexdocs.pm/logger/Logger.html#warn/2"><code class="inline">Logger.warn/2</code></a></td>
<td style="text-align: left;">
<a href="https://hexdocs.pm/logger/Logger.html#warning/2"><code class="inline">Logger.warning/2</code></a> (v1.11)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.14/CHANGELOG.md#4-hard-deprecations" title="">v1.14</a></td>
<td style="text-align: left;"><code class="inline">use Bitwise</code></td>
<td style="text-align: left;">
<code class="inline">import Bitwise</code> (v1.0)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.14/CHANGELOG.md#4-hard-deprecations" title="">v1.14</a></td>
<td style="text-align: left;"><code class="inline">~~~/1</code></td>
<td style="text-align: left;">
<code class="inline">bnot/2</code> (v1.0)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.14/CHANGELOG.md#4-hard-deprecations" title="">v1.14</a></td>
<td style="text-align: left;">
<a href="application#get_env/3"><code class="inline">Application.get_env/3</code></a> and similar in module body</td>
<td style="text-align: left;">
<a href="application#compile_env/3"><code class="inline">Application.compile_env/3</code></a> (v1.10)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.14/CHANGELOG.md#4-hard-deprecations" title="">v1.14</a></td>
<td style="text-align: left;">Compiled patterns in <a href="string#starts_with?/2"><code class="inline">String.starts_with?/2</code></a>
</td>
<td style="text-align: left;">Pass a list of strings instead (v1.0)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.14/CHANGELOG.md#4-hard-deprecations" title="">v1.14</a></td>
<td style="text-align: left;"><a href="https://hexdocs.pm/mix/Mix.Tasks.Xref.html#calls/1"><code class="inline">Mix.Tasks.Xref.calls/1</code></a></td>
<td style="text-align: left;">Compilation tracers (outlined in <a href="code"><code class="inline">Code</code></a>) (v1.10)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.14/CHANGELOG.md#4-hard-deprecations" title="">v1.14</a></td>
<td style="text-align: left;">
<code class="inline">$levelpad</code> in Logger</td>
<td style="text-align: left;"><em>None</em></td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.14/CHANGELOG.md#4-hard-deprecations" title="">v1.14</a></td>
<td style="text-align: left;">
<code class="inline">&lt;|&gt;</code> as a custom operator</td>
<td style="text-align: left;">Another custom operator (v1.0)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.13/CHANGELOG.md#4-hard-deprecations" title="">v1.13</a></td>
<td style="text-align: left;">
<code class="inline">!</code> and <code class="inline">!=</code> in Version requirements</td>
<td style="text-align: left;">
<code class="inline">~&gt;</code> or <code class="inline">&gt;=</code> (v1.0)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.13/CHANGELOG.md#4-hard-deprecations" title="">v1.13</a></td>
<td style="text-align: left;"><code class="inline">Mix.Config</code></td>
<td style="text-align: left;">
<a href="config"><code class="inline">Config</code></a> (v1.9)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.13/CHANGELOG.md#4-hard-deprecations" title="">v1.13</a></td>
<td style="text-align: left;">
<code class="inline">:strip_beam</code> config to <a href="https://hexdocs.pm/mix/Mix.Tasks.Escript.Build.html"><code class="inline">mix escript.build</code></a>
</td>
<td style="text-align: left;">
<code class="inline">:strip_beams</code> (v1.9)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.13/CHANGELOG.md#4-hard-deprecations" title="">v1.13</a></td>
<td style="text-align: left;"><a href="macro#to_string/2"><code class="inline">Macro.to_string/2</code></a></td>
<td style="text-align: left;">
<a href="macro#to_string/1"><code class="inline">Macro.to_string/1</code></a> (v1.0)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.13/CHANGELOG.md#4-hard-deprecations" title="">v1.13</a></td>
<td style="text-align: left;"><a href="system#get_pid/0"><code class="inline">System.get_pid/0</code></a></td>
<td style="text-align: left;">
<a href="system#pid/0"><code class="inline">System.pid/0</code></a> (v1.9)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.12/CHANGELOG.md#4-hard-deprecations" title="">v1.12</a></td>
<td style="text-align: left;"><code class="inline">^^^/2</code></td>
<td style="text-align: left;">
<code class="inline">bxor/2</code> (v1.0)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.12/CHANGELOG.md#4-hard-deprecations" title="">v1.12</a></td>
<td style="text-align: left;">
<code class="inline">@foo()</code> to read module attributes</td>
<td style="text-align: left;">Remove the parenthesis (v1.0)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.12/CHANGELOG.md#4-hard-deprecations" title="">v1.12</a></td>
<td style="text-align: left;"><code class="inline">use EEx.Engine</code></td>
<td style="text-align: left;">Explicitly delegate to EEx.Engine instead (v1.0)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.12/CHANGELOG.md#4-hard-deprecations" title="">v1.12</a></td>
<td style="text-align: left;">
<code class="inline">:xref</code> compiler in Mix</td>
<td style="text-align: left;">Nothing (it always runs as part of the compiler now)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.11/CHANGELOG.md#4-hard-deprecations" title="">v1.11</a></td>
<td style="text-align: left;"><code class="inline">Mix.Project.compile/2</code></td>
<td style="text-align: left;">
<code class="inline">Mix.Task.run("compile", args)</code> (v1.0)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.11/CHANGELOG.md#4-hard-deprecations" title="">v1.11</a></td>
<td style="text-align: left;">
<a href="supervisor.spec#worker/3"><code class="inline">Supervisor.Spec.worker/3</code></a> and <a href="supervisor.spec#supervisor/3"><code class="inline">Supervisor.Spec.supervisor/3</code></a>
</td>
<td style="text-align: left;">The new child specs outlined in <a href="supervisor"><code class="inline">Supervisor</code></a> (v1.5)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.11/CHANGELOG.md#4-hard-deprecations" title="">v1.11</a></td>
<td style="text-align: left;">
<a href="supervisor#start_child/2"><code class="inline">Supervisor.start_child/2</code></a> and <a href="supervisor#terminate_child/2"><code class="inline">Supervisor.terminate_child/2</code></a>
</td>
<td style="text-align: left;">
<a href="dynamicsupervisor"><code class="inline">DynamicSupervisor</code></a> (v1.6)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.11/CHANGELOG.md#4-hard-deprecations" title="">v1.11</a></td>
<td style="text-align: left;"><code class="inline">System.stacktrace/1</code></td>
<td style="text-align: left;">
<code class="inline">__STACKTRACE__</code> in <code class="inline">try/catch/rescue</code> (v1.7)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.10/CHANGELOG.md#4-hard-deprecations" title="">v1.10</a></td>
<td style="text-align: left;"><code class="inline">Code.ensure_compiled?/1</code></td>
<td style="text-align: left;">
<a href="code#ensure_compiled/1"><code class="inline">Code.ensure_compiled/1</code></a> (v1.0)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.10/CHANGELOG.md#4-hard-deprecations" title="">v1.10</a></td>
<td style="text-align: left;"><code class="inline">Code.load_file/2</code></td>
<td style="text-align: left;">
<a href="code#require_file/2"><code class="inline">Code.require_file/2</code></a> (v1.0) or <a href="code#compile_file/2"><code class="inline">Code.compile_file/2</code></a> (v1.7)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.10/CHANGELOG.md#4-hard-deprecations" title="">v1.10</a></td>
<td style="text-align: left;"><code class="inline">Code.loaded_files/0</code></td>
<td style="text-align: left;">
<a href="code#required_files/0"><code class="inline">Code.required_files/0</code></a> (v1.7)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.10/CHANGELOG.md#4-hard-deprecations" title="">v1.10</a></td>
<td style="text-align: left;"><code class="inline">Code.unload_file/1</code></td>
<td style="text-align: left;">
<a href="code#unrequire_files/1"><code class="inline">Code.unrequire_files/1</code></a> (v1.7)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.10/CHANGELOG.md#4-hard-deprecations" title="">v1.10</a></td>
<td style="text-align: left;">Passing non-chardata to <a href="https://hexdocs.pm/logger/Logger.html#log/2"><code class="inline">Logger.log/2</code></a>
</td>
<td style="text-align: left;">Explicitly convert to string with <a href="kernel#to_string/1"><code class="inline">to_string/1</code></a> (v1.0)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.10/CHANGELOG.md#4-hard-deprecations" title="">v1.10</a></td>
<td style="text-align: left;">
<code class="inline">:compile_time_purge_level</code> in <a href="https://hexdocs.pm/logger/Logger.html"><code class="inline">Logger</code></a> app environment</td>
<td style="text-align: left;">
<code class="inline">:compile_time_purge_matching</code> in <a href="https://hexdocs.pm/logger/Logger.html"><code class="inline">Logger</code></a> app environment (v1.7)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.10/CHANGELOG.md#4-hard-deprecations" title="">v1.10</a></td>
<td style="text-align: left;"><a href="supervisor.spec#supervise/2"><code class="inline">Supervisor.Spec.supervise/2</code></a></td>
<td style="text-align: left;">The new child specs outlined in <a href="supervisor"><code class="inline">Supervisor</code></a> (v1.5)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.10/CHANGELOG.md#4-hard-deprecations" title="">v1.10</a></td>
<td style="text-align: left;">
<code class="inline">:simple_one_for_one</code> strategy in <a href="supervisor"><code class="inline">Supervisor</code></a>
</td>
<td style="text-align: left;">
<a href="dynamicsupervisor"><code class="inline">DynamicSupervisor</code></a> (v1.6)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.10/CHANGELOG.md#4-hard-deprecations" title="">v1.10</a></td>
<td style="text-align: left;">
<code class="inline">:restart</code> and <code class="inline">:shutdown</code> in <a href="task.supervisor#start_link/1"><code class="inline">Task.Supervisor.start_link/1</code></a>
</td>
<td style="text-align: left;">
<code class="inline">:restart</code> and <code class="inline">:shutdown</code> in <a href="task.supervisor#start_child/3"><code class="inline">Task.Supervisor.start_child/3</code></a> (v1.6)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.9/CHANGELOG.md#4-hard-deprecations" title="">v1.9</a></td>
<td style="text-align: left;">Enumerable keys in <a href="map#drop/2"><code class="inline">Map.drop/2</code></a>, <a href="map#split/2"><code class="inline">Map.split/2</code></a>, and <a href="map#take/2"><code class="inline">Map.take/2</code></a>
</td>
<td style="text-align: left;">Call <a href="enum#to_list/1"><code class="inline">Enum.to_list/1</code></a> on the second argument before hand (v1.0)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.9/CHANGELOG.md#4-hard-deprecations" title="">v1.9</a></td>
<td style="text-align: left;"><a href="https://hexdocs.pm/mix/Mix.Project.html#load_paths/1"><code class="inline">Mix.Project.load_paths/1</code></a></td>
<td style="text-align: left;">
<a href="https://hexdocs.pm/mix/Mix.Project.html#compile_path/1"><code class="inline">Mix.Project.compile_path/1</code></a> (v1.0)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.9/CHANGELOG.md#4-hard-deprecations" title="">v1.9</a></td>
<td style="text-align: left;">Passing <code class="inline">:insert_replaced</code> to <a href="string#replace/4"><code class="inline">String.replace/4</code></a>
</td>
<td style="text-align: left;">Use <a href="https://www.erlang.org/doc/apps/stdlib/binary.html#replace/4"><code class="inline">:binary.replace/4</code></a> (v1.0)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.8/CHANGELOG.md#4-hard-deprecations" title="">v1.8</a></td>
<td style="text-align: left;">Passing a non-empty list to <a href="collectable#into/1"><code class="inline">Collectable.into/1</code></a>
</td>
<td style="text-align: left;">
<a href="kernel#++/2"><code class="inline">++/2</code></a> or <a href="keyword#merge/2"><code class="inline">Keyword.merge/2</code></a> (v1.0)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.8/CHANGELOG.md#4-hard-deprecations" title="">v1.8</a></td>
<td style="text-align: left;">Passing a non-empty list to <code class="inline">:into</code> in <a href="kernel.specialforms#for/1"><code class="inline">for/1</code></a>
</td>
<td style="text-align: left;">
<a href="kernel#++/2"><code class="inline">++/2</code></a> or <a href="keyword#merge/2"><code class="inline">Keyword.merge/2</code></a> (v1.0)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.8/CHANGELOG.md#4-hard-deprecations" title="">v1.8</a></td>
<td style="text-align: left;">Passing a non-empty list to <a href="enum#into/2"><code class="inline">Enum.into/2</code></a>
</td>
<td style="text-align: left;">
<a href="kernel#++/2"><code class="inline">++/2</code></a> or <a href="keyword#merge/2"><code class="inline">Keyword.merge/2</code></a> (v1.0)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.8/CHANGELOG.md#4-hard-deprecations" title="">v1.8</a></td>
<td style="text-align: left;">Time units in its plural form, such as: <code class="inline">:seconds</code>, <code class="inline">:milliseconds</code>, and the like</td>
<td style="text-align: left;">Use the singular form, such as: <code class="inline">:second</code>, <code class="inline">:millisecond</code>, and so on (v1.4)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.8/CHANGELOG.md#4-hard-deprecations" title="">v1.8</a></td>
<td style="text-align: left;"><code class="inline">Inspect.Algebra.surround/3</code></td>
<td style="text-align: left;">
<a href="inspect.algebra#concat/2"><code class="inline">Inspect.Algebra.concat/2</code></a> and <a href="inspect.algebra#nest/2"><code class="inline">Inspect.Algebra.nest/2</code></a> (v1.0)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.8/CHANGELOG.md#4-hard-deprecations" title="">v1.8</a></td>
<td style="text-align: left;"><code class="inline">Inspect.Algebra.surround_many/6</code></td>
<td style="text-align: left;">
<a href="inspect.algebra#container_doc/6"><code class="inline">Inspect.Algebra.container_doc/6</code></a> (v1.6)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.9/CHANGELOG.md#4-hard-deprecations" title="">v1.9</a></td>
<td style="text-align: left;">
<code class="inline">--detached</code> in <code class="inline">Kernel.CLI</code>
</td>
<td style="text-align: left;">
<code class="inline">--erl "-detached"</code> (v1.0)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.8/CHANGELOG.md#4-hard-deprecations" title="">v1.8</a></td>
<td style="text-align: left;"><code class="inline">Kernel.ParallelCompiler.files/2</code></td>
<td style="text-align: left;">
<a href="kernel.parallelcompiler#compile/2"><code class="inline">Kernel.ParallelCompiler.compile/2</code></a> (v1.6)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.8/CHANGELOG.md#4-hard-deprecations" title="">v1.8</a></td>
<td style="text-align: left;"><code class="inline">Kernel.ParallelCompiler.files_to_path/2</code></td>
<td style="text-align: left;">
<a href="kernel.parallelcompiler#compile_to_path/2"><code class="inline">Kernel.ParallelCompiler.compile_to_path/2</code></a> (v1.6)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.8/CHANGELOG.md#4-hard-deprecations" title="">v1.8</a></td>
<td style="text-align: left;"><code class="inline">Kernel.ParallelRequire.files/2</code></td>
<td style="text-align: left;">
<a href="kernel.parallelcompiler#require/2"><code class="inline">Kernel.ParallelCompiler.require/2</code></a> (v1.6)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.8/CHANGELOG.md#4-hard-deprecations" title="">v1.8</a></td>
<td style="text-align: left;">Returning <code class="inline">{:ok, contents}</code> or <code class="inline">:error</code> from <code class="inline">Mix.Compilers.Erlang.compile/6</code>'s callback</td>
<td style="text-align: left;">Return <code class="inline">{:ok, contents, warnings}</code> or <code class="inline">{:error, errors, warnings}</code> (v1.6)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.8/CHANGELOG.md#4-hard-deprecations" title="">v1.8</a></td>
<td style="text-align: left;">
<a href="system#cwd/0"><code class="inline">System.cwd/0</code></a> and <a href="system#cwd!/0"><code class="inline">System.cwd!/0</code></a>
</td>
<td style="text-align: left;">
<a href="file#cwd/0"><code class="inline">File.cwd/0</code></a> and <a href="file#cwd!/0"><code class="inline">File.cwd!/0</code></a> (v1.0)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.7/CHANGELOG.md#4-hard-deprecations" title="">v1.7</a></td>
<td style="text-align: left;"><code class="inline">Code.get_docs/2</code></td>
<td style="text-align: left;">
<a href="code#fetch_docs/1"><code class="inline">Code.fetch_docs/1</code></a> (v1.7)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.7/CHANGELOG.md#4-hard-deprecations" title="">v1.7</a></td>
<td style="text-align: left;"><code class="inline">Enum.chunk/2,3,4</code></td>
<td style="text-align: left;">
<a href="enum#chunk_every/2"><code class="inline">Enum.chunk_every/2</code></a> and <a href="enum#chunk_every/4"><code class="inline">Enum.chunk_every/3,4</code></a> (v1.5)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.7/CHANGELOG.md#4-hard-deprecations" title="">v1.7</a></td>
<td style="text-align: left;">Calling <a href="kernel.specialforms#super/1"><code class="inline">super/1</code></a> in<a href="genserver"><code class="inline">GenServer</code></a> callbacks</td>
<td style="text-align: left;">Implementing the behaviour explicitly without calling <a href="kernel.specialforms#super/1"><code class="inline">super/1</code></a> (v1.0)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.7/CHANGELOG.md#4-hard-deprecations" title="">v1.7</a></td>
<td style="text-align: left;"><a href="kernel#in/2"><code class="inline">not left in right</code></a></td>
<td style="text-align: left;">
<a href="kernel#in/2"><code class="inline">left not in right</code></a> (v1.5)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.7/CHANGELOG.md#4-hard-deprecations" title="">v1.7</a></td>
<td style="text-align: left;"><code class="inline">Registry.start_link/3</code></td>
<td style="text-align: left;">
<a href="registry#start_link/1"><code class="inline">Registry.start_link/1</code></a> (v1.5)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.7/CHANGELOG.md#4-hard-deprecations" title="">v1.7</a></td>
<td style="text-align: left;"><code class="inline">Stream.chunk/2,3,4</code></td>
<td style="text-align: left;">
<a href="stream#chunk_every/2"><code class="inline">Stream.chunk_every/2</code></a> and <a href="stream#chunk_every/4"><code class="inline">Stream.chunk_every/3,4</code></a> (v1.5)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.6/CHANGELOG.md#4-deprecations" title="">v1.6</a></td>
<td style="text-align: left;"><code class="inline">Enum.partition/2</code></td>
<td style="text-align: left;">
<a href="enum#split_with/2"><code class="inline">Enum.split_with/2</code></a> (v1.4)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.6/CHANGELOG.md#4-deprecations" title="">v1.6</a></td>
<td style="text-align: left;"><code class="inline">Macro.unescape_tokens/1,2</code></td>
<td style="text-align: left;">Use <a href="enum#map/2"><code class="inline">Enum.map/2</code></a> to traverse over the arguments (v1.0)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.6/CHANGELOG.md#4-deprecations" title="">v1.6</a></td>
<td style="text-align: left;"><code class="inline">Module.add_doc/6</code></td>
<td style="text-align: left;">
<a href="module"><code class="inline">@doc</code></a> module attribute (v1.0)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.6/CHANGELOG.md#4-deprecations" title="">v1.6</a></td>
<td style="text-align: left;"><code class="inline">Range.range?/1</code></td>
<td style="text-align: left;">Pattern match on <a href="kernel#../2"><code class="inline">_.._</code></a> (v1.0)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.5/CHANGELOG.md#4-deprecations" title="">v1.5</a></td>
<td style="text-align: left;">
<code class="inline">()</code> to mean <code class="inline">nil</code>
</td>
<td style="text-align: left;">
<code class="inline">nil</code> (v1.0)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.5/CHANGELOG.md#4-deprecations" title="">v1.5</a></td>
<td style="text-align: left;">
<code class="inline">char_list/0</code> type</td>
<td style="text-align: left;">
<a href="typespecs#built-in-types"><code class="inline">charlist/0</code></a> type (v1.3)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.5/CHANGELOG.md#4-deprecations" title="">v1.5</a></td>
<td style="text-align: left;"><code class="inline">Atom.to_char_list/1</code></td>
<td style="text-align: left;">
<a href="atom#to_charlist/1"><code class="inline">Atom.to_charlist/1</code></a> (v1.3)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.5/CHANGELOG.md#4-deprecations" title="">v1.5</a></td>
<td style="text-align: left;"><code class="inline">Enum.filter_map/3</code></td>
<td style="text-align: left;">
<a href="enum#filter/2"><code class="inline">Enum.filter/2</code></a> + <a href="enum#map/2"><code class="inline">Enum.map/2</code></a> or <a href="kernel.specialforms#for/1"><code class="inline">for/1</code></a> comprehensions (v1.0)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.5/CHANGELOG.md#4-deprecations" title="">v1.5</a></td>
<td style="text-align: left;"><code class="inline">Float.to_char_list/1</code></td>
<td style="text-align: left;">
<a href="float#to_charlist/1"><code class="inline">Float.to_charlist/1</code></a> (v1.3)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.5/CHANGELOG.md#4-deprecations" title="">v1.5</a></td>
<td style="text-align: left;">
<a href="genevent"><code class="inline">GenEvent</code></a> module</td>
<td style="text-align: left;">
<a href="supervisor"><code class="inline">Supervisor</code></a> and <a href="genserver"><code class="inline">GenServer</code></a> (v1.0);&lt;br/&gt;<a href="https://hex.pm/packages/gen_stage"><code class="inline">GenStage</code></a> (v1.3);&lt;br/&gt;<a href="https://www.erlang.org/doc/apps/stdlib/gen_event.html"><code class="inline">:gen_event</code></a> (Erlang/OTP 17)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.5/CHANGELOG.md#4-deprecations" title="">v1.5</a></td>
<td style="text-align: left;">
<code class="inline">&lt;%=</code> in middle and end expressions in <a href="https://hexdocs.pm/eex/EEx.html"><code class="inline">EEx</code></a>
</td>
<td style="text-align: left;">Use <code class="inline">&lt;%</code> (<code class="inline">&lt;%=</code> is allowed only in start expressions) (v1.0)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.5/CHANGELOG.md#4-deprecations" title="">v1.5</a></td>
<td style="text-align: left;">
<code class="inline">:as_char_lists</code> value in <a href="inspect.opts#t:t/0"><code class="inline">Inspect.Opts.t/0</code></a> type</td>
<td style="text-align: left;">
<code class="inline">:as_charlists</code> value (v1.3)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.5/CHANGELOG.md#4-deprecations" title="">v1.5</a></td>
<td style="text-align: left;">
<code class="inline">:char_lists</code> key in <a href="inspect.opts#t:t/0"><code class="inline">Inspect.Opts.t/0</code></a> type</td>
<td style="text-align: left;">
<code class="inline">:charlists</code> key (v1.3)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.5/CHANGELOG.md#4-deprecations" title="">v1.5</a></td>
<td style="text-align: left;"><code class="inline">Integer.to_char_list/1,2</code></td>
<td style="text-align: left;">
<a href="integer#to_charlist/1"><code class="inline">Integer.to_charlist/1</code></a> and <a href="integer#to_charlist/2"><code class="inline">Integer.to_charlist/2</code></a> (v1.3)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.5/CHANGELOG.md#4-deprecations" title="">v1.5</a></td>
<td style="text-align: left;"><code class="inline">to_char_list/1</code></td>
<td style="text-align: left;">
<a href="kernel#to_charlist/1"><code class="inline">to_charlist/1</code></a> (v1.3)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.5/CHANGELOG.md#4-deprecations" title="">v1.5</a></td>
<td style="text-align: left;"><code class="inline">List.Chars.to_char_list/1</code></td>
<td style="text-align: left;">
<a href="list.chars#to_charlist/1"><code class="inline">List.Chars.to_charlist/1</code></a> (v1.3)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.5/CHANGELOG.md#4-deprecations" title="">v1.5</a></td>
<td style="text-align: left;">
<code class="inline">@compile {:parse_transform, _}</code> in <a href="module"><code class="inline">Module</code></a>
</td>
<td style="text-align: left;"><em>None</em></td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.5/CHANGELOG.md#4-deprecations" title="">v1.5</a></td>
<td style="text-align: left;"><code class="inline">Stream.filter_map/3</code></td>
<td style="text-align: left;">
<a href="stream#filter/2"><code class="inline">Stream.filter/2</code></a> + <a href="stream#map/2"><code class="inline">Stream.map/2</code></a> (v1.0)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.5/CHANGELOG.md#4-deprecations" title="">v1.5</a></td>
<td style="text-align: left;">
<code class="inline">String.ljust/3</code> and <code class="inline">String.rjust/3</code>
</td>
<td style="text-align: left;">Use <a href="string#pad_leading/3"><code class="inline">String.pad_leading/3</code></a> and <a href="string#pad_trailing/3"><code class="inline">String.pad_trailing/3</code></a> with a binary padding (v1.3)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.5/CHANGELOG.md#4-deprecations" title="">v1.5</a></td>
<td style="text-align: left;">
<code class="inline">String.lstrip/1</code> and <code class="inline">String.rstrip/1</code>
</td>
<td style="text-align: left;">
<a href="string#trim_leading/1"><code class="inline">String.trim_leading/1</code></a> and <a href="string#trim_trailing/1"><code class="inline">String.trim_trailing/1</code></a> (v1.3)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.5/CHANGELOG.md#4-deprecations" title="">v1.5</a></td>
<td style="text-align: left;">
<code class="inline">String.lstrip/2</code> and <code class="inline">String.rstrip/2</code>
</td>
<td style="text-align: left;">Use <a href="string#trim_leading/2"><code class="inline">String.trim_leading/2</code></a> and <a href="string#trim_trailing/2"><code class="inline">String.trim_trailing/2</code></a> with a binary as second argument (v1.3)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.5/CHANGELOG.md#4-deprecations" title="">v1.5</a></td>
<td style="text-align: left;">
<code class="inline">String.strip/1</code> and <code class="inline">String.strip/2</code>
</td>
<td style="text-align: left;">
<a href="string#trim/1"><code class="inline">String.trim/1</code></a> and <a href="string#trim/2"><code class="inline">String.trim/2</code></a> (v1.3)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.5/CHANGELOG.md#4-deprecations" title="">v1.5</a></td>
<td style="text-align: left;"><code class="inline">String.to_char_list/1</code></td>
<td style="text-align: left;">
<a href="string#to_charlist/1"><code class="inline">String.to_charlist/1</code></a> (v1.3)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.4/CHANGELOG.md#4-deprecations" title="">v1.4</a></td>
<td style="text-align: left;">Anonymous functions with no expression after <code class="inline">-&gt;</code>
</td>
<td style="text-align: left;">Use an expression or explicitly return <code class="inline">nil</code> (v1.0)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.4/CHANGELOG.md#4-deprecations" title="">v1.4</a></td>
<td style="text-align: left;">Support for making <a href="kernel#defp/2">private functions</a> overridable</td>
<td style="text-align: left;">Use <a href="kernel#def/2">public functions</a> (v1.0)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.4/CHANGELOG.md#4-deprecations" title="">v1.4</a></td>
<td style="text-align: left;">Variable used as function call</td>
<td style="text-align: left;">Use parentheses (v1.0)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.4/CHANGELOG.md#4-deprecations" title="">v1.4</a></td>
<td style="text-align: left;"><a href="access#key/1"><code class="inline">Access.key/1</code></a></td>
<td style="text-align: left;">
<a href="access#key/2"><code class="inline">Access.key/2</code></a> (v1.3)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.4/CHANGELOG.md#4-deprecations" title="">v1.4</a></td>
<td style="text-align: left;">
<a href="behaviour"><code class="inline">Behaviour</code></a> module</td>
<td style="text-align: left;">
<code class="inline">@callback</code> module attribute (v1.0)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.4/CHANGELOG.md#4-deprecations" title="">v1.4</a></td>
<td style="text-align: left;"><code class="inline">Enum.uniq/2</code></td>
<td style="text-align: left;">
<a href="enum#uniq_by/2"><code class="inline">Enum.uniq_by/2</code></a> (v1.2)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.4/CHANGELOG.md#4-deprecations" title="">v1.4</a></td>
<td style="text-align: left;"><code class="inline">Float.to_char_list/2</code></td>
<td style="text-align: left;">
<a href="https://www.erlang.org/doc/apps/erts/erlang.html#float_to_list/2"><code class="inline">:erlang.float_to_list/2</code></a> (Erlang/OTP 17)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.4/CHANGELOG.md#4-deprecations" title="">v1.4</a></td>
<td style="text-align: left;"><code class="inline">Float.to_string/2</code></td>
<td style="text-align: left;">
<a href="https://www.erlang.org/doc/apps/erts/erlang.html#float_to_binary/2"><code class="inline">:erlang.float_to_binary/2</code></a> (Erlang/OTP 17)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.4/CHANGELOG.md#4-deprecations" title="">v1.4</a></td>
<td style="text-align: left;">
<a href="hashdict"><code class="inline">HashDict</code></a> module</td>
<td style="text-align: left;">
<a href="map"><code class="inline">Map</code></a> (v1.2)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.4/CHANGELOG.md#4-deprecations" title="">v1.4</a></td>
<td style="text-align: left;">
<a href="hashset"><code class="inline">HashSet</code></a> module</td>
<td style="text-align: left;">
<a href="mapset"><code class="inline">MapSet</code></a> (v1.1)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.4/CHANGELOG.md#4-deprecations" title="">v1.4</a></td>
<td style="text-align: left;"><code class="inline">IEx.Helpers.import_file/2</code></td>
<td style="text-align: left;">
<a href="https://hexdocs.pm/iex/IEx.Helpers.html#import_file_if_available/1"><code class="inline">IEx.Helpers.import_file_if_available/1</code></a> (v1.3)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.4/CHANGELOG.md#4-deprecations" title="">v1.4</a></td>
<td style="text-align: left;"><code class="inline">Mix.Utils.camelize/1</code></td>
<td style="text-align: left;">
<a href="macro#camelize/1"><code class="inline">Macro.camelize/1</code></a> (v1.2)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.4/CHANGELOG.md#4-deprecations" title="">v1.4</a></td>
<td style="text-align: left;"><code class="inline">Mix.Utils.underscore/1</code></td>
<td style="text-align: left;">
<a href="macro#underscore/1"><code class="inline">Macro.underscore/1</code></a> (v1.2)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.4/CHANGELOG.md#4-deprecations" title="">v1.4</a></td>
<td style="text-align: left;">Multi-letter aliases in <a href="optionparser"><code class="inline">OptionParser</code></a>
</td>
<td style="text-align: left;">Use single-letter aliases (v1.0)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.4/CHANGELOG.md#4-deprecations" title="">v1.4</a></td>
<td style="text-align: left;">
<a href="set"><code class="inline">Set</code></a> module</td>
<td style="text-align: left;">
<a href="mapset"><code class="inline">MapSet</code></a> (v1.1)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.4/CHANGELOG.md#4-deprecations" title="">v1.4</a></td>
<td style="text-align: left;"><code class="inline">Stream.uniq/2</code></td>
<td style="text-align: left;">
<a href="stream#uniq_by/2"><code class="inline">Stream.uniq_by/2</code></a> (v1.2)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.3/CHANGELOG.md#4-deprecations" title="">v1.3</a></td>
<td style="text-align: left;">
<code class="inline">\x{X*}</code> inside strings/sigils/charlists</td>
<td style="text-align: left;">
<code class="inline">\uXXXX</code> or <code class="inline">\u{X*}</code> (v1.1)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.3/CHANGELOG.md#4-deprecations" title="">v1.3</a></td>
<td style="text-align: left;">
<a href="dict"><code class="inline">Dict</code></a> module</td>
<td style="text-align: left;">
<a href="keyword"><code class="inline">Keyword</code></a> (v1.0) or <a href="map"><code class="inline">Map</code></a> (v1.2)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.3/CHANGELOG.md#4-deprecations" title="">v1.3</a></td>
<td style="text-align: left;">
<code class="inline">:append_first</code> option in <a href="kernel#defdelegate/2"><code class="inline">defdelegate/2</code></a>
</td>
<td style="text-align: left;">Define the function explicitly (v1.0)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.3/CHANGELOG.md#4-deprecations" title="">v1.3</a></td>
<td style="text-align: left;">Map/dictionary as 2nd argument in <a href="enum#group_by/3"><code class="inline">Enum.group_by/3</code></a>
</td>
<td style="text-align: left;">
<a href="enum#reduce/3"><code class="inline">Enum.reduce/3</code></a> (v1.0)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.3/CHANGELOG.md#4-deprecations" title="">v1.3</a></td>
<td style="text-align: left;"><code class="inline">Keyword.size/1</code></td>
<td style="text-align: left;">
<a href="kernel#length/1"><code class="inline">length/1</code></a> (v1.0)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.3/CHANGELOG.md#4-deprecations" title="">v1.3</a></td>
<td style="text-align: left;"><code class="inline">Map.size/1</code></td>
<td style="text-align: left;">
<a href="kernel#map_size/1"><code class="inline">map_size/1</code></a> (v1.0)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.3/CHANGELOG.md#4-deprecations" title="">v1.3</a></td>
<td style="text-align: left;">
<code class="inline">/r</code> option in <a href="regex"><code class="inline">Regex</code></a>
</td>
<td style="text-align: left;">
<code class="inline">/U</code> (v1.1)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.3/CHANGELOG.md#4-deprecations" title="">v1.3</a></td>
<td style="text-align: left;">
<a href="set"><code class="inline">Set</code></a> behaviour</td>
<td style="text-align: left;">
<a href="mapset"><code class="inline">MapSet</code></a> data structure (v1.1)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.3/CHANGELOG.md#4-deprecations" title="">v1.3</a></td>
<td style="text-align: left;"><code class="inline">String.valid_character?/1</code></td>
<td style="text-align: left;">
<a href="string#valid?/1"><code class="inline">String.valid?/1</code></a> (v1.0)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.3/CHANGELOG.md#4-deprecations" title="">v1.3</a></td>
<td style="text-align: left;"><code class="inline">Task.find/2</code></td>
<td style="text-align: left;">Use direct message matching (v1.0)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.3/CHANGELOG.md#4-deprecations" title="">v1.3</a></td>
<td style="text-align: left;">Non-map as 2nd argument in <a href="uri#decode_query/2"><code class="inline">URI.decode_query/2</code></a>
</td>
<td style="text-align: left;">Use a map (v1.0)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.2/CHANGELOG.md#changelog-for-elixir-v12" title="">v1.2</a></td>
<td style="text-align: left;">
<a href="dict"><code class="inline">Dict</code></a> behaviour</td>
<td style="text-align: left;">
<a href="map"><code class="inline">Map</code></a> and <a href="keyword"><code class="inline">Keyword</code></a> (v1.0)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.1/CHANGELOG.md#4-deprecations" title="">v1.1</a></td>
<td style="text-align: left;"><code class="inline">?\xHEX</code></td>
<td style="text-align: left;">
<code class="inline">0xHEX</code> (v1.0)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.1/CHANGELOG.md#4-deprecations" title="">v1.1</a></td>
<td style="text-align: left;">
<a href="access"><code class="inline">Access</code></a> protocol</td>
<td style="text-align: left;">
<a href="access"><code class="inline">Access</code></a> behaviour (v1.1)</td>
</tr>
<tr>
<td style="text-align: left;"><a href="https://github.com/elixir-lang/elixir/blob/v1.1/CHANGELOG.md#4-deprecations" title="">v1.1</a></td>
<td style="text-align: left;">
<code class="inline">as: true | false</code> in <a href="kernel.specialforms#alias/2"><code class="inline">alias/2</code></a> and <a href="kernel.specialforms#require/2"><code class="inline">require/2</code></a>
</td>
<td style="text-align: left;"><em>None</em></td>
</tr>
</tbody>
</table> </div> <div class="bottom-actions" id="bottom-actions"> <div class="bottom-actions-item"> <a href="config-and-releases" class="bottom-actions-button" rel="prev"> <span class="subheader"> ← Previous Page </span> <span class="title"> Configuration and releases </span> </a> </div> <div class="bottom-actions-item"> <a href="gradual-set-theoretic-types" class="bottom-actions-button" rel="next"> <span class="subheader"> Next Page → </span> <span class="title"> Gradual set-theoretic types </span> </a> </div> </div> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/compatibility-and-deprecations.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/compatibility-and-deprecations.html</a>
  </p>
</div>
