<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/pages/getting-started/comprehensions.md#L1" title="View Source" class="source" rel="help">Source</a> <span>Comprehensions</span> </h1> <p>In Elixir, it is common to loop over an Enumerable, often filtering out some results and mapping values into another list. Comprehensions are syntactic sugar for such constructs: they group those common tasks into the <code class="inline">for</code> special form.</p>
<p>For example, we can map a list of integers into their squared values:</p>
<pre data-language="elixir">iex&gt; for n &lt;- [1, 2, 3, 4], do: n * n
[1, 4, 9, 16]</pre>
<p>A comprehension is made of three parts: generators, filters, and collectables.</p>
<h2 id="generators-and-filters" class="section-heading">  <span class="text">Generators and filters</span> </h2> <p>In the expression above, <code class="inline">n &lt;- [1, 2, 3, 4]</code> is the <strong>generator</strong>. It is literally generating values to be used in the comprehension. Any enumerable can be passed on the right-hand side of the generator expression:</p>
<pre data-language="elixir">iex&gt; for n &lt;- 1..4, do: n * n
[1, 4, 9, 16]</pre>
<p>Generator expressions also support pattern matching on their left-hand side; all non-matching patterns are <em>ignored</em>. Imagine that, instead of a range, we have a keyword list where the key is the atom <code class="inline">:good</code> or <code class="inline">:bad</code> and we only want to compute the square of the <code class="inline">:good</code> values:</p>
<pre data-language="elixir">iex&gt; values = [good: 1, good: 2, bad: 3, good: 4]
iex&gt; for {:good, n} &lt;- values, do: n * n
[1, 4, 16]</pre>
<p>Alternatively to pattern matching, filters can be used to select some particular elements. For example, we can select the multiples of 3 and discard all others:</p>
<pre data-language="elixir">iex&gt; for n &lt;- 0..5, rem(n, 3) == 0, do: n * n
[0, 9]</pre>
<p>Comprehensions discard all elements for which the filter expression returns <code class="inline">false</code> or <code class="inline">nil</code>; all other values are selected.</p>
<p>Comprehensions generally provide a much more concise representation than using the equivalent functions from the <a href="enum"><code class="inline">Enum</code></a> and <a href="stream"><code class="inline">Stream</code></a> modules. Furthermore, comprehensions also allow multiple generators and filters to be given. Here is an example that receives a list of directories and gets the size of each file in those directories:</p>
<pre data-language="elixir">dirs = ["/home/mikey", "/home/james"]

for dir &lt;- dirs,
    file &lt;- File.ls!(dir),
    path = Path.join(dir, file),
    File.regular?(path) do
  File.stat!(path).size
end</pre>
<p>Multiple generators can also be used to calculate the Cartesian product of two lists:</p>
<pre data-language="elixir">iex&gt; for i &lt;- [:a, :b, :c], j &lt;- [1, 2], do:  {i, j}
[a: 1, a: 2, b: 1, b: 2, c: 1, c: 2]</pre>
<p>Finally, keep in mind that variable assignments inside the comprehension, be it in generators, filters or inside the block, are not reflected outside of the comprehension.</p>
<h2 id="bitstring-generators" class="section-heading">  <span class="text">Bitstring generators</span> </h2> <p>Bitstring generators are also supported and are very useful when you need to comprehend over bitstring streams. The example below receives a list of pixels from a binary with their respective red, green and blue values and converts them into tuples of three elements each:</p>
<pre data-language="elixir">iex&gt; pixels = &lt;&lt;213, 45, 132, 64, 76, 32, 76, 0, 0, 234, 32, 15&gt;&gt;
iex&gt; for &lt;&lt;r::8, g::8, b::8 &lt;- pixels&gt;&gt;, do: {r, g, b}
[{213, 45, 132}, {64, 76, 32}, {76, 0, 0}, {234, 32, 15}]</pre>
<p>A bitstring generator can be mixed with "regular" enumerable generators, and supports filters as well.</p>
<h2 id="the-into-option" class="section-heading">  <span class="text">The <code class="inline">:into</code> option</span> </h2> <p>In the examples above, all the comprehensions returned lists as their result. However, the result of a comprehension can be inserted into different data structures by passing the <code class="inline">:into</code> option to the comprehension.</p>
<p>For example, a bitstring generator can be used with the <code class="inline">:into</code> option in order to easily remove all spaces in a string:</p>
<pre data-language="elixir">iex&gt; for &lt;&lt;c &lt;- " hello world "&gt;&gt;, c != ?\s, into: "", do: &lt;&lt;c&gt;&gt;
"helloworld"</pre>
<p>Sets, maps, and other dictionaries can also be given to the <code class="inline">:into</code> option. In general, <code class="inline">:into</code> accepts any structure that implements the <a href="collectable"><code class="inline">Collectable</code></a> protocol.</p>
<p>A common use case of <code class="inline">:into</code> can be transforming values in a map:</p>
<pre data-language="elixir">iex&gt; for {key, val} &lt;- %{"a" =&gt; 1, "b" =&gt; 2}, into: %{}, do: {key, val * val}
%{"a" =&gt; 1, "b" =&gt; 4}</pre>
<p>Let's make another example using streams. Since the <a href="io"><code class="inline">IO</code></a> module provides streams (that are both <a href="enumerable"><code class="inline">Enumerable</code></a>s and <a href="collectable"><code class="inline">Collectable</code></a>s), an echo terminal that echoes back the upcased version of whatever is typed can be implemented using comprehensions:</p>
<pre data-language="elixir">iex&gt; stream = IO.stream(:stdio, :line)
iex&gt; for line &lt;- stream, into: stream do
...&gt;   String.upcase(line) &lt;&gt; "\n"
...&gt; end</pre>
<p>Now type any string into the terminal and you will see that the same value will be printed in upper-case. Unfortunately, this example also got your IEx shell stuck in the comprehension, so you will need to hit <code class="inline">Ctrl+C</code> twice to get out of it. :)</p>
<h2 id="other-options" class="section-heading">  <span class="text">Other options</span> </h2> <p>Comprehensions support other options, such as <code class="inline">:reduce</code> and <code class="inline">:uniq</code>. Here are additional resources to learn more about comprehensions:</p>
<ul>
<li><a href="kernel.specialforms#for/1"><code class="inline">for</code> official reference in Elixir documentation</a></li>
<li><a href="https://www.mitchellhanberg.com/the-comprehensive-guide-to-elixirs-for-comprehension/">Mitchell Hanberg's comprehensive guide to Elixir's comprehensions</a></li>
</ul> </div> <div class="bottom-actions" id="bottom-actions"> <div class="bottom-actions-item"> <a href="protocols" class="bottom-actions-button" rel="prev"> <span class="subheader"> ← Previous Page </span> <span class="title"> Protocols </span> </a> </div> <div class="bottom-actions-item"> <a href="sigils" class="bottom-actions-button" rel="next"> <span class="subheader"> Next Page → </span> <span class="title"> Sigils </span> </a> </div> </div> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/comprehensions.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/comprehensions.html</a>
  </p>
</div>
