<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/config.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">Config</span>  </h1> <section id="moduledoc"> <p>A simple keyword-based configuration API.</p>
<h2 id="module-example" class="section-heading">  <span class="text">Example</span> </h2> <p>This module is most commonly used to define application configuration, typically in <code class="inline">config/config.exs</code>:</p>
<pre data-language="elixir">import Config

config :some_app,
  key1: "value1",
  key2: "value2"

import_config "#{config_env()}.exs"</pre>
<p><code class="inline">import Config</code> will import the functions <a href="#config/2"><code class="inline">config/2</code></a>, <a href="#config/3"><code class="inline">config/3</code></a> <a href="#config_env/0"><code class="inline">config_env/0</code></a>, <a href="#config_target/0"><code class="inline">config_target/0</code></a>, and <a href="#import_config/1"><code class="inline">import_config/1</code></a> to help you manage your configuration.</p>
<p><a href="#config/2"><code class="inline">config/2</code></a> and <a href="#config/3"><code class="inline">config/3</code></a> are used to define key-value configuration for a given application. Once Mix starts, it will automatically evaluate the configuration file and persist the configuration above into <code class="inline">:some_app</code>'s application environment, which can be accessed in as follows:</p>
<pre data-language="elixir">"value1" = Application.fetch_env!(:some_app, :key1)</pre>
<p>Finally, the line <code class="inline">import_config "#{config_env()}.exs"</code> will import other config files based on the current configuration environment, such as <code class="inline">config/dev.exs</code> and <code class="inline">config/test.exs</code>.</p>
<p><a href="config"><code class="inline">Config</code></a> also provides a low-level API for evaluating and reading configuration, under the <a href="config.reader"><code class="inline">Config.Reader</code></a> module.</p>
<blockquote>
<h4 class="info">Avoid application environment in libraries</h4>
<p>If you are writing a library to be used by other developers, it is generally recommended to avoid the application environment, as the application environment is effectively a global storage. Also note that the <code class="inline">config/config.exs</code> of a library is not evaluated when the library is used as a dependency, as configuration is always meant to configure the current project. For more information, read our <a href="library-guidelines">library guidelines</a>.</p>
</blockquote>
<h2 id="module-migrating-from-use-mix-config" class="section-heading">  <span class="text">Migrating from <code class="inline">use Mix.Config</code></span> </h2> <p>The <a href="config"><code class="inline">Config</code></a> module in Elixir was introduced in v1.9 as a replacement to <code class="inline">use Mix.Config</code>, which was specific to Mix and has been deprecated.</p>
<p>You can leverage <a href="config"><code class="inline">Config</code></a> instead of <code class="inline">use Mix.Config</code> in three steps. The first step is to replace <code class="inline">use Mix.Config</code> at the top of your config files by <code class="inline">import Config</code>.</p>
<p>The second is to make sure your <a href="#import_config/1"><code class="inline">import_config/1</code></a> calls do not have a wildcard character. If so, you need to perform the wildcard lookup manually. For example, if you did:</p>
<pre data-language="elixir">import_config "../apps/*/config/config.exs"</pre>
<p>It has to be replaced by:</p>
<pre data-language="elixir">for config &lt;- "../apps/*/config/config.exs" |&gt; Path.expand(__DIR__) |&gt; Path.wildcard() do
  import_config config
end</pre>
<p>The last step is to replace all <code class="inline">Mix.env()</code> calls in the config files with <code class="inline">config_env()</code>.</p>
<p>Keep in mind you must also avoid using <code class="inline">Mix.env()</code> inside your project files. To check the environment at <em>runtime</em>, you may add a configuration key:</p>
<pre data-language="elixir"># config.exs
...
config :my_app, env: config_env()</pre>
<p>Then, in other scripts and modules, you may get the environment with <a href="application#fetch_env!/2"><code class="inline">Application.fetch_env!/2</code></a>:</p>
<pre data-language="elixir"># router.exs
...
if Application.fetch_env!(:my_app, :env) == :prod do
  ...
end</pre>
<p>The only places where you may access functions from the <a href="https://hexdocs.pm/mix/Mix.html"><code class="inline">Mix</code></a> module are the <code class="inline">mix.exs</code> file and inside custom Mix tasks, which are always within the <code class="inline">Mix.Tasks</code> namespace.</p>
<h2 id="module-config-runtime-exs" class="section-heading">  <span class="text"><code class="inline">config/runtime.exs</code></span> </h2> <p>For runtime configuration, you can use the <code class="inline">config/runtime.exs</code> file. It is executed right before applications start in both Mix and releases (assembled with <a href="https://hexdocs.pm/mix/Mix.Tasks.Release.html"><code class="inline">mix release</code></a>).</p> </section> </div> <section id="summary" class="details-list"> <h1 class="section-heading">  <span class="text">Summary</span> </h1> <h2> Functions </h2>
<dl class="summary-functions summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#config/2" data-no-tooltip translate="no">config(root_key, opts)</a> </dt> <dd class="summary-synopsis"><p>Configures the given <code class="inline">root_key</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#config/3" data-no-tooltip translate="no">config(root_key, key, opts)</a> </dt> <dd class="summary-synopsis"><p>Configures the given <code class="inline">key</code> for the given <code class="inline">root_key</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#config_env/0" data-no-tooltip translate="no">config_env()</a> </dt> <dd class="summary-synopsis"><p>Returns the environment this configuration file is executed on.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#config_target/0" data-no-tooltip translate="no">config_target()</a> </dt> <dd class="summary-synopsis"><p>Returns the target this configuration file is executed on.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#import_config/1" data-no-tooltip translate="no">import_config(file)</a> </dt> <dd class="summary-synopsis"><p>Imports configuration from the given file.</p></dd> </div> </dl> </section> <section id="functions" class="details-list"> <h1 class="section-heading">  <span class="text">Functions</span> </h1> <div class="functions-list"> <section class="detail"> <h3 class="detail-header" id="config/2">config(root_key, opts)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/config.ex#L145" class="source">Source</a>
</h3> <section class="docstring"> <p>Configures the given <code class="inline">root_key</code>.</p>
<p>Keyword lists are always deep-merged.</p>
<h4 id="config/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <p>The given <code class="inline">opts</code> are merged into the existing configuration for the given <code class="inline">root_key</code>. Conflicting keys are overridden by the ones specified in <code class="inline">opts</code>, unless they are keywords, which are deep merged recursively. For example, the application configuration below</p>
<pre data-language="elixir">config :logger,
  level: :warn,
  backends: [:console]

config :logger,
  level: :info,
  truncate: 1024</pre>
<p>will have a final configuration for <code class="inline">:logger</code> of:</p>
<pre data-language="elixir">[level: :info, backends: [:console], truncate: 1024]</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="config/3">config(root_key, key, opts)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/config.ex#L191" class="source">Source</a>
</h3> <section class="docstring"> <p>Configures the given <code class="inline">key</code> for the given <code class="inline">root_key</code>.</p>
<p>Keyword lists are always deep merged.</p>
<h4 id="config/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <p>The given <code class="inline">opts</code> are merged into the existing values for <code class="inline">key</code> in the given <code class="inline">root_key</code>. Conflicting keys are overridden by the ones specified in <code class="inline">opts</code>, unless they are keywords, which are deep merged recursively. For example, the application configuration below</p>
<pre data-language="elixir">config :ecto, Repo,
  log_level: :warn,
  adapter: Ecto.Adapters.Postgres,
  metadata: [read_only: true]

config :ecto, Repo,
  log_level: :info,
  pool_size: 10,
  metadata: [replica: true]</pre>
<p>will have a final value of the configuration for the <code class="inline">Repo</code> key in the <code class="inline">:ecto</code> application of:</p>
<pre data-language="elixir">Application.get_env(:ecto, Repo)
#=&gt; [
#=&gt;   log_level: :info,
#=&gt;   pool_size: 10,
#=&gt;   adapter: Ecto.Adapters.Postgres,
#=&gt;   metadata: [read_only: true, replica: true]
#=&gt; ]</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="config_env/0">config_env()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/config.ex#L211" class="source">Source</a>
</h3> <section class="docstring"> <p>Returns the environment this configuration file is executed on.</p>
<p>In Mix projects this function returns the environment this configuration file is executed on. In releases, the environment when <a href="https://hexdocs.pm/mix/Mix.Tasks.Release.html"><code class="inline">mix release</code></a> ran.</p>
<p>This is most often used to execute conditional code:</p>
<pre data-language="elixir">if config_env() == :prod do
  config :my_app, :debug, false
end</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="config_target/0">config_target()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/config.ex#L234" class="source">Source</a>
</h3> <section class="docstring"> <p>Returns the target this configuration file is executed on.</p>
<p>This is most often used to execute conditional code:</p>
<pre data-language="elixir">if config_target() == :host do
  config :my_app, :debug, false
end</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="import_config/1">import_config(file)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/config.ex#L265" class="source">Source</a>
</h3> <section class="docstring"> <p>Imports configuration from the given file.</p>
<p>In case the file doesn't exist, an error is raised.</p>
<p>If file is a relative, it will be expanded relatively to the directory the current configuration file is in.</p>
<h4 id="import_config/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <p>This is often used to emulate configuration across environments:</p>
<pre data-language="elixir">import_config "#{config_env()}.exs"</pre>
<p>Note, however, some configuration files, such as <code class="inline">config/runtime.exs</code> does not support imports, as they are meant to be copied across systems.</p> </section> </section> </div> </section> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/Config.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/Config.html</a>
  </p>
</div>
