<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/config/reader.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">Config.Reader</span>  </h1> <section id="moduledoc"> <p>API for reading config files defined with <a href="config"><code class="inline">Config</code></a>.</p>
<h2 id="module-as-a-provider" class="section-heading">  <span class="text">As a provider</span> </h2> <p><a href="config.reader"><code class="inline">Config.Reader</code></a> can also be used as a <a href="config.provider"><code class="inline">Config.Provider</code></a>. A config provider is used during releases to customize how applications are configured. When used as a provider, it expects a single argument: the configuration path (as outlined in <a href="config.provider#t:config_path/0"><code class="inline">Config.Provider.config_path/0</code></a>) for the file to be read and loaded during the system boot.</p>
<p>For example, if you expect the target system to have a config file in an absolute path, you can add this inside the <code class="inline">def project</code> portion of your <code class="inline">mix.exs</code>:</p>
<pre data-language="elixir">releases: [
  demo: [
    config_providers: [
      {Config.Reader, "/etc/config.exs"}
    ]
  ]
]</pre>
<p>Or if you want to read a custom path inside the release:</p>
<pre data-language="elixir">config_providers: [{Config.Reader, {:system, "RELEASE_ROOT", "/config.exs"}}]</pre>
<p>You can also pass a keyword list of options to the reader, where the <code class="inline">:path</code> is a required key:</p>
<pre data-language="elixir">config_providers: [
  {Config.Reader,
   path: "/etc/config.exs",
   env: :prod,
   imports: :disabled}
]</pre>
<p>Remember Mix already loads <code class="inline">config/runtime.exs</code> by default. For more examples and scenarios, see the <a href="config.provider"><code class="inline">Config.Provider</code></a> module.</p> </section> </div> <section id="summary" class="details-list"> <h1 class="section-heading">  <span class="text">Summary</span> </h1> <h2> Functions </h2>
<dl class="summary-functions summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#eval!/3" data-no-tooltip translate="no">eval!(file, contents, opts \\ [])</a> </dt> <dd class="summary-synopsis"><p>Evaluates the configuration <code class="inline">contents</code> for the given <code class="inline">file</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#merge/2" data-no-tooltip translate="no">merge(config1, config2)</a> </dt> <dd class="summary-synopsis"><p>Merges two configurations.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#read!/2" data-no-tooltip translate="no">read!(file, opts \\ [])</a> </dt> <dd class="summary-synopsis"><p>Reads the configuration file.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#read_imports!/2" data-no-tooltip translate="no">read_imports!(file, opts \\ [])</a> </dt> <dd class="summary-synopsis"><p>Reads the given configuration file and returns the configuration with its imports.</p></dd> </div> </dl> </section> <section id="functions" class="details-list"> <h1 class="section-heading">  <span class="text">Functions</span> </h1> <div class="functions-list"> <section class="detail">  <h3 class="detail-header" id="eval!/3">eval!(file, contents, opts \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/config/reader.ex#L68" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec eval!(Path.t(), binary(), keyword()) :: keyword()</pre> </div> <p>Evaluates the configuration <code class="inline">contents</code> for the given <code class="inline">file</code>.</p>
<p>Accepts the same options as <a href="#read!/2"><code class="inline">read!/2</code></a>.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="merge/2">merge(config1, config2)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/config/reader.ex#L135" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec merge(keyword(), keyword()) :: keyword()</pre> </div> <p>Merges two configurations.</p>
<p>The configurations are merged together with the values in the second one having higher preference than the first in case of conflicts. In case both values are set to keyword lists, it deep merges them.</p>
<h4 id="merge/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Config.Reader.merge([app: [k: :v1]], [app: [k: :v2]])
[app: [k: :v2]]

iex&gt; Config.Reader.merge([app: [k: [v1: 1, v2: 2]]], [app: [k: [v2: :a, v3: :b]]])
[app: [k: [v1: 1, v2: :a, v3: :b]]]

iex&gt; Config.Reader.merge([app1: []], [app2: []])
[app1: [], app2: []]</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="read!/2">read!(file, opts \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/config/reader.ex#L90" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec read!(
  Path.t(),
  keyword()
) :: keyword()</pre> </div> <p>Reads the configuration file.</p>
<h4 id="read!/2-options" class="section-heading">  <span class="text">Options</span> </h4> <ul>
<li><p><code class="inline">:imports</code> - a list of already imported paths or <code class="inline">:disabled</code> to disable imports</p></li>
<li><p><code class="inline">:env</code> - the environment the configuration file runs on. See <a href="config#config_env/0"><code class="inline">Config.config_env/0</code></a> for sample usage</p></li>
<li><p><code class="inline">:target</code> - the target the configuration file runs on. See <a href="config#config_target/0"><code class="inline">Config.config_target/0</code></a> for sample usage</p></li>
</ul> </section> </section> <section class="detail">  <h3 class="detail-header" id="read_imports!/2">read_imports!(file, opts \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/config/reader.ex#L104" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec read_imports!(
  Path.t(),
  keyword()
) :: {keyword(), [Path.t()]}</pre> </div> <p>Reads the given configuration file and returns the configuration with its imports.</p>
<p>Accepts the same options as <a href="#read!/2"><code class="inline">read!/2</code></a>. Although note the <code class="inline">:imports</code> option cannot be disabled in <a href="#read_imports!/2"><code class="inline">read_imports!/2</code></a>.</p> </section> </section> </div> </section> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/Config.Reader.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/Config.Reader.html</a>
  </p>
</div>
