<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/config/provider.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">Config.Provider</span> <small>behaviour</small>  </h1> <section id="moduledoc"> <p>Specifies a provider API that loads configuration during boot.</p>
<p>Config providers are typically used during releases to load external configuration while the system boots. This is done by starting the VM with the minimum amount of applications running, then invoking all of the providers, and then restarting the system. This requires a mutable configuration file on disk, as the results of the providers are written to the file system. For more information on runtime configuration, see <a href="https://hexdocs.pm/mix/Mix.Tasks.Release.html"><code class="inline">mix release</code></a>.</p>
<h2 id="module-multiple-config-files" class="section-heading">  <span class="text">Multiple config files</span> </h2> <p>One common use of config providers is to specify multiple configuration files in a release. Elixir ships with one provider, called <a href="config.reader"><code class="inline">Config.Reader</code></a>, which is capable of handling Elixir's built-in config files.</p>
<p>For example, imagine you want to list some basic configuration on Mix's built-in <code class="inline">config/runtime.exs</code> file, but you also want to support additional configuration files. To do so, you can add this inside the <code class="inline">def project</code> portion of your <code class="inline">mix.exs</code>:</p>
<pre data-language="elixir">releases: [
  demo: [
    config_providers: [
      {Config.Reader, {:system, "RELEASE_ROOT", "/extra_config.exs"}}
    ]
  ]
]</pre>
<p>You can place this <code class="inline">extra_config.exs</code> file in your release in multiple ways:</p>
<ol>
<li><p>If it is available on the host when assembling the release, you can place it on "rel/overlays/extra_config.exs" and it will be automatically copied to the release root</p></li>
<li><p>If it is available on the target during deployment, you can simply copy it to the release root as a step in your deployment</p></li>
</ol>
<p>Now once the system boots, it will load both <code class="inline">config/runtime.exs</code> and <code class="inline">extra_config.exs</code> early in the boot process. You can learn more options on <a href="config.reader"><code class="inline">Config.Reader</code></a>.</p>
<h2 id="module-custom-config-provider" class="section-heading">  <span class="text">Custom config provider</span> </h2> <p>You can also implement custom config providers, similar to how <a href="config.reader"><code class="inline">Config.Reader</code></a> works. For example, imagine you need to load some configuration from a JSON file and load that into the system. Said configuration provider would look like:</p>
<pre data-language="elixir">defmodule JSONConfigProvider do
  @behaviour Config.Provider

  # Let's pass the path to the JSON file as config
  @impl true
  def init(path) when is_binary(path), do: path

  @impl true
  def load(config, path) do
    # We need to start any app we may depend on.
    {:ok, _} = Application.ensure_all_started(:jason)

    json = path |&gt; File.read!() |&gt; Jason.decode!()

    Config.Reader.merge(
      config,
      my_app: [
        some_value: json["my_app_some_value"],
        another_value: json["my_app_another_value"],
      ]
    )
  end
end</pre>
<p>Then, when specifying your release, you can specify the provider in the release configuration:</p>
<pre data-language="elixir">releases: [
  demo: [
    config_providers: [
      {JSONConfigProvider, "/etc/config.json"}
    ]
  ]
]</pre> </section> </div> <section id="summary" class="details-list"> <h1 class="section-heading">  <span class="text">Summary</span> </h1> <h2> Types </h2>
<dl class="summary-types summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#t:config/0" data-no-tooltip translate="no">config()</a> </dt> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:config_path/0" data-no-tooltip translate="no">config_path()</a> </dt> <dd class="summary-synopsis"><p>A path pointing to a configuration file.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:state/0" data-no-tooltip translate="no">state()</a> </dt> </div> </dl> <h2> Callbacks </h2>
<dl class="summary-callbacks summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#c:init/1" data-no-tooltip translate="no">init(term)</a> </dt> <dd class="summary-synopsis"><p>Invoked when initializing a config provider.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#c:load/2" data-no-tooltip translate="no">load(config, state)</a> </dt> <dd class="summary-synopsis"><p>Loads configuration (typically during system boot).</p></dd> </div> </dl> <h2> Functions </h2>
<dl class="summary-functions summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#resolve_config_path!/1" data-no-tooltip translate="no">resolve_config_path!(path)</a> </dt> <dd class="summary-synopsis"><p>Resolves a <a href="#t:config_path/0"><code class="inline">config_path/0</code></a> to an actual path.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#validate_config_path!/1" data-no-tooltip translate="no">validate_config_path!(path)</a> </dt> <dd class="summary-synopsis"><p>Validates a <a href="#t:config_path/0"><code class="inline">config_path/0</code></a>.</p></dd> </div> </dl> </section> <section id="types" class="details-list"> <h1 class="section-heading">  <span class="text">Types</span> </h1> <div class="types-list"> <section class="detail"> <h3 class="detail-header" id="t:config/0">config()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/config/provider.ex#L92" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type config() :: keyword()</pre> </div> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:config_path/0">config_path()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/config/provider.ex#L108" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type config_path() :: {:system, binary(), binary()} | binary()</pre> </div> <p>A path pointing to a configuration file.</p>
<p>Since configuration files are often accessed on target machines, it can be expressed either as:</p>
<ul>
<li><p>a binary representing an absolute path</p></li>
<li><p>a <code class="inline">{:system, system_var, path}</code> tuple where the config is the concatenation of the environment variable <code class="inline">system_var</code> with the given <code class="inline">path</code></p></li>
</ul> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:state/0">state()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/config/provider.ex#L93" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type state() :: term()</pre> </div> </section> </section> </div> </section> <section id="callbacks" class="details-list"> <h1 class="section-heading">  <span class="text">Callbacks</span> </h1> <div class="callbacks-list"> <section class="detail"> <h3 class="detail-header" id="c:init/1">init(term)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/config/provider.ex#L125" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@callback init(term()) :: state()</pre> </div> <p>Invoked when initializing a config provider.</p>
<p>A config provider is typically initialized on the machine where the system is assembled and not on the target machine. The <a href="#c:init/1"><code class="inline">init/1</code></a> callback is useful to verify the arguments given to the provider and prepare the state that will be given to <a href="#c:load/2"><code class="inline">load/2</code></a>.</p>
<p>Furthermore, because the state returned by <a href="#c:init/1"><code class="inline">init/1</code></a> can be written to text-based config files, it should be restricted only to simple data types, such as integers, strings, atoms, tuples, maps, and lists. Entries such as PIDs, references, and functions cannot be serialized.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="c:load/2">load(config, state)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/config/provider.ex#L140" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@callback load(config(), state()) :: config()</pre> </div> <p>Loads configuration (typically during system boot).</p>
<p>It receives the current <code class="inline">config</code> and the <code class="inline">state</code> returned by <a href="#c:init/1"><code class="inline">init/1</code></a>. Then, you typically read the extra configuration from an external source and merge it into the received <code class="inline">config</code>. Merging should be done with <a href="config.reader#merge/2"><code class="inline">Config.Reader.merge/2</code></a>, as it performs deep merge. It should return the updated config.</p>
<p>Note that <a href="#c:load/2"><code class="inline">load/2</code></a> is typically invoked very early in the boot process, therefore if you need to use an application in the provider, it is your responsibility to start it.</p> </section> </section> </div> </section> <section id="functions" class="details-list"> <h1 class="section-heading">  <span class="text">Functions</span> </h1> <div class="functions-list"> <section class="detail"> <h3 class="detail-header" id="resolve_config_path!/1">resolve_config_path!(path)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/config/provider.ex#L184" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec resolve_config_path!(config_path()) :: binary()</pre> </div> <p>Resolves a <a href="#t:config_path/0"><code class="inline">config_path/0</code></a> to an actual path.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="validate_config_path!/1">validate_config_path!(path)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/config/provider.ex#L159" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec validate_config_path!(config_path()) :: :ok</pre> </div> <p>Validates a <a href="#t:config_path/0"><code class="inline">config_path/0</code></a>.</p> </section> </section> </div> </section> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/Config.Provider.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/Config.Provider.html</a>
  </p>
</div>
