<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/date_range.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">Date.Range</span>  </h1> <section id="moduledoc"> <p>Returns an inclusive range between dates.</p>
<p>Ranges must be created with the <a href="date#range/2"><code class="inline">Date.range/2</code></a> or <a href="date#range/3"><code class="inline">Date.range/3</code></a> function.</p>
<p>The following fields are public:</p>
<ul>
<li>
<code class="inline">:first</code> - the initial date on the range</li>
<li>
<code class="inline">:last</code> - the last date on the range</li>
<li>
<code class="inline">:step</code> - (since v1.12.0) the step</li>
</ul>
<p>The remaining fields are private and should not be accessed.</p> </section> </div> <section id="summary" class="details-list"> <h1 class="section-heading">  <span class="text">Summary</span> </h1> <h2> Types </h2>
<dl class="summary-types summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#t:t/0" data-no-tooltip translate="no">t()</a> </dt> </div> </dl> </section> <section id="types" class="details-list"> <h1 class="section-heading">  <span class="text">Types</span> </h1> <div class="types-list"> <section class="detail"> <h3 class="detail-header" id="t:t/0">t()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/date_range.ex#L16" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type t() :: %Date.Range{
  first: Date.t(),
  first_in_iso_days: days(),
  last: Date.t(),
  last_in_iso_days: days(),
  step: pos_integer() | neg_integer()
}</pre> </div> </section> </section> </div> </section> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/Date.Range.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/Date.Range.html</a>
  </p>
</div>
