<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/datetime.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">DateTime</span>  </h1> <section id="moduledoc"> <p>A datetime implementation with a time zone.</p>
<p>This datetime can be seen as a snapshot of a date and time at a given time zone. For such purposes, it also includes both UTC and Standard offsets, as well as the zone abbreviation field used exclusively for formatting purposes. Note future datetimes are not necessarily guaranteed to exist, as time zones may change any time in the future due to geopolitical reasons. See the "Datetimes as snapshots" section for more information.</p>
<p>Remember, comparisons in Elixir using <a href="kernel#==/2"><code class="inline">==/2</code></a>, <a href="kernel#%3E/2"><code class="inline">&gt;/2</code></a>, <a href="kernel#%3C/2"><code class="inline">&lt;/2</code></a> and friends are structural and based on the DateTime struct fields. For proper comparison between datetimes, use the <a href="#compare/2"><code class="inline">compare/2</code></a> function. The existence of the <a href="#compare/2"><code class="inline">compare/2</code></a> function in this module also allows using <a href="enum#min/2"><code class="inline">Enum.min/2</code></a> and <a href="enum#max/2"><code class="inline">Enum.max/2</code></a> functions to get the minimum and maximum datetime of an <a href="enum"><code class="inline">Enum</code></a>. For example:</p>
<pre data-language="elixir">iex&gt; Enum.min([~U[2022-01-12 00:01:00.00Z], ~U[2021-01-12 00:01:00.00Z]], DateTime)
~U[2021-01-12 00:01:00.00Z]</pre>
<p>Developers should avoid creating the <a href="datetime"><code class="inline">DateTime</code></a> struct directly and instead rely on the functions provided by this module as well as the ones in third-party calendar libraries.</p>
<h2 id="module-time-zone-database" class="section-heading">  <span class="text">Time zone database</span> </h2> <p>Many functions in this module require a time zone database. By default, it uses the default time zone database returned by <a href="calendar#get_time_zone_database/0"><code class="inline">Calendar.get_time_zone_database/0</code></a>, which defaults to <a href="calendar.utconlytimezonedatabase"><code class="inline">Calendar.UTCOnlyTimeZoneDatabase</code></a> which only handles "Etc/UTC" datetimes and returns <code class="inline">{:error, :utc_only_time_zone_database}</code> for any other time zone.</p>
<p>Other time zone databases can also be configured. Here are some available options and libraries:</p>
<ul>
<li><a href="https://github.com/hrzndhrn/time_zone_info"><code class="inline">time_zone_info</code></a></li>
<li><a href="https://github.com/mathieuprog/tz"><code class="inline">tz</code></a></li>
<li><a href="https://github.com/lau/tzdata"><code class="inline">tzdata</code></a></li>
<li>
<a href="https://github.com/smartrent/zoneinfo"><code class="inline">zoneinfo</code></a> - recommended for embedded devices</li>
</ul>
<p>To use them, first make sure it is added as a dependency in <code class="inline">mix.exs</code>. It can then be configured either via configuration:</p>
<pre data-language="elixir">config :elixir, :time_zone_database, Tz.TimeZoneDatabase</pre>
<p>or by calling <a href="calendar#put_time_zone_database/1"><code class="inline">Calendar.put_time_zone_database/1</code></a>:</p>
<pre data-language="elixir">Calendar.put_time_zone_database(Tz.TimeZoneDatabase)</pre>
<p>See the proper names in the library installation instructions.</p>
<h2 id="module-datetimes-as-snapshots" class="section-heading">  <span class="text">Datetimes as snapshots</span> </h2> <p>In the first section, we described datetimes as a "snapshot of a date and time at a given time zone". To understand precisely what we mean, let's see an example.</p>
<p>Imagine someone in Poland who wants to schedule a meeting with someone in Brazil in the next year. The meeting will happen at 2:30 AM in the Polish time zone. At what time will the meeting happen in Brazil?</p>
<p>You can consult the time zone database today, one year before, using the API in this module and it will give you an answer that is valid right now. However, this answer may not be valid in the future. Why? Because both Brazil and Poland may change their timezone rules, ultimately affecting the result. For example, a country may choose to enter or abandon "Daylight Saving Time", which is a process where we adjust the clock one hour forward or one hour back once per year. Whenever the rules change, the exact instant that 2:30 AM in Polish time will be in Brazil may change.</p>
<p>In other words, whenever working with future DateTimes, there is no guarantee the results you get will always be correct, until the event actually happens. Therefore, when you ask for a future time, the answers you get are a snapshot that reflects the current state of the time zone rules. For datetimes in the past, this is not a problem, because time zone rules do not change for past events.</p>
<p>To make matters worse, it may be that 2:30 AM in Polish time does not actually even exist or it is ambiguous. If a certain time zone observes "Daylight Saving Time", they will move their clock forward once a year. When this happens, there is a whole hour that does not exist. Then, when they move the clock back, there is a certain hour that will happen twice. So if you want to schedule a meeting when this shift back happens, you would need to explicitly say which occurrence of 2:30 AM you mean: the one in "Summer Time", which occurs before the shift, or the one in "Standard Time", which occurs after it. Applications that are date and time sensitive need to take these scenarios into account and correctly communicate them to users.</p>
<p>The good news is: Elixir contains all of the building blocks necessary to tackle those problems. The default timezone database used by Elixir, <a href="calendar.utconlytimezonedatabase"><code class="inline">Calendar.UTCOnlyTimeZoneDatabase</code></a>, only works with UTC, which does not observe those issues. Once you bring a proper time zone database, the functions in this module will query the database and return the relevant information. For example, look at how <a href="#new/4"><code class="inline">DateTime.new/4</code></a> returns different results based on the scenarios described in this section.</p>
<h2 id="module-converting-between-timezones" class="section-heading">  <span class="text">Converting between timezones</span> </h2> <p>Bearing in mind the cautions above, and assuming you've brought in a full timezone database, here are some examples of common shifts between time zones.</p>
<pre data-language="elixir"># Local time to UTC
new_york = DateTime.from_naive!(~N[2023-06-26T09:30:00], "America/New_York")
#=&gt; #DateTime&lt;2023-06-26 09:30:00-04:00 EDT America/New_York&gt;

utc = DateTime.shift_zone!(new_york, "Etc/UTC")
#=&gt; ~U[2023-06-26 13:30:00Z]

# UTC to local time
DateTime.shift_zone!(utc, "Europe/Paris")
#=&gt; #DateTime&lt;2023-06-26 15:30:00+02:00 CEST Europe/Paris&gt;</pre> </section> </div> <section id="summary" class="details-list"> <h1 class="section-heading">  <span class="text">Summary</span> </h1> <h2> Types </h2>
<dl class="summary-types summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#t:t/0" data-no-tooltip translate="no">t()</a> </dt> </div> </dl> <h2> Functions </h2>
<dl class="summary-functions summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#add/4" data-no-tooltip translate="no">add(datetime, amount_to_add, unit \\ :second, time_zone_database \\ Calendar.get_time_zone_database())</a> </dt> <dd class="summary-synopsis"><p>Adds a specified amount of time to a <a href="datetime"><code class="inline">DateTime</code></a>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#after?/2" data-no-tooltip translate="no">after?(datetime1, datetime2)</a> </dt> <dd class="summary-synopsis"><p>Returns <code class="inline">true</code> if the first datetime is strictly later than the second.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#before?/2" data-no-tooltip translate="no">before?(datetime1, datetime2)</a> </dt> <dd class="summary-synopsis"><p>Returns <code class="inline">true</code> if the first datetime is strictly earlier than the second.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#compare/2" data-no-tooltip translate="no">compare(datetime1, datetime2)</a> </dt> <dd class="summary-synopsis"><p>Compares two datetime structs.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#convert/2" data-no-tooltip translate="no">convert(datetime, calendar)</a> </dt> <dd class="summary-synopsis"><p>Converts a given <code class="inline">datetime</code> from one calendar to another.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#convert!/2" data-no-tooltip translate="no">convert!(datetime, calendar)</a> </dt> <dd class="summary-synopsis"><p>Converts a given <code class="inline">datetime</code> from one calendar to another.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#diff/3" data-no-tooltip translate="no">diff(datetime1, datetime2, unit \\ :second)</a> </dt> <dd class="summary-synopsis"><p>Subtracts <code class="inline">datetime2</code> from <code class="inline">datetime1</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#from_gregorian_seconds/3" data-no-tooltip translate="no">from_gregorian_seconds(seconds, arg \\ {0, 0}, calendar \\ Calendar.ISO)</a> </dt> <dd class="summary-synopsis"><p>Converts a number of gregorian seconds to a <a href="datetime"><code class="inline">DateTime</code></a> struct.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#from_iso8601/2" data-no-tooltip translate="no">from_iso8601(string, format_or_calendar \\ Calendar.ISO)</a> </dt> <dd class="summary-synopsis"><p>Parses the extended "Date and time of day" format described by <a href="https://en.wikipedia.org/wiki/ISO_8601">ISO 8601:2019</a>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#from_iso8601/3" data-no-tooltip translate="no">from_iso8601(string, calendar, format)</a> </dt> <dd class="summary-synopsis"><p>Converts from ISO8601 specifying both a calendar and a mode.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#from_naive/3" data-no-tooltip translate="no">from_naive(naive_datetime, time_zone, time_zone_database \\ Calendar.get_time_zone_database())</a> </dt> <dd class="summary-synopsis"><p>Converts the given <a href="naivedatetime"><code class="inline">NaiveDateTime</code></a> to <a href="datetime"><code class="inline">DateTime</code></a>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#from_naive!/3" data-no-tooltip translate="no">from_naive!(naive_datetime, time_zone, time_zone_database \\ Calendar.get_time_zone_database())</a> </dt> <dd class="summary-synopsis"><p>Converts the given <a href="naivedatetime"><code class="inline">NaiveDateTime</code></a> to <a href="datetime"><code class="inline">DateTime</code></a>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#from_unix/3" data-no-tooltip translate="no">from_unix(integer, unit \\ :second, calendar \\ Calendar.ISO)</a> </dt> <dd class="summary-synopsis"><p>Converts the given Unix time to <a href="datetime"><code class="inline">DateTime</code></a>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#from_unix!/3" data-no-tooltip translate="no">from_unix!(integer, unit \\ :second, calendar \\ Calendar.ISO)</a> </dt> <dd class="summary-synopsis"><p>Converts the given Unix time to <a href="datetime"><code class="inline">DateTime</code></a>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#new/4" data-no-tooltip translate="no">new(date, time, time_zone \\ "Etc/UTC", time_zone_database \\ Calendar.get_time_zone_database())</a> </dt> <dd class="summary-synopsis"><p>Builds a datetime from date and time structs.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#new!/4" data-no-tooltip translate="no">new!(date, time, time_zone \\ "Etc/UTC", time_zone_database \\ Calendar.get_time_zone_database())</a> </dt> <dd class="summary-synopsis"><p>Builds a datetime from date and time structs, raising on errors.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#now/2" data-no-tooltip translate="no">now(time_zone, time_zone_database \\ Calendar.get_time_zone_database())</a> </dt> <dd class="summary-synopsis"><p>Returns the current datetime in the provided time zone.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#now!/2" data-no-tooltip translate="no">now!(time_zone, time_zone_database \\ Calendar.get_time_zone_database())</a> </dt> <dd class="summary-synopsis"><p>Returns the current datetime in the provided time zone or raises on errors</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#shift/3" data-no-tooltip translate="no">shift(datetime, duration, time_zone_database \\ Calendar.get_time_zone_database())</a> </dt> <dd class="summary-synopsis"><p>Shifts given <code class="inline">datetime</code> by <code class="inline">duration</code> according to its calendar.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#shift_zone/3" data-no-tooltip translate="no">shift_zone(datetime, time_zone, time_zone_database \\ Calendar.get_time_zone_database())</a> </dt> <dd class="summary-synopsis"><p>Changes the time zone of a <a href="datetime"><code class="inline">DateTime</code></a>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#shift_zone!/3" data-no-tooltip translate="no">shift_zone!(datetime, time_zone, time_zone_database \\ Calendar.get_time_zone_database())</a> </dt> <dd class="summary-synopsis"><p>Changes the time zone of a <a href="datetime"><code class="inline">DateTime</code></a> or raises on errors.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#to_date/1" data-no-tooltip translate="no">to_date(datetime)</a> </dt> <dd class="summary-synopsis"><p>Converts a <a href="datetime"><code class="inline">DateTime</code></a> into a <a href="date"><code class="inline">Date</code></a>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#to_gregorian_seconds/1" data-no-tooltip translate="no">to_gregorian_seconds(datetime)</a> </dt> <dd class="summary-synopsis"><p>Converts a <a href="datetime"><code class="inline">DateTime</code></a> struct to a number of gregorian seconds and microseconds.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#to_iso8601/3" data-no-tooltip translate="no">to_iso8601(datetime, format \\ :extended, offset \\ nil)</a> </dt> <dd class="summary-synopsis"><p>Converts the given datetime to <a href="https://en.wikipedia.org/wiki/ISO_8601">ISO 8601:2019</a> format.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#to_naive/1" data-no-tooltip translate="no">to_naive(datetime)</a> </dt> <dd class="summary-synopsis"><p>Converts the given <code class="inline">datetime</code> into a <a href="naivedatetime"><code class="inline">NaiveDateTime</code></a>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#to_string/1" data-no-tooltip translate="no">to_string(datetime)</a> </dt> <dd class="summary-synopsis"><p>Converts the given <code class="inline">datetime</code> to a string according to its calendar.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#to_time/1" data-no-tooltip translate="no">to_time(datetime)</a> </dt> <dd class="summary-synopsis"><p>Converts a <a href="datetime"><code class="inline">DateTime</code></a> into <a href="time"><code class="inline">Time</code></a>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#to_unix/2" data-no-tooltip translate="no">to_unix(datetime, unit \\ :second)</a> </dt> <dd class="summary-synopsis"><p>Converts the given <code class="inline">datetime</code> to Unix time.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#truncate/2" data-no-tooltip translate="no">truncate(datetime, precision)</a> </dt> <dd class="summary-synopsis"><p>Returns the given datetime with the microsecond field truncated to the given precision (<code class="inline">:microsecond</code>, <code class="inline">:millisecond</code> or <code class="inline">:second</code>).</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#utc_now/1" data-no-tooltip translate="no">utc_now(calendar_or_time_unit \\ Calendar.ISO)</a> </dt> <dd class="summary-synopsis"><p>Returns the current datetime in UTC.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#utc_now/2" data-no-tooltip translate="no">utc_now(time_unit, calendar)</a> </dt> <dd class="summary-synopsis"><p>Returns the current datetime in UTC, supporting a specific calendar and precision.</p></dd> </div> </dl> </section> <section id="types" class="details-list"> <h1 class="section-heading">  <span class="text">Types</span> </h1> <div class="types-list"> <section class="detail"> <h3 class="detail-header" id="t:t/0">t()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/datetime.ex#L145" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type t() :: %DateTime{
  calendar: Calendar.calendar(),
  day: Calendar.day(),
  hour: Calendar.hour(),
  microsecond: Calendar.microsecond(),
  minute: Calendar.minute(),
  month: Calendar.month(),
  second: Calendar.second(),
  std_offset: Calendar.std_offset(),
  time_zone: Calendar.time_zone(),
  utc_offset: Calendar.utc_offset(),
  year: Calendar.year(),
  zone_abbr: Calendar.zone_abbr()
}</pre> </div> </section> </section> </div> </section> <section id="functions" class="details-list"> <h1 class="section-heading">  <span class="text">Functions</span> </h1> <div class="functions-list"> <section class="detail">   <h3 class="detail-header" id="add/4">add(datetime, amount_to_add, unit \\ :second, time_zone_database \\ Calendar.get_time_zone_database())<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/datetime.ex#L1627" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec add(
  Calendar.datetime(),
  integer(),
  :day | :hour | :minute | System.time_unit(),
  Calendar.time_zone_database()
) :: t()</pre> </div> <p>Adds a specified amount of time to a <a href="datetime"><code class="inline">DateTime</code></a>.</p>
<p>Accepts an <code class="inline">amount_to_add</code> in any <code class="inline">unit</code>. <code class="inline">unit</code> can be <code class="inline">:day</code>, <code class="inline">:hour</code>, <code class="inline">:minute</code>, <code class="inline">:second</code> or any subsecond precision from <a href="system#t:time_unit/0"><code class="inline">System.time_unit/0</code></a>. It defaults to <code class="inline">:second</code>. Negative values will move backwards in time.</p>
<p>This function always considers the unit to be computed according to the <a href="calendar.iso"><code class="inline">Calendar.ISO</code></a>.</p>
<p>This function relies on a contiguous representation of time, ignoring the wall time and timezone changes. For example, if you add one day when there are summer time/daylight saving time changes, it will also change the time forward or backward by one hour, so the elapsed time is precisely 24 hours. Similarly, adding just a few seconds to a datetime just before "spring forward" can cause wall time to increase by more than an hour.</p>
<p>While this means this function is precise in terms of elapsed time, its result may be misleading in certain use cases. For example, if a user requests a meeting to happen every day at 15:00 and you use this function to compute all future meetings by adding day after day, this function may change the meeting time to 14:00 or 16:00 if there are changes to the current timezone. Computing of recurring datetimes is not currently supported in Elixir's standard library but it is available by third-party libraries.</p>
<h3 id="add/4-examples" class="section-heading">  <span class="text">Examples</span> </h3> <pre data-language="elixir">iex&gt; dt = DateTime.from_naive!(~N[2018-11-15 10:00:00], "Europe/Copenhagen", FakeTimeZoneDatabase)
iex&gt; dt |&gt; DateTime.add(3600, :second, FakeTimeZoneDatabase)
#DateTime&lt;2018-11-15 11:00:00+01:00 CET Europe/Copenhagen&gt;

iex&gt; DateTime.add(~U[2018-11-15 10:00:00Z], 3600, :second)
~U[2018-11-15 11:00:00Z]</pre>
<p>When adding 3 seconds just before "spring forward" we go from 1:59:59 to 3:00:02:</p>
<pre data-language="elixir">iex&gt; dt = DateTime.from_naive!(~N[2019-03-31 01:59:59.123], "Europe/Copenhagen", FakeTimeZoneDatabase)
iex&gt; dt |&gt; DateTime.add(3, :second, FakeTimeZoneDatabase)
#DateTime&lt;2019-03-31 03:00:02.123+02:00 CEST Europe/Copenhagen&gt;</pre>
<p>When adding 1 day during "spring forward", the hour also changes:</p>
<pre data-language="elixir">iex&gt; dt = DateTime.from_naive!(~N[2019-03-31 01:00:00], "Europe/Copenhagen", FakeTimeZoneDatabase)
iex&gt; dt |&gt; DateTime.add(1, :day, FakeTimeZoneDatabase)
#DateTime&lt;2019-04-01 02:00:00+02:00 CEST Europe/Copenhagen&gt;</pre>
<p>This operation merges the precision of the naive date time with the given unit:</p>
<pre data-language="elixir">iex&gt; result = DateTime.add(~U[2014-10-02 00:29:10Z], 21, :millisecond)
~U[2014-10-02 00:29:10.021Z]
iex&gt; result.microsecond
{21000, 3}</pre>
<p>To shift a datetime by a <a href="duration"><code class="inline">Duration</code></a> and according to its underlying calendar, use <a href="#shift/3"><code class="inline">DateTime.shift/3</code></a>.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="after?/2">after?(datetime1, datetime2)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/datetime.ex#L1485" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec after?(Calendar.datetime(), Calendar.datetime()) :: boolean()</pre> </div> <p>Returns <code class="inline">true</code> if the first datetime is strictly later than the second.</p>
<h4 id="after?/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; DateTime.after?(~U[2022-02-02 11:00:00Z], ~U[2021-01-01 11:00:00Z])
true
iex&gt; DateTime.after?(~U[2021-01-01 11:00:00Z], ~U[2021-01-01 11:00:00Z])
false
iex&gt; DateTime.after?(~U[2021-01-01 11:00:00Z], ~U[2022-02-02 11:00:00Z])
false</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="before?/2">before?(datetime1, datetime2)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/datetime.ex#L1466" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec before?(Calendar.datetime(), Calendar.datetime()) :: boolean()</pre> </div> <p>Returns <code class="inline">true</code> if the first datetime is strictly earlier than the second.</p>
<h4 id="before?/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; DateTime.before?(~U[2021-01-01 11:00:00Z], ~U[2022-02-02 11:00:00Z])
true
iex&gt; DateTime.before?(~U[2021-01-01 11:00:00Z], ~U[2021-01-01 11:00:00Z])
false
iex&gt; DateTime.before?(~U[2022-02-02 11:00:00Z], ~U[2021-01-01 11:00:00Z])
false</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="compare/2">compare(datetime1, datetime2)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/datetime.ex#L1426" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec compare(Calendar.datetime(), Calendar.datetime()) :: :lt | :eq | :gt</pre> </div> <p>Compares two datetime structs.</p>
<p>Returns <code class="inline">:gt</code> if the first datetime is later than the second and <code class="inline">:lt</code> for vice versa. If the two datetimes are equal <code class="inline">:eq</code> is returned.</p>
<p>Note that both UTC and Standard offsets will be taken into account when comparison is done.</p>
<h4 id="compare/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; dt1 = %DateTime{year: 2000, month: 2, day: 29, zone_abbr: "AMT",
...&gt;                 hour: 23, minute: 0, second: 7, microsecond: {0, 0},
...&gt;                 utc_offset: -14400, std_offset: 0, time_zone: "America/Manaus"}
iex&gt; dt2 = %DateTime{year: 2000, month: 2, day: 29, zone_abbr: "CET",
...&gt;                 hour: 23, minute: 0, second: 7, microsecond: {0, 0},
...&gt;                 utc_offset: 3600, std_offset: 0, time_zone: "Europe/Warsaw"}
iex&gt; DateTime.compare(dt1, dt2)
:gt</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="convert/2">convert(datetime, calendar)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/datetime.ex#L1891" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec convert(Calendar.datetime(), Calendar.calendar()) ::
  {:ok, t()} | {:error, :incompatible_calendars}</pre> </div> <p>Converts a given <code class="inline">datetime</code> from one calendar to another.</p>
<p>If it is not possible to convert unambiguously between the calendars (see <a href="calendar#compatible_calendars?/2"><code class="inline">Calendar.compatible_calendars?/2</code></a>), an <code class="inline">{:error, :incompatible_calendars}</code> tuple is returned.</p>
<h4 id="convert/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <p>Imagine someone implements <code class="inline">Calendar.Holocene</code>, a calendar based on the Gregorian calendar that adds exactly 10,000 years to the current Gregorian year:</p>
<pre data-language="elixir">iex&gt; dt1 = %DateTime{year: 2000, month: 2, day: 29, zone_abbr: "AMT",
...&gt;                 hour: 23, minute: 0, second: 7, microsecond: {0, 0},
...&gt;                 utc_offset: -14400, std_offset: 0, time_zone: "America/Manaus"}
iex&gt; DateTime.convert(dt1, Calendar.Holocene)
{:ok, %DateTime{calendar: Calendar.Holocene, day: 29, hour: 23,
                microsecond: {0, 0}, minute: 0, month: 2, second: 7, std_offset: 0,
                time_zone: "America/Manaus", utc_offset: -14400, year: 12000,
                zone_abbr: "AMT"}}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="convert!/2">convert!(datetime, calendar)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/datetime.ex#L1936" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec convert!(Calendar.datetime(), Calendar.calendar()) :: t()</pre> </div> <p>Converts a given <code class="inline">datetime</code> from one calendar to another.</p>
<p>If it is not possible to convert unambiguously between the calendars (see <a href="calendar#compatible_calendars?/2"><code class="inline">Calendar.compatible_calendars?/2</code></a>), an ArgumentError is raised.</p>
<h4 id="convert!/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <p>Imagine someone implements <code class="inline">Calendar.Holocene</code>, a calendar based on the Gregorian calendar that adds exactly 10,000 years to the current Gregorian year:</p>
<pre data-language="elixir">iex&gt; dt1 = %DateTime{year: 2000, month: 2, day: 29, zone_abbr: "AMT",
...&gt;                 hour: 23, minute: 0, second: 7, microsecond: {0, 0},
...&gt;                 utc_offset: -14400, std_offset: 0, time_zone: "America/Manaus"}
iex&gt; DateTime.convert!(dt1, Calendar.Holocene)
%DateTime{calendar: Calendar.Holocene, day: 29, hour: 23,
          microsecond: {0, 0}, minute: 0, month: 2, second: 7, std_offset: 0,
          time_zone: "America/Manaus", utc_offset: -14400, year: 12000,
          zone_abbr: "AMT"}</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="diff/3">diff(datetime1, datetime2, unit \\ :second)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/datetime.ex#L1527" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec diff(
  Calendar.datetime(),
  Calendar.datetime(),
  :day | :hour | :minute | System.time_unit()
) :: integer()</pre> </div> <p>Subtracts <code class="inline">datetime2</code> from <code class="inline">datetime1</code>.</p>
<p>The answer can be returned in any <code class="inline">:day</code>, <code class="inline">:hour</code>, <code class="inline">:minute</code>, or any <code class="inline">unit</code> available from <a href="system#t:time_unit/0"><code class="inline">System.time_unit/0</code></a>. The unit is measured according to <a href="calendar.iso"><code class="inline">Calendar.ISO</code></a> and defaults to <code class="inline">:second</code>.</p>
<p>Fractional results are not supported and are truncated.</p>
<h4 id="diff/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; DateTime.diff(~U[2024-01-15 10:00:10Z], ~U[2024-01-15 10:00:00Z])
10</pre>
<p>This function also considers timezone offsets:</p>
<pre data-language="elixir">iex&gt; dt1 = %DateTime{year: 2000, month: 2, day: 29, zone_abbr: "AMT",
...&gt;                 hour: 23, minute: 0, second: 7, microsecond: {0, 0},
...&gt;                 utc_offset: -14400, std_offset: 0, time_zone: "America/Manaus"}
iex&gt; dt2 = %DateTime{year: 2000, month: 2, day: 29, zone_abbr: "CET",
...&gt;                 hour: 23, minute: 0, second: 7, microsecond: {0, 0},
...&gt;                 utc_offset: 3600, std_offset: 0, time_zone: "Europe/Warsaw"}
iex&gt; DateTime.diff(dt1, dt2)
18000
iex&gt; DateTime.diff(dt2, dt1)
-18000
iex&gt; DateTime.diff(dt1, dt2, :hour)
5
iex&gt; DateTime.diff(dt2, dt1, :hour)
-5</pre> </section> </section> <section class="detail">   <h3 class="detail-header" id="from_gregorian_seconds/3">from_gregorian_seconds(seconds, arg \\ {0, 0}, calendar \\ Calendar.ISO)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/datetime.ex#L1272" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec from_gregorian_seconds(integer(), Calendar.microsecond(), Calendar.calendar()) ::
  t()</pre> </div> <p>Converts a number of gregorian seconds to a <a href="datetime"><code class="inline">DateTime</code></a> struct.</p>
<p>The returned <a href="datetime"><code class="inline">DateTime</code></a> will have <code class="inline">UTC</code> timezone, if you want other timezone, please use <a href="#shift_zone/3"><code class="inline">DateTime.shift_zone/3</code></a>.</p>
<h4 id="from_gregorian_seconds/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; DateTime.from_gregorian_seconds(1)
~U[0000-01-01 00:00:01Z]
iex&gt; DateTime.from_gregorian_seconds(63_755_511_991, {5000, 3})
~U[2020-05-01 00:26:31.005Z]
iex&gt; DateTime.from_gregorian_seconds(-1)
~U[-0001-12-31 23:59:59Z]</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="from_iso8601/2">from_iso8601(string, format_or_calendar \\ Calendar.ISO)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/datetime.ex#L1203" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec from_iso8601(String.t(), Calendar.calendar() | :extended | :basic) ::
  {:ok, t(), Calendar.utc_offset()} | {:error, atom()}</pre> </div> <p>Parses the extended "Date and time of day" format described by <a href="https://en.wikipedia.org/wiki/ISO_8601">ISO 8601:2019</a>.</p>
<p>Since ISO 8601 does not include the proper time zone, the given string will be converted to UTC and its offset in seconds will be returned as part of this function. Therefore offset information must be present in the string.</p>
<p>As specified in the standard, the separator "T" may be omitted if desired as there is no ambiguity within this function.</p>
<p>Note leap seconds are not supported by the built-in Calendar.ISO.</p>
<h4 id="from_iso8601/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; {:ok, datetime, 0} = DateTime.from_iso8601("2015-01-23T23:50:07Z")
iex&gt; datetime
~U[2015-01-23 23:50:07Z]

iex&gt; {:ok, datetime, 9000} = DateTime.from_iso8601("2015-01-23T23:50:07.123+02:30")
iex&gt; datetime
~U[2015-01-23 21:20:07.123Z]

iex&gt; {:ok, datetime, 9000} = DateTime.from_iso8601("2015-01-23T23:50:07,123+02:30")
iex&gt; datetime
~U[2015-01-23 21:20:07.123Z]

iex&gt; {:ok, datetime, 0} = DateTime.from_iso8601("-2015-01-23T23:50:07Z")
iex&gt; datetime
~U[-2015-01-23 23:50:07Z]

iex&gt; {:ok, datetime, 9000} = DateTime.from_iso8601("-2015-01-23T23:50:07,123+02:30")
iex&gt; datetime
~U[-2015-01-23 21:20:07.123Z]

iex&gt; {:ok, datetime, 9000} = DateTime.from_iso8601("20150123T235007.123+0230", :basic)
iex&gt; datetime
~U[2015-01-23 21:20:07.123Z]

iex&gt; DateTime.from_iso8601("2015-01-23P23:50:07")
{:error, :invalid_format}
iex&gt; DateTime.from_iso8601("2015-01-23T23:50:07")
{:error, :missing_offset}
iex&gt; DateTime.from_iso8601("2015-01-23 23:50:61")
{:error, :invalid_time}
iex&gt; DateTime.from_iso8601("2015-01-32 23:50:07")
{:error, :invalid_date}
iex&gt; DateTime.from_iso8601("2015-01-23T23:50:07.123-00:00")
{:error, :invalid_format}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="from_iso8601/3">from_iso8601(string, calendar, format)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/datetime.ex#L1231" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec from_iso8601(String.t(), Calendar.calendar(), :extended | :basic) ::
  {:ok, t(), Calendar.utc_offset()} | {:error, atom()}</pre> </div> <p>Converts from ISO8601 specifying both a calendar and a mode.</p>
<p>See <a href="#from_iso8601/2"><code class="inline">from_iso8601/2</code></a> for more information.</p>
<h4 id="from_iso8601/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; {:ok, datetime, 9000} = DateTime.from_iso8601("2015-01-23T23:50:07,123+02:30", Calendar.ISO, :extended)
iex&gt; datetime
~U[2015-01-23 21:20:07.123Z]

iex&gt; {:ok, datetime, 9000} = DateTime.from_iso8601("20150123T235007.123+0230", Calendar.ISO, :basic)
iex&gt; datetime
~U[2015-01-23 21:20:07.123Z]</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="from_naive/3">from_naive(naive_datetime, time_zone, time_zone_database \\ Calendar.get_time_zone_database())<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/datetime.ex#L552" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec from_naive(
  Calendar.naive_datetime(),
  Calendar.time_zone(),
  Calendar.time_zone_database()
) ::
  {:ok, t()}
  | {:ambiguous, first_datetime :: t(), second_datetime :: t()}
  | {:gap, t(), t()}
  | {:error,
     :incompatible_calendars
     | :time_zone_not_found
     | :utc_only_time_zone_database}</pre> </div> <p>Converts the given <a href="naivedatetime"><code class="inline">NaiveDateTime</code></a> to <a href="datetime"><code class="inline">DateTime</code></a>.</p>
<p>It expects a time zone to put the <a href="naivedatetime"><code class="inline">NaiveDateTime</code></a> in. If the time zone is "Etc/UTC", it always succeeds. Otherwise, the NaiveDateTime is checked against the time zone database given as <code class="inline">time_zone_database</code>. See the "Time zone database" section in the module documentation.</p>
<h4 id="from_naive/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; DateTime.from_naive(~N[2016-05-24 13:26:08.003], "Etc/UTC")
{:ok, ~U[2016-05-24 13:26:08.003Z]}</pre>
<p>When the datetime is ambiguous - for instance during changing from summer to winter time - the two possible valid datetimes are returned in a tuple. The first datetime is also the one which comes first chronologically, while the second one comes last.</p>
<pre data-language="elixir">iex&gt; {:ambiguous, first_dt, second_dt} = DateTime.from_naive(~N[2018-10-28 02:30:00], "Europe/Copenhagen", FakeTimeZoneDatabase)
iex&gt; first_dt
#DateTime&lt;2018-10-28 02:30:00+02:00 CEST Europe/Copenhagen&gt;
iex&gt; second_dt
#DateTime&lt;2018-10-28 02:30:00+01:00 CET Europe/Copenhagen&gt;</pre>
<p>When there is a gap in wall time - for instance in spring when the clocks are turned forward - the latest valid datetime just before the gap and the first valid datetime just after the gap.</p>
<pre data-language="elixir">iex&gt; {:gap, just_before, just_after} = DateTime.from_naive(~N[2019-03-31 02:30:00], "Europe/Copenhagen", FakeTimeZoneDatabase)
iex&gt; just_before
#DateTime&lt;2019-03-31 01:59:59.999999+01:00 CET Europe/Copenhagen&gt;
iex&gt; just_after
#DateTime&lt;2019-03-31 03:00:00+02:00 CEST Europe/Copenhagen&gt;</pre>
<p>Most of the time there is one, and just one, valid datetime for a certain date and time in a certain time zone.</p>
<pre data-language="elixir">iex&gt; {:ok, datetime} = DateTime.from_naive(~N[2018-07-28 12:30:00], "Europe/Copenhagen", FakeTimeZoneDatabase)
iex&gt; datetime
#DateTime&lt;2018-07-28 12:30:00+02:00 CEST Europe/Copenhagen&gt;</pre>
<p>This function accepts any map or struct that contains at least the same fields as a <a href="naivedatetime"><code class="inline">NaiveDateTime</code></a> struct. The most common example of that is a <a href="datetime"><code class="inline">DateTime</code></a>. In this case the information about the time zone of that <a href="datetime"><code class="inline">DateTime</code></a> is completely ignored. This is the same principle as passing a <a href="datetime"><code class="inline">DateTime</code></a> to <a href="date#to_iso8601/2"><code class="inline">Date.to_iso8601/2</code></a>. <a href="date#to_iso8601/2"><code class="inline">Date.to_iso8601/2</code></a> extracts only the date-specific fields (calendar, year, month and day) of the given structure and ignores all others.</p>
<p>This way if you have a <a href="datetime"><code class="inline">DateTime</code></a> in one time zone, you can get the same wall time in another time zone. For instance if you have 2018-08-24 10:00:00 in Copenhagen and want a <a href="datetime"><code class="inline">DateTime</code></a> for 2018-08-24 10:00:00 in UTC you can do:</p>
<pre data-language="elixir">iex&gt; cph_datetime = DateTime.from_naive!(~N[2018-08-24 10:00:00], "Europe/Copenhagen", FakeTimeZoneDatabase)
iex&gt; {:ok, utc_datetime} = DateTime.from_naive(cph_datetime, "Etc/UTC", FakeTimeZoneDatabase)
iex&gt; utc_datetime
~U[2018-08-24 10:00:00Z]</pre>
<p>If instead you want a <a href="datetime"><code class="inline">DateTime</code></a> for the same point time in a different time zone see the <a href="#shift_zone/3"><code class="inline">DateTime.shift_zone/3</code></a> function which would convert 2018-08-24 10:00:00 in Copenhagen to 2018-08-24 08:00:00 in UTC.</p> </section> </section> <section class="detail">  <h3 class="detail-header" id="from_naive!/3">from_naive!(naive_datetime, time_zone, time_zone_database \\ Calendar.get_time_zone_database())<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/datetime.ex#L675" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec from_naive!(
  NaiveDateTime.t(),
  Calendar.time_zone(),
  Calendar.time_zone_database()
) :: t()</pre> </div> <p>Converts the given <a href="naivedatetime"><code class="inline">NaiveDateTime</code></a> to <a href="datetime"><code class="inline">DateTime</code></a>.</p>
<p>It expects a time zone to put the NaiveDateTime in. If the time zone is "Etc/UTC", it always succeeds. Otherwise, the NaiveDateTime is checked against the time zone database given as <code class="inline">time_zone_database</code>. See the "Time zone database" section in the module documentation.</p>
<h4 id="from_naive!/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; DateTime.from_naive!(~N[2016-05-24 13:26:08.003], "Etc/UTC")
~U[2016-05-24 13:26:08.003Z]

iex&gt; DateTime.from_naive!(~N[2018-05-24 13:26:08.003], "Europe/Copenhagen", FakeTimeZoneDatabase)
#DateTime&lt;2018-05-24 13:26:08.003+02:00 CEST Europe/Copenhagen&gt;</pre> </section> </section> <section class="detail">   <h3 class="detail-header" id="from_unix/3">from_unix(integer, unit \\ :second, calendar \\ Calendar.ISO)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/datetime.ex#L418" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec from_unix(integer(), :native | System.time_unit(), Calendar.calendar()) ::
  {:ok, t()} | {:error, atom()}</pre> </div> <p>Converts the given Unix time to <a href="datetime"><code class="inline">DateTime</code></a>.</p>
<p>The integer can be given in different unit according to <a href="system#convert_time_unit/3"><code class="inline">System.convert_time_unit/3</code></a> and it will be converted to microseconds internally. Up to 253402300799 seconds is supported.</p>
<p>Unix times are always in UTC and therefore the DateTime will be returned in UTC.</p>
<h4 id="from_unix/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; {:ok, datetime} = DateTime.from_unix(1_464_096_368)
iex&gt; datetime
~U[2016-05-24 13:26:08Z]

iex&gt; {:ok, datetime} = DateTime.from_unix(1_432_560_368_868_569, :microsecond)
iex&gt; datetime
~U[2015-05-25 13:26:08.868569Z]

iex&gt; {:ok, datetime} = DateTime.from_unix(253_402_300_799)
iex&gt; datetime
~U[9999-12-31 23:59:59Z]

iex&gt; {:error, :invalid_unix_time} = DateTime.from_unix(253_402_300_800)</pre>
<p>The unit can also be an integer as in <a href="system#t:time_unit/0"><code class="inline">System.time_unit/0</code></a>:</p>
<pre data-language="elixir">iex&gt; {:ok, datetime} = DateTime.from_unix(143_256_036_886_856, 1024)
iex&gt; datetime
~U[6403-03-17 07:05:22.320312Z]</pre>
<p>Negative Unix times are supported up to -377705116800 seconds:</p>
<pre data-language="elixir">iex&gt; {:ok, datetime} = DateTime.from_unix(-377_705_116_800)
iex&gt; datetime
~U[-9999-01-01 00:00:00Z]

iex&gt; {:error, :invalid_unix_time} = DateTime.from_unix(-377_705_116_801)</pre> </section> </section> <section class="detail">   <h3 class="detail-header" id="from_unix!/3">from_unix!(integer, unit \\ :second, calendar \\ Calendar.ISO)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/datetime.ex#L469" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec from_unix!(integer(), :native | System.time_unit(), Calendar.calendar()) :: t()</pre> </div> <p>Converts the given Unix time to <a href="datetime"><code class="inline">DateTime</code></a>.</p>
<p>The integer can be given in different unit according to <a href="system#convert_time_unit/3"><code class="inline">System.convert_time_unit/3</code></a> and it will be converted to microseconds internally.</p>
<p>Unix times are always in UTC and therefore the DateTime will be returned in UTC.</p>
<h4 id="from_unix!/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir"># An easy way to get the Unix epoch is passing 0 to this function
iex&gt; DateTime.from_unix!(0)
~U[1970-01-01 00:00:00Z]

iex&gt; DateTime.from_unix!(1_464_096_368)
~U[2016-05-24 13:26:08Z]

iex&gt; DateTime.from_unix!(1_432_560_368_868_569, :microsecond)
~U[2015-05-25 13:26:08.868569Z]

iex&gt; DateTime.from_unix!(143_256_036_886_856, 1024)
~U[6403-03-17 07:05:22.320312Z]</pre> </section> </section> <section class="detail">   <h3 class="detail-header" id="new/4">new(date, time, time_zone \\ "Etc/UTC", time_zone_database \\ Calendar.get_time_zone_database())<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/datetime.ex#L273" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec new(Date.t(), Time.t(), Calendar.time_zone(), Calendar.time_zone_database()) ::
  {:ok, t()}
  | {:ambiguous, first_datetime :: t(), second_datetime :: t()}
  | {:gap, t(), t()}
  | {:error,
     :incompatible_calendars
     | :time_zone_not_found
     | :utc_only_time_zone_database}</pre> </div> <p>Builds a datetime from date and time structs.</p>
<p>It expects a time zone to put the <a href="datetime"><code class="inline">DateTime</code></a> in. If the time zone is not passed it will default to <code class="inline">"Etc/UTC"</code>, which always succeeds. Otherwise, the <a href="datetime"><code class="inline">DateTime</code></a> is checked against the time zone database given as <code class="inline">time_zone_database</code>. See the "Time zone database" section in the module documentation.</p>
<h4 id="new/4-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; DateTime.new(~D[2016-05-24], ~T[13:26:08.003], "Etc/UTC")
{:ok, ~U[2016-05-24 13:26:08.003Z]}</pre>
<p>When the datetime is ambiguous - for instance during changing from summer to winter time - the two possible valid datetimes are returned in a tuple. The first datetime is also the one which comes first chronologically, while the second one comes last.</p>
<pre data-language="elixir">iex&gt; {:ambiguous, first_dt, second_dt} = DateTime.new(~D[2018-10-28], ~T[02:30:00], "Europe/Copenhagen", FakeTimeZoneDatabase)
iex&gt; first_dt
#DateTime&lt;2018-10-28 02:30:00+02:00 CEST Europe/Copenhagen&gt;
iex&gt; second_dt
#DateTime&lt;2018-10-28 02:30:00+01:00 CET Europe/Copenhagen&gt;</pre>
<p>When there is a gap in wall time - for instance in spring when the clocks are turned forward - the latest valid datetime just before the gap and the first valid datetime just after the gap.</p>
<pre data-language="elixir">iex&gt; {:gap, just_before, just_after} = DateTime.new(~D[2019-03-31], ~T[02:30:00], "Europe/Copenhagen", FakeTimeZoneDatabase)
iex&gt; just_before
#DateTime&lt;2019-03-31 01:59:59.999999+01:00 CET Europe/Copenhagen&gt;
iex&gt; just_after
#DateTime&lt;2019-03-31 03:00:00+02:00 CEST Europe/Copenhagen&gt;</pre>
<p>Most of the time there is one, and just one, valid datetime for a certain date and time in a certain time zone.</p>
<pre data-language="elixir">iex&gt; {:ok, datetime} = DateTime.new(~D[2018-07-28], ~T[12:30:00], "Europe/Copenhagen", FakeTimeZoneDatabase)
iex&gt; datetime
#DateTime&lt;2018-07-28 12:30:00+02:00 CEST Europe/Copenhagen&gt;</pre> </section> </section> <section class="detail">   <h3 class="detail-header" id="new!/4">new!(date, time, time_zone \\ "Etc/UTC", time_zone_database \\ Calendar.get_time_zone_database())<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/datetime.ex#L344" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec new!(Date.t(), Time.t(), Calendar.time_zone(), Calendar.time_zone_database()) ::
  t()</pre> </div> <p>Builds a datetime from date and time structs, raising on errors.</p>
<p>It expects a time zone to put the <a href="datetime"><code class="inline">DateTime</code></a> in. If the time zone is not passed it will default to <code class="inline">"Etc/UTC"</code>, which always succeeds. Otherwise, the DateTime is checked against the time zone database given as <code class="inline">time_zone_database</code>. See the "Time zone database" section in the module documentation.</p>
<h4 id="new!/4-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; DateTime.new!(~D[2016-05-24], ~T[13:26:08.003], "Etc/UTC")
~U[2016-05-24 13:26:08.003Z]</pre>
<p>When the datetime is ambiguous - for instance during changing from summer to winter time - an error will be raised.</p>
<pre data-language="elixir">iex&gt; DateTime.new!(~D[2018-10-28], ~T[02:30:00], "Europe/Copenhagen", FakeTimeZoneDatabase)
** (ArgumentError) cannot build datetime with ~D[2018-10-28] and ~T[02:30:00] because such instant is ambiguous in time zone Europe/Copenhagen as there is an overlap between #DateTime&lt;2018-10-28 02:30:00+02:00 CEST Europe/Copenhagen&gt; and #DateTime&lt;2018-10-28 02:30:00+01:00 CET Europe/Copenhagen&gt;</pre>
<p>When there is a gap in wall time - for instance in spring when the clocks are turned forward - an error will be raised.</p>
<pre data-language="elixir">iex&gt; DateTime.new!(~D[2019-03-31], ~T[02:30:00], "Europe/Copenhagen", FakeTimeZoneDatabase)
** (ArgumentError) cannot build datetime with ~D[2019-03-31] and ~T[02:30:00] because such instant does not exist in time zone Europe/Copenhagen as there is a gap between #DateTime&lt;2019-03-31 01:59:59.999999+01:00 CET Europe/Copenhagen&gt; and #DateTime&lt;2019-03-31 03:00:00+02:00 CEST Europe/Copenhagen&gt;</pre>
<p>Most of the time there is one, and just one, valid datetime for a certain date and time in a certain time zone.</p>
<pre data-language="elixir">iex&gt; datetime = DateTime.new!(~D[2018-07-28], ~T[12:30:00], "Europe/Copenhagen", FakeTimeZoneDatabase)
iex&gt; datetime
#DateTime&lt;2018-07-28 12:30:00+02:00 CEST Europe/Copenhagen&gt;</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="now/2">now(time_zone, time_zone_database \\ Calendar.get_time_zone_database())<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/datetime.ex#L831" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec now(Calendar.time_zone(), Calendar.time_zone_database()) ::
  {:ok, t()} | {:error, :time_zone_not_found | :utc_only_time_zone_database}</pre> </div> <p>Returns the current datetime in the provided time zone.</p>
<p>By default, it uses the default time_zone returned by <a href="calendar#get_time_zone_database/0"><code class="inline">Calendar.get_time_zone_database/0</code></a>, which defaults to <a href="calendar.utconlytimezonedatabase"><code class="inline">Calendar.UTCOnlyTimeZoneDatabase</code></a> which only handles "Etc/UTC" datetimes. Other time zone databases can be passed as argument or set globally. See the "Time zone database" section in the module docs.</p>
<h4 id="now/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; {:ok, datetime} = DateTime.now("Etc/UTC")
iex&gt; datetime.time_zone
"Etc/UTC"

iex&gt; DateTime.now("Europe/Copenhagen")
{:error, :utc_only_time_zone_database}

iex&gt; DateTime.now("bad timezone", FakeTimeZoneDatabase)
{:error, :time_zone_not_found}</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="now!/2">now!(time_zone, time_zone_database \\ Calendar.get_time_zone_database())<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/datetime.ex#L861" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec now!(Calendar.time_zone(), Calendar.time_zone_database()) :: t()</pre> </div> <p>Returns the current datetime in the provided time zone or raises on errors</p>
<p>See <a href="#now/2"><code class="inline">now/2</code></a> for more information.</p>
<h4 id="now!/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; datetime = DateTime.now!("Etc/UTC")
iex&gt; datetime.time_zone
"Etc/UTC"

iex&gt; DateTime.now!("Europe/Copenhagen")
** (ArgumentError) cannot get current datetime in "Europe/Copenhagen" time zone, reason: :utc_only_time_zone_database

iex&gt; DateTime.now!("bad timezone", FakeTimeZoneDatabase)
** (ArgumentError) cannot get current datetime in "bad timezone" time zone, reason: :time_zone_not_found</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="shift/3">shift(datetime, duration, time_zone_database \\ Calendar.get_time_zone_database())<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/datetime.ex#L1741" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec shift(Calendar.datetime(), Duration.duration(), Calendar.time_zone_database()) ::
  t()</pre> </div> <p>Shifts given <code class="inline">datetime</code> by <code class="inline">duration</code> according to its calendar.</p>
<p>Allowed units are: <code class="inline">:year</code>, <code class="inline">:month</code>, <code class="inline">:week</code>, <code class="inline">:day</code>, <code class="inline">:hour</code>, <code class="inline">:minute</code>, <code class="inline">:second</code>, <code class="inline">:microsecond</code>.</p>
<p>This operation is equivalent to shifting the datetime wall clock (in other words, the value as someone in that timezone would see on their watch), then applying the time zone offset to convert it to UTC, and finally computing the new timezone in case of shifts. This ensures <a href="#shift/3"><code class="inline">shift/3</code></a> always returns a valid datetime.</p>
<p>On the other hand, time zones that observe "Daylight Saving Time" or other changes, across summer/winter time will add/remove hours from the resulting datetime:</p>
<pre data-language="elixir">dt = DateTime.new!(~D[2019-03-31], ~T[01:00:00], "Europe/Copenhagen")
DateTime.shift(dt, hour: 1)
#=&gt; #DateTime&lt;2019-03-31 03:00:00+02:00 CEST Europe/Copenhagen&gt;

dt = DateTime.new!(~D[2018-11-04], ~T[00:00:00], "America/Los_Angeles")
DateTime.shift(dt, hour: 2)
#=&gt; #DateTime&lt;2018-11-04 01:00:00-08:00 PST America/Los_Angeles&gt;</pre>
<p>In case you don't want these changes to happen automatically or you want to surface time zone conflicts to the user, you can shift the datetime as a naive datetime and then use <a href="#from_naive/2"><code class="inline">from_naive/2</code></a>:</p>
<pre data-language="elixir">dt |&gt; NaiveDateTime.shift(duration) |&gt; DateTime.from_naive(dt.time_zone)</pre>
<p>When using the default ISO calendar, durations are collapsed and applied in the order of months, then seconds and microseconds:</p>
<ul>
<li>when shifting by 1 year and 2 months the date is actually shifted by 14 months</li>
<li>weeks, days and smaller units are collapsed into seconds and microseconds</li>
</ul>
<p>When shifting by month, days are rounded down to the nearest valid date.</p>
<h4 id="shift/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; DateTime.shift(~U[2016-01-01 00:00:00Z], month: 2)
~U[2016-03-01 00:00:00Z]
iex&gt; DateTime.shift(~U[2016-01-01 00:00:00Z], year: 1, week: 4)
~U[2017-01-29 00:00:00Z]
iex&gt; DateTime.shift(~U[2016-01-01 00:00:00Z], minute: -25)
~U[2015-12-31 23:35:00Z]
iex&gt; DateTime.shift(~U[2016-01-01 00:00:00Z], minute: 5, microsecond: {500, 4})
~U[2016-01-01 00:05:00.0005Z]

# leap years
iex&gt; DateTime.shift(~U[2024-02-29 00:00:00Z], year: 1)
~U[2025-02-28 00:00:00Z]
iex&gt; DateTime.shift(~U[2024-02-29 00:00:00Z], year: 4)
~U[2028-02-29 00:00:00Z]

# rounding down
iex&gt; DateTime.shift(~U[2015-01-31 00:00:00Z], month: 1)
~U[2015-02-28 00:00:00Z]</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="shift_zone/3">shift_zone(datetime, time_zone, time_zone_database \\ Calendar.get_time_zone_database())<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/datetime.ex#L728" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec shift_zone(t(), Calendar.time_zone(), Calendar.time_zone_database()) ::
  {:ok, t()} | {:error, :time_zone_not_found | :utc_only_time_zone_database}</pre> </div> <p>Changes the time zone of a <a href="datetime"><code class="inline">DateTime</code></a>.</p>
<p>Returns a <a href="datetime"><code class="inline">DateTime</code></a> for the same point in time, but instead at the time zone provided. It assumes that <a href="datetime"><code class="inline">DateTime</code></a> is valid and exists in the given time zone and calendar.</p>
<p>By default, it uses the default time zone database returned by <a href="calendar#get_time_zone_database/0"><code class="inline">Calendar.get_time_zone_database/0</code></a>, which defaults to <a href="calendar.utconlytimezonedatabase"><code class="inline">Calendar.UTCOnlyTimeZoneDatabase</code></a> which only handles "Etc/UTC" datetimes. Other time zone databases can be passed as argument or set globally. See the "Time zone database" section in the module docs.</p>
<h4 id="shift_zone/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; {:ok, pacific_datetime} = DateTime.shift_zone(~U[2018-07-16 10:00:00Z], "America/Los_Angeles", FakeTimeZoneDatabase)
iex&gt; pacific_datetime
#DateTime&lt;2018-07-16 03:00:00-07:00 PDT America/Los_Angeles&gt;

iex&gt; DateTime.shift_zone(~U[2018-07-16 10:00:00Z], "bad timezone", FakeTimeZoneDatabase)
{:error, :time_zone_not_found}</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="shift_zone!/3">shift_zone!(datetime, time_zone, time_zone_database \\ Calendar.get_time_zone_database())<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/datetime.ex#L794" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec shift_zone!(t(), Calendar.time_zone(), Calendar.time_zone_database()) :: t()</pre> </div> <p>Changes the time zone of a <a href="datetime"><code class="inline">DateTime</code></a> or raises on errors.</p>
<p>See <a href="#shift_zone/3"><code class="inline">shift_zone/3</code></a> for more information.</p>
<h4 id="shift_zone!/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; DateTime.shift_zone!(~U[2018-07-16 10:00:00Z], "America/Los_Angeles", FakeTimeZoneDatabase)
#DateTime&lt;2018-07-16 03:00:00-07:00 PDT America/Los_Angeles&gt;

iex&gt; DateTime.shift_zone!(~U[2018-07-16 10:00:00Z], "bad timezone", FakeTimeZoneDatabase)
** (ArgumentError) cannot shift ~U[2018-07-16 10:00:00Z] to "bad timezone" time zone, reason: :time_zone_not_found</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="to_date/1">to_date(datetime)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/datetime.ex#L967" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec to_date(Calendar.datetime()) :: Date.t()</pre> </div> <p>Converts a <a href="datetime"><code class="inline">DateTime</code></a> into a <a href="date"><code class="inline">Date</code></a>.</p>
<p>Because <a href="date"><code class="inline">Date</code></a> does not hold time nor time zone information, data will be lost during the conversion.</p>
<h4 id="to_date/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; dt = %DateTime{year: 2000, month: 2, day: 29, zone_abbr: "CET",
...&gt;                hour: 23, minute: 0, second: 7, microsecond: {0, 0},
...&gt;                utc_offset: 3600, std_offset: 0, time_zone: "Europe/Warsaw"}
iex&gt; DateTime.to_date(dt)
~D[2000-02-29]</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="to_gregorian_seconds/1">to_gregorian_seconds(datetime)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/datetime.ex#L1325" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec to_gregorian_seconds(Calendar.datetime()) :: {integer(), non_neg_integer()}</pre> </div> <p>Converts a <a href="datetime"><code class="inline">DateTime</code></a> struct to a number of gregorian seconds and microseconds.</p>
<h4 id="to_gregorian_seconds/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; dt = %DateTime{year: 0000, month: 1, day: 1, zone_abbr: "UTC",
...&gt;                hour: 0, minute: 0, second: 1, microsecond: {0, 0},
...&gt;                utc_offset: 0, std_offset: 0, time_zone: "Etc/UTC"}
iex&gt; DateTime.to_gregorian_seconds(dt)
{1, 0}

iex&gt; dt = %DateTime{year: 2020, month: 5, day: 1, zone_abbr: "UTC",
...&gt;                hour: 0, minute: 26, second: 31, microsecond: {5000, 0},
...&gt;                utc_offset: 0, std_offset: 0, time_zone: "Etc/UTC"}
iex&gt; DateTime.to_gregorian_seconds(dt)
{63_755_511_991, 5000}

iex&gt; dt = %DateTime{year: 2020, month: 5, day: 1, zone_abbr: "CET",
...&gt;                hour: 1, minute: 26, second: 31, microsecond: {5000, 0},
...&gt;                utc_offset: 3600, std_offset: 0, time_zone: "Europe/Warsaw"}
iex&gt; DateTime.to_gregorian_seconds(dt)
{63_755_511_991, 5000}</pre> </section> </section> <section class="detail">   <h3 class="detail-header" id="to_iso8601/3">to_iso8601(datetime, format \\ :extended, offset \\ nil)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/datetime.ex#L1084" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec to_iso8601(Calendar.datetime(), :basic | :extended, nil | integer()) ::
  String.t()</pre> </div> <p>Converts the given datetime to <a href="https://en.wikipedia.org/wiki/ISO_8601">ISO 8601:2019</a> format.</p>
<p>By default, <a href="#to_iso8601/2"><code class="inline">DateTime.to_iso8601/2</code></a> returns datetimes formatted in the "extended" format, for human readability. It also supports the "basic" format through passing the <code class="inline">:basic</code> option.</p>
<p>Only supports converting datetimes which are in the ISO calendar, attempting to convert datetimes from other calendars will raise. You can also optionally specify an offset for the formatted string.</p>
<p>WARNING: the ISO 8601 datetime format does not contain the time zone nor its abbreviation, which means information is lost when converting to such format.</p>
<h3 id="to_iso8601/3-examples" class="section-heading">  <span class="text">Examples</span> </h3> <pre data-language="elixir">iex&gt; dt = %DateTime{year: 2000, month: 2, day: 29, zone_abbr: "CET",
...&gt;                hour: 23, minute: 0, second: 7, microsecond: {0, 0},
...&gt;                utc_offset: 3600, std_offset: 0, time_zone: "Europe/Warsaw"}
iex&gt; DateTime.to_iso8601(dt)
"2000-02-29T23:00:07+01:00"

iex&gt; dt = %DateTime{year: 2000, month: 2, day: 29, zone_abbr: "UTC",
...&gt;                hour: 23, minute: 0, second: 7, microsecond: {0, 0},
...&gt;                utc_offset: 0, std_offset: 0, time_zone: "Etc/UTC"}
iex&gt; DateTime.to_iso8601(dt)
"2000-02-29T23:00:07Z"

iex&gt; dt = %DateTime{year: 2000, month: 2, day: 29, zone_abbr: "AMT",
...&gt;                hour: 23, minute: 0, second: 7, microsecond: {0, 0},
...&gt;                utc_offset: -14400, std_offset: 0, time_zone: "America/Manaus"}
iex&gt; DateTime.to_iso8601(dt, :extended)
"2000-02-29T23:00:07-04:00"

iex&gt; dt = %DateTime{year: 2000, month: 2, day: 29, zone_abbr: "AMT",
...&gt;                hour: 23, minute: 0, second: 7, microsecond: {0, 0},
...&gt;                utc_offset: -14400, std_offset: 0, time_zone: "America/Manaus"}
iex&gt; DateTime.to_iso8601(dt, :basic)
"20000229T230007-0400"

iex&gt; dt = %DateTime{year: 2000, month: 2, day: 29, zone_abbr: "AMT",
...&gt;                hour: 23, minute: 0, second: 7, microsecond: {0, 0},
...&gt;                utc_offset: -14400, std_offset: 0, time_zone: "America/Manaus"}
iex&gt; DateTime.to_iso8601(dt, :extended, 3600)
"2000-03-01T04:00:07+01:00"

iex&gt; dt = %DateTime{year: 2000, month: 2, day: 29, zone_abbr: "AMT",
...&gt;                hour: 23, minute: 0, second: 7, microsecond: {0, 0},
...&gt;                utc_offset: -14400, std_offset: 0, time_zone: "America/Manaus"}
iex&gt; DateTime.to_iso8601(dt, :extended, 0)
"2000-03-01T03:00:07+00:00"

iex&gt; dt = %DateTime{year: 2000, month: 3, day: 01, zone_abbr: "UTC",
...&gt;                hour: 03, minute: 0, second: 7, microsecond: {0, 0},
...&gt;                utc_offset: 0, std_offset: 0, time_zone: "Etc/UTC"}
iex&gt; DateTime.to_iso8601(dt, :extended, 0)
"2000-03-01T03:00:07Z"

iex&gt; {:ok, dt, offset} = DateTime.from_iso8601("2000-03-01T03:00:07Z")
iex&gt; "2000-03-01T03:00:07Z" = DateTime.to_iso8601(dt, :extended, offset)</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="to_naive/1">to_naive(datetime)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/datetime.ex#L926" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec to_naive(Calendar.datetime()) :: NaiveDateTime.t()</pre> </div> <p>Converts the given <code class="inline">datetime</code> into a <a href="naivedatetime"><code class="inline">NaiveDateTime</code></a>.</p>
<p>Because <a href="naivedatetime"><code class="inline">NaiveDateTime</code></a> does not hold time zone information, any time zone related data will be lost during the conversion.</p>
<h4 id="to_naive/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; dt = %DateTime{year: 2000, month: 2, day: 29, zone_abbr: "CET",
...&gt;                hour: 23, minute: 0, second: 7, microsecond: {0, 1},
...&gt;                utc_offset: 3600, std_offset: 0, time_zone: "Europe/Warsaw"}
iex&gt; DateTime.to_naive(dt)
~N[2000-02-29 23:00:07.0]</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="to_string/1">to_string(datetime)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/datetime.ex#L1372" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec to_string(Calendar.datetime()) :: String.t()</pre> </div> <p>Converts the given <code class="inline">datetime</code> to a string according to its calendar.</p>
<h3 id="to_string/1-examples" class="section-heading">  <span class="text">Examples</span> </h3> <pre data-language="elixir">iex&gt; dt = %DateTime{year: 2000, month: 2, day: 29, zone_abbr: "CET",
...&gt;                hour: 23, minute: 0, second: 7, microsecond: {0, 0},
...&gt;                utc_offset: 3600, std_offset: 0, time_zone: "Europe/Warsaw"}
iex&gt; DateTime.to_string(dt)
"2000-02-29 23:00:07+01:00 CET Europe/Warsaw"

iex&gt; dt = %DateTime{year: 2000, month: 2, day: 29, zone_abbr: "UTC",
...&gt;                hour: 23, minute: 0, second: 7, microsecond: {0, 0},
...&gt;                utc_offset: 0, std_offset: 0, time_zone: "Etc/UTC"}
iex&gt; DateTime.to_string(dt)
"2000-02-29 23:00:07Z"

iex&gt; dt = %DateTime{year: 2000, month: 2, day: 29, zone_abbr: "AMT",
...&gt;                hour: 23, minute: 0, second: 7, microsecond: {0, 0},
...&gt;                utc_offset: -14400, std_offset: 0, time_zone: "America/Manaus"}
iex&gt; DateTime.to_string(dt)
"2000-02-29 23:00:07-04:00 AMT America/Manaus"

iex&gt; dt = %DateTime{year: -100, month: 12, day: 19, zone_abbr: "CET",
...&gt;                hour: 3, minute: 20, second: 31, microsecond: {0, 0},
...&gt;                utc_offset: 3600, std_offset: 0, time_zone: "Europe/Stockholm"}
iex&gt; DateTime.to_string(dt)
"-0100-12-19 03:20:31+01:00 CET Europe/Stockholm"</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="to_time/1">to_time(datetime)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/datetime.ex#L999" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec to_time(Calendar.datetime()) :: Time.t()</pre> </div> <p>Converts a <a href="datetime"><code class="inline">DateTime</code></a> into <a href="time"><code class="inline">Time</code></a>.</p>
<p>Because <a href="time"><code class="inline">Time</code></a> does not hold date nor time zone information, data will be lost during the conversion.</p>
<h4 id="to_time/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; dt = %DateTime{year: 2000, month: 2, day: 29, zone_abbr: "CET",
...&gt;                hour: 23, minute: 0, second: 7, microsecond: {0, 1},
...&gt;                utc_offset: 3600, std_offset: 0, time_zone: "Europe/Warsaw"}
iex&gt; DateTime.to_time(dt)
~T[23:00:07.0]</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="to_unix/2">to_unix(datetime, unit \\ :second)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/datetime.ex#L901" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec to_unix(Calendar.datetime(), :native | System.time_unit()) :: integer()</pre> </div> <p>Converts the given <code class="inline">datetime</code> to Unix time.</p>
<p>The <code class="inline">datetime</code> is expected to be using the ISO calendar with a year greater than or equal to 0.</p>
<p>It will return the integer with the given unit, according to <a href="system#convert_time_unit/3"><code class="inline">System.convert_time_unit/3</code></a>.</p>
<h4 id="to_unix/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; 1_464_096_368 |&gt; DateTime.from_unix!() |&gt; DateTime.to_unix()
1464096368

iex&gt; dt = %DateTime{calendar: Calendar.ISO, day: 20, hour: 18, microsecond: {273806, 6},
...&gt;                minute: 58, month: 11, second: 19, time_zone: "America/Montevideo",
...&gt;                utc_offset: -10800, std_offset: 3600, year: 2014, zone_abbr: "UYST"}
iex&gt; DateTime.to_unix(dt)
1416517099

iex&gt; flamel = %DateTime{calendar: Calendar.ISO, day: 22, hour: 8, microsecond: {527771, 6},
...&gt;                minute: 2, month: 3, second: 25, std_offset: 0, time_zone: "Etc/UTC",
...&gt;                utc_offset: 0, year: 1418, zone_abbr: "UTC"}
iex&gt; DateTime.to_unix(flamel)
-17412508655</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="truncate/2">truncate(datetime, precision)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/datetime.ex#L1856" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec truncate(Calendar.datetime(), :microsecond | :millisecond | :second) :: t()</pre> </div> <p>Returns the given datetime with the microsecond field truncated to the given precision (<code class="inline">:microsecond</code>, <code class="inline">:millisecond</code> or <code class="inline">:second</code>).</p>
<p>The given datetime is returned unchanged if it already has lower precision than the given precision.</p>
<h4 id="truncate/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; dt1 = %DateTime{year: 2017, month: 11, day: 7, zone_abbr: "CET",
...&gt;                 hour: 11, minute: 45, second: 18, microsecond: {123456, 6},
...&gt;                 utc_offset: 3600, std_offset: 0, time_zone: "Europe/Paris"}
iex&gt; DateTime.truncate(dt1, :microsecond)
#DateTime&lt;2017-11-07 11:45:18.123456+01:00 CET Europe/Paris&gt;

iex&gt; dt2 = %DateTime{year: 2017, month: 11, day: 7, zone_abbr: "CET",
...&gt;                 hour: 11, minute: 45, second: 18, microsecond: {123456, 6},
...&gt;                 utc_offset: 3600, std_offset: 0, time_zone: "Europe/Paris"}
iex&gt; DateTime.truncate(dt2, :millisecond)
#DateTime&lt;2017-11-07 11:45:18.123+01:00 CET Europe/Paris&gt;

iex&gt; dt3 = %DateTime{year: 2017, month: 11, day: 7, zone_abbr: "CET",
...&gt;                 hour: 11, minute: 45, second: 18, microsecond: {123456, 6},
...&gt;                 utc_offset: 3600, std_offset: 0, time_zone: "Europe/Paris"}
iex&gt; DateTime.truncate(dt3, :second)
#DateTime&lt;2017-11-07 11:45:18+01:00 CET Europe/Paris&gt;</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="utc_now/1">utc_now(calendar_or_time_unit \\ Calendar.ISO)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/datetime.ex#L188" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec utc_now(Calendar.calendar() | :native | :microsecond | :millisecond | :second) ::
  t()</pre> </div> <p>Returns the current datetime in UTC.</p>
<p>If you want the current time in Unix seconds, use <a href="system#os_time/1"><code class="inline">System.os_time/1</code></a> instead.</p>
<p>You can also pass a time unit to automatically truncate the resulting datetime. This is available since v1.15.0.</p>
<p>The default unit if none gets passed is <code class="inline">:native</code>, which results on a default resolution of microseconds.</p>
<h4 id="utc_now/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; datetime = DateTime.utc_now()
iex&gt; datetime.time_zone
"Etc/UTC"

iex&gt; datetime = DateTime.utc_now(:second)
iex&gt; datetime.microsecond
{0, 0}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="utc_now/2">utc_now(time_unit, calendar)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/datetime.ex#L218" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec utc_now(:native | :microsecond | :millisecond | :second, Calendar.calendar()) ::
  t()</pre> </div> <p>Returns the current datetime in UTC, supporting a specific calendar and precision.</p>
<p>If you want the current time in Unix seconds, use <a href="system#os_time/1"><code class="inline">System.os_time/1</code></a> instead.</p>
<h4 id="utc_now/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; datetime = DateTime.utc_now(:microsecond, Calendar.ISO)
iex&gt; datetime.time_zone
"Etc/UTC"

iex&gt; datetime = DateTime.utc_now(:second, Calendar.ISO)
iex&gt; datetime.microsecond
{0, 0}</pre> </section> </section> </div> </section> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/DateTime.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/DateTime.html</a>
  </p>
</div>
