<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/pages/getting-started/debugging.md#L1" title="View Source" class="source" rel="help">Source</a> <span>Debugging</span> </h1> <p>There are a number of ways to debug code in Elixir. In this chapter we will cover some of the more common ways of doing so.</p>
<h2 id="io-inspect-2" class="section-heading">  <span class="text">IO.inspect/2</span> </h2> <p>What makes <code class="inline">IO.inspect(item, opts \\ [])</code> really useful in debugging is that it returns the <code class="inline">item</code> argument passed to it without affecting the behavior of the original code. Let's see an example.</p>
<pre data-language="elixir">(1..10)
|&gt; IO.inspect()
|&gt; Enum.map(fn x -&gt; x * 2 end)
|&gt; IO.inspect()
|&gt; Enum.sum()
|&gt; IO.inspect()</pre>
<p>Prints:</p>
<pre data-language="elixir">1..10
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
110</pre>
<p>As you can see <a href="io#inspect/2"><code class="inline">IO.inspect/2</code></a> makes it possible to "spy" on values almost anywhere in your code without altering the result, making it very helpful inside of a pipeline like in the above case.</p>
<p><a href="io#inspect/2"><code class="inline">IO.inspect/2</code></a> also provides the ability to decorate the output with a <code class="inline">label</code> option. The label will be printed before the inspected <code class="inline">item</code>:</p>
<pre data-language="elixir">[1, 2, 3]
|&gt; IO.inspect(label: "before")
|&gt; Enum.map(&amp;(&amp;1 * 2))
|&gt; IO.inspect(label: "after")
|&gt; Enum.sum</pre>
<p>Prints:</p>
<pre data-language="elixir">before: [1, 2, 3]
after: [2, 4, 6]</pre>
<p>It is also very common to use <a href="io#inspect/2"><code class="inline">IO.inspect/2</code></a> with <a href="kernel#binding/0"><code class="inline">binding/0</code></a>, which returns all variable names and their values:</p>
<pre data-language="elixir">def some_fun(a, b, c) do
  IO.inspect binding()
  ...
end</pre>
<p>When <code class="inline">some_fun/3</code> is invoked with <code class="inline">:foo</code>, <code class="inline">"bar"</code>, <code class="inline">:baz</code> it prints:</p>
<pre data-language="elixir">[a: :foo, b: "bar", c: :baz]</pre>
<p>See <a href="io#inspect/2"><code class="inline">IO.inspect/2</code></a> and <a href="inspect.opts"><code class="inline">Inspect.Opts</code></a> respectively to learn more about the function and read about all supported options.</p>
<h2 id="dbg-2" class="section-heading">  <span class="text">dbg/2</span> </h2> <p>Elixir v1.14 introduced <a href="kernel#dbg/2"><code class="inline">dbg/2</code></a>. <code class="inline">dbg</code> is similar to <a href="io#inspect/2"><code class="inline">IO.inspect/2</code></a> but specifically tailored for debugging. It prints the value passed to it and returns it (just like <a href="io#inspect/2"><code class="inline">IO.inspect/2</code></a>), but it also prints the code and location.</p>
<pre data-language="elixir"># In my_file.exs
feature = %{name: :dbg, inspiration: "Rust"}
dbg(feature)
dbg(Map.put(feature, :in_version, "1.14.0"))</pre>
<p>The code above prints this:</p>
<pre data-language="elixir">[my_file.exs:2: (file)]
feature #=&gt; %{inspiration: "Rust", name: :dbg}
[my_file.exs:3: (file)]
Map.put(feature, :in_version, "1.14.0") #=&gt; %{in_version: "1.14.0", inspiration: "Rust", name: :dbg}
</pre>
<p>When talking about <a href="io#inspect/2"><code class="inline">IO.inspect/2</code></a>, we mentioned its usefulness when placed between steps of <code class="inline">|&gt;</code> pipelines. <code class="inline">dbg</code> does it better: it understands Elixir code, so it will print values at <em>every step of the pipeline</em>.</p>
<pre data-language="elixir"># In dbg_pipes.exs
__ENV__.file
|&gt; String.split("/", trim: true)
|&gt; List.last()
|&gt; File.exists?()
|&gt; dbg()</pre>
<p>This code prints:</p>
<pre data-language="elixir">[dbg_pipes.exs:5: (file)]
__ENV__.file #=&gt; "/home/myuser/dbg_pipes.exs"
|&gt; String.split("/", trim: true) #=&gt; ["home", "myuser", "dbg_pipes.exs"]
|&gt; List.last() #=&gt; "dbg_pipes.exs"
|&gt; File.exists?() #=&gt; true
</pre>
<p>While <code class="inline">dbg</code> provides conveniences around Elixir constructs, you will need <a href="https://hexdocs.pm/iex/IEx.html"><code class="inline">IEx</code></a> if you want to execute code and set breakpoints while debugging.</p>
<h2 id="pry" class="section-heading">  <span class="text">Pry</span> </h2> <p>When using <a href="https://hexdocs.pm/iex/IEx.html"><code class="inline">IEx</code></a>, you may pass <code class="inline">--dbg pry</code> as an option to "stop" the code execution where the <code class="inline">dbg</code> call is:</p>
<pre data-language="elixir">$ iex --dbg pry
</pre>
<p>Or to debug inside a of a project:</p>
<pre data-language="elixir">$ iex --dbg pry -S mix
</pre>
<p>Now any call to <code class="inline">dbg</code> will ask if you want to pry the existing code. If you accept, you'll be able to access all variables, as well as imports and aliases from the code, directly from IEx. This is called "prying". While the pry session is running, the code execution stops, until <code class="inline">continue</code> (or <code class="inline">c</code>) or <code class="inline">next</code> (or <code class="inline">n</code>) are called. Remember you can always run <code class="inline">iex</code> in the context of a project with <code class="inline">iex -S mix TASK</code>.</p>
<h2 id="breakpoints" class="section-heading">  <span class="text">Breakpoints</span> </h2> <p><code class="inline">dbg</code> calls require us to change the code we intend to debug and has limited stepping functionality. Luckily IEx also provides a <a href="https://hexdocs.pm/iex/IEx.html#break!/2"><code class="inline">IEx.break!/2</code></a> function which allows you to set and manage breakpoints on any Elixir code without modifying its source:</p>
<p>Similar to <code class="inline">dbg</code>, once a breakpoint is reached, code execution stops until <code class="inline">continue</code> (or <code class="inline">c</code>) or <code class="inline">next</code> (or <code class="inline">n</code>) are invoked. Breakpoints can navigate line-by-line by default, however, they do not have access to aliases and imports when breakpoints are set on compiled modules.</p>
<p>The <a href="https://hexdocs.pm/mix/Mix.Tasks.Test.html"><code class="inline">mix test</code></a> task direct integration with breakpoints via the <code class="inline">-b</code>/<code class="inline">--breakpoints</code> flag. When the flag is used, a breakpoint is set at the beginning of every test that will run:</p>
<p>Here are some commands you can use in practice:</p>
<pre data-language="elixir"># Debug all failed tests
$ iex -S mix test --breakpoints --failed
# Debug the test at the given file:line
$ iex -S mix test -b path/to/file:line
</pre>
<h2 id="observer" class="section-heading">  <span class="text">Observer</span> </h2> <p>For debugging complex systems, jumping at the code is not enough. It is necessary to have an understanding of the whole virtual machine, processes, applications, as well as set up tracing mechanisms. Luckily this can be achieved in Erlang with <code class="inline">:observer</code>. In your application:</p>
<pre data-language="elixir">$ iex
iex&gt; :observer.start()</pre>
<blockquote>
<h4 class="warning">Missing dependencies</h4>
<p>When running <code class="inline">iex</code> inside a project with <code class="inline">iex -S mix</code>, <code class="inline">observer</code> won't be available as a dependency. To do so, you will need to call the following functions before:</p>
<pre data-language="elixir">iex&gt; Mix.ensure_application!(:wx)             # Not necessary on Erlang/OTP 27+
iex&gt; Mix.ensure_application!(:runtime_tools)  # Not necessary on Erlang/OTP 27+
iex&gt; Mix.ensure_application!(:observer)
iex&gt; :observer.start()</pre>
<p>If any of the calls above fail, here is what may have happened: some package managers default to installing a minimized Erlang without WX bindings for GUI support. In some package managers, you may be able to replace the headless Erlang with a more complete package (look for packages named <code class="inline">erlang</code> vs <code class="inline">erlang-nox</code> on Debian/Ubuntu/Arch). In others managers, you may need to install a separate <code class="inline">erlang-wx</code> (or similarly named) package.</p>
</blockquote>
<p>The above will open another Graphical User Interface that provides many panes to fully understand and navigate the runtime and your project.</p>
<p>We explore the Observer in the context of an actual project <a href="dynamic-supervisor">in the Dynamic Supervisor chapter of the Mix &amp; OTP guide</a>. This is one of the debugging techniques <a href="https://phoenixframework.org/blog/the-road-to-2-million-websocket-connections">the Phoenix framework used to achieve 2 million connections on a single machine</a>.</p>
<p>If you are using the Phoenix web framework, it ships with the <a href="https://github.com/phoenixframework/phoenix_live_dashboard">Phoenix LiveDashboard</a>, a web dashboard for production nodes which provides similar features to Observer.</p>
<p>Finally, remember you can also get a mini-overview of the runtime info by calling <code class="inline">runtime_info/0</code> directly in IEx.</p>
<h2 id="other-tools-and-community" class="section-heading">  <span class="text">Other tools and community</span> </h2> <p>We have just scratched the surface of what the Erlang VM has to offer, for example:</p>
<ul>
<li><p>Alongside the observer application, Erlang also includes a <a href="https://www.erlang.org/doc/man/crashdump_viewer.html"><code class="inline">:crashdump_viewer</code></a> to view crash dumps</p></li>
<li><p>Integration with OS level tracers, such as <a href="https://www.erlang.org/doc/apps/runtime_tools/lttng">Linux Trace Toolkit,</a> <a href="https://www.erlang.org/doc/apps/runtime_tools/dtrace">DTRACE,</a> and <a href="https://www.erlang.org/doc/apps/runtime_tools/systemtap">SystemTap</a></p></li>
<li><p><a href="http://www.erlang.org/doc/man/msacc.html">Microstate accounting</a> measures how much time the runtime spends in several low-level tasks in a short time interval</p></li>
<li><p>Mix ships with many tasks under the <code class="inline">profile</code> namespace, such as <a href="https://hexdocs.pm/mix/Mix.Tasks.Profile.Cprof.html"><code class="inline">mix profile.cprof</code></a> and <a href="https://hexdocs.pm/mix/Mix.Tasks.Profile.Fprof.html"><code class="inline">mix profile.fprof</code></a></p></li>
<li><p>For more advanced use cases, we recommend the excellent <a href="https://www.erlang-in-anger.com/">Erlang in Anger</a>, which is available as a free ebook</p></li>
</ul>
<p>Happy debugging!</p> </div> <div class="bottom-actions" id="bottom-actions"> <div class="bottom-actions-item"> <a href="erlang-libraries" class="bottom-actions-button" rel="prev"> <span class="subheader"> ← Previous Page </span> <span class="title"> Erlang libraries </span> </a> </div> <div class="bottom-actions-item"> <a href="enum-cheat" class="bottom-actions-button" rel="next"> <span class="subheader"> Next Page → </span> <span class="title"> Enum cheatsheet </span> </a> </div> </div> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/debugging.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/debugging.html</a>
  </p>
</div>
