<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/pages/anti-patterns/design-anti-patterns.md#L1" title="View Source" class="source" rel="help">Source</a> <span>Design-related anti-patterns</span> </h1> <p>This document outlines potential anti-patterns related to your modules, functions, and the role they play within a codebase.</p>
<h2 id="alternative-return-types" class="section-heading">  <span class="text">Alternative return types</span> </h2> <h4>Problem</h4>
<p>This anti-pattern refers to functions that receive options (typically as a <em>keyword list</em> parameter) that drastically change their return type. Because options are optional and sometimes set dynamically, if they also change the return type, it may be hard to understand what the function actually returns.</p>
<h4>Example</h4>
<p>An example of this anti-pattern, as shown below, is when a function has many alternative return types, depending on the options received as a parameter.</p>
<pre data-language="elixir">defmodule AlternativeInteger do
  @spec parse(String.t(), keyword()) :: integer() | {integer(), String.t()} | :error
  def parse(string, options \\ []) when is_list(options) do
    if Keyword.get(options, :discard_rest, false) do
      case Integer.parse(string) do
        {int, _rest} -&gt; int
        :error -&gt; :error
      end
    else
      Integer.parse(string)
    end
  end
end</pre>
<pre data-language="elixir">iex&gt; AlternativeInteger.parse("13")
{13, ""}
iex&gt; AlternativeInteger.parse("13", discard_rest: false)
{13, ""}
iex&gt; AlternativeInteger.parse("13", discard_rest: true)
13</pre>
<h4>Refactoring</h4>
<p>To refactor this anti-pattern, as shown next, add a specific function for each return type (for example, <code class="inline">parse_discard_rest/1</code>), no longer delegating this to options passed as arguments.</p>
<pre data-language="elixir">defmodule AlternativeInteger do
  @spec parse(String.t()) :: {integer(), String.t()} | :error
  def parse(string) do
    Integer.parse(string)
  end

  @spec parse_discard_rest(String.t()) :: integer() | :error
  def parse_discard_rest(string) do
    case Integer.parse(string) do
      {int, _rest} -&gt; int
      :error -&gt; :error
    end
  end
end</pre>
<pre data-language="elixir">iex&gt; AlternativeInteger.parse("13")
{13, ""}
iex&gt; AlternativeInteger.parse_discard_rest("13")
13</pre>
<h2 id="boolean-obsession" class="section-heading">  <span class="text">Boolean obsession</span> </h2> <h4>Problem</h4>
<p>This anti-pattern happens when booleans are used instead of atoms to encode information. The usage of booleans themselves is not an anti-pattern, but whenever multiple booleans are used with overlapping states, replacing the booleans by atoms (or composite data types such as <em>tuples</em>) may lead to clearer code.</p>
<p>This is a special case of <a href="#primitive-obsession"><em>Primitive obsession</em></a>, specific to boolean values.</p>
<h4>Example</h4>
<p>An example of this anti-pattern is a function that receives two or more options, such as <code class="inline">editor: true</code> and <code class="inline">admin: true</code>, to configure its behavior in overlapping ways. In the code below, the <code class="inline">:editor</code> option has no effect if <code class="inline">:admin</code> is set, meaning that the <code class="inline">:admin</code> option has higher priority than <code class="inline">:editor</code>, and they are ultimately related.</p>
<pre data-language="elixir">defmodule MyApp do
  def process(invoice, options \\ []) do
    cond do
      options[:admin] -&gt;  # Is an admin
      options[:editor] -&gt; # Is an editor
      true -&gt;          # Is none
    end
  end
end</pre>
<h4>Refactoring</h4>
<p>Instead of using multiple options, the code above could be refactored to receive a single option, called <code class="inline">:role</code>, that can be either <code class="inline">:admin</code>, <code class="inline">:editor</code>, or <code class="inline">:default</code>:</p>
<pre data-language="elixir">defmodule MyApp do
  def process(invoice, options \\ []) do
    case Keyword.get(options, :role, :default) do
      :admin -&gt;   # Is an admin
      :editor -&gt;  # Is an editor
      :default -&gt; # Is none
    end
  end
end</pre>
<p>This anti-pattern may also happen in our own data structures. For example, we may define a <code class="inline">User</code> struct with two boolean fields, <code class="inline">:editor</code> and <code class="inline">:admin</code>, while a single field named <code class="inline">:role</code> may be preferred.</p>
<p>Finally, it is worth noting that using atoms may be preferred even when we have a single boolean argument/option. For example, consider an invoice which may be set as approved/unapproved. One option is to provide a function that expects a boolean:</p>
<pre data-language="elixir">MyApp.update(invoice, approved: true)</pre>
<p>However, using atoms may read better and make it simpler to add further states (such as pending) in the future:</p>
<pre data-language="elixir">MyApp.update(invoice, status: :approved)</pre>
<p>Remember booleans are internally represented as atoms. Therefore there is no performance penalty in one approach over the other.</p>
<h2 id="exceptions-for-control-flow" class="section-heading">  <span class="text">Exceptions for control-flow</span> </h2> <h4>Problem</h4>
<p>This anti-pattern refers to code that uses <a href="exception"><code class="inline">Exception</code></a>s for control flow. Exception handling itself does not represent an anti-pattern, but developers must prefer to use <code class="inline">case</code> and pattern matching to change the flow of their code, instead of <code class="inline">try/rescue</code>. In turn, library authors should provide developers with APIs to handle errors without relying on exception handling. When developers have no freedom to decide if an error is exceptional or not, this is considered an anti-pattern.</p>
<h4>Example</h4>
<p>An example of this anti-pattern, as shown below, is using <code class="inline">try/rescue</code> to deal with file operations:</p>
<pre data-language="elixir">defmodule MyModule do
  def print_file(file) do
    try do
      IO.puts(File.read!(file))
    rescue
      e -&gt; IO.puts(:stderr, Exception.message(e))
    end
  end
end</pre>
<pre data-language="elixir">iex&gt; MyModule.print_file("valid_file")
This is a valid file!
:ok
iex&gt; MyModule.print_file("invalid_file")
could not read file "invalid_file": no such file or directory
:ok</pre>
<h4>Refactoring</h4>
<p>To refactor this anti-pattern, as shown next, use <a href="file#read/1"><code class="inline">File.read/1</code></a>, which returns tuples instead of raising when a file cannot be read:</p>
<pre data-language="elixir">defmodule MyModule do
  def print_file(file) do
    case File.read(file) do
      {:ok, binary} -&gt; IO.puts(binary)
      {:error, reason} -&gt; IO.puts(:stderr, "could not read file #{file}: #{reason}")
    end
  end
end</pre>
<p>This is only possible because the <a href="file"><code class="inline">File</code></a> module provides APIs for reading files with tuples as results (<a href="file#read/1"><code class="inline">File.read/1</code></a>), as well as a version that raises an exception (<a href="file#read!/1"><code class="inline">File.read!/1</code></a>). The bang (exclamation point) is effectively part of <a href="naming-conventions#trailing-bang-foo">Elixir's naming conventions</a>.</p>
<p>Library authors are encouraged to follow the same practices. In practice, the bang variant is implemented on top of the non-raising version of the code. For example, <a href="file#read!/1"><code class="inline">File.read!/1</code></a> is implemented as:</p>
<pre data-language="elixir">def read!(path) do
  case read(path) do
    {:ok, binary} -&gt;
      binary

    {:error, reason} -&gt;
      raise File.Error, reason: reason, action: "read file", path: IO.chardata_to_string(path)
  end
end</pre>
<p>A common practice followed by the community is to make the non-raising version return <code class="inline">{:ok, result}</code> or <code class="inline">{:error, Exception.t}</code>. For example, an HTTP client may return <code class="inline">{:ok, %HTTP.Response{}}</code> on success cases and <code class="inline">{:error, %HTTP.Error{}}</code> for failures, where <code class="inline">HTTP.Error</code> is <a href="kernel#defexception/1">implemented as an exception</a>. This makes it convenient for anyone to raise an exception by simply calling <a href="kernel#raise/1"><code class="inline">Kernel.raise/1</code></a>.</p>
<h4>Additional remarks</h4>
<p>This anti-pattern is of special importance to library authors and whenever writing functions that will be invoked by other developers and third-party code. Nevertheless, there are still scenarios where developers can afford to raise exceptions directly, for example:</p>
<ul>
<li><p>invalid arguments: it is expected that functions will raise for invalid arguments, as those are structural error and not semantic errors. For example, <code class="inline">File.read(123)</code> will always raise, because <code class="inline">123</code> is never a valid filename</p></li>
<li><p>during tests, scripts, etc: those are common scenarios where you want your code to fail as soon as possible in case of errors. Using <code class="inline">!</code> functions, such as <a href="file#read!/1"><code class="inline">File.read!/1</code></a>, allows you to do so quickly and with clear error messages</p></li>
<li><p>some frameworks, such as <a href="https://phoenixframework.org">Phoenix</a>, allow developers to raise exceptions in their code and uses a protocol to convert these exceptions into semantic HTTP responses</p></li>
</ul>
<p>This anti-pattern was formerly known as <a href="https://github.com/lucasvegi/Elixir-Code-Smells#using-exceptions-for-control-flow">Using exceptions for control-flow</a>.</p>
<h2 id="primitive-obsession" class="section-heading">  <span class="text">Primitive obsession</span> </h2> <h4>Problem</h4>
<p>This anti-pattern happens when Elixir basic types (for example, <em>integer</em>, <em>float</em>, and <em>string</em>) are excessively used to carry structured information, rather than creating specific composite data types (for example, <em>tuples</em>, <em>maps</em>, and <em>structs</em>) that can better represent a domain.</p>
<h4>Example</h4>
<p>An example of this anti-pattern is the use of a single <em>string</em> to represent an <code class="inline">Address</code>. An <code class="inline">Address</code> is a more complex structure than a simple basic (aka, primitive) value.</p>
<pre data-language="elixir">defmodule MyApp do
  def extract_postal_code(address) when is_binary(address) do
    # Extract postal code with address...
  end

  def fill_in_country(address) when is_binary(address) do
    # Fill in missing country...
  end
end</pre>
<p>While you may receive the <code class="inline">address</code> as a string from a database, web request, or a third-party, if you find yourself frequently manipulating or extracting information from the string, it is a good indicator you should convert the address into structured data:</p>
<p>Another example of this anti-pattern is using floating numbers to model money and currency, when <a href="https://hexdocs.pm/ex_money/">richer data structures should be preferred</a>.</p>
<h4>Refactoring</h4>
<p>Possible solutions to this anti-pattern is to use maps or structs to model our address. The example below creates an <code class="inline">Address</code> struct, better representing this domain through a composite type. Additionally, we introduce a <code class="inline">parse/1</code> function, that converts the string into an <code class="inline">Address</code>, which will simplify the logic of remaining functions. With this modification, we can extract each field of this composite type individually when needed.</p>
<pre data-language="elixir">defmodule Address do
  defstruct [:street, :city, :state, :postal_code, :country]
end</pre>
<pre data-language="elixir">defmodule MyApp do
  def parse(address) when is_binary(address) do
    # Returns %Address{}
  end

  def extract_postal_code(%Address{} = address) do
    # Extract postal code with address...
  end

  def fill_in_country(%Address{} = address) do
    # Fill in missing country...
  end
end</pre>
<h2 id="unrelated-multi-clause-function" class="section-heading">  <span class="text">Unrelated multi-clause function</span> </h2> <h4>Problem</h4>
<p>Using multi-clause functions is a powerful Elixir feature. However, some developers may abuse this feature to group <em>unrelated</em> functionality, which is an anti-pattern.</p>
<h4>Example</h4>
<p>A frequent example of this usage of multi-clause functions occurs when developers mix unrelated business logic into the same function definition, in a way that the behavior of each clause becomes completely distinct from the others. Such functions often have too broad specifications, making it difficult for other developers to understand and maintain them.</p>
<p>Some developers may use documentation mechanisms such as <code class="inline">@doc</code> annotations to compensate for poor code readability, however the documentation itself may end-up full of conditionals to describe how the function behaves for each different argument combination. This is a good indicator that the clauses are ultimately unrelated.</p>
<pre data-language="elixir">@doc """
Updates a struct.

If given a product, it will...

If given an animal, it will...
"""
def update(%Product{count: count, material: material})  do
  # ...
end

def update(%Animal{count: count, skin: skin})  do
  # ...
end</pre>
<p>If updating an animal is completely different from updating a product and requires a different set of rules, it may be worth splitting those over different functions or even different modules.</p>
<h4>Refactoring</h4>
<p>As shown below, a possible solution to this anti-pattern is to break the business rules that are mixed up in a single unrelated multi-clause function in simple functions. Each function can have a specific name and <code class="inline">@doc</code>, describing its behavior and parameters received. While this refactoring sounds simple, it can impact the function's callers, so be careful!</p>
<pre data-language="elixir">@doc """
Updates a product.

It will...
"""
def update_product(%Product{count: count, material: material}) do
  # ...
end

@doc """
Updates an animal.

It will...
"""
def update_animal(%Animal{count: count, skin: skin}) do
  # ...
end</pre>
<p>These functions may still be implemented with multiple clauses, as long as the clauses group related functionality. For example, <code class="inline">update_product</code> could be in practice implemented as follows:</p>
<pre data-language="elixir">def update_product(%Product{count: 0}) do
  # ...
end

def update_product(%Product{material: material})
    when material in ["metal", "glass"] do
  # ...
end

def update_product(%Product{material: material})
    when material not in ["metal", "glass"] do
  # ...
end</pre>
<p>You can see this pattern in practice within Elixir itself. The <a href="kernel#+/2"><code class="inline">+/2</code></a> operator can add <a href="integer"><code class="inline">Integer</code></a>s and <a href="float"><code class="inline">Float</code></a>s together, but not <a href="string"><code class="inline">String</code></a>s, which instead use the <a href="kernel#%3C%3E/2"><code class="inline">&lt;&gt;/2</code></a> operator. In this sense, it is reasonable to handle integers and floats in the same operation, but strings are unrelated enough to deserve their own function.</p>
<p>You will also find examples in Elixir of functions that work with any struct, which would seemingly be an occurrence of this anti-pattern, such as <a href="kernel#struct/2"><code class="inline">struct/2</code></a>:</p>
<pre data-language="elixir">iex&gt; struct(URI.parse("/foo/bar"), path: "/bar/baz")
%URI{
  scheme: nil,
  userinfo: nil,
  host: nil,
  port: nil,
  path: "/bar/baz",
  query: nil,
  fragment: nil
}</pre>
<p>The difference here is that the <a href="kernel#struct/2"><code class="inline">struct/2</code></a> function behaves precisely the same for any struct given, therefore there is no question of how the function handles different inputs. If the behavior is clear and consistent for all inputs, then the anti-pattern does not take place.</p>
<h2 id="using-application-configuration-for-libraries" class="section-heading">  <span class="text">Using application configuration for libraries</span> </h2> <h4>Problem</h4>
<p>The <a href="https://hexdocs.pm/elixir/Application.html#module-the-application-environment"><em>application environment</em></a> can be used to parameterize global values that can be used in an Elixir system. This mechanism can be very useful and therefore is not considered an anti-pattern by itself. However, library authors should avoid using the application environment to configure their library. The reason is exactly that the application environment is a <strong>global</strong> state, so there can only be a single value for each key in the environment for an application. This makes it impossible for multiple applications depending on the same library to configure the same aspect of the library in different ways.</p>
<h4>Example</h4>
<p>The <code class="inline">DashSplitter</code> module represents a library that configures the behavior of its functions through the global application environment. These configurations are concentrated in the <em>config/config.exs</em> file, shown below:</p>
<pre data-language="elixir">import Config

config :app_config,
  parts: 3

import_config "#{config_env()}.exs"</pre>
<p>One of the functions implemented by the <code class="inline">DashSplitter</code> library is <code class="inline">split/1</code>. This function aims to separate a string received via a parameter into a certain number of parts. The character used as a separator in <code class="inline">split/1</code> is always <code class="inline">"-"</code> and the number of parts the string is split into is defined globally by the application environment. This value is retrieved by the <code class="inline">split/1</code> function by calling <a href="application#fetch_env!/2"><code class="inline">Application.fetch_env!/2</code></a>, as shown next:</p>
<pre data-language="elixir">defmodule DashSplitter do
  def split(string) when is_binary(string) do
    parts = Application.fetch_env!(:app_config, :parts) # &lt;= retrieve parameterized value
    String.split(string, "-", parts: parts)             # &lt;= parts: 3
  end
end</pre>
<p>Due to this parameterized value used by the <code class="inline">DashSplitter</code> library, all applications dependent on it can only use the <code class="inline">split/1</code> function with identical behavior about the number of parts generated by string separation. Currently, this value is equal to 3, as we can see in the use examples shown below:</p>
<pre data-language="elixir">iex&gt; DashSplitter.split("Lucas-Francisco-Vegi")
["Lucas", "Francisco", "Vegi"]
iex&gt; DashSplitter.split("Lucas-Francisco-da-Matta-Vegi")
["Lucas", "Francisco", "da-Matta-Vegi"]</pre>
<h4>Refactoring</h4>
<p>To remove this anti-pattern, this type of configuration should be performed using a parameter passed to the function. The code shown below performs the refactoring of the <code class="inline">split/1</code> function by accepting <a href="keyword">keyword lists</a> as a new optional parameter. With this new parameter, it is possible to modify the default behavior of the function at the time of its call, allowing multiple different ways of using <code class="inline">split/2</code> within the same application:</p>
<pre data-language="elixir">defmodule DashSplitter do
  def split(string, opts \\ []) when is_binary(string) and is_list(opts) do
    parts = Keyword.get(opts, :parts, 2) # &lt;= default config of parts == 2
    String.split(string, "-", parts: parts)
  end
end</pre>
<pre data-language="elixir">iex&gt; DashSplitter.split("Lucas-Francisco-da-Matta-Vegi", [parts: 5])
["Lucas", "Francisco", "da", "Matta", "Vegi"]
iex&gt; DashSplitter.split("Lucas-Francisco-da-Matta-Vegi") #&lt;= default config is used!
["Lucas", "Francisco-da-Matta-Vegi"]</pre>
<p>Of course, not all uses of the application environment by libraries are incorrect. One example is using configuration to replace a component (or dependency) of a library by another that must behave the exact same. Consider a library that needs to parse CSV files. The library author may pick one package to use as default parser but allow its users to swap to different implementations via the application environment. At the end of the day, choosing a different CSV parser should not change the outcome, and library authors can even enforce this by <a href="typespecs#behaviours">defining behaviours</a> with the exact semantics they expect.</p>
<h4>Additional remarks: Supervision trees</h4>
<p>In practice, libraries may require additional configuration beyond keyword lists. For example, if a library needs to start a supervision tree, how can the user of said library customize its supervision tree? Given the supervision tree itself is global (as it belongs to the library), library authors may be tempted to use the application configuration once more.</p>
<p>One solution is for the library to provide its own child specification, instead of starting the supervision tree itself. This allows the user to start all necessary processes under its own supervision tree, potentially passing custom configuration options during initialization.</p>
<p>You can see this pattern in practice in projects like <a href="https://github.com/elixir-nx/nx">Nx</a> and <a href="https://github.com/phoenixframework/dns_cluster">DNS Cluster</a>. These libraries require that you list processes under your own supervision tree:</p>
<pre data-language="elixir">children = [
  {DNSCluster, query: "my.subdomain"}
]</pre>
<p>In such cases, if the users of <code class="inline">DNSCluster</code> need to configure DNSCluster per environment, they can be the ones reading from the application environment, without the library forcing them to:</p>
<pre data-language="elixir">children = [
  {DNSCluster, query: Application.get_env(:my_app, :dns_cluster_query) || :ignore}
]</pre>
<p>Some libraries, such as <a href="https://github.com/elixir-ecto/ecto">Ecto</a>, allow you to pass your application name as an option (called <code class="inline">:otp_app</code> or similar) and then automatically read the environment from <em>your</em> application. While this addresses the issue with the application environment being global, as they read from each individual application, it comes at the cost of some indirection, compared to the example above where users explicitly read their application environment from their own code, whenever desired.</p>
<h4>Additional remarks: Compile-time configuration</h4>
<p>A similar discussion entails compile-time configuration. What if a library author requires some configuration to be provided at compilation time?</p>
<p>Once again, instead of forcing users of your library to provide compile-time configuration, you may want to allow users of your library to generate the code themselves. That's the approach taken by libraries such as <a href="https://github.com/elixir-ecto/ecto">Ecto</a>:</p>
<pre data-language="elixir">defmodule MyApp.Repo do
  use Ecto.Repo, adapter: Ecto.Adapters.Postgres
end</pre>
<p>Instead of forcing developers to share a single repository, Ecto allows its users to define as many repositories as they want. Given the <code class="inline">:adapter</code> configuration is required at compile-time, it is a required value on <code class="inline">use Ecto.Repo</code>. If developers want to configure the adapter per environment, then it is their choice:</p>
<pre data-language="elixir">defmodule MyApp.Repo do
  use Ecto.Repo, adapter: Application.compile_env(:my_app, :repo_adapter)
end</pre>
<p>On the other hand, <a href="macro-anti-patterns">code generation comes with its own anti-patterns</a>, and must be considered carefully. That's to say: while using the application environment for libraries is discouraged, especially compile-time configuration, in some cases they may be the best option. For example, consider a library needs to parse CSV or JSON files to generate code based on data files. In such cases, it is best to provide reasonable defaults and make them customizable via the application environment, instead of asking each user of your library to generate the exact same code.</p>
<h4>Additional remarks: Mix tasks</h4>
<p>For Mix tasks and related tools, it may be necessary to provide per-project configuration. For example, imagine you have a <code class="inline">:linter</code> project, which supports setting the output file and the verbosity level. You may choose to configure it through application environment:</p>
<pre data-language="elixir">config :linter,
  output_file: "/path/to/output.json",
  verbosity: 3</pre>
<p>However, <a href="https://hexdocs.pm/mix/Mix.html"><code class="inline">Mix</code></a> allows tasks to read per-project configuration via <a href="https://hexdocs.pm/mix/Mix.Project.html#config/0"><code class="inline">Mix.Project.config/0</code></a>. In this case, you can configure the <code class="inline">:linter</code> directly in the <code class="inline">mix.exs</code> file:</p>
<pre data-language="elixir">def project do
  [
    app: :my_app,
    version: "1.0.0",
    linter: [
      output_file: "/path/to/output.json",
      verbosity: 3
    ],
    ...
  ]
end</pre>
<p>Additionally, if a Mix task is available, you can also accept these options as command line arguments (see <a href="optionparser"><code class="inline">OptionParser</code></a>):</p>
<pre data-language="elixir">mix linter --output-file /path/to/output.json --verbosity 3
</pre> </div> <div class="bottom-actions" id="bottom-actions"> <div class="bottom-actions-item"> <a href="code-anti-patterns" class="bottom-actions-button" rel="prev"> <span class="subheader"> ← Previous Page </span> <span class="title"> Code-related anti-patterns </span> </a> </div> <div class="bottom-actions-item"> <a href="process-anti-patterns" class="bottom-actions-button" rel="next"> <span class="subheader"> Next Page → </span> <span class="title"> Process-related anti-patterns </span> </a> </div> </div> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/design-anti-patterns.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/design-anti-patterns.html</a>
  </p>
</div>
