<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/duration.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">Duration</span>  </h1> <section id="moduledoc"> <p>Struct and functions for handling durations.</p>
<p>A <a href="duration"><code class="inline">Duration</code></a> struct represents a collection of time scale units, allowing for manipulation and calculation of durations.</p>
<p>Date and time scale units are represented as integers, allowing for both positive and negative values.</p>
<p>Microseconds are represented using a tuple <code class="inline">{microsecond, precision}</code>. This ensures compatibility with other calendar types implementing time, such as <a href="time"><code class="inline">Time</code></a>, <a href="datetime"><code class="inline">DateTime</code></a>, and <a href="naivedatetime"><code class="inline">NaiveDateTime</code></a>.</p>
<h2 id="module-shifting" class="section-heading">  <span class="text">Shifting</span> </h2> <p>The most common use of durations in Elixir's standard library is to "shift" the calendar types.</p>
<pre data-language="elixir">iex&gt; Date.shift(~D[2016-01-03], month: 2)
~D[2016-03-03]</pre>
<p>In the example above, <a href="date#shift/2"><code class="inline">Date.shift/2</code></a> automatically converts the units into a <a href="duration"><code class="inline">Duration</code></a> struct, although one can also be given directly:</p>
<pre data-language="elixir">iex&gt; Date.shift(~D[2016-01-03], Duration.new!(month: 2))
~D[2016-03-03]</pre>
<p>It is important to note that shifting is not an arithmetic operation. For example, adding <code class="inline">date + 1 month + 1 month</code> does not yield the same result as <code class="inline">date + 2 months</code>. Let's see an example:</p>
<pre data-language="elixir">iex&gt; ~D[2016-01-31] |&gt; Date.shift(month: 1) |&gt; Date.shift(month: 1)
~D[2016-03-29]

iex&gt; ~D[2016-01-31] |&gt; Date.shift(month: 2)
~D[2016-03-31]</pre>
<p>As you can see above, the results differ, which explains why operations with durations are called "shift" rather than "add". This happens because, once we add one month to <code class="inline">2016-01-31</code>, we get <code class="inline">2016-02-29</code>. Then adding one extra month gives us <code class="inline">2016-03-29</code> instead of <code class="inline">2016-03-31</code>.</p>
<p>In particular, when applying durations to <a href="calendar.iso"><code class="inline">Calendar.ISO</code></a> types:</p>
<ul>
<li><p>larger units (such as years and months) are applied before smaller ones (such as weeks, hours, days, and so on)</p></li>
<li><p>units are collapsed into months (<code class="inline">:year</code> and <code class="inline">:month</code>), seconds (<code class="inline">:week</code>, <code class="inline">:day</code>, <code class="inline">:hour</code>, <code class="inline">:minute</code>, <code class="inline">:second</code>) and microseconds (<code class="inline">:microsecond</code>) before they are applied</p></li>
<li><p>1 year is equivalent to 12 months, 1 week is equivalent to 7 days. Therefore, 4 weeks <em>are not</em> equivalent to 1 month</p></li>
<li><p>in case of non-existing dates, the results are rounded down to the nearest valid date</p></li>
</ul>
<p>As the <code class="inline">shift/2</code> functions are calendar aware, they are guaranteed to return valid date/times, considering leap years as well as DST in applicable time zones.</p>
<h2 id="module-intervals" class="section-heading">  <span class="text">Intervals</span> </h2> <p>Durations in Elixir can be combined with stream operations to build intervals. For example, to retrieve the next three Wednesdays starting from 17th April, 2024:</p>
<pre data-language="elixir">iex&gt; ~D[2024-04-17] |&gt; Stream.iterate(&amp;Date.shift(&amp;1, week: 1)) |&gt; Enum.take(3)
[~D[2024-04-17], ~D[2024-04-24], ~D[2024-05-01]]</pre>
<p>However, once again, it is important to remember that shifting a duration is not arithmetic, so you may want to use the functions in this module depending on what you to achieve. Compare the results of both examples below:</p>
<pre data-language="elixir"># Adding one month after the other
iex&gt; date = ~D[2016-01-31]
iex&gt; duration = Duration.new!(month: 1)
iex&gt; stream = Stream.iterate(date, fn prev_date -&gt; Date.shift(prev_date, duration) end)
iex&gt; Enum.take(stream, 3)
[~D[2016-01-31], ~D[2016-02-29], ~D[2016-03-29]]

# Multiplying durations by an index
iex&gt; date = ~D[2016-01-31]
iex&gt; duration = Duration.new!(month: 1)
iex&gt; stream = Stream.from_index(fn i -&gt; Date.shift(date, Duration.multiply(duration, i)) end)
iex&gt; Enum.take(stream, 3)
[~D[2016-01-31], ~D[2016-02-29], ~D[2016-03-31]]</pre>
<p>The second example consistently points to the last day of the month, as it performs operations on the duration, rather than shifting date after date.</p> </section> </div> <section id="summary" class="details-list"> <h1 class="section-heading">  <span class="text">Summary</span> </h1> <h2> Types </h2>
<dl class="summary-types summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#t:duration/0" data-no-tooltip translate="no">duration()</a> </dt> <dd class="summary-synopsis"><p>The duration type specifies a <code class="inline">%Duration{}</code> struct or a keyword list of valid duration unit pairs.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:t/0" data-no-tooltip translate="no">t()</a> </dt> <dd class="summary-synopsis"><p>The duration struct type.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:unit_pair/0" data-no-tooltip translate="no">unit_pair()</a> </dt> <dd class="summary-synopsis"><p>The unit pair type specifies a pair of a valid duration unit key and value.</p></dd> </div> </dl> <h2> Functions </h2>
<dl class="summary-functions summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#add/2" data-no-tooltip translate="no">add(d1, d2)</a> </dt> <dd class="summary-synopsis"><p>Adds units of given durations <code class="inline">d1</code> and <code class="inline">d2</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#from_iso8601/1" data-no-tooltip translate="no">from_iso8601(string)</a> </dt> <dd class="summary-synopsis"><p>Parses an <a href="https://en.wikipedia.org/wiki/ISO_8601#Durations">ISO 8601</a> formatted duration string to a <a href="duration"><code class="inline">Duration</code></a> struct.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#from_iso8601!/1" data-no-tooltip translate="no">from_iso8601!(string)</a> </dt> <dd class="summary-synopsis"><p>Same as <a href="#from_iso8601/1"><code class="inline">from_iso8601/1</code></a> but raises an <a href="argumenterror"><code class="inline">ArgumentError</code></a>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#multiply/2" data-no-tooltip translate="no">multiply(duration, integer)</a> </dt> <dd class="summary-synopsis"><p>Multiplies <code class="inline">duration</code> units by given <code class="inline">integer</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#negate/1" data-no-tooltip translate="no">negate(duration)</a> </dt> <dd class="summary-synopsis"><p>Negates <code class="inline">duration</code> units.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#new!/1" data-no-tooltip translate="no">new!(duration)</a> </dt> <dd class="summary-synopsis"><p>Creates a new <a href="duration"><code class="inline">Duration</code></a> struct from given <code class="inline">unit_pairs</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#subtract/2" data-no-tooltip translate="no">subtract(d1, d2)</a> </dt> <dd class="summary-synopsis"><p>Subtracts units of given durations <code class="inline">d1</code> and <code class="inline">d2</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#to_iso8601/1" data-no-tooltip translate="no">to_iso8601(duration)</a> </dt> <dd class="summary-synopsis"><p>Converts the given <code class="inline">duration</code> to an <a href="https://en.wikipedia.org/wiki/ISO_8601">ISO 8601-2:2019</a> formatted string.</p></dd> </div> </dl> </section> <section id="types" class="details-list"> <h1 class="section-heading">  <span class="text">Types</span> </h1> <div class="types-list"> <section class="detail"> <h3 class="detail-header" id="t:duration/0">duration()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/duration.ex#L135" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type duration() :: t() | [unit_pair()]</pre> </div> <p>The duration type specifies a <code class="inline">%Duration{}</code> struct or a keyword list of valid duration unit pairs.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:t/0">t()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/duration.ex#L108" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type t() :: %Duration{
  day: integer(),
  hour: integer(),
  microsecond: {integer(), 0..6},
  minute: integer(),
  month: integer(),
  second: integer(),
  week: integer(),
  year: integer()
}</pre> </div> <p>The duration struct type.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:unit_pair/0">unit_pair()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/duration.ex#L122" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type unit_pair() ::
  {:year, integer()}
  | {:month, integer()}
  | {:week, integer()}
  | {:day, integer()}
  | {:hour, integer()}
  | {:minute, integer()}
  | {:second, integer()}
  | {:microsecond, {integer(), 0..6}}</pre> </div> <p>The unit pair type specifies a pair of a valid duration unit key and value.</p> </section> </section> </div> </section> <section id="functions" class="details-list"> <h1 class="section-heading">  <span class="text">Functions</span> </h1> <div class="functions-list"> <section class="detail"> <h3 class="detail-header" id="add/2">add(d1, d2)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/duration.ex#L203" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec add(t(), t()) :: t()</pre> </div> <p>Adds units of given durations <code class="inline">d1</code> and <code class="inline">d2</code>.</p>
<p>Respects the the highest microsecond precision of the two.</p>
<h4 id="add/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Duration.add(Duration.new!(week: 2, day: 1), Duration.new!(day: 2))
%Duration{week: 2, day: 3}
iex&gt; Duration.add(Duration.new!(microsecond: {400, 3}), Duration.new!(microsecond: {600, 6}))
%Duration{microsecond: {1000, 6}}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="from_iso8601/1">from_iso8601(string)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/duration.ex#L326" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec from_iso8601(String.t()) :: {:ok, t()} | {:error, atom()}</pre> </div> <p>Parses an <a href="https://en.wikipedia.org/wiki/ISO_8601#Durations">ISO 8601</a> formatted duration string to a <a href="duration"><code class="inline">Duration</code></a> struct.</p>
<p>Duration strings, as well as individual units, may be prefixed with plus/minus signs so that:</p>
<ul>
<li>
<code class="inline">-PT6H3M</code> parses as <code class="inline">%Duration{hour: -6, minute: -3}</code>
</li>
<li>
<code class="inline">-PT6H-3M</code> parses as <code class="inline">%Duration{hour: -6, minute: 3}</code>
</li>
<li>
<code class="inline">+PT6H3M</code> parses as <code class="inline">%Duration{hour: 6, minute: 3}</code>
</li>
<li>
<code class="inline">+PT6H-3M</code> parses as <code class="inline">%Duration{hour: 6, minute: -3}</code>
</li>
</ul>
<p>Duration designators must be provided in order of magnitude: <code class="inline">P[n]Y[n]M[n]W[n]DT[n]H[n]M[n]S</code>.</p>
<p>Only seconds may be specified with a decimal fraction, using either a comma or a full stop: <code class="inline">P1DT4,5S</code>.</p>
<h4 id="from_iso8601/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Duration.from_iso8601("P1Y2M3DT4H5M6S")
{:ok, %Duration{year: 1, month: 2, day: 3, hour: 4, minute: 5, second: 6}}
iex&gt; Duration.from_iso8601("P3Y-2MT3H")
{:ok, %Duration{year: 3, month: -2, hour: 3}}
iex&gt; Duration.from_iso8601("-PT10H-30M")
{:ok, %Duration{hour: -10, minute: 30}}
iex&gt; Duration.from_iso8601("PT4.650S")
{:ok, %Duration{second: 4, microsecond: {650000, 3}}}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="from_iso8601!/1">from_iso8601!(string)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/duration.ex#L348" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec from_iso8601!(String.t()) :: t()</pre> </div> <p>Same as <a href="#from_iso8601/1"><code class="inline">from_iso8601/1</code></a> but raises an <a href="argumenterror"><code class="inline">ArgumentError</code></a>.</p>
<h4 id="from_iso8601!/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Duration.from_iso8601!("P1Y2M3DT4H5M6S")
%Duration{year: 1, month: 2, day: 3, hour: 4, minute: 5, second: 6}
iex&gt; Duration.from_iso8601!("P10D")
%Duration{day: 10}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="multiply/2">multiply(duration, integer)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/duration.ex#L261" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec multiply(t(), integer()) :: t()</pre> </div> <p>Multiplies <code class="inline">duration</code> units by given <code class="inline">integer</code>.</p>
<h4 id="multiply/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Duration.multiply(Duration.new!(day: 1, minute: 15, second: -10), 3)
%Duration{day: 3, minute: 45, second: -30}
iex&gt; Duration.multiply(Duration.new!(microsecond: {200, 4}), 3)
%Duration{microsecond: {600, 4}}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="negate/1">negate(duration)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/duration.ex#L286" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec negate(t()) :: t()</pre> </div> <p>Negates <code class="inline">duration</code> units.</p>
<h4 id="negate/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Duration.negate(Duration.new!(day: 1, minute: 15, second: -10))
%Duration{day: -1, minute: -15, second: 10}
iex&gt; Duration.negate(Duration.new!(microsecond: {500000, 4}))
%Duration{microsecond: {-500000, 4}}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="new!/1">new!(duration)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/duration.ex#L155" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec new!(duration()) :: t()</pre> </div> <p>Creates a new <a href="duration"><code class="inline">Duration</code></a> struct from given <code class="inline">unit_pairs</code>.</p>
<p>Raises an <a href="argumenterror"><code class="inline">ArgumentError</code></a> when called with invalid unit pairs.</p>
<h4 id="new!/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Duration.new!(year: 1, week: 3, hour: 4, second: 1)
%Duration{year: 1, week: 3, hour: 4, second: 1}
iex&gt; Duration.new!(second: 1, microsecond: {1000, 6})
%Duration{second: 1, microsecond: {1000, 6}}
iex&gt; Duration.new!(month: 2)
%Duration{month: 2}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="subtract/2">subtract(d1, d2)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/duration.ex#L233" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec subtract(t(), t()) :: t()</pre> </div> <p>Subtracts units of given durations <code class="inline">d1</code> and <code class="inline">d2</code>.</p>
<p>Respects the the highest microsecond precision of the two.</p>
<h4 id="subtract/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Duration.subtract(Duration.new!(week: 2, day: 1), Duration.new!(day: 2))
%Duration{week: 2, day: -1}
iex&gt; Duration.subtract(Duration.new!(microsecond: {400, 6}), Duration.new!(microsecond: {600, 3}))
%Duration{microsecond: {-200, 6}}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="to_iso8601/1">to_iso8601(duration)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/calendar/duration.ex#L383" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec to_iso8601(t()) :: String.t()</pre> </div> <p>Converts the given <code class="inline">duration</code> to an <a href="https://en.wikipedia.org/wiki/ISO_8601">ISO 8601-2:2019</a> formatted string.</p>
<p>Note this function implements the <em>extension</em> of ISO 8601:2019. This extensions allows weeks to appear between months and days: <code class="inline">P3M3W3D</code>, making it fully compatible with any <a href="duration"><code class="inline">Duration</code></a> struct.</p>
<h4 id="to_iso8601/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Duration.to_iso8601(Duration.new!(year: 3))
"P3Y"
iex&gt; Duration.to_iso8601(Duration.new!(day: 40, hour: 12, minute: 42, second: 12))
"P40DT12H42M12S"
iex&gt; Duration.to_iso8601(Duration.new!(second: 30))
"PT30S"

iex&gt; Duration.to_iso8601(Duration.new!([]))
"PT0S"

iex&gt; Duration.to_iso8601(Duration.new!(second: 1, microsecond: {2_200, 3}))
"PT1.002S"
iex&gt; Duration.to_iso8601(Duration.new!(second: 1, microsecond: {-1_200_000, 4}))
"PT-0.2000S"</pre> </section> </section> </div> </section> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/Duration.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/Duration.html</a>
  </p>
</div>
