<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/dynamic_supervisor.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">DynamicSupervisor</span> <small>behaviour</small>  </h1> <section id="moduledoc"> <p>A supervisor optimized to only start children dynamically.</p>
<p>The <a href="supervisor"><code class="inline">Supervisor</code></a> module was designed to handle mostly static children that are started in the given order when the supervisor starts. A <a href="dynamicsupervisor"><code class="inline">DynamicSupervisor</code></a> starts with no children. Instead, children are started on demand via <a href="#start_child/2"><code class="inline">start_child/2</code></a> and there is no ordering between children. This allows the <a href="dynamicsupervisor"><code class="inline">DynamicSupervisor</code></a> to hold millions of children by using efficient data structures and to execute certain operations, such as shutting down, concurrently.</p>
<h2 id="module-examples" class="section-heading">  <span class="text">Examples</span> </h2> <p>A dynamic supervisor is started with no children and often a name:</p>
<pre data-language="elixir">children = [
  {DynamicSupervisor, name: MyApp.DynamicSupervisor, strategy: :one_for_one}
]

Supervisor.start_link(children, strategy: :one_for_one)</pre>
<p>The options given in the child specification are documented in <a href="#start_link/1"><code class="inline">start_link/1</code></a>.</p>
<p>Once the dynamic supervisor is running, we can use it to start children on demand. Given this sample <a href="genserver"><code class="inline">GenServer</code></a>:</p>
<pre data-language="elixir">defmodule Counter do
  use GenServer

  def start_link(initial) do
    GenServer.start_link(__MODULE__, initial)
  end

  def inc(pid) do
    GenServer.call(pid, :inc)
  end

  def init(initial) do
    {:ok, initial}
  end

  def handle_call(:inc, _, count) do
    {:reply, count, count + 1}
  end
end</pre>
<p>We can use <a href="#start_child/2"><code class="inline">start_child/2</code></a> with a child specification to start a <code class="inline">Counter</code> server:</p>
<pre data-language="elixir">{:ok, counter1} = DynamicSupervisor.start_child(MyApp.DynamicSupervisor, {Counter, 0})
Counter.inc(counter1)
#=&gt; 0

{:ok, counter2} = DynamicSupervisor.start_child(MyApp.DynamicSupervisor, {Counter, 10})
Counter.inc(counter2)
#=&gt; 10

DynamicSupervisor.count_children(MyApp.DynamicSupervisor)
#=&gt; %{active: 2, specs: 2, supervisors: 0, workers: 2}</pre>
<h2 id="module-scalability-and-partitioning" class="section-heading">  <span class="text">Scalability and partitioning</span> </h2> <p>The <a href="dynamicsupervisor"><code class="inline">DynamicSupervisor</code></a> is a single process responsible for starting other processes. In some applications, the <a href="dynamicsupervisor"><code class="inline">DynamicSupervisor</code></a> may become a bottleneck. To address this, you can start multiple instances of the <a href="dynamicsupervisor"><code class="inline">DynamicSupervisor</code></a> and then pick a "random" instance to start the child on.</p>
<p>Instead of:</p>
<pre data-language="elixir">children = [
  {DynamicSupervisor, name: MyApp.DynamicSupervisor}
]</pre>
<p>and:</p>
<pre data-language="elixir">DynamicSupervisor.start_child(MyApp.DynamicSupervisor, {Counter, 0})</pre>
<p>You can do this:</p>
<pre data-language="elixir">children = [
  {PartitionSupervisor,
   child_spec: DynamicSupervisor,
   name: MyApp.DynamicSupervisors}
]</pre>
<p>and then:</p>
<pre data-language="elixir">DynamicSupervisor.start_child(
  {:via, PartitionSupervisor, {MyApp.DynamicSupervisors, self()}},
  {Counter, 0}
)</pre>
<p>In the code above, we start a partition supervisor that will by default start a dynamic supervisor for each core in your machine. Then, instead of calling the <a href="dynamicsupervisor"><code class="inline">DynamicSupervisor</code></a> by name, you call it through the partition supervisor, using <code class="inline">self()</code> as the routing key. This means each process will be assigned one of the existing dynamic supervisors. Read the <a href="partitionsupervisor"><code class="inline">PartitionSupervisor</code></a> docs for more information.</p>
<h2 id="module-module-based-supervisors" class="section-heading">  <span class="text">Module-based supervisors</span> </h2> <p>Similar to <a href="supervisor"><code class="inline">Supervisor</code></a>, dynamic supervisors also support module-based supervisors.</p>
<pre data-language="elixir">defmodule MyApp.DynamicSupervisor do
  # Automatically defines child_spec/1
  use DynamicSupervisor

  def start_link(init_arg) do
    DynamicSupervisor.start_link(__MODULE__, init_arg, name: __MODULE__)
  end

  @impl true
  def init(_init_arg) do
    DynamicSupervisor.init(strategy: :one_for_one)
  end
end</pre>
<p>See the <a href="supervisor"><code class="inline">Supervisor</code></a> docs for a discussion of when you may want to use module-based supervisors. A <code class="inline">@doc</code> annotation immediately preceding <code class="inline">use DynamicSupervisor</code> will be attached to the generated <a href="#child_spec/1"><code class="inline">child_spec/1</code></a> function.</p>
<blockquote>
<h4 class="info"><code class="inline">use DynamicSupervisor</code></h4>
<p>When you <code class="inline">use DynamicSupervisor</code>, the <a href="dynamicsupervisor"><code class="inline">DynamicSupervisor</code></a> module will set <code class="inline">@behaviour DynamicSupervisor</code> and define a <a href="#child_spec/1"><code class="inline">child_spec/1</code></a> function, so your module can be used as a child in a supervision tree.</p>
</blockquote>
<h2 id="module-name-registration" class="section-heading">  <span class="text">Name registration</span> </h2> <p>A supervisor is bound to the same name registration rules as a <a href="genserver"><code class="inline">GenServer</code></a>. Read more about these rules in the documentation for <a href="genserver"><code class="inline">GenServer</code></a>.</p>
<h2 id="module-migrating-from-supervisor-s-simple_one_for_one" class="section-heading">  <span class="text">Migrating from Supervisor's :simple_one_for_one</span> </h2> <p>In case you were using the deprecated <code class="inline">:simple_one_for_one</code> strategy from the <a href="supervisor"><code class="inline">Supervisor</code></a> module, you can migrate to the <a href="dynamicsupervisor"><code class="inline">DynamicSupervisor</code></a> in few steps.</p>
<p>Imagine the given "old" code:</p>
<pre data-language="elixir">defmodule MySupervisor do
  use Supervisor

  def start_link(init_arg) do
    Supervisor.start_link(__MODULE__, init_arg, name: __MODULE__)
  end

  def start_child(foo, bar, baz) do
    # This will start child by calling MyWorker.start_link(init_arg, foo, bar, baz)
    Supervisor.start_child(__MODULE__, [foo, bar, baz])
  end

  @impl true
  def init(init_arg) do
    children = [
      # Or the deprecated: worker(MyWorker, [init_arg])
      %{id: MyWorker, start: {MyWorker, :start_link, [init_arg]}}
    ]

    Supervisor.init(children, strategy: :simple_one_for_one)
  end
end</pre>
<p>It can be upgraded to the DynamicSupervisor like this:</p>
<pre data-language="elixir">defmodule MySupervisor do
  use DynamicSupervisor

  def start_link(init_arg) do
    DynamicSupervisor.start_link(__MODULE__, init_arg, name: __MODULE__)
  end

  def start_child(foo, bar, baz) do
    # If MyWorker is not using the new child specs, we need to pass a map:
    # spec = %{id: MyWorker, start: {MyWorker, :start_link, [foo, bar, baz]}}
    spec = {MyWorker, foo: foo, bar: bar, baz: baz}
    DynamicSupervisor.start_child(__MODULE__, spec)
  end

  @impl true
  def init(init_arg) do
    DynamicSupervisor.init(
      strategy: :one_for_one,
      extra_arguments: [init_arg]
    )
  end
end</pre>
<p>The difference is that the <a href="dynamicsupervisor"><code class="inline">DynamicSupervisor</code></a> expects the child specification at the moment <a href="#start_child/2"><code class="inline">start_child/2</code></a> is called, and no longer on the init callback. If there are any initial arguments given on initialization, such as <code class="inline">[initial_arg]</code>, it can be given in the <code class="inline">:extra_arguments</code> flag on <a href="#init/1"><code class="inline">DynamicSupervisor.init/1</code></a>.</p> </section> </div> <section id="summary" class="details-list"> <h1 class="section-heading">  <span class="text">Summary</span> </h1> <h2> Types </h2>
<dl class="summary-types summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#t:init_option/0" data-no-tooltip translate="no">init_option()</a> </dt> <dd class="summary-synopsis"><p>Options given to <code class="inline">start_link</code> and <a href="#init/1"><code class="inline">init/1</code></a> functions</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:on_start_child/0" data-no-tooltip translate="no">on_start_child()</a> </dt> <dd class="summary-synopsis"><p>Return values of <code class="inline">start_child</code> functions</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:option/0" data-no-tooltip translate="no">option()</a> </dt> <dd class="summary-synopsis"><p>Options given to <code class="inline">start_link</code> functions</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:strategy/0" data-no-tooltip translate="no">strategy()</a> </dt> <dd class="summary-synopsis"><p>Supported strategies</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:sup_flags/0" data-no-tooltip translate="no">sup_flags()</a> </dt> <dd class="summary-synopsis"><p>The supervisor flags returned on init</p></dd> </div> </dl> <h2> Callbacks </h2>
<dl class="summary-callbacks summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#c:init/1" data-no-tooltip translate="no">init(init_arg)</a> </dt> <dd class="summary-synopsis"><p>Callback invoked to start the supervisor and during hot code upgrades.</p></dd> </div> </dl> <h2> Functions </h2>
<dl class="summary-functions summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#child_spec/1" data-no-tooltip translate="no">child_spec(options)</a> </dt> <dd class="summary-synopsis"><p>Returns a specification to start a dynamic supervisor under a supervisor.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#count_children/1" data-no-tooltip translate="no">count_children(supervisor)</a> </dt> <dd class="summary-synopsis"><p>Returns a map containing count values for the supervisor.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#init/1" data-no-tooltip translate="no">init(options)</a> </dt> <dd class="summary-synopsis"><p>Receives a set of <code class="inline">options</code> that initializes a dynamic supervisor.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#start_child/2" data-no-tooltip translate="no">start_child(supervisor, child_spec)</a> </dt> <dd class="summary-synopsis"><p>Dynamically adds a child specification to <code class="inline">supervisor</code> and starts that child.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#start_link/1" data-no-tooltip translate="no">start_link(options)</a> </dt> <dd class="summary-synopsis"><p>Starts a supervisor with the given options.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#start_link/3" data-no-tooltip translate="no">start_link(module, init_arg, opts \\ [])</a> </dt> <dd class="summary-synopsis"><p>Starts a module-based supervisor process with the given <code class="inline">module</code> and <code class="inline">init_arg</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#stop/3" data-no-tooltip translate="no">stop(supervisor, reason \\ :normal, timeout \\ :infinity)</a> </dt> <dd class="summary-synopsis"><p>Synchronously stops the given supervisor with the given <code class="inline">reason</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#terminate_child/2" data-no-tooltip translate="no">terminate_child(supervisor, pid)</a> </dt> <dd class="summary-synopsis"><p>Terminates the given child identified by <code class="inline">pid</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#which_children/1" data-no-tooltip translate="no">which_children(supervisor)</a> </dt> <dd class="summary-synopsis"><p>Returns a list with information about all children.</p></dd> </div> </dl> </section> <section id="types" class="details-list"> <h1 class="section-heading">  <span class="text">Types</span> </h1> <div class="types-list"> <section class="detail"> <h3 class="detail-header" id="t:init_option/0">init_option()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/dynamic_supervisor.ex#L222" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type init_option() ::
  {:strategy, strategy()}
  | {:max_restarts, non_neg_integer()}
  | {:max_seconds, pos_integer()}
  | {:max_children, non_neg_integer() | :infinity}
  | {:extra_arguments, [term()]}</pre> </div> <p>Options given to <code class="inline">start_link</code> and <a href="#init/1"><code class="inline">init/1</code></a> functions</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:on_start_child/0">on_start_child()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/dynamic_supervisor.ex#L233" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type on_start_child() ::
  {:ok, pid()}
  | {:ok, pid(), info :: term()}
  | :ignore
  | {:error, {:already_started, pid()} | :max_children | term()}</pre> </div> <p>Return values of <code class="inline">start_child</code> functions</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:option/0">option()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/dynamic_supervisor.ex#L219" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type option() :: GenServer.option()</pre> </div> <p>Options given to <code class="inline">start_link</code> functions</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:strategy/0">strategy()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/dynamic_supervisor.ex#L230" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type strategy() :: :one_for_one</pre> </div> <p>Supported strategies</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:sup_flags/0">sup_flags()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/dynamic_supervisor.ex#L210" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type sup_flags() :: %{
  strategy: strategy(),
  intensity: non_neg_integer(),
  period: pos_integer(),
  max_children: non_neg_integer() | :infinity,
  extra_arguments: [term()]
}</pre> </div> <p>The supervisor flags returned on init</p> </section> </section> </div> </section> <section id="callbacks" class="details-list"> <h1 class="section-heading">  <span class="text">Callbacks</span> </h1> <div class="callbacks-list"> <section class="detail"> <h3 class="detail-header" id="c:init/1">init(init_arg)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/dynamic_supervisor.ex#L207" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@callback init(init_arg :: term()) :: {:ok, sup_flags()} | :ignore</pre> </div> <p>Callback invoked to start the supervisor and during hot code upgrades.</p>
<p>Developers typically invoke <a href="#init/1"><code class="inline">DynamicSupervisor.init/1</code></a> at the end of their init callback to return the proper supervision flags.</p> </section> </section> </div> </section> <section id="functions" class="details-list"> <h1 class="section-heading">  <span class="text">Functions</span> </h1> <div class="functions-list"> <section class="detail"> <h3 class="detail-header" id="child_spec/1">child_spec(options)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/dynamic_supervisor.ex#L261" class="source">Source</a>
</h3> <section class="docstring"> <p>Returns a specification to start a dynamic supervisor under a supervisor.</p>
<p>It accepts the same options as <a href="#start_link/1"><code class="inline">start_link/1</code></a>.</p>
<p>See <a href="supervisor"><code class="inline">Supervisor</code></a> for more information about child specifications.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="count_children/1">count_children(supervisor)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/dynamic_supervisor.ex#L565" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec count_children(Supervisor.supervisor()) :: %{
  specs: non_neg_integer(),
  active: non_neg_integer(),
  supervisors: non_neg_integer(),
  workers: non_neg_integer()
}</pre> </div> <p>Returns a map containing count values for the supervisor.</p>
<p>The map contains the following keys:</p>
<ul>
<li><p><code class="inline">:specs</code> - the number of children processes</p></li>
<li><p><code class="inline">:active</code> - the count of all actively running child processes managed by this supervisor</p></li>
<li><p><code class="inline">:supervisors</code> - the count of all supervisors whether or not the child process is still alive</p></li>
<li><p><code class="inline">:workers</code> - the count of all workers, whether or not the child process is still alive</p></li>
</ul> </section> </section> <section class="detail"> <h3 class="detail-header" id="init/1">init(options)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/dynamic_supervisor.ex#L604" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec init([init_option()]) :: {:ok, sup_flags()}</pre> </div> <p>Receives a set of <code class="inline">options</code> that initializes a dynamic supervisor.</p>
<p>This is typically invoked at the end of the <a href="#c:init/1"><code class="inline">init/1</code></a> callback of module-based supervisors. See the "Module-based supervisors" section in the module documentation for more information.</p>
<p>It accepts the same <code class="inline">options</code> as <a href="#start_link/1"><code class="inline">start_link/1</code></a> (except for <code class="inline">:name</code>) and it returns a tuple containing the supervisor options.</p>
<h4 id="init/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">def init(_arg) do
  DynamicSupervisor.init(max_children: 1000)
end</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="start_child/2">start_child(supervisor, child_spec)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/dynamic_supervisor.ex#L425" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec start_child(
  Supervisor.supervisor(),
  Supervisor.child_spec()
  | {module(), term()}
  | module()
  | (old_erlang_child_spec :: :supervisor.child_spec())
) :: on_start_child()</pre> </div> <p>Dynamically adds a child specification to <code class="inline">supervisor</code> and starts that child.</p>
<p><code class="inline">child_spec</code> should be a valid child specification as detailed in the "Child specification" section of the documentation for <a href="supervisor"><code class="inline">Supervisor</code></a>. The child process will be started as defined in the child specification. Note that while the <code class="inline">:id</code> field is still required in the spec, the value is ignored and therefore does not need to be unique.</p>
<p>If the child process start function returns <code class="inline">{:ok, child}</code> or <code class="inline">{:ok, child, info}</code>, then child specification and PID are added to the supervisor and this function returns the same value.</p>
<p>If the child process start function returns <code class="inline">:ignore</code>, then no child is added to the supervision tree and this function returns <code class="inline">:ignore</code> too.</p>
<p>If the child process start function returns an error tuple or an erroneous value, or if it fails, the child specification is discarded and this function returns <code class="inline">{:error, error}</code> where <code class="inline">error</code> is the error or erroneous value returned from child process start function, or failure reason if it fails.</p>
<p>If the supervisor already has N children in a way that N exceeds the amount of <code class="inline">:max_children</code> set on the supervisor initialization (see <a href="#init/1"><code class="inline">init/1</code></a>), then this function returns <code class="inline">{:error, :max_children}</code>.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="start_link/1">start_link(options)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/dynamic_supervisor.ex#L351" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec start_link([option() | init_option()]) :: Supervisor.on_start()</pre> </div> <p>Starts a supervisor with the given options.</p>
<p>This function is typically not invoked directly, instead it is invoked when using a <a href="dynamicsupervisor"><code class="inline">DynamicSupervisor</code></a> as a child of another supervisor:</p>
<pre data-language="elixir">children = [
  {DynamicSupervisor, name: MySupervisor}
]</pre>
<p>If the supervisor is successfully spawned, this function returns <code class="inline">{:ok, pid}</code>, where <code class="inline">pid</code> is the PID of the supervisor. If the supervisor is given a name and a process with the specified name already exists, the function returns <code class="inline">{:error, {:already_started, pid}}</code>, where <code class="inline">pid</code> is the PID of that process.</p>
<p>Note that a supervisor started with this function is linked to the parent process and exits not only on crashes but also if the parent process exits with <code class="inline">:normal</code> reason.</p>
<h4 id="start_link/1-options" class="section-heading">  <span class="text">Options</span> </h4> <ul>
<li><p><code class="inline">:name</code> - registers the supervisor under the given name. The supported values are described under the "Name registration" section in the <a href="genserver"><code class="inline">GenServer</code></a> module docs.</p></li>
<li><p><code class="inline">:strategy</code> - the restart strategy option. The only supported value is <code class="inline">:one_for_one</code> which means that no other child is terminated if a child process terminates. You can learn more about strategies in the <a href="supervisor"><code class="inline">Supervisor</code></a> module docs.</p></li>
<li><p><code class="inline">:max_restarts</code> - the maximum number of restarts allowed in a time frame. Defaults to <code class="inline">3</code>.</p></li>
<li><p><code class="inline">:max_seconds</code> - the time frame in which <code class="inline">:max_restarts</code> applies. Defaults to <code class="inline">5</code>.</p></li>
<li><p><code class="inline">:max_children</code> - the maximum amount of children to be running under this supervisor at the same time. When <code class="inline">:max_children</code> is exceeded, <a href="#start_child/2"><code class="inline">start_child/2</code></a> returns <code class="inline">{:error, :max_children}</code>. Defaults to <code class="inline">:infinity</code>.</p></li>
<li><p><code class="inline">:extra_arguments</code> - arguments that are prepended to the arguments specified in the child spec given to <a href="#start_child/2"><code class="inline">start_child/2</code></a>. Defaults to an empty list.</p></li>
</ul> </section> </section> <section class="detail">  <h3 class="detail-header" id="start_link/3">start_link(module, init_arg, opts \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/dynamic_supervisor.ex#L387" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec start_link(module(), term(), [option()]) :: Supervisor.on_start()</pre> </div> <p>Starts a module-based supervisor process with the given <code class="inline">module</code> and <code class="inline">init_arg</code>.</p>
<p>To start the supervisor, the <a href="#c:init/1"><code class="inline">init/1</code></a> callback will be invoked in the given <code class="inline">module</code>, with <code class="inline">init_arg</code> as its argument. The <a href="#c:init/1"><code class="inline">init/1</code></a> callback must return a supervisor specification which can be created with the help of the <a href="#init/1"><code class="inline">init/1</code></a> function.</p>
<p>If the <a href="#c:init/1"><code class="inline">init/1</code></a> callback returns <code class="inline">:ignore</code>, this function returns <code class="inline">:ignore</code> as well and the supervisor terminates with reason <code class="inline">:normal</code>. If it fails or returns an incorrect value, this function returns <code class="inline">{:error, term}</code> where <code class="inline">term</code> is a term with information about the error, and the supervisor terminates with reason <code class="inline">term</code>.</p>
<p>The <code class="inline">:name</code> option can also be given in order to register a supervisor name, the supported values are described in the "Name registration" section in the <a href="genserver"><code class="inline">GenServer</code></a> module docs.</p>
<p>If the supervisor is successfully spawned, this function returns <code class="inline">{:ok, pid}</code>, where <code class="inline">pid</code> is the PID of the supervisor. If the supervisor is given a name and a process with the specified name already exists, the function returns <code class="inline">{:error, {:already_started, pid}}</code>, where <code class="inline">pid</code> is the PID of that process.</p>
<p>Note that a supervisor started with this function is linked to the parent process and exits not only on crashes but also if the parent process exits with <code class="inline">:normal</code> reason.</p> </section> </section> <section class="detail">   <h3 class="detail-header" id="stop/3">stop(supervisor, reason \\ :normal, timeout \\ :infinity)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/dynamic_supervisor.ex#L581" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec stop(Supervisor.supervisor(), reason :: term(), timeout()) :: :ok</pre> </div> <p>Synchronously stops the given supervisor with the given <code class="inline">reason</code>.</p>
<p>It returns <code class="inline">:ok</code> if the supervisor terminates with the given reason. If it terminates with another reason, the call exits.</p>
<p>This function keeps OTP semantics regarding error reporting. If the reason is any other than <code class="inline">:normal</code>, <code class="inline">:shutdown</code> or <code class="inline">{:shutdown, _}</code>, an error report is logged.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="terminate_child/2">terminate_child(supervisor, pid)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/dynamic_supervisor.ex#L508" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec terminate_child(Supervisor.supervisor(), pid()) :: :ok | {:error, :not_found}</pre> </div> <p>Terminates the given child identified by <code class="inline">pid</code>.</p>
<p>If successful, this function returns <code class="inline">:ok</code>. If there is no process with the given PID, this function returns <code class="inline">{:error, :not_found}</code>.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="which_children/1">which_children(supervisor)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/dynamic_supervisor.ex#L537" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec which_children(Supervisor.supervisor()) :: [
  {:undefined, pid() | :restarting, :worker | :supervisor,
   [module()] | :dynamic}
]</pre> </div> <p>Returns a list with information about all children.</p>
<p>Note that calling this function when supervising a large number of children under low memory conditions can cause an out of memory exception.</p>
<p>This function returns a list of tuples containing:</p>
<ul>
<li><p><code class="inline">id</code> - it is always <code class="inline">:undefined</code> for dynamic supervisors</p></li>
<li><p><code class="inline">child</code> - the PID of the corresponding child process or the atom <code class="inline">:restarting</code> if the process is about to be restarted</p></li>
<li><p><code class="inline">type</code> - <code class="inline">:worker</code> or <code class="inline">:supervisor</code> as defined in the child specification</p></li>
<li><p><code class="inline">modules</code> - as defined in the child specification</p></li>
</ul> </section> </section> </div> </section> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/DynamicSupervisor.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/DynamicSupervisor.html</a>
  </p>
</div>
