<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/eex/lib/eex/smart_engine.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">EEx.SmartEngine</span>  </h1> <section id="moduledoc"> <p>The default engine used by EEx.</p>
<p>It includes assigns (like <code class="inline">@foo</code>) and possibly other conveniences in the future.</p>
<h2 id="module-examples" class="section-heading">  <span class="text">Examples</span> </h2> <pre data-language="elixir">iex&gt; EEx.eval_string("&lt;%= @foo %&gt;", assigns: [foo: 1])
"1"</pre>
<p>In the example above, we can access the value <code class="inline">foo</code> under the binding <code class="inline">assigns</code> using <code class="inline">@foo</code>. This is useful because a template, after being compiled, can receive different assigns and would not require recompilation for each variable set.</p>
<p>Assigns can also be used when compiled to a function:</p>
<pre data-language="elixir"># sample.eex
&lt;%= @a + @b %&gt;

# sample.ex
defmodule Sample do
  require EEx
  EEx.function_from_file(:def, :sample, "sample.eex", [:assigns])
end

# iex
Sample.sample(a: 1, b: 2)
#=&gt; "3"</pre> </section> </div> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="eex.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/eex/1.17.2/EEx.SmartEngine.html" class="_attribution-link">https://hexdocs.pm/eex/1.17.2/EEx.SmartEngine.html</a>
  </p>
</div>
