<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/eex/lib/eex.ex#L13" title="View Source" class="source" rel="help">Source</a> <span translate="no">EEx</span>  </h1> <section id="moduledoc"> <p>EEx stands for Embedded Elixir.</p>
<p>Embedded Elixir allows you to embed Elixir code inside a string in a robust way.</p>
<pre data-language="elixir">iex&gt; EEx.eval_string("foo &lt;%= bar %&gt;", bar: "baz")
"foo baz"</pre>
<p>This module provides three main APIs for you to use:</p>
<ol>
<li><p>Evaluate a string (<a href="#eval_string/3"><code class="inline">eval_string/3</code></a>) or a file (<a href="#eval_file/3"><code class="inline">eval_file/3</code></a>) directly. This is the simplest API to use but also the slowest, since the code is evaluated at runtime and not precompiled.</p></li>
<li><p>Define a function from a string (<a href="#function_from_string/5"><code class="inline">function_from_string/5</code></a>) or a file (<a href="#function_from_file/5"><code class="inline">function_from_file/5</code></a>). This allows you to embed the template as a function inside a module which will then be compiled. This is the preferred API if you have access to the template at compilation time.</p></li>
<li><p>Compile a string (<a href="#compile_string/2"><code class="inline">compile_string/2</code></a>) or a file (<a href="#compile_file/2"><code class="inline">compile_file/2</code></a>) into Elixir syntax tree. This is the API used by both functions above and is available to you if you want to provide your own ways of handling the compiled template.</p></li>
</ol>
<p>The APIs above support several options, documented below. You may also pass an engine which customizes how the EEx code is compiled.</p>
<h2 id="module-options" class="section-heading">  <span class="text">Options</span> </h2> <p>All functions in this module, unless otherwise noted, accept EEx-related options. They are:</p>
<ul>
<li><p><code class="inline">:file</code> - the file to be used in the template. Defaults to the given file the template is read from or to <code class="inline">"nofile"</code> when compiling from a string.</p></li>
<li><p><code class="inline">:line</code> - the line to be used as the template start. Defaults to <code class="inline">1</code>.</p></li>
<li><p><code class="inline">:indentation</code> - (since v1.11.0) an integer added to the column after every new line. Defaults to <code class="inline">0</code>.</p></li>
<li><p><code class="inline">:engine</code> - the EEx engine to be used for compilation. Defaults to <a href="eex.smartengine"><code class="inline">EEx.SmartEngine</code></a>.</p></li>
<li><p><code class="inline">:trim</code> - if <code class="inline">true</code>, trims whitespace left and right of quotation as long as at least one newline is present. All subsequent newlines and spaces are removed but one newline is retained. Defaults to <code class="inline">false</code>.</p></li>
<li><p><code class="inline">:parser_options</code> - (since: 1.13.0) allow customizing the parsed code that is generated. See <a href="https://hexdocs.pm/elixir/Code.html#string_to_quoted/2"><code class="inline">Code.string_to_quoted/2</code></a> for available options. Note that the options <code class="inline">:file</code>, <code class="inline">:line</code> and <code class="inline">:column</code> are ignored if passed in. Defaults to <code class="inline">Code.get_compiler_option(:parser_options)</code> (which defaults to <code class="inline">[]</code> if not set).</p></li>
</ul>
<h2 id="module-tags" class="section-heading">  <span class="text">Tags</span> </h2> <p>EEx supports multiple tags, declared below:</p>
<pre data-language="elixir">&lt;% Elixir expression: executes code but discards output %&gt;
&lt;%= Elixir expression: executes code and prints result %&gt;
&lt;%% EEx quotation: returns the contents inside the tag as is %&gt;
&lt;%!-- Comments: they are discarded from source --%&gt;</pre>
<p>EEx supports additional tags, that may be used by some engines, but they do not have a meaning by default:</p>
<pre data-language="elixir">&lt;%| ... %&gt;
&lt;%/ ... %&gt;</pre>
<h2 id="module-engine" class="section-heading">  <span class="text">Engine</span> </h2> <p>EEx has the concept of engines which allows you to modify or transform the code extracted from the given string or file.</p>
<p>By default, <a href="eex"><code class="inline">EEx</code></a> uses the <a href="eex.smartengine"><code class="inline">EEx.SmartEngine</code></a> that provides some conveniences on top of the simple <a href="eex.engine"><code class="inline">EEx.Engine</code></a>.</p>
<h3 id="module-eex-smartengine" class="section-heading">  <span class="text"><a href="eex.smartengine"><code class="inline">EEx.SmartEngine</code></a></span> </h3> <p>The smart engine uses EEx default rules and adds the <code class="inline">@</code> construct for reading template assigns:</p>
<pre data-language="elixir">iex&gt; EEx.eval_string("&lt;%= @foo %&gt;", assigns: [foo: 1])
"1"</pre>
<p>In other words, <code class="inline">&lt;%= @foo %&gt;</code> translates to:</p>
<pre data-language="elixir">&lt;%= {:ok, v} = Access.fetch(assigns, :foo); v %&gt;</pre>
<p>The <code class="inline">assigns</code> extension is useful when the number of variables required by the template is not specified at compilation time.</p> </section> </div> <section id="summary" class="details-list"> <h1 class="section-heading">  <span class="text">Summary</span> </h1> <h2> Types </h2>
<dl class="summary-types summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#t:column/0" data-no-tooltip translate="no">column()</a> </dt> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:line/0" data-no-tooltip translate="no">line()</a> </dt> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:marker/0" data-no-tooltip translate="no">marker()</a> </dt> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:metadata/0" data-no-tooltip translate="no">metadata()</a> </dt> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:token/0" data-no-tooltip translate="no">token()</a> </dt> </div> </dl> <h2> Functions </h2>
<dl class="summary-functions summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#compile_file/2" data-no-tooltip translate="no">compile_file(filename, options \\ [])</a> </dt> <dd class="summary-synopsis"><p>Gets a <code class="inline">filename</code> and generates a quoted expression that can be evaluated by Elixir or compiled to a function.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#compile_string/2" data-no-tooltip translate="no">compile_string(source, options \\ [])</a> </dt> <dd class="summary-synopsis"><p>Gets a string <code class="inline">source</code> and generates a quoted expression that can be evaluated by Elixir or compiled to a function.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#eval_file/3" data-no-tooltip translate="no">eval_file(filename, bindings \\ [], options \\ [])</a> </dt> <dd class="summary-synopsis"><p>Gets a <code class="inline">filename</code> and evaluate the values using the <code class="inline">bindings</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#eval_string/3" data-no-tooltip translate="no">eval_string(source, bindings \\ [], options \\ [])</a> </dt> <dd class="summary-synopsis"><p>Gets a string <code class="inline">source</code> and evaluate the values using the <code class="inline">bindings</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#function_from_file/5" data-no-tooltip translate="no">function_from_file(kind, name, file, args \\ [], options \\ [])</a> </dt> <dd class="summary-synopsis"><p>Generates a function definition from the file contents.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#function_from_string/5" data-no-tooltip translate="no">function_from_string(kind, name, template, args \\ [], options \\ [])</a> </dt> <dd class="summary-synopsis"><p>Generates a function definition from the given string.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#tokenize/2" data-no-tooltip translate="no">tokenize(contents, opts \\ [])</a> </dt> <dd class="summary-synopsis"><p>Tokenize the given contents according to the given options.</p></dd> </div> </dl> </section> <section id="types" class="details-list"> <h1 class="section-heading">  <span class="text">Types</span> </h1> <div class="types-list"> <section class="detail"> <h3 class="detail-header" id="t:column/0">column()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/eex/lib/eex.ex#L108" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type column() :: non_neg_integer()</pre> </div> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:line/0">line()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/eex/lib/eex.ex#L107" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type line() :: non_neg_integer()</pre> </div> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:marker/0">marker()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/eex/lib/eex.ex#L109" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type marker() :: ~c"=" | ~c"/" | ~c"|" | []</pre> </div> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:metadata/0">metadata()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/eex/lib/eex.ex#L110" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type metadata() :: %{column: column(), line: line()}</pre> </div> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:token/0">token()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/eex/lib/eex.ex#L111" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type token() ::
  {:comment, charlist(), metadata()}
  | {:text, charlist(), metadata()}
  | {:expr | :start_expr | :middle_expr | :end_expr, marker(), charlist(),
     metadata()}
  | {:eof, metadata()}</pre> </div> </section> </section> </div> </section> <section id="functions" class="details-list"> <h1 class="section-heading">  <span class="text">Functions</span> </h1> <div class="functions-list"> <section class="detail">  <h3 class="detail-header" id="compile_file/2">compile_file(filename, options \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/eex/lib/eex.ex#L259" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec compile_file(
  Path.t(),
  keyword()
) :: Macro.t()</pre> </div> <p>Gets a <code class="inline">filename</code> and generates a quoted expression that can be evaluated by Elixir or compiled to a function.</p>
<p>This is useful if you want to compile a EEx template into code and inject that code somewhere or evaluate it at runtime.</p>
<p>The generated quoted code will use variables defined in the template that will be taken from the context where the code is evaluated. If you have a template such as <code class="inline">&lt;%= a + b %&gt;</code>, then the returned quoted code will use the <code class="inline">a</code> and <code class="inline">b</code> variables in the context where it's evaluated. See examples below.</p>
<p>The supported <code class="inline">options</code> are described <a href="#module-options">in the module docs</a>.</p>
<h4 id="compile_file/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir"># sample.eex
&lt;%= a + b %&gt;

# In code:
quoted = EEx.compile_file("sample.eex")
{result, _bindings} = Code.eval_quoted(quoted, a: 1, b: 2)
result
#=&gt; "3"</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="compile_string/2">compile_string(source, options \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/eex/lib/eex.ex#L220" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec compile_string(
  String.t(),
  keyword()
) :: Macro.t()</pre> </div> <p>Gets a string <code class="inline">source</code> and generates a quoted expression that can be evaluated by Elixir or compiled to a function.</p>
<p>This is useful if you want to compile a EEx template into code and inject that code somewhere or evaluate it at runtime.</p>
<p>The generated quoted code will use variables defined in the template that will be taken from the context where the code is evaluated. If you have a template such as <code class="inline">&lt;%= a + b %&gt;</code>, then the returned quoted code will use the <code class="inline">a</code> and <code class="inline">b</code> variables in the context where it's evaluated. See examples below.</p>
<p>The supported <code class="inline">options</code> are described <a href="#module-options">in the module docs</a>.</p>
<h4 id="compile_string/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; quoted = EEx.compile_string("&lt;%= a + b %&gt;")
iex&gt; {result, _bindings} = Code.eval_quoted(quoted, a: 1, b: 2)
iex&gt; result
"3"</pre> </section> </section> <section class="detail">   <h3 class="detail-header" id="eval_file/3">eval_file(filename, bindings \\ [], options \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/eex/lib/eex.ex#L299" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec eval_file(Path.t(), keyword(), keyword()) :: String.t()</pre> </div> <p>Gets a <code class="inline">filename</code> and evaluate the values using the <code class="inline">bindings</code>.</p>
<p>The supported <code class="inline">options</code> are described <a href="#module-options">in the module docs</a>.</p>
<h4 id="eval_file/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir"># sample.eex
foo &lt;%= bar %&gt;

# IEx
EEx.eval_file("sample.eex", bar: "baz")
#=&gt; "foo baz"</pre> </section> </section> <section class="detail">   <h3 class="detail-header" id="eval_string/3">eval_string(source, bindings \\ [], options \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/eex/lib/eex.ex#L277" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec eval_string(String.t(), keyword(), keyword()) :: String.t()</pre> </div> <p>Gets a string <code class="inline">source</code> and evaluate the values using the <code class="inline">bindings</code>.</p>
<p>The supported <code class="inline">options</code> are described <a href="#module-options">in the module docs</a>.</p>
<h4 id="eval_string/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; EEx.eval_string("foo &lt;%= bar %&gt;", bar: "baz")
"foo baz"</pre> </section> </section> <section class="detail">   <h3 class="detail-header" id="function_from_file/5">function_from_file(kind, name, file, args \\ [], options \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/eex/lib/eex.ex#L181" class="source">Source</a>
</h3> <section class="docstring"> <p>Generates a function definition from the file contents.</p>
<p>The first argument is the kind of the generated function (<code class="inline">:def</code> or <code class="inline">:defp</code>). The <code class="inline">name</code> argument is the name that the generated function will have. <code class="inline">file</code> is the path to the EEx template file. <code class="inline">args</code> is a list of arguments that the generated function will accept. They will be available inside the EEx template.</p>
<p>This function is useful in case you have templates but you want to precompile inside a module for speed.</p>
<p>The supported <code class="inline">options</code> are described <a href="#module-options">in the module docs</a>.</p>
<h4 id="function_from_file/5-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir"># sample.eex
&lt;%= a + b %&gt;

# sample.ex
defmodule Sample do
  require EEx
  EEx.function_from_file(:def, :sample, "sample.eex", [:a, :b])
end

# iex
Sample.sample(1, 2)
#=&gt; "3"</pre> </section> </section> <section class="detail">   <h3 class="detail-header" id="function_from_string/5">function_from_string(kind, name, template, args \\ [], options \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/eex/lib/eex.ex#L138" class="source">Source</a>
</h3> <section class="docstring"> <p>Generates a function definition from the given string.</p>
<p>The first argument is the kind of the generated function (<code class="inline">:def</code> or <code class="inline">:defp</code>). The <code class="inline">name</code> argument is the name that the generated function will have. <code class="inline">template</code> is the string containing the EEx template. <code class="inline">args</code> is a list of arguments that the generated function will accept. They will be available inside the EEx template.</p>
<p>The supported <code class="inline">options</code> are described <a href="#module-options">in the module docs</a>.</p>
<h4 id="function_from_string/5-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; defmodule Sample do
...&gt;   require EEx
...&gt;   EEx.function_from_string(:def, :sample, "&lt;%= a + b %&gt;", [:a, :b])
...&gt; end
iex&gt; Sample.sample(1, 2)
"3"</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="tokenize/2">tokenize(contents, opts \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/eex/lib/eex.ex#L340" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec tokenize([char()] | String.t(), opts :: keyword()) ::
  {:ok, [token()]} | {:error, String.t(), metadata()}</pre> </div> <p>Tokenize the given contents according to the given options.</p>
<h4 id="tokenize/2-options" class="section-heading">  <span class="text">Options</span> </h4> <ul>
<li>
<code class="inline">:line</code> - An integer to start as line. Default is 1.</li>
<li>
<code class="inline">:column</code> - An integer to start as column. Default is 1.</li>
<li>
<code class="inline">:indentation</code> - An integer that indicates the indentation. Default is 0.</li>
<li>
<code class="inline">:trim</code> - Tells the tokenizer to either trim the content or not. Default is false.</li>
<li>
<code class="inline">:file</code> - Can be either a file or a string "nofile".</li>
</ul>
<h4 id="tokenize/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; EEx.tokenize(~c"foo", line: 1, column: 1)
{:ok, [{:text, ~c"foo", %{column: 1, line: 1}}, {:eof, %{column: 4, line: 1}}]}</pre>
<h4 id="tokenize/2-result" class="section-heading">  <span class="text">Result</span> </h4> <p>It returns <code class="inline">{:ok, [token]}</code> where a token is one of:</p>
<ul>
<li><code class="inline">{:text, content, %{column: column, line: line}}</code></li>
<li><code class="inline">{:expr, marker, content, %{column: column, line: line}}</code></li>
<li><code class="inline">{:start_expr, marker, content, %{column: column, line: line}}</code></li>
<li><code class="inline">{:middle_expr, marker, content, %{column: column, line: line}}</code></li>
<li><code class="inline">{:end_expr, marker, content, %{column: column, line: line}}</code></li>
<li><code class="inline">{:eof, %{column: column, line: line}}</code></li>
</ul>
<p>Or <code class="inline">{:error, message, %{column: column, line: line}}</code> in case of errors. Note new tokens may be added in the future.</p> </section> </section> </div> </section> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="eex.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/eex/1.17.2/EEx.html" class="_attribution-link">https://hexdocs.pm/eex/1.17.2/EEx.html</a>
  </p>
</div>
