<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/pages/getting-started/enumerable-and-streams.md#L1" title="View Source" class="source" rel="help">Source</a> <span>Enumerables and Streams</span> </h1> <p>While Elixir allows us to write recursive code, most operations we perform on collections is done with the help of the <a href="enum"><code class="inline">Enum</code></a> and <a href="stream"><code class="inline">Stream</code></a> modules. Let's learn how.</p>
<h2 id="enumerables" class="section-heading">  <span class="text">Enumerables</span> </h2> <p>Elixir provides the concept of enumerables and the <a href="enum"><code class="inline">Enum</code></a> module to work with them. We have already learned two enumerables: lists and maps.</p>
<pre data-language="elixir">iex&gt; Enum.map([1, 2, 3], fn x -&gt; x * 2 end)
[2, 4, 6]
iex&gt; Enum.map(%{1 =&gt; 2, 3 =&gt; 4}, fn {k, v} -&gt; k * v end)
[2, 12]</pre>
<p>The <a href="enum"><code class="inline">Enum</code></a> module provides a huge range of functions to transform, sort, group, filter and retrieve items from enumerables. It is one of the modules developers use frequently in their Elixir code. For a general overview of all functions in the <a href="enum"><code class="inline">Enum</code></a> module, see <a href="enum-cheat">the <code class="inline">Enum</code> cheatsheet</a>.</p>
<p>Elixir also provides ranges (see <a href="range"><code class="inline">Range</code></a>), which are also enumerable:</p>
<pre data-language="elixir">iex&gt; Enum.map(1..3, fn x -&gt; x * 2 end)
[2, 4, 6]
iex&gt; Enum.reduce(1..3, 0, &amp;+/2)
6</pre>
<p>The functions in the <a href="enum"><code class="inline">Enum</code></a> module are limited to, as the name says, enumerating values in data structures. For specific operations, like inserting and updating particular elements, you may need to reach for modules specific to the data type. For example, if you want to insert an element at a given position in a list, you should use the <a href="list#insert_at/3"><code class="inline">List.insert_at/3</code></a> function, as it would make little sense to insert a value into, for example, a range.</p>
<p>We say the functions in the <a href="enum"><code class="inline">Enum</code></a> module are polymorphic because they can work with diverse data types. In particular, the functions in the <a href="enum"><code class="inline">Enum</code></a> module can work with any data type that implements the <a href="enumerable"><code class="inline">Enumerable</code></a> protocol. We are going to discuss Protocols in a later chapter, for now we are going to move on to a specific kind of enumerable called a stream.</p>
<h2 id="eager-vs-lazy" class="section-heading">  <span class="text">Eager vs Lazy</span> </h2> <p>All the functions in the <a href="enum"><code class="inline">Enum</code></a> module are eager. Many functions expect an enumerable and return a list back:</p>
<pre data-language="elixir">iex&gt; odd? = fn x -&gt; rem(x, 2) != 0 end
#Function&lt;6.80484245/1 in :erl_eval.expr/5&gt;
iex&gt; Enum.filter(1..3, odd?)
[1, 3]</pre>
<p>This means that when performing multiple operations with <a href="enum"><code class="inline">Enum</code></a>, each operation is going to generate an intermediate list until we reach the result:</p>
<pre data-language="elixir">iex&gt; 1..100_000 |&gt; Enum.map(&amp;(&amp;1 * 3)) |&gt; Enum.filter(odd?) |&gt; Enum.sum()
7500000000</pre>
<p>The example above has a pipeline of operations. We start with a range and then multiply each element in the range by 3. This first operation will now create and return a list with <code class="inline">100_000</code> items. Then we keep all odd elements from the list, generating a new list, now with <code class="inline">50_000</code> items, and then we sum all entries.</p>
<h2 id="the-pipe-operator" class="section-heading">  <span class="text">The pipe operator</span> </h2> <p>The <code class="inline">|&gt;</code> symbol used in the snippet above is the <strong>pipe operator</strong>: it takes the output from the expression on its left side and passes it as the first argument to the function call on its right side. Its purpose is to highlight the data being transformed by a series of functions. To see how it can make the code cleaner, have a look at the example above rewritten without using the <code class="inline">|&gt;</code> operator:</p>
<pre data-language="elixir">iex&gt; Enum.sum(Enum.filter(Enum.map(1..100_000, &amp;(&amp;1 * 3)), odd?))
7500000000</pre>
<p>Find more about the pipe operator <a href="kernel#%7C%3E/2">by reading its documentation</a>.</p>
<h2 id="streams" class="section-heading">  <span class="text">Streams</span> </h2> <p>As an alternative to <a href="enum"><code class="inline">Enum</code></a>, Elixir provides the <a href="stream"><code class="inline">Stream</code></a> module which supports lazy operations:</p>
<pre data-language="elixir">iex&gt; 1..100_000 |&gt; Stream.map(&amp;(&amp;1 * 3)) |&gt; Stream.filter(odd?) |&gt; Enum.sum()
7500000000</pre>
<p>Streams are lazy, composable enumerables.</p>
<p>In the example above, <code class="inline">1..100_000 |&gt; Stream.map(&amp;(&amp;1 * 3))</code> returns a data type, an actual stream, that represents the <code class="inline">map</code> computation over the range <code class="inline">1..100_000</code>:</p>
<pre data-language="elixir">iex&gt; 1..100_000 |&gt; Stream.map(&amp;(&amp;1 * 3))
#Stream&lt;[enum: 1..100000, funs: [#Function&lt;34.16982430/1 in Stream.map/2&gt;]]&gt;</pre>
<p>Furthermore, they are composable because we can pipe many stream operations:</p>
<pre data-language="elixir">iex&gt; 1..100_000 |&gt; Stream.map(&amp;(&amp;1 * 3)) |&gt; Stream.filter(odd?)
#Stream&lt;[enum: 1..100000, funs: [...]]&gt;</pre>
<p>Instead of generating intermediate lists, streams build a series of computations that are invoked only when we pass the underlying stream to the <a href="enum"><code class="inline">Enum</code></a> module. Streams are useful when working with large, <em>possibly infinite</em>, collections.</p>
<p>Many functions in the <a href="stream"><code class="inline">Stream</code></a> module accept any enumerable as an argument and return a stream as a result. It also provides functions for creating streams. For example, <a href="stream#cycle/1"><code class="inline">Stream.cycle/1</code></a> can be used to create a stream that cycles a given enumerable infinitely. Be careful to not call a function like <a href="enum#map/2"><code class="inline">Enum.map/2</code></a> on such streams, as they would cycle forever:</p>
<pre data-language="elixir">iex&gt; stream = Stream.cycle([1, 2, 3])
#Function&lt;15.16982430/2 in Stream.unfold/2&gt;
iex&gt; Enum.take(stream, 10)
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1]</pre>
<p>On the other hand, <a href="stream#unfold/2"><code class="inline">Stream.unfold/2</code></a> can be used to generate values from a given initial value:</p>
<pre data-language="elixir">iex&gt; stream = Stream.unfold("hełło", &amp;String.next_codepoint/1)
#Function&lt;39.75994740/2 in Stream.unfold/2&gt;
iex&gt; Enum.take(stream, 3)
["h", "e", "ł"]</pre>
<p>Another interesting function is <a href="stream#resource/3"><code class="inline">Stream.resource/3</code></a> which can be used to wrap around resources, guaranteeing they are opened right before enumeration and closed afterwards, even in the case of failures. For example, <a href="file#stream!/1"><code class="inline">File.stream!/1</code></a> builds on top of <a href="stream#resource/3"><code class="inline">Stream.resource/3</code></a> to stream files:</p>
<pre data-language="elixir">iex&gt; stream = File.stream!("path/to/file")
%File.Stream{
  line_or_bytes: :line,
  modes: [:raw, :read_ahead, :binary],
  path: "path/to/file",
  raw: true
}
iex&gt; Enum.take(stream, 10)</pre>
<p>The example above will fetch the first 10 lines of the file you have selected. This means streams can be very useful for handling large files or even slow resources like network resources.</p>
<p>The <a href="enum"><code class="inline">Enum</code></a> and <a href="stream"><code class="inline">Stream</code></a> modules provide a wide range of functions, but you don't have to know all of them by heart. Familiarize yourself with <a href="enum#map/2"><code class="inline">Enum.map/2</code></a>, <a href="enum#reduce/3"><code class="inline">Enum.reduce/3</code></a> and other functions with either <code class="inline">map</code> or <code class="inline">reduce</code> in their names, and you will naturally build an intuition around the most important use cases. You may also focus on the <a href="enum"><code class="inline">Enum</code></a> module first and only move to <a href="stream"><code class="inline">Stream</code></a> for the particular scenarios where laziness is required, to either deal with slow resources or large, possibly infinite, collections.</p>
<p>Next, we'll look at a feature central to Elixir, Processes, which allows us to write concurrent, parallel and distributed programs in an easy and understandable way.</p> </div> <div class="bottom-actions" id="bottom-actions"> <div class="bottom-actions-item"> <a href="recursion" class="bottom-actions-button" rel="prev"> <span class="subheader"> ← Previous Page </span> <span class="title"> Recursion </span> </a> </div> <div class="bottom-actions-item"> <a href="processes" class="bottom-actions-button" rel="next"> <span class="subheader"> Next Page → </span> <span class="title"> Processes </span> </a> </div> </div> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/enumerable-and-streams.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/enumerable-and-streams.html</a>
  </p>
</div>
