<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/pages/getting-started/erlang-libraries.md#L1" title="View Source" class="source" rel="help">Source</a> <span>Erlang libraries</span> </h1> <p>Elixir provides excellent interoperability with Erlang libraries. In fact, Elixir discourages simply wrapping Erlang libraries in favor of directly interfacing with Erlang code. In this section, we will present some of the most common and useful Erlang functionality that is not found in Elixir.</p>
<p>Erlang modules have a different naming convention than in Elixir and start in lowercase. In both cases, module names are atoms and we invoke functions by dispatching to the module name:</p>
<pre data-language="elixir">iex&gt; is_atom(String)
true
iex&gt; String.first("hello")
"h"
iex&gt; is_atom(:binary)
true
iex&gt; :binary.first("hello")
104</pre>
<p>As you grow more proficient in Elixir, you may want to explore the Erlang <a href="http://www.erlang.org/doc/apps/stdlib/index.html">STDLIB Reference Manual</a> in more detail.</p>
<h2 id="the-binary-module" class="section-heading">  <span class="text">The binary module</span> </h2> <p>The built-in Elixir String module handles binaries that are UTF-8 encoded. <a href="https://www.erlang.org/doc/apps/stdlib/binary.html">The <code class="inline">:binary</code> module</a> is useful when you are dealing with binary data that is not necessarily UTF-8 encoded.</p>
<pre data-language="elixir">iex&gt; String.to_charlist("Ø")
[216]
iex&gt; :binary.bin_to_list("Ø")
[195, 152]</pre>
<p>The above example shows the difference; the <a href="string"><code class="inline">String</code></a> module returns Unicode codepoints, while <code class="inline">:binary</code> deals with raw data bytes.</p>
<h2 id="formatted-text-output" class="section-heading">  <span class="text">Formatted text output</span> </h2> <p>Elixir does not contain a function similar to <code class="inline">printf</code> found in C and other languages. Luckily, the Erlang standard library functions <a href="https://www.erlang.org/doc/apps/stdlib/io.html#format/2"><code class="inline">:io.format/2</code></a> and <a href="https://www.erlang.org/doc/apps/stdlib/io_lib.html#format/2"><code class="inline">:io_lib.format/2</code></a> may be used. The first formats to terminal output, while the second formats to an iolist. The format specifiers differ from <code class="inline">printf</code>, <a href="https://www.erlang.org/doc/apps/stdlib/io.html#format/2">refer to the Erlang documentation for details</a>.</p>
<pre data-language="elixir">iex&gt; :io.format("Pi is approximately given by:~10.3f~n", [:math.pi])
Pi is approximately given by:     3.142
:ok
iex&gt; to_string(:io_lib.format("Pi is approximately given by:~10.3f~n", [:math.pi]))
"Pi is approximately given by:     3.142\n"</pre>
<h2 id="the-crypto-module" class="section-heading">  <span class="text">The crypto module</span> </h2> <p><a href="https://www.erlang.org/doc/apps/crypto/crypto.html">The <code class="inline">:crypto</code> module</a> contains hashing functions, digital signatures, encryption and more:</p>
<pre data-language="elixir">iex&gt; Base.encode16(:crypto.hash(:sha256, "Elixir"))
"3315715A7A3AD57428298676C5AE465DADA38D951BDFAC9348A8A31E9C7401CB"</pre>
<p>The <code class="inline">:crypto</code> module is part of the <code class="inline">:crypto</code> application that ships with Erlang. This means you must list the <code class="inline">:crypto</code> application as an additional application in your project configuration. To do this, edit your <code class="inline">mix.exs</code> file to include:</p>
<pre data-language="elixir">def application do
  [extra_applications: [:crypto]]
end</pre>
<p>Any module that is not part of the <code class="inline">:kernel</code> or <code class="inline">:stdlib</code> Erlang applications must have their application explicitly listed in your <code class="inline">mix.exs</code>. You can find the application name of any Erlang module in the Erlang documentation, immediately below the Erlang logo in the sidebar.</p>
<h2 id="the-digraph-module" class="section-heading">  <span class="text">The digraph module</span> </h2> <p>The <a href="https://www.erlang.org/doc/apps/stdlib/digraph.html"><code class="inline">:digraph</code></a> and <a href="https://www.erlang.org/doc/apps/stdlib/digraph_utils.html"><code class="inline">:digraph_utils</code></a> modules contain functions for dealing with directed graphs built of vertices and edges. After constructing the graph, the algorithms in there will help find, for instance, the shortest path between two vertices, or loops in the graph.</p>
<p>Given three vertices, find the shortest path from the first to the last.</p>
<pre data-language="elixir">iex&gt; digraph = :digraph.new()
iex&gt; coords = [{0.0, 0.0}, {1.0, 0.0}, {1.0, 1.0}]
iex&gt; [v0, v1, v2] = (for c &lt;- coords, do: :digraph.add_vertex(digraph, c))
iex&gt; :digraph.add_edge(digraph, v0, v1)
iex&gt; :digraph.add_edge(digraph, v1, v2)
iex&gt; :digraph.get_short_path(digraph, v0, v2)
[{0.0, 0.0}, {1.0, 0.0}, {1.0, 1.0}]</pre>
<p>Note that the functions in <code class="inline">:digraph</code> alter the graph structure in-place, this is possible because they are implemented as ETS tables, explained next.</p>
<h2 id="erlang-term-storage" class="section-heading">  <span class="text">Erlang Term Storage</span> </h2> <p>The modules <a href="https://www.erlang.org/doc/apps/stdlib/ets.html"><code class="inline">:ets</code></a> and <a href="https://www.erlang.org/doc/apps/stdlib/dets.html"><code class="inline">:dets</code></a> handle storage of large data structures in memory or on disk respectively.</p>
<p>ETS lets you create a table containing tuples. By default, ETS tables are protected, which means only the owner process may write to the table but any other process can read. ETS has some functionality to allow a table to be used as a simple database, a key-value store or as a cache mechanism.</p>
<p>The functions in the <code class="inline">ets</code> module will modify the state of the table as a side-effect.</p>
<pre data-language="elixir">iex&gt; table = :ets.new(:ets_test, [])
# Store as tuples with {name, population}
iex&gt; :ets.insert(table, {"China", 1_374_000_000})
iex&gt; :ets.insert(table, {"India", 1_284_000_000})
iex&gt; :ets.insert(table, {"USA", 322_000_000})
iex&gt; :ets.i(table)
&lt;1   &gt; {&lt;&lt;"India"&gt;&gt;,1284000000}
&lt;2   &gt; {&lt;&lt;"USA"&gt;&gt;,322000000}
&lt;3   &gt; {&lt;&lt;"China"&gt;&gt;,1374000000}</pre>
<h2 id="the-math-module" class="section-heading">  <span class="text">The math module</span> </h2> <p>The <a href="https://www.erlang.org/doc/apps/stdlib/math.html"><code class="inline">:math</code></a> module contains common mathematical operations covering trigonometry, exponential, and logarithmic functions.</p>
<pre data-language="elixir">iex&gt; angle_45_deg = :math.pi() * 45.0 / 180.0
iex&gt; :math.sin(angle_45_deg)
0.7071067811865475
iex&gt; :math.exp(55.0)
7.694785265142018e23
iex&gt; :math.log(7.694785265142018e23)
55.0</pre>
<h2 id="the-queue-module" class="section-heading">  <span class="text">The queue module</span> </h2> <p>The <a href="https://www.erlang.org/doc/apps/stdlib/queue.html"><code class="inline">:queue</code></a> module provides a data structure that implements (double-ended) FIFO (first-in first-out) queues efficiently:</p>
<pre data-language="elixir">iex&gt; q = :queue.new
iex&gt; q = :queue.in("A", q)
iex&gt; q = :queue.in("B", q)
iex&gt; {value, q} = :queue.out(q)
iex&gt; value
{:value, "A"}
iex&gt; {value, q} = :queue.out(q)
iex&gt; value
{:value, "B"}
iex&gt; {value, q} = :queue.out(q)
iex&gt; value
:empty</pre>
<h2 id="the-rand-module" class="section-heading">  <span class="text">The rand module</span> </h2> <p>The <a href="https://www.erlang.org/doc/apps/stdlib/rand.html"><code class="inline">:rand</code></a> has functions for returning random values and setting the random seed.</p>
<pre data-language="elixir">iex&gt; :rand.uniform()
0.8175669086010815
iex&gt; _ = :rand.seed(:exs1024, {123, 123534, 345345})
iex&gt; :rand.uniform()
0.5820506340260994
iex&gt; :rand.uniform(6)
6</pre>
<h2 id="the-zip-and-zlib-modules" class="section-heading">  <span class="text">The zip and zlib modules</span> </h2> <p>The <a href="https://www.erlang.org/doc/apps/stdlib/zip.html"><code class="inline">:zip</code></a> module lets you read and write ZIP files to and from disk or memory, as well as extracting file information.</p>
<p>This code counts the number of files in a ZIP file:</p>
<pre data-language="elixir">iex&gt; :zip.foldl(fn _, _, _, acc -&gt; acc + 1 end, 0, :binary.bin_to_list("file.zip"))
{:ok, 633}</pre>
<p>The <a href="https://www.erlang.org/doc/apps/erts/zlib.html"><code class="inline">:zlib</code></a> module deals with data compression in zlib format, as found in the <code class="inline">gzip</code> command line utility found in Unix systems.</p>
<pre data-language="elixir">iex&gt; song = "
...&gt; Mary had a little lamb,
...&gt; His fleece was white as snow,
...&gt; And everywhere that Mary went,
...&gt; The lamb was sure to go."
iex&gt; compressed = :zlib.compress(song)
iex&gt; byte_size(song)
110
iex&gt; byte_size(compressed)
99
iex&gt; :zlib.uncompress(compressed)
"\nMary had a little lamb,\nHis fleece was white as snow,\nAnd everywhere that Mary went,\nThe lamb was sure to go."</pre>
<h2 id="learning-erlang" class="section-heading">  <span class="text">Learning Erlang</span> </h2> <p>If you want to get deeper into Erlang, here's a list of online resources that cover Erlang's fundamentals and its more advanced features:</p>
<ul>
<li><p>This <a href="https://elixir-lang.org/crash-course.html">Erlang Syntax: A Crash Course</a> provides a concise intro to Erlang's syntax. Each code snippet is accompanied by equivalent code in Elixir. This is an opportunity for you to not only get some exposure to Erlang's syntax but also review what you learned about Elixir.</p></li>
<li><p>Erlang's official website has a short <a href="https://www.erlang.org/course">tutorial</a>. There is a chapter with pictures briefly describing Erlang's primitives for <a href="https://www.erlang.org/course/concurrent_programming.html">concurrent programming</a>.</p></li>
<li><p><a href="http://learnyousomeerlang.com/">Learn You Some Erlang for Great Good!</a> is an excellent introduction to Erlang, its design principles, standard library, best practices, and much more. Once you have read through the crash course mentioned above, you'll be able to safely skip the first couple of chapters in the book that mostly deal with the syntax. When you reach <a href="http://learnyousomeerlang.com/the-hitchhikers-guide-to-concurrency">The Hitchhiker's Guide to Concurrency</a> chapter, that's where the real fun starts.</p></li>
</ul>
<p>Our last step is to take a look at existing Elixir (and Erlang) libraries you might use while debugging.</p> </div> <div class="bottom-actions" id="bottom-actions"> <div class="bottom-actions-item"> <a href="optional-syntax" class="bottom-actions-button" rel="prev"> <span class="subheader"> ← Previous Page </span> <span class="title"> Optional syntax sheet </span> </a> </div> <div class="bottom-actions-item"> <a href="debugging" class="bottom-actions-button" rel="next"> <span class="subheader"> Next Page → </span> <span class="title"> Debugging </span> </a> </div> </div> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/erlang-libraries.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/erlang-libraries.html</a>
  </p>
</div>
