<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/ex_unit/lib/ex_unit/doc_test.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">ExUnit.DocTest</span>  </h1> <section id="moduledoc"> <p>Extract test cases from the documentation.</p>
<p>Doctests allow us to generate tests from code examples found in <code class="inline">@moduledoc</code> and <code class="inline">@doc</code> attributes. To do this, invoke the <a href="#doctest/1"><code class="inline">doctest/1</code></a> macro from within your test case and ensure your code examples are written according to the syntax and guidelines below.</p>
<h2 id="module-syntax" class="section-heading">  <span class="text">Syntax</span> </h2> <p>Every new test starts on a new line, with an <code class="inline">iex&gt;</code> prefix. Multiline expressions can be used by prefixing subsequent lines with either <code class="inline">...&gt;</code> (recommended) or <code class="inline">iex&gt;</code>.</p>
<p>The expected result should start the line after the <code class="inline">iex&gt;</code> and <code class="inline">...&gt;</code> line(s) and be terminated by a newline.</p>
<h2 id="module-examples" class="section-heading">  <span class="text">Examples</span> </h2> <p>To run doctests include them in an ExUnit case with a <code class="inline">doctest</code> macro:</p>
<pre data-language="elixir">defmodule MyModuleTest do
  use ExUnit.Case, async: true
  doctest MyModule
end</pre>
<p>The <code class="inline">doctest</code> macro loops through all functions and macros defined in <code class="inline">MyModule</code>, parsing their documentation in search of code examples.</p>
<p>A very basic example is:</p>
<pre data-language="elixir">iex&gt; 1 + 1
2</pre>
<p>Expressions on multiple lines are also supported:</p>
<pre data-language="elixir">iex&gt; Enum.map([1, 2, 3], fn x -&gt;
...&gt;   x * 2
...&gt; end)
[2, 4, 6]</pre>
<p>Multiple results can be checked within the same test:</p>
<pre data-language="elixir">iex&gt; a = 1
1
iex&gt; a + 1
2</pre>
<p>If you want to keep any two tests separate, add an empty line between them:</p>
<pre data-language="elixir">iex&gt; a = 1
1

iex&gt; a + 1 # will fail with a `undefined variable "a"` error
2</pre>
<p>If you don't want to assert for every result in a doctest, you can omit the result. You can do so between expressions:</p>
<pre data-language="elixir">iex&gt; pid = spawn(fn -&gt; :ok end)
iex&gt; is_pid(pid)
true</pre>
<p>As well as at the end:</p>
<pre data-language="elixir">iex&gt; Mod.do_a_call_that_should_not_raise!(...)</pre>
<p>This is useful when the result is something variable (like a PID in the example above) or when the result is a complicated data structure and you don't want to show it all, but just parts of it or some of its properties.</p>
<p>Similarly to IEx you can use numbers in your "prompts":</p>
<pre data-language="elixir">iex(1)&gt; [1 + 2,
...(1)&gt;  3]
[3, 3]</pre>
<p>This is useful in two cases:</p>
<ul>
<li>being able to refer to specific numbered scenarios</li>
<li>copy-pasting examples from an actual IEx session</li>
</ul>
<p>You can also select or skip functions when calling <code class="inline">doctest</code>. See the documentation on the <code class="inline">:except</code> and <code class="inline">:only</code> options below for more information.</p>
<h2 id="module-opaque-types" class="section-heading">  <span class="text">Opaque types</span> </h2> <p>Some types' internal structures are kept hidden and instead show a user-friendly structure when inspected. The idiom in Elixir is to print those data types in the format <code class="inline">#Name&lt;...&gt;</code>. Because those values are treated as comments in Elixir code due to the leading <code class="inline">#</code> sign, they require special care when being used in doctests.</p>
<p>Imagine you have a map that contains a <a href="https://hexdocs.pm/elixir/DateTime.html"><code class="inline">DateTime</code></a> and is printed as:</p>
<pre data-language="elixir">%{datetime: #DateTime&lt;2023-06-26 09:30:00+09:00 JST Asia/Tokyo&gt;}</pre>
<p>If you try to match on such an expression, <code class="inline">doctest</code> will fail to compile. There are two ways to resolve this.</p>
<p>The first is to rely on the fact that doctest can compare internal structures as long as they are at the root. So one could write:</p>
<pre data-language="elixir">iex&gt; map = %{datetime: DateTime.from_naive!(~N[2023-06-26T09:30:00], "Asia/Tokyo")}
iex&gt; map.datetime
#DateTime&lt;2023-06-26 09:30:00+09:00 JST Asia/Tokyo&gt;</pre>
<p>Whenever a doctest starts with "#Name&lt;", <code class="inline">doctest</code> will perform a string comparison. For example, the above test will perform the following match:</p>
<pre data-language="elixir">inspect(map.datetime) == "#DateTime&lt;2023-06-26 09:30:00+09:00 JST Asia/Tokyo&gt;"</pre>
<p>Alternatively, since doctest results are actually evaluated, you can have the <a href="https://hexdocs.pm/elixir/DateTime.html"><code class="inline">DateTime</code></a> building expression as the doctest result:</p>
<pre data-language="elixir">iex&gt; %{datetime: DateTime.from_naive!(~N[2023-06-26T09:30:00], "Asia/Tokyo")}
%{datetime: DateTime.from_naive!(~N[2023-06-26T09:30:00], "Asia/Tokyo")}</pre>
<p>The downside of this approach is that the doctest result is not really what users would see in the terminal.</p>
<h2 id="module-exceptions" class="section-heading">  <span class="text">Exceptions</span> </h2> <p>You can also showcase expressions raising an exception, for example:</p>
<pre data-language="elixir">iex(1)&gt; raise "some error"
** (RuntimeError) some error</pre>
<p>Doctest will look for a line starting with <code class="inline">** (</code> and it will parse it accordingly to extract the exception name and message. The exception parser will consider all following lines part of the exception message until there is an empty line or there is a new expression prefixed with <code class="inline">iex&gt;</code>. Therefore, it is possible to match on multiline messages as long as there are no empty lines on the message itself.</p>
<h2 id="module-when-not-to-use-doctest" class="section-heading">  <span class="text">When not to use doctest</span> </h2> <p>In general, doctests are not recommended when your code examples contain side effects. For example, if a doctest prints to standard output, doctest will not try to capture the output.</p>
<p>Similarly, doctests do not run in any kind of sandbox. So any module defined in a code example is going to linger throughout the whole test suite run.</p> </section> </div> <section id="summary" class="details-list"> <h1 class="section-heading">  <span class="text">Summary</span> </h1> <h2> Functions </h2>
<dl class="summary-functions summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#doctest/2" data-no-tooltip translate="no">doctest(module, opts \\ [])</a> </dt> <dd class="summary-synopsis"><p>Generate test cases from module documentation.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#doctest_file/2" data-no-tooltip translate="no">doctest_file(file, opts \\ [])</a> </dt> <dd class="summary-synopsis"><p>Generate test cases from a markdown file.</p></dd> </div> </dl> </section> <section id="functions" class="details-list"> <h1 class="section-heading">  <span class="text">Functions</span> </h1> <div class="functions-list"> <section class="detail">  <h3 class="detail-header" id="doctest/2">doctest(module, opts \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/ex_unit/lib/ex_unit/doc_test.ex#L204" class="source">Source</a>
</h3> <section class="docstring"> <p>Generate test cases from module documentation.</p>
<p>Calling <code class="inline">doctest(Module)</code> will generate tests for all doctests found in the <code class="inline">module</code>.</p>
<h4 id="doctest/2-options" class="section-heading">  <span class="text">Options</span> </h4> <ul>
<li><p><code class="inline">:except</code> - generates tests for all functions except those listed (list of <code class="inline">{function, arity}</code> tuples, and/or <code class="inline">:moduledoc</code>).</p></li>
<li><p><code class="inline">:only</code> - generates tests only for functions listed (list of <code class="inline">{function, arity}</code> tuples, and/or <code class="inline">:moduledoc</code>).</p></li>
<li><p><code class="inline">:import</code> - when <code class="inline">true</code>, one can test a function defined in the module without referring to the module name. However, this is not feasible when there is a clash with a module like <a href="https://hexdocs.pm/elixir/Kernel.html"><code class="inline">Kernel</code></a>. In these cases, <code class="inline">:import</code> should be set to <code class="inline">false</code> and <code class="inline">Module.function(...)</code> should be used instead.</p></li>
<li><p><code class="inline">:tags</code> - a list of tags to apply to all generated doctests.</p></li>
</ul>
<h4 id="doctest/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">defmodule MyModuleTest do
  use ExUnit.Case
  doctest MyModule, except: [:moduledoc, trick_fun: 1]
end</pre>
<p>This macro is auto-imported with every <a href="exunit.case"><code class="inline">ExUnit.Case</code></a>.</p> </section> </section> <section class="detail">  <h3 class="detail-header" id="doctest_file/2">doctest_file(file, opts \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/ex_unit/lib/ex_unit/doc_test.ex#L250" class="source">Source</a>
</h3> <section class="docstring"> <p>Generate test cases from a markdown file.</p>
<h4 id="doctest_file/2-options" class="section-heading">  <span class="text">Options</span> </h4> <ul><li>
<code class="inline">:tags</code> - a list of tags to apply to all generated doctests.</li></ul>
<h4 id="doctest_file/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">defmodule ReadmeTest do
  use ExUnit.Case
  doctest_file "README.md"
end</pre>
<p>This macro is auto-imported with every <a href="exunit.case"><code class="inline">ExUnit.Case</code></a>.</p> </section> </section> </div> </section> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="exunit.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/ex_unit/1.17.2/ExUnit.DocTest.html" class="_attribution-link">https://hexdocs.pm/ex_unit/1.17.2/ExUnit.DocTest.html</a>
  </p>
</div>
