<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/ex_unit/lib/ex_unit.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">ExUnit</span>  </h1> <section id="moduledoc"> <p>Unit testing framework for Elixir.</p>
<h2 id="module-example" class="section-heading">  <span class="text">Example</span> </h2> <p>A basic setup for ExUnit is shown below:</p>
<pre data-language="elixir"># File: assertion_test.exs

# 1) Start ExUnit.
ExUnit.start()

# 2) Create a new test module (test case) and use "ExUnit.Case".
defmodule AssertionTest do
  # 3) Note that we pass "async: true", this runs the test case
  #    concurrently with other test cases. The individual tests
  #    within each test case are still run serially.
  use ExUnit.Case, async: true

  # 4) Use the "test" macro instead of "def" for clarity.
  test "the truth" do
    assert true
  end
end</pre>
<p>To run the tests above, run the file using <code class="inline">elixir</code> from the command line. Assuming you named the file <code class="inline">assertion_test.exs</code>, you can run it as:</p>
<pre data-language="elixir">$ elixir assertion_test.exs
</pre>
<h2 id="module-case-callbacks-and-assertions" class="section-heading">  <span class="text">Case, Callbacks and Assertions</span> </h2> <p>See <a href="exunit.case"><code class="inline">ExUnit.Case</code></a> and <a href="exunit.callbacks"><code class="inline">ExUnit.Callbacks</code></a> for more information about defining test cases and setting up callbacks.</p>
<p>The <a href="exunit.assertions"><code class="inline">ExUnit.Assertions</code></a> module contains a set of macros to generate assertions with appropriate error messages.</p>
<h2 id="module-integration-with-mix" class="section-heading">  <span class="text">Integration with Mix</span> </h2> <p>Mix is the project management and build tool for Elixir. Invoking <a href="https://hexdocs.pm/mix/Mix.Tasks.Test.html"><code class="inline">mix test</code></a> from the command line will run the tests in each file matching the pattern <code class="inline">*_test.exs</code> found in the <code class="inline">test</code> directory of your project.</p>
<p>You must create a <code class="inline">test_helper.exs</code> file inside the <code class="inline">test</code> directory and put the code common to all tests there.</p>
<p>The minimum example of a <code class="inline">test_helper.exs</code> file would be:</p>
<pre data-language="elixir"># test/test_helper.exs
ExUnit.start()</pre>
<p>Mix will load the <code class="inline">test_helper.exs</code> file before executing the tests. It is not necessary to <code class="inline">require</code> the <code class="inline">test_helper.exs</code> file in your test files. Run <a href="https://hexdocs.pm/mix/Mix.Tasks.Test.html"><code class="inline">mix help test</code></a> for more information.</p> </section> </div> <section id="summary" class="details-list"> <h1 class="section-heading">  <span class="text">Summary</span> </h1> <h2> Types </h2>
<dl class="summary-types summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#t:failed/0" data-no-tooltip translate="no">failed()</a> </dt> <dd class="summary-synopsis"><p>The error state returned by <a href="exunit.test"><code class="inline">ExUnit.Test</code></a> and <a href="exunit.testmodule"><code class="inline">ExUnit.TestModule</code></a></p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:state/0" data-no-tooltip translate="no">state()</a> </dt> <dd class="summary-synopsis"><p>All tests start with a state of <code class="inline">nil</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:suite_result/0" data-no-tooltip translate="no">suite_result()</a> </dt> <dd class="summary-synopsis"><p>A map representing the results of running a test suite</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:test_id/0" data-no-tooltip translate="no">test_id()</a> </dt> </div> </dl> <h2> Functions </h2>
<dl class="summary-functions summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#after_suite/1" data-no-tooltip translate="no">after_suite(function)</a> </dt> <dd class="summary-synopsis"><p>Sets a callback to be executed after the completion of a test suite.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#async_run/0" data-no-tooltip translate="no">async_run()</a> </dt> <dd class="summary-synopsis"><p>Starts tests asynchronously while test cases are still loading.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#await_run/1" data-no-tooltip translate="no">await_run(task)</a> </dt> <dd class="summary-synopsis"><p>Awaits for a test suite that has been started with <a href="#async_run/0"><code class="inline">async_run/0</code></a>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#configuration/0" data-no-tooltip translate="no">configuration()</a> </dt> <dd class="summary-synopsis"><p>Returns ExUnit configuration.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#configure/1" data-no-tooltip translate="no">configure(options)</a> </dt> <dd class="summary-synopsis"><p>Configures ExUnit.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#fetch_test_supervisor/0" data-no-tooltip translate="no">fetch_test_supervisor()</a> </dt> <dd class="summary-synopsis"><p>Fetches the test supervisor for the current test.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#plural_rule/1" data-no-tooltip translate="no">plural_rule(word)</a> </dt> <dd class="summary-synopsis"><p>Returns the pluralization for <code class="inline">word</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#plural_rule/2" data-no-tooltip translate="no">plural_rule(word, pluralization)</a> </dt> <dd class="summary-synopsis"><p>Registers a <code class="inline">pluralization</code> for <code class="inline">word</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#run/1" data-no-tooltip translate="no">run(additional_modules \\ [])</a> </dt> <dd class="summary-synopsis"><p>Runs the tests. It is invoked automatically if ExUnit is started via <a href="#start/1"><code class="inline">start/1</code></a>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#start/1" data-no-tooltip translate="no">start(options \\ [])</a> </dt> <dd class="summary-synopsis"><p>Starts ExUnit and automatically runs tests right before the VM terminates.</p></dd> </div> </dl> </section> <section id="types" class="details-list"> <h1 class="section-heading">  <span class="text">Types</span> </h1> <div class="types-list"> <section class="detail"> <h3 class="detail-header" id="t:failed/0">failed()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/ex_unit/lib/ex_unit.ex#L80" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type failed() :: [{Exception.kind(), reason :: term(), Exception.stacktrace()}]</pre> </div> <p>The error state returned by <a href="exunit.test"><code class="inline">ExUnit.Test</code></a> and <a href="exunit.testmodule"><code class="inline">ExUnit.TestModule</code></a></p> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:state/0">state()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/ex_unit/lib/ex_unit.ex#L72" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type state() ::
  nil
  | {:excluded, binary()}
  | {:failed, failed()}
  | {:invalid, ExUnit.TestModule.t()}
  | {:skipped, binary()}</pre> </div> <p>All tests start with a state of <code class="inline">nil</code>.</p>
<p>A finished test can be in one of five states:</p>
<ol>
<li>Passed (also represented by <code class="inline">nil</code>)</li>
<li>Failed</li>
<li>Skipped (via @tag :skip)</li>
<li>Excluded (via :exclude filters)</li>
<li>Invalid (when setup_all fails)</li>
</ol> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:suite_result/0">suite_result()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/ex_unit/lib/ex_unit.ex#L83" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type suite_result() :: %{
  excluded: non_neg_integer(),
  failures: non_neg_integer(),
  skipped: non_neg_integer(),
  total: non_neg_integer()
}</pre> </div> <p>A map representing the results of running a test suite</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:test_id/0">test_id()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/ex_unit/lib/ex_unit.ex#L90" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type test_id() :: {module(), name :: atom()}</pre> </div> </section> </section> </div> </section> <section id="functions" class="details-list"> <h1 class="section-heading">  <span class="text">Functions</span> </h1> <div class="functions-list"> <section class="detail"> <h3 class="detail-header" id="after_suite/1">after_suite(function)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/ex_unit/lib/ex_unit.ex#L459" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec after_suite((suite_result() -&gt; any())) :: :ok</pre> </div> <p>Sets a callback to be executed after the completion of a test suite.</p>
<p>Callbacks set with <a href="#after_suite/1"><code class="inline">after_suite/1</code></a> must accept a single argument, which is a map containing the results of the test suite's execution.</p>
<p>If <a href="#after_suite/1"><code class="inline">after_suite/1</code></a> is called multiple times, the callbacks will be called in reverse order. In other words, the last callback set will be the first to be called.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="async_run/0">async_run()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/ex_unit/lib/ex_unit.ex#L428" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec async_run() :: Task.t()</pre> </div> <p>Starts tests asynchronously while test cases are still loading.</p>
<p>It returns a task that must be given to <code class="inline">await_run/0</code> when a result is desired.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="await_run/1">await_run(task)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/ex_unit/lib/ex_unit.ex#L442" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec await_run(Task.t()) :: suite_result()</pre> </div> <p>Awaits for a test suite that has been started with <a href="#async_run/0"><code class="inline">async_run/0</code></a>.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="configuration/0">configuration()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/ex_unit/lib/ex_unit.ex#L359" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec configuration() :: Keyword.t()</pre> </div> <p>Returns ExUnit configuration.</p>
<p>For the available configuration options, see <a href="#configure/1"><code class="inline">configure/1</code></a>.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="configure/1">configure(options)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/ex_unit/lib/ex_unit.ex#L347" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec configure(Keyword.t()) :: :ok</pre> </div> <p>Configures ExUnit.</p>
<h4 id="configure/1-options" class="section-heading">  <span class="text">Options</span> </h4> <p>ExUnit supports the following options:</p>
<ul>
<li><p><code class="inline">:assert_receive_timeout</code> - the timeout to be used on <code class="inline">assert_receive</code> calls in milliseconds, defaults to <code class="inline">100</code>;</p></li>
<li><p><code class="inline">:autorun</code> - if ExUnit should run by default on exit. Defaults to <code class="inline">true</code>;</p></li>
<li><p><code class="inline">:capture_log</code> - if ExUnit should default to keeping track of log messages and print them on test failure. Can be overridden for individual tests via <code class="inline">@tag capture_log: false</code>. This can also be configured to a specific level with <code class="inline">capture_log: [level: LEVEL]</code>, to capture all logs but only keep those above <code class="inline">LEVEL</code>. Note that <code class="inline">on_exit</code> and <code class="inline">setup_all</code> callbacks may still log, as they run outside of the testing process. To silent those, you can use <a href="exunit.capturelog#capture_log/2"><code class="inline">ExUnit.CaptureLog.capture_log/2</code></a> or consider disabling logging altogether.</p></li>
<li>
<p><code class="inline">:colors</code> - a keyword list of color options to be used by some formatters:</p>
<ul>
<li><p><code class="inline">:enabled</code> - boolean option to enable colors, defaults to <a href="https://hexdocs.pm/elixir/IO.ANSI.html#enabled?/0"><code class="inline">IO.ANSI.enabled?/0</code></a>;</p></li>
<li><p><code class="inline">:success</code> - success message (defaults to <code class="inline">:green</code>)</p></li>
<li><p><code class="inline">:invalid</code> - invalid test message (defaults to <code class="inline">:yellow</code>)</p></li>
<li><p><code class="inline">:skipped</code> - skipped test message (defaults to <code class="inline">:yellow</code>)</p></li>
<li><p><code class="inline">:failure</code> - failed test message (defaults to <code class="inline">:red</code>)</p></li>
<li><p><code class="inline">:error_info</code> - display of actual error (defaults to <code class="inline">:red</code>)</p></li>
<li><p><code class="inline">:extra_info</code> - additional information (defaults to <code class="inline">:cyan</code>)</p></li>
<li><p><code class="inline">:location_info</code> - filename and tags (defaults to <code class="inline">[:bright, :black]</code>)</p></li>
<li><p><code class="inline">:diff_insert</code> - color of the insertions on diffs, defaults to <code class="inline">:green</code>;</p></li>
<li><p><code class="inline">:diff_insert_whitespace</code> - color of the whitespace insertions on diffs, defaults to <code class="inline">IO.ANSI.color_background(2, 0, 0)</code>;</p></li>
<li><p><code class="inline">:diff_delete</code> - color of the deletions on diffs, defaults to <code class="inline">:red</code>;</p></li>
<li><p><code class="inline">:diff_delete_whitespace</code> - color of the whitespace deletions on diffs, defaults to <code class="inline">IO.ANSI.color_background(0, 2, 0)</code>;</p></li>
</ul>
</li>
<li><p><code class="inline">:exclude</code> - specifies which tests are run by skipping tests that match the filter. See the "Filters" section in the documentation for <a href="exunit.case"><code class="inline">ExUnit.Case</code></a>;</p></li>
<li><p><code class="inline">:exit_status</code> - specifies an alternate exit status to use when the test suite fails. Defaults to 2;</p></li>
<li><p><code class="inline">:failures_manifest_path</code> - specifies a path to the file used to store failures between runs;</p></li>
<li><p><code class="inline">:formatters</code> - the formatters that will print results, defaults to <code class="inline">[ExUnit.CLIFormatter]</code>;</p></li>
<li><p><code class="inline">:include</code> - specifies which tests are run by skipping tests that do not match the filter. Keep in mind that all tests are included by default, so unless they are excluded first, the <code class="inline">:include</code> option has no effect. To only run the tests that match the <code class="inline">:include</code> filter, exclude the <code class="inline">:test</code> tag first (see the documentation for <a href="exunit.case"><code class="inline">ExUnit.Case</code></a> for more information on tags and filters);</p></li>
<li><p><code class="inline">:max_cases</code> - maximum number of tests to run in parallel. Only tests from different modules run in parallel. It defaults to <code class="inline">System.schedulers_online * 2</code> to optimize both CPU-bound and IO-bound tests;</p></li>
<li><p><code class="inline">:max_failures</code> - the suite stops evaluating tests when this number of test failures is reached. All tests within a module that fail when using the <a href="exunit.callbacks#setup_all/1"><code class="inline">setup_all/1,2</code></a> callbacks are counted as failures. Defaults to <code class="inline">:infinity</code>;</p></li>
<li><p><code class="inline">:only_test_ids</code> - a list of <code class="inline">{module_name, test_name}</code> tuples that limits what tests get run. This is typically used by Mix to filter which tests should run;</p></li>
<li><p><code class="inline">:rand_algorithm</code> - algorithm to be used when generating the test seed. Available algorithms can be found in Erlang's <a href="https://www.erlang.org/doc/man/rand.html"><code class="inline">:rand</code></a> documentation (see <a href="https://www.erlang.org/doc/man/rand.html#type-builtin_alg"><code class="inline">:rand.builting_arg/0</code></a>). Available since v1.16.0. Before v1.16.0, the algorithm was hard-coded to <code class="inline">:exs1024</code>. On Elixir v1.16.0 and after, the default changed to <code class="inline">:exsss</code>;</p></li>
<li><p><code class="inline">:refute_receive_timeout</code> - the timeout to be used on <code class="inline">refute_receive</code> calls in milliseconds, defaults to <code class="inline">100</code>;</p></li>
<li><p><code class="inline">:seed</code> - an integer seed value to randomize the test suite. This seed is also mixed with the test module and name to create a new unique seed on every test, which is automatically fed into the <code class="inline">:rand</code> module. This provides randomness between tests, but predictable and reproducible results. A <code class="inline">:seed</code> of <code class="inline">0</code> will disable randomization and the tests in each file will always run in the order that they were defined in;</p></li>
<li><p><code class="inline">:slowest</code> - prints timing information for the N slowest tests. Running ExUnit with slow test reporting automatically runs in <code class="inline">trace</code> mode. It is disabled by default;</p></li>
<li><p><code class="inline">:slowest_modules</code> - prints timing information for the N slowest test modules. Running ExUnit with slow test reporting automatically runs in <code class="inline">trace</code> mode. It is disabled by default;</p></li>
<li><p><code class="inline">:stacktrace_depth</code> - configures the stacktrace depth to be used on formatting and reporters, defaults to <code class="inline">20</code>;</p></li>
<li><p><code class="inline">:timeout</code> - sets the timeout for the tests in milliseconds, defaults to <code class="inline">60_000</code>;</p></li>
<li><p><code class="inline">:trace</code> - sets ExUnit into trace mode, this sets <code class="inline">:max_cases</code> to <code class="inline">1</code> and prints each test case and test while running. Note that in trace mode test timeouts will be ignored as timeout is set to <code class="inline">:infinity</code>;</p></li>
<li><p><code class="inline">:test_location_relative_path</code> - the test location is the file:line information printed by tests as a shortcut to run a given test. When this value is set, the value is used as a prefix for the test itself. This is typically used by Mix to properly set-up umbrella projects;</p></li>
</ul>
<p>Any arbitrary configuration can also be passed to <a href="#configure/1"><code class="inline">configure/1</code></a> or <a href="#start/1"><code class="inline">start/1</code></a>, and these options can then be used in places such as custom formatters. These other options will be ignored by ExUnit itself.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="fetch_test_supervisor/0">fetch_test_supervisor()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/ex_unit/lib/ex_unit.ex#L474" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec fetch_test_supervisor() :: {:ok, pid()} | :error</pre> </div> <p>Fetches the test supervisor for the current test.</p>
<p>Returns <code class="inline">{:ok, supervisor_pid}</code> or <code class="inline">:error</code> if not called from the test process.</p>
<p>This is the same supervisor as used by <a href="exunit.callbacks#start_supervised/2"><code class="inline">ExUnit.Callbacks.start_supervised/2</code></a> and similar, see <a href="exunit.callbacks"><code class="inline">ExUnit.Callbacks</code></a> module documentation for more information.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="plural_rule/1">plural_rule(word)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/ex_unit/lib/ex_unit.ex#L372" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec plural_rule(binary()) :: binary()</pre> </div> <p>Returns the pluralization for <code class="inline">word</code>.</p>
<p>If one is not registered, returns the word appended with an "s".</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="plural_rule/2">plural_rule(word, pluralization)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/ex_unit/lib/ex_unit.ex#L383" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec plural_rule(binary(), binary()) :: :ok</pre> </div> <p>Registers a <code class="inline">pluralization</code> for <code class="inline">word</code>.</p>
<p>If one is already registered, it is replaced.</p> </section> </section> <section class="detail">  <h3 class="detail-header" id="run/1">run(additional_modules \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/ex_unit/lib/ex_unit.ex#L403" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec run([module()]) :: suite_result()</pre> </div> <p>Runs the tests. It is invoked automatically if ExUnit is started via <a href="#start/1"><code class="inline">start/1</code></a>.</p>
<p>From Elixir v1.14, it accepts an optional list of modules to run as part of the suite. This is often used to rerun modules already loaded in memory.</p>
<p>Returns a map containing the total number of tests, the number of failures, the number of excluded tests and the number of skipped tests.</p> </section> </section> <section class="detail">  <h3 class="detail-header" id="start/1">start(options \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/ex_unit/lib/ex_unit.ex#L208" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec start(Keyword.t()) :: :ok</pre> </div> <p>Starts ExUnit and automatically runs tests right before the VM terminates.</p>
<p>It accepts a set of <code class="inline">options</code> to configure <a href="exunit"><code class="inline">ExUnit</code></a> (the same ones accepted by <a href="#configure/1"><code class="inline">configure/1</code></a>).</p>
<p>If you want to run tests manually, you can set the <code class="inline">:autorun</code> option to <code class="inline">false</code> and use <a href="#run/0"><code class="inline">run/0</code></a> to run tests.</p> </section> </section> </div> </section> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="exunit.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/ex_unit/1.17.2/ExUnit.html" class="_attribution-link">https://hexdocs.pm/ex_unit/1.17.2/ExUnit.html</a>
  </p>
</div>
