<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/ex_unit/lib/ex_unit/capture_log.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">ExUnit.CaptureLog</span>  </h1> <section id="moduledoc"> <p>Functionality to capture logs for testing.</p>
<h2 id="module-examples" class="section-heading">  <span class="text">Examples</span> </h2> <pre data-language="elixir">defmodule AssertionTest do
  use ExUnit.Case

  import ExUnit.CaptureLog
  require Logger

  test "example" do
    {result, log} =
      with_log(fn -&gt;
        Logger.error("log msg")
        2 + 2
      end)

    assert result == 4
    assert log =~ "log msg"
  end

  test "check multiple captures concurrently" do
    fun = fn -&gt;
      for msg &lt;- ["hello", "hi"] do
        assert capture_log(fn -&gt; Logger.error(msg) end) =~ msg
      end

      Logger.debug("testing")
    end

    assert capture_log(fun) =~ "hello"
    assert capture_log(fun) =~ "testing"
  end
end</pre> </section> </div> <section id="summary" class="details-list"> <h1 class="section-heading">  <span class="text">Summary</span> </h1> <h2> Functions </h2>
<dl class="summary-functions summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#capture_log/2" data-no-tooltip translate="no">capture_log(opts \\ [], fun)</a> </dt> <dd class="summary-synopsis"><p>Captures Logger messages generated when evaluating <code class="inline">fun</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#with_log/2" data-no-tooltip translate="no">with_log(opts \\ [], fun)</a> </dt> <dd class="summary-synopsis"><p>Invokes the given <code class="inline">fun</code> and returns the result and captured log.</p></dd> </div> </dl> </section> <section id="functions" class="details-list"> <h1 class="section-heading">  <span class="text">Functions</span> </h1> <div class="functions-list"> <section class="detail">  <h3 class="detail-header" id="capture_log/2">capture_log(opts \\ [], fun)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/ex_unit/lib/ex_unit/capture_log.ex#L74" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec capture_log(
  keyword(),
  (-&gt; any())
) :: String.t()</pre> </div> <p>Captures Logger messages generated when evaluating <code class="inline">fun</code>.</p>
<p>Returns the binary which is the captured output. The captured log messages will be formatted using <a href="https://hexdocs.pm/logger/Logger.html#default_formatter/1"><code class="inline">Logger.default_formatter/1</code></a>. Any option, besides the <code class="inline">:level</code>, will be forwarded as an override to the default formatter.</p>
<p>This function mutes the default logger handler and captures any log messages sent to Logger from the calling processes. It is possible to ensure explicit log messages from other processes are captured by waiting for their exit or monitor signal.</p>
<p>Note that when the <code class="inline">async</code> is set to <code class="inline">true</code> on <code class="inline">use ExUnit.Case</code>, messages from other tests might be captured. This is OK as long you consider such cases in your assertions, typically by using the <a href="https://hexdocs.pm/elixir/Kernel.html#=~/2"><code class="inline">=~/2</code></a> operator to perform partial matches.</p>
<p>It is possible to configure the level to capture with <code class="inline">:level</code>, which will set the capturing level for the duration of the capture, for instance, if the log level is set to <code class="inline">:error</code>, then any message with the lower level will be ignored. The default level is <code class="inline">nil</code>, which will capture all messages. Note this setting does not override the overall <a href="https://hexdocs.pm/logger/Logger.html#level/0"><code class="inline">Logger.level/0</code></a> value. Therefore, if <a href="https://hexdocs.pm/logger/Logger.html#level/0"><code class="inline">Logger.level/0</code></a> is set to a higher level than the one configured in this function, no message will be captured. The behaviour is undetermined if async tests change Logger level.</p>
<p>To get the result of the evaluation along with the captured log, use <a href="#with_log/2"><code class="inline">with_log/2</code></a>.</p> </section> </section> <section class="detail">  <h3 class="detail-header" id="with_log/2">with_log(opts \\ [], fun)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/ex_unit/lib/ex_unit/capture_log.ex#L98" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec with_log(
  keyword(),
  (-&gt; result)
) :: {result, String.t()}
when result: any()</pre> </div> <p>Invokes the given <code class="inline">fun</code> and returns the result and captured log.</p>
<p>It accepts the same arguments and options as <a href="#capture_log/2"><code class="inline">capture_log/2</code></a>.</p>
<h4 id="with_log/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">{result, log} =
  with_log(fn -&gt;
    Logger.error("log msg")
    2 + 2
  end)

assert result == 4
assert log =~ "log msg"</pre> </section> </section> </div> </section> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="exunit.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/ex_unit/1.17.2/ExUnit.CaptureLog.html" class="_attribution-link">https://hexdocs.pm/ex_unit/1.17.2/ExUnit.CaptureLog.html</a>
  </p>
</div>
