<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/ex_unit/lib/ex_unit/case.ex#L24" title="View Source" class="source" rel="help">Source</a> <span translate="no">ExUnit.Case</span>  </h1> <section id="moduledoc"> <p>Helpers for defining test cases.</p>
<p>This module must be used in other modules as a way to configure and prepare them for testing.</p>
<p>When used, it accepts the following options:</p>
<ul>
<li><p><code class="inline">:async</code> - configures tests in this module to run concurrently with tests in other modules. Tests in the same module never run concurrently. It should be enabled only if tests do not change any global state. Defaults to <code class="inline">false</code>.</p></li>
<li><p><code class="inline">:register</code> - when <code class="inline">false</code>, does not register this module within ExUnit server. This means the module won't run when ExUnit suite runs.</p></li>
</ul>
<blockquote>
<h4 class="info"><code class="inline">use ExUnit.Case</code></h4>
<p>When you <code class="inline">use ExUnit.Case</code>, it will import the functionality from <a href="exunit.assertions"><code class="inline">ExUnit.Assertions</code></a>, <a href="exunit.callbacks"><code class="inline">ExUnit.Callbacks</code></a>, <a href="exunit.doctest"><code class="inline">ExUnit.DocTest</code></a>, and this module itself.</p>
</blockquote>
<h2 id="module-examples" class="section-heading">  <span class="text">Examples</span> </h2> <pre data-language="elixir">defmodule AssertionTest do
  # Use the module
  use ExUnit.Case, async: true

  # The "test" macro is imported by ExUnit.Case
  test "always pass" do
    assert true
  end
end</pre>
<h2 id="module-context" class="section-heading">  <span class="text">Context</span> </h2> <p>All tests receive a context as an argument. The context is particularly useful for sharing information between callbacks and tests:</p>
<pre data-language="elixir">defmodule KVTest do
  use ExUnit.Case

  setup do
    {:ok, pid} = KV.start_link()
    {:ok, pid: pid}
  end

  test "stores key-value pairs", context do
    assert KV.put(context[:pid], :hello, :world) == :ok
    assert KV.get(context[:pid], :hello) == :world
  end
end</pre>
<p>As the context is a map, it can be pattern matched on to extract information:</p>
<pre data-language="elixir">test "stores key-value pairs", %{pid: pid} = _context do
  assert KV.put(pid, :hello, :world) == :ok
  assert KV.get(pid, :hello) == :world
end</pre>
<h2 id="module-tags" class="section-heading">  <span class="text">Tags</span> </h2> <p>The context is used to pass information from the callbacks to the test. In order to pass information from the test to the callback, ExUnit provides tags.</p>
<p>By tagging a test, the tag value can be accessed in the context, allowing the developer to customize the test. Let's see an example:</p>
<pre data-language="elixir">defmodule FileTest do
  # Changing directory cannot be async
  use ExUnit.Case, async: false

  setup context do
    # Read the :cd tag value
    if cd = context[:cd] do
      prev_cd = File.cwd!()
      File.cd!(cd)
      on_exit(fn -&gt; File.cd!(prev_cd) end)
    end

    :ok
  end

  @tag cd: "fixtures"
  test "reads UTF-8 fixtures" do
    File.read("README.md")
  end
end</pre>
<p>In the example above, we have defined a tag called <code class="inline">:cd</code> that is read in the setup callback to configure the working directory the test is going to run on.</p>
<p>Tags are also very effective when used with case templates (<a href="exunit.casetemplate"><code class="inline">ExUnit.CaseTemplate</code></a>) allowing callbacks in the case template to customize the test behaviour.</p>
<p>Note a tag can be set in two different ways:</p>
<pre data-language="elixir">@tag key: value
@tag :key       # equivalent to setting @tag key: true</pre>
<p>If a tag is given more than once, the last value wins.</p>
<h3 id="module-module-and-describe-tags" class="section-heading">  <span class="text">Module and describe tags</span> </h3> <p>A tag can be set for all tests in a module or describe block by setting <code class="inline">@moduletag</code> or <code class="inline">@describetag</code> inside each context respectively:</p>
<pre data-language="elixir">defmodule ApiTest do
  use ExUnit.Case
  @moduletag :external

  describe "makes calls to the right endpoint" do
    @describetag :endpoint

    # ...
  end
end</pre>
<p>If you are setting a <code class="inline">@moduletag</code> or <code class="inline">@describetag</code> attribute, you must set them after your call to <code class="inline">use ExUnit.Case</code> otherwise you will see compilation errors.</p>
<p>If the same key is set via <code class="inline">@tag</code>, the <code class="inline">@tag</code> value has higher precedence.</p>
<p>The <code class="inline">setup_all</code> blocks only receive tags that are set using <code class="inline">@moduletag</code>.</p>
<h3 id="module-known-tags" class="section-heading">  <span class="text">Known tags</span> </h3> <p>The following tags are set automatically by ExUnit and are therefore reserved:</p>
<ul>
<li><p><code class="inline">:module</code> - the module on which the test was defined</p></li>
<li><p><code class="inline">:file</code> - the file on which the test was defined</p></li>
<li><p><code class="inline">:line</code> - the line on which the test was defined</p></li>
<li><p><code class="inline">:test</code> - the test name</p></li>
<li><p><code class="inline">:async</code> - if the test case is in async mode</p></li>
<li><p><code class="inline">:registered</code> - used for <a href="#register_attribute/3"><code class="inline">ExUnit.Case.register_attribute/3</code></a> values</p></li>
<li><p><code class="inline">:describe</code> - the describe block the test belongs to</p></li>
<li><p><code class="inline">:describe_line</code> - the line the describe block begins on</p></li>
<li><p><code class="inline">:doctest</code> - the module or the file being doctested (if a doctest)</p></li>
<li><p><code class="inline">:doctest_line</code> - the line the doctest was defined (if a doctest)</p></li>
<li><p><code class="inline">:doctest_data</code> - additional metadata about doctests (if a doctest)</p></li>
<li><p><code class="inline">:test_type</code> - the test type used when printing test results. It is set by ExUnit to <code class="inline">:test</code>, <code class="inline">:doctest</code> and so on, but is customizable.</p></li>
</ul>
<p>The following tags customize how tests behave:</p>
<ul>
<li><p><code class="inline">:capture_log</code> - see the "Log Capture" section below</p></li>
<li><p><code class="inline">:skip</code> - skips the test with the given reason</p></li>
<li><p><code class="inline">:timeout</code> - customizes the test timeout in milliseconds (defaults to 60000). Accepts <code class="inline">:infinity</code> as a timeout value.</p></li>
<li><p><code class="inline">:tmp_dir</code> - (since v1.11.0) see the "Tmp Dir" section below</p></li>
</ul>
<h2 id="module-filters" class="section-heading">  <span class="text">Filters</span> </h2> <p>Tags can also be used to identify specific tests, which can then be included or excluded using filters. The most common functionality is to exclude some particular tests from running, which can be done via <a href="exunit#configure/1"><code class="inline">ExUnit.configure/1</code></a>:</p>
<pre data-language="elixir"># Exclude all external tests from running
ExUnit.configure(exclude: [external: true])</pre>
<p>From now on, ExUnit will not run any test that has the <code class="inline">:external</code> option set to <code class="inline">true</code>. This behaviour can be reversed with the <code class="inline">:include</code> option which is usually passed through the command line:</p>
<pre data-language="elixir">$ mix test --include external:true
</pre>
<p>Run <a href="https://hexdocs.pm/mix/Mix.Tasks.Test.html"><code class="inline">mix help test</code></a> for more information on how to run filters via Mix.</p>
<p>Another use case for tags and filters is to exclude all tests that have a particular tag by default, regardless of its value, and include only a certain subset:</p>
<pre data-language="elixir">ExUnit.configure(exclude: :os, include: [os: :unix])</pre>
<p>A given include/exclude filter can be given more than once:</p>
<pre data-language="elixir">ExUnit.configure(exclude: [os: :unix, os: :windows])</pre>
<p>Keep in mind that all tests are included by default, so unless they are excluded first, the <code class="inline">include</code> option has no effect.</p>
<h2 id="module-log-capture" class="section-heading">  <span class="text">Log Capture</span> </h2> <p>ExUnit can optionally suppress printing of log messages that are generated during a test. Log messages generated while running a test are captured and only if the test fails are they printed to aid with debugging.</p>
<p>You can opt into this behaviour for individual tests by tagging them with <code class="inline">:capture_log</code> or enable log capture for all tests in the ExUnit configuration:</p>
<pre data-language="elixir">ExUnit.start(capture_log: true)</pre>
<p>This default can be overridden by <code class="inline">@tag capture_log: false</code> or <code class="inline">@moduletag capture_log: false</code>.</p>
<p>Since <code class="inline">setup_all</code> blocks don't belong to a specific test, log messages generated in them (or between tests) are never captured. If you want to suppress these messages as well, remove the console backend globally by setting:</p>
<pre data-language="elixir">config :logger, backends: []</pre>
<h2 id="module-tmp-dir" class="section-heading">  <span class="text">Tmp Dir</span> </h2> <p>ExUnit automatically creates a temporary directory for tests tagged with <code class="inline">:tmp_dir</code> and puts the path to that directory into the test context. The directory is removed before being created to ensure we start with a blank slate.</p>
<p>The temporary directory path is unique (includes the test module and test name) and thus appropriate for running tests concurrently. You can customize the path further by setting the tag to a string, e.g.: <code class="inline">tmp_dir: "my_path"</code>, which would make the final path to be: <code class="inline">tmp/&lt;module&gt;/&lt;test&gt;/my_path</code>.</p>
<p>Example:</p>
<pre data-language="elixir">defmodule MyTest do
  use ExUnit.Case, async: true

  @tag :tmp_dir
  test "with tmp_dir", %{tmp_dir: tmp_dir} do
    assert tmp_dir =~ "with tmp_dir"
    assert File.dir?(tmp_dir)
  end
end</pre>
<p>As with other tags, <code class="inline">:tmp_dir</code> can also be set as <code class="inline">@moduletag</code> and <code class="inline">@describetag</code>.</p> </section> </div> <section id="summary" class="details-list"> <h1 class="section-heading">  <span class="text">Summary</span> </h1> <h2> Types </h2>
<dl class="summary-types summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#t:env/0" data-no-tooltip translate="no">env()</a> </dt> </div> </dl> <h2> Functions </h2>
<dl class="summary-functions summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#describe/2" data-no-tooltip translate="no">describe(message, list)</a> </dt> <dd class="summary-synopsis"><p>Describes tests together.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#get_last_registered_test/1" data-no-tooltip translate="no">get_last_registered_test(mod)</a> </dt> <dd class="summary-synopsis"><p>Returns the most recently registered test case as an <code class="inline">%ExUnit.Test{}</code> struct.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#register_attribute/3" data-no-tooltip translate="no">register_attribute(env, name, opts \\ [])</a> </dt> <dd class="summary-synopsis"><p>Registers a new attribute to be used during <a href="exunit.case"><code class="inline">ExUnit.Case</code></a> tests.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#register_describe_attribute/3" data-no-tooltip translate="no">register_describe_attribute(env, name, opts \\ [])</a> </dt> <dd class="summary-synopsis"><p>Registers a new describe attribute to be used during <a href="exunit.case"><code class="inline">ExUnit.Case</code></a> tests.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#register_module_attribute/3" data-no-tooltip translate="no">register_module_attribute(env, name, opts \\ [])</a> </dt> <dd class="summary-synopsis"><p>Registers a new module attribute to be used during <a href="exunit.case"><code class="inline">ExUnit.Case</code></a> tests.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#register_test/4" data-no-tooltip translate="no">register_test(map, test_type, name, tags)</a> <span class="deprecated" title="Use register_test/6 instead">deprecated</span> </dt> <dd class="summary-synopsis"><p>Registers a test with the given environment.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#register_test/6" data-no-tooltip translate="no">register_test(mod, file, line, test_type, name, tags)</a> </dt> <dd class="summary-synopsis"><p>Registers a function to run as part of this case.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#test/1" data-no-tooltip translate="no">test(message)</a> </dt> <dd class="summary-synopsis"><p>Defines a not implemented test with a string.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#test/3" data-no-tooltip translate="no">test(message, var \\ quote do _ end, contents)</a> </dt> <dd class="summary-synopsis"><p>Defines a test with <code class="inline">message</code>.</p></dd> </div> </dl> </section> <section id="types" class="details-list"> <h1 class="section-heading">  <span class="text">Types</span> </h1> <div class="types-list"> <section class="detail"> <h3 class="detail-header" id="t:env/0">env()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/ex_unit/lib/ex_unit/case.ex#L278" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type env() :: module() | Macro.Env.t()</pre> </div> </section> </section> </div> </section> <section id="functions" class="details-list"> <h1 class="section-heading">  <span class="text">Functions</span> </h1> <div class="functions-list"> <section class="detail"> <h3 class="detail-header" id="describe/2">describe(message, list)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/ex_unit/lib/ex_unit/case.ex#L502" class="source">Source</a>
</h3> <section class="docstring"> <p>Describes tests together.</p>
<p>Every describe block receives a name which is used as prefix for upcoming tests. Inside a block, <a href="exunit.callbacks#setup/1"><code class="inline">ExUnit.Callbacks.setup/1</code></a> may be invoked and it will define a setup callback to run only for the current block. The describe name is also added as a tag, allowing developers to run tests for specific blocks.</p>
<h4 id="describe/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">defmodule StringTest do
  use ExUnit.Case, async: true

  describe "String.downcase/1" do
    test "with ascii characters" do
      assert String.downcase("HELLO") == "hello"
    end

    test "with Unicode" do
      assert String.downcase("HÉLLÒ") == "héllò"
    end
  end
end</pre>
<p>When using Mix, you can run all tests in a describe block by name:</p>
<pre data-language="elixir">$ mix test --only describe:"String.downcase/1"
</pre>
<p>or by passing the exact line the describe block starts on:</p>
<pre data-language="elixir">$ mix test path/to/file:123
</pre>
<p>Note describe blocks cannot be nested. Instead of relying on hierarchy for composition, developers should build on top of named setups. For example:</p>
<pre data-language="elixir">defmodule UserManagementTest do
  use ExUnit.Case, async: true

  describe "when user is logged in and is an admin" do
    setup [:log_user_in, :set_type_to_admin]

    test ...
  end

  describe "when user is logged in and is a manager" do
    setup [:log_user_in, :set_type_to_manager]

    test ...
  end

  defp log_user_in(context) do
    # ...
  end
end</pre>
<p>By forbidding hierarchies in favor of named setups, it is straightforward for the developer to glance at each describe block and know exactly the setup steps involved.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="get_last_registered_test/1">get_last_registered_test(mod)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/ex_unit/lib/ex_unit/case.ex#L816" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec get_last_registered_test(env()) :: ExUnit.Test.t() | nil</pre> </div> <p>Returns the most recently registered test case as an <code class="inline">%ExUnit.Test{}</code> struct.</p>
<p>This is used by third-party utilities to allow compile-time configuration using test tags without having to explicitly pass the test context at run-time. It is intended to be invoked in macros before the test module is compiled.</p>
<p>Raises if called with a module that has already been compiled.</p> </section> </section> <section class="detail">  <h3 class="detail-header" id="register_attribute/3">register_attribute(env, name, opts \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/ex_unit/lib/ex_unit/case.ex#L687" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec register_attribute(env(), atom(), keyword()) :: :ok</pre> </div> <p>Registers a new attribute to be used during <a href="exunit.case"><code class="inline">ExUnit.Case</code></a> tests.</p>
<p>The attribute values will be available through <code class="inline">context.registered</code>. Registered values are cleared after each <a href="#test/3"><code class="inline">test/3</code></a> similar to <code class="inline">@tag</code>.</p>
<p>This function takes the same options as <a href="https://hexdocs.pm/elixir/Module.html#register_attribute/3"><code class="inline">Module.register_attribute/3</code></a>.</p>
<h4 id="register_attribute/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">defmodule MyTest do
  use ExUnit.Case

  ExUnit.Case.register_attribute(__MODULE__, :fixtures, accumulate: true)

  @fixtures :user
  @fixtures {:post, insert: false}
  test "using custom attribute", context do
    assert context.registered.fixtures == [{:post, insert: false}, :user]
  end

  test "custom attributes are cleared per test", context do
    assert context.registered.fixtures == []
  end
end</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="register_describe_attribute/3">register_describe_attribute(env, name, opts \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/ex_unit/lib/ex_unit/case.ex#L729" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec register_describe_attribute(env(), atom(), keyword()) :: :ok</pre> </div> <p>Registers a new describe attribute to be used during <a href="exunit.case"><code class="inline">ExUnit.Case</code></a> tests.</p>
<p>The attribute values will be available through <code class="inline">context.registered</code>. Registered values are cleared after each <a href="#describe/2"><code class="inline">describe/2</code></a> similar to <code class="inline">@describetag</code>.</p>
<p>This function takes the same options as <a href="https://hexdocs.pm/elixir/Module.html#register_attribute/3"><code class="inline">Module.register_attribute/3</code></a>.</p>
<h4 id="register_describe_attribute/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">defmodule MyTest do
  use ExUnit.Case

  ExUnit.Case.register_describe_attribute(__MODULE__, :describe_fixtures, accumulate: true)

  describe "using custom attribute" do
    @describe_fixtures :user
    @describe_fixtures {:post, insert: false}

    test "has attribute", context do
      assert context.registered.describe_fixtures == [{:post, insert: false}, :user]
    end
  end

  describe "custom attributes are cleared per describe" do
    test "doesn't have attributes", context do
      assert context.registered.describe_fixtures == []
    end
  end
end</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="register_module_attribute/3">register_module_attribute(env, name, opts \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/ex_unit/lib/ex_unit/case.ex#L769" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec register_module_attribute(env(), atom(), keyword()) :: :ok</pre> </div> <p>Registers a new module attribute to be used during <a href="exunit.case"><code class="inline">ExUnit.Case</code></a> tests.</p>
<p>The attribute values will be available through <code class="inline">context.registered</code>.</p>
<p>This function takes the same options as <a href="https://hexdocs.pm/elixir/Module.html#register_attribute/3"><code class="inline">Module.register_attribute/3</code></a>.</p>
<h4 id="register_module_attribute/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">defmodule MyTest do
  use ExUnit.Case

  ExUnit.Case.register_module_attribute(__MODULE__, :module_fixtures, accumulate: true)

  @module_fixtures :user
  @module_fixtures {:post, insert: false}

  test "using custom attribute", context do
    assert context.registered.module_fixtures == [{:post, insert: false}, :user]
  end

  test "still using custom attribute", context do
    assert context.registered.module_fixtures == [{:post, insert: false}, :user]
  end
end</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="register_test/4">register_test(map, test_type, name, tags)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/ex_unit/lib/ex_unit/case.ex#L653" class="source">Source</a>
</h3> <div class="deprecated"> This function is deprecated. Use register_test/6 instead. </div> <section class="docstring"> <p>Registers a test with the given environment.</p>
<p>This function is deprecated in favor of <a href="#register_test/6"><code class="inline">register_test/6</code></a> which performs better under tight loops by avoiding <code class="inline">__ENV__</code>.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="register_test/6">register_test(mod, file, line, test_type, name, tags)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/ex_unit/lib/ex_unit/case.ex#L582" class="source">Source</a>
</h3> <section class="docstring"> <p>Registers a function to run as part of this case.</p>
<p>This is used by third-party projects, like QuickCheck, to implement macros like <code class="inline">property/3</code> that works like <code class="inline">test</code> but instead defines a property. See <a href="#test/3"><code class="inline">test/3</code></a> implementation for an example of invoking this function.</p>
<p>The test type will be converted to a string and pluralized for display. You can use <a href="exunit#plural_rule/2"><code class="inline">ExUnit.plural_rule/2</code></a> to set a custom pluralization.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="test/1">test(message)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/ex_unit/lib/ex_unit/case.ex#L431" class="source">Source</a>
</h3> <section class="docstring"> <p>Defines a not implemented test with a string.</p>
<p>Provides a convenient macro that allows a test to be defined with a string, but not yet implemented. The resulting test will always fail and print a "Not implemented" error message. The resulting test case is also tagged with <code class="inline">:not_implemented</code>.</p>
<h4 id="test/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">test "this will be a test in future"</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="test/3">test(message, var \\ quote do _ end, contents)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/ex_unit/lib/ex_unit/case.ex#L359" class="source">Source</a>
</h3> <section class="docstring"> <p>Defines a test with <code class="inline">message</code>.</p>
<p>The test may also define a pattern, which will be matched against the test context. For more information on contexts, see <a href="exunit.callbacks"><code class="inline">ExUnit.Callbacks</code></a>.</p>
<h4 id="test/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">test "true is equal to true" do
  assert true == true
end</pre> </section> </section> </div> </section> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="exunit.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/ex_unit/1.17.2/ExUnit.Case.html" class="_attribution-link">https://hexdocs.pm/ex_unit/1.17.2/ExUnit.Case.html</a>
  </p>
</div>
