<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/ex_unit/lib/ex_unit.ex#L120" title="View Source" class="source" rel="help">Source</a> <span translate="no">ExUnit.TestModule</span>  </h1> <section id="moduledoc"> <p>A struct that keeps information about the test module.</p>
<p>It is received by formatters and contains the following fields:</p>
<ul>
<li><p><code class="inline">:file</code> - (since v1.11.0) the file of the test module</p></li>
<li><p><code class="inline">:name</code> - the test module name</p></li>
<li><p><code class="inline">:state</code> - the test error state (see <a href="exunit#t:state/0"><code class="inline">ExUnit.state/0</code></a>)</p></li>
<li><p><code class="inline">:tests</code> - all tests in this module</p></li>
</ul> </section> </div> <section id="summary" class="details-list"> <h1 class="section-heading">  <span class="text">Summary</span> </h1> <h2> Types </h2>
<dl class="summary-types summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#t:t/0" data-no-tooltip translate="no">t()</a> </dt> </div> </dl> </section> <section id="types" class="details-list"> <h1 class="section-heading">  <span class="text">Types</span> </h1> <div class="types-list"> <section class="detail"> <h3 class="detail-header" id="t:t/0">t()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/ex_unit/lib/ex_unit.ex#L137" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type t() :: %ExUnit.TestModule{
  file: binary(),
  name: module(),
  state: ExUnit.state(),
  tags: map(),
  tests: [ExUnit.Test.t()]
}</pre> </div> </section> </section> </div> </section> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="exunit.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/ex_unit/1.17.2/ExUnit.TestModule.html" class="_attribution-link">https://hexdocs.pm/ex_unit/1.17.2/ExUnit.TestModule.html</a>
  </p>
</div>
