<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/ex_unit/lib/ex_unit/case_template.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">ExUnit.CaseTemplate</span>  </h1> <section id="moduledoc"> <p>Defines a module template to be used throughout your test suite.</p>
<p>This is useful when there are a set of setup callbacks or a set of functions that should be shared between test modules.</p>
<p>Let's imagine that you create a <code class="inline">MyCase</code> module that calls <code class="inline">use ExUnit.CaseTemplate</code>. When a test case module calls <code class="inline">use MyCase</code>, the following things hold true:</p>
<ul>
<li><p>All the functionality that <code class="inline">MyCase</code> would have had available from <code class="inline">use ExUnit.Case</code> is available (same as if <code class="inline">MyCase</code> called <code class="inline">use ExUnit.Case</code> directly)</p></li>
<li><p>The <code class="inline">setup</code> and <code class="inline">setup_all</code> callbacks that you define in <code class="inline">MyCase</code> get used in the test case module</p></li>
</ul>
<p>The options that you pass to <code class="inline">use MyCase</code> get also passed to <code class="inline">use ExUnit.Case</code> under the hood. This means you can do things like <code class="inline">use MyCase, async: true</code>. You can also access this options in <a href="#using/2"><code class="inline">using/2</code></a>.</p>
<blockquote>
<h4 class="info"><code class="inline">use ExUnit.CaseTemplate</code></h4>
<p>When you <code class="inline">use ExUnit.CaseTemplate</code>, it will import the functionality from <a href="exunit.assertions"><code class="inline">ExUnit.Assertions</code></a>, <a href="exunit.callbacks"><code class="inline">ExUnit.Callbacks</code></a>, and this module itself. It will also define a <code class="inline">__using__</code> callback, so the module itself can be used as a template instead of <a href="exunit.case"><code class="inline">ExUnit.Case</code></a>.</p>
</blockquote>
<h2 id="module-example" class="section-heading">  <span class="text">Example</span> </h2> <pre data-language="elixir">defmodule MyCase do
  use ExUnit.CaseTemplate

  setup do
    IO.puts("This will run before each test that uses this case")
  end
end

defmodule MyTest do
  use MyCase, async: true

  test "truth" do
    assert true
  end
end</pre>
<p>If you need to "hook" into <code class="inline">use MyCase</code> and do other things as well, you can use the <a href="#using/2"><code class="inline">using/2</code></a> macro. See its documentation for more information and examples.</p>
<pre data-language="elixir">defmodule MyCase do
  use ExUnit.CaseTemplate

  using do
    quote do
      import MyApp.TestHelpers
    end
  end
end</pre> </section> </div> <section id="summary" class="details-list"> <h1 class="section-heading">  <span class="text">Summary</span> </h1> <h2> Functions </h2>
<dl class="summary-functions summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#using/2" data-no-tooltip translate="no">using(var \\ quote do _ end, list)</a> </dt> <dd class="summary-synopsis"><p>Allows a developer to customize the using block when the case template is used.</p></dd> </div> </dl> </section> <section id="functions" class="details-list"> <h1 class="section-heading">  <span class="text">Functions</span> </h1> <div class="functions-list"> <section class="detail">  <h3 class="detail-header" id="using/2">using(var \\ quote do _ end, list)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/ex_unit/lib/ex_unit/case_template.ex#L147" class="source">Source</a>
</h3> <section class="docstring"> <p>Allows a developer to customize the using block when the case template is used.</p>
<p>You can use an optional <code class="inline">var</code> argument when calling <a href="#using/2"><code class="inline">using/2</code></a>. ExUnit will pass whatever argument you pass to <code class="inline">use MyCase</code> as this <code class="inline">var</code> argument. See the examples below for clarification.</p>
<h4 id="using/2-example" class="section-heading">  <span class="text">Example</span> </h4> <pre data-language="elixir">defmodule MyCase do
  use ExUnit.CaseTemplate

  using do
    quote do
      # This code is injected into every case that calls "use MyCase"
      alias MyApp.FunModule
    end
  end
end</pre>
<p>You can specify an argument to <a href="#using/2"><code class="inline">using/2</code></a>:</p>
<pre data-language="elixir">defmodule MyCase do
  use ExUnit.CaseTemplate

  using options do
    quote do
      if unquote(options)[:import_helpers] do
        import MyApp.TestHelpers
      end
    end
  end
end</pre>
<p>The second argument passed to <code class="inline">use MyCase</code> gets forwarded to <a href="#using/2"><code class="inline">using/2</code></a> too:</p>
<pre data-language="elixir">defmodule SomeTestCase do
  use MyCase, async: true, import_helpers: true

  test "the truth" do
    # truth/0 comes from MyApp.TestHelpers:
    assert truth()
  end
end</pre>
<blockquote>
<h4 class="warning">Sharing options with <code class="inline">use ExUnit.Case</code>
</h4>
<p>The second argument that you pass to <code class="inline">use MyCase</code> is <em>also</em> passed as the second argument to <code class="inline">use ExUnit.Case</code>.</p>
</blockquote> </section> </section> </div> </section> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="exunit.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/ex_unit/1.17.2/ExUnit.CaseTemplate.html" class="_attribution-link">https://hexdocs.pm/ex_unit/1.17.2/ExUnit.CaseTemplate.html</a>
  </p>
</div>
