<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/ex_unit/lib/ex_unit/callbacks.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">ExUnit.Callbacks</span>  </h1> <section id="moduledoc"> <p>Defines ExUnit callbacks.</p>
<p>This module defines the <a href="#setup/1"><code class="inline">setup/1</code></a>, <a href="#setup/2"><code class="inline">setup/2</code></a>, <a href="#setup_all/1"><code class="inline">setup_all/1</code></a>, and <a href="#setup_all/2"><code class="inline">setup_all/2</code></a> callbacks, as well as the <a href="#on_exit/2"><code class="inline">on_exit/2</code></a>, <a href="#start_supervised/2"><code class="inline">start_supervised/2</code></a>, <a href="#stop_supervised/1"><code class="inline">stop_supervised/1</code></a> and <a href="#start_link_supervised!/2"><code class="inline">start_link_supervised!/2</code></a> functions.</p>
<p>The setup callbacks may be used to define <a href="https://en.wikipedia.org/wiki/Test_fixture#Software">test fixtures</a> and run any initialization code which help bring the system into a known state. They are defined via macros and each one can optionally receive a map with test state and metadata, usually referred to as the <code class="inline">context</code>. Optionally, the context to be used in the tests can be extended by the setup callbacks by returning a properly structured value (see below).</p>
<p>The <code class="inline">setup_all</code> callbacks are invoked only once per module, before any test is run. All <code class="inline">setup</code> callbacks are run before each test. No callback is run if the test case has no tests or all tests have been filtered out.</p>
<p><code class="inline">setup</code> and <code class="inline">setup_all</code> callbacks can be defined by either a block, an atom naming a local function, a <code class="inline">{module, function}</code> tuple, or a list of atoms/tuples.</p>
<p>Both can opt to receive the current context by specifying it as parameter if defined by a block. Functions used to define a test setup must accept the context as single argument.</p>
<p>A test module can define multiple <code class="inline">setup</code> and <code class="inline">setup_all</code> callbacks, and they are invoked in order of appearance.</p>
<p><a href="#start_supervised/2"><code class="inline">start_supervised/2</code></a> is used to start processes under a supervisor. The supervisor is linked to the current test process. The supervisor as well as all child processes are guaranteed to terminate before any <a href="#on_exit/2"><code class="inline">on_exit/2</code></a> callback runs.</p>
<p><a href="#on_exit/2"><code class="inline">on_exit/2</code></a> callbacks are registered on demand, usually to undo an action performed by a setup callback. <a href="#on_exit/2"><code class="inline">on_exit/2</code></a> may also take a reference, allowing the callback to be overridden in the future. A registered <a href="#on_exit/2"><code class="inline">on_exit/2</code></a> callback will always run, while failures in <code class="inline">setup</code> and <code class="inline">setup_all</code> will stop all remaining setup callbacks from executing.</p>
<p>Finally, <code class="inline">setup_all</code> callbacks run in a separate process per module, while all <code class="inline">setup</code> callbacks run in the same process as the test itself. <a href="#on_exit/2"><code class="inline">on_exit/2</code></a> callbacks always run in a separate process, as implied by their name. The test process always exits with reason <code class="inline">:shutdown</code>, which means any process linked to the test process will also exit, although asynchronously. Therefore it is preferred to use <a href="#start_supervised/2"><code class="inline">start_supervised/2</code></a> to guarantee synchronous termination.</p>
<p>Here is a rundown of the life cycle of the test process:</p>
<ol>
<li>the test process is spawned</li>
<li>it runs <a href="#setup/2"><code class="inline">setup/2</code></a> callbacks</li>
<li>it runs the test itself</li>
<li>it stops all supervised processes</li>
<li>the test process exits with reason <code class="inline">:shutdown</code>
</li>
<li>
<a href="#on_exit/2"><code class="inline">on_exit/2</code></a> callbacks are executed in a separate process</li>
</ol>
<h2 id="module-context" class="section-heading">  <span class="text">Context</span> </h2> <p>If <code class="inline">setup_all</code> or <code class="inline">setup</code> return a keyword list, a map, or a tuple in the shape of <code class="inline">{:ok, keyword() | map()}</code>, the keyword list or map will be merged into the current context and will be available in all subsequent <code class="inline">setup_all</code>, <code class="inline">setup</code>, and the <code class="inline">test</code> itself.</p>
<p>Returning <code class="inline">:ok</code> leaves the context unchanged (in <code class="inline">setup</code> and <code class="inline">setup_all</code> callbacks).</p>
<p>Returning anything else from <code class="inline">setup_all</code> will force all tests to fail, while a bad response from <code class="inline">setup</code> causes the current test to fail.</p>
<h2 id="module-examples" class="section-heading">  <span class="text">Examples</span> </h2> <pre data-language="elixir">defmodule AssertionTest do
  use ExUnit.Case, async: true

  # "setup_all" is called once per module before any test runs
  setup_all do
    IO.puts("Starting AssertionTest")

    # Context is not updated here
    :ok
  end

  # "setup" is called before each test
  setup do
    IO.puts("This is a setup callback for #{inspect(self())}")

    on_exit(fn -&gt;
      IO.puts("This is invoked once the test is done. Process: #{inspect(self())}")
    end)

    # Returns extra metadata to be merged into context.
    # Any of the following would also work:
    #
    #     {:ok, %{hello: "world"}}
    #     {:ok, [hello: "world"]}
    #     %{hello: "world"}
    #
    [hello: "world"]
  end

  # Same as above, but receives the context as argument
  setup context do
    IO.puts("Setting up: #{context.test}")

    # We can simply return :ok when we don't want to add any extra metadata
    :ok
  end

  # Setups can also invoke a local or imported function that returns a context
  setup :invoke_local_or_imported_function

  test "always pass" do
    assert true
  end

  test "uses metadata from setup", context do
    assert context[:hello] == "world"
    assert context[:from_named_setup] == true
  end

  defp invoke_local_or_imported_function(context) do
    [from_named_setup: true]
  end
end</pre>
<p>It is also common to define your setup as a series of functions, which are put together by calling <code class="inline">setup</code> or <code class="inline">setup_all</code> with a list of function names. Each of these functions receive the context and can return any of the values allowed in <code class="inline">setup</code> blocks:</p>
<pre data-language="elixir">defmodule ExampleContextTest do
  use ExUnit.Case

  setup [:step1, :step2, :step3, {OtherModule, :step4}]

  defp step1(_context), do: [step_one: true]
  defp step2(_context), do: {:ok, step_two: true} # return values with shape of {:ok, keyword() | map()} allowed
  defp step3(_context), do: :ok # Context not modified

  test "context was modified", context do
    assert context[:step_one] == true
    assert context[:step_two] == true
  end
end</pre>
<p>Finally, as discussed in the <a href="exunit.case"><code class="inline">ExUnit.Case</code></a> documentation, remember that the initial context metadata can also be set via <code class="inline">@tag</code>s, which can then be accessed in the <code class="inline">setup</code> block:</p>
<pre data-language="elixir">defmodule ExampleTagModificationTest do
  use ExUnit.Case

  setup %{login_as: username} do
    {:ok, current_user: username}
  end

  @tag login_as: "max"
  test "tags modify context", context do
    assert context[:login_as] == "max"
    assert context[:current_user] == "max"
  end
end</pre> </section> </div> <section id="summary" class="details-list"> <h1 class="section-heading">  <span class="text">Summary</span> </h1> <h2> Functions </h2>
<dl class="summary-functions summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#on_exit/2" data-no-tooltip translate="no">on_exit(name_or_ref \\ make_ref(), callback)</a> </dt> <dd class="summary-synopsis"><p>Registers a callback that runs once the test exits.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#setup/1" data-no-tooltip translate="no">setup(block_or_functions)</a> </dt> <dd class="summary-synopsis"><p>Defines a callback to be run before each test in a case.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#setup/2" data-no-tooltip translate="no">setup(context, block)</a> </dt> <dd class="summary-synopsis"><p>Defines a callback to be run before each test in a case.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#setup_all/1" data-no-tooltip translate="no">setup_all(block)</a> </dt> <dd class="summary-synopsis"><p>Defines a callback to be run before all tests in a case.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#setup_all/2" data-no-tooltip translate="no">setup_all(context, block)</a> </dt> <dd class="summary-synopsis"><p>Defines a callback to be run before all tests in a case.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#start_link_supervised!/2" data-no-tooltip translate="no">start_link_supervised!(child_spec_or_module, opts \\ [])</a> </dt> <dd class="summary-synopsis"><p>Same as <a href="#start_supervised!/2"><code class="inline">start_supervised!/2</code></a> but links the started process to the test process.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#start_supervised/2" data-no-tooltip translate="no">start_supervised(child_spec_or_module, opts \\ [])</a> </dt> <dd class="summary-synopsis"><p>Starts a child process under the test supervisor.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#start_supervised!/2" data-no-tooltip translate="no">start_supervised!(child_spec_or_module, opts \\ [])</a> </dt> <dd class="summary-synopsis"><p>Same as <a href="#start_supervised/2"><code class="inline">start_supervised/2</code></a> but returns the PID on success and raises if not started properly.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#stop_supervised/1" data-no-tooltip translate="no">stop_supervised(id)</a> </dt> <dd class="summary-synopsis"><p>Stops a child process started via <a href="#start_supervised/2"><code class="inline">start_supervised/2</code></a>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#stop_supervised!/1" data-no-tooltip translate="no">stop_supervised!(id)</a> </dt> <dd class="summary-synopsis"><p>Same as <a href="#stop_supervised/1"><code class="inline">stop_supervised/1</code></a> but raises if it cannot be stopped.</p></dd> </div> </dl> </section> <section id="functions" class="details-list"> <h1 class="section-heading">  <span class="text">Functions</span> </h1> <div class="functions-list"> <section class="detail">  <h3 class="detail-header" id="on_exit/2">on_exit(name_or_ref \\ make_ref(), callback)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/ex_unit/lib/ex_unit/callbacks.ex#L491" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec on_exit(term(), (-&gt; term())) :: :ok</pre> </div> <p>Registers a callback that runs once the test exits.</p>
<p><code class="inline">callback</code> is a function that receives no arguments and runs in a separate process than the caller. Its return value is irrelevant and is discarded.</p>
<p><a href="#on_exit/2"><code class="inline">on_exit/2</code></a> is usually called from <a href="#setup/1"><code class="inline">setup/1</code></a> and <a href="#setup_all/1"><code class="inline">setup_all/1</code></a> callbacks, often to undo the action performed during the setup.</p>
<p>However, <a href="#on_exit/2"><code class="inline">on_exit/2</code></a> may also be called dynamically. An "ID" (the <code class="inline">name_or_ref</code> argument) can be used to guarantee that the callback will be invoked only once. ExUnit uses this term to identify an <a href="#on_exit/2"><code class="inline">on_exit/2</code></a> handler: if you want to override a previous handler, for example, use the same <code class="inline">name_or_ref</code> across multiple <a href="#on_exit/2"><code class="inline">on_exit/2</code></a> calls.</p>
<p>If <a href="#on_exit/2"><code class="inline">on_exit/2</code></a> is called inside <a href="#setup/1"><code class="inline">setup/1</code></a> or inside a test, it's executed in a blocking fashion after the test exits and <em>before running the next test</em>. This means that no other test from the same test case will be running while the <a href="#on_exit/2"><code class="inline">on_exit/2</code></a> callback for a previous test is running. <a href="#on_exit/2"><code class="inline">on_exit/2</code></a> is executed in a different process than the test process. On the other hand, if <a href="#on_exit/2"><code class="inline">on_exit/2</code></a> is called inside a <a href="#setup_all/1"><code class="inline">setup_all/1</code></a> callback then <code class="inline">callback</code> is executed after running <em>all tests</em> (see <a href="#setup_all/1"><code class="inline">setup_all/1</code></a> for more information).</p>
<h4 id="on_exit/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">setup do
  File.write!("fixture.json", "{}")
  on_exit(fn -&gt; File.rm!("fixture.json") end)
end</pre>
<p>You can use the same <code class="inline">name_or_ref</code> across multiple <a href="#on_exit/2"><code class="inline">on_exit/2</code></a> calls to "override" the registered handler:</p>
<pre data-language="elixir">setup do
  on_exit(:drop_table, fn -&gt;
    Database.drop_table()
  end)
end

test "a test that shouldn't drop the table" do
  on_exit(:drop_table, fn -&gt; :ok end)
end</pre>
<p>Relying too much on overriding callbacks like this can lead to test cases that are hard to understand and with too many layers of indirection. However, it can be useful in some cases or for library authors, for example.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="setup/1">setup(block_or_functions)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/ex_unit/lib/ex_unit/callbacks.ex#L217" class="source">Source</a>
</h3> <section class="docstring"> <p>Defines a callback to be run before each test in a case.</p>
<p>Accepts one of these:</p>
<ul>
<li>a block</li>
<li>an atom naming a local function</li>
<li>a <code class="inline">{module, function}</code> tuple</li>
<li>a list of atoms and <code class="inline">{module, function}</code> tuples</li>
</ul>
<p>Can return values to be merged into the context, to set up the state for tests. For more details, see the "Context" section shown above.</p>
<p><a href="#setup/1"><code class="inline">setup/1</code></a> callbacks are executed in the same process as the test process.</p>
<h4 id="setup/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">defp clean_up_tmp_directory(context) do
  # perform setup
  :ok
end

setup :clean_up_tmp_directory

setup [:clean_up_tmp_directory, :another_setup]

setup do
  [conn: Plug.Conn.build_conn()]
end

setup {MyModule, :my_setup_function}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="setup/2">setup(context, block)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/ex_unit/lib/ex_unit/callbacks.ex#L242" class="source">Source</a>
</h3> <section class="docstring"> <p>Defines a callback to be run before each test in a case.</p>
<p>This is similar to <a href="#setup/1"><code class="inline">setup/1</code></a>, but the first argument is the context. The <code class="inline">block</code> argument can only be a block.</p>
<p>For more details, see the "Context" section shown above.</p>
<h4 id="setup/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">setup context do
  [conn: Plug.Conn.build_conn()]
end</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="setup_all/1">setup_all(block)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/ex_unit/lib/ex_unit/callbacks.ex#L354" class="source">Source</a>
</h3> <section class="docstring"> <p>Defines a callback to be run before all tests in a case.</p>
<p>Accepts one of these:</p>
<ul>
<li>a block</li>
<li>an atom naming a local function</li>
<li>a <code class="inline">{module, function}</code> tuple</li>
<li>a list of atoms and <code class="inline">{module, function}</code> tuples</li>
</ul>
<p>Can return values to be merged into the <code class="inline">context</code>, to set up the state for tests. For more details, see the "Context" section shown above.</p>
<p><a href="#setup_all/1"><code class="inline">setup_all/1</code></a> callbacks are executed in a separate process than tests. All <a href="#setup_all/1"><code class="inline">setup_all/1</code></a> callbacks are executed in order in the same process.</p>
<h4 id="setup_all/1-on-exit-handlers" class="section-heading">  <span class="text">On-Exit Handlers</span> </h4> <p>On-exit handlers that you register inside <a href="#setup_all/1"><code class="inline">setup_all/1</code></a> callbacks are executed at once after all tests in the module have been run. They are all executed <em>in the same process</em>, which is a separate process dedicated to running these handlers. These handlers are executed in the reverse order of their respective <a href="#setup_all/1"><code class="inline">setup_all/1</code></a> callbacks.</p>
<h4 id="setup_all/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir"># One-arity function name
setup_all :clean_up_tmp_directory

# A module and function
setup_all {MyModule, :my_setup_function}

# A list of one-arity functions and module/function tuples
setup_all [:clean_up_tmp_directory, {MyModule, :my_setup_function}]

defp clean_up_tmp_directory(_context) do
  # perform setup
  :ok
end

# A block
setup_all do
  [conn: Plug.Conn.build_conn()]
end</pre>
<p>The context returned by <a href="#setup_all/1"><code class="inline">setup_all/1</code></a> will be available in all subsequent <code class="inline">setup_all</code>, <code class="inline">setup</code>, and the <code class="inline">test</code> itself. For instance, the <code class="inline">conn</code> from the previous example can be accessed as:</p>
<pre data-language="elixir">test "fetches current users", %{conn: conn} do
  # ...
end</pre>
<h3 id="setup_all/1-handlers" class="section-heading">  <span class="text">Handlers</span> </h3> <p>You can define "global" on-exit handlers in <a href="#setup_all/1"><code class="inline">setup_all/1</code></a> callbacks:</p>
<pre data-language="elixir">setup_all do
  Database.create_table_for(__MODULE__)

  on_exit(fn -&gt;
    Database.drop_table_for(__MODULE__)
  end)

  :ok
end</pre>
<p>The handler in the example above will be executed only once, after running all tests in the module.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="setup_all/2">setup_all(context, block)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/ex_unit/lib/ex_unit/callbacks.ex#L377" class="source">Source</a>
</h3> <section class="docstring"> <p>Defines a callback to be run before all tests in a case.</p>
<p>Similar as <a href="#setup_all/1"><code class="inline">setup_all/1</code></a> but also takes a context. The second argument must be a block. See the "Context" section in the module documentation.</p>
<h4 id="setup_all/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">setup_all _context do
  [conn: Plug.Conn.build_conn()]
end</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="start_link_supervised!/2">start_link_supervised!(child_spec_or_module, opts \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/ex_unit/lib/ex_unit/callbacks.ex#L603" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec start_link_supervised!(
  Supervisor.child_spec() | module() | {module(), term()},
  keyword()
) :: pid()</pre> </div> <p>Same as <a href="#start_supervised!/2"><code class="inline">start_supervised!/2</code></a> but links the started process to the test process.</p>
<p>If the process that was started crashes, the crash is propagated to the test process, failing the test and printing the cause of the crash.</p>
<p>Note that if the started process terminates before it is linked to the test process, this function will exit with reason <code class="inline">:noproc</code>.</p> </section> </section> <section class="detail">  <h3 class="detail-header" id="start_supervised/2">start_supervised(child_spec_or_module, opts \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/ex_unit/lib/ex_unit/callbacks.ex#L549" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec start_supervised(
  Supervisor.child_spec() | module() | {module(), term()},
  keyword()
) :: Supervisor.on_start_child()</pre> </div> <p>Starts a child process under the test supervisor.</p>
<p>It expects a child specification or a module, similar to the ones given to <a href="https://hexdocs.pm/elixir/Supervisor.html#start_link/2"><code class="inline">Supervisor.start_link/2</code></a>. For example, if your application starts a supervision tree by running:</p>
<pre data-language="elixir">Supervisor.start_link([MyServer, {OtherSupervisor, ...}], ...)</pre>
<p>You can start those processes under test in isolation by running:</p>
<pre data-language="elixir">start_supervised(MyServer)
start_supervised({OtherSupervisor, :initial_value})</pre>
<p>A keyword list can also be given if there is a need to change the child specification for the given child process:</p>
<pre data-language="elixir">start_supervised({MyServer, :initial_value}, restart: :temporary)</pre>
<p>See the <a href="https://hexdocs.pm/elixir/Supervisor.html"><code class="inline">Supervisor</code></a> module for a discussion on child specifications and the available specification keys.</p>
<p>The started process is not linked to the test process and a crash will not necessarily fail the test. To start and link a process to guarantee that any crash would also fail the test use <a href="#start_link_supervised!/2"><code class="inline">start_link_supervised!/2</code></a>.</p>
<p>This function returns <code class="inline">{:ok, pid}</code> in case of success, otherwise it returns <code class="inline">{:error, reason}</code>.</p>
<p>The advantage of starting a process under the test supervisor is that it is guaranteed to exit before the next test starts. Therefore, you don't need to remove the process at the end of your tests via <a href="#stop_supervised/1"><code class="inline">stop_supervised/1</code></a>. You only need to use <a href="#stop_supervised/1"><code class="inline">stop_supervised/1</code></a> if you want to remove a process from the supervision tree in the middle of a test, as simply shutting down the process would cause it to be restarted according to its <code class="inline">:restart</code> value.</p>
<p>Finally, since Elixir v1.17.0, the test supervisor has both <code class="inline">$ancestors</code> and <code class="inline">$callers</code> key in its process dictionary pointing to the test process. This means developers can invoke <code class="inline">Process.get(:"$callers", [])</code> in their <code class="inline">start_link</code> function and forward it to the spawned process, which may set <code class="inline">Process.put(:"$callers", callers)</code> during its initialization. This may be useful in projects who track process ownership during tests. You can learn more about these keys in <a href="https://hexdocs.pm/elixir/Task.html#module-ancestor-and-caller-tracking">the <code class="inline">Task</code> module</a>.</p> </section> </section> <section class="detail">  <h3 class="detail-header" id="start_supervised!/2">start_supervised!(child_spec_or_module, opts \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/ex_unit/lib/ex_unit/callbacks.ex#L569" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec start_supervised!(
  Supervisor.child_spec() | module() | {module(), term()},
  keyword()
) :: pid()</pre> </div> <p>Same as <a href="#start_supervised/2"><code class="inline">start_supervised/2</code></a> but returns the PID on success and raises if not started properly.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="stop_supervised/1">stop_supervised(id)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/ex_unit/lib/ex_unit/callbacks.ex#L623" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec stop_supervised(id :: term()) :: :ok | {:error, :not_found}</pre> </div> <p>Stops a child process started via <a href="#start_supervised/2"><code class="inline">start_supervised/2</code></a>.</p>
<p>This function expects the <code class="inline">id</code> in the child specification. For example:</p>
<pre data-language="elixir">{:ok, _} = start_supervised(MyServer)
:ok = stop_supervised(MyServer)</pre>
<p>It returns <code class="inline">:ok</code> if there is a supervised process with such <code class="inline">id</code>, <code class="inline">{:error, :not_found}</code> otherwise.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="stop_supervised!/1">stop_supervised!(id)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/ex_unit/lib/ex_unit/callbacks.ex#L660" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec stop_supervised!(id :: term()) :: :ok</pre> </div> <p>Same as <a href="#stop_supervised/1"><code class="inline">stop_supervised/1</code></a> but raises if it cannot be stopped.</p> </section> </section> </div> </section> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="exunit.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/ex_unit/1.17.2/ExUnit.Callbacks.html" class="_attribution-link">https://hexdocs.pm/ex_unit/1.17.2/ExUnit.Callbacks.html</a>
  </p>
</div>
