<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/file/stat.ex#L3" title="View Source" class="source" rel="help">Source</a> <span translate="no">File.Stat</span>  </h1> <section id="moduledoc"> <p>A struct that holds file information.</p>
<p>In Erlang, this struct is represented by a <code class="inline">:file_info</code> record. Therefore this module also provides functions for converting between the Erlang record and the Elixir struct.</p>
<p>Its fields are:</p>
<ul>
<li><p><code class="inline">size</code> - size of file in bytes.</p></li>
<li><p><code class="inline">type</code> - <code class="inline">:device | :directory | :regular | :other | :symlink</code>; the type of the file.</p></li>
<li><p><code class="inline">access</code> - <code class="inline">:read | :write | :read_write | :none</code>; the current system access to the file.</p></li>
<li><p><code class="inline">atime</code> - the last time the file was read.</p></li>
<li><p><code class="inline">mtime</code> - the last time the file was written.</p></li>
<li><p><code class="inline">ctime</code> - the interpretation of this time field depends on the operating system. On Unix-like operating systems, it is the last time the file or the inode was changed. In Windows, it is the time of creation.</p></li>
<li><p><code class="inline">mode</code> - the file permissions.</p></li>
<li><p><code class="inline">links</code> - the number of links to this file. This is always 1 for file systems which have no concept of links.</p></li>
<li><p><code class="inline">major_device</code> - identifies the file system where the file is located. In Windows, the number indicates a drive as follows: 0 means A:, 1 means B:, and so on.</p></li>
<li><p><code class="inline">minor_device</code> - only valid for character devices on Unix-like systems. In all other cases, this field is zero.</p></li>
<li><p><code class="inline">inode</code> - gives the inode number. On non-Unix-like file systems, this field will be zero.</p></li>
<li><p><code class="inline">uid</code> - indicates the owner of the file. Will be zero for non-Unix-like file systems.</p></li>
<li><p><code class="inline">gid</code> - indicates the group that owns the file. Will be zero for non-Unix-like file systems.</p></li>
</ul>
<p>The time type returned in <code class="inline">atime</code>, <code class="inline">mtime</code>, and <code class="inline">ctime</code> is dependent on the time type set in options. <code class="inline">{:time, type}</code> where type can be <code class="inline">:local</code>, <code class="inline">:universal</code>, or <code class="inline">:posix</code>. Default is <code class="inline">:universal</code>.</p> </section> </div> <section id="summary" class="details-list"> <h1 class="section-heading">  <span class="text">Summary</span> </h1> <h2> Types </h2>
<dl class="summary-types summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#t:t/0" data-no-tooltip translate="no">t()</a> </dt> </div> </dl> <h2> Functions </h2>
<dl class="summary-functions summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#from_record/1" data-no-tooltip translate="no">from_record(file_info)</a> </dt> <dd class="summary-synopsis"><p>Converts a <code class="inline">:file_info</code> record into a <a href="file.stat"><code class="inline">File.Stat</code></a>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#to_record/1" data-no-tooltip translate="no">to_record(stat)</a> </dt> <dd class="summary-synopsis"><p>Converts a <a href="file.stat"><code class="inline">File.Stat</code></a> struct to a <code class="inline">:file_info</code> record.</p></dd> </div> </dl> </section> <section id="types" class="details-list"> <h1 class="section-heading">  <span class="text">Types</span> </h1> <div class="types-list"> <section class="detail"> <h3 class="detail-header" id="t:t/0">t()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/file/stat.ex#L62" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type t() :: %File.Stat{
  access: :read | :write | :read_write | :none | :undefined,
  atime: :calendar.datetime() | integer() | :undefined,
  ctime: :calendar.datetime() | integer() | :undefined,
  gid: non_neg_integer() | :undefined,
  inode: non_neg_integer() | :undefined,
  links: non_neg_integer() | :undefined,
  major_device: non_neg_integer() | :undefined,
  minor_device: non_neg_integer() | :undefined,
  mode: non_neg_integer() | :undefined,
  mtime: :calendar.datetime() | integer() | :undefined,
  size: non_neg_integer() | :undefined,
  type: :device | :directory | :regular | :other | :symlink | :undefined,
  uid: non_neg_integer() | :undefined
}</pre> </div> </section> </section> </div> </section> <section id="functions" class="details-list"> <h1 class="section-heading">  <span class="text">Functions</span> </h1> <div class="functions-list"> <section class="detail"> <h3 class="detail-header" id="from_record/1">from_record(file_info)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/file/stat.ex#L90" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec from_record(:file.file_info()) :: t()</pre> </div> <p>Converts a <code class="inline">:file_info</code> record into a <a href="file.stat"><code class="inline">File.Stat</code></a>.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="to_record/1">to_record(stat)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/file/stat.ex#L82" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec to_record(t()) :: :file.file_info()</pre> </div> <p>Converts a <a href="file.stat"><code class="inline">File.Stat</code></a> struct to a <code class="inline">:file_info</code> record.</p> </section> </section> </div> </section> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/File.Stat.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/File.Stat.html</a>
  </p>
</div>
