<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/exception.ex#L2213" title="View Source" class="source" rel="help">Source</a> <span translate="no">File.RenameError</span> <small>exception</small>  </h1> <section id="moduledoc"> <p>An exception that is raised when renaming a file fails.</p>
<p>The following fields of this exception are public and can be accessed freely:</p>
<ul>
<li>
<code class="inline">:source</code> (<a href="path#t:t/0"><code class="inline">Path.t/0</code></a>) - the source path</li>
<li>
<code class="inline">:destination</code> (<a href="path#t:t/0"><code class="inline">Path.t/0</code></a>) - the destination path</li>
<li>
<code class="inline">:reason</code> (<a href="file#t:posix/0"><code class="inline">File.posix/0</code></a>) - the reason why the file could not be renamed</li>
</ul> </section> </div> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/File.RenameError.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/File.RenameError.html</a>
  </p>
</div>
