<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/file/stream.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">File.Stream</span>  </h1> <section id="moduledoc"> <p>Defines a <a href="file.stream"><code class="inline">File.Stream</code></a> struct returned by <a href="file#stream!/3"><code class="inline">File.stream!/3</code></a>.</p>
<p>The following fields are public:</p>
<ul>
<li>
<code class="inline">path</code> - the file path</li>
<li>
<code class="inline">modes</code> - the file modes</li>
<li>
<code class="inline">raw</code> - a boolean indicating if bin functions should be used</li>
<li>
<code class="inline">line_or_bytes</code> - if reading should read lines or a given number of bytes</li>
<li>
<code class="inline">node</code> - the node the file belongs to</li>
</ul> </section> </div> <section id="summary" class="details-list"> <h1 class="section-heading">  <span class="text">Summary</span> </h1> <h2> Types </h2>
<dl class="summary-types summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#t:t/0" data-no-tooltip translate="no">t()</a> </dt> </div> </dl> </section> <section id="types" class="details-list"> <h1 class="section-heading">  <span class="text">Types</span> </h1> <div class="types-list"> <section class="detail"> <h3 class="detail-header" id="t:t/0">t()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/file/stream.ex#L17" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type t() :: %File.Stream{
  line_or_bytes: term(),
  modes: term(),
  node: term(),
  path: term(),
  raw: term()
}</pre> </div> </section> </section> </div> </section> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/File.Stream.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/File.Stream.html</a>
  </p>
</div>
