<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/float.ex#L3" title="View Source" class="source" rel="help">Source</a> <span translate="no">Float</span>  </h1> <section id="moduledoc"> <p>Functions for working with floating-point numbers.</p>
<p>For mathematical operations on top of floating-points, see Erlang's <a href="https://www.erlang.org/doc/apps/stdlib/math.html"><code class="inline">:math</code></a> module.</p>
<h2 id="module-kernel-functions" class="section-heading">  <span class="text">Kernel functions</span> </h2> <p>There are functions related to floating-point numbers on the <a href="kernel"><code class="inline">Kernel</code></a> module too. Here is a list of them:</p>
<ul>
<li>
<a href="kernel#round/1"><code class="inline">Kernel.round/1</code></a>: rounds a number to the nearest integer.</li>
<li>
<a href="kernel#trunc/1"><code class="inline">Kernel.trunc/1</code></a>: returns the integer part of a number.</li>
</ul>
<h2 id="module-known-issues" class="section-heading">  <span class="text">Known issues</span> </h2> <p>There are some very well known problems with floating-point numbers and arithmetic due to the fact most decimal fractions cannot be represented by a floating-point binary and most operations are not exact, but operate on approximations. Those issues are not specific to Elixir, they are a property of floating point representation itself.</p>
<p>For example, the numbers 0.1 and 0.01 are two of them, what means the result of squaring 0.1 does not give 0.01 neither the closest representable. Here is what happens in this case:</p>
<ul>
<li>The closest representable number to 0.1 is 0.1000000014</li>
<li>The closest representable number to 0.01 is 0.0099999997</li>
<li>Doing 0.1 * 0.1 should return 0.01, but because 0.1 is actually 0.1000000014, the result is 0.010000000000000002, and because this is not the closest representable number to 0.01, you'll get the wrong result for this operation</li>
</ul>
<p>There are also other known problems like flooring or rounding numbers. See <a href="#round/2"><code class="inline">round/2</code></a> and <a href="#floor/2"><code class="inline">floor/2</code></a> for more details about them.</p>
<p>To learn more about floating-point arithmetic visit:</p>
<ul>
<li><a href="http://0.30000000000000004.com/">0.30000000000000004.com</a></li>
<li><a href="https://floating-point-gui.de/">What Every Programmer Should Know About Floating-Point Arithmetic</a></li>
</ul> </section> </div> <section id="summary" class="details-list"> <h1 class="section-heading">  <span class="text">Summary</span> </h1> <h2> Types </h2>
<dl class="summary-types summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#t:precision_range/0" data-no-tooltip translate="no">precision_range()</a> </dt> </div> </dl> <h2> Functions </h2>
<dl class="summary-functions summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#ceil/2" data-no-tooltip translate="no">ceil(number, precision \\ 0)</a> </dt> <dd class="summary-synopsis"><p>Rounds a float to the smallest float greater than or equal to <code class="inline">number</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#floor/2" data-no-tooltip translate="no">floor(number, precision \\ 0)</a> </dt> <dd class="summary-synopsis"><p>Rounds a float to the largest float less than or equal to <code class="inline">number</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#max_finite/0" data-no-tooltip translate="no">max_finite()</a> </dt> <dd class="summary-synopsis"><p>Returns the maximum finite value for a float.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#min_finite/0" data-no-tooltip translate="no">min_finite()</a> </dt> <dd class="summary-synopsis"><p>Returns the minimum finite value for a float.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#parse/1" data-no-tooltip translate="no">parse(binary)</a> </dt> <dd class="summary-synopsis"><p>Parses a binary into a float.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#pow/2" data-no-tooltip translate="no">pow(base, exponent)</a> </dt> <dd class="summary-synopsis"><p>Computes <code class="inline">base</code> raised to power of <code class="inline">exponent</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#ratio/1" data-no-tooltip translate="no">ratio(float)</a> </dt> <dd class="summary-synopsis"><p>Returns a pair of integers whose ratio is exactly equal to the original float and with a positive denominator.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#round/2" data-no-tooltip translate="no">round(float, precision \\ 0)</a> </dt> <dd class="summary-synopsis"><p>Rounds a floating-point value to an arbitrary number of fractional digits (between 0 and 15).</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#to_charlist/1" data-no-tooltip translate="no">to_charlist(float)</a> </dt> <dd class="summary-synopsis"><p>Returns a charlist which corresponds to the shortest text representation of the given float.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#to_string/1" data-no-tooltip translate="no">to_string(float)</a> </dt> <dd class="summary-synopsis"><p>Returns a binary which corresponds to the shortest text representation of the given float.</p></dd> </div> </dl> </section> <section id="types" class="details-list"> <h1 class="section-heading">  <span class="text">Types</span> </h1> <div class="types-list"> <section class="detail"> <h3 class="detail-header" id="t:precision_range/0">precision_range()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/float.ex#L50" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type precision_range() :: 0..15</pre> </div> </section> </section> </div> </section> <section id="functions" class="details-list"> <h1 class="section-heading">  <span class="text">Functions</span> </h1> <div class="functions-list"> <section class="detail">  <h3 class="detail-header" id="ceil/2">ceil(number, precision \\ 0)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/float.ex#L283" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec ceil(float(), precision_range()) :: float()</pre> </div> <p>Rounds a float to the smallest float greater than or equal to <code class="inline">number</code>.</p>
<p><a href="#ceil/2"><code class="inline">ceil/2</code></a> also accepts a precision to round a floating-point value down to an arbitrary number of fractional digits (between 0 and 15).</p>
<p>The operation is performed on the binary floating point, without a conversion to decimal.</p>
<p>The behavior of <a href="#ceil/2"><code class="inline">ceil/2</code></a> for floats can be surprising. For example:</p>
<pre data-language="elixir">iex&gt; Float.ceil(-12.52, 2)
-12.51</pre>
<p>One may have expected it to ceil to -12.52. This is not a bug. Most decimal fractions cannot be represented as a binary floating point and therefore the number above is internally represented as -12.51999999, which explains the behavior above.</p>
<p>This function always returns floats. <a href="kernel#trunc/1"><code class="inline">Kernel.trunc/1</code></a> may be used instead to truncate the result to an integer afterwards.</p>
<h4 id="ceil/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Float.ceil(34.25)
35.0
iex&gt; Float.ceil(-56.5)
-56.0
iex&gt; Float.ceil(34.251, 2)
34.26
iex&gt; Float.ceil(-0.01)
-0.0</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="floor/2">floor(number, precision \\ 0)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/float.ex#L234" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec floor(float(), precision_range()) :: float()</pre> </div> <p>Rounds a float to the largest float less than or equal to <code class="inline">number</code>.</p>
<p><a href="#floor/2"><code class="inline">floor/2</code></a> also accepts a precision to round a floating-point value down to an arbitrary number of fractional digits (between 0 and 15). The operation is performed on the binary floating point, without a conversion to decimal.</p>
<p>This function always returns a float. <a href="kernel#trunc/1"><code class="inline">Kernel.trunc/1</code></a> may be used instead to truncate the result to an integer afterwards.</p>
<h4 id="floor/2-known-issues" class="section-heading">  <span class="text">Known issues</span> </h4> <p>The behavior of <a href="#floor/2"><code class="inline">floor/2</code></a> for floats can be surprising. For example:</p>
<pre data-language="elixir">iex&gt; Float.floor(12.52, 2)
12.51</pre>
<p>One may have expected it to floor to 12.52. This is not a bug. Most decimal fractions cannot be represented as a binary floating point and therefore the number above is internally represented as 12.51999999, which explains the behavior above.</p>
<h4 id="floor/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Float.floor(34.25)
34.0
iex&gt; Float.floor(-56.5)
-57.0
iex&gt; Float.floor(34.259, 2)
34.25</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="max_finite/0">max_finite()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/float.ex#L65" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec max_finite() :: float()</pre> </div> <p>Returns the maximum finite value for a float.</p>
<h4 id="max_finite/0-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Float.max_finite()
1.7976931348623157e308</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="min_finite/0">min_finite()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/float.ex#L77" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec min_finite() :: float()</pre> </div> <p>Returns the minimum finite value for a float.</p>
<h4 id="min_finite/0-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Float.min_finite()
-1.7976931348623157e308</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="parse/1">parse(binary)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/float.ex#L149" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec parse(binary()) :: {float(), binary()} | :error</pre> </div> <p>Parses a binary into a float.</p>
<p>If successful, returns a tuple in the form of <code class="inline">{float, remainder_of_binary}</code>; when the binary cannot be coerced into a valid float, the atom <code class="inline">:error</code> is returned.</p>
<p>If the size of float exceeds the maximum size of <code class="inline">1.7976931348623157e+308</code>, <code class="inline">:error</code> is returned even though the textual representation itself might be well formed.</p>
<p>If you want to convert a string-formatted float directly to a float, <a href="string#to_float/1"><code class="inline">String.to_float/1</code></a> can be used instead.</p>
<h4 id="parse/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Float.parse("34")
{34.0, ""}
iex&gt; Float.parse("34.25")
{34.25, ""}
iex&gt; Float.parse("56.5xyz")
{56.5, "xyz"}

iex&gt; Float.parse("pi")
:error
iex&gt; Float.parse("1.7976931348623159e+308")
:error</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="pow/2">pow(base, exponent)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/float.ex#L116" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec pow(float(), number()) :: float()</pre> </div> <p>Computes <code class="inline">base</code> raised to power of <code class="inline">exponent</code>.</p>
<p><code class="inline">base</code> must be a float and <code class="inline">exponent</code> can be any number. However, if a negative base and a fractional exponent are given, it raises <a href="arithmeticerror"><code class="inline">ArithmeticError</code></a>.</p>
<p>It always returns a float. See <a href="integer#pow/2"><code class="inline">Integer.pow/2</code></a> for exponentiation that returns integers.</p>
<h4 id="pow/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Float.pow(2.0, 0)
1.0
iex&gt; Float.pow(2.0, 1)
2.0
iex&gt; Float.pow(2.0, 10)
1024.0
iex&gt; Float.pow(2.0, -1)
0.5
iex&gt; Float.pow(2.0, -3)
0.125

iex&gt; Float.pow(3.0, 1.5)
5.196152422706632

iex&gt; Float.pow(-2.0, 3)
-8.0
iex&gt; Float.pow(-2.0, 4)
16.0

iex&gt; Float.pow(-1.0, 0.5)
** (ArithmeticError) bad argument in arithmetic expression</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="ratio/1">ratio(float)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/float.ex#L522" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec ratio(float()) :: {integer(), pos_integer()}</pre> </div> <p>Returns a pair of integers whose ratio is exactly equal to the original float and with a positive denominator.</p>
<h4 id="ratio/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Float.ratio(0.0)
{0, 1}
iex&gt; Float.ratio(3.14)
{7070651414971679, 2251799813685248}
iex&gt; Float.ratio(-3.14)
{-7070651414971679, 2251799813685248}
iex&gt; Float.ratio(1.5)
{3, 2}
iex&gt; Float.ratio(-1.5)
{-3, 2}
iex&gt; Float.ratio(16.0)
{16, 1}
iex&gt; Float.ratio(-16.0)
{-16, 1}</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="round/2">round(float, precision \\ 0)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/float.ex#L345" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec round(float(), precision_range()) :: float()</pre> </div> <p>Rounds a floating-point value to an arbitrary number of fractional digits (between 0 and 15).</p>
<p>The rounding direction always ties to half up. The operation is performed on the binary floating point, without a conversion to decimal.</p>
<p>This function only accepts floats and always returns a float. Use <a href="kernel#round/1"><code class="inline">Kernel.round/1</code></a> if you want a function that accepts both floats and integers and always returns an integer.</p>
<h4 id="round/2-known-issues" class="section-heading">  <span class="text">Known issues</span> </h4> <p>The behavior of <a href="#round/2"><code class="inline">round/2</code></a> for floats can be surprising. For example:</p>
<pre data-language="elixir">iex&gt; Float.round(5.5675, 3)
5.567</pre>
<p>One may have expected it to round to the half up 5.568. This is not a bug. Most decimal fractions cannot be represented as a binary floating point and therefore the number above is internally represented as 5.567499999, which explains the behavior above. If you want exact rounding for decimals, you must use a decimal library. The behavior above is also in accordance to reference implementations, such as "Correctly Rounded Binary-Decimal and Decimal-Binary Conversions" by David M. Gay.</p>
<h4 id="round/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Float.round(12.5)
13.0
iex&gt; Float.round(5.5674, 3)
5.567
iex&gt; Float.round(5.5675, 3)
5.567
iex&gt; Float.round(-5.5674, 3)
-5.567
iex&gt; Float.round(-5.5675)
-6.0
iex&gt; Float.round(12.341444444444441, 15)
12.341444444444441
iex&gt; Float.round(-0.01)
-0.0</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="to_charlist/1">to_charlist(float)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/float.ex#L597" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec to_charlist(float()) :: charlist()</pre> </div> <p>Returns a charlist which corresponds to the shortest text representation of the given float.</p>
<p>The underlying algorithm changes depending on the Erlang/OTP version:</p>
<ul>
<li><p>For OTP &gt;= 24, it uses the algorithm presented in "Ryū: fast float-to-string conversion" in Proceedings of the SIGPLAN '2018 Conference on Programming Language Design and Implementation.</p></li>
<li><p>For OTP &lt; 24, it uses the algorithm presented in "Printing Floating-Point Numbers Quickly and Accurately" in Proceedings of the SIGPLAN '1996 Conference on Programming Language Design and Implementation.</p></li>
</ul>
<p>For a configurable representation, use <a href="https://www.erlang.org/doc/apps/erts/erlang.html#float_to_list/2"><code class="inline">:erlang.float_to_list/2</code></a>.</p>
<h4 id="to_charlist/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Float.to_charlist(7.0)
~c"7.0"</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="to_string/1">to_string(float)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/float.ex#L624" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec to_string(float()) :: String.t()</pre> </div> <p>Returns a binary which corresponds to the shortest text representation of the given float.</p>
<p>The underlying algorithm changes depending on the Erlang/OTP version:</p>
<ul>
<li><p>For OTP &gt;= 24, it uses the algorithm presented in "Ryū: fast float-to-string conversion" in Proceedings of the SIGPLAN '2018 Conference on Programming Language Design and Implementation.</p></li>
<li><p>For OTP &lt; 24, it uses the algorithm presented in "Printing Floating-Point Numbers Quickly and Accurately" in Proceedings of the SIGPLAN '1996 Conference on Programming Language Design and Implementation.</p></li>
</ul>
<p>For a configurable representation, use <a href="https://www.erlang.org/doc/apps/erts/erlang.html#float_to_binary/2"><code class="inline">:erlang.float_to_binary/2</code></a>.</p>
<h4 id="to_string/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Float.to_string(7.0)
"7.0"</pre> </section> </section> </div> </section> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/Float.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/Float.html</a>
  </p>
</div>
