<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/function.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">Function</span>  </h1> <section id="moduledoc"> <p>A set of functions for working with functions.</p>
<p>Anonymous functions are typically created by using <code class="inline">fn</code>:</p>
<pre data-language="elixir">iex&gt; add = fn a, b -&gt; a + b end
iex&gt; add.(1, 2)
3</pre>
<p>Anonymous functions can also have multiple clauses. All clauses should expect the same number of arguments:</p>
<pre data-language="elixir">iex&gt; negate = fn
...&gt;   true -&gt; false
...&gt;   false -&gt; true
...&gt; end
iex&gt; negate.(false)
true</pre>
<h2 id="module-the-capture-operator" class="section-heading">  <span class="text">The capture operator</span> </h2> <p>It is also possible to capture public module functions and pass them around as if they were anonymous functions by using the capture operator <a href="kernel.specialforms#&amp;/1"><code class="inline">&amp;/1</code></a>:</p>
<pre data-language="elixir">iex&gt; add = &amp;Kernel.+/2
iex&gt; add.(1, 2)
3

iex&gt; length = &amp;String.length/1
iex&gt; length.("hello")
5</pre>
<p>To capture a definition within the current module, you can skip the module prefix, such as <code class="inline">&amp;my_fun/2</code>. In those cases, the captured function can be public (<code class="inline">def</code>) or private (<code class="inline">defp</code>).</p>
<p>The capture operator can also be used to create anonymous functions that expect at least one argument:</p>
<pre data-language="elixir">iex&gt; add = &amp;(&amp;1 + &amp;2)
iex&gt; add.(1, 2)
3</pre>
<p>In such cases, using the capture operator is no different than using <code class="inline">fn</code>.</p>
<h2 id="module-internal-and-external-functions" class="section-heading">  <span class="text">Internal and external functions</span> </h2> <p>We say that functions that point to definitions residing in modules, such as <code class="inline">&amp;String.length/1</code>, are <strong>external</strong> functions. All other functions are <strong>local</strong> and they are always bound to the file or module that defined them.</p>
<p>Besides the functions in this module to work with functions, <a href="kernel"><code class="inline">Kernel</code></a> also has an <a href="kernel#apply/2"><code class="inline">apply/2</code></a> function that invokes a function with a dynamic number of arguments, as well as <a href="kernel#is_function/1"><code class="inline">is_function/1</code></a> and <a href="kernel#is_function/2"><code class="inline">is_function/2</code></a>, to check respectively if a given value is a function or a function of a given arity.</p> </section> </div> <section id="summary" class="details-list"> <h1 class="section-heading">  <span class="text">Summary</span> </h1> <h2> Types </h2>
<dl class="summary-types summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#t:information/0" data-no-tooltip translate="no">information()</a> </dt> </div> </dl> <h2> Functions </h2>
<dl class="summary-functions summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#capture/3" data-no-tooltip translate="no">capture(module, function_name, arity)</a> </dt> <dd class="summary-synopsis"><p>Captures the given function.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#identity/1" data-no-tooltip translate="no">identity(value)</a> </dt> <dd class="summary-synopsis"><p>Returns its input <code class="inline">value</code>. This function can be passed as an anonymous function to transformation functions.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#info/1" data-no-tooltip translate="no">info(fun)</a> </dt> <dd class="summary-synopsis"><p>Returns a keyword list with information about a function.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#info/2" data-no-tooltip translate="no">info(fun, item)</a> </dt> <dd class="summary-synopsis"><p>Returns a specific information about the function.</p></dd> </div> </dl> </section> <section id="types" class="details-list"> <h1 class="section-heading">  <span class="text">Types</span> </h1> <div class="types-list"> <section class="detail"> <h3 class="detail-header" id="t:information/0">information()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/function.ex#L60" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type information() ::
  :arity
  | :env
  | :index
  | :module
  | :name
  | :new_index
  | :new_uniq
  | :pid
  | :type
  | :uniq</pre> </div> </section> </section> </div> </section> <section id="functions" class="details-list"> <h1 class="section-heading">  <span class="text">Functions</span> </h1> <div class="functions-list"> <section class="detail"> <h3 class="detail-header" id="capture/3">capture(module, function_name, arity)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/function.ex#L85" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec capture(module(), atom(), arity()) :: (... -&gt; any())</pre> </div> <p>Captures the given function.</p>
<p>Inlined by the compiler.</p>
<h4 id="capture/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Function.capture(String, :length, 1)
&amp;String.length/1</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="identity/1">identity(value)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/function.ex#L207" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec identity(value) :: value when value: var</pre> </div> <p>Returns its input <code class="inline">value</code>. This function can be passed as an anonymous function to transformation functions.</p>
<h4 id="identity/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Function.identity("Hello world!")
"Hello world!"

iex&gt; ~c"abcdaabccc" |&gt; Enum.sort() |&gt; Enum.chunk_by(&amp;Function.identity/1)
[~c"aaa", ~c"bb", ~c"cccc", ~c"d"]

iex&gt; Enum.group_by(~c"abracadabra", &amp;Function.identity/1)
%{97 =&gt; ~c"aaaaa", 98 =&gt; ~c"bb", 99 =&gt; ~c"c", 100 =&gt; ~c"d", 114 =&gt; ~c"rr"}

iex&gt; Enum.map([1, 2, 3, 4], &amp;Function.identity/1)
[1, 2, 3, 4]</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="info/1">info(fun)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/function.ex#L146" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec info((... -&gt; any())) :: [{information(), term()}]</pre> </div> <p>Returns a keyword list with information about a function.</p>
<p>The returned keys (with the corresponding possible values) for all types of functions (local and external) are the following:</p>
<ul>
<li><p><code class="inline">:type</code> - <code class="inline">:local</code> (for anonymous functions) or <code class="inline">:external</code> (for named functions).</p></li>
<li><p><code class="inline">:module</code> - an atom which is the module where the function is defined when anonymous or the module which the function refers to when it's a named function.</p></li>
<li><p><code class="inline">:arity</code> - (integer) the number of arguments the function is to be called with.</p></li>
<li><p><code class="inline">:name</code> - (atom) the name of the function.</p></li>
<li><p><code class="inline">:env</code> - a list of the environment or free variables. For named functions, the returned list is always empty.</p></li>
</ul>
<p>When <code class="inline">fun</code> is an anonymous function (that is, the type is <code class="inline">:local</code>), the following additional keys are returned:</p>
<ul>
<li><p><code class="inline">:pid</code> - PID of the process that originally created the function.</p></li>
<li><p><code class="inline">:index</code> - (integer) an index into the module function table.</p></li>
<li><p><code class="inline">:new_index</code> - (integer) an index into the module function table.</p></li>
<li><p><code class="inline">:new_uniq</code> - (binary) a unique value for this function. It's calculated from the compiled code for the entire module.</p></li>
<li><p><code class="inline">:uniq</code> - (integer) a unique value for this function. This integer is calculated from the compiled code for the entire module.</p></li>
</ul>
<p><strong>Note</strong>: this function must be used only for debugging purposes.</p>
<p>Inlined by the compiler.</p>
<h4 id="info/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; fun = fn x -&gt; x end
iex&gt; info = Function.info(fun)
iex&gt; Keyword.get(info, :arity)
1
iex&gt; Keyword.get(info, :type)
:local

iex&gt; fun = &amp;String.length/1
iex&gt; info = Function.info(fun)
iex&gt; Keyword.get(info, :type)
:external
iex&gt; Keyword.get(info, :name)
:length</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="info/2">info(fun, item)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/function.ex#L184" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec info((... -&gt; any()), item) :: {item, term()} when item: information()</pre> </div> <p>Returns a specific information about the function.</p>
<p>The returned information is a two-element tuple in the shape of <code class="inline">{info, value}</code>.</p>
<p>For any function, the information asked for can be any of the atoms <code class="inline">:module</code>, <code class="inline">:name</code>, <code class="inline">:arity</code>, <code class="inline">:env</code>, or <code class="inline">:type</code>.</p>
<p>For anonymous functions, there is also information about any of the atoms <code class="inline">:index</code>, <code class="inline">:new_index</code>, <code class="inline">:new_uniq</code>, <code class="inline">:uniq</code>, and <code class="inline">:pid</code>. For a named function, the value of any of these items is always the atom <code class="inline">:undefined</code>.</p>
<p>For more information on each of the possible returned values, see <a href="#info/1"><code class="inline">info/1</code></a>.</p>
<p>Inlined by the compiler.</p>
<h4 id="info/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; f = fn x -&gt; x end
iex&gt; Function.info(f, :arity)
{:arity, 1}
iex&gt; Function.info(f, :type)
{:type, :local}

iex&gt; fun = &amp;String.length/1
iex&gt; Function.info(fun, :name)
{:name, :length}
iex&gt; Function.info(fun, :pid)
{:pid, :undefined}</pre> </section> </section> </div> </section> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/Function.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/Function.html</a>
  </p>
</div>
