<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/exception.ex#L1805" title="View Source" class="source" rel="help">Source</a> <span translate="no">FunctionClauseError</span> <small>exception</small>  </h1> <section id="moduledoc"> <p>An exception raised when a function call doesn't match any defined clause.</p>
<p>The following fields of this exception are public and can be accessed freely:</p>
<ul>
<li>
<code class="inline">:module</code> (<a href="typespecs#built-in-types"><code class="inline">module/0</code></a>) - the module name</li>
<li>
<code class="inline">:function</code> (<a href="typespecs#basic-types"><code class="inline">atom/0</code></a>) - the function name</li>
<li>
<code class="inline">:arity</code> (<a href="typespecs#basic-types"><code class="inline">non_neg_integer/0</code></a>) - the arity of the function</li>
</ul>
<p>For example, if you try to call a function such as <a href="uri#parse/1"><code class="inline">URI.parse/1</code></a> with something other than a string, the error would look like:</p>
<pre data-language="elixir">%FunctionClauseError{
  module: URI,
  function: :parse,
  arity: 1,
  # Other private fields...
}</pre> </section> </div> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/FunctionClauseError.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/FunctionClauseError.html</a>
  </p>
</div>
