<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/pages/references/gradual-set-theoretic-types.md#L1" title="View Source" class="source" rel="help">Source</a> <span>Gradual set-theoretic types</span> </h1> <p>Elixir is in the process of incorporating set-theoretic types into the compiler. This document outlines the current stage of our implementation.</p>
<p>The current milestone aims to infer types from patterns and guards and use them to type check programs, enabling the Elixir compiler to find faults and bugs in codebases without requiring changes to existing software. The underlying principles, theory, and roadmap of our work have been outlined in <a href="https://arxiv.org/abs/2306.06391">"The Design Principles of the Elixir Type System" by Giuseppe Castagna, Guillaume Duboc, José Valim</a>.</p>
<h2 id="supported-types" class="section-heading">  <span class="text">Supported types</span> </h2> <p>At the moment, Elixir developers will interact with set-theoretic types only through warnings found by the type system. All data types in the language are modelled:</p>
<ul>
<li><p><code class="inline">binary()</code>, <code class="inline">integer()</code>, <code class="inline">float()</code>, <code class="inline">pid()</code>, <code class="inline">port()</code>, <code class="inline">reference()</code> - these types are indivisible. This means both <code class="inline">1</code> and <code class="inline">13</code> get the same <code class="inline">integer()</code> type.</p></li>
<li><p><code class="inline">atom()</code> - it represents all atoms and it is divisible. For instance, the atom <code class="inline">:foo</code> and <code class="inline">:hello_world</code> are also valid (distinct) types.</p></li>
<li><p><code class="inline">map()</code> and structs - maps can be "closed" or "open". Closed maps only allow the specified keys, such as <code class="inline">%{key: atom(), value: integer()}</code>. Open maps support any other keys in addition to the ones listed and their definition starts with <code class="inline">...</code>, such as <code class="inline">%{..., key: atom(), value: integer()}</code>. Structs are closed maps with the <code class="inline">__struct__</code> key.</p></li>
<li><p><code class="inline">tuple()</code>, <code class="inline">list()</code>, and <code class="inline">function()</code> - currently they are modelled as indivisible types. The next Elixir versions will also introduce fine-grained types here.</p></li>
</ul>
<h2 id="set-operations" class="section-heading">  <span class="text">Set operations</span> </h2> <p>We can compose set-theoretic types by using set operations (hence the name). For example, to say a function returns either atoms or integers, one could write: <code class="inline">atom() or integer()</code>.</p>
<p>Intersections are available via the <code class="inline">and</code> operator, such as <code class="inline">atom() and integer()</code>, which in this case it becomes the empty set <code class="inline">none()</code>. <code class="inline">term()</code> is the union of all types, also known as the "top" type.</p>
<p>Intersections are useful when modelling functions. For example, imagine the following function:</p>
<pre data-language="elixir">def negate(x) when is_integer(x), do: -x
def negate(x) when is_boolean(x), do: not x</pre>
<p>If you give it an integer, it negates it. If you give it a boolean, it negates it.</p>
<p>We can say this function has the type <code class="inline">(integer() -&gt; integer())</code> because it is capable of receiving an integer and returning an integer. In this case, <code class="inline">(integer() -&gt; integer())</code> is a set that represents all functions that can receive an integer and return an integer. Even though this function can receive other arguments and return other values, it is still part of the <code class="inline">(integer() -&gt; integer())</code> set.</p>
<p>This function also has the type <code class="inline">(boolean() -&gt; boolean())</code>, because it receives the booleans and returns booleans. Therefore, we can say the overall type of the function is <code class="inline">(integer() -&gt; integer()) and (boolean() -&gt; boolean())</code>. The intersection means the function belongs to both sets.</p>
<p>At this point, some may ask, why not a union? As a real-world example, take a t-shirt with green and yellow stripes. We can say the t-shirt belongs to the set of "t-shirts with green color". We can also say the t-shirt belongs to the set of "t-shirts with yellow color". Let's see the difference between unions and intersections:</p>
<ul>
<li><p><code class="inline">(t_shirts_with_green() or t_shirts_with_yellow())</code> - contains t-shirts with either green or yellow, such as green, green and red, green and yellow, yellow, yellow and red, etc.</p></li>
<li><p><code class="inline">(t_shirts_with_green() and t_shirts_with_yellow())</code> - contains t-shirts with both green and yellow (and also other colors)</p></li>
</ul>
<p>Since the t-shirt has both colors, we say it belongs to the intersection of both sets. The same way that a function that goes from <code class="inline">(integer() -&gt; integer())</code> and <code class="inline">(boolean() -&gt; boolean())</code> is also an intersection. In practice, it does not make sense to define the union of two functions in Elixir, so the compiler will always point to the right direction.</p>
<p>Finally, we can also negate types by using <code class="inline">not</code>. For example, to express all atoms, except the atoms <code class="inline">:foo</code> and <code class="inline">:bar</code>, one can write: <code class="inline">atom() and not (:foo or :bar)</code>.</p>
<h2 id="the-dynamic-type" class="section-heading">  <span class="text">The <code class="inline">dynamic()</code> type</span> </h2> <p>Existing Elixir programs do not have type declarations, but we still want to be able to type check them. This is done with the introduction of the <code class="inline">dynamic()</code> type.</p>
<p>When Elixir sees the following function:</p>
<pre data-language="elixir">def negate(x) when is_integer(x), do: -x
def negate(x) when is_boolean(x), do: not x</pre>
<p>Elixir type checks it as if the function had the type <code class="inline">(dynamic() -&gt; dynamic())</code>. We say <code class="inline">dynamic()</code> is a gradual type, which leads us to <em>gradual set-theoretic types</em>.</p>
<p>The simplest way to reason about <code class="inline">dynamic()</code> in Elixir is that it is a range of types. If you have a type <code class="inline">atom() or integer()</code>, the underlying code needs to work with both <code class="inline">atom() or integer()</code>. For example, if you call <code class="inline">Integer.to_string(var)</code>, and <code class="inline">var</code> has type <code class="inline">atom() or integer()</code>, the type system will emit a warning, because <a href="integer#to_string/1"><code class="inline">Integer.to_string/1</code></a> does not accept atoms.</p>
<p>However, by intersecting a type with <code class="inline">dynamic()</code>, we make the type gradual and therefore only a subset of the type needs to be valid. For instance, if you call <code class="inline">Integer.to_string(var)</code>, and <code class="inline">var</code> has type <code class="inline">dynamic() and (atom() or integer())</code>, the type system will not emit a warning, because <a href="integer#to_string/1"><code class="inline">Integer.to_string/1</code></a> works with at least one of the types. For convenience, most programs will write <code class="inline">dynamic(atom() or integer())</code> instead of the intersection. They are equivalent.</p>
<p>Compared to other gradually typed languages, the <code class="inline">dynamic()</code> type in Elixir is quite powerful: it restricts our program to certain types, via intersections, while still emitting warnings once it is certain the code will fail. This makes <code class="inline">dynamic()</code> an excellent tool for typing existing Elixir code with meaningful warnings.</p>
<p>Once Elixir introduces typed function signatures, typed Elixir programs will behave as a statically typed code, unless the <code class="inline">dynamic()</code> type is used. This brings us to one last remark about dynamic types in Elixir: dynamic types are always at the root. For example, when you write a tuple of type <code class="inline">{:ok, dynamic()}</code>, Elixir will rewrite it to <code class="inline">dynamic({:ok, term()})</code>. While this has the downside that you cannot make part of a tuple/map/list gradual, only the whole tuple/map/list, it comes with the upside that dynamic is always explicitly at the root, making it harder to accidentally sneak <code class="inline">dynamic()</code> in a statically typed program.</p>
<h2 id="roadmap" class="section-heading">  <span class="text">Roadmap</span> </h2> <p>The current milestone is to implement type inference and type checking of Elixir programs without changes to the Elixir language. At this stage, we want to collect feedback on the quality of error messages and performance, and therefore the type system has no user facing API.</p>
<p>If the results are satisfactory, the next milestone will include a mechanism for defining typed structs. Elixir programs frequently pattern match on structs, which reveals information about the struct fields, but it knows nothing about their respective types. By propagating types from structs and their fields throughout the program, we will increase the type system’s ability to find errors while further straining our type system implementation. Proposals including the required changes to the language surface will be sent to the community once we reach this stage.</p>
<p>The third milestone is to introduce set-theoretic type signatures for functions. Unfortunately, the existing Erlang Typespecs are not precise enough for set-theoretic types and they will be phased out of the language and have their postprocessing moved into a separate library once this stage concludes.</p>
<h2 id="acknowledgements" class="section-heading">  <span class="text">Acknowledgements</span> </h2> <p>The type system was made possible thanks to a partnership between <a href="https://www.cnrs.fr/">CNRS</a> and <a href="https://remote.com/">Remote</a>. The research was partially supported by <a href="https://supabase.com/">Supabase</a> and <a href="https://www.fresha.com/">Fresha</a>. The development work is sponsored by <a href="https://www.fresha.com/">Fresha</a>, <a href="https://starfish.team/">Starfish*</a>, and <a href="https://dashbit.co/">Dashbit</a>.</p> </div> <div class="bottom-actions" id="bottom-actions"> <div class="bottom-actions-item"> <a href="compatibility-and-deprecations" class="bottom-actions-button" rel="prev"> <span class="subheader"> ← Previous Page </span> <span class="title"> Compatibility and deprecations </span> </a> </div> <div class="bottom-actions-item"> <a href="library-guidelines" class="bottom-actions-button" rel="next"> <span class="subheader"> Next Page → </span> <span class="title"> Library guidelines </span> </a> </div> </div> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/gradual-set-theoretic-types.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/gradual-set-theoretic-types.html</a>
  </p>
</div>
