<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/iex/lib/iex/helpers.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">IEx.Helpers</span>  </h1> <section id="moduledoc"> <p>Welcome to Interactive Elixir. You are currently seeing the documentation for the module <a href="iex.helpers"><code class="inline">IEx.Helpers</code></a> which provides many helpers to make Elixir's shell more joyful to work with.</p>
<p>This message was triggered by invoking the helper <code class="inline">h()</code>, usually referred to as <a href="#h/0"><code class="inline">h/0</code></a> (since it expects 0 arguments).</p>
<p>You can use the <a href="#h/1"><code class="inline">h/1</code></a> function to invoke the documentation for any Elixir module or function:</p>
<pre data-language="elixir">iex&gt; h(Enum)
iex&gt; h(Enum.map)
iex&gt; h(Enum.reverse/1)</pre>
<p>You can also use the <a href="#i/1"><code class="inline">i/1</code></a> function to introspect any value you have in the shell:</p>
<pre data-language="elixir">iex&gt; i("hello")</pre>
<p>There are many other helpers available, here are some examples:</p>
<ul>
<li>
<a href="#b/1"><code class="inline">b/1</code></a> - prints callbacks info and docs for a given module</li>
<li>
<a href="#c/1"><code class="inline">c/1</code></a> - compiles a file</li>
<li>
<a href="#c/2"><code class="inline">c/2</code></a> - compiles a file and writes bytecode to the given path</li>
<li>
<a href="#cd/1"><code class="inline">cd/1</code></a> - changes the current directory</li>
<li>
<a href="#clear/0"><code class="inline">clear/0</code></a> - clears the screen</li>
<li>
<a href="#exports/1"><code class="inline">exports/1</code></a> - shows all exports (functions + macros) in a module</li>
<li>
<a href="#flush/0"><code class="inline">flush/0</code></a> - flushes all messages sent to the shell</li>
<li>
<a href="#h/0"><code class="inline">h/0</code></a> - prints this help message</li>
<li>
<a href="#h/1"><code class="inline">h/1</code></a> - prints help for the given module, function or macro</li>
<li>
<a href="#i/0"><code class="inline">i/0</code></a> - prints information about the last value</li>
<li>
<a href="#i/1"><code class="inline">i/1</code></a> - prints information about the given term</li>
<li>
<a href="#ls/0"><code class="inline">ls/0</code></a> - lists the contents of the current directory</li>
<li>
<a href="#ls/1"><code class="inline">ls/1</code></a> - lists the contents of the specified directory</li>
<li>
<a href="#open/1"><code class="inline">open/1</code></a> - opens the source for the given module or function in your editor</li>
<li>
<a href="#pid/1"><code class="inline">pid/1</code></a> - creates a PID from a string</li>
<li>
<a href="#pid/3"><code class="inline">pid/3</code></a> - creates a PID with the 3 integer arguments passed</li>
<li>
<a href="#port/1"><code class="inline">port/1</code></a> - creates a port from a string</li>
<li>
<a href="#port/2"><code class="inline">port/2</code></a> - creates a port with the 2 non-negative integers passed</li>
<li>
<a href="#pwd/0"><code class="inline">pwd/0</code></a> - prints the current working directory</li>
<li>
<a href="#r/1"><code class="inline">r/1</code></a> - recompiles the given module's source file</li>
<li>
<a href="#recompile/0"><code class="inline">recompile/0</code></a> - recompiles the current project</li>
<li>
<a href="#ref/1"><code class="inline">ref/1</code></a> - creates a reference from a string</li>
<li>
<a href="#ref/4"><code class="inline">ref/4</code></a> - creates a reference with the 4 integer arguments passed</li>
<li>
<a href="#runtime_info/0"><code class="inline">runtime_info/0</code></a> - prints runtime info (versions, memory usage, stats)</li>
<li>
<a href="#t/1"><code class="inline">t/1</code></a> - prints the types for the given module or function</li>
<li>
<a href="#v/0"><code class="inline">v/0</code></a> - retrieves the last value from the history</li>
<li>
<a href="#v/1"><code class="inline">v/1</code></a> - retrieves the nth value from the history</li>
</ul>
<p>There are also several helpers available when debugging, such as:</p>
<ul>
<li>
<a href="#break!/2"><code class="inline">break!/2</code></a> - sets a breakpoint at <code class="inline">Module.function/arity</code>
</li>
<li>
<a href="#breaks/0"><code class="inline">breaks/0</code></a> - prints all breakpoints to the terminal</li>
<li>
<a href="#c/0"><code class="inline">c/0</code></a> - a shortcut for <a href="#continue/0"><code class="inline">continue/0</code></a>
</li>
<li>
<a href="#continue/0"><code class="inline">continue/0</code></a> - continues execution of the current process</li>
<li>
<a href="#n/0"><code class="inline">n/0</code></a> - a shortcut for <a href="#next/0"><code class="inline">next/0</code></a>
</li>
<li>
<a href="#next/0"><code class="inline">next/0</code></a> - goes to the next line of the current breakpoint</li>
<li>
<a href="#remove_breaks/0"><code class="inline">remove_breaks/0</code></a> - removes all breakpoints and instrumentation from all modules</li>
<li>
<a href="#whereami/1"><code class="inline">whereami/1</code></a> - prints the current location and stacktrace in a pry session</li>
</ul>
<p>Help for all of those functions can be consulted directly from the command line using the <a href="#h/1"><code class="inline">h/1</code></a> helper itself. Try:</p>
<pre data-language="elixir">iex&gt; h(v/0)</pre>
<p>To list all IEx helpers available, which is effectively all exports (functions and macros) in the <a href="iex.helpers"><code class="inline">IEx.Helpers</code></a> module:</p>
<pre data-language="elixir">iex&gt; exports(IEx.Helpers)</pre>
<p>This module also includes helpers for debugging purposes, see <a href="iex#break!/4"><code class="inline">IEx.break!/4</code></a> for more information.</p>
<p>To learn more about IEx as a whole, type <code class="inline">h(IEx)</code>.</p> </section> </div> <section id="summary" class="details-list"> <h1 class="section-heading">  <span class="text">Summary</span> </h1> <h2> Functions </h2>
<dl class="summary-functions summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#b/1" data-no-tooltip translate="no">b(term)</a> </dt> <dd class="summary-synopsis"><p>Prints the documentation for the given callback function.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#break!/2" data-no-tooltip translate="no">break!(ast, stops \\ 1)</a> </dt> <dd class="summary-synopsis"><p>Sets up a breakpoint in the AST of shape <code class="inline">Module.function/arity</code> with the given number of <code class="inline">stops</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#break!/4" data-no-tooltip translate="no">break!(module, function, arity, stops \\ 1)</a> </dt> <dd class="summary-synopsis"><p>Sets up a breakpoint in <code class="inline">module</code>, <code class="inline">function</code> and <code class="inline">arity</code> with the given number of <code class="inline">stops</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#breaks/0" data-no-tooltip translate="no">breaks()</a> </dt> <dd class="summary-synopsis"><p>Prints all breakpoints to the terminal.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#c/0" data-no-tooltip translate="no">c()</a> </dt> <dd class="summary-synopsis"><p>A shortcut for <a href="#continue/0"><code class="inline">continue/0</code></a>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#c/2" data-no-tooltip translate="no">c(files, path \\ :in_memory)</a> </dt> <dd class="summary-synopsis"><p>Compiles the given files.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#cd/1" data-no-tooltip translate="no">cd(directory)</a> </dt> <dd class="summary-synopsis"><p>Changes the current working directory to the given path.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#clear/0" data-no-tooltip translate="no">clear()</a> </dt> <dd class="summary-synopsis"><p>Clears the console screen.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#continue/0" data-no-tooltip translate="no">continue()</a> </dt> <dd class="summary-synopsis"><p>Continues execution of the current process.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#exports/1" data-no-tooltip translate="no">exports(module \\ Kernel)</a> </dt> <dd class="summary-synopsis"><p>Prints a list of all the functions and macros exported by the given module.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#flush/0" data-no-tooltip translate="no">flush()</a> </dt> <dd class="summary-synopsis"><p>Clears out all messages sent to the shell's inbox and prints them out.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#h/0" data-no-tooltip translate="no">h()</a> </dt> <dd class="summary-synopsis"><p>Prints the documentation for <a href="iex.helpers"><code class="inline">IEx.Helpers</code></a>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#h/1" data-no-tooltip translate="no">h(term)</a> </dt> <dd class="summary-synopsis"><p>Prints the documentation for the given module or for the given <code class="inline">function/arity</code> pair.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#i/1" data-no-tooltip translate="no">i(term \\ v(-1))</a> </dt> <dd class="summary-synopsis"><p>Prints information about the data type of any given term.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#import_file/1" data-no-tooltip translate="no">import_file(path)</a> </dt> <dd class="summary-synopsis"><p>Injects the contents of the file at <code class="inline">path</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#import_file_if_available/1" data-no-tooltip translate="no">import_file_if_available(path)</a> </dt> <dd class="summary-synopsis"><p>Similar to <code class="inline">import_file</code> but only imports the file if it is available.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#import_if_available/2" data-no-tooltip translate="no">import_if_available(quoted_module, opts \\ [])</a> </dt> <dd class="summary-synopsis"><p>Calls <a href="https://hexdocs.pm/elixir/Kernel.SpecialForms.html#import/2"><code class="inline">import/2</code></a> with the given arguments, but only if the module is available.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#l/1" data-no-tooltip translate="no">l(module)</a> </dt> <dd class="summary-synopsis"><p>Loads the given module's BEAM code (and ensures any previous old version was properly purged before).</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#ls/1" data-no-tooltip translate="no">ls(path \\ ".")</a> </dt> <dd class="summary-synopsis"><p>Prints a list of the given directory's contents.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#n/0" data-no-tooltip translate="no">n()</a> </dt> <dd class="summary-synopsis"><p>A shortcut for <a href="#next/0"><code class="inline">next/0</code></a>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#next/0" data-no-tooltip translate="no">next()</a> </dt> <dd class="summary-synopsis"><p>Goes to the next line of the current breakpoint.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#nl/2" data-no-tooltip translate="no">nl(nodes \\ Node.list(), module)</a> </dt> <dd class="summary-synopsis"><p>Deploys a given module's BEAM code to a list of nodes.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#open/0" data-no-tooltip translate="no">open()</a> </dt> <dd class="summary-synopsis"><p>Opens the current prying location.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#open/1" data-no-tooltip translate="no">open(term)</a> </dt> <dd class="summary-synopsis"><p>Opens the given <code class="inline">module</code>, <code class="inline">module.function/arity</code>, or <code class="inline">{file, line}</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#pid/1" data-no-tooltip translate="no">pid(string)</a> </dt> <dd class="summary-synopsis"><p>Creates a PID from <code class="inline">string</code> or <code class="inline">atom</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#pid/3" data-no-tooltip translate="no">pid(x, y, z)</a> </dt> <dd class="summary-synopsis"><p>Creates a PID with 3 non-negative integers passed as arguments to the function.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#port/1" data-no-tooltip translate="no">port(string)</a> </dt> <dd class="summary-synopsis"><p>Creates a Port from <code class="inline">string</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#port/2" data-no-tooltip translate="no">port(major, minor)</a> </dt> <dd class="summary-synopsis"><p>Creates a Port from two non-negative integers.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#pwd/0" data-no-tooltip translate="no">pwd()</a> </dt> <dd class="summary-synopsis"><p>Prints the current working directory.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#r/1" data-no-tooltip translate="no">r(module_or_modules)</a> </dt> <dd class="summary-synopsis"><p>Recompiles and reloads the given <code class="inline">module</code> or <code class="inline">modules</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#recompile/1" data-no-tooltip translate="no">recompile(options \\ [])</a> </dt> <dd class="summary-synopsis"><p>Recompiles the current Mix project or Mix install dependencies.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#ref/1" data-no-tooltip translate="no">ref(string)</a> </dt> <dd class="summary-synopsis"><p>Creates a Reference from <code class="inline">string</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#ref/4" data-no-tooltip translate="no">ref(w, x, y, z)</a> </dt> <dd class="summary-synopsis"><p>Creates a Reference from its 4 non-negative integers components.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#remove_breaks/0" data-no-tooltip translate="no">remove_breaks()</a> </dt> <dd class="summary-synopsis"><p>Removes all breakpoints and instrumentation from all modules.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#remove_breaks/1" data-no-tooltip translate="no">remove_breaks(module)</a> </dt> <dd class="summary-synopsis"><p>Removes all breakpoints and instrumentation from <code class="inline">module</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#reset_break/1" data-no-tooltip translate="no">reset_break(id)</a> </dt> <dd class="summary-synopsis"><p>Resets the number of pending stops in the breakpoint with the given <code class="inline">id</code> to zero.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#reset_break/3" data-no-tooltip translate="no">reset_break(module, function, arity)</a> </dt> <dd class="summary-synopsis"><p>Resets the number of pending stops in the given module, function and arity to zero.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#respawn/0" data-no-tooltip translate="no">respawn()</a> </dt> <dd class="summary-synopsis"><p>Respawns the current shell by starting a new shell process.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#runtime_info/0" data-no-tooltip translate="no">runtime_info()</a> </dt> <dd class="summary-synopsis"><p>Prints VM/runtime information such as versions, memory usage and statistics.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#runtime_info/1" data-no-tooltip translate="no">runtime_info(topic)</a> </dt> <dd class="summary-synopsis"><p>Just like <a href="#runtime_info/0"><code class="inline">runtime_info/0</code></a>, except accepts topic or a list of topics.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t/1" data-no-tooltip translate="no">t(term)</a> </dt> <dd class="summary-synopsis"><p>Prints the types for the given module or for the given function/arity pair.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#use_if_available/2" data-no-tooltip translate="no">use_if_available(quoted_module, opts \\ [])</a> </dt> <dd class="summary-synopsis"><p>Calls <a href="https://hexdocs.pm/elixir/Kernel.html#use/2"><code class="inline">use/2</code></a> with the given arguments, but only if the module is available.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#v/1" data-no-tooltip translate="no">v(n \\ -1)</a> </dt> <dd class="summary-synopsis"><p>Returns the value of the <code class="inline">n</code>th expression in the history.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#whereami/1" data-no-tooltip translate="no">whereami(radius \\ 2)</a> </dt> <dd class="summary-synopsis"><p>Prints the current location and stacktrace in a pry session.</p></dd> </div> </dl> </section> <section id="functions" class="details-list"> <h1 class="section-heading">  <span class="text">Functions</span> </h1> <div class="functions-list"> <section class="detail"> <h3 class="detail-header" id="b/1">b(term)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/iex/lib/iex/helpers.ex#L378" class="source">Source</a>
</h3> <section class="docstring"> <p>Prints the documentation for the given callback function.</p>
<p>It also accepts single module argument to list all available behaviour callbacks.</p>
<h4 id="b/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; b(Mix.Task.run/1)
iex&gt; b(Mix.Task.run)
iex&gt; b(GenServer)</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="break!/2">break!(ast, stops \\ 1)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/iex/lib/iex/helpers.ex#L1050" class="source">Source</a>
</h3> <section class="docstring"> <p>Sets up a breakpoint in the AST of shape <code class="inline">Module.function/arity</code> with the given number of <code class="inline">stops</code>.</p>
<p>See <a href="iex#break!/4"><code class="inline">IEx.break!/4</code></a> for a complete description of breakpoints in IEx.</p>
<h4 id="break!/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">break! URI.decode_query/2</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="break!/4">break!(module, function, arity, stops \\ 1)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/iex/lib/iex/helpers.ex#L1070" class="source">Source</a>
</h3> <section class="docstring"> <p>Sets up a breakpoint in <code class="inline">module</code>, <code class="inline">function</code> and <code class="inline">arity</code> with the given number of <code class="inline">stops</code>.</p>
<p>See <a href="iex#break!/4"><code class="inline">IEx.break!/4</code></a> for a complete description of breakpoints in IEx.</p>
<h4 id="break!/4-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">break! URI, :decode_query, 2</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="breaks/0">breaks()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/iex/lib/iex/helpers.ex#L1076" class="source">Source</a>
</h3> <section class="docstring"> <p>Prints all breakpoints to the terminal.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="c/0">c()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/iex/lib/iex/helpers.ex#L1033" class="source">Source</a>
</h3> <section class="docstring"> <p>A shortcut for <a href="#continue/0"><code class="inline">continue/0</code></a>.</p> </section> </section> <section class="detail">  <h3 class="detail-header" id="c/2">c(files, path \\ :in_memory)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/iex/lib/iex/helpers.ex#L205" class="source">Source</a>
</h3> <section class="docstring"> <p>Compiles the given files.</p>
<p>It expects a list of files to compile and an optional path to write the compiled code to. By default files are in-memory compiled. To write compiled files to the current directory, <code class="inline">"."</code> can be given.</p>
<p>It returns the names of the compiled modules.</p>
<p>If you want to recompile an existing module, check <a href="#r/1"><code class="inline">r/1</code></a> instead.</p>
<blockquote>
<h4 class="warning">Remote compilation</h4>
<p>When compiling code, warnings and errors may be printed to standard error. However, when connecting to a remote node, the standard error output is not redirected to the client. This means that compilation failures will be written to the logs or the output terminal of the machine you connect to.</p>
</blockquote>
<h4 id="c/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <p>In the example below, we pass a directory to where the <a href="#c/2"><code class="inline">c/2</code></a> function will write the compiled <code class="inline">.beam</code> files to. This directory is typically named "ebin" in Erlang/Elixir systems:</p>
<pre data-language="elixir">iex&gt; c(["foo.ex", "bar.ex"], "ebin")
[Foo, Bar]</pre>
<p>When compiling one file, there is no need to wrap it in a list:</p>
<pre data-language="elixir">iex&gt; c("baz.ex")
[Baz]</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="cd/1">cd(directory)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/iex/lib/iex/helpers.ex#L850" class="source">Source</a>
</h3> <section class="docstring"> <p>Changes the current working directory to the given path.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="clear/0">clear()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/iex/lib/iex/helpers.ex#L248" class="source">Source</a>
</h3> <section class="docstring"> <p>Clears the console screen.</p>
<p>This function only works if ANSI escape codes are enabled on the shell, which means this function is by default unavailable on Windows machines.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="continue/0">continue()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/iex/lib/iex/helpers.ex#L993" class="source">Source</a>
</h3> <section class="docstring"> <p>Continues execution of the current process.</p>
<p>This is usually called by sessions started with <a href="iex#pry/0"><code class="inline">IEx.pry/0</code></a> or <a href="iex#break!/4"><code class="inline">IEx.break!/4</code></a>. This allows the current process to execute until the next breakpoint, which will automatically yield control back to IEx without requesting permission to pry.</p>
<p>If you simply want to move to the next line of the current breakpoint, use <a href="#n/0"><code class="inline">n/0</code></a> or <a href="#next/0"><code class="inline">next/0</code></a> instead.</p>
<p>If the running process terminates, a new IEx session is started.</p>
<p>While the process executes, the user will no longer have control of the shell. If you would rather start a new shell, use <a href="#respawn/0"><code class="inline">respawn/0</code></a> instead.</p> </section> </section> <section class="detail">  <h3 class="detail-header" id="exports/1">exports(module \\ Kernel)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/iex/lib/iex/helpers.ex#L866" class="source">Source</a>
</h3> <section class="docstring"> <p>Prints a list of all the functions and macros exported by the given module.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="flush/0">flush()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/iex/lib/iex/helpers.ex#L816" class="source">Source</a>
</h3> <section class="docstring"> <p>Clears out all messages sent to the shell's inbox and prints them out.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="h/0">h()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/iex/lib/iex/helpers.ex#L339" class="source">Source</a>
</h3> <section class="docstring"> <p>Prints the documentation for <a href="iex.helpers"><code class="inline">IEx.Helpers</code></a>.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="h/1">h(term)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/iex/lib/iex/helpers.ex#L359" class="source">Source</a>
</h3> <section class="docstring"> <p>Prints the documentation for the given module or for the given <code class="inline">function/arity</code> pair.</p>
<h4 id="h/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; h(Enum)</pre>
<p>It also accepts functions in the format <code class="inline">function/arity</code> and <code class="inline">module.function/arity</code>, for example:</p>
<pre data-language="elixir">iex&gt; h(receive/1)
iex&gt; h(Enum.all?/2)
iex&gt; h(Enum.all?)</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="i/1">i(term \\ v(-1))<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/iex/lib/iex/helpers.ex#L537" class="source">Source</a>
</h3> <section class="docstring"> <p>Prints information about the data type of any given term.</p>
<p>If no argument is given, the value of the previous expression is used.</p>
<h4 id="i/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; i(1..5)</pre>
<p>Will print:</p>
<pre data-language="elixir">Term
  1..5
Data type
  Range
Description
  This is a struct. Structs are maps with a __struct__ key.
Reference modules
  Range, Map</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="import_file/1">import_file(path)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/iex/lib/iex/helpers.ex#L1296" class="source">Source</a>
</h3> <section class="docstring"> <p>Injects the contents of the file at <code class="inline">path</code>.</p>
<p>This would be the equivalent of getting all of the file contents and pasting it all at once in IEx and executing it.</p>
<p>By default, the contents of a <code class="inline">.iex.exs</code> file in the same directory as you are starting IEx are automatically imported. See the section for ".iex.exs" in the <a href="iex"><code class="inline">IEx</code></a> module docs for more information.</p>
<p><code class="inline">path</code> has to be a literal string and is automatically expanded via <a href="https://hexdocs.pm/elixir/Path.html#expand/1"><code class="inline">Path.expand/1</code></a>.</p>
<h4 id="import_file/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir"># ~/file.exs
value = 13

# in the shell
iex(1)&gt; import_file("~/file.exs")
13
iex(2)&gt; value
13</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="import_file_if_available/1">import_file_if_available(path)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/iex/lib/iex/helpers.ex#L1245" class="source">Source</a>
</h3> <section class="docstring"> <p>Similar to <code class="inline">import_file</code> but only imports the file if it is available.</p>
<p>By default, <a href="#import_file/1"><code class="inline">import_file/1</code></a> fails when the given file does not exist. However, since <a href="#import_file/1"><code class="inline">import_file/1</code></a> is expanded at compile-time, it's not possible to conditionally import a file since the macro is always expanded:</p>
<pre data-language="elixir"># This raises a File.Error if ~/.iex.exs doesn't exist.
if "~/.iex.exs" |&gt; Path.expand() |&gt; File.exists?() do
  import_file("~/.iex.exs")
end</pre>
<p>This macro addresses this issue by checking if the file exists or not in behalf of the user.</p> </section> </section> <section class="detail">  <h3 class="detail-header" id="import_if_available/2">import_if_available(quoted_module, opts \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/iex/lib/iex/helpers.ex#L1322" class="source">Source</a>
</h3> <section class="docstring"> <p>Calls <a href="https://hexdocs.pm/elixir/Kernel.SpecialForms.html#import/2"><code class="inline">import/2</code></a> with the given arguments, but only if the module is available.</p>
<p>This lets you put imports in <code class="inline">.iex.exs</code> files (including <code class="inline">~/.iex.exs</code>) without getting compile errors if you open a console where the module is not available.</p>
<h4 id="import_if_available/2-example" class="section-heading">  <span class="text">Example</span> </h4> <pre data-language="elixir"># In ~/.iex.exs
import_if_available(Ecto.Query)</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="l/1">l(module)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/iex/lib/iex/helpers.ex#L510" class="source">Source</a>
</h3> <section class="docstring"> <p>Loads the given module's BEAM code (and ensures any previous old version was properly purged before).</p>
<p>This function is useful when you know the bytecode for module has been updated in the file system and you want to tell the VM to load it.</p> </section> </section> <section class="detail">  <h3 class="detail-header" id="ls/1">ls(path \\ ".")<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/iex/lib/iex/helpers.ex#L883" class="source">Source</a>
</h3> <section class="docstring"> <p>Prints a list of the given directory's contents.</p>
<p>If <code class="inline">path</code> points to a file, prints its full path.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="n/0">n()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/iex/lib/iex/helpers.ex#L1025" class="source">Source</a>
</h3> <section class="docstring"> <p>A shortcut for <a href="#next/0"><code class="inline">next/0</code></a>.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="next/0">next()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/iex/lib/iex/helpers.ex#L1013" class="source">Source</a>
</h3> <section class="docstring"> <p>Goes to the next line of the current breakpoint.</p>
<p>This is usually called by sessions started with <a href="iex#break!/4"><code class="inline">IEx.break!/4</code></a>. If instead of the next line you want to move to the next breakpoint, call <a href="#continue/0"><code class="inline">continue/0</code></a> instead.</p>
<p>While the process executes, the user will no longer have control of the shell. If you would rather start a new shell, use <a href="#respawn/0"><code class="inline">respawn/0</code></a> instead.</p> </section> </section> <section class="detail">  <h3 class="detail-header" id="nl/2">nl(nodes \\ Node.list(), module)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/iex/lib/iex/helpers.ex#L1525" class="source">Source</a>
</h3> <section class="docstring"> <p>Deploys a given module's BEAM code to a list of nodes.</p>
<p>This function is useful for development and debugging when you have code that has been compiled or updated locally that you want to run on other nodes.</p>
<p>The node list defaults to a list of all connected nodes.</p>
<p>Returns <code class="inline">{:error, :nofile}</code> if the object code (i.e. ".beam" file) for the module could not be found locally.</p>
<h4 id="nl/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; nl(HelloWorld)
{:ok,
 [
   {:node1@easthost, :loaded, HelloWorld},
   {:node1@westhost, :loaded, HelloWorld}
 ]}

iex&gt; nl(NoSuchModuleExists)
{:error, :nofile}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="open/0">open()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/iex/lib/iex/helpers.ex#L271" class="source">Source</a>
</h3> <section class="docstring"> <p>Opens the current prying location.</p>
<p>This command only works inside a pry session started manually via <a href="iex#pry/0"><code class="inline">IEx.pry/0</code></a> or a breakpoint set via <a href="iex#break!/4"><code class="inline">IEx.break!/4</code></a>. Calling this function during a regular <a href="iex"><code class="inline">IEx</code></a> session will print an error.</p>
<p>Keep in mind the <a href="#open/0"><code class="inline">open/0</code></a> location may not exist when prying precompiled source code, such as Elixir itself.</p>
<p>For more information and to open any module or function, see <a href="#open/1"><code class="inline">open/1</code></a>.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="open/1">open(term)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/iex/lib/iex/helpers.ex#L330" class="source">Source</a>
</h3> <section class="docstring"> <p>Opens the given <code class="inline">module</code>, <code class="inline">module.function/arity</code>, or <code class="inline">{file, line}</code>.</p>
<p>This function uses the <code class="inline">ELIXIR_EDITOR</code> environment variable and falls back to <code class="inline">EDITOR</code> if the former is not available.</p>
<p>By default, it attempts to open the file and line using the <code class="inline">file:line</code> notation. For example, for Sublime Text you can set it as:</p>
<pre data-language="elixir">ELIXIR_EDITOR="subl"</pre>
<p>Which will then try to open it as:</p>
<pre data-language="elixir">subl path/to/file:line</pre>
<p>For Visual Studio Code, once enabled on the command line, you can set it to:</p>
<pre data-language="elixir">ELIXIR_EDITOR="code --goto"</pre>
<p>It is important that you choose an editor command that does not block nor that attempts to run an editor directly in the terminal. Command-line based editors likely need extra configuration so they open up the given file and line in a separate window.</p>
<p>For more complex use cases, you can use the <code class="inline">__FILE__</code> and <code class="inline">__LINE__</code> notations to explicitly interpolate the file and line into the command:</p>
<pre data-language="elixir">ELIXIR_EDITOR="my_editor +__LINE__ __FILE__"</pre>
<p>Since this function prints the result returned by the editor, <code class="inline">ELIXIR_EDITOR</code> can be set "echo" if you prefer to display the location rather than opening it.</p>
<p>Keep in mind the location may not exist when opening precompiled source code.</p>
<h4 id="open/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; open(MyApp)
iex&gt; open(MyApp.fun/2)
iex&gt; open({"path/to/file", 1})</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="pid/1">pid(string)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/iex/lib/iex/helpers.ex#L1391" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec pid(binary() | atom()) :: pid()</pre> </div> <p>Creates a PID from <code class="inline">string</code> or <code class="inline">atom</code>.</p>
<h4 id="pid/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; pid("0.21.32")
#PID&lt;0.21.32&gt;

iex&gt; pid("#PID&lt;0.21.32&gt;")
#PID&lt;0.21.32&gt;

iex&gt; pid(:init)
#PID&lt;0.0.0&gt;</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="pid/3">pid(x, y, z)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/iex/lib/iex/helpers.ex#L1419" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec pid(non_neg_integer(), non_neg_integer(), non_neg_integer()) :: pid()</pre> </div> <p>Creates a PID with 3 non-negative integers passed as arguments to the function.</p>
<h4 id="pid/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; pid(0, 21, 32)
#PID&lt;0.21.32&gt;
iex&gt; pid(0, 64, 2048)
#PID&lt;0.64.2048&gt;</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="port/1">port(string)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/iex/lib/iex/helpers.ex#L1439" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec port(binary()) :: port()</pre> </div> <p>Creates a Port from <code class="inline">string</code>.</p>
<h4 id="port/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; port("0.4")
#Port&lt;0.4&gt;</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="port/2">port(major, minor)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/iex/lib/iex/helpers.ex#L1456" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec port(non_neg_integer(), non_neg_integer()) :: port()</pre> </div> <p>Creates a Port from two non-negative integers.</p>
<h4 id="port/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; port(0, 8080)
#Port&lt;0.8080&gt;
iex&gt; port(0, 443)
#Port&lt;0.443&gt;</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="pwd/0">pwd()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/iex/lib/iex/helpers.ex#L842" class="source">Source</a>
</h3> <section class="docstring"> <p>Prints the current working directory.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="r/1">r(module_or_modules)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/iex/lib/iex/helpers.ex#L460" class="source">Source</a>
</h3> <section class="docstring"> <p>Recompiles and reloads the given <code class="inline">module</code> or <code class="inline">modules</code>.</p>
<p>Please note that all the modules defined in the same file as <code class="inline">modules</code> are recompiled and reloaded. If you want to reload multiple modules, it is best to reload them at the same time, such as in <code class="inline">r [Foo, Bar]</code>. This is important to avoid false warnings, since the module is only reloaded in memory and its latest information is not persisted to disk. See the "In-memory reloading" section below.</p>
<p>This function is meant to be used for development and debugging purposes. Do not depend on it in production code.</p>
<h4 id="r/1-in-memory-reloading" class="section-heading">  <span class="text">In-memory reloading</span> </h4> <p>When we reload the module in IEx, we recompile the module source code, updating its contents in memory. The original <code class="inline">.beam</code> file in disk, probably the one where the first definition of the module came from, does not change at all.</p>
<p>Since docs, typespecs, and exports information are loaded from the .beam file, they are not reloaded when you invoke this function.</p> </section> </section> <section class="detail">  <h3 class="detail-header" id="recompile/1">recompile(options \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/iex/lib/iex/helpers.ex#L111" class="source">Source</a>
</h3> <section class="docstring"> <p>Recompiles the current Mix project or Mix install dependencies.</p>
<p>This helper requires either <a href="https://hexdocs.pm/mix/Mix.html#install/2"><code class="inline">Mix.install/2</code></a> to have been called within the current IEx session or for IEx to be started alongside, for example, <code class="inline">iex -S mix</code>.</p>
<p>In the <a href="https://hexdocs.pm/mix/Mix.html#install/1"><code class="inline">Mix.install/1</code></a> case, it will recompile any outdated path dependency declared during install. Within a project, it will recompile any outdated module.</p>
<p>Note this function simply recompiles Elixir modules, without reloading configuration or restarting applications. This means any long running process may crash on recompilation, as changed modules will be temporarily removed and recompiled, without going through the proper code change callback.</p>
<p>If you want to reload a single module, consider using <code class="inline">r(ModuleName)</code> instead.</p>
<p>This function is meant to be used for development and debugging purposes. Do not depend on it in production code.</p>
<h4 id="recompile/1-options" class="section-heading">  <span class="text">Options</span> </h4> <ul><li>
<code class="inline">:force</code> - when <code class="inline">true</code>, forces the application to recompile</li></ul> </section> </section> <section class="detail"> <h3 class="detail-header" id="ref/1">ref(string)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/iex/lib/iex/helpers.ex#L1474" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec ref(binary()) :: reference()</pre> </div> <p>Creates a Reference from <code class="inline">string</code>.</p>
<h4 id="ref/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; ref("0.1.2.3")
#Reference&lt;0.1.2.3&gt;</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="ref/4">ref(w, x, y, z)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/iex/lib/iex/helpers.ex#L1489" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec ref(non_neg_integer(), non_neg_integer(), non_neg_integer(), non_neg_integer()) ::
  reference()</pre> </div> <p>Creates a Reference from its 4 non-negative integers components.</p>
<h4 id="ref/4-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; ref(0, 1, 2, 3)
#Reference&lt;0.1.2.3&gt;</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="remove_breaks/0">remove_breaks()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/iex/lib/iex/helpers.ex#L1175" class="source">Source</a>
</h3> <section class="docstring"> <p>Removes all breakpoints and instrumentation from all modules.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="remove_breaks/1">remove_breaks(module)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/iex/lib/iex/helpers.ex#L1169" class="source">Source</a>
</h3> <section class="docstring"> <p>Removes all breakpoints and instrumentation from <code class="inline">module</code>.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="reset_break/1">reset_break(id)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/iex/lib/iex/helpers.ex#L1148" class="source">Source</a>
</h3> <section class="docstring"> <p>Resets the number of pending stops in the breakpoint with the given <code class="inline">id</code> to zero.</p>
<p>Returns <code class="inline">:ok</code> if there is such breakpoint ID. <code class="inline">:not_found</code> otherwise.</p>
<p>Note the module remains "instrumented" on reset. If you would like to effectively remove all breakpoints and instrumentation code from a module, use <a href="#remove_breaks/1"><code class="inline">remove_breaks/1</code></a> instead.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="reset_break/3">reset_break(module, function, arity)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/iex/lib/iex/helpers.ex#L1163" class="source">Source</a>
</h3> <section class="docstring"> <p>Resets the number of pending stops in the given module, function and arity to zero.</p>
<p>If the module is not instrumented or if the given function does not have a breakpoint, it is a no-op and it returns <code class="inline">:not_found</code>. Otherwise it returns <code class="inline">:ok</code>.</p>
<p>Note the module remains "instrumented" on reset. If you would like to effectively remove all breakpoints and instrumentation code from a module, use <a href="#remove_breaks/1"><code class="inline">remove_breaks/1</code></a> instead.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="respawn/0">respawn()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/iex/lib/iex/helpers.ex#L966" class="source">Source</a>
</h3> <section class="docstring"> <p>Respawns the current shell by starting a new shell process.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="runtime_info/0">runtime_info()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/iex/lib/iex/helpers.ex#L575" class="source">Source</a>
</h3> <section class="docstring"> <p>Prints VM/runtime information such as versions, memory usage and statistics.</p>
<p>Additional topics are available via <a href="#runtime_info/1"><code class="inline">runtime_info/1</code></a>.</p>
<p>For more metrics, info, and debugging facilities, see the <a href="https://github.com/ferd/recon">Recon</a> project.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="runtime_info/1">runtime_info(topic)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/iex/lib/iex/helpers.ex#L583" class="source">Source</a>
</h3> <section class="docstring"> <p>Just like <a href="#runtime_info/0"><code class="inline">runtime_info/0</code></a>, except accepts topic or a list of topics.</p>
<p>For example, topic <code class="inline">:applications</code> will list the applications loaded.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="t/1">t(term)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/iex/lib/iex/helpers.ex#L403" class="source">Source</a>
</h3> <section class="docstring"> <p>Prints the types for the given module or for the given function/arity pair.</p>
<h4 id="t/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; t(Enum)
@type t() :: Enumerable.t()
@type acc() :: any()
@type element() :: any()
@type index() :: integer()
@type default() :: any()

iex&gt; t(Enum.t/0)
@type t() :: Enumerable.t()

iex&gt; t(Enum.t)
@type t() :: Enumerable.t()</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="use_if_available/2">use_if_available(quoted_module, opts \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/iex/lib/iex/helpers.ex#L1345" class="source">Source</a>
</h3> <section class="docstring"> <p>Calls <a href="https://hexdocs.pm/elixir/Kernel.html#use/2"><code class="inline">use/2</code></a> with the given arguments, but only if the module is available.</p>
<p>This lets you use the module in <code class="inline">.iex.exs</code> files (including <code class="inline">~/.iex.exs</code>) without getting compile errors if you open a console where the module is not available.</p>
<h4 id="use_if_available/2-example" class="section-heading">  <span class="text">Example</span> </h4> <pre data-language="elixir"># In ~/.iex.exs
use_if_available(Phoenix.HTML)</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="v/1">v(n \\ -1)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/iex/lib/iex/helpers.ex#L432" class="source">Source</a>
</h3> <section class="docstring"> <p>Returns the value of the <code class="inline">n</code>th expression in the history.</p>
<p><code class="inline">n</code> can be a negative value: if it is, the corresponding expression value relative to the current one is returned. For example, <code class="inline">v(-2)</code> returns the value of the expression evaluated before the last evaluated expression. In particular, <code class="inline">v(-1)</code> returns the result of the last evaluated expression and <code class="inline">v()</code> does the same.</p>
<h4 id="v/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex(1)&gt; "hello" &lt;&gt; " world"
"hello world"
iex(2)&gt; 40 + 2
42
iex(3)&gt; v(-2)
"hello world"
iex(4)&gt; v(2)
42
iex(5)&gt; v()
42</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="whereami/1">whereami(radius \\ 2)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/iex/lib/iex/helpers.ex#L1202" class="source">Source</a>
</h3> <section class="docstring"> <p>Prints the current location and stacktrace in a pry session.</p>
<p>It expects a <code class="inline">radius</code> which chooses how many lines before and after the current line we should print. By default the <code class="inline">radius</code> is of two lines:</p>
<pre data-language="elixir">Location: lib/iex/lib/iex/helpers.ex:79

77:
78:   def recompile do
79:     require IEx; IEx.pry()
80:     if mix_started?() do
81:       config = Mix.Project.config

(IEx.Helpers) lib/iex/lib/iex/helpers.ex:78: IEx.Helpers.recompile/0</pre>
<p>This command only works inside a pry session started manually via <a href="iex#pry/0"><code class="inline">IEx.pry/0</code></a> or a breakpoint set via <a href="iex#break!/4"><code class="inline">IEx.break!/4</code></a>. Calling this function during a regular <a href="iex"><code class="inline">IEx</code></a> session will print an error.</p>
<p>Keep in mind the <a href="#whereami/1"><code class="inline">whereami/1</code></a> location may not exist when prying precompiled source code, such as Elixir itself.</p> </section> </section> </div> </section> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="iex.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/iex/1.17.2/IEx.Helpers.html" class="_attribution-link">https://hexdocs.pm/iex/1.17.2/IEx.Helpers.html</a>
  </p>
</div>
