<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/iex/lib/iex/server.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">IEx.Server</span>  </h1> <section id="moduledoc"> <p>The IEx.Server.</p>
<p>The server responsibilities include:</p>
<ul>
<li>reading input from the group leader and writing to the group leader</li>
<li>sending messages to the evaluator</li>
<li>taking over the evaluator process when using <a href="iex#pry/0"><code class="inline">IEx.pry/0</code></a> or setting up breakpoints</li>
</ul> </section> </div> <section id="summary" class="details-list"> <h1 class="section-heading">  <span class="text">Summary</span> </h1> <h2> Functions </h2>
<dl class="summary-functions summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#run/1" data-no-tooltip translate="no">run(opts)</a> </dt> <dd class="summary-synopsis"><p>Starts a new IEx server session.</p></dd> </div> </dl> </section> <section id="functions" class="details-list"> <h1 class="section-heading">  <span class="text">Functions</span> </h1> <div class="functions-list"> <section class="detail"> <h3 class="detail-header" id="run/1">run(opts)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/iex/lib/iex/server.ex#L35" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec run(keyword()) :: :ok</pre> </div> <p>Starts a new IEx server session.</p>
<p>The accepted options are:</p>
<ul>
<li>
<code class="inline">:prefix</code> - the IEx prefix</li>
<li>
<code class="inline">:env</code> - the <a href="https://hexdocs.pm/elixir/Macro.Env.html"><code class="inline">Macro.Env</code></a> used for the evaluator</li>
<li>
<code class="inline">:binding</code> - an initial set of variables for the evaluator</li>
<li>
<code class="inline">:on_eof</code> - if it should <code class="inline">:stop_evaluator</code> (default) or <code class="inline">:halt</code> the system</li>
<li>
<code class="inline">:register</code> - if this shell should be registered in the broker (default is <code class="inline">true</code>)</li>
</ul> </section> </section> </div> </section> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="iex.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/iex/1.17.2/IEx.Server.html" class="_attribution-link">https://hexdocs.pm/iex/1.17.2/IEx.Server.html</a>
  </p>
</div>
