<h1>Elixir</h1>  <div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/pages/getting-started/introduction.md#L1" title="View Source" class="source" rel="help">Source</a> <span>Introduction</span> </h1> <p>Welcome!</p>
<p>This guide will teach you about Elixir fundamentals - the language syntax, how to define modules, the common data structures in the language, and more. This chapter will focus on ensuring that Elixir is installed and that you can successfully run Elixir's Interactive Shell, called IEx.</p>
<p>Let's get started.</p>
<h2 id="installation" class="section-heading">  <span class="text">Installation</span> </h2> <p>If you haven't yet installed Elixir, visit our <a href="https://elixir-lang.org/install.html">installation page</a>. Once you are done, you can run <code class="inline">elixir --version</code> to get the current Elixir version. The requirements for this guide are:</p>
<ul>
<li>Elixir 1.15.0 onwards</li>
<li>Erlang/OTP 26 onwards</li>
</ul>
<p>If you are looking for other resources for learning Elixir, you can also consult the <a href="https://elixir-lang.org/learning.html">learning page</a> of the official website.</p>
<h2 id="interactive-mode" class="section-heading">  <span class="text">Interactive mode</span> </h2> <p>When you install Elixir, you will have three new command line executables: <code class="inline">iex</code>, <code class="inline">elixir</code> and <code class="inline">elixirc</code>.</p>
<p>For now, let's start by running <code class="inline">iex</code> (or <code class="inline">iex.bat</code> if you are on Windows PowerShell, where <code class="inline">iex</code> is a PowerShell command) which stands for Interactive Elixir. In interactive mode, we can type any Elixir expression and get its result. Let's warm up with some basic expressions.</p>
<p>Open up <code class="inline">iex</code> and type the following expressions:</p>
<pre data-language="elixir">Erlang/OTP 26 [64-bit] [smp:2:2] [...]

Interactive Elixir - press Ctrl+C to exit
iex(1)&gt; 40 + 2
42
iex(2)&gt; "hello" &lt;&gt; " world"
"hello world"</pre>
<p>Please note that some details like version numbers may differ a bit in your session, that's not important. By executing the code above, you should evaluate expressions and see their results. To exit <code class="inline">iex</code> press <code class="inline">Ctrl+C</code> twice.</p>
<p>It seems we are ready to go! We will use the interactive shell quite a lot in the next chapters to get a bit more familiar with the language constructs and basic types, starting in the next chapter.</p>
<blockquote><p>Note: if you are on Windows and running on an Erlang/OTP version earlier than 26, you can also try <code class="inline">iex --werl</code> (<code class="inline">iex.bat --werl</code> on PowerShell) which may provide a better experience depending on which console you are using.</p></blockquote>
<h2 id="running-scripts" class="section-heading">  <span class="text">Running scripts</span> </h2> <p>After getting familiar with the basics of the language you may want to try writing simple programs. This can be accomplished by putting the following Elixir code into a file:</p>
<pre data-language="elixir">IO.puts("Hello world from Elixir")</pre>
<p>Save it as <code class="inline">simple.exs</code> and execute it with <code class="inline">elixir</code>:</p>
<pre data-language="elixir">$ elixir simple.exs
Hello world from Elixir
</pre>
<p>Later on we will learn <a href="modules-and-functions">how to compile Elixir code</a> and how to create and work within Elixir projects using the Mix build tool. For now, let's move on to learn the basic data types in the language.</p> </div> <div class="bottom-actions" id="bottom-actions"> <div class="bottom-actions-item"> <a href="changelog" class="bottom-actions-button" rel="prev"> <span class="subheader"> ← Previous Page </span> <span class="title"> Changelog for Elixir v1.17 </span> </a> </div> <div class="bottom-actions-item"> <a href="basic-types" class="bottom-actions-button" rel="next"> <span class="subheader"> Next Page → </span> <span class="title"> Basic types </span> </a> </div> </div> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/introduction.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/introduction.html</a>
  </p>
</div>
