<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/inspect/algebra.ex#L171" title="View Source" class="source" rel="help">Source</a> <span translate="no">Inspect.Algebra</span>  </h1> <section id="moduledoc"> <p>A set of functions for creating and manipulating algebra documents.</p>
<p>This module implements the functionality described in <a href="https://lindig.github.io/papers/strictly-pretty-2000.pdf" title="">"Strictly Pretty" (2000) by Christian Lindig</a> with small additions, like support for binary nodes and a break mode that maximises use of horizontal space.</p>
<pre data-language="elixir">iex&gt; Inspect.Algebra.empty()
:doc_nil

iex&gt; "foo"
"foo"</pre>
<p>With the functions in this module, we can concatenate different elements together and render them:</p>
<pre data-language="elixir">iex&gt; doc = Inspect.Algebra.concat(Inspect.Algebra.empty(), "foo")
iex&gt; Inspect.Algebra.format(doc, 80)
["foo"]</pre>
<p>The functions <a href="#nest/2"><code class="inline">nest/2</code></a>, <a href="#space/2"><code class="inline">space/2</code></a> and <a href="#line/2"><code class="inline">line/2</code></a> help you put the document together into a rigid structure. However, the document algebra gets interesting when using functions like <a href="#glue/3"><code class="inline">glue/3</code></a> and <a href="#group/1"><code class="inline">group/1</code></a>. A glue inserts a break between two documents. A group indicates a document that must fit the current line, otherwise breaks are rendered as new lines. Let's glue two docs together with a break, group it and then render it:</p>
<pre data-language="elixir">iex&gt; doc = Inspect.Algebra.glue("a", " ", "b")
iex&gt; doc = Inspect.Algebra.group(doc)
iex&gt; Inspect.Algebra.format(doc, 80)
["a", " ", "b"]</pre>
<p>Note that the break was represented as is, because we haven't reached a line limit. Once we do, it is replaced by a newline:</p>
<pre data-language="elixir">iex&gt; doc = Inspect.Algebra.glue(String.duplicate("a", 20), " ", "b")
iex&gt; doc = Inspect.Algebra.group(doc)
iex&gt; Inspect.Algebra.format(doc, 10)
["aaaaaaaaaaaaaaaaaaaa", "\n", "b"]</pre>
<p>This module uses the byte size to compute how much space there is left. If your document contains strings, then those need to be wrapped in <a href="#string/1"><code class="inline">string/1</code></a>, which then relies on <a href="string#length/1"><code class="inline">String.length/1</code></a> to precompute the document size.</p>
<p>Finally, this module also contains Elixir related functions, a bit tied to Elixir formatting, such as <a href="#to_doc/2"><code class="inline">to_doc/2</code></a>.</p>
<h2 id="module-implementation-details" class="section-heading">  <span class="text">Implementation details</span> </h2> <p>The implementation of <a href="inspect.algebra"><code class="inline">Inspect.Algebra</code></a> is based on the Strictly Pretty paper by <a href="https://lindig.github.io/papers/strictly-pretty-2000.pdf" title="">Lindig</a> which builds on top of previous pretty printing algorithms but is tailored to strict languages, such as Elixir. The core idea in the paper is the use of explicit document groups which are rendered as flat (breaks as spaces) or as break (breaks as newlines).</p>
<p>This implementation provides two types of breaks: <code class="inline">:strict</code> and <code class="inline">:flex</code>. When a group does not fit, all strict breaks are treated as newlines. Flex breaks, however, are re-evaluated on every occurrence and may still be rendered flat. See <a href="#break/1"><code class="inline">break/1</code></a> and <a href="#flex_break/1"><code class="inline">flex_break/1</code></a> for more information.</p>
<p>This implementation also adds <a href="#force_unfit/1"><code class="inline">force_unfit/1</code></a> and <a href="#next_break_fits/2"><code class="inline">next_break_fits/2</code></a> which give more control over the document fitting.</p> </section> </div> <section id="summary" class="details-list"> <h1 class="section-heading">  <span class="text">Summary</span> </h1> <h2> Guards </h2>
<dl class="summary-guards summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#is_doc/1" data-no-tooltip translate="no">is_doc(doc)</a> </dt> </div> </dl> <h2> Types </h2>
<dl class="summary-types summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#t:t/0" data-no-tooltip translate="no">t()</a> </dt> </div> </dl> <h2> Functions </h2>
<dl class="summary-functions summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#break/1" data-no-tooltip translate="no">break(string \\ " ")</a> </dt> <dd class="summary-synopsis"><p>Returns a break document based on the given <code class="inline">string</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#collapse_lines/1" data-no-tooltip translate="no">collapse_lines(max)</a> </dt> <dd class="summary-synopsis"><p>Collapse any new lines and whitespace following this node, emitting up to <code class="inline">max</code> new lines.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#color/3" data-no-tooltip translate="no">color(doc, color_key, opts)</a> </dt> <dd class="summary-synopsis"><p>Colors a document if the <code class="inline">color_key</code> has a color in the options.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#concat/1" data-no-tooltip translate="no">concat(docs)</a> </dt> <dd class="summary-synopsis"><p>Concatenates a list of documents returning a new document.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#concat/2" data-no-tooltip translate="no">concat(doc1, doc2)</a> </dt> <dd class="summary-synopsis"><p>Concatenates two document entities returning a new document.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#container_doc/6" data-no-tooltip translate="no">container_doc(left, collection, right, inspect_opts, fun, opts \\ [])</a> </dt> <dd class="summary-synopsis"><p>Wraps <code class="inline">collection</code> in <code class="inline">left</code> and <code class="inline">right</code> according to limit and contents.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#empty/0" data-no-tooltip translate="no">empty()</a> </dt> <dd class="summary-synopsis"><p>Returns a document entity used to represent nothingness.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#flex_break/1" data-no-tooltip translate="no">flex_break(string \\ " ")</a> </dt> <dd class="summary-synopsis"><p>Returns a flex break document based on the given <code class="inline">string</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#flex_glue/3" data-no-tooltip translate="no">flex_glue(doc1, break_string \\ " ", doc2)</a> </dt> <dd class="summary-synopsis"><p>Glues two documents (<code class="inline">doc1</code> and <code class="inline">doc2</code>) inserting a <a href="#flex_break/1"><code class="inline">flex_break/1</code></a> given by <code class="inline">break_string</code> between them.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#fold_doc/2" data-no-tooltip translate="no">fold_doc(docs, folder_fun)</a> </dt> <dd class="summary-synopsis"><p>Folds a list of documents into a document using the given folder function.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#force_unfit/1" data-no-tooltip translate="no">force_unfit(doc)</a> </dt> <dd class="summary-synopsis"><p>Forces the current group to be unfit.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#format/2" data-no-tooltip translate="no">format(doc, width)</a> </dt> <dd class="summary-synopsis"><p>Formats a given document for a given width.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#glue/3" data-no-tooltip translate="no">glue(doc1, break_string \\ " ", doc2)</a> </dt> <dd class="summary-synopsis"><p>Glues two documents (<code class="inline">doc1</code> and <code class="inline">doc2</code>) inserting the given break <code class="inline">break_string</code> between them.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#group/2" data-no-tooltip translate="no">group(doc, mode \\ :self)</a> </dt> <dd class="summary-synopsis"><p>Returns a group containing the specified document <code class="inline">doc</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#line/0" data-no-tooltip translate="no">line()</a> </dt> <dd class="summary-synopsis"><p>A mandatory linebreak.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#line/2" data-no-tooltip translate="no">line(doc1, doc2)</a> </dt> <dd class="summary-synopsis"><p>Inserts a mandatory linebreak between two documents.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#nest/3" data-no-tooltip translate="no">nest(doc, level, mode \\ :always)</a> </dt> <dd class="summary-synopsis"><p>Nests the given document at the given <code class="inline">level</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#next_break_fits/2" data-no-tooltip translate="no">next_break_fits(doc, mode \\ :enabled)</a> </dt> <dd class="summary-synopsis"><p>Considers the next break as fit.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#no_limit/1" data-no-tooltip translate="no">no_limit(doc)</a> </dt> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#space/2" data-no-tooltip translate="no">space(doc1, doc2)</a> </dt> <dd class="summary-synopsis"><p>Inserts a mandatory single space between two documents.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#string/1" data-no-tooltip translate="no">string(string)</a> </dt> <dd class="summary-synopsis"><p>Creates a document represented by string.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#to_doc/2" data-no-tooltip translate="no">to_doc(term, opts)</a> </dt> <dd class="summary-synopsis"><p>Converts an Elixir term to an algebra document according to the <a href="inspect"><code class="inline">Inspect</code></a> protocol.</p></dd> </div> </dl> </section> <section id="guards" class="details-list"> <h1 class="section-heading">  <span class="text">Guards</span> </h1> <div class="guards-list"> <section class="detail"> <h3 class="detail-header" id="is_doc/1">is_doc(doc)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/inspect/algebra.ex#L328" class="source">Source</a>
</h3>  </section> </div> </section> <section id="types" class="details-list"> <h1 class="section-heading">  <span class="text">Types</span> </h1> <div class="types-list"> <section class="detail"> <h3 class="detail-header" id="t:t/0">t()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/inspect/algebra.ex#L250" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type t() ::
  binary()
  | :doc_line
  | :doc_nil
  | doc_break()
  | doc_collapse()
  | doc_color()
  | doc_cons()
  | doc_fits()
  | doc_force()
  | doc_group()
  | doc_nest()
  | doc_string()
  | doc_limit()</pre> </div> </section> </section> </div> </section> <section id="functions" class="details-list"> <h1 class="section-heading">  <span class="text">Functions</span> </h1> <div class="functions-list"> <section class="detail">  <h3 class="detail-header" id="break/1">break(string \\ " ")<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/inspect/algebra.ex#L690" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec break(binary()) :: doc_break()</pre> </div> <p>Returns a break document based on the given <code class="inline">string</code>.</p>
<p>This break can be rendered as a linebreak or as the given <code class="inline">string</code>, depending on the <code class="inline">mode</code> of the chosen layout.</p>
<h4 id="break/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <p>Let's create a document by concatenating two strings with a break between them:</p>
<pre data-language="elixir">iex&gt; doc = Inspect.Algebra.concat(["a", Inspect.Algebra.break("\t"), "b"])
iex&gt; Inspect.Algebra.format(doc, 80)
["a", "\t", "b"]</pre>
<p>Note that the break was represented with the given string, because we didn't reach a line limit. Once we do, it is replaced by a newline:</p>
<pre data-language="elixir">iex&gt; break = Inspect.Algebra.break("\t")
iex&gt; doc = Inspect.Algebra.concat([String.duplicate("a", 20), break, "b"])
iex&gt; doc = Inspect.Algebra.group(doc)
iex&gt; Inspect.Algebra.format(doc, 10)
["aaaaaaaaaaaaaaaaaaaa", "\n", "b"]</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="collapse_lines/1">collapse_lines(max)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/inspect/algebra.ex#L700" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec collapse_lines(pos_integer()) :: doc_collapse()</pre> </div> <p>Collapse any new lines and whitespace following this node, emitting up to <code class="inline">max</code> new lines.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="color/3">color(doc, color_key, opts)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/inspect/algebra.ex#L615" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec color(t(), Inspect.Opts.color_key(), Inspect.Opts.t()) :: t()</pre> </div> <p>Colors a document if the <code class="inline">color_key</code> has a color in the options.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="concat/1">concat(docs)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/inspect/algebra.ex#L606" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec concat([t()]) :: t()</pre> </div> <p>Concatenates a list of documents returning a new document.</p>
<h4 id="concat/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; doc = Inspect.Algebra.concat(["a", "b", "c"])
iex&gt; Inspect.Algebra.format(doc, 80)
["a", "b", "c"]</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="concat/2">concat(doc1, doc2)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/inspect/algebra.ex#L587" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec concat(t(), t()) :: t()</pre> </div> <p>Concatenates two document entities returning a new document.</p>
<h4 id="concat/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; doc = Inspect.Algebra.concat("hello", "world")
iex&gt; Inspect.Algebra.format(doc, 80)
["hello", "world"]</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="container_doc/6">container_doc(left, collection, right, inspect_opts, fun, opts \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/inspect/algebra.ex#L443" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec container_doc(
  t(),
  [any()],
  t(),
  Inspect.Opts.t(),
  (term(), Inspect.Opts.t() -&gt; t()),
  keyword()
) ::
  t()</pre> </div> <p>Wraps <code class="inline">collection</code> in <code class="inline">left</code> and <code class="inline">right</code> according to limit and contents.</p>
<p>It uses the given <code class="inline">left</code> and <code class="inline">right</code> documents as surrounding and the separator document <code class="inline">separator</code> to separate items in <code class="inline">docs</code>. If all entries in the collection are simple documents (texts or strings), then this function attempts to put as much as possible on the same line. If they are not simple, only one entry is shown per line if they do not fit.</p>
<p>The limit in the given <code class="inline">inspect_opts</code> is respected and when reached this function stops processing and outputs <code class="inline">"..."</code> instead.</p>
<h4 id="container_doc/6-options" class="section-heading">  <span class="text">Options</span> </h4> <ul>
<li>
<code class="inline">:separator</code> - the separator used between each doc</li>
<li>
<code class="inline">:break</code> - If <code class="inline">:strict</code>, always break between each element. If <code class="inline">:flex</code>, breaks only when necessary. If <code class="inline">:maybe</code>, chooses <code class="inline">:flex</code> only if all elements are text-based, otherwise is <code class="inline">:strict</code>
</li>
</ul>
<h4 id="container_doc/6-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; inspect_opts = %Inspect.Opts{limit: :infinity}
iex&gt; fun = fn i, _opts -&gt; to_string(i) end
iex&gt; doc = Inspect.Algebra.container_doc("[", Enum.to_list(1..5), "]", inspect_opts, fun)
iex&gt; Inspect.Algebra.format(doc, 5) |&gt; IO.iodata_to_binary()
"[1,\n 2,\n 3,\n 4,\n 5]"

iex&gt; inspect_opts = %Inspect.Opts{limit: 3}
iex&gt; fun = fn i, _opts -&gt; to_string(i) end
iex&gt; doc = Inspect.Algebra.container_doc("[", Enum.to_list(1..5), "]", inspect_opts, fun)
iex&gt; Inspect.Algebra.format(doc, 20) |&gt; IO.iodata_to_binary()
"[1, 2, 3, ...]"

iex&gt; inspect_opts = %Inspect.Opts{limit: 3}
iex&gt; fun = fn i, _opts -&gt; to_string(i) end
iex&gt; opts = [separator: "!"]
iex&gt; doc = Inspect.Algebra.container_doc("[", Enum.to_list(1..5), "]", inspect_opts, fun, opts)
iex&gt; Inspect.Algebra.format(doc, 20) |&gt; IO.iodata_to_binary()
"[1! 2! 3! ...]"</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="empty/0">empty()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/inspect/algebra.ex#L540" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec empty() :: :doc_nil</pre> </div> <p>Returns a document entity used to represent nothingness.</p>
<h4 id="empty/0-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Inspect.Algebra.empty()
:doc_nil</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="flex_break/1">flex_break(string \\ " ")<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/inspect/algebra.ex#L791" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec flex_break(binary()) :: doc_break()</pre> </div> <p>Returns a flex break document based on the given <code class="inline">string</code>.</p>
<p>A flex break still causes a group to break, like <a href="#break/1"><code class="inline">break/1</code></a>, but it is re-evaluated when the documented is rendered.</p>
<p>For example, take a group document represented as <code class="inline">[1, 2, 3]</code> where the space after every comma is a break. When the document above does not fit a single line, all breaks are enabled, causing the document to be rendered as:</p>
<pre data-language="elixir">[1,
 2,
 3]</pre>
<p>However, if flex breaks are used, then each break is re-evaluated when rendered, so the document could be possible rendered as:</p>
<pre data-language="elixir">[1, 2,
 3]</pre>
<p>Hence the name "flex". they are more flexible when it comes to the document fitting. On the other hand, they are more expensive since each break needs to be re-evaluated.</p>
<p>This function is used by <a href="#container_doc/6"><code class="inline">container_doc/6</code></a> and friends to the maximum number of entries on the same line.</p> </section> </section> <section class="detail">  <h3 class="detail-header" id="flex_glue/3">flex_glue(doc1, break_string \\ " ", doc2)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/inspect/algebra.ex#L804" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec flex_glue(t(), binary(), t()) :: t()</pre> </div> <p>Glues two documents (<code class="inline">doc1</code> and <code class="inline">doc2</code>) inserting a <a href="#flex_break/1"><code class="inline">flex_break/1</code></a> given by <code class="inline">break_string</code> between them.</p>
<p>This function is used by <a href="#container_doc/6"><code class="inline">container_doc/6</code></a> and friends to the maximum number of entries on the same line.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="fold_doc/2">fold_doc(docs, folder_fun)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/inspect/algebra.ex#L940" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec fold_doc([t()], (t(), t() -&gt; t())) :: t()</pre> </div> <p>Folds a list of documents into a document using the given folder function.</p>
<p>The list of documents is folded "from the right"; in that, this function is similar to <a href="list#foldr/3"><code class="inline">List.foldr/3</code></a>, except that it doesn't expect an initial accumulator and uses the last element of <code class="inline">docs</code> as the initial accumulator.</p>
<h4 id="fold_doc/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; docs = ["A", "B", "C"]
iex&gt; docs =
...&gt;   Inspect.Algebra.fold_doc(docs, fn doc, acc -&gt;
...&gt;     Inspect.Algebra.concat([doc, "!", acc])
...&gt;   end)
iex&gt; Inspect.Algebra.format(docs, 80)
["A", "!", "B", "!", "C"]</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="force_unfit/1">force_unfit(doc)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/inspect/algebra.ex#L757" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec force_unfit(t()) :: doc_force()</pre> </div> <p>Forces the current group to be unfit.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="format/2">format(doc, width)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/inspect/algebra.ex#L968" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec format(t(), non_neg_integer() | :infinity) :: iodata()</pre> </div> <p>Formats a given document for a given width.</p>
<p>Takes the maximum width and a document to print as its arguments and returns an IO data representation of the best layout for the document to fit in the given width.</p>
<p>The document starts flat (without breaks) until a group is found.</p>
<h4 id="format/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; doc = Inspect.Algebra.glue("hello", " ", "world")
iex&gt; doc = Inspect.Algebra.group(doc)
iex&gt; doc |&gt; Inspect.Algebra.format(30) |&gt; IO.iodata_to_binary()
"hello world"
iex&gt; doc |&gt; Inspect.Algebra.format(10) |&gt; IO.iodata_to_binary()
"hello\nworld"</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="glue/3">glue(doc1, break_string \\ " ", doc2)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/inspect/algebra.ex#L826" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec glue(t(), binary(), t()) :: t()</pre> </div> <p>Glues two documents (<code class="inline">doc1</code> and <code class="inline">doc2</code>) inserting the given break <code class="inline">break_string</code> between them.</p>
<p>For more information on how the break is inserted, see <a href="#break/1"><code class="inline">break/1</code></a>.</p>
<h4 id="glue/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; doc = Inspect.Algebra.glue("hello", "world")
iex&gt; Inspect.Algebra.format(doc, 80)
["hello", " ", "world"]

iex&gt; doc = Inspect.Algebra.glue("hello", "\t", "world")
iex&gt; Inspect.Algebra.format(doc, 80)
["hello", "\t", "world"]</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="group/2">group(doc, mode \\ :self)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/inspect/algebra.ex#L866" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec group(t(), :self | :inherit) :: doc_group()</pre> </div> <p>Returns a group containing the specified document <code class="inline">doc</code>.</p>
<p>Documents in a group are attempted to be rendered together to the best of the renderer ability.</p>
<p>The group mode can also be set to <code class="inline">:inherit</code>, which means it automatically breaks if the parent group has broken too.</p>
<h4 id="group/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; doc =
...&gt;   Inspect.Algebra.group(
...&gt;     Inspect.Algebra.concat(
...&gt;       Inspect.Algebra.group(
...&gt;         Inspect.Algebra.concat(
...&gt;           "Hello,",
...&gt;           Inspect.Algebra.concat(
...&gt;             Inspect.Algebra.break(),
...&gt;             "A"
...&gt;           )
...&gt;         )
...&gt;       ),
...&gt;       Inspect.Algebra.concat(
...&gt;         Inspect.Algebra.break(),
...&gt;         "B"
...&gt;       )
...&gt;     )
...&gt;   )
iex&gt; Inspect.Algebra.format(doc, 80)
["Hello,", " ", "A", " ", "B"]
iex&gt; Inspect.Algebra.format(doc, 6)
["Hello,", "\n", "A", "\n", "B"]</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="line/0">line()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/inspect/algebra.ex#L904" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec line() :: t()</pre> </div> <p>A mandatory linebreak.</p>
<p>A group with linebreaks will fit if all lines in the group fit.</p>
<h4 id="line/0-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; doc =
...&gt;   Inspect.Algebra.concat(
...&gt;     Inspect.Algebra.concat(
...&gt;       "Hughes",
...&gt;       Inspect.Algebra.line()
...&gt;     ),
...&gt;     "Wadler"
...&gt;   )
iex&gt; Inspect.Algebra.format(doc, 80)
["Hughes", "\n", "Wadler"]</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="line/2">line(doc1, doc2)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/inspect/algebra.ex#L919" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec line(t(), t()) :: t()</pre> </div> <p>Inserts a mandatory linebreak between two documents.</p>
<p>See <a href="#line/0"><code class="inline">line/0</code></a>.</p>
<h4 id="line/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; doc = Inspect.Algebra.line("Hughes", "Wadler")
iex&gt; Inspect.Algebra.format(doc, 80)
["Hughes", "\n", "Wadler"]</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="nest/3">nest(doc, level, mode \\ :always)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/inspect/algebra.ex#L645" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec nest(t(), non_neg_integer() | :cursor | :reset, :always | :break) ::
  doc_nest() | t()</pre> </div> <p>Nests the given document at the given <code class="inline">level</code>.</p>
<p>If <code class="inline">level</code> is an integer, that's the indentation appended to line breaks whenever they occur. If the level is <code class="inline">:cursor</code>, the current position of the "cursor" in the document becomes the nesting. If the level is <code class="inline">:reset</code>, it is set back to 0.</p>
<p><code class="inline">mode</code> can be <code class="inline">:always</code>, which means nesting always happen, or <code class="inline">:break</code>, which means nesting only happens inside a group that has been broken.</p>
<h4 id="nest/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; doc = Inspect.Algebra.nest(Inspect.Algebra.glue("hello", "world"), 5)
iex&gt; doc = Inspect.Algebra.group(doc)
iex&gt; Inspect.Algebra.format(doc, 5)
["hello", "\n     ", "world"]</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="next_break_fits/2">next_break_fits(doc, mode \\ :enabled)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/inspect/algebra.ex#L747" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec next_break_fits(t(), :enabled | :disabled) :: doc_fits()</pre> </div> <p>Considers the next break as fit.</p>
<p><code class="inline">mode</code> can be <code class="inline">:enabled</code> or <code class="inline">:disabled</code>. When <code class="inline">:enabled</code>, it will consider the document as fit as soon as it finds the next break, effectively cancelling the break. It will also ignore any <a href="#force_unfit/1"><code class="inline">force_unfit/1</code></a> in search of the next break.</p>
<p>When disabled, it behaves as usual and it will ignore any further <a href="#next_break_fits/2"><code class="inline">next_break_fits/2</code></a> instruction.</p>
<h4 id="next_break_fits/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <p>This is used by Elixir's code formatter to avoid breaking code at some specific locations. For example, consider this code:</p>
<pre data-language="elixir">some_function_call(%{..., key: value, ...})</pre>
<p>Now imagine that this code does not fit its line. The code formatter introduces breaks inside <code class="inline">(</code> and <code class="inline">)</code> and inside <code class="inline">%{</code> and <code class="inline">}</code>. Therefore the document would break as:</p>
<pre data-language="elixir">some_function_call(
  %{
    ...,
    key: value,
    ...
  }
)</pre>
<p>The formatter wraps the algebra document representing the map in <a href="#next_break_fits/1"><code class="inline">next_break_fits/1</code></a> so the code is formatted as:</p>
<pre data-language="elixir">some_function_call(%{
  ...,
  key: value,
  ...
})</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="no_limit/1">no_limit(doc)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/inspect/algebra.ex#L591" class="source">Source</a>
</h3>  </section> <section class="detail"> <h3 class="detail-header" id="space/2">space(doc1, doc2)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/inspect/algebra.ex#L881" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec space(t(), t()) :: t()</pre> </div> <p>Inserts a mandatory single space between two documents.</p>
<h4 id="space/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; doc = Inspect.Algebra.space("Hughes", "Wadler")
iex&gt; Inspect.Algebra.format(doc, 5)
["Hughes", " ", "Wadler"]</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="string/1">string(string)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/inspect/algebra.ex#L572" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec string(String.t()) :: doc_string()</pre> </div> <p>Creates a document represented by string.</p>
<p>While <a href="inspect.algebra"><code class="inline">Inspect.Algebra</code></a> accepts binaries as documents, those are counted by binary size. On the other hand, <code class="inline">string</code> documents are measured in terms of graphemes towards the document size.</p>
<h4 id="string/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <p>The following document has 10 bytes and therefore it does not format to width 9 without breaks:</p>
<pre data-language="elixir">iex&gt; doc = Inspect.Algebra.glue("olá", " ", "mundo")
iex&gt; doc = Inspect.Algebra.group(doc)
iex&gt; Inspect.Algebra.format(doc, 9)
["olá", "\n", "mundo"]</pre>
<p>However, if we use <code class="inline">string</code>, then the string length is used, instead of byte size, correctly fitting:</p>
<pre data-language="elixir">iex&gt; string = Inspect.Algebra.string("olá")
iex&gt; doc = Inspect.Algebra.glue(string, " ", "mundo")
iex&gt; doc = Inspect.Algebra.group(doc)
iex&gt; Inspect.Algebra.format(doc, 9)
["olá", " ", "mundo"]</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="to_doc/2">to_doc(term, opts)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/inspect/algebra.ex#L342" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec to_doc(any(), Inspect.Opts.t()) :: t()</pre> </div> <p>Converts an Elixir term to an algebra document according to the <a href="inspect"><code class="inline">Inspect</code></a> protocol.</p> </section> </section> </div> </section> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/Inspect.Algebra.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/Inspect.Algebra.html</a>
  </p>
</div>
