<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/inspect/algebra.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">Inspect.Opts</span>  </h1> <section id="moduledoc"> <p>Defines the options used by the <a href="inspect"><code class="inline">Inspect</code></a> protocol.</p>
<p>The following fields are available:</p>
<ul>
<li><p><code class="inline">:base</code> - prints integers and binaries as <code class="inline">:binary</code>, <code class="inline">:octal</code>, <code class="inline">:decimal</code>, or <code class="inline">:hex</code>. Defaults to <code class="inline">:decimal</code>.</p></li>
<li>
<p><code class="inline">:binaries</code> - when <code class="inline">:as_binaries</code> all binaries will be printed in bit syntax.</p>
<p>When <code class="inline">:as_strings</code> all binaries will be printed as strings, non-printable bytes will be escaped.</p>
<p>When the default <code class="inline">:infer</code>, the binary will be printed as a string if <code class="inline">:base</code> is <code class="inline">:decimal</code> and if it is printable, otherwise in bit syntax. See <a href="string#printable?/1"><code class="inline">String.printable?/1</code></a> to learn when a string is printable.</p>
</li>
<li>
<p><code class="inline">:charlists</code> - when <code class="inline">:as_charlists</code> all lists will be printed as charlists, non-printable elements will be escaped.</p>
<p>When <code class="inline">:as_lists</code> all lists will be printed as lists.</p>
<p>When the default <code class="inline">:infer</code>, the list will be printed as a charlist if it is printable, otherwise as list. See <a href="list#ascii_printable?/1"><code class="inline">List.ascii_printable?/1</code></a> to learn when a charlist is printable.</p>
</li>
<li>
<p><code class="inline">:custom_options</code> (since v1.9.0) - a keyword list storing custom user-defined options. Useful when implementing the <a href="inspect"><code class="inline">Inspect</code></a> protocol for nested structs to pass the custom options through.</p>
<p>It supports some pre-defined keys:</p>
<ul><li>
<code class="inline">:sort_maps</code> (since v1.14.4) - if set to <code class="inline">true</code>, sorts key-value pairs in maps. This can be helpful to make map inspection deterministic for testing, given maps key order is random.</li></ul>
</li>
<li><p><code class="inline">:inspect_fun</code> (since v1.9.0) - a function to build algebra documents. Defaults to <a href="#default_inspect_fun/0"><code class="inline">Inspect.Opts.default_inspect_fun/0</code></a>.</p></li>
<li><p><code class="inline">:limit</code> - limits the number of items that are inspected for tuples, bitstrings, maps, lists and any other collection of items, with the exception of printable strings and printable charlists which use the <code class="inline">:printable_limit</code> option. If you don't want to limit the number of items to a particular number, use <code class="inline">:infinity</code>. It accepts a positive integer or <code class="inline">:infinity</code>. Defaults to <code class="inline">50</code>.</p></li>
<li><p><code class="inline">:pretty</code> - if set to <code class="inline">true</code> enables pretty printing. Defaults to <code class="inline">false</code>.</p></li>
<li><p><code class="inline">:printable_limit</code> - limits the number of characters that are inspected on printable strings and printable charlists. You can use <a href="string#printable?/1"><code class="inline">String.printable?/1</code></a> and <a href="list#ascii_printable?/1"><code class="inline">List.ascii_printable?/1</code></a> to check if a given string or charlist is printable. If you don't want to limit the number of characters to a particular number, use <code class="inline">:infinity</code>. It accepts a positive integer or <code class="inline">:infinity</code>. Defaults to <code class="inline">4096</code>.</p></li>
<li><p><code class="inline">:safe</code> - when <code class="inline">false</code>, failures while inspecting structs will be raised as errors instead of being wrapped in the <a href="inspect.error"><code class="inline">Inspect.Error</code></a> exception. This is useful when debugging failures and crashes for custom inspect implementations. Defaults to <code class="inline">true</code>.</p></li>
<li><p><code class="inline">:structs</code> - when <code class="inline">false</code>, structs are not formatted by the inspect protocol, they are instead printed as maps. Defaults to <code class="inline">true</code>.</p></li>
<li><p><code class="inline">:syntax_colors</code> - when set to a keyword list of colors the output is colorized. The keys are types and the values are the colors to use for each type (for example, <code class="inline">[number: :red, atom: :blue]</code>). Types can include <code class="inline">:atom</code>, <code class="inline">:binary</code>, <code class="inline">:boolean</code>, <code class="inline">:list</code>, <code class="inline">:map</code>, <code class="inline">:number</code>, <code class="inline">:regex</code>, <code class="inline">:string</code>, <code class="inline">:tuple</code>, or some types to represent AST like <code class="inline">:variable</code>, <code class="inline">:call</code>, and <code class="inline">:operator</code>. Custom data types may provide their own options. Colors can be any <a href="io.ansi#t:ansidata/0"><code class="inline">IO.ANSI.ansidata/0</code></a> as accepted by <a href="io.ansi#format/1"><code class="inline">IO.ANSI.format/1</code></a>. A default list of colors can be retrieved from <a href="io.ansi#syntax_colors/0"><code class="inline">IO.ANSI.syntax_colors/0</code></a>.</p></li>
<li><p><code class="inline">:width</code> - number of characters per line used when pretty is <code class="inline">true</code> or when printing to IO devices. Set to <code class="inline">0</code> to force each item to be printed on its own line. If you don't want to limit the number of items to a particular number, use <code class="inline">:infinity</code>. Defaults to <code class="inline">80</code>.</p></li>
</ul> </section> </div> <section id="summary" class="details-list"> <h1 class="section-heading">  <span class="text">Summary</span> </h1> <h2> Types </h2>
<dl class="summary-types summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#t:color_key/0" data-no-tooltip translate="no">color_key()</a> </dt> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:t/0" data-no-tooltip translate="no">t()</a> </dt> </div> </dl> <h2> Functions </h2>
<dl class="summary-functions summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#default_inspect_fun/0" data-no-tooltip translate="no">default_inspect_fun()</a> </dt> <dd class="summary-synopsis"><p>Returns the default inspect function.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#default_inspect_fun/1" data-no-tooltip translate="no">default_inspect_fun(fun)</a> </dt> <dd class="summary-synopsis"><p>Sets the default inspect function.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#new/1" data-no-tooltip translate="no">new(opts)</a> </dt> <dd class="summary-synopsis"><p>Builds an <a href="inspect.opts"><code class="inline">Inspect.Opts</code></a> struct.</p></dd> </div> </dl> </section> <section id="types" class="details-list"> <h1 class="section-heading">  <span class="text">Types</span> </h1> <div class="types-list"> <section class="detail"> <h3 class="detail-header" id="t:color_key/0">color_key()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/inspect/algebra.ex#L98" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type color_key() :: atom()</pre> </div> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:t/0">t()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/inspect/algebra.ex#L100" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type t() :: %Inspect.Opts{
  base: :decimal | :binary | :hex | :octal,
  binaries: :infer | :as_binaries | :as_strings,
  char_lists: term(),
  charlists: :infer | :as_lists | :as_charlists,
  custom_options: keyword(),
  inspect_fun: (any(), t() -&gt; Inspect.Algebra.t()),
  limit: non_neg_integer() | :infinity,
  pretty: boolean(),
  printable_limit: non_neg_integer() | :infinity,
  safe: boolean(),
  structs: boolean(),
  syntax_colors: [{color_key(), IO.ANSI.ansidata()}],
  width: non_neg_integer() | :infinity
}</pre> </div> </section> </section> </div> </section> <section id="functions" class="details-list"> <h1 class="section-heading">  <span class="text">Functions</span> </h1> <div class="functions-list"> <section class="detail"> <h3 class="detail-header" id="default_inspect_fun/0">default_inspect_fun()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/inspect/algebra.ex#L129" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec default_inspect_fun() :: (term(), t() -&gt; Inspect.Algebra.t())</pre> </div> <p>Returns the default inspect function.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="default_inspect_fun/1">default_inspect_fun(fun)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/inspect/algebra.ex#L166" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec default_inspect_fun((term(), t() -&gt; Inspect.Algebra.t())) :: :ok</pre> </div> <p>Sets the default inspect function.</p>
<p>Set this option with care as it will change how all values in the system are inspected. The main use of this functionality is to provide an entry point to filter inspected values, in order for entities to comply with rules and legislations on data security and data privacy.</p>
<p>It is <strong>extremely discouraged</strong> for libraries to set their own function as this must be controlled by applications. Libraries should instead define their own structs with custom inspect implementations. If a library must change the default inspect function, then it is best to ask users of your library to explicitly call <a href="#default_inspect_fun/1"><code class="inline">default_inspect_fun/1</code></a> with your function of choice.</p>
<p>The default is <a href="inspect#inspect/2"><code class="inline">Inspect.inspect/2</code></a>.</p>
<h4 id="default_inspect_fun/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">previous_fun = Inspect.Opts.default_inspect_fun()

Inspect.Opts.default_inspect_fun(fn
  %{address: _} = map, opts -&gt;
    previous_fun.(%{map | address: "[REDACTED]"}, opts)

  value, opts -&gt;
    previous_fun.(value, opts)
end)</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="new/1">new(opts)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/inspect/algebra.ex#L120" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec new(keyword()) :: t()</pre> </div> <p>Builds an <a href="inspect.opts"><code class="inline">Inspect.Opts</code></a> struct.</p> </section> </section> </div> </section> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/Inspect.Opts.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/Inspect.Opts.html</a>
  </p>
</div>
