<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/io.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">IO</span>  </h1> <section id="moduledoc"> <p>Functions handling input/output (IO).</p>
<p>Many functions in this module expect an IO device as an argument. An IO device must be a PID or an atom representing a process. For convenience, Elixir provides <code class="inline">:stdio</code> and <code class="inline">:stderr</code> as shortcuts to Erlang's <code class="inline">:standard_io</code> and <code class="inline">:standard_error</code>.</p>
<p>The majority of the functions expect chardata. In case another type is given, functions will convert those types to string via the <a href="string.chars"><code class="inline">String.Chars</code></a> protocol (as shown in typespecs). For more information on chardata, see the "IO data" section below.</p>
<h2 id="module-io-devices" class="section-heading">  <span class="text">IO devices</span> </h2> <p>An IO device may be an atom or a PID. In case it is an atom, the atom must be the name of a registered process. In addition, Elixir provides two shortcuts:</p>
<ul>
<li><p><code class="inline">:stdio</code> - a shortcut for <code class="inline">:standard_io</code>, which maps to the current <a href="process#group_leader/0"><code class="inline">Process.group_leader/0</code></a> in Erlang</p></li>
<li><p><code class="inline">:stderr</code> - a shortcut for the named process <code class="inline">:standard_error</code> provided in Erlang</p></li>
</ul>
<p>IO devices maintain their position, which means subsequent calls to any reading or writing functions will start from the place where the device was last accessed. The position of files can be changed using the <a href="https://www.erlang.org/doc/apps/kernel/file.html#position/2"><code class="inline">:file.position/2</code></a> function.</p>
<h2 id="module-io-data" class="section-heading">  <span class="text">IO data</span> </h2> <p>IO data is a data type that can be used as a more efficient alternative to binaries in certain situations.</p>
<p>A term of type <strong>IO data</strong> is a binary or a list containing bytes (integers within the <code class="inline">0..255</code> range) or nested IO data. The type is recursive. Let's see an example of one of the possible IO data representing the binary <code class="inline">"hello"</code>:</p>
<pre data-language="elixir">[?h, "el", ["l", [?o]]]</pre>
<p>The built-in <a href="typespecs#built-in-types"><code class="inline">iodata/0</code></a> type is defined in terms of <a href="typespecs#built-in-types"><code class="inline">iolist/0</code></a>. An IO list is the same as IO data but it doesn't allow for a binary at the top level (but binaries are still allowed in the list itself).</p>
<h3 id="module-use-cases-for-io-data" class="section-heading">  <span class="text">Use cases for IO data</span> </h3> <p>IO data exists because often you need to do many append operations on smaller chunks of binaries in order to create a bigger binary. However, in Erlang and Elixir concatenating binaries will copy the concatenated binaries into a new binary.</p>
<pre data-language="elixir">def email(username, domain) do
  username &lt;&gt; "@" &lt;&gt; domain
end</pre>
<p>In this function, creating the email address will copy the <code class="inline">username</code> and <code class="inline">domain</code> binaries. Now imagine you want to use the resulting email inside another binary:</p>
<pre data-language="elixir">def welcome_message(name, username, domain) do
  "Welcome #{name}, your email is: #{email(username, domain)}"
end

IO.puts(welcome_message("Meg", "meg", "example.com"))
#=&gt; "Welcome Meg, your email is: meg@example.com"</pre>
<p>Every time you concatenate binaries or use interpolation (<code class="inline">#{}</code>) you are making copies of those binaries. However, in many cases you don't need the complete binary while you create it, but only at the end to print it out or send it somewhere. In such cases, you can construct the binary by creating IO data:</p>
<pre data-language="elixir">def email(username, domain) do
  [username, ?@, domain]
end

def welcome_message(name, username, domain) do
  ["Welcome ", name, ", your email is: ", email(username, domain)]
end

IO.puts(welcome_message("Meg", "meg", "example.com"))
#=&gt; "Welcome Meg, your email is: meg@example.com"</pre>
<p>Building IO data is cheaper than concatenating binaries. Concatenating multiple pieces of IO data just means putting them together inside a list since IO data can be arbitrarily nested, and that's a cheap and efficient operation. Most of the IO-based APIs, such as <code class="inline">:gen_tcp</code> and <a href="io"><code class="inline">IO</code></a>, receive IO data and write it to the socket directly without converting it to binary.</p>
<p>One drawback of IO data is that you can't do things like pattern match on the first part of a piece of IO data like you can with a binary, because you usually don't know the shape of the IO data. In those cases, you may need to convert it to a binary by calling <a href="#iodata_to_binary/1"><code class="inline">iodata_to_binary/1</code></a>, which is reasonably efficient since it's implemented natively in C. Other functionality, like computing the length of IO data, can be computed directly on the iodata by calling <a href="#iodata_length/1"><code class="inline">iodata_length/1</code></a>.</p>
<h3 id="module-chardata" class="section-heading">  <span class="text">Chardata</span> </h3> <p>Erlang and Elixir also have the idea of <a href="#t:chardata/0"><code class="inline">chardata/0</code></a>. Chardata is very similar to IO data: the only difference is that integers in IO data represent bytes while integers in chardata represent Unicode code points. Bytes (<a href="typespecs#built-in-types"><code class="inline">byte/0</code></a>) are integers within the <code class="inline">0..255</code> range, while Unicode code points (<a href="typespecs#built-in-types"><code class="inline">char/0</code></a>) are integers within the <code class="inline">0..0x10FFFF</code> range. The <a href="io"><code class="inline">IO</code></a> module provides the <a href="#chardata_to_string/1"><code class="inline">chardata_to_string/1</code></a> function for chardata as the "counter-part" of the <a href="#iodata_to_binary/1"><code class="inline">iodata_to_binary/1</code></a> function for IO data.</p>
<p>If you try to use <a href="#iodata_to_binary/1"><code class="inline">iodata_to_binary/1</code></a> on chardata, it will result in an argument error. For example, let's try to put a code point that is not representable with one byte, like <code class="inline">?π</code>, inside IO data:</p>
<pre data-language="elixir">IO.iodata_to_binary(["The symbol for pi is: ", ?π])
#=&gt; ** (ArgumentError) argument error</pre>
<p>If we use chardata instead, it will work as expected:</p>
<pre data-language="elixir">iex&gt; IO.chardata_to_string(["The symbol for pi is: ", ?π])
"The symbol for pi is: π"</pre> </section> </div> <section id="summary" class="details-list"> <h1 class="section-heading">  <span class="text">Summary</span> </h1> <h2> Types </h2>
<dl class="summary-types summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#t:chardata/0" data-no-tooltip translate="no">chardata()</a> </dt> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:device/0" data-no-tooltip translate="no">device()</a> </dt> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:nodata/0" data-no-tooltip translate="no">nodata()</a> </dt> </div> </dl> <h2> Functions </h2>
<dl class="summary-functions summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#binread/2" data-no-tooltip translate="no">binread(device \\ :stdio, line_or_chars)</a> </dt> <dd class="summary-synopsis"><p>Reads from the IO <code class="inline">device</code>. The operation is Unicode unsafe.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#binstream/0" data-no-tooltip translate="no">binstream()</a> </dt> <dd class="summary-synopsis"><p>Returns a raw, line-based <a href="io.stream"><code class="inline">IO.Stream</code></a> on <code class="inline">:stdio</code>. The operation is Unicode unsafe.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#binstream/2" data-no-tooltip translate="no">binstream(device \\ :stdio, line_or_bytes)</a> </dt> <dd class="summary-synopsis"><p>Converts the IO <code class="inline">device</code> into an <a href="io.stream"><code class="inline">IO.Stream</code></a>. The operation is Unicode unsafe.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#binwrite/2" data-no-tooltip translate="no">binwrite(device \\ :stdio, iodata)</a> </dt> <dd class="summary-synopsis"><p>Writes <code class="inline">iodata</code> to the given <code class="inline">device</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#chardata_to_string/1" data-no-tooltip translate="no">chardata_to_string(chardata)</a> </dt> <dd class="summary-synopsis"><p>Converts chardata into a string.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#getn/2" data-no-tooltip translate="no">getn(prompt, count \\ 1)</a> </dt> <dd class="summary-synopsis"><p>Gets a number of bytes from IO device <code class="inline">:stdio</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#getn/3" data-no-tooltip translate="no">getn(device, prompt, count)</a> </dt> <dd class="summary-synopsis"><p>Gets a number of bytes from the IO <code class="inline">device</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#gets/2" data-no-tooltip translate="no">gets(device \\ :stdio, prompt)</a> </dt> <dd class="summary-synopsis"><p>Reads a line from the IO <code class="inline">device</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#inspect/2" data-no-tooltip translate="no">inspect(item, opts \\ [])</a> </dt> <dd class="summary-synopsis"><p>Inspects and writes the given <code class="inline">item</code> to the standard output.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#inspect/3" data-no-tooltip translate="no">inspect(device, item, opts)</a> </dt> <dd class="summary-synopsis"><p>Inspects <code class="inline">item</code> according to the given options using the IO <code class="inline">device</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#iodata_length/1" data-no-tooltip translate="no">iodata_length(iodata)</a> </dt> <dd class="summary-synopsis"><p>Returns the size of an IO data.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#iodata_to_binary/1" data-no-tooltip translate="no">iodata_to_binary(iodata)</a> </dt> <dd class="summary-synopsis"><p>Converts IO data into a binary</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#puts/2" data-no-tooltip translate="no">puts(device \\ :stdio, item)</a> </dt> <dd class="summary-synopsis"><p>Writes <code class="inline">item</code> to the given <code class="inline">device</code>, similar to <a href="#write/2"><code class="inline">write/2</code></a>, but adds a newline at the end.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#read/2" data-no-tooltip translate="no">read(device \\ :stdio, line_or_chars)</a> </dt> <dd class="summary-synopsis"><p>Reads from the IO <code class="inline">device</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#stream/0" data-no-tooltip translate="no">stream()</a> </dt> <dd class="summary-synopsis"><p>Returns a line-based <a href="io.stream"><code class="inline">IO.Stream</code></a> on <code class="inline">:stdio</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#stream/2" data-no-tooltip translate="no">stream(device \\ :stdio, line_or_codepoints)</a> </dt> <dd class="summary-synopsis"><p>Converts the IO <code class="inline">device</code> into an <a href="io.stream"><code class="inline">IO.Stream</code></a>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#warn/1" data-no-tooltip translate="no">warn(message)</a> </dt> <dd class="summary-synopsis"><p>Writes a <code class="inline">message</code> to stderr, along with the current stacktrace.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#warn/2" data-no-tooltip translate="no">warn(message, stacktrace_info)</a> </dt> <dd class="summary-synopsis"><p>Writes a <code class="inline">message</code> to stderr, along with the given <code class="inline">stacktrace_info</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#write/2" data-no-tooltip translate="no">write(device \\ :stdio, chardata)</a> </dt> <dd class="summary-synopsis"><p>Writes <code class="inline">chardata</code> to the given <code class="inline">device</code>.</p></dd> </div> </dl> </section> <section id="types" class="details-list"> <h1 class="section-heading">  <span class="text">Types</span> </h1> <div class="types-list"> <section class="detail"> <h3 class="detail-header" id="t:chardata/0">chardata()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/io.ex#L123" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type chardata() ::
  String.t() | maybe_improper_list(char() | chardata(), String.t() | [])</pre> </div> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:device/0">device()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/io.ex#L121" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type device() :: atom() | pid()</pre> </div> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:nodata/0">nodata()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/io.ex#L122" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type nodata() :: {:error, term()} | :eof</pre> </div> </section> </section> </div> </section> <section id="functions" class="details-list"> <h1 class="section-heading">  <span class="text">Functions</span> </h1> <div class="functions-list"> <section class="detail">  <h3 class="detail-header" id="binread/2">binread(device \\ :stdio, line_or_chars)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/io.ex#L208" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec binread(device(), :eof | :line | non_neg_integer()) :: iodata() | nodata()</pre> </div> <p>Reads from the IO <code class="inline">device</code>. The operation is Unicode unsafe.</p>
<p>The <code class="inline">device</code> is iterated as specified by the <code class="inline">line_or_chars</code> argument:</p>
<ul>
<li><p>if <code class="inline">line_or_chars</code> is an integer, it represents a number of bytes. The device is iterated by that number of bytes.</p></li>
<li><p>if <code class="inline">line_or_chars</code> is <code class="inline">:line</code>, the device is iterated line by line.</p></li>
<li><p>if <code class="inline">line_or_chars</code> is <code class="inline">:eof</code> (since v1.13), the device is iterated until <code class="inline">:eof</code>. If the device is already at the end, it returns <code class="inline">:eof</code> itself.</p></li>
</ul>
<p>It returns:</p>
<ul>
<li><p><code class="inline">data</code> - the output bytes</p></li>
<li><p><code class="inline">:eof</code> - end of file was encountered</p></li>
<li><p><code class="inline">{:error, reason}</code> - other (rare) error condition; for instance, <code class="inline">{:error, :estale}</code> if reading from an NFS volume</p></li>
</ul>
<p>Note: do not use this function on IO devices in Unicode mode as it will return the wrong result.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="binstream/0">binstream()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/io.ex#L644" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec binstream() :: Enumerable.t(binary())</pre> </div> <p>Returns a raw, line-based <a href="io.stream"><code class="inline">IO.Stream</code></a> on <code class="inline">:stdio</code>. The operation is Unicode unsafe.</p>
<p>This is equivalent to:</p>
<pre data-language="elixir">IO.binstream(:stdio, :line)</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="binstream/2">binstream(device \\ :stdio, line_or_bytes)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/io.ex#L666" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec binstream(device(), :line | pos_integer()) :: Enumerable.t()</pre> </div> <p>Converts the IO <code class="inline">device</code> into an <a href="io.stream"><code class="inline">IO.Stream</code></a>. The operation is Unicode unsafe.</p>
<p>An <a href="io.stream"><code class="inline">IO.Stream</code></a> implements both <a href="enumerable"><code class="inline">Enumerable</code></a> and <a href="collectable"><code class="inline">Collectable</code></a>, allowing it to be used for both read and write.</p>
<p>The <code class="inline">device</code> is iterated by the given number of bytes or line by line if <code class="inline">:line</code> is given. This reads from the IO device as a raw binary.</p>
<p>Note that an IO stream has side effects and every time you go over the stream you may get different results.</p>
<p>Finally, do not use this function on IO devices in Unicode mode as it will return the wrong result.</p>
<p><a href="#binstream/0"><code class="inline">binstream/0</code></a> has been introduced in Elixir v1.12.0, while <a href="#binstream/2"><code class="inline">binstream/2</code></a> has been available since v1.0.0.</p> </section> </section> <section class="detail">  <h3 class="detail-header" id="binwrite/2">binwrite(device \\ :stdio, iodata)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/io.ex#L280" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec binwrite(device(), iodata()) :: :ok</pre> </div> <p>Writes <code class="inline">iodata</code> to the given <code class="inline">device</code>.</p>
<p>This operation is meant to be used with "raw" devices that are started without an encoding. The given <code class="inline">iodata</code> is written as is to the device, without conversion. For more information on IO data, see the "IO data" section in the module documentation.</p>
<p>Use <a href="#write/2"><code class="inline">write/2</code></a> for devices with encoding.</p>
<p>Important: do <strong>not</strong> use this function on IO devices in Unicode mode as it will write the wrong data. In particular, the standard IO device is set to Unicode by default, so writing to stdio with this function will likely result in the wrong data being sent down the wire.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="chardata_to_string/1">chardata_to_string(chardata)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/io.ex#L694" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec chardata_to_string(chardata()) :: String.t()</pre> </div> <p>Converts chardata into a string.</p>
<p>For more information about chardata, see the <a href="#module-chardata">"Chardata"</a> section in the module documentation.</p>
<p>In case the conversion fails, it raises an <a href="unicodeconversionerror"><code class="inline">UnicodeConversionError</code></a>. If a string is given, it returns the string itself.</p>
<h4 id="chardata_to_string/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; IO.chardata_to_string([0x00E6, 0x00DF])
"æß"

iex&gt; IO.chardata_to_string([0x0061, "bc"])
"abc"

iex&gt; IO.chardata_to_string("string")
"string"</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="getn/2">getn(prompt, count \\ 1)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/io.ex#L501" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec getn(
  device() | chardata() | String.Chars.t(),
  pos_integer() | :eof | chardata() | String.Chars.t()
) :: chardata() | nodata()</pre> </div> <p>Gets a number of bytes from IO device <code class="inline">:stdio</code>.</p>
<p>If <code class="inline">:stdio</code> is a Unicode device, <code class="inline">count</code> implies the number of Unicode code points to be retrieved. Otherwise, <code class="inline">count</code> is the number of raw bytes to be retrieved.</p>
<p>See <a href="#getn/3"><code class="inline">IO.getn/3</code></a> for a description of return values.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="getn/3">getn(device, prompt, count)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/io.ex#L534" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec getn(device(), chardata() | String.Chars.t(), pos_integer() | :eof) ::
  chardata() | nodata()</pre> </div> <p>Gets a number of bytes from the IO <code class="inline">device</code>.</p>
<p>If the IO <code class="inline">device</code> is a Unicode device, <code class="inline">count</code> implies the number of Unicode code points to be retrieved. Otherwise, <code class="inline">count</code> is the number of raw bytes to be retrieved.</p>
<p>It returns:</p>
<ul>
<li><p><code class="inline">data</code> - the input characters</p></li>
<li><p><code class="inline">:eof</code> - end of file was encountered</p></li>
<li><p><code class="inline">{:error, reason}</code> - other (rare) error condition; for instance, <code class="inline">{:error, :estale}</code> if reading from an NFS volume</p></li>
</ul> </section> </section> <section class="detail">  <h3 class="detail-header" id="gets/2">gets(device \\ :stdio, prompt)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/io.ex#L576" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec gets(device(), chardata() | String.Chars.t()) :: chardata() | nodata()</pre> </div> <p>Reads a line from the IO <code class="inline">device</code>.</p>
<p>It returns:</p>
<ul>
<li><p><code class="inline">data</code> - the characters in the line terminated by a line-feed (LF) or end of file (EOF)</p></li>
<li><p><code class="inline">:eof</code> - end of file was encountered</p></li>
<li><p><code class="inline">{:error, reason}</code> - other (rare) error condition; for instance, <code class="inline">{:error, :estale}</code> if reading from an NFS volume</p></li>
</ul>
<h4 id="gets/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <p>To display "What is your name?" as a prompt and await user input:</p>
<pre data-language="elixir">IO.gets("What is your name?\n")</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="inspect/2">inspect(item, opts \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/io.ex#L468" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec inspect(
  item,
  keyword()
) :: item
when item: var</pre> </div> <p>Inspects and writes the given <code class="inline">item</code> to the standard output.</p>
<p>It's important to note that it returns the given <code class="inline">item</code> unchanged. This makes it possible to "spy" on values by inserting an <a href="#inspect/2"><code class="inline">IO.inspect/2</code></a> call almost anywhere in your code, for example, in the middle of a pipeline.</p>
<p>It enables pretty printing by default with width of 80 characters. The width can be changed by explicitly passing the <code class="inline">:width</code> option.</p>
<p>The output can be decorated with a label, by providing the <code class="inline">:label</code> option to easily distinguish it from other <a href="#inspect/2"><code class="inline">IO.inspect/2</code></a> calls. The label will be printed before the inspected <code class="inline">item</code>.</p>
<p>See <a href="inspect.opts"><code class="inline">Inspect.Opts</code></a> for a full list of remaining formatting options. To print to other IO devices, see <a href="#inspect/3"><code class="inline">IO.inspect/3</code></a></p>
<h4 id="inspect/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">IO.inspect(&lt;&lt;0, 1, 2&gt;&gt;, width: 40)</pre>
<p>Prints:</p>
<pre data-language="elixir">&lt;&lt;0, 1, 2&gt;&gt;</pre>
<p>We can use the <code class="inline">:label</code> option to decorate the output:</p>
<pre data-language="elixir">IO.inspect(1..100, label: "a wonderful range")</pre>
<p>Prints:</p>
<pre data-language="elixir">a wonderful range: 1..100</pre>
<p>The <code class="inline">:label</code> option is especially useful with pipelines:</p>
<pre data-language="elixir">[1, 2, 3]
|&gt; IO.inspect(label: "before")
|&gt; Enum.map(&amp;(&amp;1 * 2))
|&gt; IO.inspect(label: "after")
|&gt; Enum.sum()</pre>
<p>Prints:</p>
<pre data-language="elixir">before: [1, 2, 3]
after: [2, 4, 6]</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="inspect/3">inspect(device, item, opts)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/io.ex#L478" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec inspect(device(), item, keyword()) :: item when item: var</pre> </div> <p>Inspects <code class="inline">item</code> according to the given options using the IO <code class="inline">device</code>.</p>
<p>See <a href="#inspect/2"><code class="inline">inspect/2</code></a> for a full list of options.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="iodata_length/1">iodata_length(iodata)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/io.ex#L753" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec iodata_length(iodata()) :: non_neg_integer()</pre> </div> <p>Returns the size of an IO data.</p>
<p>For more information about IO data, see the <a href="#module-io-data">"IO data"</a> section in the module documentation.</p>
<p>Inlined by the compiler.</p>
<h4 id="iodata_length/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; IO.iodata_length([1, 2 | &lt;&lt;3, 4&gt;&gt;])
4</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="iodata_to_binary/1">iodata_to_binary(iodata)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/io.ex#L734" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec iodata_to_binary(iodata()) :: binary()</pre> </div> <p>Converts IO data into a binary</p>
<p>The operation is Unicode unsafe.</p>
<p>Note that this function treats integers in the given IO data as raw bytes and does not perform any kind of encoding conversion. If you want to convert from a charlist to a UTF-8-encoded string, use <a href="#chardata_to_string/1"><code class="inline">chardata_to_string/1</code></a> instead. For more information about IO data and chardata, see the <a href="#module-io-data">"IO data"</a> section in the module documentation.</p>
<p>If this function receives a binary, the same binary is returned.</p>
<p>Inlined by the compiler.</p>
<h4 id="iodata_to_binary/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; bin1 = &lt;&lt;1, 2, 3&gt;&gt;
iex&gt; bin2 = &lt;&lt;4, 5&gt;&gt;
iex&gt; bin3 = &lt;&lt;6&gt;&gt;
iex&gt; IO.iodata_to_binary([bin1, 1, [2, 3, bin2], 4 | bin3])
&lt;&lt;1, 2, 3, 1, 2, 3, 4, 5, 4, 6&gt;&gt;

iex&gt; bin = &lt;&lt;1, 2, 3&gt;&gt;
iex&gt; IO.iodata_to_binary(bin)
&lt;&lt;1, 2, 3&gt;&gt;</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="puts/2">puts(device \\ :stdio, item)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/io.ex#L303" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec puts(device(), chardata() | String.Chars.t()) :: :ok</pre> </div> <p>Writes <code class="inline">item</code> to the given <code class="inline">device</code>, similar to <a href="#write/2"><code class="inline">write/2</code></a>, but adds a newline at the end.</p>
<p>By default, the <code class="inline">device</code> is the standard output. It returns <code class="inline">:ok</code> if it succeeds.</p>
<h4 id="puts/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">IO.puts("Hello World!")
#=&gt; Hello World!

IO.puts(:stderr, "error")
#=&gt; error</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="read/2">read(device \\ :stdio, line_or_chars)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/io.ex#L153" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec read(device(), :eof | :line | non_neg_integer()) :: chardata() | nodata()</pre> </div> <p>Reads from the IO <code class="inline">device</code>.</p>
<p>The <code class="inline">device</code> is iterated as specified by the <code class="inline">line_or_chars</code> argument:</p>
<ul>
<li><p>if <code class="inline">line_or_chars</code> is an integer, it represents a number of bytes. The device is iterated by that number of bytes.</p></li>
<li><p>if <code class="inline">line_or_chars</code> is <code class="inline">:line</code>, the device is iterated line by line.</p></li>
<li><p>if <code class="inline">line_or_chars</code> is <code class="inline">:eof</code> (since v1.13), the device is iterated until <code class="inline">:eof</code>. If the device is already at the end, it returns <code class="inline">:eof</code> itself.</p></li>
</ul>
<p>It returns:</p>
<ul>
<li><p><code class="inline">data</code> - the output characters</p></li>
<li><p><code class="inline">:eof</code> - end of file was encountered</p></li>
<li><p><code class="inline">{:error, reason}</code> - other (rare) error condition; for instance, <code class="inline">{:error, :estale}</code> if reading from an NFS volume</p></li>
</ul> </section> </section> <section class="detail"> <h3 class="detail-header" id="stream/0">stream()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/io.ex#L590" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec stream() :: Enumerable.t(String.t())</pre> </div> <p>Returns a line-based <a href="io.stream"><code class="inline">IO.Stream</code></a> on <code class="inline">:stdio</code>.</p>
<p>This is equivalent to:</p>
<pre data-language="elixir">IO.stream(:stdio, :line)</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="stream/2">stream(device \\ :stdio, line_or_codepoints)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/io.ex#L628" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec stream(device(), :line | pos_integer()) :: Enumerable.t()</pre> </div> <p>Converts the IO <code class="inline">device</code> into an <a href="io.stream"><code class="inline">IO.Stream</code></a>.</p>
<p>An <a href="io.stream"><code class="inline">IO.Stream</code></a> implements both <a href="enumerable"><code class="inline">Enumerable</code></a> and <a href="collectable"><code class="inline">Collectable</code></a>, allowing it to be used for both read and write.</p>
<p>The <code class="inline">device</code> is iterated by the given number of characters or line by line if <code class="inline">:line</code> is given.</p>
<p>This reads from the IO as UTF-8. Check out <a href="#binstream/2"><code class="inline">IO.binstream/2</code></a> to handle the IO as a raw binary.</p>
<p>Note that an IO stream has side effects and every time you go over the stream you may get different results.</p>
<p><a href="#stream/0"><code class="inline">stream/0</code></a> has been introduced in Elixir v1.12.0, while <a href="#stream/2"><code class="inline">stream/2</code></a> has been available since v1.0.0.</p>
<h4 id="stream/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <p>Here is an example on how we mimic an echo server from the command line:</p>
<pre data-language="elixir">Enum.each(IO.stream(:stdio, :line), &amp;IO.write(&amp;1))</pre>
<p>Another example where you might want to collect a user input every new line and break on an empty line, followed by removing redundant new line characters (<code class="inline">"\n"</code>):</p>
<pre data-language="elixir">IO.stream(:stdio, :line)
|&gt; Enum.take_while(&amp;(&amp;1 != "\n"))
|&gt; Enum.map(&amp;String.replace(&amp;1, "\n", ""))</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="warn/1">warn(message)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/io.ex#L413" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec warn(chardata() | String.Chars.t()) :: :ok</pre> </div> <p>Writes a <code class="inline">message</code> to stderr, along with the current stacktrace.</p>
<p>It returns <code class="inline">:ok</code> if it succeeds.</p>
<p>Do not call this function at the tail of another function. Due to tail call optimization, a stacktrace entry would not be added and the stacktrace would be incorrectly trimmed. Therefore make sure at least one expression (or an atom such as <code class="inline">:ok</code>) follows the <a href="#warn/1"><code class="inline">IO.warn/1</code></a> call.</p>
<h4 id="warn/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">IO.warn("variable bar is unused")
#=&gt; warning: variable bar is unused
#=&gt;   (iex) evaluator.ex:108: IEx.Evaluator.eval/4</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="warn/2">warn(message, stacktrace_info)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/io.ex#L339" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec warn(
  chardata() | String.Chars.t(),
  Exception.stacktrace() | keyword() | Macro.Env.t()
) :: :ok</pre> </div> <p>Writes a <code class="inline">message</code> to stderr, along with the given <code class="inline">stacktrace_info</code>.</p>
<p>The <code class="inline">stacktrace_info</code> must be one of:</p>
<ul>
<li><p>a <code class="inline">__STACKTRACE__</code>, where all entries in the stacktrace will be included in the error message</p></li>
<li><p>a <a href="macro.env"><code class="inline">Macro.Env</code></a> structure (since v1.14.0), where a single stacktrace entry from the compilation environment will be used</p></li>
<li><p>a keyword list with at least the <code class="inline">:file</code> option representing a single stacktrace entry (since v1.14.0). The <code class="inline">:line</code>, <code class="inline">:column</code>, <code class="inline">:module</code>, and <code class="inline">:function</code> options are also supported</p></li>
</ul>
<p>This function notifies the compiler a warning was printed and emits a compiler diagnostic (<a href="code#t:diagnostic/1"><code class="inline">Code.diagnostic/1</code></a>). The diagnostic will include precise file and location information if a <a href="macro.env"><code class="inline">Macro.Env</code></a> is given or those values have been passed as keyword list, but not for stacktraces, as they are often imprecise.</p>
<p>It returns <code class="inline">:ok</code> if it succeeds.</p>
<h4 id="warn/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">IO.warn("variable bar is unused", module: MyApp, function: {:main, 1}, line: 4, file: "my_app.ex")
#=&gt; warning: variable bar is unused
#=&gt;   my_app.ex:4: MyApp.main/1</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="write/2">write(device \\ :stdio, chardata)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/io.ex#L258" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec write(device(), chardata() | String.Chars.t()) :: :ok</pre> </div> <p>Writes <code class="inline">chardata</code> to the given <code class="inline">device</code>.</p>
<p>By default, the <code class="inline">device</code> is the standard output.</p>
<h4 id="write/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">IO.write("sample")
#=&gt; sample

IO.write(:stderr, "error")
#=&gt; error</pre> </section> </section> </div> </section> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/IO.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/IO.html</a>
  </p>
</div>
