<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/kernel/parallel_compiler.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">Kernel.ParallelCompiler</span>  </h1> <section id="moduledoc"> <p>A module responsible for compiling and requiring files in parallel.</p> </section> </div> <section id="summary" class="details-list"> <h1 class="section-heading">  <span class="text">Summary</span> </h1> <h2> Types </h2>
<dl class="summary-types summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#t:error/0" data-no-tooltip translate="no">error()</a> </dt> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:info/0" data-no-tooltip translate="no">info()</a> </dt> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:warning/0" data-no-tooltip translate="no">warning()</a> </dt> </div> </dl> <h2> Functions </h2>
<dl class="summary-functions summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#async/1" data-no-tooltip translate="no">async(fun)</a> <span class="deprecated" title="Use `pmap/2` instead">deprecated</span> </dt> <dd class="summary-synopsis"><p>Starts a task for parallel compilation.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#compile/2" data-no-tooltip translate="no">compile(files, options \\ [])</a> </dt> <dd class="summary-synopsis"><p>Compiles the given files.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#compile_to_path/3" data-no-tooltip translate="no">compile_to_path(files, path, options \\ [])</a> </dt> <dd class="summary-synopsis"><p>Compiles the given files and writes resulting BEAM files into path.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#pmap/2" data-no-tooltip translate="no">pmap(collection, fun)</a> </dt> <dd class="summary-synopsis"><p>Perform parallel compilation of <code class="inline">collection</code> with <code class="inline">fun</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#require/2" data-no-tooltip translate="no">require(files, options \\ [])</a> </dt> <dd class="summary-synopsis"><p>Requires the given files in parallel.</p></dd> </div> </dl> </section> <section id="types" class="details-list"> <h1 class="section-heading">  <span class="text">Types</span> </h1> <div class="types-list"> <section class="detail"> <h3 class="detail-header" id="t:error/0">error()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/kernel/parallel_compiler.ex#L13" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type error() :: {file :: Path.t(), Code.position(), message :: String.t()}</pre> </div> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:info/0">info()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/kernel/parallel_compiler.ex#L6" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type info() :: %{
  runtime_warnings: [Code.diagnostic(:warning)],
  compile_warnings: [Code.diagnostic(:warning)]
}</pre> </div> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:warning/0">warning()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/kernel/parallel_compiler.ex#L12" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type warning() :: {file :: Path.t(), Code.position(), message :: String.t()}</pre> </div> </section> </section> </div> </section> <section id="functions" class="details-list"> <h1 class="section-heading">  <span class="text">Functions</span> </h1> <div class="functions-list"> <section class="detail"> <h3 class="detail-header" id="async/1">async(fun)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/kernel/parallel_compiler.ex#L20" class="source">Source</a>
</h3> <div class="deprecated"> This function is deprecated. Use `pmap/2` instead. </div> <section class="docstring"> <p>Starts a task for parallel compilation.</p> </section> </section> <section class="detail">  <h3 class="detail-header" id="compile/2">compile(files, options \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/kernel/parallel_compiler.ex#L166" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec compile(
  [Path.t()],
  keyword()
) ::
  {:ok, [atom()], [warning()] | info()}
  | {:error, [error()] | [Code.diagnostic(:error)], [warning()] | info()}</pre> </div> <p>Compiles the given files.</p>
<p>Those files are compiled in parallel and can automatically detect dependencies between them. Once a dependency is found, the current file stops being compiled until the dependency is resolved.</p>
<p>It returns <code class="inline">{:ok, modules, warnings}</code> or <code class="inline">{:error, errors, warnings}</code> by default but we recommend using <code class="inline">return_diagnostics: true</code> so it returns diagnostics as maps as well as a map of compilation information. The map has the shape of:</p>
<pre data-language="elixir">%{
  runtime_warnings: [warning],
  compile_warnings: [warning]
}</pre>
<h4 id="compile/2-options" class="section-heading">  <span class="text">Options</span> </h4> <ul>
<li><p><code class="inline">:each_file</code> - for each file compiled, invokes the callback passing the file</p></li>
<li><p><code class="inline">:each_long_compilation</code> - for each file that takes more than a given timeout (see the <code class="inline">:long_compilation_threshold</code> option) to compile, invoke this callback passing the file as its argument</p></li>
<li><p><code class="inline">:each_module</code> - for each module compiled, invokes the callback passing the file, module and the module bytecode</p></li>
<li>
<p><code class="inline">:each_cycle</code> - after the given files are compiled, invokes this function that should return the following values:</p>
<ul>
<li>
<code class="inline">{:compile, modules, warnings}</code> - to continue compilation with a list of further modules to compile</li>
<li>
<code class="inline">{:runtime, modules, warnings}</code> - to stop compilation and verify the list of modules because dependent modules have changed</li>
</ul>
</li>
<li><p><code class="inline">:long_compilation_threshold</code> - the timeout (in seconds) to check for modules taking too long to compile. For each file that exceeds the threshold, the <code class="inline">:each_long_compilation</code> callback is invoked. From Elixir v1.11, only the time spent compiling the actual module is taken into account by the threshold, the time spent waiting is not considered. Defaults to <code class="inline">10</code> seconds.</p></li>
<li><p><code class="inline">:profile</code> - if set to <code class="inline">:time</code> measure the compilation time of each compilation cycle and group pass checker</p></li>
<li><p><code class="inline">:dest</code> - the destination directory for the BEAM files. When using <a href="#compile/2"><code class="inline">compile/2</code></a>, this information is only used to properly annotate the BEAM files before they are loaded into memory. If you want a file to actually be written to <code class="inline">dest</code>, use <a href="#compile_to_path/3"><code class="inline">compile_to_path/3</code></a> instead.</p></li>
<li><p><code class="inline">:beam_timestamp</code> - the modification timestamp to give all BEAM files</p></li>
<li><p><code class="inline">:return_diagnostics</code> (since v1.15.0) - returns maps with information instead of a list of warnings and returns diagnostics as maps instead of tuples</p></li>
</ul> </section> </section> <section class="detail">  <h3 class="detail-header" id="compile_to_path/3">compile_to_path(files, path, options \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/kernel/parallel_compiler.ex#L179" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec compile_to_path([Path.t()], Path.t(), keyword()) ::
  {:ok, [atom()], [warning()] | info()}
  | {:error, [error()] | [Code.diagnostic(:error)], [warning()] | info()}</pre> </div> <p>Compiles the given files and writes resulting BEAM files into path.</p>
<p>See <a href="#compile/2"><code class="inline">compile/2</code></a> for more information.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="pmap/2">pmap(collection, fun)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/kernel/parallel_compiler.ex#L67" class="source">Source</a>
</h3> <section class="docstring"> <p>Perform parallel compilation of <code class="inline">collection</code> with <code class="inline">fun</code>.</p>
<p>If you have a file that needs to compile other modules in parallel, the spawned processes need to be aware of the compiler environment. This function allows a developer to perform such tasks.</p> </section> </section> <section class="detail">  <h3 class="detail-header" id="require/2">require(files, options \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/kernel/parallel_compiler.ex#L212" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec require(
  [Path.t()],
  keyword()
) ::
  {:ok, [atom()], [warning()] | info()}
  | {:error, [error()] | [Code.diagnostic(:error)], [warning()] | info()}</pre> </div> <p>Requires the given files in parallel.</p>
<p>Opposite to compile, dependencies are not attempted to be automatically solved between files.</p>
<p>It returns <code class="inline">{:ok, modules, warnings}</code> or <code class="inline">{:error, errors, warnings}</code> by default but we recommend using <code class="inline">return_diagnostics: true</code> so it returns diagnostics as maps as well as a map of compilation information. The map has the shape of:</p>
<pre data-language="elixir">%{
  runtime_warnings: [warning],
  compile_warnings: [warning]
}</pre>
<h4 id="require/2-options" class="section-heading">  <span class="text">Options</span> </h4> <ul>
<li><p><code class="inline">:each_file</code> - for each file compiled, invokes the callback passing the file</p></li>
<li><p><code class="inline">:each_module</code> - for each module compiled, invokes the callback passing the file, module and the module bytecode</p></li>
</ul> </section> </section> </div> </section> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/Kernel.ParallelCompiler.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/Kernel.ParallelCompiler.html</a>
  </p>
</div>
