<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/exception.ex#L1353" title="View Source" class="source" rel="help">Source</a> <span translate="no">Kernel.TypespecError</span> <small>exception</small>  </h1> <section id="moduledoc"> <p>An exception raised when there's an error in a typespec.</p>
<p>The following fields of this exceptions are public and can be accessed freely:</p>
<ul>
<li>
<code class="inline">:file</code> (<a href="path#t:t/0"><code class="inline">Path.t/0</code></a> or <code class="inline">nil</code>) - the file where the error occurred, or <code class="inline">nil</code> if the error occurred in code that did not come from a file</li>
<li>
<code class="inline">:line</code> (<a href="typespecs#basic-types"><code class="inline">non_neg_integer/0</code></a>) - the line where the error occurred</li>
</ul> </section> </div> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/Kernel.TypespecError.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/Kernel.TypespecError.html</a>
  </p>
</div>
