<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/exception.ex#L2023" title="View Source" class="source" rel="help">Source</a> <span translate="no">KeyError</span> <small>exception</small>  </h1> <section id="moduledoc"> <p>An exception raised when a key is not found in a data structure.</p>
<p>For example, this is raised by <a href="map#fetch!/2"><code class="inline">Map.fetch!/2</code></a> when the given key cannot be found in the given map.</p>
<p>The following fields of this exception are public and can be accessed freely:</p>
<ul>
<li>
<code class="inline">:term</code> (<a href="typespecs#built-in-types"><code class="inline">term/0</code></a>) - the data structure that was searched</li>
<li>
<code class="inline">:key</code> (<a href="typespecs#built-in-types"><code class="inline">term/0</code></a>) - the key that was not found</li>
</ul> </section> </div> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/KeyError.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/KeyError.html</a>
  </p>
</div>
