<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/list/chars.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">List.Chars</span> <small>protocol</small>  </h1> <section id="moduledoc"> <p>The <a href="list.chars"><code class="inline">List.Chars</code></a> protocol is responsible for converting a structure to a charlist (only if applicable).</p>
<p>The only function that must be implemented is <a href="#to_charlist/1"><code class="inline">to_charlist/1</code></a> which does the conversion.</p>
<p>The <a href="#to_charlist/1"><code class="inline">to_charlist/1</code></a> function automatically imported by <a href="kernel"><code class="inline">Kernel</code></a> invokes this protocol.</p> </section> </div> <section id="summary" class="details-list"> <h1 class="section-heading">  <span class="text">Summary</span> </h1> <h2> Types </h2>
<dl class="summary-types summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#t:t/0" data-no-tooltip translate="no">t()</a> </dt> <dd class="summary-synopsis"><p>All the types that implement this protocol.</p></dd> </div> </dl> <h2> Functions </h2>
<dl class="summary-functions summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#to_charlist/1" data-no-tooltip translate="no">to_charlist(term)</a> </dt> <dd class="summary-synopsis"><p>Converts <code class="inline">term</code> to a charlist.</p></dd> </div> </dl> </section> <section id="types" class="details-list"> <h1 class="section-heading">  <span class="text">Types</span> </h1> <div class="types-list"> <section class="detail"> <h3 class="detail-header" id="t:t/0">t()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/list/chars.ex#L1" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type t() :: term()</pre> </div> <p>All the types that implement this protocol.</p> </section> </section> </div> </section> <section id="functions" class="details-list"> <h1 class="section-heading">  <span class="text">Functions</span> </h1> <div class="functions-list"> <section class="detail"> <h3 class="detail-header" id="to_charlist/1">to_charlist(term)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/list/chars.ex#L17" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec to_charlist(t()) :: charlist()</pre> </div> <p>Converts <code class="inline">term</code> to a charlist.</p> </section> </section> </div> </section> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/List.Chars.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/List.Chars.html</a>
  </p>
</div>
