<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/pages/getting-started/lists-and-tuples.md#L1" title="View Source" class="source" rel="help">Source</a> <span>Lists and tuples</span> </h1> <p>In this chapter we will learn two of the most used collection data-types in Elixir: lists and tuples.</p>
<h2 id="linked-lists" class="section-heading">  <span class="text">(Linked) Lists</span> </h2> <p>Elixir uses square brackets to specify a list of values. Values can be of any type:</p>
<pre data-language="elixir">iex&gt; [1, 2, true, 3]
[1, 2, true, 3]
iex&gt; length([1, 2, 3])
3</pre>
<p>Two lists can be concatenated or subtracted using the <a href="kernel#++/2"><code class="inline">++/2</code></a> and <a href="kernel#--/2"><code class="inline">--/2</code></a> operators respectively:</p>
<pre data-language="elixir">iex&gt; [1, 2, 3] ++ [4, 5, 6]
[1, 2, 3, 4, 5, 6]
iex&gt; [1, true, 2, false, 3, true] -- [true, false]
[1, 2, 3, true]</pre>
<p>List operators never modify the existing list. Concatenating to or removing elements from a list returns a new list. We say that Elixir data structures are <em>immutable</em>. One advantage of immutability is that it leads to clearer code. You can freely pass the data around with the guarantee no one will mutate it in memory - only transform it.</p>
<p>Throughout the tutorial, we will talk a lot about the head and tail of a list. The head is the first element of a list and the tail is the remainder of the list. They can be retrieved with the functions <a href="kernel#hd/1"><code class="inline">hd/1</code></a> and <a href="kernel#tl/1"><code class="inline">tl/1</code></a>. Let's assign a list to a variable and retrieve its head and tail:</p>
<pre data-language="elixir">iex&gt; list = [1, 2, 3]
iex&gt; hd(list)
1
iex&gt; tl(list)
[2, 3]</pre>
<p>Getting the head or the tail of an empty list throws an error:</p>
<pre data-language="elixir">iex&gt; hd([])
** (ArgumentError) argument error</pre>
<p>Sometimes you will create a list and it will return a quoted value preceded by <code class="inline">~c</code>. For example:</p>
<pre data-language="elixir">iex&gt; [11, 12, 13]
~c"\v\f\r"
iex&gt; [104, 101, 108, 108, 111]
~c"hello"</pre>
<p>When Elixir sees a list of printable ASCII numbers, Elixir will print that as a charlist (literally a list of characters). Charlists are quite common when interfacing with existing Erlang code. Whenever you see a value in IEx and you are not quite sure what it is, you can use the <code class="inline">i/1</code> to retrieve information about it:</p>
<pre data-language="elixir">iex&gt; i ~c"hello"
Term
  i ~c"hello"
Data type
  List
Description
  ...
Raw representation
  [104, 101, 108, 108, 111]
Reference modules
  List
Implemented protocols
  ...</pre>
<p>We will talk more about charlists in the <a href="binaries-strings-and-charlists">"Binaries, strings, and charlists"</a> chapter.</p>
<blockquote>
<h4 class="info">Single-quoted strings</h4>
<p>In Elixir, you can also use <code class="inline">'hello'</code> to build charlists, but this notation has been soft-deprecated in Elixir v1.15 and will emit warnings in future versions. Prefer to write <code class="inline">~c"hello"</code> instead.</p>
</blockquote>
<h2 id="tuples" class="section-heading">  <span class="text">Tuples</span> </h2> <p>Elixir uses curly brackets to define tuples. Like lists, tuples can hold any value:</p>
<pre data-language="elixir">iex&gt; {:ok, "hello"}
{:ok, "hello"}
iex&gt; tuple_size({:ok, "hello"})
2</pre>
<p>Tuples store elements contiguously in memory. This means accessing a tuple element by index or getting the tuple size is a fast operation. Indexes start from zero:</p>
<pre data-language="elixir">iex&gt; tuple = {:ok, "hello"}
{:ok, "hello"}
iex&gt; elem(tuple, 1)
"hello"
iex&gt; tuple_size(tuple)
2</pre>
<p>It is also possible to put an element at a particular index in a tuple with <a href="kernel#put_elem/3"><code class="inline">put_elem/3</code></a>:</p>
<pre data-language="elixir">iex&gt; tuple = {:ok, "hello"}
{:ok, "hello"}
iex&gt; put_elem(tuple, 1, "world")
{:ok, "world"}
iex&gt; tuple
{:ok, "hello"}</pre>
<p>Notice that <a href="kernel#put_elem/3"><code class="inline">put_elem/3</code></a> returned a new tuple. The original tuple stored in the <code class="inline">tuple</code> variable was not modified. Like lists, tuples are also immutable. Every operation on a tuple returns a new tuple, it never changes the given one.</p>
<h2 id="lists-or-tuples" class="section-heading">  <span class="text">Lists or tuples?</span> </h2> <p>What is the difference between lists and tuples?</p>
<p>Lists are stored in memory as linked lists, meaning that each element in a list holds its value and points to the following element until the end of the list is reached. This means accessing the length of a list is a linear operation: we need to traverse the whole list in order to figure out its size.</p>
<p>Similarly, the performance of list concatenation depends on the length of the left-hand list:</p>
<pre data-language="elixir">iex&gt; list = [1, 2, 3]
[1, 2, 3]

# This is fast as we only need to traverse `[0]` to prepend to `list`
iex&gt; [0] ++ list
[0, 1, 2, 3]

# This is slow as we need to traverse `list` to append 4
iex&gt; list ++ [4]
[1, 2, 3, 4]</pre>
<p>Tuples, on the other hand, are stored contiguously in memory. This means getting the tuple size or accessing an element by index is fast. On the other hand, updating or adding elements to tuples is expensive because it requires creating a new tuple in memory:</p>
<pre data-language="elixir">iex&gt; tuple = {:a, :b, :c, :d}
{:a, :b, :c, :d}
iex&gt; put_elem(tuple, 2, :e)
{:a, :b, :e, :d}</pre>
<p>Note, however, the elements themselves are not copied. When you update a tuple, all entries are shared between the old and the new tuple, except for the entry that has been replaced. This rule applies to most data structures in Elixir. This reduces the amount of memory allocation the language needs to perform and is only possible thanks to the immutable semantics of the language.</p>
<p>Those performance characteristics dictate the usage of those data structures. In a nutshell, lists are used when the number of elements returned may vary. Tuples have a fixed size. Let's see two examples from the <a href="string"><code class="inline">String</code></a> module:</p>
<pre data-language="elixir">iex&gt; String.split("hello world")
["hello", "world"]
iex&gt; String.split("hello beautiful world")
["hello", "beautiful", "world"]</pre>
<p>The <a href="string#split/1"><code class="inline">String.split/1</code></a> function breaks a string into a list of strings on every whitespace character. Since the amount of elements returned depends on the input, we use a list.</p>
<p>On the other hand, <a href="string#split_at/2"><code class="inline">String.split_at/2</code></a> splits a string in two parts at a given position. Since it always returns two entries, regardless of the input size, it returns tuples:</p>
<pre data-language="elixir">iex&gt; String.split_at("hello world", 3)
{"hel", "lo world"}
iex&gt; String.split_at("hello world", -4)
{"hello w", "orld"}</pre>
<p>It is also very common to use tuples and atoms to create "tagged tuples", which is a handy return value when an operation may succeed or fail. For example, <a href="file#read/1"><code class="inline">File.read/1</code></a> reads the contents of a file at a given path, which may or may not exist. It returns tagged tuples:</p>
<pre data-language="elixir">iex&gt; File.read("path/to/existing/file")
{:ok, "... contents ..."}
iex&gt; File.read("path/to/unknown/file")
{:error, :enoent}</pre>
<p>If the path given to <a href="file#read/1"><code class="inline">File.read/1</code></a> exists, it returns a tuple with the atom <code class="inline">:ok</code> as the first element and the file contents as the second. Otherwise, it returns a tuple with <code class="inline">:error</code> and the error description. As we will soon learn, Elixir allows us to <em>pattern match</em> on tagged tuples and effortlessly handle both success and failure cases.</p>
<p>Given Elixir consistently follows those rules, the choice between lists and tuples get clearer as you learn and use the language. Elixir often guides you to do the right thing. For example, there is an <a href="kernel#elem/2"><code class="inline">elem/2</code></a> function to access a tuple item:</p>
<pre data-language="elixir">iex&gt; tuple = {:ok, "hello"}
{:ok, "hello"}
iex&gt; elem(tuple, 1)
"hello"</pre>
<p>However, given you often don't know the number of elements in a list, there is no built-in equivalent for accessing arbitrary entries in a lists, apart from its head.</p>
<h2 id="size-or-length" class="section-heading">  <span class="text">Size or length?</span> </h2> <p>When counting the elements in a data structure, Elixir also abides by a simple rule: the function is named <code class="inline">size</code> if the operation is in constant time (the value is pre-calculated) or <code class="inline">length</code> if the operation is linear (calculating the length gets slower as the input grows). As a mnemonic, both "length" and "linear" start with "l".</p>
<p>For example, we have used 4 counting functions so far: <a href="kernel#byte_size/1"><code class="inline">byte_size/1</code></a> (for the number of bytes in a string), <a href="kernel#tuple_size/1"><code class="inline">tuple_size/1</code></a> (for tuple size), <a href="kernel#length/1"><code class="inline">length/1</code></a> (for list length) and <a href="string#length/1"><code class="inline">String.length/1</code></a> (for the number of graphemes in a string). We use <code class="inline">byte_size</code> to get the number of bytes in a string, which is a cheap operation. Retrieving the number of Unicode graphemes, on the other hand, uses <a href="string#length/1"><code class="inline">String.length/1</code></a>, and may be expensive as it relies on a traversal of the entire string.</p>
<p>Now that we are familiar with the basic data-types in the language, let's learn important constructs for writing code, before we discuss more complex data structures.</p> </div> <div class="bottom-actions" id="bottom-actions"> <div class="bottom-actions-item"> <a href="basic-types" class="bottom-actions-button" rel="prev"> <span class="subheader"> ← Previous Page </span> <span class="title"> Basic types </span> </a> </div> <div class="bottom-actions-item"> <a href="pattern-matching" class="bottom-actions-button" rel="next"> <span class="subheader"> Next Page → </span> <span class="title"> Pattern matching </span> </a> </div> </div> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/lists-and-tuples.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/lists-and-tuples.html</a>
  </p>
</div>
