<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/logger/lib/logger/formatter.ex#L3" title="View Source" class="source" rel="help">Source</a> <span translate="no">Logger.Formatter</span>  </h1> <section id="moduledoc"> <p>Conveniences and built-in formatter for logs.</p>
<p>This modules defines a suitable <code class="inline">:logger</code> formatter which formats messages and reports as Elixir terms and also provides additional functionality, such as timezone conversion, truncation, and coloring. This formatter is used by default by <a href="logger"><code class="inline">Logger</code></a> and you can configure it using:</p>
<pre data-language="elixir">config :logger, :default_formatter,
  format: "\n$time $metadata[$level] $message\n",
  metadata: [:user_id]</pre>
<p>See <a href="#new/1"><code class="inline">Logger.Formatter.new/1</code></a> for all configuration options.</p>
<p>You can also build your own instances of this formatter by calling <a href="#new/1"><code class="inline">new/1</code></a> and setting at the formatter of any <code class="inline">:logger</code> handler by settings its <code class="inline">:formatter</code> key to <code class="inline">Logger.Formatter.new(options)</code>.</p>
<p>This module also provides several conveniences for those who wish to <a href="https://www.erlang.org/doc/apps/kernel/logger_chapter.html#formatters">write their custom logger formatters</a>.</p>
<h2 id="module-formatting" class="section-heading">  <span class="text">Formatting</span> </h2> <p>The log messages can be controlled by a formatting string. Here is an example:</p>
<pre data-language="elixir">config :logger, :default_formatter,
  format: "\n$time $metadata[$level] $message\n",
  metadata: [:user_id]</pre>
<p>The above will print error messages as:</p>
<pre data-language="elixir">18:43:12.439 user_id=13 [error] Hello\n</pre>
<p>The valid parameters you can use are:</p>
<ul>
<li>
<code class="inline">$time</code> - the time the log message was sent</li>
<li>
<code class="inline">$date</code> - the date the log message was sent</li>
<li>
<code class="inline">$message</code> - the log message</li>
<li>
<code class="inline">$level</code> - the log level</li>
<li>
<code class="inline">$node</code> - the node that prints the message</li>
<li>
<code class="inline">$metadata</code> - user controlled data presented in <code class="inline">"key=val key2=val2 "</code> format</li>
</ul>
<h3 id="module-formatting-function" class="section-heading">  <span class="text">Formatting function</span> </h3> <p>You can also customize the format of your log messages with a <code class="inline">{module, function_name}</code> tuple if you wish to change how messages are formatted but keep all other features provided by <a href="logger.formatter"><code class="inline">Logger.Formatter</code></a> such as truncation and coloring. However, if you want to get full control of formatting, consider writing a custom <a href="https://www.erlang.org/doc/apps/kernel/logger_chapter.html#formatters"><code class="inline">:logger</code> formatter</a> instead, which has complete access to all events and metadata.</p>
<p>When using a <code class="inline">{module, function_name}</code>, the function will be invoked with the level, the message, the timestamp, and metadata, like this:</p>
<pre data-language="elixir">defmodule MyConsoleLogger do
  @spec format(atom, chardata, Logger.Formatter.date_time_ms(), keyword()) :: IO.chardata()
  def format(level, message, timestamp, metadata) do
    # Custom formatting logic that must return chardata.
    # ...
  end
end</pre>
<h3 id="module-metadata" class="section-heading">  <span class="text">Metadata</span> </h3> <p>Metadata to be sent to the logger can be read and written with the <a href="logger#metadata/0"><code class="inline">Logger.metadata/0</code></a> and <a href="logger#metadata/1"><code class="inline">Logger.metadata/1</code></a> functions. For example, you can set <code class="inline">Logger.metadata([user_id: 13])</code> to add user_id metadata to the current process. The user can configure the backend to choose which metadata it wants to print and it will replace the <code class="inline">$metadata</code> value.</p> </section> </div> <section id="summary" class="details-list"> <h1 class="section-heading">  <span class="text">Summary</span> </h1> <h2> Types </h2>
<dl class="summary-types summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#t:date/0" data-no-tooltip translate="no">date()</a> </dt> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:date_time_ms/0" data-no-tooltip translate="no">date_time_ms()</a> </dt> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:pattern/0" data-no-tooltip translate="no">pattern()</a> </dt> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:time_ms/0" data-no-tooltip translate="no">time_ms()</a> </dt> </div> </dl> <h2> Functions </h2>
<dl class="summary-functions summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#compile/1" data-no-tooltip translate="no">compile(pattern_or_function)</a> </dt> <dd class="summary-synopsis"><p>Compiles a pattern or function into a data structure that <a href="#format/5"><code class="inline">format/5</code></a> can handle.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#format/5" data-no-tooltip translate="no">format(pattern_or_function, level, message, timestamp, metadata)</a> </dt> <dd class="summary-synopsis"><p>Formats a <code class="inline">pattern_or_function</code> returned by <a href="#compile/1"><code class="inline">compile/1</code></a>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#format_date/1" data-no-tooltip translate="no">format_date(date_tuple)</a> </dt> <dd class="summary-synopsis"><p>Formats date as chardata.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#format_event/2" data-no-tooltip translate="no">format_event(log_event, truncate)</a> </dt> <dd class="summary-synopsis"><p>Formats the message of a log event.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#format_time/1" data-no-tooltip translate="no">format_time(time_ms_tuple)</a> </dt> <dd class="summary-synopsis"><p>Formats time as chardata.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#new/1" data-no-tooltip translate="no">new(options \\ [])</a> </dt> <dd class="summary-synopsis"><p>Initializes a formatter for <code class="inline">:logger</code> handlers.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#prune/1" data-no-tooltip translate="no">prune(binary)</a> </dt> <dd class="summary-synopsis"><p>Prunes invalid Unicode code points from lists and invalid UTF-8 bytes.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#system_time_to_date_time_ms/2" data-no-tooltip translate="no">system_time_to_date_time_ms(system_time, utc_log? \\ false)</a> </dt> <dd class="summary-synopsis"><p>Converts the system time (in microseconds) from metadata into a <code class="inline">date_time_ms</code> tuple.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#truncate/2" data-no-tooltip translate="no">truncate(chardata, n)</a> </dt> <dd class="summary-synopsis"><p>Truncates a <code class="inline">chardata</code> into <code class="inline">n</code> bytes.</p></dd> </div> </dl> </section> <section id="types" class="details-list"> <h1 class="section-heading">  <span class="text">Types</span> </h1> <div class="types-list"> <section class="detail"> <h3 class="detail-header" id="t:date/0">date()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/logger/lib/logger/formatter.ex#L79" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type date() :: {1970..10000, 1..12, 1..31}</pre> </div> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:date_time_ms/0">date_time_ms()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/logger/lib/logger/formatter.ex#L81" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type date_time_ms() :: {date(), time_ms()}</pre> </div> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:pattern/0">pattern()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/logger/lib/logger/formatter.ex#L83" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type pattern() :: :date | :level | :levelpad | :message | :metadata | :node | :time</pre> </div> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:time_ms/0">time_ms()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/logger/lib/logger/formatter.ex#L80" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type time_ms() :: {0..23, 0..59, 0..59, 0..999}</pre> </div> </section> </section> </div> </section> <section id="functions" class="details-list"> <h1 class="section-heading">  <span class="text">Functions</span> </h1> <div class="functions-list"> <section class="detail"> <h3 class="detail-header" id="compile/1">compile(pattern_or_function)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/logger/lib/logger/formatter.ex#L383" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec compile(binary() | nil) :: [pattern() | binary()]</pre> <pre translate="no" data-language="elixir">@spec compile(pattern) :: pattern when pattern: {module(), function :: atom()}</pre> </div> <p>Compiles a pattern or function into a data structure that <a href="#format/5"><code class="inline">format/5</code></a> can handle.</p>
<p>Check the module doc for documentation on the valid parameters that will be interpolated in the pattern. If you pass <code class="inline">nil</code> as the pattern, the pattern defaults to:</p>
<pre data-language="elixir">"\n$time $metadata[$level] $message\n"</pre>
<p>If you want to customize formatting with a custom function, you can pass a <code class="inline">{module, function_name}</code> tuple.</p>
<p>This function, alongside <a href="#format/5"><code class="inline">format/5</code></a>, is the main building block used by <a href="#new/1"><code class="inline">Logger.Formatter.new/1</code></a> for formatting messages. It can also be used by those interested in building custom formatters.</p>
<h4 id="compile/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Logger.Formatter.compile("$time $metadata [$level] $message\n")
[:time, " ", :metadata, " [", :level, "] ", :message, "\n"]

iex&gt; Logger.Formatter.compile({MyLoggerFormatter, :format})
{MyLoggerFormatter, :format}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="format/5">format(pattern_or_function, level, message, timestamp, metadata)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/logger/lib/logger/formatter.ex#L442" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec format(
  mod_and_fun | [pattern() | binary()],
  Logger.level(),
  Logger.message(),
  date_time_ms(),
  keyword()
) :: IO.chardata()
when mod_and_fun: {atom(), atom()}</pre> </div> <p>Formats a <code class="inline">pattern_or_function</code> returned by <a href="#compile/1"><code class="inline">compile/1</code></a>.</p>
<p>It takes a compiled format and injects the level, timestamp, message, and metadata keyword list and returns a properly formatted string.</p>
<p>If <code class="inline">pattern_or_function</code> is a <code class="inline">{module, function_name}</code> tuple, then <code class="inline">module.function_name(level, message, timestamp, metadata)</code> is invoked to get the message.</p>
<p>This function, alongside <a href="#compile/1"><code class="inline">compile/1</code></a>, is the main building block used by <a href="#new/1"><code class="inline">Logger.Formatter.new/1</code></a> for formatting messages. It can also be used by those interested in building custom formatters.</p>
<h4 id="format/5-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; pattern = Logger.Formatter.compile("[$level] $message")
iex&gt; timestamp = {{1977, 01, 28}, {13, 29, 00, 000}}
iex&gt; formatted = Logger.Formatter.format(pattern, :info, "hello", timestamp, [])
iex&gt; IO.chardata_to_string(formatted)
"[info] hello"</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="format_date/1">format_date(date_tuple)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/logger/lib/logger/formatter.ex#L329" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec format_date(date()) :: IO.chardata()</pre> </div> <p>Formats date as chardata.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="format_event/2">format_event(log_event, truncate)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/logger/lib/logger/formatter.ex#L232" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec format_event(:logger.log_event(), pos_integer() | :infinity) :: IO.chardata()</pre> </div> <p>Formats the message of a log event.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="format_time/1">format_time(time_ms_tuple)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/logger/lib/logger/formatter.ex#L321" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec format_time(time_ms()) :: IO.chardata()</pre> </div> <p>Formats time as chardata.</p> </section> </section> <section class="detail">  <h3 class="detail-header" id="new/1">new(options \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/logger/lib/logger/formatter.ex#L138" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec new(keyword()) :: formatter when formatter: term()</pre> </div> <p>Initializes a formatter for <code class="inline">:logger</code> handlers.</p>
<p>The supported options are:</p>
<ul>
<li><p><code class="inline">:colors</code> - a keyword list of coloring options.</p></li>
<li><p><code class="inline">:format</code> - the format message used to print logs. Defaults to: <code class="inline">"\n$time $metadata[$level] $message\n"</code>. It may also be a <code class="inline">{module, function_name}</code> tuple that is invoked with the log level, the message, the current timestamp and the metadata and must return <a href="https://hexdocs.pm/elixir/IO.html#t:chardata/0"><code class="inline">IO.chardata/0</code></a>. See the module docs for more information on <code class="inline">:format</code>.</p></li>
<li><p><code class="inline">:metadata</code> - a list of metadata keys to be printed by <code class="inline">$metadata</code>. Defaults to an empty list (no metadata). Setting <code class="inline">:metadata</code> to <code class="inline">:all</code> prints all metadata. See the "Metadata" section in the <a href="logger"><code class="inline">Logger</code></a> documentation for more information.</p></li>
<li><p><code class="inline">:truncate</code> - the maximum message size to be logged (in bytes). Defaults to 8192 bytes. Note this configuration is approximate. Truncated messages will have <code class="inline">" (truncated)"</code> at the end. The atom <code class="inline">:infinity</code> can be passed to disable this behavior.</p></li>
<li><p><code class="inline">:utc_log</code> - when <code class="inline">true</code>, uses UTC in logs. By default it uses local time (as it defaults to <code class="inline">false</code>).</p></li>
</ul>
<p>The supported keys in the <code class="inline">:colors</code> keyword list are:</p>
<ul>
<li><p><code class="inline">:enabled</code> - boolean value that allows for switching the coloring on and off. Defaults to: <a href="https://hexdocs.pm/elixir/IO.ANSI.html#enabled?/0"><code class="inline">IO.ANSI.enabled?/0</code></a></p></li>
<li><p><code class="inline">:debug</code> - color for debug messages. Defaults to: <code class="inline">:cyan</code></p></li>
<li><p><code class="inline">:info</code> - color for info and notice messages. Defaults to: <code class="inline">:normal</code></p></li>
<li><p><code class="inline">:warning</code> - color for warning messages. Defaults to: <code class="inline">:yellow</code></p></li>
<li><p><code class="inline">:error</code> - color for error and higher messages. Defaults to: <code class="inline">:red</code></p></li>
</ul>
<p>See the <a href="https://hexdocs.pm/elixir/IO.ANSI.html"><code class="inline">IO.ANSI</code></a> module for a list of colors and attributes. The color of the message can also be configured per message via the <code class="inline">:ansi_color</code> metadata.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="prune/1">prune(binary)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/logger/lib/logger/formatter.ex#L307" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec prune(IO.chardata()) :: IO.chardata()</pre> </div> <p>Prunes invalid Unicode code points from lists and invalid UTF-8 bytes.</p>
<p>Typically called after formatting when the data cannot be printed.</p> </section> </section> <section class="detail">  <h3 class="detail-header" id="system_time_to_date_time_ms/2">system_time_to_date_time_ms(system_time, utc_log? \\ false)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/logger/lib/logger/formatter.ex#L344" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec system_time_to_date_time_ms(integer(), boolean()) :: date_time_ms()</pre> </div> <p>Converts the system time (in microseconds) from metadata into a <code class="inline">date_time_ms</code> tuple.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="truncate/2">truncate(chardata, n)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/logger/lib/logger/formatter.ex#L292" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec truncate(IO.chardata(), non_neg_integer() | :infinity) :: IO.chardata()</pre> </div> <p>Truncates a <code class="inline">chardata</code> into <code class="inline">n</code> bytes.</p>
<p>There is a chance we truncate in the middle of a grapheme cluster but we never truncate in the middle of a binary code point. For this reason, truncation is not exact.</p> </section> </section> </div> </section> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="logger.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/logger/1.17.2/Logger.Formatter.html" class="_attribution-link">https://hexdocs.pm/logger/1.17.2/Logger.Formatter.html</a>
  </p>
</div>
