<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/logger/lib/logger/translator.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">Logger.Translator</span> <small>behaviour</small>  </h1> <section id="moduledoc"> <p>Default translation for Erlang log messages.</p>
<p>Logger allows developers to rewrite log messages provided by OTP applications into a format more compatible with Elixir log messages by providing a translator.</p>
<p>A translator is simply a tuple containing a module and a function that can be added and removed via the <a href="logger#add_translator/1"><code class="inline">Logger.add_translator/1</code></a> and <a href="logger#remove_translator/1"><code class="inline">Logger.remove_translator/1</code></a> functions and is invoked for every Erlang message above the minimum log level with four arguments:</p>
<ul>
<li>
<code class="inline">min_level</code> - the current Logger level</li>
<li>
<code class="inline">level</code> - the level of the message being translated</li>
<li>
<code class="inline">kind</code> - if the message is a <code class="inline">:report</code> or <code class="inline">:format</code>
</li>
<li>
<code class="inline">message</code> - the message to format. If it is <code class="inline">:report</code>, it is a tuple with <code class="inline">{report_type, report_data}</code>, if it is <code class="inline">:format</code>, it is a tuple with <code class="inline">{format_message, format_args}</code>.</li>
</ul>
<p>The function must return:</p>
<ul>
<li>
<code class="inline">{:ok, chardata, metadata}</code> - if the message translation with its metadata</li>
<li>
<code class="inline">{:ok, chardata}</code> - the translated message</li>
<li>
<code class="inline">:skip</code> - if the message is not meant to be translated nor logged</li>
<li>
<code class="inline">:none</code> - if there is no translation, which triggers the next translator</li>
</ul>
<p>See the function <a href="#translate/4"><code class="inline">translate/4</code></a> in this module for an example implementation and the default messages translated by Logger.</p> </section> </div> <section id="summary" class="details-list"> <h1 class="section-heading">  <span class="text">Summary</span> </h1> <h2> Callbacks </h2>
<dl class="summary-callbacks summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#c:translate/4" data-no-tooltip translate="no">translate(level, level, arg3, report)</a> </dt> <dd class="summary-synopsis"><p>Callback for translating a logger message.</p></dd> </div> </dl> <h2> Functions </h2>
<dl class="summary-functions summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#translate/4" data-no-tooltip translate="no">translate(min_level, level, kind, message)</a> </dt> <dd class="summary-synopsis"><p>Built-in translation function.</p></dd> </div> </dl> </section> <section id="callbacks" class="details-list"> <h1 class="section-heading">  <span class="text">Callbacks</span> </h1> <div class="callbacks-list"> <section class="detail"> <h3 class="detail-header" id="c:translate/4">translate(level, level, arg3, report)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/logger/lib/logger/translator.ex#L35" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@callback translate(Logger.level(), Logger.level(), :format | :report, :logger.report()) ::
  {:ok, iodata(), keyword()} | {:ok, iodata()} | :skip | :none</pre> </div> <p>Callback for translating a logger message.</p> </section> </section> </div> </section> <section id="functions" class="details-list"> <h1 class="section-heading">  <span class="text">Functions</span> </h1> <div class="functions-list"> <section class="detail"> <h3 class="detail-header" id="translate/4">translate(min_level, level, kind, message)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/logger/lib/logger/translator.ex#L47" class="source">Source</a>
</h3> <section class="docstring"> <p>Built-in translation function.</p>
<p>This function is an implementation of the <a href="#c:translate/4"><code class="inline">translate/4</code></a> callback. For arguments and return value of this function, see that callback.</p> </section> </section> </div> </section> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="logger.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/logger/1.17.2/Logger.Translator.html" class="_attribution-link">https://hexdocs.pm/logger/1.17.2/Logger.Translator.html</a>
  </p>
</div>
