<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/logger/lib/logger/backends/console.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">Logger.Backends.Console</span>  </h1> <div class="deprecated"> This module is deprecated. Use LoggerBackends.Console from :logger_backends dependency. </div> <section id="moduledoc"> <p>A logger backend that logs messages by printing them to the console.</p>
<p>This backend was typically configured as <code class="inline">config :logger, :console</code>, but it has been deprecated in favor of <code class="inline">:default_handler</code> and <code class="inline">:default_formatter</code>. However, for backwards compatibility, you can still add it as:</p>
<pre data-language="elixir">config :logger, :backends, [Logger.Backends.Console]</pre>
<p>However, if you plan to continue using Logger backends in the long term, consider using the <a href="https://github.com/elixir-lang/logger_backends"><code class="inline">:logger_backends</code></a> project.</p> </section> </div> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="logger.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/logger/1.17.2/Logger.Backends.Console.html" class="_attribution-link">https://hexdocs.pm/logger/1.17.2/Logger.Backends.Console.html</a>
  </p>
</div>
