<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/pages/meta-programming/macros.md#L1" title="View Source" class="source" rel="help">Source</a> <span>Macros</span> </h1> <p>Even though Elixir attempts its best to provide a safe environment for macros, most of the responsibility of writing clean code with macros falls on developers. Macros are harder to write than ordinary Elixir functions, and it's considered to be bad style to use them when they're not necessary. Write macros responsibly.</p>
<p>Elixir already provides mechanisms to write your everyday code in a simple and readable fashion by using its data structures and functions. Macros should only be used as a last resort. Remember that <strong>explicit is better than implicit</strong>. <strong>Clear code is better than concise code.</strong></p>
<h2 id="our-first-macro" class="section-heading">  <span class="text">Our first macro</span> </h2> <p>Macros in Elixir are defined via <a href="kernel#defmacro/2"><code class="inline">defmacro/2</code></a>.</p>
<blockquote><p>For this guide, we will be using files instead of running code samples in IEx. That's because the code samples will span multiple lines of code and typing them all in IEx can be counter-productive. You should be able to run the code samples by saving them into a <code class="inline">macros.exs</code> file and running it with <code class="inline">elixir macros.exs</code> or <code class="inline">iex macros.exs</code>.</p></blockquote>
<p>In order to better understand how macros work, let's create a new module where we are going to implement <code class="inline">unless</code> (which does the opposite of <a href="kernel#if/2"><code class="inline">if/2</code></a>), as a macro and as a function:</p>
<pre data-language="elixir">defmodule Unless do
  def fun_unless(clause, do: expression) do
    if(!clause, do: expression)
  end

  defmacro macro_unless(clause, do: expression) do
    quote do
      if(!unquote(clause), do: unquote(expression))
    end
  end
end</pre>
<p>The function receives the arguments and passes them to <a href="kernel#if/2"><code class="inline">if/2</code></a>. However, as we learned in the <a href="quote-and-unquote">previous guide</a>, the macro will receive quoted expressions, inject them into the quote, and finally return another quoted expression.</p>
<p>Let's start <code class="inline">iex</code> with the module above:</p>
<pre data-language="elixir">$ iex macros.exs
</pre>
<p>and play with those definitions:</p>
<pre data-language="elixir">iex&gt; require Unless
iex&gt; Unless.macro_unless(true, do: IO.puts "this should never be printed")
nil
iex&gt; Unless.fun_unless(true, do: IO.puts "this should never be printed")
"this should never be printed"
nil</pre>
<p>In our <em>macro</em> implementation, the sentence was not printed, although it was printed in our <em>function</em> implementation. That's because the arguments to a function call are evaluated before calling the function. However, macros do not evaluate their arguments. Instead, they receive the arguments as quoted expressions which are then transformed into other quoted expressions. In this case, we have rewritten our <code class="inline">unless</code> macro to become an <a href="kernel#if/2"><code class="inline">if/2</code></a> behind the scenes.</p>
<p>In other words, when invoked as:</p>
<pre data-language="elixir">Unless.macro_unless(true, do: IO.puts "this should never be printed")</pre>
<p>Our <code class="inline">macro_unless</code> macro received the following:</p>
<pre data-language="elixir">macro_unless(true, [do: {{:., [], [{:__aliases__, [alias: false], [:IO]}, :puts]}, [], ["this should never be printed"]}])</pre>
<p>and it then returned a quoted expression as follows:</p>
<pre data-language="elixir">{:if, [],
 [{:!, [], [true]},
  [do: {{:., [],
     [{:__aliases__,
       [], [:IO]},
      :puts]}, [], ["this should never be printed"]}]]}</pre>
<p>We can actually verify that this is the case by using <a href="macro#expand_once/2"><code class="inline">Macro.expand_once/2</code></a>:</p>
<pre data-language="elixir">iex&gt; expr = quote do: Unless.macro_unless(true, do: IO.puts("this should never be printed"))
iex&gt; res  = Macro.expand_once(expr, __ENV__)
iex&gt; IO.puts(Macro.to_string(res))
if(!true) do
  IO.puts("this should never be printed")
end
:ok</pre>
<p><a href="macro#expand_once/2"><code class="inline">Macro.expand_once/2</code></a> receives a quoted expression and expands it according to the current environment. In this case, it expanded/invoked the <code class="inline">Unless.macro_unless/2</code> macro and returned its result. We then proceeded to convert the returned quoted expression to a string and print it (we will talk about <code class="inline">__ENV__</code> later in this chapter).</p>
<p>That's what macros are all about. They are about receiving quoted expressions and transforming them into something else. In fact, <a href="kernel#unless/2"><code class="inline">unless/2</code></a> in Elixir is implemented as a macro:</p>
<pre data-language="elixir">defmacro unless(clause, do: expression) do
  quote do
    if(!unquote(clause), do: unquote(expression))
  end
end</pre>
<p>Constructs such as <a href="kernel#unless/2"><code class="inline">unless/2</code></a>, <a href="kernel#defmacro/2"><code class="inline">defmacro/2</code></a>, <a href="kernel#def/2"><code class="inline">def/2</code></a>, <a href="kernel#defprotocol/2"><code class="inline">defprotocol/2</code></a>, and many others used throughout the Elixir standard library are written in pure Elixir, often as a macro. This means that the constructs being used to build the language can be used by developers to extend the language to the domains they are working on.</p>
<p>We can define any function and macro we want, including ones that override the built-in definitions provided by Elixir. The only exceptions are Elixir special forms which are not implemented in Elixir and therefore cannot be overridden. The full list of special forms is available in <a href="kernel.specialforms"><code class="inline">Kernel.SpecialForms</code></a>.</p>
<h2 id="macro-hygiene" class="section-heading">  <span class="text">Macro hygiene</span> </h2> <p>Elixir macros have "late resolution". This guarantees that a variable defined inside a quote won't conflict with a variable defined in the context where that macro is expanded. For example:</p>
<pre data-language="elixir">defmodule Hygiene do
  defmacro no_interference do
    quote do: a = 1
  end
end

defmodule HygieneTest do
  def go do
    require Hygiene
    a = 13
    Hygiene.no_interference()
    a
  end
end

HygieneTest.go()
# =&gt; 13</pre>
<p>In the example above, even though the macro injects <code class="inline">a = 1</code>, it does not affect the variable <code class="inline">a</code> defined by the <code class="inline">go/0</code> function. If a macro wants to explicitly affect the context, it can use <a href="kernel#var!/1"><code class="inline">var!/1</code></a>:</p>
<pre data-language="elixir">defmodule Hygiene do
  defmacro interference do
    quote do: var!(a) = 1
  end
end

defmodule HygieneTest do
  def go do
    require Hygiene
    a = 13
    Hygiene.interference()
    a
  end
end

HygieneTest.go()
# =&gt; 1</pre>
<p>The code above will work but issue a warning: <code class="inline">variable "a" is unused</code>. The macro is overriding the original value and the original value is never used.</p>
<p>Variable hygiene only works because Elixir annotates variables with their <strong>context</strong>. For example, a variable <code class="inline">x</code> defined on line 3 of a module would be represented as:</p>
<pre data-language="elixir">{:x, [line: 3], nil}</pre>
<p>However, a quoted variable would be represented as:</p>
<pre data-language="elixir">defmodule Sample do
  def quoted do
    quote do: x
  end
end

Sample.quoted() #=&gt; {:x, [line: 3], Sample}</pre>
<p>Notice that the <em>third element</em> in the quoted variable is the atom <code class="inline">Sample</code>, instead of <code class="inline">nil</code>, which marks the variable as coming from the <code class="inline">Sample</code> module. Therefore, Elixir considers these two variables as coming from different contexts and handles them accordingly.</p>
<p>Elixir provides similar mechanisms for imports and aliases too. This guarantees that a macro will behave as specified by its source module rather than conflicting with the target module where the macro is expanded. Hygiene can be bypassed under specific situations by using macros like <a href="kernel#var!/2"><code class="inline">var!/2</code></a> and <a href="kernel#alias!/1"><code class="inline">alias!/1</code></a>, although one must be careful when using those as they directly change the user environment.</p>
<p>Sometimes variable names might be dynamically created. In such cases, <a href="macro#var/2"><code class="inline">Macro.var/2</code></a> can be used to define new variables:</p>
<pre data-language="elixir">defmodule Sample do
  defmacro initialize_to_char_count(variables) do
    Enum.map(variables, fn name -&gt;
      var = Macro.var(name, nil)
      length = name |&gt; Atom.to_string() |&gt; String.length()

      quote do
        unquote(var) = unquote(length)
      end
    end)
  end

  def run do
    initialize_to_char_count([:red, :green, :yellow])
    [red, green, yellow]
  end
end

&gt; Sample.run() #=&gt; [3, 5, 6]</pre>
<p>Take note of the second argument to <a href="macro#var/2"><code class="inline">Macro.var/2</code></a>. This is the <strong>context</strong> being used and will determine hygiene as described in the next section. Check out also <a href="macro#unique_var/2"><code class="inline">Macro.unique_var/2</code></a>, for cases when you need to generate variables with unique names.</p>
<h2 id="the-environment" class="section-heading">  <span class="text">The environment</span> </h2> <p>When calling <a href="macro#expand_once/2"><code class="inline">Macro.expand_once/2</code></a> earlier in this chapter, we used the special form <a href="kernel.specialforms#__ENV__/0"><code class="inline">__ENV__/0</code></a>.</p>
<p><a href="kernel.specialforms#__ENV__/0"><code class="inline">__ENV__/0</code></a> returns a <a href="macro.env"><code class="inline">Macro.Env</code></a> struct which contains useful information about the compilation environment, including the current module, file, and line, all variables defined in the current scope, as well as imports, requires, and more:</p>
<pre data-language="elixir">iex&gt; __ENV__.module
nil
iex&gt; __ENV__.file
"iex"
iex&gt; __ENV__.requires
[IEx.Helpers, Kernel, Kernel.Typespec]
iex&gt; require Integer
nil
iex&gt; __ENV__.requires
[IEx.Helpers, Integer, Kernel, Kernel.Typespec]</pre>
<p>Many of the functions in the <a href="macro"><code class="inline">Macro</code></a> module expect a <a href="macro.env"><code class="inline">Macro.Env</code></a> environment. You can read more about these functions in <a href="macro"><code class="inline">Macro</code></a> and learn more about the compilation environment in the <a href="macro.env"><code class="inline">Macro.Env</code></a>.</p>
<h2 id="private-macros" class="section-heading">  <span class="text">Private macros</span> </h2> <p>Elixir also supports <strong>private macros</strong> via <code class="inline">defmacrop</code>. Like private functions, these macros are only available inside the module that defines them, and only at compilation time.</p>
<p>It is important that a macro is defined before its usage. Failing to define a macro before its invocation will raise an error at runtime, since the macro won't be expanded and will be translated to a function call:</p>
<pre data-language="elixir">iex&gt; defmodule Sample do
...&gt;  def four, do: two() + two()
...&gt;  defmacrop two, do: 2
...&gt; end
** (CompileError) iex:2: function two/0 undefined</pre>
<h2 id="write-macros-responsibly" class="section-heading">  <span class="text">Write macros responsibly</span> </h2> <p>Macros are a powerful construct and Elixir provides many mechanisms to ensure they are used responsibly.</p>
<ul>
<li><p>Macros are <strong>hygienic</strong>: by default, variables defined inside a macro are not going to affect the user code. Furthermore, function calls and aliases available in the macro context are not going to leak into the user context.</p></li>
<li><p>Macros are <strong>lexical</strong>: it is impossible to inject code or macros globally. In order to use a macro, you need to explicitly <code class="inline">require</code> or <code class="inline">import</code> the module that defines the macro.</p></li>
<li><p>Macros are <strong>explicit</strong>: it is impossible to run a macro without explicitly invoking it. For example, some languages allow developers to completely rewrite functions behind the scenes, often via parse transforms or via some reflection mechanisms. In Elixir, a macro must be explicitly invoked in the caller during compilation time.</p></li>
<li><p>Macros' language is clear: many languages provide syntax shortcuts for <code class="inline">quote</code> and <code class="inline">unquote</code>. In Elixir, we preferred to have them explicitly spelled out, in order to clearly delimit the boundaries of a macro definition and its quoted expressions.</p></li>
</ul>
<p>Even with such guarantees, the developer plays a big role when writing macros responsibly. If you are confident you need to resort to macros, remember that macros are not your API. Keep your macro definitions short, including their quoted contents. For example, instead of writing a macro like this:</p>
<pre data-language="elixir">defmodule MyModule do
  defmacro my_macro(a, b, c) do
    quote do
      do_this(unquote(a))
      # ...
      do_that(unquote(b))
      # ...
      and_that(unquote(c))
    end
  end
end</pre>
<p>write:</p>
<pre data-language="elixir">defmodule MyModule do
  defmacro my_macro(a, b, c) do
    quote do
      # Keep what you need to do here to a minimum
      # and move everything else to a function
      MyModule.do_this_that_and_that(unquote(a), unquote(b), unquote(c))
    end
  end

  def do_this_that_and_that(a, b, c) do
    do_this(a)
    ...
    do_that(b)
    ...
    and_that(c)
  end
end</pre>
<p>This makes your code clearer and easier to test and maintain, as you can invoke and test <code class="inline">do_this_that_and_that/3</code> directly. It also helps you design an actual API for developers that do not want to rely on macros.</p>
<p>With this guide, we finish our introduction to macros. The next guide is a brief discussion on <strong>DSLs</strong> that shows how we can mix macros and module attributes to annotate and extend modules and functions.</p> </div> <div class="bottom-actions" id="bottom-actions"> <div class="bottom-actions-item"> <a href="quote-and-unquote" class="bottom-actions-button" rel="prev"> <span class="subheader"> ← Previous Page </span> <span class="title"> Quote and unquote </span> </a> </div> <div class="bottom-actions-item"> <a href="domain-specific-languages" class="bottom-actions-button" rel="next"> <span class="subheader"> Next Page → </span> <span class="title"> Domain-Specific Languages (DSLs) </span> </a> </div> </div> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/macros.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/macros.html</a>
  </p>
</div>
