<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/macro/env.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">Macro.Env</span>  </h1> <section id="moduledoc"> <p>A struct that holds compile time environment information.</p>
<p>The current environment can be accessed at any time as <a href="kernel.specialforms#__ENV__/0"><code class="inline">__ENV__/0</code></a>. Inside macros, the caller environment can be accessed as <a href="kernel.specialforms#__CALLER__/0"><code class="inline">__CALLER__/0</code></a>.</p>
<p>The majority of the functions in this module are provided for low-level tools, which need to integrate with the Elixir compiler, such as language servers and embedded languages. For regular usage in Elixir code and macros, you must use the <a href="macro"><code class="inline">Macro</code></a> module instead. In particular, avoid modifying the <a href="macro.env"><code class="inline">Macro.Env</code></a> struct directly and prefer to use high-level constructs, such as a <code class="inline">import</code>, <code class="inline">aliases</code>, and so forth to build your own environment. For example, to build a custom environment, you can define a function such as:</p>
<pre data-language="elixir">def make_custom_env do
  import SomeModule, only: [some_function: 2], warn: false
  alias A.B.C, warn: false
  __ENV__
end</pre>
<h2 id="module-struct-fields" class="section-heading">  <span class="text">Struct fields</span> </h2> <p>The <a href="macro.env"><code class="inline">Macro.Env</code></a> struct contains the following fields:</p>
<ul>
<li>
<code class="inline">context</code> - the context of the environment; it can be <code class="inline">nil</code> (default context), <code class="inline">:guard</code> (inside a guard) or <code class="inline">:match</code> (inside a match)</li>
<li>
<code class="inline">context_modules</code> - a list of modules defined in the current context</li>
<li>
<code class="inline">file</code> - the current absolute file name as a binary</li>
<li>
<code class="inline">function</code> - a tuple as <code class="inline">{atom, integer}</code>, where the first element is the function name and the second its arity; returns <code class="inline">nil</code> if not inside a function</li>
<li>
<code class="inline">line</code> - the current line as an integer</li>
<li>
<code class="inline">module</code> - the current module name</li>
</ul>
<p>The following fields are private to Elixir's macro expansion mechanism and must not be accessed directly:</p>
<ul>
<li><code class="inline">aliases</code></li>
<li><code class="inline">functions</code></li>
<li><code class="inline">macro_aliases</code></li>
<li><code class="inline">macros</code></li>
<li><code class="inline">lexical_tracker</code></li>
<li><code class="inline">requires</code></li>
<li><code class="inline">tracers</code></li>
<li><code class="inline">versioned_vars</code></li>
</ul> </section> </div> <section id="summary" class="details-list"> <h1 class="section-heading">  <span class="text">Summary</span> </h1> <h2> Types </h2>
<dl class="summary-types summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#t:context/0" data-no-tooltip translate="no">context()</a> </dt> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:context_modules/0" data-no-tooltip translate="no">context_modules()</a> </dt> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:file/0" data-no-tooltip translate="no">file()</a> </dt> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:line/0" data-no-tooltip translate="no">line()</a> </dt> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:name_arity/0" data-no-tooltip translate="no">name_arity()</a> </dt> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:t/0" data-no-tooltip translate="no">t()</a> </dt> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:variable/0" data-no-tooltip translate="no">variable()</a> </dt> </div> </dl> <h2> Functions </h2>
<dl class="summary-functions summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#define_alias/4" data-no-tooltip translate="no">define_alias(env, meta, module, opts \\ [])</a> </dt> <dd class="summary-synopsis"><p>Defines the given <code class="inline">as</code> an alias to <code class="inline">module</code> in the environment.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#define_import/4" data-no-tooltip translate="no">define_import(env, meta, module, opts \\ [])</a> </dt> <dd class="summary-synopsis"><p>Defines the given <code class="inline">module</code> as imported in the environment.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#define_require/4" data-no-tooltip translate="no">define_require(env, meta, module, opts \\ [])</a> </dt> <dd class="summary-synopsis"><p>Defines the given <code class="inline">module</code> as required in the environment.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#expand_alias/4" data-no-tooltip translate="no">expand_alias(env, meta, list, opts \\ [])</a> </dt> <dd class="summary-synopsis"><p>Expands an alias given by the alias segments.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#expand_import/5" data-no-tooltip translate="no">expand_import(env, meta, name, arity, opts \\ [])</a> </dt> <dd class="summary-synopsis"><p>Expands an import given by <code class="inline">name</code> and <code class="inline">arity</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#expand_require/6" data-no-tooltip translate="no">expand_require(env, meta, module, name, arity, opts \\ [])</a> </dt> <dd class="summary-synopsis"><p>Expands a require given by <code class="inline">module</code>, <code class="inline">name</code>, and <code class="inline">arity</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#has_var?/2" data-no-tooltip translate="no">has_var?(env, var)</a> </dt> <dd class="summary-synopsis"><p>Checks if a variable belongs to the environment.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#in_guard?/1" data-no-tooltip translate="no">in_guard?(env)</a> </dt> <dd class="summary-synopsis"><p>Returns whether the compilation environment is currently inside a guard.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#in_match?/1" data-no-tooltip translate="no">in_match?(env)</a> </dt> <dd class="summary-synopsis"><p>Returns whether the compilation environment is currently inside a match clause.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#location/1" data-no-tooltip translate="no">location(env)</a> </dt> <dd class="summary-synopsis"><p>Returns a keyword list containing the file and line information as keys.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#lookup_alias_as/2" data-no-tooltip translate="no">lookup_alias_as(env, atom)</a> </dt> <dd class="summary-synopsis"><p>Returns the names of any aliases for the given module or atom.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#lookup_import/2" data-no-tooltip translate="no">lookup_import(env, name_arity)</a> </dt> <dd class="summary-synopsis"><p>Returns the modules from which the given <code class="inline">{name, arity}</code> was imported.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#prepend_tracer/2" data-no-tooltip translate="no">prepend_tracer(env, tracer)</a> </dt> <dd class="summary-synopsis"><p>Prepend a tracer to the list of tracers in the environment.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#prune_compile_info/1" data-no-tooltip translate="no">prune_compile_info(env)</a> </dt> <dd class="summary-synopsis"><p>Prunes compile information from the environment.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#required?/2" data-no-tooltip translate="no">required?(env, module)</a> </dt> <dd class="summary-synopsis"><p>Returns <code class="inline">true</code> if the given module has been required.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#stacktrace/1" data-no-tooltip translate="no">stacktrace(env)</a> </dt> <dd class="summary-synopsis"><p>Returns the environment stacktrace.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#to_guard/1" data-no-tooltip translate="no">to_guard(env)</a> </dt> <dd class="summary-synopsis"><p>Returns an environment in the guard context.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#to_match/1" data-no-tooltip translate="no">to_match(env)</a> </dt> <dd class="summary-synopsis"><p>Returns an environment in the match context.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#vars/1" data-no-tooltip translate="no">vars(env)</a> </dt> <dd class="summary-synopsis"><p>Returns a list of variables in the current environment.</p></dd> </div> </dl> </section> <section id="types" class="details-list"> <h1 class="section-heading">  <span class="text">Types</span> </h1> <div class="types-list"> <section class="detail"> <h3 class="detail-header" id="t:context/0">context()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/macro/env.ex#L53" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type context() :: :match | :guard | nil</pre> </div> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:context_modules/0">context_modules()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/macro/env.ex#L54" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type context_modules() :: [module()]</pre> </div> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:file/0">file()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/macro/env.ex#L55" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type file() :: binary()</pre> </div> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:line/0">line()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/macro/env.ex#L56" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type line() :: non_neg_integer()</pre> </div> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:name_arity/0">name_arity()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/macro/env.ex#L57" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type name_arity() :: {atom(), arity()}</pre> </div> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:t/0">t()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/macro/env.ex#L69" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type t() :: %Macro.Env{
  aliases: aliases(),
  context: context(),
  context_modules: context_modules(),
  file: file(),
  function: name_arity() | nil,
  functions: functions(),
  lexical_tracker: lexical_tracker(),
  line: line(),
  macro_aliases: macro_aliases(),
  macros: macros(),
  module: module(),
  requires: requires(),
  tracers: tracers(),
  versioned_vars: versioned_vars()
}</pre> </div> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:variable/0">variable()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/macro/env.ex#L58" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type variable() :: {atom(), atom() | term()}</pre> </div> </section> </section> </div> </section> <section id="functions" class="details-list"> <h1 class="section-heading">  <span class="text">Functions</span> </h1> <div class="functions-list"> <section class="detail">  <h3 class="detail-header" id="define_alias/4">define_alias(env, meta, module, opts \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/macro/env.ex#L439" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec define_alias(t(), Macro.metadata(), module(), keyword()) ::
  {:ok, t()} | {:error, String.t()}</pre> </div> <p>Defines the given <code class="inline">as</code> an alias to <code class="inline">module</code> in the environment.</p>
<p>This is used by tools which need to mimic the Elixir compiler. The appropriate <code class="inline">:alias</code> compiler tracing event will be emitted.</p>
<h4 id="define_alias/4-additional-options" class="section-heading">  <span class="text">Additional options</span> </h4> <p>It accepts the same options as <code class="inline">Kernel.SpecialForm.alias/2</code> plus:</p>
<ul><li>
<code class="inline">:trace</code> - when set to <code class="inline">false</code>, it disables compilation tracers and lexical tracker. This option must only be used by language servers and other tools that need to introspect code without affecting how it is compiled. Disabling tracer inside macros or regular code expansion is extremely discouraged as it blocks the compiler from accurately tracking dependencies</li></ul>
<h4 id="define_alias/4-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; env = __ENV__
iex&gt; Macro.Env.expand_alias(env, [], [:Baz])
:error
iex&gt; {:ok, env} = Macro.Env.define_alias(env, [line: 10], Foo.Bar, as: Baz)
iex&gt; Macro.Env.expand_alias(env, [], [:Baz])
{:alias, Foo.Bar}
iex&gt; Macro.Env.expand_alias(env, [], [:Baz, :Bat])
{:alias, Foo.Bar.Bat}</pre>
<p>If no <code class="inline">:as</code> option is given, the alias will be inferred from the module:</p>
<pre data-language="elixir">iex&gt; env = __ENV__
iex&gt; {:ok, env} = Macro.Env.define_alias(env, [line: 10], Foo.Bar)
iex&gt; Macro.Env.expand_alias(env, [], [:Bar])
{:alias, Foo.Bar}</pre>
<p>If it is not possible to infer one, an error is returned:</p>
<pre data-language="elixir">iex&gt; Macro.Env.define_alias(__ENV__, [line: 10], :an_atom)
{:error,
 "alias cannot be inferred automatically for module: :an_atom, " &lt;&gt;
   "please use the :as option. Implicit aliasing is only supported with Elixir modules"}</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="define_import/4">define_import(env, meta, module, opts \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/macro/env.ex#L389" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec define_import(t(), Macro.metadata(), module(), keyword()) ::
  {:ok, t()} | {:error, String.t()}</pre> </div> <p>Defines the given <code class="inline">module</code> as imported in the environment.</p>
<p>It assumes <code class="inline">module</code> is available. This is used by tools which need to mimic the Elixir compiler. The appropriate <code class="inline">:import</code> compiler tracing event will be emitted.</p>
<h4 id="define_import/4-additional-options" class="section-heading">  <span class="text">Additional options</span> </h4> <p>It accepts the same options as <code class="inline">Kernel.SpecialForm.import/2</code> plus:</p>
<ul>
<li><p><code class="inline">:emit_warnings</code> - emit warnings found when defining imports</p></li>
<li><p><code class="inline">:trace</code> - when set to <code class="inline">false</code>, it disables compilation tracers and lexical tracker. This option must only be used by language servers and other tools that need to introspect code without affecting how it is compiled. Disabling tracer inside macros or regular code expansion is extremely discouraged as it blocks the compiler from accurately tracking dependencies</p></li>
<li><p><code class="inline">:info_callback</code> - a function to use instead of <a href="module#c:__info__/1"><code class="inline">Module.__info__/1</code></a>. The function will be invoked with <code class="inline">:functions</code> or <code class="inline">:macros</code> argument. It has to return a list of <code class="inline">{function, arity}</code> key value pairs. If it fails, it defaults to using module metadata based on <code class="inline">module_info/1</code>.</p></li>
</ul>
<h4 id="define_import/4-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; env = __ENV__
iex&gt; Macro.Env.lookup_import(env, {:flatten, 1})
[]
iex&gt; {:ok, env} = Macro.Env.define_import(env, [line: 10], List)
iex&gt; Macro.Env.lookup_import(env, {:flatten, 1})
[{:function, List}]</pre>
<p>It accepts the same options as <code class="inline">Kernel.SpecialForm.import/2</code>:</p>
<pre data-language="elixir">iex&gt; env = __ENV__
iex&gt; Macro.Env.lookup_import(env, {:is_odd, 1})
[]
iex&gt; {:ok, env} = Macro.Env.define_import(env, [line: 10], Integer, only: :macros)
iex&gt; Macro.Env.lookup_import(env, {:is_odd, 1})
[{:macro, Integer}]</pre>
<h4 id="define_import/4-info-callback-override" class="section-heading">  <span class="text">Info callback override</span> </h4> <pre data-language="elixir">iex&gt; env = __ENV__
iex&gt; Macro.Env.lookup_import(env, {:flatten, 1})
[]
iex&gt; {:ok, env} = Macro.Env.define_import(env, [line: 10], SomeModule, [info_callback: fn :functions -&gt; [{:flatten, 1}]; :macros -&gt; [{:some, 2}]; end])
iex&gt; Macro.Env.lookup_import(env, {:flatten, 1})
[{:function, SomeModule}]
iex&gt; Macro.Env.lookup_import(env, {:some, 2})
[{:macro, SomeModule}]</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="define_require/4">define_require(env, meta, module, opts \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/macro/env.ex#L329" class="source">Source</a>
</h3> <section class="docstring"> <p>Defines the given <code class="inline">module</code> as required in the environment.</p>
<p>It does not check or assert the module is available. This is used by tools which need to mimic the Elixir compiler. The appropriate <code class="inline">:require</code> compiler tracing event will be emitted.</p>
<h4 id="define_require/4-additional-options" class="section-heading">  <span class="text">Additional options</span> </h4> <p>It accepts the same options as <code class="inline">Kernel.SpecialForm.require/2</code> plus:</p>
<ul><li>
<code class="inline">:trace</code> - when set to <code class="inline">false</code>, it disables compilation tracers and lexical tracker. This option must only be used by language servers and other tools that need to introspect code without affecting how it is compiled. Disabling tracer inside macros or regular code expansion is extremely discouraged as it blocks the compiler from accurately tracking dependencies</li></ul>
<h4 id="define_require/4-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; env = __ENV__
iex&gt; Macro.Env.required?(env, Integer)
false
iex&gt; {:ok, env} = Macro.Env.define_require(env, [line: 10], Integer)
iex&gt; Macro.Env.required?(env, Integer)
true</pre>
<p>If the <code class="inline">:as</code> option is given, it will also define an alias:</p>
<pre data-language="elixir">iex&gt; env = __ENV__
iex&gt; {:ok, env} = Macro.Env.define_require(env, [line: 10], Foo.Bar, as: Baz)
iex&gt; Macro.Env.expand_alias(env, [], [:Baz])
{:alias, Foo.Bar}</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="expand_alias/4">expand_alias(env, meta, list, opts \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/macro/env.ex#L486" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec expand_alias(t(), keyword(), [atom()], keyword()) :: {:alias, atom()} | :error</pre> </div> <p>Expands an alias given by the alias segments.</p>
<p>It returns <code class="inline">{:alias, alias}</code> if the segments is a list of atoms and an alias was found. Returns <code class="inline">:error</code> otherwise.</p>
<p>This expansion may emit the <code class="inline">:alias_expansion</code> trace event but it does not emit the <code class="inline">:alias_reference</code> one.</p>
<h4 id="expand_alias/4-options" class="section-heading">  <span class="text">Options</span> </h4> <ul><li>
<code class="inline">:trace</code> - when set to <code class="inline">false</code>, it disables compilation tracers and lexical tracker. This option must only be used by language servers and other tools that need to introspect code without affecting how it is compiled. Disabling tracer inside macros or regular code expansion is extremely discouraged as it blocks the compiler from accurately tracking dependencies</li></ul>
<h4 id="expand_alias/4-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; alias List, as: MyList
iex&gt; Macro.Env.expand_alias(__ENV__, [], [:MyList])
{:alias, List}
iex&gt; Macro.Env.expand_alias(__ENV__, [], [:MyList, :Nested])
{:alias, List.Nested}</pre>
<p>If there is no alias or the alias starts with <code class="inline">Elixir.</code> (which disables aliasing), then <code class="inline">:error</code> is returned:</p>
<pre data-language="elixir">iex&gt; alias List, as: MyList
iex&gt; Macro.Env.expand_alias(__ENV__, [], [:Elixir, MyList])
:error
iex&gt; Macro.Env.expand_alias(__ENV__, [], [:AnotherList])
:error</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="expand_import/5">expand_import(env, meta, name, arity, opts \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/macro/env.ex#L528" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec expand_import(t(), keyword(), atom(), arity(), keyword()) ::
  {:macro, module(), (Macro.metadata(), args :: [Macro.t()] -&gt; Macro.t())}
  | {:function, module(), atom()}
  | {:error, :not_found | {:conflict, module()} | {:ambiguous, [module()]}}</pre> </div> <p>Expands an import given by <code class="inline">name</code> and <code class="inline">arity</code>.</p>
<p>If the import points to a macro, it returns a tuple with the module and a function that expands the macro. The function expects the metadata to be attached to the expansion and the arguments of the macro.</p>
<p>If the import points to a function, it returns a tuple with the module and the function name.</p>
<p>If any import is found, the appropriate compiler tracing event will be emitted.</p>
<p>Otherwise returns <code class="inline">{:error, reason}</code>.</p>
<h4 id="expand_import/5-options" class="section-heading">  <span class="text">Options</span> </h4> <ul>
<li><p><code class="inline">:allow_locals</code> - when set to <code class="inline">false</code>, it does not attempt to capture local macros defined in the current module in <code class="inline">env</code></p></li>
<li><p><code class="inline">:check_deprecations</code> - when set to <code class="inline">false</code>, does not check for deprecations when expanding macros</p></li>
<li><p><code class="inline">:trace</code> - when set to <code class="inline">false</code>, it disables compilation tracers and lexical tracker. This option must only be used by language servers and other tools that need to introspect code without affecting how it is compiled. Disabling tracer inside macros or regular code expansion is extremely discouraged as it blocks the compiler from accurately tracking dependencies</p></li>
</ul> </section> </section> <section class="detail">  <h3 class="detail-header" id="expand_require/6">expand_require(env, meta, module, name, arity, opts \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/macro/env.ex#L583" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec expand_require(t(), keyword(), module(), atom(), arity(), keyword()) ::
  {:macro, module(), (Macro.metadata(), args :: [Macro.t()] -&gt; Macro.t())}
  | :error</pre> </div> <p>Expands a require given by <code class="inline">module</code>, <code class="inline">name</code>, and <code class="inline">arity</code>.</p>
<p>If the require points to a macro and the module has been required, it returns a tuple with the module and a function that expands the macro. The function expects the metadata to be attached to the expansion and the arguments of the macro. The appropriate <code class="inline">:remote_macro</code> compiler tracing event will be emitted if a macro is found (note a <code class="inline">:remote_function</code> event is not emitted in <code class="inline">:error</code> cases).</p>
<p>Otherwise returns <code class="inline">:error</code>.</p>
<h4 id="expand_require/6-options" class="section-heading">  <span class="text">Options</span> </h4> <ul>
<li><p><code class="inline">:check_deprecations</code> - when set to <code class="inline">false</code>, does not check for deprecations when expanding macros</p></li>
<li><p><code class="inline">:trace</code> - when set to <code class="inline">false</code>, it disables compilation tracers and lexical tracker. This option must only be used by language servers and other tools that need to introspect code without affecting how it is compiled. Disabling tracer inside macros or regular code expansion is extremely discouraged as it blocks the compiler from accurately tracking dependencies</p></li>
</ul> </section> </section> <section class="detail"> <h3 class="detail-header" id="has_var?/2">has_var?(env, var)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/macro/env.ex#L154" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec has_var?(t(), variable()) :: boolean()</pre> </div> <p>Checks if a variable belongs to the environment.</p>
<h4 id="has_var?/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; x = 13
iex&gt; x
13
iex&gt; Macro.Env.has_var?(__ENV__, {:x, nil})
true
iex&gt; Macro.Env.has_var?(__ENV__, {:unknown, nil})
false</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="in_guard?/1">in_guard?(env)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/macro/env.ex#L631" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec in_guard?(t()) :: boolean()</pre> </div> <p>Returns whether the compilation environment is currently inside a guard.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="in_match?/1">in_match?(env)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/macro/env.ex#L639" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec in_match?(t()) :: boolean()</pre> </div> <p>Returns whether the compilation environment is currently inside a match clause.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="location/1">location(env)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/macro/env.ex#L165" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec location(t()) :: keyword()</pre> </div> <p>Returns a keyword list containing the file and line information as keys.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="lookup_alias_as/2">lookup_alias_as(env, atom)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/macro/env.ex#L248" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec lookup_alias_as(t(), atom()) :: [atom()]</pre> </div> <p>Returns the names of any aliases for the given module or atom.</p>
<h4 id="lookup_alias_as/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; alias Foo.Bar
iex&gt; Bar
Foo.Bar
iex&gt; Macro.Env.lookup_alias_as(__ENV__, Foo.Bar)
[Elixir.Bar]
iex&gt; alias Foo.Bar, as: Baz
iex&gt; Baz
Foo.Bar
iex&gt; Macro.Env.lookup_alias_as(__ENV__, Foo.Bar)
[Elixir.Bar, Elixir.Baz]
iex&gt; Macro.Env.lookup_alias_as(__ENV__, Unknown)
[]</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="lookup_import/2">lookup_import(env, name_arity)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/macro/env.ex#L215" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec lookup_import(t(), name_arity()) :: [{:function | :macro, module()}]</pre> </div> <p>Returns the modules from which the given <code class="inline">{name, arity}</code> was imported.</p>
<p>It returns a list of two element tuples in the shape of <code class="inline">{:function | :macro, module}</code>. The elements in the list are in no particular order and the order is not guaranteed.</p>
<blockquote>
<h4 class="warning">Use only for introspection</h4>
<p>This function does not emit compiler tracing events, which may block the compiler from correctly tracking dependencies. Use this function for reflection purposes but to do not use it to expand imports into qualified calls. Instead, use <a href="#expand_import/5"><code class="inline">expand_import/5</code></a>.</p>
</blockquote>
<h4 id="lookup_import/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Macro.Env.lookup_import(__ENV__, {:duplicate, 2})
[]
iex&gt; import Tuple, only: [duplicate: 2], warn: false
iex&gt; Macro.Env.lookup_import(__ENV__, {:duplicate, 2})
[{:function, Tuple}]
iex&gt; import List, only: [duplicate: 2], warn: false
iex&gt; Macro.Env.lookup_import(__ENV__, {:duplicate, 2})
[{:function, List}, {:function, Tuple}]

iex&gt; Macro.Env.lookup_import(__ENV__, {:def, 1})
[{:macro, Kernel}]</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="prepend_tracer/2">prepend_tracer(env, tracer)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/macro/env.ex#L285" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec prepend_tracer(t(), module()) :: t()</pre> </div> <p>Prepend a tracer to the list of tracers in the environment.</p>
<h4 id="prepend_tracer/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">Macro.Env.prepend_tracer(__ENV__, MyCustomTracer)</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="prune_compile_info/1">prune_compile_info(env)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/macro/env.ex#L118" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec prune_compile_info(t()) :: t()</pre> </div> <p>Prunes compile information from the environment.</p>
<p>This happens when the environment is captured at compilation time, for example, in the module body, and then used to evaluate code after the module has been defined.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="required?/2">required?(env, module)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/macro/env.ex#L270" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec required?(t(), module()) :: boolean()</pre> </div> <p>Returns <code class="inline">true</code> if the given module has been required.</p>
<h4 id="required?/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Macro.Env.required?(__ENV__, Integer)
false
iex&gt; require Integer
iex&gt; Macro.Env.required?(__ENV__, Integer)
true

iex&gt; Macro.Env.required?(__ENV__, Kernel)
true</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="stacktrace/1">stacktrace(env)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/macro/env.ex#L646" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec stacktrace(t()) :: list()</pre> </div> <p>Returns the environment stacktrace.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="to_guard/1">to_guard(env)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/macro/env.ex#L614" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec to_guard(t()) :: t()</pre> </div> <p>Returns an environment in the guard context.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="to_match/1">to_match(env)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/macro/env.ex#L622" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec to_match(t()) :: t()</pre> </div> <p>Returns an environment in the match context.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="vars/1">vars(env)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/macro/env.ex#L132" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec vars(t()) :: [variable()]</pre> </div> <p>Returns a list of variables in the current environment.</p>
<p>Each variable is identified by a tuple of two elements, where the first element is the variable name as an atom and the second element is its context, which may be an atom or an integer.</p> </section> </section> </div> </section> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/Macro.Env.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/Macro.Env.html</a>
  </p>
</div>
