<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/map.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">Map</span>  </h1> <section id="moduledoc"> <p>Maps are the "go to" key-value data structure in Elixir.</p>
<p>Maps can be created with the <code class="inline">%{}</code> syntax, and key-value pairs can be expressed as <code class="inline">key =&gt; value</code>:</p>
<pre data-language="elixir">iex&gt; %{}
%{}
iex&gt; %{"one" =&gt; :two, 3 =&gt; "four"}
%{3 =&gt; "four", "one" =&gt; :two}</pre>
<p>Key-value pairs in a map do not follow any order (that's why the printed map in the example above has a different order than the map that was created).</p>
<p>Maps do not impose any restriction on the key type: anything can be a key in a map. As a key-value structure, maps do not allow duplicate keys. Keys are compared using the exact-equality operator (<a href="kernel#===/2"><code class="inline">===/2</code></a>). If colliding keys are defined in a map literal, the last one prevails.</p>
<p>When the key in a key-value pair is an atom, the <code class="inline">key: value</code> shorthand syntax can be used (as in many other special forms):</p>
<pre data-language="elixir">iex&gt; %{a: 1, b: 2}
%{a: 1, b: 2}</pre>
<p>If you want to mix the shorthand syntax with <code class="inline">=&gt;</code>, the shorthand syntax must come at the end:</p>
<pre data-language="elixir">iex&gt; %{"hello" =&gt; "world", a: 1, b: 2}
%{:a =&gt; 1, :b =&gt; 2, "hello" =&gt; "world"}</pre>
<p>Keys in maps can be accessed through some of the functions in this module (such as <a href="#get/3"><code class="inline">Map.get/3</code></a> or <a href="#fetch/2"><code class="inline">Map.fetch/2</code></a>) or through the <code class="inline">map[]</code> syntax provided by the <a href="access"><code class="inline">Access</code></a> module:</p>
<pre data-language="elixir">iex&gt; map = %{a: 1, b: 2}
iex&gt; Map.fetch(map, :a)
{:ok, 1}
iex&gt; map[:b]
2
iex&gt; map["non_existing_key"]
nil</pre>
<p>To access atom keys, one may also use the <code class="inline">map.key</code> notation. Note that <code class="inline">map.key</code> will raise a <a href="keyerror"><code class="inline">KeyError</code></a> if the <code class="inline">map</code> doesn't contain the key <code class="inline">:key</code>, compared to <code class="inline">map[:key]</code>, that would return <code class="inline">nil</code>.</p>
<pre data-language="elixir">map = %{foo: "bar", baz: "bong"}
map.foo
#=&gt; "bar"
map.non_existing_key
** (KeyError) key :non_existing_key not found in: %{baz: "bong", foo: "bar"}</pre>
<blockquote>
<h4 class="warning">Avoid parentheses</h4>
<p>Do not add parentheses when accessing fields, such as in <code class="inline">data.key()</code>. If parentheses are used, Elixir will expect <code class="inline">data</code> to be an atom representing a module and attempt to call the <em>function</em> <code class="inline">key/0</code> in it.</p>
</blockquote>
<p>The two syntaxes for accessing keys reveal the dual nature of maps. The <code class="inline">map[key]</code> syntax is used for dynamically created maps that may have any key, of any type. <code class="inline">map.key</code> is used with maps that hold a predetermined set of atoms keys, which are expected to always be present. Structs, defined via <a href="kernel#defstruct/1"><code class="inline">defstruct/1</code></a>, are one example of such "static maps", where the keys can also be checked during compile time.</p>
<p>Maps can be pattern matched on. When a map is on the left-hand side of a pattern match, it will match if the map on the right-hand side contains the keys on the left-hand side and their values match the ones on the left-hand side. This means that an empty map matches every map.</p>
<pre data-language="elixir">iex&gt; %{} = %{foo: "bar"}
%{foo: "bar"}
iex&gt; %{a: a} = %{:a =&gt; 1, "b" =&gt; 2, [:c, :e, :e] =&gt; 3}
iex&gt; a
1</pre>
<p>But this will raise a <a href="matcherror"><code class="inline">MatchError</code></a> exception:</p>
<pre data-language="elixir">%{:c =&gt; 3} = %{:a =&gt; 1, 2 =&gt; :b}</pre>
<p>Variables can be used as map keys both when writing map literals as well as when matching:</p>
<pre data-language="elixir">iex&gt; n = 1
1
iex&gt; %{n =&gt; :one}
%{1 =&gt; :one}
iex&gt; %{^n =&gt; :one} = %{1 =&gt; :one, 2 =&gt; :two, 3 =&gt; :three}
%{1 =&gt; :one, 2 =&gt; :two, 3 =&gt; :three}</pre>
<p>Maps also support a specific update syntax to update the value stored under <em>existing</em> keys. You can update using the atom keys syntax:</p>
<pre data-language="elixir">iex&gt; map = %{one: 1, two: 2}
iex&gt; %{map | one: "one"}
%{one: "one", two: 2}</pre>
<p>Or any other key:</p>
<pre data-language="elixir">iex&gt; other_map = %{"three" =&gt; 3, "four" =&gt; 4}
iex&gt; %{other_map | "three" =&gt; "three"}
%{"four" =&gt; 4, "three" =&gt; "three"}</pre>
<p>When a key that does not exist in the map is updated a <a href="keyerror"><code class="inline">KeyError</code></a> exception will be raised:</p>
<pre data-language="elixir">%{map | three: 3}</pre>
<p>The functions in this module that need to find a specific key work in logarithmic time. This means that the time it takes to find keys grows as the map grows, but it's not directly proportional to the map size. In comparison to finding an element in a list, it performs better because lists have a linear time complexity. Some functions, such as <a href="#keys/1"><code class="inline">keys/1</code></a> and <a href="#values/1"><code class="inline">values/1</code></a>, run in linear time because they need to get to every element in the map.</p>
<p>Maps also implement the <a href="enumerable"><code class="inline">Enumerable</code></a> protocol, so many functions to work with maps are found in the <a href="enum"><code class="inline">Enum</code></a> module. Additionally, the following functions for maps are found in <a href="kernel"><code class="inline">Kernel</code></a>:</p>
<ul><li><a href="kernel#map_size/1"><code class="inline">map_size/1</code></a></li></ul> </section> </div> <section id="summary" class="details-list"> <h1 class="section-heading">  <span class="text">Summary</span> </h1> <h2> Types </h2>
<dl class="summary-types summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#t:key/0" data-no-tooltip translate="no">key()</a> </dt> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:value/0" data-no-tooltip translate="no">value()</a> </dt> </div> </dl> <h2> Functions </h2>
<dl class="summary-functions summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#delete/2" data-no-tooltip translate="no">delete(map, key)</a> </dt> <dd class="summary-synopsis"><p>Deletes the entry in <code class="inline">map</code> for a specific <code class="inline">key</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#drop/2" data-no-tooltip translate="no">drop(map, keys)</a> </dt> <dd class="summary-synopsis"><p>Drops the given <code class="inline">keys</code> from <code class="inline">map</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#equal?/2" data-no-tooltip translate="no">equal?(map1, map2)</a> </dt> <dd class="summary-synopsis"><p>Checks if two maps are equal.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#fetch/2" data-no-tooltip translate="no">fetch(map, key)</a> </dt> <dd class="summary-synopsis"><p>Fetches the value for a specific <code class="inline">key</code> in the given <code class="inline">map</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#fetch!/2" data-no-tooltip translate="no">fetch!(map, key)</a> </dt> <dd class="summary-synopsis"><p>Fetches the value for a specific <code class="inline">key</code> in the given <code class="inline">map</code>, erroring out if <code class="inline">map</code> doesn't contain <code class="inline">key</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#filter/2" data-no-tooltip translate="no">filter(map, fun)</a> </dt> <dd class="summary-synopsis"><p>Returns a map containing only those pairs from <code class="inline">map</code> for which <code class="inline">fun</code> returns a truthy value.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#from_keys/2" data-no-tooltip translate="no">from_keys(keys, value)</a> </dt> <dd class="summary-synopsis"><p>Builds a map from the given <code class="inline">keys</code> and the fixed <code class="inline">value</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#from_struct/1" data-no-tooltip translate="no">from_struct(struct)</a> </dt> <dd class="summary-synopsis"><p>Converts a <code class="inline">struct</code> to map.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#get/3" data-no-tooltip translate="no">get(map, key, default \\ nil)</a> </dt> <dd class="summary-synopsis"><p>Gets the value for a specific <code class="inline">key</code> in <code class="inline">map</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#get_and_update/3" data-no-tooltip translate="no">get_and_update(map, key, fun)</a> </dt> <dd class="summary-synopsis"><p>Gets the value from <code class="inline">key</code> and updates it, all in one pass.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#get_and_update!/3" data-no-tooltip translate="no">get_and_update!(map, key, fun)</a> </dt> <dd class="summary-synopsis"><p>Gets the value from <code class="inline">key</code> and updates it, all in one pass. Raises if there is no <code class="inline">key</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#get_lazy/3" data-no-tooltip translate="no">get_lazy(map, key, fun)</a> </dt> <dd class="summary-synopsis"><p>Gets the value for a specific <code class="inline">key</code> in <code class="inline">map</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#has_key?/2" data-no-tooltip translate="no">has_key?(map, key)</a> </dt> <dd class="summary-synopsis"><p>Returns whether the given <code class="inline">key</code> exists in the given <code class="inline">map</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#intersect/2" data-no-tooltip translate="no">intersect(map1, map2)</a> </dt> <dd class="summary-synopsis"><p>Intersects two maps, returning a map with the common keys.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#intersect/3" data-no-tooltip translate="no">intersect(map1, map2, fun)</a> </dt> <dd class="summary-synopsis"><p>Intersects two maps, returning a map with the common keys and resolving conflicts through a function.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#keys/1" data-no-tooltip translate="no">keys(map)</a> </dt> <dd class="summary-synopsis"><p>Returns all keys from <code class="inline">map</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#merge/2" data-no-tooltip translate="no">merge(map1, map2)</a> </dt> <dd class="summary-synopsis"><p>Merges two maps into one.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#merge/3" data-no-tooltip translate="no">merge(map1, map2, fun)</a> </dt> <dd class="summary-synopsis"><p>Merges two maps into one, resolving conflicts through the given <code class="inline">fun</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#new/0" data-no-tooltip translate="no">new()</a> </dt> <dd class="summary-synopsis"><p>Returns a new empty map.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#new/1" data-no-tooltip translate="no">new(enumerable)</a> </dt> <dd class="summary-synopsis"><p>Creates a map from an <code class="inline">enumerable</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#new/2" data-no-tooltip translate="no">new(enumerable, transform)</a> </dt> <dd class="summary-synopsis"><p>Creates a map from an <code class="inline">enumerable</code> via the given transformation function.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#pop/3" data-no-tooltip translate="no">pop(map, key, default \\ nil)</a> </dt> <dd class="summary-synopsis"><p>Removes the value associated with <code class="inline">key</code> in <code class="inline">map</code> and returns the value and the updated map.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#pop!/2" data-no-tooltip translate="no">pop!(map, key)</a> </dt> <dd class="summary-synopsis"><p>Removes the value associated with <code class="inline">key</code> in <code class="inline">map</code> and returns the value and the updated map, or it raises if <code class="inline">key</code> is not present.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#pop_lazy/3" data-no-tooltip translate="no">pop_lazy(map, key, fun)</a> </dt> <dd class="summary-synopsis"><p>Lazily returns and removes the value associated with <code class="inline">key</code> in <code class="inline">map</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#put/3" data-no-tooltip translate="no">put(map, key, value)</a> </dt> <dd class="summary-synopsis"><p>Puts the given <code class="inline">value</code> under <code class="inline">key</code> in <code class="inline">map</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#put_new/3" data-no-tooltip translate="no">put_new(map, key, value)</a> </dt> <dd class="summary-synopsis"><p>Puts the given <code class="inline">value</code> under <code class="inline">key</code> unless the entry <code class="inline">key</code> already exists in <code class="inline">map</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#put_new_lazy/3" data-no-tooltip translate="no">put_new_lazy(map, key, fun)</a> </dt> <dd class="summary-synopsis"><p>Evaluates <code class="inline">fun</code> and puts the result under <code class="inline">key</code> in <code class="inline">map</code> unless <code class="inline">key</code> is already present.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#reject/2" data-no-tooltip translate="no">reject(map, fun)</a> </dt> <dd class="summary-synopsis"><p>Returns map excluding the pairs from <code class="inline">map</code> for which <code class="inline">fun</code> returns a truthy value.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#replace/3" data-no-tooltip translate="no">replace(map, key, value)</a> </dt> <dd class="summary-synopsis"><p>Puts a value under <code class="inline">key</code> only if the <code class="inline">key</code> already exists in <code class="inline">map</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#replace!/3" data-no-tooltip translate="no">replace!(map, key, value)</a> </dt> <dd class="summary-synopsis"><p>Puts a value under <code class="inline">key</code> only if the <code class="inline">key</code> already exists in <code class="inline">map</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#replace_lazy/3" data-no-tooltip translate="no">replace_lazy(map, key, fun)</a> </dt> <dd class="summary-synopsis"><p>Replaces the value under <code class="inline">key</code> using the given function only if <code class="inline">key</code> already exists in <code class="inline">map</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#split/2" data-no-tooltip translate="no">split(map, keys)</a> </dt> <dd class="summary-synopsis"><p>Takes all entries corresponding to the given <code class="inline">keys</code> in <code class="inline">map</code> and extracts them into a separate map.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#split_with/2" data-no-tooltip translate="no">split_with(map, fun)</a> </dt> <dd class="summary-synopsis"><p>Splits the <code class="inline">map</code> into two maps according to the given function <code class="inline">fun</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#take/2" data-no-tooltip translate="no">take(map, keys)</a> </dt> <dd class="summary-synopsis"><p>Returns a new map with all the key-value pairs in <code class="inline">map</code> where the key is in <code class="inline">keys</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#to_list/1" data-no-tooltip translate="no">to_list(map)</a> </dt> <dd class="summary-synopsis"><p>Converts <code class="inline">map</code> to a list.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#update/4" data-no-tooltip translate="no">update(map, key, default, fun)</a> </dt> <dd class="summary-synopsis"><p>Updates the <code class="inline">key</code> in <code class="inline">map</code> with the given function.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#update!/3" data-no-tooltip translate="no">update!(map, key, fun)</a> </dt> <dd class="summary-synopsis"><p>Updates <code class="inline">key</code> with the given function.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#values/1" data-no-tooltip translate="no">values(map)</a> </dt> <dd class="summary-synopsis"><p>Returns all values from <code class="inline">map</code>.</p></dd> </div> </dl> </section> <section id="types" class="details-list"> <h1 class="section-heading">  <span class="text">Types</span> </h1> <div class="types-list"> <section class="detail"> <h3 class="detail-header" id="t:key/0">key()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/map.ex#L124" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type key() :: any()</pre> </div> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:value/0">value()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/map.ex#L125" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type value() :: any()</pre> </div> </section> </section> </div> </section> <section id="functions" class="details-list"> <h1 class="section-heading">  <span class="text">Functions</span> </h1> <div class="functions-list"> <section class="detail"> <h3 class="detail-header" id="delete/2">delete(map, key)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/map.ex#L609" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec delete(map(), key()) :: map()</pre> </div> <p>Deletes the entry in <code class="inline">map</code> for a specific <code class="inline">key</code>.</p>
<p>If the <code class="inline">key</code> does not exist, returns <code class="inline">map</code> unchanged.</p>
<p>Inlined by the compiler.</p>
<h4 id="delete/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Map.delete(%{a: 1, b: 2}, :a)
%{b: 2}
iex&gt; Map.delete(%{b: 2}, :a)
%{b: 2}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="drop/2">drop(map, keys)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/map.ex#L780" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec drop(map(), [key()]) :: map()</pre> </div> <p>Drops the given <code class="inline">keys</code> from <code class="inline">map</code>.</p>
<p>If <code class="inline">keys</code> contains keys that are not in <code class="inline">map</code>, they're simply ignored.</p>
<h4 id="drop/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Map.drop(%{a: 1, b: 2, c: 3}, [:b, :d])
%{a: 1, c: 3}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="equal?/2">equal?(map1, map2)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/map.ex#L1066" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec equal?(map(), map()) :: boolean()</pre> </div> <p>Checks if two maps are equal.</p>
<p>Two maps are considered to be equal if they contain the same keys and those keys contain the same values.</p>
<p>Note this function exists for completeness so the <a href="map"><code class="inline">Map</code></a> and <a href="keyword"><code class="inline">Keyword</code></a> modules provide similar APIs. In practice, developers often compare maps using <a href="kernel#==/2"><code class="inline">==/2</code></a> or <a href="kernel#===/2"><code class="inline">===/2</code></a> directly.</p>
<h4 id="equal?/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Map.equal?(%{a: 1, b: 2}, %{b: 2, a: 1})
true
iex&gt; Map.equal?(%{a: 1, b: 2}, %{b: 1, a: 2})
false</pre>
<p>Comparison between keys and values is done with <code class="inline">===/3</code>, which means integers are not equivalent to floats:</p>
<pre data-language="elixir">iex&gt; Map.equal?(%{a: 1.0}, %{a: 1})
false</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="fetch/2">fetch(map, key)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/map.ex#L299" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec fetch(map(), key()) :: {:ok, value()} | :error</pre> </div> <p>Fetches the value for a specific <code class="inline">key</code> in the given <code class="inline">map</code>.</p>
<p>If <code class="inline">map</code> contains the given <code class="inline">key</code> then its value is returned in the shape of <code class="inline">{:ok, value}</code>. If <code class="inline">map</code> doesn't contain <code class="inline">key</code>, <code class="inline">:error</code> is returned.</p>
<p>Inlined by the compiler.</p>
<h4 id="fetch/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Map.fetch(%{a: 1}, :a)
{:ok, 1}
iex&gt; Map.fetch(%{a: 1}, :b)
:error</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="fetch!/2">fetch!(map, key)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/map.ex#L317" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec fetch!(map(), key()) :: value()</pre> </div> <p>Fetches the value for a specific <code class="inline">key</code> in the given <code class="inline">map</code>, erroring out if <code class="inline">map</code> doesn't contain <code class="inline">key</code>.</p>
<p>If <code class="inline">map</code> contains <code class="inline">key</code>, the corresponding value is returned. If <code class="inline">map</code> doesn't contain <code class="inline">key</code>, a <a href="keyerror"><code class="inline">KeyError</code></a> exception is raised.</p>
<p>Inlined by the compiler.</p>
<h4 id="fetch!/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Map.fetch!(%{a: 1}, :a)
1</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="filter/2">filter(map, fun)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/map.ex#L1103" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec filter(map(), ({key(), value()} -&gt; as_boolean(term()))) :: map()</pre> </div> <p>Returns a map containing only those pairs from <code class="inline">map</code> for which <code class="inline">fun</code> returns a truthy value.</p>
<p><code class="inline">fun</code> receives the key and value of each of the elements in the map as a key-value pair.</p>
<p>See also <a href="#reject/2"><code class="inline">reject/2</code></a> which discards all elements where the function returns a truthy value.</p>
<blockquote>
<h4 class="tip">Performance considerations</h4>
<p>If you find yourself doing multiple calls to <a href="#filter/2"><code class="inline">Map.filter/2</code></a> and <a href="#reject/2"><code class="inline">Map.reject/2</code></a> in a pipeline, it is likely more efficient to use <a href="enum#map/2"><code class="inline">Enum.map/2</code></a> and <a href="enum#filter/2"><code class="inline">Enum.filter/2</code></a> instead and convert to a map at the end using <a href="#new/1"><code class="inline">Map.new/1</code></a>.</p>
</blockquote>
<h4 id="filter/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Map.filter(%{one: 1, two: 2, three: 3}, fn {_key, val} -&gt; rem(val, 2) == 1 end)
%{one: 1, three: 3}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="from_keys/2">from_keys(keys, value)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/map.ex#L139" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec from_keys([key()], value()) :: map()</pre> </div> <p>Builds a map from the given <code class="inline">keys</code> and the fixed <code class="inline">value</code>.</p>
<h4 id="from_keys/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Map.from_keys([1, 2, 3], :number)
%{1 =&gt; :number, 2 =&gt; :number, 3 =&gt; :number}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="from_struct/1">from_struct(struct)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/map.ex#L1032" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec from_struct(atom() | struct()) :: map()</pre> </div> <p>Converts a <code class="inline">struct</code> to map.</p>
<p>It accepts the struct module or a struct itself and simply removes the <code class="inline">__struct__</code> field from the given struct or from a new struct generated from the given module.</p>
<h4 id="from_struct/1-example" class="section-heading">  <span class="text">Example</span> </h4> <pre data-language="elixir">defmodule User do
  defstruct [:name]
end

Map.from_struct(User)
#=&gt; %{name: nil}

Map.from_struct(%User{name: "john"})
#=&gt; %{name: "john"}</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="get/3">get(map, key, default \\ nil)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/map.ex#L526" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec get(map(), key(), value()) :: value()</pre> </div> <p>Gets the value for a specific <code class="inline">key</code> in <code class="inline">map</code>.</p>
<p>If <code class="inline">key</code> is present in <code class="inline">map</code> then its value <code class="inline">value</code> is returned. Otherwise, <code class="inline">default</code> is returned.</p>
<p>If <code class="inline">default</code> is not provided, <code class="inline">nil</code> is used.</p>
<h4 id="get/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Map.get(%{}, :a)
nil
iex&gt; Map.get(%{a: 1}, :a)
1
iex&gt; Map.get(%{a: 1}, :b)
nil
iex&gt; Map.get(%{a: 1}, :b, 3)
3
iex&gt; Map.get(%{a: nil}, :a, 1)
nil</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="get_and_update/3">get_and_update(map, key, fun)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/map.ex#L954" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec get_and_update(map(), key(), (value() | nil -&gt;
                                {current_value, new_value :: value()} | :pop)) ::
  {current_value, new_map :: map()}
when current_value: value()</pre> </div> <p>Gets the value from <code class="inline">key</code> and updates it, all in one pass.</p>
<p><code class="inline">fun</code> is called with the current value under <code class="inline">key</code> in <code class="inline">map</code> (or <code class="inline">nil</code> if <code class="inline">key</code> is not present in <code class="inline">map</code>) and must return a two-element tuple: the current value (the retrieved value, which can be operated on before being returned) and the new value to be stored under <code class="inline">key</code> in the resulting new map. <code class="inline">fun</code> may also return <code class="inline">:pop</code>, which means the current value shall be removed from <code class="inline">map</code> and returned (making this function behave like <code class="inline">Map.pop(map, key)</code>).</p>
<p>The returned value is a two-element tuple with the current value returned by <code class="inline">fun</code> and a new map with the updated value under <code class="inline">key</code>.</p>
<h4 id="get_and_update/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Map.get_and_update(%{a: 1}, :a, fn current_value -&gt;
...&gt;   {current_value, "new value!"}
...&gt; end)
{1, %{a: "new value!"}}

iex&gt; Map.get_and_update(%{a: 1}, :b, fn current_value -&gt;
...&gt;   {current_value, "new value!"}
...&gt; end)
{nil, %{a: 1, b: "new value!"}}

iex&gt; Map.get_and_update(%{a: 1}, :a, fn _ -&gt; :pop end)
{1, %{}}

iex&gt; Map.get_and_update(%{a: 1}, :b, fn _ -&gt; :pop end)
{nil, %{a: 1}}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="get_and_update!/3">get_and_update!(map, key, fun)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/map.ex#L996" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec get_and_update!(map(), key(), (value() -&gt;
                                 {current_value, new_value :: value()} | :pop)) ::
  {current_value, map()}
when current_value: value()</pre> </div> <p>Gets the value from <code class="inline">key</code> and updates it, all in one pass. Raises if there is no <code class="inline">key</code>.</p>
<p>Behaves exactly like <a href="#get_and_update/3"><code class="inline">get_and_update/3</code></a>, but raises a <a href="keyerror"><code class="inline">KeyError</code></a> exception if <code class="inline">key</code> is not present in <code class="inline">map</code>.</p>
<h4 id="get_and_update!/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Map.get_and_update!(%{a: 1}, :a, fn current_value -&gt;
...&gt;   {current_value, "new value!"}
...&gt; end)
{1, %{a: "new value!"}}

iex&gt; Map.get_and_update!(%{a: 1}, :b, fn current_value -&gt;
...&gt;   {current_value, "new value!"}
...&gt; end)
** (KeyError) key :b not found in: %{a: 1}

iex&gt; Map.get_and_update!(%{a: 1}, :a, fn _ -&gt;
...&gt;   :pop
...&gt; end)
{1, %{}}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="get_lazy/3">get_lazy(map, key, fun)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/map.ex#L562" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec get_lazy(map(), key(), (-&gt; value())) :: value()</pre> </div> <p>Gets the value for a specific <code class="inline">key</code> in <code class="inline">map</code>.</p>
<p>If <code class="inline">key</code> is present in <code class="inline">map</code> then its value <code class="inline">value</code> is returned. Otherwise, <code class="inline">fun</code> is evaluated and its result is returned.</p>
<p>This is useful if the default value is very expensive to calculate or generally difficult to setup and teardown again.</p>
<h4 id="get_lazy/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; map = %{a: 1}
iex&gt; fun = fn -&gt;
...&gt;   # some expensive operation here
...&gt;   13
...&gt; end
iex&gt; Map.get_lazy(map, :a, fun)
1
iex&gt; Map.get_lazy(map, :b, fun)
13</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="has_key?/2">has_key?(map, key)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/map.ex#L280" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec has_key?(map(), key()) :: boolean()</pre> </div> <p>Returns whether the given <code class="inline">key</code> exists in the given <code class="inline">map</code>.</p>
<p>Inlined by the compiler.</p>
<h4 id="has_key?/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Map.has_key?(%{a: 1}, :a)
true
iex&gt; Map.has_key?(%{a: 1}, :b)
false</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="intersect/2">intersect(map1, map2)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/map.ex#L1164" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec intersect(map(), map()) :: map()</pre> </div> <p>Intersects two maps, returning a map with the common keys.</p>
<p>The values in the returned map are the values of the intersected keys in <code class="inline">map2</code>.</p>
<p>Inlined by the compiler.</p>
<h4 id="intersect/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Map.intersect(%{a: 1, b: 2}, %{b: "b", c: "c"})
%{b: "b"}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="intersect/3">intersect(map1, map2, fun)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/map.ex#L1183" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec intersect(map(), map(), (key(), value(), value() -&gt; value())) :: map()</pre> </div> <p>Intersects two maps, returning a map with the common keys and resolving conflicts through a function.</p>
<p>The given function will be invoked when there are duplicate keys; its arguments are <code class="inline">key</code> (the duplicate key), <code class="inline">value1</code> (the value of <code class="inline">key</code> in <code class="inline">map1</code>), and <code class="inline">value2</code> (the value of <code class="inline">key</code> in <code class="inline">map2</code>). The value returned by <code class="inline">fun</code> is used as the value under <code class="inline">key</code> in the resulting map.</p>
<h4 id="intersect/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Map.intersect(%{a: 1, b: 2}, %{b: 2, c: 3}, fn _k, v1, v2 -&gt;
...&gt;   v1 + v2
...&gt; end)
%{b: 4}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="keys/1">keys(map)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/map.ex#L155" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec keys(map()) :: [key()]</pre> </div> <p>Returns all keys from <code class="inline">map</code>.</p>
<p>Inlined by the compiler.</p>
<h4 id="keys/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">Map.keys(%{a: 1, b: 2})
[:a, :b]</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="merge/2">merge(map1, map2)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/map.ex#L631" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec merge(map(), map()) :: map()</pre> </div> <p>Merges two maps into one.</p>
<p>All keys in <code class="inline">map2</code> will be added to <code class="inline">map1</code>, overriding any existing one (i.e., the keys in <code class="inline">map2</code> "have precedence" over the ones in <code class="inline">map1</code>).</p>
<p>If you have a struct and you would like to merge a set of keys into the struct, do not use this function, as it would merge all keys on the right side into the struct, even if the key is not part of the struct. Instead, use <a href="kernel#struct/2"><code class="inline">struct/2</code></a>.</p>
<p>Inlined by the compiler.</p>
<h4 id="merge/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Map.merge(%{a: 1, b: 2}, %{a: 3, d: 4})
%{a: 3, b: 2, d: 4}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="merge/3">merge(map1, map2, fun)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/map.ex#L651" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec merge(map(), map(), (key(), value(), value() -&gt; value())) :: map()</pre> </div> <p>Merges two maps into one, resolving conflicts through the given <code class="inline">fun</code>.</p>
<p>All keys in <code class="inline">map2</code> will be added to <code class="inline">map1</code>. The given function will be invoked when there are duplicate keys; its arguments are <code class="inline">key</code> (the duplicate key), <code class="inline">value1</code> (the value of <code class="inline">key</code> in <code class="inline">map1</code>), and <code class="inline">value2</code> (the value of <code class="inline">key</code> in <code class="inline">map2</code>). The value returned by <code class="inline">fun</code> is used as the value under <code class="inline">key</code> in the resulting map.</p>
<h4 id="merge/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Map.merge(%{a: 1, b: 2}, %{a: 3, d: 4}, fn _k, v1, v2 -&gt;
...&gt;   v1 + v2
...&gt; end)
%{a: 4, b: 2, d: 4}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="new/0">new()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/map.ex#L200" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec new() :: map()</pre> </div> <p>Returns a new empty map.</p>
<h4 id="new/0-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Map.new()
%{}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="new/1">new(enumerable)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/map.ex#L216" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec new(Enumerable.t()) :: map()</pre> </div> <p>Creates a map from an <code class="inline">enumerable</code>.</p>
<p>Duplicated keys are removed; the latest one prevails.</p>
<h4 id="new/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Map.new([{:b, 1}, {:a, 2}])
%{a: 2, b: 1}
iex&gt; Map.new(a: 1, a: 2, a: 3)
%{a: 3}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="new/2">new(enumerable, transform)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/map.ex#L243" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec new(Enumerable.t(), (term() -&gt; {key(), value()})) :: map()</pre> </div> <p>Creates a map from an <code class="inline">enumerable</code> via the given transformation function.</p>
<p>Duplicated keys are removed; the latest one prevails.</p>
<h4 id="new/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Map.new([:a, :b], fn x -&gt; {x, x} end)
%{a: :a, b: :b}

iex&gt; Map.new(%{a: 2, b: 3, c: 4}, fn {key, val} -&gt; {key, val * 2} end)
%{a: 4, b: 6, c: 8}</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="pop/3">pop(map, key, default \\ nil)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/map.ex#L704" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec pop(map(), key(), default) :: {value(), updated_map :: map()} | {default, map()}
when default: value()</pre> </div> <p>Removes the value associated with <code class="inline">key</code> in <code class="inline">map</code> and returns the value and the updated map.</p>
<p>If <code class="inline">key</code> is present in <code class="inline">map</code>, it returns <code class="inline">{value, updated_map}</code> where <code class="inline">value</code> is the value of the key and <code class="inline">updated_map</code> is the result of removing <code class="inline">key</code> from <code class="inline">map</code>. If <code class="inline">key</code> is not present in <code class="inline">map</code>, <code class="inline">{default, map}</code> is returned.</p>
<h4 id="pop/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Map.pop(%{a: 1}, :a)
{1, %{}}
iex&gt; Map.pop(%{a: 1}, :b)
{nil, %{a: 1}}
iex&gt; Map.pop(%{a: 1}, :b, 3)
{3, %{a: 1}}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="pop!/2">pop!(map, key)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/map.ex#L729" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec pop!(map(), key()) :: {value(), updated_map :: map()}</pre> </div> <p>Removes the value associated with <code class="inline">key</code> in <code class="inline">map</code> and returns the value and the updated map, or it raises if <code class="inline">key</code> is not present.</p>
<p>Behaves the same as <a href="#pop/3"><code class="inline">pop/3</code></a> but raises if <code class="inline">key</code> is not present in <code class="inline">map</code>.</p>
<h4 id="pop!/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Map.pop!(%{a: 1}, :a)
{1, %{}}
iex&gt; Map.pop!(%{a: 1, b: 2}, :a)
{1, %{b: 2}}
iex&gt; Map.pop!(%{a: 1}, :b)
** (KeyError) key :b not found in: %{a: 1}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="pop_lazy/3">pop_lazy(map, key, fun)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/map.ex#L761" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec pop_lazy(map(), key(), (-&gt; value())) :: {value(), map()}</pre> </div> <p>Lazily returns and removes the value associated with <code class="inline">key</code> in <code class="inline">map</code>.</p>
<p>If <code class="inline">key</code> is present in <code class="inline">map</code>, it returns <code class="inline">{value, new_map}</code> where <code class="inline">value</code> is the value of the key and <code class="inline">new_map</code> is the result of removing <code class="inline">key</code> from <code class="inline">map</code>. If <code class="inline">key</code> is not present in <code class="inline">map</code>, <code class="inline">{fun_result, map}</code> is returned, where <code class="inline">fun_result</code> is the result of applying <code class="inline">fun</code>.</p>
<p>This is useful if the default value is very expensive to calculate or generally difficult to setup and teardown again.</p>
<h4 id="pop_lazy/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; map = %{a: 1}
iex&gt; fun = fn -&gt;
...&gt;   # some expensive operation here
...&gt;   13
...&gt; end
iex&gt; Map.pop_lazy(map, :a, fun)
{1, %{}}
iex&gt; Map.pop_lazy(map, :b, fun)
{13, %{a: 1}}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="put/3">put(map, key, value)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/map.ex#L589" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec put(map(), key(), value()) :: map()</pre> </div> <p>Puts the given <code class="inline">value</code> under <code class="inline">key</code> in <code class="inline">map</code>.</p>
<p>Inlined by the compiler.</p>
<h4 id="put/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Map.put(%{a: 1}, :b, 2)
%{a: 1, b: 2}
iex&gt; Map.put(%{a: 1, b: 2}, :a, 3)
%{a: 3, b: 2}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="put_new/3">put_new(map, key, value)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/map.ex#L334" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec put_new(map(), key(), value()) :: map()</pre> </div> <p>Puts the given <code class="inline">value</code> under <code class="inline">key</code> unless the entry <code class="inline">key</code> already exists in <code class="inline">map</code>.</p>
<h4 id="put_new/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Map.put_new(%{a: 1}, :b, 2)
%{a: 1, b: 2}
iex&gt; Map.put_new(%{a: 1, b: 2}, :a, 3)
%{a: 1, b: 2}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="put_new_lazy/3">put_new_lazy(map, key, fun)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/map.ex#L444" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec put_new_lazy(map(), key(), (-&gt; value())) :: map()</pre> </div> <p>Evaluates <code class="inline">fun</code> and puts the result under <code class="inline">key</code> in <code class="inline">map</code> unless <code class="inline">key</code> is already present.</p>
<p>This function is useful in case you want to compute the value to put under <code class="inline">key</code> only if <code class="inline">key</code> is not already present, as for example, when the value is expensive to calculate or generally difficult to setup and teardown again.</p>
<h4 id="put_new_lazy/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; map = %{a: 1}
iex&gt; fun = fn -&gt;
...&gt;   # some expensive operation here
...&gt;   3
...&gt; end
iex&gt; Map.put_new_lazy(map, :a, fun)
%{a: 1}
iex&gt; Map.put_new_lazy(map, :b, fun)
%{a: 1, b: 3}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="reject/2">reject(map, fun)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/map.ex#L1133" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec reject(map(), ({key(), value()} -&gt; as_boolean(term()))) :: map()</pre> </div> <p>Returns map excluding the pairs from <code class="inline">map</code> for which <code class="inline">fun</code> returns a truthy value.</p>
<p>See also <a href="#filter/2"><code class="inline">filter/2</code></a>.</p>
<h4 id="reject/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Map.reject(%{one: 1, two: 2, three: 3}, fn {_key, val} -&gt; rem(val, 2) == 1 end)
%{two: 2}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="replace/3">replace(map, key, value)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/map.ex#L361" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec replace(map(), key(), value()) :: map()</pre> </div> <p>Puts a value under <code class="inline">key</code> only if the <code class="inline">key</code> already exists in <code class="inline">map</code>.</p>
<h4 id="replace/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Map.replace(%{a: 1, b: 2}, :a, 3)
%{a: 3, b: 2}

iex&gt; Map.replace(%{a: 1}, :b, 2)
%{a: 1}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="replace!/3">replace!(map, key, value)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/map.ex#L392" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec replace!(map(), key(), value()) :: map()</pre> </div> <p>Puts a value under <code class="inline">key</code> only if the <code class="inline">key</code> already exists in <code class="inline">map</code>.</p>
<p>If <code class="inline">key</code> is not present in <code class="inline">map</code>, a <a href="keyerror"><code class="inline">KeyError</code></a> exception is raised.</p>
<p>Inlined by the compiler.</p>
<h4 id="replace!/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Map.replace!(%{a: 1, b: 2}, :a, 3)
%{a: 3, b: 2}

iex&gt; Map.replace!(%{a: 1}, :b, 2)
** (KeyError) key :b not found in: %{a: 1}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="replace_lazy/3">replace_lazy(map, key, fun)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/map.ex#L415" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec replace_lazy(map(), key(), (existing_value :: value() -&gt; new_value :: value())) ::
  map()</pre> </div> <p>Replaces the value under <code class="inline">key</code> using the given function only if <code class="inline">key</code> already exists in <code class="inline">map</code>.</p>
<p>In comparison to <a href="#replace/3"><code class="inline">replace/3</code></a>, this can be useful when it's expensive to calculate the value.</p>
<p>If <code class="inline">key</code> does not exist, the original map is returned unchanged.</p>
<h4 id="replace_lazy/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Map.replace_lazy(%{a: 1, b: 2}, :a, fn v -&gt; v * 4 end)
%{a: 4, b: 2}

iex&gt; Map.replace_lazy(%{a: 1, b: 2}, :c, fn v -&gt; v * 4 end)
%{a: 1, b: 2}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="split/2">split(map, keys)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/map.ex#L820" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec split(map(), [key()]) :: {map(), map()}</pre> </div> <p>Takes all entries corresponding to the given <code class="inline">keys</code> in <code class="inline">map</code> and extracts them into a separate map.</p>
<p>Returns a tuple with the new map and the old map with removed keys.</p>
<p>Keys for which there are no entries in <code class="inline">map</code> are ignored.</p>
<h4 id="split/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Map.split(%{a: 1, b: 2, c: 3}, [:a, :c, :e])
{%{a: 1, c: 3}, %{b: 2}}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="split_with/2">split_with(map, fun)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/map.ex#L878" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec split_with(map(), ({key(), value()} -&gt; as_boolean(term()))) :: {map(), map()}</pre> </div> <p>Splits the <code class="inline">map</code> into two maps according to the given function <code class="inline">fun</code>.</p>
<p><code class="inline">fun</code> receives each <code class="inline">{key, value}</code> pair in the <code class="inline">map</code> as its only argument. Returns a tuple with the first map containing all the elements in <code class="inline">map</code> for which applying <code class="inline">fun</code> returned a truthy value, and a second map with all the elements for which applying <code class="inline">fun</code> returned a falsy value (<code class="inline">false</code> or <code class="inline">nil</code>).</p>
<h4 id="split_with/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Map.split_with(%{a: 1, b: 2, c: 3, d: 4}, fn {_k, v} -&gt; rem(v, 2) == 0 end)
{%{b: 2, d: 4}, %{a: 1, c: 3}}

iex&gt; Map.split_with(%{a: 1, b: -2, c: 1, d: -3}, fn {k, _v} -&gt; k in [:b, :d] end)
{%{b: -2, d: -3}, %{a: 1, c: 1}}

iex&gt; Map.split_with(%{a: 1, b: -2, c: 1, d: -3}, fn {_k, v} -&gt; v &gt; 50 end)
{%{}, %{a: 1, b: -2, c: 1, d: -3}}

iex&gt; Map.split_with(%{}, fn {_k, v} -&gt; v &gt; 50 end)
{%{}, %{}}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="take/2">take(map, keys)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/map.ex#L470" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec take(map(), [key()]) :: map()</pre> </div> <p>Returns a new map with all the key-value pairs in <code class="inline">map</code> where the key is in <code class="inline">keys</code>.</p>
<p>If <code class="inline">keys</code> contains keys that are not in <code class="inline">map</code>, they're simply ignored.</p>
<h4 id="take/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Map.take(%{a: 1, b: 2, c: 3}, [:a, :c, :e])
%{a: 1, c: 3}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="to_list/1">to_list(map)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/map.ex#L188" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec to_list(map()) :: [{term(), term()}]</pre> </div> <p>Converts <code class="inline">map</code> to a list.</p>
<p>Each key-value pair in the map is converted to a two-element tuple <code class="inline">{key, value}</code> in the resulting list.</p>
<p>Inlined by the compiler.</p>
<h4 id="to_list/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Map.to_list(%{a: 1})
[a: 1]
iex&gt; Map.to_list(%{1 =&gt; 2})
[{1, 2}]</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="update/4">update(map, key, default, fun)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/map.ex#L673" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec update(map(), key(), default :: value(), (existing_value :: value() -&gt;
                                            new_value :: value())) ::
  map()</pre> </div> <p>Updates the <code class="inline">key</code> in <code class="inline">map</code> with the given function.</p>
<p>If <code class="inline">key</code> is present in <code class="inline">map</code> then the existing value is passed to <code class="inline">fun</code> and its result is used as the updated value of <code class="inline">key</code>. If <code class="inline">key</code> is not present in <code class="inline">map</code>, <code class="inline">default</code> is inserted as the value of <code class="inline">key</code>. The default value will not be passed through the update function.</p>
<h4 id="update/4-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Map.update(%{a: 1}, :a, 13, fn existing_value -&gt; existing_value * 2 end)
%{a: 2}
iex&gt; Map.update(%{a: 1}, :b, 11, fn existing_value -&gt; existing_value * 2 end)
%{a: 1, b: 11}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="update!/3">update!(map, key, fun)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/map.ex#L914" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec update!(map(), key(), (existing_value :: value() -&gt; new_value :: value())) ::
  map()</pre> </div> <p>Updates <code class="inline">key</code> with the given function.</p>
<p>If <code class="inline">key</code> is present in <code class="inline">map</code> then the existing value is passed to <code class="inline">fun</code> and its result is used as the updated value of <code class="inline">key</code>. If <code class="inline">key</code> is not present in <code class="inline">map</code>, a <a href="keyerror"><code class="inline">KeyError</code></a> exception is raised.</p>
<h4 id="update!/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Map.update!(%{a: 1}, :a, &amp;(&amp;1 * 2))
%{a: 2}

iex&gt; Map.update!(%{a: 1}, :b, &amp;(&amp;1 * 2))
** (KeyError) key :b not found in: %{a: 1}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="values/1">values(map)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/map.ex#L169" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec values(map()) :: [value()]</pre> </div> <p>Returns all values from <code class="inline">map</code>.</p>
<p>Inlined by the compiler.</p>
<h4 id="values/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">Map.values(%{a: 1, b: 2})
[1, 2]</pre> </section> </section> </div> </section> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/Map.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/Map.html</a>
  </p>
</div>
