<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/map_set.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">MapSet</span>  </h1> <section id="moduledoc"> <p>Functions that work on sets.</p>
<p>A set is a data structure that can contain unique elements of any kind, without any particular order. <a href="mapset"><code class="inline">MapSet</code></a> is the "go to" set data structure in Elixir.</p>
<p>A set can be constructed using <a href="#new/0"><code class="inline">MapSet.new/0</code></a>:</p>
<pre data-language="elixir">iex&gt; MapSet.new()
MapSet.new([])</pre>
<p>Elements in a set don't have to be of the same type and they can be populated from an <a href="enumerable#t:t/0">enumerable</a> using <a href="#new/1"><code class="inline">MapSet.new/1</code></a>:</p>
<pre data-language="elixir">iex&gt; MapSet.new([1, :two, {"three"}])
MapSet.new([1, :two, {"three"}])</pre>
<p>Elements can be inserted using <a href="#put/2"><code class="inline">MapSet.put/2</code></a>:</p>
<pre data-language="elixir">iex&gt; MapSet.new([2]) |&gt; MapSet.put(4) |&gt; MapSet.put(0)
MapSet.new([0, 2, 4])</pre>
<p>By definition, sets can't contain duplicate elements: when inserting an element in a set where it's already present, the insertion is simply a no-op.</p>
<pre data-language="elixir">iex&gt; map_set = MapSet.new()
iex&gt; MapSet.put(map_set, "foo")
MapSet.new(["foo"])
iex&gt; map_set |&gt; MapSet.put("foo") |&gt; MapSet.put("foo")
MapSet.new(["foo"])</pre>
<p>A <a href="mapset"><code class="inline">MapSet</code></a> is represented internally using the <code class="inline">%MapSet{}</code> struct. This struct can be used whenever there's a need to pattern match on something being a <a href="mapset"><code class="inline">MapSet</code></a>:</p>
<pre data-language="elixir">iex&gt; match?(%MapSet{}, MapSet.new())
true</pre>
<p>Note that, however, the struct fields are private and must not be accessed directly; use the functions in this module to perform operations on sets.</p>
<p><a href="mapset"><code class="inline">MapSet</code></a>s can also be constructed starting from other collection-type data structures: for example, see <a href="#new/1"><code class="inline">MapSet.new/1</code></a> or <a href="enum#into/2"><code class="inline">Enum.into/2</code></a>.</p>
<p><a href="mapset"><code class="inline">MapSet</code></a> is built on top of Erlang's <a href="https://www.erlang.org/doc/man/sets.html"><code class="inline">:sets</code></a> (version 2). This means that they share many properties, including logarithmic time complexity. Erlang <code class="inline">:sets</code> (version 2) are implemented on top of maps, so see the documentation for <a href="map"><code class="inline">Map</code></a> for more information on its execution time complexity.</p> </section> </div> <section id="summary" class="details-list"> <h1 class="section-heading">  <span class="text">Summary</span> </h1> <h2> Types </h2>
<dl class="summary-types summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#t:internal/1" data-no-tooltip translate="no">internal(value)</a> </dt> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:t/0" data-no-tooltip translate="no">t()</a> </dt> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:t/1" data-no-tooltip translate="no">t(value)</a> </dt> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:value/0" data-no-tooltip translate="no">value()</a> </dt> </div> </dl> <h2> Functions </h2>
<dl class="summary-functions summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#delete/2" data-no-tooltip translate="no">delete(map_set, value)</a> </dt> <dd class="summary-synopsis"><p>Deletes <code class="inline">value</code> from <code class="inline">map_set</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#difference/2" data-no-tooltip translate="no">difference(map_set1, map_set2)</a> </dt> <dd class="summary-synopsis"><p>Returns a set that is <code class="inline">map_set1</code> without the members of <code class="inline">map_set2</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#disjoint?/2" data-no-tooltip translate="no">disjoint?(map_set1, map_set2)</a> </dt> <dd class="summary-synopsis"><p>Checks if <code class="inline">map_set1</code> and <code class="inline">map_set2</code> have no members in common.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#equal?/2" data-no-tooltip translate="no">equal?(map_set1, map_set2)</a> </dt> <dd class="summary-synopsis"><p>Checks if two sets are equal.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#filter/2" data-no-tooltip translate="no">filter(map_set, fun)</a> </dt> <dd class="summary-synopsis"><p>Filters the set by returning only the elements from <code class="inline">map_set</code> for which invoking <code class="inline">fun</code> returns a truthy value.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#intersection/2" data-no-tooltip translate="no">intersection(map_set1, map_set2)</a> </dt> <dd class="summary-synopsis"><p>Returns a set containing only members that <code class="inline">map_set1</code> and <code class="inline">map_set2</code> have in common.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#member?/2" data-no-tooltip translate="no">member?(map_set, value)</a> </dt> <dd class="summary-synopsis"><p>Checks if <code class="inline">map_set</code> contains <code class="inline">value</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#new/0" data-no-tooltip translate="no">new()</a> </dt> <dd class="summary-synopsis"><p>Returns a new set.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#new/1" data-no-tooltip translate="no">new(enumerable)</a> </dt> <dd class="summary-synopsis"><p>Creates a set from an enumerable.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#new/2" data-no-tooltip translate="no">new(enumerable, transform)</a> </dt> <dd class="summary-synopsis"><p>Creates a set from an enumerable via the transformation function.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#put/2" data-no-tooltip translate="no">put(map_set, value)</a> </dt> <dd class="summary-synopsis"><p>Inserts <code class="inline">value</code> into <code class="inline">map_set</code> if <code class="inline">map_set</code> doesn't already contain it.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#reject/2" data-no-tooltip translate="no">reject(map_set, fun)</a> </dt> <dd class="summary-synopsis"><p>Returns a set by excluding the elements from <code class="inline">map_set</code> for which invoking <code class="inline">fun</code> returns a truthy value.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#size/1" data-no-tooltip translate="no">size(map_set)</a> </dt> <dd class="summary-synopsis"><p>Returns the number of elements in <code class="inline">map_set</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#split_with/2" data-no-tooltip translate="no">split_with(map_set, fun)</a> </dt> <dd class="summary-synopsis"><p>Splits the <code class="inline">map_set</code> into two <a href="mapset"><code class="inline">MapSet</code></a>s according to the given function <code class="inline">fun</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#subset?/2" data-no-tooltip translate="no">subset?(map_set1, map_set2)</a> </dt> <dd class="summary-synopsis"><p>Checks if <code class="inline">map_set1</code>'s members are all contained in <code class="inline">map_set2</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#symmetric_difference/2" data-no-tooltip translate="no">symmetric_difference(map_set1, map_set2)</a> </dt> <dd class="summary-synopsis"><p>Returns a set with elements that are present in only one but not both sets.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#to_list/1" data-no-tooltip translate="no">to_list(map_set)</a> </dt> <dd class="summary-synopsis"><p>Converts <code class="inline">map_set</code> to a list.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#union/2" data-no-tooltip translate="no">union(map_set1, map_set2)</a> </dt> <dd class="summary-synopsis"><p>Returns a set containing all members of <code class="inline">map_set1</code> and <code class="inline">map_set2</code>.</p></dd> </div> </dl> </section> <section id="types" class="details-list"> <h1 class="section-heading">  <span class="text">Types</span> </h1> <div class="types-list"> <section class="detail"> <h3 class="detail-header" id="t:internal/1">internal(value)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/map_set.ex#L55" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@opaque internal(value)</pre> </div> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:t/0">t()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/map_set.ex#L57" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type t() :: t(term())</pre> </div> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:t/1">t(value)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/map_set.ex#L56" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type t(value) :: %MapSet{map: internal(value)}</pre> </div> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:value/0">value()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/map_set.ex#L53" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type value() :: term()</pre> </div> </section> </section> </div> </section> <section id="functions" class="details-list"> <h1 class="section-heading">  <span class="text">Functions</span> </h1> <div class="functions-list"> <section class="detail"> <h3 class="detail-header" id="delete/2">delete(map_set, value)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/map_set.ex#L137" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec delete(t(val1), val2) :: t(val1) when val1: value(), val2: value()</pre> </div> <p>Deletes <code class="inline">value</code> from <code class="inline">map_set</code>.</p>
<p>Returns a new set which is a copy of <code class="inline">map_set</code> but without <code class="inline">value</code>.</p>
<h4 id="delete/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; map_set = MapSet.new([1, 2, 3])
iex&gt; MapSet.delete(map_set, 4)
MapSet.new([1, 2, 3])
iex&gt; MapSet.delete(map_set, 2)
MapSet.new([1, 3])</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="difference/2">difference(map_set1, map_set2)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/map_set.ex#L151" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec difference(t(val1), t(val2)) :: t(val1) when val1: value(), val2: value()</pre> </div> <p>Returns a set that is <code class="inline">map_set1</code> without the members of <code class="inline">map_set2</code>.</p>
<h4 id="difference/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; MapSet.difference(MapSet.new([1, 2]), MapSet.new([2, 3, 4]))
MapSet.new([1])</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="disjoint?/2">disjoint?(map_set1, map_set2)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/map_set.ex#L193" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec disjoint?(t(), t()) :: boolean()</pre> </div> <p>Checks if <code class="inline">map_set1</code> and <code class="inline">map_set2</code> have no members in common.</p>
<h4 id="disjoint?/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; MapSet.disjoint?(MapSet.new([1, 2]), MapSet.new([3, 4]))
true
iex&gt; MapSet.disjoint?(MapSet.new([1, 2]), MapSet.new([2, 3]))
false</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="equal?/2">equal?(map_set1, map_set2)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/map_set.ex#L215" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec equal?(t(), t()) :: boolean()</pre> </div> <p>Checks if two sets are equal.</p>
<p>The comparison between elements is done using <a href="kernel#===/2"><code class="inline">===/2</code></a>, which a set with <code class="inline">1</code> is not equivalent to a set with <code class="inline">1.0</code>.</p>
<h4 id="equal?/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; MapSet.equal?(MapSet.new([1, 2]), MapSet.new([2, 1, 1]))
true
iex&gt; MapSet.equal?(MapSet.new([1, 2]), MapSet.new([3, 4]))
false
iex&gt; MapSet.equal?(MapSet.new([1]), MapSet.new([1.0]))
false</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="filter/2">filter(map_set, fun)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/map_set.ex#L353" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec filter(t(a), (a -&gt; as_boolean(term()))) :: t(a) when a: value()</pre> </div> <p>Filters the set by returning only the elements from <code class="inline">map_set</code> for which invoking <code class="inline">fun</code> returns a truthy value.</p>
<p>Also see <a href="#reject/2"><code class="inline">reject/2</code></a> which discards all elements where the function returns a truthy value.</p>
<blockquote>
<h4 class="tip">Performance considerations</h4>
<p>If you find yourself doing multiple calls to <a href="#filter/2"><code class="inline">MapSet.filter/2</code></a> and <a href="#reject/2"><code class="inline">MapSet.reject/2</code></a> in a pipeline, it is likely more efficient to use <a href="enum#map/2"><code class="inline">Enum.map/2</code></a> and <a href="enum#filter/2"><code class="inline">Enum.filter/2</code></a> instead and convert to a map at the end using <a href="#new/1"><code class="inline">MapSet.new/1</code></a>.</p>
</blockquote>
<h4 id="filter/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; MapSet.filter(MapSet.new(1..5), fn x -&gt; x &gt; 3 end)
MapSet.new([4, 5])

iex&gt; MapSet.filter(MapSet.new(["a", :b, "c"]), &amp;is_atom/1)
MapSet.new([:b])</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="intersection/2">intersection(map_set1, map_set2)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/map_set.ex#L232" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec intersection(t(val), t(val)) :: t(val) when val: value()</pre> </div> <p>Returns a set containing only members that <code class="inline">map_set1</code> and <code class="inline">map_set2</code> have in common.</p>
<h4 id="intersection/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; MapSet.intersection(MapSet.new([1, 2]), MapSet.new([2, 3, 4]))
MapSet.new([2])

iex&gt; MapSet.intersection(MapSet.new([1, 2]), MapSet.new([3, 4]))
MapSet.new([])</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="member?/2">member?(map_set, value)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/map_set.ex#L248" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec member?(t(), value()) :: boolean()</pre> </div> <p>Checks if <code class="inline">map_set</code> contains <code class="inline">value</code>.</p>
<h4 id="member?/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; MapSet.member?(MapSet.new([1, 2, 3]), 2)
true
iex&gt; MapSet.member?(MapSet.new([1, 2, 3]), 4)
false</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="new/0">new()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/map_set.ex#L76" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec new() :: t()</pre> </div> <p>Returns a new set.</p>
<h4 id="new/0-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; MapSet.new()
MapSet.new([])</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="new/1">new(enumerable)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/map_set.ex#L90" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec new(Enumerable.t()) :: t()</pre> </div> <p>Creates a set from an enumerable.</p>
<h4 id="new/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; MapSet.new([:b, :a, 3])
MapSet.new([3, :a, :b])
iex&gt; MapSet.new([3, 3, 3, 2, 2, 1])
MapSet.new([1, 2, 3])</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="new/2">new(enumerable, transform)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/map_set.ex#L113" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec new(Enumerable.t(), (term() -&gt; val)) :: t(val) when val: value()</pre> </div> <p>Creates a set from an enumerable via the transformation function.</p>
<h4 id="new/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; MapSet.new([1, 2, 1], fn x -&gt; 2 * x end)
MapSet.new([2, 4])</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="put/2">put(map_set, value)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/map_set.ex#L264" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec put(t(val), new_val) :: t(val | new_val) when val: value(), new_val: value()</pre> </div> <p>Inserts <code class="inline">value</code> into <code class="inline">map_set</code> if <code class="inline">map_set</code> doesn't already contain it.</p>
<h4 id="put/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; MapSet.put(MapSet.new([1, 2, 3]), 3)
MapSet.new([1, 2, 3])
iex&gt; MapSet.put(MapSet.new([1, 2, 3]), 4)
MapSet.new([1, 2, 3, 4])</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="reject/2">reject(map_set, fun)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/map_set.ex#L375" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec reject(t(a), (a -&gt; as_boolean(term()))) :: t(a) when a: value()</pre> </div> <p>Returns a set by excluding the elements from <code class="inline">map_set</code> for which invoking <code class="inline">fun</code> returns a truthy value.</p>
<p>See also <a href="#filter/2"><code class="inline">filter/2</code></a>.</p>
<h4 id="reject/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; MapSet.reject(MapSet.new(1..5), fn x -&gt; rem(x, 2) != 0 end)
MapSet.new([2, 4])

iex&gt; MapSet.reject(MapSet.new(["a", :b, "c"]), &amp;is_atom/1)
MapSet.new(["a", "c"])</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="size/1">size(map_set)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/map_set.ex#L278" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec size(t()) :: non_neg_integer()</pre> </div> <p>Returns the number of elements in <code class="inline">map_set</code>.</p>
<h4 id="size/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; MapSet.size(MapSet.new([1, 2, 3]))
3</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="split_with/2">split_with(map_set, fun)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/map_set.ex#L405" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec split_with(t(), (any() -&gt; as_boolean(term()))) :: {t(), t()}</pre> </div> <p>Splits the <code class="inline">map_set</code> into two <a href="mapset"><code class="inline">MapSet</code></a>s according to the given function <code class="inline">fun</code>.</p>
<p><code class="inline">fun</code> receives each element in the <code class="inline">map_set</code> as its only argument. Returns a tuple with the first <a href="mapset"><code class="inline">MapSet</code></a> containing all the elements in <code class="inline">map_set</code> for which applying <code class="inline">fun</code> returned a truthy value, and a second <a href="mapset"><code class="inline">MapSet</code></a> with all the elements for which applying <code class="inline">fun</code> returned a falsy value (<code class="inline">false</code> or <code class="inline">nil</code>).</p>
<h4 id="split_with/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; {while_true, while_false} = MapSet.split_with(MapSet.new([1, 2, 3, 4]), fn v -&gt; rem(v, 2) == 0 end)
iex&gt; while_true
MapSet.new([2, 4])
iex&gt; while_false
MapSet.new([1, 3])

iex&gt; {while_true, while_false} = MapSet.split_with(MapSet.new(), fn {_k, v} -&gt; v &gt; 50 end)
iex&gt; while_true
MapSet.new([])
iex&gt; while_false
MapSet.new([])</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="subset?/2">subset?(map_set1, map_set2)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/map_set.ex#L296" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec subset?(t(), t()) :: boolean()</pre> </div> <p>Checks if <code class="inline">map_set1</code>'s members are all contained in <code class="inline">map_set2</code>.</p>
<p>This function checks if <code class="inline">map_set1</code> is a subset of <code class="inline">map_set2</code>.</p>
<h4 id="subset?/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; MapSet.subset?(MapSet.new([1, 2]), MapSet.new([1, 2, 3]))
true
iex&gt; MapSet.subset?(MapSet.new([1, 2, 3]), MapSet.new([1, 2]))
false</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="symmetric_difference/2">symmetric_difference(map_set1, map_set2)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/map_set.ex#L166" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec symmetric_difference(t(val1), t(val2)) :: t(val1 | val2)
when val1: value(), val2: value()</pre> </div> <p>Returns a set with elements that are present in only one but not both sets.</p>
<h4 id="symmetric_difference/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; MapSet.symmetric_difference(MapSet.new([1, 2, 3]), MapSet.new([2, 3, 4]))
MapSet.new([1, 4])</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="to_list/1">to_list(map_set)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/map_set.ex#L310" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec to_list(t(val)) :: [val] when val: value()</pre> </div> <p>Converts <code class="inline">map_set</code> to a list.</p>
<h4 id="to_list/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; MapSet.to_list(MapSet.new([1, 2, 3]))
[1, 2, 3]</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="union/2">union(map_set1, map_set2)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/map_set.ex#L324" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec union(t(val1), t(val2)) :: t(val1 | val2) when val1: value(), val2: value()</pre> </div> <p>Returns a set containing all members of <code class="inline">map_set1</code> and <code class="inline">map_set2</code>.</p>
<h4 id="union/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; MapSet.union(MapSet.new([1, 2]), MapSet.new([2, 3, 4]))
MapSet.new([1, 2, 3, 4])</pre> </section> </section> </div> </section> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/MapSet.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/MapSet.html</a>
  </p>
</div>
