<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/exception.ex#L1113" title="View Source" class="source" rel="help">Source</a> <span translate="no">MismatchedDelimiterError</span> <small>exception</small>  </h1> <section id="moduledoc"> <p>An exception raised when a mismatched delimiter is found when parsing code.</p>
<p>For example:</p>
<ul>
<li><code class="inline">[1, 2, 3}</code></li>
<li><code class="inline">fn a -&gt; )</code></li>
</ul>
<p>The following fields of this exceptions are public and can be accessed freely:</p>
<ul>
<li>
<code class="inline">:file</code> (<a href="path#t:t/0"><code class="inline">Path.t/0</code></a> or <code class="inline">nil</code>) - the file where the error occurred, or <code class="inline">nil</code> if the error occurred in code that did not come from a file</li>
<li>
<code class="inline">:line</code> - the line for the opening delimiter</li>
<li>
<code class="inline">:column</code> - the column for the opening delimiter</li>
<li>
<code class="inline">:end_line</code> - the line for the mismatched closing delimiter</li>
<li>
<code class="inline">:end_column</code> - the column for the mismatched closing delimiter</li>
<li>
<code class="inline">:opening_delimiter</code> - an atom representing the opening delimiter</li>
<li>
<code class="inline">:closing_delimiter</code> - an atom representing the mismatched closing delimiter</li>
<li>
<code class="inline">:expected_delimiter</code> - an atom representing the closing delimiter</li>
<li>
<code class="inline">:description</code> - a description of the mismatched delimiter error</li>
</ul> </section> </div> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/MismatchedDelimiterError.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/MismatchedDelimiterError.html</a>
  </p>
</div>
