<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/tasks/compile.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">mix compile</span>  </h1> <section id="moduledoc"> <p>The main entry point to compile source files.</p>
<p>It simply runs the compilers registered in your project and returns a tuple with the compilation status and a list of diagnostics.</p>
<p>Before compiling code, it performs a series of checks to ensure all dependencies are compiled and the project is up to date. Then the code path of your Elixir system is pruned to only contain the dependencies and applications that you have explicitly listed in your <code class="inline">mix.exs</code>.</p>
<h2 id="module-configuration" class="section-heading">  <span class="text">Configuration</span> </h2> <ul>
<li><p><code class="inline">:build_embedded</code> - this option was used to copy all code and priv content to the <code class="inline">_build</code> directory. However, this option no longer has an effect as Elixir will now copy those at release time</p></li>
<li><p><code class="inline">:compilers</code> - compilers to run, defaults to <a href="mix#compilers/0"><code class="inline">Mix.compilers/0</code></a>, which are <code class="inline">[:erlang, :elixir, :app]</code>.</p></li>
<li><p><code class="inline">:consolidate_protocols</code> - when <code class="inline">true</code>, runs protocol consolidation via the <a href="mix.tasks.compile.protocols"><code class="inline">mix compile.protocols</code></a> task. The default value is <code class="inline">true</code>.</p></li>
<li><p><code class="inline">:build_path</code> - the directory where build artifacts should be written to. This option is intended only for child apps within a larger umbrella application so that each child app can use the common <code class="inline">_build</code> directory of the parent umbrella. In a non-umbrella context, configuring this has undesirable side-effects (such as skipping some compiler checks) and should be avoided.</p></li>
<li><p><code class="inline">:prune_code_paths</code> - prune code paths before compilation. When true (default), this prunes code paths of applications that are not listed in the project file with dependencies. When false, this keeps the entirety of Erlang/OTP available when the project starts, including the paths set by the code loader from the <code class="inline">ERL_LIBS</code> environment as well as explicitly listed by providing <code class="inline">-pa</code> and <code class="inline">-pz</code> options to Erlang.</p></li>
</ul>
<h2 id="module-compilers" class="section-heading">  <span class="text">Compilers</span> </h2> <p>To see documentation for each specific compiler, you must invoke <code class="inline">help</code> directly for the compiler command:</p>
<pre data-language="elixir">$ mix help compile.elixir
$ mix help compile.erlang
</pre>
<p>You can get a list of all compilers by running:</p>
<pre data-language="elixir">$ mix compile --list
</pre>
<h2 id="module-command-line-options" class="section-heading">  <span class="text">Command line options</span> </h2> <ul>
<li>
<code class="inline">--all-warnings</code> (<code class="inline">--no-all-warnings</code>) - prints all warnings, including previous compilations (default is true except on errors)</li>
<li>
<code class="inline">--erl-config</code> - path to an Erlang term file that will be loaded as Mix config</li>
<li>
<code class="inline">--force</code> - forces compilation</li>
<li>
<code class="inline">--list</code> - lists all enabled compilers</li>
<li>
<code class="inline">--no-app-loading</code> - does not load .app resource file after compilation</li>
<li>
<code class="inline">--no-archives-check</code> - skips checking of archives</li>
<li>
<code class="inline">--no-compile</code> - does not actually compile, only loads code and perform checks</li>
<li>
<code class="inline">--no-deps-check</code> - skips checking of dependencies</li>
<li>
<code class="inline">--no-elixir-version-check</code> - does not check Elixir version</li>
<li>
<code class="inline">--no-optional-deps</code> - does not compile or load optional deps. Useful for testing if a library still successfully compiles without optional dependencies (which is the default case with dependencies)</li>
<li>
<code class="inline">--no-prune-code-paths</code> - do not prune code paths before compilation, this keeps the entirety of Erlang/OTP available when the project starts</li>
<li>
<code class="inline">--no-protocol-consolidation</code> - skips protocol consolidation</li>
<li>
<code class="inline">--no-validate-compile-env</code> - does not validate the application compile environment</li>
<li>
<code class="inline">--return-errors</code> - returns error status and diagnostics instead of exiting on error</li>
<li>
<code class="inline">--warnings-as-errors</code> - exit with non-zero status if compilation has one or more warnings</li>
</ul> </section> </div> <section id="summary" class="details-list"> <h1 class="section-heading">  <span class="text">Summary</span> </h1> <h2> Functions </h2>
<dl class="summary-functions summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#compilers/1" data-no-tooltip translate="no">compilers(config \\ Mix.Project.config())</a> </dt> <dd class="summary-synopsis"><p>Returns all compilers for the current project.</p></dd> </div> </dl> </section> <section id="functions" class="details-list"> <h1 class="section-heading">  <span class="text">Functions</span> </h1> <div class="functions-list"> <section class="detail">  <h3 class="detail-header" id="compilers/1">compilers(config \\ Mix.Project.config())<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/tasks/compile.ex#L84" class="source">Source</a>
</h3> <section class="docstring"> <p>Returns all compilers for the current project.</p> </section> </section> </div> </section> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="mix.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/mix/1.17.2/Mix.Tasks.Compile.html" class="_attribution-link">https://hexdocs.pm/mix/1.17.2/Mix.Tasks.Compile.html</a>
  </p>
</div>
