<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/tasks/eval.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">mix eval</span>  </h1> <section id="moduledoc"> <p>Evaluates the given code within a configured application.</p>
<pre data-language="elixir">$ mix eval "IO.puts(1 + 2)"
</pre>
<p>The given code is evaluated after the current application has been configured but without loading or starting them (some applications may be loaded as part of booting but that's not guaranteed). See <a href="mix.tasks.run"><code class="inline">mix run</code></a> for running your application and scripts within a started application.</p>
<p>This task is designed to mirror the <code class="inline">bin/my_app eval</code> command in releases. It is typically used to invoke functions already defined within your application. For example, you may have a module such as:</p>
<pre data-language="elixir">defmodule MyApp.ReleaseTasks do
  def migrate_database do
    Application.load(:my_app)
    ...
  end
end</pre>
<p>Once defined, you can invoke this function either via <a href="mix.tasks.eval"><code class="inline">mix eval</code></a> or via <code class="inline">bin/my_app eval</code> inside a release as follows:</p>
<pre data-language="elixir">$ mix eval MyApp.ReleaseTasks.migrate_database
$ bin/my_app eval MyApp.ReleaseTasks.migrate_database
</pre>
<p>As you can see, the current application has to be either explicitly loaded or started in your tasks, either by calling <a href="https://hexdocs.pm/elixir/Application.html#load/1"><code class="inline">Application.load/1</code></a> or <a href="https://hexdocs.pm/elixir/Application.html#ensure_all_started/1"><code class="inline">Application.ensure_all_started/1</code></a>. This gives you full control over the application booting life cycle. For more information, see the <a href="https://hexdocs.pm/elixir/Application.html"><code class="inline">Application</code></a> module.</p>
<p>This task is automatically re-enabled, so it can be called multiple times with different arguments.</p>
<h2 id="module-command-line-options" class="section-heading">  <span class="text">Command-line options</span> </h2> <ul>
<li>
<code class="inline">--no-archives-check</code> - does not check archives</li>
<li>
<code class="inline">--no-compile</code> - does not compile even if files require compilation</li>
<li>
<code class="inline">--no-deps-check</code> - does not check dependencies</li>
<li>
<code class="inline">--no-elixir-version-check</code> - does not check the Elixir version from mix.exs</li>
<li>
<code class="inline">--no-mix-exs</code> - allows the command to run even if there is no mix.exs</li>
</ul> </section> </div> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="mix.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/mix/1.17.2/Mix.Tasks.Eval.html" class="_attribution-link">https://hexdocs.pm/mix/1.17.2/Mix.Tasks.Eval.html</a>
  </p>
</div>
