<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/tasks/compile.elixir.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">mix compile.elixir</span>  </h1> <section id="moduledoc"> <p>Compiles Elixir source files.</p>
<p>Elixir is smart enough to recompile only files that have changed and their dependencies. This means if <code class="inline">lib/a.ex</code> is invoking a function defined over <code class="inline">lib/b.ex</code> at compile time, whenever <code class="inline">lib/b.ex</code> changes, <code class="inline">lib/a.ex</code> is also recompiled.</p>
<p>Note Elixir considers a file as changed if its source file has changed on disk since the last compilation AND its contents are no longer the same.</p>
<h2 id="module-external_resource" class="section-heading">  <span class="text"><code class="inline">@external_resource</code></span> </h2> <p>If a module depends on external files, those can be annotated with the <code class="inline">@external_resource</code> module attribute. If these files change, the Elixir module is automatically recompiled.</p>
<h2 id="module-__mix_recompile__-0" class="section-heading">  <span class="text"><code class="inline">__mix_recompile__?/0</code></span> </h2> <p>A module may export a <code class="inline">__mix_recompile__?/0</code> function that can cause the module to be recompiled using custom rules. For example, to recompile whenever a file is changed in a given directory, you can use a combination of <code class="inline">@external_resource</code> for existing files and a <code class="inline">__mix_recompile__?/0</code> check to verify when new entries are added to the directory itself:</p>
<pre data-language="elixir">defmodule MyModule do
  paths = Path.wildcard("*.txt")
  @paths_hash :erlang.md5(paths)

  for path &lt;- paths do
    @external_resource path
  end

  def __mix_recompile__?() do
    Path.wildcard("*.txt") |&gt; :erlang.md5() != @paths_hash
  end
end</pre>
<p>Compiler calls <code class="inline">__mix_recompile__?/0</code> for every module being compiled (or previously compiled) and thus it is very important to do there as little work as possible to not slow down the compilation.</p>
<p>If module has <code class="inline">@compile {:autoload, false}</code>, <code class="inline">__mix_recompile__?/0</code> will not be used.</p>
<h2 id="module-command-line-options" class="section-heading">  <span class="text">Command line options</span> </h2> <ul>
<li>
<code class="inline">--all-warnings</code> (<code class="inline">--no-all-warnings</code>) - prints all warnings, including previous compilations (default is true except on errors)</li>
<li>
<code class="inline">--docs</code> (<code class="inline">--no-docs</code>) - attaches (or not) documentation to compiled modules</li>
<li>
<code class="inline">--debug-info</code> (<code class="inline">--no-debug-info</code>) - attaches (or not) debug info to compiled modules</li>
<li>
<code class="inline">--force</code> - forces compilation regardless of modification times</li>
<li>
<code class="inline">--ignore-module-conflict</code> - does not emit warnings if a module was previously defined</li>
<li>
<code class="inline">--long-compilation-threshold N</code> - sets the "long compilation" threshold (in seconds) to <code class="inline">N</code> (see the docs for <a href="https://hexdocs.pm/elixir/Kernel.ParallelCompiler.html#compile/2"><code class="inline">Kernel.ParallelCompiler.compile/2</code></a>)</li>
<li>
<code class="inline">--purge-consolidation-path-if-stale PATH</code> - deletes and purges modules in the given protocol consolidation path if compilation is required</li>
<li>
<code class="inline">--profile</code> - if set to <code class="inline">time</code>, outputs timing information of compilation steps</li>
<li>
<code class="inline">--tracer</code> - adds a compiler tracer in addition to any specified in the <code class="inline">mix.exs</code> file</li>
<li>
<code class="inline">--verbose</code> - prints each file being compiled</li>
<li>
<code class="inline">--warnings-as-errors</code> - exit with non-zero status if compilation has one or more warnings</li>
</ul>
<h2 id="module-configuration" class="section-heading">  <span class="text">Configuration</span> </h2> <ul>
<li><p><code class="inline">:elixirc_paths</code> - directories to find source files. Defaults to <code class="inline">["lib"]</code>.</p></li>
<li><p><code class="inline">:elixirc_options</code> - compilation options that apply to Elixir's compiler. See <a href="https://hexdocs.pm/elixir/Code.html#put_compiler_option/2"><code class="inline">Code.put_compiler_option/2</code></a> for a complete list of options. These options are often overridable from the command line using the switches above.</p></li>
<li><p><code class="inline">[xref: [exclude: ...]]</code> - a list of <code class="inline">module</code> or <code class="inline">{module, function, arity}</code> that should not be warned on in case on undefined modules or undefined application warnings.</p></li>
</ul> </section> </div> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="mix.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/mix/1.17.2/Mix.Tasks.Compile.Elixir.html" class="_attribution-link">https://hexdocs.pm/mix/1.17.2/Mix.Tasks.Compile.Elixir.html</a>
  </p>
</div>
