<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/tasks/deps.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">mix deps</span>  </h1> <section id="moduledoc"> <p>Lists all dependencies and their status.</p>
<p>Dependencies must be specified in the <code class="inline">mix.exs</code> file in one of the following formats:</p>
<pre data-language="elixir">{app, requirement}
{app, opts}
{app, requirement, opts}</pre>
<p>Where:</p>
<ul>
<li>app is an atom</li>
<li>requirement is a <a href="https://hexdocs.pm/elixir/Version.html"><code class="inline">Version</code></a> requirement or a regular expression</li>
<li>opts is a keyword list of options</li>
</ul>
<p>For example:</p>
<pre data-language="elixir">{:plug, "&gt;= 0.4.0"}
{:gettext, git: "https://github.com/elixir-lang/gettext.git", tag: "0.1"}
{:local_dependency, path: "path/to/local_dependency"}</pre>
<p>By default, dependencies are fetched using the <a href="https://hex.pm/">Hex package manager</a>:</p>
<pre data-language="elixir">{:plug, "&gt;= 0.4.0"}</pre>
<p>By specifying such dependencies, Mix will automatically install Hex (if it wasn't previously installed) and download a package suitable to your project. Note Hex expects the dependency requirement to always be given and it will warn otherwise.</p>
<p>Mix also supports Git and path dependencies:</p>
<pre data-language="elixir">{:foobar, git: "https://github.com/elixir-lang/foobar.git", tag: "0.1"}
{:foobar, path: "path/to/foobar"}</pre>
<p>And also in umbrella dependencies:</p>
<pre data-language="elixir">{:my_app, in_umbrella: true}</pre>
<p>Path and in umbrella dependencies are automatically recompiled by the parent project whenever they change. While fetchable dependencies, like the ones using <code class="inline">:git</code>, are recompiled only when fetched/updated.</p>
<p>The dependencies' versions are expected to be formatted according to Semantic Versioning and the requirements must be specified as defined in the <a href="https://hexdocs.pm/elixir/Version.html"><code class="inline">Version</code></a> module.</p>
<h2 id="module-options" class="section-heading">  <span class="text">Options</span> </h2> <p>Below we provide a more detailed look into the available options.</p>
<h3 id="module-dependency-definition-options" class="section-heading">  <span class="text">Dependency definition options</span> </h3> <ul>
<li><p><code class="inline">:app</code> - when set to <code class="inline">false</code>, does not read the app file for this dependency. By default, the app file is read</p></li>
<li><p><code class="inline">:env</code> - the environment (as an atom) to run the dependency on; defaults to <code class="inline">:prod</code>. This is not necessary for dependencies on other apps within the same umbrella project, see the <code class="inline">:in_umbrella</code> option below.</p></li>
<li><p><code class="inline">:compile</code> - a command (string) to compile the dependency; defaults to a <code class="inline">mix</code>, <code class="inline">rebar</code> or <code class="inline">make</code> command</p></li>
<li><p><code class="inline">:optional</code> - marks the dependency as optional. In such cases, the current project will always include the optional dependency but any other project that depends on the current project won't be forced to use the optional dependency. However, if the other project includes the optional dependency on its own, the requirements and options specified here will also be applied. Optional dependencies will <em>not</em> be started by the application.</p></li>
<li><p><code class="inline">:only</code> - the dependency is made available only in the given environments, useful when declaring dev- or test-only dependencies; by default the dependency will be available in all environments. The value of this option can either be a single environment (like <code class="inline">:dev</code>) or a list of environments (like <code class="inline">[:dev, :test]</code>)</p></li>
<li><p><code class="inline">:targets</code> - the dependency is made available only for the given targets. By default the dependency will be available in all targets. The value of this option can either be a single target (like <code class="inline">:host</code>) or a list of targets (like <code class="inline">[:host, :rpi3]</code>)</p></li>
<li><p><code class="inline">:override</code> - if set to <code class="inline">true</code> the dependency will override any other definitions of itself by other dependencies</p></li>
<li><p><code class="inline">:manager</code> - Mix can also compile Rebar3 and makefile projects and can fetch sub dependencies of Rebar3 projects. Mix will try to infer the type of project but it can be overridden with this option by setting it to <code class="inline">:mix</code>, <code class="inline">:rebar3</code>, or <code class="inline">:make</code>. In case there are conflicting definitions, the first manager in the list above will be picked up. For example, if a dependency is found with <code class="inline">:rebar3</code> as a manager in different part of the trees, <code class="inline">:rebar3</code> will be automatically picked. You can find the manager by running <a href="mix.tasks.deps"><code class="inline">mix deps</code></a> and override it by setting the <code class="inline">:override</code> option in a top-level project.</p></li>
<li><p><code class="inline">:runtime</code> - whether the dependency is part of runtime applications. If the <code class="inline">:applications</code> key is not provided in <code class="inline">def application</code> in your <code class="inline">mix.exs</code> file, Mix will automatically include all dependencies as a runtime application, except if <code class="inline">runtime: false</code> is given. Defaults to true.</p></li>
<li><p><code class="inline">:system_env</code> - an enumerable of key-value tuples of binaries to be set as environment variables when loading or compiling the dependency</p></li>
</ul>
<h3 id="module-git-options-git" class="section-heading">  <span class="text">Git options (<code class="inline">:git</code>)</span> </h3> <ul>
<li>
<code class="inline">:git</code> - the Git repository URI</li>
<li>
<code class="inline">:github</code> - a shortcut for specifying Git repos from GitHub, uses <code class="inline">:git</code>
</li>
<li>
<code class="inline">:ref</code> - the reference to checkout (may be a branch, a commit SHA or a tag)</li>
<li>
<code class="inline">:branch</code> - the Git branch to checkout</li>
<li>
<code class="inline">:tag</code> - the Git tag to checkout</li>
<li>
<code class="inline">:submodules</code> - when <code class="inline">true</code>, initialize submodules for the repo</li>
<li>
<code class="inline">:sparse</code> - checkout a single directory inside the Git repository and use it as your Mix dependency. Search "sparse Git checkouts" for more information.</li>
<li>
<code class="inline">:subdir</code> <em>(since v1.13.0)</em> - search for the project in the given directory relative to the git checkout. This is similar to <code class="inline">:sparse</code> option but instead of a doing a sparse checkout it does a full checkout.</li>
<li>
<code class="inline">:depth</code> <em>(since v1.17.0)</em> - creates a shallow clone of the Git repository, limiting the history to the specified number of commits. This can significantly improve clone speed for large repositories when full history is not needed. The value must be a positive integer, typically <code class="inline">1</code>. Cannot be used with the <code class="inline">:ref</code> option.</li>
</ul>
<p>If your Git repository requires authentication, such as basic username:password HTTP authentication via URLs, it can be achieved via Git configuration, keeping the access rules outside of source control.</p>
<pre data-language="elixir">$ git config --global url."https://YOUR_USER:YOUR_PASS@example.com/".insteadOf "https://example.com/"
</pre>
<p>For more information, see the <code class="inline">git config</code> documentation: <a href="https://git-scm.com/docs/git-config#git-config-urlltbasegtinsteadOf">https://git-scm.com/docs/git-config#git-config-urlltbasegtinsteadOf</a></p>
<h3 id="module-path-options-path" class="section-heading">  <span class="text">Path options (<code class="inline">:path</code>)</span> </h3> <ul>
<li>
<code class="inline">:path</code> - the path for the dependency</li>
<li>
<code class="inline">:in_umbrella</code> - when <code class="inline">true</code>, sets a path dependency pointing to <code class="inline">"../#{app}"</code>, sharing the same environment as the current application</li>
</ul>
<h3 id="module-hex-options-hex" class="section-heading">  <span class="text">Hex options (<code class="inline">:hex</code>)</span> </h3> <p>See the <a href="https://hex.pm/docs/usage">Hex usage documentation</a> for Hex options.</p>
<h2 id="module-deps-task" class="section-heading">  <span class="text">Deps task</span> </h2> <p><a href="mix.tasks.deps"><code class="inline">mix deps</code></a> task lists all dependencies in the following format:</p>
<pre data-language="elixir">APP VERSION (SCM) (MANAGER)
[locked at REF]
STATUS</pre>
<p>For dependencies satisfied by Hex, <code class="inline">REF</code> is the package checksum.</p>
<p>For dependencies satisfied by git, <code class="inline">REF</code> is the commit object name, and may include branch or tag information.</p>
<p>It supports the following options:</p>
<ul><li>
<code class="inline">--all</code> - lists all dependencies, regardless of specified environment</li></ul> </section> </div> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="mix.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/mix/1.17.2/Mix.Tasks.Deps.html" class="_attribution-link">https://hexdocs.pm/mix/1.17.2/Mix.Tasks.Deps.html</a>
  </p>
</div>
