<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/tasks/xref.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">mix xref</span>  </h1> <section id="moduledoc"> <p>Prints cross reference information between modules.</p>
<p>The <code class="inline">xref</code> task expects a mode as first argument:</p>
<pre data-language="elixir">$ mix xref MODE
</pre>
<p>All available modes are discussed below.</p>
<p>This task is automatically re-enabled, so you can print information multiple times in the same Mix invocation.</p>
<h2 id="module-mix-xref-callers-module" class="section-heading">  <span class="text">mix xref callers MODULE</span> </h2> <p>Prints all callers of the given module. Example:</p>
<pre data-language="elixir">$ mix xref callers MyMod
</pre>
<h2 id="module-mix-xref-trace-file" class="section-heading">  <span class="text">mix xref trace FILE</span> </h2> <p>Compiles the given file listing all dependencies within the same app. It includes the type and line for each one. Example:</p>
<pre data-language="elixir">$ mix xref trace lib/my_app/router.ex
</pre>
<p>The <code class="inline">--label</code> option may be given to keep only certain traces (compile, runtime or export):</p>
<pre data-language="elixir">$ mix xref trace lib/my_app/router.ex --label compile
</pre>
<p>If you have an umbrella application, we also recommend using the <code class="inline">--include-siblings</code> flag to see the dependencies from sibling applications. The <code class="inline">trace</code> command is not currently supported at the umbrella root.</p>
<h3 id="module-example" class="section-heading">  <span class="text">Example</span> </h3> <p>Imagine the given file lib/b.ex:</p>
<pre data-language="elixir">defmodule B do
  import A
  A.macro()
  macro()
  A.fun()
  fun()
  def calls_macro, do: A.macro()
  def calls_fun, do: A.fun()
  def calls_struct, do: %A{}
end</pre>
<p><code class="inline">mix xref trace</code> will print:</p>
<pre data-language="elixir">lib/b.ex:2: require A (export)
lib/b.ex:3: call A.macro/0 (compile)
lib/b.ex:4: import A.macro/0 (compile)
lib/b.ex:5: call A.fun/0 (compile)
lib/b.ex:6: call A.fun/0 (compile)
lib/b.ex:6: import A.fun/0 (compile)
lib/b.ex:7: call A.macro/0 (compile)
lib/b.ex:8: call A.fun/0 (runtime)
lib/b.ex:9: struct A (export)</pre>
<h2 id="module-mix-xref-graph" class="section-heading">  <span class="text">mix xref graph</span> </h2> <p>Emits a file dependency graph where an edge from <code class="inline">A</code> to <code class="inline">B</code> indicates that <code class="inline">A</code> (source) depends on <code class="inline">B</code> (sink).</p>
<pre data-language="elixir">$ mix xref graph --format stats
</pre>
<p>For any non-small project, the output of <code class="inline">mix xref graph</code> itself, without any additional flags, is not useful: once your project grows, it is hard to gather actionable feedback by looking at the graph as a whole. Instead, <code class="inline">mix xref graph</code> is better used as a "database", which can help you answer queries about your project.</p>
<p>The following options are accepted:</p>
<ul>
<li><p><code class="inline">--exclude</code> - path to exclude. Can be repeated to exclude multiple paths.</p></li>
<li><p><code class="inline">--label</code> - only shows relationships with the given label. The labels are "compile", "export" and "runtime". By default, the <code class="inline">--label</code> option simply filters the printed graph to show only relationships with the given label. You can pass <code class="inline">--only-direct</code> to trim the graph to only the nodes that have the direct relationship given by label. There is also a special label called "compile-connected" that keeps only compile-time files with at least one transitive dependency. See "Dependency types" section below.</p></li>
<li><p><code class="inline">--group</code> - provide comma-separated paths to consider as a group. Dependencies from and into multiple files of the group are considered a single dependency. Dependencies between the group elements are ignored. This is useful when you are computing compile and compile-connected dependencies and you want a series of files to be treated as one. The group is printed using the first path, with a <code class="inline">+</code> suffix. Can be repeated to create multiple groups.</p></li>
<li><p><code class="inline">--only-direct</code> - keeps only files with the direct relationship given by <code class="inline">--label</code></p></li>
<li><p><code class="inline">--only-nodes</code> - only shows the node names (no edges). Generally useful with the <code class="inline">--sink</code> flag</p></li>
<li><p><code class="inline">--source</code> - displays all files that the given source file references (directly or indirectly). Can be repeated to display references from multiple sources.</p></li>
<li><p><code class="inline">--sink</code> - displays all files that reference the given file (directly or indirectly). Can be repeated.</p></li>
<li><p><code class="inline">--min-cycle-size</code> - controls the minimum cycle size on formats like <code class="inline">stats</code> and <code class="inline">cycles</code></p></li>
<li>
<p><code class="inline">--format</code> - can be set to one of:</p>
<ul>
<li><p><code class="inline">pretty</code> - prints the graph to the terminal using Unicode characters. Each prints each file followed by the files it depends on. This is the default except on Windows;</p></li>
<li><p><code class="inline">plain</code> - the same as pretty except ASCII characters are used instead of Unicode characters. This is the default on Windows;</p></li>
<li><p><code class="inline">stats</code> - prints general statistics about the graph;</p></li>
<li><p><code class="inline">cycles</code> - prints all cycles in the graph;</p></li>
<li><p><code class="inline">dot</code> - produces a DOT graph description in <code class="inline">xref_graph.dot</code> in the current directory. Warning: this will override any previously generated file</p></li>
</ul>
</li>
<li>
<p><code class="inline">--output</code> <em>(since v1.15.0)</em> - can be set to one of</p>
<ul>
<li><p><code class="inline">-</code> - prints the output to standard output;</p></li>
<li><p>a path - writes the output graph to the given path</p></li>
</ul>
<p>Defaults to <code class="inline">xref_graph.dot</code> in the current directory.</p>
</li>
</ul>
<p>The <code class="inline">--source</code> and <code class="inline">--sink</code> options are particularly useful when trying to understand how the modules in a particular file interact with the whole system. You can combine those options with <code class="inline">--label</code> and <code class="inline">--only-nodes</code> to get all files that exhibit a certain property, for example:</p>
<pre data-language="elixir"># To show all compile-time relationships
$ mix xref graph --label compile

# To get the tree that depend on lib/foo.ex at compile time
$ mix xref graph --label compile --sink lib/foo.ex

# To get all files that depend on lib/foo.ex at compile time
$ mix xref graph --label compile --sink lib/foo.ex --only-nodes

# To get all paths between two files
$ mix xref graph --source lib/foo.ex --sink lib/bar.ex

# To show general statistics about the graph
$ mix xref graph --format stats</pre>
<h3 id="module-understanding-the-printed-graph" class="section-heading">  <span class="text">Understanding the printed graph</span> </h3> <p>When <code class="inline">mix xref graph</code> runs, it will print a tree of the following format. Imagine the following code:</p>
<pre data-language="elixir"># lib/a.ex
defmodule A do
  IO.puts B.hello()
end

# lib/b.ex
defmodule B do
  def hello, do: C.world()
end

# lib/c.ex
defmodule C do
  def world, do: "hello world"
end</pre>
<p>It will print:</p>
<pre data-language="elixir">$ mix xref graph
lib/a.ex
└── lib/b.ex (compile)
lib/b.ex
└── lib/c.ex
lib/c.ex
</pre>
<p>This tree means that <code class="inline">lib/a.ex</code> depends on <code class="inline">lib/b.ex</code> at compile time. And <code class="inline">lib/b.ex</code> depends on <code class="inline">lib/c.ex</code> at runtime. This is often problematic because if <code class="inline">lib/c.ex</code> changes, <code class="inline">lib/a.ex</code> also has to recompile due to this indirect compile time dependency. When you pass <code class="inline">--label compile</code>, the graph shows only the compile-time dependencies:</p>
<pre data-language="elixir">$ mix xref graph --label compile
lib/a.ex
└── lib/b.ex (compile)
</pre>
<p>The <code class="inline">--label compile</code> flag removes all non-compile dependencies. However, this can be misleading because having direct compile time dependencies is not necessarily an issue. The biggest concern, as mentioned above, are the transitive compile time dependencies. You can get all compile time dependencies that cause transitive compile time dependencies by using <code class="inline">--label compile-connected</code>:</p>
<pre data-language="elixir">$ mix xref graph --label compile-connected
lib/a.ex
└── lib/b.ex (compile)
</pre>
<p>The above says <code class="inline">lib/a.ex</code> depends on <code class="inline">lib/b.ex</code> and that causes transitive compile time dependencies - as we know, <code class="inline">lib/a.ex</code> also depends on <code class="inline">lib/c.ex</code>. We can retrieve those transitive dependencies by passing <code class="inline">lib/b.ex</code> as <code class="inline">--source</code> to <code class="inline">mix xref graph</code>:</p>
<pre data-language="elixir">$ mix xref graph --source lib/b.ex
lib/b.ex
└── lib/c.ex
</pre>
<p>Similarly, you can use the <code class="inline">--label compile</code> and the <code class="inline">--sink</code> flag to find all compile time dependencies that will recompile once the sink changes:</p>
<pre data-language="elixir">$ mix xref graph --label compile --sink lib/c.ex
lib/a.ex
└── lib/b.ex (compile)
</pre>
<p>If you have an umbrella application, we also recommend using the <code class="inline">--include-siblings</code> flag to see the dependencies from sibling applications. When invoked at the umbrella root, the <code class="inline">graph</code> command will list all files from all umbrella children, without any namespacing.</p>
<h3 id="module-dependency-types" class="section-heading">  <span class="text">Dependency types</span> </h3> <p>Elixir tracks three types of dependencies between modules: compile, exports, and runtime. If a module has a compile time dependency on another module, the caller module has to be recompiled whenever the callee changes (or any runtime dependency of the callee changes). Let's see an example:</p>
<pre data-language="elixir"># lib/a.ex
defmodule A do
  @hello B.hello()
  def hello, do: @hello
end

# lib/b.ex
defmodule B do
  def hello, do: "hello"
  def world, do: C.world()
end

# lib/c.ex
defmodule C do
  def world, do: "world"
end</pre>
<p>If <code class="inline">C.world/0</code> changes, <code class="inline">B</code> is marked as stale. <code class="inline">B</code> does not need to be recompiled, because it depends on <code class="inline">C</code> at runtime, but anything that depends on <code class="inline">B</code> at compile-time has to recompile, and that includes <code class="inline">A</code>.</p>
<p>Compile-time dependencies are typically added when using macros or when invoking functions in the module body (outside of functions). You can list all dependencies in a file by running <code class="inline">mix xref trace path/to/file.ex</code>. This type of transitive compile-time dependencies, such as <code class="inline">A</code> depending on <code class="inline">C</code> at compile-time through <code class="inline">B</code>, can be found with the "compile-connected" label, as in <code class="inline">mix xref graph --label compile-connected</code>.</p>
<p>Export dependencies are compile time dependencies on the module API, namely structs and its public definitions. For example, if you import a module but only use its functions, it is an export dependency. If you use a struct, it is an export dependency too. Export dependencies are only recompiled if the module API changes. Note, however, that compile time dependencies have higher precedence than exports. Therefore if you import a module and use its macros, it is a compile time dependency.</p>
<p>Runtime dependencies are added whenever you invoke another module inside a function. Modules with runtime dependencies do not have to be compiled when the callee changes, unless there is a transitive compile or an outdated export time dependency between them. The option <code class="inline">--label compile-connected</code> can be used to find the first case.</p>
<h2 id="module-shared-options" class="section-heading">  <span class="text">Shared options</span> </h2> <p>Those options are shared across all modes:</p>
<ul>
<li><p><code class="inline">--fail-above</code> - generates a failure if the relevant metric is above the given threshold. Applies to all modes except <code class="inline">mix xref graph --format stats</code>.</p></li>
<li><p><code class="inline">--include-siblings</code> - includes dependencies that have <code class="inline">:in_umbrella</code> set to true in the current project in the reports. This can be used to find callers or to analyze graphs between projects (it applies only to <code class="inline">trace</code> subcommand)</p></li>
<li><p><code class="inline">--no-compile</code> - does not compile even if files require compilation</p></li>
<li><p><code class="inline">--no-deps-check</code> - does not check dependencies</p></li>
<li><p><code class="inline">--no-archives-check</code> - does not check archives</p></li>
<li><p><code class="inline">--no-elixir-version-check</code> - does not check the Elixir version from mix.exs</p></li>
</ul> </section> </div> <section id="summary" class="details-list"> <h1 class="section-heading">  <span class="text">Summary</span> </h1> <h2> Functions </h2>
<dl class="summary-functions summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#calls/1" data-no-tooltip translate="no">calls(opts \\ [])</a> <span class="deprecated" title="Use compilation tracers described in the Code module">deprecated</span> </dt> <dd class="summary-synopsis"><p>Returns a list of information of all the runtime function calls in the project.</p></dd> </div> </dl> </section> <section id="functions" class="details-list"> <h1 class="section-heading">  <span class="text">Functions</span> </h1> <div class="functions-list"> <section class="detail">  <h3 class="detail-header" id="calls/1">calls(opts \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/tasks/xref.ex#L397" class="source">Source</a>
</h3> <div class="deprecated"> This function is deprecated. Use compilation tracers described in the Code module. </div> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec calls(keyword()) :: [
  %{callee: {module(), atom(), arity()}, line: integer(), file: String.t()}
]</pre> </div> <p>Returns a list of information of all the runtime function calls in the project.</p>
<p>Each item in the list is a map with the following keys:</p>
<ul>
<li>
<code class="inline">:callee</code> - a tuple containing the module, function, and arity of the call</li>
<li>
<code class="inline">:line</code> - an integer representing the line where the function is called</li>
<li>
<code class="inline">:file</code> - a binary representing the file where the function is called</li>
<li>
<code class="inline">:caller_module</code> - the module where the function is called</li>
</ul>
<p>This function returns an empty list when used at the root of an umbrella project because there is no compile manifest to extract the function call information from. To get the function calls of each child in an umbrella, execute the function at the root of each individual application.</p> </section> </section> </div> </section> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="mix.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/mix/1.17.2/Mix.Tasks.Xref.html" class="_attribution-link">https://hexdocs.pm/mix/1.17.2/Mix.Tasks.Xref.html</a>
  </p>
</div>
