<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/tasks/app.start.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">mix app.start</span>  </h1> <section id="moduledoc"> <p>Starts all registered apps.</p>
<p>First, this task guarantees that all dependencies are in place and that the current project has been compiled. Then, the current application is started as a temporary application, unless <code class="inline">:start_permanent</code> is set to <code class="inline">true</code> in your project configuration or the <code class="inline">--permanent</code> option is given. Setting it to permanent guarantees the node will shut down if the application terminates (typically because its root supervisor has terminated).</p>
<h2 id="module-configuration" class="section-heading">  <span class="text">Configuration</span> </h2> <ul>
<li><p><code class="inline">:start_permanent</code> - the application and all of its children applications are started in permanent mode. Defaults to <code class="inline">false</code>.</p></li>
<li><p><code class="inline">:start_concurrently</code> - applications are started concurrently whenever possible. This option only has an effect on Erlang/OTP 26+. Defaults to <code class="inline">false</code>.</p></li>
</ul>
<h2 id="module-command-line-options" class="section-heading">  <span class="text">Command line options</span> </h2> <ul>
<li>
<code class="inline">--force</code> - forces compilation regardless of compilation times</li>
<li>
<code class="inline">--temporary</code> - starts the application as temporary</li>
<li>
<code class="inline">--permanent</code> - starts the application as permanent</li>
<li>
<code class="inline">--preload-modules</code> - preloads all modules defined in applications</li>
<li>
<code class="inline">--no-archives-check</code> - does not check archives</li>
<li>
<code class="inline">--no-compile</code> - does not compile even if files require compilation</li>
<li>
<code class="inline">--no-deps-check</code> - does not check dependencies</li>
<li>
<code class="inline">--no-elixir-version-check</code> - does not check Elixir version</li>
<li>
<code class="inline">--no-start</code> - does not actually start applications, only compiles and loads code</li>
</ul> </section> </div> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="mix.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/mix/1.17.2/Mix.Tasks.App.Start.html" class="_attribution-link">https://hexdocs.pm/mix/1.17.2/Mix.Tasks.App.Start.html</a>
  </p>
</div>
