<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/tasks/run.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">mix run</span>  </h1> <section id="moduledoc"> <p>Runs the current application.</p>
<p><a href="mix.tasks.run"><code class="inline">mix run</code></a> starts the current application dependencies and the application itself. The application will be compiled if it has not been compiled yet or it is outdated.</p>
<p><a href="mix.tasks.run"><code class="inline">mix run</code></a> may also run code in the application context through additional options. For example, to run a script within the current application, you may pass a filename as argument:</p>
<pre data-language="elixir">$ mix run my_app_script.exs arg1 arg2 arg3
</pre>
<p>Code to be executed can also be passed inline with the <code class="inline">-e</code> option:</p>
<pre data-language="elixir">$ mix run -e "DbUtils.delete_old_records()" -- arg1 arg2 arg3
</pre>
<p>In both cases, the command-line arguments for the script or expression are available in <a href="https://hexdocs.pm/elixir/System.html#argv/0"><code class="inline">System.argv/0</code></a>. This mirrors the command line interface in the <code class="inline">elixir</code> executable.</p>
<p>For starting long running systems, one typically passes the <code class="inline">--no-halt</code> option:</p>
<pre data-language="elixir">$ mix run --no-halt
</pre>
<p>The <code class="inline">--no-start</code> option can also be given and the current application, nor its dependencies will be started. Alternatively, you may use <a href="mix.tasks.eval"><code class="inline">mix eval</code></a> to evaluate a single expression without starting the current application.</p>
<p>If you need to pass options to the Elixir executable at the same time you use <a href="mix.tasks.run"><code class="inline">mix run</code></a>, it can be done as follows:</p>
<pre data-language="elixir">$ elixir --sname hello -S mix run --no-halt
</pre>
<p>This task is automatically re-enabled, so it can be called multiple times with different arguments.</p>
<h2 id="module-command-line-options" class="section-heading">  <span class="text">Command-line options</span> </h2> <ul>
<li>
<code class="inline">--eval</code>, <code class="inline">-e</code> - evaluates the given code</li>
<li>
<code class="inline">--require</code>, <code class="inline">-r</code> - executes the given pattern/file</li>
<li>
<code class="inline">--parallel</code>, <code class="inline">-p</code> - makes all requires parallel</li>
<li>
<code class="inline">--preload-modules</code> - preloads all modules defined in applications</li>
<li>
<code class="inline">--no-archives-check</code> - does not check archives</li>
<li>
<code class="inline">--no-compile</code> - does not compile even if files require compilation</li>
<li>
<code class="inline">--no-deps-check</code> - does not check dependencies</li>
<li>
<code class="inline">--no-elixir-version-check</code> - does not check the Elixir version from mix.exs</li>
<li>
<code class="inline">--no-halt</code> - does not halt the system after running the command</li>
<li>
<code class="inline">--no-mix-exs</code> - allows the command to run even if there is no mix.exs</li>
<li>
<code class="inline">--no-start</code> - does not start applications after compilation</li>
</ul> </section> </div> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="mix.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/mix/1.17.2/Mix.Tasks.Run.html" class="_attribution-link">https://hexdocs.pm/mix/1.17.2/Mix.Tasks.Run.html</a>
  </p>
</div>
