<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/tasks/cmd.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">mix cmd</span>  </h1> <section id="moduledoc"> <p>Executes the given command.</p>
<p>For example, you can invoke an external command such as make:</p>
<pre data-language="elixir">$ mix cmd make
</pre>
<p>By passing the <code class="inline">--cd</code> flag before the command, you can also force the command to run in a specific directory:</p>
<pre data-language="elixir">$ mix cmd --cd "third-party" make
</pre>
<p>This task is also useful in umbrella applications to execute a command on each child app:</p>
<pre data-language="elixir">$ mix cmd pwd
</pre>
<p>You can limit which apps the cmd runs in by using <a href="mix.tasks.do"><code class="inline">mix do</code></a> with the <code class="inline">--app</code> option:</p>
<pre data-language="elixir">$ mix do --app app1 --app app2 cmd pwd
</pre>
<p>The tasks aborts whenever a command exits with a non-zero status.</p>
<p>This task is automatically re-enabled, so it can be called multiple times with different arguments.</p>
<h2 id="module-command-line-options" class="section-heading">  <span class="text">Command line options</span> </h2> <ul>
<li><p><code class="inline">--app</code> - limit running the command to the given app. This option is currently deprecated in favor of <code class="inline">mix do --app</code></p></li>
<li><p><code class="inline">--cd</code> <em>(since v1.10.4)</em> - the directory to run the command in</p></li>
</ul>
<h2 id="module-zombie-operating-system-processes" class="section-heading">  <span class="text">Zombie operating system processes</span> </h2> <p>Beware that the Erlang VM does not terminate child processes when it shuts down. Therefore, if you use <a href="mix.tasks.cmd"><code class="inline">mix cmd</code></a> to start long running processes and then shut down the VM, it is likely that those child processes won't be terminated with the VM.</p>
<p>A solution is to make sure the child processes listen to the standard input and terminate when standard input is closed. We discuss this topic at length in the "Zombie operating system processes" of the <a href="https://hexdocs.pm/elixir/Port.html"><code class="inline">Port</code></a> module documentation.</p> </section> </div> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="mix.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/mix/1.17.2/Mix.Tasks.Cmd.html" class="_attribution-link">https://hexdocs.pm/mix/1.17.2/Mix.Tasks.Cmd.html</a>
  </p>
</div>
