<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/shell/process.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">Mix.Shell.Process</span>  </h1> <section id="moduledoc"> <p>Mix shell that uses the current process mailbox for communication.</p>
<p>This module provides a Mix shell implementation that uses the current process mailbox for communication instead of IO.</p>
<p>As an example, when <code class="inline">Mix.shell().info("hello")</code> is called, the following message will be sent to the calling process:</p>
<pre data-language="elixir">{:mix_shell, :info, ["hello"]}</pre>
<p>This is mainly useful in tests, allowing us to assert if given messages were received or not instead of performing checks on some captured IO. There is also a <a href="#flush/1"><code class="inline">flush/1</code></a> function responsible for flushing all <code class="inline">:mix_shell</code> related messages from the process inbox.</p>
<h2 id="module-examples" class="section-heading">  <span class="text">Examples</span> </h2> <p>The first step is to set the Mix shell to this module:</p>
<pre data-language="elixir">Mix.shell(Mix.Shell.Process)</pre>
<p>Then if your Mix task calls:</p>
<pre data-language="elixir">Mix.shell().info("hello")</pre>
<p>You should be able to receive it in your tests as long as they run in the same process:</p>
<pre data-language="elixir">assert_receive {:mix_shell, :info, [msg]}
assert msg == "hello"</pre>
<p>You can respond to prompts in tests as well:</p>
<pre data-language="elixir">send(self(), {:mix_shell_input, :prompt, "Pretty cool"})
Mix.shell().prompt("How cool was that?!")
#=&gt; "Pretty cool"</pre> </section> </div> <section id="summary" class="details-list"> <h1 class="section-heading">  <span class="text">Summary</span> </h1> <h2> Functions </h2>
<dl class="summary-functions summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#cmd/2" data-no-tooltip translate="no">cmd(command, opts \\ [])</a> </dt> <dd class="summary-synopsis"><p>Executes the given command and forwards its messages to the current process.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#error/1" data-no-tooltip translate="no">error(message)</a> </dt> <dd class="summary-synopsis"><p>Forwards the error to the current process.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#flush/1" data-no-tooltip translate="no">flush(callback \\ fn x -&gt; x end)</a> </dt> <dd class="summary-synopsis"><p>Flushes all <code class="inline">:mix_shell</code> and <code class="inline">:mix_shell_input</code> messages from the current process.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#info/1" data-no-tooltip translate="no">info(message)</a> </dt> <dd class="summary-synopsis"><p>Forwards the message to the current process.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#print_app/0" data-no-tooltip translate="no">print_app()</a> </dt> <dd class="summary-synopsis"><p>Prints the current application if it was not printed yet.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#prompt/1" data-no-tooltip translate="no">prompt(message)</a> </dt> <dd class="summary-synopsis"><p>Forwards the message to the current process.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#yes?/2" data-no-tooltip translate="no">yes?(message, options \\ [])</a> </dt> <dd class="summary-synopsis"><p>Forwards the message to the current process.</p></dd> </div> </dl> </section> <section id="functions" class="details-list"> <h1 class="section-heading">  <span class="text">Functions</span> </h1> <div class="functions-list"> <section class="detail">  <h3 class="detail-header" id="cmd/2">cmd(command, opts \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/shell/process.ex#L164" class="source">Source</a>
</h3> <section class="docstring"> <p>Executes the given command and forwards its messages to the current process.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="error/1">error(message)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/shell/process.ex#L91" class="source">Source</a>
</h3> <section class="docstring"> <p>Forwards the error to the current process.</p> </section> </section> <section class="detail">  <h3 class="detail-header" id="flush/1">flush(callback \\ fn x -&gt; x end)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/shell/process.ex#L55" class="source">Source</a>
</h3> <section class="docstring"> <p>Flushes all <code class="inline">:mix_shell</code> and <code class="inline">:mix_shell_input</code> messages from the current process.</p>
<p>If a callback is given, it is invoked for each received message.</p>
<h4 id="flush/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">flush(&amp;IO.inspect/1)</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="info/1">info(message)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/shell/process.ex#L82" class="source">Source</a>
</h3> <section class="docstring"> <p>Forwards the message to the current process.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="print_app/0">print_app()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/shell/process.ex#L73" class="source">Source</a>
</h3> <section class="docstring"> <p>Prints the current application if it was not printed yet.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="prompt/1">prompt(message)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/shell/process.ex#L121" class="source">Source</a>
</h3> <section class="docstring"> <p>Forwards the message to the current process.</p>
<p>It also checks the inbox for an input message matching:</p>
<pre data-language="elixir">{:mix_shell_input, :prompt, value}</pre>
<p>If one does not exist, it will abort since there was no shell process inputs given. <code class="inline">value</code> must be a string.</p>
<h4 id="prompt/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <p>The following will answer with <code class="inline">"Meg"</code> to the prompt <code class="inline">"What's your name?"</code>:</p>
<pre data-language="elixir"># The response is sent before calling prompt/1 so that prompt/1 can read it
send(self(), {:mix_shell_input, :prompt, "Meg"})
Mix.shell().prompt("What's your name?")</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="yes?/2">yes?(message, options \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/shell/process.ex#L149" class="source">Source</a>
</h3> <section class="docstring"> <p>Forwards the message to the current process.</p>
<p>It also checks the inbox for an input message matching:</p>
<pre data-language="elixir">{:mix_shell_input, :yes?, value}</pre>
<p>If one does not exist, it will abort since there was no shell process inputs given. <code class="inline">value</code> must be <code class="inline">true</code> or <code class="inline">false</code>.</p>
<h4 id="yes?/2-example" class="section-heading">  <span class="text">Example</span> </h4> <pre data-language="elixir"># Send the response to self() first so that yes?/2 will be able to read it
send(self(), {:mix_shell_input, :yes?, true})
Mix.shell().yes?("Are you sure you want to continue?")</pre> </section> </section> </div> </section> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="mix.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/mix/1.17.2/Mix.Shell.Process.html" class="_attribution-link">https://hexdocs.pm/mix/1.17.2/Mix.Shell.Process.html</a>
  </p>
</div>
