<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/tasks/compile.protocols.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">mix compile.protocols</span>  </h1> <section id="moduledoc"> <p>Consolidates all protocols in all paths.</p>
<p>This task is automatically invoked unless the project disables the <code class="inline">:consolidate_protocols</code> option in their configuration.</p>
<h2 id="module-consolidation" class="section-heading">  <span class="text">Consolidation</span> </h2> <p>Protocol consolidation is useful in production when no dynamic code loading will happen, effectively optimizing protocol dispatches by not accounting for code loading.</p>
<p>This task consolidates all protocols in the code path and outputs the new binary files to the given directory. Defaults to "_build/MIX_ENV/lib/YOUR_APP/consolidated" for regular apps and "_build/MIX_ENV/consolidated" in umbrella projects.</p>
<p>In case you are manually compiling protocols or building releases, you need to take the generated protocols into account. This can be done with:</p>
<pre data-language="elixir">$ elixir -pa _build/MIX_ENV/lib/YOUR_APP/consolidated -S mix run
</pre>
<p>Or in umbrellas:</p>
<pre data-language="elixir">$ elixir -pa _build/MIX_ENV/consolidated -S mix run
</pre>
<p>You can verify a protocol is consolidated by checking its attributes:</p>
<pre data-language="elixir">iex&gt; Protocol.consolidated?(Enumerable)
true</pre> </section> </div> <section id="summary" class="details-list"> <h1 class="section-heading">  <span class="text">Summary</span> </h1> <h2> Functions </h2>
<dl class="summary-functions summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#consolidated?/0" data-no-tooltip translate="no">consolidated?()</a> </dt> <dd class="summary-synopsis"><p>Returns if protocols have been consolidated at least once.</p></dd> </div> </dl> </section> <section id="functions" class="details-list"> <h1 class="section-heading">  <span class="text">Functions</span> </h1> <div class="functions-list"> <section class="detail"> <h3 class="detail-header" id="consolidated?/0">consolidated?()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/tasks/compile.protocols.ex#L96" class="source">Source</a>
</h3> <section class="docstring"> <p>Returns if protocols have been consolidated at least once.</p> </section> </section> </div> </section> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="mix.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/mix/1.17.2/Mix.Tasks.Compile.Protocols.html" class="_attribution-link">https://hexdocs.pm/mix/1.17.2/Mix.Tasks.Compile.Protocols.html</a>
  </p>
</div>
