<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/tasks/clean.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">mix clean</span>  </h1> <section id="moduledoc"> <p>Deletes generated application files.</p>
<p>This command deletes all build artifacts for the current project. Dependencies' sources and build files are cleaned only if the <code class="inline">--deps</code> option is given.</p>
<p>By default this task works across all environments, unless <code class="inline">--only</code> is given.</p>
<h2 id="module-command-line-options" class="section-heading">  <span class="text">Command line options</span> </h2> <ul>
<li>
<code class="inline">--deps</code> - clean dependencies as well as the current project's files</li>
<li>
<code class="inline">--only</code> - only clean the given environment</li>
</ul> </section> </div> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="mix.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/mix/1.17.2/Mix.Tasks.Clean.html" class="_attribution-link">https://hexdocs.pm/mix/1.17.2/Mix.Tasks.Clean.html</a>
  </p>
</div>
