<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/tasks/format.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">mix format</span>  </h1> <section id="moduledoc"> <p>Formats the given files and patterns.</p>
<pre data-language="elixir">$ mix format mix.exs "lib/**/*.{ex,exs}" "test/**/*.{ex,exs}"
</pre>
<p>If any of the files is <code class="inline">-</code>, then the input is read from stdin and the output is written to stdout.</p>
<h2 id="module-formatting-options" class="section-heading">  <span class="text">Formatting options</span> </h2> <p>The formatter will read a <code class="inline">.formatter.exs</code> file in the current directory for formatter configuration. Evaluating this file should return a keyword list.</p>
<p>Here is an example of a <code class="inline">.formatter.exs</code> file that works as a starting point:</p>
<pre data-language="elixir">[
  inputs: ["{mix,.formatter}.exs", "{config,lib,test}/**/*.{ex,exs}"]
]</pre>
<p>Besides the options listed in <a href="https://hexdocs.pm/elixir/Code.html#format_string!/2"><code class="inline">Code.format_string!/2</code></a>, the <code class="inline">.formatter.exs</code> file supports the following options:</p>
<ul>
<li><p><code class="inline">:inputs</code> (a list of paths and patterns) - specifies the default inputs to be used by this task. For example, <code class="inline">["mix.exs", "{config,lib,test}/**/*.{ex,exs}"]</code>. Patterns are expanded with <a href="https://hexdocs.pm/elixir/Path.html#wildcard/2"><code class="inline">Path.wildcard/2</code></a>.</p></li>
<li><p><code class="inline">:plugins</code> (a list of modules) (since v1.13.0) - specifies a list of modules to customize how the formatter works. See the "Plugins" section below for more information.</p></li>
<li><p><code class="inline">:subdirectories</code> (a list of paths and patterns) - specifies subdirectories that have their own formatting rules. Each subdirectory should have a <code class="inline">.formatter.exs</code> that configures how entries in that subdirectory should be formatted as. Configuration between <code class="inline">.formatter.exs</code> are not shared nor inherited. If a <code class="inline">.formatter.exs</code> lists "lib/app" as a subdirectory, the rules in <code class="inline">.formatter.exs</code> won't be available in <code class="inline">lib/app/.formatter.exs</code>. Note that the parent <code class="inline">.formatter.exs</code> must not specify files inside the "lib/app" subdirectory in its <code class="inline">:inputs</code> configuration. If this happens, the behaviour of which formatter configuration will be picked is unspecified.</p></li>
<li><p><code class="inline">:import_deps</code> (a list of dependencies as atoms) - specifies a list of dependencies whose formatter configuration will be imported. See the "Importing dependencies configuration" section below for more information.</p></li>
<li><p><code class="inline">:export</code> (a keyword list) - specifies formatter configuration to be exported. See the "Importing dependencies configuration" section below.</p></li>
</ul>
<h2 id="module-task-specific-options" class="section-heading">  <span class="text">Task-specific options</span> </h2> <ul>
<li><p><code class="inline">--force</code> - force formatting to happen on all files, instead of relying on cache.</p></li>
<li><p><code class="inline">--check-formatted</code> - checks that the file is already formatted. This is useful in pre-commit hooks and CI scripts if you want to reject contributions with unformatted code. If the check fails, the formatted contents are not written to disk. Keep in mind that the formatted output may differ between Elixir versions as improvements and fixes are applied to the formatter.</p></li>
<li><p><code class="inline">--no-exit</code> - only valid when used with <code class="inline">--check-formatted</code>. Pass this if you don't want this Mix task to fail (and return a non-zero exit code), but still want to check for format errors and print them to the console.</p></li>
<li><p><code class="inline">--dry-run</code> - does not save files after formatting.</p></li>
<li><p><code class="inline">--dot-formatter</code> - path to the file with formatter configuration. Defaults to <code class="inline">.formatter.exs</code> if one is available. See the "Formatting options" section above for more information.</p></li>
<li><p><code class="inline">--stdin-filename</code> - path to the file being formatted on stdin. This is useful if you are using plugins to support custom filetypes such as <code class="inline">.heex</code>. Without passing this flag, it is assumed that the code being passed via stdin is valid Elixir code. Defaults to "stdin.exs".</p></li>
</ul>
<h2 id="module-when-to-format-code" class="section-heading">  <span class="text">When to format code</span> </h2> <p>We recommend developers to format code directly in their editors, either automatically when saving a file or via an explicit command or key binding. If such option is not available in your editor of choice, adding the required integration is usually a matter of invoking:</p>
<pre data-language="elixir">$ cd $project &amp;&amp; mix format $file
</pre>
<p>where <code class="inline">$file</code> refers to the current file and <code class="inline">$project</code> is the root of your project.</p>
<p>It is also possible to format code across the whole project by passing a list of patterns and files to <a href="mix.tasks.format"><code class="inline">mix format</code></a>, as shown at the top of this task documentation. This list can also be set in the <code class="inline">.formatter.exs</code> file under the <code class="inline">:inputs</code> key.</p>
<h2 id="module-plugins" class="section-heading">  <span class="text">Plugins</span> </h2> <p>It is possible to customize how the formatter behaves. Plugins must implement the <a href="mix.tasks.format"><code class="inline">Mix.Tasks.Format</code></a> behaviour. For example, imagine that your project uses Markdown in two distinct ways: via a custom <code class="inline">~M</code> sigil and via files with the <code class="inline">.md</code> and <code class="inline">.markdown</code> extensions. A custom plugin would look like this:</p>
<pre data-language="elixir">defmodule MixMarkdownFormatter do
  @behaviour Mix.Tasks.Format

  def features(_opts) do
    [sigils: [:M], extensions: [".md", ".markdown"]]
  end

  def format(contents, opts) do
    # logic that formats markdown
  end
end</pre>
<p>The <code class="inline">opts</code> passed to <code class="inline">format/2</code> contains all the formatting options and either:</p>
<ul>
<li><p><code class="inline">:sigil</code> (atom) - the sigil being formatted, e.g. <code class="inline">:M</code>.</p></li>
<li><p><code class="inline">:modifiers</code> (charlist) - list of sigil modifiers.</p></li>
<li><p><code class="inline">:extension</code> (string) - the extension of the file being formatted, e.g. <code class="inline">".md"</code>.</p></li>
</ul>
<p>Now any application can use your formatter as follows:</p>
<pre data-language="elixir"># .formatter.exs
[
  # Define the desired plugins
  plugins: [MixMarkdownFormatter, AnotherMarkdownFormatter],
  # Remember to update the inputs list to include the new extensions
  inputs: ["{mix,.formatter}.exs", "{config,lib,test}/**/*.{ex,exs}", "posts/*.{md,markdown}"]
]</pre>
<p>Notice that, when running the formatter with plugins, your code will be compiled first.</p>
<p>In addition, the order by which you input your plugins is the format order. So, in the above <code class="inline">.formatter.exs</code>, the <code class="inline">MixMarkdownFormatter</code> will format the markdown files and sigils before <code class="inline">AnotherMarkdownFormatter</code>.</p>
<h2 id="module-importing-dependencies-configuration" class="section-heading">  <span class="text">Importing dependencies configuration</span> </h2> <p>This task supports importing formatter configuration from dependencies.</p>
<p>A dependency that wants to export formatter configuration needs to have a <code class="inline">.formatter.exs</code> file at the root of the project. In this file, the dependency can list an <code class="inline">:export</code> option with configuration to export. For now, only one option is supported under <code class="inline">:export</code>: <code class="inline">:locals_without_parens</code> (whose value has the same shape as the value of the <code class="inline">:locals_without_parens</code> in <a href="https://hexdocs.pm/elixir/Code.html#format_string!/2"><code class="inline">Code.format_string!/2</code></a>).</p>
<p>The functions listed under <code class="inline">:locals_without_parens</code> in the <code class="inline">:export</code> option of a dependency can be imported in a project by listing that dependency in the <code class="inline">:import_deps</code> option of the formatter configuration file of the project.</p>
<p>For example, consider you have a project called <code class="inline">my_app</code> that depends on another one called <code class="inline">my_dep</code>. <code class="inline">my_dep</code> wants to export some configuration, so <code class="inline">my_dep/.formatter.exs</code> would look like this:</p>
<pre data-language="elixir"># my_dep/.formatter.exs
[
  # Regular formatter configuration for my_dep
  # ...

  export: [
    locals_without_parens: [some_dsl_call: 2, some_dsl_call: 3]
  ]
]</pre>
<p>In order to import configuration, <code class="inline">my_app</code>'s <code class="inline">.formatter.exs</code> would look like this:</p>
<pre data-language="elixir"># my_app/.formatter.exs
[
  import_deps: [:my_dep]
]</pre> </section> </div> <section id="summary" class="details-list"> <h1 class="section-heading">  <span class="text">Summary</span> </h1> <h2> Functions </h2>
<dl class="summary-functions summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#formatter_for_file/2" data-no-tooltip translate="no">formatter_for_file(file, opts \\ [])</a> </dt> <dd class="summary-synopsis"><p>Returns a formatter function and the formatter options to be used for the given file.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#formatter_opts_for_file/2" data-no-tooltip translate="no">formatter_opts_for_file(file, opts \\ [])</a> <span class="deprecated" title="Use formatter_for_file/2 instead">deprecated</span> </dt> <dd class="summary-synopsis"><p>Returns formatter options to be used for the given file.</p></dd> </div> </dl> </section> <section id="functions" class="details-list"> <h1 class="section-heading">  <span class="text">Functions</span> </h1> <div class="functions-list"> <section class="detail">  <h3 class="detail-header" id="formatter_for_file/2">formatter_for_file(file, opts \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/tasks/format.ex#L342" class="source">Source</a>
</h3> <section class="docstring"> <p>Returns a formatter function and the formatter options to be used for the given file.</p>
<p>The function must be called with the contents of the file to be formatted. The options are returned for reflection purposes.</p> </section> </section> <section class="detail">  <h3 class="detail-header" id="formatter_opts_for_file/2">formatter_opts_for_file(file, opts \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/tasks/format.ex#L359" class="source">Source</a>
</h3> <div class="deprecated"> This function is deprecated. Use formatter_for_file/2 instead. </div> <section class="docstring"> <p>Returns formatter options to be used for the given file.</p> </section> </section> </div> </section> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="mix.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/mix/1.17.2/Mix.Tasks.Format.html" class="_attribution-link">https://hexdocs.pm/mix/1.17.2/Mix.Tasks.Format.html</a>
  </p>
</div>
