<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/tasks/compile.erlang.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">mix compile.erlang</span>  </h1> <section id="moduledoc"> <p>Compiles Erlang source files.</p>
<p>When this task runs, it will first check the modification times of all files to be compiled and if they haven't been changed since the last compilation, it will not compile them. If any of them have changed, it compiles everything.</p>
<h2 id="module-command-line-options" class="section-heading">  <span class="text">Command line options</span> </h2> <ul>
<li>
<code class="inline">--all-warnings</code> (<code class="inline">--no-all-warnings</code>) - prints all warnings, including previous compilations (default is true except on errors)</li>
<li>
<code class="inline">--force</code> - forces compilation regardless of modification times</li>
</ul>
<h2 id="module-configuration" class="section-heading">  <span class="text">Configuration</span> </h2> <ul>
<li><p><code class="inline">ERL_COMPILER_OPTIONS</code> - can be used to give default compile options. The value must be a valid Erlang term. If the value is a list, it will be used as is. If it is not a list, it will be put into a list.</p></li>
<li><p><code class="inline">:erlc_paths</code> - directories to find source files. Defaults to <code class="inline">["src"]</code>.</p></li>
<li><p><code class="inline">:erlc_include_path</code> - directory for adding include files. Defaults to <code class="inline">"include"</code>.</p></li>
<li>
<p><code class="inline">:erlc_options</code> - compilation options that apply to Erlang's compiler. Defaults to <code class="inline">[]</code>.</p>
<p>For a complete list of options, see <a href="https://www.erlang.org/doc/apps/compiler/compile.html#file/2"><code class="inline">:compile.file/2</code></a>. The option <code class="inline">:debug_info</code> is always added to the end of it. You can disable that using:</p>
<pre data-language="elixir">erlc_options: [debug_info: false]</pre>
</li>
</ul> </section> </div> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="mix.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/mix/1.17.2/Mix.Tasks.Compile.Erlang.html" class="_attribution-link">https://hexdocs.pm/mix/1.17.2/Mix.Tasks.Compile.Erlang.html</a>
  </p>
</div>
