<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/tasks/compile.yecc.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">mix compile.yecc</span>  </h1> <section id="moduledoc"> <p>Compiles Yecc source files.</p>
<p>When this task runs, it will check the modification time of every file, and if it has changed, the file will be compiled. Files will be compiled in the same source directory with a .erl extension. You can force compilation regardless of modification times by passing the <code class="inline">--force</code> option.</p>
<p>You must add <code class="inline">compilers: [:yecc] ++ Mix.compilers()</code> in the <code class="inline">def project</code> section of your <code class="inline">mix.exs</code> to run this compiler.</p>
<h2 id="module-command-line-options" class="section-heading">  <span class="text">Command line options</span> </h2> <ul>
<li>
<code class="inline">--all-warnings</code> (<code class="inline">--no-all-warnings</code>) - prints all warnings, including previous compilations (default is true except on errors)</li>
<li>
<code class="inline">--force</code> - forces compilation regardless of modification times</li>
</ul>
<h2 id="module-configuration" class="section-heading">  <span class="text">Configuration</span> </h2> <ul>
<li><p><code class="inline">:erlc_paths</code> - directories to find source files. Defaults to <code class="inline">["src"]</code>.</p></li>
<li>
<p><code class="inline">:yecc_options</code> - compilation options that apply to Yecc's compiler.</p>
<p>For a complete list of options, see <a href="https://www.erlang.org/doc/apps/parsetools/yecc.html#file/1"><code class="inline">:yecc.file/1</code></a>. Note that the <code class="inline">:report</code>, <code class="inline">:return_errors</code>, and <code class="inline">:return_warnings</code> options are overridden by this compiler, thus setting them has no effect.</p>
</li>
</ul> </section> </div> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="mix.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/mix/1.17.2/Mix.Tasks.Compile.Yecc.html" class="_attribution-link">https://hexdocs.pm/mix/1.17.2/Mix.Tasks.Compile.Yecc.html</a>
  </p>
</div>
