<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/tasks/deps.clean.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">mix deps.clean</span>  </h1> <section id="moduledoc"> <p>Deletes the given dependencies' files, including build artifacts and fetched sources.</p>
<p>Since this is a destructive action, cleaning of dependencies only occurs when passing arguments/options:</p>
<ul>
<li>
<code class="inline">dep1 dep2</code> - the names of dependencies to be deleted separated by a space</li>
<li>
<code class="inline">--unlock</code> - also unlocks the deleted dependencies</li>
<li>
<code class="inline">--build</code> - deletes only compiled files (keeps source files)</li>
<li>
<code class="inline">--all</code> - deletes all dependencies</li>
<li>
<code class="inline">--unused</code> - deletes only unused dependencies (i.e. dependencies no longer mentioned in <code class="inline">mix.exs</code>)</li>
</ul>
<p>By default this task works across all environments, unless <code class="inline">--only</code> is given which will clean all dependencies for the chosen environment.</p> </section> </div> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="mix.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/mix/1.17.2/Mix.Tasks.Deps.Clean.html" class="_attribution-link">https://hexdocs.pm/mix/1.17.2/Mix.Tasks.Deps.Clean.html</a>
  </p>
</div>
