<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/task.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">Mix.Task</span> <small>behaviour</small>  </h1> <section id="moduledoc"> <p>Provides conveniences for creating, loading, and manipulating Mix tasks.</p>
<p>To create a new Mix task, you'll need to:</p>
<ol>
<li>Create a module whose name begins with <code class="inline">Mix.Tasks.</code> (for example, <code class="inline">Mix.Tasks.MyTask</code>).</li>
<li>Call <code class="inline">use Mix.Task</code> in that module.</li>
<li>Implement the <a href="mix.task"><code class="inline">Mix.Task</code></a> behaviour in that module (that is, implement the <a href="#c:run/1"><code class="inline">run/1</code></a> callback).</li>
</ol>
<p>Typically, task modules live inside the <code class="inline">lib/mix/tasks/</code> directory, and their file names use dot separators instead of underscores (for example, <code class="inline">deps.clean.ex</code>) - although ultimately the file name is not relevant.</p>
<p>For example:</p>
<pre data-language="elixir"># lib/mix/tasks/echo.ex
defmodule Mix.Tasks.Echo do
  @moduledoc "Printed when the user requests `mix help echo`"
  @shortdoc "Echoes arguments"

  use Mix.Task

  @impl Mix.Task
  def run(args) do
    Mix.shell().info(Enum.join(args, " "))
  end
end</pre>
<p>The command name will correspond to the portion of the module name following <code class="inline">Mix.Tasks.</code>. For example, a module name of <a href="mix.tasks.deps.clean"><code class="inline">Mix.Tasks.Deps.Clean</code></a> corresponds to a task name of <code class="inline">deps.clean</code>.</p>
<p>The <a href="#run/1"><code class="inline">run/1</code></a> function will receive a list of all command line arguments passed, according to the user's terminal.</p>
<p>For example, if the <code class="inline">args</code> in the above <code class="inline">echo</code> task were inspected, you might see something like this:</p>
<pre data-language="elixir">$ mix echo 'A and B' C --test
["A and B", "C", "--test"]
</pre>
<blockquote>
<h4 class="info"><code class="inline">use Mix.Task</code></h4>
<p>When you <code class="inline">use Mix.Task</code>, the <a href="mix.task"><code class="inline">Mix.Task</code></a> module will set <code class="inline">@behaviour Mix.Task</code> and define default values for the module attributes documented in the section below.</p>
</blockquote>
<h2 id="module-module-attributes" class="section-heading">  <span class="text">Module attributes</span> </h2> <p>You can control some behavior of your Mix task by setting module attributes. This section documents the available attributes.</p>
<h3 id="module-shortdoc" class="section-heading">  <span class="text"><code class="inline">@shortdoc</code></span> </h3> <p>Define the <code class="inline">@shortdoc</code> attribute if you wish to make the task publicly visible on <a href="mix.tasks.help"><code class="inline">mix help</code></a>. Omit this attribute if you do not want your task to be listed via <a href="mix.tasks.help"><code class="inline">mix help</code></a>.</p>
<h3 id="module-moduledoc" class="section-heading">  <span class="text"><code class="inline">@moduledoc</code></span> </h3> <p>The <code class="inline">@moduledoc</code> attribute may override <code class="inline">@shortdoc</code>. The task will not appear in <a href="mix.tasks.help"><code class="inline">mix help</code></a> if documentation for the entire module is hidden with <code class="inline">@moduledoc false</code>.</p>
<h3 id="module-requirements" class="section-heading">  <span class="text"><code class="inline">@requirements</code></span> </h3> <p>If a task has <em>requirements</em>, they can be listed using the <code class="inline">@requirements</code> attribute. Requirements are other Mix tasks that this task requires to have run. For example:</p>
<pre data-language="elixir">@requirements ["app.config"]</pre>
<p>A task will typically depend on one of the following tasks:</p>
<ul>
<li><p><a href="mix.tasks.loadpaths">"loadpaths"</a> - this ensures dependencies are available and compiled. If you are publishing a task as part of a library to be used by others, and your task does not need to interact with the user code in any way, this is the recommended requirement</p></li>
<li><p><a href="mix.tasks.app.config">"app.config"</a> - additionally compiles and load the runtime configuration for the current project. If you are creating a task to be used within your application or as part of a library, which must invoke or interact with the user code, this is the minimum recommended requirement</p></li>
<li><p><a href="mix.tasks.app.start">"app.start"</a> - additionally starts the supervision tree of the current project and its dependencies</p></li>
</ul>
<h3 id="module-recursive" class="section-heading">  <span class="text"><code class="inline">@recursive</code></span> </h3> <p>Set <code class="inline">@recursive true</code> if you want the task to run on each umbrella child in an umbrella project.</p>
<h3 id="module-preferred_cli_env" class="section-heading">  <span class="text"><code class="inline">@preferred_cli_env</code></span> </h3> <p>Sets the preferred Mix environment for this task. For example, if your task is meant to be used for testing, you could set</p>
<pre data-language="elixir">@preferred_cli_env :test</pre>
<h2 id="module-documentation" class="section-heading">  <span class="text">Documentation</span> </h2> <p>Users can read the documentation for public Mix tasks by running <code class="inline">mix help my_task</code>. The documentation that will be shown is the <code class="inline">@moduledoc</code> of the task's module.</p> </section> </div> <section id="summary" class="details-list"> <h1 class="section-heading">  <span class="text">Summary</span> </h1> <h2> Types </h2>
<dl class="summary-types summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#t:task_module/0" data-no-tooltip translate="no">task_module()</a> </dt> <dd class="summary-synopsis"><p>The module that implements a Mix task.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:task_name/0" data-no-tooltip translate="no">task_name()</a> </dt> <dd class="summary-synopsis"><p>The name of a task.</p></dd> </div> </dl> <h2> Callbacks </h2>
<dl class="summary-callbacks summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#c:run/1" data-no-tooltip translate="no">run(command_line_args)</a> </dt> <dd class="summary-synopsis"><p>A task needs to implement <code class="inline">run</code> which receives a list of command line args.</p></dd> </div> </dl> <h2> Functions </h2>
<dl class="summary-functions summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#alias?/1" data-no-tooltip translate="no">alias?(task)</a> </dt> <dd class="summary-synopsis"><p>Checks if the given <code class="inline">task</code> name is an alias.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#all_modules/0" data-no-tooltip translate="no">all_modules()</a> </dt> <dd class="summary-synopsis"><p>Returns all loaded task modules.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#clear/0" data-no-tooltip translate="no">clear()</a> </dt> <dd class="summary-synopsis"><p>Clears all invoked tasks, allowing them to be reinvoked.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#get/1" data-no-tooltip translate="no">get(task)</a> </dt> <dd class="summary-synopsis"><p>Receives a task name and returns the corresponding task module if one exists.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#get!/1" data-no-tooltip translate="no">get!(task)</a> </dt> <dd class="summary-synopsis"><p>Receives a task name and retrieves the corresponding task module.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#load_all/0" data-no-tooltip translate="no">load_all()</a> </dt> <dd class="summary-synopsis"><p>Loads all tasks in all code paths.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#load_tasks/1" data-no-tooltip translate="no">load_tasks(dirs)</a> </dt> <dd class="summary-synopsis"><p>Loads all tasks in the given <code class="inline">paths</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#moduledoc/1" data-no-tooltip translate="no">moduledoc(module)</a> </dt> <dd class="summary-synopsis"><p>Gets the moduledoc for the given task <code class="inline">module</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#preferred_cli_env/1" data-no-tooltip translate="no">preferred_cli_env(task)</a> <span class="deprecated" title="Configure the environment in your mix.exs">deprecated</span> </dt> <dd class="summary-synopsis"><p>Available for backwards compatibility.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#recursing?/0" data-no-tooltip translate="no">recursing?()</a> </dt> <dd class="summary-synopsis"><p>Indicates if the current task is recursing.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#recursive/1" data-no-tooltip translate="no">recursive(module)</a> </dt> <dd class="summary-synopsis"><p>Checks if the task should be run recursively for all sub-apps in umbrella projects.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#reenable/1" data-no-tooltip translate="no">reenable(task)</a> </dt> <dd class="summary-synopsis"><p>Reenables a given task so it can be executed again down the stack.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#requirements/1" data-no-tooltip translate="no">requirements(module)</a> </dt> <dd class="summary-synopsis"><p>Gets the list of requirements for the given task.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#rerun/2" data-no-tooltip translate="no">rerun(task, args \\ [])</a> </dt> <dd class="summary-synopsis"><p>Reruns <code class="inline">task</code> with the given arguments.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#run/2" data-no-tooltip translate="no">run(task, args \\ [])</a> </dt> <dd class="summary-synopsis"><p>Conditionally runs the task (or alias) with the given <code class="inline">args</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#run_in_apps/3" data-no-tooltip translate="no">run_in_apps(task, apps, args \\ [])</a> </dt> <dd class="summary-synopsis"><p>Runs recursive tasks in the specified list of children apps for umbrella projects.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#shortdoc/1" data-no-tooltip translate="no">shortdoc(module)</a> </dt> <dd class="summary-synopsis"><p>Gets the shortdoc for the given task <code class="inline">module</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#task?/1" data-no-tooltip translate="no">task?(module)</a> </dt> <dd class="summary-synopsis"><p>Returns <code class="inline">true</code> if given module is a task.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#task_name/1" data-no-tooltip translate="no">task_name(module)</a> </dt> <dd class="summary-synopsis"><p>Returns the task name for the given <code class="inline">module</code>.</p></dd> </div> </dl> </section> <section id="types" class="details-list"> <h1 class="section-heading">  <span class="text">Types</span> </h1> <div class="types-list"> <section class="detail"> <h3 class="detail-header" id="t:task_module/0">task_module()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/task.ex#L126" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type task_module() :: atom()</pre> </div> <p>The module that implements a Mix task.</p>
<p>For example, <code class="inline">Mix.Tasks.MyTask</code>.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:task_name/0">task_name()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/task.ex#L119" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type task_name() :: String.t() | atom()</pre> </div> <p>The name of a task.</p>
<p>For example, <code class="inline">"deps.clean"</code> or <code class="inline">:"deps.clean"</code>.</p> </section> </section> </div> </section> <section id="callbacks" class="details-list"> <h1 class="section-heading">  <span class="text">Callbacks</span> </h1> <div class="callbacks-list"> <section class="detail"> <h3 class="detail-header" id="c:run/1">run(command_line_args)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/task.ex#L132" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@callback run(command_line_args :: [binary()]) :: any()</pre> </div> <p>A task needs to implement <code class="inline">run</code> which receives a list of command line args.</p> </section> </section> </div> </section> <section id="functions" class="details-list"> <h1 class="section-heading">  <span class="text">Functions</span> </h1> <div class="functions-list"> <section class="detail"> <h3 class="detail-header" id="alias?/1">alias?(task)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/task.ex#L304" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec alias?(task_name()) :: boolean()</pre> </div> <p>Checks if the given <code class="inline">task</code> name is an alias.</p>
<p>Returns <code class="inline">false</code> if the given name is not an alias or if it is not a task.</p>
<p>For more information about task aliasing, take a look at the <a href="https://hexdocs.pm/mix/Mix.html#module-aliases">"Aliases"</a> section in the docs for <a href="mix"><code class="inline">Mix</code></a>.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="all_modules/0">all_modules()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/task.ex#L202" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec all_modules() :: [task_module()]</pre> </div> <p>Returns all loaded task modules.</p>
<p>Modules that are not yet loaded won't show up. Check <a href="#load_all/0"><code class="inline">load_all/0</code></a> if you want to preload all tasks.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="clear/0">clear()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/task.ex#L602" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec clear() :: :ok</pre> </div> <p>Clears all invoked tasks, allowing them to be reinvoked.</p>
<p>This operation is not recursive.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="get/1">get(task)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/task.ex#L319" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec get(task_name()) :: task_module() | nil</pre> </div> <p>Receives a task name and returns the corresponding task module if one exists.</p>
<p>Returns <code class="inline">nil</code> if the module cannot be found, if it is an alias, or if it is not a valid <a href="mix.task"><code class="inline">Mix.Task</code></a>.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="get!/1">get!(task)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/task.ex#L336" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec get!(task_name()) :: task_module()</pre> </div> <p>Receives a task name and retrieves the corresponding task module.</p>
<h4 id="get!/1-exceptions" class="section-heading">  <span class="text">Exceptions</span> </h4> <ul>
<li>
<a href="mix.notaskerror"><code class="inline">Mix.NoTaskError</code></a> - raised if the task could not be found</li>
<li>
<a href="mix.invalidtaskerror"><code class="inline">Mix.InvalidTaskError</code></a> - raised if the task is not a valid <a href="mix.task"><code class="inline">Mix.Task</code></a>
</li>
</ul> </section> </section> <section class="detail"> <h3 class="detail-header" id="load_all/0">load_all()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/task.ex#L155" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec load_all() :: [task_module()]</pre> </div> <p>Loads all tasks in all code paths.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="load_tasks/1">load_tasks(dirs)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/task.ex#L161" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec load_tasks([List.Chars.t()]) :: [task_module()]</pre> </div> <p>Loads all tasks in the given <code class="inline">paths</code>.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="moduledoc/1">moduledoc(module)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/task.ex#L212" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec moduledoc(task_module()) :: String.t() | nil | false</pre> </div> <p>Gets the moduledoc for the given task <code class="inline">module</code>.</p>
<p>Returns the moduledoc or <code class="inline">nil</code>.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="preferred_cli_env/1">preferred_cli_env(task)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/task.ex#L263" class="source">Source</a>
</h3> <div class="deprecated"> This function is deprecated. Configure the environment in your mix.exs. </div> <section class="docstring"> <p>Available for backwards compatibility.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="recursing?/0">recursing?()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/task.ex#L255" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec recursing?() :: boolean()</pre> </div> <p>Indicates if the current task is recursing.</p>
<p>This returns <code class="inline">true</code> if a task is marked as recursive and it is being executed inside an umbrella project.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="recursive/1">recursive(module)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/task.ex#L240" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec recursive(task_module()) :: boolean()</pre> </div> <p>Checks if the task should be run recursively for all sub-apps in umbrella projects.</p>
<p>Returns <code class="inline">true</code> or <code class="inline">false</code>.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="reenable/1">reenable(task)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/task.ex#L616" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec reenable(task_name()) :: :ok</pre> </div> <p>Reenables a given task so it can be executed again down the stack.</p>
<p>Both alias and the regular stack are re-enabled when this function is called.</p>
<p>If an umbrella project reenables a task, it is re-enabled for all child projects.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="requirements/1">requirements(module)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/task.ex#L273" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec requirements(task_module()) :: []</pre> </div> <p>Gets the list of requirements for the given task.</p>
<p>Returns a list of strings, where the string is expected to be a task optionally followed by its arguments.</p> </section> </section> <section class="detail">  <h3 class="detail-header" id="rerun/2">rerun(task, args \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/task.ex#L670" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec rerun(task_name(), [any()]) :: any()</pre> </div> <p>Reruns <code class="inline">task</code> with the given arguments.</p>
<p>This function reruns the given task; to do that, it first re-enables the task and then runs it as normal.</p> </section> </section> <section class="detail">  <h3 class="detail-header" id="run/2">run(task, args \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/task.ex#L386" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec run(task_name(), [any()]) :: any()</pre> </div> <p>Conditionally runs the task (or alias) with the given <code class="inline">args</code>.</p>
<p>If there exists a task matching the given task name and it has not yet been invoked, this will run the task with the given <code class="inline">args</code> and return the result.</p>
<p>If there is an <a href="mix#module-aliases">alias</a> defined for the given task name, the alias will be invoked instead of the original task.</p>
<p>If the task or alias has already been invoked, subsequent calls to <a href="#run/2"><code class="inline">run/2</code></a> will <em>abort</em> without executing and return <code class="inline">:noop</code>.</p>
<p>Remember: by default, tasks will only run <em>once</em>, even when called repeatedly! If you need to run a task multiple times, you need to re-enable it via <a href="#reenable/1"><code class="inline">reenable/1</code></a> or call it using <a href="#rerun/2"><code class="inline">rerun/2</code></a>.</p>
<p><a href="#run/2"><code class="inline">run/2</code></a> raises an exception if an alias or a task cannot be found or if the task is invalid. See <a href="#get!/1"><code class="inline">get!/1</code></a> for more information.</p>
<h4 id="run/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Mix.Task.run("format", ["mix.exs"])
:ok</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="run_in_apps/3">run_in_apps(task, apps, args \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/task.ex#L399" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec run_in_apps(task_name(), [atom()], [any()]) :: any()</pre> </div> <p>Runs recursive tasks in the specified list of children apps for umbrella projects.</p>
<p>If the task is not recursive (whose purpose is to be run in children applications), it runs at the project root level as usual. Calling this function outside of an umbrella project root fails.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="shortdoc/1">shortdoc(module)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/task.ex#L226" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec shortdoc(task_module()) :: String.t() | nil</pre> </div> <p>Gets the shortdoc for the given task <code class="inline">module</code>.</p>
<p>Returns the shortdoc or <code class="inline">nil</code>.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="task?/1">task?(module)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/task.ex#L679" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec task?(task_module()) :: boolean()</pre> </div> <p>Returns <code class="inline">true</code> if given module is a task.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="task_name/1">task_name(module)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/task.ex#L290" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec task_name(task_module()) :: task_name()</pre> </div> <p>Returns the task name for the given <code class="inline">module</code>.</p>
<h4 id="task_name/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Mix.Task.task_name(Mix.Tasks.Test)
"test"</pre> </section> </section> </div> </section> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="mix.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/mix/1.17.2/Mix.Task.html" class="_attribution-link">https://hexdocs.pm/mix/1.17.2/Mix.Task.html</a>
  </p>
</div>
