<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/tasks/escript.build.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">mix escript.build</span>  </h1> <section id="moduledoc"> <p>Builds an escript for the project.</p>
<p>An escript is an executable that can be invoked from the command line. An escript can run on any machine that has Erlang/OTP installed and by default does not require Elixir to be installed, as Elixir is embedded as part of the escript.</p>
<p>This task guarantees the project and its dependencies are compiled and packages them inside an escript. Before invoking <a href="mix.tasks.escript.build"><code class="inline">mix escript.build</code></a>, it is only necessary to define a <code class="inline">:escript</code> key with a <code class="inline">:main_module</code> option in your <code class="inline">mix.exs</code> file:</p>
<pre data-language="elixir">escript: [main_module: MyApp.CLI]</pre>
<p>Escripts should be used as a mechanism to share scripts between developers and not as a deployment mechanism. For running live systems, consider using <a href="mix.tasks.run"><code class="inline">mix run</code></a> or building releases. See the <a href="https://hexdocs.pm/elixir/Application.html"><code class="inline">Application</code></a> module for more information on systems life cycles.</p>
<p>All of the configuration defined in <code class="inline">config/config.exs</code> will be included as part of the escript. <code class="inline">config/runtime.exs</code> is also included for Elixir escripts. Once the configuration is loaded, this task starts the current application. If this is not desired, set the <code class="inline">:app</code> configuration to nil.</p>
<p>This task also removes documentation and debugging chunks from the compiled <code class="inline">.beam</code> files to reduce the size of the escript. If this is not desired, check the <code class="inline">:strip_beams</code> option.</p>
<blockquote>
<h4 class="warning">
<code class="inline">priv</code> directory support</h4>
<p>escripts do not support projects and dependencies that need to store or read artifacts from the priv directory.</p>
</blockquote>
<h2 id="module-command-line-options" class="section-heading">  <span class="text">Command line options</span> </h2> <p>Expects the same command line options as <a href="mix.tasks.compile"><code class="inline">mix compile</code></a>.</p>
<h2 id="module-configuration" class="section-heading">  <span class="text">Configuration</span> </h2> <p>The following option must be specified in your <code class="inline">mix.exs</code> under the <code class="inline">:escript</code> key:</p>
<ul><li>
<code class="inline">:main_module</code> - the module to be invoked once the escript starts. The module must contain a function named <code class="inline">main/1</code> that will receive the command line arguments. By default the arguments are given as a list of binaries, but if project is configured with <code class="inline">language: :erlang</code> it will be a list of charlists.</li></ul>
<p>The remaining options can be specified to further customize the escript:</p>
<ul>
<li><p><code class="inline">:name</code> - the name of the generated escript. Defaults to app name.</p></li>
<li><p><code class="inline">:path</code> - the path to write the escript to. Defaults to app name.</p></li>
<li><p><code class="inline">:app</code> - the app that starts with the escript. Defaults to app name. Set it to <code class="inline">nil</code> if no application should be started.</p></li>
<li><p><code class="inline">:strip_beams</code> - if <code class="inline">true</code> strips BEAM code in the escript to remove chunks unnecessary at runtime, such as debug information and documentation. Can be set to <code class="inline">[keep: ["Docs", "Dbgi"]]</code> to strip while keeping some chunks that would otherwise be stripped, like docs, and debug info, for instance. Defaults to <code class="inline">true</code>.</p></li>
<li>
<p><code class="inline">:embed_elixir</code> - if <code class="inline">true</code> embeds Elixir and its children apps (<code class="inline">ex_unit</code>, <code class="inline">mix</code>, and the like) mentioned in the <code class="inline">:applications</code> list inside the <code class="inline">application/0</code> function in <code class="inline">mix.exs</code>.</p>
<p>Defaults to <code class="inline">true</code> for Elixir projects, <code class="inline">false</code> for Erlang projects.</p>
<p>Note: if you set this to <code class="inline">false</code> for an Elixir project, you will have to add paths to Elixir's <code class="inline">ebin</code> directories to <code class="inline">ERL_LIBS</code> environment variable when running the resulting escript, in order for the code loader to be able to find <code class="inline">:elixir</code> application and its children applications (if they are used).</p>
</li>
<li><p><code class="inline">:shebang</code> - shebang interpreter directive used to execute the escript. Defaults to <code class="inline">"#! /usr/bin/env escript\n"</code>.</p></li>
<li><p><code class="inline">:comment</code> - comment line to follow shebang directive in the escript. Defaults to <code class="inline">""</code>.</p></li>
<li><p><code class="inline">:emu_args</code> - emulator arguments to embed in the escript file. Defaults to <code class="inline">""</code>.</p></li>
</ul>
<p>There is one project-level option that affects how the escript is generated:</p>
<ul><li><p><code class="inline">language: :elixir | :erlang</code> - set it to <code class="inline">:erlang</code> for Erlang projects managed by Mix. Doing so will ensure Elixir is not embedded by default. Your app will still be started as part of escript loading, with the config used during build.</p></li></ul>
<h2 id="module-example" class="section-heading">  <span class="text">Example</span> </h2> <p>In your <code class="inline">mix.exs</code>:</p>
<pre data-language="elixir">defmodule MyApp.MixProject do
  use Mix.Project

  def project do
    [
      app: :my_app,
      version: "0.0.1",
      escript: escript()
    ]
  end

  def escript do
    [main_module: MyApp.CLI]
  end
end</pre>
<p>Then define the entrypoint, such as the following in <code class="inline">lib/cli.ex</code>:</p>
<pre data-language="elixir">defmodule MyApp.CLI do
  def main(_args) do
    IO.puts("Hello from MyApp!")
  end
end</pre> </section> </div> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="mix.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/mix/1.17.2/Mix.Tasks.Escript.Build.html" class="_attribution-link">https://hexdocs.pm/mix/1.17.2/Mix.Tasks.Escript.Build.html</a>
  </p>
</div>
