<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/tasks/do.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">mix do</span>  </h1> <section id="moduledoc"> <p>Executes the tasks separated by <code class="inline">+</code>:</p>
<pre data-language="elixir">$ mix do compile --list + deps
</pre>
<p>The plus should be followed by at least one space before and after.</p>
<h2 id="module-examples" class="section-heading">  <span class="text">Examples</span> </h2> <p>The example below prints the available compilers and then the list of dependencies.</p>
<pre data-language="elixir">$ mix do compile --list + deps
</pre>
<p>Note that the majority of Mix tasks are only executed once per invocation. So for example, the following command will only compile once:</p>
<pre data-language="elixir">$ mix do compile + some_other_command + compile
</pre>
<p>When <code class="inline">compile</code> is executed again, Mix will notice the task has already ran, and skip it.</p>
<p>Inside umbrella projects, you can limit recursive tasks (the ones that run inside every app) by selecting the desired application via the <code class="inline">--app</code> flag after <code class="inline">do</code> and before the first task:</p>
<pre data-language="elixir">$ mix do --app app1 --app app2 compile --list + deps
</pre>
<p>Elixir versions prior to v1.14 used the comma exclusively to separate commands:</p>
<pre data-language="elixir">$ mix do compile --list, deps
</pre>
<p>Since then, the <code class="inline">+</code> operator has been introduced as a separator for better support on Windows terminals.</p>
<h2 id="module-command-line-options" class="section-heading">  <span class="text">Command line options</span> </h2> <ul><li>
<code class="inline">--app</code> - limit recursive tasks to the given apps. This option may be given multiple times and must come before any of the tasks.</li></ul> </section> </div> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="mix.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/mix/1.17.2/Mix.Tasks.Do.html" class="_attribution-link">https://hexdocs.pm/mix/1.17.2/Mix.Tasks.Do.html</a>
  </p>
</div>
