<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/tasks/app.config.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">mix app.config</span>  </h1> <section id="moduledoc"> <p>Loads and configures all registered apps.</p>
<p>This is done by loading <code class="inline">config/runtime.exs</code> if one exists. The application will be compiled if it was not compiled before.</p>
<h2 id="module-command-line-options" class="section-heading">  <span class="text">Command line options</span> </h2> <ul>
<li>
<code class="inline">--force</code> - forces compilation regardless of compilation times</li>
<li>
<code class="inline">--preload-modules</code> - preloads all modules defined in applications</li>
<li>
<code class="inline">--no-archives-check</code> - does not check archives</li>
<li>
<code class="inline">--no-app-loading</code> - does not load .app resource file after compilation</li>
<li>
<code class="inline">--no-compile</code> - does not compile even if files require compilation</li>
<li>
<code class="inline">--no-deps-check</code> - does not check dependencies</li>
<li>
<code class="inline">--no-elixir-version-check</code> - does not check Elixir version</li>
<li>
<code class="inline">--no-validate-compile-env</code> - does not validate the application compile environment</li>
</ul> </section> </div> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="mix.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/mix/1.17.2/Mix.Tasks.App.Config.html" class="_attribution-link">https://hexdocs.pm/mix/1.17.2/Mix.Tasks.App.Config.html</a>
  </p>
</div>
