<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/tasks/test.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">mix test</span>  </h1> <section id="moduledoc"> <p>Runs the tests for a project.</p>
<p>This task starts the current application, loads up <code class="inline">test/test_helper.exs</code> and then, requires all files matching the <code class="inline">test/**/*_test.exs</code> pattern in parallel.</p>
<p>A list of files and/or directories can be given after the task name in order to select the files to run:</p>
<pre data-language="elixir">$ mix test test/some/particular/file_test.exs
$ mix test test/some/particular/dir
</pre>
<p>Tests in umbrella projects can be run from the root by specifying the full suite path, including <code class="inline">apps/my_app/test</code>, in which case recursive tests for other child apps will be skipped completely:</p>
<pre data-language="elixir"># To run all tests for my_app from the umbrella root
$ mix test apps/my_app/test

# To run a given test file on my_app from the umbrella root
$ mix test apps/my_app/test/some/particular/file_test.exs</pre>
<h2 id="module-understanding-test-results" class="section-heading">  <span class="text">Understanding test results</span> </h2> <p>When you run your test suite, it prints results as they run with a summary at the end, as seen below:</p>
<pre data-language="elixir">$ mix test
Running ExUnit with seed: 646219, max_cases: 16
...

  1) test greets the world (FooTest)
     test/foo_test.exs:5
     Assertion with == failed
     code:  assert Foo.hello() == :world!
     left:  :world
     right: :world!
     stacktrace:
       test/foo_test.exs:6: (test)

........

Finished in 0.05 seconds (0.00s async, 0.05s sync)
1 doctest, 11 tests, 1 failure
</pre>
<p>For each test, the test suite will print a dot. Failed tests are printed immediately in the format described in the next section.</p>
<p>After all tests run, we print the suite summary. The first line contains the total time spent on the suite, followed by how much time was spent on async tests (defined with <code class="inline">use ExUnit.Case, async: true</code>) vs sync ones:</p>
<pre data-language="elixir">Finished in 0.05 seconds (0.00s async, 0.05s sync)</pre>
<p>Developers want to minimize the time spent on sync tests whenever possible, as sync tests run serially and async tests run concurrently.</p>
<p>Finally, how many tests we have run, how many of them failed, how many were invalid, and so on.</p>
<h3 id="module-understanding-test-failures" class="section-heading">  <span class="text">Understanding test failures</span> </h3> <p>First, it contains the failure counter, followed by the test name and the module the test was defined:</p>
<pre data-language="elixir">1) test greets the world (FooTest)</pre>
<p>The next line contains the exact location of the test in the <code class="inline">FILE:LINE</code> format:</p>
<pre data-language="elixir">test/foo_test.exs:5</pre>
<p>If you want to re-run only this test, all you need to do is to copy the line above and paste it in front of <a href="mix.tasks.test"><code class="inline">mix test</code></a>:</p>
<pre data-language="elixir">$ mix test test/foo_test.exs:5
</pre>
<p>Then we show the error message, code snippet, and general information about the failed test:</p>
<pre data-language="elixir">Assertion with == failed
code:  assert Foo.hello() == :world!
left:  :world
right: :world!</pre>
<p>If your terminal supports coloring (see the "Coloring" section below), a diff is typically shown between <code class="inline">left</code> and <code class="inline">right</code> sides. Finally, we print the stacktrace of the failure:</p>
<pre data-language="elixir">stacktrace:
  test/foo_test.exs:6: (test)</pre>
<h2 id="module-command-line-options" class="section-heading">  <span class="text">Command line options</span> </h2> <ul>
<li><p><code class="inline">--all-warnings</code> (<code class="inline">--no-all-warnings</code>) - prints all warnings, including previous compilations (default is true except on errors)</p></li>
<li><p><code class="inline">-b</code>, <code class="inline">--breakpoints</code> <em>(since v1.17.0)</em> - sets a breakpoint at the beginning of every test. The debugger goes line-by-line and can access all variables and imports (but not local functions). You can press <code class="inline">n</code> for the next line and <code class="inline">c</code> for the next test. This automatically sets <code class="inline">--trace</code></p></li>
<li><p><code class="inline">--color</code> - enables color in the output</p></li>
<li><p><code class="inline">--cover</code> - runs coverage tool. See "Coverage" section below</p></li>
<li><p><code class="inline">--exclude</code> - excludes tests that match the filter. This option may be given several times to apply different filters, such as <code class="inline">--exclude ci --exclude slow</code></p></li>
<li><p><code class="inline">--exit-status</code> - use an alternate exit status to use when the test suite fails (default is 2).</p></li>
<li><p><code class="inline">--export-coverage</code> - the name of the file to export coverage results to. Only has an effect when used with <code class="inline">--cover</code></p></li>
<li><p><code class="inline">--failed</code> - runs only tests that failed the last time they ran</p></li>
<li><p><code class="inline">--force</code> - forces compilation regardless of modification times</p></li>
<li><p><code class="inline">--formatter</code> - sets the formatter module that will print the results. Defaults to ExUnit's built-in CLI formatter</p></li>
<li><p><code class="inline">--include</code> - includes tests that match the filter. This option may be given several times to apply different filters, such as <code class="inline">--include ci --include slow</code></p></li>
<li><p><code class="inline">--listen-on-stdin</code> - runs tests, and then listens on stdin. It will re-run tests once a newline is received. See the "File system watchers" section below</p></li>
<li><p><code class="inline">--max-cases</code> - sets the maximum number of tests running asynchronously. Only tests from different modules run in parallel. Defaults to twice the number of cores</p></li>
<li><p><code class="inline">--max-failures</code> - the suite stops evaluating tests when this number of test failures is reached. It runs all tests if omitted</p></li>
<li><p><code class="inline">--no-archives-check</code> - does not check archives</p></li>
<li><p><code class="inline">--no-color</code> - disables color in the output</p></li>
<li><p><code class="inline">--no-compile</code> - does not compile, even if files require compilation</p></li>
<li><p><code class="inline">--no-deps-check</code> - does not check dependencies</p></li>
<li><p><code class="inline">--no-elixir-version-check</code> - does not check the Elixir version from <code class="inline">mix.exs</code></p></li>
<li><p><code class="inline">--no-start</code> - does not start applications after compilation</p></li>
<li><p><code class="inline">--only</code> - runs only tests that match the filter</p></li>
<li><p><code class="inline">--partitions</code> - sets the amount of partitions to split tests in. It must be a number greater than zero. If set to one, it acts a no-op. If more than one, then you must also set the <code class="inline">MIX_TEST_PARTITION</code> environment variable with the partition to use in the current test run. See the "Operating system process partitioning" section for more information</p></li>
<li><p><code class="inline">--preload-modules</code> - preloads all modules defined in applications</p></li>
<li><p><code class="inline">--profile-require time</code> - profiles the time spent to require test files. Used only for debugging. The test suite does not run</p></li>
<li><p><code class="inline">--raise</code> - immediately raises if the test suite fails, instead of continuing the execution of other Mix tasks</p></li>
<li><p><code class="inline">--repeat-until-failure</code> <em>(since v1.17.0)</em> - sets the number of repetitions for running the suite until it fails. This is useful for debugging flaky tests within the same instance of the Erlang VM. For example, <code class="inline">--repeat-until-failure 10000</code> repeats the test suite up to 10000 times until the first failure. This can be combined with <code class="inline">--max-failures 1</code> to immediately stop if one test fails. However, if there is any leftover global state after running the tests, re-running the suite may trigger unrelated failures.</p></li>
<li><p><code class="inline">--seed</code> - seeds the random number generator used to randomize the order of tests; <code class="inline">--seed 0</code> disables randomization so the tests in a single file will always be ran in the same order they were defined in</p></li>
<li><p><code class="inline">--slowest</code> - prints timing information for the N slowest tests. Automatically sets <code class="inline">--trace</code> and <code class="inline">--preload-modules</code></p></li>
<li><p><code class="inline">--slowest-modules</code> <em>(since v1.17.0)</em> - prints timing information for the N slowest modules. Automatically sets <code class="inline">--trace</code> and <code class="inline">--preload-modules</code></p></li>
<li><p><code class="inline">--stale</code> - runs only tests which reference modules that changed since the last time tests were ran with <code class="inline">--stale</code>. You can read more about this option in the "The --stale option" section below</p></li>
<li><p><code class="inline">--timeout</code> - sets the timeout for the tests</p></li>
<li><p><code class="inline">--trace</code> - runs tests with detailed reporting. Automatically sets <code class="inline">--max-cases</code> to <code class="inline">1</code>. Note that in trace mode test timeouts will be ignored as timeout is set to <code class="inline">:infinity</code></p></li>
<li>
<p><code class="inline">--warnings-as-errors</code> <em>(since v1.12.0)</em> - treats compilation warnings (from loading the test suite) as errors and returns a non-zero exit status if the test suite would otherwise pass. Note that failures reported by <code class="inline">--warnings-as-errors</code> cannot be retried with the <code class="inline">--failed</code> flag.</p>
<p>This option only applies to test files. To treat warnings as errors during compilation and during tests, run:</p>
<pre data-language="elixir">MIX_ENV=test mix do compile --warnings-as-errors + test --warnings-as-errors</pre>
</li>
</ul>
<h2 id="module-configuration" class="section-heading">  <span class="text">Configuration</span> </h2> <p>These configurations can be set in the <code class="inline">def project</code> section of your <code class="inline">mix.exs</code>:</p>
<ul>
<li><p><code class="inline">:test_coverage</code> - a set of options to be passed down to the coverage mechanism. See the "Coverage" section for more information</p></li>
<li><p><code class="inline">:test_elixirc_options</code> - the compiler options to used when loading/compiling test files. By default it disables the debug chunk and docs chunk</p></li>
<li><p><code class="inline">:test_paths</code> - list of paths containing test files. Defaults to <code class="inline">["test"]</code> if the <code class="inline">test</code> directory exists, otherwise, it defaults to <code class="inline">[]</code>. It is expected that all test paths contain a <code class="inline">test_helper.exs</code> file</p></li>
<li><p><code class="inline">:test_pattern</code> - a pattern to load test files. Defaults to <code class="inline">*_test.exs</code></p></li>
<li><p><code class="inline">:warn_test_pattern</code> - a pattern to match potentially misnamed test files and display a warning. Defaults to <code class="inline">*_test.ex</code></p></li>
</ul>
<h2 id="module-coloring" class="section-heading">  <span class="text">Coloring</span> </h2> <p>Coloring is enabled by default on most Unix terminals. They are also available on Windows consoles from Windows 10, although it must be explicitly enabled for the current user in the registry by running the following command:</p>
<pre data-language="elixir">$ reg add HKCU\Console /v VirtualTerminalLevel /t REG_DWORD /d 1
</pre>
<p>After running the command above, you must restart your current console.</p>
<h2 id="module-filters" class="section-heading">  <span class="text">Filters</span> </h2> <p>ExUnit provides tags and filtering functionality that allow developers to select which tests to run. The most common functionality is to exclude some particular tests from running by default in your test helper file:</p>
<pre data-language="elixir"># Exclude all external tests from running
ExUnit.configure(exclude: [external: true])</pre>
<p>Then, whenever desired, those tests could be included in the run via the <code class="inline">--include</code> option:</p>
<pre data-language="elixir">$ mix test --include external:true
</pre>
<p>The example above will run all tests that have the external option set to <code class="inline">true</code>. It is also possible to include all examples that have a given tag, regardless of its value:</p>
<pre data-language="elixir">$ mix test --include external
</pre>
<p>Note that all tests are included by default, so unless they are excluded first (either in the test helper or via the <code class="inline">--exclude</code> option) the <code class="inline">--include</code> option has no effect.</p>
<p>For this reason, Mix also provides an <code class="inline">--only</code> option that excludes all tests and includes only the given ones:</p>
<pre data-language="elixir">$ mix test --only external
</pre>
<p>Which is similar to:</p>
<pre data-language="elixir">$ mix test --include external --exclude test
</pre>
<p>It differs in that the test suite will fail if no tests are executed when the <code class="inline">--only</code> option is used.</p>
<p>In case a single file is being tested, it is possible to pass one or more specific line numbers to run only those given tests:</p>
<pre data-language="elixir">$ mix test test/some/particular/file_test.exs:12
</pre>
<p>Which is equivalent to:</p>
<pre data-language="elixir">$ mix test --exclude test --include line:12 test/some/particular/file_test.exs
</pre>
<p>Or:</p>
<pre data-language="elixir">$ mix test test/some/particular/file_test.exs:12:24
</pre>
<p>Which is equivalent to:</p>
<pre data-language="elixir">$ mix test --exclude test --include line:12 --include line:24 test/some/particular/file_test.exs
</pre>
<p>If a given line starts a <code class="inline">describe</code> block, that line filter runs all tests in it. Otherwise, it runs the closest test on or before the given line number.</p>
<h2 id="module-coverage" class="section-heading">  <span class="text">Coverage</span> </h2> <p>Elixir provides built-in line-based test coverage via the <code class="inline">--cover</code> flag. The test coverages shows which lines of code and in which files were executed during the test run.</p>
<h3 id="module-limitations" class="section-heading">  <span class="text">Limitations</span> </h3> <p>Coverage in Elixir has the following limitations:</p>
<ul>
<li><p>Literals, such as atoms, strings, and numbers, are not traced by coverage. For example, if a function simply returns <code class="inline">:ok</code>, the atom <code class="inline">:ok</code> itself is never taken into account by coverage;</p></li>
<li><p>Macros, such as the ones defined by <a href="https://hexdocs.pm/elixir/Kernel.html#defmacro/2"><code class="inline">defmacro/2</code></a> and <code class="inline">defguard/2</code>, and code invoked only by macros are never considered as covered, unless they are also invoked during the tests themselves. That's because macros are invoked at compilation time, before the test coverage instrumentation begins;</p></li>
</ul>
<h3 id="module-configuration-1" class="section-heading">  <span class="text">Configuration</span> </h3> <p>The <code class="inline">:test_coverage</code> configures the coverage tool and accepts the following options:</p>
<ul>
<li><p><code class="inline">:output</code> - the output directory for cover results. Defaults to <code class="inline">"cover"</code>.</p></li>
<li><p><code class="inline">:tool</code> - a module specifying the coverage tool to use.</p></li>
<li><p><code class="inline">:summary</code> - at the end of each coverage run, a summary of each module is printed, with results in red or green depending on whether the percentage is below or above a given threshold. The task will exit with status of 1 if the total coverage is below the threshold. The <code class="inline">:summary</code> option allows you to customize the summary generation and defaults to <code class="inline">[threshold: 90]</code>, but it may be set to <code class="inline">false</code> to disable such reports.</p></li>
<li><p><code class="inline">:export</code> - a filename to export results to instead of generating the coverage result on the fly. The <code class="inline">.coverdata</code> extension is automatically added to the given file. This option is automatically set via the <code class="inline">--export-coverage</code> option or when using process partitioning. See <a href="mix.tasks.test.coverage"><code class="inline">mix test.coverage</code></a> to compile a report from multiple exports.</p></li>
<li><p><code class="inline">:ignore_modules</code> - modules to ignore from generating reports and in summaries. It is a list of module names as atoms and regular expressions that are matched against the module names.</p></li>
<li><p><code class="inline">:local_only</code> - by default coverage only tracks local calls, set this option to false if you plan to run coverage across nodes.</p></li>
</ul>
<p>By default, a wrapper around OTP's <code class="inline">cover</code> is used as the default coverage tool. You can learn more about how it works in the docs for <a href="mix.tasks.test.coverage"><code class="inline">mix test.coverage</code></a>. Your tool of choice can be given as follows:</p>
<pre data-language="elixir">def project() do
  [
    ...
    test_coverage: [tool: CoverModule]
    ...
  ]
end</pre>
<p><code class="inline">CoverModule</code> can be any module that exports <code class="inline">start/2</code>, receiving the compilation path and the <code class="inline">test_coverage</code> options as arguments. It must return either <code class="inline">nil</code> or an anonymous function of zero arity that will run after the test suite is done.</p>
<h2 id="module-operating-system-process-partitioning" class="section-heading">  <span class="text">Operating system process partitioning</span> </h2> <p>While ExUnit supports the ability to run tests concurrently within the same Elixir instance, it is not always possible to run all tests concurrently. For example, some tests may rely on global resources.</p>
<p>For this reason, <a href="mix.tasks.test"><code class="inline">mix test</code></a> supports partitioning the test files across different Elixir instances. This is done by setting the <code class="inline">--partitions</code> option to an integer, with the number of partitions, and setting the <code class="inline">MIX_TEST_PARTITION</code> environment variable to control which test partition that particular instance is running. This can also be useful if you want to distribute testing across multiple machines.</p>
<p>For example, to split a test suite into 4 partitions and run them, you would use the following commands:</p>
<pre data-language="elixir">$ MIX_TEST_PARTITION=1 mix test --partitions 4
$ MIX_TEST_PARTITION=2 mix test --partitions 4
$ MIX_TEST_PARTITION=3 mix test --partitions 4
$ MIX_TEST_PARTITION=4 mix test --partitions 4
</pre>
<p>The test files are sorted upfront in a round-robin fashion. Note the partition itself is given as an environment variable so it can be accessed in config files and test scripts. For example, it can be used to setup a different database instance per partition in <code class="inline">config/test.exs</code>.</p>
<p>If partitioning is enabled and <code class="inline">--cover</code> is used, no cover reports are generated, as they only contain a subset of the coverage data. Instead, the coverage data is exported to files such as <code class="inline">cover/MIX_TEST_PARTITION.coverdata</code>. Once you have the results of all partitions inside <code class="inline">cover/</code>, you can run <a href="mix.tasks.test.coverage"><code class="inline">mix test.coverage</code></a> to get the unified report.</p>
<h2 id="module-the-stale-option" class="section-heading">  <span class="text">The --stale option</span> </h2> <p>The <code class="inline">--stale</code> command line option attempts to run only the test files which reference modules that have changed since the last time you ran this task with <code class="inline">--stale</code>.</p>
<p>The first time this task is run with <code class="inline">--stale</code>, all tests are run and a manifest is generated. On subsequent runs, a test file is marked "stale" if any modules it references (and any modules those modules reference, recursively) were modified since the last run with <code class="inline">--stale</code>. A test file is also marked "stale" if it has been changed since the last run with <code class="inline">--stale</code>.</p>
<p>The <code class="inline">--stale</code> option is extremely useful for software iteration, allowing you to run only the relevant tests as you perform changes to the codebase.</p>
<h2 id="module-file-system-watchers" class="section-heading">  <span class="text">File-system watchers</span> </h2> <p>You can integrate <a href="mix.tasks.test"><code class="inline">mix test</code></a> with file system watchers through the command line via the <code class="inline">--listen-on-stdin</code> option. For example, you can use <a href="https://github.com/emcrisostomo/fswatch">fswatch</a> or similar to emit newlines whenever there is a change, which will cause your test suite to re-run:</p>
<pre data-language="elixir">$ fswatch lib test | mix test --listen-on-stdin
</pre>
<p>This can be combined with the <code class="inline">--stale</code> option to re-run only the test files that have changed as well as the tests that have gone stale due to changes in <code class="inline">lib</code>.</p>
<h2 id="module-aborting-the-suite" class="section-heading">  <span class="text">Aborting the suite</span> </h2> <p>It is possible to abort the test suite with <code class="inline">Ctrl+\</code>, which sends a SIGQUIT signal to the Erlang VM. ExUnit will intercept this signal to show all tests that have been aborted and print the results collected so far.</p>
<p>This can be useful in case the suite gets stuck and you don't want to wait until the timeout times passes (which defaults to 30 seconds).</p> </section> </div> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="mix.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/mix/1.17.2/Mix.Tasks.Test.html" class="_attribution-link">https://hexdocs.pm/mix/1.17.2/Mix.Tasks.Test.html</a>
  </p>
</div>
