<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/project.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">Mix.Project</span>  </h1> <section id="moduledoc"> <p>Defines and manipulates Mix projects.</p>
<p>A Mix project is defined by calling <code class="inline">use Mix.Project</code> in a module, usually placed in <code class="inline">mix.exs</code>:</p>
<pre data-language="elixir">defmodule MyApp.MixProject do
  use Mix.Project

  def project do
    [
      app: :my_app,
      version: "1.0.0"
    ]
  end
end</pre>
<blockquote>
<h4 class="info"><code class="inline">use Mix.Project</code></h4>
<p>When you <code class="inline">use Mix.Project</code>, it notifies Mix that a new project has been defined, so all Mix tasks use your module as a starting point.</p>
</blockquote>
<h2 id="module-configuration" class="section-heading">  <span class="text">Configuration</span> </h2> <p>In order to configure Mix, the module that calls <code class="inline">use Mix.Project</code> should export a <code class="inline">project/0</code> function that returns a keyword list representing configuration for the project.</p>
<p>This configuration can be read using <a href="#config/0"><code class="inline">Mix.Project.config/0</code></a>. Note that <a href="#config/0"><code class="inline">config/0</code></a> won't fail if a project is not defined; this allows many Mix tasks to work without a project.</p>
<p>If a task requires a project to be defined or needs to access a special function within the project, the task can call <a href="#get!/0"><code class="inline">Mix.Project.get!/0</code></a> which fails with <a href="mix.noprojecterror"><code class="inline">Mix.NoProjectError</code></a> in the case a project is not defined.</p>
<p>There isn't a comprehensive list of all the options that can be returned by <code class="inline">project/0</code> since many Mix tasks define their own options that they read from this configuration. For example, look at the "Configuration" section in the documentation for the <a href="mix.tasks.compile"><code class="inline">Mix.Tasks.Compile</code></a> task.</p>
<p>These are a few options that are not used by just one Mix task (and will thus be documented here):</p>
<ul>
<li><p><code class="inline">:build_per_environment</code> - if <code class="inline">true</code>, builds will be <em>per-environment</em>. If <code class="inline">false</code>, builds will go in <code class="inline">_build/shared</code> regardless of the Mix environment. Defaults to <code class="inline">true</code>.</p></li>
<li><p><code class="inline">:aliases</code> - a list of task aliases. For more information, check out the "Aliases" section in the documentation for the <a href="mix"><code class="inline">Mix</code></a> module. Defaults to <code class="inline">[]</code>.</p></li>
<li><p><code class="inline">:config_path</code> - a string representing the path of the main config file. See <a href="#config_files/0"><code class="inline">config_files/0</code></a> for more information. Defaults to <code class="inline">"config/config.exs"</code>.</p></li>
<li><p><code class="inline">:deps</code> - a list of dependencies of this project. Refer to the documentation for the <a href="mix.tasks.deps"><code class="inline">Mix.Tasks.Deps</code></a> task for more information. Defaults to <code class="inline">[]</code>.</p></li>
<li><p><code class="inline">:deps_path</code> - directory where dependencies are stored. Also see <a href="#deps_path/1"><code class="inline">deps_path/1</code></a>. Defaults to <code class="inline">"deps"</code>.</p></li>
<li><p><code class="inline">:lockfile</code> - the name of the lockfile used by the <code class="inline">mix deps.*</code> family of tasks. Defaults to <code class="inline">"mix.lock"</code>.</p></li>
</ul>
<p>Mix tasks may require their own configuration inside <code class="inline">def project</code>. For example, check the <a href="mix.tasks.compile"><code class="inline">Mix.Tasks.Compile</code></a> task and all the specific compiler tasks (such as <a href="mix.tasks.compile.elixir"><code class="inline">Mix.Tasks.Compile.Elixir</code></a> or <a href="mix.tasks.compile.erlang"><code class="inline">Mix.Tasks.Compile.Erlang</code></a>).</p>
<p>Note that different tasks may share the same configuration option. For example, the <code class="inline">:erlc_paths</code> configuration is used by <a href="mix.tasks.compile.erlang"><code class="inline">mix compile.erlang</code></a>, <a href="mix.tasks.compile.yecc"><code class="inline">mix compile.yecc</code></a>, and other tasks.</p>
<h2 id="module-cli-configuration" class="section-heading">  <span class="text">CLI configuration</span> </h2> <p>Mix is most often invoked from the command line. For this purpose, you may define a specific <code class="inline">cli/0</code> function which customizes default values when executed from the CLI. For example:</p>
<pre data-language="elixir">def cli do
  [
    default_task: "phx.server",
    preferred_envs: [docs: :docs]
  ]
end</pre>
<p>The example above sets the default task (used by <code class="inline">iex -S mix</code> and <code class="inline">mix</code>) to <code class="inline">phx.server</code>. It also sets the default environment for the "mix docs" task to be "docs".</p>
<p>The following CLI configuration are available:</p>
<ul>
<li><p><code class="inline">:default_env</code> - the default environment to use when none is given and <code class="inline">MIX_ENV</code> is not set</p></li>
<li><p><code class="inline">:default_target</code> - the default target to use when none is given and <code class="inline">MIX_TARGET</code> is not set</p></li>
<li><p><code class="inline">:default_task</code> - the default task to invoke when none is given</p></li>
<li><p><code class="inline">:preferred_envs</code> - a keyword list of <code class="inline">{task, env}</code> tuples where <code class="inline">task</code> is the task name as an atom (for example, <code class="inline">:"deps.get"</code>) and <code class="inline">env</code> is the preferred environment (for example, <code class="inline">:test</code>)</p></li>
<li><p><code class="inline">:preferred_targets</code> - a keyword list of <code class="inline">{task, target}</code> tuples where <code class="inline">task</code> is the task name as an atom (for example, <code class="inline">:test</code>) and <code class="inline">target</code> is the preferred target (for example, <code class="inline">:host</code>)</p></li>
</ul>
<h2 id="module-erlang-projects" class="section-heading">  <span class="text">Erlang projects</span> </h2> <p>Mix can be used to manage Erlang projects that don't have any Elixir code. To ensure Mix tasks work correctly for an Erlang project, <code class="inline">language: :erlang</code> has to be part of the configuration returned by <code class="inline">project/0</code>. This setting also makes sure Elixir is not added as a dependency to the generated <code class="inline">.app</code> file or to the escript generated with <a href="mix.tasks.escript.build"><code class="inline">mix escript.build</code></a>, and so on.</p>
<h2 id="module-invoking-this-module" class="section-heading">  <span class="text">Invoking this module</span> </h2> <p>This module contains many functions that return project information and metadata. However, since Mix is not included nor configured during releases, we recommend using the functions in this module only inside Mix tasks. If you need to configure your own app, consider using the application environment instead. For example, don't do this:</p>
<pre data-language="elixir">def some_config do
  Mix.Project.config()[:some_config]
end</pre>
<p>Nor this:</p>
<pre data-language="elixir">@some_config Mix.Project.config()[:some_config]</pre>
<p>Instead, do this:</p>
<pre data-language="elixir">def some_config do
  Application.get_env(:my_app, :some_config)
end</pre>
<p>Or this:</p>
<pre data-language="elixir">@some_config Application.compile_env(:my_app, :some_config)</pre> </section> </div> <section id="summary" class="details-list"> <h1 class="section-heading">  <span class="text">Summary</span> </h1> <h2> Functions </h2>
<dl class="summary-functions summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#app_path/1" data-no-tooltip translate="no">app_path(config \\ config())</a> </dt> <dd class="summary-synopsis"><p>Returns the application path inside the build.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#apps_paths/1" data-no-tooltip translate="no">apps_paths(config \\ config())</a> </dt> <dd class="summary-synopsis"><p>Returns a map with the umbrella child applications paths.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#build_path/1" data-no-tooltip translate="no">build_path(config \\ config())</a> </dt> <dd class="summary-synopsis"><p>Returns the build path for the given project.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#build_structure/2" data-no-tooltip translate="no">build_structure(config \\ config(), opts \\ [])</a> </dt> <dd class="summary-synopsis"><p>Builds the project structure for the given application.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#clear_deps_cache/0" data-no-tooltip translate="no">clear_deps_cache()</a> </dt> <dd class="summary-synopsis"><p>Clears the dependency for the current environment.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#compile_path/1" data-no-tooltip translate="no">compile_path(config \\ config())</a> </dt> <dd class="summary-synopsis"><p>Returns the paths the given project compiles to.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#config/0" data-no-tooltip translate="no">config()</a> </dt> <dd class="summary-synopsis"><p>Returns the project configuration.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#config_files/0" data-no-tooltip translate="no">config_files()</a> </dt> <dd class="summary-synopsis"><p>Returns a list of project configuration files for this project.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#config_mtime/0" data-no-tooltip translate="no">config_mtime()</a> </dt> <dd class="summary-synopsis"><p>Returns the latest modification time from config files.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#consolidation_path/1" data-no-tooltip translate="no">consolidation_path(config \\ config())</a> </dt> <dd class="summary-synopsis"><p>Returns the path where protocol consolidations are stored.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#deps_apps/0" data-no-tooltip translate="no">deps_apps()</a> </dt> <dd class="summary-synopsis"><p>Returns all dependencies app names.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#deps_path/1" data-no-tooltip translate="no">deps_path(config \\ config())</a> </dt> <dd class="summary-synopsis"><p>Returns the path where dependencies are stored for the given project.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#deps_paths/1" data-no-tooltip translate="no">deps_paths(opts \\ [])</a> </dt> <dd class="summary-synopsis"><p>Returns the full path of all dependencies as a map.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#deps_scms/1" data-no-tooltip translate="no">deps_scms(opts \\ [])</a> </dt> <dd class="summary-synopsis"><p>Returns the SCMs of all dependencies as a map.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#deps_tree/1" data-no-tooltip translate="no">deps_tree(opts \\ [])</a> </dt> <dd class="summary-synopsis"><p>Returns the dependencies of all dependencies as a map.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#ensure_structure/2" data-no-tooltip translate="no">ensure_structure(config \\ config(), opts \\ [])</a> </dt> <dd class="summary-synopsis"><p>Ensures the project structure for the given project exists.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#get/0" data-no-tooltip translate="no">get()</a> </dt> <dd class="summary-synopsis"><p>Retrieves the current project if there is one.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#get!/0" data-no-tooltip translate="no">get!()</a> </dt> <dd class="summary-synopsis"><p>Same as <a href="#get/0"><code class="inline">get/0</code></a>, but raises an exception if there is no current project.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#in_project/4" data-no-tooltip translate="no">in_project(app, path, post_config \\ [], fun)</a> </dt> <dd class="summary-synopsis"><p>Runs the given <code class="inline">fun</code> inside the given project.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#load_paths/1" data-no-tooltip translate="no">load_paths(config \\ config())</a> <span class="deprecated" title="Use Mix.Project.compile_path/1 instead">deprecated</span> </dt> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#manifest_path/1" data-no-tooltip translate="no">manifest_path(config \\ config())</a> </dt> <dd class="summary-synopsis"><p>Returns the path where manifests are stored.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#parent_umbrella_project_file/0" data-no-tooltip translate="no">parent_umbrella_project_file()</a> </dt> <dd class="summary-synopsis"><p>Returns the path to the file that defines the parent umbrella project, if one.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#project_file/0" data-no-tooltip translate="no">project_file()</a> </dt> <dd class="summary-synopsis"><p>Returns the path to the file that defines the current project.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#umbrella?/1" data-no-tooltip translate="no">umbrella?(config \\ config())</a> </dt> <dd class="summary-synopsis"><p>Returns <code class="inline">true</code> if <code class="inline">config</code> is the configuration for an umbrella project.</p></dd> </div> </dl> </section> <section id="functions" class="details-list"> <h1 class="section-heading">  <span class="text">Functions</span> </h1> <div class="functions-list"> <section class="detail">  <h3 class="detail-header" id="app_path/1">app_path(config \\ config())<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/project.ex#L753" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec app_path(keyword()) :: Path.t()</pre> </div> <p>Returns the application path inside the build.</p>
<p>The returned path will be expanded.</p>
<h4 id="app_path/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <p>If your project defines the app <code class="inline">my_app</code>:</p>
<pre data-language="elixir">Mix.Project.app_path()
#=&gt; "/path/to/project/_build/shared/lib/my_app"</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="apps_paths/1">apps_paths(config \\ config())<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/project.ex#L374" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec apps_paths(keyword()) :: %{optional(atom()) =&gt; Path.t()} | nil</pre> </div> <p>Returns a map with the umbrella child applications paths.</p>
<p>These paths are based on the <code class="inline">:apps_path</code> and <code class="inline">:apps</code> configurations.</p>
<p>If the given project configuration identifies an umbrella project, the return value is a map of <code class="inline">app =&gt; path</code> where <code class="inline">app</code> is a child app of the umbrella and <code class="inline">path</code> is its path relative to the root of the umbrella project.</p>
<p>If the given project configuration does not identify an umbrella project, <code class="inline">nil</code> is returned.</p>
<h4 id="apps_paths/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">Mix.Project.apps_paths()
#=&gt; %{my_app1: "apps/my_app1", my_app2: "apps/my_app2"}</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="build_path/1">build_path(config \\ config())<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/project.ex#L678" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec build_path(keyword()) :: Path.t()</pre> </div> <p>Returns the build path for the given project.</p>
<p>The build path is built based on the <code class="inline">:build_path</code> configuration (which defaults to <code class="inline">"_build"</code>) and a subdirectory. The subdirectory is built based on two factors:</p>
<ul>
<li><p>If <code class="inline">:build_per_environment</code> is set, the subdirectory is the value of <a href="mix#env/0"><code class="inline">Mix.env/0</code></a> (which can be set via <code class="inline">MIX_ENV</code>). Otherwise it is set to "shared".</p></li>
<li><p>If <a href="mix#target/0"><code class="inline">Mix.target/0</code></a> is set (often via the <code class="inline">MIX_TARGET</code> environment variable), it will be used as a prefix to the subdirectory.</p></li>
</ul>
<p>Finally, the environment variables <code class="inline">MIX_BUILD_ROOT</code> and <code class="inline">MIX_BUILD_PATH</code> can be used to change the result of this function. <code class="inline">MIX_BUILD_ROOT</code> overwrites only the root <code class="inline">"_build"</code> directory while keeping the subdirectory as is. It may be useful to change it for caching reasons, typically during Continuous Integration (CI). <code class="inline">MIX_BUILD_PATH</code> overrides the build path altogether and it typically used by other build tools that invoke the <code class="inline">mix</code> CLI.</p>
<blockquote>
<h4 class="info">Naming differences</h4>
<p>Ideally the configuration option <code class="inline">:build_path</code> would be called <code class="inline">:build_root</code>, as it would fully mirror the environment variable. However, its name is preserved for backwards compatibility.</p>
</blockquote>
<h4 id="build_path/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">Mix.Project.build_path()
#=&gt; "/path/to/project/_build/shared"</pre>
<p>If <code class="inline">:build_per_environment</code> is set to <code class="inline">true</code>, it will create a new build per environment:</p>
<pre data-language="elixir">Mix.env()
#=&gt; :dev
Mix.Project.build_path()
#=&gt; "/path/to/project/_build/dev"</pre> </section> </section> <section class="detail">   <h3 class="detail-header" id="build_structure/2">build_structure(config \\ config(), opts \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/project.ex#L834" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec build_structure(keyword(), keyword()) :: :ok</pre> </div> <p>Builds the project structure for the given application.</p>
<h4 id="build_structure/2-options" class="section-heading">  <span class="text">Options</span> </h4> <ul><li>
<code class="inline">:symlink_ebin</code> - symlink ebin instead of copying it</li></ul> </section> </section> <section class="detail"> <h3 class="detail-header" id="clear_deps_cache/0">clear_deps_cache()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/project.ex#L630" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec clear_deps_cache() :: :ok</pre> </div> <p>Clears the dependency for the current environment.</p>
<p>Useful when dependencies need to be reloaded due to change of global state.</p>
<p>For example, Nerves uses this function to force all dependencies to be reloaded after it updates the system environment. It goes roughly like this:</p>
<ol>
<li>Nerves fetches all dependencies and looks for the system specific deps</li>
<li>Once the system specific dep is found, it loads it alongside env vars</li>
<li>Nerves then clears the cache, forcing dependencies to be loaded again</li>
<li>Dependencies are loaded again, now with an updated env environment</li>
</ol> </section> </section> <section class="detail">  <h3 class="detail-header" id="compile_path/1">compile_path(config \\ config())<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/project.ex#L787" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec compile_path(keyword()) :: Path.t()</pre> </div> <p>Returns the paths the given project compiles to.</p>
<p>If no configuration is given, the one for the current project will be used.</p>
<p>The returned path will be expanded.</p>
<h4 id="compile_path/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <p>If your project defines the app <code class="inline">my_app</code>:</p>
<pre data-language="elixir">Mix.Project.compile_path()
#=&gt; "/path/to/project/_build/dev/lib/my_app/ebin"</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="config/0">config()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/project.ex#L295" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec config() :: keyword()</pre> </div> <p>Returns the project configuration.</p>
<p>If there is no project defined, it still returns a keyword list with default values. This allows many Mix tasks to work without the need for an underlying project.</p>
<p>Note this configuration is cached once the project is pushed onto the stack. Calling it multiple times won't cause it to be recomputed.</p>
<p>Do not use <a href="#config/0"><code class="inline">Mix.Project.config/0</code></a> to find the runtime configuration. Use it only to configure aspects of your project (like compilation directories) and not your application runtime.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="config_files/0">config_files()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/project.ex#L317" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec config_files() :: [Path.t()]</pre> </div> <p>Returns a list of project configuration files for this project.</p>
<p>This function is usually used in compilation tasks to trigger a full recompilation whenever such configuration files change.</p>
<p>It returns the lock manifest, and all config files in the <code class="inline">config</code> directory that do not start with a leading period (for example, <code class="inline">.my_config.exs</code>).</p>
<p>Note: before Elixir v1.13.0, the <code class="inline">mix.exs</code> file was also included as a config file, but since then it has been moved to its own function called <a href="#project_file/0"><code class="inline">project_file/0</code></a>.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="config_mtime/0">config_mtime()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/project.ex#L339" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec config_mtime() :: posix_mtime when posix_mtime: integer()</pre> </div> <p>Returns the latest modification time from config files.</p>
<p>This function is usually used in compilation tasks to trigger a full recompilation whenever such configuration files change. For this reason, the mtime is cached to avoid file system lookups.</p>
<p>However, for effective used of this function, you must avoid comparing source files with the <code class="inline">config_mtime</code> itself. Instead, store the previous <code class="inline">config_mtime</code> and compare it with the new <code class="inline">config_mtime</code> in order to detect if something is stale.</p>
<p>Note: before Elixir v1.13.0, the <code class="inline">mix.exs</code> file was also included in the mtimes, but not anymore. You can compute its modification date by calling <a href="#project_file/0"><code class="inline">project_file/0</code></a>.</p> </section> </section> <section class="detail">  <h3 class="detail-header" id="consolidation_path/1">consolidation_path(config \\ config())<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/project.ex#L810" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec consolidation_path(keyword()) :: Path.t()</pre> </div> <p>Returns the path where protocol consolidations are stored.</p>
<p>The returned path will be expanded.</p>
<h4 id="consolidation_path/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <p>If your project defines the app <code class="inline">my_app</code>:</p>
<pre data-language="elixir">Mix.Project.consolidation_path()
#=&gt; "/path/to/project/_build/dev/lib/my_app/consolidated"</pre>
<p>Inside umbrellas:</p>
<pre data-language="elixir">Mix.Project.consolidation_path()
#=&gt; "/path/to/project/_build/dev/consolidated"</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="deps_apps/0">deps_apps()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/project.ex#L503" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec deps_apps() :: [atom()]</pre> </div> <p>Returns all dependencies app names.</p>
<p>The order they are returned is guaranteed to be sorted for proper dependency resolution. For example, if A depends on B, then B will listed before A.</p> </section> </section> <section class="detail">  <h3 class="detail-header" id="deps_path/1">deps_path(config \\ config())<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/project.ex#L489" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec deps_path(keyword()) :: Path.t()</pre> </div> <p>Returns the path where dependencies are stored for the given project.</p>
<p>If no configuration is given, the one for the current project is used.</p>
<p>The returned path will be expanded.</p>
<h4 id="deps_path/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">Mix.Project.deps_path()
#=&gt; "/path/to/project/deps"</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="deps_paths/1">deps_paths(opts \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/project.ex#L548" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec deps_paths(keyword()) :: %{optional(atom()) =&gt; Path.t()}</pre> </div> <p>Returns the full path of all dependencies as a map.</p>
<h4 id="deps_paths/1-options" class="section-heading">  <span class="text">Options</span> </h4> <ul>
<li>
<code class="inline">:depth</code> - only returns dependencies to the depth level, a depth of <code class="inline">1</code> will only return top-level dependencies</li>
<li>
<code class="inline">:parents</code> - starts the dependency traversal from the given parents instead of the application root</li>
</ul>
<h4 id="deps_paths/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">Mix.Project.deps_paths()
#=&gt; %{foo: "deps/foo", bar: "custom/path/dep"}</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="deps_scms/1">deps_scms(opts \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/project.ex#L527" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec deps_scms(keyword()) :: %{optional(atom()) =&gt; Mix.SCM.t()}</pre> </div> <p>Returns the SCMs of all dependencies as a map.</p>
<p>See <a href="mix.scm"><code class="inline">Mix.SCM</code></a> module documentation to learn more about SCMs.</p>
<h4 id="deps_scms/1-options" class="section-heading">  <span class="text">Options</span> </h4> <ul>
<li>
<code class="inline">:depth</code> - only returns dependencies to the depth level, a depth of <code class="inline">1</code> will only return top-level dependencies</li>
<li>
<code class="inline">:parents</code> - starts the dependency traversal from the given parents instead of the application root</li>
</ul>
<h4 id="deps_scms/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">Mix.Project.deps_scms()
#=&gt; %{foo: Mix.SCM.Path, bar: Mix.SCM.Git}</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="deps_tree/1">deps_tree(opts \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/project.ex#L570" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec deps_tree(keyword()) :: %{optional(atom()) =&gt; [atom()]}</pre> </div> <p>Returns the dependencies of all dependencies as a map.</p>
<h4 id="deps_tree/1-options" class="section-heading">  <span class="text">Options</span> </h4> <ul>
<li>
<code class="inline">:depth</code> - only returns dependencies to the depth level, a depth of <code class="inline">1</code> will only return top-level dependencies</li>
<li>
<code class="inline">:parents</code> - starts the dependency traversal from the given parents instead of the application root</li>
</ul>
<h4 id="deps_tree/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">Mix.Project.deps_tree()
#=&gt; %{foo: [:bar, :baz], bar: [], baz: []}</pre> </section> </section> <section class="detail">   <h3 class="detail-header" id="ensure_structure/2">ensure_structure(config \\ config(), opts \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/project.ex#L868" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec ensure_structure(keyword(), keyword()) :: :ok</pre> </div> <p>Ensures the project structure for the given project exists.</p>
<p>In case it does exist, it is a no-op. Otherwise, it is built.</p>
<p><code class="inline">opts</code> are the same options that can be passed to <a href="#build_structure/2"><code class="inline">build_structure/2</code></a>.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="get/0">get()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/project.ex#L238" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec get() :: module() | nil</pre> </div> <p>Retrieves the current project if there is one.</p>
<p>If there is no current project, <code class="inline">nil</code> is returned. This may happen in cases there is no <code class="inline">mix.exs</code> in the current directory.</p>
<p>If you expect a project to be defined, i.e., it is a requirement of the current task, you should call <a href="#get!/0"><code class="inline">get!/0</code></a> instead.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="get!/0">get!()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/project.ex#L255" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec get!() :: module()</pre> </div> <p>Same as <a href="#get/0"><code class="inline">get/0</code></a>, but raises an exception if there is no current project.</p>
<p>This is usually called by tasks that need additional functions on the project to be defined. Since such tasks usually depend on a project being defined, this function raises a <a href="mix.noprojecterror"><code class="inline">Mix.NoProjectError</code></a> exception in case no project is available.</p> </section> </section> <section class="detail">  <h3 class="detail-header" id="in_project/4">in_project(app, path, post_config \\ [], fun)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/project.ex#L450" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec in_project(atom(), Path.t(), keyword(), (module() -&gt; result)) :: result
when result: term()</pre> </div> <p>Runs the given <code class="inline">fun</code> inside the given project.</p>
<p>This function changes the current working directory and loads the project at the given directory onto the project stack.</p>
<p>A <code class="inline">post_config</code> can be passed that will be merged into the project configuration.</p>
<p><code class="inline">fun</code> is called with the module name of the given <a href="mix.project"><code class="inline">Mix.Project</code></a>. The return value of this function is the return value of <code class="inline">fun</code>.</p>
<h4 id="in_project/4-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">Mix.Project.in_project(:my_app, "/path/to/my_app", fn module -&gt;
  "Mix project is: #{inspect(module)}"
end)
#=&gt; "Mix project is: MyApp.MixProject"</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="load_paths/1">load_paths(config \\ config())<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/project.ex#L877" class="source">Source</a>
</h3> <div class="deprecated"> This function is deprecated. Use Mix.Project.compile_path/1 instead. </div>  </section> <section class="detail">  <h3 class="detail-header" id="manifest_path/1">manifest_path(config \\ config())<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/project.ex#L727" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec manifest_path(keyword()) :: Path.t()</pre> </div> <p>Returns the path where manifests are stored.</p>
<p>By default they are stored in the app path inside the build directory. Umbrella applications have the manifest path set to the root of the build directory. Directories may be changed in future releases.</p>
<p>The returned path will be expanded.</p>
<h4 id="manifest_path/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <p>If your project defines the app <code class="inline">my_app</code>:</p>
<pre data-language="elixir">Mix.Project.manifest_path()
#=&gt; "/path/to/project/_build/shared/lib/my_app/.mix"</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="parent_umbrella_project_file/0">parent_umbrella_project_file()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/project.ex#L277" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec parent_umbrella_project_file() :: binary() | nil</pre> </div> <p>Returns the path to the file that defines the parent umbrella project, if one.</p>
<p>The majority of the time, it will point to a <code class="inline">mix.exs</code> file. Returns <code class="inline">nil</code> if not inside a project or not inside an umbrella.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="project_file/0">project_file()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/project.ex#L267" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec project_file() :: binary() | nil</pre> </div> <p>Returns the path to the file that defines the current project.</p>
<p>The majority of the time, it will point to a <code class="inline">mix.exs</code> file. Returns <code class="inline">nil</code> if not inside a project.</p> </section> </section> <section class="detail">  <h3 class="detail-header" id="umbrella?/1">umbrella?(config \\ config())<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/project.ex#L350" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec umbrella?(keyword()) :: boolean()</pre> </div> <p>Returns <code class="inline">true</code> if <code class="inline">config</code> is the configuration for an umbrella project.</p>
<p>When called with no arguments, tells whether the current project is an umbrella project.</p> </section> </section> </div> </section> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="mix.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/mix/1.17.2/Mix.Project.html" class="_attribution-link">https://hexdocs.pm/mix/1.17.2/Mix.Project.html</a>
  </p>
</div>
