<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/tasks/loadpaths.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">mix loadpaths</span>  </h1> <section id="moduledoc"> <p>Loads the application and its dependencies paths.</p>
<p>This task is never directly invoked from the command line, but it is rather used as building block by other tasks.</p>
<p>Dependencies are checked, compiled, and loaded. Each step can be explicitly disabled with flags.</p>
<h2 id="module-configuration" class="section-heading">  <span class="text">Configuration</span> </h2> <ul><li>
<code class="inline">:elixir</code> - matches the current Elixir version against the given requirement</li></ul>
<h2 id="module-command-line-options" class="section-heading">  <span class="text">Command line options</span> </h2> <ul>
<li>
<code class="inline">--no-archives-check</code> - does not check archives</li>
<li>
<code class="inline">--no-compile</code> - does not compile dependencies, only check and load them</li>
<li>
<code class="inline">--no-deps-check</code> - does not check dependencies, only load available ones</li>
<li>
<code class="inline">--no-elixir-version-check</code> - does not check Elixir version</li>
<li>
<code class="inline">--no-optional-deps</code> - does not compile or load optional deps</li>
<li>
<code class="inline">--no-path-loading</code> - does not add entries to the code path</li>
</ul> </section> </div> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="mix.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/mix/1.17.2/Mix.Tasks.Loadpaths.html" class="_attribution-link">https://hexdocs.pm/mix/1.17.2/Mix.Tasks.Loadpaths.html</a>
  </p>
</div>
