<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/mix/lib/mix/tasks/help.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">mix help</span>  </h1> <section id="moduledoc"> <p>Lists all tasks and aliases or prints the documentation for a given task or alias.</p>
<h2 id="module-arguments" class="section-heading">  <span class="text">Arguments</span> </h2> <pre data-language="elixir">$ mix help                  - prints all aliases, tasks and their short descriptions
$ mix help ALIAS            - prints the definition for the given alias
$ mix help TASK             - prints full docs for the given task
$ mix help --search PATTERN - prints all tasks and aliases that contain PATTERN in the name
$ mix help --names          - prints all task names and aliases
                            (useful for autocompleting)
$ mix help --aliases        - prints all aliases
</pre>
<h2 id="module-colors" class="section-heading">  <span class="text">Colors</span> </h2> <p>When possible, <a href="mix.tasks.help"><code class="inline">mix help</code></a> is going to use coloring for formatting the help information. The formatting can be customized by configuring the Mix application either inside your project (in <code class="inline">config/config.exs</code>) or by using the local config (in <code class="inline">~/.mix/config.exs</code>).</p>
<p>For example, to disable color, one may use the configuration:</p>
<pre data-language="elixir">[mix: [colors: [enabled: false]]]</pre>
<p>The available color options are:</p>
<ul>
<li>
<code class="inline">:enabled</code> - shows ANSI formatting (defaults to <a href="https://hexdocs.pm/elixir/IO.ANSI.html#enabled?/0"><code class="inline">IO.ANSI.enabled?/0</code></a>)</li>
<li>
<code class="inline">:doc_code</code> - the attributes for code blocks (cyan, bright)</li>
<li>
<code class="inline">:doc_inline_code</code> - inline code (cyan)</li>
<li>
<code class="inline">:doc_headings</code> - h1 and h2 (yellow, bright)</li>
<li>
<code class="inline">:doc_title</code> - the overall heading for the output (reverse, yellow, bright)</li>
<li>
<code class="inline">:doc_bold</code> - (bright)</li>
<li>
<code class="inline">:doc_underline</code> - (underline)</li>
</ul> </section> </div> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="mix.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/mix/1.17.2/Mix.Tasks.Help.html" class="_attribution-link">https://hexdocs.pm/mix/1.17.2/Mix.Tasks.Help.html</a>
  </p>
</div>
