<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/pages/getting-started/modules-and-functions.md#L1" title="View Source" class="source" rel="help">Source</a> <span>Modules and functions</span> </h1> <p>In Elixir we group several functions into modules. We've already used many different modules in the previous chapters, such as the <a href="string"><code class="inline">String</code></a> module:</p>
<pre data-language="elixir">iex&gt; String.length("hello")
5</pre>
<p>In order to create our own modules in Elixir, we use the <code class="inline">defmodule</code> macro. The first letter of the module must be in uppercase. We use the <code class="inline">def</code> macro to define functions in that module. The first letter of every function must be in lowercase (or underscore):</p>
<pre data-language="elixir">iex&gt; defmodule Math do
...&gt;   def sum(a, b) do
...&gt;     a + b
...&gt;   end
...&gt; end

iex&gt; Math.sum(1, 2)
3</pre>
<p>In this chapter we will define our own modules, with different levels of complexity. As our examples get longer in size, it can be tricky to type them all in the shell. It's about time for us to learn how to compile Elixir code and also how to run Elixir scripts.</p>
<h2 id="compilation" class="section-heading">  <span class="text">Compilation</span> </h2> <p>Most of the time it is convenient to write modules into files so they can be compiled and reused. Let's assume we have a file named <code class="inline">math.ex</code> with the following contents:</p>
<pre data-language="elixir">defmodule Math do
  def sum(a, b) do
    a + b
  end
end</pre>
<p>This file can be compiled using <code class="inline">elixirc</code>:</p>
<pre data-language="elixir">$ elixirc math.ex
</pre>
<p>This will generate a file named <code class="inline">Elixir.Math.beam</code> containing the bytecode for the defined module. If we start <code class="inline">iex</code> again, our module definition will be available (provided that <code class="inline">iex</code> is started in the same directory the bytecode file is in):</p>
<pre data-language="elixir">iex&gt; Math.sum(1, 2)
3</pre>
<p>Elixir projects are usually organized into three directories:</p>
<ul>
<li>
<code class="inline">_build</code> - contains compilation artifacts</li>
<li>
<code class="inline">lib</code> - contains Elixir code (usually <code class="inline">.ex</code> files)</li>
<li>
<code class="inline">test</code> - contains tests (usually <code class="inline">.exs</code> files)</li>
</ul>
<p>When working on actual projects, the build tool called <code class="inline">mix</code> will be responsible for compiling and setting up the proper paths for you. For learning and convenience purposes, Elixir also supports a scripting mode which is more flexible and does not generate any compiled artifacts.</p>
<h2 id="scripting-mode" class="section-heading">  <span class="text">Scripting mode</span> </h2> <p>In addition to the Elixir file extension <code class="inline">.ex</code>, Elixir also supports <code class="inline">.exs</code> files for scripting. Elixir treats both files exactly the same way, the only difference is in intention. <code class="inline">.ex</code> files are meant to be compiled while <code class="inline">.exs</code> files are used for scripting. This convention is followed by projects like <code class="inline">mix</code>.</p>
<p>For instance, we can create a file called <code class="inline">math.exs</code>:</p>
<pre data-language="elixir">defmodule Math do
  def sum(a, b) do
    a + b
  end
end

IO.puts Math.sum(1, 2)</pre>
<p>And execute it as:</p>
<pre data-language="elixir">$ elixir math.exs
</pre>
<p>Because we used <code class="inline">elixir</code> instead of <code class="inline">elixirc</code>, the module was compiled and loaded into memory, but no <code class="inline">.beam</code> file was written to disk. In the following examples, we recommend you write your code into script files and execute them as shown above.</p>
<h2 id="function-definition" class="section-heading">  <span class="text">Function definition</span> </h2> <p>Inside a module, we can define functions with <a href="kernel#def/2"><code class="inline">def/2</code></a> and private functions with <a href="kernel#defp/2"><code class="inline">defp/2</code></a>. A function defined with <a href="kernel#def/2"><code class="inline">def/2</code></a> can be invoked from other modules while a private function can only be invoked locally.</p>
<pre data-language="elixir">defmodule Math do
  def sum(a, b) do
    do_sum(a, b)
  end

  defp do_sum(a, b) do
    a + b
  end
end

IO.puts Math.sum(1, 2)    #=&gt; 3
IO.puts Math.do_sum(1, 2) #=&gt; ** (UndefinedFunctionError)</pre>
<p>Function declarations also support guards and multiple clauses. If a function has several clauses, Elixir will try each clause until it finds one that matches. Here is an implementation of a function that checks if the given number is zero or not:</p>
<pre data-language="elixir">defmodule Math do
  def zero?(0) do
    true
  end

  def zero?(x) when is_integer(x) do
    false
  end
end

IO.puts Math.zero?(0)         #=&gt; true
IO.puts Math.zero?(1)         #=&gt; false
IO.puts Math.zero?([1, 2, 3]) #=&gt; ** (FunctionClauseError)
IO.puts Math.zero?(0.0)       #=&gt; ** (FunctionClauseError)</pre>
<p>The trailing question mark in <code class="inline">zero?</code> means that this function returns a boolean. To learn more about the naming conventions for modules, function names, variables and more in Elixir, see <a href="naming-conventions">Naming Conventions</a>.</p>
<p>Giving an argument that does not match any of the clauses raises an error.</p>
<p>Similar to constructs like <code class="inline">if</code>, function definitions support both <code class="inline">do:</code> and <code class="inline">do</code>-block syntax, as <a href="keywords-and-maps#do-blocks-and-keywords">we learned in the previous chapter</a>. For example, we can edit <code class="inline">math.exs</code> to look like this:</p>
<pre data-language="elixir">defmodule Math do
  def zero?(0), do: true
  def zero?(x) when is_integer(x), do: false
end</pre>
<p>And it will provide the same behavior. You may use <code class="inline">do:</code> for one-liners but always use <code class="inline">do</code>-blocks for functions spanning multiple lines. If you prefer to be consistent, you can use <code class="inline">do</code>-blocks throughout your codebase.</p>
<h2 id="default-arguments" class="section-heading">  <span class="text">Default arguments</span> </h2> <p>Function definitions in Elixir also support default arguments:</p>
<pre data-language="elixir">defmodule Concat do
  def join(a, b, sep \\ " ") do
    a &lt;&gt; sep &lt;&gt; b
  end
end

IO.puts Concat.join("Hello", "world")      #=&gt; Hello world
IO.puts Concat.join("Hello", "world", "_") #=&gt; Hello_world</pre>
<p>Any expression is allowed to serve as a default value, but it won't be evaluated during the function definition. Every time the function is invoked and any of its default values have to be used, the expression for that default value will be evaluated:</p>
<pre data-language="elixir">defmodule DefaultTest do
  def dowork(x \\ "hello") do
    x
  end
end</pre>
<pre data-language="elixir">iex&gt; DefaultTest.dowork()
"hello"
iex&gt; DefaultTest.dowork(123)
123
iex&gt; DefaultTest.dowork()
"hello"</pre>
<p>If a function with default values has multiple clauses, it is required to create a function head (a function definition without a body) for declaring defaults:</p>
<pre data-language="elixir">defmodule Concat do
  # A function head declaring defaults
  def join(a, b \\ nil, sep \\ " ")

  def join(a, b, _sep) when is_nil(b) do
    a
  end

  def join(a, b, sep) do
    a &lt;&gt; sep &lt;&gt; b
  end
end

IO.puts Concat.join("Hello", "world")      #=&gt; Hello world
IO.puts Concat.join("Hello", "world", "_") #=&gt; Hello_world
IO.puts Concat.join("Hello")               #=&gt; Hello</pre>
<p>When a variable is not used by a function or a clause, we add a leading underscore (<code class="inline">_</code>) to its name to signal this intent. This rule is also covered in our <a href="naming-conventions#underscore-_foo">Naming Conventions</a> document.</p>
<p>When using default values, one must be careful to avoid overlapping function definitions. Consider the following example:</p>
<pre data-language="elixir">defmodule Concat do
  def join(a, b) do
    IO.puts "***First join"
    a &lt;&gt; b
  end

  def join(a, b, sep \\ " ") do
    IO.puts "***Second join"
    a &lt;&gt; sep &lt;&gt; b
  end
end</pre>
<p>Elixir will emit the following warning:</p>
<pre data-language="elixir">warning: this clause cannot match because a previous clause at line 2 always matches
    concat.ex:7: Concat</pre>
<p>The compiler is telling us that invoking the <code class="inline">join</code> function with two arguments will always choose the first definition of <code class="inline">join</code> whereas the second one will only be invoked when three arguments are passed:</p>
<pre data-language="elixir">$ iex concat.ex
</pre>
<pre data-language="elixir">iex&gt; Concat.join "Hello", "world"
***First join
"Helloworld"</pre>
<pre data-language="elixir">iex&gt; Concat.join "Hello", "world", "_"
***Second join
"Hello_world"</pre>
<p>Removing the default argument in this case will fix the warning.</p>
<p>This finishes our short introduction to modules. In the next chapters, we will learn how to use function definitions for recursion and later on explore more functionality related to modules.</p> </div> <div class="bottom-actions" id="bottom-actions"> <div class="bottom-actions-item"> <a href="keywords-and-maps" class="bottom-actions-button" rel="prev"> <span class="subheader"> ← Previous Page </span> <span class="title"> Keyword lists and maps </span> </a> </div> <div class="bottom-actions-item"> <a href="recursion" class="bottom-actions-button" rel="next"> <span class="subheader"> Next Page → </span> <span class="title"> Recursion </span> </a> </div> </div> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/modules-and-functions.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/modules-and-functions.html</a>
  </p>
</div>
