<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/pages/getting-started/module-attributes.md#L1" title="View Source" class="source" rel="help">Source</a> <span>Module attributes</span> </h1> <p>Module attributes in Elixir serve three purposes:</p>
<ol>
<li>as module and function annotations</li>
<li>as temporary module storage to be used during compilation</li>
<li>as compile-time constants</li>
</ol>
<p>Let's check these examples.</p>
<h2 id="as-annotations" class="section-heading">  <span class="text">As annotations</span> </h2> <p>Elixir brings the concept of module attributes from Erlang. For example:</p>
<pre data-language="elixir">defmodule MyServer do
  @moduledoc "My server code."
end</pre>
<p>In the example above, we are defining the module documentation by using the module attribute syntax. Elixir has a handful of reserved attributes. Here are a few of them, the most commonly used ones:</p>
<ul>
<li>
<code class="inline">@moduledoc</code> — provides documentation for the current module.</li>
<li>
<code class="inline">@doc</code> — provides documentation for the function or macro that follows the attribute.</li>
<li>
<code class="inline">@spec</code> — provides a typespec for the function that follows the attribute.</li>
<li>
<code class="inline">@behaviour</code> — (notice the British spelling) used for specifying an OTP or user-defined behaviour.</li>
</ul>
<p><code class="inline">@moduledoc</code> and <code class="inline">@doc</code> are by far the most used attributes, and we expect you to use them a lot. Elixir treats documentation as first-class and provides many functions to access documentation. We will cover them <a href="writing-documentation">in their own chapter</a>.</p>
<p>Let's go back to the <code class="inline">Math</code> module defined in the previous chapters, add some documentation and save it to the <code class="inline">math.ex</code> file:</p>
<pre data-language="elixir">defmodule Math do
  @moduledoc """
  Provides math-related functions.

  ## Examples

      iex&gt; Math.sum(1, 2)
      3

  """

  @doc """
  Calculates the sum of two numbers.
  """
  def sum(a, b), do: a + b
end</pre>
<p>Elixir promotes the use of Markdown with heredocs to write readable documentation. Heredocs are multi-line strings, they start and end with triple double-quotes, keeping the formatting of the inner text. We can access the documentation of any compiled module directly from IEx:</p>
<pre data-language="elixir">$ elixirc math.ex
$ iex
</pre>
<pre data-language="elixir">iex&gt; h Math # Access the docs for the module Math
...
iex&gt; h Math.sum # Access the docs for the sum function
...</pre>
<p>We also provide a tool called <a href="https://github.com/elixir-lang/ex_doc">ExDoc</a> which is used to generate HTML pages from the documentation.</p>
<p>You can take a look at the docs for <a href="module"><code class="inline">Module</code></a> for a complete list of supported attributes. Elixir also uses attributes to annotate our code with <a href="typespecs">typespecs</a>.</p>
<h2 id="as-temporary-storage" class="section-heading">  <span class="text">As temporary storage</span> </h2> <p>So far, we have seen how to define attributes, but how can read them? Let's see an example:</p>
<pre data-language="elixir">defmodule MyServer do
  @service URI.parse("https://example.com")
  IO.inspect @service
end</pre>
<blockquote>
<h4 class="warning">Newlines</h4>
<p>Do not add a newline between the attribute and its value, otherwise Elixir will assume you are reading the value, rather than setting it.</p>
</blockquote>
<p>Trying to access an attribute that was not defined will print a warning:</p>
<pre data-language="elixir">defmodule MyServer do
  @unknown
end
warning: undefined module attribute @unknown, please remove access to @unknown or explicitly set it before access</pre>
<p>Attributes can also be read inside functions:</p>
<pre data-language="elixir">defmodule MyApp.Status do
  @service URI.parse("https://example.com")
  def status(email) do
    SomeHttpClient.get(@service)
  end
end</pre>
<p>The module attribute is defined at compilation time and its <em>return value</em>, not the function call itself, is what will be substituted in for the attribute. So the above will effectively compile to this:</p>
<pre data-language="elixir">defmodule MyApp.Status do
  def status(email) do
    SomeHttpClient.get(%URI{
      authority: "example.com",
      host: "example.com",
      port: 443,
      scheme: "https"
    })
  end
end</pre>
<p>This can be useful for pre-computing values and then injecting its results into the module. This is what we mean by temporary storage: after the module is compiled, the module attribute is discarded, except for the functions that have read the attribute. Note you cannot invoke functions defined in the same module as part of the attribute itself, as those functions have not yet been defined.</p>
<p>Every time we read an attribute inside a function, Elixir takes a snapshot of its current value. Therefore if you read the same attribute multiple times inside multiple functions, you end-up increasing compilation times as Elixir now has to compile every snapshot. Generally speaking, you want to avoid reading the same attribute multiple times and instead move it to function. For example, instead of this:</p>
<pre data-language="elixir">def some_function, do: do_something_with(@example)
def another_function, do: do_something_else_with(@example)</pre>
<p>Prefer this:</p>
<pre data-language="elixir">def some_function, do: do_something_with(example())
def another_function, do: do_something_else_with(example())
defp example, do: @example</pre>
<h2 id="as-compile-time-constants" class="section-heading">  <span class="text">As compile-time constants</span> </h2> <p>Module attributes may also be useful as compile-time constants. Generally speaking, functions themselves are sufficient for the role of constants in a codebase. For example, instead of defining:</p>
<pre data-language="elixir">@hours_in_a_day 24</pre>
<p>You should prefer:</p>
<pre data-language="elixir">defp hours_in_a_day(), do: 24</pre>
<p>You may even define a public function if it needs to be shared across modules. It is common in many projects to have a module called <code class="inline">MyApp.Constants</code> that defines all constants used throughout the codebase.</p>
<p>You can even have composite data structures as constants, as long as they are made exclusively of other data types (no function calls, no operators, and no other expressions). For example, you may specify a system configuration constant as follows:</p>
<pre data-language="elixir">defp system_config(), do: %{timezone: "Etc/UTC", locale: "pt-BR"}</pre>
<p>Given data structures in Elixir are immutable, only a single instance of the data structure above is allocated and shared across all functions calls, as long as it doesn't have any executable expression.</p>
<p>The use case for module attributes arise when you need to do some work at compile-time and then inject its results inside a function. A common scenario is module attributes inside patterns and guards (as an alternative to <a href="kernel#defguard/1"><code class="inline">defguard/1</code></a>), since they only support a limited set of expressions:</p>
<pre data-language="elixir"># Inside pattern
@default_timezone "Etc/UTC"
def shift(@default_timezone), do: ...

# Inside guards
@time_periods [:am, :pm]
def shift(time, period) when period in @time_periods, do: ...</pre>
<p>Module attributes as constants and as temporary storage are most often used together: the module attribute is used to compute and store an expensive value, and then exposed as constant from that module.</p>
<h2 id="going-further" class="section-heading">  <span class="text">Going further</span> </h2> <p>Libraries and frameworks can leverage module attributes to provide custom annotations. To see an example, look no further than Elixir's unit test framework called <a href="https://hexdocs.pm/ex_unit/ExUnit.html"><code class="inline">ExUnit</code></a>. ExUnit uses module attributes for multiple different purposes:</p>
<pre data-language="elixir">defmodule MyTest do
  use ExUnit.Case, async: true

  @tag :external
  @tag os: :unix
  test "contacts external service" do
    # ...
  end
end</pre>
<p>In the example above, <a href="https://hexdocs.pm/ex_unit/ExUnit.html"><code class="inline">ExUnit</code></a> stores the value of <code class="inline">async: true</code> in a module attribute to change how the module is compiled. Tags also work as annotations and they can be supplied multiple times, thanks to Elixir's ability to <a href="module#register_attribute/3">accumulate attribute</a>. Then you can use tags to setup and filter tests, such as avoiding executing Unix specific tests while running your test suite on Windows.</p>
<p>To fully understand how ExUnit works, we'd need macros, so we will revisit this pattern in the Meta-programming guide and learn how to use module attributes as storage for custom annotations.</p>
<p>In the next chapters, we'll explore structs and protocols before moving to exception handling and other constructs like sigils and comprehensions.</p> </div> <div class="bottom-actions" id="bottom-actions"> <div class="bottom-actions-item"> <a href="alias-require-and-import" class="bottom-actions-button" rel="prev"> <span class="subheader"> ← Previous Page </span> <span class="title"> alias, require, import, and use </span> </a> </div> <div class="bottom-actions-item"> <a href="structs" class="bottom-actions-button" rel="next"> <span class="subheader"> Next Page → </span> <span class="title"> Structs </span> </a> </div> </div> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/module-attributes.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/module-attributes.html</a>
  </p>
</div>
