<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/module.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">Module</span> <small>behaviour</small>  </h1> <section id="moduledoc"> <p>Provides functions to deal with modules during compilation time.</p>
<p>It allows a developer to dynamically add, delete and register attributes, attach documentation and so forth.</p>
<p>After a module is compiled, using many of the functions in this module will raise errors, since it is out of their scope to inspect runtime data. Most of the runtime data can be inspected via the <a href="#c:__info__/1"><code class="inline">__info__/1</code></a> function attached to each compiled module.</p>
<h2 id="module-module-attributes" class="section-heading">  <span class="text">Module attributes</span> </h2> <p>Each module can be decorated with one or more attributes. The following ones are currently defined by Elixir:</p>
<h3 id="module-after_compile" class="section-heading">  <span class="text"><code class="inline">@after_compile</code></span> </h3> <p>A hook that will be invoked right after the current module is compiled. Accepts a module or a <code class="inline">{module, function_name}</code>. See the "Compile callbacks" section below.</p>
<h3 id="module-after_verify-since-v1-14-0" class="section-heading">  <span class="text"><code class="inline">@after_verify</code> (since v1.14.0)</span> </h3> <p>A hook that will be invoked right after the current module is verified for undefined functions, deprecations, etc. Accepts a module or a <code class="inline">{module, function_name}</code>. See the "Compile callbacks" section below.</p>
<h3 id="module-before_compile" class="section-heading">  <span class="text"><code class="inline">@before_compile</code></span> </h3> <p>A hook that will be invoked before the module is compiled. Accepts a module or a <code class="inline">{module, function_or_macro_name}</code> tuple. See the "Compile callbacks" section below.</p>
<h3 id="module-behaviour" class="section-heading">  <span class="text"><code class="inline">@behaviour</code></span> </h3> <p>Note the British spelling!</p>
<p>Behaviours can be referenced by modules to ensure they implement required specific function signatures defined by <code class="inline">@callback</code>.</p>
<p>For example, you could specify a <code class="inline">URI.Parser</code> behaviour as follows:</p>
<pre data-language="elixir">defmodule URI.Parser do
  @doc "Defines a default port"
  @callback default_port() :: integer

  @doc "Parses the given URL"
  @callback parse(uri_info :: URI.t()) :: URI.t()
end</pre>
<p>And then a module may use it as:</p>
<pre data-language="elixir">defmodule URI.HTTP do
  @behaviour URI.Parser
  def default_port(), do: 80
  def parse(info), do: info
end</pre>
<p>If the behaviour changes or <code class="inline">URI.HTTP</code> does not implement one of the callbacks, a warning will be raised.</p>
<p>For detailed documentation, see the <a href="typespecs#behaviours">behaviour typespec documentation</a>.</p>
<h3 id="module-impl-since-v1-5-0" class="section-heading">  <span class="text"><code class="inline">@impl</code> (since v1.5.0)</span> </h3> <p>To aid in the correct implementation of behaviours, you may optionally declare <code class="inline">@impl</code> for implemented callbacks of a behaviour. This makes callbacks explicit and can help you to catch errors in your code. The compiler will warn in these cases:</p>
<ul>
<li><p>if you mark a function with <code class="inline">@impl</code> when that function is not a callback.</p></li>
<li><p>if you don't mark a function with <code class="inline">@impl</code> when other functions are marked with <code class="inline">@impl</code>. If you mark one function with <code class="inline">@impl</code>, you must mark all other callbacks for that behaviour as <code class="inline">@impl</code>.</p></li>
</ul>
<p><code class="inline">@impl</code> works on a per-context basis. If you generate a function through a macro and mark it with <code class="inline">@impl</code>, that won't affect the module where that function is generated in.</p>
<p><code class="inline">@impl</code> also helps with maintainability by making it clear to other developers that the function is implementing a callback.</p>
<p>Using <code class="inline">@impl</code>, the example above can be rewritten as:</p>
<pre data-language="elixir">defmodule URI.HTTP do
  @behaviour URI.Parser

  @impl true
  def default_port(), do: 80

  @impl true
  def parse(info), do: info
end</pre>
<p>You may pass either <code class="inline">false</code>, <code class="inline">true</code>, or a specific behaviour to <code class="inline">@impl</code>.</p>
<pre data-language="elixir">defmodule Foo do
  @behaviour Bar
  @behaviour Baz

  # Will warn if neither Bar nor Baz specify a callback named bar/0.
  @impl true
  def bar(), do: :ok

  # Will warn if Baz does not specify a callback named baz/0.
  @impl Baz
  def baz(), do: :ok
end</pre>
<p>The code is now more readable, as it is now clear which functions are part of your API and which ones are callback implementations. To reinforce this idea, <code class="inline">@impl true</code> automatically marks the function as <code class="inline">@doc false</code>, disabling documentation unless <code class="inline">@doc</code> is explicitly set.</p>
<h3 id="module-compile" class="section-heading">  <span class="text"><code class="inline">@compile</code></span> </h3> <p>Defines options for module compilation. This is used to configure both Elixir and Erlang compilers, as any other compilation pass added by external tools. For example:</p>
<pre data-language="elixir">defmodule MyModule do
  @compile {:inline, my_fun: 1}

  def my_fun(arg) do
    to_string(arg)
  end
end</pre>
<p>Multiple uses of <code class="inline">@compile</code> will accumulate instead of overriding previous ones. See the "Compile options" section below.</p>
<h3 id="module-deprecated-since-v1-6-0" class="section-heading">  <span class="text"><code class="inline">@deprecated</code> (since v1.6.0)</span> </h3> <p>Provides the deprecation reason for a function. For example:</p>
<pre data-language="elixir">defmodule Keyword do
  @deprecated "Use Kernel.length/1 instead"
  def size(keyword) do
    length(keyword)
  end
end</pre>
<p>The Mix compiler automatically looks for calls to deprecated modules and emit warnings during compilation.</p>
<p>Using the <code class="inline">@deprecated</code> attribute will also be reflected in the documentation of the given function and macro. You can choose between the <code class="inline">@deprecated</code> attribute and the documentation metadata to provide hard-deprecations (with warnings) and soft-deprecations (without warnings):</p>
<p>This is a soft-deprecation as it simply annotates the documentation as deprecated:</p>
<pre data-language="elixir">@doc deprecated: "Use Kernel.length/1 instead"
def size(keyword)</pre>
<p>This is a hard-deprecation as it emits warnings and annotates the documentation as deprecated:</p>
<pre data-language="elixir">@deprecated "Use Kernel.length/1 instead"
def size(keyword)</pre>
<p>Currently <code class="inline">@deprecated</code> only supports functions and macros. However you can use the <code class="inline">:deprecated</code> key in the annotation metadata to annotate the docs of modules, types and callbacks too.</p>
<p>We recommend using this feature with care, especially library authors. Deprecating code always pushes the burden towards library users. We also recommend for deprecated functionality to be maintained for long periods of time, even after deprecation, giving developers plenty of time to update (except for cases where keeping the deprecated API is undesired, such as in the presence of security issues).</p>
<h3 id="module-doc-and-typedoc" class="section-heading">  <span class="text"><code class="inline">@doc</code> and <code class="inline">@typedoc</code></span> </h3> <p>Provides documentation for the entity that follows the attribute. <code class="inline">@doc</code> is to be used with a function, macro, callback, or macrocallback, while <code class="inline">@typedoc</code> with a type (public or opaque).</p>
<p>Accepts one of these:</p>
<ul>
<li>a string (often a heredoc)</li>
<li>
<code class="inline">false</code>, which will make the entity invisible to documentation-extraction tools like <a href="https://hexdocs.pm/ex_doc/"><code class="inline">ExDoc</code></a>
</li>
<li>a keyword list, since Elixir 1.7.0</li>
</ul>
<p>For example:</p>
<pre data-language="elixir">defmodule MyModule do
  @typedoc "This type"
  @typedoc since: "1.1.0"
  @type t :: term

  @doc "Hello world"
  @doc since: "1.1.0"
  def hello do
    "world"
  end

  @doc """
  Sums `a` to `b`.
  """
  def sum(a, b) do
    a + b
  end
end</pre>
<p>As can be seen in the example above, since Elixir 1.7.0 <code class="inline">@doc</code> and <code class="inline">@typedoc</code> also accept a keyword list that serves as a way to provide arbitrary metadata about the entity. Tools like <a href="https://hexdocs.pm/ex_doc/"><code class="inline">ExDoc</code></a> and <a href="https://hexdocs.pm/iex/IEx.html"><code class="inline">IEx</code></a> may use this information to display annotations. A common use case is the <code class="inline">:since</code> key, which may be used to annotate in which version the function was introduced.</p>
<p>As illustrated in the example, it is possible to use these attributes more than once before an entity. However, the compiler will warn if used twice with binaries as that replaces the documentation text from the preceding use. Multiple uses with keyword lists will merge the lists into one.</p>
<p>Note that since the compiler also defines some additional metadata, there are a few reserved keys that will be ignored and warned if used. Currently these are: <code class="inline">:opaque</code> and <code class="inline">:defaults</code>.</p>
<p>Once this module is compiled, this information becomes available via the <a href="code#fetch_docs/1"><code class="inline">Code.fetch_docs/1</code></a> function.</p>
<h3 id="module-dialyzer" class="section-heading">  <span class="text"><code class="inline">@dialyzer</code></span> </h3> <p>Defines warnings to request or suppress when using <code class="inline">:dialyzer</code>.</p>
<p>Accepts an atom, a tuple, or a list of atoms and tuples. For example:</p>
<pre data-language="elixir">defmodule MyModule do
  @dialyzer {:nowarn_function, [my_fun: 1]}

  def my_fun(arg) do
    M.not_a_function(arg)
  end
end</pre>
<p>For the list of supported warnings, see <a href="https://www.erlang.org/doc/apps/dialyzer/dialyzer.html"><code class="inline">:dialyzer</code> module</a>.</p>
<p>Multiple uses of <code class="inline">@dialyzer</code> will accumulate instead of overriding previous ones.</p>
<h3 id="module-external_resource" class="section-heading">  <span class="text"><code class="inline">@external_resource</code></span> </h3> <p>Specifies an external resource for the current module.</p>
<p>Sometimes a module embeds information from an external file. This attribute allows the module to annotate which external resources have been used.</p>
<p>Tools may use this information to ensure the module is recompiled in case any of the external resources change, see for example: <a href="https://hexdocs.pm/mix/Mix.Tasks.Compile.Elixir.html"><code class="inline">mix compile.elixir</code></a>.</p>
<p>The specified file path provided is interpreted as relative to the folder containing the project's <code class="inline">mix.exs</code>, which is the current working directory, not the file where <code class="inline">@external_resource</code> is declared.</p>
<p>If the external resource does not exist, the module still has a dependency on it, causing the module to be recompiled as soon as the file is added.</p>
<h3 id="module-file" class="section-heading">  <span class="text"><code class="inline">@file</code></span> </h3> <p>Changes the filename used in stacktraces for the function or macro that follows the attribute, such as:</p>
<pre data-language="elixir">defmodule MyModule do
  @doc "Hello world"
  @file "hello.ex"
  def hello do
    "world"
  end
end</pre>
<p>Note that this is only valid for exceptions/diagnostics that come from the definition inner scope (which includes its patterns and guards). For example:</p>
<pre data-language="elixir">defmodule MyModule do # &lt;---- module definition
  @file "hello.ex"
  defp unused(a) do # &lt;---- function definition
    "world" # &lt;---- function scope
  end

  @file "bye.ex"
  def unused(_), do: true
end</pre>
<p>If you run this code with the second "unused" definition commented, you will see that <code class="inline">hello.ex</code> is used as the stacktrace when reporting warnings, but if you uncomment it you'll see that the error will not mention <code class="inline">bye.ex</code>, because it's a module-level error rather than an expression-level error.</p>
<h3 id="module-moduledoc" class="section-heading">  <span class="text"><code class="inline">@moduledoc</code></span> </h3> <p>Provides documentation for the current module.</p>
<pre data-language="elixir">defmodule MyModule do
  @moduledoc """
  A very useful module.
  """
  @moduledoc authors: ["Alice", "Bob"]
end</pre>
<p>Accepts a string (often a heredoc) or <code class="inline">false</code> where <code class="inline">@moduledoc false</code> will make the module invisible to documentation extraction tools like <a href="https://hexdocs.pm/ex_doc/"><code class="inline">ExDoc</code></a>.</p>
<p>Similarly to <code class="inline">@doc</code> also accepts a keyword list to provide metadata about the module. For more details, see the documentation of <code class="inline">@doc</code> above.</p>
<p>Once this module is compiled, this information becomes available via the <a href="code#fetch_docs/1"><code class="inline">Code.fetch_docs/1</code></a> function.</p>
<h3 id="module-nifs-since-v1-16-0" class="section-heading">  <span class="text"><code class="inline">@nifs</code> (since v1.16.0)</span> </h3> <p>A list of functions and their arities which will be overridden by a native implementation (NIF).</p>
<pre data-language="elixir">defmodule MyLibrary.MyModule do
  @nifs [foo: 1, bar: 2]

  def foo(arg1), do: :erlang.nif_error(:not_loaded)
  def bar(arg1, arg2), do: :erlang.nif_error(:not_loaded)
end</pre>
<p>See the Erlang documentation for more information: <a href="https://www.erlang.org/doc/man/erl_nif">https://www.erlang.org/doc/man/erl_nif</a></p>
<h3 id="module-on_definition" class="section-heading">  <span class="text"><code class="inline">@on_definition</code></span> </h3> <p>A hook that will be invoked when each function or macro in the current module is defined. Useful when annotating functions.</p>
<p>Accepts a module or a <code class="inline">{module, function_name}</code> tuple. The function must take 6 arguments:</p>
<ul>
<li>the module environment</li>
<li>the kind of the function/macro: <code class="inline">:def</code>, <code class="inline">:defp</code>, <code class="inline">:defmacro</code>, or <code class="inline">:defmacrop</code>
</li>
<li>the function/macro name</li>
<li>the list of quoted arguments</li>
<li>the list of quoted guards</li>
<li>the quoted function body</li>
</ul>
<p>If the function/macro being defined has multiple clauses, the hook will be called for each clause.</p>
<p>Unlike other hooks, <code class="inline">@on_definition</code> will only invoke functions and never macros. This is to avoid <code class="inline">@on_definition</code> callbacks from redefining functions that have just been defined in favor of more explicit approaches.</p>
<p>When just a module is provided, the function is assumed to be <code class="inline">__on_definition__/6</code>.</p>
<h4>Example</h4>
<pre data-language="elixir">defmodule Hooks do
  def on_def(_env, kind, name, args, guards, body) do
    IO.puts("Defining #{kind} named #{name} with args:")
    IO.inspect(args)
    IO.puts("and guards")
    IO.inspect(guards)
    IO.puts("and body")
    IO.puts(Macro.to_string(body))
  end
end

defmodule MyModule do
  @on_definition {Hooks, :on_def}

  def hello(arg) when is_binary(arg) or is_list(arg) do
    "Hello" &lt;&gt; to_string(arg)
  end

  def hello(_) do
    :ok
  end
end</pre>
<h3 id="module-on_load" class="section-heading">  <span class="text"><code class="inline">@on_load</code></span> </h3> <p>A hook that will be invoked whenever the module is loaded.</p>
<p>Accepts the function name (as an atom) of a function in the current module. The function must have an arity of 0 (no arguments). If the function does not return <code class="inline">:ok</code>, the loading of the module will be aborted. For example:</p>
<pre data-language="elixir">defmodule MyModule do
  @on_load :load_check

  def load_check do
    if some_condition() do
      :ok
    else
      :abort
    end
  end

  def some_condition do
    false
  end
end</pre>
<h3 id="module-vsn" class="section-heading">  <span class="text"><code class="inline">@vsn</code></span> </h3> <p>Specify the module version. Accepts any valid Elixir value, for example:</p>
<pre data-language="elixir">defmodule MyModule do
  @vsn "1.0"
end</pre>
<h3 id="module-struct-attributes" class="section-heading">  <span class="text">Struct attributes</span> </h3> <ul>
<li><p><code class="inline">@derive</code> - derives an implementation for the given protocol for the struct defined in the current module</p></li>
<li><p><code class="inline">@enforce_keys</code> - ensures the given keys are always set when building the struct defined in the current module</p></li>
</ul>
<p>See <a href="kernel#defstruct/1"><code class="inline">defstruct/1</code></a> for more information on building and using structs.</p>
<h3 id="module-typespec-attributes" class="section-heading">  <span class="text">Typespec attributes</span> </h3> <p>The following attributes are part of typespecs and are also built-in in Elixir:</p>
<ul>
<li>
<code class="inline">@type</code> - defines a type to be used in <code class="inline">@spec</code>
</li>
<li>
<code class="inline">@typep</code> - defines a private type to be used in <code class="inline">@spec</code>
</li>
<li>
<code class="inline">@opaque</code> - defines an opaque type to be used in <code class="inline">@spec</code>
</li>
<li>
<code class="inline">@spec</code> - provides a specification for a function</li>
<li>
<code class="inline">@callback</code> - provides a specification for a behaviour callback</li>
<li>
<code class="inline">@macrocallback</code> - provides a specification for a macro behaviour callback</li>
<li>
<code class="inline">@optional_callbacks</code> - specifies which behaviour callbacks and macro behaviour callbacks are optional</li>
<li>
<code class="inline">@impl</code> - declares an implementation of a callback function or macro</li>
</ul>
<p>For detailed documentation, see the <a href="typespecs">typespec documentation</a>.</p>
<h3 id="module-custom-attributes" class="section-heading">  <span class="text">Custom attributes</span> </h3> <p>In addition to the built-in attributes outlined above, custom attributes may also be added. Custom attributes are expressed using the <a href="kernel#@/1"><code class="inline">@/1</code></a> operator followed by a valid variable name. The value given to the custom attribute must be a valid Elixir value:</p>
<pre data-language="elixir">defmodule MyModule do
  @custom_attr [some: "stuff"]
end</pre>
<p>For more advanced options available when defining custom attributes, see <a href="#register_attribute/3"><code class="inline">register_attribute/3</code></a>.</p>
<h2 id="module-compile-callbacks" class="section-heading">  <span class="text">Compile callbacks</span> </h2> <p>There are three compilation callbacks, invoked in this order: <code class="inline">@before_compile</code>, <code class="inline">@after_compile</code>, and <code class="inline">@after_verify</code>. They are described next.</p>
<h3 id="module-before_compile-1" class="section-heading">  <span class="text"><code class="inline">@before_compile</code></span> </h3> <p>A hook that will be invoked before the module is compiled. This is often used to change how the current module is being compiled.</p>
<p>Accepts a module or a <code class="inline">{module, function_or_macro_name}</code> tuple. The function/macro must take one argument: the module environment. If it's a macro, its returned value will be injected at the end of the module definition before the compilation starts.</p>
<p>When just a module is provided, the function/macro is assumed to be <code class="inline">__before_compile__/1</code>.</p>
<p>Callbacks will run in the order they are registered. Any overridable definition will be made concrete before the first callback runs. A definition may be made overridable again in another before compile callback and it will be made concrete one last time after all callbacks run.</p>
<p><em>Note</em>: the callback function/macro must be placed in a separate module (because when the callback is invoked, the current module does not yet exist).</p>
<h4>Example</h4>
<pre data-language="elixir">defmodule A do
  defmacro __before_compile__(_env) do
    quote do
      def hello, do: "world"
    end
  end
end

defmodule B do
  @before_compile A
end

B.hello()
#=&gt; "world"</pre>
<h3 id="module-after_compile-1" class="section-heading">  <span class="text"><code class="inline">@after_compile</code></span> </h3> <p>A hook that will be invoked right after the current module is compiled.</p>
<p>Accepts a module or a <code class="inline">{module, function_name}</code> tuple. The function must take two arguments: the module environment and its bytecode. When just a module is provided, the function is assumed to be <code class="inline">__after_compile__/2</code>.</p>
<p>Callbacks will run in the order they are registered.</p>
<p><a href="module"><code class="inline">Module</code></a> functions expecting not yet compiled modules (such as <a href="#definitions_in/1"><code class="inline">definitions_in/1</code></a>) are still available at the time <code class="inline">@after_compile</code> is invoked.</p>
<h4>Example</h4>
<pre data-language="elixir">defmodule MyModule do
  @after_compile __MODULE__

  def __after_compile__(env, _bytecode) do
    IO.inspect(env)
  end
end</pre>
<h3 id="module-after_verify" class="section-heading">  <span class="text"><code class="inline">@after_verify</code></span> </h3> <p>A hook that will be invoked right after the current module is verified for undefined functions, deprecations, etc. A module is always verified after it is compiled. In Mix projects, a module is also verified when any of its runtime dependencies change. Therefore this is useful to perform verification of the current module while avoiding compile-time dependencies. Given the callback is invoked under different scenarios, Elixir provides no guarantees of when in the compilation cycle nor in which process the callback runs.</p>
<p>Accepts a module or a <code class="inline">{module, function_name}</code> tuple. The function must take one argument: the module name. When just a module is provided, the function is assumed to be <code class="inline">__after_verify__/1</code>.</p>
<p>Callbacks will run in the order they are registered.</p>
<p><a href="module"><code class="inline">Module</code></a> functions expecting not yet compiled modules are no longer available at the time <code class="inline">@after_verify</code> is invoked.</p>
<h4>Example</h4>
<pre data-language="elixir">defmodule MyModule do
  @after_verify __MODULE__

  def __after_verify__(module) do
    IO.inspect(module)
    :ok
  end
end</pre>
<h2 id="module-compile-options" class="section-heading">  <span class="text">Compile options</span> </h2> <p>The <code class="inline">@compile</code> attribute accepts different options that are used by both Elixir and Erlang compilers. Some of the common use cases are documented below:</p>
<ul>
<li><p><code class="inline">@compile :debug_info</code> - includes <code class="inline">:debug_info</code> regardless of the corresponding setting in <a href="code#get_compiler_option/1"><code class="inline">Code.get_compiler_option/1</code></a></p></li>
<li><p><code class="inline">@compile {:debug_info, false}</code> - disables <code class="inline">:debug_info</code> regardless of the corresponding setting in <a href="code#get_compiler_option/1"><code class="inline">Code.get_compiler_option/1</code></a>. Note disabling <code class="inline">:debug_info</code> is not recommended as it removes the ability of the Elixir compiler and other tools to static analyse the code. If you want to remove the <code class="inline">:debug_info</code> while deploying, tools like <a href="https://hexdocs.pm/mix/Mix.Tasks.Release.html"><code class="inline">mix release</code></a> already do such by default.</p></li>
<li><p><code class="inline">@compile {:inline, some_fun: 2, other_fun: 3}</code> - inlines the given name/arity pairs. Inlining is applied locally, calls from another module are not affected by this option</p></li>
<li><p><code class="inline">@compile {:autoload, false}</code> - disables automatic loading of modules after compilation. Instead, the module will be loaded after it is dispatched to</p></li>
<li><p><code class="inline">@compile {:no_warn_undefined, Mod}</code> or <code class="inline">@compile {:no_warn_undefined, {Mod, fun, arity}}</code> - does not warn if the given module or the given <code class="inline">Mod.fun/arity</code> are not defined</p></li>
</ul> </section> </div> <section id="summary" class="details-list"> <h1 class="section-heading">  <span class="text">Summary</span> </h1> <h2> Types </h2>
<dl class="summary-types summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#t:def_kind/0" data-no-tooltip translate="no">def_kind()</a> </dt> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:definition/0" data-no-tooltip translate="no">definition()</a> </dt> </div> </dl> <h2> Callbacks </h2>
<dl class="summary-callbacks summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#c:__info__/1" data-no-tooltip translate="no">__info__(atom)</a> </dt> <dd class="summary-synopsis"><p>Provides runtime information about functions, macros, and other information defined by the module.</p></dd> </div> </dl> <h2> Functions </h2>
<dl class="summary-functions summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#attributes_in/1" data-no-tooltip translate="no">attributes_in(module)</a> </dt> <dd class="summary-synopsis"><p>Returns all module attributes names defined in <code class="inline">module</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#concat/1" data-no-tooltip translate="no">concat(list)</a> </dt> <dd class="summary-synopsis"><p>Concatenates a list of aliases and returns a new alias.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#concat/2" data-no-tooltip translate="no">concat(left, right)</a> </dt> <dd class="summary-synopsis"><p>Concatenates two aliases and returns a new alias.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#create/3" data-no-tooltip translate="no">create(module, quoted, opts)</a> </dt> <dd class="summary-synopsis"><p>Creates a module with the given name and defined by the given quoted expressions.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#defines?/2" data-no-tooltip translate="no">defines?(module, tuple)</a> </dt> <dd class="summary-synopsis"><p>Checks if the module defines the given function or macro.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#defines?/3" data-no-tooltip translate="no">defines?(module, tuple, def_kind)</a> </dt> <dd class="summary-synopsis"><p>Checks if the module defines a function or macro of the given <code class="inline">kind</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#defines_type?/2" data-no-tooltip translate="no">defines_type?(module, definition)</a> </dt> <dd class="summary-synopsis"><p>Checks if the current module defines the given type (private, opaque or not).</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#definitions_in/1" data-no-tooltip translate="no">definitions_in(module)</a> </dt> <dd class="summary-synopsis"><p>Returns all functions and macros defined in <code class="inline">module</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#definitions_in/2" data-no-tooltip translate="no">definitions_in(module, kind)</a> </dt> <dd class="summary-synopsis"><p>Returns all functions defined in <code class="inline">module</code>, according to its kind.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#delete_attribute/2" data-no-tooltip translate="no">delete_attribute(module, key)</a> </dt> <dd class="summary-synopsis"><p>Deletes the entry (or entries) for the given module attribute.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#delete_definition/2" data-no-tooltip translate="no">delete_definition(module, arg)</a> </dt> <dd class="summary-synopsis"><p>Deletes a definition from a module.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#eval_quoted/4" data-no-tooltip translate="no">eval_quoted(module_or_env, quoted, binding \\ [], opts \\ [])</a> </dt> <dd class="summary-synopsis"><p>Evaluates the quoted contents in the given module's context.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#get_attribute/3" data-no-tooltip translate="no">get_attribute(module, key, default \\ nil)</a> </dt> <dd class="summary-synopsis"><p>Gets the given attribute from a module.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#get_definition/3" data-no-tooltip translate="no">get_definition(module, arg, options \\ [])</a> </dt> <dd class="summary-synopsis"><p>Returns the definition for the given name-arity pair.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#get_last_attribute/3" data-no-tooltip translate="no">get_last_attribute(module, key, default \\ nil)</a> </dt> <dd class="summary-synopsis"><p>Gets the last set value of a given attribute from a module.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#has_attribute?/2" data-no-tooltip translate="no">has_attribute?(module, key)</a> </dt> <dd class="summary-synopsis"><p>Checks if the given attribute has been defined.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#make_overridable/2" data-no-tooltip translate="no">make_overridable(module, tuples)</a> </dt> <dd class="summary-synopsis"><p>Makes the given functions in <code class="inline">module</code> overridable.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#open?/1" data-no-tooltip translate="no">open?(module)</a> </dt> <dd class="summary-synopsis"><p>Checks if a module is open.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#overridable?/2" data-no-tooltip translate="no">overridable?(module, tuple)</a> </dt> <dd class="summary-synopsis"><p>Returns <code class="inline">true</code> if <code class="inline">tuple</code> in <code class="inline">module</code> was marked as overridable at some point.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#overridables_in/1" data-no-tooltip translate="no">overridables_in(module)</a> </dt> <dd class="summary-synopsis"><p>Returns all overridable definitions in <code class="inline">module</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#put_attribute/3" data-no-tooltip translate="no">put_attribute(module, key, value)</a> </dt> <dd class="summary-synopsis"><p>Puts a module attribute with <code class="inline">key</code> and <code class="inline">value</code> in the given <code class="inline">module</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#register_attribute/3" data-no-tooltip translate="no">register_attribute(module, attribute, options)</a> </dt> <dd class="summary-synopsis"><p>Registers an attribute.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#reserved_attributes/0" data-no-tooltip translate="no">reserved_attributes()</a> </dt> <dd class="summary-synopsis"><p>Returns information about module attributes used by Elixir.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#safe_concat/1" data-no-tooltip translate="no">safe_concat(list)</a> </dt> <dd class="summary-synopsis"><p>Concatenates a list of aliases and returns a new alias only if the alias was already referenced.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#safe_concat/2" data-no-tooltip translate="no">safe_concat(left, right)</a> </dt> <dd class="summary-synopsis"><p>Concatenates two aliases and returns a new alias only if the alias was already referenced.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#spec_to_callback/2" data-no-tooltip translate="no">spec_to_callback(module, definition)</a> </dt> <dd class="summary-synopsis"><p>Copies the given spec as a callback.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#split/1" data-no-tooltip translate="no">split(module)</a> </dt> <dd class="summary-synopsis"><p>Splits the given module name into binary parts.</p></dd> </div> </dl> </section> <section id="types" class="details-list"> <h1 class="section-heading">  <span class="text">Types</span> </h1> <div class="types-list"> <section class="detail"> <h3 class="detail-header" id="t:def_kind/0">def_kind()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/module.ex#L596" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type def_kind() :: :def | :defp | :defmacro | :defmacrop</pre> </div> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:definition/0">definition()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/module.ex#L595" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type definition() :: {atom(), arity()}</pre> </div> </section> </section> </div> </section> <section id="callbacks" class="details-list"> <h1 class="section-heading">  <span class="text">Callbacks</span> </h1> <div class="callbacks-list"> <section class="detail"> <h3 class="detail-header" id="c:__info__/1">__info__(atom)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/module.ex#L625" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@callback __info__(:attributes) :: keyword()</pre> <pre translate="no" data-language="elixir">@callback __info__(:compile) :: [term()]</pre> <pre translate="no" data-language="elixir">@callback __info__(:functions) :: keyword()</pre> <pre translate="no" data-language="elixir">@callback __info__(:macros) :: keyword()</pre> <pre translate="no" data-language="elixir">@callback __info__(:md5) :: binary()</pre> <pre translate="no" data-language="elixir">@callback __info__(:module) :: module()</pre> <pre translate="no" data-language="elixir">@callback __info__(:struct) :: [%{field: atom(), required: boolean()}] | nil</pre> </div> <p>Provides runtime information about functions, macros, and other information defined by the module.</p>
<p>Each module gets an <code class="inline">__info__/1</code> function when it's compiled. The function takes one of the following items:</p>
<ul>
<li><p><code class="inline">:attributes</code> - a keyword list with all persisted attributes</p></li>
<li><p><code class="inline">:compile</code> - a list with compiler metadata</p></li>
<li><p><code class="inline">:functions</code> - a keyword list of public functions and their arities</p></li>
<li><p><code class="inline">:macros</code> - a keyword list of public macros and their arities</p></li>
<li><p><code class="inline">:md5</code> - the MD5 of the module</p></li>
<li><p><code class="inline">:module</code> - the module atom name</p></li>
<li><p><code class="inline">:struct</code> - (since v1.14.0) if the module defines a struct and if so each field in order</p></li>
</ul> </section> </section> </div> </section> <section id="functions" class="details-list"> <h1 class="section-heading">  <span class="text">Functions</span> </h1> <div class="functions-list"> <section class="detail"> <h3 class="detail-header" id="attributes_in/1">attributes_in(module)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/module.ex#L1241" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec attributes_in(module()) :: [atom()]</pre> </div> <p>Returns all module attributes names defined in <code class="inline">module</code>.</p>
<p>This function can only be used on modules that have not yet been compiled.</p>
<h4 id="attributes_in/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">defmodule Example do
  @foo 1
  Module.register_attribute(__MODULE__, :bar, accumulate: true)

  :foo in Module.attributes_in(__MODULE__)
  #=&gt; true

  :bar in Module.attributes_in(__MODULE__)
  #=&gt; true
end</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="concat/1">concat(list)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/module.ex#L903" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec concat([binary() | atom()]) :: atom()</pre> </div> <p>Concatenates a list of aliases and returns a new alias.</p>
<p>It handles binaries and atoms.</p>
<h4 id="concat/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Module.concat([Foo, Bar])
Foo.Bar

iex&gt; Module.concat([Foo, "Bar"])
Foo.Bar</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="concat/2">concat(left, right)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/module.ex#L922" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec concat(binary() | atom(), binary() | atom()) :: atom()</pre> </div> <p>Concatenates two aliases and returns a new alias.</p>
<p>It handles binaries and atoms.</p>
<h4 id="concat/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Module.concat(Foo, Bar)
Foo.Bar

iex&gt; Module.concat(Foo, "Bar")
Foo.Bar</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="create/3">create(module, quoted, opts)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/module.ex#L867" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec create(module(), Macro.t(), Macro.Env.t() | keyword()) ::
  {:module, module(), binary(), term()}</pre> </div> <p>Creates a module with the given name and defined by the given quoted expressions.</p>
<p>The line where the module is defined and its file <strong>must</strong> be passed as options.</p>
<p>It returns a tuple of shape <code class="inline">{:module, module, binary, term}</code> where <code class="inline">module</code> is the module name, <code class="inline">binary</code> is the module bytecode and <code class="inline">term</code> is the result of the last expression in <code class="inline">quoted</code>.</p>
<p>Similar to <a href="kernel#defmodule/2"><code class="inline">Kernel.defmodule/2</code></a>, the binary will only be written to disk as a <code class="inline">.beam</code> file if <a href="#create/3"><code class="inline">Module.create/3</code></a> is invoked in a file that is currently being compiled.</p>
<h4 id="create/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">contents =
  quote do
    def world, do: true
  end

Module.create(Hello, contents, Macro.Env.location(__ENV__))

Hello.world()
#=&gt; true</pre>
<h4 id="create/3-differences-from-defmodule" class="section-heading">  <span class="text">Differences from <code class="inline">defmodule</code></span> </h4> <p><a href="#create/3"><code class="inline">Module.create/3</code></a> works similarly to <a href="kernel#defmodule/2"><code class="inline">Kernel.defmodule/2</code></a> and return the same results. While one could also use <a href="kernel#defmodule/2"><code class="inline">Kernel.defmodule/2</code></a> to define modules dynamically, this function is preferred when the module body is given by a quoted expression.</p>
<p>Another important distinction is that <a href="#create/3"><code class="inline">Module.create/3</code></a> allows you to control the environment variables used when defining the module, while <a href="kernel#defmodule/2"><code class="inline">Kernel.defmodule/2</code></a> automatically uses the environment it is invoked at.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="defines?/2">defines?(module, tuple)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/module.ex#L1156" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec defines?(module(), definition()) :: boolean()</pre> </div> <p>Checks if the module defines the given function or macro.</p>
<p>Use <a href="#defines?/3"><code class="inline">defines?/3</code></a> to assert for a specific type.</p>
<p>This function can only be used on modules that have not yet been compiled. Use <a href="kernel#function_exported?/3"><code class="inline">Kernel.function_exported?/3</code></a> and <a href="kernel#macro_exported?/3"><code class="inline">Kernel.macro_exported?/3</code></a> to check for public functions and macros respectively in compiled modules.</p>
<p>Note that <code class="inline">defines?</code> returns <code class="inline">false</code> for functions and macros that have been defined but then marked as overridable and no other implementation has been provided. You can check the overridable status by calling <a href="#overridable?/2"><code class="inline">overridable?/2</code></a>.</p>
<h4 id="defines?/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">defmodule Example do
  Module.defines?(__MODULE__, {:version, 0}) #=&gt; false
  def version, do: 1
  Module.defines?(__MODULE__, {:version, 0}) #=&gt; true
end</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="defines?/3">defines?(module, tuple, def_kind)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/module.ex#L1183" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec defines?(module(), definition(), def_kind()) :: boolean()</pre> </div> <p>Checks if the module defines a function or macro of the given <code class="inline">kind</code>.</p>
<p><code class="inline">kind</code> can be any of <code class="inline">:def</code>, <code class="inline">:defp</code>, <code class="inline">:defmacro</code>, or <code class="inline">:defmacrop</code>.</p>
<p>This function can only be used on modules that have not yet been compiled. Use <a href="kernel#function_exported?/3"><code class="inline">Kernel.function_exported?/3</code></a> and <a href="kernel#macro_exported?/3"><code class="inline">Kernel.macro_exported?/3</code></a> to check for public functions and macros respectively in compiled modules.</p>
<h4 id="defines?/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">defmodule Example do
  Module.defines?(__MODULE__, {:version, 0}, :def) #=&gt; false
  def version, do: 1
  Module.defines?(__MODULE__, {:version, 0}, :def) #=&gt; true
end</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="defines_type?/2">defines_type?(module, definition)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/module.ex#L1203" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec defines_type?(module(), definition()) :: boolean()</pre> </div> <p>Checks if the current module defines the given type (private, opaque or not).</p>
<p>This function is only available for modules being compiled.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="definitions_in/1">definitions_in(module)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/module.ex#L1295" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec definitions_in(module()) :: [definition()]</pre> </div> <p>Returns all functions and macros defined in <code class="inline">module</code>.</p>
<p>It returns a list with all defined functions and macros, public and private, in the shape of <code class="inline">[{name, arity}, ...]</code>.</p>
<p>This function can only be used on modules that have not yet been compiled. Use the <a href="#c:__info__/1"><code class="inline">Module.__info__/1</code></a> callback to get the public functions and macros in compiled modules.</p>
<h4 id="definitions_in/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">defmodule Example do
  def version, do: 1
  defmacrop test(arg), do: arg
  Module.definitions_in(__MODULE__) #=&gt; [{:version, 0}, {:test, 1}]
end</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="definitions_in/2">definitions_in(module, kind)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/module.ex#L1319" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec definitions_in(module(), def_kind()) :: [definition()]</pre> </div> <p>Returns all functions defined in <code class="inline">module</code>, according to its kind.</p>
<p>This function can only be used on modules that have not yet been compiled. Use the <a href="#c:__info__/1"><code class="inline">Module.__info__/1</code></a> callback to get the public functions and macros in compiled modules.</p>
<h4 id="definitions_in/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">defmodule Example do
  def version, do: 1
  Module.definitions_in(__MODULE__, :def)  #=&gt; [{:version, 0}]
  Module.definitions_in(__MODULE__, :defp) #=&gt; []
end</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="delete_attribute/2">delete_attribute(module, key)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/module.ex#L1640" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec delete_attribute(module(), atom()) :: term()</pre> </div> <p>Deletes the entry (or entries) for the given module attribute.</p>
<p>It returns the deleted attribute value. If the attribute has not been set nor configured to accumulate, it returns <code class="inline">nil</code>.</p>
<p>If the attribute is set to accumulate, then this function always returns a list. Deleting the attribute removes existing entries but the attribute will still accumulate.</p>
<h4 id="delete_attribute/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">defmodule MyModule do
  Module.put_attribute(__MODULE__, :custom_threshold_for_lib, 10)
  Module.delete_attribute(__MODULE__, :custom_threshold_for_lib)
end</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="delete_definition/2">delete_definition(module, arg)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/module.ex#L1381" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec delete_definition(module(), definition()) :: boolean()</pre> </div> <p>Deletes a definition from a module.</p>
<p>It returns <code class="inline">true</code> if the definition exists and it was removed, otherwise it returns <code class="inline">false</code>.</p> </section> </section> <section class="detail">   <h3 class="detail-header" id="eval_quoted/4">eval_quoted(module_or_env, quoted, binding \\ [], opts \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/module.ex#L800" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec eval_quoted(
  module() | Macro.Env.t(),
  Macro.t(),
  list(),
  keyword() | Macro.Env.t()
) :: term()</pre> </div> <p>Evaluates the quoted contents in the given module's context.</p>
<p>A list of environment options can also be given as argument. See <a href="code#eval_string/3"><code class="inline">Code.eval_string/3</code></a> for more information.</p>
<p>Raises an error if the module was already compiled.</p>
<h4 id="eval_quoted/4-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">defmodule Foo do
  contents =
    quote do
      def sum(a, b), do: a + b
    end

  Module.eval_quoted(__MODULE__, contents)
end

Foo.sum(1, 2)
#=&gt; 3</pre>
<p>For convenience, you can pass any <a href="macro.env"><code class="inline">Macro.Env</code></a> struct, such as <a href="kernel.specialforms#__ENV__/0"><code class="inline">__ENV__/0</code></a>, as the first argument or as options. Both the module and all options will be automatically extracted from the environment:</p>
<pre data-language="elixir">defmodule Foo do
  contents =
    quote do
      def sum(a, b), do: a + b
    end

  Module.eval_quoted(__ENV__, contents)
end

Foo.sum(1, 2)
#=&gt; 3</pre>
<p>Note that if you pass a <a href="macro.env"><code class="inline">Macro.Env</code></a> struct as first argument while also passing <code class="inline">opts</code>, they will be merged with <code class="inline">opts</code> having precedence.</p> </section> </section> <section class="detail">  <h3 class="detail-header" id="get_attribute/3">get_attribute(module, key, default \\ nil)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/module.ex#L1546" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec get_attribute(module(), atom(), term()) :: term()</pre> </div> <p>Gets the given attribute from a module.</p>
<p>If the attribute was marked with <code class="inline">accumulate</code> with <a href="#register_attribute/3"><code class="inline">Module.register_attribute/3</code></a>, a list is always returned. <code class="inline">nil</code> is returned if the attribute has not been marked with <code class="inline">accumulate</code> and has not been set to any value.</p>
<p>The <code class="inline">@</code> macro compiles to a call to this function. For example, the following code:</p>
<pre data-language="elixir">@foo</pre>
<p>Expands to something akin to:</p>
<pre data-language="elixir">Module.get_attribute(__MODULE__, :foo)</pre>
<p>This function can only be used on modules that have not yet been compiled. Use the <a href="#c:__info__/1"><code class="inline">Module.__info__/1</code></a> callback to get all persisted attributes, or <a href="code#fetch_docs/1"><code class="inline">Code.fetch_docs/1</code></a> to retrieve all documentation related attributes in compiled modules.</p>
<h4 id="get_attribute/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">defmodule Foo do
  Module.put_attribute(__MODULE__, :value, 1)
  Module.get_attribute(__MODULE__, :value) #=&gt; 1

  Module.get_attribute(__MODULE__, :value, :default) #=&gt; 1
  Module.get_attribute(__MODULE__, :not_found, :default) #=&gt; :default

  Module.register_attribute(__MODULE__, :value, accumulate: true)
  Module.put_attribute(__MODULE__, :value, 1)
  Module.get_attribute(__MODULE__, :value) #=&gt; [1]
end</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="get_definition/3">get_definition(module, arg, options \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/module.ex#L1354" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec get_definition(module(), definition(), keyword()) ::
  {:v1, def_kind(), meta :: keyword(),
   [
     {meta :: keyword(), arguments :: [Macro.t()], guards :: [Macro.t()],
      Macro.t()}
   ]}
  | nil</pre> </div> <p>Returns the definition for the given name-arity pair.</p>
<p>It returns a tuple with the <code class="inline">version</code>, the <code class="inline">kind</code>, the definition <code class="inline">metadata</code>, and a list with each clause. Each clause is a four-element tuple with metadata, the arguments, the guards, and the clause AST.</p>
<p>The clauses are returned in the Elixir AST but a subset that has already been expanded and normalized. This makes it useful for analyzing code but it cannot be reinjected into the module as it will have lost some of its original context. Given this AST representation is mostly internal, it is versioned and it may change at any time. Therefore, <strong>use this API with caution</strong>.</p>
<h4 id="get_definition/3-options" class="section-heading">  <span class="text">Options</span> </h4> <ul><li>
<code class="inline">:skip_clauses</code> (since v1.14.0) - returns <code class="inline">[]</code> instead of returning the clauses. This is useful when there is only an interest in fetching the kind and the metadata</li></ul> </section> </section> <section class="detail">  <h3 class="detail-header" id="get_last_attribute/3">get_last_attribute(module, key, default \\ nil)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/module.ex#L1581" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec get_last_attribute(module(), atom(), term()) :: term()</pre> </div> <p>Gets the last set value of a given attribute from a module.</p>
<p>If the attribute was marked with <code class="inline">accumulate</code> with <a href="#register_attribute/3"><code class="inline">Module.register_attribute/3</code></a>, the previous value to have been set will be returned. If the attribute does not accumulate, this call is the same as calling <a href="#get_attribute/3"><code class="inline">Module.get_attribute/3</code></a>.</p>
<p>This function can only be used on modules that have not yet been compiled. Use the <a href="#c:__info__/1"><code class="inline">Module.__info__/1</code></a> callback to get all persisted attributes, or <a href="code#fetch_docs/1"><code class="inline">Code.fetch_docs/1</code></a> to retrieve all documentation related attributes in compiled modules.</p>
<h4 id="get_last_attribute/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">defmodule Foo do
  Module.put_attribute(__MODULE__, :value, 1)
  Module.get_last_attribute(__MODULE__, :value) #=&gt; 1

  Module.get_last_attribute(__MODULE__, :not_found, :default) #=&gt; :default

  Module.register_attribute(__MODULE__, :acc, accumulate: true)
  Module.put_attribute(__MODULE__, :acc, 1)
  Module.get_last_attribute(__MODULE__, :acc) #=&gt; 1
  Module.put_attribute(__MODULE__, :acc, 2)
  Module.get_last_attribute(__MODULE__, :acc) #=&gt; 2
end</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="has_attribute?/2">has_attribute?(module, key)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/module.ex#L1614" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec has_attribute?(module(), atom()) :: boolean()</pre> </div> <p>Checks if the given attribute has been defined.</p>
<p>An attribute is defined if it has been registered with <a href="#register_attribute/3"><code class="inline">register_attribute/3</code></a> or assigned a value. If an attribute has been deleted with <a href="#delete_attribute/2"><code class="inline">delete_attribute/2</code></a> it is no longer considered defined.</p>
<p>This function can only be used on modules that have not yet been compiled.</p>
<h4 id="has_attribute?/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">defmodule MyModule do
  @value 1
  Module.register_attribute(__MODULE__, :other_value)
  Module.put_attribute(__MODULE__, :another_value, 1)

  Module.has_attribute?(__MODULE__, :value) #=&gt; true
  Module.has_attribute?(__MODULE__, :other_value) #=&gt; true
  Module.has_attribute?(__MODULE__, :another_value) #=&gt; true

  Module.has_attribute?(__MODULE__, :undefined) #=&gt; false

  Module.delete_attribute(__MODULE__, :value)
  Module.has_attribute?(__MODULE__, :value) #=&gt; false
end</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="make_overridable/2">make_overridable(module, tuples)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/module.ex#L1408" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec make_overridable(module(), [definition()]) :: :ok</pre> <pre translate="no" data-language="elixir">@spec make_overridable(module(), module()) :: :ok</pre> </div> <p>Makes the given functions in <code class="inline">module</code> overridable.</p>
<p>An overridable function is lazily defined, allowing a developer to customize it. See <a href="kernel#defoverridable/1"><code class="inline">Kernel.defoverridable/1</code></a> for more information and documentation.</p>
<p>Once a function or a macro is marked as overridable, it will no longer be listed under <a href="#definitions_in/1"><code class="inline">definitions_in/1</code></a> or return true when given to <a href="#defines?/2"><code class="inline">defines?/2</code></a> until another implementation is given.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="open?/1">open?(module)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/module.ex#L752" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec open?(module()) :: boolean()</pre> </div> <p>Checks if a module is open.</p>
<p>A module is "open" if it is currently being defined and its attributes and functions can be modified.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="overridable?/2">overridable?(module, tuple)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/module.ex#L1488" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec overridable?(module(), definition()) :: boolean()</pre> </div> <p>Returns <code class="inline">true</code> if <code class="inline">tuple</code> in <code class="inline">module</code> was marked as overridable at some point.</p>
<p>Note <a href="#overridable?/2"><code class="inline">overridable?/2</code></a> returns <code class="inline">true</code> even if the definition was already overridden. You can use <a href="#defines?/2"><code class="inline">defines?/2</code></a> to see if a definition exists or one is pending.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="overridables_in/1">overridables_in(module)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/module.ex#L1270" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec overridables_in(module()) :: [atom()]</pre> </div> <p>Returns all overridable definitions in <code class="inline">module</code>.</p>
<p>Note a definition is included even if it was was already overridden. You can use <a href="#defines?/2"><code class="inline">defines?/2</code></a> to see if a definition exists or one is pending.</p>
<p>This function can only be used on modules that have not yet been compiled.</p>
<h4 id="overridables_in/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">defmodule Example do
  def foo, do: 1
  def bar, do: 2

  defoverridable foo: 0, bar: 0
  def foo, do: 3

  [bar: 0, foo: 0] = Module.overridables_in(__MODULE__) |&gt; Enum.sort()
end</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="put_attribute/3">put_attribute(module, key, value)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/module.ex#L1504" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec put_attribute(module(), atom(), term()) :: :ok</pre> </div> <p>Puts a module attribute with <code class="inline">key</code> and <code class="inline">value</code> in the given <code class="inline">module</code>.</p>
<h4 id="put_attribute/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">defmodule MyModule do
  Module.put_attribute(__MODULE__, :custom_threshold_for_lib, 10)
end</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="register_attribute/3">register_attribute(module, attribute, options)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/module.ex#L1694" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec register_attribute(module(), atom(), accumulate: boolean(), persist: boolean()) ::
  :ok</pre> </div> <p>Registers an attribute.</p>
<p>By registering an attribute, a developer is able to customize how Elixir will store and accumulate the attribute values.</p>
<h4 id="register_attribute/3-options" class="section-heading">  <span class="text">Options</span> </h4> <p>When registering an attribute, two options can be given:</p>
<ul>
<li><p><code class="inline">:accumulate</code> - several calls to the same attribute will accumulate instead of overriding the previous one. New attributes are always added to the top of the accumulated list.</p></li>
<li><p><code class="inline">:persist</code> - the attribute will be persisted in the Erlang Abstract Format. Useful when interfacing with Erlang libraries.</p></li>
</ul>
<p>By default, both options are <code class="inline">false</code>. Once an attribute has been set to accumulate or persist, the behaviour cannot be reverted.</p>
<h4 id="register_attribute/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">defmodule MyModule do
  Module.register_attribute(__MODULE__, :custom_threshold_for_lib, accumulate: true)

  @custom_threshold_for_lib 10
  @custom_threshold_for_lib 20
  @custom_threshold_for_lib #=&gt; [20, 10]
end</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="reserved_attributes/0">reserved_attributes()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/module.ex#L650" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec reserved_attributes() :: map()</pre> </div> <p>Returns information about module attributes used by Elixir.</p>
<p>See the "Module attributes" section in the module documentation for more information on each attribute.</p>
<h4 id="reserved_attributes/0-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; map = Module.reserved_attributes()
iex&gt; Map.has_key?(map, :moduledoc)
true
iex&gt; Map.has_key?(map, :doc)
true</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="safe_concat/1">safe_concat(list)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/module.ex#L941" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec safe_concat([binary() | atom()]) :: atom()</pre> </div> <p>Concatenates a list of aliases and returns a new alias only if the alias was already referenced.</p>
<p>If the alias was not referenced yet, fails with <a href="argumenterror"><code class="inline">ArgumentError</code></a>. It handles binaries and atoms.</p>
<h4 id="safe_concat/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Module.safe_concat([List, Chars])
List.Chars</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="safe_concat/2">safe_concat(left, right)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/module.ex#L959" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec safe_concat(binary() | atom(), binary() | atom()) :: atom()</pre> </div> <p>Concatenates two aliases and returns a new alias only if the alias was already referenced.</p>
<p>If the alias was not referenced yet, fails with <a href="argumenterror"><code class="inline">ArgumentError</code></a>. It handles binaries and atoms.</p>
<h4 id="safe_concat/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Module.safe_concat(List, Chars)
List.Chars</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="spec_to_callback/2">spec_to_callback(module, definition)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/module.ex#L1216" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec spec_to_callback(module(), definition()) :: boolean()</pre> </div> <p>Copies the given spec as a callback.</p>
<p>Returns <code class="inline">true</code> if there is such a spec and it was copied as a callback. If the function associated to the spec has documentation defined prior to invoking this function, the docs are copied too.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="split/1">split(module)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/module.ex#L1732" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec split(module() | String.t()) :: [String.t(), ...]</pre> </div> <p>Splits the given module name into binary parts.</p>
<p><code class="inline">module</code> has to be an Elixir module, as <a href="#split/1"><code class="inline">split/1</code></a> won't work with Erlang-style modules (for example, <code class="inline">split(:lists)</code> raises an error).</p>
<p><a href="#split/1"><code class="inline">split/1</code></a> also supports splitting the string representation of Elixir modules (that is, the result of calling <a href="atom#to_string/1"><code class="inline">Atom.to_string/1</code></a> with the module name).</p>
<h4 id="split/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Module.split(Very.Long.Module.Name.And.Even.Longer)
["Very", "Long", "Module", "Name", "And", "Even", "Longer"]
iex&gt; Module.split("Elixir.String.Chars")
["String", "Chars"]</pre> </section> </section> </div> </section> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/Module.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/Module.html</a>
  </p>
</div>
