<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/pages/references/naming-conventions.md#L1" title="View Source" class="source" rel="help">Source</a> <span>Naming conventions</span> </h1> <p>This document is a reference of the naming conventions in Elixir, from casing to punctuation characters.</p>
<p>The naming convention is, by definition, a subset of the Elixir syntax. A convention aims to follow and set best practices for language and the community. If instead you want a complete reference into the Elixir syntax, beyond its conventions, see <a href="syntax-reference">the Syntax reference</a>.</p>
<h2 id="casing" class="section-heading">  <span class="text">Casing</span> </h2> <p>Elixir developers must use <code class="inline">snake_case</code> when defining variables, function names, module attributes, and the like:</p>
<pre data-language="elixir">some_map = %{this_is_a_key: "and a value"}
is_map(some_map)</pre>
<p>Aliases, commonly used as module names, are an exception as they must be capitalized and written in <code class="inline">CamelCase</code>, like <a href="optionparser"><code class="inline">OptionParser</code></a>. For aliases, capital letters are kept in acronyms, like <a href="https://hexdocs.pm/ex_unit/ExUnit.CaptureIO.html"><code class="inline">ExUnit.CaptureIO</code></a> or <a href="https://hexdocs.pm/mix/Mix.SCM.html"><code class="inline">Mix.SCM</code></a>.</p>
<p>Atoms can be written either in <code class="inline">:snake_case</code> or <code class="inline">:CamelCase</code>, although the convention is to use the snake case version throughout Elixir.</p>
<p>Generally speaking, filenames follow the <code class="inline">snake_case</code> convention of the module they define. For example, <code class="inline">MyApp</code> should be defined inside the <code class="inline">my_app.ex</code> file. However, this is only a convention. At the end of the day any filename can be used as they do not affect the compiled code in any way.</p>
<h2 id="underscore-_foo" class="section-heading">  <span class="text">Underscore (<code class="inline">_foo</code>)</span> </h2> <p>Elixir relies on underscores in different situations.</p>
<p>For example, a value that is not meant to be used must be assigned to <code class="inline">_</code> or to a variable starting with underscore:</p>
<pre data-language="elixir">iex&gt; {:ok, _contents} = File.read("README.md")</pre>
<p>Function names may also start with an underscore. Such functions are never imported by default:</p>
<pre data-language="elixir">iex&gt; defmodule Example do
...&gt;   def _wont_be_imported do
...&gt;     :oops
...&gt;   end
...&gt; end

iex&gt; import Example
iex&gt; _wont_be_imported()
** (CompileError) iex:1: undefined function _wont_be_imported/0</pre>
<p>Due to this property, Elixir relies on functions starting with underscore to attach compile-time metadata to modules. Such functions are most often in the <code class="inline">__foo__</code> format. For example, every module in Elixir has an <a href="module#c:__info__/1"><code class="inline">__info__/1</code></a> function:</p>
<pre data-language="elixir">iex&gt; String.__info__(:functions)
[at: 2, capitalize: 1, chunk: 2, ...]</pre>
<p>Elixir also includes five special forms that follow the double underscore format: <a href="kernel.specialforms#__CALLER__/0"><code class="inline">__CALLER__/0</code></a>, <a href="kernel.specialforms#__DIR__/0"><code class="inline">__DIR__/0</code></a>, <a href="kernel.specialforms#__ENV__/0"><code class="inline">__ENV__/0</code></a>and <a href="kernel.specialforms#__MODULE__/0"><code class="inline">__MODULE__/0</code></a> retrieve compile-time information about the current environment, while <a href="kernel.specialforms#__STACKTRACE__/0"><code class="inline">__STACKTRACE__/0</code></a> retrieves the stacktrace for the current exception.</p>
<h2 id="trailing-bang-foo" class="section-heading">  <span class="text">Trailing bang (<code class="inline">foo!</code>)</span> </h2> <p>A trailing bang (exclamation mark) signifies a function or macro where failure cases raise an exception.</p>
<p>Many functions come in pairs, such as <a href="file#read/1"><code class="inline">File.read/1</code></a> and <a href="file#read!/1"><code class="inline">File.read!/1</code></a>. <a href="file#read/1"><code class="inline">File.read/1</code></a> will return a success or failure tuple, whereas <a href="file#read!/1"><code class="inline">File.read!/1</code></a> will return a plain value or else raise an exception:</p>
<pre data-language="elixir">iex&gt; File.read("file.txt")
{:ok, "file contents"}
iex&gt; File.read("no_such_file.txt")
{:error, :enoent}

iex&gt; File.read!("file.txt")
"file contents"
iex&gt; File.read!("no_such_file.txt")
** (File.Error) could not read file no_such_file.txt: no such file or directory</pre>
<p>The version without <code class="inline">!</code> is preferred when you want to handle different outcomes using pattern matching:</p>
<pre data-language="elixir">case File.read(file) do
  {:ok, body} -&gt; # do something with the `body`
  {:error, reason} -&gt; # handle the error caused by `reason`
end</pre>
<p>However, if you expect the outcome to always be successful (for instance, if you expect the file always to exist), the bang variation can be more convenient and will raise a more helpful error message (than a failed pattern match) on failure.</p>
<p>When thinking about failure cases for functions, we are thinking strictly about errors that happen within their domain, such as failing to open a file. Errors that come from invalid argument types, for example, must always raise regardless if the function has a bang or not. The exception is often an <a href="argumenterror"><code class="inline">ArgumentError</code></a> or a detailed <a href="functionclauseerror"><code class="inline">FunctionClauseError</code></a>:</p>
<pre data-language="elixir">iex(1)&gt; File.read(123)
** (FunctionClauseError) no function clause matching in IO.chardata_to_string/1

    The following arguments were given to IO.chardata_to_string/1:

        # 1
        123

    Attempted function clauses (showing 2 out of 2):

        def chardata_to_string(string) when is_binary(string)
        def chardata_to_string(list) when is_list(list)</pre>
<p>More examples of paired functions: <a href="base#decode16/2"><code class="inline">Base.decode16/2</code></a> and <a href="base#decode16!/2"><code class="inline">Base.decode16!/2</code></a>, <a href="file#cwd/0"><code class="inline">File.cwd/0</code></a> and <a href="file#cwd!/0"><code class="inline">File.cwd!/0</code></a>.</p>
<p>There are also some non-paired functions, with no non-bang variant. The bang still signifies that it will raise an exception on failure. Example: <a href="protocol#assert_protocol!/1"><code class="inline">Protocol.assert_protocol!/1</code></a>.</p>
<p>In macro code, the bang on <a href="kernel#alias!/1"><code class="inline">alias!/1</code></a> and <a href="kernel#var!/2"><code class="inline">var!/2</code></a> signifies that <a href="macros#macro-hygiene">macro hygiene</a> is set aside.</p>
<h2 id="trailing-question-mark-foo" class="section-heading">  <span class="text">Trailing question mark (<code class="inline">foo?</code>)</span> </h2> <p>Functions that return a boolean are named with a trailing question mark.</p>
<p>Examples: <a href="keyword#keyword?/1"><code class="inline">Keyword.keyword?/1</code></a>, <a href="https://hexdocs.pm/mix/Mix.html#debug?/0"><code class="inline">Mix.debug?/0</code></a>, <a href="string#contains?/2"><code class="inline">String.contains?/2</code></a></p>
<p>However, functions that return booleans and are valid in guards follow another convention, described next.</p>
<h2 id="is_-prefix-is_foo" class="section-heading">  <span class="text"><code class="inline">is_</code> prefix (<code class="inline">is_foo</code>)</span> </h2> <p>Type checks and other boolean checks that are allowed in guard clauses are named with an <code class="inline">is_</code> prefix.</p>
<p>Examples: <a href="integer#is_even/1"><code class="inline">Integer.is_even/1</code></a>, <a href="kernel#is_list/1"><code class="inline">is_list/1</code></a></p>
<p>These functions and macros follow the Erlang convention of an <code class="inline">is_</code> prefix, instead of a trailing question mark, precisely to indicate that they are allowed in guard clauses.</p>
<p>Note that type checks that are not valid in guard clauses do not follow this convention. For example: <a href="keyword#keyword?/1"><code class="inline">Keyword.keyword?/1</code></a>.</p>
<h2 id="special-names" class="section-heading">  <span class="text">Special names</span> </h2> <p>Some names have specific meaning in Elixir. We detail those cases below.</p>
<h3 id="length-and-size" class="section-heading">  <span class="text">length and size</span> </h3> <p>When you see <code class="inline">size</code> in a function name, it means the operation runs in constant time (also written as "O(1) time") because the size is stored alongside the data structure.</p>
<p>Examples: <a href="kernel#map_size/1"><code class="inline">map_size/1</code></a>, <a href="kernel#tuple_size/1"><code class="inline">tuple_size/1</code></a></p>
<p>When you see <code class="inline">length</code>, the operation runs in linear time ("O(n) time") because the entire data structure has to be traversed.</p>
<p>Examples: <a href="kernel#length/1"><code class="inline">length/1</code></a>, <a href="string#length/1"><code class="inline">String.length/1</code></a></p>
<p>In other words, functions using the word "size" in its name will take the same amount of time whether the data structure is tiny or huge. Conversely, functions having "length" in its name will take more time as the data structure grows in size.</p>
<h3 id="get-fetch-fetch" class="section-heading">  <span class="text">get, fetch, fetch!</span> </h3> <p>When you see the functions <code class="inline">get</code>, <code class="inline">fetch</code>, and <code class="inline">fetch!</code> for key-value data structures, you can expect the following behaviours:</p>
<ul>
<li>
<code class="inline">get</code> returns a default value (which itself defaults to <code class="inline">nil</code>) if the key is not present, or returns the requested value.</li>
<li>
<code class="inline">fetch</code> returns <code class="inline">:error</code> if the key is not present, or returns <code class="inline">{:ok, value}</code> if it is.</li>
<li>
<code class="inline">fetch!</code> <em>raises</em> if the key is not present, or returns the requested value.</li>
</ul>
<p>Examples: <a href="map#get/2"><code class="inline">Map.get/2</code></a>, <a href="map#fetch/2"><code class="inline">Map.fetch/2</code></a>, <a href="map#fetch!/2"><code class="inline">Map.fetch!/2</code></a>, <a href="keyword#get/2"><code class="inline">Keyword.get/2</code></a>, <a href="keyword#fetch/2"><code class="inline">Keyword.fetch/2</code></a>, <a href="keyword#fetch!/2"><code class="inline">Keyword.fetch!/2</code></a></p>
<h3 id="compare" class="section-heading">  <span class="text">compare</span> </h3> <p>The function <code class="inline">compare/2</code> should return <code class="inline">:lt</code> if the first term is less than the second, <code class="inline">:eq</code> if the two terms compare as equivalent, or <code class="inline">:gt</code> if the first term is greater than the second.</p>
<p>Examples: <a href="datetime#compare/2"><code class="inline">DateTime.compare/2</code></a></p>
<p>Note that this specific convention is important due to the expectations of <a href="enum#sort/2"><code class="inline">Enum.sort/2</code></a></p> </div> <div class="bottom-actions" id="bottom-actions"> <div class="bottom-actions-item"> <a href="library-guidelines" class="bottom-actions-button" rel="prev"> <span class="subheader"> ← Previous Page </span> <span class="title"> Library guidelines </span> </a> </div> <div class="bottom-actions-item"> <a href="operators" class="bottom-actions-button" rel="next"> <span class="subheader"> Next Page → </span> <span class="title"> Operators reference </span> </a> </div> </div> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/naming-conventions.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/naming-conventions.html</a>
  </p>
</div>
