<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/pages/references/operators.md#L1" title="View Source" class="source" rel="help">Source</a> <span>Operators reference</span> </h1> <p>This document is a complete reference of operators in Elixir, how they are parsed, how they can be defined, and how they can be overridden.</p>
<h2 id="operator-precedence-and-associativity" class="section-heading">  <span class="text">Operator precedence and associativity</span> </h2> <p>The following is a list of all operators that Elixir is capable of parsing, ordered from higher to lower precedence, alongside their associativity:</p>
<table>
<thead><tr>
<th style="text-align: left;">Operator</th>
<th style="text-align: left;">Associativity</th>
</tr></thead>
<tbody>
<tr>
<td style="text-align: left;"><code class="inline">@</code></td>
<td style="text-align: left;">Unary</td>
</tr>
<tr>
<td style="text-align: left;"><code class="inline">.</code></td>
<td style="text-align: left;">Left</td>
</tr>
<tr>
<td style="text-align: left;">
<code class="inline">+</code> <code class="inline">-</code> <code class="inline">!</code> <code class="inline">^</code> <code class="inline">not</code>
</td>
<td style="text-align: left;">Unary</td>
</tr>
<tr>
<td style="text-align: left;"><code class="inline">**</code></td>
<td style="text-align: left;">Left</td>
</tr>
<tr>
<td style="text-align: left;">
<code class="inline">*</code> <code class="inline">/</code>
</td>
<td style="text-align: left;">Left</td>
</tr>
<tr>
<td style="text-align: left;">
<code class="inline">+</code> <code class="inline">-</code>
</td>
<td style="text-align: left;">Left</td>
</tr>
<tr>
<td style="text-align: left;">
<code class="inline">++</code> <code class="inline">--</code> <code class="inline">+++</code> <code class="inline">---</code> <code class="inline">..</code> <code class="inline">&lt;&gt;</code>
</td>
<td style="text-align: left;">Right</td>
</tr>
<tr>
<td style="text-align: left;">
<code class="inline">in</code> <code class="inline">not in</code>
</td>
<td style="text-align: left;">Left</td>
</tr>
<tr>
<td style="text-align: left;">
<code class="inline">|&gt;</code> <code class="inline">&lt;&lt;&lt;</code> <code class="inline">&gt;&gt;&gt;</code> <code class="inline">&lt;&lt;~</code> <code class="inline">~&gt;&gt;</code> <code class="inline">&lt;~</code> <code class="inline">~&gt;</code> <code class="inline">&lt;~&gt;</code>
</td>
<td style="text-align: left;">Left</td>
</tr>
<tr>
<td style="text-align: left;">
<code class="inline">&lt;</code> <code class="inline">&gt;</code> <code class="inline">&lt;=</code> <code class="inline">&gt;=</code>
</td>
<td style="text-align: left;">Left</td>
</tr>
<tr>
<td style="text-align: left;">
<code class="inline">==</code> <code class="inline">!=</code> <code class="inline">=~</code> <code class="inline">===</code> <code class="inline">!==</code>
</td>
<td style="text-align: left;">Left</td>
</tr>
<tr>
<td style="text-align: left;">
<code class="inline">&amp;&amp;</code> <code class="inline">&amp;&amp;&amp;</code> <code class="inline">and</code>
</td>
<td style="text-align: left;">Left</td>
</tr>
<tr>
<td style="text-align: left;">
<code class="inline">||</code> <code class="inline">|||</code> <code class="inline">or</code>
</td>
<td style="text-align: left;">Left</td>
</tr>
<tr>
<td style="text-align: left;"><code class="inline">=</code></td>
<td style="text-align: left;">Right</td>
</tr>
<tr>
<td style="text-align: left;">
<code class="inline">&amp;</code>, <code class="inline">...</code>
</td>
<td style="text-align: left;">Unary</td>
</tr>
<tr>
<td style="text-align: left;">
<code class="inline">=&gt;</code> (valid only inside <code class="inline">%{}</code>)</td>
<td style="text-align: left;">Right</td>
</tr>
<tr>
<td style="text-align: left;"><code class="inline">|</code></td>
<td style="text-align: left;">Right</td>
</tr>
<tr>
<td style="text-align: left;"><code class="inline">::</code></td>
<td style="text-align: left;">Right</td>
</tr>
<tr>
<td style="text-align: left;"><code class="inline">when</code></td>
<td style="text-align: left;">Right</td>
</tr>
<tr>
<td style="text-align: left;">
<code class="inline">&lt;-</code> <code class="inline">\\</code>
</td>
<td style="text-align: left;">Left</td>
</tr>
</tbody>
</table>
<h2 id="general-operators" class="section-heading">  <span class="text">General operators</span> </h2> <p>Elixir provides the following built-in operators:</p>
<ul>
<li>
<a href="kernel#+/1"><code class="inline">+</code></a> and <a href="kernel#-/1"><code class="inline">-</code></a> - unary positive/negative</li>
<li>
<a href="kernel#+/2"><code class="inline">+</code></a>, <a href="kernel#-/2"><code class="inline">-</code></a>, <a href="kernel#*/2"><code class="inline">*</code></a>, and <a href="kernel#//2"><code class="inline">/</code></a> - basic arithmetic operations</li>
<li>
<a href="kernel#++/2"><code class="inline">++</code></a> and <a href="kernel#--/2"><code class="inline">--</code></a> - list concatenation and subtraction</li>
<li>
<a href="kernel#and/2"><code class="inline">and</code></a> and <a href="kernel#&amp;&amp;/2"><code class="inline">&amp;&amp;</code></a> - strict and relaxed boolean "and"</li>
<li>
<a href="kernel#or/2"><code class="inline">or</code></a> and <a href="kernel#%7C%7C/2"><code class="inline">||</code></a> - strict and relaxed boolean "or"</li>
<li>
<a href="kernel#not/1"><code class="inline">not</code></a> and <a href="kernel#!/1"><code class="inline">!</code></a> - strict and relaxed boolean "not"</li>
<li>
<a href="kernel#in/2"><code class="inline">in</code></a> and <a href="kernel#in/2"><code class="inline">not in</code></a> - membership</li>
<li>
<a href="kernel#@/1"><code class="inline">@</code></a> - module attribute</li>
<li>
<a href="kernel#../0"><code class="inline">..</code></a>, <a href="kernel#../2"><code class="inline">..</code></a>, and <a href="kernel#..///3"><code class="inline">..//</code></a> - range creation</li>
<li>
<a href="kernel#%3C%3E/2"><code class="inline">&lt;&gt;</code></a> - binary concatenation</li>
<li>
<a href="kernel#%7C%3E/2"><code class="inline">|&gt;</code></a> - pipeline</li>
<li>
<a href="kernel#=~/2"><code class="inline">=~</code></a> - text-based match</li>
</ul>
<p>Many of those can be used in guards; consult the <a href="patterns-and-guards#list-of-allowed-functions-and-operators">list of allowed guard functions and operators</a>.</p>
<p>Additionally, there are a few other operators that Elixir parses but doesn't actually use. See <a href="#custom-and-overridden-operators">Custom and overridden operators</a> below for a list and for guidelines about their use.</p>
<p>Some other operators are special forms and cannot be overridden:</p>
<ul>
<li>
<a href="kernel.specialforms#%5E/1"><code class="inline">^</code></a> - pin operator</li>
<li>
<a href="kernel.specialforms#./2"><code class="inline">.</code></a> - dot operator</li>
<li>
<a href="kernel.specialforms#=/2"><code class="inline">=</code></a> - match operator</li>
<li>
<a href="kernel.specialforms#&amp;/1"><code class="inline">&amp;</code></a> - capture operator</li>
<li>
<a href="kernel.specialforms#::/2"><code class="inline">::</code></a> - type operator</li>
</ul>
<p>Finally, these operators appear in the precedence table above but are only meaningful within certain constructs:</p>
<ul>
<li>
<code class="inline">=&gt;</code> - see <a href="kernel.specialforms#%25%7B%7D/1"><code class="inline">%{}</code></a>
</li>
<li>
<code class="inline">when</code> - see <a href="patterns-and-guards#guards">Guards</a>
</li>
<li>
<code class="inline">&lt;-</code> - see <a href="kernel.specialforms#for/1"><code class="inline">for</code></a> and <a href="kernel.specialforms#with/1"><code class="inline">with</code></a>
</li>
<li>
<code class="inline">\\</code> - see <a href="kernel#def/2-default-arguments">Default arguments</a>
</li>
</ul>
<h2 id="comparison-operators" class="section-heading">  <span class="text">Comparison operators</span> </h2> <p>Elixir provides the following built-in comparison operators (all of which can be used in guards):</p>
<ul>
<li>
<a href="kernel#==/2"><code class="inline">==</code></a> - equal to</li>
<li>
<a href="kernel#===/2"><code class="inline">===</code></a> - strictly equal to</li>
<li>
<a href="kernel#!=/2"><code class="inline">!=</code></a> - not equal to</li>
<li>
<a href="kernel#!==/2"><code class="inline">!==</code></a> - strictly not equal to</li>
<li>
<a href="kernel#%3C/2"><code class="inline">&lt;</code></a> - less-than</li>
<li>
<a href="kernel#%3E/2"><code class="inline">&gt;</code></a> - greater-than</li>
<li>
<a href="kernel#%3C=/2"><code class="inline">&lt;=</code></a> - less-than or equal to</li>
<li>
<a href="kernel#%3E=/2"><code class="inline">&gt;=</code></a> - greater-than or equal to</li>
</ul>
<p>The only difference between <a href="kernel#==/2"><code class="inline">==</code></a> and <a href="kernel#===/2"><code class="inline">===</code></a> is that <a href="kernel#===/2"><code class="inline">===</code></a> is strict when it comes to comparing integers and floats:</p>
<pre data-language="elixir">iex&gt; 1 == 1.0
true
iex&gt; 1 === 1.0
false</pre>
<p><a href="kernel#!=/2"><code class="inline">!=</code></a> and <a href="kernel#!==/2"><code class="inline">!==</code></a> act as the negation of <a href="kernel#==/2"><code class="inline">==</code></a> and <a href="kernel#===/2"><code class="inline">===</code></a>, respectively.</p>
<h2 id="custom-and-overridden-operators" class="section-heading">  <span class="text">Custom and overridden operators</span> </h2> <h3 id="defining-custom-operators" class="section-heading">  <span class="text">Defining custom operators</span> </h3> <p>Elixir is capable of parsing a predefined set of operators. It's not possible to define new operators (as supported by some languages). However, not all operators that Elixir can parse are <em>used</em> by Elixir: for example, <code class="inline">+</code> and <code class="inline">||</code> are used by Elixir for addition and boolean <em>or</em>, but <code class="inline">&lt;~&gt;</code> is not used (but valid).</p>
<p>To define an operator, you can use the usual <code class="inline">def*</code> constructs (<code class="inline">def</code>, <code class="inline">defp</code>, <code class="inline">defmacro</code>, and so on) but with a syntax similar to how the operator is used:</p>
<pre data-language="elixir">defmodule MyOperators do
  # We define ~&gt; to return the maximum of the given two numbers,
  # and &lt;~ to return the minimum.

  def a ~&gt; b, do: max(a, b)
  def a &lt;~ b, do: min(a, b)
end</pre>
<p>To use the newly defined operators, you <strong>have to</strong> import the module that defines them:</p>
<pre data-language="elixir">iex&gt; import MyOperators
iex&gt; 1 ~&gt; 2
2
iex&gt; 1 &lt;~ 2
1</pre>
<p>The following is a table of all the operators that Elixir is capable of parsing, but that are not used by default:</p>
<ul>
<li><code class="inline">|||</code></li>
<li><code class="inline">&amp;&amp;&amp;</code></li>
<li><code class="inline">&lt;&lt;&lt;</code></li>
<li><code class="inline">&gt;&gt;&gt;</code></li>
<li><code class="inline">&lt;&lt;~</code></li>
<li><code class="inline">~&gt;&gt;</code></li>
<li><code class="inline">&lt;~</code></li>
<li><code class="inline">~&gt;</code></li>
<li><code class="inline">&lt;~&gt;</code></li>
<li><code class="inline">+++</code></li>
<li><code class="inline">---</code></li>
</ul>
<p>The following operators are used by the <a href="bitwise"><code class="inline">Bitwise</code></a> module when imported: <a href="bitwise#&amp;&amp;&amp;/2"><code class="inline">&amp;&amp;&amp;</code></a>, <a href="bitwise#%3C%3C%3C/2"><code class="inline">&lt;&lt;&lt;</code></a>, <a href="bitwise#%3E%3E%3E/2"><code class="inline">&gt;&gt;&gt;</code></a>, and <a href="bitwise#%7C%7C%7C/2"><code class="inline">|||</code></a>. See the <a href="bitwise"><code class="inline">Bitwise</code></a> documentation for more information.</p>
<p>Note that the Elixir community generally discourages custom operators. They can be hard to read and even more to understand, as they don't have a descriptive name like functions do. That said, some specific cases or custom domain specific languages (DSLs) may justify these practices.</p>
<p>It is also possible to replace predefined operators, such as <code class="inline">+</code>, but doing so is extremely discouraged.</p> </div> <div class="bottom-actions" id="bottom-actions"> <div class="bottom-actions-item"> <a href="naming-conventions" class="bottom-actions-button" rel="prev"> <span class="subheader"> ← Previous Page </span> <span class="title"> Naming conventions </span> </a> </div> <div class="bottom-actions-item"> <a href="patterns-and-guards" class="bottom-actions-button" rel="next"> <span class="subheader"> Next Page → </span> <span class="title"> Patterns and guards </span> </a> </div> </div> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/operators.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/operators.html</a>
  </p>
</div>
