<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/pages/getting-started/optional-syntax.md#L1" title="View Source" class="source" rel="help">Source</a> <span>Optional syntax sheet</span> </h1> <p>In the previous chapters, we learned that the Elixir syntax allows developers to omit delimiters in a few occasions to make code more readable. For example, we learned that parentheses are optional:</p>
<pre data-language="elixir">iex&gt; length([1, 2, 3]) == length [1, 2, 3]
true</pre>
<p>and that <code class="inline">do</code>-<code class="inline">end</code> blocks are equivalent to keyword lists:</p>
<pre data-language="elixir"># do-end blocks
iex&gt; if true do
...&gt;   :this
...&gt; else
...&gt;   :that
...&gt; end
:this

# keyword lists
iex&gt; if true, do: :this, else: :that
:this</pre>
<p>Keyword lists use Elixir's regular notation for separating arguments, where we separate each key-value pair with commas, and each key is followed by <code class="inline">:</code>. In the <code class="inline">do</code>-blocks, we get rid of the colons, the commas, and separate each keyword by a newline. They are useful exactly because they remove the verbosity when writing blocks of code. Most of the time, we use the block syntax, but it is good to know they are equivalent.</p>
<p>Those conveniences, which we call here "optional syntax", allow the language syntax core to be small, without sacrificing the readability and expressiveness of your code. In this brief chapter, we will review the four rules provided by the language, using a short snippet as playground.</p>
<h2 id="walk-through" class="section-heading">  <span class="text">Walk-through</span> </h2> <p>Take the following code:</p>
<pre data-language="elixir">if variable? do
  Call.this()
else
  Call.that()
end</pre>
<p>Now let's remove the conveniences one by one:</p>
<ol>
<li>
<p><code class="inline">do</code>-<code class="inline">end</code> blocks are equivalent to keywords:</p>
<pre data-language="elixir">if variable?, do: Call.this(), else: Call.that()</pre>
</li>
<li>
<p>Keyword lists as last argument do not require square brackets, but let's add them:</p>
<pre data-language="elixir">if variable?, [do: Call.this(), else: Call.that()]</pre>
</li>
<li>
<p>Keyword lists are the same as lists of two-element tuples:</p>
<pre data-language="elixir">if variable?, [{:do, Call.this()}, {:else, Call.that()}]</pre>
</li>
<li>
<p>Finally, parentheses are optional on function calls, but let's add them:</p>
<pre data-language="elixir">if(variable?, [{:do, Call.this()}, {:else, Call.that()}])</pre>
</li>
</ol>
<p>That's it! Those four rules outline the optional syntax available in Elixir.</p>
<p>To understand why these rules matter, we can briefly compare Elixir with many other programming languages. Most programming languages have several keywords for defining methods, functions, conditionals, loops, and so forth. Each of those keywords have their own syntax rules attached to them.</p>
<p>However, in Elixir, none of these language features require special "keywords", instead they all build from this small set of rules. The other benefit is that developers can also extend the language in a way that is consistent with the language itself, since the constructs for designing and extending the language are the same. We further explore this topic in <a href="quote-and-unquote">the "Meta-programming" guide</a>.</p>
<p>At the end of the day, those rules are what enables us to write:</p>
<pre data-language="elixir">defmodule Math do
  def add(a, b) do
    a + b
  end
end</pre>
<p>instead of:</p>
<pre data-language="elixir">defmodule(Math, [
  {:do, def(add(a, b), [{:do, a + b}])}
])</pre>
<p>Whenever you have any questions, this quick walk-through has you covered.</p>
<p>Finally, if you are concerned about when to apply these rules, it's worth noting that the Elixir formatter handles those concerns for you. Most Elixir developers use the <a href="https://hexdocs.pm/mix/Mix.Tasks.Format.html"><code class="inline">mix format</code></a> task to format their codebases according to a well-defined set of rules defined by the Elixir team and the community. For instance, <a href="https://hexdocs.pm/mix/Mix.Tasks.Format.html"><code class="inline">mix format</code></a> will always add parentheses to function calls unless explicitly configured not to do so. This helps to maintain consistency across all codebases within organizations and the wider community.</p> </div> <div class="bottom-actions" id="bottom-actions"> <div class="bottom-actions-item"> <a href="writing-documentation" class="bottom-actions-button" rel="prev"> <span class="subheader"> ← Previous Page </span> <span class="title"> Writing documentation </span> </a> </div> <div class="bottom-actions-item"> <a href="erlang-libraries" class="bottom-actions-button" rel="next"> <span class="subheader"> Next Page → </span> <span class="title"> Erlang libraries </span> </a> </div> </div> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/optional-syntax.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/optional-syntax.html</a>
  </p>
</div>
