<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/pages/references/patterns-and-guards.md#L1" title="View Source" class="source" rel="help">Source</a> <span>Patterns and guards</span> </h1> <p>Elixir provides pattern matching, which allows us to assert on the shape or extract values from data structures. Patterns are often augmented with guards, which give developers the ability to perform more complex checks, albeit limited.</p>
<p>This document provides a complete reference on patterns and guards, their semantics, where they are allowed, and how to extend them.</p>
<h2 id="patterns" class="section-heading">  <span class="text">Patterns</span> </h2> <p>Patterns in Elixir are made of variables, literals, and data structure specific syntax. One of the most used constructs to perform pattern matching is the match operator (<a href="kernel.specialforms#=/2"><code class="inline">=</code></a>):</p>
<pre data-language="elixir">iex&gt; x = 1
1
iex&gt; 1 = x
1</pre>
<p>In the example above, <code class="inline">x</code> starts without a value and has <code class="inline">1</code> assigned to it. Then, we compare the value of <code class="inline">x</code> to the literal <code class="inline">1</code>, which succeeds as they are both <code class="inline">1</code>.</p>
<p>Matching <code class="inline">x</code> against 2 would raise:</p>
<pre data-language="elixir">iex&gt; 2 = x
** (MatchError) no match of right hand side value: 1</pre>
<p>Patterns are not bidirectional. If you have a variable <code class="inline">y</code> that was never assigned to (often called an unbound variable) and you write <code class="inline">1 = y</code>, an error will be raised:</p>
<pre data-language="elixir">iex&gt; 1 = y
** (CompileError) iex:2: undefined variable "y"</pre>
<p>In other words, patterns are allowed only on the left side of <code class="inline">=</code>. The right side of <code class="inline">=</code> follows the regular evaluation semantics of the language.</p>
<p>Now let's cover the pattern matching rules for each construct and then for each relevant data types.</p>
<h3 id="variables" class="section-heading">  <span class="text">Variables</span> </h3> <p>Variables in patterns are always assigned to:</p>
<pre data-language="elixir">iex&gt; x = 1
1
iex&gt; x = 2
2
iex&gt; x
2</pre>
<p>In other words, Elixir supports rebinding. In case you don't want the value of a variable to change, you can use the pin operator (<code class="inline">^</code>):</p>
<pre data-language="elixir">iex&gt; x = 1
1
iex&gt; ^x = 2
** (MatchError) no match of right hand side value: 2</pre>
<p>If the same variable appears multiple times in the same pattern, then all of them must be bound to the same value:</p>
<pre data-language="elixir">iex&gt; {x, x} = {1, 1}
{1, 1}
iex&gt; {x, x} = {1, 2}
** (MatchError) no match of right hand side value: {1, 2}</pre>
<p>The underscore variable (<code class="inline">_</code>) has a special meaning as it can never be bound to any value. It is especially useful when you don't care about certain value in a pattern:</p>
<pre data-language="elixir">iex&gt; {_, integer} = {:not_important, 1}
{:not_important, 1}
iex&gt; integer
1
iex&gt; _
** (CompileError) iex:3: invalid use of _</pre>
<h3 id="literals-numbers-and-atoms" class="section-heading">  <span class="text">Literals (numbers and atoms)</span> </h3> <p>Atoms and numbers (integers and floats) can appear in patterns and they are always represented as is. For example, an atom will only match an atom if they are the same atom:</p>
<pre data-language="elixir">iex&gt; :atom = :atom
:atom
iex&gt; :atom = :another_atom
** (MatchError) no match of right hand side value: :another_atom</pre>
<p>Similar rule applies to numbers. Finally, note that numbers in patterns perform strict comparison. In other words, integers to do not match floats:</p>
<pre data-language="elixir">iex&gt; 1 = 1.0
** (MatchError) no match of right hand side value: 1.0</pre>
<h3 id="tuples" class="section-heading">  <span class="text">Tuples</span> </h3> <p>Tuples may appear in patterns using the curly brackets syntax (<code class="inline">{}</code>). A tuple in a pattern will match only tuples of the same size, where each individual tuple element must also match:</p>
<pre data-language="elixir">iex&gt; {:ok, integer} = {:ok, 13}
{:ok, 13}

# won't match due to different size
iex&gt; {:ok, integer} = {:ok, 11, 13}
** (MatchError) no match of right hand side value: {:ok, 11, 13}

# won't match due to mismatch on first element
iex&gt; {:ok, binary} = {:error, :enoent}
** (MatchError) no match of right hand side value: {:error, :enoent}</pre>
<h3 id="lists" class="section-heading">  <span class="text">Lists</span> </h3> <p>Lists may appear in patterns using the square brackets syntax (<code class="inline">[]</code>). A list in a pattern will match only lists of the same size, where each individual list element must also match:</p>
<pre data-language="elixir">iex&gt; [:ok, integer] = [:ok, 13]
[:ok, 13]

# won't match due to different size
iex&gt; [:ok, integer] = [:ok, 11, 13]
** (MatchError) no match of right hand side value: [:ok, 11, 13]

# won't match due to mismatch on first element
iex&gt; [:ok, binary] = [:error, :enoent]
** (MatchError) no match of right hand side value: [:error, :enoent]</pre>
<p>Opposite to tuples, lists also allow matching on non-empty lists by using the <code class="inline">[head | tail]</code> notation, which matches on the <code class="inline">head</code> and <code class="inline">tail</code> of a list:</p>
<pre data-language="elixir">iex&gt; [head | tail] = [1, 2, 3]
[1, 2, 3]
iex&gt; head
1
iex&gt; tail
[2, 3]</pre>
<p>Multiple elements may prefix the <code class="inline">| tail</code> construct:</p>
<pre data-language="elixir">iex&gt; [first, second | tail] = [1, 2, 3]
[1, 2, 3]
iex&gt; tail
[3]</pre>
<p>Note <code class="inline">[head | tail]</code> does not match empty lists:</p>
<pre data-language="elixir">iex&gt; [head | tail] = []
** (MatchError) no match of right hand side value: []</pre>
<p>Given charlists are represented as a list of integers, one can also perform prefix matches on charlists using the list concatenation operator (<a href="kernel#++/2"><code class="inline">++</code></a>):</p>
<pre data-language="elixir">iex&gt; ~c"hello " ++ world = ~c"hello world"
~c"hello world"
iex&gt; world
~c"world"</pre>
<p>Which is equivalent to matching on <code class="inline">[?h, ?e, ?l, ?l, ?o, ?\s | world]</code>. Suffix matches (<code class="inline">hello ++ ~c" world"</code>) are not valid patterns.</p>
<h3 id="maps" class="section-heading">  <span class="text">Maps</span> </h3> <p>Maps may appear in patterns using the percentage sign followed by the curly brackets syntax (<code class="inline">%{}</code>). Opposite to lists and tuples, maps perform a subset match. This means a map pattern will match any other map that has at least all of the keys in the pattern.</p>
<p>Here is an example where all keys match:</p>
<pre data-language="elixir">iex&gt; %{name: name} = %{name: "meg"}
%{name: "meg"}
iex&gt; name
"meg"</pre>
<p>Here is when a subset of the keys match:</p>
<pre data-language="elixir">iex&gt; %{name: name} = %{name: "meg", age: 23}
%{age: 23, name: "meg"}
iex&gt; name
"meg"</pre>
<p>If a key in the pattern is not available in the map, then they won't match:</p>
<pre data-language="elixir">iex&gt; %{name: name, age: age} = %{name: "meg"}
** (MatchError) no match of right hand side value: %{name: "meg"}</pre>
<p>Note that the empty map will match all maps, which is a contrast to tuples and lists, where an empty tuple or an empty list will only match empty tuples and empty lists respectively:</p>
<pre data-language="elixir">iex&gt; %{} = %{name: "meg"}
%{name: "meg"}</pre>
<p>Finally, note map keys in patterns must always be literals or previously bound variables matched with the pin operator.</p>
<h3 id="structs" class="section-heading">  <span class="text">Structs</span> </h3> <p>Structs may appear in patterns using the percentage sign, the struct module name or a variable followed by the curly brackets syntax (<code class="inline">%{}</code>).</p>
<p>Given the following struct:</p>
<pre data-language="elixir">defmodule User do
  defstruct [:name]
end</pre>
<p>Here is an example where all keys match:</p>
<pre data-language="elixir">iex&gt; %User{name: name} = %User{name: "meg"}
%User{name: "meg"}
iex&gt; name
"meg"</pre>
<p>If an unknown key is given, the compiler will raise an error:</p>
<pre data-language="elixir">iex&gt; %User{type: type} = %User{name: "meg"}
** (CompileError) iex: unknown key :type for struct User</pre>
<p>The struct name can be extracted when putting a variable instead of a module name:</p>
<pre data-language="elixir">iex&gt; %struct_name{} = %User{name: "meg"}
%User{name: "meg"}
iex&gt; struct_name
User</pre>
<h3 id="binaries" class="section-heading">  <span class="text">Binaries</span> </h3> <p>Binaries may appear in patterns using the double less-than/greater-than syntax (<a href="kernel.specialforms#%3C%3C%3E%3E/1"><code class="inline">&lt;&lt;&gt;&gt;</code></a>). A binary in a pattern can match multiple segments at the same time, each with different type, size, and unit:</p>
<pre data-language="elixir">iex&gt; &lt;&lt;val::unit(8)-size(2)-integer&gt;&gt; = &lt;&lt;123, 56&gt;&gt;
"{8"
iex&gt; val
31544</pre>
<p>See the documentation for <a href="kernel.specialforms#%3C%3C%3E%3E/1"><code class="inline">&lt;&lt;&gt;&gt;</code></a> for a complete definition of pattern matching for binaries.</p>
<p>Finally, remember that strings in Elixir are UTF-8 encoded binaries. This means that, similar to charlists, prefix matches on strings are also possible with the binary concatenation operator (<a href="kernel#%3C%3E/2"><code class="inline">&lt;&gt;</code></a>):</p>
<pre data-language="elixir">iex&gt; "hello " &lt;&gt; world = "hello world"
"hello world"
iex&gt; world
"world"</pre>
<p>Suffix matches (<code class="inline">hello &lt;&gt; " world"</code>) are not valid patterns.</p>
<h2 id="guards" class="section-heading">  <span class="text">Guards</span> </h2> <p>Guards are a way to augment pattern matching with more complex checks. They are allowed in a predefined set of constructs where pattern matching is allowed, such as function definitions, case clauses, and others.</p>
<p>Not all expressions are allowed in guard clauses, but only a handful of them. This is a deliberate choice. This way, Elixir (through Erlang) ensures that all guards are predictable (no mutations or other side-effects) and they can be optimized and performed efficiently.</p>
<h3 id="list-of-allowed-functions-and-operators" class="section-heading">  <span class="text">List of allowed functions and operators</span> </h3> <p>You can find the built-in list of guards <a href="kernel#guards">in the <code class="inline">Kernel</code> module</a>. Here is an overview:</p>
<ul>
<li>comparison operators (<a href="kernel#==/2"><code class="inline">==</code></a>, <a href="kernel#!=/2"><code class="inline">!=</code></a>, <a href="kernel#===/2"><code class="inline">===</code></a>, <a href="kernel#!==/2"><code class="inline">!==</code></a>, <a href="kernel#%3C/2"><code class="inline">&lt;</code></a>, <a href="kernel#%3C=/2"><code class="inline">&lt;=</code></a>, <a href="kernel#%3E/2"><code class="inline">&gt;</code></a>, <a href="kernel#%3E=/2"><code class="inline">&gt;=</code></a>)</li>
<li>strictly boolean operators (<a href="kernel#and/2"><code class="inline">and</code></a>, <a href="kernel#or/2"><code class="inline">or</code></a>, <a href="kernel#not/1"><code class="inline">not</code></a>). Note <a href="kernel#&amp;&amp;/2"><code class="inline">&amp;&amp;</code></a>, <a href="kernel#%7C%7C/2"><code class="inline">||</code></a>, and <a href="kernel#!/1"><code class="inline">!</code></a> sibling operators are <strong>not allowed</strong> as they're not <em>strictly</em> boolean - meaning they don't require arguments to be booleans</li>
<li>arithmetic unary operators (<a href="kernel#+/1"><code class="inline">+</code></a>, <a href="kernel#-/1"><code class="inline">-</code></a>)</li>
<li>arithmetic binary operators (<a href="kernel#+/2"><code class="inline">+</code></a>, <a href="kernel#-/2"><code class="inline">-</code></a>, <a href="kernel#*/2"><code class="inline">*</code></a>, <a href="kernel#//2"><code class="inline">/</code></a>)</li>
<li>
<a href="kernel#in/2"><code class="inline">in</code></a> and <a href="kernel#in/2"><code class="inline">not in</code></a> operators (as long as the right-hand side is a list or a range)</li>
<li>"type-check" functions (<a href="kernel#is_list/1"><code class="inline">is_list/1</code></a>, <a href="kernel#is_number/1"><code class="inline">is_number/1</code></a>, and the like)</li>
<li>functions that work on built-in data types (<a href="kernel#abs/1"><code class="inline">abs/1</code></a>, <a href="kernel#hd/1"><code class="inline">hd/1</code></a>, <a href="kernel#map_size/1"><code class="inline">map_size/1</code></a>, and others)</li>
<li>the <code class="inline">map.field</code> syntax</li>
</ul>
<p>The module <a href="bitwise"><code class="inline">Bitwise</code></a> also includes a handful of <a href="bitwise#guards">Erlang bitwise operations as guards</a>.</p>
<p>Macros constructed out of any combination of the above guards are also valid guards - for example, <a href="integer#is_even/1"><code class="inline">Integer.is_even/1</code></a>. For more information, see the "Custom patterns and guards expressions" section shown below.</p>
<h3 id="why-guards" class="section-heading">  <span class="text">Why guards</span> </h3> <p>Let's see an example of a guard used in a function clause:</p>
<pre data-language="elixir">def empty_map?(map) when map_size(map) == 0, do: true
def empty_map?(map) when is_map(map), do: false</pre>
<p>Guards start with the <code class="inline">when</code> operator, followed by a guard expression. The clause will be executed if and only if the guard expression returns <code class="inline">true</code>. Multiple boolean conditions can be combined with the <a href="kernel#and/2"><code class="inline">and</code></a> and <a href="kernel#or/2"><code class="inline">or</code></a> operators.</p>
<p>Writing the <code class="inline">empty_map?/1</code> function by only using pattern matching would not be possible (as pattern matching on <code class="inline">%{}</code> would match <em>any</em> map, not only the empty ones).</p>
<h3 id="non-passing-guards" class="section-heading">  <span class="text">Non-passing guards</span> </h3> <p>A function clause will be executed if and only if its guard expression evaluates to <code class="inline">true</code>. If any other value is returned, the function clause will be skipped. In particular, guards have no concept of "truthy" or "falsy".</p>
<p>For example, imagine a function that checks that the head of a list is not <code class="inline">nil</code>:</p>
<pre data-language="elixir">def not_nil_head?([head | _]) when head, do: true
def not_nil_head?(_), do: false

not_nil_head?(["some_value", "another_value"])
#=&gt; false</pre>
<p>Even though the head of the list is not <code class="inline">nil</code>, the first clause for <code class="inline">not_nil_head?/1</code> fails because the expression does not evaluate to <code class="inline">true</code>, but to <code class="inline">"some_value"</code>, therefore triggering the second clause which returns <code class="inline">false</code>. To make the guard behave correctly, you must ensure that the guard evaluates to <code class="inline">true</code>, like so:</p>
<pre data-language="elixir">def not_nil_head?([head | _]) when head != nil, do: true
def not_nil_head?(_), do: false

not_nil_head?(["some_value", "another_value"])
#=&gt; true</pre>
<h3 id="errors-in-guards" class="section-heading">  <span class="text">Errors in guards</span> </h3> <p>In guards, when functions would normally raise exceptions, they cause the guard to fail instead.</p>
<p>For example, the <a href="kernel#tuple_size/1"><code class="inline">tuple_size/1</code></a> function only works with tuples. If we use it with anything else, an argument error is raised:</p>
<pre data-language="elixir">iex&gt; tuple_size("hello")
** (ArgumentError) argument error</pre>
<p>However, when used in guards, the corresponding clause will fail to match instead of raising an error:</p>
<pre data-language="elixir">iex&gt; case "hello" do
...&gt;   something when tuple_size(something) == 2 -&gt;
...&gt;     :worked
...&gt;   _anything_else -&gt;
...&gt;     :failed
...&gt; end
:failed</pre>
<p>In many cases, we can take advantage of this. In the code above, we used <a href="kernel#tuple_size/1"><code class="inline">tuple_size/1</code></a> to both check that the given value is a tuple <em>and</em> check its size (instead of using <code class="inline">is_tuple(something) and tuple_size(something) == 2</code>).</p>
<p>However, if your guard has multiple conditions, such as checking for tuples or maps, it is best to call type-check functions like <a href="kernel#is_tuple/1"><code class="inline">is_tuple/1</code></a> before <a href="kernel#tuple_size/1"><code class="inline">tuple_size/1</code></a>, otherwise the whole guard will fail if a tuple is not given. Alternatively, your function clause can use multiple guards as shown in the following section.</p>
<h3 id="multiple-guards-in-the-same-clause" class="section-heading">  <span class="text">Multiple guards in the same clause</span> </h3> <p>There exists an additional way to simplify a chain of <code class="inline">or</code> expressions in guards: Elixir supports writing "multiple guards" in the same clause. The following code:</p>
<pre data-language="elixir">def is_number_or_nil(term) when is_integer(term) or is_float(term) or is_nil(term),
  do: :maybe_number
def is_number_or_nil(_other),
  do: :something_else</pre>
<p>can be alternatively written as:</p>
<pre data-language="elixir">def is_number_or_nil(term)
    when is_integer(term)
    when is_float(term)
    when is_nil(term) do
  :maybe_number
end

def is_number_or_nil(_other) do
  :something_else
end</pre>
<p>If each guard expression always returns a boolean, the two forms are equivalent. However, recall that if any function call in a guard raises an exception, the entire guard fails. To illustrate this, the following function will not detect empty tuples:</p>
<pre data-language="elixir">defmodule Check do
  # If given a tuple, map_size/1 will raise, and tuple_size/1 will not be evaluated
  def empty?(val) when map_size(val) == 0 or tuple_size(val) == 0, do: true
  def empty?(_val), do: false
end

Check.empty?(%{})
#=&gt; true

Check.empty?({})
#=&gt; false # true was expected!</pre>
<p>This could be corrected by ensuring that no exception is raised, either via type checks like <code class="inline">is_map(val) and map_size(val) == 0</code>, or by using multiple guards, so that if an exception causes one guard to fail, the next one is evaluated.</p>
<pre data-language="elixir">defmodule Check do
  # If given a tuple, map_size/1 will raise, and the second guard will be evaluated
  def empty?(val)
      when map_size(val) == 0
      when tuple_size(val) == 0,
      do: true

  def empty?(_val), do: false
end

Check.empty?(%{})
#=&gt; true

Check.empty?({})
#=&gt; true</pre>
<h2 id="where-patterns-and-guards-can-be-used" class="section-heading">  <span class="text">Where patterns and guards can be used</span> </h2> <p>In the examples above, we have used the match operator (<a href="kernel.specialforms#=/2"><code class="inline">=</code></a>) and function clauses to showcase patterns and guards respectively. Here is the list of the built-in constructs in Elixir that support patterns and guards.</p>
<ul>
<li>
<p><a href="kernel#match?/2"><code class="inline">match?/2</code></a>:</p>
<pre data-language="elixir">match?({:ok, value} when value &gt; 0, {:ok, 13})</pre>
</li>
<li>
<p>function clauses:</p>
<pre data-language="elixir">def type(term) when is_integer(term), do: :integer
def type(term) when is_float(term), do: :float</pre>
</li>
<li>
<p><a href="kernel.specialforms#case/2"><code class="inline">case</code></a> expressions:</p>
<pre data-language="elixir">case x do
  1 -&gt; :one
  2 -&gt; :two
  n when is_integer(n) and n &gt; 2 -&gt; :larger_than_two
end</pre>
</li>
<li>
<p>anonymous functions (<code class="inline">fn/1</code>):</p>
<pre data-language="elixir">larger_than_two? = fn
  n when is_integer(n) and n &gt; 2 -&gt; true
  n when is_integer(n) -&gt; false
end</pre>
</li>
<li>
<p><a href="kernel.specialforms#for/1"><code class="inline">for</code></a> and <a href="kernel.specialforms#with/1"><code class="inline">with</code></a> support patterns and guards on the left side of <code class="inline">&lt;-</code>:</p>
<pre data-language="elixir">for x when x &gt;= 0 &lt;- [1, -2, 3, -4], do: x</pre>
<p><code class="inline">with</code> also supports the <code class="inline">else</code> keyword, which supports patterns matching and guards.</p>
</li>
<li><p><a href="kernel.specialforms#try/1"><code class="inline">try</code></a> supports patterns and guards on <code class="inline">catch</code> and <code class="inline">else</code></p></li>
<li><p><a href="kernel.specialforms#receive/1"><code class="inline">receive</code></a> supports patterns and guards to match on the received messages.</p></li>
<li><p>custom guards can also be defined with <a href="kernel#defguard/1"><code class="inline">defguard/1</code></a> and <a href="kernel#defguardp/1"><code class="inline">defguardp/1</code></a>. A custom guard can only be defined based on existing guards.</p></li>
</ul>
<p>Note that the match operator (<a href="kernel.specialforms#=/2"><code class="inline">=</code></a>) does <em>not</em> support guards:</p>
<pre data-language="elixir">{:ok, binary} = File.read("some/file")</pre>
<h2 id="custom-patterns-and-guards-expressions" class="section-heading">  <span class="text">Custom patterns and guards expressions</span> </h2> <p>Only the constructs listed in this page are allowed in patterns and guards. However, we can take advantage of macros to write custom patterns guards that can simplify our programs or make them more domain-specific. At the end of the day, what matters is that the <em>output</em> of the macros boils down to a combination of the constructs above.</p>
<p>For example, the <a href="record"><code class="inline">Record</code></a> module in Elixir provides a series of macros to be used in patterns and guards that allows tuples to have named fields during compilation.</p>
<p>For defining your own guards, Elixir even provides conveniences in <code class="inline">defguard</code> and <code class="inline">defguardp</code>. Let's look at a quick case study: we want to check whether an argument is an even or an odd integer. With pattern matching this is impossible because there is an infinite number of integers, and therefore we can't pattern match on every single one of them. Therefore we must use guards. We will just focus on checking for even numbers since checking for the odd ones is almost identical.</p>
<p>Such a guard would look like this:</p>
<pre data-language="elixir">def my_function(number) when is_integer(number) and rem(number, 2) == 0 do
  # do stuff
end</pre>
<p>It would be repetitive to write every time we need this check. Instead, you can use <a href="kernel#defguard/1"><code class="inline">defguard/1</code></a> and <a href="kernel#defguardp/1"><code class="inline">defguardp/1</code></a> to create guard macros. Here's an example how:</p>
<pre data-language="elixir">defmodule MyInteger do
  defguard is_even(term) when is_integer(term) and rem(term, 2) == 0
end</pre>
<p>and then:</p>
<pre data-language="elixir">import MyInteger, only: [is_even: 1]

def my_function(number) when is_even(number) do
  # do stuff
end</pre>
<p>While it's possible to create custom guards with macros, it's recommended to define them using <a href="kernel#defguard/1"><code class="inline">defguard/1</code></a> and <a href="kernel#defguardp/1"><code class="inline">defguardp/1</code></a> which perform additional compile-time checks.</p> </div> <div class="bottom-actions" id="bottom-actions"> <div class="bottom-actions-item"> <a href="operators" class="bottom-actions-button" rel="prev"> <span class="subheader"> ← Previous Page </span> <span class="title"> Operators reference </span> </a> </div> <div class="bottom-actions-item"> <a href="syntax-reference" class="bottom-actions-button" rel="next"> <span class="subheader"> Next Page → </span> <span class="title"> Syntax reference </span> </a> </div> </div> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/patterns-and-guards.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/patterns-and-guards.html</a>
  </p>
</div>
