<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/pages/getting-started/pattern-matching.md#L1" title="View Source" class="source" rel="help">Source</a> <span>Pattern matching</span> </h1> <p>In this chapter, we will learn why the <code class="inline">=</code> operator in Elixir is called the match operator and how to use it to pattern match inside data structures. We will learn about the pin operator <code class="inline">^</code> used to access previously bound values.</p>
<h2 id="the-match-operator" class="section-heading">  <span class="text">The match operator</span> </h2> <p>We have used the <code class="inline">=</code> operator a couple times to assign variables in Elixir:</p>
<pre data-language="elixir">iex&gt; x = 1
1
iex&gt; x
1</pre>
<p>In Elixir, the <code class="inline">=</code> operator is actually called <em>the match operator</em>. Let's see why:</p>
<pre data-language="elixir">iex&gt; x = 1
1
iex&gt; 1 = x
1
iex&gt; 2 = x
** (MatchError) no match of right hand side value: 1</pre>
<p>Notice that <code class="inline">1 = x</code> is a valid expression, and it matched because both the left and right side are equal to 1. When the sides do not match, a <a href="matcherror"><code class="inline">MatchError</code></a> is raised.</p>
<p>A variable can only be assigned on the left side of <code class="inline">=</code>:</p>
<pre data-language="elixir">iex&gt; 1 = unknown
** (CompileError) iex:1: undefined variable "unknown"</pre>
<h2 id="pattern-matching" class="section-heading">  <span class="text">Pattern matching</span> </h2> <p>The match operator is not only used to match against simple values, but it is also useful for destructuring more complex data types. For example, we can pattern match on tuples:</p>
<pre data-language="elixir">iex&gt; {a, b, c} = {:hello, "world", 42}
{:hello, "world", 42}
iex&gt; a
:hello
iex&gt; b
"world"</pre>
<p>A pattern match error will occur if the sides can't be matched, for example if the tuples have different sizes:</p>
<pre data-language="elixir">iex&gt; {a, b, c} = {:hello, "world"}
** (MatchError) no match of right hand side value: {:hello, "world"}</pre>
<p>And also when comparing different types, for example if matching a tuple on the left side with a list on the right side:</p>
<pre data-language="elixir">iex&gt; {a, b, c} = [:hello, "world", 42]
** (MatchError) no match of right hand side value: [:hello, "world", 42]</pre>
<p>More interestingly, we can match on specific values. The example below asserts that the left side will only match the right side when the right side is a tuple that starts with the atom <code class="inline">:ok</code>:</p>
<pre data-language="elixir">iex&gt; {:ok, result} = {:ok, 13}
{:ok, 13}
iex&gt; result
13

iex&gt; {:ok, result} = {:error, :oops}
** (MatchError) no match of right hand side value: {:error, :oops}</pre>
<p>We can pattern match on lists:</p>
<pre data-language="elixir">iex&gt; [a, b, c] = [1, 2, 3]
[1, 2, 3]
iex&gt; a
1</pre>
<p>A list also supports matching on its own head and tail:</p>
<pre data-language="elixir">iex&gt; [head | tail] = [1, 2, 3]
[1, 2, 3]
iex&gt; head
1
iex&gt; tail
[2, 3]</pre>
<p>Similar to the <a href="kernel#hd/1"><code class="inline">hd/1</code></a> and <a href="kernel#tl/1"><code class="inline">tl/1</code></a> functions, we can't match an empty list with a head and tail pattern:</p>
<pre data-language="elixir">iex&gt; [head | tail] = []
** (MatchError) no match of right hand side value: []</pre>
<p>The <code class="inline">[head | tail]</code> format is not only used on pattern matching but also for prepending items to a list:</p>
<pre data-language="elixir">iex&gt; list = [1, 2, 3]
[1, 2, 3]
iex&gt; [0 | list]
[0, 1, 2, 3]</pre>
<p>Pattern matching allows developers to easily destructure data types such as tuples and lists. As we will see in the following chapters, it is one of the foundations of recursion in Elixir and applies to other types as well, like maps and binaries.</p>
<h2 id="the-pin-operator" class="section-heading">  <span class="text">The pin operator</span> </h2> <p>Variables in Elixir can be rebound:</p>
<pre data-language="elixir">iex&gt; x = 1
1
iex&gt; x = 2
2</pre>
<p>However, there are times when we don't want variables to be rebound.</p>
<p>Use the pin operator <code class="inline">^</code> when you want to pattern match against a variable's <em>existing value</em> rather than rebinding the variable.</p>
<pre data-language="elixir">iex&gt; x = 1
1
iex&gt; ^x = 2
** (MatchError) no match of right hand side value: 2</pre>
<p>Because we have pinned <code class="inline">x</code> when it was bound to the value of <code class="inline">1</code>, it is equivalent to the following:</p>
<pre data-language="elixir">iex&gt; 1 = 2
** (MatchError) no match of right hand side value: 2</pre>
<p>Notice that we even see the exact same error message.</p>
<p>We can use the pin operator inside other pattern matches, such as tuples or lists:</p>
<pre data-language="elixir">iex&gt; x = 1
1
iex&gt; [^x, 2, 3] = [1, 2, 3]
[1, 2, 3]
iex&gt; {y, ^x} = {2, 1}
{2, 1}
iex&gt; y
2
iex&gt; {y, ^x} = {2, 2}
** (MatchError) no match of right hand side value: {2, 2}</pre>
<p>Because <code class="inline">x</code> was bound to the value of <code class="inline">1</code> when it was pinned, this last example could have been written as:</p>
<pre data-language="elixir">iex&gt; {y, 1} = {2, 2}
** (MatchError) no match of right hand side value: {2, 2}</pre>
<p>If a variable is mentioned more than once in a pattern, all references must bind to the same value:</p>
<pre data-language="elixir">iex&gt; {x, x} = {1, 1}
{1, 1}
iex&gt; {x, x} = {1, 2}
** (MatchError) no match of right hand side value: {1, 2}</pre>
<p>In some cases, you don't care about a particular value in a pattern. It is a common practice to bind those values to the underscore, <code class="inline">_</code>. For example, if only the head of the list matters to us, we can assign the tail to underscore:</p>
<pre data-language="elixir">iex&gt; [head | _] = [1, 2, 3]
[1, 2, 3]
iex&gt; head
1</pre>
<p>The variable <code class="inline">_</code> is special in that it can never be read from. Trying to read from it gives a compile error:</p>
<pre data-language="elixir">iex&gt; _
** (CompileError) iex:1: invalid use of _. "_" represents a value to be ignored in a pattern and cannot be used in expressions</pre>
<p>Although pattern matching allows us to build powerful constructs, its usage is limited. For instance, you cannot make function calls on the left side of a match. The following example is invalid:</p>
<pre data-language="elixir">iex&gt; length([1, [2], 3]) = 3
** (CompileError) iex:1: cannot invoke remote function :erlang.length/1 inside match</pre>
<p>This finishes our introduction to pattern matching. As we will see in the next chapter, pattern matching is very common in many language constructs and they can be further augmented with guards.</p> </div> <div class="bottom-actions" id="bottom-actions"> <div class="bottom-actions-item"> <a href="lists-and-tuples" class="bottom-actions-button" rel="prev"> <span class="subheader"> ← Previous Page </span> <span class="title"> Lists and tuples </span> </a> </div> <div class="bottom-actions-item"> <a href="case-cond-and-if" class="bottom-actions-button" rel="next"> <span class="subheader"> Next Page → </span> <span class="title"> case, cond, and if </span> </a> </div> </div> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/pattern-matching.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/pattern-matching.html</a>
  </p>
</div>
