<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/port.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">Port</span>  </h1> <section id="moduledoc"> <p>Functions for interacting with the external world through ports.</p>
<p>Ports provide a mechanism to start operating system processes external to the Erlang VM and communicate with them via message passing.</p>
<h2 id="module-example" class="section-heading">  <span class="text">Example</span> </h2> <pre data-language="elixir">iex&gt; port = Port.open({:spawn, "cat"}, [:binary])
iex&gt; send(port, {self(), {:command, "hello"}})
iex&gt; send(port, {self(), {:command, "world"}})
iex&gt; flush()
{#Port&lt;0.1444&gt;, {:data, "hello"}}
{#Port&lt;0.1444&gt;, {:data, "world"}}
iex&gt; send(port, {self(), :close})
:ok
iex&gt; flush()
{#Port&lt;0.1444&gt;, :closed}
:ok</pre>
<p>In the example above, we have created a new port that executes the program <code class="inline">cat</code>. <code class="inline">cat</code> is a program available on Unix-like operating systems that receives data from multiple inputs and concatenates them in the output.</p>
<p>After the port was created, we sent it two commands in the form of messages using <a href="kernel#send/2"><code class="inline">send/2</code></a>. The first command has the binary payload of "hello" and the second has "world".</p>
<p>After sending those two messages, we invoked the IEx helper <code class="inline">flush()</code>, which printed all messages received from the port, in this case we got "hello" and "world" back. Note that the messages are in binary because we passed the <code class="inline">:binary</code> option when opening the port in <a href="#open/2"><code class="inline">Port.open/2</code></a>. Without such option, it would have yielded a list of bytes.</p>
<p>Once everything was done, we closed the port.</p>
<p>Elixir provides many conveniences for working with ports and some drawbacks. We will explore those below.</p>
<h2 id="module-message-and-function-apis" class="section-heading">  <span class="text">Message and function APIs</span> </h2> <p>There are two APIs for working with ports. It can be either asynchronous via message passing, as in the example above, or by calling the functions on this module.</p>
<p>The messages supported by ports and their counterpart function APIs are listed below:</p>
<ul>
<li><p><code class="inline">{pid, {:command, binary}}</code> - sends the given data to the port. See <a href="#command/3"><code class="inline">command/3</code></a>.</p></li>
<li><p><code class="inline">{pid, :close}</code> - closes the port. Unless the port is already closed, the port will reply with <code class="inline">{port, :closed}</code> message once it has flushed its buffers and effectively closed. See <a href="#close/1"><code class="inline">close/1</code></a>.</p></li>
<li><p><code class="inline">{pid, {:connect, new_pid}}</code> - sets the <code class="inline">new_pid</code> as the new owner of the port. Once a port is opened, the port is linked and connected to the caller process and communication to the port only happens through the connected process. This message makes <code class="inline">new_pid</code> the new connected processes. Unless the port is dead, the port will reply to the old owner with <code class="inline">{port, :connected}</code>. See <a href="#connect/2"><code class="inline">connect/2</code></a>.</p></li>
</ul>
<p>On its turn, the port will send the connected process the following messages:</p>
<ul>
<li>
<code class="inline">{port, {:data, data}}</code> - data sent by the port</li>
<li>
<code class="inline">{port, :closed}</code> - reply to the <code class="inline">{pid, :close}</code> message</li>
<li>
<code class="inline">{port, :connected}</code> - reply to the <code class="inline">{pid, {:connect, new_pid}}</code> message</li>
<li>
<code class="inline">{:EXIT, port, reason}</code> - exit signals in case the port crashes. If reason is not <code class="inline">:normal</code>, this message will only be received if the owner process is trapping exits</li>
</ul>
<h2 id="module-open-mechanisms" class="section-heading">  <span class="text">Open mechanisms</span> </h2> <p>The port can be opened through four main mechanisms.</p>
<p>As a short summary, prefer to using the <code class="inline">:spawn</code> and <code class="inline">:spawn_executable</code> options mentioned below. The other two options, <code class="inline">:spawn_driver</code> and <code class="inline">:fd</code> are for advanced usage within the VM. Also consider using <a href="system#cmd/3"><code class="inline">System.cmd/3</code></a> if all you want is to execute a program and retrieve its return value.</p>
<blockquote>
<h4 class="warning">Windows argument splitting and untrusted arguments</h4>
<p>On Unix systems, arguments are passed to a new operating system process as an array of strings but on Windows it is up to the child process to parse them and some Windows programs may apply their own rules, which are inconsistent with the standard C runtime <code class="inline">argv</code> parsing</p>
<p>This is particularly troublesome when invoking <code class="inline">.bat</code> or <code class="inline">.com</code> files as these run implicitly through <code class="inline">cmd.exe</code>, whose argument parsing is vulnerable to malicious input and can be used to run arbitrary shell commands.</p>
<p>Therefore, if you are running on Windows and you execute batch files or <code class="inline">.com</code> applications, you must not pass untrusted input as arguments to the program. You may avoid accidentally executing them by explicitly passing the extension of the program you want to run, such as <code class="inline">.exe</code>, and double check the program is indeed not a batch file or <code class="inline">.com</code> application.</p>
<p>This affects both <code class="inline">spawn</code> and <code class="inline">spawn_executable</code>.</p>
</blockquote>
<h3 id="module-spawn" class="section-heading">  <span class="text">spawn</span> </h3> <p>The <code class="inline">:spawn</code> tuple receives a binary that is going to be executed as a full invocation. For example, we can use it to invoke "echo hello" directly:</p>
<pre data-language="elixir">iex&gt; port = Port.open({:spawn, "echo hello"}, [:binary])
iex&gt; flush()
{#Port&lt;0.1444&gt;, {:data, "hello\n"}}</pre>
<p><code class="inline">:spawn</code> will retrieve the program name from the argument and traverse your operating system <code class="inline">$PATH</code> environment variable looking for a matching program.</p>
<p>Although the above is handy, it means it is impossible to invoke an executable that has whitespaces on its name or in any of its arguments. For those reasons, most times it is preferable to execute <code class="inline">:spawn_executable</code>.</p>
<h3 id="module-spawn_executable" class="section-heading">  <span class="text">spawn_executable</span> </h3> <p>Spawn executable is a more restricted and explicit version of spawn. It expects full file paths to the executable you want to execute. If they are in your <code class="inline">$PATH</code>, they can be retrieved by calling <a href="system#find_executable/1"><code class="inline">System.find_executable/1</code></a>:</p>
<pre data-language="elixir">iex&gt; path = System.find_executable("echo")
iex&gt; port = Port.open({:spawn_executable, path}, [:binary, args: ["hello world"]])
iex&gt; flush()
{#Port&lt;0.1380&gt;, {:data, "hello world\n"}}</pre>
<p>When using <code class="inline">:spawn_executable</code>, the list of arguments can be passed via the <code class="inline">:args</code> option as done above. For the full list of options, see the documentation for the Erlang function <a href="https://www.erlang.org/doc/apps/erts/erlang.html#open_port/2"><code class="inline">:erlang.open_port/2</code></a>.</p>
<h3 id="module-fd" class="section-heading">  <span class="text">fd</span> </h3> <p>The <code class="inline">:fd</code> name option allows developers to access <code class="inline">in</code> and <code class="inline">out</code> file descriptors used by the Erlang VM. You would use those only if you are reimplementing core part of the Runtime System, such as the <code class="inline">:user</code> and <code class="inline">:shell</code> processes.</p>
<h2 id="module-zombie-operating-system-processes" class="section-heading">  <span class="text">Zombie operating system processes</span> </h2> <p>A port can be closed via the <a href="#close/1"><code class="inline">close/1</code></a> function or by sending a <code class="inline">{pid, :close}</code> message. However, if the VM crashes, a long-running program started by the port will have its stdin and stdout channels closed but <strong>it won't be automatically terminated</strong>.</p>
<p>While most Unix command line tools will exit once its communication channels are closed, not all command line applications will do so. You can easily check this by starting the port and then shutting down the VM and inspecting your operating system to see if the port process is still running.</p>
<p>While we encourage graceful termination by detecting if stdin/stdout has been closed, we do not always have control over how third-party software terminates. In those cases, you can wrap the application in a script that checks for stdin. Here is such script that has been verified to work on bash shells:</p>
<pre data-language="elixir">#!/usr/bin/env bash

# Start the program in the background
exec "$@" &amp;
pid1=$!

# Silence warnings from here on
exec &gt;/dev/null 2&gt;&amp;1

# Read from stdin in the background and
# kill running program when stdin closes
exec 0&lt;&amp;0 $(
  while read; do :; done
  kill -KILL $pid1
) &amp;
pid2=$!

# Clean up
wait $pid1
ret=$?
kill -KILL $pid2
exit $ret</pre>
<p>Note the program above hijacks stdin, so you won't be able to communicate with the underlying software via stdin (on the positive side, software that reads from stdin typically terminates when stdin closes).</p>
<p>Now instead of:</p>
<pre data-language="elixir">Port.open(
  {:spawn_executable, "/path/to/program"},
  args: ["a", "b", "c"]
)</pre>
<p>You may invoke:</p>
<pre data-language="elixir">Port.open(
  {:spawn_executable, "/path/to/wrapper"},
  args: ["/path/to/program", "a", "b", "c"]
)</pre> </section> </div> <section id="summary" class="details-list"> <h1 class="section-heading">  <span class="text">Summary</span> </h1> <h2> Types </h2>
<dl class="summary-types summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#t:name/0" data-no-tooltip translate="no">name()</a> </dt> </div> </dl> <h2> Functions </h2>
<dl class="summary-functions summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#close/1" data-no-tooltip translate="no">close(port)</a> </dt> <dd class="summary-synopsis"><p>Closes the <code class="inline">port</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#command/3" data-no-tooltip translate="no">command(port, data, options \\ [])</a> </dt> <dd class="summary-synopsis"><p>Sends <code class="inline">data</code> to the port driver <code class="inline">port</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#connect/2" data-no-tooltip translate="no">connect(port, pid)</a> </dt> <dd class="summary-synopsis"><p>Associates the <code class="inline">port</code> identifier with a <code class="inline">pid</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#demonitor/2" data-no-tooltip translate="no">demonitor(monitor_ref, options \\ [])</a> </dt> <dd class="summary-synopsis"><p>Demonitors the monitor identified by the given <code class="inline">reference</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#info/1" data-no-tooltip translate="no">info(port)</a> </dt> <dd class="summary-synopsis"><p>Returns information about the <code class="inline">port</code> (or <code class="inline">nil</code> if the port is closed).</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#info/2" data-no-tooltip translate="no">info(port, spec)</a> </dt> <dd class="summary-synopsis"><p>Returns information about a specific field within the <code class="inline">port</code> (or <code class="inline">nil</code> if the port is closed).</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#list/0" data-no-tooltip translate="no">list()</a> </dt> <dd class="summary-synopsis"><p>Returns a list of all ports in the current node.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#monitor/1" data-no-tooltip translate="no">monitor(port)</a> </dt> <dd class="summary-synopsis"><p>Starts monitoring the given <code class="inline">port</code> from the calling process.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#open/2" data-no-tooltip translate="no">open(name, options)</a> </dt> <dd class="summary-synopsis"><p>Opens a port given a tuple <code class="inline">name</code> and a list of <code class="inline">options</code>.</p></dd> </div> </dl> </section> <section id="types" class="details-list"> <h1 class="section-heading">  <span class="text">Types</span> </h1> <div class="types-list"> <section class="detail"> <h3 class="detail-header" id="t:name/0">name()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/port.ex#L201" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type name() ::
  {:spawn, charlist() | binary()}
  | {:spawn_driver, charlist() | binary()}
  | {:spawn_executable, :file.name_all()}
  | {:fd, non_neg_integer(), non_neg_integer()}</pre> </div> </section> </section> </div> </section> <section id="functions" class="details-list"> <h1 class="section-heading">  <span class="text">Functions</span> </h1> <div class="functions-list"> <section class="detail"> <h3 class="detail-header" id="close/1">close(port)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/port.ex#L239" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec close(port()) :: true</pre> </div> <p>Closes the <code class="inline">port</code>.</p>
<p>For more information, see <a href="https://www.erlang.org/doc/apps/erts/erlang.html#port_close/1"><code class="inline">:erlang.port_close/1</code></a>.</p>
<p>Inlined by the compiler.</p> </section> </section> <section class="detail">  <h3 class="detail-header" id="command/3">command(port, data, options \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/port.ex#L251" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec command(port(), iodata(), [:force | :nosuspend]) :: boolean()</pre> </div> <p>Sends <code class="inline">data</code> to the port driver <code class="inline">port</code>.</p>
<p>For more information, see <a href="https://www.erlang.org/doc/apps/erts/erlang.html#port_command/3"><code class="inline">:erlang.port_command/3</code></a>.</p>
<p>Inlined by the compiler.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="connect/2">connect(port, pid)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/port.ex#L263" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec connect(port(), pid()) :: true</pre> </div> <p>Associates the <code class="inline">port</code> identifier with a <code class="inline">pid</code>.</p>
<p>For more information, see <a href="https://www.erlang.org/doc/apps/erts/erlang.html#port_connect/2"><code class="inline">:erlang.port_connect/2</code></a>.</p>
<p>Inlined by the compiler.</p> </section> </section> <section class="detail">  <h3 class="detail-header" id="demonitor/2">demonitor(monitor_ref, options \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/port.ex#L336" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec demonitor(reference(), options :: [:flush | :info]) :: boolean()</pre> </div> <p>Demonitors the monitor identified by the given <code class="inline">reference</code>.</p>
<p>If <code class="inline">monitor_ref</code> is a reference which the calling process obtained by calling <a href="#monitor/1"><code class="inline">monitor/1</code></a>, that monitoring is turned off. If the monitoring is already turned off, nothing happens.</p>
<p>See <a href="https://www.erlang.org/doc/apps/erts/erlang.html#demonitor/2"><code class="inline">:erlang.demonitor/2</code></a> for more information.</p>
<p>Inlined by the compiler.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="info/1">info(port)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/port.ex#L273" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec info(port()) :: keyword() | nil</pre> </div> <p>Returns information about the <code class="inline">port</code> (or <code class="inline">nil</code> if the port is closed).</p>
<p>For more information, see <a href="https://www.erlang.org/doc/apps/erts/erlang.html#port_info/1"><code class="inline">:erlang.port_info/1</code></a>.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="info/2">info(port, spec)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/port.ex#L284" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec info(port(), atom()) :: {atom(), term()} | nil</pre> </div> <p>Returns information about a specific field within the <code class="inline">port</code> (or <code class="inline">nil</code> if the port is closed).</p>
<p>For more information, see <a href="https://www.erlang.org/doc/apps/erts/erlang.html#port_info/2"><code class="inline">:erlang.port_info/2</code></a>.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="list/0">list()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/port.ex#L344" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec list() :: [port()]</pre> </div> <p>Returns a list of all ports in the current node.</p>
<p>Inlined by the compiler.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="monitor/1">monitor(port)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/port.ex#L319" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec monitor(port() | {name, node()} | name) :: reference() when name: atom()</pre> </div> <p>Starts monitoring the given <code class="inline">port</code> from the calling process.</p>
<p>Once the monitored port process dies, a message is delivered to the monitoring process in the shape of:</p>
<pre data-language="elixir">{:DOWN, ref, :port, object, reason}</pre>
<p>where:</p>
<ul>
<li>
<code class="inline">ref</code> is a monitor reference returned by this function;</li>
<li>
<code class="inline">object</code> is either the <code class="inline">port</code> being monitored (when monitoring by port ID) or <code class="inline">{name, node}</code> (when monitoring by a port name);</li>
<li>
<code class="inline">reason</code> is the exit reason.</li>
</ul>
<p>See <a href="https://www.erlang.org/doc/apps/erts/erlang.html#monitor/2"><code class="inline">:erlang.monitor/2</code></a> for more information.</p>
<p>Inlined by the compiler.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="open/2">open(name, options)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/port.ex#L227" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec open(name(), list()) :: port()</pre> </div> <p>Opens a port given a tuple <code class="inline">name</code> and a list of <code class="inline">options</code>.</p>
<p>The module documentation above contains documentation and examples for the supported <code class="inline">name</code> values, summarized below:</p>
<ul>
<li>
<code class="inline">{:spawn, command}</code> - runs an external program. <code class="inline">command</code> must contain the program name and optionally a list of arguments separated by space. If passing programs or arguments with space in their name, use the next option.</li>
<li>
<code class="inline">{:spawn_executable, filename}</code> - runs the executable given by the absolute file name <code class="inline">filename</code>. Arguments can be passed via the <code class="inline">:args</code> option.</li>
<li>
<code class="inline">{:spawn_driver, command}</code> - spawns so-called port drivers.</li>
<li>
<code class="inline">{:fd, fd_in, fd_out}</code> - accesses file descriptors, <code class="inline">fd_in</code> and <code class="inline">fd_out</code> opened by the VM.</li>
</ul>
<p>For more information and the list of options, see <a href="https://www.erlang.org/doc/apps/erts/erlang.html#open_port/2"><code class="inline">:erlang.open_port/2</code></a>.</p>
<p>Inlined by the compiler.</p> </section> </section> </div> </section> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/Port.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/Port.html</a>
  </p>
</div>
