<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/pages/anti-patterns/process-anti-patterns.md#L1" title="View Source" class="source" rel="help">Source</a> <span>Process-related anti-patterns</span> </h1> <p>This document outlines potential anti-patterns related to processes and process-based abstractions.</p>
<h2 id="code-organization-by-process" class="section-heading">  <span class="text">Code organization by process</span> </h2> <h4>Problem</h4>
<p>This anti-pattern refers to code that is unnecessarily organized by processes. A process itself does not represent an anti-pattern, but it should only be used to model runtime properties (such as concurrency, access to shared resources, error isolation, etc). When you use a process for code organization, it can create bottlenecks in the system.</p>
<h4>Example</h4>
<p>An example of this anti-pattern, as shown below, is a module that implements arithmetic operations (like <code class="inline">add</code> and <code class="inline">subtract</code>) by means of a <a href="genserver"><code class="inline">GenServer</code></a> process. If the number of calls to this single process grows, this code organization can compromise the system performance, therefore becoming a bottleneck.</p>
<pre data-language="elixir">defmodule Calculator do
  @moduledoc """
  Calculator that performs basic arithmetic operations.

  This code is unnecessarily organized in a GenServer process.
  """

  use GenServer

  def add(a, b, pid) do
    GenServer.call(pid, {:add, a, b})
  end

  def subtract(a, b, pid) do
    GenServer.call(pid, {:subtract, a, b})
  end

  @impl GenServer
  def init(init_arg) do
    {:ok, init_arg}
  end

  @impl GenServer
  def handle_call({:add, a, b}, _from, state) do
    {:reply, a + b, state}
  end

  def handle_call({:subtract, a, b}, _from, state) do
    {:reply, a - b, state}
  end
end</pre>
<pre data-language="elixir">iex&gt; {:ok, pid} = GenServer.start_link(Calculator, :init)
{:ok, #PID&lt;0.132.0&gt;}
iex&gt; Calculator.add(1, 5, pid)
6
iex&gt; Calculator.subtract(2, 3, pid)
-1</pre>
<h4>Refactoring</h4>
<p>In Elixir, as shown next, code organization must be done only through modules and functions. Whenever possible, a library should not impose specific behavior (such as parallelization) on its users. It is better to delegate this behavioral decision to the developers of clients, thus increasing the potential for code reuse of a library.</p>
<pre data-language="elixir">defmodule Calculator do
  def add(a, b) do
    a + b
  end

  def subtract(a, b) do
    a - b
  end
end</pre>
<pre data-language="elixir">iex&gt; Calculator.add(1, 5)
6
iex&gt; Calculator.subtract(2, 3)
-1</pre>
<h2 id="scattered-process-interfaces" class="section-heading">  <span class="text">Scattered process interfaces</span> </h2> <h4>Problem</h4>
<p>In Elixir, the use of an <a href="agent"><code class="inline">Agent</code></a>, a <a href="genserver"><code class="inline">GenServer</code></a>, or any other process abstraction is not an anti-pattern in itself. However, when the responsibility for direct interaction with a process is spread throughout the entire system, it can become problematic. This bad practice can increase the difficulty of code maintenance and make the code more prone to bugs.</p>
<h4>Example</h4>
<p>The following code seeks to illustrate this anti-pattern. The responsibility for interacting directly with the <a href="agent"><code class="inline">Agent</code></a> is spread across four different modules (<code class="inline">A</code>, <code class="inline">B</code>, <code class="inline">C</code>, and <code class="inline">D</code>).</p>
<pre data-language="elixir">defmodule A do
  def update(process) do
    # Some other code...
    Agent.update(process, fn _list -&gt; 123 end)
  end
end</pre>
<pre data-language="elixir">defmodule B do
  def update(process) do
    # Some other code...
    Agent.update(process, fn content -&gt; %{a: content} end)
  end
end</pre>
<pre data-language="elixir">defmodule C do
  def update(process) do
    # Some other code...
    Agent.update(process, fn content -&gt; [:atom_value | content] end)
  end
end</pre>
<pre data-language="elixir">defmodule D do
  def get(process) do
    # Some other code...
    Agent.get(process, fn content -&gt; content end)
  end
end</pre>
<p>This spreading of responsibility can generate duplicated code and make code maintenance more difficult. Also, due to the lack of control over the format of the shared data, complex composed data can be shared. This freedom to use any format of data is dangerous and can induce developers to introduce bugs.</p>
<pre data-language="elixir"># start an agent with initial state of an empty list
iex&gt; {:ok, agent} = Agent.start_link(fn -&gt; [] end)
{:ok, #PID&lt;0.135.0&gt;}

# many data formats (for example, List, Map, Integer, Atom) are
# combined through direct access spread across the entire system
iex&gt; A.update(agent)
iex&gt; B.update(agent)
iex&gt; C.update(agent)

# state of shared information
iex&gt; D.get(agent)
[:atom_value, %{a: 123}]</pre>
<p>For a <a href="genserver"><code class="inline">GenServer</code></a> and other behaviours, this anti-pattern will manifest when scattering calls to <a href="genserver#call/3"><code class="inline">GenServer.call/3</code></a> and <a href="genserver#cast/2"><code class="inline">GenServer.cast/2</code></a> throughout multiple modules, instead of encapsulating all the interaction with the <a href="genserver"><code class="inline">GenServer</code></a> in a single place.</p>
<h4>Refactoring</h4>
<p>Instead of spreading direct access to a process abstraction, such as <a href="agent"><code class="inline">Agent</code></a>, over many places in the code, it is better to refactor this code by centralizing the responsibility for interacting with a process in a single module. This refactoring improves maintainability by removing duplicated code; it also allows you to limit the accepted format for shared data, reducing bug-proneness. As shown below, the module <code class="inline">Foo.Bucket</code> is centralizing the responsibility for interacting with the <a href="agent"><code class="inline">Agent</code></a>. Any other place in the code that needs to access shared data must now delegate this action to <code class="inline">Foo.Bucket</code>. Also, <code class="inline">Foo.Bucket</code> now only allows data to be shared in <a href="map"><code class="inline">Map</code></a> format.</p>
<pre data-language="elixir">defmodule Foo.Bucket do
  use Agent

  def start_link(_opts) do
    Agent.start_link(fn -&gt; %{} end)
  end

  def get(bucket, key) do
    Agent.get(bucket, &amp;Map.get(&amp;1, key))
  end

  def put(bucket, key, value) do
    Agent.update(bucket, &amp;Map.put(&amp;1, key, value))
  end
end</pre>
<p>The following are examples of how to delegate access to shared data (provided by an <a href="agent"><code class="inline">Agent</code></a>) to <code class="inline">Foo.Bucket</code>.</p>
<pre data-language="elixir"># start an agent through `Foo.Bucket`
iex&gt; {:ok, bucket} = Foo.Bucket.start_link(%{})
{:ok, #PID&lt;0.114.0&gt;}

# add shared values to the keys `milk` and `beer`
iex&gt; Foo.Bucket.put(bucket, "milk", 3)
iex&gt; Foo.Bucket.put(bucket, "beer", 7)

# access shared data of specific keys
iex&gt; Foo.Bucket.get(bucket, "beer")
7
iex&gt; Foo.Bucket.get(bucket, "milk")
3</pre>
<h4>Additional remarks</h4>
<p>This anti-pattern was formerly known as <a href="https://github.com/lucasvegi/Elixir-Code-Smells/tree/main#agent-obsession">Agent obsession</a>.</p>
<h2 id="sending-unnecessary-data" class="section-heading">  <span class="text">Sending unnecessary data</span> </h2> <h4>Problem</h4>
<p>Sending a message to a process can be an expensive operation if the message is big enough. That's because that message will be fully copied to the receiving process, which may be CPU and memory intensive. This is due to Erlang's "share nothing" architecture, where each process has its own memory, which simplifies and speeds up garbage collection.</p>
<p>This is more obvious when using <a href="kernel#send/2"><code class="inline">send/2</code></a>, <a href="genserver#call/3"><code class="inline">GenServer.call/3</code></a>, or the initial data in <a href="genserver#start_link/3"><code class="inline">GenServer.start_link/3</code></a>. Notably this also happens when using <a href="kernel#spawn/1"><code class="inline">spawn/1</code></a>, <a href="task#async/1"><code class="inline">Task.async/1</code></a>, <a href="task#async_stream/3"><code class="inline">Task.async_stream/3</code></a>, and so on. It is more subtle here as the anonymous function passed to these functions captures the variables it references, and all captured variables will be copied over. By doing this, you can accidentally send way more data to a process than you actually need.</p>
<h4>Example</h4>
<p>Imagine you were to implement some simple reporting of IP addresses that made requests against your application. You want to do this asynchronously and not block processing, so you decide to use <a href="kernel#spawn/1"><code class="inline">spawn/1</code></a>. It may seem like a good idea to hand over the whole connection because we might need more data later. However passing the connection results in copying a lot of unnecessary data like the request body, params, etc.</p>
<pre data-language="elixir"># log_request_ip send the ip to some external service
spawn(fn -&gt; log_request_ip(conn) end)</pre>
<p>This problem also occurs when accessing only the relevant parts:</p>
<pre data-language="elixir">spawn(fn -&gt; log_request_ip(conn.remote_ip) end)</pre>
<p>This will still copy over all of <code class="inline">conn</code>, because the <code class="inline">conn</code> variable is being captured inside the spawned function. The function then extracts the <code class="inline">remote_ip</code> field, but only after the whole <code class="inline">conn</code> has been copied over.</p>
<p><a href="kernel#send/2"><code class="inline">send/2</code></a> and the <a href="genserver"><code class="inline">GenServer</code></a> APIs also rely on message passing. In the example below, the <code class="inline">conn</code> is once again copied to the underlying <a href="genserver"><code class="inline">GenServer</code></a>:</p>
<pre data-language="elixir">GenServer.cast(pid, {:report_ip_address, conn})</pre>
<h4>Refactoring</h4>
<p>This anti-pattern has many potential remedies:</p>
<ul>
<li><p>Limit the data you send to the absolute necessary minimum instead of sending an entire struct. For example, don't send an entire <code class="inline">conn</code> struct if all you need is a couple of fields.</p></li>
<li><p>If the only process that needs data is the one you are sending to, consider making the process fetch that data instead of passing it.</p></li>
<li><p>Some abstractions, such as <a href="https://www.erlang.org/doc/man/persistent_term.html"><code class="inline">:persistent_term</code></a>, allows you to share data between processes, as long as such data changes infrequently.</p></li>
</ul>
<p>In our case, limiting the input data is a reasonable strategy. If all we need <em>right now</em> is the IP address, then let's only work with that and make sure we're only passing the IP address into the closure, like so:</p>
<pre data-language="elixir">ip_address = conn.remote_ip
spawn(fn -&gt; log_request_ip(ip_address) end)</pre>
<p>Or in the <a href="genserver"><code class="inline">GenServer</code></a> case:</p>
<pre data-language="elixir">GenServer.cast(pid, {:report_ip_address, conn.remote_ip})</pre>
<h2 id="unsupervised-processes" class="section-heading">  <span class="text">Unsupervised processes</span> </h2> <h4>Problem</h4>
<p>In Elixir, creating a process outside a supervision tree is not an anti-pattern in itself. However, when you spawn many long-running processes outside of supervision trees, this can make visibility and monitoring of these processes difficult, preventing developers from fully controlling their applications.</p>
<h4>Example</h4>
<p>The following code example seeks to illustrate a library responsible for maintaining a numerical <code class="inline">Counter</code> through a <a href="genserver"><code class="inline">GenServer</code></a> process <em>outside a supervision tree</em>. Multiple counters can be created simultaneously by a client (one process for each counter), making these <em>unsupervised</em> processes difficult to manage. This can cause problems with the initialization, restart, and shutdown of a system.</p>
<pre data-language="elixir">defmodule Counter do
  @moduledoc """
  Global counter implemented through a GenServer process.
  """

  use GenServer

  @doc "Starts a counter process."
  def start_link(opts \\ []) do
    initial_value = Keyword.get(opts, :initial_value, 0)
    name = Keyword.get(opts, :name, __MODULE__)
    GenServer.start(__MODULE__, initial_value, name: name)
  end

  @doc "Gets the current value of the given counter."
  def get(pid_name \\ __MODULE__) do
    GenServer.call(pid_name, :get)
  end

  @doc "Bumps the value of the given counter."
  def bump(pid_name \\ __MODULE__, value) do
    GenServer.call(pid_name, {:bump, value})
  end

  @impl true
  def init(counter) do
    {:ok, counter}
  end

  @impl true
  def handle_call(:get, _from, counter) do
    {:reply, counter, counter}
  end

  def handle_call({:bump, value}, _from, counter) do
    {:reply, counter, counter + value}
  end
end</pre>
<pre data-language="elixir">iex&gt; Counter.start_link()
{:ok, #PID&lt;0.115.0&gt;}
iex&gt; Counter.get()
0
iex&gt; Counter.start_link(initial_value: 15, name: :other_counter)
{:ok, #PID&lt;0.120.0&gt;}
iex&gt; Counter.get(:other_counter)
15
iex&gt; Counter.bump(:other_counter, -3)
12
iex&gt; Counter.bump(Counter, 7)
7</pre>
<h4>Refactoring</h4>
<p>To ensure that clients of a library have full control over their systems, regardless of the number of processes used and the lifetime of each one, all processes must be started inside a supervision tree. As shown below, this code uses a <a href="supervisor"><code class="inline">Supervisor</code></a> as a supervision tree. When this Elixir application is started, two different counters (<code class="inline">Counter</code> and <code class="inline">:other_counter</code>) are also started as child processes of the <a href="supervisor"><code class="inline">Supervisor</code></a> named <code class="inline">App.Supervisor</code>. One is initialized with <code class="inline">0</code>, the other with <code class="inline">15</code>. By means of this supervision tree, it is possible to manage the life cycle of all child processes (stopping or restarting each one), improving the visibility of the entire app.</p>
<pre data-language="elixir">defmodule SupervisedProcess.Application do
  use Application

  @impl true
  def start(_type, _args) do
    children = [
      # With the default values for counter and name
      Counter,
      # With custom values for counter, name, and a custom ID
      Supervisor.child_spec(
        {Counter, name: :other_counter, initial_value: 15},
        id: :other_counter
      )
    ]

    Supervisor.start_link(children, strategy: :one_for_one, name: App.Supervisor)
  end
end</pre>
<pre data-language="elixir">iex&gt; Supervisor.count_children(App.Supervisor)
%{active: 2, specs: 2, supervisors: 0, workers: 2}
iex&gt; Counter.get(Counter)
0
iex&gt; Counter.get(:other_counter)
15
iex&gt; Counter.bump(Counter, 7)
7
iex&gt; Supervisor.terminate_child(App.Supervisor, Counter)
iex&gt; Supervisor.count_children(App.Supervisor) # Only one active child
%{active: 1, specs: 2, supervisors: 0, workers: 2}
iex&gt; Counter.get(Counter) # The process was terminated
** (EXIT) no process: the process is not alive...
iex&gt; Supervisor.restart_child(App.Supervisor, Counter)
iex&gt; Counter.get(Counter) # After the restart, this process can be used again
0</pre> </div> <div class="bottom-actions" id="bottom-actions"> <div class="bottom-actions-item"> <a href="design-anti-patterns" class="bottom-actions-button" rel="prev"> <span class="subheader"> ← Previous Page </span> <span class="title"> Design-related anti-patterns </span> </a> </div> <div class="bottom-actions-item"> <a href="macro-anti-patterns" class="bottom-actions-button" rel="next"> <span class="subheader"> Next Page → </span> <span class="title"> Meta-programming anti-patterns </span> </a> </div> </div> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/process-anti-patterns.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/process-anti-patterns.html</a>
  </p>
</div>
