<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/process.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">Process</span>  </h1> <section id="moduledoc"> <p>Conveniences for working with processes and the process dictionary.</p>
<p>Besides the functions available in this module, the <a href="kernel"><code class="inline">Kernel</code></a> module exposes and auto-imports some basic functionality related to processes available through the following functions:</p>
<ul>
<li>
<a href="kernel#spawn/1"><code class="inline">Kernel.spawn/1</code></a> and <a href="kernel#spawn/3"><code class="inline">Kernel.spawn/3</code></a>
</li>
<li>
<a href="kernel#spawn_link/1"><code class="inline">Kernel.spawn_link/1</code></a> and <a href="kernel#spawn_link/3"><code class="inline">Kernel.spawn_link/3</code></a>
</li>
<li>
<a href="kernel#spawn_monitor/1"><code class="inline">Kernel.spawn_monitor/1</code></a> and <a href="kernel#spawn_monitor/3"><code class="inline">Kernel.spawn_monitor/3</code></a>
</li>
<li><a href="kernel#self/0"><code class="inline">Kernel.self/0</code></a></li>
<li><a href="kernel#send/2"><code class="inline">Kernel.send/2</code></a></li>
</ul>
<p>While this module provides low-level conveniences to work with processes, developers typically use abstractions such as <a href="agent"><code class="inline">Agent</code></a>, <a href="genserver"><code class="inline">GenServer</code></a>, <a href="registry"><code class="inline">Registry</code></a>, <a href="supervisor"><code class="inline">Supervisor</code></a> and <a href="task"><code class="inline">Task</code></a> for building their systems and resort to this module for gathering information, trapping exits, links and monitoring.</p>
<h2 id="module-aliases" class="section-heading">  <span class="text">Aliases</span> </h2> <p>Aliases are a feature introduced in Erlang/OTP 24. An alias is a way to refer to a PID in order to send messages to it. The advantage of using aliases is that they can be deactivated even if the aliased process is still running. If you send a message to a deactivated alias, nothing will happen. This makes request/response scenarios easier to implement.</p>
<p>You can use <a href="#alias/0"><code class="inline">alias/0</code></a> or <a href="#alias/1"><code class="inline">alias/1</code></a> to set an alias, and then you can send messages to that alias like you do with PIDs using <a href="kernel#send/2"><code class="inline">send/2</code></a>. To deactivate an alias, you can use <a href="#unalias/1"><code class="inline">unalias/1</code></a>. If you send a message to a deactivated alias, nothing will happen.</p>
<p>For example, you could have a process that listens for <code class="inline">:ping</code> messages:</p>
<pre data-language="elixir">def server do
  receive do
    {:ping, source_alias} -&gt;
      send(source_alias, :pong)
      server()
  end
end</pre>
<p>Now, another process might ping this process:</p>
<pre data-language="elixir">server = spawn(&amp;server/0)

source_alias = Process.alias()
send(server, {:ping, source_alias})

receive do
  :pong -&gt; :pong
end
#=&gt; :pong</pre>
<p>If now you deactivate the <code class="inline">source_alias</code> and ping the server again, you won't receive any response since the server will <a href="kernel#send/2"><code class="inline">send/2</code></a> the <code class="inline">:pong</code> response to a deactivated alias.</p>
<pre data-language="elixir">Process.unalias(source_alias)
send(server, {:ping, source_alias})

receive do
  :pong -&gt; :pong
after
  1000 -&gt; :timeout
end
#=&gt; :timeout</pre>
<p>See also the <a href="https://www.erlang.org/doc/reference_manual/processes.html#process-aliases">Process Aliases section</a> of the <em>Erlang reference manual</em>.</p> </section> </div> <section id="summary" class="details-list"> <h1 class="section-heading">  <span class="text">Summary</span> </h1> <h2> Types </h2>
<dl class="summary-types summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#t:alias/0" data-no-tooltip translate="no">alias()</a> </dt> <dd class="summary-synopsis"><p>An alias returned by <a href="#alias/0"><code class="inline">alias/0</code></a> or <a href="#alias/1"><code class="inline">alias/1</code></a>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:alias_opt/0" data-no-tooltip translate="no">alias_opt()</a> </dt> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:dest/0" data-no-tooltip translate="no">dest()</a> </dt> <dd class="summary-synopsis"><p>A process destination.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:process_info_item/0" data-no-tooltip translate="no">process_info_item()</a> </dt> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:process_info_result_item/0" data-no-tooltip translate="no">process_info_result_item()</a> </dt> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:spawn_opt/0" data-no-tooltip translate="no">spawn_opt()</a> </dt> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:spawn_opts/0" data-no-tooltip translate="no">spawn_opts()</a> </dt> </div> </dl> <h2> Functions </h2>
<dl class="summary-functions summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#alias/0" data-no-tooltip translate="no">alias()</a> </dt> <dd class="summary-synopsis"><p>Creates a process alias.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#alias/1" data-no-tooltip translate="no">alias(options)</a> </dt> <dd class="summary-synopsis"><p>Creates a process alias.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#alive?/1" data-no-tooltip translate="no">alive?(pid)</a> </dt> <dd class="summary-synopsis"><p>Tells whether the given process is alive on the local node.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#cancel_timer/2" data-no-tooltip translate="no">cancel_timer(timer_ref, options \\ [])</a> </dt> <dd class="summary-synopsis"><p>Cancels a timer returned by <a href="#send_after/3"><code class="inline">send_after/3</code></a>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#delete/1" data-no-tooltip translate="no">delete(key)</a> </dt> <dd class="summary-synopsis"><p>Deletes the given <code class="inline">key</code> from the process dictionary.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#demonitor/2" data-no-tooltip translate="no">demonitor(monitor_ref, options \\ [])</a> </dt> <dd class="summary-synopsis"><p>Demonitors the monitor identified by the given <code class="inline">reference</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#exit/2" data-no-tooltip translate="no">exit(pid, reason)</a> </dt> <dd class="summary-synopsis"><p>Sends an exit signal with the given <code class="inline">reason</code> to <code class="inline">pid</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#flag/2" data-no-tooltip translate="no">flag(flag, value)</a> </dt> <dd class="summary-synopsis"><p>Sets the given <code class="inline">flag</code> to <code class="inline">value</code> for the calling process.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#flag/3" data-no-tooltip translate="no">flag(pid, flag, value)</a> </dt> <dd class="summary-synopsis"><p>Sets the given <code class="inline">flag</code> to <code class="inline">value</code> for the given process <code class="inline">pid</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#get/0" data-no-tooltip translate="no">get()</a> </dt> <dd class="summary-synopsis"><p>Returns all key-value pairs in the process dictionary.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#get/2" data-no-tooltip translate="no">get(key, default \\ nil)</a> </dt> <dd class="summary-synopsis"><p>Returns the value for the given <code class="inline">key</code> in the process dictionary, or <code class="inline">default</code> if <code class="inline">key</code> is not set.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#get_keys/0" data-no-tooltip translate="no">get_keys()</a> </dt> <dd class="summary-synopsis"><p>Returns all keys in the process dictionary.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#get_keys/1" data-no-tooltip translate="no">get_keys(value)</a> </dt> <dd class="summary-synopsis"><p>Returns all keys in the process dictionary that have the given <code class="inline">value</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#group_leader/0" data-no-tooltip translate="no">group_leader()</a> </dt> <dd class="summary-synopsis"><p>Returns the PID of the group leader for the calling process.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#group_leader/2" data-no-tooltip translate="no">group_leader(pid, leader)</a> </dt> <dd class="summary-synopsis"><p>Sets the group leader of the given <code class="inline">pid</code> to <code class="inline">leader</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#hibernate/3" data-no-tooltip translate="no">hibernate(mod, fun_name, args)</a> </dt> <dd class="summary-synopsis"><p>Puts the calling process into a "hibernation" state.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#info/1" data-no-tooltip translate="no">info(pid)</a> </dt> <dd class="summary-synopsis"><p>Returns information about the process identified by <code class="inline">pid</code>, or returns <code class="inline">nil</code> if the process is not alive.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#info/2" data-no-tooltip translate="no">info(pid, spec)</a> </dt> <dd class="summary-synopsis"><p>Returns information about the process identified by <code class="inline">pid</code>, or returns <code class="inline">nil</code> if the process is not alive.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#link/1" data-no-tooltip translate="no">link(pid_or_port)</a> </dt> <dd class="summary-synopsis"><p>Creates a link between the calling process and the given item (process or port).</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#list/0" data-no-tooltip translate="no">list()</a> </dt> <dd class="summary-synopsis"><p>Returns a list of PIDs corresponding to all the processes currently existing on the local node.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#monitor/1" data-no-tooltip translate="no">monitor(item)</a> </dt> <dd class="summary-synopsis"><p>Starts monitoring the given <code class="inline">item</code> from the calling process.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#monitor/2" data-no-tooltip translate="no">monitor(item, options)</a> </dt> <dd class="summary-synopsis"><p>Starts monitoring the given <code class="inline">item</code> from the calling process.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#put/2" data-no-tooltip translate="no">put(key, value)</a> </dt> <dd class="summary-synopsis"><p>Stores the given <code class="inline">key</code>-<code class="inline">value</code> pair in the process dictionary.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#read_timer/1" data-no-tooltip translate="no">read_timer(timer_ref)</a> </dt> <dd class="summary-synopsis"><p>Reads a timer created by <a href="#send_after/3"><code class="inline">send_after/3</code></a>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#register/2" data-no-tooltip translate="no">register(pid_or_port, name)</a> </dt> <dd class="summary-synopsis"><p>Registers the given <code class="inline">pid_or_port</code> under the given <code class="inline">name</code> on the local node.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#registered/0" data-no-tooltip translate="no">registered()</a> </dt> <dd class="summary-synopsis"><p>Returns a list of names which have been registered using <a href="#register/2"><code class="inline">register/2</code></a>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#send/3" data-no-tooltip translate="no">send(dest, msg, options)</a> </dt> <dd class="summary-synopsis"><p>Sends a message to the given <code class="inline">dest</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#send_after/4" data-no-tooltip translate="no">send_after(dest, msg, time, opts \\ [])</a> </dt> <dd class="summary-synopsis"><p>Sends <code class="inline">msg</code> to <code class="inline">dest</code> after <code class="inline">time</code> milliseconds.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#set_label/1" data-no-tooltip translate="no">set_label(label)</a> </dt> <dd class="summary-synopsis"><p>Add a descriptive term to the current process.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#sleep/1" data-no-tooltip translate="no">sleep(timeout)</a> </dt> <dd class="summary-synopsis"><p>Sleeps the current process for the given <code class="inline">timeout</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#spawn/2" data-no-tooltip translate="no">spawn(fun, opts)</a> </dt> <dd class="summary-synopsis"><p>Spawns the given function according to the given options.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#spawn/4" data-no-tooltip translate="no">spawn(mod, fun, args, opts)</a> </dt> <dd class="summary-synopsis"><p>Spawns the given function <code class="inline">fun</code> from module <code class="inline">mod</code>, passing the given <code class="inline">args</code> according to the given options.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#unalias/1" data-no-tooltip translate="no">unalias(alias)</a> </dt> <dd class="summary-synopsis"><p>Explicitly deactivates a process alias.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#unlink/1" data-no-tooltip translate="no">unlink(pid_or_port)</a> </dt> <dd class="summary-synopsis"><p>Removes the link between the calling process and the given item (process or port).</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#unregister/1" data-no-tooltip translate="no">unregister(name)</a> </dt> <dd class="summary-synopsis"><p>Removes the registered <code class="inline">name</code>, associated with a PID or a port identifier.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#whereis/1" data-no-tooltip translate="no">whereis(name)</a> </dt> <dd class="summary-synopsis"><p>Returns the PID or port identifier registered under <code class="inline">name</code> or <code class="inline">nil</code> if the name is not registered.</p></dd> </div> </dl> </section> <section id="types" class="details-list"> <h1 class="section-heading">  <span class="text">Types</span> </h1> <div class="types-list"> <section class="detail"> <h3 class="detail-header" id="t:alias/0">alias()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/process.ex#L889" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type alias() :: reference()</pre> </div> <p>An alias returned by <a href="#alias/0"><code class="inline">alias/0</code></a> or <a href="#alias/1"><code class="inline">alias/1</code></a>.</p>
<p>See <a href="#module-aliases">the module documentation</a> for more information about aliases.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:alias_opt/0">alias_opt()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/process.ex#L882" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type alias_opt() :: :explicit_unalias | :reply</pre> </div> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:dest/0">dest()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/process.ex#L81" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type dest() ::
  pid()
  | port()
  | (registered_name :: atom())
  | {registered_name :: atom(), node()}</pre> </div> <p>A process destination.</p>
<p>A remote or local PID, a local port, a locally registered name, or a tuple in the form of <code class="inline">{registered_name, node}</code> for a registered name at another node.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:process_info_item/0">process_info_item()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/process.ex#L842" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type process_info_item() :: atom() | {:dictionary, term()}</pre> </div> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:process_info_result_item/0">process_info_result_item()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/process.ex#L843" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type process_info_result_item() :: {process_info_item(), term()}</pre> </div> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:spawn_opt/0">spawn_opt()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/process.ex#L436" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type spawn_opt() ::
  :link
  | :monitor
  | {:monitor, :erlang.monitor_option()}
  | {:priority, :low | :normal | :high}
  | {:fullsweep_after, non_neg_integer()}
  | {:min_heap_size, non_neg_integer()}
  | {:min_bin_vheap_size, non_neg_integer()}
  | {:max_heap_size, heap_size()}
  | {:message_queue_data, :off_heap | :on_heap}</pre> </div> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:spawn_opts/0">spawn_opts()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/process.ex#L446" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type spawn_opts() :: [spawn_opt()]</pre> </div> </section> </section> </div> </section> <section id="functions" class="details-list"> <h1 class="section-heading">  <span class="text">Functions</span> </h1> <div class="functions-list"> <section class="detail"> <h3 class="detail-header" id="alias/0">alias()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/process.ex#L906" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec alias() :: alias()</pre> </div> <p>Creates a process alias.</p>
<p>This is the same as calling <a href="#alias/1"><code class="inline">alias/1</code></a> as <code class="inline">alias([:explicit_unalias])</code>. See also <a href="https://www.erlang.org/doc/apps/erts/erlang.html#alias/0"><code class="inline">:erlang.alias/0</code></a>.</p>
<p>Inlined by the compiler.</p>
<h4 id="alias/0-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">alias = Process.alias()</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="alias/1">alias(options)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/process.ex#L923" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec alias([alias_opt()]) :: alias()</pre> </div> <p>Creates a process alias.</p>
<p>See <a href="#module-aliases">the module documentation</a> for more information about aliases. See also <a href="https://www.erlang.org/doc/apps/erts/erlang.html#alias/1"><code class="inline">:erlang.alias/1</code></a>.</p>
<p>Inlined by the compiler.</p>
<h4 id="alias/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">alias = Process.alias([:reply])</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="alive?/1">alive?(pid)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/process.ex#L95" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec alive?(pid()) :: boolean()</pre> </div> <p>Tells whether the given process is alive on the local node.</p>
<p>If the process identified by <code class="inline">pid</code> is alive (that is, it's not exiting and has not exited yet) than this function returns <code class="inline">true</code>. Otherwise, it returns <code class="inline">false</code>.</p>
<p><code class="inline">pid</code> must refer to a process running on the local node or <a href="argumenterror"><code class="inline">ArgumentError</code></a> is raised.</p>
<p>Inlined by the compiler.</p> </section> </section> <section class="detail">  <h3 class="detail-header" id="cancel_timer/2">cancel_timer(timer_ref, options \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/process.ex#L416" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec cancel_timer(reference(), options) :: non_neg_integer() | false | :ok
when options: [async: boolean(), info: boolean()]</pre> </div> <p>Cancels a timer returned by <a href="#send_after/3"><code class="inline">send_after/3</code></a>.</p>
<p>When the result is an integer, it represents the time in milliseconds left until the timer would have expired.</p>
<p>When the result is <code class="inline">false</code>, a timer corresponding to <code class="inline">timer_ref</code> could not be found. This can happen either because the timer expired, because it has already been canceled, or because <code class="inline">timer_ref</code> never corresponded to a timer.</p>
<p>Even if the timer had expired and the message was sent, this function does not tell you if the timeout message has arrived at its destination yet.</p>
<p>Inlined by the compiler.</p>
<h4 id="cancel_timer/2-options" class="section-heading">  <span class="text">Options</span> </h4> <ul>
<li><p><code class="inline">:async</code> - (boolean) when <code class="inline">false</code>, the request for cancellation is synchronous. When <code class="inline">true</code>, the request for cancellation is asynchronous, meaning that the request to cancel the timer is issued and <code class="inline">:ok</code> is returned right away. Defaults to <code class="inline">false</code>.</p></li>
<li><p><code class="inline">:info</code> - (boolean) whether to return information about the timer being cancelled. When the <code class="inline">:async</code> option is <code class="inline">false</code> and <code class="inline">:info</code> is <code class="inline">true</code>, then either an integer or <code class="inline">false</code> (like described above) is returned. If <code class="inline">:async</code> is <code class="inline">false</code> and <code class="inline">:info</code> is <code class="inline">false</code>, <code class="inline">:ok</code> is returned. If <code class="inline">:async</code> is <code class="inline">true</code> and <code class="inline">:info</code> is <code class="inline">true</code>, a message in the form <code class="inline">{:cancel_timer, timer_ref, result}</code> (where <code class="inline">result</code> is an integer or <code class="inline">false</code> like described above) is sent to the caller of this function when the cancellation has been performed. If <code class="inline">:async</code> is <code class="inline">true</code> and <code class="inline">:info</code> is <code class="inline">false</code>, no message is sent. Defaults to <code class="inline">true</code>.</p></li>
</ul> </section> </section> <section class="detail"> <h3 class="detail-header" id="delete/1">delete(key)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/process.ex#L191" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec delete(term()) :: term() | nil</pre> </div> <p>Deletes the given <code class="inline">key</code> from the process dictionary.</p>
<p>Returns the value that was under <code class="inline">key</code> in the process dictionary, or <code class="inline">nil</code> if <code class="inline">key</code> was not stored in the process dictionary.</p>
<h4 id="delete/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Process.put(:comments, ["comment", "other comment"])
iex&gt; Process.delete(:comments)
["comment", "other comment"]
iex&gt; Process.delete(:comments)
nil</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="demonitor/2">demonitor(monitor_ref, options \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/process.ex#L589" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec demonitor(reference(), options :: [:flush | :info]) :: boolean()</pre> </div> <p>Demonitors the monitor identified by the given <code class="inline">reference</code>.</p>
<p>If <code class="inline">monitor_ref</code> is a reference which the calling process obtained by calling <a href="#monitor/1"><code class="inline">monitor/1</code></a>, that monitoring is turned off. If the monitoring is already turned off, nothing happens.</p>
<p>See <a href="https://www.erlang.org/doc/apps/erts/erlang.html#demonitor/2"><code class="inline">:erlang.demonitor/2</code></a> for more information.</p>
<p>Inlined by the compiler.</p>
<h4 id="demonitor/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">pid = spawn(fn -&gt; 1 + 2 end)
ref = Process.monitor(pid)
Process.demonitor(ref)
#=&gt; true</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="exit/2">exit(pid, reason)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/process.ex#L226" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec exit(pid(), term()) :: true</pre> </div> <p>Sends an exit signal with the given <code class="inline">reason</code> to <code class="inline">pid</code>.</p>
<p>The following behavior applies if <code class="inline">reason</code> is any term except <code class="inline">:normal</code> or <code class="inline">:kill</code>:</p>
<ol>
<li><p>If <code class="inline">pid</code> is not trapping exits, <code class="inline">pid</code> will exit with the given <code class="inline">reason</code>.</p></li>
<li><p>If <code class="inline">pid</code> is trapping exits, the exit signal is transformed into a message <code class="inline">{:EXIT, from, reason}</code> and delivered to the message queue of <code class="inline">pid</code>.</p></li>
</ol>
<p>If <code class="inline">reason</code> is the atom <code class="inline">:normal</code>, <code class="inline">pid</code> will not exit (unless <code class="inline">pid</code> is the calling process, in which case it will exit with the reason <code class="inline">:normal</code>). If it is trapping exits, the exit signal is transformed into a message <code class="inline">{:EXIT, from, :normal}</code> and delivered to its message queue.</p>
<p>If <code class="inline">reason</code> is the atom <code class="inline">:kill</code>, that is if <code class="inline">Process.exit(pid, :kill)</code> is called, an untrappable exit signal is sent to <code class="inline">pid</code> which will unconditionally exit with reason <code class="inline">:killed</code>.</p>
<p>Inlined by the compiler.</p>
<h4 id="exit/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">Process.exit(pid, :kill)
#=&gt; true</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="flag/2">flag(flag, value)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/process.ex#L810" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec flag(:error_handler, module()) :: module()</pre> <pre translate="no" data-language="elixir">@spec flag(:max_heap_size, heap_size()) :: heap_size()</pre> <pre translate="no" data-language="elixir">@spec flag(:message_queue_data, :off_heap | :on_heap) :: :off_heap | :on_heap</pre> <pre translate="no" data-language="elixir">@spec flag(:min_bin_vheap_size, non_neg_integer()) :: non_neg_integer()</pre> <pre translate="no" data-language="elixir">@spec flag(:min_heap_size, non_neg_integer()) :: non_neg_integer()</pre> <pre translate="no" data-language="elixir">@spec flag(:priority, priority_level()) :: priority_level()</pre> <pre translate="no" data-language="elixir">@spec flag(:save_calls, 0..10000) :: 0..10000</pre> <pre translate="no" data-language="elixir">@spec flag(:sensitive, boolean()) :: boolean()</pre> <pre translate="no" data-language="elixir">@spec flag(:trap_exit, boolean()) :: boolean()</pre> </div> <p>Sets the given <code class="inline">flag</code> to <code class="inline">value</code> for the calling process.</p>
<p>Returns the old value of <code class="inline">flag</code>.</p>
<p>See <a href="https://www.erlang.org/doc/apps/erts/erlang.html#process_flag/2"><code class="inline">:erlang.process_flag/2</code></a> for more information.</p>
<p>Inlined by the compiler.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="flag/3">flag(pid, flag, value)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/process.ex#L827" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec flag(pid(), :save_calls, 0..10000) :: 0..10000</pre> </div> <p>Sets the given <code class="inline">flag</code> to <code class="inline">value</code> for the given process <code class="inline">pid</code>.</p>
<p>Returns the old value of <code class="inline">flag</code>.</p>
<p>It raises <a href="argumenterror"><code class="inline">ArgumentError</code></a> if <code class="inline">pid</code> is not a local process.</p>
<p>The allowed values for <code class="inline">flag</code> are only a subset of those allowed in <a href="#flag/2"><code class="inline">flag/2</code></a>, namely <code class="inline">:save_calls</code>.</p>
<p>See <a href="https://www.erlang.org/doc/apps/erts/erlang.html#process_flag/3"><code class="inline">:erlang.process_flag/3</code></a> for more information.</p>
<p>Inlined by the compiler.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="get/0">get()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/process.ex#L103" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec get() :: [{term(), term()}]</pre> </div> <p>Returns all key-value pairs in the process dictionary.</p>
<p>Inlined by the compiler.</p> </section> </section> <section class="detail">  <h3 class="detail-header" id="get/2">get(key, default \\ nil)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/process.ex#L121" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec get(term(), default :: term()) :: term()</pre> </div> <p>Returns the value for the given <code class="inline">key</code> in the process dictionary, or <code class="inline">default</code> if <code class="inline">key</code> is not set.</p>
<h4 id="get/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir"># Assuming :locale was not set
iex&gt; Process.get(:locale, "pt")
"pt"
iex&gt; Process.put(:locale, "fr")
nil
iex&gt; Process.get(:locale, "pt")
"fr"</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="get_keys/0">get_keys()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/process.ex#L145" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec get_keys() :: [term()]</pre> </div> <p>Returns all keys in the process dictionary.</p>
<p>Inlined by the compiler.</p>
<h4 id="get_keys/0-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir"># Assuming :locale was not set
iex&gt; :locale in Process.get_keys()
false
iex&gt; Process.put(:locale, "pt")
nil
iex&gt; :locale in Process.get_keys()
true</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="get_keys/1">get_keys(value)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/process.ex#L153" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec get_keys(term()) :: [term()]</pre> </div> <p>Returns all keys in the process dictionary that have the given <code class="inline">value</code>.</p>
<p>Inlined by the compiler.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="group_leader/0">group_leader()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/process.ex#L755" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec group_leader() :: pid()</pre> </div> <p>Returns the PID of the group leader for the calling process.</p>
<p>Inlined by the compiler.</p>
<h4 id="group_leader/0-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">Process.group_leader()
#=&gt; #PID&lt;0.53.0&gt;</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="group_leader/2">group_leader(pid, leader)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/process.ex#L766" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec group_leader(pid(), leader :: pid()) :: true</pre> </div> <p>Sets the group leader of the given <code class="inline">pid</code> to <code class="inline">leader</code>.</p>
<p>Typically, this is used when a process started from a certain shell should have a group leader other than <code class="inline">:init</code>.</p>
<p>Inlined by the compiler.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="hibernate/3">hibernate(mod, fun_name, args)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/process.ex#L880" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec hibernate(module(), atom(), list()) :: no_return()</pre> </div> <p>Puts the calling process into a "hibernation" state.</p>
<p>The calling process is put into a waiting state where its memory allocation has been reduced as much as possible, which is useful if the process does not expect to receive any messages in the near future.</p>
<p>See <a href="https://www.erlang.org/doc/apps/erts/erlang.html#hibernate/3"><code class="inline">:erlang.hibernate/3</code></a> for more information.</p>
<p>Inlined by the compiler.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="info/1">info(pid)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/process.ex#L838" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec info(pid()) :: keyword() | nil</pre> </div> <p>Returns information about the process identified by <code class="inline">pid</code>, or returns <code class="inline">nil</code> if the process is not alive.</p>
<p>Use this only for debugging information.</p>
<p>See <a href="https://www.erlang.org/doc/apps/erts/erlang.html#process_info/1"><code class="inline">:erlang.process_info/1</code></a> for more information.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="info/2">info(pid, spec)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/process.ex#L853" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec info(pid(), process_info_item()) :: process_info_result_item() | nil</pre> <pre translate="no" data-language="elixir">@spec info(pid(), [process_info_item()]) :: [process_info_result_item()] | nil</pre> </div> <p>Returns information about the process identified by <code class="inline">pid</code>, or returns <code class="inline">nil</code> if the process is not alive.</p>
<p>See <a href="https://www.erlang.org/doc/apps/erts/erlang.html#process_info/2"><code class="inline">:erlang.process_info/2</code></a> for more information.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="link/1">link(pid_or_port)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/process.ex#L635" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec link(pid() | port()) :: true</pre> </div> <p>Creates a link between the calling process and the given item (process or port).</p>
<p>Links are bidirectional. Linked processes can be unlinked by using <a href="#unlink/1"><code class="inline">unlink/1</code></a>.</p>
<p>If such a link exists already, this function does nothing since there can only be one link between two given processes. If a process tries to create a link to itself, nothing will happen.</p>
<p>When two processes are linked, each one receives exit signals from the other (see also <a href="#exit/2"><code class="inline">exit/2</code></a>). Let's assume <code class="inline">pid1</code> and <code class="inline">pid2</code> are linked. If <code class="inline">pid2</code> exits with a reason other than <code class="inline">:normal</code> (which is also the exit reason used when a process finishes its job) and <code class="inline">pid1</code> is not trapping exits (see <a href="#flag/2"><code class="inline">flag/2</code></a>), then <code class="inline">pid1</code> will exit with the same reason as <code class="inline">pid2</code> and in turn emit an exit signal to all its other linked processes. The behavior when <code class="inline">pid1</code> is trapping exits is described in <a href="#exit/2"><code class="inline">exit/2</code></a>.</p>
<p>See <a href="https://www.erlang.org/doc/apps/erts/erlang.html#link/1"><code class="inline">:erlang.link/1</code></a> for more information.</p>
<p>Inlined by the compiler.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="list/0">list()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/process.ex#L610" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec list() :: [pid()]</pre> </div> <p>Returns a list of PIDs corresponding to all the processes currently existing on the local node.</p>
<p>Note that if a process is exiting, it is considered to exist but not be alive. This means that for such process, <a href="#alive?/1"><code class="inline">alive?/1</code></a> will return <code class="inline">false</code> but its PID will be part of the list of PIDs returned by this function.</p>
<p>See <a href="https://www.erlang.org/doc/apps/erts/erlang.html#processes/0"><code class="inline">:erlang.processes/0</code></a> for more information.</p>
<p>Inlined by the compiler.</p>
<h4 id="list/0-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">Process.list()
#=&gt; [#PID&lt;0.0.0&gt;, #PID&lt;0.1.0&gt;, #PID&lt;0.2.0&gt;, #PID&lt;0.3.0&gt;, ...]</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="monitor/1">monitor(item)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/process.ex#L527" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec monitor(pid() | {name, node()} | name) :: reference() when name: atom()</pre> </div> <p>Starts monitoring the given <code class="inline">item</code> from the calling process.</p>
<p>Once the monitored process dies, a message is delivered to the monitoring process in the shape of:</p>
<pre data-language="elixir">{:DOWN, ref, :process, object, reason}</pre>
<p>where:</p>
<ul>
<li>
<code class="inline">ref</code> is a monitor reference returned by this function;</li>
<li>
<code class="inline">object</code> is either a <code class="inline">pid</code> of the monitored process (if monitoring a PID) or <code class="inline">{name, node}</code> (if monitoring a remote or local name);</li>
<li>
<code class="inline">reason</code> is the exit reason.</li>
</ul>
<p>If the process is already dead when calling <a href="#monitor/1"><code class="inline">Process.monitor/1</code></a>, a <code class="inline">:DOWN</code> message is delivered immediately.</p>
<p>See <a href="genservers#the-need-for-monitoring">"The need for monitoring"</a> for an example. See <a href="https://www.erlang.org/doc/apps/erts/erlang.html#monitor/2"><code class="inline">:erlang.monitor/2</code></a> for more information.</p>
<p>Inlined by the compiler.</p>
<h4 id="monitor/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">pid = spawn(fn -&gt; 1 + 2 end)
#=&gt; #PID&lt;0.118.0&gt;
Process.monitor(pid)
#=&gt; #Reference&lt;0.906660723.3006791681.40191&gt;
Process.exit(pid, :kill)
#=&gt; true
receive do
  msg -&gt; msg
end
#=&gt; {:DOWN, #Reference&lt;0.906660723.3006791681.40191&gt;, :process, #PID&lt;0.118.0&gt;, :noproc}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="monitor/2">monitor(item, options)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/process.ex#L565" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec monitor(pid() | {name, node()} | name, [:erlang.monitor_option()]) ::
  reference()
when name: atom()</pre> </div> <p>Starts monitoring the given <code class="inline">item</code> from the calling process.</p>
<p>This function is similar to <a href="#monitor/1"><code class="inline">monitor/1</code></a>, but accepts options to customize how <code class="inline">item</code> is monitored. See <a href="https://www.erlang.org/doc/apps/erts/erlang.html#monitor/3"><code class="inline">:erlang.monitor/3</code></a> for documentation on those options.</p>
<p>Inlined by the compiler.</p>
<h4 id="monitor/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">pid =
  spawn(fn -&gt;
    receive do
      {:ping, source_alias} -&gt; send(source_alias, :pong)
    end
  end)
#=&gt; #PID&lt;0.118.0&gt;

ref_and_alias = Process.monitor(pid, alias: :reply_demonitor)
#=&gt; #Reference&lt;0.906660723.3006791681.40191&gt;

send(pid, {:ping, ref_and_alias})

receive do: msg -&gt; msg
#=&gt; :pong

receive do: msg -&gt; msg
#=&gt; {:DOWN, #Reference&lt;0.906660723.3006791681.40191&gt;, :process, #PID&lt;0.118.0&gt;, :noproc}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="put/2">put(key, value)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/process.ex#L171" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec put(term(), term()) :: term() | nil</pre> </div> <p>Stores the given <code class="inline">key</code>-<code class="inline">value</code> pair in the process dictionary.</p>
<p>The return value of this function is the value that was previously stored under <code class="inline">key</code>, or <code class="inline">nil</code> in case no value was stored under it.</p>
<h4 id="put/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir"># Assuming :locale was not set
iex&gt; Process.put(:locale, "en")
nil
iex&gt; Process.put(:locale, "fr")
"en"</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="read_timer/1">read_timer(timer_ref)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/process.ex#L434" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec read_timer(reference()) :: non_neg_integer() | false</pre> </div> <p>Reads a timer created by <a href="#send_after/3"><code class="inline">send_after/3</code></a>.</p>
<p>When the result is an integer, it represents the time in milliseconds left until the timer will expire.</p>
<p>When the result is <code class="inline">false</code>, a timer corresponding to <code class="inline">timer_ref</code> could not be found. This can be either because the timer expired, because it has already been canceled, or because <code class="inline">timer_ref</code> never corresponded to a timer.</p>
<p>Even if the timer had expired and the message was sent, this function does not tell you if the timeout message has arrived at its destination yet.</p>
<p>Inlined by the compiler.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="register/2">register(pid_or_port, name)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/process.ex#L684" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec register(pid() | port(), atom()) :: true</pre> </div> <p>Registers the given <code class="inline">pid_or_port</code> under the given <code class="inline">name</code> on the local node.</p>
<p><code class="inline">name</code> must be an atom and can then be used instead of the PID/port identifier when sending messages with <a href="kernel#send/2"><code class="inline">Kernel.send/2</code></a>.</p>
<p><a href="#register/2"><code class="inline">register/2</code></a> will fail with <a href="argumenterror"><code class="inline">ArgumentError</code></a> in any of the following cases:</p>
<ul>
<li>the PID/Port is not existing locally and alive</li>
<li>the name is already registered</li>
<li>the <code class="inline">pid_or_port</code> is already registered under a different <code class="inline">name</code>
</li>
</ul>
<p>The following names are reserved and cannot be assigned to processes nor ports:</p>
<ul>
<li><code class="inline">nil</code></li>
<li><code class="inline">false</code></li>
<li><code class="inline">true</code></li>
<li><code class="inline">:undefined</code></li>
</ul>
<h4 id="register/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">Process.register(self(), :test)
#=&gt; true
send(:test, :hello)
#=&gt; :hello
send(:wrong_name, :hello)
** (ArgumentError) argument error</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="registered/0">registered()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/process.ex#L783" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec registered() :: [atom()]</pre> </div> <p>Returns a list of names which have been registered using <a href="#register/2"><code class="inline">register/2</code></a>.</p>
<p>Inlined by the compiler.</p>
<h4 id="registered/0-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">Process.register(self(), :test)
Process.registered()
#=&gt; [:test, :elixir_config, :inet_db, ...]</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="send/3">send(dest, msg, options)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/process.ex#L339" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec send(dest, msg, [option]) :: :ok | :noconnect | :nosuspend
when dest: dest(), msg: any(), option: :noconnect | :nosuspend</pre> </div> <p>Sends a message to the given <code class="inline">dest</code>.</p>
<p><code class="inline">dest</code> may be a remote or local PID, a local port, a locally registered name, or a tuple in the form of <code class="inline">{registered_name, node}</code> for a registered name at another node.</p>
<p>Inlined by the compiler.</p>
<h4 id="send/3-options" class="section-heading">  <span class="text">Options</span> </h4> <ul>
<li><p><code class="inline">:noconnect</code> - when used, if sending the message would require an auto-connection to another node the message is not sent and <code class="inline">:noconnect</code> is returned.</p></li>
<li><p><code class="inline">:nosuspend</code> - when used, if sending the message would cause the sender to be suspended the message is not sent and <code class="inline">:nosuspend</code> is returned.</p></li>
</ul>
<p>Otherwise the message is sent and <code class="inline">:ok</code> is returned.</p>
<h4 id="send/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Process.send({:name, :node_that_does_not_exist}, :hi, [:noconnect])
:noconnect</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="send_after/4">send_after(dest, msg, time, opts \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/process.ex#L377" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec send_after(pid() | atom(), term(), non_neg_integer(), [option]) :: reference()
when option: {:abs, boolean()}</pre> </div> <p>Sends <code class="inline">msg</code> to <code class="inline">dest</code> after <code class="inline">time</code> milliseconds.</p>
<p>If <code class="inline">dest</code> is a PID, it must be the PID of a local process, dead or alive. If <code class="inline">dest</code> is an atom, it must be the name of a registered process which is looked up at the time of delivery. No error is produced if the name does not refer to a process.</p>
<p>The message is not sent immediately. Therefore, <code class="inline">dest</code> can receive other messages in-between even when <code class="inline">time</code> is <code class="inline">0</code>.</p>
<p>This function returns a timer reference, which can be read with <a href="#read_timer/1"><code class="inline">read_timer/1</code></a> or canceled with <a href="#cancel_timer/1"><code class="inline">cancel_timer/1</code></a>.</p>
<p>The timer will be automatically canceled if the given <code class="inline">dest</code> is a PID which is not alive or when the given PID exits. Note that timers will not be automatically canceled when <code class="inline">dest</code> is an atom (as the atom resolution is done on delivery).</p>
<p>Inlined by the compiler.</p>
<h4 id="send_after/4-options" class="section-heading">  <span class="text">Options</span> </h4> <ul><li>
<code class="inline">:abs</code> - (boolean) when <code class="inline">false</code>, <code class="inline">time</code> is treated as relative to the current monotonic time. When <code class="inline">true</code>, <code class="inline">time</code> is the absolute value of the Erlang monotonic time at which <code class="inline">msg</code> should be delivered to <code class="inline">dest</code>. To read more about Erlang monotonic time and other time-related concepts, look at the documentation for the <a href="system"><code class="inline">System</code></a> module. Defaults to <code class="inline">false</code>.</li></ul>
<h4 id="send_after/4-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">timer_ref = Process.send_after(pid, :hi, 1000)</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="set_label/1">set_label(label)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/process.ex#L965" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec set_label(term()) :: :ok</pre> </div> <p>Add a descriptive term to the current process.</p>
<p>The term does not need to be unique, and in Erlang/OTP 27+ will be shown in Observer and in crash logs. This label may be useful for identifying a process as one of multiple in a given role, such as <code class="inline">:queue_worker</code> or <code class="inline">{:live_chat, user_id}</code>.</p>
<h4 id="set_label/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">Process.set_label(:worker)
#=&gt; :ok

Process.set_label({:any, "term"})
#=&gt; :ok</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="sleep/1">sleep(timeout)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/process.ex#L303" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec sleep(timeout()) :: :ok</pre> </div> <p>Sleeps the current process for the given <code class="inline">timeout</code>.</p>
<p><code class="inline">timeout</code> is either the number of milliseconds to sleep as an integer or the atom <code class="inline">:infinity</code>. When <code class="inline">:infinity</code> is given, the current process will sleep forever, and not consume or reply to messages.</p>
<p><strong>Use this function with extreme care</strong>. For almost all situations where you would use <a href="#sleep/1"><code class="inline">sleep/1</code></a> in Elixir, there is likely a more correct, faster and precise way of achieving the same with message passing.</p>
<p>For example, if you are waiting for a process to perform some action, it is better to communicate the progress of such action with messages.</p>
<p>In other words, <strong>do not</strong>:</p>
<pre data-language="elixir">Task.start_link(fn -&gt;
  do_something()
  ...
end)

# Wait until work is done
Process.sleep(2000)</pre>
<p>But <strong>do</strong>:</p>
<pre data-language="elixir">parent = self()

Task.start_link(fn -&gt;
  do_something()
  send(parent, :work_is_done)
  ...
end)

receive do
  :work_is_done -&gt; :ok
after
  # Optional timeout
  30_000 -&gt; :timeout
end</pre>
<p>For cases like the one above, <a href="task#async/1"><code class="inline">Task.async/1</code></a> and <a href="task#await/2"><code class="inline">Task.await/2</code></a> are preferred.</p>
<p>Similarly, if you are waiting for a process to terminate, monitor that process instead of sleeping. <strong>Do not</strong>:</p>
<pre data-language="elixir">Task.start_link(fn -&gt;
  ...
end)

# Wait until task terminates
Process.sleep(2000)</pre>
<p>Instead <strong>do</strong>:</p>
<pre data-language="elixir">{:ok, pid} =
  Task.start_link(fn -&gt;
    ...
  end)

ref = Process.monitor(pid)

receive do
  {:DOWN, ^ref, _, _, _} -&gt; :task_is_down
after
  # Optional timeout
  30_000 -&gt; :timeout
end</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="spawn/2">spawn(fun, opts)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/process.ex#L470" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec spawn((-&gt; any()), spawn_opts()) :: pid() | {pid(), reference()}</pre> </div> <p>Spawns the given function according to the given options.</p>
<p>The result depends on the given options. In particular, if <code class="inline">:monitor</code> is given as an option, it will return a tuple containing the PID and the monitoring reference, otherwise just the spawned process PID.</p>
<p>More options are available; for the comprehensive list of available options check <a href="https://www.erlang.org/doc/apps/erts/erlang.html#spawn_opt/4"><code class="inline">:erlang.spawn_opt/4</code></a>.</p>
<p>Inlined by the compiler.</p>
<h4 id="spawn/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">Process.spawn(fn -&gt; 1 + 2 end, [:monitor])
#=&gt; {#PID&lt;0.93.0&gt;, #Reference&lt;0.18808174.1939079169.202418&gt;}
Process.spawn(fn -&gt; 1 + 2 end, [:link])
#=&gt; #PID&lt;0.95.0&gt;</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="spawn/4">spawn(mod, fun, args, opts)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/process.ex#L487" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec spawn(module(), atom(), list(), spawn_opts()) :: pid() | {pid(), reference()}</pre> </div> <p>Spawns the given function <code class="inline">fun</code> from module <code class="inline">mod</code>, passing the given <code class="inline">args</code> according to the given options.</p>
<p>The result depends on the given options. In particular, if <code class="inline">:monitor</code> is given as an option, it will return a tuple containing the PID and the monitoring reference, otherwise just the spawned process PID.</p>
<p>It also accepts extra options, for the list of available options check <a href="https://www.erlang.org/doc/apps/erts/erlang.html#spawn_opt/4"><code class="inline">:erlang.spawn_opt/4</code></a>.</p>
<p>Inlined by the compiler.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="unalias/1">unalias(alias)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/process.ex#L945" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec unalias(alias()) :: boolean()</pre> </div> <p>Explicitly deactivates a process alias.</p>
<p>Returns <code class="inline">true</code> if <code class="inline">alias</code> was a currently-active alias for current processes, or <code class="inline">false</code> otherwise.</p>
<p>See <a href="#module-aliases">the module documentation</a> for more information about aliases. See also <a href="https://www.erlang.org/doc/apps/erts/erlang.html#unalias/1"><code class="inline">:erlang.unalias/1</code></a>.</p>
<p>Inlined by the compiler.</p>
<h4 id="unalias/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">alias = Process.alias()
Process.unalias(alias)
#=&gt; true</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="unlink/1">unlink(pid_or_port)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/process.ex#L651" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec unlink(pid() | port()) :: true</pre> </div> <p>Removes the link between the calling process and the given item (process or port).</p>
<p>If there is no such link, this function does nothing. If <code class="inline">pid_or_port</code> does not exist, this function does not produce any errors and simply does nothing.</p>
<p>The return value of this function is always <code class="inline">true</code>.</p>
<p>See <a href="https://www.erlang.org/doc/apps/erts/erlang.html#unlink/1"><code class="inline">:erlang.unlink/1</code></a> for more information.</p>
<p>Inlined by the compiler.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="unregister/1">unregister(name)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/process.ex#L721" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec unregister(atom()) :: true</pre> </div> <p>Removes the registered <code class="inline">name</code>, associated with a PID or a port identifier.</p>
<p>Fails with <a href="argumenterror"><code class="inline">ArgumentError</code></a> if the name is not registered to any PID or port.</p>
<p>Inlined by the compiler.</p>
<h4 id="unregister/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">Process.register(self(), :test)
#=&gt; true
Process.unregister(:test)
#=&gt; true
Process.unregister(:wrong_name)
** (ArgumentError) argument error</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="whereis/1">whereis(name)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/process.ex#L739" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec whereis(atom()) :: pid() | port() | nil</pre> </div> <p>Returns the PID or port identifier registered under <code class="inline">name</code> or <code class="inline">nil</code> if the name is not registered.</p>
<p>See <a href="https://www.erlang.org/doc/apps/erts/erlang.html#whereis/1"><code class="inline">:erlang.whereis/1</code></a> for more information.</p>
<h4 id="whereis/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">Process.register(self(), :test)
Process.whereis(:test)
#=&gt; #PID&lt;0.84.0&gt;
Process.whereis(:wrong_name)
#=&gt; nil</pre> </section> </section> </div> </section> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/Process.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/Process.html</a>
  </p>
</div>
