<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/pages/getting-started/protocols.md#L1" title="View Source" class="source" rel="help">Source</a> <span>Protocols</span> </h1> <p>Protocols are a mechanism to achieve polymorphism in Elixir where you want the behavior to vary depending on the data type. We are already familiar with one way of solving this type of problem: via pattern matching and guard clauses. Consider a simple utility module that would tell us the type of input variable:</p>
<pre data-language="elixir">defmodule Utility do
  def type(value) when is_binary(value), do: "string"
  def type(value) when is_integer(value), do: "integer"
  # ... other implementations ...
end</pre>
<p>If the use of this module were confined to your own project, you would be able to keep defining new <code class="inline">type/1</code> functions for each new data type. However, this code could be problematic if it was shared as a dependency by multiple apps because there would be no easy way to extend its functionality.</p>
<p>This is where protocols can help us: protocols allow us to extend the original behavior for as many data types as we need. That's because <strong>dispatching on a protocol is available to any data type that has implemented the protocol</strong> and a protocol can be implemented by anyone, at any time.</p>
<p>Here's how we could write the same <code class="inline">Utility.type/1</code> functionality as a protocol:</p>
<pre data-language="elixir">defprotocol Utility do
  @spec type(t) :: String.t()
  def type(value)
end

defimpl Utility, for: BitString do
  def type(_value), do: "string"
end

defimpl Utility, for: Integer do
  def type(_value), do: "integer"
end</pre>
<p>We define the protocol using <a href="kernel#defprotocol/2"><code class="inline">defprotocol/2</code></a> - its functions and specs may look similar to interfaces or abstract base classes in other languages. We can add as many implementations as we like using <a href="kernel#defimpl/2"><code class="inline">defimpl/2</code></a>. The output is exactly the same as if we had a single module with multiple functions:</p>
<pre data-language="elixir">iex&gt; Utility.type("foo")
"string"
iex&gt; Utility.type(123)
"integer"</pre>
<p>With protocols, however, we are no longer stuck having to continuously modify the same module to support more and more data types. For example, we could spread the <code class="inline">defimpl</code> calls above over multiple files and Elixir will dispatch the execution to the appropriate implementation based on the data type. Functions defined in a protocol may have more than one input, but the <strong>dispatching will always be based on the data type of the first input</strong>.</p>
<p>One of the most common protocols you may encounter is the <a href="string.chars"><code class="inline">String.Chars</code></a> protocol: implementing its <a href="kernel#to_string/1"><code class="inline">to_string/1</code></a> function for your custom structs will tell the Elixir kernel how to represent them as strings. We will explore all built-in protocols later. For now, let's implement our own.</p>
<h2 id="example" class="section-heading">  <span class="text">Example</span> </h2> <p>Now that you have seen an example of the type of problem protocols help solve and how they solve them, let's look at a more in-depth example.</p>
<p>In Elixir, we have two idioms for checking how many items there are in a data structure: <code class="inline">length</code> and <code class="inline">size</code>. <code class="inline">length</code> means the information must be computed. For example, <code class="inline">length(list)</code> needs to traverse the whole list to calculate its length. On the other hand, <code class="inline">tuple_size(tuple)</code> and <code class="inline">byte_size(binary)</code> do not depend on the tuple and binary size as the size information is pre-computed in the data structure.</p>
<p>Even if we have type-specific functions for getting the size built into Elixir (such as <a href="kernel#tuple_size/1"><code class="inline">tuple_size/1</code></a>), we could implement a generic <code class="inline">Size</code> protocol that all data structures for which size is pre-computed would implement.</p>
<p>The protocol definition would look like this:</p>
<pre data-language="elixir">defprotocol Size do
  @doc "Calculates the size (and not the length!) of a data structure"
  def size(data)
end</pre>
<p>The <code class="inline">Size</code> protocol expects a function called <code class="inline">size</code> that receives one argument (the data structure we want to know the size of) to be implemented. We can now implement this protocol for the data structures that would have a compliant implementation:</p>
<pre data-language="elixir">defimpl Size, for: BitString do
  def size(string), do: byte_size(string)
end

defimpl Size, for: Map do
  def size(map), do: map_size(map)
end

defimpl Size, for: Tuple do
  def size(tuple), do: tuple_size(tuple)
end</pre>
<p>We didn't implement the <code class="inline">Size</code> protocol for lists as there is no "size" information pre-computed for lists, and the length of a list has to be computed (with <a href="kernel#length/1"><code class="inline">length/1</code></a>).</p>
<p>Now with the protocol defined and implementations in hand, we can start using it:</p>
<pre data-language="elixir">iex&gt; Size.size("foo")
3
iex&gt; Size.size({:ok, "hello"})
2
iex&gt; Size.size(%{label: "some label"})
1</pre>
<p>Passing a data type that doesn't implement the protocol raises an error:</p>
<pre data-language="elixir">iex&gt; Size.size([1, 2, 3])
** (Protocol.UndefinedError) protocol Size not implemented for [1, 2, 3] of type List</pre>
<p>It's possible to implement protocols for all Elixir data types:</p>
<ul>
<li><a href="atom"><code class="inline">Atom</code></a></li>
<li><code class="inline">BitString</code></li>
<li><a href="float"><code class="inline">Float</code></a></li>
<li><a href="function"><code class="inline">Function</code></a></li>
<li><a href="integer"><code class="inline">Integer</code></a></li>
<li><a href="list"><code class="inline">List</code></a></li>
<li><a href="map"><code class="inline">Map</code></a></li>
<li><code class="inline">PID</code></li>
<li><a href="port"><code class="inline">Port</code></a></li>
<li><code class="inline">Reference</code></li>
<li><a href="tuple"><code class="inline">Tuple</code></a></li>
</ul>
<h2 id="protocols-and-structs" class="section-heading">  <span class="text">Protocols and structs</span> </h2> <p>The power of Elixir's extensibility comes when protocols and structs are used together.</p>
<p>In the <a href="structs">previous chapter</a>, we have learned that although structs are maps, they do not share protocol implementations with maps. For example, <a href="mapset"><code class="inline">MapSet</code></a>s (sets based on maps) are implemented as structs. Let's try to use the <code class="inline">Size</code> protocol with a <a href="mapset"><code class="inline">MapSet</code></a>:</p>
<pre data-language="elixir">iex&gt; Size.size(%{})
0
iex&gt; set = %MapSet{} = MapSet.new
MapSet.new([])
iex&gt; Size.size(set)
** (Protocol.UndefinedError) protocol Size not implemented for MapSet.new([]) of type MapSet (a struct)</pre>
<p>Instead of sharing protocol implementation with maps, structs require their own protocol implementation. Since a <a href="mapset"><code class="inline">MapSet</code></a> has its size precomputed and accessible through <a href="mapset#size/1"><code class="inline">MapSet.size/1</code></a>, we can define a <code class="inline">Size</code> implementation for it:</p>
<pre data-language="elixir">defimpl Size, for: MapSet do
  def size(set), do: MapSet.size(set)
end</pre>
<p>If desired, you could come up with your own semantics for the size of your struct. Not only that, you could use structs to build more robust data types, like queues, and implement all relevant protocols, such as <a href="enumerable"><code class="inline">Enumerable</code></a> and possibly <code class="inline">Size</code>, for this data type.</p>
<pre data-language="elixir">defmodule User do
  defstruct [:name, :age]
end

defimpl Size, for: User do
  def size(_user), do: 2
end</pre>
<h2 id="implementing-any" class="section-heading">  <span class="text">Implementing <code class="inline">Any</code></span> </h2> <p>Manually implementing protocols for all types can quickly become repetitive and tedious. In such cases, Elixir provides two options: we can explicitly derive the protocol implementation for our types or automatically implement the protocol for all types. In both cases, we need to implement the protocol for <code class="inline">Any</code>.</p>
<h3 id="deriving" class="section-heading">  <span class="text">Deriving</span> </h3> <p>Elixir allows us to derive a protocol implementation based on the <code class="inline">Any</code> implementation. Let's first implement <code class="inline">Any</code> as follows:</p>
<pre data-language="elixir">defimpl Size, for: Any do
  def size(_), do: 0
end</pre>
<p>The implementation above is arguably not a reasonable one. For example, it makes no sense to say that the size of a <code class="inline">PID</code> or an <a href="integer"><code class="inline">Integer</code></a> is <code class="inline">0</code>.</p>
<p>However, should we be fine with the implementation for <code class="inline">Any</code>, in order to use such implementation we would need to tell our struct to explicitly derive the <code class="inline">Size</code> protocol:</p>
<pre data-language="elixir">defmodule OtherUser do
  @derive [Size]
  defstruct [:name, :age]
end</pre>
<p>When deriving, Elixir will implement the <code class="inline">Size</code> protocol for <code class="inline">OtherUser</code> based on the implementation provided for <code class="inline">Any</code>.</p>
<h3 id="fallback-to-any" class="section-heading">  <span class="text">Fallback to <code class="inline">Any</code></span> </h3> <p>Another alternative to <code class="inline">@derive</code> is to explicitly tell the protocol to fallback to <code class="inline">Any</code> when an implementation cannot be found. This can be achieved by setting <code class="inline">@fallback_to_any</code> to <code class="inline">true</code> in the protocol definition:</p>
<pre data-language="elixir">defprotocol Size do
  @fallback_to_any true
  def size(data)
end</pre>
<p>As we said in the previous section, the implementation of <code class="inline">Size</code> for <code class="inline">Any</code> is not one that can apply to any data type. That's one of the reasons why <code class="inline">@fallback_to_any</code> is an opt-in behavior. For the majority of protocols, raising an error when a protocol is not implemented is the proper behavior. That said, assuming we have implemented <code class="inline">Any</code> as in the previous section:</p>
<pre data-language="elixir">defimpl Size, for: Any do
  def size(_), do: 0
end</pre>
<p>Now all data types (including structs) that have not implemented the <code class="inline">Size</code> protocol will be considered to have a size of <code class="inline">0</code>.</p>
<p>Which technique is best between deriving and falling back to <code class="inline">Any</code> depends on the use case but, given Elixir developers prefer explicit over implicit, you may see many libraries pushing towards the <code class="inline">@derive</code> approach.</p>
<h2 id="built-in-protocols" class="section-heading">  <span class="text">Built-in protocols</span> </h2> <p>Elixir ships with some built-in protocols. In previous chapters, we have discussed the <a href="enum"><code class="inline">Enum</code></a> module which provides many functions that work with any data structure that implements the <a href="enumerable"><code class="inline">Enumerable</code></a> protocol:</p>
<pre data-language="elixir">iex&gt; Enum.map([1, 2, 3], fn x -&gt; x * 2 end)
[2, 4, 6]
iex&gt; Enum.reduce(1..3, 0, fn x, acc -&gt; x + acc end)
6</pre>
<p>Another useful example is the <a href="string.chars"><code class="inline">String.Chars</code></a> protocol, which specifies how to convert a data structure to its human representation as a string. It's exposed via the <code class="inline">to_string</code> function:</p>
<pre data-language="elixir">iex&gt; to_string(:hello)
"hello"</pre>
<p>Notice that string interpolation in Elixir calls the <code class="inline">to_string</code> function:</p>
<pre data-language="elixir">iex&gt; "age: #{25}"
"age: 25"</pre>
<p>The snippet above only works because numbers implement the <a href="string.chars"><code class="inline">String.Chars</code></a> protocol. Passing a tuple, for example, will lead to an error:</p>
<pre data-language="elixir">iex&gt; tuple = {1, 2, 3}
{1, 2, 3}
iex&gt; "tuple: #{tuple}"
** (Protocol.UndefinedError) protocol String.Chars not implemented for {1, 2, 3} of type Tuple</pre>
<p>When there is a need to "print" a more complex data structure, one can use the <code class="inline">inspect</code> function, based on the <a href="inspect"><code class="inline">Inspect</code></a> protocol:</p>
<pre data-language="elixir">iex&gt; "tuple: #{inspect(tuple)}"
"tuple: {1, 2, 3}"</pre>
<p>The <a href="inspect"><code class="inline">Inspect</code></a> protocol is the protocol used to transform any data structure into a readable textual representation. This is what tools like IEx use to print results:</p>
<pre data-language="elixir">iex&gt; {1, 2, 3}
{1, 2, 3}
iex&gt; %User{}
%User{name: "john", age: 27}</pre>
<p>Keep in mind that, by convention, whenever the inspected value starts with <code class="inline">#</code>, it is representing a data structure in non-valid Elixir syntax. This means the inspect protocol is not reversible as information may be lost along the way:</p>
<pre data-language="elixir">iex&gt; inspect &amp;(&amp;1+2)
"#Function&lt;6.71889879/1 in :erl_eval.expr/5&gt;"</pre>
<p>There are other protocols in Elixir but this covers the most common ones. You can learn more about protocols and implementations in the <a href="protocol"><code class="inline">Protocol</code></a> module.</p> </div> <div class="bottom-actions" id="bottom-actions"> <div class="bottom-actions-item"> <a href="structs" class="bottom-actions-button" rel="prev"> <span class="subheader"> ← Previous Page </span> <span class="title"> Structs </span> </a> </div> <div class="bottom-actions-item"> <a href="comprehensions" class="bottom-actions-button" rel="next"> <span class="subheader"> Next Page → </span> <span class="title"> Comprehensions </span> </a> </div> </div> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/protocols.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/protocols.html</a>
  </p>
</div>
