<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/pages/meta-programming/quote-and-unquote.md#L1" title="View Source" class="source" rel="help">Source</a> <span>Quote and unquote</span> </h1> <p>This guide aims to introduce the meta-programming techniques available in Elixir. The ability to represent an Elixir program by its own data structures is at the heart of meta-programming. This chapter starts by exploring those structures and the associated <a href="kernel.specialforms#quote/2"><code class="inline">quote/2</code></a> and <a href="kernel.specialforms#unquote/1"><code class="inline">unquote/1</code></a> constructs, so we can take a look at macros in the next guide, and finally build our own domain specific language.</p>
<h2 id="quoting" class="section-heading">  <span class="text">Quoting</span> </h2> <p>The building block of an Elixir program is a tuple with three elements. For example, the function call <code class="inline">sum(1, 2, 3)</code> is represented internally as:</p>
<pre data-language="elixir">{:sum, [], [1, 2, 3]}</pre>
<p>You can get the representation of any expression by using the <a href="kernel.specialforms#quote/2"><code class="inline">quote/2</code></a> macro:</p>
<pre data-language="elixir">iex&gt; quote do: sum(1, 2, 3)
{:sum, [], [1, 2, 3]}</pre>
<p>The first element is the function name, the second is a keyword list containing metadata, and the third is the arguments list.</p>
<p>Operators are also represented as such tuples:</p>
<pre data-language="elixir">iex&gt; quote do: 1 + 2
{:+, [context: Elixir, import: Kernel], [1, 2]}</pre>
<p>Even a map is represented as a call to <code class="inline">%{}</code>:</p>
<pre data-language="elixir">iex&gt; quote do: %{1 =&gt; 2}
{:%{}, [], [{1, 2}]}</pre>
<p>Variables are represented using such triplets, with the difference that the last element is an atom, instead of a list:</p>
<pre data-language="elixir">iex&gt; quote do: x
{:x, [], Elixir}</pre>
<p>When quoting more complex expressions, we can see that the code is represented in such tuples, which are often nested inside each other in a structure resembling a tree. Many languages would call such representations an <a href="https://en.wikipedia.org/wiki/Abstract_syntax_tree"><em>Abstract Syntax Tree</em></a> (AST). Elixir calls them <em>quoted expressions</em>:</p>
<pre data-language="elixir">iex&gt; quote do: sum(1, 2 + 3, 4)
{:sum, [], [1, {:+, [context: Elixir, import: Kernel], [2, 3]}, 4]}</pre>
<p>Sometimes, when working with quoted expressions, it may be useful to get the textual code representation back. This can be done with <a href="macro#to_string/1"><code class="inline">Macro.to_string/1</code></a>:</p>
<pre data-language="elixir">iex&gt; Macro.to_string(quote do: sum(1, 2 + 3, 4))
"sum(1, 2 + 3, 4)"</pre>
<p>In general, the tuples above are structured according to the following format:</p>
<pre data-language="elixir">{atom | tuple, list, list | atom}</pre>
<ul>
<li>The first element is an atom or another tuple in the same representation;</li>
<li>The second element is a keyword list containing metadata, like numbers and contexts;</li>
<li>The third element is either a list of arguments for the function call or an atom. When this element is an atom, it means the tuple represents a variable.</li>
</ul>
<p>Besides the tuple defined above, there are five Elixir literals that, when quoted, return themselves (and not a tuple). They are:</p>
<pre data-language="elixir">:sum         #=&gt; Atoms
1.0          #=&gt; Numbers
[1, 2]       #=&gt; Lists
"strings"    #=&gt; Strings
{key, value} #=&gt; Tuples with two elements</pre>
<p>Most Elixir code has a straight-forward translation to its underlying quoted expression. We recommend you try out different code samples and see what the results are. For example, what does <code class="inline">String.upcase("foo")</code> expand to? We have also learned that <code class="inline">if(true, do: :this, else: :that)</code> is the same as <code class="inline">if true do :this else :that end</code>. How does this affirmation hold with quoted expressions?</p>
<h2 id="unquoting" class="section-heading">  <span class="text">Unquoting</span> </h2> <p>Quoting is about retrieving the inner representation of some particular chunk of code. However, sometimes it may be necessary to inject some other particular chunk of code inside the representation we want to retrieve.</p>
<p>For example, imagine you have a variable called <code class="inline">number</code> which contains the number you want to inject inside a quoted expression.</p>
<pre data-language="elixir">iex&gt; number = 13
iex&gt; Macro.to_string(quote do: 11 + number)
"11 + number"</pre>
<p>That's not what we wanted, since the value of the <code class="inline">number</code> variable has not been injected and <code class="inline">number</code> has been quoted in the expression. In order to inject the <em>value</em> of the <code class="inline">number</code> variable, <a href="kernel.specialforms#unquote/1"><code class="inline">unquote/1</code></a> has to be used inside the quoted representation:</p>
<pre data-language="elixir">iex&gt; number = 13
iex&gt; Macro.to_string(quote do: 11 + unquote(number))
"11 + 13"</pre>
<p><a href="kernel.specialforms#unquote/1"><code class="inline">unquote/1</code></a> can even be used to inject function names:</p>
<pre data-language="elixir">iex&gt; fun = :hello
iex&gt; Macro.to_string(quote do: unquote(fun)(:world))
"hello(:world)"</pre>
<p>In some cases, it may be necessary to inject many values inside a list. For example, imagine you have a list containing <code class="inline">[1, 2, 6]</code>, and we want to inject <code class="inline">[3, 4, 5]</code> into it. Using <a href="kernel.specialforms#unquote/1"><code class="inline">unquote/1</code></a> won't yield the desired result:</p>
<pre data-language="elixir">iex&gt; inner = [3, 4, 5]
iex&gt; Macro.to_string(quote do: [1, 2, unquote(inner), 6])
"[1, 2, [3, 4, 5], 6]"</pre>
<p>That's when <a href="kernel.specialforms#unquote_splicing/1"><code class="inline">unquote_splicing/1</code></a> comes in handy:</p>
<pre data-language="elixir">iex&gt; inner = [3, 4, 5]
iex&gt; Macro.to_string(quote do: [1, 2, unquote_splicing(inner), 6])
"[1, 2, 3, 4, 5, 6]"</pre>
<p>Unquoting is very useful when working with macros. When writing macros, developers are able to receive code chunks and inject them inside other code chunks, which can be used to transform code or write code that generates code during compilation.</p>
<h2 id="escaping" class="section-heading">  <span class="text">Escaping</span> </h2> <p>As we saw at the beginning of this chapter, only some values are valid quoted expressions in Elixir. For example, a map is not a valid quoted expression. Neither is a tuple with four elements. However, such values <em>can</em> be expressed as a quoted expression:</p>
<pre data-language="elixir">iex&gt; quote do: %{1 =&gt; 2}
{:%{}, [], [{1, 2}]}</pre>
<p>In some cases, you may need to inject such <em>values</em> into <em>quoted expressions</em>. To do that, we need to first escape those values into quoted expressions with the help of <a href="macro#escape/1"><code class="inline">Macro.escape/1</code></a>:</p>
<pre data-language="elixir">iex&gt; map = %{hello: :world}
iex&gt; Macro.escape(map)
{:%{}, [], [hello: :world]}</pre>
<p>Macros receive quoted expressions and must return quoted expressions. However, sometimes during the execution of a macro, you may need to work with values and making a distinction between values and quoted expressions will be required.</p>
<p>In other words, it is important to make a distinction between a regular Elixir value (like a list, a map, a process, a reference, and so on) and a quoted expression. Some values, such as integers, atoms, and strings, have a quoted expression equal to the value itself. Other values, like maps, need to be explicitly converted. Finally, values like functions and references cannot be converted to a quoted expression at all.</p>
<p>When working with macros and code that generates code, check out the documentation for the <a href="macro"><code class="inline">Macro</code></a> module, which contains many functions to work with Elixir's AST.</p>
<p>In this introduction, we have laid the groundwork to finally write our first macro. You can check that out in the <a href="macros">next guide</a>.</p> </div> <div class="bottom-actions" id="bottom-actions"> <div class="bottom-actions-item"> <a href="macro-anti-patterns" class="bottom-actions-button" rel="prev"> <span class="subheader"> ← Previous Page </span> <span class="title"> Meta-programming anti-patterns </span> </a> </div> <div class="bottom-actions-item"> <a href="macros" class="bottom-actions-button" rel="next"> <span class="subheader"> Next Page → </span> <span class="title"> Macros </span> </a> </div> </div> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/quote-and-unquote.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/quote-and-unquote.html</a>
  </p>
</div>
