<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/range.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">Range</span>  </h1> <section id="moduledoc"> <p>Ranges represent a sequence of zero, one or many, ascending or descending integers with a common difference called step.</p>
<p>The most common form of creating and matching on ranges is via the <a href="kernel#../2"><code class="inline">first..last</code></a> and <a href="kernel#..///3"><code class="inline">first..last//step</code></a> notations, auto-imported from <a href="kernel"><code class="inline">Kernel</code></a>:</p>
<pre data-language="elixir">iex&gt; 1 in 1..10
true
iex&gt; 5 in 1..10
true
iex&gt; 10 in 1..10
true</pre>
<p>Ranges are always inclusive in Elixir. When a step is defined, integers will only belong to the range if they match the step:</p>
<pre data-language="elixir">iex&gt; 5 in 1..10//2
true
iex&gt; 4 in 1..10//2
false</pre>
<p>When defining a range without a step, the step will be defined based on the first and last position of the range, If <code class="inline">last &gt;= first</code>, it will be an increasing range with a step of 1. Otherwise, it is a decreasing range. Note, however, implicit decreasing ranges are deprecated. Therefore, if you need a decreasing range from <code class="inline">3</code> to <code class="inline">1</code>, prefer to write <code class="inline">3..1//-1</code> instead.</p>
<p><a href="kernel#../0"><code class="inline">../0</code></a> can also be used as a shortcut to create the range <code class="inline">0..-1//1</code>, also known as the full-slice range:</p>
<pre data-language="elixir">iex&gt; ..
0..-1//1</pre>
<h2 id="module-use-cases" class="section-heading">  <span class="text">Use cases</span> </h2> <p>Ranges typically have two uses in Elixir: as a collection or to represent a slice of another data structure.</p>
<h3 id="module-ranges-as-collections" class="section-heading">  <span class="text">Ranges as collections</span> </h3> <p>Ranges in Elixir are enumerables and therefore can be used with the <a href="enum"><code class="inline">Enum</code></a> module:</p>
<pre data-language="elixir">iex&gt; Enum.to_list(1..3)
[1, 2, 3]
iex&gt; Enum.to_list(3..1//-1)
[3, 2, 1]
iex&gt; Enum.to_list(1..5//2)
[1, 3, 5]</pre>
<p>Ranges may also have a single element:</p>
<pre data-language="elixir">iex&gt; Enum.to_list(1..1)
[1]
iex&gt; Enum.to_list(1..1//2)
[1]</pre>
<p>Or even no elements at all:</p>
<pre data-language="elixir">iex&gt; Enum.to_list(10..0//1)
[]
iex&gt; Enum.to_list(0..10//-1)
[]</pre>
<p>The full-slice range, returned by <a href="kernel#../0"><code class="inline">../0</code></a>, is an empty collection:</p>
<pre data-language="elixir">iex&gt; Enum.to_list(..)
[]</pre>
<h3 id="module-ranges-as-slices" class="section-heading">  <span class="text">Ranges as slices</span> </h3> <p>Ranges are also frequently used to slice collections. You can slice strings or any enumerable:</p>
<pre data-language="elixir">iex&gt; String.slice("elixir", 1..4)
"lixi"
iex&gt; Enum.slice([0, 1, 2, 3, 4, 5], 1..4)
[1, 2, 3, 4]</pre>
<p>In those cases, the first and last values of the range are mapped to positions in the collections.</p>
<p>If a negative number is given, it maps to a position from the back:</p>
<pre data-language="elixir">iex&gt; String.slice("elixir", 1..-2//1)
"lixi"
iex&gt; Enum.slice([0, 1, 2, 3, 4, 5], 1..-2//1)
[1, 2, 3, 4]</pre>
<p>The range <code class="inline">0..-1//1</code>, returned by <a href="kernel#../0"><code class="inline">../0</code></a>, returns the collection as is, which is why it is called the full-slice range:</p>
<pre data-language="elixir">iex&gt; String.slice("elixir", ..)
"elixir"
iex&gt; Enum.slice([0, 1, 2, 3, 4, 5], ..)
[0, 1, 2, 3, 4, 5]</pre>
<h2 id="module-definition" class="section-heading">  <span class="text">Definition</span> </h2> <p>An increasing range <code class="inline">first..last//step</code> is a range from <code class="inline">first</code> to <code class="inline">last</code> increasing by <code class="inline">step</code> where <code class="inline">step</code> must be a positive integer and all values <code class="inline">v</code> must be <code class="inline">first &lt;= v and v &lt;= last</code>. Therefore, a range <code class="inline">10..0//1</code> is an empty range because there is no value <code class="inline">v</code> that is <code class="inline">10 &lt;= v and v &lt;= 0</code>.</p>
<p>Similarly, a decreasing range <code class="inline">first..last//step</code> is a range from <code class="inline">first</code> to <code class="inline">last</code> decreasing by <code class="inline">step</code> where <code class="inline">step</code> must be a negative integer and values <code class="inline">v</code> must be <code class="inline">first &gt;= v and v &gt;= last</code>. Therefore, a range <code class="inline">0..10//-1</code> is an empty range because there is no value <code class="inline">v</code> that is <code class="inline">0 &gt;= v and v &gt;= 10</code>.</p>
<h2 id="module-representation" class="section-heading">  <span class="text">Representation</span> </h2> <p>Internally, ranges are represented as structs:</p>
<pre data-language="elixir">iex&gt; range = 1..9//2
1..9//2
iex&gt; first..last//step = range
iex&gt; first
1
iex&gt; last
9
iex&gt; step
2
iex&gt; range.step
2</pre>
<p>You can access the range fields (<code class="inline">first</code>, <code class="inline">last</code>, and <code class="inline">step</code>) directly but you should not modify nor create ranges by hand. Instead use the proper operators or <a href="#new/2"><code class="inline">new/2</code></a> and <a href="#new/3"><code class="inline">new/3</code></a>.</p>
<p>Ranges implement the <a href="enumerable"><code class="inline">Enumerable</code></a> protocol with memory efficient versions of all <a href="enumerable"><code class="inline">Enumerable</code></a> callbacks:</p>
<pre data-language="elixir">iex&gt; range = 1..10
1..10
iex&gt; Enum.reduce(range, 0, fn i, acc -&gt; i * i + acc end)
385
iex&gt; Enum.count(range)
10
iex&gt; Enum.member?(range, 11)
false
iex&gt; Enum.member?(range, 8)
true</pre>
<p>Such function calls are efficient memory-wise no matter the size of the range. The implementation of the <a href="enumerable"><code class="inline">Enumerable</code></a> protocol uses logic based solely on the endpoints and does not materialize the whole list of integers.</p> </section> </div> <section id="summary" class="details-list"> <h1 class="section-heading">  <span class="text">Summary</span> </h1> <h2> Types </h2>
<dl class="summary-types summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#t:limit/0" data-no-tooltip translate="no">limit()</a> </dt> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:step/0" data-no-tooltip translate="no">step()</a> </dt> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:t/0" data-no-tooltip translate="no">t()</a> </dt> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:t/2" data-no-tooltip translate="no">t(first, last)</a> </dt> </div> </dl> <h2> Functions </h2>
<dl class="summary-functions summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#disjoint?/2" data-no-tooltip translate="no">disjoint?(range1, range2)</a> </dt> <dd class="summary-synopsis"><p>Checks if two ranges are disjoint.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#new/2" data-no-tooltip translate="no">new(first, last)</a> </dt> <dd class="summary-synopsis"><p>Creates a new range.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#new/3" data-no-tooltip translate="no">new(first, last, step)</a> </dt> <dd class="summary-synopsis"><p>Creates a new range with <code class="inline">step</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#shift/2" data-no-tooltip translate="no">shift(arg, steps_to_shift)</a> </dt> <dd class="summary-synopsis"><p>Shifts a range by the given number of steps.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#size/1" data-no-tooltip translate="no">size(range)</a> </dt> <dd class="summary-synopsis"><p>Returns the size of <code class="inline">range</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#split/2" data-no-tooltip translate="no">split(range, split)</a> </dt> <dd class="summary-synopsis"><p>Splits a range in two.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#to_list/1" data-no-tooltip translate="no">to_list(arg1)</a> </dt> <dd class="summary-synopsis"><p>Converts a range to a list.</p></dd> </div> </dl> </section> <section id="types" class="details-list"> <h1 class="section-heading">  <span class="text">Types</span> </h1> <div class="types-list"> <section class="detail"> <h3 class="detail-header" id="t:limit/0">limit()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/range.ex#L162" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type limit() :: integer()</pre> </div> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:step/0">step()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/range.ex#L163" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type step() :: pos_integer() | neg_integer()</pre> </div> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:t/0">t()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/range.ex#L164" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type t() :: %Range{first: limit(), last: limit(), step: step()}</pre> </div> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:t/2">t(first, last)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/range.ex#L165" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type t(first, last) :: %Range{first: first, last: last, step: step()}</pre> </div> </section> </section> </div> </section> <section id="functions" class="details-list"> <h1 class="section-heading">  <span class="text">Functions</span> </h1> <div class="functions-list"> <section class="detail"> <h3 class="detail-header" id="disjoint?/2">disjoint?(range1, range2)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/range.ex#L464" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec disjoint?(t(), t()) :: boolean()</pre> </div> <p>Checks if two ranges are disjoint.</p>
<h4 id="disjoint?/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Range.disjoint?(1..5, 6..9)
true
iex&gt; Range.disjoint?(5..1//-1, 6..9)
true
iex&gt; Range.disjoint?(1..5, 5..9)
false
iex&gt; Range.disjoint?(1..5, 2..7)
false</pre>
<p>Steps are also considered when computing the ranges to be disjoint:</p>
<pre data-language="elixir">iex&gt; Range.disjoint?(1..10//2, 2..10//2)
true

# First element in common is 29
iex&gt; Range.disjoint?(1..100//14, 8..100//21)
false
iex&gt; Range.disjoint?(57..-1//-14, 8..100//21)
false
iex&gt; Range.disjoint?(1..100//14, 50..8//-21)
false
iex&gt; Range.disjoint?(1..28//14, 8..28//21)
true

# First element in common is 14
iex&gt; Range.disjoint?(2..28//3, 9..28//5)
false
iex&gt; Range.disjoint?(26..2//-3, 29..9//-5)
false

# Starting from the back without alignment
iex&gt; Range.disjoint?(27..11//-3, 30..0//-7)
true</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="new/2">new(first, last)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/range.ex#L186" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec new(limit(), limit()) :: t()</pre> </div> <p>Creates a new range.</p>
<p>If <code class="inline">first</code> is less than <code class="inline">last</code>, the range will be increasing from <code class="inline">first</code> to <code class="inline">last</code>. If <code class="inline">first</code> is equal to <code class="inline">last</code>, the range will contain one element, which is the number itself.</p>
<p>If <code class="inline">first</code> is greater than <code class="inline">last</code>, the range will be decreasing from <code class="inline">first</code> to <code class="inline">last</code>, albeit this behavior is deprecated. Therefore, it is advised to explicitly list the step with <a href="#new/3"><code class="inline">new/3</code></a>.</p>
<h4 id="new/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Range.new(-100, 100)
-100..100</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="new/3">new(first, last, step)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/range.ex#L209" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec new(limit(), limit(), step()) :: t()</pre> </div> <p>Creates a new range with <code class="inline">step</code>.</p>
<h4 id="new/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Range.new(-100, 100, 2)
-100..100//2</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="shift/2">shift(arg, steps_to_shift)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/range.ex#L275" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec shift(t(), integer()) :: t()</pre> </div> <p>Shifts a range by the given number of steps.</p>
<h4 id="shift/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Range.shift(0..10, 1)
1..11
iex&gt; Range.shift(0..10, 2)
2..12

iex&gt; Range.shift(0..10//2, 2)
4..14//2
iex&gt; Range.shift(10..0//-2, 2)
6..-4//-2</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="size/1">size(range)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/range.ex#L246" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec size(t()) :: non_neg_integer()</pre> </div> <p>Returns the size of <code class="inline">range</code>.</p>
<h4 id="size/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Range.size(1..10)
10
iex&gt; Range.size(1..10//2)
5
iex&gt; Range.size(1..10//3)
4
iex&gt; Range.size(1..10//-1)
0

iex&gt; Range.size(10..1//-1)
10
iex&gt; Range.size(10..1//-2)
5
iex&gt; Range.size(10..1//-3)
4
iex&gt; Range.size(10..1//1)
0</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="split/2">split(range, split)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/range.ex#L367" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec split(t(), integer()) :: {t(), t()}</pre> </div> <p>Splits a range in two.</p>
<p>It returns a tuple of two elements.</p>
<p>If <code class="inline">split</code> is less than the number of elements in the range, the first element in the range will have <code class="inline">split</code> entries and the second will have all remaining entries.</p>
<p>If <code class="inline">split</code> is more than the number of elements in the range, the second range in the tuple will emit zero elements.</p>
<h4 id="split/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <p>Increasing ranges:</p>
<pre data-language="elixir">iex&gt; Range.split(1..5, 2)
{1..2, 3..5}

iex&gt; Range.split(1..5//2, 2)
{1..3//2, 5..5//2}

iex&gt; Range.split(1..5//2, 0)
{1..-1//2, 1..5//2}

iex&gt; Range.split(1..5//2, 10)
{1..5//2, 7..5//2}</pre>
<p>Decreasing ranges can also be split:</p>
<pre data-language="elixir">iex&gt; Range.split(5..1//-1, 2)
{5..4//-1, 3..1//-1}

iex&gt; Range.split(5..1//-2, 2)
{5..3//-2, 1..1//-2}

iex&gt; Range.split(5..1//-2, 0)
{5..7//-2, 5..1//-2}

iex&gt; Range.split(5..1//-2, 10)
{5..1//-2, -1..1//-2}</pre>
<p>Empty ranges preserve their property but still return empty ranges:</p>
<pre data-language="elixir">iex&gt; Range.split(2..5//-1, 2)
{2..3//-1, 4..5//-1}

iex&gt; Range.split(2..5//-1, 10)
{2..3//-1, 4..5//-1}

iex&gt; Range.split(5..2//1, 2)
{5..4//1, 3..2//1}

iex&gt; Range.split(5..2//1, 10)
{5..4//1, 3..2//1}</pre>
<p>If the number to split is negative, it splits from the back:</p>
<pre data-language="elixir">iex&gt; Range.split(1..5, -2)
{1..3, 4..5}

iex&gt; Range.split(5..1//-1, -2)
{5..3//-1, 2..1//-1}</pre>
<p>If it is negative and greater than the elements in the range, the first element of the tuple will be an empty range:</p>
<pre data-language="elixir">iex&gt; Range.split(1..5, -10)
{1..0//1, 1..5}

iex&gt; Range.split(5..1//-1, -10)
{5..6//-1, 5..1//-1}</pre>
<h4 id="split/2-properties" class="section-heading">  <span class="text">Properties</span> </h4> <p>When a range is split, the following properties are observed. Given <code class="inline">split(input)</code> returns <code class="inline">{left, right}</code>, we have:</p>
<pre data-language="elixir">assert input.first == left.first
assert input.last == right.last
assert input.step == left.step
assert input.step == right.step
assert Range.size(input) == Range.size(left) + Range.size(right)</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="to_list/1">to_list(arg1)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/range.ex#L406" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec to_list(t()) :: [integer()]</pre> </div> <p>Converts a range to a list.</p>
<h4 id="to_list/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Range.to_list(0..5)
[0, 1, 2, 3, 4, 5]
iex&gt; Range.to_list(-3..0)
[-3, -2, -1, 0]</pre> </section> </section> </div> </section> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/Range.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/Range.html</a>
  </p>
</div>
