<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/record.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">Record</span>  </h1> <section id="moduledoc"> <p>Module to work with, define, and import records.</p>
<p>Records are simply tuples where the first element is an atom:</p>
<pre data-language="elixir">iex&gt; Record.is_record({User, "john", 27})
true</pre>
<p>This module provides conveniences for working with records at compilation time, where compile-time field names are used to manipulate the tuples, providing fast operations on top of the tuples' compact structure.</p>
<p>In Elixir, records are used mostly in two situations:</p>
<ol>
<li>to work with short, internal data</li>
<li>to interface with Erlang records</li>
</ol>
<p>The macros <a href="#defrecord/3"><code class="inline">defrecord/3</code></a> and <a href="#defrecordp/3"><code class="inline">defrecordp/3</code></a> can be used to create records while <a href="#extract/2"><code class="inline">extract/2</code></a> and <a href="#extract_all/1"><code class="inline">extract_all/1</code></a> can be used to extract records from Erlang files.</p>
<h2 id="module-types" class="section-heading">  <span class="text">Types</span> </h2> <p>Types can be defined for tuples with the <code class="inline">record/2</code> macro (only available in typespecs). This macro will expand to a tuple as seen in the example below:</p>
<pre data-language="elixir">defmodule MyModule do
  require Record
  Record.defrecord(:user, name: "john", age: 25)

  @type user :: record(:user, name: String.t(), age: integer)
  # expands to: "@type user :: {:user, String.t(), integer}"
end</pre>
<h2 id="module-reflection" class="section-heading">  <span class="text">Reflection</span> </h2> <p>A list of all records in a module, if any, can be retrieved by reading the <code class="inline">@__records__</code> module attribute. It returns a list of maps with the record kind, name, tag, and fields. The attribute is only available inside the module definition.</p> </section> </div> <section id="summary" class="details-list"> <h1 class="section-heading">  <span class="text">Summary</span> </h1> <h2> Guards </h2>
<dl class="summary-guards summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#is_record/1" data-no-tooltip translate="no">is_record(data)</a> </dt> <dd class="summary-synopsis"><p>Checks if the given <code class="inline">data</code> is a record.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#is_record/2" data-no-tooltip translate="no">is_record(data, kind)</a> </dt> <dd class="summary-synopsis"><p>Checks if the given <code class="inline">data</code> is a record of kind <code class="inline">kind</code>.</p></dd> </div> </dl> <h2> Functions </h2>
<dl class="summary-functions summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#defrecord/3" data-no-tooltip translate="no">defrecord(name, tag \\ nil, kv)</a> </dt> <dd class="summary-synopsis"><p>Defines a set of macros to create, access, and pattern match on a record.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#defrecordp/3" data-no-tooltip translate="no">defrecordp(name, tag \\ nil, kv)</a> </dt> <dd class="summary-synopsis"><p>Same as <a href="#defrecord/3"><code class="inline">defrecord/3</code></a> but generates private macros.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#extract/2" data-no-tooltip translate="no">extract(name, opts)</a> </dt> <dd class="summary-synopsis"><p>Extracts record information from an Erlang file.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#extract_all/1" data-no-tooltip translate="no">extract_all(opts)</a> </dt> <dd class="summary-synopsis"><p>Extracts all records information from an Erlang file.</p></dd> </div> </dl> </section> <section id="guards" class="details-list"> <h1 class="section-heading">  <span class="text">Guards</span> </h1> <div class="guards-list"> <section class="detail"> <h3 class="detail-header" id="is_record/1">is_record(data)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/record.ex#L154" class="source">Source</a>
</h3> <section class="docstring"> <p>Checks if the given <code class="inline">data</code> is a record.</p>
<p>This is implemented as a macro so it can be used in guard clauses.</p>
<h4 id="is_record/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">Record.is_record({User, "john", 27})
#=&gt; true

Record.is_record({})
#=&gt; false</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="is_record/2">is_record(data, kind)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/record.ex#L136" class="source">Source</a>
</h3> <section class="docstring"> <p>Checks if the given <code class="inline">data</code> is a record of kind <code class="inline">kind</code>.</p>
<p>This is implemented as a macro so it can be used in guard clauses.</p>
<h4 id="is_record/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; record = {User, "john", 27}
iex&gt; Record.is_record(record, User)
true</pre> </section> </section> </div> </section> <section id="functions" class="details-list"> <h1 class="section-heading">  <span class="text">Functions</span> </h1> <div class="functions-list"> <section class="detail">  <h3 class="detail-header" id="defrecord/3">defrecord(name, tag \\ nil, kv)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/record.ex#L251" class="source">Source</a>
</h3> <section class="docstring"> <p>Defines a set of macros to create, access, and pattern match on a record.</p>
<p>The name of the generated macros will be <code class="inline">name</code> (which has to be an atom). <code class="inline">tag</code> is also an atom and is used as the "tag" for the record (i.e., the first element of the record tuple); by default (if <code class="inline">nil</code>), it's the same as <code class="inline">name</code>. <code class="inline">kv</code> is a keyword list of <code class="inline">name: default_value</code> fields for the new record.</p>
<p>The following macros are generated:</p>
<ul>
<li>
<code class="inline">name/0</code> to create a new record with default values for all fields</li>
<li>
<code class="inline">name/1</code> to create a new record with the given fields and values, to get the zero-based index of the given field in a record or to convert the given record to a keyword list</li>
<li>
<code class="inline">name/2</code> to update an existing record with the given fields and values or to access a given field in a given record</li>
</ul>
<p>All these macros are public macros (as defined by <code class="inline">defmacro</code>).</p>
<p>See the "Examples" section for examples on how to use these macros.</p>
<h4 id="defrecord/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">defmodule User do
  require Record
  Record.defrecord(:user, name: "meg", age: "25")
end</pre>
<p>In the example above, a set of macros named <code class="inline">user</code> but with different arities will be defined to manipulate the underlying record.</p>
<pre data-language="elixir"># Import the module to make the user macros locally available
import User

# To create records
record = user()        #=&gt; {:user, "meg", 25}
record = user(age: 26) #=&gt; {:user, "meg", 26}

# To get a field from the record
user(record, :name) #=&gt; "meg"

# To update the record
user(record, age: 26) #=&gt; {:user, "meg", 26}

# To get the zero-based index of the field in record tuple
# (index 0 is occupied by the record "tag")
user(:name) #=&gt; 1

# Convert a record to a keyword list
user(record) #=&gt; [name: "meg", age: 26]</pre>
<p>The generated macros can also be used in order to pattern match on records and to bind variables during the match:</p>
<pre data-language="elixir">record = user() #=&gt; {:user, "meg", 25}

user(name: name) = record
name #=&gt; "meg"</pre>
<p>By default, Elixir uses the record name as the first element of the tuple (the "tag"). However, a different tag can be specified when defining a record, as in the following example, in which we use <code class="inline">Customer</code> as the second argument of <a href="#defrecord/3"><code class="inline">defrecord/3</code></a>:</p>
<pre data-language="elixir">defmodule User do
  require Record
  Record.defrecord(:user, Customer, name: nil)
end

require User
User.user() #=&gt; {Customer, nil}</pre>
<h4 id="defrecord/3-defining-extracted-records-with-anonymous-functions-in-the-values" class="section-heading">  <span class="text">Defining extracted records with anonymous functions in the values</span> </h4> <p>If a record defines an anonymous function in the default values, an <a href="argumenterror"><code class="inline">ArgumentError</code></a> will be raised. This can happen unintentionally when defining a record after extracting it from an Erlang library that uses anonymous functions for defaults.</p>
<pre data-language="elixir">Record.defrecord(:my_rec, Record.extract(...))
** (ArgumentError) invalid value for record field fun_field,
    cannot escape #Function&lt;12.90072148/2 in :erl_eval.expr/5&gt;.</pre>
<p>To work around this error, redefine the field with your own &amp;M.f/a function, like so:</p>
<pre data-language="elixir">defmodule MyRec do
  require Record
  Record.defrecord(:my_rec, Record.extract(...) |&gt; Keyword.merge(fun_field: &amp;__MODULE__.foo/2))
  def foo(bar, baz), do: IO.inspect({bar, baz})
end</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="defrecordp/3">defrecordp(name, tag \\ nil, kv)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/record.ex#L269" class="source">Source</a>
</h3> <section class="docstring"> <p>Same as <a href="#defrecord/3"><code class="inline">defrecord/3</code></a> but generates private macros.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="extract/2">extract(name, opts)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/record.ex#L103" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec extract(
  name :: atom(),
  keyword()
) :: keyword()</pre> </div> <p>Extracts record information from an Erlang file.</p>
<p>Returns a quoted expression containing the fields as a list of tuples.</p>
<p><code class="inline">name</code>, which is the name of the extracted record, is expected to be an atom <em>at compile time</em>.</p>
<h4 id="extract/2-options" class="section-heading">  <span class="text">Options</span> </h4> <p>This function requires one of the following options, which are exclusive to each other (i.e., only one of them can be used in the same call):</p>
<ul>
<li><p><code class="inline">:from</code> - (binary representing a path to a file) path to the Erlang file that contains the record definition to extract; with this option, this function uses the same path lookup used by the <code class="inline">-include</code> attribute used in Erlang modules.</p></li>
<li><p><code class="inline">:from_lib</code> - (binary representing a path to a file) path to the Erlang file that contains the record definition to extract; with this option, this function uses the same path lookup used by the <code class="inline">-include_lib</code> attribute used in Erlang modules.</p></li>
</ul>
<p>It additionally accepts the following optional, non-exclusive options:</p>
<ul>
<li><p><code class="inline">:includes</code> - (a list of directories as binaries) if the record being extracted depends on relative includes, this option allows developers to specify the directory where those relative includes exist.</p></li>
<li><p><code class="inline">:macros</code> - (keyword list of macro names and values) if the record being extracted depends on the values of macros, this option allows the value of those macros to be set.</p></li>
</ul>
<p>These options are expected to be literals (including the binary values) at compile time.</p>
<h4 id="extract/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Record.extract(:file_info, from_lib: "kernel/include/file.hrl")
[
  size: :undefined,
  type: :undefined,
  access: :undefined,
  atime: :undefined,
  mtime: :undefined,
  ctime: :undefined,
  mode: :undefined,
  links: :undefined,
  major_device: :undefined,
  minor_device: :undefined,
  inode: :undefined,
  uid: :undefined,
  gid: :undefined
]</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="extract_all/1">extract_all(opts)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/record.ex#L120" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec extract_all(keyword()) :: [{name :: atom(), keyword()}]</pre> </div> <p>Extracts all records information from an Erlang file.</p>
<p>Returns a keyword list of <code class="inline">{record_name, fields}</code> tuples where <code class="inline">record_name</code> is the name of an extracted record and <code class="inline">fields</code> is a list of <code class="inline">{field, value}</code> tuples representing the fields for that record.</p>
<h4 id="extract_all/1-options" class="section-heading">  <span class="text">Options</span> </h4> <p>Accepts the same options as listed for <a href="#extract/2"><code class="inline">Record.extract/2</code></a>.</p> </section> </section> </div> </section> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/Record.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/Record.html</a>
  </p>
</div>
