<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/pages/getting-started/recursion.md#L1" title="View Source" class="source" rel="help">Source</a> <span>Recursion</span> </h1> <p>Elixir does not provide loop constructs. Instead we leverage recursion and high-level functions for working with collections. This chapter will explore the former.</p>
<h2 id="loops-through-recursion" class="section-heading">  <span class="text">Loops through recursion</span> </h2> <p>Due to immutability, loops in Elixir (as in any functional programming language) are written differently from imperative languages. For example, in an imperative language like C, one would write:</p>
<pre data-language="elixir">for(i = 0; i &lt; sizeof(array); i++) {
  array[i] = array[i] * 2;
}</pre>
<p>In the example above, we are mutating both the array and the variable <code class="inline">i</code>. However, data structures in Elixir are immutable. For this reason, functional languages rely on recursion: a function is called recursively until a condition is reached that stops the recursive action from continuing. No data is mutated in this process. Consider the example below that prints a string an arbitrary number of times:</p>
<pre data-language="elixir">defmodule Recursion do
  def print_multiple_times(msg, n) when n &gt; 0 do
    IO.puts(msg)
    print_multiple_times(msg, n - 1)
  end

  def print_multiple_times(_msg, 0) do
    :ok
  end
end

Recursion.print_multiple_times("Hello!", 3)
# Hello!
# Hello!
# Hello!
:ok</pre>
<p>Similar to <code class="inline">case</code>, a function may have many clauses. A particular clause is executed when the arguments passed to the function match the clause's argument patterns and its guards evaluate to <code class="inline">true</code>.</p>
<p>When <code class="inline">print_multiple_times/2</code> is initially called in the example above, the argument <code class="inline">n</code> is equal to <code class="inline">3</code>.</p>
<p>The first clause has a guard which says "use this definition if and only if <code class="inline">n</code> is more than <code class="inline">0</code>". Since this is the case, it prints the <code class="inline">msg</code> and then calls itself passing <code class="inline">n - 1</code> (<code class="inline">2</code>) as the second argument.</p>
<p>Now we execute the same function again, starting from the first clause. Given the second argument, <code class="inline">n</code>, is still more than 0, we print the message and call ourselves once more, now with the second argument set to <code class="inline">1</code>. Then we print the message one last time and call <code class="inline">print_multiple_times("Hello!", 0)</code>, starting from the top once again.</p>
<p>When the second argument is zero, the guard <code class="inline">n &gt; 0</code> evaluates to false, and the first function clause won't execute. Elixir then proceeds to try the next function clause, which explicitly matches on the case where <code class="inline">n</code> is <code class="inline">0</code>. This clause, also known as the termination clause, ignores the message argument by assigning it to the <code class="inline">_msg</code> variable and returns the atom <code class="inline">:ok</code>.</p>
<p>Finally, if you pass an argument that does not match any clause, Elixir raises a <a href="functionclauseerror"><code class="inline">FunctionClauseError</code></a>:</p>
<pre data-language="elixir">iex&gt; Recursion.print_multiple_times "Hello!", -1
** (FunctionClauseError) no function clause matching in Recursion.print_multiple_times/2

    The following arguments were given to Recursion.print_multiple_times/2:

        # 1
        "Hello!"

        # 2
        -1

    iex:1: Recursion.print_multiple_times/2</pre>
<h2 id="reduce-and-map-algorithms" class="section-heading">  <span class="text">Reduce and map algorithms</span> </h2> <p>Let's now see how we can use the power of recursion to sum a list of numbers:</p>
<pre data-language="elixir">defmodule Math do
  def sum_list([head | tail], accumulator) do
    sum_list(tail, head + accumulator)
  end

  def sum_list([], accumulator) do
    accumulator
  end
end

IO.puts Math.sum_list([1, 2, 3], 0) #=&gt; 6</pre>
<p>We invoke <code class="inline">sum_list</code> with the list <code class="inline">[1, 2, 3]</code> and the initial value <code class="inline">0</code> as arguments. We will try each clause until we find one that matches according to the pattern matching rules. In this case, the list <code class="inline">[1, 2, 3]</code> matches against <code class="inline">[head | tail]</code> which binds <code class="inline">head</code> to <code class="inline">1</code> and <code class="inline">tail</code> to <code class="inline">[2, 3]</code>; <code class="inline">accumulator</code> is set to <code class="inline">0</code>.</p>
<p>Then, we add the head of the list to the accumulator <code class="inline">head + accumulator</code> and call <code class="inline">sum_list</code> again, recursively, passing the tail of the list as its first argument. The tail will once again match <code class="inline">[head | tail]</code> until the list is empty, as seen below:</p>
<pre data-language="elixir">sum_list [1, 2, 3], 0
sum_list [2, 3], 1
sum_list [3], 3
sum_list [], 6</pre>
<p>When the list is empty, it will match the final clause which returns the final result of <code class="inline">6</code>.</p>
<p>The process of taking a list and <em>reducing</em> it down to one value is known as a <em>reduce algorithm</em> and is central to functional programming.</p>
<p>What if we instead want to double all of the values in our list?</p>
<pre data-language="elixir">defmodule Math do
  def double_each([head | tail]) do
    [head * 2 | double_each(tail)]
  end

  def double_each([]) do
    []
  end
end</pre>
<pre data-language="elixir">$ iex math.exs
</pre>
<pre data-language="elixir">iex&gt; Math.double_each([1, 2, 3]) #=&gt; [2, 4, 6]</pre>
<p>Here we have used recursion to traverse a list, doubling each element and returning a new list. The process of taking a list and <em>mapping</em> over it is known as a <em>map algorithm</em>.</p>
<p>Recursion and <a href="https://en.wikipedia.org/wiki/Tail_call">tail call</a> optimization are an important part of Elixir and are commonly used to create loops. However, when programming in Elixir you will rarely use recursion as above to manipulate lists.</p>
<p>The <a href="enum"><code class="inline">Enum</code></a> module, which we're going to see in the next chapter already provides many conveniences for working with lists. For instance, the examples above could be written as:</p>
<pre data-language="elixir">iex&gt; Enum.reduce([1, 2, 3], 0, fn x, acc -&gt; x + acc end)
6
iex&gt; Enum.map([1, 2, 3], fn x -&gt; x * 2 end)
[2, 4, 6]</pre>
<p>Or, using the capture syntax:</p>
<pre data-language="elixir">iex&gt; Enum.reduce([1, 2, 3], 0, &amp;+/2)
6
iex&gt; Enum.map([1, 2, 3], &amp;(&amp;1 * 2))
[2, 4, 6]</pre>
<p>Let's take a deeper look at <a href="enumerable"><code class="inline">Enumerable</code></a> and, while we're at it, its lazy counterpart, <a href="stream"><code class="inline">Stream</code></a>.</p> </div> <div class="bottom-actions" id="bottom-actions"> <div class="bottom-actions-item"> <a href="modules-and-functions" class="bottom-actions-button" rel="prev"> <span class="subheader"> ← Previous Page </span> <span class="title"> Modules and functions </span> </a> </div> <div class="bottom-actions-item"> <a href="enumerable-and-streams" class="bottom-actions-button" rel="next"> <span class="subheader"> Next Page → </span> <span class="title"> Enumerables and Streams </span> </a> </div> </div> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/recursion.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/recursion.html</a>
  </p>
</div>
