<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/regex.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">Regex</span>  </h1> <section id="moduledoc"> <p>Provides regular expressions for Elixir.</p>
<p>Regex is based on PCRE (Perl Compatible Regular Expressions) and built on top of Erlang's <code class="inline">:re</code> module. More information can be found in the <a href="https://www.erlang.org/doc/apps/stdlib/re.html"><code class="inline">:re</code> module documentation</a>.</p>
<p>Regular expressions in Elixir can be created using the sigils <code class="inline">~r</code> (see <a href="kernel#sigil_r/2"><code class="inline">sigil_r/2</code></a>):</p>
<pre data-language="elixir"># A simple regular expression that matches foo anywhere in the string
~r/foo/

# A regular expression with case insensitive and Unicode options
~r/foo/iu</pre>
<p>Regular expressions created via sigils are pre-compiled and stored in the <code class="inline">.beam</code> file. Note that this may be a problem if you are precompiling Elixir, see the "Precompilation" section for more information.</p>
<p>A Regex is represented internally as the <a href="regex"><code class="inline">Regex</code></a> struct. Therefore, <code class="inline">%Regex{}</code> can be used whenever there is a need to match on them. Keep in mind that all of the structs fields are private. There is also not guarantee two regular expressions from the same source are equal, for example:</p>
<pre data-language="elixir">~r/(?&lt;foo&gt;.)(?&lt;bar&gt;.)/ == ~r/(?&lt;foo&gt;.)(?&lt;bar&gt;.)/</pre>
<p>may return <code class="inline">true</code> or <code class="inline">false</code> depending on your machine, endianness, available optimizations and others. You can, however, retrieve the source of a compiled regular expression by accessing the <code class="inline">source</code> field, and then compare those directly:</p>
<pre data-language="elixir">~r/(?&lt;foo&gt;.)(?&lt;bar&gt;.)/.source == ~r/(?&lt;foo&gt;.)(?&lt;bar&gt;.)/.source</pre>
<h2 id="module-escapes" class="section-heading">  <span class="text">Escapes</span> </h2> <p>Escape sequences are split into two categories.</p>
<h3 id="module-non-printing-characters" class="section-heading">  <span class="text">Non-printing characters</span> </h3> <ul>
<li>
<code class="inline">\a</code> - Alarm, that is, the BEL character (hex 07)</li>
<li>
<code class="inline">\e</code> - Escape (hex 1B)</li>
<li>
<code class="inline">\f</code> - Form feed (hex 0C)</li>
<li>
<code class="inline">\n</code> - Line feed (hex 0A)</li>
<li>
<code class="inline">\r</code> - Carriage return (hex 0D)</li>
<li>
<code class="inline">\t</code> - Tab (hex 09)</li>
<li>
<code class="inline">\xhh</code> - Character with hex code hh</li>
<li>
<code class="inline">\x{hhh..}</code> - Character with hex code hhh..</li>
</ul>
<p><code class="inline">\u</code> and <code class="inline">\U</code> are not supported. Other escape sequences, such as <code class="inline">\ddd</code> for octals, are supported but discouraged.</p>
<h3 id="module-generic-character-types" class="section-heading">  <span class="text">Generic character types</span> </h3> <ul>
<li>
<code class="inline">\d</code> - Any decimal digit</li>
<li>
<code class="inline">\D</code> - Any character that is not a decimal digit</li>
<li>
<code class="inline">\h</code> - Any horizontal whitespace character</li>
<li>
<code class="inline">\H</code> - Any character that is not a horizontal whitespace character</li>
<li>
<code class="inline">\s</code> - Any whitespace character</li>
<li>
<code class="inline">\S</code> - Any character that is not a whitespace character</li>
<li>
<code class="inline">\v</code> - Any vertical whitespace character</li>
<li>
<code class="inline">\V</code> - Any character that is not a vertical whitespace character</li>
<li>
<code class="inline">\w</code> - Any "word" character</li>
<li>
<code class="inline">\W</code> - Any "non-word" character</li>
</ul>
<h2 id="module-modifiers" class="section-heading">  <span class="text">Modifiers</span> </h2> <p>The modifiers available when creating a Regex are:</p>
<ul>
<li><p><code class="inline">:unicode</code> (u) - enables Unicode specific patterns like <code class="inline">\p</code> and causes character classes like <code class="inline">\w</code>, <code class="inline">\W</code>, <code class="inline">\s</code>, and the like to also match on Unicode (see examples below in "Character classes"). It expects valid Unicode strings to be given on match</p></li>
<li><p><code class="inline">:caseless</code> (i) - adds case insensitivity</p></li>
<li><p><code class="inline">:dotall</code> (s) - causes dot to match newlines and also set newline to anycrlf; the new line setting can be overridden by setting <code class="inline">(*CR)</code> or <code class="inline">(*LF)</code> or <code class="inline">(*CRLF)</code> or <code class="inline">(*ANY)</code> according to <code class="inline">:re</code> documentation</p></li>
<li><p><code class="inline">:multiline</code> (m) - causes <code class="inline">^</code> and <code class="inline">$</code> to mark the beginning and end of each line; use <code class="inline">\A</code> and <code class="inline">\z</code> to match the end or beginning of the string</p></li>
<li><p><code class="inline">:extended</code> (x) - whitespace characters are ignored except when escaped or within <code class="inline">[..]</code>, and allow <code class="inline">#</code> to delimit comments</p></li>
<li><p><code class="inline">:firstline</code> (f) - forces the unanchored pattern to match before or at the first newline, though the matched text may continue over the newline</p></li>
<li><p><code class="inline">:ungreedy</code> (U) - inverts the "greediness" of the regexp (the previous <code class="inline">r</code> option is deprecated in favor of <code class="inline">U</code>)</p></li>
</ul>
<p>The options not available are:</p>
<ul>
<li>
<code class="inline">:anchored</code> - not available, use <code class="inline">^</code> or <code class="inline">\A</code> instead</li>
<li>
<code class="inline">:dollar_endonly</code> - not available, use <code class="inline">\z</code> instead</li>
<li>
<code class="inline">:no_auto_capture</code> - not available, use <code class="inline">?:</code> instead</li>
<li>
<code class="inline">:newline</code> - not available, use <code class="inline">(*CR)</code> or <code class="inline">(*LF)</code> or <code class="inline">(*CRLF)</code> or <code class="inline">(*ANYCRLF)</code> or <code class="inline">(*ANY)</code> at the beginning of the regexp according to the <code class="inline">:re</code> documentation</li>
</ul>
<h2 id="module-captures" class="section-heading">  <span class="text">Captures</span> </h2> <p>Many functions in this module handle what to capture in a regex match via the <code class="inline">:capture</code> option. The supported values are:</p>
<ul>
<li><p><code class="inline">:all</code> - all captured subpatterns including the complete matching string (this is the default)</p></li>
<li><p><code class="inline">:first</code> - only the first captured subpattern, which is always the complete matching part of the string; all explicitly captured subpatterns are discarded</p></li>
<li><p><code class="inline">:all_but_first</code> - all but the first matching subpattern, i.e. all explicitly captured subpatterns, but not the complete matching part of the string</p></li>
<li><p><code class="inline">:none</code> - does not return matching subpatterns at all</p></li>
<li><p><code class="inline">:all_names</code> - captures all named subpattern matches in the Regex as a list ordered <strong>alphabetically</strong> by the names of the subpatterns</p></li>
<li><p><code class="inline">list(binary | atom)</code> - a list of named captures to capture</p></li>
</ul>
<h2 id="module-character-classes" class="section-heading">  <span class="text">Character classes</span> </h2> <p>Regex supports several built in named character classes. These are used by enclosing the class name in <code class="inline">[: :]</code> inside a group. For example:</p>
<pre data-language="elixir">iex&gt; String.match?("123", ~r/^[[:alnum:]]+$/)
true
iex&gt; String.match?("123 456", ~r/^[[:alnum:][:blank:]]+$/)
true</pre>
<p>The supported class names are:</p>
<ul>
<li>alnum - Letters and digits</li>
<li>alpha - Letters</li>
<li>blank - Space or tab only</li>
<li>cntrl - Control characters</li>
<li>digit - Decimal digits (same as \d)</li>
<li>graph - Printing characters, excluding space</li>
<li>lower - Lowercase letters</li>
<li>print - Printing characters, including space</li>
<li>punct - Printing characters, excluding letters, digits, and space</li>
<li>space - Whitespace (the same as \s from PCRE 8.34)</li>
<li>upper - Uppercase letters</li>
<li>word - "Word" characters (same as \w)</li>
<li>xdigit - Hexadecimal digits</li>
</ul>
<p>There is another character class, <code class="inline">ascii</code>, that erroneously matches Latin-1 characters instead of the 0-127 range specified by POSIX. This cannot be fixed without altering the behavior of other classes, so we recommend matching the range with <code class="inline">[\\0-\x7f]</code> instead.</p>
<p>Note the behavior of those classes may change according to the Unicode and other modifiers:</p>
<pre data-language="elixir">iex&gt; String.match?("josé", ~r/^[[:lower:]]+$/)
false
iex&gt; String.match?("josé", ~r/^[[:lower:]]+$/u)
true
iex&gt; Regex.replace(~r/\s/, "Unicode\u00A0spaces", "-")
"Unicode spaces"
iex&gt; Regex.replace(~r/\s/u, "Unicode\u00A0spaces", "-")
"Unicode-spaces"</pre>
<h2 id="module-precompilation" class="section-heading">  <span class="text">Precompilation</span> </h2> <p>Regular expressions built with sigil are precompiled and stored in <code class="inline">.beam</code> files. Precompiled regexes will be checked in runtime and may work slower between operating systems and OTP releases. This is rarely a problem, as most Elixir code shared during development is compiled on the target (such as dependencies, archives, and escripts) and, when running in production, the code must either be compiled on the target (via <a href="https://hexdocs.pm/mix/Mix.Tasks.Compile.html"><code class="inline">mix compile</code></a> or similar) or released on the host (via <code class="inline">mix releases</code> or similar) with a matching OTP, operating system and architecture as the target.</p>
<p>If you know you are running on a different system than the current one and you are doing multiple matches with the regex, you can manually invoke <a href="#recompile/1"><code class="inline">Regex.recompile/1</code></a> or <a href="#recompile!/1"><code class="inline">Regex.recompile!/1</code></a> to perform a runtime version check and recompile the regex if necessary.</p> </section> </div> <section id="summary" class="details-list"> <h1 class="section-heading">  <span class="text">Summary</span> </h1> <h2> Types </h2>
<dl class="summary-types summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#t:t/0" data-no-tooltip translate="no">t()</a> </dt> </div> </dl> <h2> Functions </h2>
<dl class="summary-functions summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#compile/2" data-no-tooltip translate="no">compile(source, opts \\ "")</a> </dt> <dd class="summary-synopsis"><p>Compiles the regular expression.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#compile!/2" data-no-tooltip translate="no">compile!(source, options \\ "")</a> </dt> <dd class="summary-synopsis"><p>Compiles the regular expression and raises <a href="regex.compileerror"><code class="inline">Regex.CompileError</code></a> in case of errors.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#escape/1" data-no-tooltip translate="no">escape(string)</a> </dt> <dd class="summary-synopsis"><p>Escapes a string to be literally matched in a regex.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#match?/2" data-no-tooltip translate="no">match?(regex, string)</a> </dt> <dd class="summary-synopsis"><p>Returns a boolean indicating whether there was a match or not.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#named_captures/3" data-no-tooltip translate="no">named_captures(regex, string, options \\ [])</a> </dt> <dd class="summary-synopsis"><p>Returns the given captures as a map or <code class="inline">nil</code> if no captures are found.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#names/1" data-no-tooltip translate="no">names(regex)</a> </dt> <dd class="summary-synopsis"><p>Returns a list of names in the regex.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#opts/1" data-no-tooltip translate="no">opts(regex)</a> </dt> <dd class="summary-synopsis"><p>Returns the regex options.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#re_pattern/1" data-no-tooltip translate="no">re_pattern(regex)</a> </dt> <dd class="summary-synopsis"><p>Returns the underlying <code class="inline">re_pattern</code> in the regular expression.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#recompile/1" data-no-tooltip translate="no">recompile(regex)</a> </dt> <dd class="summary-synopsis"><p>Recompiles the existing regular expression if necessary.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#recompile!/1" data-no-tooltip translate="no">recompile!(regex)</a> </dt> <dd class="summary-synopsis"><p>Recompiles the existing regular expression and raises <a href="regex.compileerror"><code class="inline">Regex.CompileError</code></a> in case of errors.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#replace/4" data-no-tooltip translate="no">replace(regex, string, replacement, options \\ [])</a> </dt> <dd class="summary-synopsis"><p>Receives a regex, a binary and a replacement, returns a new binary where all matches are replaced by the replacement.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#run/3" data-no-tooltip translate="no">run(regex, string, options \\ [])</a> </dt> <dd class="summary-synopsis"><p>Runs the regular expression against the given string until the first match. It returns a list with all captures or <code class="inline">nil</code> if no match occurred.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#scan/3" data-no-tooltip translate="no">scan(regex, string, options \\ [])</a> </dt> <dd class="summary-synopsis"><p>Same as <a href="#run/3"><code class="inline">run/3</code></a> but returns all non-overlapping matches of the regular expression.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#source/1" data-no-tooltip translate="no">source(regex)</a> </dt> <dd class="summary-synopsis"><p>Returns the regex source as a binary.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#split/3" data-no-tooltip translate="no">split(regex, string, options \\ [])</a> </dt> <dd class="summary-synopsis"><p>Splits the given target based on the given pattern and in the given number of parts.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#version/0" data-no-tooltip translate="no">version()</a> </dt> <dd class="summary-synopsis"><p>Returns the version of the underlying Regex engine.</p></dd> </div> </dl> </section> <section id="types" class="details-list"> <h1 class="section-heading">  <span class="text">Types</span> </h1> <div class="types-list"> <section class="detail"> <h3 class="detail-header" id="t:t/0">t()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/regex.ex#L189" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type t() :: %Regex{
  opts: binary() | [term()],
  re_pattern: term(),
  re_version: term(),
  source: binary()
}</pre> </div> </section> </section> </div> </section> <section id="functions" class="details-list"> <h1 class="section-heading">  <span class="text">Functions</span> </h1> <div class="functions-list"> <section class="detail">  <h3 class="detail-header" id="compile/2">compile(source, opts \\ "")<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/regex.ex#L226" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec compile(binary(), binary() | [term()]) :: {:ok, t()} | {:error, any()}</pre> </div> <p>Compiles the regular expression.</p>
<p>The given options can either be a binary with the characters representing the same regex options given to the <code class="inline">~r</code> (see <a href="kernel#sigil_r/2"><code class="inline">sigil_r/2</code></a>) sigil, or a list of options, as expected by the Erlang's <a href="https://www.erlang.org/doc/apps/stdlib/re.html"><code class="inline">:re</code></a> module.</p>
<p>It returns <code class="inline">{:ok, regex}</code> in case of success, <code class="inline">{:error, reason}</code> otherwise.</p>
<h4 id="compile/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Regex.compile("foo")
{:ok, ~r/foo/}

iex&gt; Regex.compile("*foo")
{:error, {~c"nothing to repeat", 0}}

iex&gt; Regex.compile("foo", "i")
{:ok, ~r/foo/i}

iex&gt; Regex.compile("foo", [:caseless])
{:ok, Regex.compile!("foo", [:caseless])}</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="compile!/2">compile!(source, options \\ "")<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/regex.ex#L254" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec compile!(binary(), binary() | [term()]) :: t()</pre> </div> <p>Compiles the regular expression and raises <a href="regex.compileerror"><code class="inline">Regex.CompileError</code></a> in case of errors.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="escape/1">escape(string)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/regex.ex#L871" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec escape(String.t()) :: String.t()</pre> </div> <p>Escapes a string to be literally matched in a regex.</p>
<h4 id="escape/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Regex.escape(".")
"\\."

iex&gt; Regex.escape("\\what if")
"\\\\what\\ if"</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="match?/2">match?(regex, string)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/regex.ex#L319" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec match?(t(), String.t()) :: boolean()</pre> </div> <p>Returns a boolean indicating whether there was a match or not.</p>
<h4 id="match?/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Regex.match?(~r/foo/, "foo")
true

iex&gt; Regex.match?(~r/foo/, "bar")
false</pre>
<p>Elixir also provides text-based match operator <a href="kernel#=~/2"><code class="inline">=~/2</code></a> and function <a href="string#match?/2"><code class="inline">String.match?/2</code></a> as an alternative to test strings against regular expressions and strings.</p> </section> </section> <section class="detail">  <h3 class="detail-header" id="named_captures/3">named_captures(regex, string, options \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/regex.ex#L396" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec named_captures(t(), String.t(), [term()]) :: map() | nil</pre> </div> <p>Returns the given captures as a map or <code class="inline">nil</code> if no captures are found.</p>
<h4 id="named_captures/3-options" class="section-heading">  <span class="text">Options</span> </h4> <ul><li>
<code class="inline">:return</code> - when set to <code class="inline">:index</code>, returns byte index and match length. Defaults to <code class="inline">:binary</code>.</li></ul>
<h4 id="named_captures/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Regex.named_captures(~r/c(?&lt;foo&gt;d)/, "abcd")
%{"foo" =&gt; "d"}

iex&gt; Regex.named_captures(~r/a(?&lt;foo&gt;b)c(?&lt;bar&gt;d)/, "abcd")
%{"bar" =&gt; "d", "foo" =&gt; "b"}

iex&gt; Regex.named_captures(~r/a(?&lt;foo&gt;b)c(?&lt;bar&gt;d)/, "efgh")
nil</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="names/1">names(regex)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/regex.ex#L454" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec names(t()) :: [String.t()]</pre> </div> <p>Returns a list of names in the regex.</p>
<h4 id="names/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Regex.names(~r/(?&lt;foo&gt;bar)/)
["foo"]</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="opts/1">opts(regex)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/regex.ex#L440" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec opts(t()) :: [term()]</pre> </div> <p>Returns the regex options.</p>
<p>See the documentation of <a href="#compile/2"><code class="inline">Regex.compile/2</code></a> for more information.</p>
<h4 id="opts/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Regex.opts(~r/foo/m)
[:multiline]

iex&gt; Regex.opts(Regex.compile!("foo", [:caseless]))
[:caseless]</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="re_pattern/1">re_pattern(regex)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/regex.ex#L407" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec re_pattern(t()) :: term()</pre> </div> <p>Returns the underlying <code class="inline">re_pattern</code> in the regular expression.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="recompile/1">recompile(regex)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/regex.ex#L269" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec recompile(t()) :: {:ok, t()} | {:error, any()}</pre> </div> <p>Recompiles the existing regular expression if necessary.</p>
<p>This checks the version stored in the regular expression and recompiles the regex in case of version mismatch.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="recompile!/1">recompile!(regex)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/regex.ex#L287" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec recompile!(t()) :: t()</pre> </div> <p>Recompiles the existing regular expression and raises <a href="regex.compileerror"><code class="inline">Regex.CompileError</code></a> in case of errors.</p> </section> </section> <section class="detail">  <h3 class="detail-header" id="replace/4">replace(regex, string, replacement, options \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/regex.ex#L728" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec replace(t(), String.t(), String.t() | (... -&gt; String.t()), [
  {:global, boolean()}
]) :: String.t()</pre> </div> <p>Receives a regex, a binary and a replacement, returns a new binary where all matches are replaced by the replacement.</p>
<p>The replacement can be either a string or a function that returns a string. The resulting string is used as a replacement for every match.</p>
<p>When the replacement is a string, it allows specific captures of the match using brackets at the regex expression and accessing them in the replacement via <code class="inline">\N</code> or <code class="inline">\g{N}</code>, where <code class="inline">N</code> is the number of the capture. In case <code class="inline">\0</code> is used, the whole match is inserted. Note that in regexes the backslash needs to be escaped, hence in practice you'll need to use <code class="inline">\\N</code> and <code class="inline">\\g{N}</code>.</p>
<p>When the replacement is a function, it allows specific captures too. The function may have arity N where each argument maps to a capture, with the first argument being the whole match. If the function expects more arguments than captures found, the remaining arguments will receive <code class="inline">""</code>.</p>
<h4 id="replace/4-options" class="section-heading">  <span class="text">Options</span> </h4> <ul><li>
<code class="inline">:global</code> - when <code class="inline">false</code>, replaces only the first occurrence (defaults to <code class="inline">true</code>)</li></ul>
<h4 id="replace/4-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Regex.replace(~r/d/, "abc", "d")
"abc"

iex&gt; Regex.replace(~r/b/, "abc", "d")
"adc"

iex&gt; Regex.replace(~r/b/, "abc", "[\\0]")
"a[b]c"

iex&gt; Regex.replace(~r/a(b|d)c/, "abcadc", "[\\1]")
"[b][d]"

iex&gt; Regex.replace(~r/\.(\d)$/, "500.5", ".\\g{1}0")
"500.50"

iex&gt; Regex.replace(~r/a(b|d)c/, "abcadc", fn _, x -&gt; "[#{x}]" end)
"[b][d]"

iex&gt; Regex.replace(~r/(\w+)@(\w+).(\w+)/, "abc@def.com", fn _full, _c1, _c2, c3 -&gt; "TLD: #{c3}" end)
"TLD: com"

iex&gt; Regex.replace(~r/a/, "abcadc", "A", global: false)
"Abcadc"</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="run/3">run(regex, string, options \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/regex.ex#L361" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec run(t(), binary(), [term()]) :: nil | [binary()] | [{integer(), integer()}]</pre> </div> <p>Runs the regular expression against the given string until the first match. It returns a list with all captures or <code class="inline">nil</code> if no match occurred.</p>
<h4 id="run/3-options" class="section-heading">  <span class="text">Options</span> </h4> <ul>
<li>
<code class="inline">:return</code> - when set to <code class="inline">:index</code>, returns byte index and match length. Defaults to <code class="inline">:binary</code>.</li>
<li>
<code class="inline">:capture</code> - what to capture in the result. See the <a href="#module-captures">"Captures" section</a> to see the possible capture values.</li>
<li>
<code class="inline">:offset</code> - (since v1.12.0) specifies the starting offset to match in the given string. Defaults to zero.</li>
</ul>
<h4 id="run/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Regex.run(~r/c(d)/, "abcd")
["cd", "d"]

iex&gt; Regex.run(~r/e/, "abcd")
nil

iex&gt; Regex.run(~r/c(d)/, "abcd", return: :index)
[{2, 2}, {3, 1}]

iex&gt; Regex.run(~r/c(d)/, "abcd", capture: :first)
["cd"]

iex&gt; Regex.run(~r/c(?&lt;foo&gt;d)/, "abcd", capture: ["foo", "bar"])
["d", ""]</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="scan/3">scan(regex, string, options \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/regex.ex#L512" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec scan(t(), String.t(), [term()]) :: [[String.t()]] | [[{integer(), integer()}]]</pre> </div> <p>Same as <a href="#run/3"><code class="inline">run/3</code></a> but returns all non-overlapping matches of the regular expression.</p>
<p>A list of lists is returned, where each entry in the primary list represents a match and each entry in the secondary list represents the captured contents.</p>
<h4 id="scan/3-options" class="section-heading">  <span class="text">Options</span> </h4> <ul>
<li>
<code class="inline">:return</code> - when set to <code class="inline">:index</code>, returns byte index and match length. Defaults to <code class="inline">:binary</code>.</li>
<li>
<code class="inline">:capture</code> - what to capture in the result. See the <a href="#module-captures">"Captures" section</a> to see the possible capture values.</li>
<li>
<code class="inline">:offset</code> - (since v1.12.0) specifies the starting offset to match in the given string. Defaults to zero.</li>
</ul>
<h4 id="scan/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Regex.scan(~r/c(d|e)/, "abcd abce")
[["cd", "d"], ["ce", "e"]]

iex&gt; Regex.scan(~r/c(?:d|e)/, "abcd abce")
[["cd"], ["ce"]]

iex&gt; Regex.scan(~r/e/, "abcd")
[]

iex&gt; Regex.scan(~r/ab|bc|cd/, "abcd")
[["ab"], ["cd"]]

iex&gt; Regex.scan(~r/ab|bc|cd/, "abbccd")
[["ab"], ["bc"], ["cd"]]

iex&gt; Regex.scan(~r/\p{Sc}/u, "$, £, and €")
[["$"], ["£"], ["€"]]

iex&gt; Regex.scan(~r/=+/, "=ü†ƒ8===", return: :index)
[[{0, 1}], [{9, 3}]]

iex&gt; Regex.scan(~r/c(d|e)/, "abcd abce", capture: :first)
[["cd"], ["ce"]]</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="source/1">source(regex)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/regex.ex#L421" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec source(t()) :: String.t()</pre> </div> <p>Returns the regex source as a binary.</p>
<h4 id="source/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Regex.source(~r/foo/)
"foo"</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="split/3">split(regex, string, options \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/regex.ex#L599" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec split(t(), String.t(), [term()]) :: [String.t()]</pre> </div> <p>Splits the given target based on the given pattern and in the given number of parts.</p>
<h4 id="split/3-options" class="section-heading">  <span class="text">Options</span> </h4> <ul>
<li><p><code class="inline">:parts</code> - when specified, splits the string into the given number of parts. If not specified, <code class="inline">:parts</code> defaults to <code class="inline">:infinity</code>, which will split the string into the maximum number of parts possible based on the given pattern.</p></li>
<li><p><code class="inline">:trim</code> - when <code class="inline">true</code>, removes empty strings (<code class="inline">""</code>) from the result. Defaults to <code class="inline">false</code>.</p></li>
<li><p><code class="inline">:on</code> - specifies which captures to split the string on, and in what order. Defaults to <code class="inline">:first</code> which means captures inside the regex do not affect the splitting process. See the <a href="#module-captures">"Captures" section</a> to see the possible capture values.</p></li>
<li><p><code class="inline">:include_captures</code> - when <code class="inline">true</code>, includes in the result the matches of the regular expression. The matches are not counted towards the maximum number of parts if combined with the <code class="inline">:parts</code> option. Defaults to <code class="inline">false</code>.</p></li>
</ul>
<h4 id="split/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Regex.split(~r{-}, "a-b-c")
["a", "b", "c"]

iex&gt; Regex.split(~r{-}, "a-b-c", parts: 2)
["a", "b-c"]

iex&gt; Regex.split(~r{-}, "abc")
["abc"]

iex&gt; Regex.split(~r{}, "abc")
["", "a", "b", "c", ""]

iex&gt; Regex.split(~r{a(?&lt;second&gt;b)c}, "abc")
["", ""]

iex&gt; Regex.split(~r{a(?&lt;second&gt;b)c}, "abc", on: [:second])
["a", "c"]

iex&gt; Regex.split(~r{(x)}, "Elixir", include_captures: true)
["Eli", "x", "ir"]

iex&gt; Regex.split(~r{a(?&lt;second&gt;b)c}, "abc", on: [:second], include_captures: true)
["a", "b", "c"]

iex&gt; Regex.split(~r{-}, "-a-b--c", trim: true)
["a", "b", "c"]</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="version/0">version()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/regex.ex#L299" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec version() :: term()</pre> </div> <p>Returns the version of the underlying Regex engine.</p> </section> </section> </div> </section> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/Regex.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/Regex.html</a>
  </p>
</div>
