<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/exception.ex#L1012" title="View Source" class="source" rel="help">Source</a> <span translate="no">RuntimeError</span> <small>exception</small>  </h1> <section id="moduledoc"> <p>An exception for a generic runtime error.</p>
<p>This is the exception that <a href="kernel#raise/1"><code class="inline">raise/1</code></a> raises when you pass it only a string as a message:</p>
<pre data-language="elixir">iex&gt; raise "oops!"
** (RuntimeError) oops!</pre>
<p>You should use this exceptions sparingly, since most of the time it might be better to define your own exceptions specific to your application or library. Sometimes, however, there are situations in which you don't expect a condition to happen, but you want to give a meaningful error message if it does. In those cases, <a href="runtimeerror"><code class="inline">RuntimeError</code></a> can be a good choice.</p>
<h2 id="module-fields" class="section-heading">  <span class="text">Fields</span> </h2> <p><a href="runtimeerror"><code class="inline">RuntimeError</code></a> exceptions have a single field, <code class="inline">:message</code> (a <a href="string#t:t/0"><code class="inline">String.t/0</code></a>), which is public and can be accessed freely when reading or creating <a href="runtimeerror"><code class="inline">RuntimeError</code></a> exceptions.</p> </section> </div> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/RuntimeError.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/RuntimeError.html</a>
  </p>
</div>
