<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/pages/getting-started/sigils.md#L1" title="View Source" class="source" rel="help">Source</a> <span>Sigils</span> </h1> <p>Elixir provides double-quoted strings as well as a concept called charlists, which are defined using the <code class="inline">~c"hello world"</code> sigil syntax. In this chapter, we will learn more about sigils and how to define our own.</p>
<p>One of Elixir's goals is extensibility: developers should be able to extend the language to fit any particular domain. Sigils provide the foundation for extending the language with custom textual representations. Sigils start with the tilde (<code class="inline">~</code>) character which is followed by either a single lower-case letter or one or more upper-case letters, and then a delimiter. Optional modifiers are added after the final delimiter.</p>
<h2 id="regular-expressions" class="section-heading">  <span class="text">Regular expressions</span> </h2> <p>The most common sigil in Elixir is <code class="inline">~r</code>, which is used to create <a href="https://en.wikipedia.org/wiki/Regular_Expressions">regular expressions</a>:</p>
<pre data-language="elixir"># A regular expression that matches strings which contain "foo" or "bar":
iex&gt; regex = ~r/foo|bar/
~r/foo|bar/
iex&gt; "foo" =~ regex
true
iex&gt; "bat" =~ regex
false</pre>
<p>Elixir provides Perl-compatible regular expressions (regexes), as implemented by the <a href="http://www.pcre.org/">PCRE</a> library. Regexes also support modifiers. For example, the <code class="inline">i</code> modifier makes a regular expression case insensitive:</p>
<pre data-language="elixir">iex&gt; "HELLO" =~ ~r/hello/
false
iex&gt; "HELLO" =~ ~r/hello/i
true</pre>
<p>Check out the <a href="regex"><code class="inline">Regex</code></a> module for more information on other modifiers and the supported operations with regular expressions.</p>
<p>So far, all examples have used <code class="inline">/</code> to delimit a regular expression. However, sigils support 8 different delimiters:</p>
<pre data-language="elixir">~r/hello/
~r|hello|
~r"hello"
~r'hello'
~r(hello)
~r[hello]
~r{hello}
~r&lt;hello&gt;</pre>
<p>The reason behind supporting different delimiters is to provide a way to write literals without escaped delimiters. For example, a regular expression with forward slashes like <code class="inline">~r(^https?://)</code> reads arguably better than <code class="inline">~r/^https?:\/\//</code>. Similarly, if the regular expression has forward slashes and capturing groups (that use <code class="inline">()</code>), you may then choose double quotes instead of parentheses.</p>
<h2 id="strings-charlists-and-word-lists-sigils" class="section-heading">  <span class="text">Strings, charlists, and word lists sigils</span> </h2> <p>Besides regular expressions, Elixir ships with three other sigils.</p>
<h3 id="strings" class="section-heading">  <span class="text">Strings</span> </h3> <p>The <code class="inline">~s</code> sigil is used to generate strings, like double quotes are. The <code class="inline">~s</code> sigil is useful when a string contains double quotes:</p>
<pre data-language="elixir">iex&gt; ~s(this is a string with "double" quotes, not 'single' ones)
"this is a string with \"double\" quotes, not 'single' ones"</pre>
<h3 id="charlists" class="section-heading">  <span class="text">Charlists</span> </h3> <p>The <code class="inline">~c</code> sigil is the regular way to represent charlists.</p>
<pre data-language="elixir">iex&gt; [?c, ?a, ?t]
~c"cat"
iex&gt; ~c(this is a char list containing "double quotes")
~c"this is a char list containing \"double quotes\""</pre>
<h3 id="word-lists" class="section-heading">  <span class="text">Word lists</span> </h3> <p>The <code class="inline">~w</code> sigil is used to generate lists of words (<em>words</em> are just regular strings). Inside the <code class="inline">~w</code> sigil, words are separated by whitespace.</p>
<pre data-language="elixir">iex&gt; ~w(foo bar bat)
["foo", "bar", "bat"]</pre>
<p>The <code class="inline">~w</code> sigil also accepts the <code class="inline">c</code>, <code class="inline">s</code> and <code class="inline">a</code> modifiers (for charlists, strings, and atoms, respectively), which specify the data type of the elements of the resulting list:</p>
<pre data-language="elixir">iex&gt; ~w(foo bar bat)a
[:foo, :bar, :bat]</pre>
<h2 id="interpolation-and-escaping-in-string-sigils" class="section-heading">  <span class="text">Interpolation and escaping in string sigils</span> </h2> <p>Elixir supports some sigil variants to deal with escaping characters and interpolation. In particular, uppercase letters sigils do not perform interpolation nor escaping. For example, although both <code class="inline">~s</code> and <code class="inline">~S</code> will return strings, the former allows escape codes and interpolation while the latter does not:</p>
<pre data-language="elixir">iex&gt; ~s(String with escape codes \x26 #{"inter" &lt;&gt; "polation"})
"String with escape codes &amp; interpolation"
iex&gt; ~S(String without escape codes \x26 without #{interpolation})
"String without escape codes \\x26 without \#{interpolation}"</pre>
<p>The following escape codes can be used in strings and charlists:</p>
<ul>
<li>
<code class="inline">\\</code> – single backslash</li>
<li>
<code class="inline">\a</code> – bell/alert</li>
<li>
<code class="inline">\b</code> – backspace</li>
<li>
<code class="inline">\d</code> - delete</li>
<li>
<code class="inline">\e</code> - escape</li>
<li>
<code class="inline">\f</code> - form feed</li>
<li>
<code class="inline">\n</code> – newline</li>
<li>
<code class="inline">\r</code> – carriage return</li>
<li>
<code class="inline">\s</code> – space</li>
<li>
<code class="inline">\t</code> – tab</li>
<li>
<code class="inline">\v</code> – vertical tab</li>
<li>
<code class="inline">\0</code> - null byte</li>
<li>
<code class="inline">\xDD</code> - represents a single byte in hexadecimal (such as <code class="inline">\x13</code>)</li>
<li>
<code class="inline">\uDDDD</code> and <code class="inline">\u{D...}</code> - represents a Unicode codepoint in hexadecimal (such as <code class="inline">\u{1F600}</code>)</li>
</ul>
<p>In addition to those, a double quote inside a double-quoted string needs to be escaped as <code class="inline">\"</code>, and, analogously, a single quote inside a single-quoted char list needs to be escaped as <code class="inline">\'</code>. Nevertheless, it is better style to change delimiters as seen above than to escape them.</p>
<p>Sigils also support heredocs, that is, three double-quotes or single-quotes as separators:</p>
<pre data-language="elixir">iex&gt; ~s"""
...&gt; this is
...&gt; a heredoc string
...&gt; """</pre>
<p>The most common use case for heredoc sigils is when writing documentation. For example, writing escape characters in the documentation would soon become error prone because of the need to double-escape some characters:</p>
<pre data-language="elixir">@doc """
Converts double-quotes to single-quotes.

## Examples

    iex&gt; convert("\\\"foo\\\"")
    "'foo'"

"""
def convert(...)</pre>
<p>By using <code class="inline">~S</code>, this problem can be avoided altogether:</p>
<pre data-language="elixir">@doc ~S"""
Converts double-quotes to single-quotes.

## Examples

    iex&gt; convert("\"foo\"")
    "'foo'"

"""
def convert(...)</pre>
<h2 id="calendar-sigils" class="section-heading">  <span class="text">Calendar sigils</span> </h2> <p>Elixir offers several sigils to deal with various flavors of times and dates.</p>
<h3 id="date" class="section-heading">  <span class="text">Date</span> </h3> <p>A <a href="date">%Date{}</a> struct contains the fields <code class="inline">year</code>, <code class="inline">month</code>, <code class="inline">day</code>, and <code class="inline">calendar</code>. You can create one using the <code class="inline">~D</code> sigil:</p>
<pre data-language="elixir">iex&gt; d = ~D[2019-10-31]
~D[2019-10-31]
iex&gt; d.day
31</pre>
<h3 id="time" class="section-heading">  <span class="text">Time</span> </h3> <p>The <a href="time">%Time{}</a> struct contains the fields <code class="inline">hour</code>, <code class="inline">minute</code>, <code class="inline">second</code>, <code class="inline">microsecond</code>, and <code class="inline">calendar</code>. You can create one using the <code class="inline">~T</code> sigil:</p>
<pre data-language="elixir">iex&gt; t = ~T[23:00:07.0]
~T[23:00:07.0]
iex&gt; t.second
7</pre>
<h3 id="naivedatetime" class="section-heading">  <span class="text">NaiveDateTime</span> </h3> <p>The <a href="naivedatetime">%NaiveDateTime{}</a> struct contains fields from both <a href="date"><code class="inline">Date</code></a> and <a href="time"><code class="inline">Time</code></a>. You can create one using the <code class="inline">~N</code> sigil:</p>
<pre data-language="elixir">iex&gt; ndt = ~N[2019-10-31 23:00:07]
~N[2019-10-31 23:00:07]</pre>
<p>Why is it called naive? Because it does not contain timezone information. Therefore, the given datetime may not exist at all or it may exist twice in certain timezones - for example, when we move the clock back and forward for daylight saving time.</p>
<h3 id="utc-datetime" class="section-heading">  <span class="text">UTC DateTime</span> </h3> <p>A <a href="datetime">%DateTime{}</a> struct contains the same fields as a <a href="naivedatetime"><code class="inline">NaiveDateTime</code></a> with the addition of fields to track timezones. The <code class="inline">~U</code> sigil allows developers to create a DateTime in the UTC timezone:</p>
<pre data-language="elixir">iex&gt; dt = ~U[2019-10-31 19:59:03Z]
~U[2019-10-31 19:59:03Z]
iex&gt; %DateTime{minute: minute, time_zone: time_zone} = dt
~U[2019-10-31 19:59:03Z]
iex&gt; minute
59
iex&gt; time_zone
"Etc/UTC"</pre>
<h2 id="custom-sigils" class="section-heading">  <span class="text">Custom sigils</span> </h2> <p>As hinted at the beginning of this chapter, sigils in Elixir are extensible. In fact, using the sigil <code class="inline">~r/foo/i</code> is equivalent to calling <code class="inline">sigil_r</code> with a binary and a char list as the argument:</p>
<pre data-language="elixir">iex&gt; sigil_r(&lt;&lt;"foo"&gt;&gt;, [?i])
~r"foo"i</pre>
<p>We can access the documentation for the <code class="inline">~r</code> sigil via <code class="inline">sigil_r</code>:</p>
<pre data-language="elixir">iex&gt; h sigil_r
...</pre>
<p>We can also provide our own sigils by implementing functions that follow the <code class="inline">sigil_{character}</code> pattern. For example, let's implement the <code class="inline">~i</code> sigil that returns an integer (with the optional <code class="inline">n</code> modifier to make it negative):</p>
<pre data-language="elixir">iex&gt; defmodule MySigils do
...&gt;   def sigil_i(string, []), do: String.to_integer(string)
...&gt;   def sigil_i(string, [?n]), do: -String.to_integer(string)
...&gt; end
iex&gt; import MySigils
iex&gt; ~i(13)
13
iex&gt; ~i(42)n
-42</pre>
<p>Custom sigils may be either a single lowercase character, or an uppercase character followed by more uppercase characters and digits.</p>
<p>Sigils can also be used to do compile-time work with the help of macros. For example, regular expressions in Elixir are compiled into an efficient representation during compilation of the source code, therefore skipping this step at runtime. If you're interested in the subject, you can learn more about macros and check out how sigils are implemented in the <a href="kernel"><code class="inline">Kernel</code></a> module (where the <code class="inline">sigil_*</code> functions are defined).</p> </div> <div class="bottom-actions" id="bottom-actions"> <div class="bottom-actions-item"> <a href="comprehensions" class="bottom-actions-button" rel="prev"> <span class="subheader"> ← Previous Page </span> <span class="title"> Comprehensions </span> </a> </div> <div class="bottom-actions-item"> <a href="try-catch-and-rescue" class="bottom-actions-button" rel="next"> <span class="subheader"> Next Page → </span> <span class="title"> try, catch, and rescue </span> </a> </div> </div> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/sigils.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/sigils.html</a>
  </p>
</div>
