<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/stream.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">Stream</span>  </h1> <section id="moduledoc"> <p>Functions for creating and composing streams.</p>
<p>Streams are composable, lazy enumerables (for an introduction on enumerables, see the <a href="enum"><code class="inline">Enum</code></a> module). Any enumerable that generates elements one by one during enumeration is called a stream. For example, Elixir's <a href="range"><code class="inline">Range</code></a> is a stream:</p>
<pre data-language="elixir">iex&gt; range = 1..5
1..5
iex&gt; Enum.map(range, &amp;(&amp;1 * 2))
[2, 4, 6, 8, 10]</pre>
<p>In the example above, as we mapped over the range, the elements being enumerated were created one by one, during enumeration. The <a href="stream"><code class="inline">Stream</code></a> module allows us to map the range, without triggering its enumeration:</p>
<pre data-language="elixir">iex&gt; range = 1..3
iex&gt; stream = Stream.map(range, &amp;(&amp;1 * 2))
iex&gt; Enum.map(stream, &amp;(&amp;1 + 1))
[3, 5, 7]</pre>
<p>Note that we started with a range and then we created a stream that is meant to multiply each element in the range by 2. At this point, no computation was done. Only when <a href="enum#map/2"><code class="inline">Enum.map/2</code></a> is called we actually enumerate over each element in the range, multiplying it by 2 and adding 1. We say the functions in <a href="stream"><code class="inline">Stream</code></a> are <em>lazy</em> and the functions in <a href="enum"><code class="inline">Enum</code></a> are <em>eager</em>.</p>
<p>Due to their laziness, streams are useful when working with large (or even infinite) collections. When chaining many operations with <a href="enum"><code class="inline">Enum</code></a>, intermediate lists are created, while <a href="stream"><code class="inline">Stream</code></a> creates a recipe of computations that are executed at a later moment. Let's see another example:</p>
<pre data-language="elixir">1..3
|&gt; Enum.map(&amp;IO.inspect(&amp;1))
|&gt; Enum.map(&amp;(&amp;1 * 2))
|&gt; Enum.map(&amp;IO.inspect(&amp;1))
1
2
3
2
4
6
#=&gt; [2, 4, 6]</pre>
<p>Note that we first printed each element in the list, then multiplied each element by 2 and finally printed each new value. In this example, the list was enumerated three times. Let's see an example with streams:</p>
<pre data-language="elixir">stream = 1..3
|&gt; Stream.map(&amp;IO.inspect(&amp;1))
|&gt; Stream.map(&amp;(&amp;1 * 2))
|&gt; Stream.map(&amp;IO.inspect(&amp;1))
Enum.to_list(stream)
1
2
2
4
3
6
#=&gt; [2, 4, 6]</pre>
<p>Although the end result is the same, the order in which the elements were printed changed! With streams, we print the first element and then print its double. In this example, the list was enumerated just once!</p>
<p>That's what we meant when we said earlier that streams are composable, lazy enumerables. Note that we could call <a href="#map/2"><code class="inline">Stream.map/2</code></a> multiple times, effectively composing the streams and keeping them lazy. The computations are only performed when you call a function from the <a href="enum"><code class="inline">Enum</code></a> module.</p>
<p>Like with <a href="enum"><code class="inline">Enum</code></a>, the functions in this module work in linear time. This means that, the time it takes to perform an operation grows at the same rate as the length of the list. This is expected on operations such as <a href="#map/2"><code class="inline">Stream.map/2</code></a>. After all, if we want to traverse every element on a stream, the longer the stream, the more elements we need to traverse, and the longer it will take.</p>
<h2 id="module-creating-streams" class="section-heading">  <span class="text">Creating Streams</span> </h2> <p>There are many functions in Elixir's standard library that return streams, some examples are:</p>
<ul>
<li>
<a href="io#stream/2"><code class="inline">IO.stream/2</code></a> - streams input lines, one by one</li>
<li>
<a href="uri#query_decoder/1"><code class="inline">URI.query_decoder/1</code></a> - decodes a query string, pair by pair</li>
</ul>
<p>This module also provides many convenience functions for creating streams, like <a href="#cycle/1"><code class="inline">Stream.cycle/1</code></a>, <a href="#unfold/2"><code class="inline">Stream.unfold/2</code></a>, <a href="#resource/3"><code class="inline">Stream.resource/3</code></a> and more.</p>
<p>Note the functions in this module are guaranteed to return enumerables. Since enumerables can have different shapes (structs, anonymous functions, and so on), the functions in this module may return any of those shapes and this may change at any time. For example, a function that today returns an anonymous function may return a struct in future releases.</p> </section> </div> <section id="summary" class="details-list"> <h1 class="section-heading">  <span class="text">Summary</span> </h1> <h2> Types </h2>
<dl class="summary-types summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#t:acc/0" data-no-tooltip translate="no">acc()</a> </dt> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:default/0" data-no-tooltip translate="no">default()</a> </dt> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:element/0" data-no-tooltip translate="no">element()</a> </dt> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:index/0" data-no-tooltip translate="no">index()</a> </dt> <dd class="summary-synopsis"><p>Zero-based index.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:timer/0" data-no-tooltip translate="no">timer()</a> </dt> </div> </dl> <h2> Functions </h2>
<dl class="summary-functions summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#chunk_by/2" data-no-tooltip translate="no">chunk_by(enum, fun)</a> </dt> <dd class="summary-synopsis"><p>Chunks the <code class="inline">enum</code> by buffering elements for which <code class="inline">fun</code> returns the same value.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#chunk_every/2" data-no-tooltip translate="no">chunk_every(enum, count)</a> </dt> <dd class="summary-synopsis"><p>Shortcut to <code class="inline">chunk_every(enum, count, count)</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#chunk_every/4" data-no-tooltip translate="no">chunk_every(enum, count, step, leftover \\ [])</a> </dt> <dd class="summary-synopsis"><p>Streams the enumerable in chunks, containing <code class="inline">count</code> elements each, where each new chunk starts <code class="inline">step</code> elements into the enumerable.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#chunk_while/4" data-no-tooltip translate="no">chunk_while(enum, acc, chunk_fun, after_fun)</a> </dt> <dd class="summary-synopsis"><p>Chunks the <code class="inline">enum</code> with fine grained control when every chunk is emitted.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#concat/1" data-no-tooltip translate="no">concat(enumerables)</a> </dt> <dd class="summary-synopsis"><p>Creates a stream that enumerates each enumerable in an enumerable.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#concat/2" data-no-tooltip translate="no">concat(first, second)</a> </dt> <dd class="summary-synopsis"><p>Creates a stream that enumerates the first argument, followed by the second.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#cycle/1" data-no-tooltip translate="no">cycle(enumerable)</a> </dt> <dd class="summary-synopsis"><p>Creates a stream that cycles through the given enumerable, infinitely.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#dedup/1" data-no-tooltip translate="no">dedup(enum)</a> </dt> <dd class="summary-synopsis"><p>Creates a stream that only emits elements if they are different from the last emitted element.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#dedup_by/2" data-no-tooltip translate="no">dedup_by(enum, fun)</a> </dt> <dd class="summary-synopsis"><p>Creates a stream that only emits elements if the result of calling <code class="inline">fun</code> on the element is different from the (stored) result of calling <code class="inline">fun</code> on the last emitted element.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#drop/2" data-no-tooltip translate="no">drop(enum, n)</a> </dt> <dd class="summary-synopsis"><p>Lazily drops the next <code class="inline">n</code> elements from the enumerable.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#drop_every/2" data-no-tooltip translate="no">drop_every(enum, nth)</a> </dt> <dd class="summary-synopsis"><p>Creates a stream that drops every <code class="inline">nth</code> element from the enumerable.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#drop_while/2" data-no-tooltip translate="no">drop_while(enum, fun)</a> </dt> <dd class="summary-synopsis"><p>Lazily drops elements of the enumerable while the given function returns a truthy value.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#duplicate/2" data-no-tooltip translate="no">duplicate(value, n)</a> </dt> <dd class="summary-synopsis"><p>Duplicates the given element <code class="inline">n</code> times in a stream.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#each/2" data-no-tooltip translate="no">each(enum, fun)</a> </dt> <dd class="summary-synopsis"><p>Executes the given function for each element.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#filter/2" data-no-tooltip translate="no">filter(enum, fun)</a> </dt> <dd class="summary-synopsis"><p>Creates a stream that filters elements according to the given function on enumeration.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#flat_map/2" data-no-tooltip translate="no">flat_map(enum, mapper)</a> </dt> <dd class="summary-synopsis"><p>Maps the given <code class="inline">fun</code> over <code class="inline">enumerable</code> and flattens the result.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#from_index/1" data-no-tooltip translate="no">from_index(fun_or_offset \\ 0)</a> </dt> <dd class="summary-synopsis"><p>Builds a stream from an index, either starting from offset, or given by function.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#intersperse/2" data-no-tooltip translate="no">intersperse(enumerable, intersperse_element)</a> </dt> <dd class="summary-synopsis"><p>Lazily intersperses <code class="inline">intersperse_element</code> between each element of the enumeration.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#interval/1" data-no-tooltip translate="no">interval(n)</a> </dt> <dd class="summary-synopsis"><p>Creates a stream that emits a value after the given period <code class="inline">n</code> in milliseconds.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#into/3" data-no-tooltip translate="no">into(enum, collectable, transform \\ fn x -&gt; x end)</a> </dt> <dd class="summary-synopsis"><p>Injects the stream values into the given collectable as a side-effect.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#iterate/2" data-no-tooltip translate="no">iterate(start_value, next_fun)</a> </dt> <dd class="summary-synopsis"><p>Emits a sequence of values, starting with <code class="inline">start_value</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#map/2" data-no-tooltip translate="no">map(enum, fun)</a> </dt> <dd class="summary-synopsis"><p>Creates a stream that will apply the given function on enumeration.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#map_every/3" data-no-tooltip translate="no">map_every(enum, nth, fun)</a> </dt> <dd class="summary-synopsis"><p>Creates a stream that will apply the given function on every <code class="inline">nth</code> element from the enumerable.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#reject/2" data-no-tooltip translate="no">reject(enum, fun)</a> </dt> <dd class="summary-synopsis"><p>Creates a stream that will reject elements according to the given function on enumeration.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#repeatedly/1" data-no-tooltip translate="no">repeatedly(generator_fun)</a> </dt> <dd class="summary-synopsis"><p>Returns a stream generated by calling <code class="inline">generator_fun</code> repeatedly.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#resource/3" data-no-tooltip translate="no">resource(start_fun, next_fun, after_fun)</a> </dt> <dd class="summary-synopsis"><p>Emits a sequence of values for the given resource.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#run/1" data-no-tooltip translate="no">run(stream)</a> </dt> <dd class="summary-synopsis"><p>Runs the given stream.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#scan/2" data-no-tooltip translate="no">scan(enum, fun)</a> </dt> <dd class="summary-synopsis"><p>Creates a stream that applies the given function to each element, emits the result and uses the same result as the accumulator for the next computation. Uses the first element in the enumerable as the starting value.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#scan/3" data-no-tooltip translate="no">scan(enum, acc, fun)</a> </dt> <dd class="summary-synopsis"><p>Creates a stream that applies the given function to each element, emits the result and uses the same result as the accumulator for the next computation. Uses the given <code class="inline">acc</code> as the starting value.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#take/2" data-no-tooltip translate="no">take(enum, count)</a> </dt> <dd class="summary-synopsis"><p>Lazily takes the next <code class="inline">count</code> elements from the enumerable and stops enumeration.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#take_every/2" data-no-tooltip translate="no">take_every(enum, nth)</a> </dt> <dd class="summary-synopsis"><p>Creates a stream that takes every <code class="inline">nth</code> element from the enumerable.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#take_while/2" data-no-tooltip translate="no">take_while(enum, fun)</a> </dt> <dd class="summary-synopsis"><p>Lazily takes elements of the enumerable while the given function returns a truthy value.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#timer/1" data-no-tooltip translate="no">timer(n)</a> </dt> <dd class="summary-synopsis"><p>Creates a stream that emits a single value after <code class="inline">n</code> milliseconds.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#transform/3" data-no-tooltip translate="no">transform(enum, acc, reducer)</a> </dt> <dd class="summary-synopsis"><p>Transforms an existing stream.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#transform/4" data-no-tooltip translate="no">transform(enum, start_fun, reducer, after_fun)</a> </dt> <dd class="summary-synopsis"><p>Similar to <a href="#transform/5"><code class="inline">Stream.transform/5</code></a>, except <code class="inline">last_fun</code> is not supplied.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#transform/5" data-no-tooltip translate="no">transform(enum, start_fun, reducer, last_fun, after_fun)</a> </dt> <dd class="summary-synopsis"><p>Transforms an existing stream with function-based start, last, and after callbacks.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#unfold/2" data-no-tooltip translate="no">unfold(next_acc, next_fun)</a> </dt> <dd class="summary-synopsis"><p>Emits a sequence of values for the given accumulator.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#uniq/1" data-no-tooltip translate="no">uniq(enum)</a> </dt> <dd class="summary-synopsis"><p>Creates a stream that only emits elements if they are unique.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#uniq_by/2" data-no-tooltip translate="no">uniq_by(enum, fun)</a> </dt> <dd class="summary-synopsis"><p>Creates a stream that only emits elements if they are unique, by removing the elements for which function <code class="inline">fun</code> returned duplicate elements.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#with_index/2" data-no-tooltip translate="no">with_index(enum, fun_or_offset \\ 0)</a> </dt> <dd class="summary-synopsis"><p>Creates a stream where each element in the enumerable will be wrapped in a tuple alongside its index or according to a given function.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#zip/1" data-no-tooltip translate="no">zip(enumerables)</a> </dt> <dd class="summary-synopsis"><p>Zips corresponding elements from a finite collection of enumerables into one stream of tuples.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#zip/2" data-no-tooltip translate="no">zip(enumerable1, enumerable2)</a> </dt> <dd class="summary-synopsis"><p>Zips two enumerables together, lazily.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#zip_with/2" data-no-tooltip translate="no">zip_with(enumerables, zip_fun)</a> </dt> <dd class="summary-synopsis"><p>Lazily zips corresponding elements from a finite collection of enumerables into a new enumerable, transforming them with the <code class="inline">zip_fun</code> function as it goes.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#zip_with/3" data-no-tooltip translate="no">zip_with(enumerable1, enumerable2, zip_fun)</a> </dt> <dd class="summary-synopsis"><p>Lazily zips corresponding elements from two enumerables into a new one, transforming them with the <code class="inline">zip_fun</code> function as it goes.</p></dd> </div> </dl> </section> <section id="types" class="details-list"> <h1 class="section-heading">  <span class="text">Types</span> </h1> <div class="types-list"> <section class="detail"> <h3 class="detail-header" id="t:acc/0">acc()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/stream.ex#L103" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type acc() :: any()</pre> </div> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:default/0">default()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/stream.ex#L109" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type default() :: any()</pre> </div> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:element/0">element()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/stream.ex#L104" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type element() :: any()</pre> </div> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:index/0">index()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/stream.ex#L107" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type index() :: non_neg_integer()</pre> </div> <p>Zero-based index.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:timer/0">timer()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/stream.ex#L110" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type timer() :: non_neg_integer() | :infinity</pre> </div> </section> </section> </div> </section> <section id="functions" class="details-list"> <h1 class="section-heading">  <span class="text">Functions</span> </h1> <div class="functions-list"> <section class="detail"> <h3 class="detail-header" id="chunk_by/2">chunk_by(enum, fun)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/stream.ex#L215" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec chunk_by(Enumerable.t(), (element() -&gt; any())) :: Enumerable.t()</pre> </div> <p>Chunks the <code class="inline">enum</code> by buffering elements for which <code class="inline">fun</code> returns the same value.</p>
<p>Elements are only emitted when <code class="inline">fun</code> returns a new value or the <code class="inline">enum</code> finishes.</p>
<h4 id="chunk_by/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; stream = Stream.chunk_by([1, 2, 2, 3, 4, 4, 6, 7, 7], &amp;(rem(&amp;1, 2) == 1))
iex&gt; Enum.to_list(stream)
[[1], [2, 2], [3], [4, 4, 6], [7, 7]]</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="chunk_every/2">chunk_every(enum, count)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/stream.ex#L158" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec chunk_every(Enumerable.t(), pos_integer()) :: Enumerable.t()</pre> </div> <p>Shortcut to <code class="inline">chunk_every(enum, count, count)</code>.</p> </section> </section> <section class="detail">  <h3 class="detail-header" id="chunk_every/4">chunk_every(enum, count, step, leftover \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/stream.ex#L197" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec chunk_every(
  Enumerable.t(),
  pos_integer(),
  pos_integer(),
  Enumerable.t() | :discard
) ::
  Enumerable.t()</pre> </div> <p>Streams the enumerable in chunks, containing <code class="inline">count</code> elements each, where each new chunk starts <code class="inline">step</code> elements into the enumerable.</p>
<p><code class="inline">step</code> is optional and, if not passed, defaults to <code class="inline">count</code>, i.e. chunks do not overlap. Chunking will stop as soon as the collection ends or when we emit an incomplete chunk.</p>
<p>If the last chunk does not have <code class="inline">count</code> elements to fill the chunk, elements are taken from <code class="inline">leftover</code> to fill in the chunk. If <code class="inline">leftover</code> does not have enough elements to fill the chunk, then a partial chunk is returned with less than <code class="inline">count</code> elements.</p>
<p>If <code class="inline">:discard</code> is given in <code class="inline">leftover</code>, the last chunk is discarded unless it has exactly <code class="inline">count</code> elements.</p>
<h4 id="chunk_every/4-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Stream.chunk_every([1, 2, 3, 4, 5, 6], 2) |&gt; Enum.to_list()
[[1, 2], [3, 4], [5, 6]]

iex&gt; Stream.chunk_every([1, 2, 3, 4, 5, 6], 3, 2, :discard) |&gt; Enum.to_list()
[[1, 2, 3], [3, 4, 5]]

iex&gt; Stream.chunk_every([1, 2, 3, 4, 5, 6], 3, 2, [7]) |&gt; Enum.to_list()
[[1, 2, 3], [3, 4, 5], [5, 6, 7]]

iex&gt; Stream.chunk_every([1, 2, 3, 4, 5, 6], 3, 3, []) |&gt; Enum.to_list()
[[1, 2, 3], [4, 5, 6]]

iex&gt; Stream.chunk_every([1, 2, 3, 4], 3, 3, Stream.cycle([0])) |&gt; Enum.to_list()
[[1, 2, 3], [4, 0, 0]]</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="chunk_while/4">chunk_while(enum, acc, chunk_fun, after_fun)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/stream.ex#L256" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec chunk_while(
  Enumerable.t(),
  acc(),
  (element(), acc() -&gt; {:cont, chunk, acc()} | {:cont, acc()} | {:halt, acc()}),
  (acc() -&gt; {:cont, chunk, acc()} | {:cont, acc()})
) :: Enumerable.t()
when chunk: any()</pre> </div> <p>Chunks the <code class="inline">enum</code> with fine grained control when every chunk is emitted.</p>
<p><code class="inline">chunk_fun</code> receives the current element and the accumulator and must return <code class="inline">{:cont, element, acc}</code> to emit the given chunk and continue with accumulator or <code class="inline">{:cont, acc}</code> to not emit any chunk and continue with the return accumulator.</p>
<p><code class="inline">after_fun</code> is invoked when iteration is done and must also return <code class="inline">{:cont, element, acc}</code> or <code class="inline">{:cont, acc}</code>.</p>
<h4 id="chunk_while/4-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; chunk_fun = fn element, acc -&gt;
...&gt;   if rem(element, 2) == 0 do
...&gt;     {:cont, Enum.reverse([element | acc]), []}
...&gt;   else
...&gt;     {:cont, [element | acc]}
...&gt;   end
...&gt; end
iex&gt; after_fun = fn
...&gt;   [] -&gt; {:cont, []}
...&gt;   acc -&gt; {:cont, Enum.reverse(acc), []}
...&gt; end
iex&gt; stream = Stream.chunk_while(1..10, [], chunk_fun, after_fun)
iex&gt; Enum.to_list(stream)
[[1, 2], [3, 4], [5, 6], [7, 8], [9, 10]]</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="concat/1">concat(enumerables)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/stream.ex#L1229" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec concat(Enumerable.t()) :: Enumerable.t()</pre> </div> <p>Creates a stream that enumerates each enumerable in an enumerable.</p>
<h4 id="concat/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; stream = Stream.concat([1..3, 4..6, 7..9])
iex&gt; Enum.to_list(stream)
[1, 2, 3, 4, 5, 6, 7, 8, 9]</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="concat/2">concat(first, second)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/stream.ex#L1250" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec concat(Enumerable.t(), Enumerable.t()) :: Enumerable.t()</pre> </div> <p>Creates a stream that enumerates the first argument, followed by the second.</p>
<h4 id="concat/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; stream = Stream.concat(1..3, 4..6)
iex&gt; Enum.to_list(stream)
[1, 2, 3, 4, 5, 6]

iex&gt; stream1 = Stream.cycle([1, 2, 3])
iex&gt; stream2 = Stream.cycle([4, 5, 6])
iex&gt; stream = Stream.concat(stream1, stream2)
iex&gt; Enum.take(stream, 6)
[1, 2, 3, 1, 2, 3]</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="cycle/1">cycle(enumerable)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/stream.ex#L1514" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec cycle(Enumerable.t()) :: Enumerable.t()</pre> </div> <p>Creates a stream that cycles through the given enumerable, infinitely.</p>
<h4 id="cycle/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; stream = Stream.cycle([1, 2, 3])
iex&gt; Enum.take(stream, 5)
[1, 2, 3, 1, 2]</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="dedup/1">dedup(enum)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/stream.ex#L308" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec dedup(Enumerable.t()) :: Enumerable.t()</pre> </div> <p>Creates a stream that only emits elements if they are different from the last emitted element.</p>
<p>This function only ever needs to store the last emitted element.</p>
<p>Elements are compared using <a href="kernel#===/2"><code class="inline">===/2</code></a>.</p>
<h4 id="dedup/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Stream.dedup([1, 2, 3, 3, 2, 1]) |&gt; Enum.to_list()
[1, 2, 3, 2, 1]</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="dedup_by/2">dedup_by(enum, fun)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/stream.ex#L323" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec dedup_by(Enumerable.t(), (element() -&gt; term())) :: Enumerable.t()</pre> </div> <p>Creates a stream that only emits elements if the result of calling <code class="inline">fun</code> on the element is different from the (stored) result of calling <code class="inline">fun</code> on the last emitted element.</p>
<h4 id="dedup_by/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Stream.dedup_by([{1, :x}, {2, :y}, {2, :z}, {1, :x}], fn {x, _} -&gt; x end) |&gt; Enum.to_list()
[{1, :x}, {2, :y}, {1, :x}]</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="drop/2">drop(enum, n)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/stream.ex#L347" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec drop(Enumerable.t(), integer()) :: Enumerable.t()</pre> </div> <p>Lazily drops the next <code class="inline">n</code> elements from the enumerable.</p>
<p>If a negative <code class="inline">n</code> is given, it will drop the last <code class="inline">n</code> elements from the collection. Note that the mechanism by which this is implemented will delay the emission of any element until <code class="inline">n</code> additional elements have been emitted by the enum.</p>
<h4 id="drop/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; stream = Stream.drop(1..10, 5)
iex&gt; Enum.to_list(stream)
[6, 7, 8, 9, 10]

iex&gt; stream = Stream.drop(1..10, -5)
iex&gt; Enum.to_list(stream)
[1, 2, 3, 4, 5]</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="drop_every/2">drop_every(enum, nth)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/stream.ex#L400" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec drop_every(Enumerable.t(), non_neg_integer()) :: Enumerable.t()</pre> </div> <p>Creates a stream that drops every <code class="inline">nth</code> element from the enumerable.</p>
<p>The first element is always dropped, unless <code class="inline">nth</code> is 0.</p>
<p><code class="inline">nth</code> must be a non-negative integer.</p>
<h4 id="drop_every/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; stream = Stream.drop_every(1..10, 2)
iex&gt; Enum.to_list(stream)
[2, 4, 6, 8, 10]

iex&gt; stream = Stream.drop_every(1..1000, 1)
iex&gt; Enum.to_list(stream)
[]

iex&gt; stream = Stream.drop_every([1, 2, 3, 4, 5], 0)
iex&gt; Enum.to_list(stream)
[1, 2, 3, 4, 5]</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="drop_while/2">drop_while(enum, fun)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/stream.ex#L420" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec drop_while(Enumerable.t(), (element() -&gt; as_boolean(term()))) :: Enumerable.t()</pre> </div> <p>Lazily drops elements of the enumerable while the given function returns a truthy value.</p>
<h4 id="drop_while/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; stream = Stream.drop_while(1..10, &amp;(&amp;1 &lt;= 5))
iex&gt; Enum.to_list(stream)
[6, 7, 8, 9, 10]</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="duplicate/2">duplicate(value, n)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/stream.ex#L451" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec duplicate(any(), non_neg_integer()) :: Enumerable.t()</pre> </div> <p>Duplicates the given element <code class="inline">n</code> times in a stream.</p>
<p><code class="inline">n</code> is an integer greater than or equal to <code class="inline">0</code>.</p>
<p>If <code class="inline">n</code> is <code class="inline">0</code>, an empty stream is returned.</p>
<h4 id="duplicate/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; stream = Stream.duplicate("hello", 0)
iex&gt; Enum.to_list(stream)
[]

iex&gt; stream = Stream.duplicate("hi", 1)
iex&gt; Enum.to_list(stream)
["hi"]

iex&gt; stream = Stream.duplicate("bye", 2)
iex&gt; Enum.to_list(stream)
["bye", "bye"]

iex&gt; stream = Stream.duplicate([1, 2], 3)
iex&gt; Enum.to_list(stream)
[[1, 2], [1, 2], [1, 2]]</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="each/2">each(enum, fun)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/stream.ex#L479" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec each(Enumerable.t(), (element() -&gt; term())) :: Enumerable.t()</pre> </div> <p>Executes the given function for each element.</p>
<p>The values in the stream do not change, therefore this function is useful for adding side effects (like printing) to a stream. See <a href="#map/2"><code class="inline">map/2</code></a> if producing a different stream is desired.</p>
<h4 id="each/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; stream = Stream.each([1, 2, 3], fn x -&gt; send(self(), x) end)
iex&gt; Enum.to_list(stream)
iex&gt; receive do: (x when is_integer(x) -&gt; x)
1
iex&gt; receive do: (x when is_integer(x) -&gt; x)
2
iex&gt; receive do: (x when is_integer(x) -&gt; x)
3</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="filter/2">filter(enum, fun)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/stream.ex#L522" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec filter(Enumerable.t(), (element() -&gt; as_boolean(term()))) :: Enumerable.t()</pre> </div> <p>Creates a stream that filters elements according to the given function on enumeration.</p>
<h4 id="filter/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; stream = Stream.filter([1, 2, 3], fn x -&gt; rem(x, 2) == 0 end)
iex&gt; Enum.to_list(stream)
[2]</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="flat_map/2">flat_map(enum, mapper)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/stream.ex#L506" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec flat_map(Enumerable.t(), (element() -&gt; Enumerable.t())) :: Enumerable.t()</pre> </div> <p>Maps the given <code class="inline">fun</code> over <code class="inline">enumerable</code> and flattens the result.</p>
<p>This function returns a new stream built by appending the result of invoking <code class="inline">fun</code> on each element of <code class="inline">enumerable</code> together.</p>
<h4 id="flat_map/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; stream = Stream.flat_map([1, 2, 3], fn x -&gt; [x, x * 2] end)
iex&gt; Enum.to_list(stream)
[1, 2, 2, 4, 3, 6]

iex&gt; stream = Stream.flat_map([1, 2, 3], fn x -&gt; [[x]] end)
iex&gt; Enum.to_list(stream)
[[1], [2], [3]]</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="from_index/1">from_index(fun_or_offset \\ 0)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/stream.ex#L1166" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec from_index(integer()) :: Enumerable.t(integer())</pre> <pre translate="no" data-language="elixir">@spec from_index((integer() -&gt; return_value)) :: Enumerable.t(return_value)
when return_value: term()</pre> </div> <p>Builds a stream from an index, either starting from offset, or given by function.</p>
<p>May receive a function or an integer offset.</p>
<p>If an <code class="inline">offset</code> is given, it will emit elements from offset.</p>
<p>If a <code class="inline">function</code> is given, it will invoke the function with elements from offset.</p>
<h4 id="from_index/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Stream.from_index() |&gt; Enum.take(3)
[0, 1, 2]

iex&gt; Stream.from_index(1) |&gt; Enum.take(3)
[1, 2, 3]

iex&gt; Stream.from_index(fn x -&gt; x * 10 end) |&gt; Enum.take(3)
[0, 10, 20]</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="intersperse/2">intersperse(enumerable, intersperse_element)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/stream.ex#L1843" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec intersperse(Enumerable.t(), any()) :: Enumerable.t()</pre> </div> <p>Lazily intersperses <code class="inline">intersperse_element</code> between each element of the enumeration.</p>
<h4 id="intersperse/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Stream.intersperse([1, 2, 3], 0) |&gt; Enum.to_list()
[1, 0, 2, 0, 3]

iex&gt; Stream.intersperse([1], 0) |&gt; Enum.to_list()
[1]

iex&gt; Stream.intersperse([], 0) |&gt; Enum.to_list()
[]</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="interval/1">interval(n)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/stream.ex#L551" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec interval(timer()) :: Enumerable.t()</pre> </div> <p>Creates a stream that emits a value after the given period <code class="inline">n</code> in milliseconds.</p>
<p>The values emitted are an increasing counter starting at <code class="inline">0</code>. This operation will block the caller by the given interval every time a new element is streamed.</p>
<p>Do not use this function to generate a sequence of numbers. If blocking the caller process is not necessary, use <code class="inline">Stream.iterate(0, &amp; &amp;1 + 1)</code> instead.</p>
<h4 id="interval/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Stream.interval(10) |&gt; Enum.take(10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="into/3">into(enum, collectable, transform \\ fn x -&gt; x end)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/stream.ex#L567" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec into(Enumerable.t(), Collectable.t(), (term() -&gt; term())) :: Enumerable.t()</pre> </div> <p>Injects the stream values into the given collectable as a side-effect.</p>
<p>This function is often used with <a href="#run/1"><code class="inline">run/1</code></a> since any evaluation is delayed until the stream is executed. See <a href="#run/1"><code class="inline">run/1</code></a> for an example.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="iterate/2">iterate(start_value, next_fun)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/stream.ex#L1587" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec iterate(element(), (element() -&gt; element())) :: Enumerable.t()</pre> </div> <p>Emits a sequence of values, starting with <code class="inline">start_value</code>.</p>
<p>Successive values are generated by calling <code class="inline">next_fun</code> on the previous value.</p>
<h4 id="iterate/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Stream.iterate(1, &amp;(&amp;1 * 2)) |&gt; Enum.take(5)
[1, 2, 4, 8, 16]</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="map/2">map(enum, fun)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/stream.ex#L612" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec map(Enumerable.t(), (element() -&gt; any())) :: Enumerable.t()</pre> </div> <p>Creates a stream that will apply the given function on enumeration.</p>
<h4 id="map/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; stream = Stream.map([1, 2, 3], fn x -&gt; x * 2 end)
iex&gt; Enum.to_list(stream)
[2, 4, 6]</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="map_every/3">map_every(enum, nth, fun)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/stream.ex#L641" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec map_every(Enumerable.t(), non_neg_integer(), (element() -&gt; any())) ::
  Enumerable.t()</pre> </div> <p>Creates a stream that will apply the given function on every <code class="inline">nth</code> element from the enumerable.</p>
<p>The first element is always passed to the given function.</p>
<p><code class="inline">nth</code> must be a non-negative integer.</p>
<h4 id="map_every/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; stream = Stream.map_every(1..10, 2, fn x -&gt; x * 2 end)
iex&gt; Enum.to_list(stream)
[2, 2, 6, 4, 10, 6, 14, 8, 18, 10]

iex&gt; stream = Stream.map_every([1, 2, 3, 4, 5], 1, fn x -&gt; x * 2 end)
iex&gt; Enum.to_list(stream)
[2, 4, 6, 8, 10]

iex&gt; stream = Stream.map_every(1..5, 0, fn x -&gt; x * 2 end)
iex&gt; Enum.to_list(stream)
[1, 2, 3, 4, 5]</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="reject/2">reject(enum, fun)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/stream.ex#L665" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec reject(Enumerable.t(), (element() -&gt; as_boolean(term()))) :: Enumerable.t()</pre> </div> <p>Creates a stream that will reject elements according to the given function on enumeration.</p>
<h4 id="reject/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; stream = Stream.reject([1, 2, 3], fn x -&gt; rem(x, 2) == 0 end)
iex&gt; Enum.to_list(stream)
[1, 3]</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="repeatedly/1">repeatedly(generator_fun)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/stream.ex#L1610" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec repeatedly((-&gt; element())) :: Enumerable.t()</pre> </div> <p>Returns a stream generated by calling <code class="inline">generator_fun</code> repeatedly.</p>
<h4 id="repeatedly/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir"># Although not necessary, let's seed the random algorithm
iex&gt; :rand.seed(:exsss, {1, 2, 3})
iex&gt; Stream.repeatedly(&amp;:rand.uniform/0) |&gt; Enum.take(3)
[0.5455598952593053, 0.6039309974353404, 0.6684893034823949]</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="resource/3">resource(start_fun, next_fun, after_fun)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/stream.ex#L1673" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec resource((-&gt; acc()), (acc() -&gt; {[element()], acc()} | {:halt, acc()}), (acc() -&gt;
                                                                          term())) ::
  Enumerable.t()</pre> </div> <p>Emits a sequence of values for the given resource.</p>
<p>Similar to <a href="#transform/3"><code class="inline">transform/3</code></a> but the initial accumulated value is computed lazily via <code class="inline">start_fun</code> and executes an <code class="inline">after_fun</code> at the end of enumeration (both in cases of success and failure).</p>
<p>Successive values are generated by calling <code class="inline">next_fun</code> with the previous accumulator (the initial value being the result returned by <code class="inline">start_fun</code>) and it must return a tuple containing a list of elements to be emitted and the next accumulator. The enumeration finishes if it returns <code class="inline">{:halt, acc}</code>.</p>
<p>As the function name suggests, this function is useful to stream values from resources.</p>
<h4 id="resource/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">Stream.resource(
  fn -&gt; File.open!("sample") end,
  fn file -&gt;
    case IO.read(file, :line) do
      data when is_binary(data) -&gt; {[data], file}
      _ -&gt; {:halt, file}
    end
  end,
  fn file -&gt; File.close(file) end
)

iex&gt; Stream.resource(
...&gt;  fn -&gt;
...&gt;    {:ok, pid} = StringIO.open("string")
...&gt;    pid
...&gt;  end,
...&gt;  fn pid -&gt;
...&gt;    case IO.getn(pid, "", 1) do
...&gt;      :eof -&gt; {:halt, pid}
...&gt;      char -&gt; {[char], pid}
...&gt;    end
...&gt;  end,
...&gt;  fn pid -&gt; StringIO.close(pid) end
...&gt; ) |&gt; Enum.to_list()
["s", "t", "r", "i", "n", "g"]</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="run/1">run(stream)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/stream.ex#L689" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec run(Enumerable.t()) :: :ok</pre> </div> <p>Runs the given stream.</p>
<p>This is useful when a stream needs to be run, for side effects, and there is no interest in its return result.</p>
<h4 id="run/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <p>Open up a file, replace all <code class="inline">#</code> by <code class="inline">%</code> and stream to another file without loading the whole file in memory:</p>
<pre data-language="elixir">File.stream!("/path/to/file")
|&gt; Stream.map(&amp;String.replace(&amp;1, "#", "%"))
|&gt; Stream.into(File.stream!("/path/to/other/file"))
|&gt; Stream.run()</pre>
<p>No computation will be done until we call one of the <a href="enum"><code class="inline">Enum</code></a> functions or <a href="#run/1"><code class="inline">run/1</code></a>.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="scan/2">scan(enum, fun)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/stream.ex#L708" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec scan(Enumerable.t(), (element(), acc() -&gt; any())) :: Enumerable.t()</pre> </div> <p>Creates a stream that applies the given function to each element, emits the result and uses the same result as the accumulator for the next computation. Uses the first element in the enumerable as the starting value.</p>
<h4 id="scan/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; stream = Stream.scan(1..5, &amp;(&amp;1 + &amp;2))
iex&gt; Enum.to_list(stream)
[1, 3, 6, 10, 15]</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="scan/3">scan(enum, acc, fun)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/stream.ex#L725" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec scan(Enumerable.t(), acc(), (element(), acc() -&gt; any())) :: Enumerable.t()</pre> </div> <p>Creates a stream that applies the given function to each element, emits the result and uses the same result as the accumulator for the next computation. Uses the given <code class="inline">acc</code> as the starting value.</p>
<h4 id="scan/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; stream = Stream.scan(1..5, 0, &amp;(&amp;1 + &amp;2))
iex&gt; Enum.to_list(stream)
[1, 3, 6, 10, 15]</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="take/2">take(enum, count)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/stream.ex#L755" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec take(Enumerable.t(), integer()) :: Enumerable.t()</pre> </div> <p>Lazily takes the next <code class="inline">count</code> elements from the enumerable and stops enumeration.</p>
<p>If a negative <code class="inline">count</code> is given, the last <code class="inline">count</code> values will be taken. For such, the collection is fully enumerated keeping up to <code class="inline">2 * count</code> elements in memory. Once the end of the collection is reached, the last <code class="inline">count</code> elements will be executed. Therefore, using a negative <code class="inline">count</code> on an infinite collection will never return.</p>
<h4 id="take/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; stream = Stream.take(1..100, 5)
iex&gt; Enum.to_list(stream)
[1, 2, 3, 4, 5]

iex&gt; stream = Stream.take(1..100, -5)
iex&gt; Enum.to_list(stream)
[96, 97, 98, 99, 100]

iex&gt; stream = Stream.cycle([1, 2, 3]) |&gt; Stream.take(5)
iex&gt; Enum.to_list(stream)
[1, 2, 3, 1, 2]</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="take_every/2">take_every(enum, nth)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/stream.ex#L794" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec take_every(Enumerable.t(), non_neg_integer()) :: Enumerable.t()</pre> </div> <p>Creates a stream that takes every <code class="inline">nth</code> element from the enumerable.</p>
<p>The first element is always included, unless <code class="inline">nth</code> is 0.</p>
<p><code class="inline">nth</code> must be a non-negative integer.</p>
<h4 id="take_every/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; stream = Stream.take_every(1..10, 2)
iex&gt; Enum.to_list(stream)
[1, 3, 5, 7, 9]

iex&gt; stream = Stream.take_every([1, 2, 3, 4, 5], 1)
iex&gt; Enum.to_list(stream)
[1, 2, 3, 4, 5]

iex&gt; stream = Stream.take_every(1..1000, 0)
iex&gt; Enum.to_list(stream)
[]</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="take_while/2">take_while(enum, fun)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/stream.ex#L818" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec take_while(Enumerable.t(), (element() -&gt; as_boolean(term()))) :: Enumerable.t()</pre> </div> <p>Lazily takes elements of the enumerable while the given function returns a truthy value.</p>
<h4 id="take_while/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; stream = Stream.take_while(1..100, &amp;(&amp;1 &lt;= 5))
iex&gt; Enum.to_list(stream)
[1, 2, 3, 4, 5]</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="timer/1">timer(n)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/stream.ex#L835" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec timer(timer()) :: Enumerable.t()</pre> </div> <p>Creates a stream that emits a single value after <code class="inline">n</code> milliseconds.</p>
<p>The value emitted is <code class="inline">0</code>. This operation will block the caller by the given time until the element is streamed.</p>
<h4 id="timer/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Stream.timer(10) |&gt; Enum.to_list()
[0]</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="transform/3">transform(enum, acc, reducer)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/stream.ex#L872" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec transform(Enumerable.t(), acc, fun) :: Enumerable.t()
when fun: (element(), acc -&gt; {Enumerable.t(), acc} | {:halt, acc}), acc: any()</pre> </div> <p>Transforms an existing stream.</p>
<p>It expects an accumulator and a function that receives two arguments, the stream element and the updated accumulator. It must return a tuple, where the first element is a new stream (often a list) or the atom <code class="inline">:halt</code>, and the second element is the accumulator to be used by the next element.</p>
<p>Note: this function is equivalent to <a href="enum#flat_map_reduce/3"><code class="inline">Enum.flat_map_reduce/3</code></a>, except this function does not return the accumulator once the stream is processed.</p>
<h4 id="transform/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <p><a href="#transform/3"><code class="inline">Stream.transform/3</code></a> is useful as it can be used as the basis to implement many of the functions defined in this module. For example, we can implement <code class="inline">Stream.take(enum, n)</code> as follows:</p>
<pre data-language="elixir">iex&gt; enum = 1001..9999
iex&gt; n = 3
iex&gt; stream = Stream.transform(enum, 0, fn i, acc -&gt;
...&gt;   if acc &lt; n, do: {[i], acc + 1}, else: {:halt, acc}
...&gt; end)
iex&gt; Enum.to_list(stream)
[1001, 1002, 1003]</pre>
<p><a href="#transform/5"><code class="inline">Stream.transform/5</code></a> further generalizes this function to allow wrapping around resources.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="transform/4">transform(enum, start_fun, reducer, after_fun)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/stream.ex#L887" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec transform(Enumerable.t(), start_fun, reducer, after_fun) :: Enumerable.t()
when start_fun: (-&gt; acc),
     reducer: (element(), acc -&gt; {Enumerable.t(), acc} | {:halt, acc}),
     after_fun: (acc -&gt; term()),
     acc: any()</pre> </div> <p>Similar to <a href="#transform/5"><code class="inline">Stream.transform/5</code></a>, except <code class="inline">last_fun</code> is not supplied.</p>
<p>This function can be seen as a combination of <a href="#resource/3"><code class="inline">Stream.resource/3</code></a> with <a href="#transform/3"><code class="inline">Stream.transform/3</code></a>.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="transform/5">transform(enum, start_fun, reducer, last_fun, after_fun)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/stream.ex#L914" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec transform(Enumerable.t(), start_fun, reducer, last_fun, after_fun) ::
  Enumerable.t()
when start_fun: (-&gt; acc),
     reducer: (element(), acc -&gt; {Enumerable.t(), acc} | {:halt, acc}),
     last_fun: (acc -&gt; {Enumerable.t(), acc} | {:halt, acc}),
     after_fun: (acc -&gt; term()),
     acc: any()</pre> </div> <p>Transforms an existing stream with function-based start, last, and after callbacks.</p>
<p>Once transformation starts, <code class="inline">start_fun</code> is invoked to compute the initial accumulator. Then, for each element in the enumerable, the <code class="inline">reducer</code> function is invoked with the element and the accumulator, returning new elements and a new accumulator, as in <a href="#transform/3"><code class="inline">transform/3</code></a>.</p>
<p>Once the collection is done, <code class="inline">last_fun</code> is invoked with the accumulator to emit any remaining items. Then <code class="inline">after_fun</code> is invoked, to close any resource, but not emitting any new items. <code class="inline">last_fun</code> is only invoked if the given enumerable terminates successfully (either because it is done or it halted itself). <code class="inline">after_fun</code> is always invoked, therefore <code class="inline">after_fun</code> must be the one used for closing resources.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="unfold/2">unfold(next_acc, next_fun)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/stream.ex#L1807" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec unfold(acc(), (acc() -&gt; {element(), acc()} | nil)) :: Enumerable.t()</pre> </div> <p>Emits a sequence of values for the given accumulator.</p>
<p>Successive values are generated by calling <code class="inline">next_fun</code> with the previous accumulator and it must return a tuple with the current value and next accumulator. The enumeration finishes if it returns <code class="inline">nil</code>.</p>
<h4 id="unfold/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <p>To create a stream that counts down and stops before zero:</p>
<pre data-language="elixir">iex&gt; Stream.unfold(5, fn
...&gt;   0 -&gt; nil
...&gt;   n -&gt; {n, n - 1}
...&gt; end) |&gt; Enum.to_list()
[5, 4, 3, 2, 1]</pre>
<p>If <code class="inline">next_fun</code> never returns <code class="inline">nil</code>, the returned stream is <em>infinite</em>:</p>
<pre data-language="elixir">iex&gt; Stream.unfold(0, fn
...&gt;   n -&gt; {n, n + 1}
...&gt; end) |&gt; Enum.take(10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

iex&gt; Stream.unfold(1, fn
...&gt;   n -&gt; {n, n * 2}
...&gt; end) |&gt; Enum.take(10)
[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="uniq/1">uniq(enum)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/stream.ex#L1104" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec uniq(Enumerable.t()) :: Enumerable.t()</pre> </div> <p>Creates a stream that only emits elements if they are unique.</p>
<p>Keep in mind that, in order to know if an element is unique or not, this function needs to store all unique values emitted by the stream. Therefore, if the stream is infinite, the number of elements stored will grow infinitely, never being garbage-collected.</p>
<h4 id="uniq/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Stream.uniq([1, 2, 3, 3, 2, 1]) |&gt; Enum.to_list()
[1, 2, 3]</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="uniq_by/2">uniq_by(enum, fun)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/stream.ex#L1136" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec uniq_by(Enumerable.t(), (element() -&gt; term())) :: Enumerable.t()</pre> </div> <p>Creates a stream that only emits elements if they are unique, by removing the elements for which function <code class="inline">fun</code> returned duplicate elements.</p>
<p>The function <code class="inline">fun</code> maps every element to a term which is used to determine if two elements are duplicates.</p>
<p>Keep in mind that, in order to know if an element is unique or not, this function needs to store all unique values emitted by the stream. Therefore, if the stream is infinite, the number of elements stored will grow infinitely, never being garbage-collected.</p>
<h4 id="uniq_by/2-example" class="section-heading">  <span class="text">Example</span> </h4> <pre data-language="elixir">iex&gt; Stream.uniq_by([{1, :x}, {2, :y}, {1, :z}], fn {x, _} -&gt; x end) |&gt; Enum.to_list()
[{1, :x}, {2, :y}]

iex&gt; Stream.uniq_by([a: {:tea, 2}, b: {:tea, 2}, c: {:coffee, 1}], fn {_, y} -&gt; y end) |&gt; Enum.to_list()
[a: {:tea, 2}, c: {:coffee, 1}]</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="with_index/2">with_index(enum, fun_or_offset \\ 0)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/stream.ex#L1206" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec with_index(Enumerable.t(), integer()) :: Enumerable.t({element(), integer()})</pre> <pre translate="no" data-language="elixir">@spec with_index(Enumerable.t(), (element(), index() -&gt; return_value)) ::
  Enumerable.t(return_value)
when return_value: term()</pre> </div> <p>Creates a stream where each element in the enumerable will be wrapped in a tuple alongside its index or according to a given function.</p>
<p>May receive a function or an integer offset.</p>
<p>If an <code class="inline">offset</code> is given, it will index from the given offset instead of from zero.</p>
<p>If a <code class="inline">function</code> is given, it will index by invoking the function for each element and index (zero-based) of the enumerable.</p>
<h4 id="with_index/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; stream = Stream.with_index([1, 2, 3])
iex&gt; Enum.to_list(stream)
[{1, 0}, {2, 1}, {3, 2}]

iex&gt; stream = Stream.with_index([1, 2, 3], 3)
iex&gt; Enum.to_list(stream)
[{1, 3}, {2, 4}, {3, 5}]

iex&gt; stream = Stream.with_index([1, 2, 3], fn x, index -&gt; x + index end)
iex&gt; Enum.to_list(stream)
[1, 3, 5]</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="zip/1">zip(enumerables)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/stream.ex#L1295" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec zip(enumerables) :: Enumerable.t()
when enumerables: [Enumerable.t()] | Enumerable.t()</pre> </div> <p>Zips corresponding elements from a finite collection of enumerables into one stream of tuples.</p>
<p>The zipping finishes as soon as any enumerable in the given collection completes.</p>
<h4 id="zip/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; concat = Stream.concat(1..3, 4..6)
iex&gt; cycle = Stream.cycle(["foo", "bar", "baz"])
iex&gt; Stream.zip([concat, [:a, :b, :c], cycle]) |&gt; Enum.to_list()
[{1, :a, "foo"}, {2, :b, "bar"}, {3, :c, "baz"}]</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="zip/2">zip(enumerable1, enumerable2)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/stream.ex#L1275" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec zip(Enumerable.t(), Enumerable.t()) :: Enumerable.t()</pre> </div> <p>Zips two enumerables together, lazily.</p>
<p>Because a list of two-element tuples with atoms as the first tuple element is a keyword list (<a href="keyword"><code class="inline">Keyword</code></a>), zipping a first <a href="stream"><code class="inline">Stream</code></a> of atoms with a second <a href="stream"><code class="inline">Stream</code></a> of any kind creates a <a href="stream"><code class="inline">Stream</code></a> that generates a keyword list.</p>
<p>The zipping finishes as soon as either enumerable completes.</p>
<h4 id="zip/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; concat = Stream.concat(1..3, 4..6)
iex&gt; cycle = Stream.cycle([:a, :b, :c])
iex&gt; Stream.zip(concat, cycle) |&gt; Enum.to_list()
[{1, :a}, {2, :b}, {3, :c}, {4, :a}, {5, :b}, {6, :c}]
iex&gt; Stream.zip(cycle, concat) |&gt; Enum.to_list()
[a: 1, b: 2, c: 3, a: 4, b: 5, c: 6]</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="zip_with/2">zip_with(enumerables, zip_fun)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/stream.ex#L1364" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec zip_with(enumerables, (Enumerable.t() -&gt; term())) :: Enumerable.t()
when enumerables: [Enumerable.t()] | Enumerable.t()</pre> </div> <p>Lazily zips corresponding elements from a finite collection of enumerables into a new enumerable, transforming them with the <code class="inline">zip_fun</code> function as it goes.</p>
<p>The first element from each of the enums in <code class="inline">enumerables</code> will be put into a list which is then passed to the one-arity <code class="inline">zip_fun</code> function. Then, the second elements from each of the enums are put into a list and passed to <code class="inline">zip_fun</code>, and so on until any one of the enums in <code class="inline">enumerables</code> completes.</p>
<p>Returns a new enumerable with the results of calling <code class="inline">zip_fun</code>.</p>
<h4 id="zip_with/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; concat = Stream.concat(1..3, 4..6)
iex&gt; Stream.zip_with([concat, concat], fn [a, b] -&gt; a + b end) |&gt; Enum.to_list()
[2, 4, 6, 8, 10, 12]

iex&gt; concat = Stream.concat(1..3, 4..6)
iex&gt; Stream.zip_with([concat, concat, 1..3], fn [a, b, c] -&gt; a + b + c end) |&gt; Enum.to_list()
[3, 6, 9]</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="zip_with/3">zip_with(enumerable1, enumerable2, zip_fun)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/stream.ex#L1316" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec zip_with(Enumerable.t(), Enumerable.t(), (term(), term() -&gt; term())) ::
  Enumerable.t()</pre> </div> <p>Lazily zips corresponding elements from two enumerables into a new one, transforming them with the <code class="inline">zip_fun</code> function as it goes.</p>
<p>The <code class="inline">zip_fun</code> will be called with the first element from <code class="inline">enumerable1</code> and the first element from <code class="inline">enumerable2</code>, then with the second element from each, and so on until either one of the enumerables completes.</p>
<h4 id="zip_with/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; concat = Stream.concat(1..3, 4..6)
iex&gt; Stream.zip_with(concat, concat, fn a, b -&gt; a + b end) |&gt; Enum.to_list()
[2, 4, 6, 8, 10, 12]</pre> </section> </section> </div> </section> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/Stream.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/Stream.html</a>
  </p>
</div>
