<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/string_io.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">StringIO</span>  </h1> <section id="moduledoc"> <p>Controls an IO device process that wraps a string.</p>
<p>A <a href="stringio"><code class="inline">StringIO</code></a> IO device can be passed as a "device" to most of the functions in the <a href="io"><code class="inline">IO</code></a> module.</p>
<h2 id="module-examples" class="section-heading">  <span class="text">Examples</span> </h2> <pre data-language="elixir">iex&gt; {:ok, pid} = StringIO.open("foo")
iex&gt; IO.read(pid, 2)
"fo"</pre> </section> </div> <section id="summary" class="details-list"> <h1 class="section-heading">  <span class="text">Summary</span> </h1> <h2> Functions </h2>
<dl class="summary-functions summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#close/1" data-no-tooltip translate="no">close(pid)</a> </dt> <dd class="summary-synopsis"><p>Stops the IO device and returns the remaining input/output buffers.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#contents/1" data-no-tooltip translate="no">contents(pid)</a> </dt> <dd class="summary-synopsis"><p>Returns the current input/output buffers for the given IO device.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#flush/1" data-no-tooltip translate="no">flush(pid)</a> </dt> <dd class="summary-synopsis"><p>Flushes the output buffer and returns its current contents.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#open/2" data-no-tooltip translate="no">open(string, options_or_function \\ [])</a> </dt> <dd class="summary-synopsis"><p>Creates an IO device.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#open/3" data-no-tooltip translate="no">open(string, options, function)</a> </dt> <dd class="summary-synopsis"><p>Creates an IO device.</p></dd> </div> </dl> </section> <section id="functions" class="details-list"> <h1 class="section-heading">  <span class="text">Functions</span> </h1> <div class="functions-list"> <section class="detail"> <h3 class="detail-header" id="close/1">close(pid)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/string_io.ex#L171" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec close(pid()) :: {:ok, {binary(), binary()}}</pre> </div> <p>Stops the IO device and returns the remaining input/output buffers.</p>
<h4 id="close/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; {:ok, pid} = StringIO.open("in")
iex&gt; IO.write(pid, "out")
iex&gt; StringIO.close(pid)
{:ok, {"in", "out"}}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="contents/1">contents(pid)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/string_io.ex#L136" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec contents(pid()) :: {binary(), binary()}</pre> </div> <p>Returns the current input/output buffers for the given IO device.</p>
<h4 id="contents/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; {:ok, pid} = StringIO.open("in")
iex&gt; IO.write(pid, "out")
iex&gt; StringIO.contents(pid)
{"in", "out"}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="flush/1">flush(pid)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/string_io.ex#L154" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec flush(pid()) :: binary()</pre> </div> <p>Flushes the output buffer and returns its current contents.</p>
<h4 id="flush/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; {:ok, pid} = StringIO.open("in")
iex&gt; IO.write(pid, "out")
iex&gt; StringIO.flush(pid)
"out"
iex&gt; StringIO.contents(pid)
{"in", ""}</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="open/2">open(string, options_or_function \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/string_io.ex#L112" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec open(
  binary(),
  keyword()
) :: {:ok, pid()}</pre> <pre translate="no" data-language="elixir">@spec open(binary(), (pid() -&gt; res)) :: {:ok, res} when res: var</pre> </div> <p>Creates an IO device.</p>
<p><code class="inline">string</code> will be the initial input of the newly created device.</p>
<p><code class="inline">options_or_function</code> can be a keyword list of options or a function.</p>
<p>If options are provided, the result will be <code class="inline">{:ok, pid}</code>, returning the IO device created. The option <code class="inline">:capture_prompt</code>, when set to <code class="inline">true</code>, causes prompts (which are specified as arguments to <code class="inline">IO.get*</code> functions) to be included in the device's output.</p>
<p>If a function is provided, the device will be created and sent to the function. When the function returns, the device will be closed. The final result will be a tuple with <code class="inline">:ok</code> and the result of the function.</p>
<h4 id="open/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; {:ok, pid} = StringIO.open("foo")
iex&gt; IO.gets(pid, "&gt;")
"foo"
iex&gt; StringIO.contents(pid)
{"", ""}

iex&gt; {:ok, pid} = StringIO.open("foo", capture_prompt: true)
iex&gt; IO.gets(pid, "&gt;")
"foo"
iex&gt; StringIO.contents(pid)
{"", "&gt;"}

iex&gt; StringIO.open("foo", fn pid -&gt;
...&gt;   input = IO.gets(pid, "&gt;")
...&gt;   IO.write(pid, "The input was #{input}")
...&gt;   StringIO.contents(pid)
...&gt; end)
{:ok, {"", "The input was foo"}}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="open/3">open(string, options, function)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/string_io.ex#L59" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec open(binary(), keyword(), (pid() -&gt; res)) :: {:ok, res} when res: var</pre> </div> <p>Creates an IO device.</p>
<p><code class="inline">string</code> will be the initial input of the newly created device.</p>
<p>The device will be created and sent to the function given. When the function returns, the device will be closed. The final result will be a tuple with <code class="inline">:ok</code> and the result of the function.</p>
<h4 id="open/3-options" class="section-heading">  <span class="text">Options</span> </h4> <ul>
<li><p><code class="inline">:capture_prompt</code> - if set to <code class="inline">true</code>, prompts (specified as arguments to <code class="inline">IO.get*</code> functions) are captured in the output. Defaults to <code class="inline">false</code>.</p></li>
<li><p><code class="inline">:encoding</code> (since v1.10.0) - encoding of the IO device. Allowed values are <code class="inline">:unicode</code> (default) and <code class="inline">:latin1</code>.</p></li>
</ul>
<h4 id="open/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; StringIO.open("foo", [], fn pid -&gt;
...&gt;   input = IO.gets(pid, "&gt;")
...&gt;   IO.write(pid, "The input was #{input}")
...&gt;   StringIO.contents(pid)
...&gt; end)
{:ok, {"", "The input was foo"}}

iex&gt; StringIO.open("foo", [capture_prompt: true], fn pid -&gt;
...&gt;   input = IO.gets(pid, "&gt;")
...&gt;   IO.write(pid, "The input was #{input}")
...&gt;   StringIO.contents(pid)
...&gt; end)
{:ok, {"", "&gt;The input was foo"}}</pre> </section> </section> </div> </section> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/StringIO.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/StringIO.html</a>
  </p>
</div>
