<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/pages/getting-started/structs.md#L1" title="View Source" class="source" rel="help">Source</a> <span>Structs</span> </h1> <p>We learned about maps <a href="keywords-and-maps">in earlier chapters</a>:</p>
<pre data-language="elixir">iex&gt; map = %{a: 1, b: 2}
%{a: 1, b: 2}
iex&gt; map[:a]
1
iex&gt; %{map | a: 3}
%{a: 3, b: 2}</pre>
<p>Structs are extensions built on top of maps that provide compile-time checks and default values.</p>
<h2 id="defining-structs" class="section-heading">  <span class="text">Defining structs</span> </h2> <p>To define a struct, the <a href="kernel#defstruct/1"><code class="inline">defstruct/1</code></a> construct is used:</p>
<pre data-language="elixir">iex&gt; defmodule User do
...&gt;   defstruct name: "John", age: 27
...&gt; end</pre>
<p>The keyword list used with <code class="inline">defstruct</code> defines what fields the struct will have along with their default values. Structs take the name of the module they're defined in. In the example above, we defined a struct named <code class="inline">User</code>.</p>
<p>We can now create <code class="inline">User</code> structs by using a syntax similar to the one used to create maps:</p>
<pre data-language="elixir">iex&gt; %User{}
%User{age: 27, name: "John"}
iex&gt; %User{name: "Jane"}
%User{age: 27, name: "Jane"}</pre>
<p>Structs provide <em>compile-time</em> guarantees that only the fields defined through <code class="inline">defstruct</code> will be allowed to exist in a struct:</p>
<pre data-language="elixir">iex&gt; %User{oops: :field}
** (KeyError) key :oops not found expanding struct: User.__struct__/1</pre>
<h2 id="accessing-and-updating-structs" class="section-heading">  <span class="text">Accessing and updating structs</span> </h2> <p>Structs share the same syntax for accessing and updating fields as maps of fixed keys:</p>
<pre data-language="elixir">iex&gt; john = %User{}
%User{age: 27, name: "John"}
iex&gt; john.name
"John"
iex&gt; jane = %{john | name: "Jane"}
%User{age: 27, name: "Jane"}
iex&gt; %{jane | oops: :field}
** (KeyError) key :oops not found in: %User{age: 27, name: "Jane"}</pre>
<p>When using the update syntax (<code class="inline">|</code>), Elixir is aware that no new keys will be added to the struct, allowing the maps underneath to share their structure in memory. In the example above, both <code class="inline">john</code> and <code class="inline">jane</code> share the same key structure in memory.</p>
<p>Structs can also be used in pattern matching, both for matching on the value of specific keys as well as for ensuring that the matching value is a struct of the same type as the matched value.</p>
<pre data-language="elixir">iex&gt; %User{name: name} = john
%User{age: 27, name: "John"}
iex&gt; name
"John"
iex&gt; %User{} = %{}
** (MatchError) no match of right hand side value: %{}</pre>
<h2 id="structs-are-bare-maps-underneath" class="section-heading">  <span class="text">Structs are bare maps underneath</span> </h2> <p>Structs are simply maps with a "special" field named <code class="inline">__struct__</code> that holds the name of the struct:</p>
<pre data-language="elixir">iex&gt; is_map(john)
true
iex&gt; john.__struct__
User</pre>
<p>However, structs do not inherit any of the protocols that maps do. For example, you can neither enumerate nor access a struct:</p>
<pre data-language="elixir">iex&gt; john = %User{}
%User{age: 27, name: "John"}
iex&gt; john[:name]
** (UndefinedFunctionError) function User.fetch/2 is undefined (User does not implement the Access behaviour)
             User.fetch(%User{age: 27, name: "John"}, :name)
iex&gt; Enum.each(john, fn {field, value} -&gt; IO.puts(value) end)
** (Protocol.UndefinedError) protocol Enumerable not implemented for %User{age: 27, name: "John"} of type User (a struct)</pre>
<p>Structs alongside protocols provide one of the most important features for Elixir developers: data polymorphism. That's what we will explore in the next chapter.</p>
<h2 id="default-values-and-required-keys" class="section-heading">  <span class="text">Default values and required keys</span> </h2> <p>If you don't specify a default key value when defining a struct, <code class="inline">nil</code> will be assumed:</p>
<pre data-language="elixir">iex&gt; defmodule Product do
...&gt;   defstruct [:name]
...&gt; end
iex&gt; %Product{}
%Product{name: nil}</pre>
<p>You can define a structure combining both fields with explicit default values, and implicit <code class="inline">nil</code> values. In this case you must first specify the fields which implicitly default to nil:</p>
<pre data-language="elixir">iex&gt; defmodule User do
...&gt;   defstruct [:email, name: "John", age: 27]
...&gt; end
iex&gt; %User{}
%User{age: 27, email: nil, name: "John"}</pre>
<p>Doing it in reverse order will raise a syntax error:</p>
<pre data-language="elixir">iex&gt; defmodule User do
...&gt;   defstruct [name: "John", age: 27, :email]
...&gt; end
** (SyntaxError) iex:107: unexpected expression after keyword list. Keyword lists must always come last in lists and maps.</pre>
<p>You can also enforce that certain keys have to be specified when creating the struct via the <code class="inline">@enforce_keys</code> module attribute:</p>
<pre data-language="elixir">iex&gt; defmodule Car do
...&gt;   @enforce_keys [:make]
...&gt;   defstruct [:model, :make]
...&gt; end
iex&gt; %Car{}
** (ArgumentError) the following keys must also be given when building struct Car: [:make]
    expanding struct: Car.__struct__/1</pre>
<p>Enforcing keys provides a simple compile-time guarantee to aid developers when building structs. It is not enforced on updates and it does not provide any sort of value-validation.</p> </div> <div class="bottom-actions" id="bottom-actions"> <div class="bottom-actions-item"> <a href="module-attributes" class="bottom-actions-button" rel="prev"> <span class="subheader"> ← Previous Page </span> <span class="title"> Module attributes </span> </a> </div> <div class="bottom-actions-item"> <a href="protocols" class="bottom-actions-button" rel="next"> <span class="subheader"> Next Page → </span> <span class="title"> Protocols </span> </a> </div> </div> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/structs.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/structs.html</a>
  </p>
</div>
