<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/supervisor/spec.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">Supervisor.Spec</span>  </h1> <div class="deprecated"> This module is deprecated. Use the new child specifications outlined in the Supervisor module instead. </div> <section id="moduledoc"> <p>Outdated functions for building child specifications.</p>
<p>The functions in this module are deprecated and they do not work with the module-based child specs introduced in Elixir v1.5. Please see the <a href="supervisor"><code class="inline">Supervisor</code></a> documentation instead.</p>
<p>Convenience functions for defining supervisor specifications.</p>
<h2 id="module-example" class="section-heading">  <span class="text">Example</span> </h2> <p>By using the functions in this module one can specify the children to be used under a supervisor, started with <a href="supervisor#start_link/2"><code class="inline">Supervisor.start_link/2</code></a>:</p>
<pre data-language="elixir">import Supervisor.Spec

children = [
  worker(MyWorker, [arg1, arg2, arg3]),
  supervisor(MySupervisor, [arg1])
]

Supervisor.start_link(children, strategy: :one_for_one)</pre>
<p>Sometimes, it may be handy to define supervisors backed by a module:</p>
<pre data-language="elixir">defmodule MySupervisor do
  use Supervisor

  def start_link(arg) do
    Supervisor.start_link(__MODULE__, arg)
  end

  def init(arg) do
    children = [
      worker(MyWorker, [arg], restart: :temporary)
    ]

    supervise(children, strategy: :simple_one_for_one)
  end
end</pre>
<p>Note that in this case we don't have to explicitly import <a href="supervisor.spec"><code class="inline">Supervisor.Spec</code></a> since <code class="inline">use Supervisor</code> automatically does so. Defining a module-based supervisor can be useful, for example, to perform initialization tasks in the <a href="supervisor#c:init/1"><code class="inline">Supervisor.init/1</code></a> callback.</p>
<h2 id="module-supervisor-and-worker-options" class="section-heading">  <span class="text">Supervisor and worker options</span> </h2> <p>In the example above, we defined specs for workers and supervisors. These specs (both for workers as well as supervisors) accept the following options:</p>
<ul>
<li><p><code class="inline">:id</code> - a name used to identify the child specification internally by the supervisor; defaults to the given module name for the child worker/supervisor</p></li>
<li><p><code class="inline">:function</code> - the function to invoke on the child to start it</p></li>
<li><p><code class="inline">:restart</code> - an atom that defines when a terminated child process should be restarted (see the "Restart values" section below)</p></li>
<li><p><code class="inline">:shutdown</code> - an atom that defines how a child process should be terminated (see the "Shutdown values" section below)</p></li>
<li><p><code class="inline">:modules</code> - it should be a list with one element <code class="inline">[module]</code>, where module is the name of the callback module only if the child process is a <a href="supervisor"><code class="inline">Supervisor</code></a> or <a href="genserver"><code class="inline">GenServer</code></a>; if the child process is a <a href="genevent"><code class="inline">GenEvent</code></a>, <code class="inline">:modules</code> should be <code class="inline">:dynamic</code></p></li>
</ul>
<h3 id="module-restart-values-restart" class="section-heading">  <span class="text">Restart values (:restart)</span> </h3> <p>The following restart values are supported in the <code class="inline">:restart</code> option:</p>
<ul>
<li><p><code class="inline">:permanent</code> - the child process is always restarted</p></li>
<li><p><code class="inline">:temporary</code> - the child process is never restarted (not even when the supervisor's strategy is <code class="inline">:rest_for_one</code> or <code class="inline">:one_for_all</code>)</p></li>
<li><p><code class="inline">:transient</code> - the child process is restarted only if it terminates abnormally, i.e., with an exit reason other than <code class="inline">:normal</code>, <code class="inline">:shutdown</code> or <code class="inline">{:shutdown, term}</code></p></li>
</ul>
<p>Note that supervisor that reached maximum restart intensity will exit with <code class="inline">:shutdown</code> reason. In this case the supervisor will only restart if its child specification was defined with the <code class="inline">:restart</code> option set to <code class="inline">:permanent</code> (the default).</p>
<h3 id="module-shutdown-values-shutdown" class="section-heading">  <span class="text">Shutdown values (<code class="inline">:shutdown</code>)</span> </h3> <p>The following shutdown values are supported in the <code class="inline">:shutdown</code> option:</p>
<ul>
<li><p><code class="inline">:brutal_kill</code> - the child process is unconditionally terminated using <code class="inline">Process.exit(child, :kill)</code></p></li>
<li><p><code class="inline">:infinity</code> - if the child process is a supervisor, this is a mechanism to give the subtree enough time to shut down; it can also be used with workers with care</p></li>
<li><p>a non-negative integer - the amount of time in milliseconds that the supervisor tells the child process to terminate by calling <code class="inline">Process.exit(child, :shutdown)</code> and then waits for an exit signal back. If no exit signal is received within the specified time, the child process is unconditionally terminated using <code class="inline">Process.exit(child, :kill)</code></p></li>
</ul> </section> </div> <section id="summary" class="details-list"> <h1 class="section-heading">  <span class="text">Summary</span> </h1> <h2> Types </h2>
<dl class="summary-types summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#t:child_id/0" data-no-tooltip translate="no">child_id()</a> </dt> <dd class="summary-synopsis"><p>Supported ID values</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:modules/0" data-no-tooltip translate="no">modules()</a> </dt> <dd class="summary-synopsis"><p>Supported module values</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:restart/0" data-no-tooltip translate="no">restart()</a> </dt> <dd class="summary-synopsis"><p>Supported restart values</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:shutdown/0" data-no-tooltip translate="no">shutdown()</a> </dt> <dd class="summary-synopsis"><p>Supported shutdown values</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:spec/0" data-no-tooltip translate="no">spec()</a> </dt> <dd class="summary-synopsis"><p>The supervisor specification</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:strategy/0" data-no-tooltip translate="no">strategy()</a> </dt> <dd class="summary-synopsis"><p>Supported strategies</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:worker/0" data-no-tooltip translate="no">worker()</a> </dt> <dd class="summary-synopsis"><p>Supported worker values</p></dd> </div> </dl> <h2> Functions </h2>
<dl class="summary-functions summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#supervise/2" data-no-tooltip translate="no">supervise(children, options)</a> <span class="deprecated" title="Use the new child specifications outlined in the Supervisor module instead">deprecated</span> </dt> <dd class="summary-synopsis"><p>Receives a list of <code class="inline">children</code> (workers or supervisors) to supervise and a set of <code class="inline">options</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#supervisor/3" data-no-tooltip translate="no">supervisor(module, args, options \\ [])</a> <span class="deprecated" title="Use the new child specifications outlined in the Supervisor module instead">deprecated</span> </dt> <dd class="summary-synopsis"><p>Defines the given <code class="inline">module</code> as a supervisor which will be started with the given arguments.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#worker/3" data-no-tooltip translate="no">worker(module, args, options \\ [])</a> <span class="deprecated" title="Use the new child specifications outlined in the Supervisor module instead">deprecated</span> </dt> <dd class="summary-synopsis"><p>Defines the given <code class="inline">module</code> as a worker which will be started with the given arguments.</p></dd> </div> </dl> </section> <section id="types" class="details-list"> <h1 class="section-heading">  <span class="text">Types</span> </h1> <div class="types-list"> <section class="detail"> <h3 class="detail-header" id="t:child_id/0">child_id()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/supervisor/spec.ex#L128" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type child_id() :: term()</pre> </div> <p>Supported ID values</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:modules/0">modules()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/supervisor/spec.ex#L125" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type modules() :: :dynamic | [module()]</pre> </div> <p>Supported module values</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:restart/0">restart()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/supervisor/spec.ex#L116" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type restart() :: :permanent | :transient | :temporary</pre> </div> <p>Supported restart values</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:shutdown/0">shutdown()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/supervisor/spec.ex#L119" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type shutdown() :: timeout() | :brutal_kill</pre> </div> <p>Supported shutdown values</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:spec/0">spec()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/supervisor/spec.ex#L131" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type spec() ::
  {child_id(), start_fun :: {module(), atom(), [term()]}, restart(), shutdown(),
   worker(), modules()}</pre> </div> <p>The supervisor specification</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:strategy/0">strategy()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/supervisor/spec.ex#L113" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type strategy() :: :simple_one_for_one | :one_for_one | :one_for_all | :rest_for_one</pre> </div> <p>Supported strategies</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:worker/0">worker()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/supervisor/spec.ex#L122" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type worker() :: :worker | :supervisor</pre> </div> <p>Supported worker values</p> </section> </section> </div> </section> <section id="functions" class="details-list"> <h1 class="section-heading">  <span class="text">Functions</span> </h1> <div class="functions-list"> <section class="detail"> <h3 class="detail-header" id="supervise/2">supervise(children, options)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/supervisor/spec.ex#L170" class="source">Source</a>
</h3> <div class="deprecated"> This function is deprecated. Use the new child specifications outlined in the Supervisor module instead. </div> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec supervise([spec()],
  strategy: strategy(),
  max_restarts: non_neg_integer(),
  max_seconds: pos_integer()
) :: {:ok, tuple()}</pre> </div> <p>Receives a list of <code class="inline">children</code> (workers or supervisors) to supervise and a set of <code class="inline">options</code>.</p>
<p>Returns a tuple containing the supervisor specification. This tuple can be used as the return value of the <a href="supervisor#c:init/1"><code class="inline">Supervisor.init/1</code></a> callback when implementing a module-based supervisor.</p>
<h4 id="supervise/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">supervise(children, strategy: :one_for_one)</pre>
<h4 id="supervise/2-options" class="section-heading">  <span class="text">Options</span> </h4> <ul>
<li><p><code class="inline">:strategy</code> - the restart strategy option. It can be either <code class="inline">:one_for_one</code>, <code class="inline">:rest_for_one</code>, <code class="inline">:one_for_all</code>, or <code class="inline">:simple_one_for_one</code>. You can learn more about strategies in the <a href="supervisor"><code class="inline">Supervisor</code></a> module docs.</p></li>
<li><p><code class="inline">:max_restarts</code> - the maximum number of restarts allowed in a time frame. Defaults to <code class="inline">3</code>.</p></li>
<li><p><code class="inline">:max_seconds</code> - the time frame in which <code class="inline">:max_restarts</code> applies. Defaults to <code class="inline">5</code>.</p></li>
</ul>
<p>The <code class="inline">:strategy</code> option is required and by default a maximum of 3 restarts is allowed within 5 seconds. Check the <a href="supervisor"><code class="inline">Supervisor</code></a> module for a detailed description of the available strategies.</p> </section> </section> <section class="detail">  <h3 class="detail-header" id="supervisor/3">supervisor(module, args, options \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/supervisor/spec.ex#L272" class="source">Source</a>
</h3> <div class="deprecated"> This function is deprecated. Use the new child specifications outlined in the Supervisor module instead. </div> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec supervisor(
  module(),
  [term()],
  restart: restart(),
  shutdown: shutdown(),
  id: term(),
  function: atom(),
  modules: modules()
) :: spec()</pre> </div> <p>Defines the given <code class="inline">module</code> as a supervisor which will be started with the given arguments.</p>
<pre data-language="elixir">supervisor(module, [], restart: :permanent)</pre>
<p>By default, the function <code class="inline">start_link</code> is invoked on the given module. Overall, the default values for the options are:</p>
<pre data-language="elixir">[
  id: module,
  function: :start_link,
  restart: :permanent,
  shutdown: :infinity,
  modules: [module]
]</pre>
<p>See the "Supervisor and worker options" section in the <a href="supervisor.spec"><code class="inline">Supervisor.Spec</code></a> module for more information on the available options.</p> </section> </section> <section class="detail">  <h3 class="detail-header" id="worker/3">worker(module, args, options \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/supervisor/spec.ex#L238" class="source">Source</a>
</h3> <div class="deprecated"> This function is deprecated. Use the new child specifications outlined in the Supervisor module instead. </div> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec worker(
  module(),
  [term()],
  restart: restart(),
  shutdown: shutdown(),
  id: term(),
  function: atom(),
  modules: modules()
) :: spec()</pre> </div> <p>Defines the given <code class="inline">module</code> as a worker which will be started with the given arguments.</p>
<pre data-language="elixir">worker(ExUnit.Runner, [], restart: :permanent)</pre>
<p>By default, the function <code class="inline">start_link</code> is invoked on the given module. Overall, the default values for the options are:</p>
<pre data-language="elixir">[
  id: module,
  function: :start_link,
  restart: :permanent,
  shutdown: 5000,
  modules: [module]
]</pre>
<p>See the "Supervisor and worker options" section in the <a href="supervisor.spec"><code class="inline">Supervisor.Spec</code></a> module for more information on the available options.</p> </section> </section> </div> </section> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/Supervisor.Spec.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/Supervisor.Spec.html</a>
  </p>
</div>
