<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/system.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">System</span>  </h1> <section id="moduledoc"> <p>The <a href="system"><code class="inline">System</code></a> module provides functions that interact directly with the VM or the host system.</p>
<h2 id="module-time" class="section-heading">  <span class="text">Time</span> </h2> <p>The <a href="system"><code class="inline">System</code></a> module also provides functions that work with time, returning different times kept by the system with support for different time units.</p>
<p>One of the complexities in relying on system times is that they may be adjusted. For example, when you enter and leave daylight saving time, the system clock will be adjusted, often adding or removing one hour. We call such changes "time warps". In order to understand how such changes may be harmful, imagine the following code:</p>
<pre data-language="elixir">## DO NOT DO THIS
prev = System.os_time()
# ... execute some code ...
next = System.os_time()
diff = next - prev</pre>
<p>If, while the code is executing, the system clock changes, some code that executed in 1 second may be reported as taking over 1 hour! To address such concerns, the VM provides a monotonic time via <a href="#monotonic_time/0"><code class="inline">System.monotonic_time/0</code></a> which never decreases and does not leap:</p>
<pre data-language="elixir">## DO THIS
prev = System.monotonic_time()
# ... execute some code ...
next = System.monotonic_time()
diff = next - prev</pre>
<p>Generally speaking, the VM provides three time measurements:</p>
<ul>
<li><p><a href="#os_time/0"><code class="inline">os_time/0</code></a> - the time reported by the operating system (OS). This time may be adjusted forwards or backwards in time with no limitation;</p></li>
<li><p><a href="#system_time/0"><code class="inline">system_time/0</code></a> - the VM view of the <a href="#os_time/0"><code class="inline">os_time/0</code></a>. The system time and operating system time may not match in case of time warps although the VM works towards aligning them. This time is not monotonic (i.e., it may decrease) as its behavior is configured <a href="https://www.erlang.org/doc/apps/erts/time_correction.html#Time_Warp_Modes">by the VM time warp mode</a>;</p></li>
<li><p><a href="#monotonic_time/0"><code class="inline">monotonic_time/0</code></a> - a monotonically increasing time provided by the Erlang VM. This is not strictly monotonically increasing. Multiple sequential calls of the function may return the same value.</p></li>
</ul>
<p>The time functions in this module work in the <code class="inline">:native</code> unit (unless specified otherwise), which is operating system dependent. Most of the time, all calculations are done in the <code class="inline">:native</code> unit, to avoid loss of precision, with <a href="#convert_time_unit/3"><code class="inline">convert_time_unit/3</code></a> being invoked at the end to convert to a specific time unit like <code class="inline">:millisecond</code> or <code class="inline">:microsecond</code>. See the <a href="#t:time_unit/0"><code class="inline">time_unit/0</code></a> type for more information.</p>
<p>For a more complete rundown on the VM support for different times, see the <a href="https://www.erlang.org/doc/apps/erts/time_correction.html">chapter on time and time correction</a> in the Erlang docs.</p> </section> </div> <section id="summary" class="details-list"> <h1 class="section-heading">  <span class="text">Summary</span> </h1> <h2> Types </h2>
<dl class="summary-types summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#t:signal/0" data-no-tooltip translate="no">signal()</a> </dt> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:time_unit/0" data-no-tooltip translate="no">time_unit()</a> </dt> <dd class="summary-synopsis"><p>The time unit to be passed to functions like <a href="#monotonic_time/1"><code class="inline">monotonic_time/1</code></a> and others.</p></dd> </div> </dl> <h2> Functions </h2>
<dl class="summary-functions summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#argv/0" data-no-tooltip translate="no">argv()</a> </dt> <dd class="summary-synopsis"><p>Lists command line arguments.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#argv/1" data-no-tooltip translate="no">argv(args)</a> </dt> <dd class="summary-synopsis"><p>Modifies command line arguments.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#at_exit/1" data-no-tooltip translate="no">at_exit(fun)</a> </dt> <dd class="summary-synopsis"><p>Registers a program exit handler function.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#build_info/0" data-no-tooltip translate="no">build_info()</a> </dt> <dd class="summary-synopsis"><p>Elixir build information.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#cmd/3" data-no-tooltip translate="no">cmd(command, args, opts \\ [])</a> </dt> <dd class="summary-synopsis"><p>Executes the given <code class="inline">command</code> with <code class="inline">args</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#compiled_endianness/0" data-no-tooltip translate="no">compiled_endianness()</a> </dt> <dd class="summary-synopsis"><p>Returns the endianness the system was compiled with.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#convert_time_unit/3" data-no-tooltip translate="no">convert_time_unit(time, from_unit, to_unit)</a> </dt> <dd class="summary-synopsis"><p>Converts <code class="inline">time</code> from time unit <code class="inline">from_unit</code> to time unit <code class="inline">to_unit</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#cwd/0" data-no-tooltip translate="no">cwd()</a> <span class="deprecated" title="Use File.cwd/0 instead">deprecated</span> </dt> <dd class="summary-synopsis"><p>Current working directory.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#cwd!/0" data-no-tooltip translate="no">cwd!()</a> <span class="deprecated" title="Use File.cwd!/0 instead">deprecated</span> </dt> <dd class="summary-synopsis"><p>Current working directory, exception on error.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#delete_env/1" data-no-tooltip translate="no">delete_env(varname)</a> </dt> <dd class="summary-synopsis"><p>Deletes an environment variable.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#endianness/0" data-no-tooltip translate="no">endianness()</a> </dt> <dd class="summary-synopsis"><p>Returns the endianness.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#fetch_env/1" data-no-tooltip translate="no">fetch_env(varname)</a> </dt> <dd class="summary-synopsis"><p>Returns the value of the given environment variable or <code class="inline">:error</code> if not found.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#fetch_env!/1" data-no-tooltip translate="no">fetch_env!(varname)</a> </dt> <dd class="summary-synopsis"><p>Returns the value of the given environment variable or raises if not found.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#find_executable/1" data-no-tooltip translate="no">find_executable(program)</a> </dt> <dd class="summary-synopsis"><p>Locates an executable on the system.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#get_env/0" data-no-tooltip translate="no">get_env()</a> </dt> <dd class="summary-synopsis"><p>Returns all system environment variables.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#get_env/2" data-no-tooltip translate="no">get_env(varname, default \\ nil)</a> </dt> <dd class="summary-synopsis"><p>Returns the value of the given environment variable.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#get_pid/0" data-no-tooltip translate="no">get_pid()</a> <span class="deprecated" title="Use System.pid/0 instead">deprecated</span> </dt> <dd class="summary-synopsis"><p>Erlang VM process identifier.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#halt/1" data-no-tooltip translate="no">halt(status \\ 0)</a> </dt> <dd class="summary-synopsis"><p>Immediately halts the Erlang runtime system.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#monotonic_time/0" data-no-tooltip translate="no">monotonic_time()</a> </dt> <dd class="summary-synopsis"><p>Returns the current monotonic time in the <code class="inline">:native</code> time unit.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#monotonic_time/1" data-no-tooltip translate="no">monotonic_time(unit)</a> </dt> <dd class="summary-synopsis"><p>Returns the current monotonic time in the given time unit.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#no_halt/0" data-no-tooltip translate="no">no_halt()</a> </dt> <dd class="summary-synopsis"><p>Checks if the system will halt or not at the end of ARGV processing.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#no_halt/1" data-no-tooltip translate="no">no_halt(boolean)</a> </dt> <dd class="summary-synopsis"><p>Marks if the system should halt or not at the end of ARGV processing.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#os_time/0" data-no-tooltip translate="no">os_time()</a> </dt> <dd class="summary-synopsis"><p>Returns the current operating system (OS) time.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#os_time/1" data-no-tooltip translate="no">os_time(unit)</a> </dt> <dd class="summary-synopsis"><p>Returns the current operating system (OS) time in the given time <code class="inline">unit</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#otp_release/0" data-no-tooltip translate="no">otp_release()</a> </dt> <dd class="summary-synopsis"><p>Returns the Erlang/OTP release number.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#pid/0" data-no-tooltip translate="no">pid()</a> </dt> <dd class="summary-synopsis"><p>Returns the operating system PID for the current Erlang runtime system instance.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#put_env/1" data-no-tooltip translate="no">put_env(enum)</a> </dt> <dd class="summary-synopsis"><p>Sets multiple environment variables.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#put_env/2" data-no-tooltip translate="no">put_env(varname, value)</a> </dt> <dd class="summary-synopsis"><p>Sets an environment variable value.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#restart/0" data-no-tooltip translate="no">restart()</a> </dt> <dd class="summary-synopsis"><p>Restarts all applications in the Erlang runtime system.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#schedulers/0" data-no-tooltip translate="no">schedulers()</a> </dt> <dd class="summary-synopsis"><p>Returns the number of schedulers in the VM.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#schedulers_online/0" data-no-tooltip translate="no">schedulers_online()</a> </dt> <dd class="summary-synopsis"><p>Returns the number of schedulers online in the VM.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#shell/2" data-no-tooltip translate="no">shell(command, opts \\ [])</a> </dt> <dd class="summary-synopsis"><p>Executes the given <code class="inline">command</code> in the OS shell.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#stacktrace/0" data-no-tooltip translate="no">stacktrace()</a> <span class="deprecated" title="Use __STACKTRACE__ instead">deprecated</span> </dt> <dd class="summary-synopsis"><p>Deprecated mechanism to retrieve the last exception stacktrace.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#stop/1" data-no-tooltip translate="no">stop(status \\ 0)</a> </dt> <dd class="summary-synopsis"><p>Asynchronously and carefully stops the Erlang runtime system.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#system_time/0" data-no-tooltip translate="no">system_time()</a> </dt> <dd class="summary-synopsis"><p>Returns the current system time in the <code class="inline">:native</code> time unit.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#system_time/1" data-no-tooltip translate="no">system_time(unit)</a> </dt> <dd class="summary-synopsis"><p>Returns the current system time in the given time unit.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#time_offset/0" data-no-tooltip translate="no">time_offset()</a> </dt> <dd class="summary-synopsis"><p>Returns the current time offset between the Erlang VM monotonic time and the Erlang VM system time.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#time_offset/1" data-no-tooltip translate="no">time_offset(unit)</a> </dt> <dd class="summary-synopsis"><p>Returns the current time offset between the Erlang VM monotonic time and the Erlang VM system time.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#tmp_dir/0" data-no-tooltip translate="no">tmp_dir()</a> </dt> <dd class="summary-synopsis"><p>Writable temporary directory.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#tmp_dir!/0" data-no-tooltip translate="no">tmp_dir!()</a> </dt> <dd class="summary-synopsis"><p>Writable temporary directory, exception on error.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#trap_signal/3" data-no-tooltip translate="no">trap_signal(signal, id \\ make_ref(), fun)</a> </dt> <dd class="summary-synopsis"><p>Traps the given <code class="inline">signal</code> to execute the <code class="inline">fun</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#unique_integer/1" data-no-tooltip translate="no">unique_integer(modifiers \\ [])</a> </dt> <dd class="summary-synopsis"><p>Generates and returns an integer that is unique in the current runtime instance.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#untrap_signal/2" data-no-tooltip translate="no">untrap_signal(signal, id)</a> </dt> <dd class="summary-synopsis"><p>Removes a previously registered <code class="inline">signal</code> with <code class="inline">id</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#user_home/0" data-no-tooltip translate="no">user_home()</a> </dt> <dd class="summary-synopsis"><p>User home directory.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#user_home!/0" data-no-tooltip translate="no">user_home!()</a> </dt> <dd class="summary-synopsis"><p>User home directory, exception on error.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#version/0" data-no-tooltip translate="no">version()</a> </dt> <dd class="summary-synopsis"><p>Elixir version information.</p></dd> </div> </dl> </section> <section id="types" class="details-list"> <h1 class="section-heading">  <span class="text">Types</span> </h1> <div class="types-list"> <section class="detail"> <h3 class="detail-header" id="t:signal/0">signal()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/system.ex#L100" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type signal() ::
  :sigabrt
  | :sigalrm
  | :sigchld
  | :sighup
  | :sigquit
  | :sigstop
  | :sigterm
  | :sigtstp
  | :sigusr1
  | :sigusr2</pre> </div> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:time_unit/0">time_unit()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/system.ex#L93" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type time_unit() ::
  :second | :millisecond | :microsecond | :nanosecond | pos_integer()</pre> </div> <p>The time unit to be passed to functions like <a href="#monotonic_time/1"><code class="inline">monotonic_time/1</code></a> and others.</p>
<p>The <code class="inline">:second</code>, <code class="inline">:millisecond</code>, <code class="inline">:microsecond</code> and <code class="inline">:nanosecond</code> time units controls the return value of the functions that accept a time unit.</p>
<p>A time unit can also be a strictly positive integer. In this case, it represents the "parts per second": the time will be returned in <code class="inline">1 / parts_per_second</code> seconds. For example, using the <code class="inline">:millisecond</code> time unit is equivalent to using <code class="inline">1000</code> as the time unit (as the time will be returned in 1/1000 seconds - milliseconds).</p> </section> </section> </div> </section> <section id="functions" class="details-list"> <h1 class="section-heading">  <span class="text">Functions</span> </h1> <div class="functions-list"> <section class="detail"> <h3 class="detail-header" id="argv/0">argv()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/system.ex#L275" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec argv() :: [String.t()]</pre> </div> <p>Lists command line arguments.</p>
<p>Returns the list of command line arguments passed to the program.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="argv/1">argv(args)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/system.ex#L286" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec argv([String.t()]) :: :ok</pre> </div> <p>Modifies command line arguments.</p>
<p>Changes the list of command line arguments. Use it with caution, as it destroys any previous argv information.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="at_exit/1">at_exit(fun)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/system.ex#L448" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec at_exit((non_neg_integer() -&gt; any())) :: :ok</pre> </div> <p>Registers a program exit handler function.</p>
<p>Registers a function that will be invoked at the end of an Elixir script. A script is typically started via the command line via the <code class="inline">elixir</code> and <code class="inline">mix</code> executables.</p>
<p>The handler always executes in a different process from the one it was registered in. As a consequence, any resources managed by the calling process (ETS tables, open files, and others) won't be available by the time the handler function is invoked.</p>
<p>The function must receive the exit status code as an argument.</p>
<p>If the VM terminates programmatically, via <a href="#stop/1"><code class="inline">System.stop/1</code></a>, <a href="#halt/1"><code class="inline">System.halt/1</code></a>, or exit signals, the <a href="#at_exit/1"><code class="inline">at_exit/1</code></a> callbacks are not guaranteed to be executed.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="build_info/0">build_info()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/system.ex#L249" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec build_info() :: %{
  build: String.t(),
  date: String.t(),
  revision: String.t(),
  version: String.t(),
  otp_release: String.t()
}</pre> </div> <p>Elixir build information.</p>
<p>Returns a map with the Elixir version, the Erlang/OTP release it was compiled with, a short Git revision hash and the date and time it was built.</p>
<p>Every value in the map is a string, and these are:</p>
<ul>
<li>
<code class="inline">:build</code> - the Elixir version, short Git revision hash and Erlang/OTP release it was compiled with</li>
<li>
<code class="inline">:date</code> - a string representation of the ISO8601 date and time it was built</li>
<li>
<code class="inline">:otp_release</code> - OTP release it was compiled with</li>
<li>
<code class="inline">:revision</code> - short Git revision hash. If Git was not available at building time, it is set to <code class="inline">""</code>
</li>
<li>
<code class="inline">:version</code> - the Elixir version</li>
</ul>
<p>One should not rely on the specific formats returned by each of those fields. Instead one should use specialized functions, such as <a href="#version/0"><code class="inline">version/0</code></a> to retrieve the Elixir version and <a href="#otp_release/0"><code class="inline">otp_release/0</code></a> to retrieve the Erlang/OTP release.</p>
<h4 id="build_info/0-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; System.build_info()
%{
  build: "1.9.0-dev (772a00a0c) (compiled with Erlang/OTP 21)",
  date: "2018-12-24T01:09:21Z",
  otp_release: "21",
  revision: "772a00a0c",
  version: "1.9.0-dev"
}</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="cmd/3">cmd(command, args, opts \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/system.ex#L1101" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec cmd(binary(), [binary()], keyword()) ::
  {Collectable.t(), exit_status :: non_neg_integer()}</pre> </div> <p>Executes the given <code class="inline">command</code> with <code class="inline">args</code>.</p>
<p><code class="inline">command</code> is expected to be an executable available in PATH unless an absolute path is given.</p>
<p><code class="inline">args</code> must be a list of binaries which the executable will receive as its arguments as is. This means that:</p>
<ul>
<li>environment variables will not be interpolated</li>
<li>wildcard expansion will not happen (unless <a href="path#wildcard/2"><code class="inline">Path.wildcard/2</code></a> is used explicitly)</li>
<li>arguments do not need to be escaped or quoted for shell safety</li>
</ul>
<p>This function returns a tuple containing the collected result and the command exit status.</p>
<p>Internally, this function uses a <a href="port"><code class="inline">Port</code></a> for interacting with the outside world. However, if you plan to run a long-running program, ports guarantee stdin/stdout devices will be closed but it does not automatically terminate the program. The documentation for the <a href="port"><code class="inline">Port</code></a> module describes this problem and possible solutions under the "Zombie processes" section.</p>
<blockquote>
<h4 class="warning">Windows argument splitting and untrusted arguments</h4>
<p>On Unix systems, arguments are passed to a new operating system process as an array of strings but on Windows it is up to the child process to parse them and some Windows programs may apply their own rules, which are inconsistent with the standard C runtime <code class="inline">argv</code> parsing</p>
<p>This is particularly troublesome when invoking <code class="inline">.bat</code> or <code class="inline">.com</code> files as these run implicitly through <code class="inline">cmd.exe</code>, whose argument parsing is vulnerable to malicious input and can be used to run arbitrary shell commands.</p>
<p>Therefore, if you are running on Windows and you execute batch files or <code class="inline">.com</code> applications, you must not pass untrusted input as arguments to the program. You may avoid accidentally executing them by explicitly passing the extension of the program you want to run, such as <code class="inline">.exe</code>, and double check the program is indeed not a batch file or <code class="inline">.com</code> application.</p>
</blockquote>
<h4 id="cmd/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; System.cmd("echo", ["hello"])
{"hello\n", 0}

iex&gt; System.cmd("echo", ["hello"], env: [{"MIX_ENV", "test"}])
{"hello\n", 0}</pre>
<p>If you want to stream the output to Standard IO as it arrives:</p>
<pre data-language="elixir">iex&gt; System.cmd("echo", ["hello"], into: IO.stream())
hello
{%IO.Stream{}, 0}</pre>
<p>If you want to read lines:</p>
<pre data-language="elixir">iex&gt; System.cmd("echo", ["hello\nworld"], into: [], lines: 1024)
{["hello", "world"], 0}</pre>
<h4 id="cmd/3-options" class="section-heading">  <span class="text">Options</span> </h4> <ul>
<li><p><code class="inline">:into</code> - injects the result into the given collectable, defaults to <code class="inline">""</code></p></li>
<li><p><code class="inline">:lines</code> - (since v1.15.0) reads the output by lines instead of in bytes. It expects a number of maximum bytes to buffer internally (1024 is a reasonable default). The collectable will be called with each finished line (regardless of buffer size) and without the EOL character</p></li>
<li><p><code class="inline">:cd</code> - the directory to run the command in</p></li>
<li><p><code class="inline">:env</code> - an enumerable of tuples containing environment key-value as binary. The child process inherits all environment variables from its parent process, the Elixir application, except those overwritten or cleared using this option. Specify a value of <code class="inline">nil</code> to clear (unset) an environment variable, which is useful for preventing credentials passed to the application from leaking into child processes</p></li>
<li><p><code class="inline">:arg0</code> - sets the command arg0</p></li>
<li><p><code class="inline">:stderr_to_stdout</code> - redirects stderr to stdout when <code class="inline">true</code>, no effect if <code class="inline">use_stdio</code> is <code class="inline">false</code>.</p></li>
<li><p><code class="inline">:use_stdio</code> - <code class="inline">true</code> by default, setting it to false allows direct interaction with the terminal from the callee</p></li>
<li><p><code class="inline">:parallelism</code> - when <code class="inline">true</code>, the VM will schedule port tasks to improve parallelism in the system. If set to <code class="inline">false</code>, the VM will try to perform commands immediately, improving latency at the expense of parallelism. The default is <code class="inline">false</code>, and can be set on system startup by passing the <a href="https://www.erlang.org/doc/man/erl.html#+spp"><code class="inline">+spp</code></a> flag to <code class="inline">--erl</code>. Use <code class="inline">:erlang.system_info(:port_parallelism)</code> to check if enabled.</p></li>
</ul>
<h4 id="cmd/3-error-reasons" class="section-heading">  <span class="text">Error reasons</span> </h4> <p>If invalid arguments are given, <a href="argumenterror"><code class="inline">ArgumentError</code></a> is raised by <a href="#cmd/3"><code class="inline">System.cmd/3</code></a>. <a href="#cmd/3"><code class="inline">System.cmd/3</code></a> also expects a strict set of options and will raise if unknown or invalid options are given.</p>
<p>Furthermore, <a href="#cmd/3"><code class="inline">System.cmd/3</code></a> may fail with one of the POSIX reasons detailed below:</p>
<ul>
<li><p><code class="inline">:system_limit</code> - all available ports in the Erlang emulator are in use</p></li>
<li><p><code class="inline">:enomem</code> - there was not enough memory to create the port</p></li>
<li><p><code class="inline">:eagain</code> - there are no more available operating system processes</p></li>
<li><p><code class="inline">:enametoolong</code> - the external command given was too long</p></li>
<li><p><code class="inline">:emfile</code> - there are no more available file descriptors (for the operating system process that the Erlang emulator runs in)</p></li>
<li><p><code class="inline">:enfile</code> - the file table is full (for the entire operating system)</p></li>
<li><p><code class="inline">:eacces</code> - the command does not point to an executable file</p></li>
<li><p><code class="inline">:enoent</code> - the command does not point to an existing file</p></li>
</ul>
<h4 id="cmd/3-shell-commands" class="section-heading">  <span class="text">Shell commands</span> </h4> <p>If you desire to execute a trusted command inside a shell, with pipes, redirecting and so on, please check <a href="#shell/2"><code class="inline">shell/2</code></a>.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="compiled_endianness/0">compiled_endianness()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/system.ex#L198" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec compiled_endianness() :: :little | :big</pre> </div> <p>Returns the endianness the system was compiled with.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="convert_time_unit/3">convert_time_unit(time, from_unit, to_unit)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/system.ex#L1291" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec convert_time_unit(integer(), time_unit() | :native, time_unit() | :native) ::
  integer()</pre> </div> <p>Converts <code class="inline">time</code> from time unit <code class="inline">from_unit</code> to time unit <code class="inline">to_unit</code>.</p>
<p>The result is rounded via the floor function.</p>
<p><a href="#convert_time_unit/3"><code class="inline">convert_time_unit/3</code></a> accepts an additional time unit (other than the ones in the <a href="#t:time_unit/0"><code class="inline">time_unit/0</code></a> type) called <code class="inline">:native</code>. <code class="inline">:native</code> is the time unit used by the Erlang runtime system. It's determined when the runtime starts and stays the same until the runtime is stopped, but could differ the next time the runtime is started on the same machine. For this reason, you should use this function to convert <code class="inline">:native</code> time units to a predictable unit before you display them to humans.</p>
<p>To determine how many seconds the <code class="inline">:native</code> unit represents in your current runtime, you can call this function to convert 1 second to the <code class="inline">:native</code> time unit: <code class="inline">System.convert_time_unit(1, :second, :native)</code>.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="cwd/0">cwd()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/system.ex#L316" class="source">Source</a>
</h3> <div class="deprecated"> This function is deprecated. Use File.cwd/0 instead. </div> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec cwd() :: String.t() | nil</pre> </div> <p>Current working directory.</p>
<p>Returns the current working directory or <code class="inline">nil</code> if one is not available.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="cwd!/0">cwd!()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/system.ex#L330" class="source">Source</a>
</h3> <div class="deprecated"> This function is deprecated. Use File.cwd!/0 instead. </div> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec cwd!() :: String.t()</pre> </div> <p>Current working directory, exception on error.</p>
<p>Returns the current working directory or raises <a href="runtimeerror"><code class="inline">RuntimeError</code></a>.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="delete_env/1">delete_env(varname)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/system.ex#L775" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec delete_env(String.t()) :: :ok</pre> </div> <p>Deletes an environment variable.</p>
<p>Removes the variable <code class="inline">varname</code> from the environment.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="endianness/0">endianness()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/system.ex#L189" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec endianness() :: :little | :big</pre> </div> <p>Returns the endianness.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="fetch_env/1">fetch_env(varname)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/system.ex#L680" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec fetch_env(String.t()) :: {:ok, String.t()} | :error</pre> </div> <p>Returns the value of the given environment variable or <code class="inline">:error</code> if not found.</p>
<p>If the environment variable <code class="inline">varname</code> is set, then <code class="inline">{:ok, value}</code> is returned where <code class="inline">value</code> is a string. If <code class="inline">varname</code> is not set, <code class="inline">:error</code> is returned.</p>
<h4 id="fetch_env/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; System.fetch_env("PORT")
{:ok, "4000"}

iex&gt; System.fetch_env("NOT_SET")
:error</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="fetch_env!/1">fetch_env!(varname)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/system.ex#L704" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec fetch_env!(String.t()) :: String.t()</pre> </div> <p>Returns the value of the given environment variable or raises if not found.</p>
<p>Same as <a href="#get_env/1"><code class="inline">get_env/1</code></a> but raises instead of returning <code class="inline">nil</code> when the variable is not set.</p>
<h4 id="fetch_env!/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; System.fetch_env!("PORT")
"4000"

iex&gt; System.fetch_env!("NOT_SET")
** (System.EnvError) could not fetch environment variable "NOT_SET" because it is not set</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="find_executable/1">find_executable(program)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/system.ex#L609" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec find_executable(binary()) :: binary() | nil</pre> </div> <p>Locates an executable on the system.</p>
<p>This function looks up an executable program given its name using the environment variable PATH on Windows and Unix-like operating systems. It also considers the proper executable extension for each operating system, so for Windows it will try to lookup files with <code class="inline">.com</code>, <code class="inline">.cmd</code> or similar extensions.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="get_env/0">get_env()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/system.ex#L625" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec get_env() :: %{optional(String.t()) =&gt; String.t()}</pre> </div> <p>Returns all system environment variables.</p>
<p>The returned value is a map containing name-value pairs. Variable names and their values are strings.</p> </section> </section> <section class="detail">  <h3 class="detail-header" id="get_env/2">get_env(varname, default \\ nil)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/system.ex#L654" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec get_env(String.t(), String.t()) :: String.t()</pre> <pre translate="no" data-language="elixir">@spec get_env(String.t(), nil) :: String.t() | nil</pre> </div> <p>Returns the value of the given environment variable.</p>
<p>The returned value of the environment variable <code class="inline">varname</code> is a string. If the environment variable is not set, returns the string specified in <code class="inline">default</code> or <code class="inline">nil</code> if none is specified.</p>
<h4 id="get_env/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; System.get_env("PORT")
"4000"

iex&gt; System.get_env("NOT_SET")
nil

iex&gt; System.get_env("NOT_SET", "4001")
"4001"</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="get_pid/0">get_pid()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/system.ex#L718" class="source">Source</a>
</h3> <div class="deprecated"> This function is deprecated. Use System.pid/0 instead. </div> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec get_pid() :: binary()</pre> </div> <p>Erlang VM process identifier.</p>
<p>Returns the process identifier of the current Erlang emulator in the format most commonly used by the operating system environment.</p>
<p>For more information, see <a href="https://www.erlang.org/doc/apps/kernel/os.html#getpid/0"><code class="inline">:os.getpid/0</code></a>.</p> </section> </section> <section class="detail">  <h3 class="detail-header" id="halt/1">halt(status \\ 0)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/system.ex#L822" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec halt(non_neg_integer() | binary() | :abort) :: no_return()</pre> </div> <p>Immediately halts the Erlang runtime system.</p>
<p>Terminates the Erlang runtime system without properly shutting down applications and ports. Please see <a href="#stop/1"><code class="inline">stop/1</code></a> for a careful shutdown of the system.</p>
<p><code class="inline">status</code> must be a non-negative integer, the atom <code class="inline">:abort</code> or a binary.</p>
<ul>
<li><p>If an integer, the runtime system exits with the integer value which is returned to the operating system.</p></li>
<li><p>If <code class="inline">:abort</code>, the runtime system aborts producing a core dump, if that is enabled in the operating system.</p></li>
<li><p>If a string, an Erlang crash dump is produced with status as slogan, and then the runtime system exits with status code 1.</p></li>
</ul>
<p>Note that on many platforms, only the status codes 0-255 are supported by the operating system.</p>
<p>For more information, see <a href="https://www.erlang.org/doc/apps/erts/erlang.html#halt/1"><code class="inline">:erlang.halt/1</code></a>.</p>
<h4 id="halt/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">System.halt(0)
System.halt(1)
System.halt(:abort)</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="monotonic_time/0">monotonic_time()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/system.ex#L1232" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec monotonic_time() :: integer()</pre> </div> <p>Returns the current monotonic time in the <code class="inline">:native</code> time unit.</p>
<p>This time is monotonically increasing and starts in an unspecified point in time. This is not strictly monotonically increasing. Multiple sequential calls of the function may return the same value.</p>
<p>Inlined by the compiler.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="monotonic_time/1">monotonic_time(unit)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/system.ex#L1243" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec monotonic_time(time_unit()) :: integer()</pre> </div> <p>Returns the current monotonic time in the given time unit.</p>
<p>This time is monotonically increasing and starts in an unspecified point in time.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="no_halt/0">no_halt()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/system.ex#L304" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec no_halt() :: boolean()</pre> </div> <p>Checks if the system will halt or not at the end of ARGV processing.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="no_halt/1">no_halt(boolean)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/system.ex#L295" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec no_halt(boolean()) :: :ok</pre> </div> <p>Marks if the system should halt or not at the end of ARGV processing.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="os_time/0">os_time()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/system.ex#L1336" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec os_time() :: integer()</pre> </div> <p>Returns the current operating system (OS) time.</p>
<p>The result is returned in the <code class="inline">:native</code> time unit.</p>
<p>This time may be adjusted forwards or backwards in time with no limitation and is not monotonic.</p>
<p>Inlined by the compiler.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="os_time/1">os_time(unit)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/system.ex#L1348" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec os_time(time_unit() | :native) :: integer()</pre> </div> <p>Returns the current operating system (OS) time in the given time <code class="inline">unit</code>.</p>
<p>This time may be adjusted forwards or backwards in time with no limitation and is not monotonic.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="otp_release/0">otp_release()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/system.ex#L1357" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec otp_release() :: String.t()</pre> </div> <p>Returns the Erlang/OTP release number.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="pid/0">pid()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/system.ex#L847" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec pid() :: String.t()</pre> </div> <p>Returns the operating system PID for the current Erlang runtime system instance.</p>
<p>Returns a string containing the (usually) numerical identifier for a process. On Unix-like operating systems, this is typically the return value of the <code class="inline">getpid()</code> system call. On Windows, the process ID as returned by the <code class="inline">GetCurrentProcessId()</code> system call is used.</p>
<h4 id="pid/0-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">System.pid()</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="put_env/1">put_env(enum)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/system.ex#L750" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec put_env(Enumerable.t()) :: :ok</pre> </div> <p>Sets multiple environment variables.</p>
<p>Sets a new value for each environment variable corresponding to each <code class="inline">{key, value}</code> pair in <code class="inline">enum</code>. Keys and non-nil values are automatically converted to charlists. <code class="inline">nil</code> values erase the given keys.</p>
<p>Overall, this is a convenience wrapper around <a href="#put_env/2"><code class="inline">put_env/2</code></a> and <code class="inline">delete_env/2</code> with support for different key and value formats.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="put_env/2">put_env(varname, value)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/system.ex#L726" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec put_env(binary(), binary()) :: :ok</pre> </div> <p>Sets an environment variable value.</p>
<p>Sets a new <code class="inline">value</code> for the environment variable <code class="inline">varname</code>.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="restart/0">restart()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/system.ex#L864" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec restart() :: :ok</pre> </div> <p>Restarts all applications in the Erlang runtime system.</p>
<p>All applications are taken down smoothly, all code is unloaded, and all ports are closed before the system starts all applications once again.</p>
<h4 id="restart/0-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">System.restart()</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="schedulers/0">schedulers()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/system.ex#L1366" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec schedulers() :: pos_integer()</pre> </div> <p>Returns the number of schedulers in the VM.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="schedulers_online/0">schedulers_online()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/system.ex#L1375" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec schedulers_online() :: pos_integer()</pre> </div> <p>Returns the number of schedulers online in the VM.</p> </section> </section> <section class="detail">  <h3 class="detail-header" id="shell/2">shell(command, opts \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/system.ex#L941" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec shell(
  binary(),
  keyword()
) :: {Collectable.t(), exit_status :: non_neg_integer()}</pre> </div> <p>Executes the given <code class="inline">command</code> in the OS shell.</p>
<p>It uses <code class="inline">sh</code> for Unix-like systems and <code class="inline">cmd</code> for Windows.</p>
<blockquote>
<h4 class="warning">Watch out</h4>
<p>Use this function with care. In particular, <strong>never pass untrusted user input to this function</strong>, as the user would be able to perform "command injection attacks" by executing any code directly on the machine. Generally speaking, prefer to use <a href="#cmd/3"><code class="inline">cmd/3</code></a> over this function.</p>
</blockquote>
<h4 id="shell/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; System.shell("echo hello")
{"hello\n", 0}</pre>
<p>If you want to stream the output to Standard IO as it arrives:</p>
<pre data-language="elixir">iex&gt; System.shell("echo hello", into: IO.stream())
hello
{%IO.Stream{}, 0}</pre>
<h4 id="shell/2-options" class="section-heading">  <span class="text">Options</span> </h4> <p>It accepts the same options as <a href="#cmd/3"><code class="inline">cmd/3</code></a> (except for <code class="inline">arg0</code>). It also accepts the following exclusive options:</p>
<ul><li>
<code class="inline">:close_stdin</code> (since v1.14.1) - if the stdin should be closed on Unix systems, forcing any command that waits on stdin to immediately terminate. Defaults to false.</li></ul> </section> </section> <section class="detail"> <h3 class="detail-header" id="stacktrace/0">stacktrace()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/system.ex#L786" class="source">Source</a>
</h3> <div class="deprecated"> This function is deprecated. Use __STACKTRACE__ instead. </div> <section class="docstring"> <p>Deprecated mechanism to retrieve the last exception stacktrace.</p>
<p>It always return an empty list.</p> </section> </section> <section class="detail">  <h3 class="detail-header" id="stop/1">stop(status \\ 0)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/system.ex#L894" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec stop(non_neg_integer() | binary()) :: :ok</pre> </div> <p>Asynchronously and carefully stops the Erlang runtime system.</p>
<p>All applications are taken down smoothly, all code is unloaded, and all ports are closed before the system terminates by calling <a href="#halt/1"><code class="inline">halt/1</code></a>.</p>
<p><code class="inline">status</code> must be a non-negative integer or a binary.</p>
<ul>
<li><p>If an integer, the runtime system exits with the integer value which is returned to the operating system. On many platforms, only the status codes 0-255 are supported by the operating system.</p></li>
<li><p>If a binary, an Erlang crash dump is produced with status as slogan, and then the runtime system exits with status code 1.</p></li>
</ul>
<p>Note this function is asynchronous and the current process will continue executing after this function is invoked. In case you want to block the current process until the system effectively shuts down, you can invoke <code class="inline">Process.sleep(:infinity)</code>.</p>
<h4 id="stop/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">System.stop(0)
System.stop(1)</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="system_time/0">system_time()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/system.ex#L1257" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec system_time() :: integer()</pre> </div> <p>Returns the current system time in the <code class="inline">:native</code> time unit.</p>
<p>It is the VM view of the <a href="#os_time/0"><code class="inline">os_time/0</code></a>. They may not match in case of time warps although the VM works towards aligning them. This time is not monotonic.</p>
<p>Inlined by the compiler.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="system_time/1">system_time(unit)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/system.ex#L1269" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec system_time(time_unit()) :: integer()</pre> </div> <p>Returns the current system time in the given time unit.</p>
<p>It is the VM view of the <a href="#os_time/0"><code class="inline">os_time/0</code></a>. They may not match in case of time warps although the VM works towards aligning them. This time is not monotonic.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="time_offset/0">time_offset()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/system.ex#L1306" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec time_offset() :: integer()</pre> </div> <p>Returns the current time offset between the Erlang VM monotonic time and the Erlang VM system time.</p>
<p>The result is returned in the <code class="inline">:native</code> time unit.</p>
<p>See <a href="#time_offset/1"><code class="inline">time_offset/1</code></a> for more information.</p>
<p>Inlined by the compiler.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="time_offset/1">time_offset(unit)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/system.ex#L1320" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec time_offset(time_unit()) :: integer()</pre> </div> <p>Returns the current time offset between the Erlang VM monotonic time and the Erlang VM system time.</p>
<p>The result is returned in the given time unit <code class="inline">unit</code>. The returned offset, added to an Erlang monotonic time (for instance, one obtained with <a href="#monotonic_time/1"><code class="inline">monotonic_time/1</code></a>), gives the Erlang system time that corresponds to that monotonic time.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="tmp_dir/0">tmp_dir()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/system.ex#L383" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec tmp_dir() :: String.t() | nil</pre> </div> <p>Writable temporary directory.</p>
<p>Returns a writable temporary directory. Searches for directories in the following order:</p>
<ol>
<li>the directory named by the TMPDIR environment variable</li>
<li>the directory named by the TEMP environment variable</li>
<li>the directory named by the TMP environment variable</li>
<li>
<code class="inline">C:\TMP</code> on Windows or <code class="inline">/tmp</code> on Unix-like operating systems</li>
<li>as a last resort, the current working directory</li>
</ol>
<p>Returns <code class="inline">nil</code> if none of the above are writable.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="tmp_dir!/0">tmp_dir!()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/system.ex#L402" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec tmp_dir!() :: String.t()</pre> </div> <p>Writable temporary directory, exception on error.</p>
<p>Same as <a href="#tmp_dir/0"><code class="inline">tmp_dir/0</code></a> but raises <a href="runtimeerror"><code class="inline">RuntimeError</code></a> instead of returning <code class="inline">nil</code> if no temp dir is set.</p> </section> </section> <section class="detail">  <h3 class="detail-header" id="trap_signal/3">trap_signal(signal, id \\ make_ref(), fun)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/system.ex#L544" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec trap_signal(signal(), id, (-&gt; :ok)) ::
  {:ok, id} | {:error, :already_registered} | {:error, :not_sup}
when id: term()</pre> </div> <p>Traps the given <code class="inline">signal</code> to execute the <code class="inline">fun</code>.</p>
<blockquote>
<h4 class="warning">Avoid setting traps in libraries</h4>
<p>Trapping signals may have strong implications on how a system shuts down and behaves in production and therefore it is extremely discouraged for libraries to set their own traps. Instead, they should redirect users to configure them themselves. The only cases where it is acceptable for libraries to set their own traps is when using Elixir in script mode, such as in <code class="inline">.exs</code> files and via Mix tasks.</p>
</blockquote>
<p>An optional <code class="inline">id</code> that uniquely identifies the function can be given, otherwise a unique one is automatically generated. If a previously registered <code class="inline">id</code> is given, this function returns an error tuple. The <code class="inline">id</code> can be used to remove a registered signal by calling <a href="#untrap_signal/2"><code class="inline">untrap_signal/2</code></a>.</p>
<p>The given <code class="inline">fun</code> receives no arguments and it must return <code class="inline">:ok</code>.</p>
<p>It returns <code class="inline">{:ok, id}</code> in case of success, <code class="inline">{:error, :already_registered}</code> in case the id has already been registered for the given signal, or <code class="inline">{:error, :not_sup}</code> in case trapping exists is not supported by the current OS.</p>
<p>The first time a signal is trapped, it will override the default behavior from the operating system. If the same signal is trapped multiple times, subsequent functions given to <code class="inline">trap_signal</code> will execute <em>first</em>. In other words, you can consider each function is prepended to the signal handler.</p>
<p>By default, the Erlang VM register traps to the three signals:</p>
<ul>
<li>
<code class="inline">:sigstop</code> - gracefully shuts down the VM with <a href="#stop/0"><code class="inline">stop/0</code></a>
</li>
<li>
<code class="inline">:sigquit</code> - halts the VM via <a href="#halt/0"><code class="inline">halt/0</code></a>
</li>
<li>
<code class="inline">:sigusr1</code> - halts the VM via status code of 1</li>
</ul>
<p>Therefore, if you add traps to the signals above, the default behavior above will be executed after all user signals.</p>
<h4 id="trap_signal/3-implementation-notes" class="section-heading">  <span class="text">Implementation notes</span> </h4> <p>All signals run from a single process. Therefore, blocking the <code class="inline">fun</code> will block subsequent traps. It is also not possible to add or remove traps from within a trap itself.</p>
<p>Internally, this functionality is built on top of <a href="https://www.erlang.org/doc/apps/kernel/os.html#set_signal/2"><code class="inline">:os.set_signal/2</code></a>. When you register a trap, Elixir automatically sets it to <code class="inline">:handle</code> and it reverts it back to <code class="inline">:default</code> once all traps are removed (except for <code class="inline">:sigquit</code>, <code class="inline">:sigterm</code>, and <code class="inline">:sigusr1</code> which are always handled). If you or a library call <a href="https://www.erlang.org/doc/apps/kernel/os.html#set_signal/2"><code class="inline">:os.set_signal/2</code></a> directly, it may disable Elixir traps (or Elixir may override your configuration).</p> </section> </section> <section class="detail">  <h3 class="detail-header" id="unique_integer/1">unique_integer(modifiers \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/system.ex#L1403" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec unique_integer([:positive | :monotonic]) :: integer()</pre> </div> <p>Generates and returns an integer that is unique in the current runtime instance.</p>
<p>"Unique" means that this function, called with the same list of <code class="inline">modifiers</code>, will never return the same integer more than once on the current runtime instance.</p>
<p>If <code class="inline">modifiers</code> is <code class="inline">[]</code>, then a unique integer (that can be positive or negative) is returned. Other modifiers can be passed to change the properties of the returned integer:</p>
<ul>
<li>
<code class="inline">:positive</code> - the returned integer is guaranteed to be positive.</li>
<li>
<code class="inline">:monotonic</code> - the returned integer is monotonically increasing. This means that, on the same runtime instance (but even on different processes), integers returned using the <code class="inline">:monotonic</code> modifier will always be strictly less than integers returned by successive calls with the <code class="inline">:monotonic</code> modifier.</li>
</ul>
<p>All modifiers listed above can be combined; repeated modifiers in <code class="inline">modifiers</code> will be ignored.</p>
<p>Inlined by the compiler.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="untrap_signal/2">untrap_signal(signal, id)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/system.ex#L572" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec untrap_signal(signal(), id) :: :ok | {:error, :not_found} when id: term()</pre> </div> <p>Removes a previously registered <code class="inline">signal</code> with <code class="inline">id</code>.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="user_home/0">user_home()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/system.ex#L346" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec user_home() :: String.t() | nil</pre> </div> <p>User home directory.</p>
<p>Returns the user home directory (platform independent).</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="user_home!/0">user_home!()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/system.ex#L364" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec user_home!() :: String.t()</pre> </div> <p>User home directory, exception on error.</p>
<p>Same as <a href="#user_home/0"><code class="inline">user_home/0</code></a> but raises <a href="runtimeerror"><code class="inline">RuntimeError</code></a> instead of returning <code class="inline">nil</code> if no user home is set.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="version/0">version()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/system.ex#L208" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec version() :: String.t()</pre> </div> <p>Elixir version information.</p>
<p>Returns Elixir's version as binary.</p> </section> </section> </div> </section> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/System.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/System.html</a>
  </p>
</div>
