<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/task.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">Task</span>  </h1> <section id="moduledoc"> <p>Conveniences for spawning and awaiting tasks.</p>
<p>Tasks are processes meant to execute one particular action throughout their lifetime, often with little or no communication with other processes. The most common use case for tasks is to convert sequential code into concurrent code by computing a value asynchronously:</p>
<pre data-language="elixir">task = Task.async(fn -&gt; do_some_work() end)
res = do_some_other_work()
res + Task.await(task)</pre>
<p>Tasks spawned with <code class="inline">async</code> can be awaited on by their caller process (and only their caller) as shown in the example above. They are implemented by spawning a process that sends a message to the caller once the given computation is performed.</p>
<p>Compared to plain processes, started with <a href="kernel#spawn/1"><code class="inline">spawn/1</code></a>, tasks include monitoring metadata and logging in case of errors.</p>
<p>Besides <a href="#async/1"><code class="inline">async/1</code></a> and <a href="#await/2"><code class="inline">await/2</code></a>, tasks can also be started as part of a supervision tree and dynamically spawned on remote nodes. We will explore these scenarios next.</p>
<h2 id="module-async-and-await" class="section-heading">  <span class="text">async and await</span> </h2> <p>One of the common uses of tasks is to convert sequential code into concurrent code with <a href="#async/1"><code class="inline">Task.async/1</code></a> while keeping its semantics. When invoked, a new process will be created, linked and monitored by the caller. Once the task action finishes, a message will be sent to the caller with the result.</p>
<p><a href="#await/2"><code class="inline">Task.await/2</code></a> is used to read the message sent by the task.</p>
<p>There are two important things to consider when using <code class="inline">async</code>:</p>
<ol>
<li><p>If you are using async tasks, you <strong>must await</strong> a reply as they are <em>always</em> sent. If you are not expecting a reply, consider using <a href="#start_link/1"><code class="inline">Task.start_link/1</code></a> as detailed below.</p></li>
<li><p>Async tasks link the caller and the spawned process. This means that, if the caller crashes, the task will crash too and vice-versa. This is on purpose: if the process meant to receive the result no longer exists, there is no purpose in completing the computation. If this is not desired, you will want to use supervised tasks, described in a subsequent section.</p></li>
</ol>
<h2 id="module-tasks-are-processes" class="section-heading">  <span class="text">Tasks are processes</span> </h2> <p>Tasks are processes and so data will need to be completely copied to them. Take the following code as an example:</p>
<pre data-language="elixir">large_data = fetch_large_data()
task = Task.async(fn -&gt; do_some_work(large_data) end)
res = do_some_other_work()
res + Task.await(task)</pre>
<p>The code above copies over all of <code class="inline">large_data</code>, which can be resource intensive depending on the size of the data. There are two ways to address this.</p>
<p>First, if you need to access only part of <code class="inline">large_data</code>, consider extracting it before the task:</p>
<pre data-language="elixir">large_data = fetch_large_data()
subset_data = large_data.some_field
task = Task.async(fn -&gt; do_some_work(subset_data) end)</pre>
<p>Alternatively, if you can move the data loading altogether to the task, it may be even better:</p>
<pre data-language="elixir">task = Task.async(fn -&gt;
  large_data = fetch_large_data()
  do_some_work(large_data)
end)</pre>
<h2 id="module-dynamically-supervised-tasks" class="section-heading">  <span class="text">Dynamically supervised tasks</span> </h2> <p>The <a href="task.supervisor"><code class="inline">Task.Supervisor</code></a> module allows developers to dynamically create multiple supervised tasks.</p>
<p>A short example is:</p>
<pre data-language="elixir">{:ok, pid} = Task.Supervisor.start_link()

task =
  Task.Supervisor.async(pid, fn -&gt;
    # Do something
  end)

Task.await(task)</pre>
<p>However, in the majority of cases, you want to add the task supervisor to your supervision tree:</p>
<pre data-language="elixir">Supervisor.start_link([
  {Task.Supervisor, name: MyApp.TaskSupervisor}
], strategy: :one_for_one)</pre>
<p>And now you can use async/await by passing the name of the supervisor instead of the pid:</p>
<pre data-language="elixir">Task.Supervisor.async(MyApp.TaskSupervisor, fn -&gt;
  # Do something
end)
|&gt; Task.await()</pre>
<p>We encourage developers to rely on supervised tasks as much as possible. Supervised tasks improve the visibility of how many tasks are running at a given moment and enable a variety of patterns that give you explicit control on how to handle the results, errors, and timeouts. Here is a summary:</p>
<ul>
<li><p>Using <a href="task.supervisor#start_child/2"><code class="inline">Task.Supervisor.start_child/2</code></a> allows you to start a fire-and-forget task when you don't care about its results or if it completes successfully or not.</p></li>
<li><p>Using <a href="task.supervisor#async/2"><code class="inline">Task.Supervisor.async/2</code></a> + <a href="#await/2"><code class="inline">Task.await/2</code></a> allows you to execute tasks concurrently and retrieve its result. If the task fails, the caller will also fail.</p></li>
<li><p>Using <a href="task.supervisor#async_nolink/2"><code class="inline">Task.Supervisor.async_nolink/2</code></a> + <a href="#yield/2"><code class="inline">Task.yield/2</code></a> + <a href="#shutdown/2"><code class="inline">Task.shutdown/2</code></a> allows you to execute tasks concurrently and retrieve their results or the reason they failed within a given time frame. If the task fails, the caller won't fail. You will receive the error reason either on <code class="inline">yield</code> or <code class="inline">shutdown</code>.</p></li>
</ul>
<p>Furthermore, the supervisor guarantees all tasks terminate within a configurable shutdown period when your application shuts down. See the <a href="task.supervisor"><code class="inline">Task.Supervisor</code></a> module for details on the supported operations.</p>
<h3 id="module-distributed-tasks" class="section-heading">  <span class="text">Distributed tasks</span> </h3> <p>With <a href="task.supervisor"><code class="inline">Task.Supervisor</code></a>, it is easy to dynamically start tasks across nodes:</p>
<pre data-language="elixir"># First on the remote node named :remote@local
Task.Supervisor.start_link(name: MyApp.DistSupervisor)

# Then on the local client node
supervisor = {MyApp.DistSupervisor, :remote@local}
Task.Supervisor.async(supervisor, MyMod, :my_fun, [arg1, arg2, arg3])</pre>
<p>Note that, as above, when working with distributed tasks, one should use the <a href="task.supervisor#async/5"><code class="inline">Task.Supervisor.async/5</code></a> function that expects explicit module, function, and arguments, instead of <a href="task.supervisor#async/3"><code class="inline">Task.Supervisor.async/3</code></a> that works with anonymous functions. That's because anonymous functions expect the same module version to exist on all involved nodes. Check the <a href="agent"><code class="inline">Agent</code></a> module documentation for more information on distributed processes as the limitations described there apply to the whole ecosystem.</p>
<h2 id="module-statically-supervised-tasks" class="section-heading">  <span class="text">Statically supervised tasks</span> </h2> <p>The <a href="task"><code class="inline">Task</code></a> module implements the <a href="#child_spec/1"><code class="inline">child_spec/1</code></a> function, which allows it to be started directly under a regular <a href="supervisor"><code class="inline">Supervisor</code></a> - instead of a <a href="task.supervisor"><code class="inline">Task.Supervisor</code></a> - by passing a tuple with a function to run:</p>
<pre data-language="elixir">Supervisor.start_link([
  {Task, fn -&gt; :some_work end}
], strategy: :one_for_one)</pre>
<p>This is often useful when you need to execute some steps while setting up your supervision tree. For example: to warm up caches, log the initialization status, and such.</p>
<p>If you don't want to put the Task code directly under the <a href="supervisor"><code class="inline">Supervisor</code></a>, you can wrap the <a href="task"><code class="inline">Task</code></a> in its own module, similar to how you would do with a <a href="genserver"><code class="inline">GenServer</code></a> or an <a href="agent"><code class="inline">Agent</code></a>:</p>
<pre data-language="elixir">defmodule MyTask do
  use Task

  def start_link(arg) do
    Task.start_link(__MODULE__, :run, [arg])
  end

  def run(arg) do
    # ...
  end
end</pre>
<p>And then passing it to the supervisor:</p>
<pre data-language="elixir">Supervisor.start_link([
  {MyTask, arg}
], strategy: :one_for_one)</pre>
<p>Since these tasks are supervised and not directly linked to the caller, they cannot be awaited on. By default, the functions <a href="#start/1"><code class="inline">Task.start/1</code></a> and <a href="#start_link/1"><code class="inline">Task.start_link/1</code></a> are for fire-and-forget tasks, where you don't care about the results or if it completes successfully or not.</p>
<blockquote>
<h4 class="info"><code class="inline">use Task</code></h4>
<p>When you <code class="inline">use Task</code>, the <a href="task"><code class="inline">Task</code></a> module will define a <a href="#child_spec/1"><code class="inline">child_spec/1</code></a> function, so your module can be used as a child in a supervision tree.</p>
</blockquote>
<p><code class="inline">use Task</code> defines a <a href="#child_spec/1"><code class="inline">child_spec/1</code></a> function, allowing the defined module to be put under a supervision tree. The generated <a href="#child_spec/1"><code class="inline">child_spec/1</code></a> can be customized with the following options:</p>
<ul>
<li>
<code class="inline">:id</code> - the child specification identifier, defaults to the current module</li>
<li>
<code class="inline">:restart</code> - when the child should be restarted, defaults to <code class="inline">:temporary</code>
</li>
<li>
<code class="inline">:shutdown</code> - how to shut down the child, either immediately or by giving it time to shut down</li>
</ul>
<p>Opposite to <a href="genserver"><code class="inline">GenServer</code></a>, <a href="agent"><code class="inline">Agent</code></a> and <a href="supervisor"><code class="inline">Supervisor</code></a>, a Task has a default <code class="inline">:restart</code> of <code class="inline">:temporary</code>. This means the task will not be restarted even if it crashes. If you desire the task to be restarted for non-successful exits, do:</p>
<pre data-language="elixir">use Task, restart: :transient</pre>
<p>If you want the task to always be restarted:</p>
<pre data-language="elixir">use Task, restart: :permanent</pre>
<p>See the "Child specification" section in the <a href="supervisor"><code class="inline">Supervisor</code></a> module for more detailed information. The <code class="inline">@doc</code> annotation immediately preceding <code class="inline">use Task</code> will be attached to the generated <a href="#child_spec/1"><code class="inline">child_spec/1</code></a> function.</p>
<h2 id="module-ancestor-and-caller-tracking" class="section-heading">  <span class="text">Ancestor and Caller Tracking</span> </h2> <p>Whenever you start a new process, Elixir annotates the parent of that process through the <code class="inline">$ancestors</code> key in the process dictionary. This is often used to track the hierarchy inside a supervision tree.</p>
<p>For example, we recommend developers to always start tasks under a supervisor. This provides more visibility and allows you to control how those tasks are terminated when a node shuts down. That might look something like <code class="inline">Task.Supervisor.start_child(MySupervisor, task_function)</code>. This means that, although your code is the one invoking the task, the actual ancestor of the task is the supervisor, as the supervisor is the one effectively starting it.</p>
<p>To track the relationship between your code and the task, we use the <code class="inline">$callers</code> key in the process dictionary. Therefore, assuming the <a href="task.supervisor"><code class="inline">Task.Supervisor</code></a> call above, we have:</p>
<pre data-language="elixir">[your code] -- calls --&gt; [supervisor] ---- spawns --&gt; [task]</pre>
<p>Which means we store the following relationships:</p>
<pre data-language="elixir">[your code]              [supervisor] &lt;-- ancestor -- [task]
    ^                                                  |
    |--------------------- caller ---------------------|</pre>
<p>The list of callers of the current process can be retrieved from the Process dictionary with <code class="inline">Process.get(:"$callers")</code>. This will return either <code class="inline">nil</code> or a list <code class="inline">[pid_n, ..., pid2, pid1]</code> with at least one entry where <code class="inline">pid_n</code> is the PID that called the current process, <code class="inline">pid2</code> called <code class="inline">pid_n</code>, and <code class="inline">pid2</code> was called by <code class="inline">pid1</code>.</p>
<p>If a task crashes, the callers field is included as part of the log message metadata under the <code class="inline">:callers</code> key.</p> </section> </div> <section id="summary" class="details-list"> <h1 class="section-heading">  <span class="text">Summary</span> </h1> <h2> Types </h2>
<dl class="summary-types summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#t:async_stream_option/0" data-no-tooltip translate="no">async_stream_option()</a> </dt> <dd class="summary-synopsis"><p>Options given to <code class="inline">async_stream</code> functions.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:ref/0" data-no-tooltip translate="no">ref()</a> </dt> <dd class="summary-synopsis"><p>The task opaque reference.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:t/0" data-no-tooltip translate="no">t()</a> </dt> <dd class="summary-synopsis"><p>The Task type.</p></dd> </div> </dl> <h2> Functions </h2>
<dl class="summary-functions summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#__struct__/0" data-no-tooltip translate="no">%Task{}</a> </dt> <dd class="summary-synopsis"><p>The Task struct.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#async/1" data-no-tooltip translate="no">async(fun)</a> </dt> <dd class="summary-synopsis"><p>Starts a task that must be awaited on.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#async/3" data-no-tooltip translate="no">async(module, function_name, args)</a> </dt> <dd class="summary-synopsis"><p>Starts a task that must be awaited on.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#async_stream/3" data-no-tooltip translate="no">async_stream(enumerable, fun, options \\ [])</a> </dt> <dd class="summary-synopsis"><p>Returns a stream that runs the given function <code class="inline">fun</code> concurrently on each element in <code class="inline">enumerable</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#async_stream/5" data-no-tooltip translate="no">async_stream(enumerable, module, function_name, args, options \\ [])</a> </dt> <dd class="summary-synopsis"><p>Returns a stream where the given function (<code class="inline">module</code> and <code class="inline">function_name</code>) is mapped concurrently on each element in <code class="inline">enumerable</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#await/2" data-no-tooltip translate="no">await(task, timeout \\ 5000)</a> </dt> <dd class="summary-synopsis"><p>Awaits a task reply and returns it.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#await_many/2" data-no-tooltip translate="no">await_many(tasks, timeout \\ 5000)</a> </dt> <dd class="summary-synopsis"><p>Awaits replies from multiple tasks and returns them.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#child_spec/1" data-no-tooltip translate="no">child_spec(arg)</a> </dt> <dd class="summary-synopsis"><p>Returns a specification to start a task under a supervisor.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#completed/1" data-no-tooltip translate="no">completed(result)</a> </dt> <dd class="summary-synopsis"><p>Starts a task that immediately completes with the given <code class="inline">result</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#ignore/1" data-no-tooltip translate="no">ignore(task)</a> </dt> <dd class="summary-synopsis"><p>Ignores an existing task.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#shutdown/2" data-no-tooltip translate="no">shutdown(task, shutdown \\ 5000)</a> </dt> <dd class="summary-synopsis"><p>Unlinks and shuts down the task, and then checks for a reply.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#start/1" data-no-tooltip translate="no">start(fun)</a> </dt> <dd class="summary-synopsis"><p>Starts a task.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#start/3" data-no-tooltip translate="no">start(module, function_name, args)</a> </dt> <dd class="summary-synopsis"><p>Starts a task.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#start_link/1" data-no-tooltip translate="no">start_link(fun)</a> </dt> <dd class="summary-synopsis"><p>Starts a task as part of a supervision tree with the given <code class="inline">fun</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#start_link/3" data-no-tooltip translate="no">start_link(module, function, args)</a> </dt> <dd class="summary-synopsis"><p>Starts a task as part of a supervision tree with the given <code class="inline">module</code>, <code class="inline">function</code>, and <code class="inline">args</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#yield/2" data-no-tooltip translate="no">yield(task, timeout \\ 5000)</a> </dt> <dd class="summary-synopsis"><p>Temporarily blocks the caller process waiting for a task reply.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#yield_many/2" data-no-tooltip translate="no">yield_many(tasks, opts \\ [])</a> </dt> <dd class="summary-synopsis"><p>Yields to multiple tasks in the given time interval.</p></dd> </div> </dl> </section> <section id="types" class="details-list"> <h1 class="section-heading">  <span class="text">Types</span> </h1> <div class="types-list"> <section class="detail"> <h3 class="detail-header" id="t:async_stream_option/0">async_stream_option()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/task.ex#L300" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type async_stream_option() ::
  {:max_concurrency, pos_integer()}
  | {:ordered, boolean()}
  | {:timeout, timeout()}
  | {:on_timeout, :exit | :kill_task}
  | {:zip_input_on_exit, boolean()}</pre> </div> <p>Options given to <code class="inline">async_stream</code> functions.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:ref/0">ref()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/task.ex#L294" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@opaque ref()</pre> </div> <p>The task opaque reference.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:t/0">t()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/task.ex#L284" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type t() :: %Task{mfa: mfa(), owner: pid(), pid: pid() | nil, ref: ref()}</pre> </div> <p>The Task type.</p>
<p>See <a href="#__struct__/0"><code class="inline">%Task{}</code></a> for information about each field of the structure.</p> </section> </section> </div> </section> <section id="functions" class="details-list"> <h1 class="section-heading">  <span class="text">Functions</span> </h1> <div class="functions-list"> <section class="detail"> <h3 class="detail-header" id="__struct__/0">%Task{}<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/task.ex#L277" class="source">Source</a>
</h3> <section class="docstring"> <p>The Task struct.</p>
<p>It contains these fields:</p>
<ul>
<li><p><code class="inline">:mfa</code> - a three-element tuple containing the module, function name, and arity invoked to start the task in <a href="#async/1"><code class="inline">async/1</code></a> and <a href="#async/3"><code class="inline">async/3</code></a></p></li>
<li><p><code class="inline">:owner</code> - the PID of the process that started the task</p></li>
<li><p><code class="inline">:pid</code> - the PID of the task process; <code class="inline">nil</code> if there is no process specifically assigned for the task</p></li>
<li><p><code class="inline">:ref</code> - an opaque term used as the task monitor reference</p></li>
</ul> </section> </section> <section class="detail"> <h3 class="detail-header" id="async/1">async(fun)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/task.ex#L494" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec async((-&gt; any())) :: t()</pre> </div> <p>Starts a task that must be awaited on.</p>
<p><code class="inline">fun</code> must be a zero-arity anonymous function. This function spawns a process that is linked to and monitored by the caller process. A <a href="task"><code class="inline">Task</code></a> struct is returned containing the relevant information.</p>
<p>If you start an <code class="inline">async</code>, you <strong>must await</strong>. This is either done by calling <a href="#await/2"><code class="inline">Task.await/2</code></a> or <a href="#yield/2"><code class="inline">Task.yield/2</code></a> followed by <a href="#shutdown/2"><code class="inline">Task.shutdown/2</code></a> on the returned task. Alternatively, if you spawn a task inside a <a href="genserver"><code class="inline">GenServer</code></a>, then the <a href="genserver"><code class="inline">GenServer</code></a> will automatically await for you and call <a href="genserver#c:handle_info/2"><code class="inline">GenServer.handle_info/2</code></a> with the task response and associated <code class="inline">:DOWN</code> message.</p>
<p>Read the <a href="task"><code class="inline">Task</code></a> module documentation for more information about the general usage of async tasks.</p>
<h4 id="async/1-linking" class="section-heading">  <span class="text">Linking</span> </h4> <p>This function spawns a process that is linked to and monitored by the caller process. The linking part is important because it aborts the task if the parent process dies. It also guarantees the code before async/await has the same properties after you add the async call. For example, imagine you have this:</p>
<pre data-language="elixir">x = heavy_fun()
y = some_fun()
x + y</pre>
<p>Now you want to make the <code class="inline">heavy_fun()</code> async:</p>
<pre data-language="elixir">x = Task.async(&amp;heavy_fun/0)
y = some_fun()
Task.await(x) + y</pre>
<p>As before, if <code class="inline">heavy_fun/0</code> fails, the whole computation will fail, including the caller process. If you don't want the task to fail then you must change the <code class="inline">heavy_fun/0</code> code in the same way you would achieve it if you didn't have the async call. For example, to either return <code class="inline">{:ok, val} | :error</code> results or, in more extreme cases, by using <code class="inline">try/rescue</code>. In other words, an asynchronous task should be thought of as an extension of the caller process rather than a mechanism to isolate it from all errors.</p>
<p>If you don't want to link the caller to the task, then you must use a supervised task with <a href="task.supervisor"><code class="inline">Task.Supervisor</code></a> and call <a href="task.supervisor#async_nolink/2"><code class="inline">Task.Supervisor.async_nolink/2</code></a>.</p>
<p>In any case, avoid any of the following:</p>
<ul>
<li>
<p>Setting <code class="inline">:trap_exit</code> to <code class="inline">true</code> - trapping exits should be used only in special circumstances as it would make your process immune to not only exits from the task but from any other processes.</p>
<p>Moreover, even when trapping exits, calling <code class="inline">await</code> will still exit if the task has terminated without sending its result back.</p>
</li>
<li><p>Unlinking the task process started with <code class="inline">async</code>/<code class="inline">await</code>. If you unlink the processes and the task does not belong to any supervisor, you may leave dangling tasks in case the caller process dies.</p></li>
</ul>
<h4 id="async/1-metadata" class="section-heading">  <span class="text">Metadata</span> </h4> <p>The task created with this function stores <a href="https://www.erlang.org/doc/apps/erts/erlang.html#apply/2"><code class="inline">:erlang.apply/2</code></a> in its <code class="inline">:mfa</code> metadata field, which is used internally to apply the anonymous function. Use <a href="#async/3"><code class="inline">async/3</code></a> if you want another function to be used as metadata.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="async/3">async(module, function_name, args)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/task.ex#L507" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec async(module(), atom(), [term()]) :: t()</pre> </div> <p>Starts a task that must be awaited on.</p>
<p>Similar to <a href="#async/1"><code class="inline">async/1</code></a> except the function to be started is specified by the given <code class="inline">module</code>, <code class="inline">function_name</code>, and <code class="inline">args</code>. The <code class="inline">module</code>, <code class="inline">function_name</code>, and its arity are stored as a tuple in the <code class="inline">:mfa</code> field for reflection purposes.</p> </section> </section> <section class="detail">  <h3 class="detail-header" id="async_stream/3">async_stream(enumerable, fun, options \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/task.ex#L726" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec async_stream(Enumerable.t(), (term() -&gt; term()), [async_stream_option()]) ::
  Enumerable.t()</pre> </div> <p>Returns a stream that runs the given function <code class="inline">fun</code> concurrently on each element in <code class="inline">enumerable</code>.</p>
<p>Works the same as <a href="#async_stream/5"><code class="inline">async_stream/5</code></a> but with an anonymous function instead of a module-function-arguments tuple. <code class="inline">fun</code> must be a one-arity anonymous function.</p>
<p>Each <code class="inline">enumerable</code> element is passed as argument to the given function <code class="inline">fun</code> and processed by its own task. The tasks will be linked to the caller process, similarly to <a href="#async/1"><code class="inline">async/1</code></a>.</p>
<h4 id="async_stream/3-example" class="section-heading">  <span class="text">Example</span> </h4> <p>Count the code points in each string asynchronously, then add the counts together using reduce.</p>
<pre data-language="elixir">iex&gt; strings = ["long string", "longer string", "there are many of these"]
iex&gt; stream = Task.async_stream(strings, fn text -&gt; text |&gt; String.codepoints() |&gt; Enum.count() end)
iex&gt; Enum.reduce(stream, 0, fn {:ok, num}, acc -&gt; num + acc end)
47</pre>
<p>See <a href="#async_stream/5"><code class="inline">async_stream/5</code></a> for discussion, options, and more examples.</p> </section> </section> <section class="detail">  <h3 class="detail-header" id="async_stream/5">async_stream(enumerable, module, function_name, args, options \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/task.ex#L697" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec async_stream(Enumerable.t(), module(), atom(), [term()], [async_stream_option()]) ::
  Enumerable.t()</pre> </div> <p>Returns a stream where the given function (<code class="inline">module</code> and <code class="inline">function_name</code>) is mapped concurrently on each element in <code class="inline">enumerable</code>.</p>
<p>Each element of <code class="inline">enumerable</code> will be prepended to the given <code class="inline">args</code> and processed by its own task. Those tasks will be linked to an intermediate process that is then linked to the caller process. This means a failure in a task terminates the caller process and a failure in the caller process terminates all tasks.</p>
<p>When streamed, each task will emit <code class="inline">{:ok, value}</code> upon successful completion or <code class="inline">{:exit, reason}</code> if the caller is trapping exits. It's possible to have <code class="inline">{:exit, {element, reason}}</code> for exits using the <code class="inline">:zip_input_on_exit</code> option. The order of results depends on the value of the <code class="inline">:ordered</code> option.</p>
<p>The level of concurrency and the time tasks are allowed to run can be controlled via options (see the "Options" section below).</p>
<p>Consider using <a href="task.supervisor#async_stream/6"><code class="inline">Task.Supervisor.async_stream/6</code></a> to start tasks under a supervisor. If you find yourself trapping exits to ensure errors in the tasks do not terminate the caller process, consider using <a href="task.supervisor#async_stream_nolink/6"><code class="inline">Task.Supervisor.async_stream_nolink/6</code></a> to start tasks that are not linked to the caller process.</p>
<h4 id="async_stream/5-options" class="section-heading">  <span class="text">Options</span> </h4> <ul>
<li><p><code class="inline">:max_concurrency</code> - sets the maximum number of tasks to run at the same time. Defaults to <a href="system#schedulers_online/0"><code class="inline">System.schedulers_online/0</code></a>.</p></li>
<li><p><code class="inline">:ordered</code> - whether the results should be returned in the same order as the input stream. When the output is ordered, Elixir may need to buffer results to emit them in the original order. Setting this option to false disables the need to buffer at the cost of removing ordering. This is also useful when you're using the tasks only for the side effects. Note that regardless of what <code class="inline">:ordered</code> is set to, the tasks will process asynchronously. If you need to process elements in order, consider using <a href="enum#map/2"><code class="inline">Enum.map/2</code></a> or <a href="enum#each/2"><code class="inline">Enum.each/2</code></a> instead. Defaults to <code class="inline">true</code>.</p></li>
<li><p><code class="inline">:timeout</code> - the maximum amount of time (in milliseconds or <code class="inline">:infinity</code>) each task is allowed to execute for. Defaults to <code class="inline">5000</code>.</p></li>
<li>
<p><code class="inline">:on_timeout</code> - what to do when a task times out. The possible values are:</p>
<ul>
<li>
<code class="inline">:exit</code> (default) - the caller (the process that spawned the tasks) exits.</li>
<li>
<code class="inline">:kill_task</code> - the task that timed out is killed. The value emitted for that task is <code class="inline">{:exit, :timeout}</code>.</li>
</ul>
</li>
<li><p><code class="inline">:zip_input_on_exit</code> - (since v1.14.0) adds the original input to <code class="inline">:exit</code> tuples. The value emitted for that task is <code class="inline">{:exit, {input, reason}}</code>, where <code class="inline">input</code> is the collection element that caused an exited during processing. Defaults to <code class="inline">false</code>.</p></li>
</ul>
<h4 id="async_stream/5-example" class="section-heading">  <span class="text">Example</span> </h4> <p>Let's build a stream and then enumerate it:</p>
<pre data-language="elixir">stream = Task.async_stream(collection, Mod, :expensive_fun, [])
Enum.to_list(stream)</pre>
<p>The concurrency can be increased or decreased using the <code class="inline">:max_concurrency</code> option. For example, if the tasks are IO heavy, the value can be increased:</p>
<pre data-language="elixir">max_concurrency = System.schedulers_online() * 2
stream = Task.async_stream(collection, Mod, :expensive_fun, [], max_concurrency: max_concurrency)
Enum.to_list(stream)</pre>
<p>If you do not care about the results of the computation, you can run the stream with <a href="stream#run/1"><code class="inline">Stream.run/1</code></a>. Also set <code class="inline">ordered: false</code>, as you don't care about the order of the results either:</p>
<pre data-language="elixir">stream = Task.async_stream(collection, Mod, :expensive_fun, [], ordered: false)
Stream.run(stream)</pre>
<h4 id="async_stream/5-first-async-tasks-to-complete" class="section-heading">  <span class="text">First async tasks to complete</span> </h4> <p>You can also use <a href="#async_stream/3"><code class="inline">async_stream/3</code></a> to execute M tasks and find the N tasks to complete. For example:</p>
<pre data-language="elixir">[
  &amp;heavy_call_1/0,
  &amp;heavy_call_2/0,
  &amp;heavy_call_3/0
]
|&gt; Task.async_stream(fn fun -&gt; fun.() end, ordered: false, max_concurrency: 3)
|&gt; Stream.filter(&amp;match?({:ok, _}, &amp;1))
|&gt; Enum.take(2)</pre>
<p>In the example above, we are executing three tasks and waiting for the first 2 to complete. We use <a href="stream#filter/2"><code class="inline">Stream.filter/2</code></a> to restrict ourselves only to successfully completed tasks, and then use <a href="enum#take/2"><code class="inline">Enum.take/2</code></a> to retrieve N items. Note it is important to set both <code class="inline">ordered: false</code> and <code class="inline">max_concurrency: M</code>, where M is the number of tasks, to make sure all calls execute concurrently.</p>
<h3 id="async_stream/5-attention-unbound-async-take" class="section-heading">  <span class="text">Attention: unbound async + take</span> </h3> <p>If you want to potentially process a high number of items and keep only part of the results, you may end-up processing more items than desired. Let's see an example:</p>
<pre data-language="elixir">1..100
|&gt; Task.async_stream(fn i -&gt;
  Process.sleep(100)
  IO.puts(to_string(i))
end)
|&gt; Enum.take(10)</pre>
<p>Running the example above in a machine with 8 cores will process 16 items, even though you want only 10 elements, since <a href="#async_stream/3"><code class="inline">async_stream/3</code></a> process items concurrently. That's because it will process 8 elements at once. Then all 8 elements complete at roughly the same time, causing 8 elements to be kicked off for processing. Out of these extra 8, only 2 will be used, and the rest will be terminated.</p>
<p>Depending on the problem, you can filter or limit the number of elements upfront:</p>
<pre data-language="elixir">1..100
|&gt; Stream.take(10)
|&gt; Task.async_stream(fn i -&gt;
  Process.sleep(100)
  IO.puts(to_string(i))
end)
|&gt; Enum.to_list()</pre>
<p>In other cases, you likely want to tweak <code class="inline">:max_concurrency</code> to limit how many elements may be over processed at the cost of reducing concurrency. You can also set the number of elements to take to be a multiple of <code class="inline">:max_concurrency</code>. For instance, setting <code class="inline">max_concurrency: 5</code> in the example above.</p> </section> </section> <section class="detail">  <h3 class="detail-header" id="await/2">await(task, timeout \\ 5000)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/task.ex#L869" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec await(t(), timeout()) :: term()</pre> </div> <p>Awaits a task reply and returns it.</p>
<p>In case the task process dies, the caller process will exit with the same reason as the task.</p>
<p>A timeout, in milliseconds or <code class="inline">:infinity</code>, can be given with a default value of <code class="inline">5000</code>. If the timeout is exceeded, then the caller process will exit. If the task process is linked to the caller process which is the case when a task is started with <code class="inline">async</code>, then the task process will also exit. If the task process is trapping exits or not linked to the caller process, then it will continue to run.</p>
<p>This function assumes the task's monitor is still active or the monitor's <code class="inline">:DOWN</code> message is in the message queue. If it has been demonitored, or the message already received, this function will wait for the duration of the timeout awaiting the message.</p>
<p>This function can only be called once for any given task. If you want to be able to check multiple times if a long-running task has finished its computation, use <a href="#yield/2"><code class="inline">yield/2</code></a> instead.</p>
<h4 id="await/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; task = Task.async(fn -&gt; 1 + 1 end)
iex&gt; Task.await(task)
2</pre>
<h4 id="await/2-compatibility-with-otp-behaviours" class="section-heading">  <span class="text">Compatibility with OTP behaviours</span> </h4> <p>It is not recommended to <code class="inline">await</code> a long-running task inside an OTP behaviour such as <a href="genserver"><code class="inline">GenServer</code></a>. Instead, you should match on the message coming from a task inside your <a href="genserver#c:handle_info/2"><code class="inline">GenServer.handle_info/2</code></a> callback.</p>
<p>A GenServer will receive two messages on <code class="inline">handle_info/2</code>:</p>
<ul>
<li><p><code class="inline">{ref, result}</code> - the reply message where <code class="inline">ref</code> is the monitor reference returned by the <code class="inline">task.ref</code> and <code class="inline">result</code> is the task result</p></li>
<li><p><code class="inline">{:DOWN, ref, :process, pid, reason}</code> - since all tasks are also monitored, you will also receive the <code class="inline">:DOWN</code> message delivered by <a href="process#monitor/1"><code class="inline">Process.monitor/1</code></a>. If you receive the <code class="inline">:DOWN</code> message without a a reply, it means the task crashed</p></li>
</ul>
<p>Another consideration to have in mind is that tasks started by <a href="#async/1"><code class="inline">Task.async/1</code></a> are always linked to their callers and you may not want the GenServer to crash if the task crashes. Therefore, it is preferable to instead use <a href="task.supervisor#async_nolink/3"><code class="inline">Task.Supervisor.async_nolink/3</code></a> inside OTP behaviours. For completeness, here is an example of a GenServer that start tasks and handles their results:</p>
<pre data-language="elixir">defmodule GenServerTaskExample do
  use GenServer

  def start_link(opts) do
    GenServer.start_link(__MODULE__, :ok, opts)
  end

  def init(_opts) do
    # We will keep all running tasks in a map
    {:ok, %{tasks: %{}}}
  end

  # Imagine we invoke a task from the GenServer to access a URL...
  def handle_call(:some_message, _from, state) do
    url = ...
    task = Task.Supervisor.async_nolink(MyApp.TaskSupervisor, fn -&gt; fetch_url(url) end)

    # After we start the task, we store its reference and the url it is fetching
    state = put_in(state.tasks[task.ref], url)

    {:reply, :ok, state}
  end

  # If the task succeeds...
  def handle_info({ref, result}, state) do
    # The task succeed so we can demonitor its reference
    Process.demonitor(ref, [:flush])

    {url, state} = pop_in(state.tasks[ref])
    IO.puts "Got #{inspect(result)} for URL #{inspect url}"
    {:noreply, state}
  end

  # If the task fails...
  def handle_info({:DOWN, ref, _, _, reason}, state) do
    {url, state} = pop_in(state.tasks[ref])
    IO.puts "URL #{inspect url} failed with reason #{inspect(reason)}"
    {:noreply, state}
  end
end</pre>
<p>With the server defined, you will want to start the task supervisor above and the GenServer in your supervision tree:</p>
<pre data-language="elixir">children = [
  {Task.Supervisor, name: MyApp.TaskSupervisor},
  {GenServerTaskExample, name: MyApp.GenServerTaskExample}
]

Supervisor.start_link(children, strategy: :one_for_one)</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="await_many/2">await_many(tasks, timeout \\ 5000)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/task.ex#L977" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec await_many([t()], timeout()) :: [term()]</pre> </div> <p>Awaits replies from multiple tasks and returns them.</p>
<p>This function receives a list of tasks and waits for their replies in the given time interval. It returns a list of the results, in the same order as the tasks supplied in the <code class="inline">tasks</code> input argument.</p>
<p>If any of the task processes dies, the caller process will exit with the same reason as that task.</p>
<p>A timeout, in milliseconds or <code class="inline">:infinity</code>, can be given with a default value of <code class="inline">5000</code>. If the timeout is exceeded, then the caller process will exit. Any task processes that are linked to the caller process (which is the case when a task is started with <code class="inline">async</code>) will also exit. Any task processes that are trapping exits or not linked to the caller process will continue to run.</p>
<p>This function assumes the tasks' monitors are still active or the monitor's <code class="inline">:DOWN</code> message is in the message queue. If any tasks have been demonitored, or the message already received, this function will wait for the duration of the timeout.</p>
<p>This function can only be called once for any given task. If you want to be able to check multiple times if a long-running task has finished its computation, use <a href="#yield_many/2"><code class="inline">yield_many/2</code></a> instead.</p>
<h4 id="await_many/2-compatibility-with-otp-behaviours" class="section-heading">  <span class="text">Compatibility with OTP behaviours</span> </h4> <p>It is not recommended to <code class="inline">await</code> long-running tasks inside an OTP behaviour such as <a href="genserver"><code class="inline">GenServer</code></a>. See <a href="#await/2"><code class="inline">await/2</code></a> for more information.</p>
<h4 id="await_many/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; tasks = [
...&gt;   Task.async(fn -&gt; 1 + 1 end),
...&gt;   Task.async(fn -&gt; 2 + 3 end)
...&gt; ]
iex&gt; Task.await_many(tasks)
[2, 5]</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="child_spec/1">child_spec(arg)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/task.ex#L321" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec child_spec(term()) :: Supervisor.child_spec()</pre> </div> <p>Returns a specification to start a task under a supervisor.</p>
<p><code class="inline">arg</code> is passed as the argument to <a href="#start_link/1"><code class="inline">Task.start_link/1</code></a> in the <code class="inline">:start</code> field of the spec.</p>
<p>For more information, see the <a href="supervisor"><code class="inline">Supervisor</code></a> module, the <a href="supervisor#child_spec/2"><code class="inline">Supervisor.child_spec/2</code></a> function and the <a href="supervisor#t:child_spec/0"><code class="inline">Supervisor.child_spec/0</code></a> type.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="completed/1">completed(result)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/task.ex#L552" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec completed(any()) :: t()</pre> </div> <p>Starts a task that immediately completes with the given <code class="inline">result</code>.</p>
<p>Unlike <a href="#async/1"><code class="inline">async/1</code></a>, this task does not spawn a linked process. It can be awaited or yielded like any other task.</p>
<h4 id="completed/1-usage" class="section-heading">  <span class="text">Usage</span> </h4> <p>In some cases, it is useful to create a "completed" task that represents a task that has already run and generated a result. For example, when processing data you may be able to determine that certain inputs are invalid before dispatching them for further processing:</p>
<pre data-language="elixir">def process(data) do
  tasks =
    for entry &lt;- data do
      if invalid_input?(entry) do
        Task.completed({:error, :invalid_input})
      else
        Task.async(fn -&gt; further_process(entry) end)
      end
    end

  Task.await_many(tasks)
end</pre>
<p>In many cases, <a href="#completed/1"><code class="inline">Task.completed/1</code></a> may be avoided in favor of returning the result directly. You should generally only require this variant when working with mixed asynchrony, when a group of inputs will be handled partially synchronously and partially asynchronously.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="ignore/1">ignore(task)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/task.ex#L907" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec ignore(t()) :: {:ok, term()} | {:exit, term()} | nil</pre> </div> <p>Ignores an existing task.</p>
<p>This means the task will continue running, but it will be unlinked and you can no longer yield, await or shut it down.</p>
<p>Returns <code class="inline">{:ok, reply}</code> if the reply is received before ignoring the task, <code class="inline">{:exit, reason}</code> if the task died before ignoring it, otherwise <code class="inline">nil</code>.</p>
<p>Important: avoid using <a href="#async/1"><code class="inline">Task.async/1,3</code></a> and then immediately ignoring the task. If you want to start tasks you don't care about their results, use <a href="task.supervisor#start_child/2"><code class="inline">Task.Supervisor.start_child/2</code></a> instead.</p> </section> </section> <section class="detail">  <h3 class="detail-header" id="shutdown/2">shutdown(task, shutdown \\ 5000)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/task.ex#L1331" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec shutdown(t(), timeout() | :brutal_kill) :: {:ok, term()} | {:exit, term()} | nil</pre> </div> <p>Unlinks and shuts down the task, and then checks for a reply.</p>
<p>Returns <code class="inline">{:ok, reply}</code> if the reply is received while shutting down the task, <code class="inline">{:exit, reason}</code> if the task died, otherwise <code class="inline">nil</code>. Once shut down, you can no longer await or yield it.</p>
<p>The second argument is either a timeout or <code class="inline">:brutal_kill</code>. In case of a timeout, a <code class="inline">:shutdown</code> exit signal is sent to the task process and if it does not exit within the timeout, it is killed. With <code class="inline">:brutal_kill</code> the task is killed straight away. In case the task terminates abnormally (possibly killed by another process), this function will exit with the same reason.</p>
<p>It is not required to call this function when terminating the caller, unless exiting with reason <code class="inline">:normal</code> or if the task is trapping exits. If the caller is exiting with a reason other than <code class="inline">:normal</code> and the task is not trapping exits, the caller's exit signal will stop the task. The caller can exit with reason <code class="inline">:shutdown</code> to shut down all of its linked processes, including tasks, that are not trapping exits without generating any log messages.</p>
<p>If there is no process linked to the task, such as tasks started by <a href="#completed/1"><code class="inline">Task.completed/1</code></a>, we check for a response or error accordingly, but without shutting a process down.</p>
<p>If a task's monitor has already been demonitored or received and there is not a response waiting in the message queue this function will return <code class="inline">{:exit, :noproc}</code> as the result or exit reason can not be determined.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="start/1">start(fun)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/task.ex#L398" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec start((-&gt; any())) :: {:ok, pid()}</pre> </div> <p>Starts a task.</p>
<p><code class="inline">fun</code> must be a zero-arity anonymous function.</p>
<p>This should only used when the task is used for side-effects (like I/O) and you have no interest on its results nor if it completes successfully.</p>
<p>If the current node is shutdown, the node will terminate even if the task was not completed. For this reason, we recommend to use <a href="task.supervisor#start_child/2"><code class="inline">Task.Supervisor.start_child/2</code></a> instead, which allows you to control the shutdown time via the <code class="inline">:shutdown</code> option.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="start/3">start(module, function_name, args)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/task.ex#L415" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec start(module(), atom(), [term()]) :: {:ok, pid()}</pre> </div> <p>Starts a task.</p>
<p>This should only used when the task is used for side-effects (like I/O) and you have no interest on its results nor if it completes successfully.</p>
<p>If the current node is shutdown, the node will terminate even if the task was not completed. For this reason, we recommend to use <a href="task.supervisor#start_child/2"><code class="inline">Task.Supervisor.start_child/2</code></a> instead, which allows you to control the shutdown time via the <code class="inline">:shutdown</code> option.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="start_link/1">start_link(fun)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/task.ex#L366" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec start_link((-&gt; any())) :: {:ok, pid()}</pre> </div> <p>Starts a task as part of a supervision tree with the given <code class="inline">fun</code>.</p>
<p><code class="inline">fun</code> must be a zero-arity anonymous function.</p>
<p>This is used to start a statically supervised task under a supervision tree.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="start_link/3">start_link(module, function, args)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/task.ex#L377" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec start_link(module(), atom(), [term()]) :: {:ok, pid()}</pre> </div> <p>Starts a task as part of a supervision tree with the given <code class="inline">module</code>, <code class="inline">function</code>, and <code class="inline">args</code>.</p>
<p>This is used to start a statically supervised task under a supervision tree.</p> </section> </section> <section class="detail">  <h3 class="detail-header" id="yield/2">yield(task, timeout \\ 5000)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/task.ex#L1114" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec yield(t(), timeout()) :: {:ok, term()} | {:exit, term()} | nil</pre> </div> <p>Temporarily blocks the caller process waiting for a task reply.</p>
<p>Returns <code class="inline">{:ok, reply}</code> if the reply is received, <code class="inline">nil</code> if no reply has arrived, or <code class="inline">{:exit, reason}</code> if the task has already exited. Keep in mind that normally a task failure also causes the process owning the task to exit. Therefore this function can return <code class="inline">{:exit, reason}</code> if at least one of the conditions below apply:</p>
<ul>
<li>the task process exited with the reason <code class="inline">:normal</code>
</li>
<li>the task isn't linked to the caller (the task was started with <a href="task.supervisor#async_nolink/2"><code class="inline">Task.Supervisor.async_nolink/2</code></a> or <a href="task.supervisor#async_nolink/4"><code class="inline">Task.Supervisor.async_nolink/4</code></a>)</li>
<li>the caller is trapping exits</li>
</ul>
<p>A timeout, in milliseconds or <code class="inline">:infinity</code>, can be given with a default value of <code class="inline">5000</code>. If the time runs out before a message from the task is received, this function will return <code class="inline">nil</code> and the monitor will remain active. Therefore <a href="#yield/2"><code class="inline">yield/2</code></a> can be called multiple times on the same task.</p>
<p>This function assumes the task's monitor is still active or the monitor's <code class="inline">:DOWN</code> message is in the message queue. If it has been demonitored or the message already received, this function will wait for the duration of the timeout awaiting the message.</p>
<p>If you intend to shut the task down if it has not responded within <code class="inline">timeout</code> milliseconds, you should chain this together with <a href="#shutdown/1"><code class="inline">shutdown/1</code></a>, like so:</p>
<pre data-language="elixir">case Task.yield(task, timeout) || Task.shutdown(task) do
  {:ok, result} -&gt;
    result

  nil -&gt;
    Logger.warning("Failed to get a result in #{timeout}ms")
    nil
end</pre>
<p>If you intend to check on the task but leave it running after the timeout, you can chain this together with <a href="#ignore/1"><code class="inline">ignore/1</code></a>, like so:</p>
<pre data-language="elixir">case Task.yield(task, timeout) || Task.ignore(task) do
  {:ok, result} -&gt;
    result

  nil -&gt;
    Logger.warning("Failed to get a result in #{timeout}ms")
    nil
end</pre>
<p>That ensures that if the task completes after the <code class="inline">timeout</code> but before <a href="#shutdown/1"><code class="inline">shutdown/1</code></a> has been called, you will still get the result, since <a href="#shutdown/1"><code class="inline">shutdown/1</code></a> is designed to handle this case and return the result.</p> </section> </section> <section class="detail">  <h3 class="detail-header" id="yield_many/2">yield_many(tasks, opts \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/task.ex#L1229" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec yield_many([t()], timeout()) :: [{t(), {:ok, term()} | {:exit, term()} | nil}]</pre> <pre translate="no" data-language="elixir">@spec yield_many([t()],
  limit: pos_integer(),
  timeout: timeout(),
  on_timeout: :nothing | :ignore | :kill_task
) :: [{t(), {:ok, term()} | {:exit, term()} | nil}]</pre> </div> <p>Yields to multiple tasks in the given time interval.</p>
<p>This function receives a list of tasks and waits for their replies in the given time interval. It returns a list of two-element tuples, with the task as the first element and the yielded result as the second. The tasks in the returned list will be in the same order as the tasks supplied in the <code class="inline">tasks</code> input argument.</p>
<p>Similarly to <a href="#yield/2"><code class="inline">yield/2</code></a>, each task's result will be</p>
<ul>
<li>
<code class="inline">{:ok, term}</code> if the task has successfully reported its result back in the given time interval</li>
<li>
<code class="inline">{:exit, reason}</code> if the task has died</li>
<li>
<code class="inline">nil</code> if the task keeps running, either because a limit has been reached or past the timeout</li>
</ul>
<p>Check <a href="#yield/2"><code class="inline">yield/2</code></a> for more information.</p>
<h4 id="yield_many/2-example" class="section-heading">  <span class="text">Example</span> </h4> <p><a href="#yield_many/2"><code class="inline">Task.yield_many/2</code></a> allows developers to spawn multiple tasks and retrieve the results received in a given time frame. If we combine it with <a href="#shutdown/2"><code class="inline">Task.shutdown/2</code></a> (or <a href="#ignore/1"><code class="inline">Task.ignore/1</code></a>), it allows us to gather those results and cancel (or ignore) the tasks that have not replied in time.</p>
<p>Let's see an example.</p>
<pre data-language="elixir">tasks =
  for i &lt;- 1..10 do
    Task.async(fn -&gt;
      Process.sleep(i * 1000)
      i
    end)
  end

tasks_with_results = Task.yield_many(tasks, timeout: 5000)

results =
  Enum.map(tasks_with_results, fn {task, res} -&gt;
    # Shut down the tasks that did not reply nor exit
    res || Task.shutdown(task, :brutal_kill)
  end)

# Here we are matching only on {:ok, value} and
# ignoring {:exit, _} (crashed tasks) and `nil` (no replies)
for {:ok, value} &lt;- results do
  IO.inspect(value)
end</pre>
<p>In the example above, we create tasks that sleep from 1 up to 10 seconds and return the number of seconds they slept for. If you execute the code all at once, you should see 1 up to 5 printed, as those were the tasks that have replied in the given time. All other tasks will have been shut down using the <a href="#shutdown/2"><code class="inline">Task.shutdown/2</code></a> call.</p>
<p>As a convenience, you can achieve a similar behavior to above by specifying the <code class="inline">:on_timeout</code> option to be <code class="inline">:kill_task</code> (or <code class="inline">:ignore</code>). See <a href="#await_many/2"><code class="inline">Task.await_many/2</code></a> if you would rather exit the caller process on timeout.</p>
<h4 id="yield_many/2-options" class="section-heading">  <span class="text">Options</span> </h4> <p>The second argument is either a timeout or options, which defaults to this:</p>
<ul>
<li><p><code class="inline">:limit</code> - the maximum amount of tasks to wait for. If the limit is reached before the timeout, this function returns immediately without triggering the <code class="inline">:on_timeout</code> behaviour</p></li>
<li><p><code class="inline">:timeout</code> - the maximum amount of time (in milliseconds or <code class="inline">:infinity</code>) each task is allowed to execute for. Defaults to <code class="inline">5000</code>.</p></li>
<li>
<p><code class="inline">:on_timeout</code> - what to do when a task times out. The possible values are:</p>
<ul>
<li>
<code class="inline">:nothing</code> - do nothing (default). The tasks can still be awaited on, yielded on, ignored, or shut down later.</li>
<li>
<code class="inline">:ignore</code> - the results of the task will be ignored.</li>
<li>
<code class="inline">:kill_task</code> - the task that timed out is killed.</li>
</ul>
</li>
</ul> </section> </section> </div> </section> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/Task.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/Task.html</a>
  </p>
</div>
