<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/task/supervisor.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">Task.Supervisor</span>  </h1> <section id="moduledoc"> <p>A task supervisor.</p>
<p>This module defines a supervisor which can be used to dynamically supervise tasks.</p>
<p>A task supervisor is started with no children, often under a supervisor and a name:</p>
<pre data-language="elixir">children = [
  {Task.Supervisor, name: MyApp.TaskSupervisor}
]

Supervisor.start_link(children, strategy: :one_for_one)</pre>
<p>The options given in the child specification are documented in <a href="#start_link/1"><code class="inline">start_link/1</code></a>.</p>
<p>Once started, you can start tasks directly under the supervisor, for example:</p>
<pre data-language="elixir">task = Task.Supervisor.async(MyApp.TaskSupervisor, fn -&gt;
  :do_some_work
end)</pre>
<p>See the <a href="task"><code class="inline">Task</code></a> module for more examples.</p>
<h2 id="module-scalability-and-partitioning" class="section-heading">  <span class="text">Scalability and partitioning</span> </h2> <p>The <a href="task.supervisor"><code class="inline">Task.Supervisor</code></a> is a single process responsible for starting other processes. In some applications, the <a href="task.supervisor"><code class="inline">Task.Supervisor</code></a> may become a bottleneck. To address this, you can start multiple instances of the <a href="task.supervisor"><code class="inline">Task.Supervisor</code></a> and then pick a random instance to start the task on.</p>
<p>Instead of:</p>
<pre data-language="elixir">children = [
  {Task.Supervisor, name: MyApp.TaskSupervisor}
]</pre>
<p>and:</p>
<pre data-language="elixir">Task.Supervisor.async(MyApp.TaskSupervisor, fn -&gt; :do_some_work end)</pre>
<p>You can do this:</p>
<pre data-language="elixir">children = [
  {PartitionSupervisor,
   child_spec: Task.Supervisor,
   name: MyApp.TaskSupervisors}
]</pre>
<p>and then:</p>
<pre data-language="elixir">Task.Supervisor.async(
  {:via, PartitionSupervisor, {MyApp.TaskSupervisors, self()}},
  fn -&gt; :do_some_work end
)</pre>
<p>In the code above, we start a partition supervisor that will by default start a dynamic supervisor for each core in your machine. Then, instead of calling the <a href="task.supervisor"><code class="inline">Task.Supervisor</code></a> by name, you call it through the partition supervisor using the <code class="inline">{:via, PartitionSupervisor, {name, key}}</code> format, where <code class="inline">name</code> is the name of the partition supervisor and <code class="inline">key</code> is the routing key. We picked <code class="inline">self()</code> as the routing key, which means each process will be assigned one of the existing task supervisors. Read the <a href="partitionsupervisor"><code class="inline">PartitionSupervisor</code></a> docs for more information.</p>
<h2 id="module-name-registration" class="section-heading">  <span class="text">Name registration</span> </h2> <p>A <a href="task.supervisor"><code class="inline">Task.Supervisor</code></a> is bound to the same name registration rules as a <a href="genserver"><code class="inline">GenServer</code></a>. Read more about them in the <a href="genserver"><code class="inline">GenServer</code></a> docs.</p> </section> </div> <section id="summary" class="details-list"> <h1 class="section-heading">  <span class="text">Summary</span> </h1> <h2> Types </h2>
<dl class="summary-types summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#t:async_stream_option/0" data-no-tooltip translate="no">async_stream_option()</a> </dt> <dd class="summary-synopsis"><p>Options given to <code class="inline">async_stream</code> and <code class="inline">async_stream_nolink</code> functions.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:option/0" data-no-tooltip translate="no">option()</a> </dt> <dd class="summary-synopsis"><p>Option values used by <code class="inline">start_link</code></p></dd> </div> </dl> <h2> Functions </h2>
<dl class="summary-functions summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#async/3" data-no-tooltip translate="no">async(supervisor, fun, options \\ [])</a> </dt> <dd class="summary-synopsis"><p>Starts a task that can be awaited on.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#async/5" data-no-tooltip translate="no">async(supervisor, module, fun, args, options \\ [])</a> </dt> <dd class="summary-synopsis"><p>Starts a task that can be awaited on.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#async_nolink/3" data-no-tooltip translate="no">async_nolink(supervisor, fun, options \\ [])</a> </dt> <dd class="summary-synopsis"><p>Starts a task that can be awaited on.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#async_nolink/5" data-no-tooltip translate="no">async_nolink(supervisor, module, fun, args, options \\ [])</a> </dt> <dd class="summary-synopsis"><p>Starts a task that can be awaited on.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#async_stream/4" data-no-tooltip translate="no">async_stream(supervisor, enumerable, fun, options \\ [])</a> </dt> <dd class="summary-synopsis"><p>Returns a stream that runs the given function <code class="inline">fun</code> concurrently on each element in <code class="inline">enumerable</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#async_stream/6" data-no-tooltip translate="no">async_stream(supervisor, enumerable, module, function, args, options \\ [])</a> </dt> <dd class="summary-synopsis"><p>Returns a stream where the given function (<code class="inline">module</code> and <code class="inline">function</code>) is mapped concurrently on each element in <code class="inline">enumerable</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#async_stream_nolink/4" data-no-tooltip translate="no">async_stream_nolink(supervisor, enumerable, fun, options \\ [])</a> </dt> <dd class="summary-synopsis"><p>Returns a stream that runs the given <code class="inline">function</code> concurrently on each element in <code class="inline">enumerable</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#async_stream_nolink/6" data-no-tooltip translate="no">async_stream_nolink(supervisor, enumerable, module, function, args, options \\ [])</a> </dt> <dd class="summary-synopsis"><p>Returns a stream where the given function (<code class="inline">module</code> and <code class="inline">function</code>) is mapped concurrently on each element in <code class="inline">enumerable</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#children/1" data-no-tooltip translate="no">children(supervisor)</a> </dt> <dd class="summary-synopsis"><p>Returns all children PIDs except those that are restarting.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#start_child/3" data-no-tooltip translate="no">start_child(supervisor, fun, options \\ [])</a> </dt> <dd class="summary-synopsis"><p>Starts a task as a child of the given <code class="inline">supervisor</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#start_child/5" data-no-tooltip translate="no">start_child(supervisor, module, fun, args, options \\ [])</a> </dt> <dd class="summary-synopsis"><p>Starts a task as a child of the given <code class="inline">supervisor</code>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#start_link/1" data-no-tooltip translate="no">start_link(options \\ [])</a> </dt> <dd class="summary-synopsis"><p>Starts a new supervisor.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#terminate_child/2" data-no-tooltip translate="no">terminate_child(supervisor, pid)</a> </dt> <dd class="summary-synopsis"><p>Terminates the child with the given <code class="inline">pid</code>.</p></dd> </div> </dl> </section> <section id="types" class="details-list"> <h1 class="section-heading">  <span class="text">Types</span> </h1> <div class="types-list"> <section class="detail"> <h3 class="detail-header" id="t:async_stream_option/0">async_stream_option()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/task/supervisor.ex#L84" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type async_stream_option() ::
  Task.async_stream_option() | {:shutdown, Supervisor.shutdown()}</pre> </div> <p>Options given to <code class="inline">async_stream</code> and <code class="inline">async_stream_nolink</code> functions.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:option/0">option()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/task/supervisor.ex#L76" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type option() :: DynamicSupervisor.option() | DynamicSupervisor.init_option()</pre> </div> <p>Option values used by <code class="inline">start_link</code></p> </section> </section> </div> </section> <section id="functions" class="details-list"> <h1 class="section-heading">  <span class="text">Functions</span> </h1> <div class="functions-list"> <section class="detail">  <h3 class="detail-header" id="async/3">async(supervisor, fun, options \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/task/supervisor.ex#L175" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec async(Supervisor.supervisor(), (-&gt; any()), Keyword.t()) :: Task.t()</pre> </div> <p>Starts a task that can be awaited on.</p>
<p>The <code class="inline">supervisor</code> must be a reference as defined in <a href="supervisor"><code class="inline">Supervisor</code></a>. The task will still be linked to the caller, see <a href="task#async/1"><code class="inline">Task.async/1</code></a> for more information and <a href="#async_nolink/3"><code class="inline">async_nolink/3</code></a> for a non-linked variant.</p>
<p>Raises an error if <code class="inline">supervisor</code> has reached the maximum number of children.</p>
<h4 id="async/3-options" class="section-heading">  <span class="text">Options</span> </h4> <ul><li>
<code class="inline">:shutdown</code> - <code class="inline">:brutal_kill</code> if the tasks must be killed directly on shutdown or an integer indicating the timeout value, defaults to 5000 milliseconds. The tasks must trap exits for the timeout to have an effect.</li></ul> </section> </section> <section class="detail">  <h3 class="detail-header" id="async/5">async(supervisor, module, fun, args, options \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/task/supervisor.ex#L197" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec async(Supervisor.supervisor(), module(), atom(), [term()], Keyword.t()) ::
  Task.t()</pre> </div> <p>Starts a task that can be awaited on.</p>
<p>The <code class="inline">supervisor</code> must be a reference as defined in <a href="supervisor"><code class="inline">Supervisor</code></a>. The task will still be linked to the caller, see <a href="task#async/1"><code class="inline">Task.async/1</code></a> for more information and <a href="#async_nolink/3"><code class="inline">async_nolink/3</code></a> for a non-linked variant.</p>
<p>Raises an error if <code class="inline">supervisor</code> has reached the maximum number of children.</p>
<h4 id="async/5-options" class="section-heading">  <span class="text">Options</span> </h4> <ul><li>
<code class="inline">:shutdown</code> - <code class="inline">:brutal_kill</code> if the tasks must be killed directly on shutdown or an integer indicating the timeout value, defaults to 5000 milliseconds. The tasks must trap exits for the timeout to have an effect.</li></ul> </section> </section> <section class="detail">  <h3 class="detail-header" id="async_nolink/3">async_nolink(supervisor, fun, options \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/task/supervisor.ex#L284" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec async_nolink(Supervisor.supervisor(), (-&gt; any()), Keyword.t()) :: Task.t()</pre> </div> <p>Starts a task that can be awaited on.</p>
<p>The <code class="inline">supervisor</code> must be a reference as defined in <a href="supervisor"><code class="inline">Supervisor</code></a>. The task won't be linked to the caller, see <a href="task#async/1"><code class="inline">Task.async/1</code></a> for more information.</p>
<p>Raises an error if <code class="inline">supervisor</code> has reached the maximum number of children.</p>
<p>Note this function requires the task supervisor to have <code class="inline">:temporary</code> as the <code class="inline">:restart</code> option (the default), as <a href="#async_nolink/3"><code class="inline">async_nolink/3</code></a> keeps a direct reference to the task which is lost if the task is restarted.</p>
<h4 id="async_nolink/3-options" class="section-heading">  <span class="text">Options</span> </h4> <ul><li>
<code class="inline">:shutdown</code> - <code class="inline">:brutal_kill</code> if the tasks must be killed directly on shutdown or an integer indicating the timeout value, defaults to 5000 milliseconds. The tasks must trap exits for the timeout to have an effect.</li></ul>
<h4 id="async_nolink/3-compatibility-with-otp-behaviours" class="section-heading">  <span class="text">Compatibility with OTP behaviours</span> </h4> <p>If you create a task using <code class="inline">async_nolink</code> inside an OTP behaviour like <a href="genserver"><code class="inline">GenServer</code></a>, you should match on the message coming from the task inside your <a href="genserver#c:handle_info/2"><code class="inline">GenServer.handle_info/2</code></a> callback.</p>
<p>The reply sent by the task will be in the format <code class="inline">{ref, result}</code>, where <code class="inline">ref</code> is the monitor reference held by the task struct and <code class="inline">result</code> is the return value of the task function.</p>
<p>Keep in mind that, regardless of how the task created with <code class="inline">async_nolink</code> terminates, the caller's process will always receive a <code class="inline">:DOWN</code> message with the same <code class="inline">ref</code> value that is held by the task struct. If the task terminates normally, the reason in the <code class="inline">:DOWN</code> message will be <code class="inline">:normal</code>.</p>
<h4 id="async_nolink/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <p>Typically, you use <a href="#async_nolink/3"><code class="inline">async_nolink/3</code></a> when there is a reasonable expectation that the task may fail, and you don't want it to take down the caller. Let's see an example where a <a href="genserver"><code class="inline">GenServer</code></a> is meant to run a single task and track its status:</p>
<pre data-language="elixir">defmodule MyApp.Server do
  use GenServer

  # ...

  def start_task do
    GenServer.call(__MODULE__, :start_task)
  end

  # In this case the task is already running, so we just return :ok.
  def handle_call(:start_task, _from, %{ref: ref} = state) when is_reference(ref) do
    {:reply, :ok, state}
  end

  # The task is not running yet, so let's start it.
  def handle_call(:start_task, _from, %{ref: nil} = state) do
    task =
      Task.Supervisor.async_nolink(MyApp.TaskSupervisor, fn -&gt;
        ...
      end)

    # We return :ok and the server will continue running
    {:reply, :ok, %{state | ref: task.ref}}
  end

  # The task completed successfully
  def handle_info({ref, answer}, %{ref: ref} = state) do
    # We don't care about the DOWN message now, so let's demonitor and flush it
    Process.demonitor(ref, [:flush])
    # Do something with the result and then return
    {:noreply, %{state | ref: nil}}
  end

  # The task failed
  def handle_info({:DOWN, ref, :process, _pid, _reason}, %{ref: ref} = state) do
    # Log and possibly restart the task...
    {:noreply, %{state | ref: nil}}
  end
end</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="async_nolink/5">async_nolink(supervisor, module, fun, args, options \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/task/supervisor.ex#L303" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec async_nolink(Supervisor.supervisor(), module(), atom(), [term()], Keyword.t()) ::
  Task.t()</pre> </div> <p>Starts a task that can be awaited on.</p>
<p>The <code class="inline">supervisor</code> must be a reference as defined in <a href="supervisor"><code class="inline">Supervisor</code></a>. The task won't be linked to the caller, see <a href="task#async/1"><code class="inline">Task.async/1</code></a> for more information.</p>
<p>Raises an error if <code class="inline">supervisor</code> has reached the maximum number of children.</p>
<p>Note this function requires the task supervisor to have <code class="inline">:temporary</code> as the <code class="inline">:restart</code> option (the default), as <a href="#async_nolink/5"><code class="inline">async_nolink/5</code></a> keeps a direct reference to the task which is lost if the task is restarted.</p> </section> </section> <section class="detail">  <h3 class="detail-header" id="async_stream/4">async_stream(supervisor, enumerable, fun, options \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/task/supervisor.ex#L395" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec async_stream(Supervisor.supervisor(), Enumerable.t(), (term() -&gt; term()), [
  async_stream_option()
]) ::
  Enumerable.t()</pre> </div> <p>Returns a stream that runs the given function <code class="inline">fun</code> concurrently on each element in <code class="inline">enumerable</code>.</p>
<p>Each element in <code class="inline">enumerable</code> is passed as argument to the given function <code class="inline">fun</code> and processed by its own task. The tasks will be spawned under the given <code class="inline">supervisor</code> and linked to the caller process, similarly to <a href="#async/3"><code class="inline">async/3</code></a>.</p>
<p>See <a href="#async_stream/6"><code class="inline">async_stream/6</code></a> for discussion, options, and examples.</p> </section> </section> <section class="detail">  <h3 class="detail-header" id="async_stream/6">async_stream(supervisor, enumerable, module, function, args, options \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/task/supervisor.ex#L373" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec async_stream(
  Supervisor.supervisor(),
  Enumerable.t(),
  module(),
  atom(),
  [term()],
  [
    async_stream_option()
  ]
) :: Enumerable.t()</pre> </div> <p>Returns a stream where the given function (<code class="inline">module</code> and <code class="inline">function</code>) is mapped concurrently on each element in <code class="inline">enumerable</code>.</p>
<p>Each element will be prepended to the given <code class="inline">args</code> and processed by its own task. The tasks will be spawned under the given <code class="inline">supervisor</code> and linked to the caller process, similarly to <a href="#async/5"><code class="inline">async/5</code></a>.</p>
<p>When streamed, each task will emit <code class="inline">{:ok, value}</code> upon successful completion or <code class="inline">{:exit, reason}</code> if the caller is trapping exits. The order of results depends on the value of the <code class="inline">:ordered</code> option.</p>
<p>The level of concurrency and the time tasks are allowed to run can be controlled via options (see the "Options" section below).</p>
<p>If you find yourself trapping exits to handle exits inside the async stream, consider using <a href="#async_stream_nolink/6"><code class="inline">async_stream_nolink/6</code></a> to start tasks that are not linked to the calling process.</p>
<h4 id="async_stream/6-options" class="section-heading">  <span class="text">Options</span> </h4> <ul>
<li><p><code class="inline">:max_concurrency</code> - sets the maximum number of tasks to run at the same time. Defaults to <a href="system#schedulers_online/0"><code class="inline">System.schedulers_online/0</code></a>.</p></li>
<li><p><code class="inline">:ordered</code> - whether the results should be returned in the same order as the input stream. This option is useful when you have large streams and don't want to buffer results before they are delivered. This is also useful when you're using the tasks for side effects. Defaults to <code class="inline">true</code>.</p></li>
<li><p><code class="inline">:timeout</code> - the maximum amount of time to wait (in milliseconds) without receiving a task reply (across all running tasks). Defaults to <code class="inline">5000</code>.</p></li>
<li>
<p><code class="inline">:on_timeout</code> - what do to when a task times out. The possible values are:</p>
<ul>
<li>
<code class="inline">:exit</code> (default) - the process that spawned the tasks exits.</li>
<li>
<code class="inline">:kill_task</code> - the task that timed out is killed. The value emitted for that task is <code class="inline">{:exit, :timeout}</code>.</li>
</ul>
</li>
<li><p><code class="inline">:zip_input_on_exit</code> - (since v1.14.0) adds the original input to <code class="inline">:exit</code> tuples. The value emitted for that task is <code class="inline">{:exit, {input, reason}}</code>, where <code class="inline">input</code> is the collection element that caused an exited during processing. Defaults to <code class="inline">false</code>.</p></li>
<li><p><code class="inline">:shutdown</code> - <code class="inline">:brutal_kill</code> if the tasks must be killed directly on shutdown or an integer indicating the timeout value. Defaults to <code class="inline">5000</code> milliseconds. The tasks must trap exits for the timeout to have an effect.</p></li>
</ul>
<h4 id="async_stream/6-examples" class="section-heading">  <span class="text">Examples</span> </h4> <p>Let's build a stream and then enumerate it:</p>
<pre data-language="elixir">stream = Task.Supervisor.async_stream(MySupervisor, collection, Mod, :expensive_fun, [])
Enum.to_list(stream)</pre> </section> </section> <section class="detail">  <h3 class="detail-header" id="async_stream_nolink/4">async_stream_nolink(supervisor, enumerable, fun, options \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/task/supervisor.ex#L473" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec async_stream_nolink(
  Supervisor.supervisor(),
  Enumerable.t(),
  (term() -&gt; term()),
  [
    async_stream_option()
  ]
) :: Enumerable.t()</pre> </div> <p>Returns a stream that runs the given <code class="inline">function</code> concurrently on each element in <code class="inline">enumerable</code>.</p>
<p>Each element in <code class="inline">enumerable</code> is passed as argument to the given function <code class="inline">fun</code> and processed by its own task. The tasks will be spawned under the given <code class="inline">supervisor</code> and will not be linked to the caller process, similarly to <a href="#async_nolink/3"><code class="inline">async_nolink/3</code></a>.</p>
<p>See <a href="#async_stream/6"><code class="inline">async_stream/6</code></a> for discussion and examples.</p>
<h4 id="async_stream_nolink/4-error-handling-and-cleanup" class="section-heading">  <span class="text">Error handling and cleanup</span> </h4> <p>Even if tasks are not linked to the caller, there is no risk of leaving dangling tasks running after the stream halts.</p>
<p>Consider the following example:</p>
<pre data-language="elixir">Task.Supervisor.async_stream_nolink(MySupervisor, collection, fun, on_timeout: :kill_task, ordered: false)
|&gt; Enum.each(fn
  {:ok, _} -&gt; :ok
  {:exit, reason} -&gt; raise "Task exited: #{Exception.format_exit(reason)}"
end)</pre>
<p>If one task raises or times out:</p>
<ol>
<li>the second clause gets called</li>
<li>an exception is raised</li>
<li>the stream halts</li>
<li>all ongoing tasks will be shut down</li>
</ol>
<p>Here is another example:</p>
<pre data-language="elixir">Task.Supervisor.async_stream_nolink(MySupervisor, collection, fun, on_timeout: :kill_task, ordered: false)
|&gt; Stream.filter(&amp;match?({:ok, _}, &amp;1))
|&gt; Enum.take(3)</pre>
<p>This will return the three first tasks to succeed, ignoring timeouts and errors, and shut down every ongoing task.</p>
<p>Just running the stream with <a href="stream#run/1"><code class="inline">Stream.run/1</code></a> on the other hand would ignore errors and process the whole stream.</p> </section> </section> <section class="detail">  <h3 class="detail-header" id="async_stream_nolink/6">async_stream_nolink(supervisor, enumerable, module, function, args, options \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/task/supervisor.ex#L418" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec async_stream_nolink(
  Supervisor.supervisor(),
  Enumerable.t(),
  module(),
  atom(),
  [term()],
  [
    async_stream_option()
  ]
) :: Enumerable.t()</pre> </div> <p>Returns a stream where the given function (<code class="inline">module</code> and <code class="inline">function</code>) is mapped concurrently on each element in <code class="inline">enumerable</code>.</p>
<p>Each element in <code class="inline">enumerable</code> will be prepended to the given <code class="inline">args</code> and processed by its own task. The tasks will be spawned under the given <code class="inline">supervisor</code> and will not be linked to the caller process, similarly to <a href="#async_nolink/5"><code class="inline">async_nolink/5</code></a>.</p>
<p>See <a href="#async_stream/6"><code class="inline">async_stream/6</code></a> for discussion, options, and examples.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="children/1">children(supervisor)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/task/supervisor.ex#L493" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec children(Supervisor.supervisor()) :: [pid()]</pre> </div> <p>Returns all children PIDs except those that are restarting.</p>
<p>Note that calling this function when supervising a large number of children under low memory conditions can cause an out of memory exception.</p> </section> </section> <section class="detail">  <h3 class="detail-header" id="start_child/3">start_child(supervisor, fun, options \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/task/supervisor.ex#L524" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec start_child(Supervisor.supervisor(), (-&gt; any()), keyword()) ::
  DynamicSupervisor.on_start_child()</pre> </div> <p>Starts a task as a child of the given <code class="inline">supervisor</code>.</p>
<pre data-language="elixir">Task.Supervisor.start_child(MyTaskSupervisor, fn -&gt;
  IO.puts "I am running in a task"
end)</pre>
<p>Note that the spawned process is not linked to the caller, but only to the supervisor. This command is useful in case the task needs to perform side-effects (like I/O) and you have no interest in its results nor if it completes successfully.</p>
<h4 id="start_child/3-options" class="section-heading">  <span class="text">Options</span> </h4> <ul>
<li><p><code class="inline">:restart</code> - the restart strategy, may be <code class="inline">:temporary</code> (the default), <code class="inline">:transient</code> or <code class="inline">:permanent</code>. <code class="inline">:temporary</code> means the task is never restarted, <code class="inline">:transient</code> means it is restarted if the exit is not <code class="inline">:normal</code>, <code class="inline">:shutdown</code> or <code class="inline">{:shutdown, reason}</code>. A <code class="inline">:permanent</code> restart strategy means it is always restarted.</p></li>
<li><p><code class="inline">:shutdown</code> - <code class="inline">:brutal_kill</code> if the task must be killed directly on shutdown or an integer indicating the timeout value, defaults to 5000 milliseconds. The task must trap exits for the timeout to have an effect.</p></li>
</ul> </section> </section> <section class="detail">  <h3 class="detail-header" id="start_child/5">start_child(supervisor, module, fun, args, options \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/task/supervisor.ex#L539" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec start_child(Supervisor.supervisor(), module(), atom(), [term()], keyword()) ::
  DynamicSupervisor.on_start_child()</pre> </div> <p>Starts a task as a child of the given <code class="inline">supervisor</code>.</p>
<p>Similar to <a href="#start_child/3"><code class="inline">start_child/3</code></a> except the task is specified by the given <code class="inline">module</code>, <code class="inline">fun</code> and <code class="inline">args</code>.</p> </section> </section> <section class="detail">  <h3 class="detail-header" id="start_link/1">start_link(options \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/task/supervisor.ex#L134" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec start_link([option()]) :: Supervisor.on_start()</pre> </div> <p>Starts a new supervisor.</p>
<h4 id="start_link/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <p>A task supervisor is typically started under a supervision tree using the tuple format:</p>
<pre data-language="elixir">{Task.Supervisor, name: MyApp.TaskSupervisor}</pre>
<p>You can also start it by calling <a href="#start_link/1"><code class="inline">start_link/1</code></a> directly:</p>
<pre data-language="elixir">Task.Supervisor.start_link(name: MyApp.TaskSupervisor)</pre>
<p>But this is recommended only for scripting and should be avoided in production code. Generally speaking, processes should always be started inside supervision trees.</p>
<h4 id="start_link/1-options" class="section-heading">  <span class="text">Options</span> </h4> <ul>
<li><p><code class="inline">:name</code> - used to register a supervisor name, the supported values are described under the <code class="inline">Name Registration</code> section in the <a href="genserver"><code class="inline">GenServer</code></a> module docs;</p></li>
<li><p><code class="inline">:max_restarts</code>, <code class="inline">:max_seconds</code>, and <code class="inline">:max_children</code> - as specified in <a href="dynamicsupervisor"><code class="inline">DynamicSupervisor</code></a>;</p></li>
</ul>
<p>This function could also receive <code class="inline">:restart</code> and <code class="inline">:shutdown</code> as options but those two options have been deprecated and it is now preferred to give them directly to <code class="inline">start_child</code>.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="terminate_child/2">terminate_child(supervisor, pid)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/task/supervisor.ex#L481" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec terminate_child(Supervisor.supervisor(), pid()) :: :ok | {:error, :not_found}</pre> </div> <p>Terminates the child with the given <code class="inline">pid</code>.</p> </section> </section> </div> </section> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/Task.Supervisor.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/Task.Supervisor.html</a>
  </p>
</div>
