<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/pages/getting-started/try-catch-and-rescue.md#L1" title="View Source" class="source" rel="help">Source</a> <span>try, catch, and rescue</span> </h1> <p>Elixir has three error mechanisms: errors, throws, and exits. In this chapter, we will explore each of them and include remarks about when each should be used.</p>
<h2 id="errors" class="section-heading">  <span class="text">Errors</span> </h2> <p>Errors (or <em>exceptions</em>) are used when exceptional things happen in the code. A sample error can be retrieved by trying to add a number to an atom:</p>
<pre data-language="elixir">iex&gt; :foo + 1
** (ArithmeticError) bad argument in arithmetic expression
     :erlang.+(:foo, 1)</pre>
<p>A runtime error can be raised any time by using <a href="kernel#raise/1"><code class="inline">raise/1</code></a>:</p>
<pre data-language="elixir">iex&gt; raise "oops"
** (RuntimeError) oops</pre>
<p>Other errors can be raised with <a href="kernel#raise/2"><code class="inline">raise/2</code></a> passing the error name and a list of keyword arguments:</p>
<pre data-language="elixir">iex&gt; raise ArgumentError, message: "invalid argument foo"
** (ArgumentError) invalid argument foo</pre>
<p>You can also define your own errors by creating a module and using the <a href="kernel#defexception/1"><code class="inline">defexception/1</code></a> construct inside it. This way, you'll create an error with the same name as the module it's defined in. The most common case is to define a custom exception with a message field:</p>
<pre data-language="elixir">iex&gt; defmodule MyError do
iex&gt;   defexception message: "default message"
iex&gt; end
iex&gt; raise MyError
** (MyError) default message
iex&gt; raise MyError, message: "custom message"
** (MyError) custom message</pre>
<p>Errors can be <strong>rescued</strong> using the <code class="inline">try/rescue</code> construct:</p>
<pre data-language="elixir">iex&gt; try do
...&gt;   raise "oops"
...&gt; rescue
...&gt;   e in RuntimeError -&gt; e
...&gt; end
%RuntimeError{message: "oops"}</pre>
<p>The example above rescues the runtime error and returns the exception itself, which is then printed in the <code class="inline">iex</code> session.</p>
<p>If you don't have any use for the exception, you don't have to pass a variable to <code class="inline">rescue</code>:</p>
<pre data-language="elixir">iex&gt; try do
...&gt;   raise "oops"
...&gt; rescue
...&gt;   RuntimeError -&gt; "Error!"
...&gt; end
"Error!"</pre>
<p>In practice, Elixir developers rarely use the <code class="inline">try/rescue</code> construct. For example, many languages would force you to rescue an error when a file cannot be opened successfully. Elixir instead provides a <a href="file#read/1"><code class="inline">File.read/1</code></a> function which returns a tuple containing information about whether the file was opened successfully:</p>
<pre data-language="elixir">iex&gt; File.read("hello")
{:error, :enoent}
iex&gt; File.write("hello", "world")
:ok
iex&gt; File.read("hello")
{:ok, "world"}</pre>
<p>There is no <code class="inline">try/rescue</code> here. In case you want to handle multiple outcomes of opening a file, you can use pattern matching using the <code class="inline">case</code> construct:</p>
<pre data-language="elixir">iex&gt; case File.read("hello") do
...&gt;   {:ok, body} -&gt; IO.puts("Success: #{body}")
...&gt;   {:error, reason} -&gt; IO.puts("Error: #{reason}")
...&gt; end</pre>
<p>For the cases where you do expect a file to exist (and the lack of that file is truly an <em>error</em>) you may use <a href="file#read!/1"><code class="inline">File.read!/1</code></a>:</p>
<pre data-language="elixir">iex&gt; File.read!("unknown")
** (File.Error) could not read file "unknown": no such file or directory
    (elixir) lib/file.ex:272: File.read!/1</pre>
<p>At the end of the day, it's up to your application to decide if an error while opening a file is exceptional or not. That's why Elixir doesn't impose exceptions on <a href="file#read/1"><code class="inline">File.read/1</code></a> and many other functions. Instead, it leaves it up to the developer to choose the best way to proceed.</p>
<p>Many functions in the standard library follow the pattern of having a counterpart that raises an exception instead of returning tuples to match against. The convention is to create a function (<code class="inline">foo</code>) which returns <code class="inline">{:ok, result}</code> or <code class="inline">{:error, reason}</code> tuples and another function (<code class="inline">foo!</code>, same name but with a trailing <code class="inline">!</code>) that takes the same arguments as <code class="inline">foo</code> but which raises an exception if there's an error. <code class="inline">foo!</code> should return the result (not wrapped in a tuple) if everything goes fine. The <a href="file"><code class="inline">File</code></a> module is a good example of this convention.</p>
<h3 id="fail-fast-let-it-crash" class="section-heading">  <span class="text">Fail fast / Let it crash</span> </h3> <p>One saying that is common in the Erlang community, as well as Elixir's, is "fail fast" / "let it crash". The idea behind let it crash is that, in case something <em>unexpected</em> happens, it is best to let the exception happen, without rescuing it.</p>
<p>It is important to emphasize the word <em>unexpected</em>. For example, imagine you are building a script to process files. Your script receives filenames as inputs. It is expected that users may make mistakes and provide unknown filenames. In this scenario, while you could use <a href="file#read!/1"><code class="inline">File.read!/1</code></a> to read files and let it crash in case of invalid filenames, it probably makes more sense to use <a href="file#read/1"><code class="inline">File.read/1</code></a> and provide users of your script with a clear and precise feedback of what went wrong.</p>
<p>Other times, you may fully expect a certain file to exist, and in case it does not, it means something terribly wrong has happened elsewhere. In such cases, <a href="file#read!/1"><code class="inline">File.read!/1</code></a> is all you need.</p>
<p>The second approach also works because, as discussed in the <a href="processes">Processes</a> chapter, all Elixir code runs inside processes that are isolated and don't share anything by default. Therefore, an unhandled exception in a process will never crash or corrupt the state of another process. This allows us to define supervisor processes, which are meant to observe when a process terminates unexpectedly, and start a new one in its place.</p>
<p>At the end of the day, "fail fast" / "let it crash" is a way of saying that, when <em>something unexpected</em> happens, it is best to start from scratch within a new process, freshly started by a supervisor, rather than blindly trying to rescue all possible error cases without the full context of when and how they can happen.</p>
<h3 id="reraise" class="section-heading">  <span class="text">Reraise</span> </h3> <p>While we generally avoid using <code class="inline">try/rescue</code> in Elixir, one situation where we may want to use such constructs is for observability/monitoring. Imagine you want to log that something went wrong, you could do:</p>
<pre data-language="elixir">try do
  ... some code ...
rescue
  e -&gt;
    Logger.error(Exception.format(:error, e, __STACKTRACE__))
    reraise e, __STACKTRACE__
end</pre>
<p>In the example above, we rescued the exception, logged it, and then re-raised it. We use the <code class="inline">__STACKTRACE__</code> construct both when formatting the exception and when re-raising. This ensures we reraise the exception as is, without changing value or its origin.</p>
<p>Generally speaking, we take errors in Elixir literally: they are reserved for unexpected and/or exceptional situations, never for controlling the flow of our code. In case you actually need flow control constructs, <em>throws</em> should be used. That's what we are going to see next.</p>
<h2 id="throws" class="section-heading">  <span class="text">Throws</span> </h2> <p>In Elixir, a value can be thrown and later be caught. <code class="inline">throw</code> and <code class="inline">catch</code> are reserved for situations where it is not possible to retrieve a value unless by using <code class="inline">throw</code> and <code class="inline">catch</code>.</p>
<p>Those situations are quite uncommon in practice except when interfacing with libraries that do not provide a proper API. For example, let's imagine the <a href="enum"><code class="inline">Enum</code></a> module did not provide any API for finding a value and that we needed to find the first multiple of 13 in a list of numbers:</p>
<pre data-language="elixir">iex&gt; try do
...&gt;   Enum.each(-50..50, fn x -&gt;
...&gt;     if rem(x, 13) == 0, do: throw(x)
...&gt;   end)
...&gt;   "Got nothing"
...&gt; catch
...&gt;   x -&gt; "Got #{x}"
...&gt; end
"Got -39"</pre>
<p>Since <a href="enum"><code class="inline">Enum</code></a> <em>does</em> provide a proper API, in practice <a href="enum#find/2"><code class="inline">Enum.find/2</code></a> is the way to go:</p>
<pre data-language="elixir">iex&gt; Enum.find(-50..50, &amp;(rem(&amp;1, 13) == 0))
-39</pre>
<h2 id="exits" class="section-heading">  <span class="text">Exits</span> </h2> <p>All Elixir code runs inside processes that communicate with each other. When a process dies of "natural causes" (e.g., unhandled exceptions), it sends an <code class="inline">exit</code> signal. A process can also die by explicitly sending an <code class="inline">exit</code> signal:</p>
<pre data-language="elixir">iex&gt; spawn_link(fn -&gt; exit(1) end)
** (EXIT from #PID&lt;0.56.0&gt;) shell process exited with reason: 1</pre>
<p>In the example above, the linked process died by sending an <code class="inline">exit</code> signal with a value of 1. The Elixir shell automatically handles those messages and prints them to the terminal.</p>
<p><code class="inline">exit</code> can also be "caught" using <code class="inline">try/catch</code>:</p>
<pre data-language="elixir">iex&gt; try do
...&gt;   exit("I am exiting")
...&gt; catch
...&gt;   :exit, _ -&gt; "not really"
...&gt; end
"not really"</pre>
<p><code class="inline">catch</code> can also be used within a function body without a matching <code class="inline">try</code>.</p>
<pre data-language="elixir">defmodule Example do
  def matched_catch do
    exit(:timeout)
  catch
    :exit, :timeout -&gt;
      {:error, :timeout}
  end

  def mismatched_catch do
    exit(:timeout)
  catch
    # Since no clause matches, this catch will have no effect
    :exit, :explosion -&gt;
      {:error, :explosion}
  end
end</pre>
<p>However, using <code class="inline">try/catch</code> is already uncommon and using it to catch exits is even rarer.</p>
<p><code class="inline">exit</code> signals are an important part of the fault tolerant system provided by the Erlang VM. Processes usually run under supervision trees which are themselves processes that listen to <code class="inline">exit</code> signals from the supervised processes. Once an <code class="inline">exit</code> signal is received, the supervision strategy kicks in and the supervised process is restarted.</p>
<p>It is exactly this supervision system that makes constructs like <code class="inline">try/catch</code> and <code class="inline">try/rescue</code> so uncommon in Elixir. Instead of rescuing an error, we'd rather "fail fast" since the supervision tree will guarantee our application will go back to a known initial state after the error.</p>
<h2 id="after" class="section-heading">  <span class="text">After</span> </h2> <p>Sometimes it's necessary to ensure that a resource is cleaned up after some action that could potentially raise an error. The <code class="inline">try/after</code> construct allows you to do that. For example, we can open a file and use an <code class="inline">after</code> clause to close it -- even if something goes wrong:</p>
<pre data-language="elixir">iex&gt; {:ok, file} = File.open("sample", [:utf8, :write])
iex&gt; try do
...&gt;   IO.write(file, "olá")
...&gt;   raise "oops, something went wrong"
...&gt; after
...&gt;   File.close(file)
...&gt; end
** (RuntimeError) oops, something went wrong</pre>
<p>The <code class="inline">after</code> clause will be executed regardless of whether or not the tried block succeeds. Note, however, that if a linked process exits, this process will exit and the <code class="inline">after</code> clause will not get run. Thus <code class="inline">after</code> provides only a soft guarantee. Luckily, files in Elixir are also linked to the current processes and therefore they will always get closed if the current process crashes, independent of the <code class="inline">after</code> clause. You will find the same to be true for other resources like ETS tables, sockets, ports and more.</p>
<p>Sometimes you may want to wrap the entire body of a function in a <code class="inline">try</code> construct, often to guarantee some code will be executed afterwards. In such cases, Elixir allows you to omit the <code class="inline">try</code> line:</p>
<pre data-language="elixir">iex&gt; defmodule RunAfter do
...&gt;   def without_even_trying do
...&gt;     raise "oops"
...&gt;   after
...&gt;     IO.puts "cleaning up!"
...&gt;   end
...&gt; end
iex&gt; RunAfter.without_even_trying
cleaning up!
** (RuntimeError) oops</pre>
<p>Elixir will automatically wrap the function body in a <code class="inline">try</code> whenever one of <code class="inline">after</code>, <code class="inline">rescue</code> or <code class="inline">catch</code> is specified.</p>
<h2 id="else" class="section-heading">  <span class="text">Else</span> </h2> <p>If an <code class="inline">else</code> block is present, it will match on the results of the <code class="inline">try</code> block whenever the <code class="inline">try</code> block finishes without a throw or an error.</p>
<pre data-language="elixir">iex&gt; x = 2
2
iex&gt; try do
...&gt;   1 / x
...&gt; rescue
...&gt;   ArithmeticError -&gt;
...&gt;     :infinity
...&gt; else
...&gt;   y when y &lt; 1 and y &gt; -1 -&gt;
...&gt;     :small
...&gt;   _ -&gt;
...&gt;     :large
...&gt; end
:small</pre>
<p>Exceptions in the <code class="inline">else</code> block are not caught. If no pattern inside the <code class="inline">else</code> block matches, an exception will be raised; this exception is not caught by the current <code class="inline">try/catch/rescue/after</code> block.</p>
<h2 id="variables-scope" class="section-heading">  <span class="text">Variables scope</span> </h2> <p>Similar to <code class="inline">case</code>, <code class="inline">cond</code>, <code class="inline">if</code> and other constructs in Elixir, variables defined inside <code class="inline">try/catch/rescue/after</code> blocks do not leak to the outer context. In other words, this code is invalid:</p>
<pre data-language="elixir">iex&gt; try do
...&gt;   raise "fail"
...&gt;   what_happened = :did_not_raise
...&gt; rescue
...&gt;   _ -&gt; what_happened = :rescued
...&gt; end
iex&gt; what_happened
** (CompileError) undefined variable "what_happened"</pre>
<p>Instead, you should return the value of the <code class="inline">try</code> expression:</p>
<pre data-language="elixir">iex&gt; what_happened =
...&gt;   try do
...&gt;     raise "fail"
...&gt;     :did_not_raise
...&gt;   rescue
...&gt;     _ -&gt; :rescued
...&gt;   end
iex&gt; what_happened
:rescued</pre>
<p>Furthermore, variables defined in the do-block of <code class="inline">try</code> are not available inside <code class="inline">rescue/after/else</code> either. This is because the <code class="inline">try</code> block may fail at any moment and therefore the variables may have never been bound in the first place. So this also isn't valid:</p>
<pre data-language="elixir">iex&gt; try do
...&gt;   raise "fail"
...&gt;   another_what_happened = :did_not_raise
...&gt; rescue
...&gt;   _ -&gt; another_what_happened
...&gt; end
** (CompileError) undefined variable "another_what_happened"</pre>
<p>This finishes our introduction on <code class="inline">try</code>, <code class="inline">catch</code>, and <code class="inline">rescue</code>. You will find they are used less frequently in Elixir than in other languages. Next we will talk about a very important subject to Elixir developers: writing documentation.</p> </div> <div class="bottom-actions" id="bottom-actions"> <div class="bottom-actions-item"> <a href="sigils" class="bottom-actions-button" rel="prev"> <span class="subheader"> ← Previous Page </span> <span class="title"> Sigils </span> </a> </div> <div class="bottom-actions-item"> <a href="writing-documentation" class="bottom-actions-button" rel="next"> <span class="subheader"> Next Page → </span> <span class="title"> Writing documentation </span> </a> </div> </div> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/try-catch-and-rescue.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/try-catch-and-rescue.html</a>
  </p>
</div>
