<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/tuple.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">Tuple</span>  </h1> <section id="moduledoc"> <p>Functions for working with tuples.</p>
<p>Please note the following functions for tuples are found in <a href="kernel"><code class="inline">Kernel</code></a>:</p>
<ul>
<li>
<a href="kernel#elem/2"><code class="inline">elem/2</code></a> - accesses a tuple by index</li>
<li>
<a href="kernel#put_elem/3"><code class="inline">put_elem/3</code></a> - inserts a value into a tuple by index</li>
<li>
<a href="kernel#tuple_size/1"><code class="inline">tuple_size/1</code></a> - gets the number of elements in a tuple</li>
</ul>
<p>Tuples are intended as fixed-size containers for multiple elements. To manipulate a collection of elements, use a list instead. <a href="enum"><code class="inline">Enum</code></a> functions do not work on tuples.</p>
<p>Tuples are denoted with curly braces:</p>
<pre data-language="elixir">iex&gt; {}
{}
iex&gt; {1, :two, "three"}
{1, :two, "three"}</pre>
<p>A tuple may contain elements of different types, which are stored contiguously in memory. Accessing any element takes constant time, but modifying a tuple, which produces a shallow copy, takes linear time. Tuples are good for reading data while lists are better for traversals.</p>
<p>Tuples are typically used either when a function has multiple return values or for error handling. <a href="file#read/1"><code class="inline">File.read/1</code></a> returns <code class="inline">{:ok, contents}</code> if reading the given file is successful, or else <code class="inline">{:error, reason}</code> such as when the file does not exist.</p>
<p>The functions in this module that add and remove elements from tuples are rarely used in practice, as they typically imply tuples are being used as collections. To append to a tuple, it is preferable to extract the elements from the old tuple with pattern matching, and then create a new tuple:</p>
<pre data-language="elixir">tuple = {:ok, :example}

# Avoid
result = Tuple.insert_at(tuple, 2, %{})

# Prefer
{:ok, atom} = tuple
result = {:ok, atom, %{}}</pre> </section> </div> <section id="summary" class="details-list"> <h1 class="section-heading">  <span class="text">Summary</span> </h1> <h2> Functions </h2>
<dl class="summary-functions summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#append/2" data-no-tooltip translate="no">append(tuple, value)</a> </dt> <dd class="summary-synopsis"><p>Inserts an element at the end of a tuple.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#delete_at/2" data-no-tooltip translate="no">delete_at(tuple, index)</a> </dt> <dd class="summary-synopsis"><p>Removes an element from a tuple.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#duplicate/2" data-no-tooltip translate="no">duplicate(data, size)</a> </dt> <dd class="summary-synopsis"><p>Creates a new tuple.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#insert_at/3" data-no-tooltip translate="no">insert_at(tuple, index, value)</a> </dt> <dd class="summary-synopsis"><p>Inserts an element into a tuple.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#product/1" data-no-tooltip translate="no">product(tuple)</a> </dt> <dd class="summary-synopsis"><p>Computes a product of tuple elements.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#sum/1" data-no-tooltip translate="no">sum(tuple)</a> </dt> <dd class="summary-synopsis"><p>Computes a sum of tuple elements.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#to_list/1" data-no-tooltip translate="no">to_list(tuple)</a> </dt> <dd class="summary-synopsis"><p>Converts a tuple to a list.</p></dd> </div> </dl> </section> <section id="functions" class="details-list"> <h1 class="section-heading">  <span class="text">Functions</span> </h1> <div class="functions-list"> <section class="detail"> <h3 class="detail-header" id="append/2">append(tuple, value)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/tuple.ex#L106" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec append(tuple(), term()) :: tuple()</pre> </div> <p>Inserts an element at the end of a tuple.</p>
<p>Returns a new tuple with the element appended at the end, and contains the elements in <code class="inline">tuple</code> followed by <code class="inline">value</code> as the last element.</p>
<p>Inlined by the compiler.</p>
<h4 id="append/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; tuple = {:foo, :bar}
iex&gt; Tuple.append(tuple, :baz)
{:foo, :bar, :baz}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="delete_at/2">delete_at(tuple, index)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/tuple.ex#L127" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec delete_at(tuple(), non_neg_integer()) :: tuple()</pre> </div> <p>Removes an element from a tuple.</p>
<p>Deletes the element at the given <code class="inline">index</code> from <code class="inline">tuple</code>. Raises an <a href="argumenterror"><code class="inline">ArgumentError</code></a> if <code class="inline">index</code> is negative or greater than or equal to the length of <code class="inline">tuple</code>. Index is zero-based.</p>
<p>Inlined by the compiler.</p>
<h4 id="delete_at/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; tuple = {:foo, :bar, :baz}
iex&gt; Tuple.delete_at(tuple, 0)
{:bar, :baz}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="duplicate/2">duplicate(data, size)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/tuple.ex#L63" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec duplicate(term(), non_neg_integer()) :: tuple()</pre> </div> <p>Creates a new tuple.</p>
<p>Creates a tuple of <code class="inline">size</code> containing the given <code class="inline">data</code> at every position.</p>
<p>Inlined by the compiler.</p>
<h4 id="duplicate/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Tuple.duplicate(:hello, 3)
{:hello, :hello, :hello}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="insert_at/3">insert_at(tuple, index, value)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/tuple.ex#L86" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec insert_at(tuple(), non_neg_integer(), term()) :: tuple()</pre> </div> <p>Inserts an element into a tuple.</p>
<p>Inserts <code class="inline">value</code> into <code class="inline">tuple</code> at the given <code class="inline">index</code>. Raises an <a href="argumenterror"><code class="inline">ArgumentError</code></a> if <code class="inline">index</code> is negative or greater than the length of <code class="inline">tuple</code>. Index is zero-based.</p>
<p>Inlined by the compiler.</p>
<h4 id="insert_at/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; tuple = {:bar, :baz}
iex&gt; Tuple.insert_at(tuple, 0, :foo)
{:foo, :bar, :baz}
iex&gt; Tuple.insert_at(tuple, 2, :bong)
{:bar, :baz, :bong}</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="product/1">product(tuple)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/tuple.ex#L164" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec product(tuple()) :: number()</pre> </div> <p>Computes a product of tuple elements.</p>
<h4 id="product/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Tuple.product({255, 255})
65025
iex&gt; Tuple.product({255, 1.0})
255.0
iex&gt; Tuple.product({})
1</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="sum/1">sum(tuple)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/tuple.ex#L145" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec sum(tuple()) :: number()</pre> </div> <p>Computes a sum of tuple elements.</p>
<h4 id="sum/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Tuple.sum({255, 255})
510
iex&gt; Tuple.sum({255, 0.0})
255.0
iex&gt; Tuple.sum({})
0</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="to_list/1">to_list(tuple)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/tuple.ex#L184" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec to_list(tuple()) :: list()</pre> </div> <p>Converts a tuple to a list.</p>
<p>Returns a new list with all the tuple elements.</p>
<p>Inlined by the compiler.</p>
<h4 id="to_list/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; tuple = {:foo, :bar, :baz}
iex&gt; Tuple.to_list(tuple)
[:foo, :bar, :baz]</pre> </section> </section> </div> </section> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/Tuple.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/Tuple.html</a>
  </p>
</div>
