<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/uri.ex#L43" title="View Source" class="source" rel="help">Source</a> <span translate="no">URI.Error</span> <small>exception</small>  </h1> <section id="moduledoc"> <p>An exception raised when an error occurs when a <a href="uri"><code class="inline">URI</code></a> is invalid.</p>
<p>For example, see <a href="uri#new!/1"><code class="inline">URI.new!/1</code></a>.</p> </section> </div> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/URI.Error.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/URI.Error.html</a>
  </p>
</div>
