<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/version.ex#L1" title="View Source" class="source" rel="help">Source</a> <span translate="no">Version</span>  </h1> <section id="moduledoc"> <p>Functions for parsing and matching versions against requirements.</p>
<p>A version is a string in a specific format or a <a href="version"><code class="inline">Version</code></a> generated after parsing via <a href="#parse/1"><code class="inline">Version.parse/1</code></a>.</p>
<p>Although Elixir projects are not required to follow SemVer, they must follow the format outlined on <a href="https://semver.org/">SemVer 2.0 schema</a>.</p>
<h2 id="module-versions" class="section-heading">  <span class="text">Versions</span> </h2> <p>In a nutshell, a version is represented by three numbers:</p>
<pre data-language="elixir">MAJOR.MINOR.PATCH</pre>
<p>Pre-releases are supported by optionally appending a hyphen and a series of period-separated identifiers immediately following the patch version. Identifiers consist of only ASCII alphanumeric characters and hyphens (<code class="inline">[0-9A-Za-z-]</code>):</p>
<pre data-language="elixir">"1.0.0-alpha.3"</pre>
<p>Build information can be added by appending a plus sign and a series of dot-separated identifiers immediately following the patch or pre-release version. Identifiers consist of only ASCII alphanumeric characters and hyphens (<code class="inline">[0-9A-Za-z-]</code>):</p>
<pre data-language="elixir">"1.0.0-alpha.3+20130417140000.amd64"</pre>
<h2 id="module-requirements" class="section-heading">  <span class="text">Requirements</span> </h2> <p>Requirements allow you to specify which versions of a given dependency you are willing to work against. Requirements support the common comparison operators such as <code class="inline">&gt;</code>, <code class="inline">&gt;=</code>, <code class="inline">&lt;</code>, <code class="inline">&lt;=</code>, and <code class="inline">==</code> that work as one would expect, and additionally the special operator <code class="inline">~&gt;</code> described in detail further below.</p>
<pre data-language="elixir"># Only version 2.0.0
"== 2.0.0"

# Anything later than 2.0.0
"&gt; 2.0.0"</pre>
<p>Requirements also support <code class="inline">and</code> and <code class="inline">or</code> for complex conditions:</p>
<pre data-language="elixir"># 2.0.0 and later until 2.1.0
"&gt;= 2.0.0 and &lt; 2.1.0"</pre>
<p>Since the example above is such a common requirement, it can be expressed as:</p>
<pre data-language="elixir">"~&gt; 2.0.0"</pre>
<p><code class="inline">~&gt;</code> will never include pre-release versions of its upper bound, regardless of the usage of the <code class="inline">:allow_pre</code> option, or whether the operand is a pre-release version. It can also be used to set an upper bound on only the major version part. See the table below for <code class="inline">~&gt;</code> requirements and their corresponding translations.</p>
<table>
<thead><tr>
<th style="text-align: left;"><code class="inline">~&gt;</code></th>
<th style="text-align: left;">Translation</th>
</tr></thead>
<tbody>
<tr>
<td style="text-align: left;"><code class="inline">~&gt; 2.0.0</code></td>
<td style="text-align: left;"><code class="inline">&gt;= 2.0.0 and &lt; 2.1.0</code></td>
</tr>
<tr>
<td style="text-align: left;"><code class="inline">~&gt; 2.1.2</code></td>
<td style="text-align: left;"><code class="inline">&gt;= 2.1.2 and &lt; 2.2.0</code></td>
</tr>
<tr>
<td style="text-align: left;"><code class="inline">~&gt; 2.1.3-dev</code></td>
<td style="text-align: left;"><code class="inline">&gt;= 2.1.3-dev and &lt; 2.2.0</code></td>
</tr>
<tr>
<td style="text-align: left;"><code class="inline">~&gt; 2.0</code></td>
<td style="text-align: left;"><code class="inline">&gt;= 2.0.0 and &lt; 3.0.0</code></td>
</tr>
<tr>
<td style="text-align: left;"><code class="inline">~&gt; 2.1</code></td>
<td style="text-align: left;"><code class="inline">&gt;= 2.1.0 and &lt; 3.0.0</code></td>
</tr>
</tbody>
</table>
<p>The requirement operand after the <code class="inline">~&gt;</code> is allowed to omit the patch version, allowing us to express <code class="inline">~&gt; 2.1</code> or <code class="inline">~&gt; 2.1-dev</code>, something that wouldn't be allowed when using the common comparison operators.</p>
<p>When the <code class="inline">:allow_pre</code> option is set <code class="inline">false</code> in <a href="#match?/3"><code class="inline">Version.match?/3</code></a>, the requirement will not match a pre-release version unless the operand is a pre-release version. The default is to always allow pre-releases but note that in Hex <code class="inline">:allow_pre</code> is set to <code class="inline">false</code>. See the table below for examples.</p>
<table>
<thead><tr>
<th style="text-align: left;">Requirement</th>
<th style="text-align: left;">Version</th>
<th style="text-align: left;"><code class="inline">:allow_pre</code></th>
<th style="text-align: left;">Matches</th>
</tr></thead>
<tbody>
<tr>
<td style="text-align: left;"><code class="inline">~&gt; 2.0</code></td>
<td style="text-align: left;"><code class="inline">2.1.0</code></td>
<td style="text-align: left;">
<code class="inline">true</code> or <code class="inline">false</code>
</td>
<td style="text-align: left;"><code class="inline">true</code></td>
</tr>
<tr>
<td style="text-align: left;"><code class="inline">~&gt; 2.0</code></td>
<td style="text-align: left;"><code class="inline">3.0.0</code></td>
<td style="text-align: left;">
<code class="inline">true</code> or <code class="inline">false</code>
</td>
<td style="text-align: left;"><code class="inline">false</code></td>
</tr>
<tr>
<td style="text-align: left;"><code class="inline">~&gt; 2.0.0</code></td>
<td style="text-align: left;"><code class="inline">2.0.5</code></td>
<td style="text-align: left;">
<code class="inline">true</code> or <code class="inline">false</code>
</td>
<td style="text-align: left;"><code class="inline">true</code></td>
</tr>
<tr>
<td style="text-align: left;"><code class="inline">~&gt; 2.0.0</code></td>
<td style="text-align: left;"><code class="inline">2.1.0</code></td>
<td style="text-align: left;">
<code class="inline">true</code> or <code class="inline">false</code>
</td>
<td style="text-align: left;"><code class="inline">false</code></td>
</tr>
<tr>
<td style="text-align: left;"><code class="inline">~&gt; 2.1.2</code></td>
<td style="text-align: left;"><code class="inline">2.1.6-dev</code></td>
<td style="text-align: left;"><code class="inline">true</code></td>
<td style="text-align: left;"><code class="inline">true</code></td>
</tr>
<tr>
<td style="text-align: left;"><code class="inline">~&gt; 2.1.2</code></td>
<td style="text-align: left;"><code class="inline">2.1.6-dev</code></td>
<td style="text-align: left;"><code class="inline">false</code></td>
<td style="text-align: left;"><code class="inline">false</code></td>
</tr>
<tr>
<td style="text-align: left;"><code class="inline">~&gt; 2.1-dev</code></td>
<td style="text-align: left;"><code class="inline">2.2.0-dev</code></td>
<td style="text-align: left;">
<code class="inline">true</code> or <code class="inline">false</code>
</td>
<td style="text-align: left;"><code class="inline">true</code></td>
</tr>
<tr>
<td style="text-align: left;"><code class="inline">~&gt; 2.1.2-dev</code></td>
<td style="text-align: left;"><code class="inline">2.1.6-dev</code></td>
<td style="text-align: left;">
<code class="inline">true</code> or <code class="inline">false</code>
</td>
<td style="text-align: left;"><code class="inline">true</code></td>
</tr>
<tr>
<td style="text-align: left;"><code class="inline">&gt;= 2.1.0</code></td>
<td style="text-align: left;"><code class="inline">2.2.0-dev</code></td>
<td style="text-align: left;"><code class="inline">true</code></td>
<td style="text-align: left;"><code class="inline">true</code></td>
</tr>
<tr>
<td style="text-align: left;"><code class="inline">&gt;= 2.1.0</code></td>
<td style="text-align: left;"><code class="inline">2.2.0-dev</code></td>
<td style="text-align: left;"><code class="inline">false</code></td>
<td style="text-align: left;"><code class="inline">false</code></td>
</tr>
<tr>
<td style="text-align: left;"><code class="inline">&gt;= 2.1.0-dev</code></td>
<td style="text-align: left;"><code class="inline">2.2.6-dev</code></td>
<td style="text-align: left;">
<code class="inline">true</code> or <code class="inline">false</code>
</td>
<td style="text-align: left;"><code class="inline">true</code></td>
</tr>
</tbody>
</table> </section> </div> <section id="summary" class="details-list"> <h1 class="section-heading">  <span class="text">Summary</span> </h1> <h2> Types </h2>
<dl class="summary-types summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#t:build/0" data-no-tooltip translate="no">build()</a> </dt> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:major/0" data-no-tooltip translate="no">major()</a> </dt> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:minor/0" data-no-tooltip translate="no">minor()</a> </dt> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:patch/0" data-no-tooltip translate="no">patch()</a> </dt> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:pre/0" data-no-tooltip translate="no">pre()</a> </dt> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:requirement/0" data-no-tooltip translate="no">requirement()</a> </dt> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:t/0" data-no-tooltip translate="no">t()</a> </dt> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#t:version/0" data-no-tooltip translate="no">version()</a> </dt> </div> </dl> <h2> Functions </h2>
<dl class="summary-functions summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#__struct__/0" data-no-tooltip translate="no">%Version{}</a> </dt> <dd class="summary-synopsis"><p>The Version struct.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#compare/2" data-no-tooltip translate="no">compare(version1, version2)</a> </dt> <dd class="summary-synopsis"><p>Compares two versions.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#compile_requirement/1" data-no-tooltip translate="no">compile_requirement(requirement)</a> </dt> <dd class="summary-synopsis"><p>Compiles a requirement to an internal representation that may optimize matching.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#match?/3" data-no-tooltip translate="no">match?(version, requirement, opts \\ [])</a> </dt> <dd class="summary-synopsis"><p>Checks if the given version matches the specification.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#parse/1" data-no-tooltip translate="no">parse(string)</a> </dt> <dd class="summary-synopsis"><p>Parses a version string into a <a href="version"><code class="inline">Version</code></a> struct.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#parse!/1" data-no-tooltip translate="no">parse!(string)</a> </dt> <dd class="summary-synopsis"><p>Parses a version string into a <a href="version"><code class="inline">Version</code></a>.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#parse_requirement/1" data-no-tooltip translate="no">parse_requirement(string)</a> </dt> <dd class="summary-synopsis"><p>Parses a version requirement string into a <a href="version.requirement"><code class="inline">Version.Requirement</code></a> struct.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#parse_requirement!/1" data-no-tooltip translate="no">parse_requirement!(string)</a> </dt> <dd class="summary-synopsis"><p>Parses a version requirement string into a <a href="version.requirement"><code class="inline">Version.Requirement</code></a> struct.</p></dd> </div> <div class="summary-row"> <dt class="summary-signature"> <a href="#to_string/1" data-no-tooltip translate="no">to_string(version)</a> </dt> <dd class="summary-synopsis"><p>Converts the given version to a string.</p></dd> </div> </dl> </section> <section id="types" class="details-list"> <h1 class="section-heading">  <span class="text">Types</span> </h1> <div class="types-list"> <section class="detail"> <h3 class="detail-header" id="t:build/0">build()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/version.ex#L114" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type build() :: String.t() | nil</pre> </div> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:major/0">major()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/version.ex#L110" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type major() :: non_neg_integer()</pre> </div> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:minor/0">minor()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/version.ex#L111" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type minor() :: non_neg_integer()</pre> </div> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:patch/0">patch()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/version.ex#L112" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type patch() :: non_neg_integer()</pre> </div> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:pre/0">pre()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/version.ex#L113" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type pre() :: [String.t() | non_neg_integer()]</pre> </div> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:requirement/0">requirement()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/version.ex#L109" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type requirement() :: String.t() | Version.Requirement.t()</pre> </div> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:t/0">t()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/version.ex#L115" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type t() :: %Version{
  build: build(),
  major: major(),
  minor: minor(),
  patch: patch(),
  pre: pre()
}</pre> </div> </section> </section> <section class="detail"> <h3 class="detail-header" id="t:version/0">version()<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/version.ex#L108" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type version() :: String.t() | t()</pre> </div> </section> </section> </div> </section> <section id="functions" class="details-list"> <h1 class="section-heading">  <span class="text">Functions</span> </h1> <div class="functions-list"> <section class="detail"> <h3 class="detail-header" id="__struct__/0">%Version{}<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/version.ex#L106" class="source">Source</a>
</h3> <section class="docstring"> <p>The Version struct.</p>
<p>It contains the fields <code class="inline">:major</code>, <code class="inline">:minor</code>, <code class="inline">:patch</code>, <code class="inline">:pre</code>, and <code class="inline">:build</code> according to SemVer 2.0, where <code class="inline">:pre</code> is a list.</p>
<p>You can read those fields but you should not create a new <a href="version"><code class="inline">Version</code></a> directly via the struct syntax. Instead use the functions in this module.</p> </section> </section> <section class="detail"> <h3 class="detail-header" id="compare/2">compare(version1, version2)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/version.ex#L346" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec compare(version(), version()) :: :gt | :eq | :lt</pre> </div> <p>Compares two versions.</p>
<p>Returns <code class="inline">:gt</code> if the first version is greater than the second one, and <code class="inline">:lt</code> for vice versa. If the two versions are equal, <code class="inline">:eq</code> is returned.</p>
<p>Pre-releases are strictly less than their corresponding release versions.</p>
<p>Patch segments are compared lexicographically if they are alphanumeric, and numerically otherwise.</p>
<p>Build segments are ignored: if two versions differ only in their build segment they are considered to be equal.</p>
<p>Raises a <a href="version.invalidversionerror"><code class="inline">Version.InvalidVersionError</code></a> exception if any of the two given versions are not parsable. If given an already parsed version this function won't raise.</p>
<h4 id="compare/2-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Version.compare("2.0.1-alpha1", "2.0.0")
:gt

iex&gt; Version.compare("1.0.0-beta", "1.0.0-rc1")
:lt

iex&gt; Version.compare("1.0.0-10", "1.0.0-2")
:gt

iex&gt; Version.compare("2.0.1+build0", "2.0.1")
:eq

iex&gt; Version.compare("invalid", "2.0.1")
** (Version.InvalidVersionError) invalid version: "invalid"</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="compile_requirement/1">compile_requirement(requirement)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/version.ex#L463" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec compile_requirement(Version.Requirement.t()) :: Version.Requirement.t()</pre> </div> <p>Compiles a requirement to an internal representation that may optimize matching.</p>
<p>The internal representation is opaque.</p> </section> </section> <section class="detail">  <h3 class="detail-header" id="match?/3">match?(version, requirement, opts \\ [])<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/version.ex#L296" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec match?(version(), requirement(), keyword()) :: boolean()</pre> </div> <p>Checks if the given version matches the specification.</p>
<p>Returns <code class="inline">true</code> if <code class="inline">version</code> satisfies <code class="inline">requirement</code>, <code class="inline">false</code> otherwise. Raises a <a href="version.invalidrequirementerror"><code class="inline">Version.InvalidRequirementError</code></a> exception if <code class="inline">requirement</code> is not parsable, or a <a href="version.invalidversionerror"><code class="inline">Version.InvalidVersionError</code></a> exception if <code class="inline">version</code> is not parsable. If given an already parsed version and requirement this function won't raise.</p>
<h4 id="match?/3-options" class="section-heading">  <span class="text">Options</span> </h4> <ul><li>
<code class="inline">:allow_pre</code> (boolean) - when <code class="inline">false</code>, pre-release versions will not match unless the operand is a pre-release version. Defaults to <code class="inline">true</code>. For examples, please refer to the table above under the "Requirements" section.</li></ul>
<h4 id="match?/3-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Version.match?("2.0.0", "&gt; 1.0.0")
true

iex&gt; Version.match?("2.0.0", "== 1.0.0")
false

iex&gt; Version.match?("2.1.6-dev", "~&gt; 2.1.2")
true

iex&gt; Version.match?("2.1.6-dev", "~&gt; 2.1.2", allow_pre: false)
false

iex&gt; Version.match?("foo", "== 1.0.0")
** (Version.InvalidVersionError) invalid version: "foo"

iex&gt; Version.match?("2.0.0", "== == 1.0.0")
** (Version.InvalidRequirementError) invalid requirement: "== == 1.0.0"</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="parse/1">parse(string)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/version.ex#L379" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec parse(String.t()) :: {:ok, t()} | :error</pre> </div> <p>Parses a version string into a <a href="version"><code class="inline">Version</code></a> struct.</p>
<h4 id="parse/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Version.parse("2.0.1-alpha1")
{:ok, %Version{major: 2, minor: 0, patch: 1, pre: ["alpha1"]}}

iex&gt; Version.parse("2.0-alpha1")
:error</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="parse!/1">parse!(string)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/version.ex#L406" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec parse!(String.t()) :: t()</pre> </div> <p>Parses a version string into a <a href="version"><code class="inline">Version</code></a>.</p>
<p>If <code class="inline">string</code> is an invalid version, a <a href="version.invalidversionerror"><code class="inline">Version.InvalidVersionError</code></a> is raised.</p>
<h4 id="parse!/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; Version.parse!("2.0.1-alpha1")
%Version{major: 2, minor: 0, patch: 1, pre: ["alpha1"]}

iex&gt; Version.parse!("2.0-alpha1")
** (Version.InvalidVersionError) invalid version: "2.0-alpha1"</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="parse_requirement/1">parse_requirement(string)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/version.ex#L427" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec parse_requirement(String.t()) :: {:ok, Version.Requirement.t()} | :error</pre> </div> <p>Parses a version requirement string into a <a href="version.requirement"><code class="inline">Version.Requirement</code></a> struct.</p>
<h4 id="parse_requirement/1-examples" class="section-heading">  <span class="text">Examples</span> </h4> <pre data-language="elixir">iex&gt; {:ok, requirement} = Version.parse_requirement("== 2.0.1")
iex&gt; requirement
Version.parse_requirement!("== 2.0.1")

iex&gt; Version.parse_requirement("== == 2.0.1")
:error</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="parse_requirement!/1">parse_requirement!(string)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/version.ex#L450" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec parse_requirement!(String.t()) :: Version.Requirement.t()</pre> </div> <p>Parses a version requirement string into a <a href="version.requirement"><code class="inline">Version.Requirement</code></a> struct.</p>
<p>If <code class="inline">string</code> is an invalid requirement, a <a href="version.invalidrequirementerror"><code class="inline">Version.InvalidRequirementError</code></a> is raised.</p>
<h1>Examples</h1>
<pre data-language="elixir">iex&gt; Version.parse_requirement!("== 2.0.1")
Version.parse_requirement!("== 2.0.1")

iex&gt; Version.parse_requirement!("== == 2.0.1")
** (Version.InvalidRequirementError) invalid requirement: "== == 2.0.1"</pre> </section> </section> <section class="detail"> <h3 class="detail-header" id="to_string/1">to_string(version)<a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/version.ex#L491" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@spec to_string(t()) :: String.t()</pre> </div> <p>Converts the given version to a string.</p>
<h3 id="to_string/1-examples" class="section-heading">  <span class="text">Examples</span> </h3> <pre data-language="elixir">iex&gt; Version.to_string(%Version{major: 1, minor: 2, patch: 3})
"1.2.3"
iex&gt; Version.to_string(Version.parse!("1.14.0-rc.0+build0"))
"1.14.0-rc.0+build0"</pre> </section> </section> </div> </section> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/Version.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/Version.html</a>
  </p>
</div>
