<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/pages/anti-patterns/what-anti-patterns.md#L1" title="View Source" class="source" rel="help">Source</a> <span>What are anti-patterns?</span> </h1> <p>Anti-patterns describe common mistakes or indicators of problems in code. They are also known as "code smells".</p>
<p>The goal of these guides is to document potential anti-patterns found in Elixir software and teach developers how to identify them and their pitfalls. If an existing piece of code matches an anti-pattern, it does not mean your code must be rewritten. Sometimes, even if a snippet matches a potential anti-pattern and its limitations, it may be the best approach to the problem at hand. No codebase is free of anti-patterns and one should not aim to remove all of them.</p>
<p>The anti-patterns in these guides are broken into 4 main categories:</p>
<ul>
<li><p><strong>Code-related anti-patterns:</strong> related to your code and particular language idioms and features;</p></li>
<li><p><strong>Design-related anti-patterns:</strong> related to your modules, functions, and the role they play within a codebase;</p></li>
<li><p><strong>Process-related anti-patterns:</strong> related to processes and process-based abstractions;</p></li>
<li><p><strong>Meta-programming anti-patterns:</strong> related to meta-programming.</p></li>
</ul>
<p>Each anti-pattern is documented using the following structure:</p>
<ul>
<li><p><strong>Name:</strong> Unique identifier of the anti-pattern. This name is important to facilitate communication between developers;</p></li>
<li><p><strong>Problem:</strong> How the anti-pattern can harm code quality and what impacts this can have for developers;</p></li>
<li><p><strong>Example:</strong> Code and textual descriptions to illustrate the occurrence of the anti-pattern;</p></li>
<li><p><strong>Refactoring:</strong> Ways to change your code to improve its qualities. Examples of refactored code are presented to illustrate these changes.</p></li>
</ul>
<p>An additional section with "Additional Remarks" may be provided. Those may include known scenarios where the anti-pattern does not apply.</p>
<p>The initial catalog of anti-patterns was proposed by Lucas Vegi and Marco Tulio Valente, from <a href="http://aserg.labsoft.dcc.ufmg.br/">ASERG/DCC/UFMG</a>. For more info, see <a href="https://github.com/lucasvegi/Elixir-Code-Smells/blob/main/etc/2023-emse-code-smells-elixir.pdf">Understanding Code Smells in Elixir Functional Language</a> and <a href="https://github.com/lucasvegi/Elixir-Code-Smells">the associated code repository</a>.</p>
<p>Additionally, the Security Working Group of the <a href="https://erlef.github.io/security-wg/">Erlang Ecosystem Foundation</a> publishes <a href="https://erlef.github.io/security-wg/">documents with security resources and best-practices of both Erlang and Elixir, including detailed guides for web applications</a>.</p> </div> <div class="bottom-actions" id="bottom-actions"> <div class="bottom-actions-item"> <a href="enum-cheat" class="bottom-actions-button" rel="prev"> <span class="subheader"> ← Previous Page </span> <span class="title"> Enum cheatsheet </span> </a> </div> <div class="bottom-actions-item"> <a href="code-anti-patterns" class="bottom-actions-button" rel="next"> <span class="subheader"> Next Page → </span> <span class="title"> Code-related anti-patterns </span> </a> </div> </div> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/what-anti-patterns.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/what-anti-patterns.html</a>
  </p>
</div>
