<div id="top-content"> <h1> <a href="https://github.com/elixir-lang/elixir/blob/v1.17.2/lib/elixir/lib/exception.ex#L1472" title="View Source" class="source" rel="help">Source</a> <span translate="no">WithClauseError</span> <small>exception</small>  </h1> <section id="moduledoc"> <p>An exception raised when a term in a <a href="kernel.specialforms#with/1"><code class="inline">with/1</code></a> expression does not match any of the defined <code class="inline">-&gt;</code> clauses in its <code class="inline">else</code>.</p>
<p>The following fields of this exception are public and can be accessed freely:</p>
<ul><li>
<code class="inline">:term</code> (<a href="typespecs#built-in-types"><code class="inline">term/0</code></a>) - the term that did not match any of the clauses</li></ul>
<p>For example, this exception gets raised for a <a href="kernel.specialforms#with/1"><code class="inline">with/1</code></a> like the following, because the <code class="inline">{:ok, 2}</code> term does not match the <code class="inline">:error</code> or <code class="inline">{:error, _}</code> clauses in the <code class="inline">else</code>:</p>
<pre data-language="elixir">with {:ok, 1} &lt;- {:ok, 2} do
  :woah
else
  :error -&gt; :error
  {:error, _} -&gt; :error
end</pre> </section> </div> <footer class="footer"> <p> <span class="line"> <button class="a-main footer-button display-quick-switch" title="Search HexDocs packages"> Search HexDocs </button> <a href="elixir.epub" title="ePub version"> Download ePub version </a> </span> </p> <p class="built-using"> Built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener" translate="no">ExDoc</a> (v0.34.1) for the <a href="https://elixir-lang.org" title="Elixir" target="_blank" translate="no">Elixir programming language</a> </p> </footer><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 The Elixir Team<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://hexdocs.pm/elixir/1.17.2/WithClauseError.html" class="_attribution-link">https://hexdocs.pm/elixir/1.17.2/WithClauseError.html</a>
  </p>
</div>
