* {
    border: none;
    border-radius: 0;
    font-family: Pragmata Pro Liga, monospace;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
    padding: 0;
}

#window,
#workspaces {
    margin: 0px;
}

window#waybar {
    background-color: transparent;
    /* background: #fbf7f0; */
    color: #000000;
    transition-property: background-color;
    transition-duration: .5s;
}


/* window#waybar.hidden { */
/*     opacity: 1.0; */
/* } */

#workspaces {
	/* padding: 5px; */
    /* margin-right: 0px; */
	/* border-radius: 5px; */
    opacity: 1.0;
    /* background: #fbf7f0; */
}

#workspaces button {
    background: #fbf7f0;
    color: #595959;
    border-radius: 5px;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 8px;
}

#workspaces button.active,
#workspaces button.focused {
    color: #721045;
}

#workspaces button.urgent {
    color: #d00000;
}

#workspaces button:hover {
    color: #721045;
}

#memory,
#backlight,
#temperature,
#cpu,
#network,
#pulseaudio,
#clock,
#battery {
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 8px;
    border-radius: 5px;
    color: #595959;
}

/* .modules-right { */
/*     margin-right: 10px; */
/* } */

#clock {
    background-color: #fbf7f0;
    color: #595959;
    /* border-radius: 0px 5px 5px 0px; */
    margin-right: 4px;
}

#battery {
    background-color: #fbf7f0;
    color: #595959;
}

/* #battery.charging, #battery.plugged { */
/*     color: #fbf7f0; */
/*     background-color: #2a5045; */
/* } */

@keyframes blink {
    to {
        background-color: #fbf7f0;
        color: #595959;
    }
}

#battery.critical:not(.charging) {
    background-color: #a60000;
    color: #fbf7f0;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


#network {
    background-color: #fbf7f0;
    color: #595959;
}

#network.disconnected {
    background-color: #fbf7f0;
    color: #a60000;
}

#pulseaudio {
    background-color: #fbf7f0;
    color: #595959;
}

#pulseaudio.muted {
    background-color: #fbf7f0;
    color: #a60000;
}


#cpu {
    background-color: #fbf7f0;
    color: #595959;
}

#memory {
    background-color: #fbf7f0;
    color: #595959;
}

#disk {
    background-color: #fbf7f0;
    color: #595959;
}

#backlight {
    background-color: #fbf7f0;
    color: #595959;
}
#temperature {
    background-color: #fbf7f0;
    color: #595959;
}

#temperature.critical {
    background-color: #a60000;
    color: #fbf7f0;
}

#custom-launcher {
    background-color: #fbf7f0;
    color: #3f578f;
    font-size: 18px;
    border-radius: 20px;
    padding-left: 8px;
    padding-right: 10px;
}
